[2016-09-09 17:26] steida opened #1 "Rebass inspiration"
Nice work! Have you seen https://github.com/jxnblk/rebass? I think it's the most clean approach.

[2016-09-10 22:57] JeffersonFilho opened #4 "[Error]The development server returned response error code:500"
Hello,

Thanks for build this awesome toolkit! Unfortunately when I try `import { Button } from 'react-native-elements'` or anything I get this error:

![error-500](https://cloud.githubusercontent.com/assets/4169422/18414000/495977ba-77b2-11e6-9258-6a5c67b953f1.jpg)

Any idea why?

Thanks!

[2016-09-10 23:27] #4 closed

[2016-09-10 23:28] JeffersonFilho commented on #4
I fixed this error by going inside of the react-native-elements folder and running `npm install`

[2016-09-11 01:43] brentvatne opened #5 "Lato on iOS"
Why default to Lato on iOS? People who install this library will have to then install that font and increase the size of their app :( San Francisco is a pretty good default font.

In particular this is problematic with Exponent where we don't ship with that font and have a separate way of loading fonts into the app that would be incompatible with this.

[2016-09-11 02:31] dabit3 commented on #5
When I created this, I was really building a boilerplate, which was using Lato as the font. I then pulled the elements out and moved them into this project when I created it. I too def think it's better to default to a system font and I have been considering what to do, glad to get this feedback.

Question, I also have[ react-native-vector-icons](https://github.com/oblador/react-native-vector-icon

[2016-09-11 02:42] dabit3 commented on #5
I just noticed that exponent has it's own vector icons library. Any pointers as to what I need to change in the api to work with the exponent icon set? Do I need to check to see if the app is running exponent and then `import { } from '@exponent/vector-icons'` if so?

[2016-09-11 02:51] brentvatne commented on #5
@dabit3 - already made this work and submitted a PR :)

[2016-09-11 05:13] dabit3 commented on #5
Wow thanks, this looks great. I'll be looking more into Exponent so I can understand how it works to make future features compatible. Also may do a blog post about rapid prototyping with this library + Exponent for a talk I'm giving next week about R N for Web Developers at Northeast JS Conference, so I'm glad it now will already work with Exponent.

One final question, can you explain some of the

[2016-09-11 06:10] dabit3 commented on #5
Hey, never mind about the explanations about package.json, I see you left some feedback in the pull request!

[2016-09-11 06:10] #5 closed

[2016-09-11 06:11] #1 closed

[2016-09-11 20:36] tsvetann opened #9 "Requiring unknown module react-native-elements"
After installing the module I get an error:

The module is there but I cannot see the entry script.

[2016-09-11 20:45] dabit3 commented on #9
What version of React Native are you using? Also, I'm sure you've already tried restarting your packager?

[2016-09-11 20:57] tsvetann commented on #9
Yep restarting the packager solved it. Should've thought about it myself. Thx @dabit3

[2016-09-11 20:57] #9 closed

[2016-09-11 21:19] dabit3 commented on #9
Awesome!

[2016-09-12 09:27] elie222 opened #10 "Better defaults"
Hi,

Looks like a great idea, but the defaults aren't great at the moment. Just adding two simple buttons to my app I get:

<img width="238" alt="screen shot 2016-09-12 at 12 21 53 pm" src="https://cloud.githubusercontent.com/assets/3090527/18431089/13d55df6-78e4-11e6-88f6-af868b4c73e3.png">

The font should be SF (as has already been mentioned in another issue). If the button was styled in the sa

[2016-09-12 13:27] dabit3 commented on #10
Hey, thanks for the feedback. I agree with the default font choice, as far as it not being quite optimal, and it's good to get feedback. Check out a future version of this package in the next few days to default to SF font. Also, as far as the example styling goes in the docs, we were originally using Lato and all of the examples are showing Lato, but for the package to work nicely with exponent a

[2016-09-12 14:35] dabit3 commented on #10
Just submitted a new version, check it out and let me know if we are on the right track in your opinion.

[2016-09-12 16:15] Java-Jonas opened #12 "Problem with Icons"
Im trying to use the icons. I think i'm doing everything right, but it just won't work. All i get is a little crossed out box. Does anyone know what I'm doing wrong?
Sorry if this isn't the right place to put this btw. I'm new here.

[2016-09-12 16:22] dabit3 commented on #12
Hey. What version of react-native are you using? Also, did you get any errors when installing the library? Finally, did you restart the packager after installing it? Thanks.

[2016-09-13 15:57] quadsurf opened #15 "Would love to see a Two-Marker Slider for Setting a Range"

[2016-09-13 16:02] dabit3 commented on #15
@quadsurf This sounds like a good idea. Can you shoot over a link to an example of what you had in mind, maybe implemented somewhere else? Thanks

[2016-09-13 16:08] dabit3 commented on #12
@Java-Jonas Any luck with this?

[2016-09-13 16:08] dabit3 commented on #10
@elie222 Any feedback on this?

[2016-09-13 16:11] elie222 commented on #10
Hey. I'll have a look now. One thing I noticed with the list view example
there was some padding at the top for Jo apparent reason. Perhaps that
space was reserved for a header which I wasn't using.

On 13 Sep 2016 19:08, "Nader Dabit" <notifications@github.com> wrote:

[2016-09-13 17:21] charlieroth opened #16 "List of icons for buttons available?"
What icons are being used for the buttons. I know you can add them but what is the source of the icons? Fontawesome? Other source?

[2016-09-13 17:25] dabit3 commented on #16
Hey, you can use any [material icon name](https://design.google.com/icons/), but we probably need to make this more obvious in the docs. Maybe I'll put a not below the heading, or if you have any ideas of a good way to convey this, please lmk :) @charlieroth

[2016-09-13 17:29] charlieroth commented on #16
Yeah my only suggestion would be to just say that the default icons come from Material Icons 👍 @dabit3 . Btw the way thank you for this package. You are doing an awesome job. Can't wait to see what the future holds!

[2016-09-13 17:29] #16 closed

[2016-09-13 17:38] dabit3 commented on #16
@charlieroth Thanks for the feedback, and thanks for the kind words :) Look forward to growing this project.

[2016-09-13 19:22] Java-Jonas commented on #12
my dependencies:
  "dependencies": {
    "react": "15.3.1",
    "react-native": "0.33.0",
    "react-native-elements": "^0.4.0",
    "react-native-vector-icons": "^2.1.0"
  }

restarted everything, still not working. no errors. :(

[2016-09-13 20:52] mtzaldo commented on #12
I have the same issue, running an example on Android, instead of the icon it displays a square with an X ... here are my dependencies:

"dependencies": {
    "isomorphic-fetch": "^2.2.1",
    "react": "15.2.1",
    "react-native": "0.31.0",
    "react-native-elements": "^0.4.2",
    "react-native-vector-icons": "^2.1.0",
    "react-redux": "^4.4.5"
  }

[2016-09-13 21:13] dabit3 commented on #12
Ok, looking into this now. @Java-Jonas Are you also having this issue on Android, or are you using iOS?

[2016-09-13 21:20] dabit3 commented on #12
Any way I can see your component declarations @mtzaldo @Java-Jonas ? Thanks.

[2016-09-13 21:35] mtzaldo commented on #12
Yes, I just pushed the code:

https://github.com/mtzaldo/react-native-redux-example

[2016-09-13 21:38] dabit3 commented on #12
@mtzaldo is ListItem the component that's giving you an issue with the icon?

[2016-09-13 21:50] mtzaldo commented on #12
@dabit3  Yes, that is the one that is not displaying the right-chevron.

[2016-09-13 21:51] dabit3 commented on #12
![screen shot 2016-09-13 at 4 48 26 pm](https://cloud.githubusercontent.com/assets/1857282/18492690/4361c8b8-79d2-11e6-81ba-d082744bfcbc.png)

[2016-09-13 21:51] dabit3 commented on #12
Very interesting, I'm getting it working for some reason. Are there any errors in your console?

[2016-09-13 21:58] mtzaldo commented on #12
@dabit3 No, I think I could be my emulator. For some reason the font is not being displayed correctly. I thing the issue is not with your components.

![screenshot from 2016-09-13 16-56-32](https://cloud.githubusercontent.com/assets/6621474/18492860/2077fb28-79d3-11e6-92b6-50656d8339bd.png)

[2016-09-13 22:01] dabit3 commented on #12
Have you tried using only the react-native-vector icons in your project? It sounds like it could be an issue with that library being installed correctly, as is often the case I think.

[2016-09-13 22:04] mtzaldo commented on #12
I will review the library. It is the first time I try it, maybe I need to tweak something. Thanks @dabit3

[2016-09-13 22:04] dabit3 commented on #12
@mtzaldo Ok cool, let me know if you have any more questions!

[2016-09-13 22:09] mtzaldo commented on #12
@dabit3 Yes, I was missing some lines in **android/app/build.gradle**. The icons are now being displayed correctly. Thanks again. Great project btw!

[2016-09-13 22:11] dabit3 commented on #12
Thanks, glad you got it fixed. Quick note, I noticed that the avatar is not rendering as a circle correctly for some reason. I'm taking a look at this now and will be releasing a fix for this along with some other stuff tonight. @mtzaldo

[2016-09-13 22:38] #12 closed

[2016-09-14 07:49] 4ware opened #19 "Swipeable list components"
I would love to see a swipeable list component à la https://github.com/jemise111/react-native-swipe-list-view.

Cheers, Kai

[2016-09-14 13:25] rodolfobarretoweb opened #20 "Typeahead element"
First of all, congratulations for all developers involved in this project, very good job.

My suggestion is to create a component to search data like bootstrap's typeahead (https://github.com/bassjobsen/Bootstrap-3-Typeahead)

In my personal project in react native, I have created one to fulfill my needs

When searching
https://drive.google.com/file/d/0B2MMFJxQwbxgR1BnQldyZ2hsWW8/view?usp=sharing

[2016-09-14 13:46] dabit3 commented on #20
Oh wow, this looks great and is something I've also had to implement manually in the past. Care to share your previous implementation as a pull request, or do you think this is something you would like us to put on the roadmap? Thanks for your feedback!

[2016-09-14 13:48] dabit3 commented on #19
Kay,

Thanks for your input. This is a great idea for improving the set of features, and is going on the roadmap.

[2016-09-14 13:51] rodolfobarretoweb commented on #20
Please put in the roadmap.

[2016-09-14 13:54] dabit3 commented on #20
@rodolfobarretoweb done. Thanks again for the recommendation.

[2016-09-14 13:54] #20 closed

[2016-09-14 16:41] #19 closed

[2016-09-14 17:46] martunta opened #21 "example code missing"
Looks like for each example code bit there is only first part visible. Is rest somehow gone missing, or it is not created yet?

[2016-09-15 01:59] dabit3 commented on #21
@martunta Thanks for pointing this out, we probably need to code samples that reflect closer to the ui screenshots. We'll update this soon!

[2016-09-15 03:33] Firaenix opened #22 "Scrolling in list view"
Hi,

I'm unsure whether or not I misread the documentation or otherwise, but I am unable to scroll the list view once the list of data surpasses the size defined by the maxHeight style.

Is there anyway for me to implement scrolling functionality?

Thanks

[2016-09-15 06:18] Java-Jonas commented on #12
@mtzaldo can you explain me what exactly you did to fix this problem? i really need those icons to work! :(

[2016-09-15 14:39] dabit3 commented on #22
Hey, yes you should probably wrap the list in a ScrollView. Will look into implementing the scrollview into List, may be a good idea to do so.

[2016-09-15 15:13] note89 opened #25 "Can't use icons"
Hi i have used several elements but when i try to use Icons like this

[code]

i am met by this screen
![image](https://cloud.githubusercontent.com/assets/6696963/18555317/c1c288b4-7b67-11e6-9cd4-94419a9a358b.png)

[2016-09-15 16:24] tsvetann opened #26 "Mark Roadmap in progress"
It would be nice to mark a feature from the Roadmap in progress when someone is working on it so anybody who would like to contribute can grab another feature which is still in queue.

[2016-09-15 16:26] fossage commented on #25
Have you installed the latest version?  It looks like the Icon component was just added yesterday.

[2016-09-15 19:53] mtzaldo commented on #12
@Java-Jonas You can go the repo of the icons: https://github.com/oblador/react-native-vector-icons#android here they tell you what to do to copy the fonts in the device.

[2016-09-15 21:12] elie222 commented on #10
The docs are far better now, and buttons are working very nicely having just tried all styles of button.

One thing that isn't working is social though:
![screen shot 2016-09-16 at 12 11 46 am](https://cloud.githubusercontent.com/assets/3090527/18567725/29f321de-7ba2-11e6-95a1-fd89b68309b5.png)

[2016-09-15 21:22] dabit3 commented on #10
You may want to remove the container styling for that View, maybe remove any `alignItems` or `justifyContent` styling from the parent View and let me know if it works.

[2016-09-15 21:22] dabit3 commented on #10
@elie222

[2016-09-15 21:48] dabit3 opened #27 "Add image of list items without link to documentation"

[2016-09-15 21:48] dabit3 opened #28 "Revisit padding / margin decisions on buttons / icons"

[2016-09-15 21:50] dabit3 opened #29 "Add Grid component"

[2016-09-15 23:47] dabit3 opened #30 "Change default button color to grey"

[2016-09-16 12:31] dabit3 commented on #25
@fossage @note89 apologies, and yes, this is fixed in version 4.4 and later. Sorry about the inconvenience!

[2016-09-16 12:31] #25 closed

[2016-09-16 13:25] dabit3 commented on #26
@tsvetann Good idea, the readme has been updated.

[2016-09-16 13:25] #26 closed

[2016-09-16 13:25] dabit3 commented on #10
@elie222 There is a fix for this padding issue in the latest release.

[2016-09-16 13:25] #10 closed

[2016-09-16 13:25] #30 closed

[2016-09-16 14:12] note89 commented on #25
Tnx :) i will upgrade !

[2016-09-16 17:41] #21 closed

[2016-09-16 17:41] #27 closed

[2016-09-16 18:16] sanjibnarzary opened #32 "I am getting error PricingCard when I put color={colors.primary}"
Please suggest me I am new to React as well React native still I manage to develop and run simple android application using React Native. The original react-native themes are very odd looking so I install this React-native-elements, for all it is working fine including PricingCard but when I put color={colors.primary} as attribute in the pricing Card the run time failure occurs. This gives the sam

[2016-09-16 21:11] dabit3 commented on #32
@sanjibnarzary Thanks for pointing this out! The documentation was wrong, you can actually specify any color you would like! I've fixed the docs, thanks!

[2016-09-16 21:11] #32 closed

[2016-09-16 23:24] #28 closed

[2016-09-17 04:27] sanjibnarzary commented on #32
Thank you for the quick reply, yes it solved my problem.

[2016-09-18 15:58] martunta commented on #21
there are really not that much of a difference. Screenshots still have a lot more information, examples do not match it.

I am currently looking at ListView part of the docs - Using RN ListView. Implemented with link and avatar
from where this.state.dataSource comes from?

[2016-09-18 19:04] dabit3 commented on #21
@martunta The [ListView](https://facebook.github.io/react-native/docs/listview.html) is more of a React Native specific thing than a React Native Elements specific thing. I've tried to strike a balance between giving enough examples and not taking up too much space in the Readme. Check out the [React Native Hackathon Starter](https://github.com/dabit3/react-native-hackathon-starter) which does act

[2016-09-20 15:49] jimthedev opened #34 "Expose fontWeight on buttons"
It looks like fontFamily is exposed but fontWeight is not. Ideally all of the font styles would be assign-able.

[2016-09-20 23:32] dabit3 commented on #34
@jimthedev Thanks, this was just added and is now available in [0.5.1](https://github.com/react-native-community/react-native-elements/releases/tag/v0.5.1)

[2016-09-20 23:32] #34 closed

[2016-09-21 00:21] crivera opened #36 "dependency on react-native-tab-navigator"
Hi

I am using Exponent and following your first step but when trying to use a button I get an error saying it cant find modules from https://github.com/exponentjs/react-native-tab-navigator

is this intended? if yes it would be great to have it in the documentation

Thanks
Chris

[2016-09-21 00:23] dabit3 commented on #36
When I updated to the new version, I forgot to add the react-native-tab-navigator dependency. Either install react-native-tab-navigator or try installing the new version, 0.5.2, and this should be fixed. Sorry for the issue!!

[2016-09-21 00:23] #36 closed

[2016-09-21 00:35] crivera commented on #36
awesome thanks!

[2016-09-21 07:53] forumics opened #37 "side menu suggestion"
i've been trying to create a side menu that contains other menus
for example:
the side menu will contain these:
submenu #1
submenu #2
menuitem 1
menuitem 2

clicking on submenu #1 will bring me to:
submenu#1 item #1
submenu#1 item #2

clicking on submenu #2 will bring me to:
submenu#2item #1
submenu#2item#2

clicking on menuitem # or submenu##item## will navigate to the object selected

perhaps wi

[2016-09-21 08:49] sanketsahusoft opened #38 "How is it different from NativeBase.io?"
I am the core developer & the founder of NativeBase.io, I have been following React-Native-Elements for a while now.

I would like to discuss the possibility of merging NativeBase.io with this one. If we are solving the same problem then it doesn't make sense putting the same effort at different places.

Also, are we following any design guidelines (like Google / Apple design principles)?

[2016-09-21 18:13] crivera opened #39 "FormInput ref attribute"
Hi

i saw that FormInput is a stateless function and does not support the TextInput ref attribute.

if i am on a login screen and want to type in my username and then password i am not able to jump between text inputs since the ref attribute doesnt work.

is there a workaround for this?

Thanks
Chris

[2016-09-22 08:22] rakshans1 opened #41 "Icon in List view"
how to use different icon pack in list view

[2016-09-22 09:30] bikashsharmabks opened #42 "Need a ref to textInput component in FormInput"
Hello,

I have requirement where I need to access the refs (references) of textInput component in react-native-elements FormInput component for some requirement for handling keyboard slide

Does the FormInput supports it, can we have this feature if its not at present?

Changes needed in file FormInput.js

[code]

Thanks for sharing awesome components

[2016-09-22 13:21] crivera commented on #42
i have the same issue https://github.com/react-native-community/react-native-elements/issues/39

[2016-09-22 14:07] dabit3 commented on #38
Hey, it's not really following any specific styling guidelines because they are all configurable with styling! Not sure I want to move it away from this repo, we are trying to keep it 100% free and open source. Isn't native base charging for some of the components?

[2016-09-22 14:13] sanketsahusoft commented on #38
Hi @dabit3, thanks for the inputs! NativeBase is 100% Open source, it doesn't charge for its components.

Also, do you have any idea about how can we move NativeBase to react-native-community? What are the pros and cons of moving it to the react-native-community organization?

[2016-09-22 14:29] dabit3 commented on #42
@crivera @bikashsharmabks just pushed a new version to fix this, thanks for the issue!

[2016-09-22 14:29] #42 closed

[2016-09-22 14:29] dabit3 commented on #39
@crivera Just fixed this in the latest release. Thanks for bringing it to my attention !

[2016-09-22 14:29] #39 closed

[2016-09-22 14:30] dabit3 opened #43 "Create React Native Elements Website"

[2016-09-22 14:33] crivera commented on #39
awesome!

[2016-09-22 23:58] dabit3 commented on #41
For right now, the only option is material. I will update this to take any of the other icon packs in the next release, hopefully by tonight. Thanks for pointing this out and bringing up the issue! @rakshans1

[2016-09-23 00:00] dabit3 commented on #38
@sanketsahusoft Oh that's awesome, I really like NativeBase, you guys have a lot of great components. Re: moving to RN Community, I would reach out to either @knowbody and check with him on what that process is.

[2016-09-23 06:34] knowbody commented on #38
hey @sanketsahusoft!

Our goal is to keep FOSS, maintained and well documented modules for React Native within the organisation. If you want your project to join us, just ping me or other folks on the team (@grabbou, @satya164, @Kureev, @brentvatne) and we will make it happen.
We want react-native-community to be a "go to" place for high quality, well maintained modules for React Native.

* The **

[2016-09-23 06:45] nak1b commented on #43
@dabit3 great components. Not sure if you are looking for any help on the website. Let me know if i can contribute.

[2016-09-23 08:40] javismiles opened #44 "Access Denied Error"
When using I get an access denied error:

Error: java.io.FileNotFoundException: C:\2016\react\react-native-audio\AudioExample\android\app\build\intermediates\assets\debug\fonts\MaterialIcons.ttf (Access is denied)

[2016-09-23 11:07] MelanieCLopez opened #45 "Add files via upload"
Open

[2016-09-23 11:07] MelanieCLopez commented on #45
Open

[2016-09-23 11:07] #45 closed

[2016-09-23 13:36] crivera commented on #42
hi @dabit3

i have downloaded the latest version and tried to create a FormInput like this:

<FormInput
                  textInputRef='email'
                  autoCorrect={false}
                  keyboardType='default'
                  returnKeyType='next'
                  onChangeText={(val) => {this.setState({'email': val})}}
                  value={this.state.email}
                  plac

[2016-09-23 13:45] dabit3 commented on #42
Try this:
[code]
You should be able to access the refs like: `this.refs.forminput.refs.email` .

[2016-09-23 13:48] dabit3 commented on #42
@crivera

[2016-09-23 13:51] crivera commented on #42
My Hero <3 ! :)

[2016-09-23 13:52] dabit3 commented on #43
@nak1b Hey thanks so much! Yes, I would absolutely love some help with this! I'm thinking of a main page with an overview with some type of side bar to link to each specific component! I'm also open to ideas if you have any examples of sites with good docs you like :) Thanks!

[2016-09-23 13:53] dabit3 commented on #42
Glad it worked! @crivera

[2016-09-23 15:21] MelanieCLopez commented on #42
Thank you ;)

[2016-09-23 15:36] sanketsahusoft commented on #38
@knowbody Thanks a lot for the inputs. I really appreciate that you and the community are open to embrace open source projects with value.

I will have an internal discussion with the team and ping you once we have some updates.

Thanks again!

[2016-09-23 15:52] dabit3 commented on #44
This definitely look like an error with the installation Material Icons. Have you been able to install the material icons alone to see if you can get them up and running @javismiles  ?

[2016-09-23 17:59] nak1b commented on #43
@dabit3 i like [vuejs](https://vuejs.org/api/) api guide.  The sidebar is not very visually appealing but we can work on that. But there docs are easily readable. Also [lodash](https://lodash.com/docs/4.16.1) has great documentation.

Do you have any other sites in mind?

[2016-09-23 18:24] satya164 commented on #38
Sounds awesome!

[2016-09-24 13:34] ronak301 commented on #22
Hey , why are you not using Listview of react-native to render list. It take care of scrolling and many many things. I think you might be knowing all this. So was there any specific reason , u have not choosen Listview

[2016-09-24 14:28] dabit3 commented on #22
You're welcome to use ListView or not, it's not coded into the actual implementation. Check out the docs where we use both a map function and a ListView to render the ListView elements.

[2016-09-24 19:13] TheGermanGuy commented on #15
I think he is referring to a bidirectional related slider.
Similar to the one on Tinder or something like the one shown in the link(http://www.tutorialspark.com/jqueryUI/jQuery_UI_Slider_Bidirectional_Related_Slider.php)
I would love to have this too.

[2016-09-25 07:12] gavindinubilo opened #47 "Header element"
I'm trying to make a view that has a header at the top, similar to what [react-native-navbar](https://github.com/react-native-community/react-native-navbar) is doing, I understand that it may not be great to copy what they are doing, but it would be great to have a unified style out of the box.

[2016-09-25 14:27] dabit3 commented on #44
@javismiles check out [this thread](https://github.com/react-native-community/react-native-elements/issues/12)

[2016-09-25 14:27] #44 closed

[2016-09-25 14:28] dabit3 commented on #43
@nak1b Totally feeling the Vue.js website for sure! What do you think would be the best first steps here? I already have the domain, reactnativeelements.com ..

[2016-09-25 15:06] dabit3 commented on #41
@rakshans1 thanks for the issue, just added this. Thanks!

[2016-09-25 15:06] #41 closed

[2016-09-25 15:06] #38 closed

[2016-09-25 18:41] dabit3 commented on #37
@forumics Are those links correct? They are bringing me back to the github issues.

[2016-09-25 23:36] nak1b commented on #43
@dabit3 i guess if you could create repo for the project and base structure we can start working on it from there.

[2016-09-26 14:51] forumics commented on #37
`import React, { Component } from 'react';
import {
  Dimensions,
  StyleSheet,
  ScrollView,
  Image,
  Navigator,
  TouchableWithoutFeedback,
  Animated,
    Easing,
    View,
    Text
} from 'react-native';

const window = Dimensions.get('window');
export default class Menu extends Component {
  constructor(props)
  {
    super(props);
      this.animatedValue = new Animated.Value(0);
    this.

[2016-09-26 14:53] forumics commented on #37
import React, { Component } from 'react';
import {
  Dimensions,
  StyleSheet,
  ScrollView,
  Image,
  Navigator,
  TouchableWithoutFeedback,
  Animated,
    Easing,
    View,
    Text
} from 'react-native';

const window = Dimensions.get('window');
export default class Menu extends Component {
  constructor(props)
  {
    super(props);
      this.animatedValue = new Animated.Value(0);
    this.s

[2016-09-26 16:41] dabit3 commented on #43
Cool. Just set up a repo for the site at https://github.com/dabit3/react-native-elements-website and will get to working on a base for us to begin adding to! @nak1b Thanks again for helping out with this, hopefully once we get going some others will join as well :)

[2016-09-26 19:35] dabit3 opened #48 "Add TouchablebNativeFeedback to buttons for Android"

[2016-09-27 04:27] nak1b commented on #43
cool let me know when the base is ready.

[2016-09-27 10:03] YangLu94 opened #49 "errors when using size property in icon"
when i use the property of size in icon,the react-native will have a mistake.
i have tried two ways to solve this problem,but there still exists.
 1.<Icon
                raised
                name='heartbeat'
                type='octicon'
                color='#f50'
                size={30}
                onPress={() => alert('hello')}
                />
2.
<Icon
                raised

[2016-09-27 12:50] elie222 opened #50 "Search bar on android"
This is what the search bar looks like on android at the moment:
![screen shot 2016-09-27 at 3 49 12 pm](https://cloud.githubusercontent.com/assets/3090527/18873856/07cb7b02-84ca-11e6-8a89-ba055e67fc35.png)

[2016-09-27 21:40] rajinwonderland opened #51 "Image Prop on Card Component"
Hey there,

Having a bit of trouble passing images to the image props on the card component.

Has this been implemented yet or am I passing the image props incorrectly?:

[code]

Any help on this would be greatly appreciated!

[2016-09-28 02:58] dabit3 commented on #49
I'm unable to find the `heartbeat` icon in octicons, but when I use the `heart` with all of the other props the same, it seems to work. Check out the octicon icons [here](https://octicons.github.com/) and let me know if this solves the issue.

[2016-09-28 03:05] dabit3 commented on #51
Hey, I just tested this and is seems to be working on my end. Is there any type of error message you're getting? @rajinwonderland

[2016-09-28 04:33] sahilthakral23 commented on #43
@dabit3 I would also like to be a part of this. Let me know if I can contribute.

[2016-09-28 05:39] YangLu94 commented on #49
Sorry to make a such stupid mistake,i changed the icon and the problem was solved,  Thx a lot,

[2016-09-28 13:47] dabit3 commented on #49
@YangLu94 No worries, glad it helped :)

[2016-09-28 13:47] #49 closed

[2016-09-28 14:25] dabit3 commented on #43
@nak1b @sahilthakral23 Thanks so much. I'm in the process of building out the basic home page and an example of what I think would look pretty good as a way to represent the api. Once I'm finished with the basic layout I would love some feedback about how to improve the look and design and once we come to an agreement we can go forward with adding the elements to the menu!

[2016-09-28 17:24] futhrevo opened #52 "ListItem rightIcon failed prop type - Warning"
propTypes for rightIcon in ListItem.js defaults to type string whereas it requires an object.

TestCase: provide an object with name and type to rightIcon
Observed behavior: An yellow warning for invalid prop type and a "?" displayed in UI
Required Behavior: UI shows the icon from icon type

[2016-09-28 21:21] #52 closed

[2016-09-28 21:32] andrerfneves commented on #22
I think we should follow the same patterns react native core uses for simplicity and consistency. I don't think using a RN ListView automatically earns you a scrollable list. So I believe @dabit3's implementation right now is correct and the developer should be aware of difference between View and ScrollView.

[2016-09-29 01:04] rajinwonderland commented on #51
I'm just receiving an unable to resolve error message

[2016-09-29 18:31] andrerfneves opened #55 "More Elements?"
Hey @dabit3, I was looking through the list of Components that RN Elements has and I was wondering if there were any other ones that you'd think are worth building (or some that might be worth expanding on)? I'm taking a look at RN Swipable ListItem and am planning on doing an implementation for RN Elements, but maybe there are more pressing needs/issues that need to be attended to. Also saw the c

[2016-09-29 20:22] andrerfneves commented on #51
@rajinwonderland are you on Android or iOS?

[2016-09-30 00:17] rajinwonderland commented on #51
ios!

[2016-10-01 13:57] Jeanmsilva89 opened #56 "Create Activity Indicator for elements"
I was wondering if other people would be interested in Loading Indicator prop for elements such as a Button and FormInput. I'm thinking of just adding a prop called "loading" and it would wrap the ActivityIndicator in the button container for example.

Before creating a PR, I wanted to know if there would be interest from the community on such feature.

Thanks.

[2016-10-01 15:45] dabit3 commented on #55
@andrerfneves definitely appreciate any feedback about what would be a good addition. Feel free to open issues about any components you would like to see  :) comment on the website thread to join us in building it out! I'll be sure to notify you as we get going. The main thing there is for me to upload the initial layout so we have something to go by. I should have something there by next week at

[2016-10-01 16:45] dabit3 commented on #56
I think this would be a great addition for sure! @Jeanmsilva89

[2016-10-01 17:21] #48 closed

[2016-10-01 17:22] dabit3 commented on #50
thanks @elie222 this should now be fixed!

[2016-10-02 00:41] elie222 commented on #50
Search bar now crashes the app:
<img width="386" alt="screen shot 2016-10-02 at 3 41 11 am" src="https://cloud.githubusercontent.com/assets/3090527/19017810/241e67e8-8852-11e6-898c-0d27e16bf572.png">

[2016-10-02 00:42] elie222 opened #57 "Search bar no longer working"
This code:

[code]

Is causing this crash:
<img width="386" alt="screen shot 2016-10-02 at 3 41 11 am" src="https://cloud.githubusercontent.com/assets/3090527/19017812/339234c0-8852-11e6-9dc0-2020d6926171.png">

[2016-10-02 00:52] elie222 commented on #57
The issue is that SearchBar isn't being exported from this package although I don't know why. The code seems fine

[2016-10-05 06:32] Firaenix commented on #56
I'd love something like this for my project!

[2016-10-06 00:31] becton opened #61 "Question about NavigationBar (HSNavBar)"
Newbie question.  I'd like to add a back button to the Navigation Bar.  Was assuming I could make use of the LeftButton constant in NavBar.js as follows:
[code]

But, to no avail.  A little help would be greatly appreciated!

Thanks!
P.S. Hoping this is the right spot to post questions...

[2016-10-06 01:35] elie222 commented on #10
Looks like it's still an issue:
<img width="129" alt="screen shot 2016-10-06 at 4 33 53 am" src="https://cloud.githubusercontent.com/assets/3090527/19137668/41ccc9cc-8b7e-11e6-9c81-3dcdce04c087.png">

[2016-10-06 02:02] dabit3 commented on #10
You need to probably check into the styling you have on the parry
component. Remove any justify-content or align-items styling .

On Wednesday, October 5, 2016, Eliezer <notifications@github.com> wrote:

--
Nader Dabit
@dabit3 <https://twitter.com/dabit3>
601-812-8166

[2016-10-06 12:17] Jeanmsilva89 commented on #56
#62

[2016-10-06 22:44] #61 closed

[2016-10-07 00:53] Jeanmsilva89 commented on #56
I'd love to add this feature to other components, and I'll have to do it for my own projects so I'll submit another PR soon for that.
@dabit3 Another topic but figured I'd ask you here instead of opening another issue.
Is there a reason for why you decided to create the SocialIcon component from scratch as opposed to building it on top of your button component? In a lot of ways the social media ic

[2016-10-08 06:23] ButuzGOL opened #64 "Question: Is this elements based on some design (psd) uikit ?"

[2016-10-11 21:47] mobinni opened #65 "ListView Component large dataset with external images bug"
Hey there,

I noticed while implementing a list view with your library that you statically render the entire list inside of a view, instead of the React Native ListView component?

Is there a reason for this? You could just as easily wrap around the ListView component, which has multiple performance improvements, including initial list size. This would help when loading large lists with external i

[2016-10-12 13:55] smaris opened #66 "Make ButtonGroup border configurable"
Please make this style configurable with a second style: https://github.com/react-native-community/react-native-elements/blob/master/src/buttons/ButtonGroup.js#L26

[2016-10-13 05:54] xiaoneng opened #67 "Font size normalization across pixel ratios"
Font sizes on iphone6 and iphone4 are particularly small.  It would be good to use a "resizing" function to help with this across pixel ratios.

If you would like me to submit a PR please let me know.

const React = require('react-native')
const {
  PixelRatio
} = React;
const pixelRatio = PixelRatio.get();

const normalize = (size) => {
    if (pixelRatio == 2) {
        return size * 1.15;
    }

[2016-10-13 13:12] dabit3 commented on #67
Hello @xiaoneng , this would be a great addition for the project. Feel free to go ahead and submit a pr if you have the time, if not I will put this on my todo list! Thanks.

[2016-10-13 13:15] dabit3 commented on #65
Hey @mobinni, check out https://github.com/react-native-community/react-native-elements#using-rn-listview-implemented-with-link-and-avatar, you're welcome to implement with either a map function or a ListView, it's really up to you! Let me know if I may have missed something or misunderstood your question. thanks!

[2016-10-14 18:55] dabit3 commented on #64
@ButuzGOL not really, just some basic designs that are configurable.

[2016-10-14 18:55] #64 closed

[2016-10-20 05:14] wfsovereign opened #69 "Can I change the search bar icon position?"
I have a requirement, I want to change the search bar icon position, because the icon is absolute and no via to change it.

The existing includes:
* containerStyle
* inputStyle
* icon
* noIcon
* lightTheme
* round
* containerRef
* textInput

[2016-10-20 05:45] wfsovereign commented on #69
I find a method by code source, by icon.style can change the icon

[2016-10-20 05:45] #69 closed

[2016-10-20 14:22] Cretezy opened #70 "FormInput with alignItems: 'center'"
When using a FormInput and flexbox with alignItems: 'center', the input does not render at all, even with width/height set. How would you go to about centering inputs?

[2016-10-23 11:39] danikenan opened #71 "Tab 'selected=true' causes React.Children.only error"
The simplest scenario for tabs:

[code]

Causes an error

If one **removes** the `selected={true}` or **changes** to `selected={false}` it works.

[2016-10-23 15:48] dininski opened #72 "Wrapping `Card` in `TouchableWithoutFeedback` does not call the `onPress` callback"
Steps to reproduce:

[code]

[2016-10-23 15:58] dininski commented on #72
Turns out it needs to be wrapped in a `View`

[2016-10-23 15:58] #72 closed

[2016-10-25 15:14] gillesBzk opened #74 "borderRadius of Buttons is not working"
It seems thats borderRadius of Buttons is not working

[2016-10-28 10:12] abhitheawesomecoder opened #76 "Side menu not working"
The side menu is not working, I am using the code below and its coming up like the attached screen-shot. I have also attached the code  ( BTW whats the <APP /> element you have mentioned in the example code? )
[index.android.js.zip](https://github.com/react-native-community/react-native-elements/files/558126/index.android.js.zip)

[code]

[2016-10-28 11:11] hejiaji opened #77 "How can I trigger the blur() on SearchBar?"
How can I trigger the blur() on SearchBar? for TextInput we can invoke the blur function of the instance, but i can't find it in SearchBar, any help?

@KevM @designorant @brentvatne @mattapperson @oblador

[2016-10-28 13:23] jjdp opened #78 "Invalid prop 'component' on Icon"
[code]

it gives this warning Failed prop type: Invalid prop 'component' of type 'function' supplied to 'Icon', expected a single ReactElement

[2016-10-29 14:32] NikolaBorislavovHristov commented on #78
try to use 'Component' instead of 'component'

[2016-10-29 21:52] michelre commented on #57
I encountered the issue too and resolved it by using another name instead of SearchBar. If I use something like`import { SearchBar as _SearchBar } from 'react-native-elements'`, it's working pretty well!

[2016-10-31 18:14] dabit3 commented on #78
There was a pr that was merged to fix this issue. We will be releasing v0.7.0 with this fix soon. thanks!

[2016-10-31 20:33] xcarpentier opened #80 "Theming"
Is it possible to change global style : Colors, border, shadow, ... in configuration/initialisation phase ?

[2016-11-02 10:35] #66 closed

[2016-11-02 21:07] patbaker82 commented on #51
@rajinwonderland Do images load otherwise outside the component?

[2016-11-02 21:08] patbaker82 commented on #80
@xcarpentier From what I can see the components to do follow a theming implementation.  I had the same question and poked around the code.  It looks like the colors have named exports and are directly imported to each component.

[2016-11-02 21:10] rajinwonderland commented on #51
Yes, all images load outside of the component. I'm using the components on an ignite react-native stack. I'm not sure if there might be conflicting configurations?

[2016-11-03 08:14] indivisable opened #81 ".focus is not a function"
Need to add a focus function to allow .focus to be called on the component:

Got this to work but kinda of hackish

On main component (where you render the FormInput)

[code]

Then added this to the FormInput component in package.

[code]

Related:

- http://stackoverflow.com/questions/40052630/react-native-this2-refs-myinput-focus-is-not-a-function
- http://stackoverflow.com/questions/32748718/re

[2016-11-07 16:26] #81 closed

[2016-11-07 16:31] dabit3 commented on #80
Don't think this is possible right now, feel free to submit a pr if you think you have an idea how to implement, but for now I'm going to close this.

[2016-11-07 16:31] #80 closed

[2016-11-07 16:31] #77 closed

[2016-11-07 16:32] dabit3 commented on #76
Are you getting any errors here?

[2016-11-07 16:32] dabit3 commented on #74
Are you getting any errors?

[2016-11-07 16:33] abhitheawesomecoder commented on #76
No errors
On 07-Nov-2016 10:02 pm, "Nader Dabit" <notifications@github.com> wrote:

[2016-11-07 16:34] dabit3 commented on #74
Have you implemented it as a number vs as a string? `borderRadius={20}` I'm unable to duplicate so I'm going to close this.

[2016-11-07 16:34] #74 closed

[2016-11-07 16:35] dabit3 commented on #71
Any way you can show more code, I'm unable to duplicate this. thanks.

[2016-11-07 16:35] #71 closed

[2016-11-07 16:36] dabit3 commented on #70
Don't think this is possible. If you figure it out, feel free to submit a pr, thanks for the input.

[2016-11-07 16:41] dabit3 commented on #57
Just pushed a new release and this is fixed, thanks for the feedback and pointing this out! Best.

[2016-11-07 16:41] #57 closed

[2016-11-08 00:31] brentvatne opened #82 "Update react-native-vector-icons peer dependency to ~3.0.0"
As title says!

[2016-11-09 05:15] r3verser commented on #82
Got error while installing:

| `-- react-native-tab-navigator@0.3.3
|   `-- immutable@3.8.1
`-- UNMET PEER DEPENDENCY react-native-vector-icons@3.0.0
npm WARN react-native-elements@0.6.3 requires a peer of react-native-vector-icons@^2.1.0 but none was installed.

[2016-11-09 08:56] GtAntoine commented on #82
Same problem as r3verser. I have this error on windows when I try to work with https://github.com/react-native-community/react-native-elements. Also when I simply try to use vector icon on another project.

[2016-11-09 11:18] afdalwahyu commented on #76
:+1: I have same problem with Android 6.1

[2016-11-10 05:51] joevo2 opened #84 "textInputRef doesn't work"
I couldn't do next keyboard input, the ref doesn't seems to be working

[2016-11-10 05:52] joevo2 commented on #84
`<View style={{ flex: 1, height: 100, }}>
					<TextInput
						ref='1'
						style={{ height: 40, borderColor: 'gray', borderWidth: 1 }}
						placeholder='Normal'
						returnKeyType='next'
						blurOnSubmit={false}
						onSubmitEditing={()=>{this._focusNextField('2')}}
						/>
					<TextInput
						ref='2'
						style={{ height: 40, borderColor: 'gray', borderWidth: 1 }}
						keyboardType='

[2016-11-10 05:52] joevo2 commented on #84
[code]

[2016-11-10 17:55] swaffoja opened #85 "Update logo?"
There is a line that runs through your logo that seems odd. I attached a few alternatives in case you want a more natural gradient with your colors.

<img width="200" alt="current" src="https://cloud.githubusercontent.com/assets/887384/20187771/3e626cb4-a73b-11e6-96e9-451571368b85.png">

![react-gradient-v1](https://cloud.githubusercontent.com/assets/887384/20187568/6691d6ee-a73a-11e6-878a-6a47e8c

[2016-11-10 23:20] note89 opened #86 "[Feature Reqeust] HitSlop"
Would be nice to be able to add `hitSlop` to buttons to make them easier to press.

[2016-11-11 13:32] RailtonMatthew commented on #82
I get the same error also.  Worked fine on another project I created a few weeks ago.

+-- react-native-elements@0.6.3
`-- UNMET PEER DEPENDENCY react-native-vector-icons@3.0.0

npm WARN react-native-elements@0.6.3 requires a peer of react-native-vector-icons@^2.1.0 but none was installed.

[2016-11-11 14:37] charlespeters opened #88 "ListItem styles.titleContainer"
there's a property i'd like know how to override in `<ListItem />` there's a style called `styles.titleContainer`

how would I override that? I'd like to essentially float the subtitle to the right.

[2016-11-13 17:00] #86 closed

[2016-11-14 05:50] 1169458576 commented on #82
me too

[2016-11-15 10:57] laxxers opened #90 "ListItem right title"
Having to set title/word/avatar on the right of the `ListItem` would be great instead of restricting to icons.

[2016-11-15 14:50] lsps9150414 opened #91 "Why is `react-native-vector-icons` listed in peerDependencies?"
Why not list `react-native-vector-icons` as `dependencies`?

[2016-11-15 16:57] note89 opened #92 "hitSlop button is missing"
https://facebook.github.io/react-native/docs/touchablewithoutfeedback.html#props
hitSlop is missing from `button`
https://github.com/react-native-community/react-native-elements/blob/master/src/buttons/Button.js#L31

[2016-11-16 09:57] ataomega commented on #82
any solutions?

[2016-11-17 07:51] lefnire opened #94 "Floating labels on FormInput"
Consider adding a `floatingLabel={BOOL}` prop on `<FormInput>`. Examples at [js.coach](https://js.coach/all/react-native-floating-label-text-input?search=floating%20labels); could possibly make one of those projects a RNE dep, in case the dev is involved

[2016-11-23 13:25] Andersos opened #95 "Margin top on list element"
`Default: none` for the [List Props](https://github.com/react-native-community/react-native-elements#list-props) seems to be incorrect. Looks like there is some default marginTop of [20](https://github.com/react-native-community/react-native-elements/blob/master/src/list/List.js#L16). Is this something that should be listed?

[2016-11-23 16:24] dabit3 commented on #95
Thanks @Andersos !

[2016-11-23 16:24] #95 closed

[2016-11-23 16:27] Andersos commented on #95
Next time I will send a pull request. Was unsure if it was on purpose or not.

[2016-11-23 16:28] dabit3 commented on #91
It should be listed as a peer dependency because it must be installed before being able to use the library. Have you had any issues getting it up and running?

[2016-11-23 16:31] dabit3 commented on #95
Cool, no problem 💯

[2016-11-23 17:03] dabit3 commented on #91
Oh, just realized you said `peerDependencies` vs `dependencies`. Mainly because we did at first have it as a dependency and had a lot of people submitting issues because they could not get the vector icons installed, and had nothing to do with RN Elements, so we figured we'd let people get the icons installed themselves, which has led to less issues on our end.

[2016-11-23 17:03] #91 closed

[2016-11-23 17:04] dabit3 commented on #85
@swaffoja This logo looks amazing!!! Thanks so much, I'm going to update everything with this if it's ok with you.

[2016-11-23 17:09] swaffoja commented on #85
@dabit3 Sure, have at it.

[2016-11-23 18:18] dabit3 commented on #85
Thanks!

[2016-11-23 18:18] #85 closed

[2016-11-23 18:56] dabit3 commented on #88
Thanks @charlespeters, good idea. Just added this!

[2016-11-23 18:56] #88 closed

[2016-11-23 19:07] dabit3 commented on #84
Try something like this:

[code]

I know the docs are not 100% clear on this, let me know if this helps, and I'll attempt to clarify this in the docs as well.

[2016-11-23 19:13] #84 closed

[2016-11-23 19:26] dabit3 commented on #82
@ataomega @1169458576 @RailtonMatthew @GtAntoine @r3verser @brentvatne Just updated this, let me know if you have any issues. Sorry for the delay!

[2016-11-23 19:26] #82 closed

[2016-11-23 19:30] #65 closed

[2016-11-24 00:58] qiluo opened #96 "Height for ImageStyle in Card not work"
Hi, I've create below stub
[code]

The width worked well, but didn't height, what's wrong with me? thanks

[2016-11-24 01:53] zhangruinian opened #97 "A segment is necessary"
maybe it is simple to use icon button to do segment?

[2016-11-24 11:11] carlobambo opened #98 "Feature Request: Add icon prop on FromInput"

[2016-11-24 11:53] laxxers commented on #90
Looks great! Thanks @dabit3

[2016-11-25 06:26] #98 closed

[2016-11-25 11:13] mauron85 opened #99 "Suggestion: allow longPress as Icon action"
Hi there, nice work guys

it would be nice if we can have longPress as icon action using [TouchableWithoutFeedback](https://facebook.github.io/react-native/docs/touchablewithoutfeedback.html#onlongpress)

[2016-11-28 12:11] itagakixt opened #100 "My application call Navigator in render section, is it a problem?"
hello,

Using react-native-hackathon-starter, I incorporated one application into this environment.
My application is calling Navigator in render section.
I wonder this kind of using Navigator will make a problem or not.
I did not study deeply both environment.

Currently my application seems to works without error.

I 'm afraid futures problem.

Any suggestion or any pointer will be appreciated.

[2016-11-30 16:41] joncursi opened #101 "[Button] Adjust gap between icon and text?"
Would be great if we could adjust the gap between the icon and text. I'm unsure how this is set; applying 0 to margin and padding does not seem to adjust this distance.

![screen shot 2016-11-30 at 11 40 51 am](https://cloud.githubusercontent.com/assets/4974609/20761740/f6f5ad8e-b6f1-11e6-95c7-e7fe8d0ac9b6.png)

[2016-11-30 19:43] joncursi opened #102 "[ListItem] Support Custom Elements"
Sometimes you need a ListItem with a custom primary and/or secondary elements, rather than going with a simple string. For example, rendering 5 star icons for a reviews-centric ListItem.

![screen shot 2016-11-30 at 2 42 25 pm](https://cloud.githubusercontent.com/assets/4974609/20768268/45883ba6-b70b-11e6-89ff-88897982b5b9.png)

Allowing the passing of React Elements into ListItem will give the co

[2016-12-01 03:52] xiaoneng commented on #102
#103

[2016-12-01 13:37] CecilLee opened #104 "ListItem subtitle or rightTitle is empty string"
The subtitle or rightTitle is an empty string, will report an error

RawText "" must be wrapped in an explicit <Text> component.

[2016-12-01 17:48] joncursi opened #105 "[ButtonGroup] Should Support Icons"
A common paradigm I've seen is to use icons instead of text within a ButtonGroup. Rather than assuming the input to be a string (being opinionated and wrapping the button within `<Text></Text>`), perhaps we should type check the button first. If string, wrap within text. If object (React element, perhaps an Icon), do not wrap within `<Text>`.

Right now, attempting to feed in an icon results in an

[2016-12-01 17:49] joncursi commented on #105
Example: Venmo

![img_3155](https://cloud.githubusercontent.com/assets/4974609/20805404/87d04594-b7c4-11e6-8810-a6c5a7642bd7.PNG)

[2016-12-02 01:59] zzzkk2009 opened #106 "0.7.0 version button fontSize invalid string, expected number"
<Button
            buttonStyle={styles.loginBtn}
            onPress={this.onButtonPress}
            fontSize='18'
            title="登录"
          />

when  i use button component and set fontSize like that ,i got the warning:
![image](https://cloud.githubusercontent.com/assets/3713481/20820380/d9f1622a-b875-11e6-8841-3c456467354f.png)

Warning: Failed prop type: Invalid prop 'fontSize' of type

[2016-12-05 20:08] StTraft opened #107 "`TabBarIOS.Item` hit React.Children.only expected to receive a single React element child"
Hit this issue on `TabBarIOS.Item`.
if I return something like this in `render`:
[code]
It will be fine, but if I removed the `<View style={shouldBeNull}/>`:
[code]
It dies.
Just wonder if it could accept 0 child, or must have exactly one child for it to work.
;)

[2016-12-05 20:11] StTraft commented on #107
PS: sounds related to issue#71 wrote by @danikenan ;)

[2016-12-05 21:53] dabit3 commented on #107
Hmmm. I think this has more to do with React Native than this particular project, but if not please reopen and let me know! Thanks :)

[2016-12-05 21:53] #107 closed

[2016-12-05 21:56] dabit3 commented on #106
Thanks for pointing this out!

[2016-12-05 21:56] #106 closed

[2016-12-05 22:55] dabit3 commented on #105
Thanks @joncursi , this has just been added! To implement, provide an array of objects with an element key:
`[{element: someComponent}, {element: someComponent2}]`

[2016-12-05 22:55] #105 closed

[2016-12-06 02:50] juddey opened #108 "[ListItem] Varying Right Icon Size"
Hey Nader -

Would you accept a PR that allows configuration of the size of the right icon on ListItem?

Something like:
[code]
the default would still stay at 28 if you didn't specify a size.

Using this in a project right now. :)

[2016-12-06 14:51] joncursi commented on #105
@dabit3 very impressed with your quick turnaround, thank you for adding this!

[2016-12-06 15:35] StTraft commented on #107
Just dig a bit deeper, and @dabit3 you are correct. That is a problem coming from children check in `StaticContainer` in react-native, not including `undefined` as a false condition @_@
I think we can pass a `{null}`, or even a `{false}` as a workaround, the draw back is making the codes looks weird XD

[2016-12-07 07:51] juddey commented on #108
I've wound up ditching this in favour of something else, so I'm giving it the :boot:.

[2016-12-07 07:51] #108 closed

[2016-12-07 17:49] SunskyXH opened #109 "Can't get other props from Tab's children component"
App.js
[code]
and I modified HSNavBar from Hackathon Starter
[code]
but I can only get `toggleSideMenu` in this component without `backgroundColor`
I also tried
[code]
but it dosen't work either.
And I've read the code of Tab component, but found nothing ...or just I made a stupid mistake?

[2016-12-09 21:49] remon-georgy opened #110 "Compatibility with react-native-web"
**TL;DR**
react-native-elements looks very promising on react-native-web. Check it out [in this repo](https://github.com/remon-georgy/react-native-components-on-web)!

=====================================================
First, thank you all for your amazing work on this library!

I'm using react-native-web in order to accomplish a true cross-platform experience with React.js. I'm currently looki

[2016-12-10 01:25] binoy14 commented on #96
Works for me, I am using it inside scrollview. Not sure if that has to do anything with that.

[2016-12-11 01:48] lednhatkhanh commented on #50
I'm using the latest version and the searchbar's still look the same as @elie222 mentioned... This should be reopen.

[2016-12-12 17:20] dabit3 commented on #50
I'll check this out today, hope to have a fix and a new version out asap.

[2016-12-14 18:58] ngduc commented on #110
@remon-georgy I have the same issue with "warnings". It'd be great if react-native-elements can detect Platform & use Platform-specific style properties (like on web, there is no "tintColor")

My repo is here: https://github.com/rhinos-app/rhinos-app-dev

[2016-12-14 19:02] ngduc opened #112 "Error with Jest when importing from react-native-elements"
Hi,
I got this error when using Jest to test a simple component which imports from react-native-elements. If I remove the import, the test will pass.

[code]

My test:
[code]

Jest configs in package.json
[code]
![image](https://cloud.githubusercontent.com/assets/639189/21197788/96232d5a-c1f1-11e6-8158-d8a28751f970.png)

Please check. Thanks.

[2016-12-14 22:25] remon-georgy commented on #112
My gut feeling is it's related to react@15.3. Upgrading to 15.4 might fix it.

[2016-12-14 22:28] ngduc commented on #112
@remon-georgy I upgraded react to 15.4.1, still got the same error.

[2016-12-15 19:45] jeanmatthieud opened #113 "Custom element"
If we want to create a custom element, it could be great to have a way to access config/* and helpers/* modules.

[2016-12-15 23:40] benjaminb10 commented on #43
Any news about the website?

[2016-12-16 02:25] benjaminb10 opened #114 "Feature request: add badges and labels and allow to use it in ListItem"
The goal is to provide badges and labels like that:
![screenshot_2016-12-16 03 23 44_qram5e](https://cloud.githubusercontent.com/assets/2952678/21249547/14061978-c33f-11e6-858e-d0c72d2ef9a4.png)

And to use it in ListItem for a result like that:

![screenshot_2016-12-16 03 24 17_q4fin0](https://cloud.githubusercontent.com/assets/2952678/21249583/54cb66c0-c33f-11e6-9378-a3f17786db4b.png)

[2016-12-17 22:33] IronTony opened #115 "Add slide to open menu"

[2016-12-18 02:58] booboothefool commented on #78
I am still getting this issue with 0.7.1.

[2016-12-18 16:52] ngduc opened #116 "Add SimpleLineIcon from react-native-vector-icons"
https://github.com/oblador/react-native-vector-icons

Did I miss any other icon set? Please add. Thanks.

[2016-12-19 00:33] gillesBzk opened #117 "How to set selectedTextStyle for ButtonGroup ?"
selectedBackgroundColor works well but when I try to set selectedTextStyle for ButtonGroup, it doesn't work

selectedBackgroundColor={'#B23704'} //ok
selectedTextStyle={'white'} // or selectedTextStyle={{'white'}} doesn't work

Thank's for your help

[2016-12-19 22:25] robbykim commented on #112
@ngduc getting the same error too

[2016-12-21 03:52] ALawliet commented on #38
My project is currently a blend of NativeBase (most things), Elements (love the icons/buttons), and https://github.com/xinthink/react-native-material-kit (range sliders!!), so it'd be amazing if you guys did a merge! 👍

[2016-12-21 14:06] dabit3 commented on #117
I'll take a look at this today, thanks!

[2016-12-21 14:10] dabit3 commented on #117
Ok, it looks like this should be more like `selectedTextStyle={{ color: 'white' }}`

[2016-12-21 14:10] #117 closed

[2016-12-21 22:34] jrmcdona opened #118 "Button not looking right"
Hi, I installed this in an exponent app today all latest versions.  Button doesnt look good and adding large={true} changes nothing.

                        <SocialIcon
  title='Sign In With Facebook'
  large={true}
  button
  type='facebook' onPress={() => Alert.alert("clicked")}
/>

<img width="240" alt="screen shot 2016-12-21 at 4 32 12 pm" src="https://cloud.githubusercontent.com/assets/43277

[2016-12-21 22:40] jrmcdona commented on #118
Fixed it.

[2016-12-21 22:40] #118 closed

[2016-12-22 00:12] jingxin2015 opened #119 "I would like to ask this effect can be achieved?"
![qq 20161222080658](https://cloud.githubusercontent.com/assets/16143766/21410767/33897540-c81e-11e6-94c1-767c649be68f.jpg)

Tab bar effect in the above figure, thanks.

[2016-12-22 16:30] dabit3 commented on #119
Hmm, that looks really nice, but I really don't think it's something I will be able to focus on at this moment, with all of the outstanding issues and roadmap. If you have an idea how to implement and would like to submit a pr, please do so, but for now I will close and possibly revisit in the future!

[2016-12-22 16:30] #119 closed

[2016-12-22 16:48] dabit3 commented on #116
Just added this to the latest release, thanks @ngduc !

[2016-12-22 16:48] #116 closed

[2016-12-22 16:55] dabit3 commented on #115
@IronTony , can you give a little more info here? Thanks!

[2016-12-22 17:57] dabit3 commented on #114
@benjaminb10 This has been added and will be released along with the next release, probably version 0.8.0. Thanks for the idea!

[2016-12-22 17:57] #114 closed

[2016-12-22 18:03] dabit3 commented on #113
@jeanmatthieud I think this is what you were referring to, let me know if it's not and I'll reopen. Thanks!

[2016-12-22 18:03] #113 closed

[2016-12-22 18:07] dabit3 commented on #112
Hmm, I'm not sure what is causing this. @ngduc @robbykim any ideas for a fix? If so I can get it in asap, if not, I'm not sure but still looking into it.

[2016-12-22 18:08] dabit3 commented on #110
Hey, this is a great idea! @remon-georgy @ngduc I'll be looking into adding this to the immediate roadmap, but if someone has the time to jump on and submit a PR I can get it added asap.
Thanks so much!

[2016-12-22 18:09] dabit3 commented on #109
@SunskyXH is it giving you any error?

[2016-12-22 18:10] benjaminb10 opened #120 "I don't find in this package a designed element for Navbar (NavigationBar)?"
Hi,
I don't find in this package a designed element for Navbar (NavigationBar)?
Do you plan to add one?
Such like the Header component of NativeBase: http://nativebase.io/docs/v0.5.13/components#header

[2016-12-22 18:12] dabit3 commented on #104
Thanks @CecilLee , this should be fixed on the next release later today.

[2016-12-22 18:12] #104 closed

[2016-12-22 18:13] dabit3 commented on #100
Hey @itagakixt thanks for reporting this.  I see you reported this as well in the RN Hackathon Starter repo so I will take a look there and close this issue. Thanks.

[2016-12-22 18:13] #100 closed

[2016-12-22 18:28] #99 closed

[2016-12-22 20:56] #22 closed

[2016-12-22 20:58] dabit3 commented on #50
@monte9 This may be a good issue to jump on if you have the time, thanks.

[2016-12-22 21:17] dabit3 commented on #96
@qiluo , I'm unable to reproduce. Can you specify what version or RN you are using and what platform this is on (iOS or Android)? thanks!

[2016-12-22 21:51] dabit3 commented on #101
Hello @joncursi , you should be able to do something like `textStyle={{ marginLeft: 20 }}` . I tried it and it seems to be working, but let me know if you can't get it to work and I'll reopen!

[2016-12-22 21:51] #101 closed

[2016-12-23 00:52] Monte9 commented on #50
@lednhatkhanh unfortunately, I am unable to reproduce this. I am using SearchBar like such and it looks fine to me:
[code]
![screen shot 2016-12-22 at 4 49 16 pm](https://cloud.githubusercontent.com/assets/7840686/21444825/c25e7e6c-c866-11e6-9315-9232b5fbb56b.png)
Can you share the code you are using that's causing this? Afaik, it should be fixed.

[2016-12-23 01:23] Monte9 commented on #15
@quadsurf Here are some sliders that I found.
1. https://github.com/jeanregisser/react-native-slider - I like that it's customizable & API looks pretty robust.
1. https://github.com/JackDanielsAndCode/react-native-multi-slider - Has implementation of multi-selection slider
1. https://github.com/franfran/react-native-snap-slider - Love the functionality that this provides

I think adding a **custom

[2016-12-23 01:45] Monte9 commented on #47
@gavindinubilo that's a good idea. Although in my experience, if you are using any navigation library, NavigationExperimental for instance, the header comes with it as well.

Were you thinking of using this "unified style" throughout your app that's independent of any sort of navigation? Just trying to understand how useful it would be in general.

[2016-12-23 01:48] Monte9 commented on #51
@rajinwonderland are you still running into this issue?

[2016-12-23 01:57] itagakixt opened #121 "What kind approch is best to re-render(or reload) List class?"

[2016-12-23 02:25] itagakixt commented on #121
I'm developing the react-native APL using react-native-hackathon-starter(Tab controller) and list-detail screen control (Navigator)
'''
  render() {
    return (
      // Handle navigation between screens
      <Navigator
        // Default to list route
        initialRoute={{name: 'list1'}}
        // Use FloatFromBottom transition between screens
      configureScene={(route, routeStack) => Nav

[2016-12-23 02:28] jrmcdona opened #122 "Custom style not being applied"
Hi-
btnFb style is not being applied here.   I want to change the width of these buttons as they are uneven.

What am I doing wrong here?

<Button
              backgroundColor='#3b5998'
              icon={{ name: 'facebook', type: 'entypo', buttonStyle: styles.btnFb }}
              onPress={() => this._signInFB()}
              title='Sign in with Facebook' />

const styles = StyleSheet.create(

[2016-12-23 13:49] SunskyXH commented on #109
I found that I send props to wrong place,  the props has been sent to `xxNav` component.
xxNav.js
[code]
like that

[2016-12-23 13:49] #109 closed

[2016-12-23 16:56] datnguyen0606 commented on #82
Hi, I get the same issue on Mac, is it resolved yet?

[2016-12-23 19:54] dabit3 commented on #50
Ok, closing this, it also worked for me but removed the default underline and improved the border radius on Android. Thanks @Monte9 for checking this out.

[2016-12-23 19:54] #50 closed

[2016-12-23 20:10] dabit3 commented on #122
I think you may need to do it like this: `icon={{ name: 'facebook', type: 'entypo', style: styles.btnFb }}`

[2016-12-23 20:10] #122 closed

[2016-12-23 20:18] Monte9 commented on #120
Thanks for bringing this up @benjaminb10! We are talking about this here #47
Feel free to join us there.

[2016-12-23 20:18] #120 closed

[2016-12-23 20:41] Monte9 commented on #76
@abhitheawesomecoder there are a couple issues with your code.
1. The `Text` element needs to be wrapped within a container with a flex 1 and a backgroundColor as the default is transparent.
2. You are missing a toggle button on the view that actually opens/closes the Side Menu.

@afdalwahyu I would guess you have the same problem because you are using a similar code as @abhitheawesomecoder?

This

[2016-12-23 20:44] #76 closed

[2016-12-23 20:47] Monte9 commented on #115
@dabit3 As far as I can tell, you have implemented your own SideMenu with Animation right? I have used react-native-side-menu and I really like it. It does have slide to open menu as well. Maybe something similar needs to be implemented here.
For reference, this is the repo I am talking about: https://github.com/react-native-community/react-native-side-menu

[2016-12-23 22:04] Monte9 commented on #102
@xiaoneng Thanks for updating the propTypes such that it accepts an object as well. Although that was not the complete solution.

I added additional code such that it handles this object in the render method and renders it appropriately depending on whether it's just a string or an object.

@joncursi I was able to mock the image that you attached as a demo for this feature. Check it out>
![screen

[2016-12-23 22:07] Monte9 commented on #102
@dabit3 In terms of functionality, the subtitle can be a View or and Object but I think the title should still be **require** and still strickly a **String**.
Thoughts?

[2016-12-23 22:22] Monte9 commented on #121
hi @itagakixt,

From what I understand, if you need to re-render a component, you can change its state using the `this.setState` method and React Native will pick this up and re-render your component. You can use the `componentWillUpdate` method as this will be called each the component re-renders.

I would recommend you look into the lifecycle methods for React Native. Check this link out for a s

[2016-12-23 22:22] #121 closed

[2016-12-23 22:29] jrmcdona commented on #122
Hi Nader,
I am simply trying to control the width of the button not the icon.

Is the only way to control with of a button through the "large" setting?   I wanted to be more precise but cannot find anything in the docs.
This didn't work either.

<Button
              style={styles.btnGoogle}
              backgroundColor='#dd4b39'
              icon={{ name: 'google-', type: 'entypo' }}

[2016-12-24 02:27] binoy14 commented on #112
I am not having this issue. Tried with enzyme (Need react-native-mock to use this package) and react-test-renderer both. I am using the following versions.

- Jest: 18.0.0
- react: 15.4.1
- react-native: 0.39.2
- enzyme: 2.7.0
- react-native-mock: 0.2.9 (Only required if using enzyme)

[2016-12-24 02:31] binoy14 commented on #29
@dabit3 Any update on this? I can help out

[2016-12-24 03:15] Monte9 commented on #29
@binoy14 maybe we can implement something similar to this: https://github.com/GeekyAnts/react-native-easy-grid/ ?

[2016-12-24 03:27] binoy14 commented on #29
@Monte9 I have used that library before and it is very useful. Is there a contributing guide? I can take a stab at it.

[2016-12-24 03:53] dabit3 commented on #15
@Monte9 I like the idea of having the customizable api of 1 and the multi selection of 2, and the snap functionality looks cool as well.

1. We can possibly add one of those existing projects as a dependency to get the component working out of the box.

2. or maybe you can even fork [#1](https://github.com/jeanregisser/react-native-slider) and implement the two slider feature into a pr or somethin

[2016-12-24 04:00] dabit3 commented on #115
@Monte9 I like that implementation better tbh. We can either pull this component out completely, or we can replace it with [react-native-side-menu](https://github.com/react-native-community/react-native-side-menu) like I did with the react-native-tab-navigation.

[2016-12-24 04:12] dabit3 commented on #102
@Monte9 that sounds like it makes a lot of sense to me. I've also added badge and title props to this in a push either yesterday or the day before.

[2016-12-24 04:12] dabit3 commented on #29
@binoy14 go for it! I'll be on the lookout for a pr.

[2016-12-24 04:13] Monte9 commented on #29
@binoy14 That would be great! There is no formal contributing guide, feel free to submit a PR and Nader ( @dabit3 ) and myself can take a look at it.
Appreciate your help on this.

[2016-12-24 04:19] Monte9 commented on #115
@dabit3 I would still like to have it part of react-native-elements so that folks dont have to worry about importing react-native-side-menu separately. So I like the second idea better.. of replacing it with react-native-side-menu.

Seems like a fun little project. Keep an eye out for a PR in the next few days.

[2016-12-24 04:21] dabit3 commented on #122
Ah, ok have you tried `<Button buttonStyle={ styles. btnFb }`

[2016-12-24 04:23] dabit3 commented on #37
@forumics check out issue #115 we're going to be replacing this component with [react-native-side-menu](https://github.com/react-native-community/react-native-side-menu)

[2016-12-24 04:23] #37 closed

[2016-12-24 04:44] Monte9 commented on #102
Sounds good. @joncursi this should be out in the next release 0.9.0

[2016-12-24 04:44] #102 closed

[2016-12-24 05:05] Monte9 commented on #92
Thanks for adding this in @note89! (https://github.com/react-native-community/react-native-elements/commit/01fcbb91ddd607eb9d81b60c93ff474a9546b834)
 Closing this issue now.

[2016-12-24 05:05] #92 closed

[2016-12-24 05:29] itagakixt commented on #121
Thanks for reply and pointer,

I'm just studying the lifecycle methods for React Native.
Can I call this.setState from another class?
(in my APL, another Tab need to call this class)

Is there any way to call direct call?(if possible, from beginning constructor )

redux may be a solution for this kind problem?

Thanks

    Mounting Cycle
    constructor(props) { super(props); this.state = { // sta

[2016-12-24 08:56] Monte9 commented on #115
@dabit3 this was waaay easier than I thought. lol
React Native Elements now uses [react-native-side-menu](https://github.com/react-native-community/react-native-side-menu). I really like this as we don't have to worry about any issues related to this component and can direct users to the repo directly. This way we can focus on the our custom elements and improve on them.

[2016-12-24 08:56] Monte9 commented on #115
Also @dabit3, there is not PR are all the changes are going into #v

[2016-12-24 08:58] #115 closed

[2016-12-24 09:51] Monte9 commented on #97
@zhangruinian When you say `segment`.. are you thinking about something like `UISegmentedControl` on iOS?

[2016-12-24 10:14] #51 closed

[2016-12-24 10:28] Monte9 commented on #56
@Jeanmsilva89 I really like what you have done with the activity indicators on the button elements. gj!
What other components were you thinking of adding the activity indicator too?

Also I think, as part of your PR you forgot to update the readme with the new button props that you implemented. Feel free to submit a PR for this if you are not busy.

[2016-12-24 10:32] Monte9 commented on #55
@andreioprisan there are a few components currently in the pipeline. If you have bandwidth and want to work on any of them, your help would be much appreciated.
#29
#15
#43
#94

[2016-12-24 10:32] #55 closed

[2016-12-24 12:51] bozzmob commented on #43
@dabit3 @Monte9 I can take this up and come up with a website. Let me know.

[2016-12-24 13:22] jrmcdona commented on #122
shoot, I thought I had.  BUt that works.

[2016-12-24 16:42] bozzmob opened #123 "Unable to load an image in Card component"
Hi,

I am unable to successfully load an image in the Card component.
I am trying to reuse the example shown in the README file and here is my code-

[code]

I haven't done any change as such, except for the image url. require isn't fetching the URL and the whole card is blank.
Whereas, an example with simple text(Headings H1,H2,etc.,) works fine.

I tried the URI version by giving the web URI as

[2016-12-24 17:05] bozzmob commented on #123
Facing the same issue with the Card component example with thumbnail images(profiles)
Using the same code as-is in the example.

![screenshot_20161224-223202](https://cloud.githubusercontent.com/assets/1252941/21468087/3dbf163e-ca29-11e6-9daa-4dee3a682cc1.png)

[2016-12-24 17:17] bozzmob commented on #123
I'm sorry, my bad. Issue was, I wasn't using the styles.image property.

[2016-12-24 17:17] #123 closed

[2016-12-24 20:39] iRoachie opened #124 "ListItem should be full width"
Currently the List has a space on the left for indenting the list. However this spacing should be applied to the ListItem so that when using underlayColor, the entire item would be selected.

**Current**
![screen shot 2016-12-24 at 4 34 35 pm](https://cloud.githubusercontent.com/assets/5962998/21468694/2cc39792-c9f7-11e6-88b1-ccb15c6de0b0.jpg)

**Expected**
![screen shot 2016-12-24 at 4 37 26 pm](

[2016-12-24 21:16] Monte9 commented on #43
@bozzmob I haven't been a part of this project but from the discussion above, it looks like Nader was thinking something along the lines of the [vue.js](https://vuejs.org/v2/api/) website.

If you wanna get started with it, I am sure @nak1b @sahilthakral23 @benjaminb10 would like to pitch in as well.

[2016-12-24 21:57] Monte9 commented on #124
@iRoachie Good catch! And I agree with you.. this should be the default behavior as well.
I have made the fix as seen below:
![fix](https://cloud.githubusercontent.com/assets/7840686/21468869/b839ad64-c9e0-11e6-8202-863a7994e3e1.png)
The fix should be out on our next release [v0.9.0](https://github.com/react-native-community/react-native-elements/tree/v0.9.0)

[2016-12-24 21:57] #124 closed

[2016-12-24 21:58] iRoachie commented on #124
Thanks @Monte9 Great library

[2016-12-24 22:01] Monte9 commented on #124
Thanks @iRoachie! Feel free to file more issues if you think something else needs to be fixed or can be improved.

[2016-12-24 22:25] Monte9 opened #125 "v0.9.0 - New features & Bug fixes"
We are working on our next release v0.9.0 just in time for the New Year. Here's how to get your hands on the next release before it's out:

Replace this line in your `package.json`:
[code]
Then
[code]
Enjoy! 🎉

# v0.9.0

## General

### Features
- ListItem subtitle prop can now render custom Views
- SideMenu now recognizes gestures to open & close it (switched to using react-native-side-menu)
- Ad

[2016-12-25 16:17] ar-maged opened #126 "Roboto-Bold is not an Android system font"
I'm trying to run a simple Exponent app (that utilizes some elements like `Button`, `FormLabel` & `FormInput`) on a physical device (Sony Xperia Z3 Dual running Android 6.0.1), but I get this error:

<img src="https://cloud.githubusercontent.com/assets/11808903/21471937/d9cb3e38-cacc-11e6-9d3e-9857ff14de3a.png" width="300">

What can I do (apart from passing a `fontFamily` prop to every single com

[2016-12-26 15:52] dabit3 commented on #43
@bozzmob Yes you're welcome to get something started with something if you have the chance! @Monte9 and myself can answer any questions, and if @nak1b @sahilthakral23 and @benjaminb10 may still be interested then once you have a blueprint / basic prototype up you can probably get some contributions.

[2016-12-26 15:58] bozzmob commented on #43
@dabit3 Awesome! I'll come up with a basic blueprint soon 👍
And, this is one of the best set of RN-elements/UI I have used or found. Well done guys for maintaining it and developing it.

[2016-12-27 02:13] jacobcyl commented on #71
I get the same Error if I add attribute "selected". But when I remove selected tag , It work or if I set selected={false} It work again.

[2016-12-27 02:56] Monte9 commented on #71
@jacobcyl Unable to reproduce this. Can you show me the code that is causing this error?

[2016-12-27 04:34] binoy14 commented on #29
I made Pull Request #127 Please review it.

A contributing guide would make it easier for people to contribute.

[2016-12-27 09:44] lsps9150414 opened #128 "Button README mistake"
Button has prop `small`, not `large`.

[2016-12-27 09:50] Monte9 commented on #128
@lsps9150414 Can you be more specific?

[2016-12-27 09:54] lsps9150414 commented on #128
@Monte9 Oops. My mistake. I had an older version instead of the newest :p.

[2016-12-27 09:54] #128 closed

[2016-12-27 11:45] IronTony commented on #115
I had problem with that component, as you can see in the question I had written on their git: https://github.com/react-native-community/react-native-side-menu/issues/245
Instead using your implementation everything worked well and fast in 5 minutes.

[2016-12-27 21:28] Monte9 commented on #115
Hi @IronTony. Fair point. As @dabit3 and I discussed above, we thought it better to use the side-menu component as it's easier to maintain. Although I understand the issue you raised with not being able to dismiss the sidemenu when clicking on an item.

Here's a couple pointers to resolve this issue:
1. use a prop `onContentPress` to handle this. Look at how it's implemented here: https://github.c

[2016-12-29 01:34] binoy14 opened #129 "Add Profile Component"
In the docs it says the profile component is in progress. Is there any progress on that If not I can make a PR if i can get a mockup of it.

[2016-12-29 01:38] binoy14 opened #130 "Tile Component"
It would be great if we can add a Tile component similar to [this](http://shoutem.github.io/docs/ui-toolkit/components/tiles). Any thoughts?

![Tile Component](http://shoutem.github.io/img/ui-toolkit/tiles/large-tile@2x.png)

[2016-12-29 18:17] stief510 opened #132 "Cannot hide SearchBar underline on Android"
Trying to hide the underline for the search bar on Android by setting the underline color for android to transparent but that is not working

[2016-12-29 21:12] ngduc opened #133 "ListItem title & subtitle should be View tags"
Hi,
Right now, ListItem subtitle is rendered as a Text tag which causes a JS error with Android if subtitle contains a View tag.

https://github.com/react-native-community/react-native-elements/blob/4a73fdf1f8de2556eb36a8497df5e7cb2963144e/src/list/ListItem.js#L85-L91

Solution:
=> render {subtitle} as a View
- Similar to title element also.
Thanks.

![image](https://cloud.githubusercontent.com/as

[2016-12-29 23:26] booboothefool commented on #78
@dabit3 I am still getting this issue with 0.8.2.

[2016-12-29 23:28] Monte9 commented on #132
@stief510 it's helpful to share the code.

[2016-12-29 23:31] Monte9 commented on #133
hi @ngduc! This has been requested before and it has been already implemented ->`ListItem subtitle prop can now render custom Views`.
This is part of our next release v0.9.0 that will be out soon. To keep up with the release check this out: https://github.com/react-native-community/react-native-elements/issues/125

[2016-12-29 23:33] Monte9 commented on #78
@booboothefool opening this issue again. Will look into it soon.

[2016-12-31 17:58] dabit3 commented on #29
@binoy14 checking it out now, thanks!

[2016-12-31 18:02] dabit3 commented on #130
So would this in theory be something like a square sized component with an image background ,a title and a subtitle?

[2016-12-31 18:18] binoy14 commented on #130
Yes in a way. If you check the link there are good example use of it.

[2016-12-31 18:30] dabit3 commented on #129
![profileexample](https://cloud.githubusercontent.com/assets/1857282/21578818/bb1dc618-cf54-11e6-9e5e-b0d0e86b4189.jpg)
Here is a basic example of what we had in mind, but feel free to improve upon it.
It should have the following props, title, subtitle, description, call to action (optional), array of icons (optional), but again feel free to improve / tweak if you decide to submit a pr!

[2017-01-01 04:24] Monte9 commented on #29
Feature added to release v0.9.0. Closing this issue.

[2017-01-01 04:24] #29 closed

[2017-01-01 04:27] Monte9 commented on #130
Those examples looks really good. Would be a good addition to elements imo.

[2017-01-01 12:46] leandro-a-silva opened #135 "SocialIcon does not work onPress"
Nothing happens by pressing the SocialIcon button, can I do something wrong?

[code]

[2017-01-01 16:35] bozzmob commented on #135
+1

I am facing the same issue. I thought it was only for me, and maybe some implementation has gone wrong with my code.
But, tried everything possible. onPress() doesn't work.

[2017-01-01 18:56] ngduc commented on #125
@Monte9 Happy New Year 2017! Thanks for this great set of elements!
Can't wait to see 0.9.0 released :)

[2017-01-01 19:07] ngduc commented on #133
@Monte9 How about {title} element, please also make it a View for easy styling. It's hard to style when we have nested Text tags. Many thanks!

https://github.com/react-native-community/react-native-elements/blob/v0.9.0/src/list/ListItem.js#L76-L82

[2017-01-02 06:37] Monte9 commented on #135
@leandro-a-silva @bozzmob Good catch. I figured out why `onPress` was not being called. Turns out you need to pass it an `onLongPress` as well.
This should work:
[code]

IMO the `onLongPress` should be an optional and it should work with only an `onPress` as well. Will fix this in v0.9.0 and close out the issue once it's done.

[2017-01-02 06:39] Monte9 commented on #125
Thanks @ngduc! Credit goes to @dabit3 for putting this together!

[2017-01-02 06:43] Monte9 commented on #133
I thought that was already the case, but apparently not. Thanks for pointing it out.
Reopening this issue until this is added into v0.9.0

[2017-01-03 01:08] leandro-a-silva commented on #135
Thanks @Monte9!

[2017-01-03 01:14] joecaraccio opened #136 "Badge"
Apologies in advance because I think this is more me and not actually an issue, but I can't seem to get badges to appear on a list view item. Here is how I am calling it:

`  <ListItem
            roundAvatar
            onPress={this.flist.bind(this)}
            title="Friends!"
            badge={{ value: 3}}
            hideChevron={true}
             />`

[2017-01-03 01:14] joecaraccio commented on #136
Any advice would be great!

[2017-01-03 16:24] dabit3 commented on #125
Thanks all, honestly the credit definitely goes to @Monte9 for doing almost all of the work for this release, as well as all of those who contributed in the past couple of weeks. Thanks so much!

[2017-01-03 16:52] dabit3 commented on #43
@bozzmob Awesome! Glad you like using it, it's been a pleasure to work on.

[2017-01-03 18:05] Monte9 commented on #47
Ran into this while prototyping a simple UI for an app. I didn't have any sort of navigation although I needed a header and had to write one myself. I think it could be pretty useful if added as part of RN Elements. Will try to implement this soon.

[2017-01-03 20:41] gavindinubilo commented on #47
I ran into it when building a fairly simple app, all I needed was a header for a view, it didn't have any navigation components to it. Though having that option would be great.

[2017-01-04 07:17] pewh opened #137 "Override config"
Let's say I want to override react-native-element `Text`'s font for Android. It's so hassle to set props for all Text in my project. So, can I override config without touch `node_modules/react-native-elements`?

[2017-01-04 12:51] sunnypatel opened #138 "ListItem not working with onPress. onPress function only fires when icon is pressed"
Hi all!
I've been trying to debug this issue for a couple days now and am starting to believe it's an issue w/ ListItem class.

Here is the return of my render function:

[code]

Package.json:
[code]
The onPress function only fires whenever I press on the icon of the item, I need it work when a user presses on the entire list item.

Let me know if I can help give any more details.

[2017-01-04 21:10] ricbermo commented on #126
I had the same issue. I solve it by downloading the font and placing it into assets/fonts and adding it to Font.loadAsync like this guide shows: https://docs.getexponent.com/versions/v12.0.0/guides/using-custom-fonts.html

[2017-01-04 22:48] Monte9 commented on #126
Thanks for the solution @ricbermo!
/cc @ar-maged

[2017-01-04 22:48] #126 closed

[2017-01-05 04:19] pewh opened #139 "ButtonGroup is broken"
Tested on latest version 0.9.0. I copy-paste from `ButtonGroup`'s example, both `Using string` and `Using component` are only show gray-line.

![screenshot_2017-01-05_11-19-00](https://cloud.githubusercontent.com/assets/881358/21668890/c9b15e50-d338-11e6-8d3b-d47eb2870d41.png)

[2017-01-06 17:22] zibs commented on #139
2 cents: I found a similar issue the other day, but wasn't sure if I was the one messing things up myself since I was trying to use the button group within an absolutely positioned view. I was able to get the button group working (delicately) by messing around quite a bit with it's style - like height, flex etc. Might be worth trying to double check the context you are trying to use the button gro

[2017-01-07 03:21] Monte9 commented on #139
@pewh @zibs I'll look into it today. Thanks for bringing it up.

[2017-01-07 04:52] tafelito commented on #135
Hey Guys, I still have this issue and I'm already in 0.9.0, were you able to fix it?

Thanks

[2017-01-07 07:09] binzailani3136 opened #140 "UNMET PEER DEPENDENCY react-native-vector-icons@4.0.0"
Yesterday, react-native-vector-icons@4.0.0 was released.
And react-native-elements requires react-native-vector-icons@3.0.0 as peer dependency.
![screen shot 2017-01-07 at 3 07 54 pm](https://cloud.githubusercontent.com/assets/20284956/21740157/2104f7b2-d4eb-11e6-9f6c-e044cf208310.png)
Could you please rise up the version of react-native-vector-icon mentioned on peer dependency in package.json fil

[2017-01-07 18:38] manguluka commented on #140
I recently pushed a PR updating the version and adding the new MaterialCommunityIcons type : #141

[2017-01-07 19:41] Monte9 commented on #140
PR merged into master (current v0.9.1). Closing this issue.

[2017-01-07 19:41] #140 closed

[2017-01-08 11:02] LoriKarikari opened #142 "Material Community Icons and Exponent"
Hi,

I want to use this package with Exponent but it doesn't work because it requires an unknown module "@exponent/vector-icons/MaterialCommunityIcons". These icons aren't supported by Exponent (yet) and I think this issue is related to #141. Is it possible to exclude these icons for Exponent? I downgraded to version 0.9.0 which is working fine.

Thanks

[2017-01-08 18:35] Nickman87 commented on #135
Also having this issue

[2017-01-08 22:34] manguluka commented on #142
There seems to be an issue open for this on Exponent's fork (exponent/vector-icons#4).

I'm not familiar with Exponent, but If no one answers in the next few days I'll try put together a pull request with the updates.

[2017-01-09 03:49] Monte9 commented on #135
Will look into this today. Keep an eye out for a new subversion with the fix soon.

[2017-01-09 06:51] Nickman87 commented on #135
@Monte9 I overlooked it yesterday, but I think I found the source of this issue: https://github.com/react-native-community/react-native-elements/commit/0d700408a52b8e87a8cff801fd205ab081703922#commitcomment-20402978

[2017-01-09 08:29] Monte9 commented on #125
Released v0.9.0. 🎉

Feel free to file an issue if you come across any bugs/issues with this release. Closing this issue now.

[2017-01-09 08:29] #125 closed

[2017-01-09 09:50] Monte9 commented on #139
@pewh Ok, here are two ways to use the ButtonGroup:
1. Embed the `ButtonGroup` in a `View` with a fixed height
2. Embed the `ButtonGroup` in a ScrollView (don't need to explicitly define the height)

Imo, this is not a bug as the `View` requires you to explicitly give it a height as it cannot inherit this from it's child component. Hence depending on your use case (View/ScrollView) you will need t

[2017-01-09 10:34] Monte9 commented on #135
@Nickman87 Great find! You are right.. the bug was introduced in that commit.
I updated the logic as per your suggestion. Thanks.

The fix is on now master. Will publish the changes to npm soon.

[2017-01-09 10:37] sanketsahusoft opened #143 "Consider a mention to react-native-easy-grid"
Thanks for using the Grid, Row and Col components from [React Native Easy Grid](https://github.com/GeekyAnts/react-native-easy-grid/) (NativeBase).

A mention to the same would be greatly appreciated!

Keep up the good work!

[2017-01-09 10:37] SupriyaKalghatgi commented on #143
+1

[2017-01-09 10:42] Nickman87 commented on #135
@Monte9 Did you also verify ListItem.js? I think it has the same issue but I cannot verify at the moment.

[2017-01-09 11:00] Monte9 commented on #138
@sunnypatel Unable to reproduce this with the given code. Also I looked at the source code and the `onPress` is wrapped around the entire ListItem not just the `Icon`. So I am not sure why in your case, it would be different.
Please make sure you have the latest version of react-native-elements. Going to leave this issue open until you confirm that it works for you.

[2017-01-09 11:28] Monte9 commented on #143
@sanketsahusoft Updated!

[2017-01-09 11:28] #143 closed

[2017-01-09 11:33] Monte9 commented on #135
I did. I don't think it should effect that as the logic for `ListItem` is as below:
```let Component = onPress || onLongPress ? TouchableHighlight : View```

[2017-01-09 12:49] sanketsahusoft commented on #143
@Monte9 Thanks for that! See you tomorrow at GeekyAnts!

I didn't know you were one of the contributors of `react-native-elements`. **Small world!**

[2017-01-09 13:10] sunnypatel commented on #138
The issue was I was using react-native-drawer instead of SideMenu and it wouldn't release the touch event I believe.

I switched to SideMenu and it all works.  Thanks for looking into it!

[2017-01-09 13:23] Monte9 commented on #138
Ok great, glad you figured it out!

[2017-01-09 13:23] #138 closed

[2017-01-10 00:02] hugotox commented on #142
+1

[2017-01-10 03:46] jfrey opened #144 "Recommended Navigation"
Hi All,

I was wondering if there was any recommended navigation frameworks for use with your components?

[2017-01-10 04:45] binzailani3136 commented on #140
Great!
Thanks for your work.

[2017-01-10 14:32] KostasKostogloy commented on #139
I believe that this should be considered a bug. The components are meant to be autonomous pieces of UI. If there is a need for the button group to be wrapped inside a view, this should be handled inside the component (maybe pass it a height parameter and have a sensible default).

[2017-01-10 14:38] KostasKostogloy commented on #139
@pewh @Monte9  I just realized there's an easier way. Pass the height on the `containerStyle` prop of the ButtonGroup

[2017-01-10 16:55] seand88 commented on #144
I have been using https://github.com/aksonov/react-native-router-flux

I tried react-native-navigation from Wix, but it doesnt support current react version yet and i ran into some issues there were no solutions for.

Not sure what everyone else is using

[2017-01-10 17:50] pierredewilde commented on #38
Any update about a _potential_ merge of NativeBase into React Native Elements ?

[2017-01-10 22:54] peacechen opened #145 "FormLabel should not force to uppercase"
FormLabel forces text to uppercase with `children.toUpperCase()`.  It would be more flexible if it left the contents as-is to allow the consumer to decide exactly what to put inside.  Alternatively for backwards compatibility, I could introduce a prop that allows the consumer to control whether to uppercase the text (defaulting to the current behavior).

[2017-01-11 05:59] sanketsahusoft commented on #38
@pierredewilde No plans about the merge as of now. Both the repos are built on different patterns and a bit of different philosophies actually.

[2017-01-11 07:01] q351941406 opened #146 "How to modify the backgroundColor of the Button when disabled ,"
How to modify the backgroundColor of the Button when disabled ,

[2017-01-11 09:27] Monte9 commented on #135
Just publised v0.9.2 to npm. It has the fix for this bug.
Thanks for bringing this up, @leandro-a-silva!

[2017-01-11 09:27] #135 closed

[2017-01-11 09:28] Nickman87 commented on #135
Awesome, thanks! ListItem is working correctly indeed, I verified yesterday :). Great work with the components!

[2017-01-11 09:30] Nickman87 commented on #144
I'm using https://github.com/exponent/ex-navigation now, as I'm also using exponent to build/run my app.
They have a broad range of features and the next version will be released trough react-native itself, so it seems to be pretty much recommended by the react-native devs themselves.

[2017-01-11 09:52] Monte9 commented on #144
I use `NavigationExperimental`. The core React Native is working on this and I believe they plan to make it the default navigation library with react-native soon.
Here's a good article that should get you started with this: https://medium.com/react-native-training/react-native-navigationexperimental-in-depth-6910b9b0b990#.sdqpxdk5n

[2017-01-11 15:55] jfrey commented on #144
Thanks for the replies!  I spent some time mocking up navigation with both react-native-router-flux and ex-navigation.  I noticed ex-navigation appears to be slated for inclusion in the reactjs organization which seems to be a good sign for that project.  I'll take a peak at experimental as well for due diligence.

Do you have any plans to integrate navigation with components like your tabs or sid

[2017-01-11 16:00] Nickman87 commented on #144
@jfrey note that ExNavigation is also implemented on top of NavigationExperimental to tweak it's behaviour ;)

[2017-01-11 16:15] jfrey commented on #144
@Nickman87 Yep I noticed :)  Being new to RN I'm still trying to sort out the state of the various projects and components.  There seems to be caution around using NavigationExperimental until it moves away from the 'experimental' phase but I admittedly don't know what that timeline looks like yet nor whether it's really all that experimental anymore.

[2017-01-11 19:52] peacechen opened #147 "Multiple FormInput refs clobber others' refs"
Assume there are two `FormInput`s :
[code]

The behavior is that each FormInput replaces the ref `myForm` entirely, clobbering any previous refs from other `FormInput`s.  `this.refs.myForm.refs` contains only `lastName`, not `firstName`.

It would be much more useful to be able to group all the form refs under one object.  Otherwise it's difficult to iterate over refs not knowing which ones belong

[2017-01-12 08:39] ronadi opened #148 "LIstItem - leftIcon size can't customize"
Hi,
I think is good if can customize of leftIcon size.

[code]

[2017-01-12 23:03] Carpetfizz commented on #47
This seems pretty essential for ListView based apps. How does the Scene change when a row is tapped?

[2017-01-13 03:18] binoy14 commented on #47
@Monte9 What are your thoughts on having functionality like http://shoutem.github.io/docs/ui-toolkit/components/navigation-bar There is a wide variety of options available

[2017-01-13 15:02] manguluka commented on #142
This should work now, exponent/vector-icons#4 has been closed.

[2017-01-13 16:07] Monte9 commented on #142
Thanks for the updates @manguluka!

@LoriKarikari can you confirm that it solves your issue? I'll close this issue once you do so.

[2017-01-13 16:32] LoriKarikari commented on #142
Working perfectly with react-native-elements 0.9.2 and @exponent/vector-icons 4.0.0.

[2017-01-13 17:04] #142 closed

[2017-01-13 18:57] gavindinubilo commented on #47
@binoy14 Something like that would be awesome!

[2017-01-13 20:26] Monte9 commented on #47
@binoy14 I think that's a great idea. Let me know if you have some time on your hands to start it off.. I can pitch in as well.

[2017-01-16 03:07] binoy14 commented on #130
@Monte9 @dabit3 Need some suggestions on the usage code for Tile Component. Attaching screenshots and code for different tiles possible let me know what you guys think of it.

## Featured Tile

[code]

![screen shot 2017-01-15 at 9 50 15 pm](https://cloud.githubusercontent.com/assets/6476108/21969491/beea4630-db6c-11e6-8913-7cc8813e35d6.png)

## Featured Tile with Icon

[code]

![screen shot 2017-

[2017-01-17 07:51] jacobcyl commented on #71
I found the answer! because the <Tab> tag must contain a child element. We should do it like this:
[code]

[2017-01-17 22:03] mrdezzods opened #150 "Unable to resolve module @exponent/vector-icons/MaterialCommunityIcons ..."
I'm having an issue installing this module with exponent. When installing, I got some warning 'react-test-renderer@15.4.2 requires a peer of react@^15.4.2 but none was installed.'

and when I try to build by app, I get the following error. What is the reason for this and how do I solve it?

Thank you
![image](https://cloud.githubusercontent.com/assets/7695060/22041909/11569e26-dd09-11e6-9383-41aac

[2017-01-17 22:16] binoy14 commented on #150
What version of react-vector-icons are you using? react-native-elements 0.9+ uses version 4 of react-vector-icons

[2017-01-17 23:23] mrdezzods commented on #150
@binou14 thanks mate. Apparently that was the problem.

[2017-01-17 23:23] #150 closed

[2017-01-18 15:09] benjaminb10 opened #151 "Do you plan to add Hn components?"
Just like HTML Hn tags (h1, h2, h3, ...) with different font-size, do you plan to add Hn components?
If not, do you have react-native package to recommand?

[2017-01-18 21:18] joncursi opened #152 "[Button]: Add disabledStyle prop"
I have custom buttons that use this library's Button component as a base. I have special requirements on how these buttons should appear when they are disabled. Would be great if there were a `disabledStyle` prop for the Button component to specify custom look and feel.

[2017-01-18 21:31] dekm commented on #56
Would be cool to have this added to the Searchbar as well.  I was just trying to look into adding a spinner on the right side of the searchbar as I'm calling search as the user types.

Looks like inside the search component there is only the left icon currently added.

[2017-01-18 21:35] Jeanmsilva89 commented on #56
@Monte9 Sorry I have been too busy in the past few weeks, and missed your comment. I'll send a PR for the README by this weekend.

@dekm I'm not using the SearchBar currently but yeah I think it's useful for just about every component that has an onPress event so that a loading state can be added.

[2017-01-20 07:18] Monte9 commented on #130
@binoy14 This looks great! I'll look at it in detail this weekend and follow-up on it. Thanks.

[2017-01-20 07:23] Monte9 commented on #151
Can you give some specific examples or a link to an HTML implementation of this that can be referenced? Thanks.

[2017-01-20 07:25] Monte9 commented on #152
@joncursi I like this idea. Will work on implementing it this weekend. Thanks.

[2017-01-20 07:29] Monte9 commented on #146
Check out Issue #152. I'll close out this issue if adding a `disableStyle` will solve this for you.
Let me know and we can move this discussion over there.

[2017-01-20 07:32] Monte9 commented on #147
@peacechen For the current implementation, I would suggest discussing it with @dabit3.

As far as changing the behaviour such that it groups all the form refs under one object.. I like that idea. Would you be able to submit a PR with such an implementation? I would be more than happy to merge it if it enhances the form refs functionality.

[2017-01-20 07:41] Monte9 commented on #148
Hmm.. so when you pass in the `size` as a prop on LeftIcon it doesn't work?

[2017-01-20 08:56] ronadi commented on #148
yes, correct

[2017-01-20 09:59] benjaminb10 opened #155 "Do you plan to add an email newsletter ?"

[2017-01-20 10:00] benjaminb10 commented on #151
Something like in bootstrap CSS framework: http://getbootstrap.com/css/#type

[2017-01-20 17:24] ngduc opened #156 "Sidemenu - tap anywhere on the edge to close?"
Hi,
I'm using the Sidemenu.
Normally, user should be able to tap anywhere on the edge to close the Sidemenu but it doesn't work now. I have to tap the menu icon to toggle it.
Is this supported? Thanks.

[2017-01-20 20:51] peacechen commented on #147
I'll put it on my list for when I have some breathing room.  Thanks for being open to a PR.

[2017-01-23 09:23] krailler commented on #152
@Monte9 Heeeey! Good morning!! How was that coding weekend? haha +1 Looking for this!

[2017-01-23 09:52] idlesong opened #157 "Tab bar: is it possible to use tab bar with react-native-router-flux?"
Anyone knows how to use tab bar with react-native-router-flux?
I'm a newbie of React-native, does there any guides or articles?

RNRF seems need to put every tab in the 'Scene' and no place to put the RNE-tabs.

[react-native-router-flux tab bar example](https://github.com/aksonov/react-native-router-flux/blob/master/docs/DETAILED_EXAMPLE.md)
[code]

Thanks.

[2017-01-24 18:01] paduvi opened #158 "Problem with Card style"
I'm trying example code:
[code]
It displays error message:

Btw, it also shows

What can I do to fix this? I'm just newbie to React Native and React Native Element

[2017-01-26 08:37] pewh opened #159 "Bug: slider not start from left"
On react-native's built-in Slider, it shows correct behavior. But on react-native-element's `Slider`, it doesn't start from left, although I set `value={0}` in props. But react-native-element's `Slider` can be dragged manually to the left edge.

![a](https://cloud.githubusercontent.com/assets/881358/22324687/4cc8e8e4-e3dd-11e6-9c56-757a00cb0d9a.png)

[2017-01-26 12:25] krailler commented on #152
Any news? :(

[2017-01-27 08:24] binoy14 commented on #152
@krailler I will take a look at it tomorrow :)

[2017-01-27 09:00] krailler commented on #152
I love you @binoy14 <3

[2017-01-28 07:19] binoy14 commented on #152
@krailler Made the PR

[2017-01-28 07:55] ajiprasetyo commented on #142
how i can downgrade react-native-elements on ubuntu ?

[2017-01-28 18:05] binoy14 commented on #142
@ajiprasetyo you can change the version in package.json and run npm install. It might good idea to delete the react-native-elements folder from node_modules first

[2017-01-28 19:36] binoy14 commented on #158
In terms of font check out this [note](https://github.com/react-native-community/react-native-elements#notes) Lato is not available by default you will have to download it and configure it.

In terms of the View error if you could provide more code it will be more helpful.

[2017-01-29 07:04] housseindjirdeh commented on #84
In case anyone experiences the same issue, I was having the same problem with `searchBar`. @dabit3's solution solved the problem :)

[2017-01-29 15:54] balibou opened #165 "Edit style of right icon for ListItem"
Hello, Is there a way to edit the style of the right icon ?

[2017-02-01 00:34] herlarbs commented on #38
Is there any hope of a potential merge someway along the nearest future or have both parties decide to go on separate ways. I love Nativebase but I'm keen on its direction and path for the next foreseeable future

[2017-02-01 15:04] sabativi commented on #151
This is already the case no ? See the docs

[2017-02-01 20:45] Blinnikov commented on #136
@joecaraccio Do you have any custom styles defined on List/ListItem components? May be your badge is just hidden or placed  out of visible space. Your example works for me.

[2017-02-01 21:36] #152 closed

[2017-02-01 22:21] dabit3 commented on #137
That's a good point, but as of now, the way everything is structured, I do not think there is a way to override. You could create a component and set it up once in your app, import the RN Elements into that component, set your config, and import from there?

[2017-02-01 22:21] #137 closed

[2017-02-01 22:22] #133 closed

[2017-02-01 22:34] dabit3 commented on #144
Definitely recommend [React Navigation](https://github.com/react-community/react-navigation) going forward, now that it's out.

[2017-02-01 22:36] #145 closed

[2017-02-01 22:36] dabit3 commented on #145
Thanks @peacechen this will be updated in release 9.4

[2017-02-01 22:37] dabit3 commented on #148
Testing this now.

[2017-02-01 23:49] dabit3 commented on #155
@benjaminb10 not at this time, but we're big fans of [React Native Newsletter](http://reactnative.cc/)

[2017-02-01 23:49] #155 closed

[2017-02-02 00:21] dabit3 commented on #148
Looks like this has been merged but not yet release, we will release this today in version 0.9.4 @Monte9 @ronadi

[2017-02-02 00:21] #148 closed

[2017-02-02 00:31] dabit3 commented on #146
@q351941406 looks like this has been added and will be released with 0.9.4 today!

[2017-02-02 00:32] dabit3 commented on #156
@ngduc I don't think this has been added yet, I'll be checking into seeing if we can add it. Thanks!

[2017-02-02 00:33] dabit3 commented on #165
I'm pretty sure you can pass in `rightIcon={{ style: { marginLeft: 20, ...otherstyles }  }}` to the ListItem. Let me know if that does not work.

[2017-02-02 00:34] dabit3 commented on #165
@balibou Also try upgrading to 0.9.4 as I think this is new functionality maybe?

[2017-02-02 00:43] gperdomor opened #167 "[Feature Request] Please add support for render buttons in searchbar"
I need a search bar with button on the right side like this:
![img_1471](https://cloud.githubusercontent.com/assets/371939/22532670/5dadd1bc-e8c7-11e6-8879-2550dd4a2c51.jpg)

:D

[2017-02-02 01:20] binoy14 commented on #167
@gperdomor While this might be a "hack" you can use the [Grid Component](https://github.com/react-native-community/react-native-elements#grid-component) and create two columns with the search bar in one column and button in another.

[2017-02-02 06:58] balibou commented on #165
Hello @dabit3, it doesn't work ...
first I've updated to 0.9.4 no change.
then I tried to pass your object, but fails because it's expecting a string (name of the material icon)

[2017-02-02 07:41] max2three commented on #159
@pewh This has been fixed in v0.9.4.

[2017-02-02 15:28] dabit3 commented on #165
@balibou Hmm, I'm sorry about that. Checking it out now.

[2017-02-02 15:54] dabit3 commented on #165
@balibou just pushed a fix, version 0.9.5 should work for you.

[2017-02-02 15:54] pewh commented on #159
Thanks. It's work now

[2017-02-02 15:54] #159 closed

[2017-02-02 22:10] wilomgfx commented on #130
+1

[2017-02-06 15:15] #167 closed

[2017-02-06 15:17] gperdomor opened #171 "[Feature Request] Support custom component in avatar list items"
Hi... I need render custom avatar when the item has no image, something like user initials like this package does: https://github.com/avishayil/react-native-user-avatar

[2017-02-07 19:09] balibou commented on #165
@dabit3 sorry for the late, I will test it as soon as I can (was on holidays)

[2017-02-08 06:07] wjx0912 opened #172 "can you release a android apk?"
thanks

[2017-02-08 17:01] CecilLee opened #173 "FormInput in android and ios differend"
ios is right

![93302982](https://cloud.githubusercontent.com/assets/8233657/22747787/f8161228-ee62-11e6-8e77-4c49e21ce148.jpg)

android is wrong
![1704190561](https://cloud.githubusercontent.com/assets/8233657/22747786/f81519c2-ee62-11e6-8f83-c59a0280b08f.jpg)

[2017-02-08 17:02] CecilLee commented on #173
form input bottom line align

[2017-02-10 02:28] temitope opened #174 "Search Bar text color not listening to inputStyle prop"
I am unable to get the SearchBar to be responsive to the value of the inputStyle prop. color remains unchanged and gray.

[code]

[2017-02-10 08:30] max2three commented on #174
@temitope If you are referring to the placeholder text color, you need to set the `placeholderTextColor` prop instead.

[code]

[2017-02-10 18:57] temitope commented on #174
@max2three thanks! that is exactly what I was talking about. i didnt realize the style was different as the documentation does not specify this prop. huge help.

[2017-02-10 20:35] #174 closed

[2017-02-11 03:25] max2three commented on #174
@temitope You are welcome. Actually the `SearchBar` [documentation](https://github.com/react-native-community/react-native-elements#searchbar-props) does mention that it inherits all native `TextInput` props along with some extra ones.

[2017-02-11 06:19] temitope commented on #174
@max2three ahh yes, you're right, i saw that but just didnt follow the link...and it makes sense that you dont list all the inherited props.

[2017-02-12 18:23] #130 closed

[2017-02-12 20:08] Monte9 commented on #172
@wjx0912 If you are looking for examples:
Check out the pre-built and configured [React Native Hackathon Starter Project](https://github.com/dabit3/react-native-hackathon-starter) which uses all of these elements.

[2017-02-12 20:21] Monte9 commented on #165
@balibou I tested this and it works.
Try this:
```rightIcon={{ name: 'arrow-right', type: 'font-awesome', style: { marginRight: 10, fontSize: 15 } }}```
Let me know if this works for you and i'll close the issue.

[2017-02-12 20:35] Monte9 commented on #156
@ngduc This is supported. For a working example of this please check out [React Native Hackathon Starter](https://github.com/dabit3/react-native-hackathon-starter)

Also fyi:
`This component implements react-native-side-menu which is part of the react-native-community.`

[2017-02-12 20:36] #156 closed

[2017-02-12 20:37] Monte9 commented on #151
@benjaminb10 This is already a part of React Native Elements.

Check this out: https://github.com/react-native-community/react-native-elements#html-style-headings

[2017-02-12 20:37] #151 closed

[2017-02-12 20:46] Monte9 commented on #157
@idlesong RNRF provides Tabs as well out of the box. Here's an example:
[code]

You can refer to documentation here: https://github.com/aksonov/react-native-router-flux/blob/master/docs/OTHER_INFO.md#tabbar

Hence if you are using RNRF, there is not need for you to also use RNE-tabs. Hope this helps.

[2017-02-12 20:46] #157 closed

[2017-02-12 20:50] #172 closed

[2017-02-12 20:51] Monte9 commented on #173
@CecilLee Can you share a code snippet that you are using that demonstrates this issue? Thanks.

[2017-02-12 20:53] balibou commented on #165
@Monte9 @dabit3 just tested it, it works ! Thanks a lot !

[2017-02-12 20:57] Monte9 commented on #146
This feature is available in the latest release of RNE.

[2017-02-12 20:57] #146 closed

[2017-02-12 21:08] Monte9 commented on #139
@KostasKostogloy I'll add this to the readme. Thanks.

[2017-02-12 21:08] #139 closed

[2017-02-12 21:14] #165 closed

[2017-02-12 21:14] Monte9 commented on #56
@Jeanmsilva89 any updates?

[2017-02-12 21:17] Monte9 commented on #15
Update: Slider has been added to the latest release of RNE. Check out the documentation [here](https://github.com/react-native-community/react-native-elements#slider-component).

We went with Option 1. I'll leave this issue open as it would be cool to add on Option 2 & Option 3 to the existing Slider component.

If anyone has bandwidth and would like to submit a PR to enhance it, I am open to merg

[2017-02-12 21:18] Monte9 commented on #43
@bozzmob any updates?

[2017-02-12 21:28] Monte9 commented on #78
Unable to reproduce this with RNE v0.9.6

Can you confirm that it is still an issue for you? @booboothefool @jjdp.
If yes, then PR #176 should hopefully fix it.
/cc @max2three

[2017-02-12 21:30] Monte9 commented on #96
@qiluo any updates on this? If not, then I'll close this issue as it's not reproducible.

[2017-02-12 21:30] Monte9 commented on #97
@zhangruinian any updates on this?

[2017-02-12 21:36] Monte9 commented on #136
@joecaraccio This works for me too.

If you still need help to resolve this for your use case, I'll leave this issue open? Let me know.

[2017-02-12 21:37] Monte9 commented on #158
@paduvi any updates?

[2017-02-12 21:48] vladra commented on #70
Envountered exactly same issue. If I'm placing FromInput inside view with alignItems 'center', input is not rendered/visible. If I remove alignItems, it works fine.

Blank screen in this case:

[code]

And I see input in this case:
[code]

[2017-02-12 21:50] Monte9 commented on #70
@vladra any ideas on what might be causing it/possible fixes?

[2017-02-12 21:51] UXDart commented on #136
I had a similar problem, and it was because the release on npm didn't had the badge file... not sure if that was fixed on newer releases.... HTH

[2017-02-12 21:51] vladra commented on #70
@Monte9 Just encountered this. It's not working on blank new react-native project

[2017-02-12 22:08] Monte9 commented on #70
Reopening this issue since that's the case @vladra.

[2017-02-12 22:14] Talkwondo opened #179 "Form onSubmitEditing doesn't transfer focus"
Hi,
I am trying to use onSubmitEditing to pass to focus to the next textinput but I am getting an error.
could someone paste here an example how to make it?

Thanks,

[2017-02-13 03:36] DavidKongDesheng commented on #158
@paduvi Got same issue after I set imageStyle={{ flex: 0, height: 300 }} it works, and then remove imageStyle, everything works fine, don't know why, actually nothing changed...

[2017-02-13 07:26] bozzmob commented on #43
@Monte9 I am very sorry for the delay. I was down with health issues. Now back.
You can have a preview of the website here- [https://bozzmob.github.io/react-native-elements](https://bozzmob.github.io/react-native-elements)

I am cleaning up the code/md. Will send a pull request by today EOD.

[2017-02-14 03:47] dabit3 commented on #43
@bozzmob @Monte9 Looking really nice!

[2017-02-14 04:59] bozzmob commented on #43
@dabit3 I am unable to create a pull request. The branch is 'gh-pages' which doesn't exist in the main repo but exists on my fork. Please can you add me as a collaborator to this project, so that I can easily setup the website?

[2017-02-14 11:42] AppDev666 opened #180 "Tabs align to top"
@Monte9 can we change alignment of tabs to top

[2017-02-14 12:41] bluedusk opened #181 "`View` has no propType for native prop `RCTView.flexGrow` of native type `float`"
Hi, I got this error when I tried run-ios, any idea what might the problem? Many thanks.

`View` has no propType for native prop `RCTView.flexGrow` of native type `float`
If you haven't changed this prop yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go away.

verifyPropTypes
    verifyPropTypes.js:58
req

[2017-02-14 13:02] #181 closed

[2017-02-14 16:25] bozzmob commented on #181
How were you able to resolve it? Please do write it for community. It will surely help the community if they get the same issue.

[2017-02-15 02:04] Monte9 commented on #180
@AppDev666 The Tab Bar component implements the react-native-tab-navigator from Exponent. Hence for feature requests or issues I would suggest checking out their repo [here](https://github.com/exponent/react-native-tab-navigator).

[2017-02-15 02:04] #180 closed

[2017-02-15 02:11] Monte9 commented on #43
@bozzmob Hope you are feeling better now. The website looks amazing! GJ!

Is it possible for you to create a simple ToDo List for things that are still needed to be done before it goes live? There are a few folks here that are willing to help out if needed.

[2017-02-15 03:41] bozzmob commented on #43
@Monte9 Yes. I'm feeling better now. Thanks.
Happy to know the website looks good.
Yes I'll add a README on how to edit it, run it locally, build it and publish it.
Also will add To Do list.

[2017-02-15 05:00] bozzmob commented on #43
@dabit3 It would be easy to test on gh-pages branch for me without affecting the flow of the master. Would like to deploy the site and then make changes as we need. Please can you add me as collaborator?

[2017-02-15 14:21] abdurrahmanekr opened #182 "[Feature] Add close icon props in SearchBar"
Hi, What do I have to do when I want to delete what I have written?
Like SearchBar.closeIcon={true}. Thank you.

[2017-02-15 14:48] dabit3 commented on #43
@bozzmob sure thing, I'll add you right away!

[2017-02-16 02:26] jenessawhite opened #183 "Invalid prop 'name' on icon"
I am trying to use the material-community icon set and getting a warning of an `invalid prop "name" of value "checkbox-blank-outline" supplied to "icon"` any idea why?

`<Icon type='material_community' name='checkbox-blank-outline'/>`

[2017-02-17 02:59] max2three commented on #183
@jenessawhite There is a typo for the `type` name. Just change it to

`<Icon type='material-community' name='checkbox-blank-outline' />`

[2017-02-17 11:33] bozzmob commented on #43
@dabit3 I have merged the code. Need to add README and enhance few things still. But, you need to enable pages in github repo settings. I don't have access to it, since I'm not a member I guess. Please can you do it? Point the github pages to 'gh-pages' branch.

[2017-02-17 14:47] jenessawhite commented on #183
sorry, that was actually a typo when I typed it in here.
it does in fact say <Icon type='material-community' name='checkbox-blank-outline' />

[2017-02-17 15:18] max2three commented on #183
@jenessawhite MaterialCommunityIcons was introduced in [4.0.0](https://github.com/oblador/react-native-vector-icons/releases/tag/v4.0.0).

What version of React Native are you using? `4.0.0` only works with RN `>=0.40`.

If you are on RN `>=0.40`, do the following to upgrade react-native-vector-icons:

1. `npm uninstall react-native-vector-icons --save`
2. `npm install react-native-vector-icons --

[2017-02-17 18:40] Monte9 commented on #43
@bozzmob I believe I has access to the settings. I can take care of this for you today. Will ping you once it's done.

[2017-02-18 06:04] bozzmob commented on #43
@Monte9 sure. let me know.

[2017-02-18 08:54] yolosaucisson opened #187 "Header image like ReactNativeElements in examples"
Hi,

How can I put an image in header of my header like all examples in this repository with the ReactNativeElements image (or text).
Thanks !

Sincerely,

[2017-02-18 19:08] RWOverdijk opened #188 "[Feature] Add featuredTile prop in Tile"
Not sure if this is the place to ask this but is it possible to combine tiles and cards? I like the `Featured Tile` tile with the text over the image, but I'd like that exact style in a card, in place of the image.

[2017-02-20 03:00] jjhesk opened #189 "SearchBar styles"
how do I remove the outline of the searchbar?

[2017-02-20 22:27] nebula-ai opened #190 "[Feature] Add notification component"
Hi,

I wonder if anyone has a recommendation of a library to use with react native elements to provide a on screen notification generated by a backend server.  This is outside of the push notifications build into the OS.  At the simplest this is an Alert that goes away after a few seconds.   I am using reactnavigation as well.

Thanks in advance

[2017-02-20 23:23] Monte9 commented on #43
@bozzmob Can you share your email with me so that I can reach out to you? Thanks.

[2017-02-21 03:33] binoy14 commented on #188
@RWOverdijk Can you explain in detail what do you mean?

[2017-02-21 03:54] binoy14 commented on #187
@yolosaucisson We do not have Header Element just yet. Check #47 for progress

[2017-02-21 03:54] #187 closed

[2017-02-21 04:10] #96 closed

[2017-02-21 04:11] #78 closed

[2017-02-21 06:33] binoy14 commented on #189
@jjhesk You can use _containerStyle_ or _inputStyle_ based on what you need.

[2017-02-21 06:50] binoy14 commented on #70
@vladra @Monte9 I was trying to fix this and i think the problem when doing _alignItems_ of center or even flex-start or flex-end is that the component is present but it has a width of 0. If you set a containerStyle with a width of not 0 then it does show up. I think the solution is to set the default width to be the device width. Thoughts?

[2017-02-21 08:09] RWOverdijk commented on #188
@binoy14 Detail.. Well, I'll try.

Cards allow this appearance:

![](https://camo.githubusercontent.com/c3b53dcb16b65a87a491c9a2dea0a412ace58714/687474703a2f2f692e696d6775722e636f6d2f625935754143332e706e67)

The left part, where there's a nice image, followed by a title, a paragraph and a button.

A Tile, allows you to do this:

![](https://cloud.githubusercontent.com/assets/6476108/21969491/beea4

[2017-02-21 08:12] bozzmob commented on #43
satvik [dot] jagannath7 [at] gmail.com

[2017-02-21 09:45] DavidKongDesheng opened #191 "Can I use local image as CheckBox's checkedIcon & uncheckedIcon ?"
It looks like only support react-native-vector-icons~

[2017-02-21 16:15] corymsmith commented on #190
@nebula-ai In a couple apps I just created my own, it was just a component that was in my main application component, when a notification came in it just slides down from the top, stays for a few seconds then goes away. Something like that would be a good addition to this lib for sure.

[2017-02-21 17:53] panhna opened #192 "my button have just only gray background-color"
how to enable the background color back? thx

![screen shot 2017-02-22 at 12 47 56 am](https://cloud.githubusercontent.com/assets/5246440/23177308/eac3e498-f898-11e6-963e-3b82f63b7969.png)
![screen shot 2017-02-22 at 12 50 12 am](https://cloud.githubusercontent.com/assets/5246440/23177340/02e5e24c-f899-11e6-95b2-794368a77ecb.png)

[2017-02-21 19:14] nebula-ai commented on #190
Thanks for suggestion.  I'll give it a try and publish if I get it to work cleanly

[2017-02-21 20:53] binoy14 commented on #190
@corymsmith @nebula-ai What are your thoughts on having something like [this](https://github.com/devBrian/react-native-dropdownalert) in this library?

![](https://camo.githubusercontent.com/f6913fda265b52d81f731079425ecb012dca4cbe/68747470733a2f2f7261772e6769746875622e636f6d2f646576427269616e2f72656163742d6e61746976652d64726f70646f776e616c6572742f6d61737465722f73637265656e73686f74732f64656d6f2e67

[2017-02-21 21:05] corymsmith commented on #190
@binoy14 Thats pretty much what I was referring to, as long as its highly customizable, background color, text color, font, icon, etc. The right X icon is a bit too bold in my opinion, I think it should be more subtle or just remove it since you can swipe the alert out of the way OR it just goes away on its own after a few seconds.

[2017-02-21 21:09] binoy14 commented on #190
Yes, customization is the key. I'll add it to the roadmap. Thanks for the suggestion.

[2017-02-21 21:20] binoy14 commented on #158
@DavidKongDesheng Take a look at https://github.com/facebook/react-native/issues/11481 let me know it helps

[2017-02-21 21:37] binoy14 commented on #192
@panhna You can use the following snippet to change the color.

[code]

I think the default color is grey but @Monte9 can comment on it if i am mistaken.

[2017-02-21 21:40] binoy14 commented on #191
No it only supports react-native-vector-icons. I will look into if it's possible to do local image.

[2017-02-22 04:15] binoy14 commented on #183
@jenessawhite Closing this issue as it seems it fixed your problem. Let me know if otherwise.

[2017-02-22 04:15] #183 closed

[2017-02-22 06:59] durongzhang opened #193 "Button After pressing borderRadius Invalid"
系统：android 5.1.1

[2017-02-22 17:56] panhna commented on #192
it's work for me. i just think that i miss something to make it work like screenshot.
thx for your advise.

[2017-02-22 18:48] #192 closed

[2017-02-22 21:29] binoy14 commented on #193
@durongzhang Can you please explain in detail and provide either screenshots or code sample for us to understand what is the issue

[2017-02-22 21:31] binoy14 commented on #112
@ngduc @robbykim Are you still have this issue?

[2017-02-23 02:33] robbykim commented on #112
i'm good now. using jest 18.0.0, react 15.4.2, react-native 0.39.2

[2017-02-23 02:53] #112 closed

[2017-02-23 03:13] durongzhang commented on #193
![image](https://cloud.githubusercontent.com/assets/15725537/23243328/0fda507a-f9b9-11e6-8ab6-9fa81b00cb09.png)
After pressing
![image](https://cloud.githubusercontent.com/assets/15725537/23243330/1792150a-f9b9-11e6-9c50-87f044ffc3b4.png)

[2017-02-23 03:14] binoy14 commented on #193
@durongzhang I'll take a look, Thanks

[2017-02-23 18:25] AWrightIV commented on #67
@xiaoneng How did you come to the numbers 1.15 and 1.35 for pixel ratios 2 and 3, respectively? They seem arbitrary

[2017-02-23 19:23] binoy14 commented on #188
As per discussion with @RWOverdijk, We decided that have a prop `featuredTitle` which would move the title in a Tile (not featured tile) inside the image.

[2017-02-23 19:39] jjhesk commented on #189
yes.thanks

[2017-02-23 19:56] #189 closed

[2017-02-23 22:47] binoy14 commented on #136
Sounds like this is not an issue anymore so closing it. Feel free to open it if it's still an issue

[2017-02-23 22:47] #136 closed

[2017-02-23 23:08] binoy14 commented on #193
@durongzhang I tried to recreate the issue your having but it is not happening for me.

Here is the code I used.

[code]
![untitled](https://cloud.githubusercontent.com/assets/6476108/23283272/01feff66-f9f3-11e6-907e-426ccdb52860.gif)

What version are you using? Can you provide code snippets for us to look at?

[2017-02-23 23:11] binoy14 commented on #182
@abdurrahmanekr There doesn't seem to be an close icon. I think it will be a great addition. Thanks for reporting

[2017-02-23 23:37] xiaoneng commented on #67
This was to scratch my own itch and meant as a starter for covering the gamut of pixel ratios / screen sizes combos out there.  By all means fork, fix, pull request.

[2017-02-24 00:08] Monte9 opened #195 "🛎️ UPDATE: Better support 🎉 & accelerated 🚀 development for RNE ❤️️"
At RNE, we recently committed to providing better support for community issues and PR's as well as an accelerated development for feature requests and new UI components for this library.

If you come across any UI component that is lacking in this library, we would be more than happy to discuss it with you and develop it over a reasonable timeline.

Feel free to tag any of us in an issue or PR and

[2017-02-24 00:50] binoy14 opened #196 "Add Unit Tests"
Check out [Testing Branch](https://github.com/react-native-community/react-native-elements/tree/testing) for progress

Components to test

- [ ] Badge
- [x] Buttons
- [x] Checkbox
- [x] Form
- [ ] Grid
- [ ] Helpers
- [ ] Icons
- [ ] List
- [ ] Pricing
- [ ] Sidemenu
- [ ] Slider
- [ ] Social Buttons
- [ ] Tabs
- [x] Text
- [ ] Tile
- [ ] Divider

[2017-02-24 02:00] durongzhang commented on #193
"react-native-elements": "^0.9.7"
![image](https://cloud.githubusercontent.com/assets/15725537/23287373/e26b7e9c-fa77-11e6-8303-78c57e975790.png)
android:5.1.1
Manufacturer: coolpad
Estimation and system customization

[2017-02-24 04:28] Monte9 commented on #56
@binoy14 since we haven't heard from Jean, maybe this is something we can do ourselves. We can talk about what elements it would make sense to add the activityIndicator to.

Also, reading his comment above about SocialIcon not built on top of Button makes sense. I wonder why this is case? Could we possibly refactor?

[2017-02-24 04:33] Monte9 commented on #70
I think that's a decent solution. In the case that we add a default height, the user can always use the containerStyle to override the height if need be.
@binoy14 if you have it working on your end, go ahead a push a hot-fix to master?

[2017-02-24 04:33] binoy14 commented on #56
@Monte9 SearchBar has a activity indicator, was recently added.

I agree with changing socialIcon to Button

[2017-02-24 05:09] Monte9 commented on #94
@binoy14 Let's consider adding this to v0.11.0

[2017-02-24 05:12] Monte9 commented on #97
For now consider using https://github.com/lelandrichardson/react-native-segmented-view

We might add this to RNE in the future.

[2017-02-24 05:12] #97 closed

[2017-02-24 07:15] Monte9 commented on #171
@gperdomor This is a solid request. We are working on implementing this soon. Keep an eye out for v0.10.0

[2017-02-24 07:16] Monte9 commented on #173
Closing this issue for now due to inactivity. Feel free to open it up again if you need help.

[2017-02-24 07:16] #173 closed

[2017-02-24 07:34] Monte9 commented on #191
I think for simplicity, we should stick to rendering Icons from `react-native-vector-icons` only.  In all my uses cases, I have almost never found a time when I could not find an icon I was looking for. So while it might be cool to support local images, in this case for Icons I think it might be an overkill.

Open to hear your thoughts though. /cc @DavidKongDesheng @binoy14

[2017-02-24 07:44] Monte9 commented on #193
@durongzhang From what I gather there might be two ways to solve this:
1. The RNE Button component lets you pass in a `component` that overrides the default component on Android which is TouchableNativeFeedback. You can do this by passing a prop to button like so:
<Button
  component={TouchableOpacity}
  ... />

2. @binoy14 Found [this](https://github.com/facebook/react-native/issues/6480) thread

[2017-02-24 07:52] Monte9 commented on #179
The `FormInput` component inherits all the properties from React Native `TextInput`. Hence maybe this is a good place to start: https://facebook.github.io/react-native/docs/textinput.html

@binoy14 Anything you would like to add?

[2017-02-24 19:00] binoy14 commented on #191
I agree icons mostly do the trick. Also `react-native-vector-icons` are font's so there won't be issues with scaling and stuff on different resolutions

[2017-02-25 17:15] LoriKarikari commented on #123
@bozzmob what style did you add to the image?
I have used the imageStyle prop but it isn't showing only that line like on your screenshots
[code]

[2017-02-25 17:49] sufuf3 opened #198 "Which files need to be hosted?"
Hi @react-native-community ,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs). We are going to host this library.

What the files should need to be added in cdnjs?
(I guess the files under `src/` need to be added in cdnjs.)

And could you provide the minified file, because I can't minify the files with [uglify-js](https://www.npmjs.com/package/uglify-js).

If you have any suggestions, pleas

[2017-02-25 18:42] jeveloper opened #199 "Tile - require local asset not working"
RN 0.41.2

`imageSrc={{require: './assets/photo.jpg'}}`

Doesn't display an image. The asset is definitely there, i tested with

`require('./assets/photo.jpg')`

Also, tried passing a variable to imageSrc but is of type Object which creates warnings.

https://github.com/react-native-community/react-native-elements/blob/master/src/tile/FeaturedTile.js#L134

Please clarify if that example even works

[2017-02-25 19:58] vaderdan commented on #158
A quick fix is, at least what worked for me is to add
[code]
to the card element, but then I noticed that the Card component didn't expand proportionally on the children elements in it. and I had to hardcode it's height

after a bit of digging I found if I modify `flex` style on the Card  (https://github.com/react-native-community/react-native-elements/blob/8774b94046ff135753ab85b618f3fb06842162df

[2017-02-25 20:07] binoy14 commented on #158
@vaderdan please do, we will review it. Thank you!

[2017-02-25 20:50] vaderdan commented on #158
Hi, I pull requested you - with the #200

[2017-02-25 22:10] jeveloper commented on #199
Can i propose a solution to using required variable as a parameter
that way you don't have to care where the image came from.

I normally initialize a constant once per component and then just pass it as a variable to e.g. imageSrc={_MYIMAGE}

[2017-02-26 02:17] Monte9 commented on #199
@jeveloper I tested this on my end and it seems to work for me. Let me know if this not what you are looking for.
[code]

<img width="343" alt="screen shot 2017-02-25 at 6 17 23 pm" src="https://cloud.githubusercontent.com/assets/7840686/23336485/b03931b6-fb86-11e6-8c45-6a6e0b81db9d.png">

[2017-02-26 02:19] Monte9 commented on #198
@sufuf3 That's great! Yes, I believe the files under `src/` should do.

We'll follow up on the minified files /soon.

[2017-02-26 19:08] igghera opened #201 "App crashes on Android when opening side menu (only release build)"
Submitting this issue because I love this project and I want to contribute to improving it, but this issue goes beyond my expertise. Thanks for the effort you put into this. Here is the situation.

 - I installed the library, together with the icons, as described in the instructions
 - I created a simple app, that makes use of the SideMenu element (just a list and some buttons, nothing fancy)
 - I

[2017-02-26 20:56] #201 closed

[2017-02-26 20:57] igghera commented on #201
I managed get a hold of the logs and found out the issue was not related to the side menu.
Ignore me, I got deceived by the crash happening when I opened the side menu.

[2017-02-27 01:10] DavidKongDesheng commented on #191
Actually I agree with @Monte9, just notice that if we support both would be more user friendly and will make this kit much more powerful, we haven't met the cases that react-native-vector-icons can't cover, but nothing is impossible~

[2017-02-27 01:10] #191 closed

[2017-02-27 04:39] binoy14 commented on #199
@jeveloper You have an extra curly brace in `imageSrc={{require: './assets/photo.jpg'}}` I also tried requiring local asset and it works.

That being said the proptypes for imageSrc needs to be updated.

[2017-02-27 06:42] #199 closed

[2017-02-27 12:24] RWOverdijk commented on #188
👍

[2017-02-28 01:19] binoy14 commented on #158
Fixed with #200 Thanks you @vaderdan

[2017-02-28 01:19] #158 closed

[2017-02-28 01:35] #70 closed

[2017-02-28 06:58] kenshinman opened #203 "[Feature]: Add Image Component which supports parallax"
Hi, thanks for this awesome project. I find it very useful and efficient.
I have a suggestion though, that'd be adding a parallax effext tp the `Tile` Component that fades into a Heaser of sort. Thanks

[2017-02-28 07:02] binoy14 commented on #203
@kenshinman It is on our lists, Keep an eye out for future releases.

[2017-02-28 17:49] gperdomorBot opened #204 "[TABS] Inactive tabs are not unmounted"
Hi...

I notice that inactive tabs are still mounted, exist any way to prevent that?...

[2017-02-28 21:43] MaxwellGover opened #205 "Error Raw Text “” must be wrapped in an explicit <text> component"
I'm getting this error message when trying to input a year into the title prop

`Error Raw Text “” must be wrapped in an explicit <text> component`

http://stackoverflow.com/questions/42497037/react-native-error-raw-text-1997-must-be-wrapped-in-an-explicit-text-compone?noredirect=1#comment72144666_42497037

Stackoverflow is saying the error is in the `<ListItem />` component which in that case the

[2017-02-28 21:52] binoy14 commented on #204
HI @gperdomorBot We are using https://github.com/exponent/react-native-tab-navigator for Tabs. It might be better to report it there. I will try to take a look at it as well.

[2017-02-28 21:54] binoy14 commented on #205
@MaxwellGover What component is having this issue? Can you provide code sample so we can debug it.

[2017-02-28 21:58] MaxwellGover commented on #205
The `<ListItem />` component. In my `renderRow` function it gives me an error,

`Error: Raw text "1997" must be wrapped in an explicit <text> component`

Also says `invalid prop type being passed to 'title'`

[code]

[2017-03-01 03:35] jeveloper commented on #199
hey @Monte9 thanks for checking this out

yes it works, its just 2-3 warnings would show up (blocking a part of the view) , because the result of

<Tile
  imageSrc={require('../images/sample_image.jpg')}

Is actually imageSrc is a number, binary here , PropTypes demand it be an object as  @binoy14 also mentions.

That is the bug i have filed :)

[2017-03-01 03:38] binoy14 commented on #199
@jeveloper It's fixed in https://github.com/react-native-community/react-native-elements/commit/adda797eeda811bc1b3fd7b6e6098bd3ba18abaf

Thanks for reporting :)

[2017-03-01 23:10] MaxwellGover commented on #205
@binoy14 Any updates on this issue?

[2017-03-01 23:18] binoy14 commented on #205
@MaxwellGover I know the root cause of the issue and will fix in the next release. In the mean time any number can be passed in using this

`title="`${year.year}`" ` or `title={<Text>{year.year}</Text>}`

This won't be the case in future. Thanks for reporting

[2017-03-02 17:02] sercanov opened #206 "Badge as separate component"
Good to have I think.

[2017-03-02 21:22] binoy14 commented on #206
@sercanov Not a bad idea. It might actually already be the case just not exposed. I will take a look and update you. Thanks for reporting

[2017-03-03 04:09] bexoss opened #208 "FormInput Height is not enough in Android"
I'm simulating on nexus6:5554

The FormInput Height is not enough so the characters not shown partially.

as you can see in attached picture, so I add `underlineColorAndroid='transparent' `

but problem still remained. How can I fix it?
[code]
![rnq](https://cloud.githubusercontent.com/assets/12633102/23537886/7bc73cf8-0012-11e7-8d42-39e45905a702.PNG)

[2017-03-03 06:41] Monte9 commented on #198
@sufuf3 I looked into minifying files but I am not sure what the best approach to do so is.

What problem did you run into while minifying it with uglify-js? And can you suggest an alternative? Also I am not too experienced in this regard, so if you could elaborate a bit with regard to the process that would be great.

Also @binoy14 and I help maintain this library together. So I am cc'ing him on

[2017-03-03 07:22] binoy14 commented on #198
I got minification working with webpack but I am not sure what use case you're looking to serve. As far as I know you can't require files from CDN in react maybe.

[2017-03-03 14:53] MaxwellGover commented on #205
@binoy14 Ok cool. Thanks. Great library btw.

[2017-03-03 20:00] binoy14 commented on #205
@MaxwellGover Thank you for reporting. The issue is in works. #207 is almost ready to get merged

[2017-03-04 23:03] binoy14 opened #209 "When passing styles from stylesheet in grid causes error"
![screen shot 2017-03-04 at 6 00 32 pm](https://cloud.githubusercontent.com/assets/6476108/23582931/7e88f31c-0104-11e7-9a7b-621969e707a3.png)

This is because of this code snippet

[code]

Problem Detail: When using StyleSheet.create it is a number type which is blocked by the Object.assign polyfill for performance.

Solution: Change the style to how other components in react-native-elements are.

[2017-03-04 23:11] binoy14 opened #210 "invalid style propTypes on Col and Row"
When using StyleSheet.create

[2017-03-08 20:28] #205 closed

[2017-03-09 06:11] tasharofi opened #213 "Form container border bottom on Android"
Hi all,

I am having problem changing the bottom border of the input container on Android (Working fine on iOS). When I set the style to following into containerStyle
{
    borderBottomColor: 'red'
}

this is what I get

![screen shot 2017-03-09 at 4 59 20 pm](https://cloud.githubusercontent.com/assets/23203341/23738108/399755d8-04eb-11e7-858c-e43fea4ca2af.png)

and the following
{
    borderWidth

[2017-03-09 14:15] yaronlevi opened #214 "DatePicker Or Calendar?"
Library is top notch. But a Date, Time and calendar are missing. I think they are needed in many apps. Can there be added to the roadmap?

[2017-03-10 05:26] jasan-s opened #215 "Demo for ios and android? (question)"
Is there a demo showcasing all the components for each platform?

[2017-03-10 10:47] sercanov opened #216 "[Feature] Theming & Default Styles"
It could be great to have predefined themes, maybe via config file or prop when importing. What do you think ?

[2017-03-10 10:49] sercanov commented on #216
I could with help with the PR if anyone interested btw

[2017-03-10 11:55] jasan-s opened #217 "is it possible to animate expanding search bar(question)"

[2017-03-10 12:28] jasan-s opened #218 "Sticky list sub headers"
how can i add sticky subheaders for list items. [similar to this](https://github.com/emilsjolander/StickyListHeaders)

[2017-03-10 20:29] lakhman commented on #216
@sercanov I'm also interested in this 👍

[2017-03-10 22:29] binoy14 commented on #216
We have been discussing how to do it properly. It will be part of 1.0 release and we will start working on it once we figure out how to do it properly. If you have any suggestions please let us know

[2017-03-10 22:31] binoy14 commented on #215
Check this https://github.com/dabit3/react-native-hackathon-starter

[2017-03-10 22:31] #215 closed

[2017-03-10 23:04] jasan-s commented on #215
Will it run in Windows?

[2017-03-10 23:09] binoy14 commented on #215
It should, it's a react native project

[2017-03-11 06:40] cbjs commented on #78
warn still with RNE v0.9.7

change propType of component to func will fix this.

[2017-03-11 07:44] max2three commented on #78
@Monte9 Do you want me to reopen the PR that I had closed earlier?

[2017-03-13 15:03] hafiz703 opened #219 "Help with cards"
[code]
After adding the return, I get an empty screen with a thin white bar at the top.

[2017-03-13 16:04] Monte9 commented on #219
@hafiz703 You need to return something in the render method:
Try this:
[code]

[2017-03-13 19:00] Monte9 commented on #209
Thanks for reporting the issue & submitting a PR.

The PR has been reviewed. Feel free to close the issue when you merge the PR.

[2017-03-13 19:00] Monte9 commented on #210
Thanks for reporting the issue & submitting a PR.

The PR has been reviewed. Feel free to close the issue when you merge the PR.

[2017-03-13 19:16] Monte9 commented on #195
Roadmap Features:
1. (Floating labels on FormInput)[https://github.com/react-native-community/react-native-elements/issues/94]

[2017-03-13 19:16] Monte9 commented on #94
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks.

Also you can track the status of this feature and all other roadmap fea

[2017-03-13 19:22] Monte9 commented on #110
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:23] Monte9 commented on #129
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:23] #129 closed

[2017-03-13 19:26] Monte9 commented on #47
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:27] Monte9 commented on #147
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:27] #147 closed

[2017-03-13 19:28] Monte9 commented on #15
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:31] Monte9 commented on #56
Closing this issue as PR (https://github.com/react-native-community/react-native-elements/pull/62) has been merged

The Button -> SocialIcon refactor is unrelated to this issue. @binoy14 I'll follow-up with you on this and put it on our TODO list.

[2017-03-13 19:31] #56 closed

[2017-03-13 19:33] Monte9 commented on #171
@gperdomor The Avatar Component has been added to RNE. See this PR for more details on how it was implemented> (https://github.com/react-native-community/react-native-elements/pull/197)

The avatar component should be released with v0.10. Keep an eye out for that release and follow along [here](https://github.com/react-native-community/react-native-elements/issues/195) for updated.

[2017-03-13 19:33] #171 closed

[2017-03-13 19:35] Monte9 commented on #182
Thanks for the PR @binoy14!

@abdurrahmanekr the PR has been reviewed and will me merged soon. Keep an eye out for our next release v0.10. You can follow along with updates [here](https://github.com/react-native-community/react-native-elements/issues/195)

[2017-03-13 19:35] #182 closed

[2017-03-13 19:36] Monte9 commented on #188
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:36] #188 closed

[2017-03-13 19:38] Monte9 commented on #190
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:41] Monte9 commented on #196
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to continue to use this issue to track progress.

[2017-03-13 19:41] #196 closed

[2017-03-13 19:42] Monte9 commented on #203
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:45] Monte9 commented on #206
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:46] Monte9 commented on #43
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:46] #43 closed

[2017-03-13 19:48] Monte9 commented on #214
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:49] Monte9 commented on #216
In an effort to streamline all RNE issues such that it is easier to get to solutions faster/ submit a new issue we have decided to close any enhancement/roadmap features as "issues".

Feel free to use this issue to talk about this feature and ping @binoy14 or me (@monte9) if you feel like you can submit a PR for this. Thanks in advance.

Also you can track the status of this feature and all other

[2017-03-13 19:54] Monte9 commented on #218
@jasan-s RNE currently does not have any sort of functionality similar to sticky subheaders for lists. In fact, we do not even use `ListView` in any of the components.

Although if you found a RN library that did so, you could easily use it with `<List>` and `<ListView>` components.

[2017-03-13 19:54] #218 closed

[2017-03-13 19:55] Monte9 commented on #219
@hafiz703 did that fix your problem?

[2017-03-13 20:01] Monte9 commented on #217
Yes, it's possible. Check out this repo for a quick start to animations: https://github.com/oblador/react-native-animatable

You can wrap any component with an `Animated.createAnimatedComponent` to make animated.

Closing this issue as it is unrelated to RNE.

[2017-03-13 20:01] #217 closed

[2017-03-13 20:21] Monte9 commented on #193
Closing this issue as I haven't heard back from you @durongzhang. Feel free to open up the issue again if you need help.

[2017-03-13 20:21] #193 closed

[2017-03-13 20:24] Monte9 commented on #204
Closing this issue as it's more relevant on https://github.com/exponent/react-native-tab-navigator.

[2017-03-13 20:24] #204 closed

[2017-03-13 23:42] #208 closed

[2017-03-14 04:59] yaronlevi commented on #214
Thank you very much!

[2017-03-14 05:21] hafiz703 commented on #219
@Monte9 After adding the return, I get an empty screen with a thin white bar at the top. The card can't be seen

[2017-03-14 16:29] brentvatne opened #221 "Include documentation and test against create-react-native-app"
Hello! You are going to have lots of people try to use react-native-elements with create-react-native-app, so you might want to include some documentation on how to do it. Additionally, you may want to work it into your testing workflow to make sure that react-native-elements works as expected in CRNA.

The process for using it with CRNA is the same as with Expo: https://blog.expo.io/using-react-n

[2017-03-14 18:37] sufuf3 commented on #198
@binoy14 @Monte9 We host the lib with `.js` and `min.js`.
CDNJS is the front-end development resources. And we also host [react](https://cdnjs.com/libraries/react).
So if this library provide the minified file, it would be great.

[2017-03-14 18:48] jasan-s commented on #218
@Monte9  what is the use of List component if I have to use Listview inside it? SOrry, I'm just trying to understand, why would i use it over just listview alone.

[2017-03-14 19:28] Monte9 commented on #221
@brentvatne I'll put this on our immediate roadmap. Thanks for pointing it out!

[2017-03-15 21:01] binoy14 commented on #219
@hafiz703 Is your problem fixed? Is there anything we can do to help?

[2017-03-15 21:06] binoy14 commented on #213
@tasharofi To clarify, Are you trying to change the color of the line under the input? or that when you set `borderWidth` and `borderBottomColor` the expectations are different on android and ios?

[2017-03-15 21:24] tarang9211 opened #222 "Beginner Contributions?"
Hey guys! This seems like a great place to start contributing! How can I start helping out? Are there any instructions to set up the repo and begin contributing?

[2017-03-15 22:49] sigmazen opened #223 "leftIcon: name triggering a function"
Hi
Awesome library ... really enjoying its use, and apologies for the rather basic question.
I'm trying to change the `leftIcon` in `ListItem` based on a value on the `rowData`.
For example 1=local-airport   2=local-activity

The following function is doing the demo conversion:

      category2Icon(inCategory) {
        if (inCategory === 1) return 'local-airport';
        if (inCategory === 2) re

[2017-03-15 23:07] Monte9 commented on #222
We are working on solidifying a process which is more welcoming for first contributors. Will also have a good guide to contribute to the repo.

Details coming soon. Stay tuned.

[2017-03-16 10:21] prashantham opened #226 "crna issue - unable to resolve module"
Unable to resolve module @expo/vector-icons/glyphmaps/Zocial.json

[2017-03-16 14:30] #219 closed

[2017-03-16 16:54] Monte9 commented on #226
@binoy14 did you run into this?

[2017-03-16 19:26] felipecocco opened #227 "CRNA issue -- Tab component example fails to run"
Running the tab component example in a clean build of CRNA yields the following:

![image](https://cloud.githubusercontent.com/assets/4644625/24014865/dc844adc-0a5c-11e7-9bf1-40c8771102e7.png)

[2017-03-16 20:27] binoy14 commented on #227
@felipecocco do you get the same issue when u use it with react native CLI?

[2017-03-16 20:28] binoy14 commented on #226
@prashantham that's a new one. Did you follow the instructions posted?

@monte9 I will also double check this on my end.

[2017-03-16 21:38] felipecocco commented on #227
@binoy14 Sorry, my mistake -- I did get the same error running it with the react native CLI. I failed to remove the  /* ... more tabs here */  comment, which was being interpreted as a child of the component. Deleting that line made it all work. My apologies!

[2017-03-16 21:38] #227 closed

[2017-03-16 22:45] sigmazen opened #228 "tabBarOptions activeTintColor working for Label but not for Icon"
Hi
Within the tabBar, the _label_ changes color `activeTintColor` to `inactiveTintColor`  but the _icon_ doesn't.
However, if I convert back to use the raw `{ Icon }` from `react-native` it works okay, so looks like a tiny gremlin ?

Here's the relevant code:

      tabBarOptions: {
        activeTintColor: 'white',
        inactiveTintColor: 'black',
        style: { backgroundColor: '#002663' },

[2017-03-16 22:48] binoy14 commented on #228
@sigmazen In the Icon you need to use color prop and not style prop. See the props for Icon in the documentation https://github.com/react-native-community/react-native-elements#icon-props

[2017-03-17 06:25] binoy14 commented on #223
@sigmazen Seems like you cannot use function as name. Can you try the following code snippet and see if that works.

[code]

[2017-03-17 06:26] binoy14 commented on #222
Closing this since it is not really an issue. Contributing instructions will be added soon

[2017-03-17 06:26] #222 closed

[2017-03-17 06:27] #209 closed

[2017-03-17 06:27] #210 closed

[2017-03-17 06:28] binoy14 commented on #179
@Talkwondo Seems like your problem is solved, hence closing this. If you still need help feel free to open it back.

[2017-03-17 06:28] #179 closed

[2017-03-17 06:49] prashantham commented on #226
Hi,
   I did follow the instructions as mentioned.
   But i am not able to replicate this now. Might be that expo dependency was not present in package.json.
   This issue can be close now.

[2017-03-17 08:55] prashantham commented on #226
I still do get the issue. I have a new app with runs fine on iOS app and simulator. But fails on Android device. Same as before Unable to resolve module @expo/vector-icons/glyphmaps/Zocial.json.

[2017-03-17 14:58] sigmazen commented on #223
Wow :-)   Thanks a million @binoy14  works perfectly
The concept of storing this stuff as a `const` is also a great learning for me.
Thanks again

[2017-03-17 14:58] #223 closed

[2017-03-17 15:04] sigmazen commented on #228
Awesome :-)   Not sure why I missed it in the docs :-(
Works a treat even including a nice ternary:
    `color={focused ? 'white' : 'black'}`
Thanks again @binoy14

[2017-03-17 15:04] #228 closed

[2017-03-17 19:21] binoy14 commented on #226
@prashantham I will check it on my end too. I am closing this issue as its not related to react-native-elements, rather create-react-native-app. I will follow up with issue on that repo.

[2017-03-17 19:21] #226 closed

[2017-03-18 01:05] amlcodes opened #230 "Android always looking for Roboto-Bold"
[code]

[2017-03-18 13:25] sercanov commented on #216
Hey @binoy14 ,

I have something in mind, checked out native-base's theming flow but I found it a bit complicated and time-consuming.

Here is my thoughts;
1. I think current theme of base components ( which is basically style objects ) could be exported as default theme, like `/themes/default.js`
2. Importing the base components should be done via theming gateway that wraps components to pass the

[2017-03-18 14:08] sercanov commented on #94
Consider this too ; https://github.com/halilb/react-native-textinput-effects

[2017-03-18 23:19] abrarsheikh commented on #82
@datnguyen0606 please follow the installation instruction on https://github.com/react-native-community/react-native-elements.

i ran into the similar problem when i tried to install directly using `npm isntall`

[2017-03-19 22:07] ChristianMEC opened #234 "problem on SearchBar with clear button"
Hello guys,

I am having a problem with clear button on the SearchBar.
In the SearchBar the clear button is clearing the text but is not triggering the **onChangeText** event...

[2017-03-21 01:27] betoharres commented on #234
I'm having a issue too.
After setting up the SearchBar like this:
[code]
I'm getting an error when clicking the `clearIcon` saying:
[code]

[2017-03-21 01:30] binoy14 commented on #234
@ChristianMEC I will take a look

@betoharres You need to define `inputRef` for clear function to work. Probably should be documented.

[2017-03-21 02:12] betoharres commented on #234
@binoy14 thanks for the heads up! 😄  I don't see it on the README btw. If you want I can make a PR.

After I fixed my bug I can confirm @ChristianMEC issue, it happened here too.

[2017-03-21 02:22] binoy14 commented on #234
We are using clear method on text input. It should just take care of the onChange event unless we are missing something.

@betoharres feel free to submit a PR

[2017-03-21 05:38] prashantham commented on #226
ok. I just went back with react-native init.

[2017-03-21 05:38] ide commented on #230
I'm hearing of a similar issue where Roboto-Bold can't be found on the Android device. @brentvatne suggested using `sans-serif` (maybe `sans-serif-bold`) as the `fontFamily` value since the standard Android font changes over time (same with iOS, which went from Helvetica Neue to San Francisco).

[2017-03-21 09:23] Monte9 commented on #230
@ide thanks for the suggestion. Made this PR to update the fontFamily for RNE.
https://github.com/react-native-community/react-native-elements/pull/235/files

[2017-03-21 13:04] SheppardX opened #236 "ADD Toasts"
I use your Elements and now i slide in some user interactions and wanted to use toasts for successful actions... but there are no toasts :(

[2017-03-21 21:08] binoy14 commented on #216
@sercanov Great explanation! I agree that something such as having an object to define the theme would be great. I am experimenting with [styled-components](https://github.com/styled-components/styled-components) and using [theming](https://github.com/styled-components/styled-components/blob/master/docs/theming.md) built into it. What are your thoughts on that?

[2017-03-22 04:19] bexoss opened #238 "Prevent ListItem subtitle linebreak?"
Hello, How to subtitle to set no-wrap in CSS like?

I want to fix subtitle to one line whether it is long or short.

[code]

How to do it properly? I think there is no style key 'whiteSpace' in RN.

[2017-03-22 19:39] binoy14 commented on #238
@bexoss Do you mean you want to do something like ellipsis if it is longer subtitle? http://codepen.io/chriscoyier/full/gvFGI/

[2017-03-22 23:34] szakhlypa opened #239 "FormInput width (Android only)"
By default TextInput receives width equals to window width, but it's HOC View has marginHorizontal equals to 15. That creates issue on android:
![screenshot](https://cloud.githubusercontent.com/assets/26611935/24225107/fe30c7ee-0f5e-11e7-8a74-cf61755b8ad0.png)
Also HOC View margins can be redefined using containerStyle prop.
Seems that this issue connected with #70. Maybe @binoy14 should take a lo

[2017-03-22 23:37] paulinosantos opened #240 "Ionicon icons not working"
Apparently 'ionicon' icons are not working properly. I get an 'Invalid prop name' error.

I've tried with 'font-awesome' and it's working.

<Icon name='ion-android-bicycle' type='ionicon' />

[2017-03-22 23:55] szakhlypa commented on #240
Hi @paulinosantos
Can you specify name you've tried to use?
`<Icon type='ionicon' name='ios-heart' />` works.
Also please make a note that [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons) uses [http://ionicframework.com/docs/v2/ionicons/](http://ionicframework.com/docs/v2/ionicons/) for prop names.

[2017-03-23 01:56] rodrigore opened #242 "ListView actions"
Hi, I was wondering how can I implement something like *ion-option-button* from Ionic, where I can select some item from the list and choose some actions.

![screen shot 2017-03-22 at 10 54 06 pm](https://cloud.githubusercontent.com/assets/1557305/24228401/ba0d9454-0f52-11e7-9275-c93546309b7e.png)

[2017-03-23 03:44] carlobambo opened #243 "Support ListItem avatar and icon components"

[2017-03-23 13:35] binoy14 commented on #243
@carlobambo could you please elaborate more on what do you mean?

[2017-03-23 13:37] binoy14 commented on #242
@rodrigore We do not have this implemented yet, it is in our roadmap. If you would like to help us build it, feel free to send a PR and we will review it. Thank you

[2017-03-23 13:38] binoy14 commented on #240
@paulinosantos did that solve your problem?

[2017-03-23 13:40] binoy14 commented on #239
@szakhlypa hmm makes sense. If you think you have solved the issue feel free to send a PR and I can review it.

[2017-03-23 13:44] binoy14 commented on #236
@SheppardX thanks for reporting. We are currently swamped with feature requests and this won't be on the immediate roadmap. That being said check out @dabit3 's article on [Creating A Custom Toast Module for React Native](https://medium.com/@dabit3/creating-a-custom-toast-module-for-react-native-770fd1c0dcf5) and feel free to send a PR.

[2017-03-23 17:43] joncursi opened #244 "Icon bug in Avatar component"
Bug: https://github.com/react-native-community/react-native-elements/blob/master/src/avatar/Avatar.js#L98

`icon.type` is being fed into the `name` prop on icon, which is incorrect. It should be fed into the `type` prop:

[code]

[2017-03-23 17:53] joncursi opened #245 "Why is Avatar Component using a different Icon component?"
https://github.com/react-native-community/react-native-elements/blob/master/src/avatar/Avatar.js#L9

This library has it's own `<Icon />` component which brings support for half a dozen icon libraries. Why is `<Avatar />` not using it, and instead using a font-awesome specific icon component from an external lib?

The API docs are written with *this* library's `<Icon />` component in mind:

<img w

[2017-03-23 18:03] darleikroth commented on #244
Yes. The documentation is completely different about this point.
[Avatar Props](https://github.com/react-native-community/react-native-elements#avatar-props)

`prop icon -> type ->
object {name: string, color: string, size: number, type: string (default is material, or choose one of material-community, simple-line-icon, zocial, font-awesome, octicon, ionicon, foundation, evilicon, or entypo), icon

[2017-03-23 18:58] Monte9 commented on #245
@joncursi Good catch. I was the one that worked on the Avatar component and this is clearly a mistake.

Will push a fix for it later this evening. Keep an eye out for it.

[2017-03-23 18:59] Monte9 commented on #244
Will review this as part of the fix for #245.

[2017-03-24 01:32] paulinosantos commented on #240
Thanks @szakhlypa it was a naming issue. I followed the docs in the link you provided and now I have no problem. Thanks a lot!

[2017-03-24 01:33] #240 closed

[2017-03-24 03:57] carlobambo commented on #243
Currently it supports avatar by passing Image's source attribute like `{ uri: imageUrl }`. What it is missing is Custom avatar and Custom icon components

[code]

or this one will do

[code]

[2017-03-24 04:47] Quas94 opened #246 "FormInput with keyboardType="numeric" can't lose focus"
Typically a numeric input loses focus when anything else on the screen is touched, however when using a react-native-elements FormInput, it's not possible to make it lose focus. The only way appears to be to have another non-numeric input on the screen and switch focus to that, then "return" can be pressed to get rid of the keyboard.

Tested only on iPhone via CRNA

[2017-03-24 15:44] binoy14 commented on #246
@Quas94 Is this the case with using TextInput from react native also?

[2017-03-24 15:45] binoy14 commented on #243
@carlobambo Yes, it is being worked on. We recently added the avatar component and we are working on adding the custom avatar component in the ListItem in the next release.

[2017-03-25 08:54] pewh opened #247 "`Text` imported from RNE don't support numberOfLines"

[2017-03-25 09:19] n1ru4l opened #248 "Slider element default styles broken on android"
[code]

![debug](https://cloud.githubusercontent.com/assets/14338007/24321033/cac7626a-1142-11e7-9ec5-1b8391379427.png)

I also tried to adjust the styles myself by setting the `trackStyle` and `thumbStyle` property:

[code]
There is always some gap between the thumb and the track I can't get rid of.
![debug2png](https://cloud.githubusercontent.com/assets/14338007/24321094/1a3282b6-1144-11e7-81d2-

[2017-03-25 15:01] sigmazen opened #249 "Q: avatar positioning"
Hi
I'm trying to figure out how to follow the same `flex` logic as my text and image examples.
The code is below and I'm using  `{/* ... */}`  to comment out the various sections for demo purposes.
Uncommenting `Text`  and commenting `Image` and `Avatar`  positions the text correctly.
The correct positioning also occurs for `Image`.
However, when I then try `Avatar` it messes up - the top_parent i

[2017-03-26 11:11] Radu-Filip commented on #12
I was having a similar issue, then I realized I didn't reinstall the app after adding react-native-vector-icons. So a simple` react-native run-android` fixed it for me.

[2017-03-27 03:17] carlobambo commented on #243
@binoy14 that's good. I'll wait for the release then. Thanks.

[2017-03-28 00:12] betoharres opened #251 "List Element Scroll Bug"
I'm building a app showing the bus schedules for my city(Brazil), and I was playing with this library when I came across this one problem:

![ListViewBug](http://i.imgur.com/HAt7Gla.gif)

If you scroll a little bit and try to search(which updates the list state) before the animation of scrolling ends, the ListItem will be scrolled up a little bit, and it seems that it's always the exact same amoun

[2017-03-28 06:02] camillo777 commented on #43
Why not use these components on the website?
It would be just self explaining! And cool!
So you can start with web compatibility.

[2017-03-29 12:28] LoriKarikari commented on #248
I was having the same issue on iOS and Android.
![selection_010](https://cloud.githubusercontent.com/assets/7902980/24454151/15aa7722-148b-11e7-9a8c-15c3c6ccb7cb.png)

I fixed it with the following styles:
[code]
![selection_009](https://cloud.githubusercontent.com/assets/7902980/24454155/1a166d5c-148b-11e7-8476-ab86a6a7dc7c.png)

[2017-03-29 17:43] Monte9 commented on #248
@LoriKarikari That's great! Would be great if you could submit a PR for it. I can get it merged in ASAP. Thanks.

[2017-03-29 17:45] LoriKarikari commented on #248
Okay will do.

[2017-03-29 21:49] Monte9 commented on #248
This issue has been fixed on PR #252. Thanks @LoriKarikari

I just published v0.10.3 which should have this fix.

[2017-03-29 21:49] #248 closed

[2017-03-30 08:29] mattijauhiainen commented on #213
Had the same issue. Seems like the underline color is defined as style for iOS and and as a prop for Android. So the trick is to pass the color as a android specific prop like this:
[code]

[2017-03-30 08:46] binoy14 commented on #213
@mattijaunhiainen if you have the solution, feel free to send a PR, we will review it.

[2017-03-30 08:51] tasharofi commented on #213
@mattijauhiainen @binoy14 sorry for the delayed response. Yes your solution is the right one and it resolves my problem.

[2017-03-30 08:53] kayazinc opened #253 "Dropdown or Picker component"
Is there any combobox (aka dropdown, picker) component?
eg. http://shoutem.github.io/docs/ui-toolkit/components/dropdown-menu

[2017-03-30 17:24] booboothefool opened #255 "Octicon blank on latest version"
I upgraded from 0.8.2 -> 0.10.2, which involved upgrading react-native-vector-icons from 3.0 -> 4.0, which blanked all of my `type="octicon"`. 😢

e.g.

[code]

was previously working.

`type="font-awesome"`, etc. still working.

[2017-03-30 17:39] Monte9 commented on #255
Consider looking at issues on the `react-native-vector-icons` repo. We haven't changes the way RNE consumes vector-icons. So seems most likely a change on the vector-icons side. Let me know if you come across a solution for this.

[2017-03-30 18:00] binoy14 commented on #255
@booboothefool try the solution in here if it helps,  https://github.com/react-native-community/react-native-elements/issues/183

[2017-03-30 20:49] Joshuabaker2 opened #256 "ListItem Switch Component"
It would be nice to have a Switch component available for the ListItem component for menus. Creating a PR to add this.

[2017-03-30 21:07] Monte9 commented on #256
@Joshuabaker2 You are THE definition of an ideal open-source contributor. Find something missing from a library, create an issue and also submit a PR that fixes that issue.

Gj! I'll review the PR in a bit. Let's get it merged it today if possible.

[2017-03-30 21:40] booboothefool commented on #255
@binoy14

Ah, I am on RN 0.37 trying to use react-native-vector-icons 4.0.0. Seems like I am stuck. No worries.

[2017-03-30 21:40] #255 closed

[2017-03-30 21:58] Joshuabaker2 opened #259 "[Bugfix] Can't set flex for image and wrapper in Card"
Commit #200 broke the ability to set flex for image and wrapper since it took the flex out of the parent View container. Created a PR to fix this. #258

[2017-03-31 00:44] Joshuabaker2 opened #260 "Optional text input component for list item"
It would be nice to have the ability to input text where the rightTitle is in the listitem. Making a PR for this.

[2017-03-31 03:43] ronyv89 opened #262 "Getting error when using custom view for ListItem title - `Cannot add a child that doesn't have a CSS node to a node without a measure function!`"
I am trying to use a title view instead of a string. Like this
[code]

and I am getting this error:

![screen shot 2017-03-31 at 9 12 27 am](https://cloud.githubusercontent.com/assets/346546/24535513/3c9b2b20-15f2-11e7-94cd-aac4ee3eb2f6.png)

What could be the problem?

[2017-03-31 08:17] abdurrahmanekr opened #263 "SearchBar clearIcon and showLoadingIcon are overlapped."
![](http://g.recordit.co/NDfocbIy3x.gif)
If both are present, the loading icon can be given the padding-right
How can it be a solution?

[2017-03-31 09:33] filiphosko commented on #47
@binoy14 @Monte9 I'm working on this, mostly inspired by NavigationBar (shoutem/ui) and Header (nativebase) components. I could have it done by the end of next week (I hope).

[2017-03-31 10:37] yovierayz opened #264 "Combine element with flux for navigation"
I'm new in React.
Can i added event onPress, l.nav = "Actions.pricing" to navigate using flux? i'm failed when try it.

//AppRootContainer
`<List containerStyle={{ marginBottom: 20 }}>
            {
              list.map((l, i) => (
                <ListItem
                  hideChevron={true}
                  onPress={() => {l.nav}}
                  key={i}
                  title={l.name}

[2017-03-31 13:43] sercanov commented on #216
hey @binoy14,
Yeah i think it's a better & efficient idea but I had trouble using styled-components before. I'll check it again

[2017-03-31 17:51] binoy14 commented on #216
@sercanov what trouble did you have in specific? I think v2 of styled components is right around the corner and I think it's a good idea to at least try. I'll be doing it this weekend and will share my learnings

[2017-03-31 17:54] binoy14 commented on #47
@filiphosko go for it! Let me know if you need any help.

[2017-04-01 07:16] binoy14 commented on #264
@yovierayz Is `l.nav = "Actions.pricing"` set as a string? that would not work because you are just calling a string. I would suggest creating a new function and call the Action.pricing in that function.

[2017-04-01 07:19] binoy14 commented on #263
@abdurrahmanekr Would having the ability of changing the style of the loadingIcon and clearIcon help?

cc @Monte9

[2017-04-01 07:24] binoy14 commented on #262
Based on this https://github.com/facebook/react-native/issues/12284 it could be a bug, will investigate

[2017-04-01 07:26] binoy14 commented on #253
Not currently. Will add it to the roadmap. Thanks for reporting

[2017-04-01 12:06] kotko opened #267 "Textarea??"
Does your library have a textarea?

[2017-04-01 15:48] bozzmob commented on #267
Hi, Not sure what exactly you mean by Textarea. But, if you are referring to Text component. We don't explicitly support it here, you can use the [Text](https://facebook.github.io/react-native/docs/text.html) component directly from react native and add styles that suits your UI.

I don't see any potential use of having a Text component on top of what react native already gives us. Please share yo

[2017-04-02 04:40] #259 closed

[2017-04-02 04:49] kotko commented on #267
I mean a field for entering a message, for example

[2017-04-02 05:14] #230 closed

[2017-04-02 05:30] binoy14 commented on #234
@ChristianMEC @betoharres This is issue with react native itself. I have filled an issue with react native. Closing this since it does not relate to this repo.

Ref: https://github.com/facebook/react-native/issues/13251

[2017-04-02 05:30] #234 closed

[2017-04-02 05:31] binoy14 commented on #238
Closing this due to no response. @bexoss Feel free to open it if you are still having an issue

[2017-04-02 05:31] #238 closed

[2017-04-02 05:41] #260 closed

[2017-04-02 05:47] Joshuabaker2 commented on #256
@Monte9 or @binoy14, mind taking a look at this one too? Luckily doesn't look like there's any merge conflicts with my other PRs which is nice.

[2017-04-02 06:00] binoy14 commented on #244
Closing this in favor of #245

[2017-04-02 06:00] #244 closed

[2017-04-02 06:08] binoy14 commented on #251
@betoharres I tested your repo and not having this issue. Closing this since it is not reproducible. If you are still having this issue feel free to open it again

[2017-04-02 06:08] #251 closed

[2017-04-02 06:12] #256 closed

[2017-04-02 06:45] binoy14 commented on #262
@ronyv89 I tested it in https://github.com/dabit3/react-native-hackathon-starter and it is not related to the code snippet you provided. It could be caused with some other part of your code. Closing this as it is not reproducible. If you are still having this issue feel free to open it back.

[2017-04-02 06:45] #262 closed

[2017-04-02 06:47] binoy14 commented on #43
@camillo777 It could be nice but would require lot of effort for setting it up. Maybe could be something we can look at in the next version of the site.

[2017-04-02 06:48] binoy14 commented on #267
@kotko Could you please provide the example?

[2017-04-02 06:57] luchoster commented on #267
You can just use the {TextInput} from 'react-native' and define multineline.

[code]

[2017-04-02 14:25] danielbenedykt opened #271 "Side menu seems slow on devices"
I implemented Side Menu from here and also looked at the hackaton project.
After implementing side menu, I see a big delay between the touch and the actual animation.

I am new to React Native, so is this always the case for React Native, its a problem on something I did or it's a problem on the react-native-elements ?
My UI was very simple, other than having the side menu, I just included a TEXT

[2017-04-02 16:32] binoy14 commented on #271
@danielbenedykt check out https://github.com/react-native-training/react-native-hackathon-starter and see if your having the same issue there as well.

[2017-04-03 08:26] Joshuabaker2 opened #274 "Card titleStyle proptype incorrect"
The titleStyle is for a text component, but has a View proptype currently. Making a fix.

[2017-04-03 08:35] Monte9 commented on #274
PR merged. Thanks for reporting the issue @Joshuabaker2!

[2017-04-03 08:35] #274 closed

[2017-04-03 11:06] Monte9 commented on #244
PR #269 has been merged!

[2017-04-03 11:07] Monte9 commented on #245
PR #244 has been merged. This fix should be out in our next release `v0.11.0`

[2017-04-03 11:07] #245 closed

[2017-04-03 13:07] betoharres commented on #251
Sorry, I forgot to close this. I pushed a commit fix to the problem where I was wrapping the `ListView` tag from `react-native` with the tag `List` from react-native-elements. That's why it probably you couldn't reproduced, sorry again for late response.

[2017-04-03 16:09] yeknava commented on #43
i can help with this too, i have some backend knowledge also if needed, ping me for any help.

[2017-04-03 17:06] Monte9 commented on #43
@yeknava thanks for offering. We are using MKDocs to generate the website using the Readme.md

It's already live. You can check it out here: https://react-native-training.github.io/react-native-elements/

With that being said, I am curious to know what you think about it? If you could refactor it to make it friendlier & easier to read for beginners, how would you do it?

[2017-04-03 17:33] binoy14 commented on #251
@betoharres no worries, looks great by the way!

[2017-04-03 17:42] betoharres commented on #251
Thanks!!

[2017-04-03 18:15] cmaas opened #277 "List, ListItem: Double borders and borders too thick"
Two issues with lists (tested on iOS only, iPhone 7):

1. Border width is specified as 1. This is too big. Actual lines in iOS are **1px @2x**, but since React Native calculates at @1x, it has to be set to 0.5 The screenshot below shows my change and how it'd be correct. It might require a bit of a color tweak, because with a 1px line, the subtle grey can hardly be seen.

2. The last ListItem also

[2017-04-03 18:25] Monte9 commented on #196
This issue is resolved. @binoy14 created and merged PR #231 for it.

[2017-04-03 18:27] tarang9211 commented on #190
@nebula-ai Opening this issue again for easy accessibility.

[2017-04-03 18:29] Monte9 commented on #277
@cmaas this is great feedback! Seems like a quick fix and it will result in more visual polish. I like it.

I'll work on it and tag you on the PR. Stay tuned.

[2017-04-03 19:36] yeknava commented on #43
@Monte9 its fine for this version, for UX reasons i think API menu should be open by default and by scrolling i like to see left menu change its active item, also if site uses full of screen in width it will be better in my eyes.
later we can use `react native web` to let user work with components on doc.

[2017-04-03 20:48] camillo777 commented on #43
Also home page is too long.
Should be split into different pages like it is when clicking on the Api
menu items.
Camillo

Il 03 Apr 2017 9:36 PM, "yeknava" <notifications@github.com> ha scritto:

[2017-04-03 20:52] binoy14 commented on #43
@camillo777 yes your right, our plan is once release is merge we will change the home page to be more website friendly

[2017-04-03 21:00] Monte9 commented on #43
@camillo777 @yeknava That's great feedback! Thanks.

Do you both wanna help us make the website awesome 💯 ?

[2017-04-03 21:19] camillo777 commented on #43
Yes sure, I would be pleased to help!
Camillo

[2017-04-03 21:19] KeabetsweFx opened #278 "React Native's KeyboardAvoidingView not responding for FormInput"
I'm using multiple  FormInput  on the same page and when an input gains focus and the keyboard is triggered to slide up it covers my inputs. I've tried to handle this by using react native's KeyboardAvoidingView as my form container but the keyboard still covers my Inputs. What could be the reason for this, does it have anything to do with the  FormInput's  default styling or my container?

Below

[2017-04-03 23:49] Monte9 commented on #43
Awesome @camillo777.

I'll put together a list of "good first task" TODO list for the website. Will add it here once I do so.

[2017-04-04 05:44] camillo777 commented on #43
Hi. I have uploaded a video of mobile rendering on Android it seems there is some layer missing on the menu header; it should not scroll the background :

https://youtu.be/Sbt0JC2GJVo

And I would advice that, on mobile,  tapping out of the menu would automatically close the menu without have to click on the arrow.
With big screen phone it is annoying to go from right edge to left edge of the phon

[2017-04-04 05:54] binoy14 commented on #43
@camillo777 great catch but I think it truly belongs to be reported here https://github.com/squidfunk/mkdocs-material we are using mkdocs material theme. We did not customize it yet

[2017-04-04 08:56] filiphosko commented on #47
@binoy14 Sure, I will. Currently I'm analysing another already existing solutions ([NativeBase Header](http://docs.nativebase.io/COMPONENTS.html#Header_Default), [Shoutem UI NavigationBar](https://shoutem.github.io/docs/ui-toolkit/components/navigation-bar), [Community Navbar](https://github.com/react-native-community/react-native-navbar)). They offer different approaches and I would like to discu

[2017-04-04 10:20] yeknava commented on #43
@Monte9 sure

[2017-04-04 10:25] cmaas commented on #277
@Monte9 Check this out, there's a helper that specifies the minimum width per platform called `hairlineWidth`: https://facebook.github.io/react-native/docs/stylesheet.html#hairlinewidth
Example:
[code]

[2017-04-04 14:54] bozzmob commented on #267
Hi @kotko , Luchoster 's solution looks universally good. You can surely style it the way you want(or how well it would match with your app).

I would be closing this issue, as the solution looks good to me. Let me know if you need any more help.

[2017-04-04 14:54] #267 closed

[2017-04-04 14:57] bozzmob commented on #247
Thanks for reporting the issue @pewh . This has been addressed in `v0.11.0` as a part of #270 .

[2017-04-04 14:57] #247 closed

[2017-04-04 15:09] wjgilmore opened #279 "Overriding Button with custom component"
Hi,

I'm at wits' end here and so thought I'd ask for some expert advice. I'm using the excellent React Native Elements package along with [React Navigation](https://github.com/react-community/react-navigation). Everything is going great except I can't figure out how to override the Button component for use in the react-navigation StackNavigator nav bar. I've confirmed the problem isn't due to rea

[2017-04-04 15:19] Monte9 commented on #195
## 1.0 Release Features:
1. Support importing specific components from RNE
2. [Add Theming & Default Styles](https://github.com/react-native-community/react-native-elements/issues/216) - NOT STARTED

[2017-04-04 18:01] binoy14 commented on #279
@wjgilmore Are you looking for replacing the Button component with something such as TouchableHighlight, TouchableOpacity, etc? take a look at the component prop on the button https://github.com/react-native-training/react-native-elements#button-props

[2017-04-04 18:08] wjgilmore commented on #279
Oh aha @binoy14 thank you for pointing this out. I was under the impression this could *only* be set to TouchableHighlight or TouchableNativeFeedback based on the device (to be clear I understand this is automatically set, but didn't realize it could be set to other component types). Thank you so much!

[2017-04-04 18:08] #279 closed

[2017-04-05 03:56] manhhp opened #280 "How to refer to key of List, ListItem"
Could you show me how to refer to key of ListItem? I dont know how to refer to key, pls give me example also. Thank you!

[2017-04-05 04:31] #195 closed

[2017-04-05 04:41] binoy14 commented on #206
This should be very easy for anyone to do. The badge component already exits.

https://github.com/react-native-training/react-native-elements/blob/master/src/badge/badge.js

To implement this import the component in the below file and update documentation.

https://github.com/react-native-training/react-native-elements/blob/master/src/index.js

[2017-04-05 04:44] binoy14 commented on #264
@yovierayz Closing this issue since it doesn't sound like it as a bug with the library. If you are still having an issue feel free to open it back.

[2017-04-05 04:44] #264 closed

[2017-04-05 04:46] binoy14 commented on #271
@danielbenedykt Closing this issue since we use https://github.com/react-native-community/react-native-side-menu and it would be best suited to report it there. If you are still having an issue with this library, feel free to open this again

[2017-04-05 04:46] #271 closed

[2017-04-05 04:51] binoy14 commented on #280
@manhhp could you please elaborate on you do you mean by key of ListItem?

[2017-04-05 07:33] manhhp commented on #280
@binoy14, i use list element to populate my users list. I want when click on listitem app will navigate to user details scene;

I try to pass my user ID on key props of ListItem and call it back on onPress event. But i dont know how to refer to it.

Or Are there anyway else ? Please help me

This is my code:

[code]

[2017-04-05 14:04] bozzmob commented on #280
Hi @manhhp, The list component supports `key` attribute by default. Please refer to the documentation for more details. Here is a quick example-

Using List with `map`
[code]
or
Using `ListItem` for each row.
[code]

Will be closing the issue, write back to us in case you need more information.

[2017-04-05 14:04] #280 closed

[2017-04-06 01:46] #246 closed

[2017-04-06 06:37] Monte9 commented on #47
@filiphosko that's great. Thanks for doing it.

Feel free to post your findings here and we can talk about the implementation details if necessary. @binoy14 and I are actively working on this repo and have some bandwidth. So let us know if you need any help in developing this component so we can ensure that we get this out in a timely manner.

[2017-04-07 14:37] camillo777 commented on #43
yes, but I do not know what version you are using

2017-04-04 12:20 GMT+02:00 yeknava <notifications@github.com>:

[2017-04-07 14:43] binoy14 commented on #43
Take a look at v0.11.0 that has all the latest code. Once you clone it locally and install all the requirements.

`pip install mkdocs mkdocs-material pymdown-extensions`

You can run it locally using `mkdocs serve` feel free to make any PRs to v0.11.0 branch

[2017-04-07 15:17] binoy14 commented on #278
Could you provide with a sample in https://snack.expo.io so it will be easier for us to see the problem

[2017-04-07 19:35] Monte9 commented on #43
@camillo777 @yeknava This is prob a good place to start:

1. Refactor readme to link directly to the docs and get rid of all the API stuff from the readme.
2. Updating docs folder with latest readme changes
3. UI polish
4. Other enchantments?

[2017-04-08 10:11] camillo777 commented on #190
But will this notification show up on a mobile phone even if the app is minimized or closed?

[2017-04-08 10:39] RWOverdijk opened #284 "List pull to refresh + infinite scroll"
I really love the list component but I have a question.

Before react-native-elements, I used list view with RefreshControl. This worked fine, but looked ugly. I also used infinite scroll to load more content.

I felt like this only rendered the items in the viewport, to optimize performance. I have large data sets and need this behavior.

So I guess my question is singular: what's the best way to

[2017-04-08 12:14] RWOverdijk commented on #284
Never mind. I'm an idiot, it's in the readme. I just completely missed it.

In case anyone else is ever also an idiot, and finds this issue:

[code]

[2017-04-08 12:14] #284 closed

[2017-04-09 04:54] binoy14 commented on #190
@camillo777 No, that's a push notification and that's not what this component intends to do. If you are interested in push notification check out http://facebook.github.io/react-native/releases/0.43/docs/pushnotificationios.html#pushnotificationios

[2017-04-09 14:28] filiphosko commented on #47
Sorry for the delay, work stuff got me. Here is some humble 'research' but I'm sure you know all of that already. What is really important for me to know is how would we handle passing in of nav elements and the possibility of 'default layout'.

## Existing solutions

***[React Native Navbar](https://github.com/react-native-community/react-native-navbar)***

It uses 'configuration objects' as prop

[2017-04-09 23:07] Monte9 commented on #190
In regards to this feature, check out @dabit3 's article on [Creating A Custom Toast Module for React Native](https://medium.com/@dabit3/creating-a-custom-toast-module-for-react-native-770fd1c0dcf5). It's pretty detailed and well explained.

Will glad accept a PR and help review it in case anyone wants to own this. /cc @nebula-ai

[2017-04-09 23:10] Monte9 commented on #236
We are looking to implement "custom toasts" soon. Since this issue closely resembles it, I am closing this. Follow along [here]( #190 )

[2017-04-09 23:10] #236 closed

[2017-04-10 07:05] DavidKongDesheng commented on #213
Any updates on this issue?

[2017-04-10 21:19] tarang9211 commented on #206
@binoy14 I'll take this up.

[2017-04-10 21:28] Monte9 commented on #206
@tarang9211 you might have to do some refactoring as part of this issue;
1. Refactor props to use ES6 spread
2. Flush this component out a little bit to make it more customizable.

[2017-04-10 21:52] binoy14 commented on #206
@tarang9211 @Monte9  #285 takes care of Number 1.

[2017-04-10 21:58] binoy14 commented on #213
@tasharofi @mattijauhiainen If we add a prop on FormInput `underlineColor` and make sure it is applied both on android and ios does that make it easier? I am still not 100% sure about what the issue is so if someone can make a [snack](https://snack.expo.io/) it would be a great help.

[2017-04-10 22:05] Monte9 commented on #213
@binoy14 everytime someone mentions `snack`, it makes me hungry. Is that the intended effect? 🤔

[2017-04-11 01:15] tasharofi commented on #213
@binoy14 The initial problem was the inconsistency between ios and android when it comes to setting the border bottom color. I had issues with the following style behaving strangely on android

{
borderWidth: 1,
borderBottomColor: 'red'
}

but then realised by simply setting the underlineColorAndroid I can get what I want. Just to let you know that this property is already supported and can be set

[2017-04-11 03:06] Monte9 commented on #213
Thanks for the solution @tasharofi.

Let me know if this works for you @DavidKongDesheng and we can close this issue.

[2017-04-11 05:55] camillo777 commented on #43
I have got an answer for the mkdocs-material theme:

"As written, sadly the scroll-through is not fixable. However, I provided a fix for the unresponsive overlay which was fixed with #264 and is now in master. Can you test it? I can only test on the Android emulator and it may not be accurate enough."

And There should be a new release fixing some layer stuff:

"Fixed and released in 1.5.4"

[2017-04-11 05:57] DavidKongDesheng commented on #213
Thanks @Monte9  @tasharofi, works fine me.

[2017-04-11 06:39] #213 closed

[2017-04-11 18:50] tarang9211 commented on #206
what exactly needs to be done for this?

[2017-04-12 07:20] carlobambo opened #292 "ListItem: Support number of lines for subtitle and title"
Right now this can be done by passing a Text element as title and subtitle, but doing so does not inherit the ListItem's title and subtitle style.

[2017-04-12 07:31] binoy14 commented on #292
@carlobambo Thanks for the suggestion

[2017-04-12 08:29] Monte9 commented on #249
Snack demo here: https://snack.expo.io/ByOuIeGTg

[2017-04-12 08:30] Monte9 commented on #249
@sigmazen I am not sure I totally understand what the problem is. Can you briefly explain it again? Also feel free to change the snack example above to demonstrate the bug.

[2017-04-12 09:19] carlobambo commented on #292
or maybe it would be more configurable if we support subtitleTextProps or titleTextProps?

[2017-04-13 05:46] telmen opened #296 "Usage with create-react-native-app"
When I tried to use SocialIcon, I've faced the error which is FontAwesome is not system default font, it's not loaded with Font.loadAsync. I believe CRNA comes with @expo/vector-icons. Please tell me how to use this library with CRNA?

[2017-04-13 06:21] telmen commented on #296
Okay, got it working by loading all font files in app root using Font.loadAsync({
          'FontAwesome': require('../node_modules/@expo/vector-icons/fonts/FontAwesome.ttf'),
})

[2017-04-13 06:31] #296 closed

[2017-04-13 06:35] binoy14 commented on #296
@telmen I tried it on latest release and I did not have to do that

[2017-04-13 06:37] telmen commented on #296
Could you show me a version of CRNA, Expo?

[2017-04-13 06:51] binoy14 commented on #296
@telmen

"exposdk": 15.0.0
"react-native-scripts": "0.0.27"
"create-react-native-app": 0.0.6

[2017-04-13 15:41] gregblass opened #298 "Is there a way to have the search element not be sticky?"
I've got a listview below my searchbar that scrolls. Is it possible to have it scroll up with that listview? Just like messages (text messages) on iOS?

[2017-04-13 15:52] gregblass commented on #298
Just render the search bar in renderHeader in the list view! Done and done.

[2017-04-13 15:52] #298 closed

[2017-04-13 19:33] Monte9 commented on #298
@gregblass answering your own questions. I like it. hah

[2017-04-13 19:59] RWOverdijk commented on #95
I can't seem to find how to get rid of the margin

[2017-04-13 22:09] binoy14 commented on #198
@sufuf3 Take a look at this file https://github.com/react-native-training/react-native-elements/blob/master/build/bundle.js does that work?

[2017-04-13 23:38] binoy14 commented on #95
@RWOverdijk did you try using containerStyle ? take a look at the props https://react-native-training.github.io/react-native-elements/API/lists/#list-props

[2017-04-14 01:08] sufuf3 commented on #198
@binoy14 It's awesome. Thank you for your great work.

[2017-04-14 03:57] binoy14 commented on #198
Your welcome, Closing this issue. Let me know if you need anything else

[2017-04-14 03:57] #198 closed

[2017-04-14 06:04] dgdosen opened #300 "Grid 'hiding' elements?"
I'm trying to use a grid to position react native components side by side (FormLabels).   If I don't use a grid, I can see that content.

However, If I place those FormLabels in a Grid Column, they don't show up on in my ux.  Should that be the case?

As part of my render:

[code]

Should form labels be viewable in a grid?

[2017-04-14 06:55] RWOverdijk commented on #95
@binoy14 Yeah I'm an idiot. Sorry

[2017-04-14 08:27] chrise86 commented on #234
I'm still having problems with the clear button:

[code]
I have tried adding `ref` and `inputRef` (as you can see above) but still getting:

    undefined is not an object(evaluating `this.refs[ref].clear`)

[2017-04-14 08:32] chrise86 commented on #234
It might be worth mentioning here that the required ref is `textInputRef`, not `inputRef`.

[2017-04-14 09:04] karanjthakkar opened #301 "Allow passing a component to rightIcon/leftIcon in ListItem"
### Description

1. Explain what you did
- I'm using the ListItem component but want to able to use custom icons for my `leftIcon`/`rightIcon` chevrons

2. What you expected to happen
- I thought it would allow passing a React component

3. What actually happens
- ListItem only allows an object with type and/or name properties to define which icon to use amongst the one provided by react-native-ve

[2017-04-14 18:17] Monte9 commented on #301
This sounds like a good idea. It's one thing I want use to do more in our codebase, which is to allow passing in components for props where it makes sense to do so.

This should be fairly straightforward. It would be great if you could submit a PR for this. @binoy14 and I can help review it and get it merged in.

[2017-04-14 18:30] tristanpemble opened #302 "TypeScript support"
Do you plan to support TypeScript definitions with this project?

I'm currently working on building out my own definitions. If you'd like, when I am done, I can submit a pull request to include them as official definitions. This would mean, however, that they should be maintained with the project as it develops. Alternately, I can just submit them to DefinitelyTyped as third-party definitions.

[2017-04-14 18:33] binoy14 commented on #234
Oh sorry, thanks for the correction @chrise86

[2017-04-14 18:36] binoy14 commented on #302
@tristanpemble we don't have an immediate plan to support it. If you would, please send a PR and we can merge it in. Thanks

[2017-04-15 06:41] binoy14 commented on #47
@filiphosko I think we should have an API similar to React native navbar since it is similar to how navigation libraries such as react navigation. That is also similar to API in our other components

[2017-04-15 15:26] joncursi opened #304 "[Avatar] icon -> type prop should default to 'material', not 'font-awesome'"
Every other component that uses `<Icon />`, [including the `<Icon />` component itself](https://react-native-training.github.io/react-native-elements/API/icons/), uses `material` as the default icon library if no `type` is specified. Avatar should be no different.

See: https://github.com/react-native-training/react-native-elements/blob/master/src/avatar/Avatar.js#L100

[2017-04-16 07:56] nonameolsson opened #308 "Support for react-navigation"
Hi!

Does react-native-elements have support for react-navigation? A good example is [react-native-material-bottom-navigation](https://github.com/timomeh/react-native-material-bottom-navigation#usage-for-react-navigation) which has a nice API to use it with react-navigation.

I'm thinking of the [tabbar](https://react-native-training.github.io/react-native-elements/API/tabbar/) element.

[2017-04-16 10:57] RWOverdijk opened #309 "Search in docs"
Hey!

I really like react-native-elements, and the new docs. I liked the readme style more personally, but I get the new page.

What (personally) really sucks though, is the hijacking of search. I want to search on-page, and now I can't. It's _really_ annoying.

[2017-04-16 14:54] JohnAntonusMaximus opened #311 "Can't Compile Card Component Styles On Android Device"
So I've been kind of pulling my hair out on this. I'm using Expo IDE to build and simulate my react-native app. I'm using react-native elements, specifically just Button and Card. The app, builds fine when I run it on in the Expo Client for iOS, but as soon as I try to run it on the Expo Client for Android, I get red screen errors all over the place.

**The first error:**

"Invalid undefined 'font

[2017-04-16 16:05] nativedone commented on #311
Yeah, I had the same problem with `"Invalid undefined 'fontFamily' of type 'object' supplied to 'StyleSheet.featuredTitle', expected 'string'.`

I was already submitting a PR with the same solution that you mentioned. But, I saw that #307 will fix it :smile: