[2019-08-03 05:47] #1688 closed

[2019-08-03 08:19] iRoachie commented on #1724
Seems to do this we'd have to bundle and transpile all our dependencies as well. See https://github.com/react-native-training/react-native-elements/issues/1808#issuecomment-469387205 for reference.

[2019-08-03 08:19] #1724 closed

[2019-08-03 08:25] iRoachie commented on #1954
This is fixed now on next. `avatarStyle` and `overlayContainerStyle` should behave the same on both platforms now. This was because the Image Component had a different layout on iOS and Android. See (https://github.com/react-native-training/react-native-elements/commit/e2795821fa85bbce48282b9c92d2260658d5c35e#diff-db91516ae3fd33db904a11400a5e19e4)

Will be available in 1.2.0

[2019-08-03 08:25] #1954 closed

[2019-08-04 03:55] alexakasanjeev commented on #1902
Thanks :)

[2019-08-04 04:35] vincegnzls opened #2000 "Image placeholder in android, always showing"
**Explain what you did**
I have an Image component and I added a PlaceholderContent in it. Please see code below for reference:

const spinner = () => {
        return (
            <View style={{alignItems: 'center', 'justifyContent': 'center'}}>
                <Spinner color='#fff' />
            </View>
        )
    }

styles.image = {
        width: responsiveWidth(13),
        height: respo

[2019-08-04 04:44] vincegnzls commented on #2000
The image has a transparent background with png file extension.

[2019-08-05 02:21] iRoachie commented on #2000
Already fixed in the upcoming version. https://github.com/react-native-training/react-native-elements/pull/1992

[2019-08-05 02:21] #2000 closed

[2019-08-05 20:56] dmargu opened #2002 "supplying invalid prop to subtitle (callback function)"
*Explain what you did**
So I am conditionally rendering the subtitle based on if my listitem has a date prop. That's all fine except then if it does have a date prop I want to format the subtitle depending on if it is the current day or not (so like nested conditional rendering).

**Expected behaviour**
It works perfectly fine I am just getting a warning saying I supplied an invalid prop type. I b

[2019-08-05 22:10] iRoachie commented on #2002
Why wrap it in braces?

Can't you return:

[code]

[2019-08-06 00:44] dmargu commented on #2002
When I try doing that I get-

Invariant violation: text strings must be rendered within a text component.

However when I do it the way I posted it actually works completely fine it just gives me the warning.

[2019-08-06 04:15] iRoachie commented on #2002
Can you create an example on https://snack.expo.io that reproduces this?

[2019-08-06 04:42] aaronmgdr opened #2003 "Header backgroundImage incorrect prop type?"
**Explain what you did**

I used the `Header` component's `backgroundImage` prop to add a background image

[code]
This works however I get a proptype warning about how it should be an object (see bug description)

**Expected behaviour**
`backgroundImage` of `Header` can accepts the same type of prop as the `source` prop of `Image`

**Describe the bug**

When I use `backgroundImage={require("./ass

[2019-08-06 04:50] #2003 closed

[2019-08-06 04:50] iRoachie commented on #2003
Just fixed on `next` branch. Will be available in 1.2.0

[2019-08-06 09:43] danwhite-ad opened #2004 "Avatar - Add option to disable fade animation"
Require the ability to disable fade between icon and source. I am setting the avatar source within componentDidMount (fetching from cache), but I am experiencing a fade between the set icon and the fetched source which is a jarring user experience.

[2019-08-06 12:00] iRoachie commented on #2004
Fade in is the expected behaviour which is the direct opposite of jarring user experience. This can't be disabled at the moment. The avatar uses the RNE Image under the hood.

We may consider adding a prop to disable it if any more request come in

[2019-08-06 14:19] dmargu commented on #2002
https://snack.expo.io/HJuZh-vmS

Here is the snack, I don't see a warning on the snack but I do every time I run it on the iphone (real device or simulator).

[2019-08-06 16:18] danwhite-ad commented on #2004
The issue I am having is that I have an image in cache, but because of the fade it is making it appear that the image is being remotely fetched every time the component is loaded.

[2019-08-07 00:48] iRoachie commented on #2004
Gotcha! That makes sense. It wouldn't be able to do in this next release though

[2019-08-07 00:58] iRoachie commented on #2002
That's because you are not actually calling the renderDate method instead you are just passing a function as a prop.

` this.renderDate.bind(this)` is a function and not executing the function. This is why you get the propType warning.

Instead you can either use class properties:
[code]

Or call the binded function:
[code]

[2019-08-07 08:32] FDiskas commented on #349
Do not use lambda functions like `onPress={() => this.onPress(person.name)}` bad performance on big list.

[2019-08-07 13:50] zivchen opened #2006 "(Web) Bundle size increases becuse of pre importing all fonts from vector icons"
**Is your feature request related to a problem? Please Describe.**
I only use MaterialIcon but because of getIconType.js preloads all fonts my bundle size increases by 200KB (its the glyphmaps json files of the fonts).
I imagine its the same for native but its more significant on the web.

**Describe the solution you'd like**
Basically if i don't use a font don't load it

**Describe alternatives y

[2019-08-07 14:08] jgutierro commented on #1986
same issue here

[2019-08-07 14:47] iRoachie commented on #2006
Not sure how you are loading your fonts on the web but it doesn't load fonts by default. See create-react-app example https://github.com/iRoachie/rnw-cra-playground.

You have to manually include fonts https://github.com/iRoachie/rnw-cra-playground/blob/master/src/App.js

[2019-08-07 15:48] zivchen commented on #2006
Hi @iRoachie
I load my fonts the same way as in the instructions in the links.
The 200kb is not the font itself but glyphicons (json file which are the map to the fonts), they are added to the code because of the import of fonts in getIconType.js (see image)
<img width="684" alt="Screen Shot 2019-08-07 at 18 44 56" src="https://user-images.githubusercontent.com/983093/62637353-f53eed00-b943-11e9-9

[2019-08-07 16:21] iRoachie commented on #2006
Ahh i get you. Currently it's not possible to do that at the moment. However there's a discussion going on about how we can support this better going forward. See #1613

[2019-08-07 16:28] dmargu commented on #2002
Yes! Adding the extra parenthesis and calling the function fixed the problem. Thank you very much for your help!

[2019-08-07 16:28] #2002 closed

[2019-08-08 21:23] bdombro opened #2007 "Export ThemeContext so it can be used with useContext"
**Is your feature request related to a problem? Please Describe.**
I use Hooks and Typescript, and wrapping all of my components with withTheme is ugly.

**Describe the solution you'd like**
It would be nice if we simply exported ThemeContext from ThemeProvider.

**Describe alternatives you've considered**
I'm currently using npm:patch-package to monkey patch this package.

[2019-08-09 13:21] bdombro commented on #2006
@iRoachie is anybody working on this? If not, are there plans for anyone to work on this soon?

I guess what I'm really getting at, is is there a roadmap somewhere? :-P. I'd probably like to contribute soon and knowing the roadmap would be helpful for that.

[2019-08-09 14:24] bdombro commented on #1542
FYI I think it somewhat does this already, just not all style attribs are supported. For example, the following will make ALL Text elements italic by default, including h1,h2,h3 and h4.

[code]

[2019-08-09 15:11] iRoachie commented on #1542
All components don't use the `Text` component.

[2019-08-09 18:06] iRoachie commented on #2006
I don't think anyone's working on it, it was just at a discussion phase. We've never had an official roadmap. You have any examples of open source projects that do?

[2019-08-11 06:57] bsatria opened #2009 "Avatar - anomaly change backgroundColor for container editButton"
**Explain what you did**
i'm trying to change backgroundColor for container editButton in Avatar Component,  its work but not fully change a circle of editButton.

**Expected behaviour**
can fully change the container of backgroundColor in editButton

**Screenshots**
<img width="188" alt="Screen Shot 2019-08-11 at 13 49 43" src="https://user-images.githubusercontent.com/15060063/62830861-e2783100-

[2019-08-12 00:04] iRoachie commented on #2009
The prop you should use here is just the style attribute.

[code]

See example https://snack.expo.io/@roach_iam/smiling-sandwich

[2019-08-12 01:40] ugglr commented on #884
This helped me to solve the same problem! Thanks! 😊

[2019-08-12 01:45] saxenanihal95 commented on #1886
may i work on this one ?

[2019-08-12 01:48] iRoachie commented on #1886
Sure, what's your plan on how to fix it?

[2019-08-12 01:52] saxenanihal95 commented on #1886
I think the way @michael-stern mentioned:
to pass buttonStyle as third argument in styles.button(type, theme)

[2019-08-12 01:53] iRoachie commented on #1886
Coool, try fixing it and see. If you get stuck you can definitely report back here

[2019-08-12 01:54] saxenanihal95 commented on #1886
ok

[2019-08-12 04:41] Jatapiaro opened #2010 "Is there a way to slide a ListItem to show a button?"
I'm looking for some feature like this using ListItem:

https://koenig-media.raywenderlich.com/uploads/2014/01/iOS-Simulator-Screen-shot-Nov-28-2013-1.06.41-PM-213x320.png

Is there a way to achieve this?

[2019-08-12 04:42] iRoachie commented on #2010
Not possible at the moment. Dup of #242

[2019-08-12 04:42] #2010 closed

[2019-08-12 04:48] saxenanihal95 commented on #1886
@iRoachie
I have tried passing the buttonStyle

![Screenshot from 2019-08-12 10-12-06](https://user-images.githubusercontent.com/17348595/62845968-1dcf3a00-bcea-11e9-88a2-38134929d090.png)

and override it like this

![Screenshot from 2019-08-12 10-12-40](https://user-images.githubusercontent.com/17348595/62845979-363f5480-bcea-11e9-97c5-4779b2184b97.png)

but problem with that is when we pass but

[2019-08-12 05:28] Prateek93a commented on #1980
Hello world, since the issue is still open, can I work on this, as my first coding open source contribution?

[2019-08-12 08:20] Prateek93a commented on #1980
I tested the Tile component particularly and fontSize worked fine, I guess the issue has been resolved already

[2019-08-12 08:26] Prateek93a commented on #2004
Can I work on this one?

[2019-08-12 10:17] iRoachie commented on #1886
I think that’s what the OP is requesting

[2019-08-12 10:18] iRoachie commented on #2004
Sure go ahead. This will need to be a prop on the Image component

[2019-08-12 12:35] Prateek93a commented on #2004
Ok

[2019-08-12 15:03] bsatria commented on #2009
thanks, @iRoachie its work, but I don't see prop style in Icon documentation, and then what the purpose of containerStyle? the containerStyle not working.

[2019-08-12 15:41] iRoachie commented on #2009
`containerStyle` is for changes like margin. It mainly for controlling how components around it are affected.

[2019-08-12 17:48] Prateek93a commented on #2004
Sir, thanks for providing me the chance to make my first coding open source contribution. Sir, according to my solution, there is a AllowFadeIn(a boolean) prop on Avatar component, and according to its value, fadeDuration prop of Image component imported from image folder, will be set to 0(if true) or 300(default value if false). Is it fine, or can we do something better?

[2019-08-12 18:05] joelfsreis commented on #1303
+1

[2019-08-12 18:36] Prateek93a commented on #2004
Also kindly explain me why we are using onLoadEnd in the Image component

[2019-08-12 20:27] immackay commented on #1980
On which platform? The h4 prop is still there, this issue has not been touched as of yet.

[2019-08-13 12:33] iRoachie commented on #2004
The Image component has 2 parts, the underlying image and a placeholder view above it. The `onLoadEnd` function is called when the Image loads then we gradually fade the above placeholder.

[2019-08-13 13:00] robert-bo-davis commented on #1886
Try this instead:

[code]

[2019-08-13 15:02] bdombro commented on #2006
Not off hand, but I would think big ones do. Maybe I'm more thinking sponsored open source projects. Thanks!

[2019-08-13 15:11] stephenstewart-ca opened #2013 "Will removing the opencollective-postinstall module installed by npm with react-native-elements break anything?"

[2019-08-13 15:17] iRoachie commented on #2013
What's the issue you're asking? Removing opencollective-postinstall doesn't change anything

[2019-08-13 15:37] stephenstewart-ca commented on #2013
To be clear, do I have your assurance that removing the opencollective-postinstall module installed in my project by npm with the react-native-elements module won't break anything?

[2019-08-13 15:40] iRoachie commented on #2013
It's not needed for the library to run, so if it is removed the library would still work. However, we still want to include it. It lets users know that we have an open collective and how they can contribute to the development of the library.

[2019-08-13 15:56] stephenstewart-ca commented on #2013
That's fine, you included it. I got the message. If I use react-native-elements, I'll contribute to your open collective, but I don't want your message to users in my project. If you can live with that, I'll delete the opencollective-postinstall module in my project and evaluate react-native-elements.

If the opencollective-postinstall can't be deleted from my project, either because it will break

[2019-08-13 16:35] iRoachie commented on #2013
Your users are developers?

React Native Elements is an open source library. In the true nature of open source if you don’t agree with something you’re free the fork the project and maintain your own fork. You threatening to delete react native elements from your project has no effect on me or any of the contributors. The project aims to provide value to users. If you don’t find value from it then

[2019-08-13 17:41] stephenstewart-ca commented on #2013
"Your users are developers?"

Of course not. My users use apps that might include react-native-elements if, among other things, opencollective-postinstall is removed from the library.

"You threatening to delete react native elements from your project has no effect..."

No threat intended.

1. Developers report errors thrown by opencollective-postinstall during development with react-native-elemen

[2019-08-13 19:56] iRoachie commented on #2013
Postinstall scripts don't affect actual users of the app or whatever you're building. The user has no idea these scripts even exist.

Open collective doesn't have any negative effects on developer UX. The issues we had before were with another opencollective library which we changed out. See https://github.com/react-native-training/react-native-elements/pull/1410. We then made a second change wher

[2019-08-13 20:14] stephenstewart-ca commented on #2013
Stop. May I remove opencollective-postinstall from react-native-elements? Yes or no. Pick one.

[2019-08-13 20:15] #2013 closed

[2019-08-13 20:19] iRoachie commented on #2013
You can make whatever changes you need to in your fork. You haven't provided any discussions on why we as a library should remove it, or how it would improve the library.

You've only spoken of your own feelings/what you want. There's no point in continuing this discussion.  Best of luck in your OSS journey.

[2019-08-13 22:15] infiniteline commented on #1871
I was facing this issue for Android as well on a non-Expo project. The provided gist works well and I noticed no problems with the iOS build either.

[2019-08-14 18:28] ivanjzr commented on #710
Me to, I followed steps properly from https://github.com/oblador/react-native-vector-icons
and nothing...

[2019-08-14 18:28] bgneu commented on #1903
@iRoachie The current version of enzyme seems to be the latest 3.10.0 and we are still seeing this issue.

Since this ticket was opened the only thing that has changed from the original description is the following.

software | version
-- | --
react-native | 0.59.9

[2019-08-14 18:53] iRoachie commented on #1903
Can you create a minimal repo to test this

[2019-08-14 19:16] hariDasu commented on #1966
i use testID without issue on `<ListItem/>`, i believe it passes whatever extra props you provide down with `{...attributes}`, I have XCUITests with `<ListItem testID="logOutButton"/>` working in my react native v0.59 app

[2019-08-15 14:21] menesh2 opened #2020 "add prefix to a long text"
**Explain what you did**
on ios/android
write text that is longer than the searchBar's width,
take the marker to the beginning of the text
now insert new letter

**Expected behaviour**
i can see the new letter

**Describe the bug**
the new letter is not displayed and to see it i need to go left

**To Reproduce**
We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If n

[2019-08-15 19:17] Slapbox commented on #1997
@iRoachie the solution from #1986 is incomplete. I can't overcome this error. Both are closed and my only option seems to be to be to roll back to Expo 33.

[2019-08-15 19:34] Slapbox commented on #1997
By the way, I'm seeing this on Android. I'm pretty sure the issue comes from[ the Expo team's decision to rename all the relevant font families from hyphen separated to camelcase](https://expo.github.io/vector-icons/). I'm not sure what the logic there was, but using a type of `MaterialCommunityIcons` instead of `material-community`, and `MaterialIcons` instead of `material` works for me,

[2019-08-16 09:00] kangbb opened #2021 "SearchBar on IOS can't input Chinese"
**Explain what you did**
I use a `SearchBar` with `reagent`, which builds by `Expo`.

**Expected behaviour**
The SearchBar can run correctly.

**Describe the bug**
SearchBar call ios keyboard, but all options of input methods will input a English.

[2019-08-16 10:05] iRoachie commented on #2021
What is reagent?

[2019-08-16 12:24] iRoachie commented on #2020
Can you create an example on https://snack.expo.io that reproduces this?

[2019-08-16 12:30] kangbb commented on #2021
I'm so sorry, this is reason of `reagent`. I will close the issue.

[2019-08-16 12:30] #2021 closed

[2019-08-16 19:31] gunnartorfis opened #2022 "Button underlay color"
**Explain what you did**
While a touch is active on the Button component, this happens.
The button has the background color as specified in the theme.

**Expected behaviour**
The button should use the background color (underlayColor) that is trying to be overwritten via the buttonStyle prop.

**Your Environment (please complete the following information):**

| software              | version |
| -

[2019-08-16 20:02] iRoachie commented on #2022
Can you create an example on https://snack.expo.io that reproduces this? Which platform are you seeing this on?

[2019-08-17 13:18] GuidoUn opened #2024 "Unable to resolve "react-native-elements" from"

[2019-08-17 13:18] GuidoUn opened #2025 "unable to resolve"

[2019-08-17 13:18] #2025 closed

[2019-08-18 06:29] menesh2 commented on #2020
yep [click here](https://snack.expo.io/r1ajk_8NS)
hope this is good enough

[2019-08-18 09:47] nicolaslazzos opened #2026 "Change the selectionColor on the input of SearchBar component"
**Is your feature request related to a problem? Please Describe.**
Im using the SearchBar component with platform='android' and im unable to change the selectionColor of the text input.

**Describe the solution you'd like**
I think you should add the selectionColor prop to the SearchBar component and then pass it to the Input component.

[2019-08-18 10:02] nicolaslazzos commented on #2026
it was my bad, i was trying to pass selectionColor to the inputStyle prop, but it worked passing selectionColor to the SearchBar directly.

[2019-08-18 10:02] #2026 closed

[2019-08-18 12:58] #2024 closed

[2019-08-19 08:26] msageryd commented on #1714
I'm evaluating RNE as the base for the components in my project. Being able to change theme in runtime is a crucial part for my app. If I understand the above answer correctly, this is not possible.

The argument for this is: "This is because changes to the props of the ThemeProvider will trigger a rerender for all components under the tree".

Rerender all components under the tree is exactly what

[2019-08-19 14:35] Noitidart opened #2027 "Wrap type=Android SearchBar in TouchableNativeFeedback"
**Is your feature request related to a problem? Please Describe.**
Pressing the buttons in SearchBar on Android with platform=Android is not showing ripple on buttons, it is doing opacity.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

If Android, and platform=Android on Searchbar, we should wrap the buttons in TouchableNativeFeedback.

**Describ

[2019-08-19 15:53] msageryd opened #2028 "Update the theme object at runtime"
**Is your feature request related to a problem? Please Describe.**
My original theming information lives in the database behind an API. Based on which user logs in the theme is sent to the app so it can be branded correctly.

I cannot find any way to update the theme object and reapply the new theme to the whole component tree.

**Describe the solution you'd like**
I would like to be able to chang

[2019-08-19 17:22] zbagley opened #2029 "Rating: 'componentWillReceiveProps is deprecated'"
## Reproduction
Add basic `<Rating>` element.

## Expected behavior
Fully comply with 0.60 RN.

## Warning
Warning: componentWillReceiveProps is deprecated and will be removed in the the next major version. Use static getDerivedStateFromProps instead. Please update the following components: SwipeRating.

| software              | version |
| --------------------- | ------- |
| react-native-element

[2019-08-20 05:55] TheRealDerekLou opened #2030 "Theme font color issue when using solid white buttons and clear/outline buttons"
**Explain what you did**
I'm trying to use the ThemeProvider to create solid white buttons with color text alongside outline buttons with white text (on a clear color background)

**Describe the bug**
I cannot simultaneously create both buttons in the way that I want to through the ThemeProvider

If I specify the font color to be the color, then it will render the solid white buttons with color te

[2019-08-20 10:24] xain786 opened #2031 "Issue while npm install"
![image](https://user-images.githubusercontent.com/25928974/63339635-c02c9480-c35e-11e9-8c3c-3e7e3e863bce.png)

[2019-08-20 10:48] iRoachie commented on #2031
This is an issue with your local setup of npm

[2019-08-20 10:48] #2031 closed

[2019-08-20 12:00] schmijos commented on #1966
Same issue here with *react-native* `0.59.8` and *react-native-elements* `1.1.0`. `testID` works with `import {ListItem} from "native-base"` but not with `import {ListItem} from "react-native-elements";`

[2019-08-20 13:07] shubhamkakkar commented on #2027
I would like to work on this issue !!

[2019-08-20 13:27] devangjob commented on #1938
i am also facing same issue. And this is specific to few devices. it crashes in android 5.1, htc mobile and few more devices. if i remove header component that it works fine. Otherwise in ios and all other android devices working fine. waiting for solution...

  <Header
          containerStyle={{marginTop: Platform.OS === 'ios' ? 0 : - 24}}
          placement= "center"
          backgroundColor

[2019-08-20 13:49] devangjob commented on #1938
@emomooney i am facing same issue. Have you found any solution for this header in react-native-elements?

[2019-08-21 03:36] heyaj19 opened #2032 "Chevron color in listitem not working and listitem row lines are not showing"
**Explain what you did**
I tried to add a color a to a chevron in a list item and it does not work. I tried adding a color dynamically and just by setting it like chevronColor.  Also row lines are not showing in listitem

**Expected behaviour**
Chevron color should change to the color set and rowlines are not showing either

**To Reproduce**

[code]

| software              | version |
| ---------

[2019-08-21 15:03] iRoachie commented on #2032
`chevronColor` isn't a prop. Being in the docs was a mistake. See #2033

Instead, you should use the `chevron` prop to do this.

[code]

[2019-08-21 15:14] iRoachie commented on #2027
Sounds good! Should be easy to implement. [Here](https://github.com/react-native-training/react-native-elements/blob/next/src/searchbar/SearchBar-android.js#L27) specifies all the props for the Icon. The Icon component has a [Component](https://react-native-training.github.io/react-native-elements/docs/icon.html#component) prop that can be used

[2019-08-21 16:19] Cchumi opened #2034 "Avatar source null no title initials back"
**Explain what you did**
Hi I have a component which display my profile image from Firebase. If I have no image the initial was displayed.
I have some interaction to delete the remote image or change the image.
When I hit the delete button my avatar remove the image but it is empty. The initials title are not going back.

**Expected behaviour**
I search a way to force back the initials if the sour

[2019-08-21 16:45] heyaj19 commented on #2032
@iRoachie  Awesome ill fix that, any idea about the lines not showing up?

[2019-08-21 16:51] iRoachie commented on #2032
You'll have to make use of the [bottomDivider](https://react-native-training.github.io/react-native-elements/docs/listitem.html#bottomdivider) prop.

[2019-08-21 16:53] heyaj19 commented on #2032
@iRoachie thanks that fixed it. Sorry the documentation made no mention of it in the examples. My bad thank you

[2019-08-21 16:53] #2032 closed

[2019-08-21 16:55] iRoachie opened #2035 "Add bottomDivider to ListItem examples"
The examples on the ListItem page that a bottom border should show the use of the `bottomDivider` prop.

Ref #2032

[2019-08-21 16:56] iRoachie commented on #2032
Thanks for heads up. Made an issue to add it to the examples https://github.com/react-native-training/react-native-elements/issues/2035

[2019-08-22 05:25] Cchumi commented on #2034
After some react native debugger research it appears that the opacity was not restored.
But stranger things is the the image component of your library in my node module directory was not the same.
I see that your image component is update since 19 days my project was build before that. How to get this modification in my node module.
I copy paste and now my problem is solved. But strange thing.
If

[2019-08-22 15:11] rshchpkn commented on #1832
Hi @iRoachie, The issue is still present in version 1.1.0. The bug appears only for Android.
Are there any suggestions regarding this issue? Thanks in advance
Button code:
[code]
Screenshot:
![Screenshot_rounded](https://user-images.githubusercontent.com/22593160/63526449-1be65180-c508-11e9-8dce-034c6c5395ad.png)

[2019-08-22 15:12] iRoachie commented on #1832
It's an upstream issue in react-native. See https://github.com/react-native-training/react-native-elements/issues/1847

[2019-08-22 20:10] iRoachie commented on #2034
The fix for this was made on the `next` branch so it isn't released on npm as yet. If you want to use this version at the moment you can do:

[code]

[2019-08-25 11:06] Cchumi commented on #2034
Hi thanks for your answer this is what I am thinking.
Do you know when this next branch will be release ?

Thank you

[2019-08-25 14:06] josephbuchma commented on #710
Manual installation worked for me. Copy fonts you want to use into `android/app/src/main/assets/fonts` and reinstall app

[2019-08-26 00:49] iRoachie commented on #2034
Will try to push out this week.

[2019-08-26 06:07] sureshsamanthapudi opened #2038 "Need help in creating react native library"
Hi,

This issue is not related to 'react-native-tableview'.
We are creating a new private component library for our organization.
I tried the following:
1. Component library itself as a separate project with react and react-native as peer dependencies in my project.
2. But having just the components code in component library is not useful because we have to add new code or fixes and we have to run

[2019-08-26 23:00] Collin3 opened #2040 "When will there be a new version released?"
**Is your feature request related to a problem? Please Describe.**
There have been a number of bug fixes and improvements made since `v1.1.0`. I'm just wondering when a new release will be published so I can pull it into my app and fix some outstanding bugs from React Native Elements.

**Describe the solution you'd like**
An update on when the next version will be released. The last release was in

[2019-08-27 06:18] AliYar-Khan opened #2041 "Social Icons are not rendering well in Genny Motion emulator"
**Explain what you did**
import { SocialIcon } from 'react-native-elements'
[code]

**Expected behaviour**
It should display a beautiful icon with symbol and text. Like show on the docs
[https://react-native-training.github.io/react-native-elements/docs/social_icon.html](url)

**Describe the bug**
But the symbol is not rendering properly as shown below
![screenshot-2019-08-27_11 13 29 287](https:/

[2019-08-27 13:18] lpikora commented on #1938
I have found that <Avatar> component also cause crash of app on Android 5.1.
It was caused by missing source attribute. Avatar component using React Native Image component inside which also miss source attribute then. This caused instant crash. So it looks like more React Native bug. Im using React Native 0.59.10

I have temporarily fixed this passing source attribute requiring transparent 1px png

[2019-08-27 14:02] emomooney commented on #1938
@devangjob apologies for not getting back.  I have nothing unfortunately. I just moved on as I was just checking out react-native-elements

[2019-08-28 09:00] rafaelmotta commented on #1848
I didn't get well how to use.

I tried with passing directly testID and inside attributes={{ testID: 'foo' }} but din't work.

Any clue?

Using v1.1.0

[2019-08-28 17:58] AliYar-Khan commented on #2041
standard project !

[2019-08-29 00:03] naiduasn opened #2043 "How To: Achieving Stack/Overlap Icons using RNE"
Hi,
How to achieve stack of icons in RN using RNE?

What i want looks like below:

https://fontawesome.com/how-to-use/on-the-web/styling/stacking-icons

Any help would be appreciated.

[2019-08-29 10:16] MakkiAnjum opened #2044 "I have problem with installing react-native-elements"
**Explain what you did**
tried to install the react native elements

**Expected behaviour**
it is to be installed

**Describe the bug**
It is not getting installed
it is stuck after '  extract:react-native-elements: sill extract react-native-elements@latest extracte '
i have been waiting for an hour but it is still here.

**To Reproduce**
We highly recommend that you re-create the bug on [Snack](h

[2019-08-30 07:56] mdeveloper20 commented on #972
I still have same problem. this.emailInput.shake() doesn't work at all.

[2019-08-30 08:47] iRoachie commented on #2038
Answered you in another repo

[2019-08-30 08:47] #2038 closed

[2019-08-30 08:48] #1303 closed

[2019-08-31 07:00] Cchumi commented on #2034
Great thanks again

Cchumi

[2019-08-31 23:25] isabelbicalho commented on #882
I'm having this error too

[2019-09-01 05:32] RoniFinTech opened #2045 "Invariant Violation: Text strings must be rendered within a <Text> component."
Hi,

I'm trying to render a list of deals where each deal is a react-native-elements Card and I'm getting an error.

This is my code

[code]

[2019-09-01 06:14] iRoachie commented on #2045
Do you have a sample of the data you were trying to render?

[2019-09-01 09:15] mbrucher commented on #308
Does this mean that contrary to `react-native-paper`, there is no integration with `react-native-elements` for common theme and a nice consistent bottom bar?

[2019-09-01 15:39] RoniFinTech commented on #2045
Hi, yes... this is passed as a prop...

[code]

[2019-09-01 15:48] RoniFinTech commented on #2045
Looks like when i remove the Card prop 'title', it renders fine... hmm

[2019-09-01 18:04] #2034 closed

[2019-09-01 18:09] iRoachie commented on #2045
Your example works fine. See https://snack.expo.io/@roach_iam/bold-tortillas

[2019-09-01 18:11] iRoachie commented on #308
@mbrucher This was an old issue, we no longer have a bottom tab bar component any more.

[2019-09-01 22:31] iRoachie commented on #2044
This is probably an issue with your connection or npm setup. I suggest you try again. There's no errors on my end.

[2019-09-01 22:31] #2044 closed

[2019-09-01 22:37] iRoachie commented on #2043
There's no way to directly support this. The only way is to use multiple icons and use absolute positioning.

https://snack.expo.io/@roach_iam/vigorous-blueberries

[2019-09-01 22:40] iRoachie commented on #2041
Please make sure that you correctly set up react-native-vector-icons. See https://github.com/oblador/react-native-vector-icons#android

[2019-09-01 22:42] iRoachie commented on #2028
You can use the `updateTheme` function that's apart of the theming utils. https://react-native-training.github.io/react-native-elements/docs/customization.html#using-the-theme-in-your-own-components

[2019-09-01 22:58] iRoachie commented on #2020
Seems to be an upstream bug, the same thing happens for native TextInput https://snack.expo.io/@roach_iam/textinput-bug

[2019-09-02 07:54] AliYar-Khan commented on #2041
thanks it worked !

[2019-09-02 07:55] #2041 closed

[2019-09-02 09:21] finpeg123 opened #2046 "Unable to install the library with the latest version of react-native@0.60.5"
Unable to install the library with the latest version of react-native@0.60.5

every time I try , it says package is corrupted .

[2019-09-02 10:24] colemars commented on #1519
Which style props are you guys passing `selectionColor` to? I'm receiving errors on `containerStyle` `inputContainerStyle` and `inputStyle`.

[2019-09-02 10:51] bdombro commented on #2040
In the mean time, you can install from a git commit like I do:

[code]

[2019-09-02 11:33] iRoachie commented on #2040
Didn’t happen yesterday. Instead got stuck closing issues. Will  try for today

[2019-09-02 15:11] naiduasn commented on #2043
@iRoachie Thanks. Exactly what i was looking for

[2019-09-02 15:11] #2043 closed

[2019-09-03 01:00] colemars opened #2047 "FlatList -- Invariant Violation: Element type is invalid"
This is a new project running:
[code]

**Explain what you did**
If I import and attempt to use `<FlatList />` in my project - my app breaks with the error:
[code]

**To Reproduce**
Import and attempt to use `<FlatList />` in your project

Example:

[code]

[2019-09-03 01:12] #2047 closed

[2019-09-03 08:50] iRoachie commented on #2046
Had no issues installing the library on a new project with react-native@0.60.5. Please check your setup of npm.

[2019-09-03 08:50] #2046 closed

[2019-09-03 10:10] #1957 closed

[2019-09-03 10:15] iRoachie commented on #2029
@Monte9 You'll need to update this in your lib https://github.com/Monte9/react-native-ratings/search?q=componentWillReceiveProps&unscoped_q=componentWillReceiveProps

[2019-09-03 11:03] #2007 closed

[2019-09-03 14:07] bdombro commented on #2007
Thanks @iRoachie !

[2019-09-03 14:14] bdombro commented on #1747
Here is a [patch-package](http://npmjs.org/package/patch-package) patch which seemingly resolves the issue without losing functionality. It works by simply not passing unused props to react-native components. So far the patch works for Text, Input, and Searchbar. There may be other RNE elements that need patching, which I'll hopefully have time to test against in the near future.

[code]

[2019-09-04 00:12] #2035 closed

[2019-09-04 03:31] ddman commented on #1338
My solution.

`
import React from 'react';
import { Icon } from 'react-native-elements';
import FontAwesome5 from 'react-native-vector-icons/FontAwesome5';

export default props => {
  if (props.type === 'font-awesome5') {
    return <FontAwesome5 {...props} />;
  }
  return <Icon {...props} />;
};
`

[2019-09-04 19:21] DominicSherman commented on #2040
Any update on this?

[2019-09-05 01:02] iRoachie commented on #2040
Testing the example app now. The release will happen in a few minutes

[2019-09-05 02:44] iRoachie commented on #1946
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-09-05 02:44] #1946 closed

[2019-09-05 02:45] iRoachie commented on #1923
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-09-05 02:45] #1923 closed

[2019-09-05 03:36] iRoachie commented on #2040
[v1.2.0](https://github.com/react-native-training/react-native-elements/releases/tag/v1.2.0) released.

[2019-09-05 03:36] #2040 closed

[2019-09-05 06:33] rendongsc opened #2053 "when support the version of react-native 0.6?"
The react-native0.6 version has been released for several months.
when support the version of react-native 0.6?
thanks！

[2019-09-05 08:49] menesh2 commented on #2020
you are right, it does happen on text input, thanks.

[2019-09-05 11:29] iRoachie commented on #2053
What do you mean? We already support react native 0.60. What problems are you having?

[2019-09-05 11:40] mmnithin commented on #937
👍

[2019-09-05 13:23] rendongsc commented on #2053
My react-native is the latest 0.60.5. I compiled a lot of errors after importing react-native-elements. I will be compatible with version 0.6 in the future. I just re-installed the react-native-elements and it works fine.
However, there is still a question, that is, the devDependencies of the package.json of the react-native-elements project.
[code]

[2019-09-05 13:23] #2053 closed

[2019-09-05 13:25] iRoachie commented on #2053
devDepdencies don't affect the version you can use. However we will upgrade eventually to 0.60.0 internally to see if they are any benefits we can gain.

[2019-09-05 13:26] iRoachie commented on #2020
Closing as not actionable

[2019-09-05 13:26] #2020 closed

[2019-09-05 15:03] MatiasN opened #2054 "Can't seem to use Button Group due to it allways selecting the first button from the group."
So, I have a list of cards(like IDs) that can change through time, each card is a pdf. I have a menu that is supposed to have a button for each card, and upon clicking a button I navigate to a window that will load that pdf with react-native-pdf. My current problem is, my `selectedIndex` seems to not work at all. I got two possible problems, either it just comes as undefined, or it always selects

[2019-09-05 15:07] iRoachie commented on #2054
onPress returns the new value that will be set. So your onPress should change to be:

[code]

[2019-09-05 15:08] MatiasN commented on #2054
will try and get back to you, thanks

[2019-09-05 15:20] MatiasN commented on #2054
Ok, so, It worked for one of my group buttons, so thank you a lot. But I have another problem, still related. This Button group:`
<Overlay
              isVisible={this.state.isVisible}
              onBackdropPress={() => this.setState({ isVisible: false })}>
              <ScrollView>
                <ButtonGroup
                  onPress={() => {selectedIndex => this.updatePath(this.state.claim

[2019-09-05 15:37] iRoachie commented on #2054
Can you create an example on https://snack.expo.io that reproduces this?

[2019-09-05 16:01] MatiasN commented on #2054
I ended up finding what I was doing wrong, thanks a lot for your help though! Really appreciate it

[2019-09-05 17:56] Deg5112 commented on #105
Awesome thanks!

[2019-09-06 04:33] nokieng17 commented on #1283
Set like this
[code]
`numberOfLines` and `multiline` as well

[2019-09-06 11:12] liaokaime commented on #1838
我认为这是非常好的建议

[2019-09-06 22:34] Homerade commented on #1888
@ManishSharmaApporio can you be more specific about how you used your solution?

[2019-09-07 05:31] ayushagarwalk opened #2055 "Searchable Dropdown Flatlist in an Overlay"
**Is your feature request related to a problem? Please Describe.**
I could not find a dropdown list component in react native element UI Kit..
**Describe the solution you'd like**
I Got an Image as an Example please have a look into it.. It a UI component which is Searchable and a List of items is displayed in Overlay like a dropdown
Image Example: [1] https://imgur.com/9G3jU9V

**Additional conte

[2019-09-07 17:24] antgel opened #2056 "Conditionally adding rightIcon to ListItem"
I'd like to add a `rightIcon` to a `ListItem` if the `subtitle` has a certain value ('Notes'). I tried something like:
[code]
but I get `Parsing error: Unexpected token, expected "..."`

Is my syntax wrong, or is this not possible?

I got it to work with a ternary that returns the whole `ListItem` with or without the `rightIcon`, but it's more code duplication than I'd like, I'd like just the `Lis

[2019-09-07 19:07] svmszcck commented on #1980
I am gonna open a PR tomorrow. Thanks...

[2019-09-07 21:07] fedecaccia commented on #324
Any update? How do we use the "fix"?

[2019-09-08 00:09] iRoachie commented on #2056
You can do this.

[code]

https://snack.expo.io/@roach_iam/joyous-fudge

[2019-09-08 00:15] iRoachie commented on #324
@fedecaccia

[code]

[2019-09-08 10:00] svmszcck commented on #1980
Opened the PR: https://github.com/react-native-training/react-native-elements/pull/2057

[2019-09-08 17:17] Monte9 commented on #2029
This is fixed in RNRatings v6.5. @iRoachie can you upgrade the version in RNE and close this issue?

[2019-09-08 19:33] antgel commented on #2056
@iRoachie Works great, thanks. I can see why yours works, but where did I fall down, JSX syntax-wise?

[2019-09-08 20:35] iRoachie commented on #2056
So my example doesn't exactly do what you intended to although it has the same effect.

What you intended to do was **optionally include the rightIcon prop**. At it's core jsx is just a function that takes in props as an object.

[code]

So if we want to optionally include the `rightIcon` prop. We can do this:

[code]

[2019-09-09 04:06] #2029 closed

[2019-09-09 04:06] iRoachie commented on #2029
Done

[2019-09-09 09:31] antgel commented on #2056
@iRoachie Thank you so much. I believe I need to learn more about the `...` operator. :)

[2019-09-09 09:31] #2056 closed

[2019-09-09 17:31] jjg77 opened #2059 "Unable to add border to avatar"
The border does not render correctly.  See code below.

[code]

`<AvatarHeader size="xlarge" avatarStyle={{ borderWidth: 2, borderColor: 'white', borderTopLeftRadius: 1, borderStyle:'solid' }} />`
![ss1](https://user-images.githubusercontent.com/3186418/64552833-1c535a80-d306-11e9-8fb3-c9e79a192409.png)

[2019-09-10 01:25] devonwesley commented on #1285
@foloinfo How you get this to work?

[2019-09-10 01:35] iRoachie commented on #1285
@devonwesley here's an example
https://snack.expo.io/@roach_iam/lonely-cookies

![Kapture 2019-09-09 at 21 34 58](https://user-images.githubusercontent.com/5962998/64577230-c4d6de00-d349-11e9-8baa-0fe071bc1fc2.gif)

[2019-09-10 02:06] devonwesley commented on #1285
I figured it out. Overlay is a modal. I had it wrapped around another modal and the contents inside of the child modal, where being covered or blocked, not sure.

But don't use "Overlay" with Modals because it is a Modal.

[2019-09-10 02:18] iRoachie commented on #2059
This is a bug, `overlayContainerStyle` should override any changes made by the `rounded` prop. The order needs to change here https://github.com/react-native-training/react-native-elements/blob/next/src/avatar/Avatar.js#L137

[2019-09-10 04:49] sudeepto-dutta commented on #2059
@iRoachie So you mean moving the line `137` to  line `138` ? Will that work ?

[2019-09-10 12:24] iRoachie commented on #2059
Yes!

[2019-09-10 19:55] Baterka opened #2061 "Invariant Violation: {"backgroundColor":-859248897,"width":"<<NaN>>","height":"<<NaN>>"} is not usable as a native method argument"
**Explain what you did**
Clean `blank` expo project with `react-native-elements` installed by Yarn. Enabled Remote JS Debugging and opened React Developer Tools (Windows Standalone app). Everytime I click, or hover over `<Input><View><Context.Consumer><RCTView>` app crashes with following error: [https://pastebin.com/zcT3geDH](https://pastebin.com/zcT3geDH)

**Expected behaviour**
No "Invariant Vi

[2019-09-11 00:18] webnah commented on #1878
yes definitely line 91: I think it happens because of you pass rest and {...attributes} to input on SearchBar-default.js

it should be

error gone!!! cheer closed react-native-web 0.11.7

[2019-09-11 07:27] Cchumi opened #2062 "InputComponent react-native-datepicker libray cannot access child ref"
**Explain what you did**
Hi
I use Input for all my form input.
For this particular case I would to use a calendar picker.
I use react-native-datepicker who has a function to manually open the picker. (OnPressDate)
I implement this library as a ref with

Then I create an react native elements input where i put in the inputComponent the ref maRefCalendar.

Next I have an input before the datepicker

[2019-09-11 08:18] antoniosantangelo opened #2063 "Avatar, (leftAvatar) local source"
Avatar .. leftAvatar ...
Can I use a local Image Object ( redux , asset.... )  as source .
Is there only  uri option?

[2019-09-11 10:23] chrisk8er commented on #972
still not work on me...

[2019-09-11 12:56] iRoachie commented on #972
Works fine https://snack.expo.io/@roach_iam/curious-sandwich

[2019-09-11 13:00] iRoachie commented on #2061
Can you replicate this with a snack or example project?

[2019-09-11 13:11] iRoachie commented on #2063
You can use any of the options for the standard react native image. https://facebook.github.io/react-native/docs/images#docsNav

[2019-09-13 03:00] JakeHadley opened #2064 "Icon showing asian character rather than correct character"
**Explain what you did**
I created an icon element and used it in my component.

**Expected behaviour**
Icon should show correctly

**Describe the bug**
Ok, so I'm only seeing this in production, but when I create an Icon like so:
[code]
a few users have been reporting that they're seeing the icon character below.
This should just be a simple 'x'. I'm not seeing on my phone, and so far I've only h

[2019-09-13 18:35] pedrocarlos-ti commented on #656
works here, thanks @ujeenator.

[2019-09-13 21:08] bneigher opened #2065 "(Input) Seems ref has changed? Can't access input.focus() anymore"
I recently upgraded from pre 1.0.0 to 1.2.0 and it says that some parts of Input component were changed, namely the ref is no longer containing some of the methods I would like to use, like .focus() to dynamically focus on inputs

Note the onSubmitEditing of the email input.  This doesn't work as the .focus() method is no longer attached to the ref.

[code]

Ideally - we can access this method lik

[2019-09-14 02:07] ngduc commented on #882
me too, I'm having the same issue with the latest version 1.2.0, beta didn't work also.

[2019-09-14 07:37] ngduc commented on #1227
I still see the same issues with latest libs:

[code]
Any workaround ? Thanks

[2019-09-14 14:02] TonyWild opened #2067 "Input cannot have full length"
Hi, I'm using Input. I want Input width full with the view. However, the input doesn't seem to fit with the view.

This is the picture of my screen.
![image](https://user-images.githubusercontent.com/18462177/64909132-2da3c900-d743-11e9-81ce-7d77078f85e6.png)

and this is my code.
[code]

corresponding to the style
[code]

What is the problem here? :(

[2019-09-14 16:06] 7Million commented on #710
This worked for me even though RN 0.60 now offers autolinking, you will have to manually do the linking because autolinking still has some issues.

[2019-09-16 07:51] bjacog commented on #2064
I get the same thing with
`import Icon from 'react-native-vector-icons/MaterialIcons';`
and usage:
`<Icon name="clear" size={30} color="#FF0000" />`

Our fix right now is using FontAwesome instead of the other Icon libs.

[2019-09-16 13:55] iRoachie commented on #2064
The code for the different libraries is exactly the same. This likely a problem with your local setup of react-native-vector-icons

[2019-09-16 14:04] iRoachie commented on #2067
Set `width: '100%'` on the containerStyle.

[2019-09-16 14:15] iRoachie commented on #2065
The only changes made to the Input component were for propTypes. The Input component works as normal https://snack.expo.io/@roach_iam/adequate-churros

[2019-09-16 14:16] iRoachie commented on #1227
you have to use babel-jest. React Native Elements ships JSX to npm

[2019-09-16 14:16] iRoachie commented on #882
Consider checking the new guide in the docs https://react-native-training.github.io/react-native-elements/docs/web_usage.html

[2019-09-16 14:17] iRoachie commented on #2062
Can you create an example on https://snack.expo.io that reproduces this? I'd love to test.

[2019-09-16 17:05] jcarvajalKG opened #2069 "ButtonGroup -> different width for each button"
Hi

**Is your feature request related to a problem? Please Describe.**
I think it would be nice to be able to send and specific `flex` value to each button on the `<ButtonGroup>` component, it seems like now all the buttons have a ` flex:1`, so all the buttons have equal width. So I would like to be able to specify different width for each button, so we can do things like this and more

<img width

[2019-09-17 07:58] Auticcat opened #2070 "Custom component for CheckBox title"
**What's the problem**
I wanted to set a text that would display a link inside of it, without having to set the onPress to the whole component.

**What i would like to accomplish**
I'd like to be able to have a prop that let's me override the normal <Text> component that's used from default title.
The thing I'd like to accomplish is to have a checkbox with a text and a clickable part of it, like:

[2019-09-18 00:55] fredsvanelli commented on #813
I'm using "react-native-elements": "^1.2.0" and this bug still there.

@skleeschulte solution worked for me.

[2019-09-18 07:28] k3ithl1m opened #2071 "Modification of underlayIcon Size"
**Is your feature request related to a problem? Please Describe.**
I'm trying to use the underlay icon at a very small scale. But I would like the icon within the overlay background color to be bigger when the size is too small.

**Describe the solution you'd like**
Being able to input an underlaySize / iconSize so that it either specifically change the size of the underlayBackground or change the

[2019-09-18 09:13] pureinx opened #2072 "Looks like there is no way to pass style prop to the ImageComponent"
**Is your feature request related to a problem? Please Describe.**
The problem that I need to set border-radius directly to the ImageComponent but I can't do it.

**Describe the solution you'd like**
Add `imageStyle` prop to the `ImageComponent`:
`<ImageComponent`
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2019-09-18 09:13] #2072 closed

[2019-09-18 09:19] pureinx opened #2073 "Looks like there is no way to pass style prop to the ImageComponent"
**Is your feature request related to a problem? Please Describe.**
The problem that I need to set border-radius directly to the ImageComponent but I can't do it.

**Describe the solution you'd like**
Add `imageStyle` prop to the `ImageComponent`:
[code]

imageStyle:
[code]

I'd be happy if there are any alternative ways to do it.

[2019-09-18 13:44] xstable opened #2074 "Rerendering of <ListItem>'s"
I have a strange issue with ListItems.
They have an strange behavior for re-rendering.

**Enviroment:**
"react": "16.8.6",
"react-native": "^0.60.5",
"react-native-elements": "^1.2.0",

**Here is an Example-Component:**

[code]

Here an Screenshot of the Output of RN-Developer-Console:
![image](https://user-images.githubusercontent.com/1778068/65153202-a186ef80-da29-11e9-87de-33d2bcf8dd33.png)

Yo

[2019-09-18 14:33] pureinx commented on #2073
The problem was solved by adding `overflow: hidden` to the `containerStyle` prop.

[2019-09-18 14:33] #2073 closed

[2019-09-18 19:51] Dlu6 commented on #183
If you're using react-native-vector-icons try including /FontAwesome in the import like below;
import  Icon from 'react-native-vector-icons/FontAwesome';

There are some icons that are not included in /Ionicons which causes the error.

[2019-09-19 02:51] zhengxing0705 opened #2075 "Setting input in ListItem, how to set onPress?"
<ListItem
            title="name"
            input={{
              inputStyle: {...Size.fontSize30, color: Color.dark1}
            }}
            containerStyle={styles.listItem}
          />

[2019-09-19 03:18] iRoachie commented on #2075
onPress on what? The input? TextInput doesn't have an onPress prop.

[2019-09-19 03:26] zhengxing0705 commented on #2075
How to set up onChangeText in input? Thank you!

[2019-09-19 03:29] iRoachie commented on #2075
You can pass any of the input props as arguments:

[code]

Example https://snack.expo.io/@roach_iam/sadistic-fudge

[2019-09-19 03:51] zhengxing0705 commented on #2075
Thank you. I've settled it here.

[2019-09-19 03:52] #2075 closed

[2019-09-19 08:02] TonyWild commented on #2067
Thanks for the reply. I tried that, however, that makes only green box full length, not the violet one.

[2019-09-19 14:01] #1784 closed

[2019-09-19 14:12] iRoachie commented on #2070
Sounds good! We already have a helper for this that we've used for other components. https://github.com/react-native-training/react-native-elements/blob/aae1a422c28a72eab7cad39e239c424e45c7990f/src/input/Input.js#L18

[2019-09-19 14:26] iRoachie commented on #2074
Gonna close this as upstream since you said it's happening with other native components

[2019-09-19 14:26] #2074 closed

[2019-09-19 14:43] skiddolo opened #2076 "Avatar error after 1.20 update"
Hi,
after last update, Avatar component make an error

in

how's the problem? i'm using avatar component like this:
`<Avatar
                                rounded
                                size={90}
                                title={this.getAbbrevationName()}
                                source={{ uri: item.avatar }}
                                titleStyle={{ fontFamily: stylegu

[2019-09-19 14:50] iRoachie commented on #2076
Be sure to reset your react-native/metro cache and re-install your node_modules. We bumped react version in the last update.

[2019-09-19 15:08] skiddolo commented on #2076
nothing after cleaning :(

[2019-09-19 19:09] classyuan commented on #2076
![image](https://user-images.githubusercontent.com/2560670/65273538-f3c42f80-db53-11e9-86fd-b9eba11f7a56.png)
I also encountered this problem. How can I solve it?

[2019-09-19 19:11] iRoachie commented on #2076
Can you create an example on https://snack.expo.io that reproduces this? Or a test repo?

[2019-09-19 19:16] skiddolo commented on #2076
Exactly the same problem. I'm using react native 0.60. There's some incompatible version with your new release about RN or vector-icons?

[2019-09-19 19:31] JakeHadley commented on #2064
I'm not sure what would need to change for the setup. I've followed the setup process and haven't had any problems until now. The main thing that I'm thinking of is that I've upgraded to RN.0.60.4. Would that make a difference?

[2019-09-19 19:32] iRoachie commented on #2064
React Native 60 introduced auto linking for native modules, so you may have to relink react-native-vector-icons.

[2019-09-19 20:15] ThomasPerche opened #2077 "Toolbar lost focus after typing one symbol when searching"
**Explain what you did**
I have a Toolbar from react-native-element and I want to make a searchable with auto completion. This autocompletion was made with a ListView.
Before it worked great with ListView but since it has been deprecated in react native version 0.48, I'm trying to replace ListView by a FlatList. So my method searchForTerm(term) had been slightly modified but not that much.

**Expe

[2019-09-19 20:39] classyuan commented on #2076
My react-native version is  "react-native": "0.57.7"
Sorry, I can't use expo. Here's demo.

`import * as React from "react";

import { Avatar } from "react-native-elements";

export default class Profile extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <Avatar
        size="small"
        rounded
        title="MT"
        onPress={() => conso

[2019-09-19 21:51] flyingcircle opened #2078 "Warning: Failed prop type: Invalid prop `rightSubtitle` supplied to `ListItem`"
**Explain what you did**
I was attempting to use the rightSubtitle prop.

**Expected behaviour**
The subtitle would appear on the right side rather than below the title.

**Describe the bug**
The subtitle placement works, but a warning is thrown.

**To Reproduce**
`<ListItem
    title="Quantity"
    rightSubtitle={l.quantity}
/>`

[2019-09-20 03:54] gibo77 commented on #1924
Try not to call function inside the call back of OnValueChange. Below works for me. Let me know.

     constructor(props) {
        super(props);
       const { navigation } = this.props;
        const valueItem = navigation.getParam('valueItem', 'NO-ID');
         this.state = {
         sliderValue: valueItem,
        IPadress: 'http://192.168.0.107:8080/post',
      Glow: '77',
      };
    }

[2019-09-20 07:35] iRoachie commented on #2078
That's because it expects a string or react element https://github.com/react-native-training/react-native-elements/blob/next/src/list/ListItem.js#L326

[2019-09-20 07:54] iRoachie commented on #2076
Can confirm. Will implement a fix asap

[2019-09-20 08:31] iRoachie commented on #2076
Fixed released in [1.2.1](https://github.com/react-native-training/react-native-elements/releases/tag/v1.2.1).

Very sorry about that! Will be much more careful next time.

[2019-09-20 08:32] #2076 closed

[2019-09-20 14:54] classyuan commented on #2076
Thanks very much

[2019-09-21 19:15] tflateme opened #2081 "ListItem(leftElement, rightElement) -> Add accessibilityLabel or make it accessable"
**Is your feature request related to a problem? Please Describe.**
I want to do automatic tests with my app and cannot reach the leftElement or rightElement (in my case a switch). Because the ListItem is not further nested (in Appium Inspector).

**Describe the solution you'd like**
I would like to have a leftElementaccessibilityLabel property in ListItem or make it accessable in any way

**Descri

[2019-09-22 00:09] JavanPoirier opened #2082 "Remove themed styles from component"
From what I have read in the docs, currently, the only way to overwrite the theme object is by applying styles on the component. I am unsure of how this works under the hood, but would it be possible to pass a prop to the component such as "clearTheme" that defaults true and is only used in the true case. This would be shorter than overwriting every style of the component you would like to remove

[2019-09-22 15:25] irwwwan commented on #710
If you are using RN 0.60, just link it manually because the fonts assets not automatically linked by jetifier.
`react-native link`

[2019-09-23 00:37] iRoachie commented on #2082
How are you using ThemeProvider? Mostly when persons use it they're setting a consistent look and feel for components throughout the app. When would a clearTheme prop make sense?

[2019-09-23 00:44] JavanPoirier commented on #2082
Yes, I am using the ThemeProvider. How would it not make sense to have a clearTheme prop if you want a few components to not inherit the look? There are plenty of instances where an app might not want the theme default on a component. My example is most of my app inputs have a borderRadius, width, and background color. Instead of clearing each style individually for a input why not exclude it from

[2019-09-23 00:50] iRoachie commented on #2082
I understand what you are saying. However, I recommend in your situation to use composition, and create different inputs for your usage. See https://react-native-training.github.io/react-native-elements/docs/customization.html#using-composition

If you find that you havent to override the theme multiple places then maybe composition might be a better approach

[2019-09-23 01:28] JavanPoirier commented on #2082
Alrighty, composition I will do then. The reason I did not do this before is because, now I will have one component that does not use the main theme from the provider and this requires me to replace every other instance of the Input component to use the composition. If you have 99% of your components using the base theme and 1% not; composition will required you to replace all other instances whic

[2019-09-23 01:31] iRoachie commented on #2082
The component that you use with composition can still make use of the theme. Once it exists in the subtree, it'll inherit from the theme. I'm saying with composition you could make your overrides of the theme in one place and then use that.

[2019-09-23 01:34] JavanPoirier commented on #2082
Ok, yep, that did just occur to me. Even with that, a simple prop would be a simpler solution by a users standpoint, but there is enough on your folk's plate. Thanks again for your response.

[2019-09-23 01:34] #2082 closed

[2019-09-23 02:34] iRoachie commented on #2081
Can I see the code you were using at the time?

[2019-09-23 02:56] iRoachie commented on #2061
I couldn't replicate this. This is what I saw when I did an inspect.

![Simulator Screen Shot - iPhone 11 - 2019-09-22 at 22 54 39](https://user-images.githubusercontent.com/5962998/65399664-f90bbf00-dd8b-11e9-92ca-e09056878667.png)

[2019-09-23 05:31] mikeaustin opened #2083 "Support for React Native for Web?"
I successfully installed and configured rne for rnw for the most part, but some things are not quite right. Overlay is just a big inline view with a red border; Tooltip seems to be always visible and it duplicates it's children. Slider has a thumbHorizontal is not a function.

"React Native Elements just like on mobile can be used in your web projects. This is possible using react-native-web." I'm

[2019-09-23 08:22] tflateme commented on #2081
Thanks a lot for your reply. Yes, sure here is the code.
[code]

[2019-09-23 10:29] sshmyg commented on #1645
Have same issue for version `1.1.0`

[2019-09-23 11:32] iRoachie commented on #1645
@sshmyg please create a new issue. Also trying using `1.2.x` to see if you are still encountering the problem there

[2019-09-23 11:34] iRoachie commented on #2083
Yes there are some components that have some issues in react native web. @oxyii can you look into  Overlay and the other ones mentioned?

[2019-09-23 11:51] iRoachie commented on #2077
I think you may have confused this with another library. React Native Elements doesn't have a Toolbar component.

[2019-09-23 11:51] #2077 closed

[2019-09-23 12:07] iRoachie commented on #2069
This is a cool idea. I think the original idea for the ButtonGroup was to mimic iOS Segmented Control.

[2019-09-23 12:12] oxyii commented on #2083
@mikeaustin Thanks for your report! We know about web-platform support issues (#1890, #1808 and more). We are working on increasing web-platform supporting. But we cannot workaround webpack tuning at least because `react-native-vector-icons` deps [requires](https://github.com/oblador/react-native-vector-icons#web-with-webpack) webpack settings changes

[2019-09-25 16:59] jvandenaardweg opened #2085 "ListItem: "Failed prop type: Invalid prop `Component` supplied to `PadView`.""
**Explain what you did**
Running my app as usual after upgrading from react-native 0.60.5 to 0.61.1

**Expected behaviour**
Should not throw a warning/error

**Describe the bug**
`ListItem` throws a warning/error. It did not do that on react-native 0.60.5

It does seem to render just fine, it just gives an warning/error in the console.

**To Reproduce**
Just render some `ListItem`'s. I get the err

[2019-09-25 18:54] betoharres commented on #2085
I've just updated to react-native 0.61.1 too and got this warning as well :(

[2019-09-25 19:24] jvandenaardweg commented on #2085
Did some digging, i think this is the problem:

node_modules/react-native-elements/src/list/ListItem.js

[code]

`typeof ViewComponent` is `string`

But the proptypes expect a `func` or `object`:

[code]

So, adding `PropTypes.string` makes the error go away:

[code]

But I wonder if that's the solution

[2019-09-25 20:42] antgel commented on #2056
(By the way, I decided that I prefer the `null` approach, it's more readable in that it keeps `rightIcon` aligned to the left with the other props...)

[2019-09-26 02:09] tberghuis opened #2086 "Help request - How to set Overlay height to match height of children"
I want the height to match the height of the contents shown in the overlay so there is no excess white space. I could set it to a fixed height but there should be an easy way.

snack: https://snack.expo.io/@tberghuis/overlay-example

[2019-09-26 03:25] betoharres commented on #2085
@jvandenaardweg  Did you also experienced his error when tapping the ListItem multiple times?
[code]

[2019-09-26 04:39] saxenanihal95 commented on #1886
@iRoachie  I am not passing buttonStyle still getting buttonStyle in props of Button Class.

<img width="798" alt="Screenshot 2019-09-26 at 9 56 42 AM" src="https://user-images.githubusercontent.com/17348595/65658303-bd4f4e80-e044-11e9-8b60-96b69db66d96.png">
<img width="881" alt="Screenshot 2019-09-26 at 9 55 54 AM" src="https://user-images.githubusercontent.com/17348595/65658304-bd4f4e80-e044-11

[2019-09-26 05:05] nihp opened #2087 "What is the best practice to align the header right and left component with title (has minimum no. of character or maximum no. of character)"
I am using Header from react-native-elements. I am trying to place the header as left, right and center components.

Here my left component is arrow after this the Title is started below the arrow and at the right above end, it has the Text or Icon. Refer this https://i.stack.imgur.com/2ggSr.png what I am expecting.

I have used margin values in negative so it does not work for different modal dev

[2019-09-26 06:15] jvandenaardweg commented on #2085
@betoharres no, i don't have that problem

[2019-09-26 11:41] iRoachie commented on #2086
Add ` height: 'auto'` to the overlayStyle

[2019-09-26 12:42] GianMantuan opened #2088 "selectedIndex in ButtonGroup is delayed using React Hook useState"
**Explain what you did**
So, I'm trying to change the selectedIndex in a ButtonGroup to fetch some data in my API, but the index in the useState is delayed.

**Expected behaviour**
As you change the index of the ButtonGroup, it calls a API that fetch some data based on the value of the index

**Describe the bug**
The index is delayed, so the index in the useState is behind compared to the event on

[2019-09-26 12:52] iRoachie commented on #2085
Confirmed. Looks like the types changed in react-native 0.61.0, doing a patch release in a few moments

[2019-09-26 13:00] iRoachie opened #2089 "Input: Change inputComponent to InputComponent"
This is to standardize the props for all component that accept components (e.g. ViewComponent for Button).

This is a breaking change.

Change can be made here https://github.com/react-native-training/react-native-elements/blob/next/src/input/Input.js#L167

[2019-09-26 13:42] iRoachie commented on #2085
Fixed in [v1.2.2](https://github.com/react-native-training/react-native-elements/releases/tag/v1.2.2). Thanks to everyone for reporting so quickly.

[2019-09-26 13:42] #2085 closed

[2019-09-26 13:55] TomJKlug opened #2091 "testId no longer working on Image Tag."
Version 1.2.0 and 1.2.1

**Explain what you did**
TestId on Image is no longer being honored. It is putting in the static TestId.

**Expected behaviour**
When I put a testId on the image I expect it to be applied to the component.

**Describe the bug**
<Image testId='testId'/> no longer gets the passed testId.

**To Reproduce**
We highly recommend that you re-create the bug on [Snack](https://snac

[2019-09-26 13:58] iRoachie commented on #2091
Ah sorry about that. Things changed slightly when the component was refactored in https://github.com/react-native-training/react-native-elements/commit/e2795821fa85bbce48282b9c92d2260658d5c35e#diff-db91516ae3fd33db904a11400a5e19e4

[2019-09-26 13:59] iRoachie commented on #2091
Can you make a PR to fix this? Base it from the `patch` branch

[2019-09-26 14:20] TomJKlug commented on #2091
#2092

[2019-09-26 14:21] TomJKlug commented on #2091
Sorry at work, so just a quick one. If I missed something on the contributing guide let me know. Added the testID, and added two tests to ensure it works.

[2019-09-26 15:05] iRoachie commented on #2091
Thanks @TomJKlug  💯. There seems to be a prob with npm atm. So will publish as soon as it's back up

[2019-09-26 15:05] #2091 closed

[2019-09-26 21:00] tberghuis commented on #2086
Works, thank you @iRoachie

[2019-09-26 21:00] #2086 closed

[2019-09-26 22:03] jtich commented on #1966
The reason this works in `native-base` -- and conversely, does _not_ work in this "toolkit" -- is because those maintainers were kind enough to spread the `propTypes` of `TouchableHighlight` into `ListItem.propTypes` ([source](https://github.com/GeekyAnts/NativeBase/blob/1ca2d20776bbcb31daf85ce4012872e17cb9a0f6/src/basic/ListItem.js#L58)).

[2019-09-27 00:28] iRoachie commented on #1966
@jtich the same is done for this library https://github.com/react-native-training/react-native-elements/blob/next/src/list/ListItem.js#L102

Most If not all of our components are done this way

[2019-09-27 19:10] jatinAroraGit commented on #2089
Hey there,
I would like to work on this.
Can you assign this to me please ?
Thanks.

[2019-09-28 17:52] eviliana commented on #2067
You need to remove the horizontal padding of input container. Just add `paddingHorizontal: 0` on your mailInputContainer style.

[2019-09-29 08:25] RobertSasak commented on #1938
@lpikora Can you please post a full snippet?
I am still facing this issue at react 16.9.0, react-native 0.61.1, react-native-elements 1.2.3

[2019-09-29 09:06] lpikora commented on #1938
@RobertSasak I have this in my code:

[code]

With Header component, it should be like:

[code]

[2019-09-29 10:35] RobertSasak commented on #1938
@lpikora Thank you for quick reply. I made a PR https://github.com/react-native-training/react-native-elements/pull/2095 to address this issue.
I did not know that this was also issue for Avatar. Once my PR is merge we can make a new one for Avatar as well.

[2019-09-29 12:13] tflateme commented on #2081
any ideas @iRoachie ?

[2019-09-29 14:11] iRoachie commented on #2089
Sure thing go ahead! Make your change against the `next` branch

[2019-09-29 15:42] razzbee opened #2096 "Theme not applied to {this.props.children}"
I created a custom component for Overlay and embedded the content with
[code]
But the theme I applied to the ThemeProvider doent work for the children

example, Modal.js
[code]

[code]

The theme works great for all the elements except the content provided in
{this.props.children}

[2019-09-29 15:52] iRoachie commented on #2096
Can't replicate https://snack.expo.io/@roach_iam/rude-yogurt.

[2019-09-29 16:17] razzbee commented on #2096
Well, seems its my fault then, I can see it works fine, I will look into my code and give the cause .. Thanks

[2019-09-29 16:52] #2096 closed

[2019-09-30 07:39] kyubjn commented on #2064
This is my error. Any suggestion ??

[2019-09-30 17:49] razzbee opened #2097 "Input Line color change on focus"
I still scratching my head on how to change input border color on focus

[2019-09-30 17:57] iRoachie commented on #2097
It's pretty simple. Make use of the [`onFocus`](https://facebook.github.io/react-native/docs/textinput.html#onfocus), and [`inputContainerStyle`](https://react-native-training.github.io/react-native-elements/docs/input.html#inputcontainerstyle) props.

https://snack.expo.io/@roach_iam/surprised-milkshake

[2019-09-30 18:00] razzbee commented on #2097
Thanks, but isn't there a  way to do it with theme & ThemeProvider style, because for large forms its going to be very messy and verbose.. That is what i am trying to avoid

[2019-09-30 19:12] betoharres commented on #2085
Thank you so much @iRoachie for the quick update! This is why I love this library!

[2019-09-30 22:59] razzbee commented on #2097
I had to do a custom component to handle it, though its a nasty workaround, but till there is a better implementation I will use the work around below, an improvement is welcomed, it might help someone.

[code]

import { Theme } from '../../utils'

[code]

[2019-09-30 23:03] #2097 closed

[2019-10-01 01:50] iRoachie commented on #2097
Good job! Don't think of it as a hack, [Composition is the recommended way to build components in react](https://reactjs.org/docs/composition-vs-inheritance.html#specialization).

You can make your implementation a bit cleaner if you use defaultProps, and maybe hooks. See https://snack.expo.io/@roach_iam/tactless-peanut

In this example, I'm even using the primary colour set via the theme

[2019-10-01 02:03] iRoachie commented on #2087
This should do what you're looking to do https://snack.expo.io/@roach_iam/grounded-watermelon

The key is setting the `centerContainerStyle: {flex: 0}`, by default this is set to 3 and left and right set to 1 so that by default the centre takes up the most space. Since you aren't using the centre container, you can completely remove it.

Also a few other things:
- There's no `outerContainerStyles`

[2019-10-01 02:20] iRoachie commented on #2081
So what you tried doesn't work because it's nested? What a change to support this look like?

[2019-10-01 02:34] iRoachie commented on #2088
Using hooks has no effect on the responsiveness of the ButtonGroup. See https://snack.expo.io/@roach_iam/frisky-juice-box. You may need to look into optimizing your code

[2019-10-01 05:06] nihp commented on #2087
@iRoachie I have tried with your above flex changes with your updated code. Now I am able to see the like below. But I need to show the LIST OF NAMES in a line not need to show below.

Otherwise the text will be shown before the **List text** and if the length exceeds further then show in the next line
![Screenshot 2019-10-01 at 10 29 42 AM](https://user-images.githubusercontent.com/36992338/65935

[2019-10-01 05:52] iRoachie commented on #2087
I’m not understanding what your intended layout is supposed to be

[2019-10-01 06:08] nihp commented on #2087
If the title is as "NAMES" I need t show as this https://i.stack.imgur.com/2ggSr.png. And If the title is too long I need to show like below attachement

![Screenshot 2019-10-01 at 11 36 48 AM](https://user-images.githubusercontent.com/36992338/65938144-cb83dd00-e43f-11e9-9611-205a92a0c075.png)

[2019-10-01 06:19] iRoachie commented on #2087
Your 2 Pictures are exactly the same the only different is the words 🤷🏽‍♂️

[2019-10-01 06:21] nihp commented on #2087
Yes, the only difference is words. But If I try with your code I can't able to achieve the above. Also, I have used margin left values so it does not work for all devices.

[2019-10-02 00:05] ATClemente opened #2098 "Applying flex:1 to buttonStyle is "compressing" button in iOS"
**Explain what you did**
I had a button that I wanted to fill a view. I added flex: 1  to the button container which worked to make the container the size of the view but when I added flex: 1 to the buttonStyle itself, the button compresses to an extremely thin size and the text disappears but only on iOS. On Android the button expands to fill the view.

**Expected behaviour**
The behavior that oc

[2019-10-02 02:36] lbelavoir commented on #814
@iRoachie is this still an issue ? I could take time to work on it.

[2019-10-02 02:44] iRoachie commented on #814
Yea it’s still open.

[2019-10-02 16:14] sereymongkol opened #2099 "How can I set some space between Input and Icon properly?"
I am new to both react native and react native elements and I have read react native elements documents as well as test some code provides in the docs but the result is not the same as shown in the document page. I have tried on this [section](https://react-native-training.github.io/react-native-elements/docs/input.html) and then this is the code I tried:
[code]
Here is the result i got:

![Screen

[2019-10-02 19:55] OlegBrazhnichenko commented on #1747
@hedikasmanto, @xavier-villelegier,
I found how to get rid of that error .
One of my header components looks like:
[code]
And I noticed that `theme="[object Object]"` looks really strange. Also I found out that only one of three my components have that prop.

My header looks like:
[code]
Only center component is not custom and have theme prop. So I tried to remove it with one more custom component

[2019-10-02 22:32] ethanyuwang commented on #1850
having the same issue

[2019-10-03 03:04] iRoachie commented on #1850
@ethanyuwang Tile now has an `imageProps` prop in which you can pass in the values

[2019-10-03 03:33] iRoachie commented on #2099
This is a bug that's to be fixed in 2.0.0, we didn't fix it earlier cause it would've been a breaking change.

However, we have a prop called [`leftIconContainerStyle`](https://react-native-training.github.io/react-native-elements/docs/input.html#lefticoncontainerstyle) that you can use to remove the margin. See example https://snack.expo.io/@roach_iam/intelligent-pizza

[2019-10-03 04:00] iRoachie commented on #1747
Fixing this in the next patch release

[2019-10-03 04:53] #1747 closed

[2019-10-03 05:02] iRoachie commented on #1747
Fix released in [`v1.2.4`](https://github.com/react-native-training/react-native-elements/releases/tag/v1.2.4)

[2019-10-03 05:14] iRoachie commented on #1843
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:14] #1843 closed

[2019-10-03 05:16] iRoachie commented on #1902
So don't think we are doing this anymore. Found out recently that by introducing hooks in the project, it will break it for everyone that isn't using a version of react/react-native that doesn't support hooks.

See https://github.com/react-native-training/react-native-elements/issues/2076

[2019-10-03 05:16] #1902 closed

[2019-10-03 05:19] iRoachie commented on #1725
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:19] #1725 closed

[2019-10-03 05:20] iRoachie commented on #1779
Closing as inactive. Refer to the setup guide on Usage on the web https://react-native-training.github.io/react-native-elements/docs/web_usage.html

[2019-10-03 05:20] #1779 closed

[2019-10-03 05:26] iRoachie commented on #1796
This is fixed now in recent versions.

[2019-10-03 05:26] #1796 closed

[2019-10-03 05:27] iRoachie commented on #1824
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:27] #1824 closed

[2019-10-03 05:28] iRoachie commented on #1857
@Monte9 do you have the credentials for godaddy so we can make this change? Message me on slack

[2019-10-03 05:29] iRoachie commented on #1870
Can you create an example on https://snack.expo.io that reproduces this?

[2019-10-03 05:32] iRoachie commented on #1010
Since react-native natively supports typescript, If anything we can rewrite components in typescript and generate a definitions file to ship

[2019-10-03 05:32] #1010 closed

[2019-10-03 05:33] #1325 closed

[2019-10-03 05:39] iRoachie commented on #1896
Seems to be fixed on latest versions (I couldn't replicate when I just tried). Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:39] #1896 closed

[2019-10-03 05:41] iRoachie commented on #1899
Couldn't replicate this on my simulator. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:41] #1899 closed

[2019-10-03 05:41] iRoachie commented on #1924
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:41] #1924 closed

[2019-10-03 05:42] #1967 closed

[2019-10-03 05:42] iRoachie commented on #1968
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:42] #1968 closed

[2019-10-03 05:44] iRoachie commented on #2009
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:44] #2009 closed

[2019-10-03 05:44] iRoachie commented on #2022
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:44] #2022 closed

[2019-10-03 05:45] iRoachie commented on #2028
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 05:45] #2028 closed

[2019-10-03 05:45] iRoachie commented on #2030
Duplicate of 1886

[2019-10-03 05:50] iRoachie commented on #1982
Tooltip has a method called `toggleTooltip` that you can use to close the Tooltip when it is open. https://react-native-training.github.io/react-native-elements/docs/tooltip.html#interaction-methods

[2019-10-03 05:50] #1982 closed

[2019-10-03 05:51] #2030 closed

[2019-10-03 05:58] #2059 closed

[2019-10-03 06:01] alexakasanjeev commented on #1902
yes, I tried that, and everything is failing. So gave up

[2019-10-03 06:03] iRoachie commented on #2045
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-03 06:03] #2045 closed

[2019-10-03 06:04] iRoachie commented on #2055
Duplicate of #253

[2019-10-03 06:04] #2055 closed

[2019-10-03 07:49] Monte9 commented on #1857
Yes, I do. I can transfer the domain to your godaddy so you can hook it up. I'll slack you

[2019-10-03 11:12] krishan-kumar-mourya commented on #710
This works, RN 0.60 or above links automatically but still for fonts assets you have to link them manually.

[2019-10-03 13:24] tafelito commented on #1940
@iRoachie do you have an example on bow to do this with expo? Where do you put the include? in the babel.config.js or in the webpack.config.js?

[2019-10-03 13:27] codermug opened #2102 "Keyboard disappears in searchbar component"
Hi,
I'm using version 1.2.4 SearchBar component but when i use it in android device the keyboard disappears after every key input!
here is my code:
`const [searchBrand, setSearchBrand] = useState('');`
`const  searchFilterFunction = text => {
                 setSearchBrand(text);
      };`
`const renderHeader = () => {
        return (
          <SearchBar
          placeholder="Type Here..."

[2019-10-03 14:16] iRoachie commented on #2102
Can't replicate this https://snack.expo.io/@roach_iam/sadistic-cake

[2019-10-03 14:17] iRoachie commented on #1940
Expo now has a guide for customizing via webpack https://docs.expo.io/versions/v34.0.0/guides/customizing-webpack/

[2019-10-03 14:20] tafelito commented on #1940
yes thanks I saw that, but not sure how setup RNE properly using the expo webpack config, if there is anything else to be done

[2019-10-03 14:27] iRoachie commented on #1940
Actually right now if you're using later version of expo, there's no configuration needed.

I just created a fresh expo project, and added react-native-elements.

[code]

Project works fine!

![image](https://user-images.githubusercontent.com/5962998/66135777-6a3b4580-e5c8-11e9-862a-2904b58df49d.png)

[2019-10-03 14:42] tafelito commented on #1940
Does this work to you?
[code]

I get `Touchable child must either be native or forward setNativeProps to a native component`

[2019-10-03 15:31] iRoachie commented on #1940
No it doesn't. I think this a problem only with ListItem, but will open another issue on this

[2019-10-03 15:33] codermug commented on #2102
Thank you, the issue caused because i used  <SearchBar> inside Flatlist headercomponent prop

`  <FlatList ListHeaderComponent={renderHeader}..... `

but when i used it outside the component it works properly.

`<View style={styles.container}>
       <SearchBar
          placeholder="Type Here..."
          onChangeText={searchFilterFunction}
          value={searchBrand}
          clearIcon={null

[2019-10-03 15:46] iRoachie commented on #2102
Can you create an example with the FlatList on https://snack.expo.io that reproduces this?

[2019-10-03 18:44] AllanLa opened #2103 "Button Accessibility Issue, call onPress with enter key"
-react native version 0.59.9
**Explain what you did**
get onPress to be called with "enter" key from keyboard for accessibility issues

**Expected behaviour**
A clear and concise description of what you expected to happen.
Enter Key from keyboard will call onPress function

**Describe the bug**
A clear and concise description of what the bug is.
Does not call
**To Reproduce**
We highly recommend t

[2019-10-03 20:18] iRoachie opened #2104 "ListItem usage on web"
**Explain what you did**
Using ListItem on an expo web project attaching an onPress method

**Expected behaviour**
App should work as normal and user should be able to click on the list item.

**Describe the bug**
App errors. Ref https://github.com/react-native-training/react-native-elements/issues/1940

[code]

**To Reproduce**
We highly recommend that you re-create the bug on [Snack](https://sna

[2019-10-03 20:27] iRoachie commented on #2103
Can you provide an example?

[2019-10-03 20:36] AllanLa commented on #2103
https://snack.expo.io/SJ4djR7_S , any basic example is just have a react native button, tab to it using the keyboard (not a phone keyboard, like a computer keyboard) and pressing the "enter" key . OnPress not called

[2019-10-03 20:38] iRoachie commented on #2103
So you're talking about react-native-web then?

[2019-10-03 20:43] iRoachie commented on #2103
In your snack you were importing from Button from react-native-paoer instead of react-native-elements.

Here you can see that the button works fine https://snack.expo.io/@roach_iam/healthy-sandwich

[2019-10-03 20:59] #2104 closed

[2019-10-04 06:18] ivangonzalezg opened #2107 "Web site is down"
Web site is down

![image](https://user-images.githubusercontent.com/42500072/66185352-bcba4780-e644-11e9-9638-099d781a4843.png)

[2019-10-04 06:20] iRoachie commented on #2107
We just moved over the repo to a new org. It's live at https://react-native-elements.github.io/react-native-elements/

[2019-10-04 06:20] #2107 closed

[2019-10-04 06:23] iRoachie opened #2108 "Moved to a new Github Org"
Today we moved the react-native-elements repo into its own Github organization. This is a move that allows us to have all our projects under a single place.

If you are having any issues accessing the docs, please note that they are available at a new URL https://react-native-elements.github.io/react-native-elements/.

Thanks 🙏

[2019-10-04 06:29] iRoachie commented on #1940
Hey @tafelito just letting you know we released a new version to fix this. [v1.2.5](https://github.com/react-native-elements/react-native-elements/releases/tag/v1.2.5)

[2019-10-04 06:32] iRoachie commented on #1856
Done!

[2019-10-04 06:32] #1856 closed

[2019-10-04 07:14] Biplovkumar commented on #545
Thanku sir

[2019-10-04 07:46] darknblack commented on #2108
I'm about to report an issue about it (error 404), glad you mention it here.
Thank you and great work 👍 💯

[2019-10-04 09:16] darknblack commented on #2108
The search result from the new website still points to the old website.

[2019-10-04 09:48] presencewebdesign commented on #444
In my ListItem avatar I can't set the background colour to the same as the foreground?
I am loading a PNG image as the avatar, the background is not transparent, does anyone know how to change this?

In the 0.19.1 version you used to be able to do
avatarOverlayContainerStyle={{width: 24, height: 24, backgroundColor: '#2b7abf'}}

![image](https://user-images.githubusercontent.com/28238014/66198494-

[2019-10-04 09:59] nileshprajapati007444 opened #2110 "Document link return 404"
Document link is not accessible.
https://react-native-training.github.io/react-native-elements/

[2019-10-04 10:16] darknblack commented on #2110
Use this instead: https://react-native-elements.github.io/react-native-elements/ They move from new domain

[2019-10-04 10:32] iRoachie commented on #2108
As soon as permissions are updated, will redeploy the website fixing the search

[2019-10-04 10:33] iRoachie commented on #2110
See https://github.com/react-native-elements/react-native-elements/issues/2108

[2019-10-04 10:33] #2110 closed

[2019-10-04 12:40] iRoachie commented on #444
@presencewebdesign It's `overlayContainerStyle` now

[2019-10-04 13:50] jinnlao commented on #2064
I had this error with all icons after starting a new project with React-Native 0.61.1 and react-native-elements 1.2.5.

I discovered that to finish the installation of react-native-vector-icons for android you need to link it manually ([react-native-vector-icons doc](https://github.com/oblador/react-native-vector-icons#option-with-gradle-recommended)).

Modifying the file `android/app/build.gradle

[2019-10-04 14:17] ivnnv commented on #2108
Yes please make an update so the old site redirects 1-1 to the new one because all google results are giving 404s.

[2019-10-04 14:37] Barbiero opened #2111 "ListItem: Add a "disabled" prop for every style prop"
**Is your feature request related to a problem? Please Describe.**

Currently there's no way to style a title, container etc.. according to `disabled` status unless we use the disabled status itself on the styling, eg:

[code]

Here I'm changing `titleStyle` according to `resetModuleEnabled`; but I'd rather there be some way to pass the disabled title style similar to how `disabledStyle` works for

[2019-10-04 14:38] iRoachie commented on #2108
It's a lot harder to do that, as github repo transfers don't update links to github sites. Currently doing a workaround with redirects https://github.com/react-native-training/react-native-elements

[2019-10-04 14:41] iRoachie commented on #2111
In what case would the ListItem be in a disabled state?

[2019-10-04 15:12] sereymongkol commented on #2099
@iRoachie , wow it works like charm! Anyway, is there any beta version I can use with bug fixed? I will use beta if there is because putting this everywhere is not the best solution as later on i will need to delete it unless the gap is too narrow.

[2019-10-04 15:14] iRoachie commented on #2099
Not as yet, we do have it planned for the next release. See https://github.com/react-native-elements/react-native-elements/issues/1962

[2019-10-04 15:21] Barbiero commented on #2111
in my particular case, ListItem works well for a settings screen but sometimes depending on what the user is doing, some settings might not be available - in particular, when his device is not paired to an external peripheral, I disable the "reset peripheral" button.

[2019-10-04 15:23] iRoachie commented on #2111
Ahh gotcha, sounds like a good idea.

[2019-10-04 15:35] ivnnv commented on #2108
I just checked doing a quick "react native elements button" google search and seems to work with the stub repo, at least with the actual version.
Thanks for fixing it that fast @iRoachie !

[2019-10-04 15:37] iRoachie commented on #2108
Awesome. Very sorry about this inconvenience, URLs should never ever break. We didn't foresee this happening.

[2019-10-05 06:51] razzbee commented on #2097
Looks clean, thanks, will implement it...

[2019-10-05 10:36] canastro commented on #1227
I'm having this issue while using ts-jest and react-native 0.61. Any tip on how to fix this on my configuration?

[code]

[2019-10-05 15:11] razzbee commented on #2097
[code]

[2019-10-05 17:19] ganes1410 commented on #2111
@iRoachie Can i work on this if no one else started yet.

[2019-10-05 17:30] ganes1410 opened #2113 "Appreciation Post 🙏🏼"
Hi @iRoachie. I was searching for a good UI library to use with react native and stumbled upon this. I would like to say that I like this very much and thank you.

[2019-10-05 17:32] Shikartoos commented on #1832
I added `overflow:'hidden'` to set the containerStyle and it seems to work for me. It might be a workaround for the moment.

[2019-10-05 18:09] ganes1410 commented on #2027
@iRoachie is anyone working on this?

[2019-10-05 18:11] ganes1410 commented on #1962
@iRoachie is anyone working on this ?

[2019-10-06 14:30] iRoachie commented on #1962
Nope! No one as yet. For future, if you see a `WIP` or `PR Submitted` label, it means someone has started working on it or they said they would.

[2019-10-06 14:31] iRoachie commented on #2027
@ganes1410  Nope!

[2019-10-06 15:20] cesar3030 opened #2115 "reverse icon have a transparent background instead of a white background RN 0.61.1"
**Explain what you did**
Floating Icons on the bottom right of the screen

**Expected behaviour**
Icons should be gray and have a white circular background.

**Describe the bug**
On Android (device and emulator) the `reverse=true` icons should have a white background but they are transparent instead.

**To Reproduce**
Icons:
[code]
View style:
[code]

React Native Elements Theme:
[code]
This is to

[2019-10-06 15:32] ganes1410 commented on #1962
@iRoachie ok.

[2019-10-06 16:56] iRoachie commented on #2115
This is a bug in react-native 0.61.1, upgrade to 0.61.2 should fix. See https://github.com/facebook/react-native/issues/26544

[2019-10-06 18:20] ganes1410 commented on #2027
@shubhamkakkar have you started with this?

[2019-10-06 18:53] ganes1410 commented on #2027
Hi @iRoachie , As you mentioned in this comment, I tried this
[code]
But that is not working on the emulator, I think there is some problem with `TouchableNativeFeedback`. How should i proceed with this ?

[2019-10-06 20:21] cesar3030 commented on #2115
Thank you very much! it upgrading to 0.61.2 seems to fix the issue!

[2019-10-06 20:21] #2115 closed

[2019-10-07 10:53] medmo7 opened #2118 "how to make Tooltip adapte on text size?"
**Explain what you did**
Use Tooltip on a text component

**Expected behaviour**
Tooltip should be dynamic depending on text size

**Describe the bug**
Tooltip size dont change depending on text, and long text are cut

**To Reproduce**
# Snack

https://snack.expo.io/SJJTv5__B

**Your Environment (please complete the following information):**

| software              | version |
| -----------------

[2019-10-07 14:45] Naturalclar opened #2120 "Icon: iconStyle has mismatching types"
**Explain what you did**
What you were trying to accomplish.

Trying to apply `iconStyle` to Icon component while using typescript.

`iconStyle` contains `color` property, which is not available in `ViewStyle`, but the `Icon` component (which comes from react-native-vector-icons) is wrapped in `Text` component which expects `TextStyle`

**Expected behaviour**
A clear and concise description of wha

[2019-10-07 14:51] iRoachie commented on #2120
This is strange, are you sure you're importing Icon from 'react-native-elements'. I just tried the same with a new expo project and got no errors.

[code]

Also when i hover over `iconStyle` it's a `TextStyle`
![image](https://user-images.githubusercontent.com/5962998/66322640-725cf300-e8f0-11e9-9cb4-4ca5c859436f.png)

[2019-10-07 14:58] Naturalclar commented on #2120
This is the code that's using `Icon`, which is importing from `react-native-elements`.

[code]

But I get the issue here. If you start a brand-new expo project, then you start out without `yarn.lock`, so yarn will install the latest `@types/react-native-vector-icons`, since inside the `package.json` of `react-native-elements`, `@types/react-native-vector-icons` is listed as `^6.4.1` with a hat(`^`

[2019-10-07 15:17] iRoachie commented on #2120
Ohhh I see, I found the PR that changed it https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38639. Let's just update the version in your PR then

[2019-10-07 15:21] Naturalclar commented on #2120
Sounds good! I've moved the `@types/react-native-vector-icons` back to `dependencies` in my PR #2119

[2019-10-07 15:33] iRoachie opened #2121 "Update Contributing guidelines"
We've recently updated our github workflow to have 3 branches:

`master` - current version on npm that's live
`next` - upcoming features and changes
`patch` - bug fixes (usually released within a day)

We should update the contributing section on the website and maybe .github/CONTRIBUTING.md to let users know which branch they should base their changes on if they want to make a pull request.

[2019-10-07 15:35] #2120 closed

[2019-10-07 16:33] iRoachie commented on #2102
Your example works fine for me on both iOS and Android

[2019-10-07 19:01] #1813 closed

[2019-10-07 19:01] #2108 closed

[2019-10-07 22:50] Sbphillips19 commented on #1260
@iRoachie how do you implement this feature?  I have tried doing something like this, but it doesn't work/ just gives me a blank avatar:

[code]

[code]

[2019-10-07 23:02] iRoachie commented on #1260
You can pass it directly.

[code]

[2019-10-08 00:58] Sbphillips19 commented on #1260
@iRoachie Thanks!  That worked, but I am getting an error using it inside of listItem.  Should it work inside of leftAvatar?  I was hoping to do the same-

[2019-10-08 01:02] iRoachie commented on #1260
It works the same way.

[code]

[2019-10-08 03:54] nihp commented on #2087
@iRoachie Any update for this

[2019-10-08 04:32] iRoachie commented on #2087
You can try add the `numberOfLines` prop  to your text element and set it to 1. https://facebook.github.io/react-native/docs/text#numberoflines

[2019-10-08 05:14] nihp commented on #2087
If I use numberOfLines = {1} means it shows like below. It ended with dots. Kindly refer the attached image below
![Screenshot 2019-10-08 at 10 42 23 AM](https://user-images.githubusercontent.com/36992338/66369075-77857500-e9b8-11e9-9efd-349f8066e6e0.png)

[2019-10-08 10:41] iRoachie commented on #2087
There’s no way to magically erase a portion of text, where do expect the text to go if it’s not long enough to fit on one line?

[2019-10-08 12:12] nihp commented on #2087
I need to show upto below the LIST text. Like this https://github.com/react-native-elements/react-native-elements/issues/2087#issuecomment-536882134

[2019-10-08 13:18] oxyii commented on #2083
@mikeaustin about Tooltip exactly: this component uses RN [`Modal`](https://facebook.github.io/react-native/docs/modal) component that [not implemented](https://github.com/necolas/react-native-web/issues/1020) in RNW yet.

[2019-10-09 11:58] parthya commented on #1899
@iRoachie Try on Android. Works fine on iOS.

[2019-10-10 03:20] iRoachie commented on #2087
Just so I get you?

#### Text that fits

[code]

#### Text that doesn't fit
[code]

[2019-10-10 04:09] iRoachie commented on #2027
Okay this seems to not be as easy as I thought, some changes need to be made to Icon component first.

[2019-10-10 05:10] nihp commented on #2087
Yes. Refer the attached screenshot for more details
![65938144-cb83dd00-e43f-11e9-9611-205a92a0c075 png  355×121 ](https://user-images.githubusercontent.com/36992338/66540704-60768c80-eb4a-11e9-9ce5-101640b67998.png)

[2019-10-10 05:12] iRoachie commented on #2087
Every screenshot you send is different 😞

[2019-10-10 06:19] iRoachie commented on #2027
Just implemented this in #2124 without having to change the SearchBar. Try it out and lemme know.

[code]
Will merge on the weekend.

[2019-10-10 07:28] nihp commented on #2087
Not different. Instead of LIST text there is NEXT text.

[2019-10-10 15:55] msevestre opened #2125 "Tooltip: Icon and pointer shown at the wrong place when using RTL and showing the tooltip"
Using version 1.1

**Explain what you did**
Create a view using the Tooltip component. Sets the RTL to true `I18nManager.forceRTL(true)`

The tooltip icon is positioned on the top right of the view as on screenshot below.
When using RTL, react-native does its magic and flip the whole UI. The tooltip icon is then on on the top left of the screen as expecetd

**Expected behaviour**
When using RTL, I

[2019-10-11 06:25] afshawnlotfi commented on #1899
Oh back then I was literally on an iPhone 5 temporarily. This wasn't on the iPhone 5 simulator. But at that point things get slow haha.

[2019-10-11 18:44] emclab opened #2126 "Icon stops showing after upgrading RN to 0.61.1 from 0.59.9"
Use icon in react-native-elements 1.2.3 in my RN app.

         import {Icon } from "react-native-elements";

The octicon is used in header:

    const icon_size = 25;
     const EventStack = createStackNavigator({

      Event:  {
        screen: EventWithSelf,
        navigationOptions: ({navigation}) => {
          return {
            title: 'Event',
            headerRight: (
              <T

[2019-10-11 18:49] iRoachie commented on #2126
Duplicate of #2064

[2019-10-11 18:49] #2126 closed

[2019-10-13 13:17] ganes1410 commented on #1952
@iRoachie  I'll work on this.

[2019-10-13 13:45] ganes1410 commented on #1952
@iRoachie
 Here is the approach I am thinking for this issue. Add additional two more props called
**editButtonSource**:  which accepts the uri and `conditionally render` this with icon.
**editButtonStyles**: an object to pass the styles for the .edit button.

Let me know what you think

[2019-10-13 16:39] 5ervant opened #2127 "Not working with react-native-snackbar-component: fontFamily "space-mono" is not a system font and has not been loaded through Font.loadAsync."
My `react-native-elements` version is **"^1.2.6"** and I'm using `expo` **"^35.0.0"**. I'm seeing this error on my Android emulator upon using `react-native-snackbar-component`, no problem when viewing my application on the web:

    fontFamily "space-mono" is not a system font and has not been loaded through Font.loadAsync.

    - If you intended to use a system font, make sure you typed the name

[2019-10-13 16:47] 5ervant commented on #1986
Did not work.. :( https://github.com/react-native-elements/react-native-elements/issues/2127

[2019-10-13 16:58] iRoachie commented on #2127
We don't use "space-mono" font in react-native-elements, and neither does react-native-snackbar-component.

I'm assuming this error is coming from another package you are using or in your code. Here's an example of the two packages working without any problems https://snack.expo.io/@roach_iam/intrigued-tortilla

[2019-10-13 17:20] 5ervant commented on #2127
My `<Header />` contains this `leftComponent`:

    <Header
      leftComponent={{ icon: 'menu', color: '#fff' }}

The _"burger menu"_ icon is appearing unformatted on my Android emulator *(but appearing well on the web)* when `react-native-snackbar-component` is installed.

I'm quite amazed why the _"burger menu"_ icon's showing well on Snack's Android view. I've used the boilerplate _"tabs"_ of

[2019-10-13 19:28] 5ervant commented on #2127
It's literally an issue while you install `react-native-snackbar-component` with Expo. I'm using Yarn, so I'd solved the problem by running these after installing `react-native-snackbar-component`:
[code]

[2019-10-13 19:28] #2127 closed

[2019-10-13 19:48] #2027 closed

[2019-10-13 23:15] iRoachie commented on #1952
I think what should happen first is that we should change the current edit button and it's docs to being `accessory`. Then we can make the change to allow it to use an image.

[2019-10-14 01:08] #681 closed

[2019-10-14 01:10] #1637 closed

[2019-10-14 03:06] atrimn commented on #2121
That would be master correct? @iRoachie

[2019-10-14 03:09] iRoachie commented on #2121
Yes this will PR will need to be based from the master branch

[2019-10-14 04:45] #2004 closed

[2019-10-14 14:12] jjg77 opened #2132 "onClear warning SearchBar (web)"
Getting a warning when using SearchBar component on the web:

**Warning: Unknown event handler property `onClear`. It will be ignored.**

[2019-10-14 14:17] iRoachie commented on #2132
What version are you using?

[2019-10-14 16:22] MikeMajara opened #2134 "alignItems: 'baseline' crashes app"
**Explain what you did**
Aligning Icons to text in a `flexDirection: 'row'` with `alignItems: 'baseline'`

**Expected behaviour**
That the icons remain aligned to the baseline together with the text.

**Describe the bug**
Whenever `alignItems: 'baseline'` is applied as style to the parent view containing Icons. The app crashes.

**To Reproduce**
[Reproduced in snack](https://snack.expo.io/S1K5kXGF

[2019-10-14 17:14] iRoachie commented on #2134
This is such a weird bug. I have no idea

[2019-10-14 18:10] dmargu opened #2136 "Is it possible to make the title for a ListItem component multiline?"
I have been trying to see if I can make my title multiline. I have a right component currently so sometimes if the title text is long it gets cut off. I need the user to be able to see the entire title and it's completely fine if it makes the listItem bigger and wraps down.

I assume there's a way to do this but I have not been able to figure it out. I have tried making the title a text component

[2019-10-14 18:20] iRoachie commented on #2136
I can't seem to replicate this. The title wraps by default.
![Simulator Screen Shot - iPhone 11 - 2019-10-14 at 14 19 46](https://user-images.githubusercontent.com/5962998/66773747-bb331f80-ee8d-11e9-8023-d2bfc960008f.png)

https://snack.expo.io/@roach_iam/humiliated-fudge

[2019-10-14 18:28] dmargu commented on #2136
I hard-coded a height to the list item. It started working right when I got rid of it. Sorry for wasting your time, thanks for the help.

[2019-10-14 18:28] #2136 closed

[2019-10-14 18:29] iRoachie commented on #2136
It's okay! Definitely not a waste of my time. Everyone has those days. Get back up and go! 💪

[2019-10-14 19:43] #2061 closed

[2019-10-14 19:43] iRoachie commented on #2061
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-15 21:25] #2103 closed

[2019-10-16 14:12] atrimn commented on #2121
I submitted a PR for this
https://github.com/react-native-elements/react-native-elements/pull/2130

[2019-10-16 17:40] AnthonyTailer commented on #1861
In version **1.1**, you could use:
`overlayStyle={{ position: 'absolute', bottom: 0 }}`
to set the position of Overlay on the bottom of page. Works for me.

[2019-10-16 20:18] kuyapete opened #2140 "showReadOnlyText is missing / not working"
I was using the rating component, And I only need to display it as a readonly. When I use the prop showReadOnlyText with a value of false, the readonly text is still showing?

**Expected behaviour**
'(readonly)' text should be not displayed

**Possible Solution**
Workaround is to make a customized showRating text instead of using its props.

**Screenshots**
![image](https://user-images.githubuserc

[2019-10-17 10:29] imcvampire opened #2141 "Disable onPress when button is loading"
**Is your feature request related to a problem? Please Describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Normally, a `loading = true` means there is a pending state. A button on loading state shouldn't pressable

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
`Button` will check `loading` prop

[2019-10-17 16:36] sereymongkol commented on #2099
Hello @iRoachie, can I ask you something? I saw on the main Github page, the screenshots look awesome. Buttons have many color, round or square shape and many style but when I tried the provided code on the docs page, thing is so simple. They doesn't contain anything or can say almost identical to default react native components. So, is that I do it wrong or it is like that? And if it is so, then

[2019-10-17 16:38] iRoachie commented on #2099
The screenshots are from our example app https://github.com/react-native-elements/react-native-elements-app

All the code is provided

[2019-10-18 13:16] iRoachie commented on #2141
Hey, I'll do some UX research on this and get back to you. I don't see this behaviour in other UI libraries, but i'll do some checking around

[2019-10-18 14:49] imcvampire commented on #2141
Thank you!

I find some UI lib that implements my suggestion:

https://github.com/ant-design/ant-design/blob/cd6ff75ab2848d515b05c33b21e395c896d98242/components/button/button.tsx#L184
https://github.com/ElemeFE/element/blob/2830c0478331543ff51951cad349d66170fd0120/packages/button/src/button.vue#L5

Btw, if you are okay, I can help to implement that feature too!

[2019-10-18 14:57] iRoachie commented on #2140
Seems like this feature has been removed or never was there and the docs are incorrect. @Monte9 is this something you want to add?

[2019-10-18 15:02] atrimn commented on #2141
If I could throw in my 2 cents I feel like that should be up to the developer to handle.

Your onPress function should have knowledge of the loading state and execute accordingly. As far as implementing this in the library I don’t see it being a bad thing but definitely not necessary IMO.

[2019-10-18 15:09] iRoachie commented on #2140
Yes this was removed in 1.0.0 https://github.com/react-native-elements/react-native-elements/pull/1671. I updated the docs.

[2019-10-18 15:11] iRoachie commented on #2141
Yea I definitely understand the use case. I'm just wondering what's the best way to deal with it UX wise, see discussion here https://twitter.com/roach_iam/status/1185178868568731649

[2019-10-18 16:02] iRoachie commented on #1989
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-18 16:02] #1989 closed

[2019-10-19 23:08] sam1463 opened #2143 "avatar not showing fallback icon when source prop becomes undefined/null"
**Explain what you did**
I'm using an Avatar component with an image source and an icon as a fallback for a profile picture. If the image source is initially set to be undefined (i.e. no profile photo), the Avatar renders correctly with the icon, and if it has a source image, that renders correctly too.

**Expected behaviour**
I would expect the Avatar to render the icon when the source prop is re

[2019-10-20 05:15] kuyapete commented on #2140
@iRoachie Okay thanks.

[2019-10-20 11:47] #2140 closed

[2019-10-20 12:15] iRoachie commented on #1338
Added proper support for this in the next release.

[2019-10-20 12:15] #1338 closed

[2019-10-20 13:18] iRoachie commented on #2143
This is already fixed on `next`. And will be live in 2.0.0. The problem was that previously there was an extra grey background applied to the `Image` component underneath.

So the avatar was setting one on the container style - https://github.com/react-native-elements/react-native-elements/blob/master/src/avatar/Avatar.js#L165

And then the Image component has one of its own for the placeholder -

[2019-10-20 13:18] #2143 closed

[2019-10-20 16:02] imcvampire commented on #2141
@atrimn yes, it could be up to developers. But let think about how many time you need to check `loading` on your `onPress` function?

In my experience, it's all the time. So why don't follow other packages to implement that feature

[2019-10-20 16:11] iRoachie commented on #2141
Okay based on the discussion it seems that loading and disabled should be 2 separate states, and we shouldn't have to combine disabled + loading together to show a loading state.

[2019-10-21 13:04] mschipperheyn commented on #2083
@oxyii we use https://github.com/Dekoruma/react-native-web-modal/tree/master/packages/modal-enhanced-react-native-web to work around RN Modal limitations. Out of curiosity, does react-native-elements support a `component` prop on its components so that the default implementation  (e.g. native Modal) can be overwritten to use the passed implementation (e.g. custom Modal with same api).

[2019-10-21 13:57] oxyii commented on #2083
@mschipperheyn many RNE components have a `Component` among their props. But not all components and not for all their parts. We do not close this issue to think through and implement the optimal solution for `Tooltip` component. I'm not sure what the solution will be able to redefine `Modal` part of `Tooltip`. It is quite fine-tuned there
https://github.com/react-native-elements/react-native-eleme

[2019-10-22 05:14] #1847 closed

[2019-10-22 05:38] iRoachie commented on #1886
Don't think we have a good way to fix this. Instead, I'd just recommend setting the primary colour in your theme or directly on the component.

https://snack.expo.io/@roach_iam/blissful-pretzel

[2019-10-22 05:38] #1886 closed

[2019-10-22 05:38] mikeaustin commented on #2083
I ended up rolling my own that simply has a root level absolute view, and pipe down events via context to add elements to it, with a backing view that removes it when tapped. So far it works with pop ups on top of modals. I’ll try the other 2 implementations.

[2019-10-22 05:39] iRoachie commented on #2078
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-22 05:39] iRoachie commented on #2067
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-22 05:39] #2067 closed

[2019-10-22 05:39] iRoachie commented on #2065
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-22 05:39] #2065 closed

[2019-10-22 05:40] iRoachie commented on #2063
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-22 05:40] #2063 closed

[2019-10-22 05:40] iRoachie commented on #1966
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-22 05:40] #1966 closed

[2019-10-22 05:41] iRoachie commented on #2088
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-22 05:41] #2088 closed

[2019-10-22 05:41] iRoachie commented on #2102
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-22 05:41] #2102 closed

[2019-10-22 08:54] sezginriggs opened #2146 "onBackdropPress doesn't work for Overlay"
I'm trying to use onBackdropPress for Overlay component but unfortunately it doesn't trigger the function.

**Expected behavior**

**Describe the bug**

**To Reproduce**

`
                <Overlay
                    supportedOrientations={['portrait', 'landscape']}
                    isVisible={ this.state.showAddChequeOptions }
                    windowBackgroundColor="rgba(0, 0, 0, .7)"

[2019-10-22 12:56] iRoachie commented on #2146
Can you create an example on https://snack.expo.io that reproduces this?

[2019-10-23 01:06] sezginriggs commented on #2146
Hello @iRoachie , here is the Snack link for example code: [https://snack.expo.io/SJJBImTKS](https://snack.expo.io/SJJBImTKS)

[2019-10-23 04:11] iRoachie commented on #2146
Here's your example working - https://snack.expo.io/@roach_iam/onbackdroppress-problem.

The reason why it wasn't working before is that you were essentially creating a view that covered the entire backdrop. The easiest way to fix this was to remove some of your nested Views.

The `width` and the `height` props on Overlay are for the content, so instead, you can set the height to be 'auto' and wid

[2019-10-23 08:44] nihp commented on #2087
Any update

[2019-10-23 13:52] iRoachie commented on #2083
Hey @oxyii should we add a Component prop on the `Overlay` or should we add https://github.com/Dekoruma/react-native-web-modal/tree/master/packages/modal-enhanced-react-native-web

[2019-10-23 13:59] oxyii commented on #2083
@iRoachie on `Overlay` and on `Tooltip`.
I'm not sure that one more platform-specific dep is a best way... `Component` prop will be better I think.

[2019-10-23 14:42] bikashsahucbnits commented on #2125
The tooltip element is not working properly on the Web.
used toggleTooltips method as mentioned in Docs... But it not working properly in the Web environment only...Anyhow, its working fine with Mobile devices.
<Tooltip
  ref={tooltipRef}
  ...
/>
useEffect(() => {
  tooltipRef.current.toggleTooltip();
}, []);

[2019-10-23 14:52] bikashsahucbnits opened #2149 "The tooltip element is not working properly on the Web."
The tooltip element is not working properly on the Web.
used toggleTooltips method as mentioned in Docs... But it not working properly in the Web environment only...Anyhow, its working fine with Mobile devices.
<Tooltip
ref={tooltipRef}
...
/>
useEffect(() => {
tooltipRef.current.toggleTooltip();
}, []);

[2019-10-23 22:12] iRoachie commented on #2149
Yes this because it's based on Modal, and the Modal component from react-native isn't in react-native-web as yet. See https://github.com/react-native-elements/react-native-elements/issues/2083

[2019-10-24 14:16] #2083 closed

[2019-10-24 14:22] iRoachie commented on #2149
Fixed by https://github.com/react-native-elements/react-native-elements/commit/c277ef394c864330329ab6670034edbc6b7b079d

[2019-10-24 14:22] #2149 closed

[2019-10-24 16:25] iRoachie commented on #1861
Should be able to do the suggestion by @AnthonyTailer

[2019-10-24 16:25] #1861 closed

[2019-10-26 02:56] chinesedfan opened #2153 "Bugs in normalize text algorithm"
**Explain what you did**

Call `normalize(1)` in iPhone 5. It will return 0.95.

**Expected behavior**

It should be 1 according to the comments in source codes.

**Describe the bug**

The reason is that iPhone 5 has a 320x568 screen, which will trigger the first if statement in src/helpers/normalizeText.js.

What's more, in other cases like `pixelRatio >= 3 && pixelRatio < 3.5` and `pixelRatio >=

[2019-10-26 17:42] lklima commented on #1629
@tiagoalves você salvou meu dia mano.

[2019-10-27 04:38] haruelrovix opened #2154 "[Jest] Skipped tests"
**Explain what you did**

From this Travis CI build, [#3300](https://travis-ci.org/react-native-elements/react-native-elements/builds/602404014), there are **skipped** tests.

**Expected behavior**

Should not have skipped tests when run `yarn test`

**Describe the bug**

Jest doesn't exclude `node_modules` directory.

**To Reproduce**

1. Clone React Native Elements, checkout `next` branch
2. Run

[2019-10-27 06:17] #2154 closed

[2019-10-27 06:41] iRoachie commented on #2153
@chinesedfan Thanks for submitting this. Would you mind submitting a fix for this? You can make the PR to the `master` branch.

[2019-10-27 06:43] haruelrovix opened #2156 "Failed prop type due to incorrect React Native version"
**Explain what you did**

Found warnings on this build, [#3300](https://travis-ci.org/react-native-elements/react-native-elements/builds/602404014).

**Expected behavior**

No warning.

**Describe the bug**

See the Jest's log:

[code]

These warnings occurred because RNE still uses RN v0.59. Meanwhile, `accessibilityRole: checkbox` and `accessibilityStates: checked` are new in v.0.60.

Respective

[2019-10-27 06:46] iRoachie commented on #2156
Yes I did see this. Not sure how we should resolve this.

[2019-10-27 06:52] haruelrovix commented on #2156
@iRoachie the versioning documentation in React Native website is messed up 🤦‍♂

![image](https://user-images.githubusercontent.com/17120764/67630862-9c3a8180-f8c0-11e9-8234-e92f4de0f4ee.png)

The `accessibilityRole` in `0.59` should stop in `summary`. Docs in screenshot should be for `0.60` and above.

[2019-10-27 06:54] iRoachie commented on #2156
Yea i brought it up on twitter. The react native docs are out of date, but the code has the changes.

https://github.com/facebook/react-native/commit/7b35f427fd66cb0f36921b992095fe5b3c14d8b9

[2019-10-27 18:20] AkalUstat opened #2157 "image prop in Card won't accept a variable"
I  am using the latest version of `react-native-elements` (1.2.0)
**Explain what you did**
In my project, I have all my configuration set up in a `.json` file (including image location, etc). I was trying to get the `Card` component to accept variable from its props to display the image but it just gives this error:

`components/CourseCard.js: components/CourseCard.js:Invalid call at line 23: requ

[2019-10-27 18:51] oxyii commented on #2157
@AkalUstat [require](https://nodejs.org/api/modules.html#modules_require_id) is server-side method and packager follows `require` instructions while building your bundle. But `this.props` is runtime client-side object. You cannot use `require(this.props.img)` because `this.props` is not exists while building. See [here](https://github.com/facebook/metro/issues/52)

[2019-10-27 20:12] AkalUstat commented on #2157
I see. Thanks!

[2019-10-27 20:14] AkalUstat commented on #2157
Is there another way to accomplish what I need, then?

[2019-10-27 21:42] oxyii commented on #2157
As I understand it, we are talking about local images... the most obvious solution is conversion your `json` file into `js` format and change image locations to `require(<location>)`...
if your `json` has this structure
[code]
your new `js` file will be
[code]

[2019-10-27 21:55] BatDroid commented on #2134
I traced this bug and turns out the problem is with [this line](https://github.com/react-native-elements/react-native-elements/blob/64315d6469cc34b67393e8c192d581118ed341c0/src/icons/Icon.js#L53). when i comment this line there is no crash. this style becomes visible when the `reversed` prop is true. As I don't want to remove this line, I'm afraid i can't do anything. I would have used `react-nati

[2019-10-29 08:26] iRoachie commented on #2132
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2019-10-29 08:26] #2132 closed

[2019-10-29 09:27] iRoachie commented on #2089
@jatinAroraGit Still interested in working on this?

[2019-10-29 23:35] wolverineks commented on #1902
i think react-router does something where you can get the context state from a consumer, ```typescript
<Route>
  {({ match: { params }}) => (<Foo id={params.id} />)}
</Route>
[code]

but unless you use the hooks, then its still backward compatible

heres the file i think would be most relevant
https://github.com/ReactTraining/react-router/blob/master/packages/react-router/modules/hooks.js

[2019-10-30 01:41] #2141 closed

[2019-10-30 01:41] iRoachie commented on #2141
Merged! Thanks, everyone 💯

[2019-10-30 16:29] necolas commented on #2006
I recommend that RN libraries switch to individual svg icons rather than fonts. Svgs have many advantages over fonts including smaller bundle sizes as you only import what you need

[2019-10-31 08:45] thanhluantl2304 commented on #1861
So the next release solved the problem @iRoachie ? Cause I don't want to use position 'absolute'

[2019-10-31 11:49] iRoachie commented on #1861
No. Position absolute works so I have no reason to implement another change

[2019-11-03 09:23] ardeaf opened #2168 "Custom Theme, useContext types don't work."
Tried to use a hook instead of the ThemeConsumer render props method to get my theme in my component, [as done here](https://github.com/react-native-elements/react-native-elements/pull/1894#issuecomment-494019019),  but TSLint throws an error:

[code]

This throws a type error:
`TS2339: Property 'backgroundColor' does not exist on type 'RecursivePartial<Colors>'`

[2019-11-04 03:40] vergilw opened #2170 "buttongroup containerStyle marginHorizontal not work"
buttongroup containerStyle marginHorizontal  not work

[2019-11-04 17:47] iRoachie commented on #2170
Can you create an example on https://snack.expo.io that reproduces this?

[2019-11-04 20:43] iRoachie commented on #2168
Assuming a theme:

[code]

### Current Problem
The typing for ThemeContext sets the theme to `{}` - https://github.com/react-native-elements/react-native-elements/blob/master/src/index.d.ts#L2069. So that's why you get an error because the `colors` attribute can't merge with `{}`.

The ideal situation in TS would've been to pass the generic through `useContext` into `ThemeProps<T>`. However, it se

[2019-11-05 04:26] ardeaf commented on #2168
Ah makes sense. I'll go with the casting, which isn't too bad of a compromise.

[2019-11-05 04:31] thanhluantl2304 commented on #1861
But If i set absolute and then input some data to the components. The keyboard will put all the view up and some parts of view will be hidden. Do you have any idea about that?

[2019-11-05 05:55] wvalen commented on #1861
You can use react-native-modal. It could help you to solve that problem.

[2019-11-05 06:27] thanhluantl2304 commented on #1861
Ok, thanks @wvalen!  I will try it!

[2019-11-05 06:54] nihp commented on #2087
@iRoachie
Here is my sample header section can I get like this.

Note: Here I need to show the username in a line if it is large or small. If it is too large I will show it to next line

Did you get this now?

![Screenshot 2019-11-05 at 11 13 17 AM](https://user-images.githubusercontent.com/36992338/68185224-0e008280-ffc7-11e9-97a7-d9d768a1f397.png)

[2019-11-05 10:59] iRoachie commented on #2168
This is so you don’t have to make an interface as well as a literal. In your example if you update one then you’ll have to update the other. Using typeof means there’s only one source of truth

[2019-11-05 10:59] #2168 closed

[2019-11-05 16:44] iRoachie commented on #2087
This should do what you described https://snack.expo.io/@roach_iam/petrified-ice-cream

[2019-11-05 20:25] oxyii commented on #2170
Reproduced.
@vergilw Please use `marginLeft` and `marginRight` for now.
@iRoachie `marginHorizontal` cannot override pre-defined margins
https://github.com/react-native-elements/react-native-elements/blob/c1690c20f4dd0e39779a42222341b0d7ff83d6f7/src/buttons/ButtonGroup.js#L174-L177

[2019-11-05 20:49] oxyii commented on #2170
Looks like this is veeery old issue https://github.com/facebook/react-native/issues/14587

[2019-11-06 00:04] sushant023 opened #2172 "flexWrap property not working in containerStyle of ButtonGroup"
I want to render multiple buttons as buttongroup which should wrap if exceeds the container width. But giving flexWrap : "wrap" to containerStyle is not working. Any suggestions on how to achieve this?

[2019-11-06 02:19] asagcs opened #2173 "Can I show the Image and title at the same time？"
I need a gradient backgroundColor，So I prepared the gradient background image, but it didn't show the title and image at the same time。
RN： 0.59.9
RNE： 1.1.0

[2019-11-06 03:29] iRoachie commented on #2173
What component are you referring to?

[2019-11-06 03:30] iRoachie commented on #2172
Can you create an example on https://snack.expo.io that reproduces this?

[2019-11-06 03:34] asagcs commented on #2173
Avatar

[2019-11-06 03:38] asagcs commented on #2173
Avatar

---Original---
From: "Kyle Roach"<notifications@github.com&gt;
Date: Wed, Nov 6, 2019 11:30 AM
To: "react-native-elements/react-native-elements"<react-native-elements@noreply.github.com&gt;;
Cc: "asagcs"<1261167816@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [react-native-elements/react-native-elements] Can I show the Image and title at the same time？ (#2173)

What comp

[2019-11-06 07:25] sushant023 commented on #2172
Here is the example
https://snack.expo.io/@sushant.b/buttongroup-flexwrap-example
Please note that I want the number of buttons in one row be equal to the "numCols" prop.
Trying to get the same behaviour as numColumns prop of FlatList
Thanks

[2019-11-06 11:33] issamabdelkrim commented on #1938
in the header component add this :
ViewComponent={View }

[2019-11-06 11:35] xiechao06 opened #2174 "undocumented attribute "activeOpacity" of component "ListItem""
**Explain what you did**

`ListItem` uses the attribute `activeOpacity` to control the active opacity when it is activated. But this attribute is not documented in https://react-native-elements.github.io/react-native-elements/docs/listitem.html

**Expected behavior**
this attribute should be documented

**Describe the bug**

SKIPPED

**To Reproduce**

SKIPPED

We highly recommend that you re-creat

[2019-11-06 11:41] iRoachie commented on #2174
Thanks for reporting. ListItem extends all props from TouchableHighlight. We should add a message similar to https://react-native-elements.github.io/react-native-elements/docs/button.html#props

[2019-11-06 14:37] dialpa opened #2175 "Still needing manual linking"
**Explain what you did**
I have installed react-native-elements and react-native-vector-icons latest releases through npm and following the getting started manual

**Expected behavior**

**Describe the bug**
 it does not work properly. It appears a cross or it does not even appear.
It works when I link it manually which is  not supposed to be necessary.
Does is matter if I still use manual linking

[2019-11-06 14:40] iRoachie commented on #2175
Yes the problem is that react-native-vector-icons has font files (example Ionicons.ttf). So these need to be added to your project as well.

[2019-11-06 21:51] flyingcircle commented on #2070
I wrote a test, and there isn't anything stopping someone from setting the title as a component right now. It just isn't stated in the docs as possible. However, there are multiple components that use a 'title' prop, so I feel like this should be an all or nothing thing. Should 'title' props be changed to 'titleComponent' so that they are completely configurable?

[2019-11-07 01:40] iRoachie commented on #2070
Oh wait that's true, I think the only thing we need to do is update the docs

[2019-11-07 01:43] iRoachie commented on #2070
Here's an example of what it should say https://github.com/react-native-elements/react-native-elements/blame/next/docs/card.md#L204

[2019-11-07 01:56] iRoachie commented on #2172
I'm really not understanding this code you have. What should the final thing look like?

[2019-11-07 02:01] iRoachie commented on #2173
There's no way to both show image and title at the same time.

[2019-11-07 02:01] #2173 closed

[2019-11-07 02:08] #2170 closed

[2019-11-07 07:21] nihp commented on #2087
Thanks @iRoachie

[2019-11-07 07:21] #2087 closed

[2019-11-07 09:03] EddieEJ opened #2177 "Customize clear button of SearchBar"
I am unable to find a way to customize the SearchBar's clear button. When I am using the searchbar on a real device the hit slop for the 'x' is too small for my users to press it easily. I need to increase the hit slop of that icon. Is there a way to do that?

[2019-11-07 13:27] pybuche commented on #1694
Is there any news on this?
I'm highly interested in being able to customize different variants of the button for instance, like the "base" button, and the "outline" one.

[2019-11-07 13:29] iRoachie commented on #1694
Not currently. At least not in the roadmap for v2. I'm not sure of the use case for this as yet.

[2019-11-07 14:34] iRoachie commented on #2177
You can add padding to the Icon, but then it'll affect the position. You'll have to play with the style.

[code]

[2019-11-07 15:19] sushant023 commented on #2172
The final thing should look like this
![buttonGroup](https://user-images.githubusercontent.com/8553818/68401593-0b0cba00-01a0-11ea-93bc-1f4a320ca0fb.png)

[2019-11-07 17:27] iRoachie commented on #2172
This isn't possible right now since it isn't possible to access the container of the button. This PR attempts to implement it https://github.com/react-native-elements/react-native-elements/issues/2172

[2019-11-08 11:08] oxyii commented on #2157
@AkalUstat Let me know if this issue is still actual, I'll reopen it

[2019-11-08 11:08] #2157 closed

[2019-11-08 12:04] sushant023 commented on #2172
OK. Thanks for the update

[2019-11-08 12:06] iRoachie commented on #2172
Sorry realized i linked the wrong issue https://github.com/react-native-elements/react-native-elements/pull/2084

[2019-11-08 12:17] sushant023 commented on #2172
Got it. Thanks again

[2019-11-08 15:11] #2089 closed

[2019-11-10 05:37] saxenanihal95 commented on #94
@iRoachie may i work on this one thinking it to implement it like this: https://goshakkk.name/floating-label-input-rn-animated/

[2019-11-11 04:03] sabun123 opened #2180 "Tooltip hovering in wrong position on Android"
Hi,

I am using react-native-elements version 1.2.7 and I've run into a snag. The tooltip pop up is correctly placed in iOS but in Android it seems to offshoot itself above it's location. Is there a specific prop or style that needs to be used specifically for Android to fix this? I couldn't find anything about this in the documentation.

**Expected behavior**

The Android version should match the

[2019-11-11 12:05] pavilion commented on #2000
I believe this bug is still happening

[2019-11-11 12:09] pavilion commented on #2000
Loading when processing works, however it keeps loading after the image has been loaded.

[2019-11-11 13:35] #2070 closed

[2019-11-11 15:42] iRoachie commented on #2000
@pavilion I couldn't replicate this. https://snack.expo.io/@roach_iam/calm-yogurt. Check if you're on the most up to date version.

If you have any other problems open a new issue

[2019-11-11 15:55] iRoachie commented on #1804
This is fixed in https://github.com/react-native-elements/react-native-elements/pull/1875 by @oxyii

[2019-11-11 15:55] #1804 closed

[2019-11-11 15:58] iRoachie commented on #2180
Duplicate of https://github.com/react-native-elements/react-native-elements/issues/1871/

Fixed by https://github.com/react-native-elements/react-native-elements/commit/85849176ec82e4f036c0df2a0837ba9038e3cea2. Will be available next major release.

[2019-11-11 15:58] #2180 closed

[2019-11-12 04:06] sabun123 commented on #2180
Thanks iRoachie!

In the meantime, I just set my version of react-native-elements to that specific commit in package.json to fix my issue.

[code]

And then used the new prop that commit provides in the tooltip component:
[code]

It works on Android as expected now.

[2019-11-12 04:18] tingzhouu commented on #2174
hi! is it possible for me to try this as my first issue?

[2019-11-12 10:46] iRoachie commented on #2174
Sure! Go ahead @tingzhouu

[2019-11-12 19:23] Sbphillips19 opened #2182 "Avatar Background Image Flashing Grey"
Issue- when I type into handle change basically every time it re-renders the overlayContainerStyle every time.  I am able to switch to just image and it will never re-render, but I would like to use the avatar and edit badge.  I included a video attachment with what is going on

Versions:

"react-native-elements": "^1.2.0",
"react-native": "0.60.5",

Video of issue:

https://vimeo.com/user10510298

[2019-11-14 16:31] iRoachie commented on #2182
Can you create an example on https://snack.expo.io that reproduces this?

[2019-11-14 16:51] crobinson42 commented on #1793
@iRoachie this can probably be closed after a comment or documentation is added in the docs about this quark effecting only Android

[2019-11-14 17:21] iRoachie commented on #1793
@oxyii Did we come up with any solutions to this?

[2019-11-14 17:36] crobinson42 commented on #1793
@iRoachie this "quark" is related to the statusBar that's included in the Header component and adding the prop `statusBarProps={{ translucent: true}}` is the solution on Android phones that do not have a "notch" in the top of the viewport.

[2019-11-15 07:08] Ranjithkumartheegala opened #2183 "react-native-elements issue"
Hi
I am cloning the same code of your git and import visual studio and install "npm install --save" then go to run "yarn start" it is running but it is showing below issue please solve this my problem Sir

![Screenshot from 2019-11-15 12-25-26](https://user-images.githubusercontent.com/57788696/68923492-76f4b100-07a4-11ea-8c81-17f2b6d16650.png)

[2019-11-15 15:56] darrylyoung opened #2184 "SearchBar onCancel not firing"
**Explain what you did**

Added a `SearchBar` component to my Expo app.

**Expected behavior**

Based on the [documentation](https://react-native-elements.github.io/react-native-elements/docs/searchbar.html#oncancel), I expected my callback to be fired when pressing the _Cancel_ button that appears alongside the search when there's text in the input.

**Describe the bug**

The function passed to `

[2019-11-15 20:35] oxyii commented on #2184
@darrylyoung Hm... Cannot reproduce it https://snack.expo.io/BkctsYnsB

[2019-11-15 21:14] darrylyoung commented on #2184
Hi, @oxyii. Thanks for trying it out. As soon as I have chance – hopefully this weekend – I'll try again and let you know. If I still have the problem, I'll try to create a snack and provide some more code.

Have a nice weekend.

[2019-11-16 09:16] darrylyoung commented on #2184
Hi, @oxyii. Quickly running your example on my iPhone now, it looks like the difference is that I was wrapping _everything_ – the `SearchBar` followed by the rest of the screen – in a single `ScrollView`. If I change your `SafeAreaView` to `ScrollView`, I can reproduce the situation I originally mentioned.

That, however, would remove scrolling, which I want, so I've realised that I'm probably bet

[2019-11-16 17:37] oxyii commented on #2184
@darrylyoung Reproduced. This is not a `SearchBar` issue exactly. It's `ScrollView` and ScrollView-based components (such a FLatList) [behavior](https://facebook.github.io/react-native/docs/scrollview#keyboardshouldpersisttaps).
[code]

[2019-11-16 21:26] darrylyoung commented on #2184
Got it. Thank for you the explanation! I’m new to React Native so learning this as I go. Have a nice weekend.

[2019-11-16 21:26] #2184 closed

[2019-11-17 08:13] Sbphillips19 commented on #2182
I wasn't able to just bringing in avatar and a text input.  I will continue to try to build it out with redux, but have some fires to put out first so this jumped to lower priority unfortunately/ may just have to swap out with image for now since that seems to work.  Here is a snack that works and doesn't have any errors.

https://snack.expo.io/SysjpuCoH

In my code I tried this:

loadingProfilePi

[2019-11-17 17:14] tingzhouu commented on #2118
I faced the same issue when using Tooltip, here's a summary of how i created a custom component to get around it.

1. Assume a fixed width for the popover, so we only need to vary the height.
2. The custom component takes in the prop tooltipText and creates a View, containing tooltipText, which is hidden.
3. Using the [onLayout](https://facebook.github.io/react-native/docs/view#onlayout) prop, it

[2019-11-18 16:04] phuhl commented on #2064
We are expecting this issue while using Expo. Unfortunately we cannot manually link while using Expo. We did update certain dependencies recently and are now using:
- "expo-asset": "^7.0.0",
- "expo-cli": "^2.20.0",
- "expo-cli": "3.4.1",
- "expo-constants": "~5.0.1",
- "expo-constants": "~7.0.0",
- "expo-font": "~5.0.1",
- "expo-font": "~7.0.0",
- "expo-localization": "~7.0.0",
- "react": "16.8.3

[2019-11-18 16:09] phuhl commented on #2064
These are the version diffs between working and non-working:
[code]

We tried with both, "react-native": "https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz", and "react-native": "https://github.com/expo/react-native/archive/sdk-33.0.0.tar.gz"

No other packages changed.

[2019-11-20 01:57] oxyii commented on #2182
@Sbphillips19 Look, React will re-render after changing **any** state or prop (exclude using in `memo`). So you just need to exclude avatar into standalone component and Avatar will not be re-rendered after input changes https://snack.expo.io/HJxupMGhB

[2019-11-20 16:53] nica0012 opened #2190 "Input Clear Button Styling"
**Explain what you did**

**Expected behavior**

**Describe the bug**

**To Reproduce**

We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If not, list the steps that a reviewer can take to reproduce the behaviour:

**Screenshots**

**Your Environment (please complete the following information):**

| software              | version |
| --------------------- | ------

[2019-11-20 16:55] nica0012 commented on #2190
Ever since I updated to RN v60, My input text styles and clear buttons have gone very faint. I managed to fix the text styles by adding a color property, but there doesn't seem to be any control over the clear button.

It shows okay on my simulator, but on my device you can barely see it.

If there is a way to change the styling like size / color, this would be no issue - maybe I missed something?

[2019-11-20 16:56] iRoachie commented on #2190
I don't know of RN v60 changing anything visually. Can you create an example on https://snack.expo.io that reproduces this?

[2019-11-20 17:02] nica0012 commented on #2190
@iRoachie Since it works on the simulator I dont know if it would be of much use, but my code for the Input is as follows:

`          <Input
            autoFocus
            autoCorrent={false}
            clearButtonMode="always"
            leftIcon={{
              type: 'font-awesome',
              name: 'search',
              color: colors.grayIcon,
              size: 24,
              m

[2019-11-20 17:03] iRoachie commented on #2190
Are you experiencing this on Android or iOS?

[2019-11-20 17:04] nica0012 commented on #2190
IOS (Only on physical device)

[2019-11-21 16:52] nica0012 commented on #2190
Although it would be nice to have props like clearButtonColor / clearButtonStyle, a simple workaround is to just create a right icon thats touchable like so:

[code]

[2019-11-21 16:52] #2190 closed

[2019-11-21 22:48] bearbytes opened #2191 "Custom fontFamily does not work with Text Heading (h1, h2, h3, h4)"
I'm loading a custom font using Expo as described [here](https://docs.expo.io/versions/latest/guides/using-custom-fonts/).

Setting the new font as `fontFamily` style works in regular Text components.

However, as soon as one of the heading props are set on the Text component, the fontFamily is no longer applied.

Example:
[code]

This text is large, red and uses the default font.
After removing t

[2019-11-23 16:38] oxyii commented on #2191
@bearbytes I'm not sure about exactly **REGULAR** fonts for using with `h*` props...
https://github.com/react-native-elements/react-native-elements/blob/0f06b924fc7536f7599aca268864a75f33e13b1e/src/text/Text.js#L29-L32
Please try to use **BOLD** font.

[2019-11-23 17:29] bearbytes commented on #2191
Setting `fontWeight: 'normal'` seems to fix the issue. Loading and setting the Bold variant of the font however doesn't seem to make any difference if the fontWeight is not changed.

Maybe the information about which "weight" the font has is getting lost when loaded by `expo-font`, and all fonts are handled as regular.

For now, I'll change the default fontWeight of all h-elements in the ThemeProv

[2019-11-23 23:25] oxyii commented on #2191
@iRoachie or we can qualify this issue as a bug?

[2019-11-24 12:09] lehtaku commented on #1842
@iRoachie

I still didn't find a way to change ListItem underlay color. I'm using react-native-elements 1.2.7.

[2019-11-24 13:20] iRoachie commented on #1842
Just set `underlayColor` prop https://snack.expo.io/@roach_iam/honest-salsa

[2019-11-24 13:27] #2174 closed

[2019-11-24 13:30] oxyii commented on #1793
@iRoachie #1854 ?

[2019-11-25 16:54] emmx opened #2192 "SearchBar's height"
It's not possible to easily increase the height of the SearchBar. It would be nice to have a height prop on the SearchBar component for that purpose.

There are a few styling props such as inputStyle, inputContainerStyle, containerStyle, etc. but none would let you change its height in a way that the whole thing is adjusted accordingly (ie, the search/cancel buttons should become smaller, the plac

[2019-11-26 08:30] baicuhaha commented on #2180
When will the new version be updated

[2019-11-27 01:29] Sbphillips19 commented on #2182
Unfortunately the avatar is dependent on the state since I am allowing the user to update their profile picture so I need to be able to update the avatar.   `source={{ uri: this.state.profilePicture }}`

Why would React Native Image not rerender while Avatar rerenders?

[2019-11-27 01:37] oxyii commented on #2182
@Sbphillips19 under the hood `RNE Avatar` have `RNE Image`. This Image component make [fade in](https://github.com/react-native-elements/react-native-elements/blob/32fbb7ab60040b81ce148a749c5e7ae29fde4408/src/image/Image.js#L19-L38) effect. So I think you're in trap on this. Avatar will blinking on `source` prop changes

[2019-11-27 03:02] iRoachie commented on #2182
There's an option to disable the animation, that will come in the next release https://github.com/react-native-elements/react-native-elements/commit/4a19e4c7a9d8f0a219c75b49d3fae2252bcd9bdb#diff-db91516ae3fd33db904a11400a5e19e4

[2019-11-27 03:05] oxyii commented on #2182
@iRoachie Will Avatar support this prop for passing into Image?

[2019-11-27 03:05] iRoachie commented on #2182
Avatar already supports this by use of the [`imageProps` prop](https://react-native-elements.github.io/react-native-elements/docs/avatar.html#imageprops)

[2019-11-27 10:22] Usamaliaquat123 commented on #2192
@iRoachie  can i do this  👍

[2019-11-27 10:32] Usamaliaquat123 commented on #2191
@iRoachie  @oxyii  can i fix this issue... ?

[2019-11-27 10:46] musesfish commented on #2021
？？

[2019-11-27 16:53] mynameisguy opened #2195 "Slider thumb lose the dragging"
**Explain what you did**

I'm Clicking the thumb and moving it on the slider.

**Expected behavior**

The thumb should move with the click as long as I'm holding.

**Describe the bug**

When I click and move the thumb quickly it will lose the dragging and stop responding.
I noticed that if I click for a second, and then start moving - everything is fine.

**To Reproduce**
tried to reproduce on exp

[2019-11-27 18:01] Sbphillips19 commented on #2182
@iRoachie will close and try implementing once release is out.  Would I just use transition=false?

[2019-11-27 18:01] #2182 closed

[2019-11-27 18:03] iRoachie commented on #2182
[code]

[2019-12-02 08:08] revathskumar commented on #1880
But if the backHandler have a navigation, this will cause the navigation when ever the user closes the Tooltip right?

Since we are passing `onClose` to `onRequestClose` when the Tooltip is shown and user press the backbutton, the `onClose` should get triggered right? Correct me if I am wrong.
But when I tested `onClose` is getting triggered with `onDismiss` not with `onRequestClose`.

the [doc of

[2019-12-02 10:20] mynameisguy commented on #2195
There's a bounty for this bug: https://www.bountysource.com/issues/84515279-slider-thumb-lose-the-dragging
If anyone interested in this getting solved you can join.

[2019-12-02 12:38] ankhzet opened #2197 "deepmerge util in 'withTheme' HoC chokes on extraneous props with circular references"
**Explain what you did**

I've used the Input component in combination with a HoC, that provides some extra props, that can be an objects with circular refs. Usually i'd expect any extraneous props to be ignored by any component, so i passed current props directly to the wrapped Input without filtering out HoC-introduced props.

**Expected behavior**
Input component (and probably any other themed

[2019-12-02 17:11] darrylyoung opened #2198 "Can't remove horizontal padding in SearchBar component"
**Component**: SearchBar

**Explain what you did**

I'm trying to remove the padding in the `SearchBar` component.

**Expected behavior**

I would've expected to be able to remove the extra padding with `{{ padding: 0 }}`.

**Describe the bug**

**To Reproduce**

Wrap the `SearchBar` in a wrapper that gives `16px` padding on both sides. You can see this in the screenshot. It's a little hard to see

[2019-12-03 06:27] 25juan opened #2200 "OPPO R9M crash"
**Explain what you did**

[code]

**Expected behavior**

App does not crash.

**Describe the bug**

The header component is used in my project. It will cause app to flash back at oppo R9m. I found the problem. The following changes can be made to solve the flashback problem。
in `react-native-elements/src/header/Header.js`
[code]

**To Reproduce**

import React from "react";
import { Header } from

[2019-12-03 08:35] darrylyoung commented on #2198
I noticed that using works in `containerStyle={{ padding: 0 }}` to achieve what I want when **not** using `platform="ios"`. I would like to, however, use the iOS style. Is there a better workaround?

[2019-12-03 08:36] darrylyoung commented on #2198
I noticed containerStyle={{ padding: 0 }} works to achieve what I want when not using platform="ios". I would like to, however, use the iOS style. Is there a better workaround?

[2019-12-03 08:39] darrylyoung commented on #2198
I noticed `containerStyle={{ padding: 0 }}` works to achieve what I want when not using `platform="ios"`. I would like to, however, use the iOS style. Alternatively, I can add `containerStyle={{ margin: -8 }}` to pull it out to the desired edges (red background shown below to illustrate this) but it seems like a hacky workaround. Is there a better way?

![PNG image](https://user-images.githubuserc

[2019-12-03 18:29] neilgamb opened #2201 "Usage with Storybook and react-native-web"
I'm looking to create a docs site / component library using storybook.  I have followed the instructions here: https://react-native-elements.github.io/react-native-elements/docs/web_usage.html

but when I compile the storybook, I'm getting the following error:

`Module parse failed: Unexpected token (61:11)
You may need an appropriate loader to handle this file type, currently no loaders are confi

[2019-12-05 01:17] tylerolechnowicz commented on #253
Any updates on this? Would really like something like https://github.com/toystars/react-native-multiple-select

[2019-12-05 02:10] nj005py opened #2202 "How contribute UI library to this project?"
Will this repository accepts third party's UI libraries ?

[2019-12-05 03:01] Qiyu8 commented on #2202
You can see this PR https://github.com/react-native-elements/react-native-elements/pull/2189 ,they will add a new "Community Elements" section if anything works properly

[2019-12-05 03:14] iRoachie commented on #2201
Judging based on your comment only, I have no way to determine where `61:11` is or what file it is. Is this the full error log?

[2019-12-05 03:21] Qiyu8 commented on #2200
So you mean when backgroundImage is empty(default mode),   ViewComponent should use View instead?

[2019-12-05 04:25] 25juan commented on #2200
yes。otherwise oppo  will crash

[2019-12-05 05:32] azizulhaq800804 opened #2203 "Input element left icon displaced in android"
I am using react native input elements and font awesome in an expo project. Here is my code snippet,

import { Input, Text } from 'react-native-elements';
import Icon from 'react-native-vector-icons/FontAwesome';

<Input autoFocus
              ref={(input) => { this.email = input; }}
              placeholder='Name'
              leftIcon={{ type: 'font-awesome', name: 'hospital-o'}}

[2019-12-05 07:53] Qiyu8 commented on #2198
I know what you mean, inside searchbar, The ios mode containerStyle has the default "paddingBottom: 13, paddingTop: 13" attribute, which can't be override by padding, so I recommend you modify these attribute to achieve your desired style.

[2019-12-05 08:04] Qiyu8 commented on #2203
in order to fix this issue, You can pass leftIconContainerStyle attribute to input.  Inside input left Icon, there has a default "marginLeft: 15" style.

[2019-12-05 08:13] darrylyoung commented on #2198
Are you suggesting to fork and modify the code in the component itself or override these by passing a prop (or setting some CSS)? Apologies if I misunderstood. Thanks for the reply.

[2019-12-05 08:14] darrylyoung commented on #2198
@Qiyu8 – Are you suggesting to fork and modify the code in the component itself or override these by passing a prop (or setting some CSS)? Apologies if I misunderstood. Thanks for the reply.

[2019-12-05 08:19] Qiyu8 commented on #2198
I mean you can try code below. focused on containerStyle.
[code]

[2019-12-05 08:47] darrylyoung commented on #2198
Ah, yeah. I'd been trying `padding: 0` and `paddingVertical: 0` but these don't actually override the individual `paddingTop` and `paddingBottom`. Thanks for the suggestion, @Qiyu8. 👍

![PNG image](https://user-images.githubusercontent.com/1460800/70217488-8f237480-1741-11ea-9375-faff1a5b1a88.png)

Now, to make the input go right to the edges...

In the [iOS code](https://github.com/react-native-e

[2019-12-05 14:15] mohak1990 commented on #606
Need to execute function on call back arrow icon for Android.

[2019-12-05 14:56] mohak1990 opened #2205 "onCancel is not working for android"
onCancel event is not firing on Android, working properly on IOS   |

[2019-12-05 20:45] antgel commented on #869
Okay, but why exactly not? The "official" use sounds like tabs, but once it's styled, it can be like one of the above use cases. I defer to you as the expert, but it would be great to get some background.

[2019-12-06 02:18] Qiyu8 commented on #2205
which component? Can you paste your code here.

[2019-12-06 02:25] mohak1990 commented on #2205
search-bar

[2019-12-06 03:03] Qiyu8 commented on #2205
It looks like perfect working in my computer, here shows the code. After click on the left icon, the input focus was lost.
[code]

[2019-12-06 14:14] TomJKlug opened #2206 "Image Component doesn't honor onLoad passed to it."
**Explain what you did**

Image Component onLoad is not being fired. When given a function through props.

**Expected behavior**

I expect the onLoad I supply to the Image Component to run.

**Describe the bug**

The Image component doesn't honor my onLoad function and instead only runs its own onLoad method.

**To Reproduce**
1. Create and Image component
2. Give it an onLoad function that consol

[2019-12-06 14:58] YraZinchenko commented on #2125
1.2.0 version and have this problem

[2019-12-06 16:08] yazmnh87 opened #2207 "trackStyle for Slider, styles passed not being applied"
**Explain what you did**

Attempting to apply a different color to the track on the Slider component

**Expected behavior**

-pass style to trackStyle prop using either backgroundColor or color and color will update

                   <Slider
                      minimumValue={0}
                      maximumValue={20}
                      thumbTintColor="#44B38A"
                      trackSty

[2019-12-07 07:11] Chanach commented on #1864
Typing in SearchBar does not work. I've followed official documentation: https://react-native-elements.github.io/react-native-elements/docs/searchbar.html

`        <SearchBar
          placeholder="From"
          lightTheme
          onChangeText={this.handleSearch}
          value={this.state.searchText}
        />

handleSearch = (searchText) => {

    this.setState({searchText});
    //alert(

[2019-12-07 10:52] mohak1990 commented on #2205
`<SearchBar
        lightTheme
        inputStyle={styles.inputStyle}
        inputContainerStyle={styles.inputContainerStyle}
        round
        autoFocus={true}
        placeholder={placeholder || 'Search'}
        containerStyle={styles.searchContainer}
        onChangeText={text => handleChangeText(text)}
        value={searchText}
        autoCorrect={false}
        onCancel={onCancel}

[2019-12-07 11:27] Chanach opened #2208 "SearchBar - typed text in SearchBar does not appear in the SearchBar"
**Explain what you did**
I want to use SearchBar-Component of react native elements in my App,

Version: "react-native-elements": "^1.2.7"

Typed text in SearchBar does not appear in the SearchBar, means there is a problem with prop "value".
In the Console i can see, that typing text in the SearchBox works, but it does not appear in the SearchBox.

I've followed official documentation: https://rea

[2019-12-07 22:26] cjam commented on #2201
I'm having a similar issue getting react-native-elements working in my typescript monorepo.  It seems to be related to the webpack config but I just can't seem to get it all working together.

I've got a repo structure like:
[code]

My typescript projects are setup with references, and the *components* project is using react-native-elements and I've added the webpack config described here https://

[2019-12-09 02:05] Qiyu8 commented on #2206
It looks like RNE image has a default onLoad function and didn't handle the passed onLoad function.  a PR is welcomed

[2019-12-09 02:37] Qiyu8 commented on #2208
Hi,Chanach. You need to pass the platform attribute manually.
[code]

[2019-12-09 02:58] Qiyu8 commented on #2207
Hi,yazmnh87,if you want to change the backgroud color of the track, try use minimumTrackTintColor and maximumTrackTintColor. inside trackStyle color is invalid while backgroundColor will override by default maximumTrackTintColor.
[code]

[2019-12-09 11:59] cjam commented on #2201
After a lot of reading / writing of config files I finally got this to work.  It was an issue with the paths that I was resolving for the babel loader.  Here is what I ended up with, which seems fairly general.  I'll need to see if I can apply it to storybook as well.

[code]

[2019-12-09 18:36] mi-mazouz opened #2209 "Normalize does not scale the font correctly"
**Explain what you did**

I'm trying to use normalize on a big size. It supposed to scale the font and render the same thing on every size of screen but with a normalize(36) it does not work on Iphone 11.

**Expected behavior**

Iphone 5s
<img width="399" alt="Screen Shot 2019-12-10 at 10 25 26 AM" src="https://user-images.githubusercontent.com/24244248/70542889-8531b500-1b37-11ea-8c68-34e84dfdb51

[2019-12-10 02:34] yazmnh87 commented on #2207
Thanks this ended up working for me, still unsure the use of trackStyle but I have a solution.  Thank you!

[2019-12-10 02:34] #2207 closed

[2019-12-10 03:43] Qiyu8 commented on #2209
That's weird because iphone 8 plus has the same pixalRadio with iphone 11, They should performed in the same way, while using normalize, RNE enlarge iphone 8's size with 1.25 Multiples,  and iphone 8 plus&iphone 11 with 1.27 Multiples.

[2019-12-10 07:29] Qiyu8 commented on #2209
@iRoachie I found a piece of code [here ](https://github.com/NewBieBR/react-native-normalize/blob/master/src/index.ts) that can fix this issue and [#2153](https://github.com/react-native-elements/react-native-elements/issues/2153), what do you think?

[2019-12-10 08:09] lhaiqing opened #2210 "Tooltip Direction cannot be horizontal screen"
react-native 0.58
Direction cannot be horizontal screen

[2019-12-10 10:29] cjam commented on #2201
@neilgamb I ended up getting my storybook working with react-native-elements.  It was just a matter of getting the right modules transpiled by babel.  The *webpack.config.js* in my `.storybook` folder looks like this:

[code]

You may also want to confirm that you either have the `babel-plugin-react-native-web` plugin installed and configured or that you've added a webpack resolve alias for `react

[2019-12-10 13:46] VytautasLozickas opened #2212 "Badge component should expose textProps"
**Is your feature request related to a problem? Please Describe.**
When font scaling is enabled in a device there's no way to apply `allowFontScaling` property to `Badge` component.

**Describe the solution you'd like**
Exposing `textProps` (of the `Text` component) would allow setting this prop (`allowFontScaling`) to `false` in turn resolving the problem.

**Describe alternatives you've consider

[2019-12-10 15:26] mi-mazouz commented on #2209
Sorry I was totally wrong about the pictures, I updated them correctly

[2019-12-10 15:34] mi-mazouz commented on #2209
@Qiyu8 The first link you sent works fine!

[2019-12-10 22:59] gsouf commented on #2201
in case it might help someone I had to run in a few more steps.

- first: explicitly declare babel config in the webpack rule (vs in `.babelrc`) or else babel config was not applied for content in node_modules for reasons I ignore.
- second: add a `file-loader` because reaction-native-ratings imports files.

Example webpack rule config that works for me:

[code]

[2019-12-11 00:57] davidsonsns opened #2214 "feature: Add testID on PadView inside ListItem"
When I was doing some tests related to the ListItem component. So, to create some tests was hard to test the PadView behaviors. To fix it locally I'm using the prop `linearGradientProps` that override the default props. Example:

[code]

My guess is that we could create something similar to this https://github.com/react-native-elements/react-native-elements/blob/next/src/list/ListItem.js#L133 and

[2019-12-11 03:17] Qiyu8 commented on #2210
Can you describe in more detail? as far as I know, Tooltip don't have direction prop.

[2019-12-13 03:30] Gabsys commented on #2192
Set height in _inputStyle_ to adjust the **height of SearchBar** & set height in _containerStyle_ to adjust **height of the icons** to be align with the SearchBar.

[2019-12-13 17:38] Niryo opened #2217 "Slow rendering of Checkbox"
I Am trying to render a list of checkboxes, but the checkbox themselves renders very slow.
I added a gif that shows the problem: you can see that in the first run (after refreshing the simulator), the checkboxes take a lot of time to render and the flicker is visible, but in the second run they are probably cached and being render immediately.
I tried a simple page with just couple of checkboxes a

[2019-12-16 03:19] Qiyu8 commented on #2217
Can you paste your low performance code snippet here?

[2019-12-17 02:35] Qiyu8 opened #2218 "How about adding an example module in this repository？"
**Is your feature request related to a problem? Please Describe.**
 I'm always frustrated when searching for some standard official code snippet about how to use RNE components correctly, I have to jump to the https://react-native-elements.github.io/react-native-elements/ in order to get what I want , which is not convenient and sometimes confusing because some code snippet is incomplete.

**Descr

[2019-12-17 09:26] dekm opened #2219 "toggle for tooltip close when clicking outside the tooltip"
**Describe the solution you'd like**
Allow for tooltip to have a toggle for clicking outside the tooltip to close.

**Additional context**
Currently there does not appear to be anyway to disable the close functionality of tooltip if you press outside the tooltip area. I'm creating a custom walkthrough using tooltip and I don't want to allow the user to close the tooltips by clicking outside.

As a

[2019-12-20 13:22] Niryo commented on #2217
I created a small app that demonstrates the problem: https://github.com/Niryo/TestReactNativeElementsCheckbox
you can clone it and after `npm install` just run `expo start`. you can see that any time you refresh the simulator, the checkboxes flicker.

[2019-12-20 19:22] oxyii commented on #2218
@Qiyu8 something like [this](https://github.com/react-native-elements/react-native-elements-app)?

[2019-12-20 20:00] codeundercoverdev commented on #2047
Did you ever figure this out?

[2019-12-20 21:13] neilgamb commented on #2201
wonderful! I'm coming back to this after working on something else for a few weeks.  I will give this a shot a report back.  Thanks for your input @cjam

[2019-12-21 01:42] kennylbj commented on #242
Any plan to combine `react-native-swipe-list-view` with RNE listItem? It seems that the swipe actions are common usage. XD

[2019-12-21 21:41] #2195 closed

[2019-12-23 02:28] Monte9 opened #2222 "Looking for Core contributors!"
React Native Elements is (and always has been) a **community-first project**. That means that a core group of contributors has led the project in their spare time with the help of 100's of individual contributors.

<a href="https://github.com/react-native-elements/react-native-elements/graphs/contributors"><img src="https://opencollective.com/react-native-elements/contributors.svg?width=890&button

[2019-12-24 03:02] wxxxxxxxx opened #2223 "How does onCancel not delete the input box content?  "
How does onCancel not delete the input box content?  

[2019-12-24 03:54] Qiyu8 commented on #2223
onCancel is used to remove the focus from the input box, not to delete the content.

[2019-12-24 04:06] Qiyu8 commented on #2218
@oxyii This is an app with high integrity. It's a good sample to demonstrate what RNE can do, But what I want is an example for every single componentwith full props. (in RNE case, I mean 21 demo pages)

[2019-12-24 04:28] oxyii commented on #2223
@wxxxxxxxx https://github.com/react-native-elements/react-native-elements/issues/2184

[2019-12-24 05:09] oxyii commented on #2208
@Chanach Can you make a small demo to reproduce this issue ? https://snack.expo.io/

[2019-12-24 05:40] oxyii commented on #2218
I think existing examples are enough. if you have a desire to experiment, here are my experiments on this subject https://github.com/react-native-elements/react-native-elements/issues/1851#issuecomment-478279304

[2019-12-24 06:19] Qiyu8 commented on #2223
on SearchBar-android.js, The code is diffrent.
[code]

[2019-12-25 09:51] braincore commented on #2007
I'm using a custom theme `Theme<MyTheme>`. Is there a TypeScript-friendly way of defining `ThemeContext` appropriately? Right now, it's `React.Context<ThemeProps<{}>>`. Ideally, it would be `React.Context<ThemeProps<T>>`.

Guessing it wasn't done this way in your diff since the definition is a const: `const ThemeContext = ...` which I don't think can be parameterized. Any suggestions?

[2019-12-25 10:00] braincore commented on #2007
For now, I'm getting by with a type assertion:

`const { theme } = useContext(ThemeContext) as ThemeProps<MyTheme>;`

[2019-12-27 00:13] martin-ecatch opened #2225 "Pass allowFontScaling prop to the Icon component"
If I use react-native-vector-icon's components directly, I can pass allowFontScaling={true} like this:
<MaterialIcon allowFontScaling={true} ....
and the icon will scale based on the user's settings.
If I use the Icon component from react-native-elements, there's no way to change this property. As a result the icons don't scale based on the user's settings.
Would it be possible to add allowFontSca

[2019-12-29 13:02] samipshah100 commented on #870
Hi @xavier-villelegier : thanks, i tried this but i would like to see subtitle be able to go underneath the right title. Is this possible?

[2019-12-29 19:23] smartameer opened #2227 "Default Icon set for the Components"
I was linking react-native-vector-icons and was deleting some of the unused font files from build, and it gave me error saying MaterialIcons is required because SearchBar uses the default Icon search and clear.

When I went to your code the [getIconType.js](https://github.com/react-native-elements/react-native-elements/blob/next/src/helpers/getIconType.js), it has the switch case default registerd

[2019-12-30 12:05] anthowm commented on #2227
+1

[2020-01-02 21:33] oxyii commented on #2205
@mohak1990 Did you use SearchBar inside ScrollView? May be [this](https://github.com/react-native-elements/react-native-elements/issues/2184#issuecomment-554658025) helps?..

[2020-01-02 21:37] oxyii commented on #2205
Or one more platform difference: https://github.com/react-native-elements/react-native-elements/issues/2223

[2020-01-03 12:13] akashnsmahaswami opened #2229 "keyboard is not opening in iOS 13.2.0 if i use "secureTextEntry={true}" in Input tag."
If i set **secureTextEntry={true}** then onFocus of input field keyboard is not popped out in iOS 13.2.0. Same code is working fine in iOS version lesser than 13.2.0.

**my code**
<Input
      placeholderTextColor="grey"
      textContentType="password"
      clearButtonMode="while-editing"
      autoCapitalize="none"
      autoCorrect={false}
      underlineColorAndroid="transparent"
      editab

[2020-01-04 22:16] felix4321 opened #2230 "ListItem pad prop not working for web"
**What I did**

I am developing a react-native (version 0.61.5) Expo-App with a **ListItem** (react-native-elements version 1.2.7).

**Bug**

The problem is, that the pad prop (for the space between Avatar and title/subtitle) only is working in my Android/iOS-App. In my Web-App the space is zero.

I also started the 'react-native-elements/react-native-elements-app' locally. There is also no space

[2020-01-05 14:01] felix4321 commented on #2230
I found a workaround. I set the pad to 0 and implement my own spacing:

[code]

[2020-01-05 18:05] Bradzer opened #2231 "Support for the `accessibilityLabel` prop"
**Is your feature request related to a problem? Please Describe.**
There is no support for the `accessibilityLabel` prop for UI automation test purposes on react native elements components.

**Describe the solution you'd like**
It would be great to have the components support the `accessibilityLabel` just like other React Native components like `View` do.

[2020-01-06 09:49] Biplovkumar opened #2233 "How to avoid flickering when Avatar re-render again and again."
**Explain what you did**

**Expected behavior**

 not show to user that, avatar re-render again and again.

**Describe the bug**

**To Reproduce**

                   <Avatar
                          rounded
                          size={height/6}
                          defaultSource ={DummyUser}
                          source ={profileimageTutor ? {uri:profileimage} : DummyUser}

[2020-01-06 10:19] xavier-villelegier commented on #870
@samipshah100 I don't really see the use case for this but you cant trick by applying a `position: 'absolute'` to one of the two `contentContainerStyle` or `rightContentContainerStyle`.

[code]
(The `borderWidth: 1` is just to let you see that the views are overlapping)

![image](https://user-images.githubusercontent.com/17592779/71811910-25ff8b80-3076-11ea-8d00-9235b9b722fc.png)

[2020-01-06 10:27] xavier-villelegier commented on #2233
Hey @Biplovkumar

The `Avatar` is basically just a wrapper around the `Image` component, the flickering is mostly caused by `Image`, the `Avatar` doesn't have any state refreshment that may cause this issue.

I found this comment https://github.com/facebook/react-native/issues/981#issuecomment-354767548 about how to fix this flickering on the `Image` component. The `Avatar` has an `imageProps` pro

[2020-01-06 23:45] dmargu opened #2234 "How to change the bottom border color the header?"
I am using the header component and it is working great except there is a white line at the bottom of it that I cannot seem to change. How is it possible to change this line? I want to make it a light grey and decrease the width.

My component is as follows:
[code]
And the style:
[code]
![image](https://user-images.githubusercontent.com/51426359/71857106-44847780-30b4-11ea-8a5a-45d3cc40da89.png)

[2020-01-07 22:15] oxyii commented on #2234
@dmargu Please try to use `borderBottomColor` and `borderBottomWidth` instead of `borderColor` and `borderWidth`

[2020-01-07 22:49] dmargu commented on #2234
That was it. Thank you.

[2020-01-07 22:49] #2234 closed

[2020-01-08 18:22] sunsetjesus opened #2235 "leftAvatar doesn't load local images (listItem)"
**What works** -

 <ListItem

                                key={list.item.TID}
                                leftAvatar={{ source: { uri: "https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg"} }}
                                title={this.render_timestamp.bind(this,list.item.t_accept_timestamp)}
                                subtitle={list.item.v_reg_no}

[2020-01-08 19:04] tarang9211 commented on #2222
Hello everyone! I would be happy to help contribute/lead this initiative! Looking forward.

[2020-01-08 20:24] oxyii commented on #2235
@sunsetjesus
[code]

[2020-01-09 06:00] chentao1006 commented on #1310
there is a tintColor prop which is not included in the documentation for changing the background color
https://github.com/Monte9/react-native-ratings/issues/26#issuecomment-480532803

[2020-01-09 07:13] sunsetjesus commented on #2235
thanks a lot.

[2020-01-09 07:13] #2235 closed

[2020-01-09 10:54] Skullcan opened #2236 "VS Code Intellisense not working after some time"
Hi guys, first, thanks for this awesome lib.

I'm using RNE in a new project and having a blast. But there's something interfering with the VS Code intellisense.

First when you open up the project everything works fine. Then after you type some lines in the components you have the intellisense stops.
No help or auto completion at all. Just Loading..... Even for react native components and classes

[2020-01-11 11:00] vikjovanov opened #2237 "Invariant Violation: [...,"top: <<NaN>>",...] is not usable as a native method argument"
**Explain what you did**

I use "tooltip" to indicate a message when a user press on a text.
This tooltip is located on a text that is in an Item of a flatlist.

**Expected behavior**

I want the tooltip to show up!

**Describe the bug**

The tooltip works very well! However, if the flatlist item is located very low in the flatlist rendering window and I click on the text, I get an ugly error like

[2020-01-11 11:31] Niryo commented on #2217
I have also opened an issue in expo/vector-icons:
https://github.com/expo/vector-icons/issues/117

[2020-01-13 17:41] Biplovkumar commented on #2233
<Image
  style={styles.logoImage}
  resizeMethod="scale"
  resizeMode="cover"
  source={Logo}
  defaultSource={Logo}
 />

Thanks for replying.
I had already tried this code from this issue.
But still it is flickering after set state.
It happening only in Avatar not in image components.

[2020-01-14 02:44] ethanyuwang commented on #1338
@iRoachie i dont see this change https://github.com/react-native-elements/react-native-elements/pull/2142 in the latest release. how do i have my package.json to point to this merged pull request? and will there be a new release with this change soon?

[2020-01-15 07:15] hedong12321 opened #2238 "why prop underlineColorAndroid can not work?"
why prop underlineColorAndroid can not work on <Input />?

underlineColorAndroid="transparent"

and i fond, in  "react-native": "0.61.5"
the code
<View style={{flex: 1, flexDirection: 'row', justifyContent: 'space-between'}}>
                    <Input placeholder='请输入验证码' style={{flex: 2}} />
                    <Button title="获取验证码"
                            type="outline"

[2020-01-15 07:48] hedong12321 commented on #2238
sorry, i got it.
use containerStyle

[2020-01-15 07:48] #2238 closed

[2020-01-15 21:17] oxyii commented on #2237
@vikjovanov Hmmm... Looks like something wrong on this line
https://github.com/react-native-elements/react-native-elements/blob/98962d6aed51d82f49dfdefa8032a808c5db70cb/src/tooltip/Tooltip.js#L97
Can you make a simple [snack](http://snack.expo.io/) to reproduce it?

[2020-01-15 21:30] luiza-avelino opened #2241 "Warning: Failed prop type: Invalid prop `children` supplied to `Card`."
Card elements start to show this warning, but I really don't know whats the problem.

Error Screenshot:
![image](https://user-images.githubusercontent.com/53008706/72473239-04fd1000-37c5-11ea-9c9c-648eed4e2ebf.png)

My code:
[code]

[2020-01-19 15:35] Biplovkumar commented on #2233
Any update on Avatar issues.
It is still fluctuating after set state.

[2020-01-19 17:28] subroh0508 opened #2243 "Setting Text styles by ThemeProvider does not work [Web]"
**Explain what you did**

I tried react-native-elements on Android and Web.
Setting color used by ThemeProvider, and setting padding locally. Like this.

[code]

**Expected behavior**

Applying same color both Android and Web.

**Describe the bug**

The color on Web does not apply.

**To Reproduce**

Actually code here
- generate common theme: https://github.com/subroh0508/ID44/blob/32029954970a05

[2020-01-21 14:53] luiza-avelino commented on #2241
I found the problem. I had to change the code below:
Before:
{show && (
                <DateTimePicker
                  value={date}
                  mode={mode}
                  is24Hour={true}
                  display="default"
                  onChange={this.setDate}
                />
              )}

After:
{show == true ? ( <DateTimePicker
                  value={date}

[2020-01-21 14:53] #2241 closed

[2020-01-21 20:31] brunsy commented on #1903
@ksavransky Maybe you forgot to also update your react-native-elements mocks when updating your project? They will need to include the ThemeProvider.

[2020-01-22 10:56] pieter888 commented on #516
I had this issue while using 1.1.0.  Tried checking if it was fixed by updating to the latest version (1.2.7) but it was still present.

Passing an empty string to the title prop of a Card causes a crash.

[2020-01-22 14:57] MustaphaGhlissi commented on #2237
You should provide only number, or an expression that return a number

Exp:
`top: 15`

[2020-01-22 16:57] rosalynpoort commented on #105
is there a way to change the selected button's icon color?

[2020-01-22 20:41] CodySwannGT commented on #253
+1

[2020-01-23 11:01] tusharojha opened #2244 "More Social Media Icons need to be added."
## Social Media Icons

1. TikTok

## Need of Tabs Layout

Something similar to react-native-tab-view

[2020-01-24 09:33] raRaRa opened #2245 "The Facebook SocialIcon doesn't follow the brand guidelines from FB"
The Facebook type for `SocialIcon` doesn't follow the brand guidelines from Facebook. The F icon should have a white background like in the following screenshot:

<img src="https://scontent.frkv1-1.fna.fbcdn.net/v/t39.2365-6/18928641_251957295286418_4362086450741641216_n.png?_nc_cat=111&_nc_eui2=AeG3bsyJV9kRrPljVvB00_bV2TPaRwKvo6HGxntG25xFR6VWsgoym-cFXFEG8z01eB9P-Hh7vxx6S-USOtEQPjLnY8bzV217Uo_AiUD

[2020-01-24 13:43] yuriburk commented on #253
+1

[2020-01-24 20:56] jstansbe commented on #253
+1000

[2020-01-25 20:48] plaporte opened #2246 "How to get rid of this middle border between buttons in the ButtonGroup component?"
I feel like I've tried everything here. I can't get rid of this middle spacer/border in between the buttons in the ButtonGroup component. I've put a border:0 on every element that I can, but no luck.

<img width="405" alt="Screen Shot 2020-01-25 at 2 40 18 PM" src="https://user-images.githubusercontent.com/23533193/73127126-53f33400-3f81-11ea-91c1-d66dff3f6dd6.png">

[2020-01-26 14:03] MaximLeonov commented on #1980
Still does not work in 1.2.0

[2020-01-27 16:44] plaporte commented on #2246
After some more digging into the source code, I found that I can pass the innerBorderStyle prop to the button group with a nested object applying a width and a color. I was able to remove the border altogether like so:

`innerBorderStyle={{width:0, color: '#000'}}`

[2020-01-27 16:45] #2246 closed

[2020-01-28 05:21] pavithra-expedux opened #2248 "Slider thumb not in track when component loads"
**Explain what you did**
    Simply i create component and added slider in it.

**Expected behavior**
Thumb should set on the track

**Describe the bug**
 When i render component thumb loads from below to the track and afterwards sets on the track.
In given snack i simply added slider inside component for showing bug clearly.

But my exact scenario is i added this slider inside the modal. When mod

[2020-01-29 05:00] iRoachie commented on #2062
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2020-01-29 05:00] #2062 closed

[2020-01-29 05:25] #2113 closed

[2020-01-29 05:52] iRoachie commented on #1864
@Chanach Works as expected https://snack.expo.io/@roach_iam/ranting-chips

[2020-01-29 12:45] abduraufsherkulov opened #2250 "Expo app keeps crashing when disabled={true}"
[code]

**Explain what you did**

I am trying to submit a form and while the form is being submitted I want it to be disabled && loading.

However, as soon as I call `setLoading(true)`, expo keeps crashing. When remove `disabled={true}`, it works fine.

**Screenshots**

![image](https://user-images.githubusercontent.com/17489128/73357478-4231c980-42be-11ea-90ba-833e64d25385.png)
![image](https://u

[2020-01-29 15:48] ozerty commented on #2233
Hi, I got the same issue here. Any update guys ?

[2020-01-31 07:06] joshuakoh7 opened #2251 "Overlay style not working as expected"
Trying to recreate the bottom half screen popup card you see on Google Maps when you tap on a pin but can't make it work with Overlay. More specifically, I cannot seem to position the Overlay off-center at all. With the native Modal I am able to set justifyContent: 'flex-end' to generate something 90% similar (still haven't figured out how to allow interaction with the content outside of the modal

[2020-01-31 17:09] Kleinhummel opened #2252 "Button is missing ripple effect on Android when buttonStyle is set"
**Explain what you did**
I used the Button Element. I tried to create a transparent Button with ripple effect.

**Expected behavior**
The button still has a ripple effect, also when you apply the buttonStyle prop.

**Describe the bug**
The ripple effect is missing when you apply the buttonStyle prop.

**Your Environment (please complete the following information):**

| software              | vers

[2020-01-31 19:18] Kleinhummel commented on #2252
Ok, i couldn't really reproduce the issue by myself in a new project...I just tried using TouchableNativeFeedback, which had no Ripple effect in the beginning, too. But after playing around a little bit, I now get the ripple effect with the TouchableNativeFeedback component...

[2020-01-31 19:18] #2252 closed

[2020-02-02 15:36] iqbalfaisal commented on #2251
@joshuakoh7  please use containerStyle instead of overlayStyle. Happy coding

[2020-02-03 11:23] Usamaliaquat123 commented on #2245
@raRaRa  thanks. You can change the color by passing the `iconColor` prop. Well you are right by `default` this need to be `blue`.

[2020-02-03 11:50] Usamaliaquat123 commented on #2244
@tusharojha  thanks. 🎉 You will need to open this issue in `react-native-vector-icons` cause icons are imported from `react-native-vector-icon` 🎉

[2020-02-03 11:56] Usamaliaquat123 commented on #2222
@Monte9  @iRoachie  Thanks sure will do 🎉. I'm interested 🙌

[2020-02-03 14:31] joshuakoh7 commented on #2251
@iqbalfaisal I've tried both and even the bare style. Nothing works to make it align to the bottom. Check out this snack. https://snack.expo.io/Bysf9sBM8

[2020-02-04 10:21] dzpt commented on #1968
Same issue putting it on `FlatList` will cause the block of rendering.

[2020-02-04 10:56] BBenGit opened #2256 "Element type is invalid when using DatePicker in inputComponent of <Input/>"
I have a form with mulitples `<Input/>` components, and in one of them I want to replace the `TextInput` with a date picker. I choose [this date picker](https://www.npmjs.com/package/react-native-datepicker) that works perfectly in my form but when i put it inside the `inputComponent` it triggers this error :

[code]

**Expected behavior**

I want the `DatePicker` to replace the `TextInput` as sai

[2020-02-04 11:34] iqbalfaisal commented on #2256
@BBenGit write like this  ` inputComponent={()=><>your component</>}`

[2020-02-04 13:21] BBenGit commented on #2256
It works perfectly thx !

[2020-02-04 13:21] #2256 closed

[2020-02-04 14:44] aacassandra commented on #1005
@ramasubbaiya not material icon but MaterialCommunityIcons

[2020-02-05 07:40] Usamaliaquat123 commented on #2250
return `false ` ?

[2020-02-05 10:43] abduraufsherkulov commented on #2250
Yes, had to do so to debug why it kept crashing.

[2020-02-06 10:54] 28harishkumar opened #2257 "latest version 1.2.7 not working with react-native-web 0.12.0"
**Explain what you did**

- created a new project
- added react-native-elements (1.2.7)
- added react-native-web (0.12.0)
- write hello world code

**Expected behavior**

should print hello world

**Describe the bug**
[code]

**It is working with `react-native-web: 0.11.7`**
I found that  0.12.0 is released just 9 days before. **[And they are not going to maintain ViewPropTypes](https://github.com

[2020-02-06 19:44] kozanb commented on #1793
I had the same issue and i have fixed it with a container View
Use this style and fix this issue; **style={{marginTop:Platform.OS === 'ios' ? 0 : -20}}**

`<View style={{marginTop:Platform.OS === 'ios' ? 0 : -20}}>`
   ` <Header`
       ` backgroundColor='#f5f5f5'`
        `leftComponent={{ icon: 'menu', color: '#3b3b3b'}}`
        `centerComponent={{ text: 'Home', style: { color: '#3b3b3b', fontS

[2020-02-07 15:55] samereberlin commented on #2257
+1... The latest RNE version is not working with RNW 0.12.1 as well (due to the same reason: removal of deprecated APIs). Thanks!

[2020-02-07 19:11] Kleinhummel commented on #328
I am still experiencing this issue on Android.

**Code:**
`<Button title="Edit" buttonStyle={{ borderRadius: 50 }} icon={{ name: 'edit', color: 'white' }}></Button>`

**Versions:**
- "react": "16.9.0"
- "react-native": "0.61.4"
- "react-native-elements": "1.2.7"

**Image:**
![Button](https://user-images.githubusercontent.com/47432229/74058309-08f80880-49e6-11ea-8f42-8adaf571ec83.png)

[2020-02-08 09:36] zamponotiropita commented on #2257
PropStyles (e.g. Image.propTypes) are deprecated in the current RN version. Please remove them.
Otherwise compatibility with the current react-native-web (1.12.0) is broken as it has completely removed PropTypes

[2020-02-09 18:31] gauravumrani opened #2258 "RNW: Not running in ios due to style tag in App.js"
**Explain what you did**

I followed all the steps mentioned in the above link.
Web works fine but when I run the app in Ios, It shows error

**Describe the bug**
Its says to add `<Text>` in style tag, but even after adding later it says, `Invariant Violation: View config not found for style`, I can't use `<Style>`

**To Reproduce**

Followed same steps from here https://react-native-elements.gith

[2020-02-09 23:28] Oize opened #2259 "ListItem title View is rendered even when no title is set"
**Explain what you did**

I want to make a ListItem without title, but it's view is still rendered.

**Expected behavior**

If title is not specified its View shouldn't be rendered.

**Describe the bug**

Title is currently set as an empty string in defaultProps while the check in render compares it to undefined hence always triggers render.

**Screenshots**

<img width="429" alt="Screenshot 2020-

[2020-02-10 05:00] gauravumrani commented on #2258
Got solution.
[code]

[2020-02-10 05:00] #2258 closed

[2020-02-10 21:09] emmanuel-ma commented on #2229
I am having the same issue on my BrowserStack iPhone 11 emulators, on my local emulators is working fine. Likely, it is just happening in real devices.

[code]

- react-native-elements 1.2.7
- react-native 0.61.2
- iOS 13
- iPhone 11, 11 Pro, 11 Pro Max

[2020-02-10 23:46] vhesener commented on #1338
This is mines

[code]

Usage

[code]

[2020-02-11 10:34] superKalo opened #2260 "Issue with the Slider component in a horizontal FlatList since React Native 0.61 [iOS only]"
I have the following structure (pseudo-code):

[code]

With React Native 0.59, swiping the slider was working perfectly fine (Expo SDK v35).
Since updating to React Native 0.61 (Expo SDK v36) swiping the Slider is triggering the FlatList scroll too.

**Expected behavior & Describe the bug**

When I swipe the Slider - the FlatList scrolling should not get triggered too. Or in general, the Slider co

[2020-02-11 19:15] kimfucious opened #2261 "'opencollective' is not recognized as an internal or external command,"
**Explain what you did**
In an existing **expo generated** app, with `react-native-elements` already imported and working, I attempted to run ` npm install aws-amplify aws-amplify-react-native`.

I was trying to install some packages.

**Expected behavior**
The packages should be installed without error.

**Describe the bug**

[code]

**To Reproduce**
1.  create a new RN app using Expo
2.  install

[2020-02-11 19:27] kimfucious commented on #2261
For the record, this only happens when running in Powershell.

[2020-02-12 00:04] emmanuel-ma commented on #2229
Nevermind, I think the issue is not related with this library, I just realized that it also exists with the TextInput component of react-native library.

[2020-02-12 04:41] functionwell opened #2262 "Slider not draggable when TextInput is focus"
**Explain what you did**
When TextInput is focus, try to drag Slider, the Slider thumb is not draggable, blur the TextInput then Slider is draggable

**Expected behavior**
Slider is draggable when TextInput is focus

**Describe the bug**
When TextInput is focus, try to drag Slider, the Slider thumb is not draggable, blur the TextInput then Slider is draggable

**To Reproduce**
use a React Native T

[2020-02-12 10:17] vedant-dobby opened #2263 "Touchable Opacity not working the cards?"
Hi I'm trying to use Cards to create a component for my application. But for some reason the TouchableOpacity didn't seem to work

React native version: 0.59.9
React-native-elements: 1.2.7
platform : MacOS

Here is my code:

[code]

[2020-02-12 10:33] abduraufsherkulov commented on #253
+1

[2020-02-12 13:05] superKalo commented on #2260
I updated my issue with a [Snack](https://snack.expo.io/@superkalo/react-native-elements-slider-nested-in-a-flatlist) and GIFs showcasing the issue 👆

It turned out that the issue only happens on iOS. On Android it works just fine.

[2020-02-12 16:14] kimfucious commented on #2261
Apparently, installing opencollective globally solves this issue (`npm i -g opencollective opencollective-postinstall`), but I'm not sure if that's the best thing to do to really address this issue.

[2020-02-13 10:02] raRaRa commented on #2233
Same issue here, only happens on iOS for me. I'm going to try to put the component into its own component wrapped with `React.memo` to see if that helps, since this seems to be related to when the component re-renders due to state changes.

[2020-02-13 10:27] raRaRa commented on #2233
I can confirm that wrapping the component with React.memo solved the issue for me, since the component will be cached and not re-rendered unless the image changes.

[2020-02-14 02:29] mitulsavani commented on #2263
Hi @vedant-dobby
Would you mind sending over a snack preview of this?

[2020-02-14 14:06] BBenGit opened #2264 "Listitem top and bottom border properties issue"
Implemented a `ListItem` but the borders sometimes randomly doesn't show.

**Expected behavior**

![signal-attachment-2020-02-14-144810 copy](https://user-images.githubusercontent.com/44926723/74537699-e82a3880-4f3a-11ea-9b63-d547ce728214.png)

**Describe the bug**

There is no border between the two first elements. This bug happend throughout many projects.

![signal-attachment-2020-02-14-144810]

[2020-02-15 20:01] AndreiCalazans commented on #1880
Hey @revathskumar, I apologize but I have not been able to get notifications from github.

I recommend you take a look at the code for the Tooltip, it is not a large component and I am sure you will understand it. https://github.com/react-native-elements/react-native-elements/blob/next/src/tooltip/Tooltip.js

It seems onClose is getting called in`onRequestClose` and `onDismiss`.

The problem with

[2020-02-17 16:06] sowizz commented on #1989
What icon type should be provided to use Font Awesome 5?

[2020-02-18 05:46] zaptrem opened #2265 "SocialIcon Without Rounded Corners!"
**Is your feature request related to a problem? Please Describe.**
I'm about to rip my hair out! My Apple and Google SignIn buttons from other sources are square, but the only option for an FB button that isn't Native (you guys) is round!

**Describe the solution you'd like**
Square button (with slightly rounded edges, roundness preferably configurable)

**Describe alternatives you've considered**

[2020-02-21 12:13] zmnv commented on #2118
Still Nothing?

There are in gif of https://react-native-elements.github.io/react-native-elements/docs/tooltip.html#toggleonpress.

HOW TO DO HUDGE?

[2020-02-21 13:02] Mukeyii commented on #1788
Same issue here. Using the latest RNE and tried reinstalling nodemodules, rne, deleted npm cache, reinstalled app etc., nothing helped. Any other suggestions?

[2020-02-21 17:24] seanfar commented on #2251
@iqbalfaisal I can confirm that `containerStyle` is/was not being consumed as expected. Rather, it's the style being applied to the backdrop. This isn't useful, as the backdrop is _not_ a parent/container to the actual element containing the modal. See the commit [HERE](https://github.com/react-native-elements/react-native-elements/commit/7655a85cbb9445ae490be1c19486503f600b5b0a#diff-6c1f5be0e2c3e

[2020-02-21 20:22] xavier-villelegier commented on #2265
Hey @zaptrem

You can just use the `style` props like this:

[code]

[2020-02-22 11:58] kimfucious opened #2266 "Local theme not merging with internal theme"
Great product; thanks!

I feel like I've tried everything to get the Theme Provider working, so either I'm doing something stupid, or something is amiss.  Apologies in advance if it's the former.

**Explain what you did**

I've configured the Theme Provider like this at app's entry point:

**index.js**
[code]
FYI:  this is an expo app and I've changed the entry point so as to wrap the app with a f

[2020-02-22 12:43] kimfucious commented on #2266
Okay, I just realized something:  the keys of `theme` in `props` are not from React Native Elements.  And, if I remove the Theme Provider tasks from `index.js`, the `theme` prop is still there.

If I move the Theme Provider inward like the below, `theme` becomes undefined, as soon as it's nested under the `Authenticator` tag.

[code]

FYI:  Authenticator is from AWS Amplify for providing Cognito s

[2020-02-22 13:18] kimfucious commented on #2266
So the Authenticator component was overriding the `theme` prop.

I've found that the following fixes the situation.  I've used `theme={theme[colorScheme]}` as I can't pass an empty object without React Native throwing a red box:

[code]
I'm gonna leave this open for a couple/few days, just in case someone has a better solution.

[2020-02-22 14:04] kimfucious commented on #2266
Unfortunately, I was mistaken in that this does work.

Whatever component (Authenticator / ThemeProvider) is placed within the other tramples the other's props.

[2020-02-23 10:49] aethiss commented on #2201
Hi all, i still have problem, i hope somebody can give me some help or idea.

I created a react storybook (NO with react-create-app), then i add the library **react-native-web**, configured the storybook webpack and my babel, and everything works fine.

THEN i added the **react-native-elements** lib, i configured webpack follow the instructions found here and on the official docs, but i still have

[2020-02-24 10:36] asiriPiyajanaka opened #2267 "react-native-elements / SearchBar - App crashes when entering '*' or '(' or ')'. - SyntaxError: Invalid regular expression: /*/: Nothing to repeat."
![Simulator Screen Shot - iPhone 8 - 2020-02-24 at 16 02 28](https://user-images.githubusercontent.com/18325613/75145504-14a23980-571f-11ea-9ecc-3e02ebba9ed0.png)

**Explain what you did**

Enter some regex tin to searchBar.

**Expected behavior**

App should be showing search results as any other search.

**Describe the bug**

App crashed right after inserting above mentioned regex.

**Your Envir

[2020-02-24 13:07] Aria461863631 commented on #2201
I start from the official 2018 guide
 [Comprehensive Guide to create simple app using React Native Web and React Native Elements](https://react-native-elements.github.io/react-native-elements/blog/2018/12/13/react-native-web.html#0-initial-step)
and reach this error

The author proposed a solution in this [commit](https://github.com/haruelrovix/gitphone/commit/8c0e6036d9231cc934285502528a2061b848c

[2020-02-25 00:21] aethiss commented on #2201
@Aria461863631 , tnx for your help, unfortunately do not solve my problem. My solution is the same, the only difference on yours, is using the "paths" helper. But i try following also the link from the commit you provided.
Also, mine is a web-app, not a react-native-app (is just a storybook), but again, react-native-elements should works with react-native-web.

i simplify the webpack configuration

[2020-02-25 09:15] Cchumi commented on #2233
Hi same issue here how do you use React.memo ?

[2020-02-25 09:34] raRaRa commented on #2233
If you have a functional component then you can export it like this:

[code]

This will only cause the component to re-render if any of the props have changed.

If you use class component then you can extend it from `PureComponent` instead of `Component`:

[code]

`PureComponent` will work like `React.memo`

[2020-02-25 09:36] raRaRa commented on #2233
The permanent fix would probably be to do this internally in the Avatar component, to avoid unnecessary re-renders. Or fix whatever is causing it to flicker with each re-render. Very likely some `componentDidUpdate` or `componentWillUpdate` issue inside `Avatar`.

[2020-02-25 14:34] xavier-villelegier commented on #2233
@Biplovkumar @raRaRa @Cchumi Could you guys reproduce this issue with a really simple example on https://snack.expo.io/ ? With a simple component update its state and the Avatar flickering ? I couldn't reproduce this locally

[2020-02-25 15:35] xavier-villelegier commented on #2212
@VytautasLozickas You can directly pass a custom `Text`:
[code]

[2020-02-25 16:13] Cchumi commented on #2233
I am unable to reproduce this behavior.... Other strange thing for me is :
If I use this url : https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg as avatar source I have no flickering but if I use my url: https://firebasestorage.googleapis.com/v0/b/oq70-objectifquebec.appspot.com/o/users%2F0YlNi3Vn2BOqvWOVepxNyYfmjYr1%2Fprofile_pic.jpg?alt=media&token=f9072f83-55c9-4c5d-8392-7774

[2020-02-25 17:22] raRaRa commented on #2233
@Cchumi Then your component is re-rendering for some reason, e.g. if a prop has changed.

[2020-02-25 17:39] Cchumi commented on #2233
just make a simple snack:
 This is a  simple snack with the behavior.
[https://snack.expo.io/@cchumi/avatar-flicker](url)

[2020-02-26 07:32] DuranMoodley opened #2271 "Detect when user stops typing in search bar"
I am trying to send a search request to the server and retrieve a set of results. I would like a way to detect when the user has stopped typing then execute the request to the server.
Please can someone assist me with this issue.  It would be great if there was some enhancement to this component to achieve this if possible.

[2020-02-26 08:04] Cchumi commented on #2233
@xavier-villelegier find out what causing this on ios only. React native on ios only has a cache property. In avatar component it's like it is set to reload.

[2020-02-26 13:20] xavier-villelegier commented on #2233
@ozerty Oh okay I see ! If you manage to fix this by changing something in the `Avatar` feel free to let us know / submit a PR !

[2020-02-26 14:06] ozerty commented on #2233
@xavier-villelegier I think your message was destinated to @Cchumi
Thanks guys

[2020-02-26 14:08] ozerty commented on #2233
Just to let you know, I fix this issue by doing memoization on my avatar component.

[2020-02-26 15:41] Cchumi commented on #2233
@xavier-villelegier I try but cannot get a fix... cache settings is not a good idea.

[2020-02-27 10:54] xavier-villelegier commented on #2206
This issue was addressed by @fwuensche for the "Contribute" meetup at Doctolib ! It's now available on the `next` branch 👌

[2020-02-27 19:54] gromovadarya90 opened #2274 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:04] renata2216 opened #2275 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:37] helen798 opened #2279 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 09:49] Monte9 opened #2281 "Update docs to use new Slack invite website"
We have a public slack [reactnativetraining.slack.com](reactnativetraining.slack.com). Users would be able to request an invite through the website: https://reactnativetraining.herokuapp.com/

That website was outdated and so I have deployed a new website to serve the same purpose. Now users can join our slack through this website: https://react-native-elements-slack.herokuapp.com/

**TODO:** We n