[2017-11-26 21:53] evanmcd opened #737 "ListItem Switch Component doesn't stay switched on"
From the Snack that was referenced in #256, I'm seeing the switch reverting to off each time it is switched on.

Adding switchButton to my code and testing in the iOS simulator reproduced the same issue.

Steps to reproduce:
1. Open https://snack.expo.io/SJPQNScUZ. Turn switch in row 2 on.
2. Switch should stay on
3. Switch turns off

Using RNE version 0.18.4

[code]

[code]

[2017-11-26 22:21] Monte9 commented on #719
@pavloko that's a really good suggestion. I have heard good things about storybook, but haven't gotten a chance to try it yet. Totally onboard with using storybook for RNE.

A have a couple noob q's for you:
1. Can you link to a couple examples for RN Storybooks? I looked around and couldn't any good references. The closest I got to finding a live example for RN related repo was RN Web here: https

[2017-11-26 22:23] Monte9 commented on #110
Sounds great @Gregor1971! Thanks for the update. 👍

Looking forward to the PR!

[2017-11-26 22:26] Monte9 commented on #732
This has been in a recent release. Please update to RNE v0.18.4

[2017-11-26 22:26] #732 closed

[2017-11-27 03:38] iRoachie commented on #737
Seems to be a bug in react native. The switch itself which we use under the hood doesn't update standalone either. https://snack.expo.io/SJgFuZtlz

[2017-11-27 10:06] QuantumInformation commented on #688
Great thanks

[2017-11-27 21:08] xavier-villelegier commented on #731
Hey @fengyun2
You can use the `containerStyle` props 👍
[code]

[2017-11-27 21:18] xavier-villelegier commented on #735
The default component is already a `TouchableHighlight`, so a simple `onPress` should do the job?
[code]

[2017-11-27 21:37] jnpdx commented on #737
Both the React Native `Switch` and this implementation within Elements rely on a stored state for the `Switch`.  You can reference the state of the Switch in this example by passing a value to the `switched` parameter.

See updated Snack: https://snack.expo.io/HkLp4-qef

Pertinent code:
[code]

[2017-11-27 21:50] Jonovono commented on #38
@sanketsahusoft Hey, can you talk a bit about the differing philosophies in these two projects? :)

[2017-11-27 21:53] xavier-villelegier commented on #737
As it is specified [in the React Native Switch documentation](https://facebook.github.io/react-native/docs/switch.html#switch), the `Switch` component is a **controlled component**. This means that you have to handle by yourself the state of the component to reflect user actions, by using the `onValueChange` callback and updating an internal state. You'll then use this state as the `value` props o

[2017-11-28 01:43] Jun711 commented on #668
@iRoachie
Just to inform that I see the same warning on v0.18.4.
And, I use these components: `import {Tile, List, ListItem} from 'react-native-elements';`

[code]

Thanks!

[2017-11-28 02:53] iRoachie commented on #668
I didn't receive any error @Jun711. Feel free to open a separate issue with a code sample if you're still experiencing trouble

[2017-11-28 03:04] iRoachie commented on #737
My bad, just realized I attached the wrong variable in my snack :D

[2017-11-28 03:54] Jun711 opened #740 "[Same as 668] Tile: Warning: Failed prop type: Invalid props.style key 'resizeMode' supplied to 'View'"
### Description
I get the same warning as listed on this issue: https://github.com/react-native-training/react-native-elements/issues/668

[code]

Versions of the dependencies
[code]

### Reproduction Steps and Sample Code
You can clone my practice repo under that branch. I see the warning when I run it on an android simulator.
https://github.com/Jun711/ReactNativePractice/tree/resizeModeWarning

[2017-11-28 03:54] Jun711 commented on #668
@iRoachie thank you for the reply, I just opened another issue: https://github.com/react-native-training/react-native-elements/issues/740

[2017-11-28 07:01] pacozaa opened #741 "fontFamily doesn't effect in <Button/>"
### Description

1. What I did? I tried to add custom fontFamily to `Button`
[code]
2. I expected my font to change to `DBHelvethaicaXMedv32`

3.  but it isn't
- `Text` from `react-native` works just fine with this fontFamily
- `FormInput` from `react-native-elements` works just fine with this fontFamily
- only `Button` still effect by default fontFamily
- `fontWeight` and `fontSize` work just fin

[2017-11-28 07:15] pacozaa commented on #741
Solved!

I don't have `bold` of `DBHelvethaicaXMedv32 `

[2017-11-28 07:15] #741 closed

[2017-11-28 08:13] Gregor1971 commented on #110
PR coming soon.  I did a bit of bikeshedding to integrate testing with the styleguide.

[2017-11-28 08:29] sanketsahusoft commented on #38
@Jonovono

* NativeBase follows the design guidelines of Android and iOS and aims at unifying their API using conditional styling.
* NativeBase suggests on adding more JSX and less props which makes it flexible.
* NativeBase defines the styling in one place which can be ejected and overridden by the user.

[2017-11-28 09:44] xavier-villelegier commented on #740
I've tested with a new project, I have the warning on RNE `0.17.0` but not anymore after `0.18.0`.
I can't open your project, for some reasons Expo doesn't find your `app.json`

[code]

[2017-11-28 10:18] thanhppm opened #742 "Icoin not displaying"
Hi guy
In my project, icon not showing

I has create project with cli create-react-native-app AwesomeProject
and used react-native link
 but not avaialbe

[2017-11-28 15:54] kmorales13 opened #743 "SearchBar's TextInput gets cleared with showLoadingIcon prop."
### Description

1. Explain what you did
_Tried to use the SearchBar component with the `showLoadingIcon` prop._
2. What you expected to happen
_`ActivityIndicator` should show and hide according to the value provided._
3. What actually happens
_`ActivityIndicator` works as expected, but the `TextInput` gets cleared afterwards._

Also please include the version of `react-native-elements` that you

[2017-11-28 16:24] 6axter82 opened #744 "Number of lines in title for Card"
Hi,

I would like to set the Card's title to be no longer than 2 lines. Is there any way to do so?

[2017-11-28 17:11] pavloko commented on #719
Hi @Monte9! Sorry for the later reply.

I've setup a small example [here](https://github.com/pavloko/react-native-library-starter).

Regarding the error you described. Are you trying to set it up in `example` Expo project or just in another RN project?

Here is a [link](https://github.com/storybooks/storybook/blob/master/app/react-native/readme.md#create-react-native-app-crna) to Storybooks docs o

[2017-11-28 19:29] Jun711 commented on #740
@xavier-villelegier I didn't test using Expo so I am not sure how to make it work on expo.
What you can do is

git clone
npm install
open up an android simulator
react-native start
react-native run-android

[2017-11-28 20:49] illu9000 commented on #213
underlineColorAndroid="transparent" work fine

rn 0.48
android 5.1

[2017-11-29 02:04] iRoachie commented on #740
Yea the bug is here https://github.com/react-native-training/react-native-elements/blob/master/src/tile/Tile.js#L60. `resizeMode` is a prop not a style

[2017-11-29 02:09] iRoachie commented on #744
Currently there's no way to do that right now. Adding a `titleNumberOfLines` prop would allow this behavior. If anyone is interested they can look at the `Tile` component that has this prop.

https://github.com/react-native-training/react-native-elements/blob/master/src/tile/Tile.js#L130

[2017-11-29 03:03] iRoachie commented on #742
Hey @thanhppm can you post some example code here so we can see what's causing the issue? Also list your react-native version and react-native-elements version

[2017-11-29 04:19] Ali-Dalal opened #745 "Can we increase the spacing between list items?"
How to increase the spacing between list items? I tried to add marginBottom but it doesn't work

[2017-11-29 10:42] 6axter82 commented on #744
I did a pull request [https://github.com/react-native-training/react-native-elements/pull/746](url)

[2017-11-29 11:42] sathishjobs opened #747 "Can't provide any custom styles for FormInput ex: textIndent does not work!!!!!"

[2017-11-29 12:15] iRoachie commented on #747
Hey @sathishjobs, as far as I know `textIndent` isn't a prop on the TextInput or the style object. Can you post a code example so we could see how you are using this?

[2017-11-29 12:24] iRoachie commented on #745
Hey @Ali-Dalal you can use the `containerStyle` prop to add a margin between items. I made a snack so you can see what it looks like. https://snack.expo.io/HyQT8Xhxz

[2017-11-29 13:43] xavier-villelegier commented on #743
@kmorales13 Mmh [this demo](https://snack.expo.io/Hk8UK4neM) is working for me, let me know if it fits to your use case

[2017-11-29 15:14] RolyMolnar opened #748 "Vertical sliders"
Looked for a vertical slider everywhere but couldn't find one. Would it be possible to add a vertical orientation to your sliders?

[2017-11-29 18:00] kmorales13 commented on #743
@xavier-villelegier your demo shows the same behaviour, as soon as you stop typing, the `ActivityIndicator` is shown and the `TextInput` cleared, is this expected?

[2017-11-29 18:17] xavier-villelegier commented on #743
@kmorales13 Mmh the `TextInput` isn't cleared for me
![nov-29-2017 19-16-34](https://user-images.githubusercontent.com/17592779/33391618-e77b8d08-d539-11e7-9a5f-f163017366a2.gif)

[2017-11-29 18:37] kmorales13 commented on #743
@xavier-villelegier Well, this is weird. This is what happens to me when I run your snack.
<img src="https://i.imgur.com/1O2bRpW.gif" height="500" />

[2017-11-29 18:53] xavier-villelegier commented on #743
@kmorales13 Ah on Android! I have this behavior too.
I think that on Android you have to control the component, to avoid loosing the content of the `TextInput` at each `render`.
Check [this example](https://snack.expo.io/HkYpZt2lz) ✌️

[2017-11-29 21:33] pavloko commented on #719
Just wanted to update, I see that currently react-native-elements is using Expo in the example folder. [Haul bundler](https://github.com/callstack/haul) currently doesn't support it, so we won't be able to get livesync there, but storybook should work fine.

I can try to set it up in a separate brunch, if you'd like.

Cheers!

[2017-11-30 01:31] Ali-Dalal commented on #745
Thanks @iRoachie , Container style working fine.

[2017-11-30 01:32] #745 closed

[2017-11-30 18:30] awinograd commented on #302
@iRoachie @ifiokjr adding the types to this project has led to a divergence between the types in DefinitelyTyped and here locally. If this repo is planning on including types from here on out, do you know if it's possible to remove the package from DefinitelyTyped? That might help steer other users to contributing updates here

PS thanks for all of your help in creating these definitions. They've

[2017-11-30 18:31] iRoachie commented on #302
You are correct! I have to submit the PR to DefinitelyTyped. I'll see if I can knock it out today

[2017-11-30 18:41] awinograd commented on #302
Thanks @iRoachie! FWIW, there are a couple of updates to the DefinitelyTyped repo. Would be great to merge those in here too. I'm happy to submit a PR if you'd like

[2017-12-01 00:05] fsunset opened #749 "Styling issue with Card element after upgrading to RN 0.50"
### Description

1. I have a ```Card``` element inside a ```FlatList```. I had this working last week, it has crashed AFTER an upgrade I did yesterday to React Native 0.50. I also Had to replace the wrapper element of the FlatList for a ```View```, I had a ```List```, but after I upgraded it showed a white background as well. With ```View``` it works as you can see on SS.

### Version:
[code]

###

[2017-12-01 04:50] iRoachie commented on #302
Sure @awinograd would appreciate if you make that PR

[2017-12-01 09:35] xavier-villelegier commented on #749
@fsunset Could you just downgrade back to RN .49 to post a screen of what you want to achieve, and at the same time to check that it is really because of RN 0.50?
On Snack using SDK 23 (RN 0.50) I am able to use a transparent background with `Card`, check out [this example](https://snack.expo.io/SJoGziAlM)

[2017-12-03 21:20] kbrandwijk opened #754 "ListItem: numberOfLines and ellipsis"
I'm showing the contents of a multiline text box in the subtitle of a ListItem. Now, I use numberOfLines to limit the amount of text that I'm showing in the ListItem. That works well.

However, I have no indication if the text is actually longer than the numberOfLines specified. Would it be possible to have an ellipsis added to the last line if the text is longer?

[2017-12-04 00:14] fsunset commented on #749
@xavier-villelegier - Thanks for your reply mate. I say this is a 0.50 based error because before I update my app it worked! I cannot set a transparent Bg-color for Card. even with inline styling, I had to replace my ```FlatList``` wrapper from ```List``` to ```View```, because otherwise the white background will also appear!

Thanks for your time/help :)

Please take a look:

![bildschirmfoto 201

[2017-12-04 00:17] iRoachie commented on #749
Hey @fsunset the prop for styling the container is called `containerStyle`. Can you try using that instead of `style`?

[2017-12-04 00:31] fsunset commented on #749
cc @xavier-villelegier

@iRoachie - yes sir! That's the fix for it. Closing this one. Thanks a lot for the time guys.

[2017-12-04 00:31] #749 closed

[2017-12-04 00:42] iRoachie commented on #663
Hey @ogelacinyc for this particular issue, we're gonna push this back to our v1 release which has a complete rewrite of the list item component.

[2017-12-04 00:42] #663 closed

[2017-12-04 00:46] fsunset commented on #740
Hi guys, is there any suggestion for this one? Of we just have to wait they remove that line? Thanks a lot! :)

[2017-12-04 00:49] iRoachie commented on #740
Hey @fsunset , usually we leave fixes like these open for newcomers to open source so they can get a chance to contribute. However if no one jumps on it then one of the maintainers will make the patch.

[2017-12-04 00:53] fsunset commented on #740
@iRoachie - got you :) Ty!

[2017-12-04 00:56] #704 closed

[2017-12-04 00:59] iRoachie commented on #649
Closing this issue, not sure how we can work on resolving this problem as we can't replicate it on a new project.

[2017-12-04 00:59] #649 closed

[2017-12-04 01:01] #692 closed

[2017-12-04 01:03] iRoachie commented on #698
Closing this as inactive as there's been no activity for approx 30 days. Feel free to ping me to reopen if the problem still persists on the latest version of react-native-elements or submit a new issue

[2017-12-04 01:03] #698 closed

[2017-12-04 01:05] #708 closed

[2017-12-04 08:25] manukumarmnk commented on #4
Hi @JeffersonFilho, I tried your step but still i'm getting same error.

[2017-12-04 09:14] xavier-villelegier commented on #749
@fsunset Did you check my example from the previous answer? I used `containerStyle` in it.
Btw it is strictly related to RNE, and not RN 0.50. You're not able to override the `style` props since RNE `v0.18.1`.
You can check [the docs of `Card`](https://react-native-training.github.io/react-native-elements/API/card/#card-props) to see all available props 🙌

[2017-12-04 09:32] xavier-villelegier commented on #754
@kbrandwijk By default when you use `numberOfLines` you have a "tail" ellipsis.
[code]

**Result**
![image](https://user-images.githubusercontent.com/17592779/33545357-3517c5fc-d8de-11e7-8454-753b89273d3a.png)

You can check [this snack example](https://snack.expo.io/ryiDrqMZM) 👍

[2017-12-04 14:03] hendrul opened #755 "Rating flickers in first render"
In Android and IOS devices I see a flickering when this components renders for the first time, I use StackNavigator from react-navigation to navigate to the screen containing a Rating component, the first time it flickers but then in other screens it doesn't. My current solution is rendering an invisible Rating at some loading screen.
[code]

[2017-12-04 14:11] hendrul opened #756 "Can't change background of Rating"
I know the implementation uses a rasterized .png image with a transparent hole as a way to apply masking to the animated rectangle that fills the shapes while user interact with the component, I was wondering, and I beg your pardon for my ignorance of CSS3 mechanics, if there is a way to implement this component using vector-icons and CSS3 Masking. Anyway, currently I must use an edited copy of th

[2017-12-04 20:33] changx03 opened #757 "[ts] onClearText does not exist in SearchBar properties"
[code]

TypeScript cannot find onClearText in SearchBar's props.

[code]

The functionality seems here, probably due to missing typings.

![capture](https://user-images.githubusercontent.com/9165455/33574683-d68c54a0-d99e-11e7-9b30-393ec34bc2db.PNG)
with error:

[2017-12-04 20:51] iRoachie commented on #757
Thanks for reporting! Will make the relevant pull requests

[2017-12-04 21:26] kbrandwijk opened #758 "[ts] Property 'text' does not exist on 'HeaderSubComponent'"
I just upgraded from `react-native-elements` 0.16.0 to 0.18.4 and I now get the above typings warning on `<Header centerComponent={{text: 'test'}}>`.

[2017-12-05 04:02] iRoachie commented on #757
Added in https://github.com/react-native-training/react-native-elements/pull/751/commits/1e06ae893ccdb316d49723c06d58136d3d10dd08. Will be available next release.

[2017-12-05 04:07] iRoachie commented on #758
Added in https://github.com/react-native-training/react-native-elements/pull/751/commits/593c69d9479d245d795238dc0c24dac6d16c1de9. Will be available next release.

[2017-12-06 17:39] js1599 commented on #620
Confim npm install @expo/vector-icons --save-dev fixes this issue for me as well... <-- Just confirming that it still does work

[2017-12-06 19:37] iMaciah commented on #639
What will be the future of this issue?

Centering an icon when there's no text in the button makes sense, sure you can still use an icon and colored a view behind it. I just think centering would be simpler.

[2017-12-07 09:22] xavier-villelegier commented on #744
@6axter82 Thanks for your PR, it has been merged in the `v0.18.5`! This release should be on npm in few hours 👌

[2017-12-07 09:22] #744 closed

[2017-12-07 09:24] xavier-villelegier commented on #748
@RolyMolnar We added an `orientation` props to the Slider in the `v0.18.5`, which will be released on npm today. `orientation="vertical"` should do the job, but feel free to open issues if it doesn't work as expected!

[2017-12-07 09:24] #748 closed

[2017-12-07 09:48] xavier-villelegier commented on #755
This issue is due to the images used in the `Rating` component. They are loaded and then displayed, and you see that flicker effect when they finished loading and are displayed.

The `Image` component of react native has a `prefetch()` function that allows you to load async images from an url, but the images of the rating component are stored locally, so we can't use this.
I think your solution is

[2017-12-07 10:23] samvictor commented on #587
Make sure the View around the button doesn't have it's 'alignItems'  style set. That messed me up for a while.

[2017-12-07 14:43] hendrul commented on #755
@xavier-villelegier I already did that and it works for android but in IOS stills flickers, indeed it flickers each time the screen is shown

[2017-12-07 19:04] wmlutz commented on #620
`npm install @expo/vector-icons --save-dev` doesn't fix the issue for me. And got the same problem @foobar8675 got. Started with an ejected CRNA app - tried `react-native init` with the same issue. Anyone figure this out yet?

[2017-12-07 22:56] newfylox opened #765 "Underlay Color always gray?"
**react-native-elements 0.18.4**

Is it possible to change the color shadow effect when a button is pressed? I see that `underlayColor` is used for "*underlay color for button press*" but when I set a color (e.g. let's say **red**), it's still gray when I touch the button.

Is there something that I'm missing? Thanks!

[2017-12-07 22:58] cihadturhan commented on #349
Sorry for resurrecting this but as far as I know

`onPress={() => this.onPress(person.name)}`

will create a new arrow function instance for every list item you create in each render. Therefore, this approach is not very welcome in react community in performance-wise. This is not a big deal for few rows, but if you have hundred of rows being refreshed, this could be a problem.

I wonder if there i

[2017-12-07 23:47] kbrandwijk opened #766 "Feature request: add ListEmptyComponent to List"
I use the `List` component a lot, because it's easier to specify ListItems than specify a datasource on RN List implementations. However, I am really missing `ListEmptyComponent` on List.

[2017-12-08 00:36] kyler-hyuna commented on #349
@cihadturhan You can use the new [class properties syntax](https://babeljs.io/docs/plugins/transform-class-properties/). It has the correct scope so `this` works, and the function is only created once since it's a property you're referencing.

[code]

[2017-12-08 00:37] iRoachie commented on #349
@cihadturhan You can use the new [class properties syntax](https://babeljs.io/docs/plugins/transform-class-properties/). It has the correct scope so `this` works, and the function is only created once since it's a property you're referencing.

[code]

[2017-12-08 00:56] iRoachie commented on #766
Hey @kbrandwijk the `List` component for react-native-elements is just an wrapper `View` around your content, so it doesn't actually have any props that affect the List itself. Instead you can use the `FlatList` component from react-native and place it inside our `List`.  You can then use the `ListEmptyComponent` prop on FlatList.

Here's an example snack you can see https://snack.expo.io/B1J4Qvwb

[2017-12-08 01:00] kbrandwijk commented on #766
I appreciate the example, but it's missing an important point I made:

So let me rephrase: even though the `List` component is just a wrapper View, it would be nice if there was an easy way to specify something that behaves similar to `ListEmptyComponent` without having to use a RN List type.

[2017-12-08 01:08] kbrandwijk opened #767 "[ts] ListItem avatar type error"
Types of property 'avatar' are incompatible.
      Type 'Element' is not assignable to type 'string | ImageURISource'.
        Type 'Element' has no properties in common with type 'ImageURISource'.

[2017-12-08 01:25] iRoachie commented on #766
You're correct! I was just about to type that :D The `FlatList` can implement a `ListEmptyComponent` is cause it takes in a `data` prop, so it knows when the length of the items in the list its 0.

Our List is only a wrapper and doesn't affect the rendering/displaying of rows in any way. The only prop it inherently knows about is `children`. I guess we could try something like checking the length

[2017-12-08 01:27] kbrandwijk commented on #766
I think that wouldn't be a solid solution. The only proper option in my opinion would be to add a listEmpty boolean property along with ListEmptyComponent, but I don't know if there's enough of a gain to be gotten from that. Otherwise, I would just close this.

[2017-12-08 01:30] iRoachie commented on #766
I guess that could work, but it'd be the same as doing a conditional check anyway, so not sure it's there's any benefit from it

[2017-12-08 01:31] kbrandwijk commented on #766
That's exactly what I meant. If you're okay with it, I think this should be closed.

[2017-12-08 01:32] iRoachie commented on #765
I'm not sure I'm understanding you. Using the `underColor` prop doesn't work? https://snack.expo.io/rJDI5Pv-G

[2017-12-08 01:36] iRoachie commented on #767
Good find. An easy fix is to add `JSX.Element` to the avatar union https://github.com/react-native-training/react-native-elements/blob/master/src/index.d.ts#L1019

[2017-12-08 01:37] #766 closed

[2017-12-08 01:38] newfylox commented on #765
You did understand well and yes I did use `underColor` prop. I just found that it's an Android issue because of you (thank you). With Snack you can see that it works on iOS but not on Android and I'm using Android at home. That's why I thought it didn't work.

Any hint about this issue?

[2017-12-08 01:43] iRoachie commented on #765
We use different component on different platforms under the hood. On iOS we use `TouchableHighlight` and on android API > 21 `TouchableNativeFeedback`. `TouchableNativeFeedback` doesn't have a `underlayColor` prop :\

[2017-12-08 01:47] newfylox commented on #765
`TouchableHighlight` seems to fit for both. I guess the reason using `TouchableNativeFeedback` is to optimize Android experience performance, right? Or any reason I don't know?

[2017-12-08 01:48] iRoachie commented on #765
Native buttons on android usually have a ripple affect when pressed. `TouchableNativeFeedback` gives that effect

[2017-12-08 01:54] newfylox commented on #765
Alright, thanks for the info. Maybe could be great to have an option to toggle between desired effects? Anyways, I'm glad to know I wasn't crazy about `underlayColor` property :wink:

[2017-12-08 01:57] kbrandwijk opened #768 "[ts] Property 'disabled' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<ListItem> & Readonly<{ children?: ReactNode; }> & ...'"
Property `disabled` on `ListItem`

[2017-12-08 02:04] iRoachie commented on #765
Button has a `Component` prop where you can specify explicitly which one to use.

[2017-12-08 02:07] iRoachie commented on #768
Merged. Will be live in next release

[2017-12-08 02:08] iRoachie commented on #767
Merged. Will be live in next release

[2017-12-08 02:13] newfylox commented on #765
Wow! It took me you to help me understand the importance of that property! Thank you so much!!!

[2017-12-08 02:13] iRoachie commented on #765
Ha! Glad I could help mate

[2017-12-08 09:53] xavier-villelegier commented on #755
If you don't display the `Slider` component as long as the promise is not resolved, it shouldn't flicker.
If it still flickers, try it with your own local images. If you still have this issue I don't think it comes from RNE 😕 But feel free to post the way you're caching your Image, maybe the issue is there.

[2017-12-08 09:57] xavier-villelegier commented on #758
@kbrandwijk `v0.18.5` available on npm with this fix 👌

[2017-12-08 09:57] #758 closed

[2017-12-08 09:58] xavier-villelegier commented on #757
@changx03 Fixed in `v0.18.5`!

[2017-12-08 09:58] #757 closed

[2017-12-08 10:50] #765 closed

[2017-12-08 11:03] iRoachie commented on #740
There's a PR for this open https://github.com/react-native-training/react-native-elements/pull/763

[2017-12-08 17:11] hendrul opened #771 "When making a Button with an icon only, the icon is not centered"
The icon component inside Button adds a marginRight: 15px, what makes the icon get uncentered... the only way I found to fix this is...
[code]
![captura de pantalla 2017-12-08 a la s 1 20 10 p m](https://user-images.githubusercontent.com/1224275/33777281-8dacd8bc-dc1a-11e7-8ca8-cb0c7b8b7d2b.png)

[2017-12-08 18:55] xavier-villelegier commented on #771
Hey @hendrul, I advise you to use the `Icon` component if you just need a clickable icon, as suggested in #639

[2017-12-09 07:35] kk412027247 opened #772 "Icon in Avatar doesn't work."
### Description

Icon in Avatar doesn't work,
but the Icon Component is work when independently.

appear Waring:
Failed prop type: Invalid prop 'name' of value 'user' supplied to 'Icon',expected one of['3d-rotation ....]

I don't know what this means.
need some help.
Thank a lot.

### Code

[code]

### The screen
<img width="376" alt="2017-12-09 3 33 52" src="https://user-images.githubusercontent.

[2017-12-09 10:36] xavier-villelegier commented on #772
@kk412027247 By default, RNE is using `MaterialIcons`. If you check the list of the available icons [here](https://expo.github.io/vector-icons/), you can see that `user` doesn't exist for `MaterialIcons`.

Two possibilities here:

**1. Use the good icon**
[code]

**2. Specify another icon type**
[code]

[2017-12-09 12:43] kk412027247 commented on #772
@xavier-villelegier
Oh~,I see, thank you very much ❤️

[2017-12-09 12:47] #772 closed

[2017-12-11 02:38] Lorengamboa opened #774 "Question: How to make the avatars have the ripple efect when I click it"
`const RoundedBtn = ({iconName, color}) => {
    return <Avatar
                component={TouchableHighlight}
                activeOpacity={0.7}
                rounded
                medium
                icon={{ name: iconName , color: color }}
                containerStyle={{position: "absolute", bottom: 20, right: 20}}
                overlayContainerStyle={{backgroundColor: 'black'}}

[2017-12-11 16:56] kbrandwijk opened #775 "Make npm package smaller"
Currently, the npm package contains everything from docs to examples and and anything in between. Would it be possible to `.npmignore` a lot of that stuff, and have only the actual components in the package?

[2017-12-11 17:47] eduardoinnorway commented on #38
Any progress here or just talks?

[2017-12-11 18:10] ReggaePanda commented on #110
@Gregor1971 that will be so nice if this works and thanks for your updates. I think than can I remove a lot of near duplicate files 💃

[2017-12-11 18:13] eduardoinnorway opened #776 "Improve design [DESIGNER NEEDED]"
I strongly suggest you get help from a designer. The form and check box examples are for sure not made by a pro designer. They look like made by engineers.

[2017-12-11 18:14] Monte9 commented on #776
@eduardoinnorway fair point, and you are right. We haven't worked with a designer for RNE. But we sure would like too.

Curious, are you a designer? If so, would you be willing to help out? Or if you know any other really good designer, please send them out way.

[2017-12-11 18:18] eduardoinnorway commented on #776
@Monte9 I am not, but I work close to many really good designers, I will ask around if anyone would like to help out in this project.

[2017-12-11 18:47] Gregor1971 commented on #110
@ReggaePanda  I wanted to change the existing tests and their snapshots as little as possible to make the PR easier to review.

If you guys want to keep the styleguide in there, the existing tests and new tests can be easily combined.

[2017-12-12 19:50] lax1n opened #777 "List section (headers in lists) ?"
### Question:
So I've been looking through your documentation and can't seem to be able to find support for having section lists. Basically lists where I can set headers.

Example of what I'm looking for:
![5ofgo](https://user-images.githubusercontent.com/6804837/33905133-f368f602-df7d-11e7-8dfc-28965325e046.png)

If this already exists, I'd appreciate if somebody could point me in the right direc

[2017-12-12 19:55] biqiaoran629 opened #778 "ListItem onLongPress does not re-render Icon"
### Description

1. Explain what you did
**I have set up the onLongPress and leftIcon props for my ListItem. I use a boolean state to control the longPressed action and when longPressed is true, I want to render a checkbox in front of every ListItem.**

2. What you expected to happen
**When longPressed is true, I see a checkbox icon in front of every ListItem; when longPressed is false, all the ch

[2017-12-12 21:33] #743 closed

[2017-12-13 20:18] #778 closed

[2017-12-14 09:28] xavier-villelegier commented on #774
@Lorengamboa `TouchableHighlight` doesn't provide the native ripple effect you're looking for. You have to use `TouchableNativeFeedback` for that.
Unfortunately you won't be able to use it with the `Avatar` for now because it only supports one child, and Avatar passes more than one (something we have to fix).

As a workaround I think you can do something like
[code]

[2017-12-14 09:33] xavier-villelegier commented on #777
@lax1n RNE doesn't provide this because React Native has a `SectionList` that does the job really well! Have a look at [the official documentation](https://facebook.github.io/react-native/docs/sectionlist.html) 👌

[2017-12-14 15:49] 6axter82 opened #780 "Is there any way to use FontAwesome icons in SearchBar for clearIcon"
If someone knows how, can you explain how please!

[2017-12-14 16:06] xavier-villelegier commented on #780
Hey @6axter82, this is currently not possible, but thanks for reporting that, this should be in the next release!

[2017-12-14 21:37] xavier-villelegier commented on #777
@lax1n Mmh I don't think you need that much customisation to have something consistent. Moreover, `SectionList` has already implemented all the logic and I must admit that I don't really see the point of implementing something less efficient and less modular in RNE... 😕

Check out [this really simple snack example](https://snack.expo.io/B1pcavgMG) with a `SectionList`, there is just 3 styles and i

[2017-12-14 21:39] xavier-villelegier commented on #707
Closing this as it has been inactive for a month, feel free to ping if you still have this issue

[2017-12-14 21:39] #707 closed

[2017-12-14 21:40] xavier-villelegier commented on #710
Closing this as it has been inactive for a month, feel free to reopen it if it still doesn't work

[2017-12-14 21:40] #710 closed

[2017-12-14 21:41] #722 closed

[2017-12-14 23:23] francisrod01 commented on #740
The same problem here.
I make this modifications on my own, but still show this red warning.

[2017-12-15 08:28] GarimaMathur07 commented on #387
@gregblass I am facing an issue with this state approach:

When we `this.setState({searchClearIcon: theme.searchClearIcon})` then it clears input automatically without press on clear button.

Can you please suggest anything about it

[2017-12-15 08:49] xavier-villelegier commented on #740
@francisrod01 [This modification](https://github.com/react-native-training/react-native-elements/pull/763/files#diff-e33ac247747fe67f5dc90e21ca11e001) should do the job. This will be in the next release

[2017-12-15 08:56] xavier-villelegier commented on #387
@GarimaMathur07 If you have this issue especially on Android devices, please check out [this comment](https://github.com/react-native-training/react-native-elements/issues/743#issuecomment-347959101) 👍

[2017-12-15 10:43] GarimaMathur07 commented on #387
@xavier-villelegier can you please suggest anything else this solution is not working for me.

[2017-12-15 10:50] xavier-villelegier commented on #387
@GarimaMathur07 [Here is](https://snack.expo.io/SkPhd7ZfM) a complete example with loading + clearIcon when text isn't empty + controlled component, working on both iOS and Android 🎄

[2017-12-15 11:21] GarimaMathur07 commented on #387
@xavier-villelegier Thanks for the help!!!!

[2017-12-15 16:12] francisrod01 commented on #740
Thank you @xavier-villelegier !
I'm waiting for it! :)

[2017-12-16 01:31] paulddrix commented on #754
Hello, I have similar inquiry. I am building a chat app and the message bubble is a ListItem component. However, I want the numberOfLines to be infinite so that the text wraps. is there a way to do that or is it better to just add in a custom view for the title prop? Thank you for your time.

[2017-12-16 01:32] kbrandwijk commented on #754
@xavier-villelegier That was not what I meant. If the text I am showing consist of three short lines, it will just show two lines, without any ellipsis anywhere.

[2017-12-16 16:13] lijunle commented on #722
It could be better to use `<FlatList>` instead of `<ListView>` as the latter one is [deprecated](https://facebook.github.io/react-native/docs/listview.html) now.

[2017-12-17 12:04] xavier-villelegier commented on #754
@kbrandwijk Oh okay I see what you mean. Unfortunately this is a RN issue as you can see [on this example](https://snack.expo.io/rJUTjCQMM) 😕

@paulddrix Just use `numberOfLines={null}` to disable its effect. Check out [this snack](https://snack.expo.io/ByCW6CQGz)

[2017-12-17 13:31] kbrandwijk commented on #754
@xavier-villelegier I didn't realize that this was standard RN behavior from `Text.numberOfLines`. I will submit a FR on RN. As no action will be needed on `react-native-elements` once they implement that, feel free to close this issue.

[2017-12-17 13:33] #754 closed

[2017-12-18 05:14] pacozaa opened #788 "CheckBox's fontFamily is not working"
### Description

1. I am trying to change fontFamily  of CheckBox
2. I expect fontFamily to change
3. but it doesn't change

then I take a look at the code and found

https://github.com/react-native-training/react-native-elements/blob/master/src/checkbox/CheckBox.js#L74

it looks suspicious. My assumption is that if you are set title(which is require), fontFamily won't effect the CheckBox but stil

[2017-12-18 11:26] iRoachie commented on #788
Hey @pacozaa could you maybe send some example code? Here's an example using the checkbox's `fontFamily` prop and it works. Let me know if this is what you were looking for.

[2017-12-18 18:42] hjbramos opened #789 "How can I get a value from FormInput? (Question)"
[code]

How can I get the value from this FormInput and send it to a function?

"react": "16.0.0",
"react-native": "0.51.0",
"react-native-elements": "^0.18.5",

[2017-12-18 19:06] xavier-villelegier commented on #789
Hey, @hjbramos check out [this example](https://snack.expo.io/r1f9-5BMG), does it fit to your use case? 🤔

[2017-12-18 20:32] hjbramos commented on #789
Hey @xavier-villelegier thanks for reply. Yes, this is work fine! I was using stateless function but using components/state is more appropriate for this case. Thanks a lot!

[2017-12-18 20:32] #789 closed

[2017-12-19 02:42] SuperAL commented on #333
Check this issue: [Getting "not a system font" error despite using Font.loadAsync](https://github.com/expo/expo-sdk/issues/55)
You may find solution there.

[2017-12-21 02:57] patrikmolnar opened #792 "-v"
### Description

1. Explain what you did
2. What you expected to happen
3. What actually happens

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We highly recommend that you try to reproduce your bug on https://snack.expo.io/ and provide a link.

If you can't reproduce the bug on Snack, provide an example of your code and bri

[2017-12-21 06:49] #792 closed

[2017-12-21 15:44] brunzero commented on #419
@Monte9 hey there. is it possible to update the docs to include this new prop?

[2017-12-21 18:32] santoshzp commented on #771
same issue

[2017-12-22 19:49] lukewlms commented on #387
I didn't get `false` to work with the current typedefs, but `style: { display: "none" }` works.

          clearIcon={
            this.state.searchString.length < 1
              ? { style: { display: "none" } }
              : { color: "#86939e", name: "cancel" }
          }

[2017-12-22 22:13] francisrod01 opened #794 "How can I use badge with Async component to render Intl.NumberFormat call"
## Environments: ##

[code]

react-native-elements: `^0.18.5`,

### Problem: ###

1. Explain what you did

How can I use badge with Async component to render Intl.NumberFormat call

2. What you expected to happen

Render a value returned from promise with `Async` component, because the value expected to `ListItem badge` element is in a promise function.

3. What actually happens

[code]

I don't k

[2017-12-22 22:37] francisrod01 commented on #794
\o/ We can change the doc and added this: `Render a custom Badge element`, like this:

[code]

I just changed the badge flag in `ListItem` component to `element:  showFormattedNumber(promise)`

[2017-12-22 22:37] #794 closed

[2017-12-23 23:38] iRoachie commented on #419
@brunzero Added in https://github.com/react-native-training/react-native-elements/commit/06bd43c77f085b7ce86afd2c11f06faaab1e5677. Available in next release.

[2017-12-24 22:47] cihadturhan opened #797 "Gives a warning when an Image Style is set in avatarStyle for a ListItem component"
### Description

If you use an image style in `avatarStyle` in a `ListItem`, such as:
[code]
It gives a warning of

### Solution

I'm about to submit a PR related to this issue.

[2017-12-25 14:15] iRoachie commented on #797
Fixed in https://github.com/react-native-training/react-native-elements/commit/881718c18c6f2eaa6e958086da1f20cdd9353732. Will be available in next release

[2017-12-27 10:32] raduflp commented on #688
this seem to be a more up-to-date approach for anyone looking for TS support [https://github.com/ds300/react-native-typescript-transformer](https://github.com/ds300/react-native-typescript-transformer)

[2017-12-27 12:42] iRoachie commented on #688
Yep @raduflp! I use that currently and it works great

[2017-12-28 14:41] karimraoudy opened #799 "BouttonGroup Scratch in Ios but not Android."
Hello everyone , i'm using buttonGroup for my app everthing is working well expect  like you can see in the pictures there is some scratch that appear , i'm using EXPO and real Device , in my android device nothing appear only in my ios device (iphone 6).
expo :23.0.4 , RN: 0.50.3 👍
 (https://user-images.githubusercontent.com/32100412/34413589-51707bb6-ebdc-11e7-9ec9-a8ccf1392d9e.jpg)
<code>
 <But

[2017-12-29 08:35] xavier-villelegier commented on #731
Closing this as it has been inactive for 1 month. @fengyun2 ping me if you still have this issue 😊

[2017-12-29 08:35] #731 closed

[2017-12-29 08:38] xavier-villelegier commented on #735
The closing tag was before the `onPress` props. (Cf Stackoverflow answer)

[2017-12-29 08:38] #735 closed

[2017-12-29 08:40] xavier-villelegier commented on #737
@evanmcd Closing this as it has been inactive for 1 month! Let us know if you still have some troubles to make the switch work.

[2017-12-29 08:40] #737 closed

[2018-01-02 06:57] evilandfox opened #801 "How to make ListItem textInput fill all available space?"
Hello! ListItem textInput maximum width is only half of item width:
[code]
![photo5357560673846012065](https://user-images.githubusercontent.com/9137261/34476584-d8d4aba6-efb3-11e7-9077-a769b6c1f282.jpg)

How to make textInput width fill all available space like:
![photo5357560673846012063](https://user-images.githubusercontent.com/9137261/34476585-e08ee24e-efb3-11e7-9454-e8ce7f84cf23.jpg)
and tru

[2018-01-02 10:25] xavier-villelegier commented on #801
Hey @evilandfox, you're right, this is not well handled by the ListItem. Actually, the title has a `flex: 1`, so does the `TextInput`, so they are both taking half of the space. That shouldn't be the case if there is a `TextInput` (The title shouldn't have a `flex: 1` in this case). 😕

I think you can use this dirty fix as a workaround for now:
[code]

This will give you this result:
![image](http

[2018-01-02 10:32] xavier-villelegier commented on #799
Hi @karimraoudy, I've tested [this snack](https://snack.expo.io/SkmpR0uQG) on the simulator and on my own device, I don't have this issue 😕  I'm afraid this might be a React Native issue on the border styling… Did you try to play with the `borderWidth` or the `borderRadius` properties to see in which cases it occurs?

[2018-01-02 10:42] xavier-villelegier commented on #719
@pavloko Storybooks looks a solid solution, we should definitely give it a shot. For now I clone the RNE repo inside the `node_modules` of the example app. It works just fine and allows you to commit directly through `node_modules/react-native-elements`, but the storybook solution seems cleaner, for sure

[2018-01-02 11:23] karimraoudy commented on #799
thank You @xavier-villelegier  for your reply i'will try that.

[2018-01-03 19:31] henriqueViana commented on #536
I had this problem too, but I managed to solve.

My .babelrc presets
"presets": ["es2015", "react-native", "react"];

My devDependencies
"react": "15.4.2",
"react-native": "0.49.3",
"chai-enzyme": "^0.8.0",
"enzyme": "^3.3.0",
"mocha": "^4.1.0"

And run with this npm script
"test": "./node_modules/.bin/mocha --compilers js:babel-core/register __tests__/*.spec.js"

[2018-01-04 02:29] nopedev commented on #788
[code]

At android this worked for me.

I used ```Montserrat.ttf```, ```Montserrat_bold.ttf``` font from google fonts and added it to ```/android/app/src/main/assets/fonts```. You need to rename filenames of downloaded font files.

[2018-01-04 03:42] #788 closed

[2018-01-04 11:51] nehabhamare commented on #620
For me also, `npm install @expo/vector-icon --save-dev` does not help! I have this error in simulator:

![screen shot 2018-01-04 at 12 45 12](https://user-images.githubusercontent.com/21045231/34562251-c97a57a0-f14d-11e7-990e-a006a2413096.png)

If anyone has found a solution, please guide me! Thanks in advance!

[2018-01-04 14:11] ABKZR commented on #709
Error: The <Image> component cannot contain children. If you want to render content on top of the image, consider using aboslute positioning.

This error is located at:
    in Image (at App.js:17)
    in RCTView (at View.js:112)
    in View (at App.js:16)
    in App (at renderApplication.js:35)
    in RCTView (at View.js:112)
    in View (at AppContainer.js:102)
    in RCTView (at View.js:112)

[2018-01-04 18:09] AugustoAleGon opened #802 "FormInput margins could not be changed"
### Description

1. Explain what you did
I am working with FormInput right now:
If I am using the component like:
[code]
2. What you expected to happen?
Remove all the margins that are surronded the form input.

3. What actually happens
Margins are still at the same default value. Any work around?

Also please include the version of `react-native-elements` that you are using.
Version:
 "react-nati

[2018-01-04 21:53] bailih opened #803 "npm install points to 0.14.0, throwing me "_reactNative.View.propTypes.style is undefined""
### Description

I use `npm i react-native-elements --save` to install, but somehow I keep getting react native elements @0.14.0.

The version 0.14.0 keeps giving me "_reactNative.View.propTypes.style is undefined" error when I run the app in production mode.

Here is the installation message:

`

### Solution

I finally use the command `npm i --save react-native-elements@0.18.5` to force latest v

[2018-01-05 00:02] aschmid commented on #620
same issue here. i tried everything i could and i still get this error.

[2018-01-05 02:39] iRoachie commented on #803
I can't reproduce this error locally @bailih. This is probably 1 of 2 things.

Firstly, try delete your `package-lock.json` if your using npm5. Lock files usually save a particular version of a library so that when reinstalling you will always get the exact version.

Secondly, npm sometimes caches a particular version locally on your computer. You can clear the cache by using `npm cache clean` and

[2018-01-05 02:47] iRoachie commented on #802
Hey @AugustoAleGon, you should be able to use the `containerStyle` prop to change the default margin. Here's an example I made on snack.expo that shows the default margin as well as the margin removed.

[2018-01-05 09:18] xavier-villelegier commented on #747
Closing this issue as it has been inactive for a month. Feel free to reopen it or ping me if this still occurs.

[2018-01-05 09:18] #747 closed

[2018-01-05 09:22] xavier-villelegier commented on #742
Hey @thanhppm, closing this issue since we don't have enough information to help you, and it has been inactive for a month. Feel free to reopen it if you still can't see your icon.

[2018-01-05 09:22] #742 closed

[2018-01-05 10:11] LuckySambial commented on #620
same issue and I got this issue in every project
npm install @expo/vector-icons --save-dev didn't work :(

[2018-01-05 10:54] LuckySambial commented on #620
I have solution for this, anyone interested @aschmid @nehabhamare @foobar8675  ?

[2018-01-05 11:09] xavier-villelegier commented on #620
@aschmid @nehabhamare @foobar8675 @LuckySambial @wmlutz
Oookay guys, so. I've tried to install RNE from scratch wit both vanilla and Expo react native projects. Here are the steps for me to make them work.

## Solution 1: Using `react-native-init`

1. Delete everything to be sure

`rm -rf node_modules yarn.lock packages-lock.json`

2. Install React Native Elements

`npm install react-native-elemen

[2018-01-05 11:20] raduflp opened #804 "[ts] ListItem keyboardType prop missing"
in index.d.ts:1281 `textInputKeyboardType` prop is declared instead of the actual `keyboardType` prop implemented,
Personally I find `textInputKeyboardType` to be have a more consistent naming, but I guess the future planned refactor of this component will take care of that

[2018-01-05 11:21] iRoachie commented on #620
Amazing @xavier-villelegier can you put this in the docs somewhere?

[2018-01-05 12:18] iRoachie commented on #804
Hey @xavier-villelegier the easiest fix would be to change to change the typings, however I think the `keyboardType` in the source should be changed to `textInputKeyboardType` to match the other textInput props. What do you think?

[2018-01-05 14:09] AugustoAleGon commented on #802
Yes! You are totally right. I passed it and it works. Thanks @iRoachie

[2018-01-05 14:09] #802 closed

[2018-01-05 15:10] raduflp commented on #804
@iRoachie totally agree.
At the same time having so many TextInput specific props as textInput* makes the ListItem component seam bloated. Personally I think that just exposing a single textInputProps prop (as descriped in v1 specs) on ListItem will make it more simple and more futureproof in case the TextInput api changes because you will not have to maintain the mapping between the props. This a

[2018-01-05 15:14] iRoachie commented on #804
Yea I'm definitely with you on that one. Hopefully we can push out v1 beta early next month

[2018-01-05 15:29] iRoachie commented on #804
Renamed prop in https://github.com/react-native-training/react-native-elements/commit/07e5c9c4573ddd4bf05978574a89ac38d12e5113. Should be available in next release

[2018-01-05 15:53] mateen-hussain opened #805 "ListItem separator is being displaying different shades on ios"
### Description

The default ListItem separator is being displayed in varying shades of gray on ios. In below attached file the separator after the first, third, sixth items are slightly darker than others.

<img width="286" alt="screen shot 2018-01-05 at 15 43 19" src="https://user-images.githubusercontent.com/26531653/34616279-b0d96ee2-f22f-11e7-9fc9-adbafc458c28.png">

This works fine on androi

[2018-01-05 15:56] xavier-villelegier commented on #805
Hey @mateen-hussain, this is related to the simulator. You can see that if you scroll slowly these shades of grey will change slightly. Try to grow your simulator, or to test on a real device, you shouldn't have this issue 👌

[2018-01-05 16:08] mateen-hussain commented on #805
Thanks. How do I change its color.

[2018-01-05 16:11] xavier-villelegier commented on #805
@mateen-hussain
[code]

[2018-01-05 16:20] mateen-hussain commented on #805
Your suggestion changes the color of the List container not the border between the items

[2018-01-05 16:21] #805 closed

[2018-01-06 18:21] aschmid commented on #620
@xavier-villelegier thanks for this. unfortunately none of your solutions worked for me.
after a hours of banging my head against this what worked for was:

- clone the project from scratch
- setup a fresh node environment via nvm (i used v8.9.4)
- `rm -rf ios/build` (if pushed to the repo)
- `npm install react-native-cli -g`
- `npm install`
- `react-native run-ios`

[2018-01-06 19:23] xavier-villelegier commented on #620
@aschmid Yea as specified in Solution 1, removing `ios/build` helped me too. A fresh install is always a good idea in desperate cases haha. I don't think that you needed to reinstall `react-native-cli` though, unless you needed to update it.

[2018-01-06 20:33] aschmid commented on #620
@xavier-villelegier i had to reinstall the `react-native-cli` because i setup a completely new node env. but yes i agree that if would have used an existing one i wouldn't have to do that.

[2018-01-07 05:06] nahuelhds opened #806 "Checkbox: icon position"
Hi. I'm wondering how can I align title to the left and icon to the right.

I'm not talking about `iconRight` property. What I'd like is to make something like `float: right` the icon in the row. So the title is floated left and the icon floated right.

I've made it work by combinig containerStyle and textStyle like so:

[code]

But I'm wondering if there is not a better way to make the same

[2018-01-07 05:24] nahuelhds commented on #806
I've just noticed I can do something better with ListItem and switchButton. Sorry for this

[2018-01-07 05:24] #806 closed

[2018-01-07 10:35] raduflp opened #807 "[TS] Text missing RN Text props"
Text component is missing default RN Text props such as `numberOfLines`

[2018-01-07 10:49] omarmok opened #809 "how to overwrite cards"
### Description

1. Explain what you did
2. What you expected to happen
3. What actually happens

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We highly recommend that you try to reproduce your bug on https://snack.expo.io/ and provide a link.

If you can't reproduce the bug on Snack, provide an example of your code and bri

[2018-01-07 14:47] iRoachie commented on #807
Fixed in https://github.com/react-native-training/react-native-elements/pull/796/commits/5e9f4b7c63ce670fac2dca386ff3da840effcba5. Should be available in next release

[2018-01-07 15:50] iRoachie commented on #809
Hey @omarmok could you explain what you mean by overwrite?

[2018-01-07 16:28] omarmok commented on #809
how can i overwrite css to elements

[2018-01-07 16:33] iRoachie commented on #809
The Card component expose several style props that you can use to customize:
* `containerStyle`
* `wrapperStyle`
* `titleStyle`
* `featuredTitleStyle`
* `featuredSubtitleStyle`
* `dividerStyle`
* `imageStyle`
* `imageWrapperStyle`

You can check the other props on the docs site https://react-native-training.github.io/react-native-elements/API/card/

[2018-01-07 16:41] omarmok commented on #809
thanks i will try

[2018-01-07 17:23] #809 closed

[2018-01-08 23:26] Monte9 commented on #756
Hey @hendrul! Yes, you are right, the current implementation of ratings has several limitations since it uses a custom background in order for the animations to look smooth.

I am not sure, to be honest. Using svg images, I would think you could possibly implement something similar without the dependency fo having a custom background.

I would suggest you open this issue in the Rating's main repo

[2018-01-08 23:26] #756 closed

[2018-01-08 23:42] Monte9 commented on #719
OK, we finally have a working solution. As @xavier-villelegier suggested, we ended up using git submodules as a way to make development easier between the `/example` app and `rne-core`.

For the upcoming `v1` release, `/example` is going live on a standalone project here: https://github.com/react-native-training/react-native-elements-app/tree/v1#get-started

Here's how it works:
RNE is a submodule

[2018-01-09 09:29] arainyu commented on #622
@omidfi  I have the same issue in v0.18.5

[2018-01-09 10:16] xavier-villelegier commented on #622
@omidfi @arainyu Oops, you're right guys.
This has just been fixed again in https://github.com/react-native-training/react-native-elements/commit/1cf5896e510ca62ce917a962970773df386e8379.

You can check if it works by putting this in your `package.json`
[code]

Should be in the `v0.19.0` 👍

[2018-01-10 05:17] nitin0331 opened #810 "Header component not change"
### Description
I m facing a issue in which  [(header component)](https://react-native-training.github.io/react-native-elements/API/header/) not change .Its same on all the screen even if i have defined separately in [Stacknavigator ](https://reactnavigation.org/docs/navigators/stack) navigationOptions.
[code]

even if i have added in each screen seperately but its show home(**first header compone

[2018-01-10 09:56] xavier-villelegier commented on #810
@nitin0331 This is not a RNE issue, but it comes from the way you're using react-navigation.
You have a `StackNavigator` pointing to a `DrawerNavigator`, which is correct, but all your routes in your `StackNavigator` are pointing to this Drawer, which is not correct. You should just have one route pointing to it in the `StackNavigator`, and override the header in the `DrawerNavigator`. Moreover, I

[2018-01-10 14:22] raduflp opened #811 "[TS] wrong type for IconObject.style"
currently IconObject type has defined `style?: StyleProp<ViewStyle>;` which is incorrect as it doesn't allow passing text specific styles such as fontSize.
Solution: change it to `style?: StyleProp<TextStyle>;`

[2018-01-10 14:36] raduflp opened #812 "[proposal] add size prop to ListItem icons' configuration options"
Currently the size of the left/right icon in ListItem can be modified only through `{ style: {fontSize} }`
Personally I think it would be more intuitive to add a `size` configuration that would adjust the Icon size prop. I think it's a common enough scenario that would justify the change.
Happy to make a pull request if we agree on that.

[2018-01-10 14:43] iRoachie commented on #811
Which line are you referring to?

[2018-01-10 14:57] jeffreyrajanofficial opened #813 "Header component height issue in android"
Hi I was trying to use the Header component in my app, the header component was working as expected in iOS but in Android I am getting status bar height along with the header component. Is there anyway to remove the status bar height from Android.

Here is the code snippet I have used:

[code]
Here is the result I am getting in Android and iOS:

<img width="640" alt="screen shot 2018-01-10 at 8 25

[2018-01-10 20:46] xavier-villelegier commented on #812
Hey @raduflp!
Thanks a lot for your recent activities on this repo, it really helps to make it better and better 👍

Actually, you already can haha 😅

[code]

Check out [this example](https://snack.expo.io/rk7X5xEVG) 👌

But the implementation isn't that clean. If you look at [this part](https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L128) we should s

[2018-01-11 02:51] iRoachie commented on #813
The height of the status bar is set as a fixed 70 units https://github.com/react-native-training/react-native-elements/blob/4f8225d91bd5917c88b3e70e27a991b12ad4dd1d/src/header/Header.js#L101

On iOS the statusBar overlaps the content, while on android it does not. An easy fix would be to set height for android to `70  - 24` in which 24 is the height of the status bar on android.

A quick workaroun

[2018-01-11 06:50] jeffreyrajanofficial commented on #813
Awesome thanks @iRoachie that fixed the issue :)

[2018-01-11 14:53] raduflp commented on #812
Hey @xavier-villelegier!
you are right, it works for the `leftIcon`. I was having the issues with the `rightIcon` because the `size` prop there is hardcoded to `28` and the icon looks way too big. I just assumed it is the same implementation as `leftIcon`, so a small adjustment to the `rightIcon Icon.size` would fix it for now.
I totally agree that spreading the props would be much cleaner, althou

[2018-01-11 16:04] giveli opened #814 "Clickable image on the cards"
Hi, I was trying to add click action on the image of a card component.

Here is my code :

[code]

It seems from the documentation there isn't specific property on the card component.
I definitely want to use the card's property image because I want to keep the header image style.

How I can do that ?  I need your help please !

[2018-01-11 16:05] iRoachie commented on #814
You want to be able to click on the card?

[2018-01-11 19:22] fazeelzama20 commented on #454
@binoy14 checkbox is used in list, it is showing correctly, but when i check one checkbox all of them are getting selected. can you please help?

[2018-01-11 20:07] xavier-villelegier commented on #812
@raduflp Ahhh my bad, you're right about the `rightIcon`. Feel free to submit a PR by using `rightIcon.size || 28` then 👍

[2018-01-11 20:30] xavier-villelegier commented on #454
Hey @fazeelzama20, have a look at [this](https://github.com/react-native-training/react-native-elements/issues/603#issuecomment-329986069), it might help 👍

[2018-01-12 00:29] #718 closed

[2018-01-12 00:29] #740 closed

[2018-01-12 00:29] #768 closed

[2018-01-12 00:29] #804 closed

[2018-01-12 18:23] xavier-villelegier commented on #807
Available in the `v0.19.0` !

[2018-01-12 18:23] #807 closed

[2018-01-12 18:23] xavier-villelegier commented on #797
Available in the `v0.19.0` !

[2018-01-12 18:23] #797 closed

[2018-01-12 18:24] xavier-villelegier commented on #780
@6axter82 `v0.19.0` is out on npm !

[2018-01-12 18:24] #780 closed

[2018-01-12 18:24] xavier-villelegier commented on #767
`v0.19.0` is now on npm 👍

[2018-01-12 18:24] #767 closed

[2018-01-12 18:25] xavier-villelegier commented on #622
`v0.19.0` is out 🤙

[2018-01-12 18:25] #622 closed

[2018-01-13 01:50] hhg2288 opened #815 "Raised styles on Button are applied to wrong View"
### Description

1. Explain what you did:
When you have a button `raised` and with some type of spacing styling (margin or padding), the shadow created by the `raised` prop is attached to the wrong view inside the button.

2. What you expected to happen
The border generated from the `raised` prop should be in the "colored" button, not in that View that happens to be the Button Implementation wrapp

[2018-01-13 14:31] vineet-287 commented on #329
I am facing a strange error. In my office I am having ubuntu 1604 LTS configured and `RNE` seems to be working as expected. But when I configured the same app in `MAC` it seem not to be working. I've tried many ways to resolved that but nothing get fixed for me. I am using

[code]
in my package.json. Can anyone please suggest what I am missing ?

[2018-01-14 00:49] iRoachie commented on #329
Hey @vineet-287 can you create a new issue? Also it would be helpful if you have a link to the repo so that someone could at least attempt to help you.

[2018-01-14 00:58] iRoachie commented on #815
All components in react-native-elements have a container element around them. In your example by adding a margin to the `buttonStyle` prop, you are essentially creating a gap between the container and the element itself. What you probably actually want is the `containerStyle` prop, in which then applying a margin would make more since as it's the container that interacts with other elements.

[2018-01-14 03:26] iRoachie commented on #811
You're right actually it's, supposed to be both according to the react-native-vector-icons typescript definitions

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/fa5baf1733f49cf26228a4e509914572c1b74adf/types/react-native-vector-icons/Icon.d.ts#L65

[2018-01-14 03:35] iRoachie commented on #814
Ah so @giveli we actually don't have this supported now although it sounds like a really great feature to have. Currently right now if you want to do this, you'll have to use an empty Card and handle the contents(image) as children yourself.

However if anyone wants to make this feature happen, they'll need to place a touchable around the image here
https://github.com/react-native-training/react-n

[2018-01-14 04:29] steamedcotton commented on #815
I was having a similar issue and I think the prop name is `containerViewStyle` (not `containerStyle`).  Hope that helps.

[2018-01-14 04:33] iRoachie commented on #815
Thanks made the typo update

[2018-01-14 13:56] krean93 commented on #806
I am also trying to achieve the result you have described. Does anyone have a solution in harmony with RNE?

[2018-01-14 20:57] hhg2288 commented on #815
@iRoachie oh ok!, so there is no fix then?
I'm assuming that if I'm using a `Button`, to change its styles, I need to add something to the `buttonStyle` prop, not to the `containerViewStyle` prop. In any case, those that shadow still needs to be applied to the container?

just let me know if I need to delete the issue & the PR :)

thanks for the answer :)

[2018-01-14 21:02] ilkerceng opened #818 "Multiple avatars in the same ListItem element"
Is it possible to put multiple avatars on the same ListItem? I also asked [this question](https://stackoverflow.com/questions/48245190/multiple-avatars-in-the-same-listitem-element) on stackoverflow.

[2018-01-14 21:03] hhg2288 commented on #815
this is my humble opinion...

the fact that all the elements in this library has a container view around them, is an implementation detail. users may or may not need to know or care about it.

I see two solutions here:
1. we specify in de docs that if you want to use some kind of styling for separation (margin, padding or similar) within the `Button` component, you need to add this styles to the `

[2018-01-14 22:16] nahuelhds commented on #806
@krean93 I recommend you give the [ListItem API a read](https://react-native-training.github.io/react-native-elements/API/lists/). You have a lot of props to combine in order to make almost every common UI case.

[2018-01-14 22:49] iRoachie commented on #818
This currently isn’t possible right, sorry there @ilkerceng. We’re revamping the ListItem component for our v1 release that has a much simpler API.

[2018-01-14 23:28] hhg2288 commented on #815
awesome!!

I just found that problem in my use case & I wanted to help solving it :)

hope we get a good solution I can implement & help with the project :)

[2018-01-15 05:55] fazeelzama20 commented on #603
@iRoachie Hello, I am facing the same issue of checking one checkbox and all checkbox are getting selected in List. I have also read what you have said, i have created one array but i am not getting how to use for loop for checked[], here is my code, can you please help? forgive me if i am asking silly question.

`constructor(props){
          super(props);
          this.state={
            check

[2018-01-15 06:32] ShaikhKabeer opened #819 "Cards not showing completely if used inside ScrollView"
Hello team,
I need multiple cards (approx. 5-6 Cards) in my app, so I added it on View and then applied ScrollView to whole cards. But the last card is not showing its contents completely. what could be the issue ? Please help

[2018-01-15 10:35] iRoachie commented on #819
Could you paste your code here or create a snack on https://snack.expo.io?

[2018-01-15 13:51] giveli commented on #814
Thank you so much for your help !
I locally add a touchable around the image on Card.js ! It works ! Thank  you !
I will add a pull request as soon as possible.

[2018-01-15 13:52] iRoachie commented on #814
Great! I'll leave the issue open until it's implemented

[2018-01-15 15:54] ShaikhKabeer commented on #819
Actually it's part of project so I can't completely expose the code but you just try to do like this.

<View style={{flex:1}}>
<ScrollView>
<Card>
<Text> ABC </Text>
<View style={{alignItems:'center',justifyContent:'center'}}>
...............Some component like table or chart
</View>
<Button />
</Card>

<Card>
<Text> DEF </Text>
<View style={{alignItems:'center',justifyContent:'center'}}>
........

[2018-01-15 22:55] iRoachie commented on #603
Hey @fazeelzama20, here's an example with FlatList https://snack.expo.io/ryQrlh54G. Remember to use the `extraData` prop in FlatList, as items in a FlatList are PureComponents

[2018-01-15 23:43] pstanton opened #821 "Header: Can't use <View> as component"
I need to use a composite component for the rightComponent in the header, however when doing the following, I get an error:

[code]

error:

[2018-01-15 23:45] pstanton commented on #821
When I comment out the <Text> and <Icon> elements just leaving <View />, I still get the error, however I don't get the error if I just use <Text>

[2018-01-15 23:50] lai32290 commented on #12
I fix this issue like this step:
-  switch `react-native` to `react-native-cli`.
` $ npm uninstall -g react-native`
`$ npm install -g react-native-cli`

- installing `react-native-elements`
`$ npm install -S react-native-elements`
- installing `react-native-vector-icons`
`$ npm install -S react-native-vector-icons`

- link it to project using `react-native link`
‵$ react-native link react-native-v

[2018-01-16 02:54] brunolsantos opened #822 "Program trowing immutable error when i'm clicking the checkbox"
### Description

1. I created an array state of items and iterate through it with map. Then i created Checkboxes using the value `value.selected` to control the Checkbox state.

2. I'm expecting to change the value of the state and update checkbox state.

3. The program throws this error:
![immutable_error](https://user-images.githubusercontent.com/13380741/34969635-def6570c-fa56-11e7-97c7-46ba8cf

[2018-01-16 04:41] adisojeda commented on #636
Hello, I am using react-native-elements version 0.18.5 and I am still getting the dark overlay over my images in Card, regardless of if they have a title and subtitle or not;
my code:

` <Card
        key={card.objectId}
        containerStyle={{borderRadius: 10, width: SCREEN_WIDTH * 0.92, height: SCREEN_HEIGHT - 165,  marginTop: 20}}
        featuredTitle={card.objectId >0 ?`${weekday}, ${month}

[2018-01-16 05:08] momo1 opened #823 "Is is possible to change rightIcon onPress?"
Hi,

I'm still fairly to RN so please let me know if I'm missing something. I have a list of audio files where the rightIcon is set to a 'play' icon. When the user clicks on it (onPressRightIcon) I would like to turn it into a 'stop' icon. It doesn't seem like the FlatList or ListItem re-render on setState (which makes sense I guess). Is there some way to achieve this?

Below is a simplified versi

[2018-01-16 20:40] brunolsantos commented on #822
Fixed.

[2018-01-16 20:40] #822 closed

[2018-01-17 02:23] pstanton commented on #821
this is not an issue, I had another problem causing this. closing.

[2018-01-17 02:23] #821 closed

[2018-01-17 04:30] pstanton opened #825 "ButtonGroup - containerBorderRadius doesn't work"
I am trying to make all the buttons have square corners.

[code]

There is still a rounded edge on the far left and right buttons.

Not in expo, running in real android via usb cable.

[2018-01-17 04:37] pstanton commented on #825
[code]
seems to work

[2018-01-18 10:57] 6axter82 commented on #780
This is awesome, thanks a lot!

[2018-01-18 10:57] xavier-villelegier commented on #823
Hey @momo1, to let the FlatList know that it needs to be re-rendered, you have to use the `extraData` props. Try something like

[code]

[2018-01-19 05:17] dlucidone commented on #214
@iRoachie Not able to trigger action with formInput can you share some code ?

[2018-01-19 10:07] xavier-villelegier commented on #825
@pstanton Feel free to reopen the issue if you didn't solve it

[2018-01-19 10:07] #825 closed

[2018-01-19 10:11] pstanton commented on #825
i'm just not sure what containerBorderRadius does or if it works.

[2018-01-19 11:10] xavier-villelegier commented on #815
I think moving the raised effect to the `buttonStyle` as you did is fine, unless we can find a use case where we need to put a gap between the raised effect and the button

[2018-01-19 13:12] iRoachie commented on #815
Alright then, updated the status to show. Gonna just check with head maintainer on if we're doing the v1 merge before accepting any new fixes

[2018-01-20 06:24] hhg2288 commented on #815
awesome!
thanks!

[2018-01-20 19:34] Monte9 commented on #636
@adisojeda kindly open a new issue and we can try to help you resolve your issue. Also adding a screenshot of what you are seeing would help a lot.

[2018-01-21 07:47] momo1 commented on #823
@xavier-villelegier  Sorry I didn't notice your reply in my email. This worked like a charm. Thank you!!

[2018-01-21 07:47] #823 closed

[2018-01-21 14:27] deadcoder0904 opened #826 "Beta version throws error `Module does not exists 'expo'`"
Tried running `react-native init demo && yarn add react-native-elements@beta` & the default application did not work. It throws the following error -

[code]

It throws error because of [this line in V1 branch](https://github.com/react-native-training/react-native-elements/blob/v1/src/buttons/Button.js#L45) as it uses Expo & I'm not using it.

[2018-01-21 17:50] Monte9 commented on #826
Ah shit. I knew that would cause a problem. I am going to copy @xavier-villelegier & @martinezguillaume on this.

What we are trying to do there is to make liner gradient available to the user by using Expo's LinearGradient. But unfortunately `require('expo')` throws an error if not found instead of just returning undefined.

If you or anyone else has suggestions on how to check if a module/librar

[2018-01-21 18:17] deadcoder0904 commented on #826
Naah, checkout https://github.com/facebook/react-native/issues/4968 for that issue

[2018-01-21 18:40] martinezguillaume commented on #826
Hey ! I can’t see anything related to the issue in your link 😕

What we are trying to do is to detect if the node modules (expo here) exists in your project. @xavier-villelegier runs into a lot of issues, maybe à possible workaround exists now, we have to check

[2018-01-21 18:45] deadcoder0904 commented on #826
Ohh I thought the error which I've shown has that above link so I thought those 2 might be related.

[2018-01-22 06:47] SupriyaKalghatgi opened #829 "Need to tap twice to enter input for multiple textfields"
I checked this from expo https://expo.io/@monte9/react-native-elements-app

[2018-01-22 06:48] SupriyaKalghatgi opened #830 "Status bar collides with header"
Checked this from expo https://expo.io/@monte9/react-native-elements-app

[2018-01-22 10:15] 6axter82 opened #832 "Is it possible to represent badge as a circle and only if there is a value with 3 digits to make a horizontal ellipse"
If someone did it already, can you explain how.I got the following code:

[code]

Up to now it looks like this:
![screen shot 2018-01-22 at 11 09 22](https://user-images.githubusercontent.com/13738101/35215528-cec3a516-ff64-11e7-83e8-7f145e66474e.png)

what I want is:
![screen shot 2018-01-22 at 11 11 06](https://user-images.githubusercontent.com/13738101/35215713-73329490-ff65-11e7-808b-38cc902b7

[2018-01-22 14:43] 6axter82 commented on #832
I found solution myself. so if someone will be interested I post it here:
[code]

[2018-01-22 14:43] #832 closed

[2018-01-23 10:58] lahiruuk opened #833 "Icons not load in offline"
Is there a solution for icons to load in offline mode ?? When I launch app in online mode icons load normally, but I launch it in offline mode only  preloaded icons are showing.
Is there a way to use expo vector icons with this ??

[2018-01-23 11:46] iRoachie commented on #833
This is a limitation in expo itself, it doesn't support bundling of assets. The assets for the app are stored in a cdn, and downloaded to the user's phone on first run. So you need Internet for the first run.

You can read more about it in their [docs](https://docs.expo.io/versions/v24.0.0/introduction/why-not-expo.html#non-image-assets-are-not-bundled-inside-of-standalone-apps-sometimes-you-need-

[2018-01-23 13:22] iRoachie commented on #829
Can confirm, only happens on first load.

[2018-01-23 13:24] iRoachie commented on #829
Hey @SupriyaKalghatgi might be better to track this over on https://github.com/react-native-training/react-native-elements-app/issues/33. Since we split the example and the source into separate repos.

[2018-01-23 13:24] #829 closed

[2018-01-24 06:00] lahiruuk commented on #833
Ah!! ok I understand now, thanks for help (Y) .

[2018-01-24 06:00] #833 closed

[2018-01-24 08:50] xavier-villelegier commented on #830
Thanks for reporting that @SupriyaKalghatgi ! 👌 This wasn't the case before but we just updated the app with the `v1.0.0-beta`, this introduces some bugs. Feel free to tell us if you find others !

[2018-01-24 09:02] xavier-villelegier commented on #777
Closing this since it has been inactive for 1 month.

[2018-01-24 09:02] #777 closed

[2018-01-24 09:30] xavier-villelegier commented on #771
Closing this since the `Icon` component does the job.
We updated the `Button` component in the `v1.0.0-beta`, if this is really necessary we will fix it in the v1.

[2018-01-24 09:30] #771 closed

[2018-01-24 09:32] xavier-villelegier commented on #755
Closing this because it has been inactive for 1 month, feel free to reopen it you still have this issue !

[2018-01-24 09:32] #755 closed

[2018-01-24 13:17] mateen-hussain commented on #479
@Monte9 I have the same problem too. I'm trying to disable the touch feedback on a tile.

[code]

I tried various values between 0-1 to disable the touchfeedback but I dont see any effect.

[code]

[2018-01-24 14:32] xavier-villelegier commented on #479
@mateen-hussain Yes you're right.
You can see that the `activeOpacity` is taken [here](https://github.com/react-native-training/react-native-elements/blob/master/src/tile/Tile.js#L27) but not passed to the `TouchableOpacity`, because not in `...atributes` anymore.

Feel free to open a PR to fix it, it is as simple as adding `activeOpacity={activeOpacity}` to the `TouchableOpacity` 👌

[2018-01-24 14:44] Dmitry052 commented on #4
Run the following commands:
- npm i react-native-vector-icons --save && react-native link react-native-vector-icons
- npm i react-native-elements --save

[2018-01-24 15:34] mateen-hussain commented on #479
Would love to contribute. let me give it a try.

[2018-01-24 15:41] xavier-villelegier commented on #479
@mateen-hussain, @lex111 has already opened a PR, have a look at #839.
There is a bunch of "good first issue"s you can try to take down ! Give [them](https://github.com/react-native-training/react-native-elements/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) a shot 💪

[2018-01-24 15:52] LouisJS opened #840 "Form Input with Icon. No Input Component for 0.19.0 ?"
### Description

I want to implement a screen similar to the 'Travel Leisure' one in the react native element on Expo (Login Section)

I've noticed in the GitHub repository, they are using the `Input` component which is not available anymore on react-native-elements `"^0.19.0` (?)`

### Reproduction Steps and Sample Code

https://snack.expo.io/B1AwF78HM

### Question

How could i add an icon from

[2018-01-24 16:04] xavier-villelegier commented on #840
Hey @LouisJS, this component is a refactored input by @Monte9, available in the `v1.0.0-beta` !

You can get it by doing `npm install --save react-native-elements@beta`.

Remember it is the first beta of the `v1.0.0`, so feel free to open an issue if you find something weird. There is no documentation about this new `Input`, you can check out the code to figure out how the API works ✌️

[2018-01-24 19:35] remon-georgy commented on #110
I'm closing this issue to kep everyone focused on @Gregor1971's awesome PR #759.

[2018-01-24 19:35] #110 closed

[2018-01-25 02:26] nimo007 commented on #826
Any update? I have the same problem

[2018-01-25 04:35] MrFoxPro opened #841 "ListItem crash when rightTitle is empty"
ListItem crashes on android when pass null or empty string to rightTitle

[2018-01-25 08:18] Hiro5409 commented on #826
+1

[2018-01-25 09:12] xavier-villelegier commented on #826
@deadcoder0904 @nimo007 @Hiro5409
I've tested on a `react-native init` project from scratch, and **yes, it crashes** without passing any `linearGradientProps`.

The dependencies seem to be evaluated anyway, maybe to build the dependency graph or something. I think this is high priority because the `Button` **can not** be used for non-expo users, while this is one of the refactored components that

[2018-01-25 09:28] Hiro5409 commented on #826
@xavier-villelegier
Thanks for quick reply! 😄
I really love the feature, LinearGradient button😢 ❤️
so anyway, I use expo in the meantime until this issue fix...

I'm looking forward to fix this problem 😃

[2018-01-25 09:35] xavier-villelegier commented on #826
@Hiro5409 Yes it seems that `npm i --save expo` allows you to use the `Button` without crashing, but you still can't use the LinearGradient feature. Also, it implies adding a big dependency to your project, which is not what we want our users to.

We'll let you know about updates on this feature

[2018-01-25 09:36] LouisJS commented on #841
Could you provide an exemple with https://snack.expo.io/ ?

[2018-01-25 10:23] LouisJS opened #842 "Button Layout"
### Description

1. Explain what you did

I'm implementing a simple View with Buttons at the top

2. What you expected to happen

Having styled Buttons sticked to the top of the View

3. What actually happens

https://res.cloudinary.com/donglyhya/image/upload/v1516875715/Screenshot_20180125-110116_hk3ixr.png

**"react-native-elements": "^1.0.0-beta",**

### Reproduction Steps and Sample Code

[cod

[2018-01-25 10:30] xavier-villelegier commented on #842
Mehh, good catch @LouisJS. Thanks for your recent activity on this repo, much appreciated 🙏

@Monte9, there is a `flex: 1` in the button container style [here](https://github.com/react-native-training/react-native-elements/blob/next/src/buttons/Button.js#L131), which was not the case before the refactoring

[2018-01-25 10:51] LouisJS commented on #842
You're welcome ! i really enjoy working with this library ! 😄

I've noticed when you start an snack expo project, it uses the `0.19.0` versions of react-native-elements.

Is it possible to use `^1.0.0-beta` ? That would be easier to report issues concerning the beta.

[2018-01-25 10:54] LouisJS commented on #819
Here is a working example (working with `0.19.0` and `1.0.0-beta`)

https://snack.expo.io/Bkg0-DNwSz

[2018-01-25 11:19] iRoachie commented on #842
This would actually be great to have, not sure if there’s a way to specify for snack to use a specific version. cc @brentvatne

[2018-01-25 14:29] MrFoxPro commented on #841
@LouisJS @xavier-villelegier
https://snack.expo.io/@foxpro/listitem-crash

[2018-01-25 14:32] xavier-villelegier commented on #842
@iRoachie @LouisJS Actually, you can specify the version like that

[code]

Have a look at [this snack](https://snack.expo.io/SkUwcDPrz) running the example of @LouisJS with the `v1.0.0-beta`

[2018-01-25 14:34] iRoachie commented on #842
Oh darn, sweet! We should probably document this somewhere in the readme. Pretty useful for when users want to show a bug in a particular version

[2018-01-25 14:36] hmontes opened #843 "Overlay missing"
### Version
0.19.0

### Description

Overlay don't work.

### Code and Demo

https://snack.expo.io/HJmRFPvHf

I saw the github code and the component Overlay is in there. But in my node_modules/react-native-elements/src i can't see the "Overlay" component. It's a new feature? Because i can see the api documentation.

Thanks

[2018-01-25 14:53] hmontes commented on #826
Any progress with this issue? I don't want to install expo and i don't want to address package.json to a github file because i want a version control.

Thank you

[2018-01-25 14:54] xavier-villelegier commented on #843
Hey @hmontes, the `Overlay` component will be in the `v1.0.0`.
You can now test the `v1.0.0-beta` by running `npm i --save react-native-elements@beta` 👌

[2018-01-25 14:55] hmontes commented on #843
No. I can't because i have an issue with Button component (expo is required).

https://github.com/react-native-training/react-native-elements/issues/826

[2018-01-25 15:03] xavier-villelegier commented on #826
@hmontes This will be in the `v1.0.0-beta2`. In the meantime, you can use these workarounds, or use the last stable release which is `v0.19.0`.

[2018-01-25 15:04] hmontes commented on #826
Okey. I'll copy and paste manually the Overlay component because that component isn't in the 0.19.0 version.

Btw. Why don't install linear-gradient package directly? Because that package requires react-native-links? I can help with a pull request or something if you want.

[2018-01-25 15:12] xavier-villelegier commented on #826
We want RNE to be available for both vanilla and Expo users. `react-native-vector-icons` requires linking but still works on Expo because `@expo/vector-icons` is based on this package, but this is not the case for `react-native-linear-gradient` apparently, so we're stuck here, as there is no way to require conditionally a package that doesn't exist.

The only solution that we have for now is to al

[2018-01-25 15:30] hmontes commented on #826
Perhaps calling a module conditionally.

if you have expo (try require(expo) catch) use @expo/LinearGradient. else use Linear-Gradient package.

You can add the instructions to add https://github.com/react-native-community/react-native-linear-gradient in the installation docs for default installation.

[2018-01-25 15:34] xavier-villelegier commented on #826
This doesn't work. As long as you have somewhere `require('expo')`, it will crash if you don't have `expo` module.

You can try by yourself, by doing
[code]

[2018-01-25 15:58] iRoachie commented on #826
Because react native uses haste, it checks for all requires and imports at compile time. So it'll fail long before the code is executed.

[2018-01-25 17:04] k3ithl1m commented on #830
I would like to help out with this issue. But I don't see the bug on my Iphone

[2018-01-25 17:06] k3ithl1m commented on #814
I would like to help out with this

[2018-01-25 17:35] MrFoxPro commented on #841
Quick fix: replace rightTitle with `<value> || ' '`

[2018-01-25 17:49] k3ithl1m commented on #812
Can I work on this enhancement?

[2018-01-25 18:04] xavier-villelegier commented on #830
@k3ithl1m This appears only on Android on the `v1.0.0-beta`

[2018-01-25 20:44] bianchi opened #846 "List aligned at center inside a view"
I'm trying to put a list inside a view and the list becomes very small if I use alignItems:center in the view.

If I remove alignItems:center it works as expected.
[https://snack.expo.io/B1jVyawHf](url)

[2018-01-25 22:14] iRoachie commented on #846
The `List` element itself doesn't have a set width. It uses `flex: 1` to fill the available space. When you use `alignItems` on the surrounding container, then the `List` will only take up enough space to display it's fixed-width children. That's why it's only as big as the room for the icon, and the badge.

You can fix this by giving it a width: `<List containerStyle={{width: 300}}>`

[2018-01-25 22:25] bianchi commented on #846
Understood. Thanks for replying

[2018-01-25 22:25] #846 closed

[2018-01-26 10:07] MrFoxPro commented on #841
![image](https://user-images.githubusercontent.com/17229619/35434899-975d3292-02aa-11e8-8042-81867e779f48.png)

[2018-01-26 10:13] xavier-villelegier commented on #841
@LouisJS @MrFoxPro If one of you wants to take the lead on this, have a look at [this comment](https://github.com/facebook/react-native/issues/13243#issuecomment-335488473).

I think just using `!!rightTitle` or `rightTitle !== null` instead of `rightTitle` can do the job [here](https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L191)

[2018-01-26 13:17] xavier-villelegier commented on #841
@MrFoxPro Just letting this open until we actually release the fix 👍

[2018-01-26 17:40] LouisJS commented on #840
Thanks. It does work o/

[2018-01-26 17:40] #840 closed

[2018-01-27 12:23] iRoachie commented on #842
Fixed this as a part of https://github.com/react-native-training/react-native-elements/commit/e0a4b6afda185c215fa9ad9fbfbc7f324c73cbbe#diff-a0a6368880417eca5ad26c484e9ded7aL131. Will be available in next beta release.

[2018-01-27 15:50] DIvu22 commented on #445
@Monte9  thanks!! you saved my time

[2018-01-27 23:17] Ariel-Rodriguez commented on #826
Hi @xavier-villelegier !
Few comments earlier you suggest to use the #next branch as bellow
[code]

Could you publish the <next> branch under "next" tag for NPM? 🙏
So then it would fetch the package from NPM instead Git
[code]

[2018-01-28 03:12] Amurmurmur commented on #842
Why button component now depends on expo component?
Is it an absolute need from now on to use expo?

[2018-01-28 03:18] xavier-villelegier commented on #842
@Amurmurmur This will be partially fixed in the next beta, please have a look at #826

[2018-01-28 03:19] k3ithl1m commented on #841
I would like to try to fix this

[2018-01-28 03:22] xavier-villelegier commented on #841
@k3ithl1m Issues whit the label “Fixed - Next Release” are actually ...*drum roll*... fixed haha

[2018-01-28 03:23] k3ithl1m commented on #841
@xavier-villelegier Okay! Haha thanks for informing!

[2018-01-28 03:28] xavier-villelegier commented on #826
@Ariel-Rodriguez This branch is our development branch, so don’t worry it will be released very soon in the beta 2 (Before Monday  probably)

[2018-01-28 03:43] leonardo2204 opened #853 "Strange Header Behavior"
### Description

1. I'm using header with vector-icons + TouchableHighlight. But if I click on the back-arrow, a black square appears.
2. I'm also trying to do a oneLine text + ellipsis, but it is not working.

### Reproduction Steps and Sample Code

My code:

[code]

Styles:

[code]

I've also tried adding `width:0` to barTitle, but the text never shows.

![header](https://user-images.githubuserc

[2018-01-28 03:52] Ariel-Rodriguez commented on #826
@xavier-villelegier Thanks for the quick response!

I created a proposal PR, at least it worked on my local but i am concerned about how harmful would be the approach.
I hope you all find it well.

[2018-01-28 05:18] repl-ullas-ml opened #855 "Issue importing 'Input' component"
### Description

1. Explain what you did
**Trying to use 'Input' element**
2. What you expected to happen
**Should be hassle free experience to import and use it, but ended with the error**
3. What actually happens
**Invariant Violation.Element Type is invalid**

Also please include the version of `react-native-elements` that you are using.
 **"react-native-elements": "0.19.0"**
### Reproduction S

[2018-01-28 08:58] mlchild commented on #855
I fixed this by using "FormInput" instead of "Input", but not sure if this is recommended

[2018-01-28 12:03] xavier-villelegier commented on #853
Hey @leonardo2204,

I did [this little example](https://snack.expo.io/SJbYiVjBz) on Snack. The ellipsis is working and I used `TouchableOpacity` instead of `TouchableHighlight` to avoid this weird effect. If you really want to use `TouchableHighlight` you must set the `underlayColor` props accordingly.

![image](https://user-images.githubusercontent.com/17592779/35481808-9a7e834a-042b-11e8-9efa-38

[2018-01-28 12:07] xavier-villelegier commented on #855
@repl-ullas-ml You're looking two different versions of RNE. On github the `v1.0.0-beta` is on `master`, but your version is the `v0.19.0`.

On the `v0.19.0`:
• You must import `FormInput`

On the `v1.0.0-beta`:
• The `FormInput` has been refactored and renamed, and is exported as `Input`.

So @mlchild, if you're on `v0.19.0`, you must use `FormInput`, as you did 👍

[2018-01-28 14:18] leonardo2204 commented on #853
Thank you so very much for helping me out!
It worked :)

[2018-01-28 14:18] #853 closed

[2018-01-28 14:34] iRoachie commented on #843
The issue with button was fixed(temporarily) as as a part of https://github.com/react-native-training/react-native-elements/commit/e0a4b6afda185c215fa9ad9fbfbc7f324c73cbbe#diff-a0a6368880417eca5ad26c484e9ded7aL131. Will be available in next beta release.

[2018-01-28 14:43] iRoachie commented on #686
Fixed in https://github.com/react-native-training/react-native-elements/pull/838/commits/ad05179753d834cab47f51823c08db5b1bc9398e. Available in next release.

[2018-01-28 14:51] iRoachie commented on #815
Closing as per https://github.com/react-native-training/react-native-elements/pull/816#issuecomment-359210663. If this is still a problem in v1 then ping me to reopen

[2018-01-28 14:51] #815 closed

[2018-01-28 14:53] iRoachie commented on #673
This is live! You can use the new `Button` by using the beta of rne.
`npm install --save react-native-elements@beta`

[2018-01-28 14:53] #673 closed

[2018-01-28 14:55] #536 closed

[2018-01-28 14:55] iRoachie commented on #585
Closing this an inactive.

[2018-01-28 14:55] #585 closed

[2018-01-28 15:15] jskidd3 opened #856 "Can't remove black border around input with style options"
![Screenshot](https://i.imgur.com/0cWRNA4.png)

[code]

I am trying to remove the black border surrounding the input. I have set `borderWidth` to `0` in both the `containerStyle` and `inputStyle` yet it is still showing.

Does anyone know how I can fix this?

My package.json:
[code]

[2018-01-28 15:18] iRoachie commented on #856
What version of `react-native-elements` are you using?

[2018-01-28 15:27] jskidd3 commented on #856
@iRoachie Apologies I should have included this. Have updated post with my `package.json`

[2018-01-28 15:34] iRoachie commented on #856
Is that your own View behind the SearchBar?

[2018-01-28 15:46] jskidd3 commented on #856
@iRoachie It is yes, I've updated and included the view with it's styles.

[2018-01-28 16:36] iRoachie commented on #856
Apparently `borderWidth` can't override `borderTopWidth` and `borderBottomWidth` defined here.
https://github.com/react-native-training/react-native-elements/blob/v0.19.0/src/input/Search.js#L165-L166

Instead change your `containerStyle` to:
[code]

[2018-01-28 16:51] jskidd3 commented on #856
@iRoachie Life saver, thanks so much.

[2018-01-28 16:51] #856 closed

[2018-01-28 18:49] Monte9 commented on #686
Much needed. Thanks.

[2018-01-28 19:07] xavier-villelegier commented on #826
Okay guys we ended up by doing [this](https://github.com/react-native-training/react-native-elements/pull/857/files). Basically you can still use `linearGradientProps` but you'll need to pass a `ButtonComponent` accordingly to your environment (Expo vs React Native).

The `v1.0.0-beta2` should be released in few hours.

[2018-01-28 19:08] Monte9 commented on #855
@repl-ullas-ml you should consider trying out our `v1.0.0-beta` update. We have made a lot of things simpler and much more intuitive to use. Plus things like `Input` have tons of production-ready functionality out of the box.

Checkout this for instance: https://github.com/react-native-training/react-native-elements#rne-ecosystem

As you can see, we already have pre-made login/sign up screens, so

[2018-01-28 19:08] #855 closed

[2018-01-28 20:24] Monte9 commented on #819
Thanks for putting together a Snack demo @LouisJS! 👍

Hope this helps you @ShaikhKabeer!

[2018-01-28 20:24] #819 closed

[2018-01-28 20:28] Monte9 commented on #812
@k3ithl1m this has been fixed in this PR: https://github.com/react-native-training/react-native-elements/pull/852 and will be release in `beta-2` today

[2018-01-28 20:33] Monte9 commented on #830
Thanks for reporting this issue @SupriyaKalghatgi!

I have opened this issue on the example repo so it can be fixed on that repo.

[2018-01-28 20:33] #830 closed

[2018-01-28 22:05] xavier-villelegier opened #861 "Use % in Input and SearchBars width"
We should be using percentages in `Input` and `SearchBar`s width to avoid this weird behavior

![simulator screen shot - ipad pro 10 5-inch - 2018-01-28 at 17 56 35](https://user-images.githubusercontent.com/17592779/35487774-a4cdae44-047f-11e8-9b07-aa44e27be7c1.png)

[2018-01-28 22:11] #713 closed

[2018-01-28 22:27] xavier-villelegier commented on #479
Hey guys, fixed in `v1.0.0-beta2`, just released 👍

[2018-01-28 22:27] #479 closed

[2018-01-28 22:28] xavier-villelegier commented on #686
Fixed in `v1.0.0-beta2` @iRoachie striked again 🚀

[2018-01-28 22:28] #686 closed

[2018-01-28 22:29] xavier-villelegier commented on #712
@mobiusnz This was fixed in `v1.0.0-beta2`, now live on npm 🎉

[2018-01-28 22:29] #712 closed

[2018-01-28 22:29] xavier-villelegier commented on #812
Thanks again for the proposal @raduflp, this is released in `v1.0.0-beta2` 👍

[2018-01-28 22:29] #812 closed

[2018-01-28 22:32] xavier-villelegier commented on #826
`v1.0.0-beta2` is now live on npm, have a look at the [release notes](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta2) ! There is now a `ViewComponent` props to pass your own LinearGradient component 🔥

[2018-01-28 22:32] #826 closed

[2018-01-28 22:32] xavier-villelegier commented on #841
Fixed in `v1.0.0-beta2`

[2018-01-28 22:32] #841 closed

[2018-01-28 22:33] xavier-villelegier commented on #842
Fixed in `v1.0.0-beta2` 👍

[2018-01-28 22:33] #842 closed

[2018-01-28 22:35] xavier-villelegier commented on #843
@hmontes `v1.0.0-beta2` was released with a functional `Button` for non-expo users. You should now be able to update to use the `Overlay` component ✌️

[2018-01-28 22:35] #843 closed

[2018-01-29 06:02] thenewt15 opened #863 "Can't change border color of stars in Rating component"
Is it possible to change the border color of the stars? The border is always orange, even if I change ratingColor.

Also, while we're here... Is it possible to add margin between each star in this component?

[2018-01-29 19:07] hilalh opened #868 "[1.0.0-beta] Button icons do not work: Objects are not valid as a React child (found: object with keys {name, type})"
Hello, I am having a problem with button icons, more specifically:
I have added a button, and later on tried adding an icon to the button as described in the docs
[code]
Unfortunately. the icon doesn't appear and instead I am getting this red screen:
![img_1691](https://user-images.githubusercontent.com/3894104/35528690-5926e95c-0537-11e8-92c3-76e092f4e6c8.PNG)

I am using: CRNA with "react-native

[2018-01-29 22:01] xavier-villelegier commented on #868
Hey @hilalh, the `Button` documentation is not updated yet, but will be soon.

You must pass a component to the `icon` props. You can use the `Icon` component from RNE for example, by doing this:

[code]

[2018-01-29 23:58] hilalh commented on #868
@xavier-villelegier
Thanks a lot that worked great!

[2018-01-30 00:18] #868 closed

[2018-01-30 02:37] Donhv opened #869 "Vertical orientation for ButtonGroup"
As tittle. Pls help me.

[2018-01-30 14:54] adriancuco opened #870 "How to extend the size of subtitle"
### Description

I'd like to have a subtitle longer. I tried subtitleContainerStyle and containertStyle but no lucky.

I appears that the subtitle goes until the middle of screen, and then jump to another line.

I'd like to have it longer, almost until rightTitle.

I am using List, ListItem,Avatar.
"react-native-elements": "^0.19.0"
"react": "16.0.0",
 "react-native": "0.51.0"

Thanks a lot

PD: B

[2018-01-30 15:06] xavier-villelegier commented on #870
Hey @adriancuco
The only way to do this for now is to do [like this snack](https://snack.expo.io/Hy2LFbRrz).

[code]

The `ListItem` should be refactored in the `v1.0.0`, it should be the default behaviour 👍

[2018-01-30 15:10] xavier-villelegier commented on #869
Just putting `containerStyle={{ flexDirection: 'column' }}` will give you a weird result, because the `ButtonGroup` doesn't support vertical orientation for now.

It could be a nice feature to have tho, I'll let that open if someone wants to take the lead on this.

[2018-01-30 15:21] adriancuco commented on #870
Hi Xavier,

Thanks a lot. I also realized that if I do not use the rightTitle, subtitle extends til the end. So I can wrap everything into the subtitle instead ;)
Regards

[2018-01-30 15:21] #870 closed

[2018-01-31 10:26] LouisJS commented on #863
Hi @thenewt15 ,

The actual Rating system is based on hardcoded Image. So by default, for the stars, you'll have [this frame](https://github.com/react-native-training/react-native-elements/blob/master/src/rating/images/star.png).

There is an option that allows to specify that image you can find on the [demo examples](https://react-native-training.github.io/react-native-elements/API/rating/)

Here

[2018-01-31 10:31] LouisJS commented on #863
And for the margin, again in the [demo examples](https://react-native-training.github.io/react-native-elements/API/rating/), you'll see that the `Bell` example has margin, while the star doesn't.

I guess it is also related to the image used (The Image for the [Star](https://github.com/react-native-training/react-native-elements/blob/master/src/rating/images/star.png) is different than the [Bell](

[2018-01-31 22:13] Oize opened #872 "Type prop for SocialIcon"
Is it possible to set icon type for SocialIcon?
You are currently using FontAwesome, but there are other fonts in react-native-vector-icons.
I would like to use Zocial, so now i have to kinda recreate your SocialIcon from scratch.

[2018-01-31 22:24] xavier-villelegier commented on #872
Hey @Oize, this is currently not possible, but this is an interesting feature to have though, I'll let this open as an enhancement.
We have other priorities for the `v1.0.0` betas for now (React Native Web support, theming…) but feel free to submit a PR 👍

[2018-01-31 22:45] Oize commented on #872
Ok, i was just wondering if it is acceptable because of different network icon names in different fonts and stuff like this.

[2018-02-01 02:01] zygama commented on #460
Hello,
sometimes (often) these days i have this error too, for some weird reasons if I press a lot of time the function associated to onPress is launched but not anytime :/

Here is how i call SocialIcon, my function associated to onPress is an arrow function:
`      <SocialIcon
        title = {
          this.state.userIsAlreadyConnected ?
          I18n.t('login.button_fb_logout') : I18n.t('log

[2018-02-01 08:41] xavier-villelegier commented on #872
Yea this can be a bit tricky to implement properly. Let's see if someone takes the lead on this, otherwise if it becomes inactive I'll close it.

[2018-02-01 10:13] Donhv opened #873 "How to make a button like demo"
Thanks for Lib!
I want custom button like demo but I can't find example. pls give me code to make button like:
![screen shot 2018-02-01 at 5 09 56 pm](https://user-images.githubusercontent.com/16864971/35673133-35b0722a-0773-11e8-8fe6-f68e36063f84.png)

[2018-02-01 10:21] xavier-villelegier commented on #873
Hey @Donhv ! You need to use the beta version of the`v1.0.0` (currently `beta2`) ✌️

[code]

**On Expo:**
[code]
**On React Native:**
You will need to install [`react-native-linear-gradient`](https://github.com/react-native-community/react-native-linear-gradient) package
[code]

Hope this helps

[2018-02-01 10:45] Donhv commented on #873
@xavier-villelegier  thanks u <3
but if I want color like : start('red') - mid('pink') - end('red') (start & end same color). how can I make?

[2018-02-01 10:54] xavier-villelegier commented on #873
@Donhv Have a look at [this snack](https://snack.expo.io/ryuTb_lUf). You can play with `start`, `end`, and `locations` (Have a look at the LinearGradient documentation for more details)

[2018-02-01 14:04] Donhv commented on #873
@xavier-villelegier when i use: `<Button
  text="SIGNUP"
  ViewComponent={require('react-native-linear-gradient').LinearGradient}
  linearGradientProps={{
    colors: ['#FF9800', '#F44336'],
    start: [1, 0],
    end: [0.2, 0],
  }}
/>`
App has crash.
When I change to:  start:1.0,
            end: 0.1
it is result:
![untitled](https://user-images.githubusercontent.com/16864971/35682474-69e69a9a-0

[2018-02-01 14:25] xavier-villelegier commented on #873
@Donhv The example I gave is exactly the one from the example app.

[code]

If this doesn't work, you didn't install `react-native-linear-gradient` or forgot to `react-native link`. Please follow [these instructions](https://github.com/react-native-community/react-native-linear-gradient). And if you're using Expo, just use `require('expo').LinearGradient`.

[2018-02-01 14:30] #873 closed

[2018-02-01 15:40] Monte9 commented on #863
You are right @LouisJS! That's an accurate and detailed explanation of how the images on React Native Ratings works! 👏

[2018-02-02 20:09] jstansbe opened #874 "Setup cross-platform (native and web) project with react-native web and tried using RNE produces error: module parse failed because of unexpected toke"
### Description

1. Setup cross-platform (native and web) project with react-native web and tried using RNE (v1.0.0 beta). I followed the instructions here (https://medium.com/@naqvitalha/react-native-web-setup-with-live-reload-on-both-at-the-same-time-657a99ac521a) and have the same folder structure, webpack.config.js, etc.
2. I was expecting to be able to simply use the RNE components and have t

[2018-02-02 20:11] jstansbe commented on #874
webpack.config.js (root of project)
[code]

package.json (root of web project)

[code]

[2018-02-03 02:44] davidhernandeze commented on #606
Hi, i need to call a component's function from the leftIcon onPress() event, how can i do that?

[2018-02-03 08:08] RoysyLee opened #875 "Can FormInput support ClearButton likes Search Bar's clearIcon?"
### Description

1. Explain what you did
- I wanna make a ClearButton in FormInput likes Search Bar's clearIcon

2. What you expected to happen
- clear All Text In FormInput

Is it possible???

Also please include the version of `react-native-elements` that you are using.
 v : 0.19.0

[2018-02-03 11:54] Punith13 commented on #843
I tried to load Overly with beta2, getting an error i.e Check the render method of 'proxiedMethod'

[2018-02-03 15:43] jskidd3 opened #876 "Button rendering incorrectly in v1.0.0-beta2"
`<Button />` is rendering as shown below regardless of any configuration in version `v1.0.0-beta2`.

![Image of button](https://i.imgur.com/rFLpu7p.png)

[2018-02-03 16:17] jskidd3 commented on #876
Didn't realise props had changed so much for beta version. Referring to source for guidance.

[2018-02-03 16:17] #876 closed

[2018-02-03 17:03] jskidd3 opened #877 "SearchBar missing functions"
`SearchBar` is missing methods (such as blur, clearText) in version `v1.0.0-beta2`.

![Screenshot](https://i.imgur.com/mGjQQc9.png)
![Screenshot2](https://i.imgur.com/hFRI7Jq.png)

Is there a way of working around this without having to revert to a previous version?

[2018-02-03 18:07] iRoachie commented on #877
This is a bug that we need to fix. The method on the default search bar is `clearText` but on the platform specific ones it’s called `clear`. We should change all to have the same method name.

[2018-02-03 18:11] iRoachie commented on #874
We don’t yet support react-native-web, although there’s an [open PR](https://github.com/react-native-training/react-native-elements/pull/867) to merge it in. It currently can’t work out of the box because we ship untranspiled JSX to npm.

[2018-02-03 20:01] jskidd3 commented on #877
We were hoping to push an update to our app tomorrow using the beta version to make use of the new `Overlay` component. Do you have any rough idea of how long it will take for this to be fixed? Will help in any way if I can.

[2018-02-04 03:06] iRoachie commented on #877
It probably won't be fixed by tomorrow. All PRs/Issues/Code changes are locked right now in preparation for the `react-native-web` addition, since making changes will create merge conflicts for it.

Right now if your are using `platform="ios"` or`platform="android`, you can use the `clear()` method. If using the default searchbar - `platform="default"` then use `clearText()`

[2018-02-04 12:18] hhunaid commented on #877
For now I ended up doing
[code]

This component has all the methods. Hope it points @jskidd3 in the right direction

[2018-02-04 12:53] iRoachie commented on #877
@hhunaid That's the same as doing:
[code]

[2018-02-04 12:54] iRoachie commented on #877
You really shouldn't point to direct files in a package. Often they can change while external api remains the same

[2018-02-04 13:00] hhunaid commented on #877
Its not the same in this case. SearchBar element doesn't have any functions exposed. And this is a temporary workaround until next beta, which will probably fix this.

[2018-02-04 14:17] iRoachie commented on #877
Ah I understand now. Gotcha

[2018-02-04 17:23] jskidd3 commented on #877
@xavier-villelegier No problem! Thanks for the advice.

[2018-02-04 20:47] Oize commented on #872
After diving a little into this i ended up with an Icon component with my own network-color map.
I also tried parsing type with regexps like that:
`if (/stack-?overflow/.test(type)) return '#f27f33';`
Works well, but imo we're losing the simplicity.

[2018-02-05 03:16] nahuelhds opened #879 "ListItem - Input text using the entire row"
### Description

1. I'd like to use the entire listitem row as an input text (like iOS does with the Reminder app when you add a new reminder)
2. Have a way to config ListItem to be used in such way
3. I only find text input functionality for rightTitle

Also please include the version of `react-native-elements` that you are using.
v0.18.5

[2018-02-05 04:33] nahuelhds commented on #879
I've finally made it by using the following:

[code]

And the result is:
![image](https://user-images.githubusercontent.com/1885647/35788543-81f4ff4a-0a14-11e8-956e-6bc792bfc6de.png)

[2018-02-05 04:33] #879 closed

[2018-02-05 12:35] otusweb opened #880 "How to set FormInput width"
### Description

I want to set the width of a text input, but can't seem to figure it out
I tried
[code]

It gives me a control of width 4 (2 times the border width)

Also tried
[code]
But the control goes full screen at this point

Also please include the version of `react-native-elements` that you are using.
react-native-elements@0.19.0

### Reproduction Steps and Sample Code

here is the whole

[2018-02-05 13:16] nandi-krisanu opened #881 "Can not use Overlay"
Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined

1. import { Button, Overlay } from 'react-native-elements'
2. Can use Button but When user Overlay it shows error.

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We high

[2018-02-05 13:18] iRoachie commented on #881
What version are you on?

[2018-02-05 15:41] jstansbe commented on #874
I was using v1.0.0 beta as I thought some repo contributors got it to work with react-native-web. Hoping to get the two functioning together for a POC at work. Any suggestions are appreciated.

[2018-02-05 16:45] benclum11 commented on #881
@nandi-krisanu `Overlay` is in 1.0.0-beta so if you're still on the stable release then it's not going to work.

[2018-02-06 04:24] mini-eggs opened #882 "create-react-app/react-native-web errors."
This is a precursor to a PR I'm planning to submit.

### Description

1. Explain what you did

Started a project with create-react-app. Installed react-native-web and react-native-elements.

2. What you expected to happen

To be able to use components within react-native-elements the same as I would within a project started with Expo.

3. What actually happens

I'm presented with a couple errors.

[2018-02-06 04:26] iRoachie commented on #882
Did you look at the PR we already have open for react-native-web support? https://github.com/react-native-training/react-native-elements/pull/867.

[2018-02-06 04:27] mini-eggs commented on #882
@iRoachie oh wow! Missed, never mind closing this.

[2018-02-06 04:27] #882 closed

[2018-02-06 07:12] ranvirgorai opened #883 "How to put Top Icon in Button"
### Description

1. Explain what you did
   Trying to use button where icon on top then, label should be on bottom used \n on label
2. What you expected to happen
    label test should be on the bottom
3. What actually happens
    but it is not coming on center

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We highly recomme

[2018-02-06 09:00] xavier-villelegier commented on #883
@ranvirgorai Is [this](https://snack.expo.io/rycjAkvUf) what you're trying to do ?

[2018-02-06 09:56] gorvinsky commented on #649
Still having this issue and only happen when connected to Chrome debugger.

[2018-02-06 11:19] rendy14s commented on #603
hai @iRoachie

I have been see this https://snack.expo.io/ryL_6-DIG  or in your ( https://snack.expo.io/ryQrlh54G )
and implemented in my project is work 100% awesome, thanks.. 👍

But i have problem this. how can i set checkbox is default `checked={true}` so the checkbox is default is true, the checkbox any have pict "cheklist" if true default. where the put value is true is value default its. in

[2018-02-06 12:41] nandi-krisanu commented on #881
I am using:
[code]

[2018-02-06 12:43] nandi-krisanu commented on #881
Also , react native elements version shows in package.json as

`    "react-native-elements": "^0.19.0"`

[2018-02-06 12:58] iRoachie commented on #881
As @benclum11 said, the `Overlay` component is only available in the beta version so you won't be able to use it in `0.19.0`. To be able to use the `Overlay`, install the beta instead.

**npm**
`npm install --save react-native-elements@beta`

**yarn**
`yarn add react-native-elements@beta`

[2018-02-06 12:59] iRoachie commented on #603
Hey @rendy14s, could you explain a little more? I'm still a bit confused about what you're trying to achieve.

[2018-02-06 14:13] rendy14s commented on #603
Hai @iRoachie

The checkbox value of checked is false. So First page load, the checkbox is uncheked.

How can its set the value is true? So the first page load condition of checkbox is checked/checklist.

[2018-02-06 14:18] iRoachie commented on #603
@rendy14s For it to be default true, just have it in the state array. https://snack.expo.io/H1L0d4DLz. In this example 'chickenwww' and 'rice' are initially checked

[2018-02-06 14:20] rendy14s commented on #603
Hai @iRoachie

Oohhh i see..
Let me try.

Thanks before (:

[2018-02-06 16:18] api182 commented on #883
@xavier-villelegier

I too am after this, I've checked your snack example out but I see that the icon is small and slightly off-center to the left?

Is there the ability to add icon styling like being able to specify the size of the icon and setting margin around it etc..?

Then for some reason when using it in my app, the icon doesn't show..?

`import { Icon, Button } from 'react-native-elements'

[2018-02-06 16:48] alvarogonjim opened #884 "BorderRadius is not working on Image of the Card"
### Description

I create a Card with a Image. I wanted to apply a borderRadius in the image (the image will be cropped with that borderRadius). The border is applied (you can see it with the color) but the image is not cropped as you can see in this picture. I tried to change the resizeMode and include the Card component inside of a View component with the BorderRadius also, but it doesn't work.

[2018-02-06 17:38] xavier-villelegier commented on #883
@api182 My snack is using the new `Button` component from RNE `1.0.0-beta`. You can get it by doing
[code]

The icon shouldn't be off-centered with this one.

[2018-02-06 18:22] hariprasadiit commented on #277
I'm seeing this issue with `v1.0.0-beta2`. tested it on iphone 5 emulator.

[2018-02-07 08:56] operate2v opened #885 "I'm having trouble adjusting the searchBar height"
<img width="361" alt="2018-02-07_17-49-44" src="https://user-images.githubusercontent.com/17904967/35906908-9b2f3418-0c2f-11e8-9a82-da2f70d80e00.png">

I need to reduce the height of searchBar.
However, you can not adjust the position of the icons and letters.
only android.
Do you have props for change?

platform         : android
RN-ver           : 0.52.0
rn-elements  : ^0.19.0
android-ver   : ap

[2018-02-07 08:57] xavier-villelegier commented on #884
Hey @alvarogonjim 🤙
The radius on a `Image` is always a bit tricky, there are a lot of issues about that on React Native. The best thing you can do is using `overflow: hidden` to hide the corners of the `Image` behind the radius of the container. Have a look at [this example](https://snack.expo.io/rJX-kHdIz)

[2018-02-07 13:11] otusweb commented on #880
I found the solution, documenting here for others who might come by:
In the InputStyle  prop, set width to the value you want. Also think to set the containerStyle width.

[2018-02-07 13:11] #880 closed

[2018-02-07 13:39] alvarogonjim commented on #884
Xavier you are a Pro!! it works perfectly. Thanks for your help.

[2018-02-07 15:25] RijaAdrian commented on #620
It doenst resolve my issue, I got the same and then I installed @expo/vector-icons BUT IT ASK ME TO INSTALL EXPO. I had create my project using react-native cli

[2018-02-07 17:25] mateen-hussain commented on #868
@xavier-villelegier when is the new documentation about to be uploaded. My button is all messed up and needs styling

[2018-02-07 18:22] xavier-villelegier commented on #868
@mateen-hussain We're going to do a doc release for the `Button` and the `Input` components today, I'll let you know

[2018-02-07 21:03] Jokerchris2000 opened #887 "Buttons don't show the given title"
### Description

1. Explain what you did
Updated from RNE from to 1.0.0beta 2 to get the Overlay support but that broke my Button implementation.

2. What you expected to happen
Work as expected and show the given title like in the last stable version

3. What actually happens
Buttons now only show "Welcome to React Native Elements" as the title and don't use the specified title. Behavior can be s

[2018-02-07 21:42] iRoachie commented on #887
Hey! The `title` prop is now called `text`. Sorry about the confusion, we should be updating the docs later today

[2018-02-07 22:37] sw-yx commented on #620
I think this issue Is no longer helpful. I suggest we lock it and have people submit more descriptive error messages.

[2018-02-07 22:47] iRoachie commented on #620
For any further questions please submit a new issue. Thanks!

[2018-02-07 22:56] iRoachie commented on #811
Was fixed in https://github.com/react-native-training/react-native-elements/pull/851 and released in [v1.0.0-beta2](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta2)

[2018-02-07 22:56] #811 closed

[2018-02-07 22:57] iRoachie commented on #776
Closing as non-actionable. Feel free to add suggestions.

[2018-02-07 22:57] #776 closed

[2018-02-07 22:59] iRoachie commented on #803
Closing as inactive

[2018-02-07 22:59] #803 closed

[2018-02-07 23:01] iRoachie commented on #537
When @xavier-villelegier updates the default searchbar this should be fixed. Will leave It open till then

[2018-02-07 23:03] iRoachie commented on #775
cc @xavier-villelegier @Monte9 What do you guys think about this? Not sure if people refer to docs through node_modules

[2018-02-07 23:06] iRoachie commented on #868
Docs released https://react-native-training.github.io/react-native-elements/API/buttons/ @mateen-hussain

[2018-02-07 23:06] #884 closed

[2018-02-07 23:08] iRoachie commented on #885
This is really a duplicate of https://github.com/react-native-training/react-native-elements/issues/537. This will be fixed when the input component used for the searchbar is switched out for the new v1 input

[2018-02-07 23:08] #885 closed

[2018-02-07 23:09] iRoachie commented on #887
Docs updated! https://react-native-training.github.io/react-native-elements/API/buttons/

[2018-02-07 23:10] iRoachie commented on #877
Fixes for this made in https://github.com/react-native-training/react-native-elements/pull/878. I'd leave this open until it's merged in

[2018-02-08 04:52] saladj commented on #722
@lijunle ListView is not used here. The List component is a just a View with some styling see: https://github.com/react-native-training/react-native-elements/tree/master/src/list

[2018-02-08 06:38] Jokerchris2000 commented on #887
Thank you for the quick response and the solution for the issue!

[2018-02-08 06:38] #887 closed

[2018-02-08 08:57] xavier-villelegier commented on #875
Hey @RoysyLee, all props you pass to the `Input` of RNE will be spreaded to the `TextInput` of React Native. Therefore, you can use the `clearButtonMode` props, have a look at the [official documentation](https://facebook.github.io/react-native/docs/textinput.html#clearbuttonmode)

[2018-02-08 09:14] ginsev opened #888 "Allow custom icon as react component for Checkbox"
### Description
Cannot use custom icon component into Checkbox component

[2018-02-08 10:11] LouisJS opened #889 "[1.0.0-beta2] Input with Icon"
### Description

I'd like to implement an Input with an Icon.
https://snack.expo.io/SynHZsKUz

### Issue

No Icon is shown. Seems like it was working in `1.0.0-beta`
A complete review of the Input feature would be useful.

[2018-02-08 10:14] xavier-villelegier commented on #889
Hey @LouisJS, in the `beta2` we introduced `leftIcon` and `rightIcon`.

[code]

[2018-02-08 10:22] LouisJS commented on #889
Alright ! Thanks.
Although i don't know how i would've been able to find this informations by myself as it isn't mentioned in the actual docs or in the native-elements-app on Expo.

Problem solved !

[2018-02-08 10:30] xavier-villelegier commented on #889
It is specified in the docs [here](https://react-native-training.github.io/react-native-elements/API/input/#input-props) 👍  We did a doc release yesterday but we forgot to update the examples (cc @iRoachie). It is still a beta, the documentation should be much more better for the official release, hope you understand !

[2018-02-08 10:30] #889 closed

[2018-02-08 10:33] LouisJS commented on #889
Ok ! Great ! Happy that this issue was a little helpful then 😄

Also, something i've noticed by using the library.
Most of the time, components comes with default styling, and i've found no other solution than going into the code to see what those default styling are.

In your opinion, do you think that would be possible to explicit them in the doc in an elegant way ?

[2018-02-08 10:44] xavier-villelegier commented on #889
Yea I agree that for now, the only way to fully understand the components is to check the code. On one hand, it is always good to check how the components you use work. But on the other hand, a library like RNE should be more explicit and more plug&play.

There is still a lot of work on the documentation, we're currently discussing about this and we're open to any suggestion.

The styling should b

[2018-02-08 10:56] iRoachie commented on #888
What would be an example of a custom icon component?

[2018-02-08 10:57] RijaAdrian opened #890 "Unable to resolve module `expo` from `D:\Project\IOtunes\node_modules\@expo\vector-icons`"
Someone could explain why does react-natives elements require to have expo/vector-icons in the modules map ?
I build my react application with react-native cli, so I didnt expect this issues.

Even installing it I find an error asking to install expo, which is not good because I do not use the software expo

It's been a week since I was stuck on it without really knowing why this error persists.

[2018-02-08 11:04] iRoachie commented on #890
What version of react-native-elements are you using?

[2018-02-08 11:06] RijaAdrian commented on #890
Hi here is my dependencies:
![issues](https://user-images.githubusercontent.com/17961600/35969851-45e52b7a-0cd9-11e8-8427-5493363baba3.PNG)

[2018-02-08 12:07] xavier-villelegier commented on #890
@RijaAdrian Have a look at [this comment](https://github.com/react-native-training/react-native-elements/issues/620#issuecomment-355530210)

[2018-02-08 17:37] mateen-hussain opened #892 "Add a `label` feature to the v1 `Input`"
### Description
I'm playing with FormLabel and FormINput and this is what I have:
[code]
The above code renders to below error
<img width="276" alt="screen shot 2018-02-08 at 17 34 37" src="https://user-images.githubusercontent.com/26531653/35988500-7170854c-0cf6-11e8-9108-3b5888cd4a0d.png">

When I replace FormLabel, FormInput and replace with <Text> then I see the text message.

My package.json

[2018-02-08 20:34] kristofferkarlsson93 commented on #892
I have the same issue

[2018-02-08 21:56] xavier-villelegier commented on #892
`FormInput` was replaced by the new refactored `Input` by @Monte9, and `FormLabel` was removed since the `v1.0.0-beta1`, as it is basically just a text with a styling. We're trying to focus on a modular `Input` than multiple form components, but we're open to suggestion about that 👍

[2018-02-09 04:10] Jonovono opened #893 "Re-add `disabled` and `disabledStyle` for Button"
I noticed awhile back there was a PR to give functionality to the Button to disable them and pass in the disabled style. Looking in `src/buttons/Button.js` it seems that it's not there anymore. Am I crazy?!

[2018-02-09 08:52] RijaAdrian commented on #890
Yes but got the same issues :(

[2018-02-09 08:53] RijaAdrian commented on #890
![expo](https://user-images.githubusercontent.com/17961600/36019301-defaef78-0d8f-11e8-809b-dc3e83b1d0b1.PNG)

[2018-02-09 08:56] xavier-villelegier commented on #893
@Jonovono Haha you're not crazy, the code you saw is the refactored `Button` from `v1.0.0-beta2`. The one you're looking for is still available in `v0.19.0`

[2018-02-09 11:18] iRoachie commented on #893
We really should add this back in.

[2018-02-09 12:09] Mehran-Abghari opened #894 "RTL languages"
Hello, first i should thank you to creating this great library.

I'm developing an multi language application with react native, I'm using FormInput from react-native-elements.

ReactNative version -> "react-native-elements": "^0.19.0"
ReactNativeElements version -> "react": "16.2.0", "react-native": "0.52.2",
LocaleHelper -> "react-native-i18n": "^2.0.12"
FormContoller -> "foect": "^0.1.5"

I hav

[2018-02-09 12:23] xavier-villelegier commented on #894
Hey @Mehran-Abghari 👋

What if you add `inputStyle={{ width: '100%' }}` ?

[2018-02-09 12:47] Mehran-Abghari commented on #894
Thank you very much @xavier-villelegier

`inputStyle={{ width: '100%' }}` solve the problem.

[2018-02-09 12:47] #894 closed

[2018-02-09 13:15] shubham2385 commented on #130
how can i give height and width

[2018-02-09 18:27] LouisJS commented on #872
I don't understand the point of using SocialIcon when you can implement the same thing with the Icon Component such as :

`<Icon
  name='sc-telegram'
  type='evilicon'
  color='#517fa4'
/>`

Am i missing something ?

[2018-02-09 18:38] LouisJS commented on #872
You can still do this by using the `Icon` Component
Such as `<Icon raised reverse name='instagram' type='font-awesome' color='#517fa4' />`

which supports `type (defaults to material, options are material-community, zocial, font-awesome, octicon, ionicon, foundation, evilicon, simple-line-icon, feather or entypo`

So @Oize, you can use this for now
@xavier-villelegier You could implement SocialIco

[2018-02-09 20:03] iRoachie commented on #130
Hey @shubham2385 please create a new issue!

[2018-02-09 20:05] iRoachie commented on #892
This is actually a great idea. This is how I make my custom inputs for react on the web. Would definitely appreciate I you could make a PR for this.

[2018-02-09 23:36] Oize commented on #872
@LouisJS yes, i can, just wanted to use more specific component with such an expressive name if it exists.
But currently `SocialIcon` looks way too specific to be usable.

[2018-02-10 15:27] Lawris opened #897 "Dynamically modify the Slider value"
### Description

1. Explain what you did : Tried to update the Slider value.
2. What you expected to happen : Expected the Slider thumb to move accordingly.
3. What actually happens : The slider thumb does not move since the `value` property is just the initial value of the Slider.

Version :  `react-native-elements@0.19.0`

### Reproduction Steps and Sample Code

The app I am creating is websocke

[2018-02-10 15:41] xavier-villelegier commented on #897
Hey @Lawris !
The `value` props of the `Slider` hasn't anything special for preventing it to be updated if this changes. I made a [snack example](https://snack.expo.io/HkmfGc3UG) with two sliders using the same state, and you can see that they are both synchronised 🤔

[2018-02-10 15:53] Lawris commented on #897
Hello @xavier-villelegier !

Removing the Throttle component above the Slider did the trick :
`<Throttle time="100" handler="onValueChange">`

But I don't know why it would stop the Slider from getting updated...

However, Thanks for your precious help !
Greetings from Corsica 😃

[2018-02-10 15:56] xavier-villelegier commented on #897
Oh okay nice ! I didn't know that a `Throttle` component exists haha, that's cool !
Greetings from Paris 👋🇫🇷

[2018-02-10 15:56] #897 closed

[2018-02-12 02:40] pstanton opened #898 "Button won't display embedded Icon"
### Description

1. Explain what you did

I'm trying to embed an Icon within a Button as per the documentation
[code]
2. What you expected to happen
I'm trying to make a button with an embedded icon, I'm putting an Icon next to it to prove the Icon works stand-alone.
 [(Home)] (Home)
3. What actually happens
The button displays as a blank grey box (no icon)
[grey-bg] (Home)

Also please include th

[2018-02-12 06:37] bkazula commented on #898
I've just encountered the same problem. Use object in `icon` prop, eg.
[code]

[2018-02-12 08:28] k3ithl1m commented on #893
Can I take on this issue?

[2018-02-12 08:33] k3ithl1m commented on #888
Would it be something like replacing the checkbox with something like [this](https://www.flaticon.com/free-icon/success_149148#term=checkbox&page=1&position=3)

[2018-02-12 10:54] iRoachie commented on #893
Sure thing! Be sure to check how it was done previously.

These things should happen:
* User should be able to set a button as disabled
* User should be able to customize how the button looks when disabled
* No events should be able to be fired on a disabled button

[2018-02-12 10:59] iRoachie commented on #888
That’s an image. The checkbox uses react-native-vector-icons under the hood to provide the icon using the icon fonts from that package.

You can already customize it by passing in `checkedIcon` and `uncheckedIcon` props

[2018-02-12 13:53] JuarezLopesJr opened #899 "Button won't show text"
### Description

1. Explain what you did
I'm trying to put a simple label in the button using text prop
2. What you expected to happen
The button name appear in the button
3. What actually happens
it renders only the blank rounded button
Also please include the version of `react-native-elements` that you are using.
"expo": "^25.0.0",
    "firebase": "^4.9.1",
    "react": "16.2.0",
    "react-nati

[2018-02-12 15:13] LouisJS commented on #899
Use `title` instead of `text`.
The actual documentation for `Button` component is accurate for the version `1.0.0-betaX`

[2018-02-12 15:15] LouisJS commented on #898
Coud you provide a snack example ? (https://snack.expo.io/)

[2018-02-12 16:53] k3ithl1m commented on #893
alright! If you dont mind, give me a few days to work on this.
Should i approach this by downloading the module for v0.19.0, and then look at the code and implement it to the newest one?

[2018-02-12 16:56] iRoachie commented on #893
Sure thing, here's the link to the file on v0.19.0 https://github.com/react-native-training/react-native-elements/blob/v0.19.0/src/buttons/Button.js

[2018-02-12 17:12] kanteankit commented on #481
@Monte9  Hi I am using react-native-elements ^1.0.0-beta2 and I am facing this problem with Button element. Even after building the app using 'exp build:android' and creating an apk of the app, this issue persists. The onPress event is fired after a long delay.
The remote JS debugging thing that @mnlbox is also happening.

[2018-02-12 17:17] JuarezLopesJr commented on #899
@LouisJS Thank you! It worked perfectly

[2018-02-12 17:18] #899 closed

[2018-02-12 20:10] pstanton commented on #898
sorry Louis, no time, the workaround works and snack is not my target environment.

[2018-02-12 21:35] xavier-villelegier commented on #898
Hey @pstanton @bkazula, the documentation is for **the v1.0.0-beta2**.

Please check your RNE version, and according to your version, use:

**>= v1.0.0-beta**
[code]

**<= v0.19.0**
[code]

[2018-02-12 21:42] pstanton commented on #898
wow, that's misleading! thanks.

[2018-02-12 21:42] pstanton commented on #898
where's the doc for the latest release version?

[2018-02-12 21:44] iRoachie commented on #898
Here! https://react-native-training.github.io/react-native-elements/API/buttons/#button-props

[2018-02-12 21:44] xavier-villelegier commented on #898
Yea I agree. The doc for the last release is [here](https://react-native-training.github.io/react-native-elements/) as you saw it, but the only way to check for old documentation is to check the `docs` directory of the `v0.19.0` release, you can find it [here](https://github.com/react-native-training/react-native-elements/tree/v0.19.0/docs)

[2018-02-12 21:48] pstanton commented on #898
but that is a beta release, ie not the latest "stable" release. I was assuming the official doc would be for the latest stable release.

either my assumption is misguided (i thought not) or its misleading to make the official documentation for a non-stable release... ?

not my problem - now I understand, but will it confuse more people?

[2018-02-12 21:58] xavier-villelegier commented on #898
@pstanton Yep, this is true. You're not the first one to say that. @iRoachie is currently looking for a new documentation system (like docusarus) that would allow us to have versioned documentation. Thanks for your feedbacks ! 👍

[2018-02-12 21:58] #898 closed

[2018-02-12 22:54] pstanton opened #901 "icon in button is not centered"
v0.19.0

**1. Explain what you did**

[code]

**2. What you expected to happen**

According to the docs, without text the button should display centered.

https://github.com/react-native-training/react-native-elements/blob/v0.19.0/docs/API/buttons.md

"leftIcon or icon"
"displays a centered icon (when no text) or to the left (with text). (can be used along with rightIcon as well)"

**3. What actua

[2018-02-13 02:20] Kdoherty11 commented on #875
@xavier-villelegier I'm also having an issue getting the clear button to show up. If I replace `<FormInput clearButtonMode='always' />` with `<TextInput clearButtonMode='always' />` I see the button. Otherwise, nothing is there. I'm using react-native-elements: 0.19.0 and RN: 0.53.0.

[2018-02-13 05:43] iRoachie commented on #901
Hey there!

When the `icon` prop is passed in, it's automatically set to `leftIcon` as you can see [here](https://github.com/react-native-training/react-native-elements/blob/v0.19.0/src/buttons/Button.js#L64-L65).

The icon has a default style of `{{ marginRight: 10 }}` defined [here](https://github.com/react-native-training/react-native-elements/blob/v0.19.0/src/buttons/Button.js#L285).

However

[2018-02-13 08:18] xavier-villelegier commented on #875
@Kdoherty11k,

If you're using `v0.19.0`
[code]

If you're using `v1.0.0-beta2`
[code]

The `Input` was refactored and reworked for the `v1.0.0`, you don't need workaround like setting the `inputStyle` anymore 👍

[2018-02-13 10:51] LouisJS opened #903 "[QUESTION] Icon - Linear Gradient"
**Question**

 Is is possible to use a Linear Gradient for an Icon Color ?
 Such as :
 `<Icon raised reverse name='instagram' type='material-community' color='#f57d21' />`

Using :  `"react-native-elements": "^1.0.0-beta2"`

[2018-02-13 13:06] LouisJS commented on #903
Well i'll just use this : https://docs.expo.io/versions/latest/sdk/linear-gradient.html
coupled with an Icon.

[2018-02-13 13:06] #903 closed

[2018-02-13 15:30] adriancuco opened #904 "Searchbar, cannot find folder"
Hi,

Where's searchbar folder?

Thx

[2018-02-13 15:33] xavier-villelegier commented on #904
@adriancuco In `src/searchbar` -> [here](https://github.com/react-native-training/react-native-elements/tree/master/src/searchbar)

[2018-02-13 15:33] adriancuco opened #905 "Searchbar, left icon ni change to arrow when focus, and onCancel does not work either"
### Description
Android, Searchbar, left icon no change to arrow when focus, and onCancel does not work either

Thx a lot

[2018-02-13 15:46] xavier-villelegier commented on #905
Hey @adriancuco , could you give an example ? It works fine on [this one](https://snack.expo.io/BJRQuKewf)

[2018-02-13 16:22] adriancuco commented on #904
Not in my install folder. ;(
At least weird!!!

Sent from my iPhone

On 13 Feb 2018, at 16:33, Xavier Villelégier <notifications@github.com<mailto:notifications@github.com>> wrote:

@adriancuco<https://github.com/adriancuco> In src/searchbar -> here<https://github.com/react-native-training/react-native-elements/tree/master/src/searchbar>

—
You are receiving this because you were mentioned.
Reply

[2018-02-13 16:26] adriancuco commented on #905
Maybe it has to do with the other issue, where not found searchbar folder. It works but not completed.
I do know know. I tried an easy example like yours and still not working: no back icon and no onCancel call.

Thx

Sent from my iPhone

On 13 Feb 2018, at 16:46, Xavier Villelégier <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @adriancuco<https://github.com/adriancuco> ,

[2018-02-13 17:15] xavier-villelegier commented on #904
This was introduced in the beta
[code]

[2018-02-13 21:45] kanteankit opened #907 "Button loading icon shows after 15 seconds (using RNE@1.0.0-beta2)"
### Description

1. Explain what you did
I am creating a simple login form,which has a submit button. I am using the `Button` element from react-native-elements. When I tap on the button, the onPress event handler is fired immediately. But,after a delay of about 15 seconds, the loading icon shows up.

2. What you expected to happen
It was expected that the loading icon be visible immediately

3. W

[2018-02-14 09:15] xavier-villelegier commented on #907
Hey @kanteankit 👋

I see that you also commented [here](https://github.com/react-native-training/react-native-elements/issues/481#issuecomment-364993103). These two issues might be related.

These issues are complicated because it depends on a lot of things: the environment (simulator, phone…), the perf of your device, your code (what are you doing in the background, is it optimized…). Most of the

[2018-02-14 13:18] priezz commented on #877
Same problem for `getRef()` function. It is very handy to get the input ref in order to change the text from the outside.

[2018-02-14 15:16] Monte9 commented on #843
@Punith13 can you share a code snippet that you have? Also can you please try to recreate it with a snack demo? This will help us resolve the problem faster.

[2018-02-14 15:21] adriancuco opened #908 "searchbar with autoFocus works ;)"
Hi,

I wanted to get autoFocus when showed the searchBar so I added  autoFocus={true} , and it works.
I guess the TextInput inherits the parameter.

FYI

Regards

[2018-02-14 15:23] Monte9 commented on #277
Yes, the ListItem is yet to be updated for out v1.0 release. We have a working ListItem, we just need to merge the PR and release it soon. Please keep an eye on the upcoming releases.

[2018-02-14 15:29] Monte9 commented on #775
Hmm.. I am not too concerned about it. We no longer have an example app in this repo and the docs are just `.md` files so it shouldn't be too big.

@kbrandwijk are there any specific things you had in mind that would benefit from a reduced package size?

[2018-02-14 15:31] adriancuco commented on #904
Hi Xavier,

It works like a charm. Really appreciate it.

BTW, I've just dropped and autoFocus feature found in the searchBar. ;)

Thx

Regards

________________________________
De: Xavier Villelégier <notifications@github.com>
Enviado: martes, 13 de febrero de 2018 17:16
Para: react-native-training/react-native-elements
Cc: adriancuco; Mention
Asunto: Re: [react-native-training/react-native-eleme

[2018-02-14 15:33] #904 closed

[2018-02-14 15:33] #908 closed

[2018-02-14 15:33] #905 closed

[2018-02-14 15:41] Monte9 commented on #481
Hey @kanteankit! Can you please open a new issue for it. Thanks

[2018-02-14 16:35] kanteankit commented on #481
Hi @Monte9 Already created it. #907

[2018-02-15 10:17] ridgekimani commented on #536
@joannaKasinska I don't know if you solved the issue but I realized that the issue is with `mocha` itself. I don't know how @henriqueViana got it to work but if it did, trying to install other `react-native` packages would result to errors. This is because, ideally most packages are `linked` to native code but mocha runs the tests like it's on a browser interface. However, if you use `jest`, it do

[2018-02-15 14:09] ginsev commented on #888
For `checkedIcon` and `uncheckedIcon` I would want to pass not just string but React Native Component.

[2018-02-15 14:13] iRoachie commented on #888
Ah I understand now. That makes sense. Alright, sounds like a good feature to have.

[2018-02-15 15:24] ginsev opened #911 "How to stretch button on iOS (v1.0.0-beta2)?"

[2018-02-15 15:34] xavier-villelegier commented on #911
@ginsev Is this what you're trying to do ?

![img_2b4051e2bcc1-1](https://user-images.githubusercontent.com/17592779/36264769-f26b1c4e-126d-11e8-9fe7-9222880f8c4f.jpeg)

Have a look at this [snack example](https://snack.expo.io/BJD4_QmDz) ✌️

[2018-02-15 15:56] ginsev commented on #911
Yes. `buttonStyle={alignSelf: 'stretch'}` works on android but not iOS.

[2018-02-15 16:15] ginsev commented on #911
Thank you. It worked.

[2018-02-15 16:46] #911 closed

[2018-02-15 17:24] k3ithl1m commented on #869
I'm interested in taking a lead on this.

[2018-02-15 21:50] iRoachie commented on #869
Go for it!

[2018-02-16 00:06] Rah1x commented on #899
Cant believe it its not documented!! what a waste of an hour figuring out this.

[2018-02-16 01:28] Rah1x opened #912 "Invariant Violation: element Type is invalid"
i upgraded to beta version and now anyuse of `react-native-elements` leads to the error:

![image](https://user-images.githubusercontent.com/841857/36289594-d6422e70-1314-11e8-8d4b-18f05b95f55c.png)

[2018-02-16 10:06] k3ithl1m commented on #869
Would it look like this? Would it be like.
1. Adding a bool prop to determine whether it is vertical or not.
2. If it is, then flexDirection: 'column'.
3. Are there other more specific details that I should consider?
<img width="118" alt="screen shot 2018-02-16 at 5 04 35 am" src="https://user-images.githubusercontent.com/14284173/36302564-ecbc3dfa-12d6-11e8-9f31-127e50037476.png">

[2018-02-16 13:17] Talkwondo opened #913 "Setting Icon size make an error"
Hello,
When I want to make an icon size which is shown in the docs as a prop of the component <Icon>
I am getting an error:

<img width="310" alt="screen shot 2018-02-16 at 15 17 38" src="https://user-images.githubusercontent.com/20122139/36309249-90157d4a-132c-11e8-92fd-ef5342d6629d.png">

Please someone assist me.

Thanks,

Tal

[2018-02-16 13:24] iRoachie commented on #913
What code did you use?

[2018-02-16 13:25] iRoachie commented on #869
Will need @Donhv to confirm, but it seems like that's it

[2018-02-16 13:25] Talkwondo commented on #913
<Icon name={rowData.icon} size="40" type='font-awesome' color='green' />

[2018-02-16 13:25] Talkwondo commented on #913
this:<Icon name={rowData.icon} size="40" type='font-awesome' color='green' />

[2018-02-16 13:25] Talkwondo commented on #913
i am using font awsome                 <Icon name={rowData.icon} size="40" type='font-awesome' color='green' />

[2018-02-16 13:26] iRoachie commented on #913
No I mean what does your code look like that produced this error

[2018-02-16 14:25] Talkwondo commented on #913
<Icon size='40' type='font-awesome' color='green' name={rowData.name}

[2018-02-16 14:25] Talkwondo commented on #913
with closing tag

[2018-02-16 14:38] iRoachie commented on #913
The size prop takes in a **number** not a string.
[code]

[2018-02-16 17:20] LouisJS commented on #912
There's breaking change. So if try to identify which component causes the issue and update it.

[2018-02-16 18:35] MeKyleH opened #914 "SectionList Feature Implementation"
Hi, are there plans to implement a sectionList in react-native-elements?

It would be really great to be able to divide the lists and have them beautifully styled.

[2018-02-16 18:48] xavier-villelegier commented on #914
Hey @MeKyleH ! 👋This is not planned and not a priority for now, since the `SectionList` of react native does the job really well ! Moreover, the `ListItem` can be used pretty easily in a `SectionList`, and the result is quite nice. I advise you to check #777 where I posted [this snack example](https://snack.expo.io/B1pcavgMG), you can see that you can already achieve pretty solid stuff with the `S

[2018-02-16 20:05] Talkwondo commented on #913
Thanks...

[2018-02-16 20:05] #913 closed

[2018-02-16 22:26] MeKyleH commented on #914
I had to do some finagling to get the data formatted correctly, but the RN SectionList worked great! Thanks for the reference to that good snack!

[2018-02-16 22:26] #914 closed

[2018-02-18 09:28] FakhruddinAbdi opened #917 "Type number for Inputs"
### Description

I need to have type number to `Input` element so it will show numeric keyboard on touch the input

Version: 1.0.0-beta

Is it possible..?
Thanks

[2018-02-18 16:45] xavier-villelegier commented on #917
Hey @FakhruddinAbdi, any props you pass to the `Input` will be passed to the `TextInput` of React Native. Considering that, you can use the [`keyboardType`](https://facebook.github.io/react-native/docs/textinput.html#keyboardtype). props of the `TextInput`.

[code]

[2018-02-19 01:43] ocalvet commented on #912
I'm having the same issue when I try to add a FormLabel inside a Card component
[code]

[2018-02-19 01:47] Rah1x commented on #912
I found the reason being the upgrade. A lot has changed in the upgrade but the documentation is listing both old and new versions. So there is no `formlabel` anymore for example. Similarly, Input field now has a icon builtin (which Ive spend like 2 day to get a perfect looking `view` with icon and a field together with previous version).. all in all, total time waste

[2018-02-19 06:03] FakhruddinAbdi commented on #917
Thanks @xavier-villelegier ...
`keyboardType = 'numeric'` solved my problem

[2018-02-19 06:03] #917 closed

[2018-02-19 07:51] milon87 commented on #640
headerRight:
            <TouchableOpacity  onPress={() => navigation.navigate("DrawerOpen")}>
                <Icon
                    containerStyle={{paddingRight: 16}}
                    name="filter-list"
                    size={30}
                    color="white"/>
            </TouchableOpacity>,

[2018-02-19 12:43] iRoachie commented on #912
@Rah1x Thanks for bringing this up. Totally agree that the documentation is confusing, and we apologize for that. We got a little too excited with the beta and forgot about keeping documentation live for 0.19.0. I'm just about finished a PR for a new docs site that will be able to toggle between versions. Since you're so passionate about docs, I'd love to get your opinion on it.

The instructions

[2018-02-20 02:54] meganlwood opened #918 "Allow title for `Card` to be a React Component"
Is there a way to change the Title at the top of a Card to be a TextInput?

[2018-02-20 06:23] nmerchant commented on #460
Can confirm this is happening only when `Debug JS Remotely` is enabled.  Disabling it and the function gets called without issue.

[2018-02-20 09:23] xavier-villelegier commented on #918
Hey @meganlwood, not for now ! But I'll let this opened as a possible enhancement

[2018-02-20 10:01] npwt commented on #578
Is there a 'rounded' prop?

[2018-02-21 00:06] hakuj commented on #349
@nonameolsson your code worked absolutely fine..thanks you

[2018-02-21 03:55] starblastresearch opened #919 "icons don't render in create-react-native-app"
I have created a basic app with create-react-native-app

then I added a button, but it is rendered as a grey square without any icon. See the attached screenshot. I tried many different solutions but none of them worked.
Please let me know why it does not work.

      import { Button } from 'react-native-elements';
      import Icon from 'react-native-vector-icons/FontAwesome';

<Button
  icon={

[2018-02-21 06:36] Monte9 commented on #919
@starblastresearch please make sure to install `yarn add react-native-elements@beta`

I suspect you currently have` v0.19`. Please update and `<Button />` should look much better :)

[2018-02-21 06:49] starblastresearch commented on #919
Thank you, that worked!

Do you guys mind updating your installation instructions to let people know that they should not use the current production version or updating the current production version so people who did not use your library before don't run into such issues the first minute? The 0.19 version is completely unusable. I almost abandoned it altogether because adding an <Input/> componen

[2018-02-21 06:49] #919 closed

[2018-02-21 08:28] userbq201 opened #920 "Simple question (styles)"
this components is use crosplatform styles ?  Or only ios ?

[2018-02-21 08:50] xavier-villelegier commented on #920
Hey @userbq201 ! Any component of React Native Elements you use will look the same on iOS and Android (as long as you don't override the styles by yourself depending on the platform). There is no platform conditional styles 👍

[2018-02-21 08:56] userbq201 commented on #920
@xavier-villelegier hm

[2018-02-21 08:56] #920 closed

[2018-02-21 09:09] xavier-villelegier commented on #810
Closing this as inactive

[2018-02-21 09:09] #810 closed

[2018-02-21 09:10] xavier-villelegier commented on #799
Closing this because it has been inactive for 1 month

[2018-02-21 09:10] #799 closed

[2018-02-21 09:40] mountriv99 opened #921 "Unable to open demo app on android"
### Description

1. Explain what you did
Wanted to check out the demo app on android

2. What you expected to happen
Expected it to work

3. What actually happens
Encountered errors (see attached screenshot)

![image](https://user-images.githubusercontent.com/584545/36472910-1443d09e-172e-11e8-9961-90b8e49b64e1.png)

[2018-02-21 09:40] xavier-villelegier commented on #919
@starblastresearch We're updating the documentation to be much more clear about that. You will be able to check the doc for the version you're using 🎉 Check out #902

[2018-02-21 09:42] xavier-villelegier commented on #921
@mountriv99 You're trying to open it through [this link](https://expo.io/@monte9/react-native-elements-app) or by cloning [this repo](https://github.com/react-native-training/react-native-elements-app) ?

[2018-02-21 09:48] xavier-villelegier commented on #578
@npwt On RNE `0.19.0` yes, not anymore on the `v1.0.0-beta2`. The documentation you see is about the `v1.0.0-beta2` (we're working on making all version of the docs available)

[2018-02-21 10:20] mountriv99 commented on #921
@xavier-villelegier Tried to do it through the link

[2018-02-21 12:27] api182 commented on #892
I'm getting this error when trying to use 'Input' also though..?

[2018-02-21 12:32] xavier-villelegier commented on #892
@api182 If you use `v1.0.0-beta2` this shouldn't be an issue
[code]

Check your `package.json` to know which version you're using

[2018-02-21 12:35] xavier-villelegier commented on #921
@mountriv99 Just tested on my Android and everything works, can you check if there is an update of the Expo app on the Play Store ? Which Android version do you have ?

[2018-02-21 13:32] xavier-villelegier commented on #912
@Rah1x @LouisJS @ocalvet
New documentation is live [here](https://react-native-training.github.io/react-native-elements/) ! You can now select the version of the doc you want by clicking on the version name on the top header.
A biiig shout out to @iRoachie 🎉

[2018-02-21 14:09] LouisJS commented on #912
Awesome ! There's missing images on Avatar / Header / Overlay / Rating / Slider.
It looks great ! i'm really glad to see this library is evolving so fast !
Road to v1 💥

[2018-02-21 14:23] anikets43 opened #928 "Installation Guide for CLI is broken"
Below guide URL is broken
https://react-native-training.github.io/react-native-elements/Installation/default_installation/

[2018-02-21 14:25] xavier-villelegier commented on #928
@anikets43 Yes we're deploying a new documentation website, that's why existing Google links are broken… We'll need to wait for a reindexing of https://react-native-training.github.io/react-native-elements/ on Google

[2018-02-21 15:21] iRoachie commented on #912
Fixed @LouisJS thanks for alerting!

[2018-02-21 17:17] starblastresearch opened #932 "Ghosting around controls on Android"
We have tried your library with Expo on Android and we found that all of the rounded controls have ghosting shadows around the rounded corners. This is not the case on iOS devices.
Is there any way around this issue?
Please see the screenshot FYI. The LOG IN, Add To Cart button, HOME and PROFILE buttons, as well as a teal colored one with the spinner. This is not only those with high rounding radi

[2018-02-21 18:07] jacklinton commented on #892
Input is not on the list of exports.
`// UI references
// https://ionicframework.com/docs/components/#buttons
// https://material.io/guidelines/components/buttons.html#buttons-raised-buttons
// https://material.angularjs.org/latest/demo/button

// Core
import Button from './buttons/Button';
import Input from './input/Input';

import Icon from './icons/Icon';
import List from './list/List';
import

[2018-02-21 18:34] xavier-villelegier commented on #932
Hey @starblastresearch, yes by default there is an elevation on Android, to fit Material Design, as it is specified [here in the Google guideline](https://material.io/guidelines/components/buttons.html#buttons-button-types). If don't want this you can do this:
[code]

[2018-02-21 20:07] starblastresearch commented on #932
Thank  you Xavier. Is there any switch that turns it off for all buttons instead of specifying it for each individual one? Also is there any auto-sensing mechanism to determine which version of Android you are at? I believe not all Android versions use material design and on those versions it looks extremely bad. It would be very cumbersome if we had to turn it off for all buttons or wrap your com

[2018-02-21 20:07] #932 closed

[2018-02-21 20:10] xavier-villelegier commented on #932
@starblastresearch For now… unfortunately yes. But in the `v1.0.0` (in development) we will introduce a theming feature. So you'll be able to customize once the theme for all your components 🔥

[2018-02-21 22:22] Rah1x commented on #912
wow this is really a great documentation. great work guys

[2018-02-22 03:42] mountriv99 commented on #921
@xavier-villelegier I updated to the newest expo app but same errors. Using android 6.0 on a Redmi Note 4

[2018-02-22 03:44] mountriv99 commented on #921
@xavier-villelegier Hey, just tried it again and it suddenly works! All good now. Guess I didn't fully close the app after updating yesterday...?

[2018-02-22 08:19] prashant3g commented on #892
@xavier-villelegier I've tried reinstalling 1.0.0-beta2 version multiple times but still `<Input>` is not showing as component while `<FormLabel> <FornInput>` are still showing as component even after it's removal from newest version 1.0.0-beta2.

[2018-02-22 08:46] xavier-villelegier commented on #892
@prashant3g Maybe you have a package-lock that installs automatically the `v0.19.0`. Check that you have `1.0.0-beta2` in your package.json. If it is the case, try this:

[code]

[2018-02-22 08:49] xavier-villelegier commented on #921
Oh okay, that's good to know. Thanks 👍

[2018-02-22 08:49] #921 closed

[2018-02-22 09:27] prashant3g commented on #892
@xavier-villelegier Newest version is installed and also tried `rm -rf node_modules yarn.lock package-lock.json && npm i`. It is listed in package.json `"react-native-elements": "^1.0.0-beta2"`.
Still facing same issue.

[2018-02-22 09:33] xavier-villelegier commented on #892
If you have `FormLabel` and `FormInput`, and not `Input`, you don't have the version `1.0.0-beta2` installed. If you check your `node_modules/react-native-elements/package.json` which version do you have ?

[2018-02-22 09:35] #912 closed

[2018-02-22 10:16] xavier-villelegier commented on #892
@prashant3g It turns a bit off topic, join us on Slack we'll help you, and post the final answer here

[2018-02-22 12:41] gianpaj opened #934 "Docs: Overlay image is broken"
Link:
https://react-native-training.github.io/react-native-elements/docs/overlay.html
Source:
https://github.com/react-native-training/react-native-elements/blob/master/docs/overlay.md

I didn't find where in the repo you wanted to put the images. There is no `/img` folder. So i didn't do a PR

Here is the image:
https://raw.githubusercontent.com/react-native-training/react-native-elements/ef6aef0

[2018-02-22 14:24] iRoachie commented on #934
Thanks! The image folder is here if you’re interested in the doing the PR.

https://github.com/react-native-training/react-native-elements/tree/master/website/static/img

[2018-02-22 15:11] #934 closed

[2018-02-22 15:43] iRoachie commented on #688
Closing this as package now comes from npm with types included

[2018-02-22 15:43] #688 closed

[2018-02-22 20:17] judemanutd opened #937 "Unable to install react native with react native elements"
React native cli globally installed version : 2.0.1

I then used react-native init project_name to set up a project with the native modules.

I then tried installing React Native Elements UI Toolkit using yarn add react-native-elements@beta followed by yarn add react-native-vector-icons and then react-native link react-native-vector-icons as per the docs here React Native Elements Docs

The instal

[2018-02-22 20:58] iRoachie commented on #937
This is an error in metro bundler around handling paths to direct files. The issue and workarounds have been logged over at the react-native repo.

https://github.com/facebook/react-native/issues/17610#issuecomment-357884014

I've fixed using the blacklist method. Create a `rn-cli.config.js` file in your root directory and paste in the following code.

[code]

Be sure to restart the packager.

[2018-02-23 05:00] judemanutd commented on #937
That worked, thank you so much.

[2018-02-23 05:00] #937 closed

[2018-02-23 16:48] derkweijers opened #939 "input.js is missing from the src/input folder after installation"
### Description

1. Explain what you did
Install react-native elements with "npm install react-native-elements --save"

2. What you expected to happen
Import the Input component and use it.

3. What actually happens
Input components does not exists.

I'm using version 0.19.0
### Reproduction Steps and Sample Code
Install and try to use.

### Solution

Not sure what is going wrong. The Git repo has

[2018-02-23 16:55] iRoachie commented on #939
Hey @derkweijers, they're two versions of react-native-elements available to the public right now.
0.19.0 and 1.0.0-beta2. The `Input` component is only available in the beta as we're still modifying it actively based on user feedback.

If you want to use the `Input` component then you'll have to upgrade to the beta.
`npm install --save react-native-elements@beta`. You can read more about the reas

[2018-02-23 17:16] derkweijers commented on #939
Ah, okay! Thank you for the answer.

May I suggest some sort of label on https://react-native-training.github.io/react-native-elements/docs/input.html. Some sort of Beta label.

Kind regards,
Derk

[2018-02-23 17:17] derkweijers commented on #939
I just found the version the docs corresponds to in the header, so never mind and sorry for the trouble!

[2018-02-23 17:29] iRoachie commented on #939
All good, glad I could help

[2018-02-23 17:29] #939 closed

[2018-02-23 18:36] DaveCole commented on #653
Use labelStyle only and not containerViewStyle.

[2018-02-24 16:36] ishafiam124 opened #941 "how to pass data to another page using navigation in react native"
### Description

1. Explain what you did
2. What you expected to happen
3. What actually happens

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We highly recommend that you try to reproduce your bug on https://snack.expo.io/ and provide a link.

If you can't reproduce the bug on Snack, provide an example of your code and bri

[2018-02-25 06:39] shubhamrathi97 opened #942 "Can't set icon type for Avatar"
### Description
`<Avatar
                        large
                        rounded
                        icon={{name:"user-female", type:"simple-line-icon", size: 25}}
                        // title="CR"

Above code should render SimpleLineIcon of react-native-vector-icon, but instead, it is only showing icons of font awesome.

Version
`"react-native-elements": "^1.0.0-beta2"`
`"react-nati

[2018-02-25 15:41] iRoachie commented on #941
Hey there @ishafiam124, your question seems to be one with react-navigation and not react-native-elements. I suggest you checkout the react-navigation document on how to [pass data between screens](https://reactnavigation.org/docs/params.html)

[2018-02-25 16:19] iRoachie commented on #144
Closing in favor of the navigation guide on the react-native website, which gives a good breakdown of navigation and different libraries available. https://facebook.github.io/react-native/docs/navigation.html

[2018-02-25 16:19] #144 closed

[2018-02-25 16:41] Monte9 commented on #937
Woah! That's a solid find @iRoachie! Thanks for the linking the exact comment to the original issue! 👏

Glad that helped you @judemanutd!

[2018-02-25 16:51] Monte9 commented on #912
@iRoachie for President 2020!!

Again, great work @iRoachie for taking the lead on this project and following through with it! I am super impressed. 🥇

[2018-02-25 17:16] iRoachie commented on #928
Closing this as there's no further action that can be done on our part.

[2018-02-25 17:16] #928 closed

[2018-02-25 17:19] iRoachie commented on #719
Closing this as resolved for now! If a better solution comes up we can definitely discuss it here

[2018-02-25 17:19] #719 closed

[2018-02-25 17:31] Monte9 commented on #892
@prashant3g @xavier-villelegier @kristofferkarlsson93 @mateen-hussain Sorry for all the confusion guys.

I am the one that worked on the new `<Input />` component and I realize that I should have ported over the `FormLabel` feature as well. And that's def caused a lot of inconvenience to users.

I will be submitted a PR adding the `InputLabel` (aka `FormLabel`) to the next release. I'll also put t

[2018-02-25 18:09] Monte9 commented on #681
Let's revive this and make it more useful and user-facing for `beta4`.

/cc @iRoachie @xavier-villelegier

[2018-02-25 18:21] #775 closed

[2018-02-25 19:08] kbrandwijk commented on #775
Well, the docs folder alone is 6,5 MB in my node_modules. For a mobile app, that's substantial.

[2018-02-25 19:09] iRoachie commented on #775
Only source files are including in the build process for react-native, so it won't affect the app size of your generated apk/ipa

[2018-02-25 19:13] kbrandwijk commented on #775
That's good to now. I'm using Expo, and I hope it's as smart as RN when deploying 😄

[2018-02-25 19:15] iRoachie commented on #775
Ah yes! They use the same build system. Think as expo as a normal react-native application that has popular packages bundled in for you :D

[2018-02-25 19:25] iRoachie commented on #813
Proper fix made in https://github.com/react-native-training/react-native-elements/pull/944. Should be available in 1.0.0-beta3

[2018-02-26 12:02] RoysyLee commented on #875
Solved it. Thank you!!

[2018-02-26 12:02] #875 closed

[2018-02-26 12:11] Mukeyii opened #947 "Input is not exported in TypeScript definitions"
### Description

**1. Explain what you did**

I've updated from 0.19 to 1.0.0-beta to change the style of my Searchbar (works). Had to replace FormInput with Input to avoid the Invariant-Violation-Error.

**2. What you expected to happen**

I can still import FormInput, FormLabel etc. from the beta-version (index.d.ts), but 'Input' can't be found.

`import {Text, Button, Input, Icon, Card} from 'r

[2018-02-26 12:59] iRoachie commented on #947
What version of the beta are you currently on?

[2018-02-26 13:00] Mukeyii commented on #947
"react-native-elements": "^1.0.0-beta2",

[2018-02-26 13:04] iRoachie commented on #947
You're correct! Forgot to update the definitions.

[2018-02-26 13:07] iRoachie commented on #947
For anyone that wants to take this up, they can check the [FormInput definitions](https://github.com/react-native-training/react-native-elements/blob/master/src/index.d.ts#L767) for an example on how to add definitions for a component.

[2018-02-26 14:31] msevestre commented on #947
Yeah I'll take a look

[2018-02-26 22:44] NaleenDissanayake opened #948 "Unrecognized font family 'Lato"
### When run ios in standard react-native project shows "Unrecognized font family 'Lato"
    "native-base": "^2.3.9",
    "react": "16.2.0",
    "react-native": "0.53.3",
    "react-native-elements": "^0.19.0",
    "react-native-vector-icons": "^4.5.0",
    "react-navigation": "^1.2.0"

<img width="399" alt="screen shot 2018-02-27 at 4 08 06 am" src="https://user-images.githubusercontent.com/14317

[2018-02-27 02:06] iRoachie commented on #948
Hey @NaleenDissanayake that message shows up when you're trying to use a custom font without adding it to your Xcode project. We don't use the Lato font in our library, so this error is coming from your personal code.

[2018-02-27 07:45] NaleenDissanayake commented on #948
Yes. I got that issue was in code. Thanks.

[2018-02-27 07:45] #948 closed

[2018-02-27 19:11] shivamgupta211 commented on #388
use startingValue={<your initial rating value to show>}
ex :
<Rating    type="star"  fractions={1}  startingValue={3} ratingBackgroundColor="rgba(103,119,143,1)" style={{backgroundColor:'#000'}} readonly  imageSize={20}  style={{ paddingVertical: 10 }}/>

[2018-02-28 03:13] jacklinton commented on #874
In your webpack config, in the babel loader configuration, you have to add many (all?) React-Native modules into the "include" section so that they get parsed into ES5. By default, webpack ignores everything in the node_modules folder but newer packages written in ES6 need to be transpiled before bundling with the rest of the assets. Look at your webpack config at the module/loaders ection where i

[2018-02-28 03:18] Asinox opened #949 "How to add local images from a dictionary to avatar?"
Hello, I'm getting into RN, and I have this issue that I can't solve.
A FlatList with a source from a dictionary with local images, and I can't see a way to pass the images to the FlatList Avatar without getting some errors.

[code]

The avatar line is just showing an empty circle.

How can I pass the dictionary item.image to this avatar?
Thanks!

[2018-02-28 10:13] LouisJS commented on #949
Hi @Asinox.

You avatar looks empty because you're not providing the right syntax to load your [Image](https://facebook.github.io/react-native/docs/image.html).

For URL, you should use : `avatar={{uri: 'www.linktourl.com/image.jpg'}}`
It looks like you are look for local resources as you're passing _relative path_.

In that case, you should use : `avatar={require('../path/to/local/image.png')}`

[2018-02-28 13:34] Tonacatecuhtli opened #952 "<Input rightIcon={...} doesn't show up"
### Description
Hi,
First I used version 1.0.0-beta2

So I use the Input component together with leftIcon wich worked fine.
[code]
The same code with rightIcon doesn't show up.
[code]

I checkt the source code and deleted the SCREEN_WIDTH - 100 from: [here](https://github.com/react-native-training/react-native-elements/blob/master/src/input/Input.js#L73)

And then i saw the icon. You can also adju

[2018-02-28 13:39] iRoachie commented on #441
Added in https://github.com/react-native-training/react-native-elements/pull/946. Will be apart of the `1.0.0-beta3` release

[2018-02-28 13:49] xavier-villelegier commented on #952
Hey @Tonacatecuhtli ! This works on [this little snack example](https://snack.expo.io/rJh6MVVdf). I think `width: '100%'` is doing what you're looking for 👍
In future betas, we'll use `width: '100%'` by default in the `Input`, check out #861

[2018-02-28 14:25] AudyOdi commented on #441
hi @Monte9, sorry I got carried away with work since I faced the problem. I actually tried it again a couple of weeks ago, but still got the error (different one, but still related to other test files). Thanks to @iRoachie making PR for this improvement! Will try to fix other issues 👍

[2018-02-28 15:19] Tonacatecuhtli commented on #952
Thanks and i'm looking forward to the future betas ;)

[2018-02-28 15:19] #952 closed

[2018-02-28 20:51] mauriciord opened #955 "Input containerStyle not working correctly with styled-components"
### Description
I need to pass style as object for the prop `containerStyle` of the `Input`, but when i pass style to `containerStyle` with `.attr()` from the [`styled-components`](https://www.styled-components.com/), my `Input` looks horrible comparing to `Input` using object from `Stylesheet` of the `react-native`

I'm using **react-native-elements@1.0.0-beta2**

[code]

Screen:
![screen shot 20

[2018-03-01 07:49] geminiyellow commented on #707
so why `onPress` is not in here [header.md](https://github.com/react-native-training/react-native-elements/blob/master/docs/header.md)

should update the docs.

[2018-03-01 10:12] xavier-villelegier commented on #707
@geminiyellow You can see that there is

In the docs for `leftComponent`, `centerComponent`, `rightComponent`. This means you can use any props of the `Icon`, including `onPress`. However, we should add more examples with more use cases 👍

[2018-03-01 10:16] geminiyellow commented on #707
@xavier-villelegier thank you

[2018-03-01 12:28] iRoachie commented on #947
Added in https://github.com/react-native-training/react-native-elements/commit/29f30d4af6161178f8d30d76eda468abf16c4622, should be apart of the 1.0.0-beta3 release

[2018-03-01 12:30] iRoachie commented on #863
Closing as inactive! If the solution by @LouisJS doesn't work for you, be sure to ping me to reopen the issue.

[2018-03-01 12:35] iRoachie commented on #801
Closing as inactive! If this workaround didn't work for you @evilandfox, feel free to ping me to reopen the issue. This should be handled a lot better with the `ListItem` component slated for [1.0.0-beta4](https://github.com/react-native-training/react-native-elements/milestone/2)

[2018-03-01 12:35] #801 closed

[2018-03-01 12:37] iRoachie commented on #869
@k3ithl1m Did you get anywhere with implementing this?

[2018-03-01 12:53] iRoachie commented on #918
If anyone wants to work on this, here are the following requirements:
1. Card title should be able to pass in a string or a react element
2. If title is a react element - display it. If not display the current `Text` component with `titleStyle` and `titleNumberOfLines` https://github.com/react-native-training/react-native-elements/blob/master/src/card/Card.js#L60-L70
You can check if a variable is

[2018-03-01 13:28] msevestre commented on #918
@iRoachie yep count me in

[2018-03-01 15:07] k3ithl1m commented on #869
I didn't because I thought we were waiting for confirmation. :X

[2018-03-01 15:56] tiagoalves opened #957 "Difficulties creating Button with flex: 1"
### Description

1. Explain what you did

I'm trying to have two buttons with `flex: 1`, side by side.

2. What you expected to happen

Have two buttons each with half the screen's width on both Android and iOS.

3. What actually happens

The solution I have for Android seems rather complex and it doesn't even work on iOS. There it creates two buttons that take up the full height of the screen and

[2018-03-01 16:57] LouisJS commented on #957
https://snack.expo.io/H1MxbhruM

[2018-03-01 16:57] tiagoalves commented on #957
I now got it to work with the following:

Expo Snack: https://snack.expo.io/BJA8dsr_G

[code]

I had to add both `style` and `buttonStyle` because `style` just worked on iOS and `buttonStyle` on Android.

Does this look like the best approach?

Thanks!

[2018-03-01 17:04] tiagoalves commented on #957
@LouisJS thanks for the help. Your example works for Android but on iOS I get the same result as in my original screenshot (two long vertical buttons).

[2018-03-01 19:17] xavier-villelegier commented on #955
Hey @mauriciord @rodrigooler, this has been fixed in #956 and will be released in the `v1.0.0-beta3` very soon 🎉

[2018-03-01 22:35] alfredkam opened #959 "Button text not centered with "%" width"
###Description
Using `react-native-elements@^1.0.0-beta2`, passing a width in percentage into the Button Component caused the text align to not center.

![screen shot 2018-03-01 at 2 14 26 pm](https://user-images.githubusercontent.com/1495567/36873268-d353cc94-1d5c-11e8-876e-75cb93f42298.png)

Sample Code
[code]
###Solution
include
`textStyle={{width: "100%"}}`

[2018-03-02 05:57] geminiyellow commented on #874
hi all, i try to use `RNE` with `react-native-web`.
and webpack compile is good, no error.
but the icon cannot show correctly

like that:

<img width="493" alt="6e7c6006-f82b-449c-aa23-03d98b934293" src="https://user-images.githubusercontent.com/929878/36885352-c66feee0-1e29-11e8-89ca-7b46da4cce91.png">

any idea?

[2018-03-02 08:28] xavier-villelegier commented on #874
@geminiyellow Maybe you can try with the `rn-web` branch. All the work on this branch was done by @Gregor1971, but we're not ready yet to merge that, as it implies too many unknown concepts for us for now. We let this branch because it is still something we would like to implement though

[2018-03-02 09:30] xavier-villelegier commented on #959
Thanks for reporting this. [Here is](https://snack.expo.io/rkYLucLuM) a snack example of the bug.
Maybe the best approach is to add `width: '100%'` by default if a `width` is defined in `buttonStyle`

[2018-03-02 09:46] geminiyellow commented on #874
@xavier-villelegier thank you, but `beta3` is same problem.
i follow the docs [here](https://react-native-training.github.io/react-native-elements/docs/getting_started.html), but i think something is missing.

[2018-03-02 09:52] xavier-villelegier commented on #874
@geminiyellow I'm not talking about the `beta3` (we removed the React Native Web support from `beta3`) but the `rn-web` branch. Try this in your `package.json`:

[code]

And then reinstall your `node_modules`.

Maybe try to install `react-native-vector-icons` ? I don't know if this will work, because as I said, we don't really know how React Native Web works, and I don't know exactly how far @Greg

[2018-03-02 09:56] geminiyellow commented on #874
@xavier-villelegier sorry, is my fault, i looking here #867 so do the wrong comment.
and in `react-native-vector-icons` case, i have to inject stylesheet in webpack entry point.
and it woking, but `#rn-web` no.

- `circle` from `react-native-vector-icons`
- `rect` from `react-native-elements`

![image](https://user-images.githubusercontent.com/929878/36893409-51316510-1e4b-11e8-8808-86eee97851cc.p

[2018-03-02 13:28] dineshmm23 commented on #255
<Icon type="octicon" name="tools" size={24} color="#900" />

For these i am  getting an same warning ..
` "react-native-vector-icons": "^4.5.0"`
i am trying to get tools icon name from these[https://oblador.github.io/react-native-vector-icons/]

[2018-03-02 13:35] xavier-villelegier commented on #255
@dineshmm23 Which warning are you talking about ?

[2018-03-02 14:08] jacklinton commented on #874
I’ve had the same issue. I’m not sure if there’s a simple wepack solution. We may just have to load icons for the web the old fashioned way. This might be one of those instances where we have to use custom code for the web. Perhaps some kind of conditional statement using Plaform.<platform> to say if it’s a web platform, load the icons directly. I’m going to keep working on it a bit though.

[2018-03-02 14:38] Gregor1971 commented on #874
@geminiyellow , @jacklinton ,
Here's an example of loading fonts for the web:  https://github.com/Gregor1971/rne-cross-platform-example/blob/master/src/index.js

[2018-03-02 14:44] jacklinton commented on #874
That's a nicer example than what's in the instructions for web on the vector icons site. If it works, I'll use it, but when I did try it, all I got was a bunch of deprecation warnings about styleSheet. Is there a more up-to-date way of doing the same thing? Thanks for your help Gregor, I really appreciate it.

[2018-03-02 15:08] Gregor1971 commented on #874
Which browser are you using?  When I run that example, I only see a few warnings in Firefox about "-webkit-inner-spin-button", but the page displays correctly.  Chrome, Opera, and Edge are all fine.  IE11 is a mess - it needs a polyfill for Array.includes.

[2018-03-02 15:15] jacklinton commented on #874
It wasn't browser related, the warning came from VS Code. I think it mistook that code for older react or react-native code. I use the term IDE loosely for VS Code, but it can basically do everything WebStorm can do. Watch out though! It's Microsoft. ;)

Your example is much easier to understand than the one RNVI provided so I'm going to give it another shot. Again, thanks for your help.

[2018-03-02 15:24] Gregor1971 commented on #874
I use vs code; maybe you're seeing typescript warnings?   ts is enabled by default, but that example uses flow.

[2018-03-02 16:06] jacklinton commented on #874
Of course, now I can't recreate the situation, which is good I guess. Essentially what happened was that as soon as I added the style.styleSheet parts, the editor highlighted and put a strikethrough every 'styleSheet' specifically and and said deprecation warning! If I can reproduce the situation I'll  drop a screen shot in here, but it seems to be a non-issue now.

[2018-03-03 07:08] jacklinton opened #960 "Production builds for web won't render because required propType imgSource in Tiles is undefined."
Production builds for web won't render because required prop imgSource in Tiles is undefined. Dev builds have no problems. I've temporarily solved the issue by going into the library and deleting the 'isRequired' part of the definition, but I'm looking for help with a more long-term solution that preferably doesn't involve my using a custom version of the package.

1. I created a react-native-web

[2018-03-03 13:35] teamhide opened #961 "Header icon background color is white"
1. Explain what you did
I'm using Header with icon. If I click that, White square box appears behind the icon.

        <View>
          <Header
            leftComponent={<SearchArticle action={this._afterSearch} style={{underlayColor: '#64b5f6'}}/>}
            centerComponent={{ text: 'Board', style: { color: '#fff' } }}
            rightComponent={<WriteBoard username={this.state.userNick} ref

[2018-03-03 13:43] xavier-villelegier commented on #961
Hey @teamhide, have a look at https://github.com/react-native-training/react-native-elements/issues/640#issuecomment-334478955, and let me know if it helps 👍

[2018-03-03 13:50] teamhide commented on #961
@xavier-villelegier Thanks for the quick reply. I already read that, But It seems little bit different on my case. That issue just defines icon but my case,  pass component to leftComponent. (leftComponent={<SearchArticle>}). Maybe it is the same case, But I'm very new at React.js. How can I set underlayColor on my case?

[2018-03-03 13:51] xavier-villelegier commented on #961
@teamhide Could you post your `SearchArticle` component ?

[2018-03-03 13:57] teamhide commented on #961
@xavier-villelegier Yeap. I just uploaded source code here. https://snack.expo.io/SJcoYQOdf

[2018-03-03 14:02] xavier-villelegier commented on #961
@teamhide This part

[code]

You don't need yo have a `TouchableOpacity` around the `Icon`, as it handles the `onPress` for you already. This should do the job:

[code]

[2018-03-03 14:06] teamhide commented on #961
@xavier-villelegier Exactly solved. Thanks!

[2018-03-03 14:08] xavier-villelegier commented on #961
Glad I helped you 💯

[2018-03-03 14:08] #961 closed

[2018-03-03 16:37] jacklinton commented on #960
I'm going to add some notes in this post. Perhaps this discussion belongs in react-native-web territory, however since it directly involves this package I will keep it here for now.

The problem defined:

When compiling/bundling for web, React Native packages must be included in the babel loader in order to be properly transpiled for web. That means the proptypes end up in the production build whe

[2018-03-03 18:10] jacklinton commented on #960
I think my brilliant solution for now is just to add an additional process to the build script that does a find/replace on the bundle to remove all '.isRequired' from the document. Maybe I'll have it create a log file of where they are all located in case it causes any issues. At least other people will be able to clone and build the repo and get a working production build without having to go in

[2018-03-04 20:19] wkwyatt commented on #663
@iRoachie not sure what you mean by that comment, but is this a feature that exist or that will be added?

[2018-03-04 20:26] iRoachie commented on #663
It's a feature that should be added in `v1` of our library. Right now the `ListItem` component is being completely rewritten to be more flexible. Can see the progress [here](https://github.com/react-native-training/react-native-elements/pull/945).

Should be released with `beta4` https://github.com/react-native-training/react-native-elements/pull/945

[2018-03-04 20:45] wkwyatt commented on #663
@iRoachie so right now there is no way to have subtitle on the right side of the ListItem?

[2018-03-05 10:22] cosmocoder commented on #550
This issue is still happening with version 0.19.0. Setting a backgroundColor in `containerViewStyle` fixes the issues (it doesn't matter what colour you set as long as there is already a backgroundColour set in `buttonStyle`

[2018-03-05 15:59] iksent commented on #942
I think it is not "Enhancement", but a real bug. Please, fix it as soon as possible. Very important thing, to use custom icon types in Avatar.

[2018-03-05 16:21] iRoachie commented on #942
Sorry @iksent, I misunderstood the issue at first. Will take a look at it this evening

[2018-03-05 17:05] iRoachie commented on #949
@Asinox local images in react native are statically analyzed and only images that are `required` are included in the final build. Check https://facebook.github.io/react-native/docs/images.html `#4`. Which means static assets have to included the same way as modules do - either by imports or requires.

This means that your above code in your dictionary/json needs to change from:
[code]

To:
[code]

[2018-03-05 17:28] iRoachie opened #964 "Add notice to Tile for Touchable Properties"
The documentation for the `Tile` component should mention that it inherits all props from `Touchable` from react-native.

See notice in Button docs for an example message https://react-native-training.github.io/react-native-elements/docs/button.html#button-props.

[2018-03-05 17:53] Gregjarvez commented on #964
@iRoachie if no one is doing this I'd like this to be my first pull request :)

[2018-03-05 19:10] iRoachie commented on #964
@Gregjarvez That would be great! You can check out our [contributing guide](https://react-native-training.github.io/react-native-elements/docs/contributing.html) on how to get started.

[2018-03-05 19:16] Gregjarvez commented on #964
@iRoachie awesome thanks !!!

[2018-03-06 03:01] HarbinLc2014 opened #966 "How to generate a login/ signup form in the example page"
Dear Developer,

Hello, I want to generate a login/signup form as the example page did, which has a smooth arrow pointing to the 'login'/'signUp' text when user clicking on them, I would like to know which element I should use for this?

[2018-03-06 15:59] neogeno opened #967 "Button title not appearing"
### Description

1. Explain what you did
`<Button title='hello'/>`

2. What you expected to happen

See a button with a title of hello

3. What actually happens

See a default blue button labelled 'Welcome to React Native Elements;

Also please include the version of `react-native-elements` that you are using.
react-native-elements@1.0.0-beta2

### Reproduction Steps and Sample Code
[code]

We hig

[2018-03-06 17:11] iRoachie commented on #967
Hey! @neogeno! If you check the docs for `1.0.0-beta2` for Button you'll see that the prop is `text` instead of `title` https://react-native-training.github.io/react-native-elements/docs/button.html#button-props

[2018-03-06 17:51] martinezguillaume commented on #966
Hey ! You can have a look at [LayoutAnimation](https://medium.com/@Jpoliachik/react-native-s-layoutanimation-is-awesome-4a4d317afd3e) ! That's what we use to have beautiful animation in a easy way !
You can have a look too to the example code [login 1](https://github.com/react-native-training/react-native-elements-app/blob/master/src/views/login/screen2.js) or [login 2](https://github.com/react-na

[2018-03-06 18:04] martinezguillaume commented on #959
That's weird, I tested the snack in an android phone and it works, it's just an iOS bug 🤨

[2018-03-06 22:47] iRoachie commented on #964
Thanks @Gregjarvez. Changes a live! https://react-native-training.github.io/react-native-elements/docs/tile.html#tile-props

[2018-03-06 22:47] #964 closed

[2018-03-06 23:00] Gregjarvez commented on #967
@iRoachie maybe we can add a warning when title is supplied instead of text ? Until people are more aware of it ?

[2018-03-06 23:03] iRoachie commented on #967
It was actually a mistake on our(maintainers) end and the next beta will restore it back to `title`. The commit to change it back is [here](https://github.com/react-native-training/react-native-elements/commit/68ef514154d3f1ecf67c55a44dc83c3566812590).

We can't add a warning without publishing a new version. If there's any doubt, check the documentation on the website which supports showing curre

[2018-03-06 23:09] Gregjarvez commented on #967
@iRoachie We can't add a warning without publishing a new version. good point lol I am such a newbie

[2018-03-06 23:17] iRoachie commented on #967
@Gregjarvez Ha! No sweat man, small things miss me all the time :D

[2018-03-06 23:58] Gregjarvez commented on #959
@xavier-villelegier
I found this fix to work for me too and it only happens on IOS hence there might be a need to make this platform specific. Leaving this  solution in doesn't affect text position on android.

[code]
what do you think ?

[2018-03-07 05:27] pewh opened #970 "Migrate imgur image hosting to another one"
Hello,

I've using react-native-elements for a long time. But when I see new docs, I can't see images because those are hosted on imgur. FYI, imgur has been blocked in my country.

[2018-03-07 08:33] Monte9 commented on #863
I think the React Native Rating's src code on this repo is out of sync with the original React Native Rating's library on my repo.

I think we should consider removing `ratings` src from RNE and just pointing people to use RN Ratings  or possibly through git submodules?

@iRoachie thoughts?

[2018-03-07 08:34] Monte9 commented on #863
Here' the repo: https://github.com/Monte9/react-native-ratings.

It's starting to get some traction and a few issues. So I might have to start maintaining that as well.

[2018-03-07 08:47] xavier-villelegier commented on #970
Oh, we weren't aware of that, sorry. Just curious to know in which country are you ?

[2018-03-07 09:24] xavier-villelegier commented on #959
@Gregjarvez Yep that's what I was proposing ! Feel free to open a PR, you seem to be on fire recently 🔥

[2018-03-07 09:33] Monte9 commented on #960
Firstly, thanks for documenting & sharing your learnings as you try to setup CRN + RNE. I am sure these learnings would be useful for someone trying to do that same.

I think that would be really useful for use @jacklinton! That way we can see the number of changes needed and come up with a plan to address those.

[2018-03-07 09:34] Gregjarvez commented on #959
@xavier-villelegier sure !!!!!!!!

[2018-03-07 09:54] Monte9 commented on #957
@tiagoalves Here is another way to do this: https://snack.expo.io/SJirrEp_z

And this works for ios & android both. Please see screenshots below
<div style={{flexDirection: 'row'}}>
<img width="240" alt="screen shot 2018-03-07 at 1 51 51 am" src="https://user-images.githubusercontent.com/7840686/37085620-5a785c84-21aa-11e8-98c8-36ef907ea7b0.png">
<img width="225" alt="screen shot 2018-03-07 at 1 5

[2018-03-07 10:07] Monte9 commented on #550
@cosmocoder I would highly suggest you upgrade to `v1.0.0-beta` and try it out.

There are lot of new features & we are actively maintaining it. If you face this issue on `v1`, we will be more than happy to address it asap.

Just do: `yarn add react-native-elements@beta`

[2018-03-07 10:09] Monte9 commented on #663
Looks good. Thanks for sharing the code snippet @wkwyatt ! 👍

[2018-03-07 10:36] pewh commented on #970
I'm from Indonesia, where imgur, reddit, vimeo, and tumblr has been blocked. So funny :D

[2018-03-07 11:06] iRoachie commented on #863
Definitely think we should move it out. If they want to use the ratings component then w should definitely point them to repo. The other option is to do what we did with Tabs and make it just a shallow wrapper that passes props to the package as a dependency

[2018-03-07 11:13] iRoachie commented on #970
Sorry about that. Will move kver

[2018-03-07 11:13] iRoachie commented on #970
Sorry about that, will move over the images to github.

[2018-03-07 12:12] Craques opened #972 "Failing to implement shake input on error"
**1. What I did**

I was following the example in the documentation for the input and the demo app source to create an Input. Everything works fine except for the shake animation

Here is the code

<Input
      leftIcon={ <Icon name='email'/>}
      ref = {input=>this.emailInput = input }
      autoCorrect={false}
      placeholder="example@myhost.com"
      //this is not working
      shake={this

[2018-03-07 13:12] martinezguillaume commented on #972
Hi !

The props `shake` is use just at the `componentDidMount` of the component. You have to use
`this. emailInput.shake()` to shake it !

But you have a good point, we need to update the docs ! Sorry about that 😅

[2018-03-07 14:09] Craques commented on #972
Forgot to mention I used this.emailInpu.shake() when I saw the source of the app I passed it to  the email validator like so:

validateEmail(email){
		if(isEmail(email)){
			this.setState((prevState)=>{
				return {
					errors : {...prevState.errors, email: {isInvalid: false}}
				}
			})
		}else{
			this.setState((prevState)=>{
				return {
					errors : {...prevState.errors, email: {isInvalid:

[2018-03-08 02:59] neogeno commented on #967
Thanks for the update guys. Actually all the tutorials at https://react-native-training.github.io/react-native-elements/docs/0.19.0/button.html show the title props in line with React Native's own Button component, so it's best to revert it back.

[2018-03-08 07:20] iRoachie opened #975 "Add back react-native-training logo copyright"
Add copyright to the footer of the website

[2018-03-08 13:47] xavier-villelegier commented on #967
@neogeno That's because you're looking at the `0.19.0` docs, not `1.0.0-beta2` [here](https://react-native-training.github.io/react-native-elements/docs/button.html)

[2018-03-08 19:28] vintage commented on #942
@iRoachie If I got it right, the only implementation issue here is that `Avatar` is importing direct version of `Icon` - https://github.com/react-native-training/react-native-elements/blob/master/src/avatar/Avatar.js#L17 - instead of "proxied" one - https://github.com/react-native-training/react-native-elements/blob/99f80cd8b0937e076ce17c7f99daba2ee9b0b997/src/icons/Icon.js which correctly handles

[2018-03-08 23:46] Monte9 commented on #942
@vintage ah yeah. that's a good catch.

Yup, all we need to do is to change the `Icon` import from using `react-native-vector-icons` to using our own custom `Icon.js` component.

Feel free to submit a PR if anyone gets a chance. Also update the `Avatar` demo on the example app to show how to pass multiple icons to the Avatar component.

[2018-03-09 07:11] maxkarelov opened #976 "How to change default backgroundColor of SearchBar?"
### Description

1. I've used SearchBar
2. I want to change background color of SearchBar to another (white for example)
3. Actually I've tried use `backgroundColor` in SearchBar and parent but I can't archive a result
4. version of `react-native-elements` `^1.0.0-beta2`
[code]

### Reproduction Steps and Sample Code

![image](https://user-images.githubusercontent.com/2924696/37194981-567dcb6e-238

[2018-03-09 11:16] xavier-villelegier commented on #976
@maxkarelov That's not possible for now, but can be a good enhancement, thanks for reporting that !

[2018-03-09 15:14] mrcluc opened #977 "Custom fontFamily not working in Button"
Hi, i have one problem with the component Button. I have installed one custom font in my application. This font its working in Text component and in others, however, in lib's Button the font not working.

<Button
              textStyle={{
                fontSize: 15,
                textAlign: 'center',
                paddingLeft:35,
                fontWeight:'500',
                fontFamily:

[2018-03-09 15:17] iRoachie commented on #977
Hey! @mrcluc You'll want to use the `textStyle` prop

[2018-03-09 15:19] mrcluc commented on #977
Yes, a im using textStyle prop but is not working:

`textStyle={{
fontSize: 15,
textAlign: 'center',
paddingLeft:35,
fontWeight:'500',
fontFamily:'MarkPro Medium' <<<<<<<<<<
}}`

[2018-03-09 15:46] iRoachie commented on #977
Which version of the library are you using?

[2018-03-09 16:30] mrcluc commented on #977
1.0.0.beta

[2018-03-09 21:36] pablo-albaladejo commented on #976
@maxkarelov

This code:

[code]

Provides this result:

![screen shot 2018-03-09 at 22 33 26](https://user-images.githubusercontent.com/7994467/37231092-25eef562-23ea-11e8-97b6-e62f8b8c9364.png)

Hope it helps.

[2018-03-09 21:38] iRoachie commented on #976
@pablo-albaladejo you’re referring to the `default` SearchBar. The one he’s mentioning is the iOS version. `platform=“Ios”

[2018-03-09 21:47] Craques commented on #972
Ok was just testing today and it started working, thanks.

[2018-03-09 21:47] #972 closed

[2018-03-10 00:04] pablo-albaladejo commented on #976
You are right @iRoachie , my bad.

[code]
Results at iOS:
![screen shot 2018-03-10 at 01 01 16](https://user-images.githubusercontent.com/7994467/37235412-b6aef66a-23fe-11e8-8e44-e05935e54407.png)

[2018-03-10 12:57] lifeiscontent commented on #947
@iRoachie when will the release be posted?

[2018-03-10 12:58] iRoachie commented on #947
@lifeiscontent  Sunday

[2018-03-10 13:15] iRoachie commented on #977
Seems to be working fine to me @mrcluc
<img width="1242" alt="screen shot 2018-03-10 at 9 14 49 am" src="https://user-images.githubusercontent.com/5962998/37242651-8dd3f200-2443-11e8-98f8-6af83db2788f.png">

Check if you're naming the font correctly

[2018-03-10 14:22] xavier-villelegier commented on #881
Closing this as inactive, ping us if you still need help on that

[2018-03-10 14:22] #881 closed

[2018-03-10 14:23] xavier-villelegier commented on #883
Closing this as inactive, ping us if you still need help on that 👍

[2018-03-10 14:23] #883 closed

[2018-03-10 14:24] xavier-villelegier commented on #890
Closing this as inactive, @RijaAdrian if you managed to make this work feel free to post the solution here 💯

[2018-03-10 14:24] #890 closed

[2018-03-10 14:25] xavier-villelegier commented on #901
Closing this as it seems to be resolved (thanks @iRoachie)
Feel free to try the new `Button` in the beta

[2018-03-10 14:25] #901 closed

[2018-03-10 15:02] lifeiscontent opened #979 "Full width `Input`"
Hey, I'm wondering why the new `Input` component doesn't nest nicely within a card. Is there something I'm missing here?

<img width="416" alt="screen shot 2018-03-10 at 10 00 10 pm" src="https://user-images.githubusercontent.com/180963/37243583-7d89c2a6-24ae-11e8-8059-ee80b1ec56d2.png">

[code]

[2018-03-10 16:06] xavier-villelegier commented on #979
Hey @lifeiscontent, can you be a bit more precise ? What do you want to achieve ?

[2018-03-10 18:13] vintage commented on #942
@Monte9 Fixed. I've submitted two PRs:

- First for `react-native-elements` itself to support icon type for `Avatar` - https://github.com/react-native-training/react-native-elements/pull/980
- Second for `react-native-elements-app` to show the usage of the `Avatar` (the section has been empty before my changes, strange)

[2018-03-10 19:23] lifeiscontent commented on #979
@xavier-villelegier I'm just wondering why the inputs aren't full width. I'd expect them to be.

[2018-03-11 02:23] iRoachie opened #984 "Random images"
Just using this so GitHub can upload these images and get static urls to use in the readme

![wrptg3m](https://user-images.githubusercontent.com/5962998/37248832-a7060286-24b1-11e8-94a8-847ab6ded4ec.png)

[2018-03-11 02:24] iRoachie commented on #984
![tgqc1sj](https://user-images.githubusercontent.com/5962998/37248835-ce3dad4a-24b1-11e8-9c4b-b058c5a5e1e9.png)

[2018-03-11 02:25] iRoachie commented on #984
Ref #970

[2018-03-11 02:25] #984 closed

[2018-03-11 02:32] iRoachie commented on #970
Merged in https://github.com/react-native-training/react-native-elements/pull/915/commits/1dee609dd48d26783d75a397fe8f6cbf91583548. Will be available next release. Thanks for pointing this out @pewh

[2018-03-11 03:31] iRoachie commented on #918
Merged in https://github.com/react-native-training/react-native-elements/commit/2308b1b02519fe90a26bd03a024b00a9c8924525. Will be available in 1.0.0-beta3

[2018-03-11 07:34] yofriadi opened #985 "Some image in documentation is missing"
Hi, you need to update the documentation. there is a missing image like in Input section.

[2018-03-11 07:37] yofriadi commented on #985
I dont know this, but its like imgur is blocked from my ISP. I close this.

[2018-03-11 07:37] #985 closed

[2018-03-11 07:39] iRoachie commented on #985
@yofriadi We're aware of this, and we just changed over all the images from Imgur. The fix will be released today. https://github.com/react-native-training/react-native-elements/pull/974

[2018-03-11 17:48] #947 closed

[2018-03-11 17:48] #975 closed

[2018-03-11 18:13] JaManrique commented on #967
The 'Getting started' section should not encourage beta versions, as this issues might occur, I worked with the library a couple months before and my code for a simple button wasn't working. Thanks for reverting it.

[2018-03-11 18:13] iRoachie commented on #441
Live in [1.0.0-beta3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3)

[2018-03-11 18:13] #441 closed

[2018-03-11 18:14] iRoachie commented on #813
Live in [1.0.0-beta3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3). It should now apply the platform styles by default.

[2018-03-11 18:14] #813 closed

[2018-03-11 18:15] iRoachie commented on #877
Live in [1.0.0-beta3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3)

[2018-03-11 18:15] #877 closed

[2018-03-11 18:16] iRoachie commented on #942
Live in [1.0.0-bets3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3). Thanks again for super PRs @vintage

[2018-03-11 18:16] #942 closed

[2018-03-11 18:16] iRoachie commented on #955
Live in [1.0.0-beta3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3).

[2018-03-11 18:16] #955 closed

[2018-03-11 18:18] iRoachie commented on #970
Live in [1.0.0-beta3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3).

[2018-03-11 18:18] #970 closed

[2018-03-11 18:18] iRoachie commented on #918
Live in [1.0.0-beta3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3).

[2018-03-11 18:18] #918 closed

[2018-03-11 18:18] iRoachie commented on #893
Live in [1.0.0-beta3](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta3).