[2020-09-17 16:47] flyingcircle commented on #2329
I agree @pranshuchittora

[2020-09-17 16:47] #2329 closed

[2020-09-17 16:51] flyingcircle commented on #2579
Sorry, they were accidentally removed. That method is also deprecated, so I would suggest changing your `Card` components to the new style: https://react-native-elements.github.io/react-native-elements/blog#card

[2020-09-17 17:31] flyingcircle commented on #2568
@kickbk there is a prop that allows you to replace the `InputComponent` with a separate one. And there is a community component that does what you ask here: https://github.com/react-native-community/react-native-text-input-mask

I think you should be able to insert that component right into the RNE one and get the functionality that you want. And then everyone is happy :) Separation of concerns an

[2020-09-17 17:31] #2568 closed

[2020-09-18 02:42] flycj opened #2581 "It is recommended that the styles of ImageComponent and View components including children should be separated in the Image composition"
**Is your feature request related to a problem? Please Describe.**
It is recommended that the styles of ImageComponent and View components including children should be separated in the Image composition.
Avoid the style property from affecting both ImageComponent and View components

A clear and concise description of what the problem is.
I set the boxShadow effect in the style property of the Ima

[2020-09-18 03:51] RomanKwok opened #2582 "please export colorsDark.js"
import {
  **colorsDark**
  colors,
  ThemeProvider,
  ThemeConsumer,
  ThemeContext,
  withTheme,
} from './config';

[2020-09-18 10:02] ivansenic commented on #2478
You can always set a custom icon in a theme and thus avoid any surprises.

[2020-09-18 13:10] pranshuchittora commented on #2264
A workaround, for the time being, is to set the width to `StyleSheet.hairlineWidth * 2` which decreases the change of such issue drastically.

[2020-09-18 13:58] #2582 closed

[2020-09-18 14:16] #2427 closed

[2020-09-18 14:19] pranshuchittora commented on #2515
Hi @ivansenic
We are trying our best to fix high priority bugs and ship some new features to make the RNE more stable and robust. The following issue will be fixed in the next release for sure  :smile:

[2020-09-18 19:09] #2509 closed

[2020-09-18 19:09] #2515 closed

[2020-09-19 11:27] pranshuchittora opened #2588 "🎉 Hacktoberfest 2020 🎉"
Hello :wave:
And here comes another season on `Hacktoberfest`. We are as excited as you are and hope we all collaborate and build some awesome things this season. We are almost there to complete our [`v3`](https://github.com/react-native-elements/react-native-elements/milestone/16) milestone and we will try our best to release it as soon as possible.

The thread is open to new ideas and discussion

[2020-09-19 14:53] codakkk commented on #2563
Hello guys, sorry for the late answer.
After some hours (today), I just figured out the problem was the leftIcon type in my interface.
Actually I just wrote IconNode instead of IconProps.
Sorry 🙏

[2020-09-19 14:53] #2563 closed

[2020-09-19 16:54] #2552 closed

[2020-09-19 17:16] #2501 closed

[2020-09-20 06:25] CKitisak commented on #2310
@brerdem I have the same issue like you. Would you please share how to solve that issue?

@Johan-dutoit any help would be appreciated.

Thank you.

my type module file is located at: `/src/types/react-native-elements.d.ts`
[code]

my `tsconfig.json`:
[code]

my `src/index.tsx`:
[code]

my dependencies:
[code]

[2020-09-20 09:33] cglacet commented on #2099
Could you elaborate on that, I tried the following but it seems to have no effect (version **2.3.2**):

[code]

On the other hand, the following does work:

[code]

[2020-09-20 10:40] pranshuchittora opened #2591 "Button(Props): Make the icon prop more intuitive and dynamic"
**Description**
The `icon` position props come with a huge surface area. The idea is to decrease the APIs surface area by introducing more functionalities.

**Proposed Change**
Instead of `iconRight` and default left position of the `icon`, we can introduce a new prop called `iconPosition`.
And the usage looks might look something like this :arrow_down:
[code]

The following functionality can be a

[2020-09-20 16:50] flyingcircle commented on #2099
@cglacet this ticket was about `Input` not `Button`. I suggest reviewing the docs to know what props are available. https://react-native-elements.github.io/react-native-elements/docs/button#iconcontainerstyle

[2020-09-20 16:50] #2579 closed

[2020-09-20 17:01] flyingcircle commented on #2591
I wonder if it might be simpler to or possible to have button follow the same general pattern as `Card` and `ListItem` have now. Something like:

[code]

This leaves greater flexibility and customization for users without having to sacrifice ease of use. And it also helps prevent prop bloat.

[2020-09-20 17:38] #2493 closed

[2020-09-20 17:40] pranshuchittora commented on #2591
Looks great, this can unlock new possibilities of a discrete set of children. May be an image btn

[2020-09-21 05:13] pranshuchittora opened #2592 "Avatar: No placeholder when source is an empty object {}"
**Explain what you did (Required)**
<Avatar
  rounded
  source={{  }}
/>

**Expected behavior (Required)**
Placeholder should render

**Describe the bug (Required)**
Avatar source validation issue.

[2020-09-21 05:14] pranshuchittora commented on #2592
Possible Cause https://github.com/react-native-elements/react-native-elements/blob/c69d761a822d046382957f0a9ab715847551c34c/src/avatar/Avatar.js#L81

[2020-09-21 09:46] walterholohan commented on #2310
I have the same issue too. It seems that the declaration merging is not working. I get the following typescript error when trying to import ThemeProvider.
![image](https://user-images.githubusercontent.com/5293650/93753191-aad80880-fbf7-11ea-9762-f2bcab766150.png)

[2020-09-21 09:52] walterholohan commented on #2310
I just figured out what the issue was. I was using typescript 4. If I downgrade to typescript 3.9.7 it works

[2020-09-21 17:40] dipamsen opened #2595 "Some Icons don't get displayed"
**Explain what you did (Required)**
Icon of `arrow-left-right-bold` from `material-community-icons`

**Expected behavior (Required)**
Icon doesn't get displayed

**Describe the bug (Required)**

Some icons of MaterialCommunityIcons not getting displayed while using `react-native-elements` `Icon` component

**To Reproduce (Required)**

[code]

**Your Environment (Required):**

| software

[2020-09-21 18:10] JB1905 commented on #2595
Hi!
It works for me when I replace `material-community-icons` with `material-community`. `material-community-icons` is not supported icon type name.

[2020-09-21 19:26] tarunyadav1 commented on #2592
You can assign this issue to me.

Thank You

[2020-09-21 19:46] pranshuchittora commented on #2595
@JB1905 thanks for the help :)

@dipamsen you can refer the following in the docs [here](https://react-native-elements.github.io/react-native-elements/docs/icon#available-icon-sets).

[2020-09-21 19:46] #2595 closed

[2020-09-21 19:49] pranshuchittora commented on #2592
@tarunyadav1 I have assigned this issue to you.
You can refer to this [guide](https://react-native-elements.github.io/react-native-elements/docs/contributing/), hope it helps.
Looking forward to it :)

[2020-09-21 20:05] flyingcircle commented on #2264
At least on the devices where I see this happen, changing the border width only kind of works. The border that wasn't visible is then newly visible again, but is thinner than the other borders. I still think this lies somewhere in React Native itself, but I'm still not sure what the root cause is. Item's not being properly rendered in a `ScrollView`?

[2020-09-22 02:46] dlopez12003 commented on #253
I am sad :( I bet on this UI library, this component should have been included from the beginning

[2020-09-22 02:46] flyingcircle commented on #2264
Removing the 3.0 milestone. I might try to log an error with react-native as that's where I believe the issue to be. But I wouldn't expect this issue to be fixed anytime soon.

[2020-09-22 05:21] pranshuchittora commented on #2153
@flyingcircle `react-native-size-matters` doesn't consider the pixel ration. Show which dimension to use for scaling `X` or `Y` ?

[2020-09-22 05:54] tarunyadav1 commented on #2592
@pranshuchittora  thanks

[2020-09-22 16:23] rarenatoe opened #2597 "There is no alternative to ListItem.rightElement"
**Explain what you did (Required)**

I wanted and tried to switch to the new way of writing components, so that I could get rid of those **ugly deprecation warnings**.

**Expected behavior (Required)**

I expected to find an alternative to`rightElement` for `ListItem`.

**Describe the bug (Required)**

There was no alternative to `rightElement` for `ListItem`, and when I add it the old way, the el

[2020-09-22 17:52] flyingcircle commented on #2597
Try this:

[code]

[2020-09-22 18:25] Monte9 commented on #1857
I have made the required changes on GoDaddy

<img width="1175" alt="Screen Shot 2020-09-22 at 11 37 15 PM" src="https://user-images.githubusercontent.com/7840686/93922025-022cc480-fd2f-11ea-9800-11970fa6c446.png">

[2020-09-22 18:25] jspizziri opened #2600 "Docs Website Broken"
Doc's website is `404`ing for all assets.

**Explain what you did (Required)**

Visited https://reactnativeelements.com/

**Expected behavior (Required)**

Website works.

**Screenshots (Required)**

![Screen Shot 2020-09-22 at 1 20 38 PM](https://user-images.githubusercontent.com/1452066/93921947-e72e6600-fcd6-11ea-86f6-d0a04ffa27e9.png)
![Screen Shot 2020-09-22 at 1 18 29 PM](https://user-images

[2020-09-22 18:27] Monte9 commented on #2600
Good catch! This is WIP currently as part of https://github.com/react-native-elements/react-native-elements/issues/1857

We are aware of it and working to fix it ASAP

[2020-09-22 18:29] jspizziri commented on #2600
@Monte9 , thanks for the update!

[2020-09-22 18:38] rarenatoe commented on #2597
Thanks @flyingcircle, I tried this before but it doesn't seem to align it to the top anymore, but rather it centers it.
There might be something else to tweek in the style that I haven't tried before....

[2020-09-22 19:07] Monte9 commented on #2600
Website should be live here: https://reactnativeelements.com/

[2020-09-22 19:07] #2600 closed

[2020-09-22 19:08] Monte9 commented on #1857
This work is done thanks to @flyingcircle! 👏

New website is live here: https://reactnativeelements.com/

[2020-09-22 19:08] #1857 closed

[2020-09-22 19:41] flyingcircle commented on #2597
I don't know what to tell you, this was a basic refactor, so nothing should have changed. The part of the code that renders the `rightElement` wasn't changed at all.

[2020-09-22 21:19] rarenatoe commented on #2597
Sorry, yeah, I just tried it again, for whatever reason it works. Thank you.

[2020-09-22 21:19] #2597 closed

[2020-09-23 06:31] pranshuchittora opened #2602 "Roadmap for reactnativeelements.com"
Just a thought.
Instead of hosting docs directly to the https://reactnativeelements.com/ we can serve a landing page and then the user can either go to docs, OC, etc.

[2020-09-23 13:52] akhatriST commented on #2427
@flyingcircle  Since the fix has been merged, will it be available before 3.0.0 ?

[2020-09-23 14:19] flyingcircle commented on #2602
I'm not sure I understand. The homepage for the website is already a landing page and links to any additional tool (eg. a future Playground for instance) can be added to the menu on top or the homepage itself.

[2020-09-23 14:20] flyingcircle commented on #2427
@akhatriST yes. We're hoping to wrap up the 3.0 release by end of next week.

[2020-09-23 15:13] akhatriST commented on #2427
@flyingcircle Sounds great

[2020-09-23 17:46] #2153 closed

[2020-09-23 18:12] jspizziri commented on #2600
@Monte9 , docs site is down again.

[2020-09-23 18:50] jspizziri commented on #2600
back up.

[2020-09-23 19:01] pranshuchittora commented on #2600
Going to Versions > Next  might work  Unfortunately the search is not
working too.

On Thu, 24 Sep 2020, 00:21 Jacob Spizziri, <notifications@github.com> wrote:

[2020-09-24 07:29] ugrdursun commented on #2059
Hello, I am experiencing same issue; changed line 137 with 138 as you told but it did not solve the issue.

Any recommendation ?

[2020-09-24 08:04] pranshuchittora commented on #2059
Use `container style` for the following purpose.
You can test the following functionality here -> https://react-native-elements-playground.netlify.app

[2020-09-24 08:09] ugrdursun commented on #2059
Ahh ok, Turns out im using 1.2.7; I think this is fixed at next releases

[2020-09-24 09:08] Monte9 commented on #2602
Can we add more images to the landing page please? It looks too boring right now.. as it's mostly just text. 😄

[2020-09-24 11:12] jameschetwood opened #2603 "Tooltip position is wrong (always at top of the screen) on web"
I'm using the Tooltip component with React Native Web.

I expect the Tooltip to behave the same way as it does on native. However the overlay position is always at the top of the screen, not near its "trigger" as it should be.

I'm using version 2.3.2.

https://snack.expo.io/@jamesweblondon/thankful-truffle

[code]

![Screenshot 2020-09-24 at 12 11 19](https://user-images.githubusercontent.com/614

[2020-09-24 14:15] flyingcircle commented on #2603
`Modal` is  not currently supported by `react-native-web`: https://github.com/necolas/react-native-web/issues/1020

[2020-09-24 14:15] #2603 closed

[2020-09-24 14:38] pranshuchittora commented on #2603
@jameschetwood you can always track the component compatibility over here -> https://github.com/necolas/react-native-web#components

[2020-09-24 14:43] pranshuchittora opened #2604 "Docs: Arrange props alphabetically"
The documentation of all components lists the `props` as well as their usage. It would be great if we arrange the `props` list alphabetically to make it easier to find the required props.

Just like the [expo docs](https://docs.expo.io/versions/v39.0.0/react-native/pressable/) and others.

**Proposed Fix**
The docs are written using `markdown` and can be found [here](https://github.com/react-nativ

[2020-09-24 18:30] a-developer-and-her-mac commented on #2604
So this would be just rearranging the props list in each markdown file to be alphabetical?

[2020-09-24 18:36] pranshuchittora commented on #2604
Yeah @a-developer-and-her-mac the idea to make prop search more fast and intuitive for the mobile users as `Find` in a page takes a lot of clicks.
Thanks for taking this issue. Assigning it to you :)

[2020-09-24 23:30] flyingcircle commented on #2604
Avatar was done in: #2605

I'm also fine if someone wants to do more than one component per PR if that is easier.

[2020-09-24 23:39] a-developer-and-her-mac commented on #2604
Alright, I'll try to do at least two per PR. If it's alright though, I might wait for a week so the rest can count towards Hacktoberfest.

[2020-09-25 06:10] pranshuchittora commented on #2604
Removing all assignees as this is a big issue so multiple people can work on this simultaneously.

[2020-09-25 09:19] mukuakhilesh commented on #2604
As there can be multiple assignees, can I take up and edit few of the component's markdown files ?

[2020-09-25 09:36] pranshuchittora commented on #2604
@mukuakhilesh go ahead :)
Pls, comment here about the components you will work upon, in order to avoid duplicate PRs.

[2020-09-25 09:53] mukuakhilesh commented on #2604
I can work upon [checkbox.md](https://github.com/react-native-elements/react-native-elements/tree/next/website/docs/checkbox.md) for now, if no one has started to work on it.

[2020-09-25 09:58] pranshuchittora commented on #2604
Great, adding this to the issue description :)

[2020-09-25 12:39] fendyk opened #2606 "linearGradientProps inside React navigation 5 custom header prop causes crash when opening published app"
**Explain what you did (Required)**

I am trying to add the header component to my React navigation 5 stack navigator with gradients

**Expected behavior (Required)**

It will show my header in lovely gradient colors

**Describe the bug (Required)**

In production and development mode, evertything works fine. But when I publish the app, it causes an crash and no errors.

**To Reproduce (Required)*

[2020-09-25 14:52] #2606 closed

[2020-09-25 14:52] fendyk commented on #2606
I forgot to add this:
`ViewComponent={LinearGradient} // Don't forget this!`

[2020-09-25 15:29] ujjwal404 commented on #2604
@pranshuchittora , I made a pull request in which I arranged props of image.md file in order. Can you please check.

[2020-09-26 16:47] lorensr opened #2609 "Demo broken"
After clicking `Try the demo app`

![image](https://user-images.githubusercontent.com/251288/94345759-4c939700-fff6-11ea-940a-eba36036bbc0.png)

I'm taken to:

https://expo.io/@flyingcircle/react-native-elements-app

When I scan the QR code, the expo app opens with:

![IMG_3631](https://user-images.githubusercontent.com/251288/94345743-46051f80-fff6-11ea-853e-79ecb18c72e4.PNG)

(Opening other expo

[2020-09-26 18:53] laxmy commented on #2591
Hi @pranshuchittora , Can I take this up?

[2020-09-26 20:03] a-developer-and-her-mac commented on #2604
I'll start working on badge.md and button.md.

[2020-09-26 21:04] fullhdpixel opened #2611 "tooltip example gif image URL is broken from docs"
**Explain what you did (Required)**
Going to this page: https://reactnativeelements.com/docs/tooltip
**Expected behavior (Required)**

Show me an image/gif for the tooltip

**To Reproduce (Required)**

Go to the above page

**Screenshots (Required)**

![image](https://user-images.githubusercontent.com/7371397/94350234-9c9d4880-004c-11eb-9e48-23e0abc06155.png)

**Your Environment (Required):**

Mac

[2020-09-26 22:00] JB1905 opened #2613 "Broken URLs in versioned_docs"
This issue is connected with #2611. After URLs change, some asset sources are broken.
I can help you with this problem 😃

[2020-09-26 22:10] JB1905 opened #2614 "homePageId is deprecated (Docusaurus 2 config)"
Full message during website startup (Docusaurus 2.0.0-alpha.64):

[code]

I can prepare PR to fix this issue 😃

[2020-09-27 03:49] mukuakhilesh commented on #2604
@pranshuchittora I have made a pull request for checkbox.md. Can you check it once.

[2020-09-27 10:14] #2611 closed

[2020-09-27 18:30] mukuakhilesh commented on #2604
I will like to take up [header.md](https://github.com/react-native-elements/react-native-elements/blob/next/website/docs/header.md) and [icon.md](https://github.com/react-native-elements/react-native-elements/blob/next/website/docs/icon.md), if no one has started working on it.

[2020-09-27 18:52] pranshuchittora commented on #2604
Sure, Pls go ahead :)

[2020-09-27 19:22] JB1905 commented on #2604
@pranshuchittora add Tooltip to Progress as done

[2020-09-28 15:16] jochercoles opened #2617 "Question about use Input component to read barcode with external device."
Hi colleagues, I'm using the input component where I need read a barcode with an Unitech Ring Scanner. When I do a read, this code input in ladder way, but If I use the internal Scanner of mobile, the code input OK.

I paste a capture return by the app.

[Mon Sep 28 2020 12:13:47.160]  LOG      142 A
[Mon Sep 28 2020 12:13:47.280]  LOG      142 AS
[Mon Sep 28 2020 12:13:47.418]  LOG      142 ASI
[

[2020-09-29 06:25] flycj commented on #2310
@walterholohan  I have the same issue too. It seems that the declaration merging is not working.

[2020-09-29 07:25] flycj commented on #2310
I have solved this problem
Need to add import'react-native-elements' at the top of the file

[2020-09-29 09:52] walterholohan commented on #2310
Same here, in order to resolve the issue I had to add `import {Colors, FullTheme} from 'react-native-elements'` to the top of the file. Example of my declaration file below

e.g.
[code]

[2020-09-29 10:57] mbeuil commented on #2604
Hey ! if nobody work on those can I take tile.md  and slider.md ?

[2020-09-30 17:04] pranshuchittora commented on #2604
Sure

[2020-10-01 11:11] mbeuil commented on #2604
slider and tile were done in : #2619 .
(Don't know how to link a PR to an issue sorry -_-)

[2020-10-01 14:43] ujjwal404 commented on #2604
I've made a pull request and sorted component in overlay.md file. #2622 .

[2020-10-01 17:34] pranshuchittora commented on #2604
Great. Go Ahead :)

[2020-10-02 18:53] eddyhdzg commented on #2310
How can I add variants other than h1, h2, h3, h4?

What I want to achieve is something like

Theme
[code]
Usage
[code]

[2020-10-02 18:55] eddyhdzg opened #2623 "How to customize and add variants to Text or other components?"
How can I add variants other than h1, h2, h3, h4?

What I want to achieve is something like

Theme
[code]
Usage
[code]

The customization page didn't work for me.
https://reactnativeelements.com/docs/customization#typescript-definitions-extending-the-default-theme

[2020-10-03 09:28] pranshuchittora commented on #2617
Hi @jochercoles that's unfortunate that you are facing this issue.
But I am not able to reproduce the following issue in my system. I would be great if you can provide a demo reproducing the following issue on https://snack.expo.io/

[2020-10-03 09:29] pranshuchittora commented on #2592
@tarunyadav1 we will be releasing the v3 soon, it would be great if we can fix this before the release.
Thanks :)

[2020-10-04 08:45] tarunyadav1 commented on #2592
@pranshuchittora I am unable to fix the issue. I am new to open source, can you guide me a little bit.

[2020-10-04 08:59] pranshuchittora commented on #2592
No worries :)
I have already given the code pointer above which points to the exact line which is causing the issue. Kindly read the Contributing guide https://reactnativeelements.com/docs/contributing

[2020-10-04 09:20] tarunyadav1 commented on #2592
@pranshuchittora  Please review my pull request #2625

Thank You

[2020-10-05 12:53] jqn commented on #2369
This might be a better explanation:

[code]

[2020-10-06 10:56] pranshuchittora opened #2626 "chore: Create and maintain CHANGELOG.md"
**Description**
Create a CHANGELOG file which can be helpful while releasing a new build.

**Why?**
On creating a new release the maintainer has to go through a lot of PRs which got merged for the following release which is time-consuming and sometimes it is not possible to traverse through all PRs.

**How it can help?**
If we maintain a changelog and update it one in a while or for every PR then

[2020-10-06 13:06] sanskritip commented on #2604
I would like to work on input.md  and labels.md if no one has started working on it!

[2020-10-06 13:16] sanskritip commented on #2604
I would like to work on searchbar.md and listitem.md if no one has started working on it!

[2020-10-06 13:53] pranshuchittora commented on #2604
Ya sure, pls go ahead :)

[2020-10-06 14:37] #2614 closed

[2020-10-06 15:33] flyingcircle commented on #2609
Fixed now. Not sure why it disappeared.

[2020-10-06 15:33] #2609 closed

[2020-10-06 15:34] flyingcircle commented on #2613
You'll have to be more specific. I don't see any broken links, and docusaurus does a pretty good job of finding them before it gets published.

[2020-10-06 15:34] #2613 closed

[2020-10-06 15:37] flyingcircle commented on #2617
@jochercoles if you can provide more info, I'll reopen the ticket.

[2020-10-06 15:37] #2617 closed

[2020-10-06 15:39] flyingcircle commented on #2623
You would create your own `Text` component. You can look at the code for `Text` to see how the `h` props were created and do something similar for your own component.

[2020-10-06 15:39] #2623 closed

[2020-10-06 17:24] kickbk opened #2628 "Expo 39 PadView Function components cannot be given refs"
Hi guys,
I just upgraded to Expo 39 and I'm getting some errors. I wouldn't be surprised if it was not the last one I'll encounter since Expo 39 is very new.

The full warning I'm getting is:

[code]
The issue is possibly here: https://github.com/react-native-elements/react-native-elements/blob/ed6e90d55f18f371ce606019c28f937f816ea3a8/src/list/ListItem.js#L358 where you use a `createRef`, which no

[2020-10-06 18:44] sanskritip commented on #2604
Made a PR - Docs: arrange props alphabetically in searchbar.md, listitem.md #2629 . Kindly review it :)

[2020-10-06 19:46] Roka20012 commented on #2626
@pranshuchittora hey man 👋
So If I got it right I need to start from this -> [PR](https://github.com/react-native-elements/react-native-elements/pull/2551) and go from every that has been merged to get changes
Then you or somebody will review?

[2020-10-06 20:24] pranshuchittora commented on #2626
Hi @Roka20012
Yes you are right, we have to make a changelog from that PR.
I am thinking of creating 4 categories.
- Fix - For bug fixes
- Feat - New Features
- Chore - Other changes like deps updates, tests etc.
- Tooling - Improvements in the project setup like test setup. In short, any change except `src`

Would love to hear your thoughts too.

[2020-10-06 20:32] pranshuchittora commented on #2628
Hi, @kickbk that unfortunate that you are facing such error :disappointed:
I am not able to investigate the following error properly, can you provide a simple demo reproducing the following error on the https://snack.expo.io/

By the way, are you trying to reference the following ListItem?

[2020-10-06 21:23] oporter1 opened #2630 "Android individual star images are not showing. Instead they are coming in as a single bar."
**Explain what you did (Required)**
I implemented react-native-ratings in my react native app. It is working as expected on iOs but on Android the star images are not displaying as separate images. Rather it is coming in as a single bar with variants in its length.

display the google star ratings on an andriod

**Expected behavior (Required)**
the star images to be visible and separated.

the sta

[2020-10-06 21:34] kickbk commented on #2628
@pranshuchittora thanks for replying. So I did some more debugging.

I am getting the error I pasted above when I add `linearGradientProps`. When I remove it, no error. I am also using the same code as in your example:
[code]

[2020-10-06 21:39] pranshuchittora commented on #2628
Hi @kickbk no worries. I have to take a deep dive to investigate the following issue.
Happy Hacking :)

[2020-10-06 21:47] pranshuchittora commented on #2628
Able to reproduce. IMO forwarding the ref will resolve the issue, just an early insight.
![Screenshot from 2020-10-07 03-16-36](https://user-images.githubusercontent.com/32242596/95263524-8876f980-084b-11eb-8aec-2d25bd5ba517.png)

![Screenshot from 2020-10-07 03-15-45](https://user-images.githubusercontent.com/32242596/95263532-8c0a8080-084b-11eb-832e-469a140874ea.png)

[2020-10-06 21:50] kickbk commented on #2628
@pranshuchittora by "forwarding the ref" you mean changing the library code that I mentioned or something I can do on my end?

[2020-10-06 21:52] pranshuchittora commented on #2628
The library is not forwarding the ref, which is the cause of the error.
That's from the libs end. I will try to fix this ASAP.
Once fixed you can use the `next` branch as your dependency's version.

[2020-10-06 21:54] kickbk commented on #2628
Thank you @pranshuchittora

[2020-10-06 21:54] pranshuchittora commented on #2628
Thanks for reporting :+1:

[2020-10-06 22:19] pranshuchittora commented on #2628
Hi @kickbk
A workaround solution for this (Expo only)

Remove ` ViewComponent={LinearGradient}` this line.
Can you confirm whether the error is still occurring or not?

[2020-10-06 22:22] kickbk commented on #2628
Where do you find this line? I don't have it in my code anywhere

[2020-10-06 22:34] pranshuchittora commented on #2628
[code]

From the docs

[2020-10-06 22:35] Roka20012 commented on #2626
Cool works for me 👍
I will start from `New Features`

[2020-10-06 23:37] kickbk commented on #2628
Oh sorry, I got confused. I am using expo so I already have removed that line long ago. Still got the error.

[2020-10-07 05:38] dummy26 commented on #2604
Hi! Just made a PR - Arranged props alphabetically in pricing.md #2631.

[2020-10-07 05:40] dummy26 commented on #2604
Is someone working on rating.md. If no, then I can take it up.

[2020-10-07 07:31] hankstenberg opened #2633 "Error with ListItem and react-native-web"
After the upgrade of RNE from 2.2.something to 2.3.2 I'm getting the following error in when trying to render a ListItem in the browser (using expo and react-native-web):

`TypeError: react_native_web_dist_exports_Platform__WEBPACK_IMPORTED_MODULE_10__.default.select(...) is undefined`

Looking at the source code I see that the following call in ListItem:

[code]

So it looks like `Platform` is no

[2020-10-07 08:16] pranshuchittora commented on #2628
Can you share exactly what props you are passing? It would be great if you can share that exact component here.

[2020-10-07 08:17] pranshuchittora commented on #2633
Hi can you share a demo reproducing the following error on snack? That would help a lot in fast-tracking the issue resolution :)

[2020-10-07 08:21] pranshuchittora commented on #2604
Hi @dummy26 thanks, I have merged your PRs.

[2020-10-07 11:50] varungarg168 commented on #976
inputContainerStyle={{backgroundColor: 'white'}}
        leftIconContainerStyle={{backgroundColor: 'white'}}
        inputStyle={{backgroundColor: 'white'}}
        containerStyle={{
            backgroundColor: '#1e3d59',
            justifyContent: 'space-around',
            borderTopWidth:0,
            borderBottomWidth:0,
          }}

[2020-10-07 14:08] kickbk commented on #2628
[code]

Which, by the way, gives me typescript errors as well (unrelated to this original issue and was giving errors before the upgrade to expo 39. Just wanted to mention it)

[2020-10-08 05:17] nkhalsa opened #2634 "MaximumValue on Slider creates mismatch between thumb position and actual value / track position"
**Explain what you did (Required)**
I added the maximumValue field to a slider to make it 0-100, incrementing by 1:
[code]

**Expected behavior (Required)**
It did work as expected, making such a slider.

**Describe the bug (Required)**
However, only track position showed the correct value. The thumb did not.

**To Reproduce (Required)**
This code should be sufficient to reproduce it
**Screenshots

[2020-10-08 06:09] nkhalsa commented on #2634
Update: this was "fixed" by putting the Slider's value-related props before the style-related props. It doesn't necessary fix the problem, but it provides a solution in case anyone else was having it.

[2020-10-08 07:11] nkhalsa commented on #2634
Update: It appears the SliderThumb component starts with start == 0, then on the next update the value changes but it doesn't re-render

[2020-10-08 07:20] hankstenberg commented on #2633
Hi pranshuchittora, thanks for the quick reply.

Here you go: https://snack.expo.io/rGHEaYbtn

[2020-10-08 10:14] JRamonMC commented on #2143
Any updates here? I've tried
` <Avatar rounded  title={user_name.slice(0,1)}>`
But doesn't work, nothing happens

[2020-10-09 11:59] Rutger commented on #2431
I'm also having this issue. I think it only happens when the **debugger** is on.

[2020-10-09 20:58] dominick-designs opened #2636 "how to close a full screen overlay?"
**Is your feature request related to a problem? Please Describe.**

See the [Overlay element](https://reactnativeelements.com/docs/overlay/#fullscreen) with a ```fullScreen``` prop which takes a boolean. I don't see an option to EXIT the ```fullScreen```.

**Describe the solution you'd like**

My issue is that I don't see a way to close the full screen overlay modal.

**Describe alternatives you'v

[2020-10-11 21:13] pranshuchittora commented on #2636
Have you tried changing [isvisible](https://reactnativeelements.com/docs/overlay/#isvisible) prop to false from a CTA in the fullscreen overlay?

[2020-10-11 21:24] pranshuchittora commented on #2634
Hi @nkhalsa I have tested the following bug and it's working perfectly in the latest codebase and the following changes will be released soon in `v3`.

It would be great if it is possible for you to test the `v3` beta for the following fix.

You can use it by changing the version in `package.json` like this

https://github.com/react-native-elements/react-native-elements-app/blob/35c23a00e4b51d3553

[2020-10-11 21:31] pranshuchittora commented on #2633
The snack demo is working perfectly.

![Screenshot from 2020-10-12 02-59-57](https://user-images.githubusercontent.com/32242596/95690686-0dd92000-0c37-11eb-83a4-2b0f789aceb0.png)

If you are talking about this error

![Screenshot from 2020-10-12 03-00-07](https://user-images.githubusercontent.com/32242596/95690701-20535980-0c37-11eb-92ce-20d4fab3ca52.png)

Then this got fixed and will be released

[2020-10-11 21:43] pranshuchittora commented on #2630
Hi @oporter1 I tried running the above-mentioned code and unfortunately I am not able to reproduce the following issue.
Here's the snack demo -> https://snack.expo.io/9w6aU8DQ8

[2020-10-11 22:26] dominick-designs commented on #2636
Thanks for the reply! I was thinking to do that but I can’t think of a way to trigger this when it is open. The original state is invisible and it becomes visible when the button is tapped and it takes up full screen; but I cannot think of a way to trigger it to make isVisible === false

[2020-10-11 22:40] nkhalsa commented on #2634
Thank you @pranshuchittora it works

[2020-10-11 22:40] #2634 closed

[2020-10-11 23:09] Roka20012 commented on #2626
@pranshuchittora Hey man 👋
Seems like I have a big workload and I'll not be able to do that sorry 😿
So if somebody wanna do that feel free

[2020-10-12 03:27] dominick-designs commented on #2636
The problem is that I don't see how to use [```onBackdropPress```](https://reactnativeelements.com/docs/overlay/#onbackdroppress) if there is no backdrop visible?

[2020-10-12 07:19] pranshuchittora commented on #2636
This will work only if the `fullScreen` is false. So the recommended way is to change the visibility prop via a state change

[2020-10-12 07:19] pranshuchittora commented on #2626
No worries :)

[2020-10-12 18:19] dominika-zajac commented on #2626
Hi!

Have you thought about an automated solution? Using e.g. auto-changelog you can easily generate sth like changelog.md in my PR (or think about a more customized template). All changes needed for POC are here: https://github.com/react-native-elements/react-native-elements/pull/2637

Of course, the next step should be to use that command in automatization (perfectly, on merge to master) - but f

[2020-10-12 20:02] hankstenberg commented on #2633
Looks like it is a browser question.

On firefox I get:

On Chrome I indeed get:

Looking forward to the release, then.

[2020-10-14 06:24] fengmingye commented on #2431
I'm also having this issue. I also happens when the debugger is off

[2020-10-14 08:40] pranshuchittora commented on #2431
Can you provide a demo on the snack, reproducing the following issue? And the version of rne you are using too.

[2020-10-15 02:25] dominick-designs commented on #2636
I ended up using ```TouchableOpacity``` with the code that is in the expo demo to show an overlay:

[code]

[2020-10-15 04:00] baileytincher commented on #2633
Is there a short-term workaround or can a v3 alpha version be uploaded to npm? @pranshuchittora

[2020-10-15 13:41] vhesener commented on #2136
This saved me time, actually. Thanks! I did the same thing and found your issue while searching.

[2020-10-16 06:34] SaveYourTime commented on #2571
@pranshuchittora I'm facing this issue as well, and it seems to be fixed in 3.0.0.
What's is the current workaround to fix this in the 2.x version?

[2020-10-16 06:44] pranshuchittora commented on #2571
Hi @SaveYourTime IMO there's no workaround for this in v2.x.
We are ready to ship v3, unfortunately, there's a blocking issue from the `expo`'s end. Once that gets merged we will release v3 :)

[2020-10-16 11:07] #2626 closed

[2020-10-16 14:59] akhatriST commented on #1844
Anyone unable to use underlayColor, In order to change the underlayColor, you need to pass in the `Component` as `TouchableHighlight` like this
[code]

[2020-10-17 08:09] pranshuchittora commented on #2636
Great :+1:
Happy Hacking :)

[2020-10-17 08:09] #2636 closed

[2020-10-17 08:10] pranshuchittora commented on #2633
Hi @baileytincher we have released `v3` in alpha, I hope this will help.
Happy Hacking :)

[2020-10-17 08:10] #2633 closed

[2020-10-17 16:00] chas-e commented on #2604
I will work on bottomsheet if that still needs alphabetizing.

[2020-10-17 16:05] chas-e commented on #2604
I will alphabetize input.md's props.

[2020-10-17 16:14] flyingcircle commented on #2630
Closing due to in ability to reproduce

[2020-10-17 16:14] #2630 closed

[2020-10-17 17:35] baileytincher commented on #2633
@pranshuchittora hmm I updated to `3.0.0-alpha.1`, but I'm seeing the same error listed above for web. It seems that the default theme only recognizes `ios` and `android` as platforms and not `web`.

Here's a very rough example of a workaround I found to manually set the theme :/

[code]

[2020-10-18 07:15] jehielmartinez commented on #2592
Can I work on this one?

[2020-10-18 20:10] Selman555 commented on #1793
When you're done headbanging a hole in the wall like me, you might want to check if you're importing `SafeViewArea` from `react-native` and not from `react-native-safe-area-context`.

I hope this helps someone. Now please excuse me while I bang my head a few more times for not noticing.

[2020-10-21 09:12] zivchen commented on #2006
If anyone is interested in a temporary fix i did the following:
I made an empty json file with only {} named emptyGlyph.json

on my webpack.config.js config file, in the alias part i added these line so it will replace all my unused fonts with the empty JSON file.
`
        './glyphmaps/AntDesign.json': path.resolve(__dirname, './mocks/emptyGlyph.json'),
        './glyphmaps/Entypo.json': path.res

[2020-10-21 15:54] IlyaSemenov opened #2647 "Custom theme is lost after switching dark mode"
**Explain what you did (Required)**

I am running an app that updates the theme dynamically  **and** uses custom themes, with this:

[code]

I start the app in Dark mode on iOS simulator, then press Cmd-Shift-A twice (switch to light and back to dark).

**Expected behavior (Required)**

The app shows custom dark theme (red primary color), then switches to custom light theme (violet primary color),

[2020-10-24 13:15] vividh commented on #2647
Seems like a straightforward fix. May I claim this issue?

[2020-10-25 07:06] rambunctiousmonk opened #2649 "Demo app not working on Expo"
**Explain what you did (Required)**

Attempted to run the demo app on Expo by following this link from the readme: https://expo.io/@monte9/react-native-elements-app

**Expected behavior (Required)**

Expo should have opened the sample app with options to run in browser/on a device

**Describe the bug (Required)**

Error message from Expo:
This project uses Expo SDK v34.0.0. If you want to open thi

[2020-10-25 07:47] Karthik-B-06 commented on #2588
A great library for react-native. How about having a Switch Component?
I have created a separate library though, you can have a look at it [here ](https://github.com/timelessco/react-native-reanimated-switch).

I hope it can be added to react-native-elements.

[2020-10-25 12:13] pranshuchittora commented on #2588
Hi @Karthik-B-06 thanks for such awesome words.
Great component btw, but we are open to add new generic components to the lib, but the current priority is to make the design consistent and improve performance. But, its not limited to those changes only :)

[2020-10-25 19:11] vividh commented on #2647
Didn't hear back, but have fixed this in https://github.com/react-native-elements/react-native-elements/pull/2650. Took the liberty of also adding another test case. Please check it out and let me know if any changes are required. Thanks :)

[2020-10-26 02:13] JiriJAdam commented on #2604
Hello! Can I work on this?

[2020-10-28 02:54] ahummel25 opened #2652 "Invalid prop `buttonStyle` supplied to `Button`"
**What I did**

I'm currently on React Native version `0.63.3`, React Native Web version `0.14.3`, and React Native Elements version `3.0.0-alpha.1`.

I get the below error in the console on a simple `Button` import and rendering. Looking at the TS declarations on `Button`, `buttonStyle` is clearly a valid prop from the extended `ButtonProps` interface in `react-native-elements`.

I think the issu

[2020-10-28 14:53] PropeReferio commented on #2604
Any other docs here that need help? I'd like to work on this.

[2020-10-28 15:51] javida1492 opened #2654 "Ability to add additional icons to the search bar, such as a filter & sort."
I wanted to implement a search bar with an integrated filter button, such as the Airbnb search bar, but currently the prop set provided does not allow for this.

Alternatives I've considered are to create my own custom search bar.

See below image for Airbnb example that I am trying to replicate.
![image](https://user-images.githubusercontent.com/44504197/97461119-d0051880-1913-11eb-9c0b-c5e078db9

[2020-10-28 17:43] kuldip-techholding opened #2655 "Tooltip outside click to hide not working in iOS 14"
[code]

[2020-10-30 09:01] cnhsttyle opened #2657 "On iPhone 12, Header works incorrectly."
![Simulator Screen Shot - iPhone 12 - 2020-10-30 at 17 59 08](https://user-images.githubusercontent.com/15974698/97680321-db09a580-1ad9-11eb-839b-d8bd158d7ea3.png)

Up to iPhone 11, it responds well to safearea and works properly.
But My iPhone 12 Simulator, Header works incorrectly.

my package.json... "react-native-elements": "^2.3.2".
please help me

[2020-10-30 10:24] ElchinJ commented on #1870
How did you fix that?

[2020-10-31 05:46] carlost opened #2659 "various style props using incorrect PropsType validation"
**Explain what you did (Required)**

Used a compiled react-native StyleSheet object to style a react-native-elements Button component.

**Expected behavior (Required)**

The Button component uses the stylesheet to control how it was displayed ... and it doesn't complain about it.

**Describe the bug (Required)**

The style prop was used by the component.  However, it logged a prop-type violation m

[2020-10-31 11:25] JB1905 commented on #2657
This problem is connected with https://github.com/ovr/react-native-status-bar-height/issues/17

[2020-11-02 06:51] thaiphamvan opened #2661 "Please add props custom style OverLay Component"
Please check example my fork
https://github.com/thaiphamvan/react-native-elements/commit/4521dcbb6096059534ddd3ea56a42c1da56cc040

[2020-11-02 06:55] thaiphamvan commented on #2661
Example: Add a style when the Keyboard is open or close.

[2020-11-02 11:03] iqbalfaisal opened #2662 "Error while updating property 'nativeBackgroundAndroid' of a view managed by: RCTView"
Android API: 19
![Screenshot_1604314895](https://user-images.githubusercontent.com/46706064/97861012-e7ce0980-1d24-11eb-99d7-84300e578b32.png)

**Your Environment (Required):**

| software              | version |
| --------------------- | ------- |
| react-native-elements |   ^2.0.0      |
| react-native          |   0.63.2      |

[2020-11-02 12:24] pakjiddat opened #2663 "Avatar and Card components do not show static images"
**I tried to use a static image with the Avatar and Card components**

**I expected the images to show correctly**

**Instead of the static image, a gray placeholder image shows**

**Try the following steps:**

1. Try the following code:
`<Avatar source={require('./images/image-name.png')} />`

2. The code works in snack.expo.io, but does not work in Android emulator

3. See following screenshot o

[2020-11-02 16:33] leidto commented on #2663
Temporary workaround:
`<Avatar placeholderStyle={{ backgroundColor: 'transparent' }} source={require('./images/image-name.png')} />`

[2020-11-03 07:01] crabbynguyen opened #2664 "Header does not have shadow style"
**Is your feature request related to a problem? Please Describe.**
I want to add shadow to my Header component. I have tried to add

`shadowColor: '#000000',
    shadowOffset: {
      width: 0,
      height: 3
    },
    shadowRadius: 5,
    shadowOpacity: 1.0`

to `containerStyle` but it seems did not work

**Describe the solution you'd like**
By default Header should have shadow

**Describe alte

[2020-11-03 12:28] pakjiddat commented on #2663
Adding transparent background color to the placeholder worked. The Avatar image is now showing correctly. Thanks.

Adding the following code to the Card.Image element fixes the problem with showing card image:

`placeholderStyle={{ backgroundColor: 'transparent' }}`

[2020-11-03 12:52] enigmablue opened #2665 "Any chance to support GIF with the <Image> ?"
Currently it dosen't seem i can play GIF in the Image component
Any chance it can be supported?

[2020-11-03 20:21] zachgibb opened #2666 "Allow ReactNode to be passed as prop to Button title"
I would love to have more flexibility in customizing the Button contents. There are two use cases that I've run into which are currently not possible in the current implementation.
 - adding a subtitle
    <img width="381" alt="Screen Shot 2020-11-03 at 3 11 46 PM" src="https://user-images.githubusercontent.com/8093376/98036211-a3f00880-1de7-11eb-8be1-5f1013bd96f7.png">
- text with different styli

[2020-11-04 12:31] infothien commented on #2663
@pakjiddat , I got the pr for fixing you dont mind give it a check !

[2020-11-04 13:09] nimabrownlee opened #2668 "Make SearchBar iOS version more compact"
**Is your feature request related to a problem? Please Describe.**
Right now when using the iOS version of the SearchBar, the input has too much vertical padding. And I've tried every style prop to decrease it but it doesnt work.

**Describe the solution you'd like**
Be able to make SearchBar more compact just like the true iOS style.

**Additional context**
Here is what it looks now: https://i.im

[2020-11-04 16:19] pranshuchittora commented on #2588
Kudos to all the new and old collaborators. It was an honour collaborating will all of you
Thank you all for such a great response. :confetti_ball:

[2020-11-04 16:19] #2588 closed

[2020-11-04 16:34] pranshuchittora commented on #2649
Hi @rambunctiousmonk that's quite unfortunate. But I am not sure about the support of the demo app.
We are working on some cool component playground. It's in a very early stage but would love to have your valuable feedback on the same.

https://react-native-elements-playground.netlify.app/

[2020-11-04 16:35] #2649 closed

[2020-11-04 16:43] pranshuchittora commented on #2652
Hi @ahummel25 sad to hear that.

I tried to reproducing the following issue.
So we are working on a React Native Elements showcase for web -> https://react-native-elements-playground.netlify.app/
This uses react-native-web and it tried reproducing the same in the dev build but didn't get any warning.

Also the buttonStyle is also defined in the TypeScript definition
https://github.com/react-native

[2020-11-04 16:46] pranshuchittora commented on #2654
Hi @javida1492 thanks for reaching out. This looks interesting, but as a UI library, we are bound to implementing general UI components with high customization so we cover a wide range of use cases. I am not sure about going ahead with the implementation of the following component.

[2020-11-04 16:47] pranshuchittora commented on #2654
Closing this now. But feel free to open this any time for any discussion.

Happy Hacking :)

[2020-11-04 16:47] #2654 closed

[2020-11-04 16:48] pranshuchittora commented on #2657
Thanks @JB1905

[2020-11-04 16:52] pranshuchittora commented on #2661
@thaiphamvan thanks for reaching out.
That looks interesting, but as a component library, our aim is to build and ship general-purpose components to cover a wide range of audience.

The mentioned functionality is quite a niche and might not be required by most of the users. For the time being, I am closing this issue, feel free to reopen it any time.

Happy Hacking :)

[2020-11-04 16:52] #2661 closed

[2020-11-04 16:53] pranshuchittora commented on #2662
Hi @iqbalfaisal pls provide more details. It would be great if you can provide a demo on Snack reproducing the following error.

[2020-11-04 16:58] pranshuchittora commented on #2663
Pls refer the docs. The source mentioned here doesn't have the key named `uri`.
https://github.com/react-native-elements/react-native-elements-app/blob/35c23a00e4b51d35537e35c6c89cfa0557072207/src/views/avatars.js#L82

[2020-11-04 16:58] #2663 closed

[2020-11-04 17:02] pranshuchittora commented on #2665
Hi @enigmablue the Image component works as same as the official react-native image component. So pls refer the steps to render gif in react-native and that will work here as well.

Closing this issue, for now. Feel free to reopen this again

Happy Hacking :)

[2020-11-04 17:02] #2665 closed

[2020-11-05 12:16] pranshuchittora commented on #2668
Thanks @nimabrownlee
Thanks for pointing that out. We always try to make components more configurable. I really liked the idea.

I am thinking of a `prop` margin which can take 3 values `small`, `medium`, `large`.
Would love to discuss and refine the idea :)

[2020-11-05 19:19] brooksbecton opened #2669 "Tooltip positioning inconsistent in ScrollViews on Android"
**Explain what you did (Required)**
Put a tooltip  around text inside a scrollview.
Ran code in Android simulator.
Scroll around in view
Tap on the tooltip
Didn't see tooltip on screen or saw it incorrectly positioned
Press same tooltip again
See it work correctly

**Expected behavior (Required)**
Have the tooltip be correctly positioned consistently on Android even if scrolling has occurred.

**D

[2020-11-06 18:00] alesmraz commented on #2546
For anyone who has same issue:

**I found that problem was in font itself**. We use [Inter font](https://fonts.google.com/specimen/Inter) that transform sign. Nothing related with React native elements.

Thanks for great library folks!

[2020-11-08 04:35] azwar commented on #253
Link was broken

[2020-11-08 04:41] azwar commented on #253
I'm waiting this component so long time and now I develop it, if there are something missing just let me know, please. Here is my pull request: https://github.com/react-native-elements/react-native-elements/pull/2670

[2020-11-08 09:27] pranshuchittora commented on #253
A basic dropdown is quite easy but considering the compatibility and use cases, I would prefer using https://www.npmjs.com/package/@react-native-community/picker this.

[2020-11-09 12:41] tarung commented on #1622
Found this after searching a lot, and worked fine Thanks!!

[2020-11-09 19:26] scousino opened #2673 "Tile Component is missing typings for certain props"
**Explain what you did (Required)**
Installed v2.3.2 and imported and used the Tile component.

**Expected behavior (Required)**

Expected all props listed on the documentation to be available as fields on TileProps

**Describe the bug (Required)**

titleNumberOfLines, and possibly other props are not a part of the typings declaration in the latest version. Even though they are in the documentatio

[2020-11-09 19:40] scousino commented on #2673
I'd say overall the typescript definitions in this library are often out of date or not in parity with the documentation. I've come across multiple scenarios. For example, Tile has no definition for onLongPress, however it does support it because it also receives all props that TouchableNativeFeedback and TouchableOpactiy do, which includes onLongPress.

[2020-11-10 11:06] kimfucious opened #2675 "Animated: useNativeDriver Warning"
**Explain what you did (Required)**
I've implemented a Slider based on docs [here](https://reactnativeelements.com/docs/slider) in a React Native app, built with Expo, using the managed workflow.

I have seen the issue that exists in the React Native Elements repo [here](https://github.com/react-native-elements/react-native-elements/issues/2330), but it appears to be closed while the issue seems t

[2020-11-10 15:30] peterthompson commented on #2353
In the version you are using the style prop for accessory is applied to the icon and to the container 😔. So there is not a nice way around this.

[2020-11-11 06:48] sunilnirania98 opened #2677 ""react-native-elements 3.0.0-alpha.1" not showing icon "react-native-vector-icons 7.1.0""
I using latest version these versions:
react native 0.63.3
react-native-elements 3.0.0-alpha.1
react-native-vector-icons 7.1.0

i not understand what the actual issue. i try to clear every thing and try many times.
a icon code smaple is:
<Icon name='email-outline' type='material-community' />
<Icon name='key-outline' type='material-community' />
<Icon name='google' type='font-awesome' />
<Icon nam

[2020-11-11 06:49] sunilnirania98 commented on #2677
i using icon as this:-
<Icon name='email-outline' type='material-community' />

[2020-11-11 06:53] sunilnirania98 commented on #2677
sample :-
`<Icon name='google' type='font-awesome' /><Icon name='key-outline' type='material-community' />`

[2020-11-11 09:48] Simon-TechForm commented on #2657
https://github.com/ovr/react-native-status-bar-height/issues/17 has been fixed in v2.6.0 even though the issue isn't closed.

Updating to this version should fix the header issue. We have been using the fix (with patch-package) for about 10 days without any problems.

[2020-11-11 13:22] pranshuchittora commented on #2677
Hi @sunilnirania98 I am able to reproduce the same. The issue is on the React Native side, but not to worry this can be fixed by manually linking the vector-icons.

Run `react-native link react-native-vector-icons` and this will fix the issue :)

Hope it helps. Closing this for now, feel free to reopen this again.
Happy Hacking

[2020-11-11 13:22] #2677 closed

[2020-11-11 13:56] pranshuchittora commented on #2675
Hi, the slider is built by tinkering with `width` and `height` property. But the native driver understands transform only, hence supporting the native driver will require a complete refactoring of the slider.

[2020-11-11 13:58] pranshuchittora commented on #2673
I agree with you, as of now, the types are not auto-generated which leaves some grey areas. We will try to integrate some auto-type definition generator like TS or Flow.

[2020-11-11 14:17] pranshuchittora commented on #2669
This is because of wrapping `ToolTip` inside `Text`

[2020-11-11 14:17] #2669 closed

[2020-11-11 14:42] brooksbecton commented on #2669
Is there any way to use a `Tooltip` inside `Text`?

[2020-11-12 03:04] lekeCoder commented on #2662
I am having the same issue now with Android Api 19, react 16.13, react-native: 0.63.2. When I press the ListItem, the onPress action is to navigate to the next page and this error crashes the app. help somebody

[2020-11-12 18:59] AllyssaLBatten opened #2678 "Slider thumbTouchSize is not working on Android"
**Explain what you did (Required)**

Within my app, I have a Slider which has a thumb styled larger (48x48) than the default touch area (40x40). I added a thumbTouchSize value that is significantly larger (120x120). This works on iOS, but is not registering on Android. On Android, the responsive touch area is still the default 40x40.

**Expected behavior (Required)**

The Slider should register a

[2020-11-13 20:16] pranshuchittora commented on #2678
Hi, I assigned some height to the Slider using `style={{height:100}}` this fixed the issue. You can explore more in the Playground -> https://react-native-elements.js.org/#/slider

[2020-11-13 20:16] #2678 closed

[2020-11-14 11:12] #2675 closed

[2020-11-14 21:00] barbosamaatheus opened #2679 "TypeError: Cannot read property 'grey' of undefined"
**Explain what you did (Required)**

Created an expo project and added a ListItem to one of my screens using RN FlatList.

**Expected behavior (Required)**

According to the [documentation] (https: // react native elements.com/docs/listitem#using-map-function---implemented-with-avatar) on how to implement, a list of items should be displayed on my screen

**Describe the bug (Required)**

When runn

[2020-11-14 21:04] barbosamaatheus commented on #2679
I noticed that this issue was resolved in the newest version: #2561. I'm sorry.

I'm closing this problem.

[2020-11-14 21:04] #2679 closed

[2020-11-15 19:01] petr7555 opened #2680 "Add support for Windows"
**Is your feature request related to a problem? Please Describe.**
I want to use this library on Windows. Some components are fine, but components, that choose their style depending on platform do not work. This is because the library is calling react-native's _Platform.select_, which on Windows returns _undefined_.
So then `Platform.select(theme.colors.platform).grey` fails with an error _Cannot

[2020-11-16 12:14] kashmiry commented on #2657
Like _**Simon-TechForm**_ have mentioned, it has been fixed in v2.6.0.
I use Yarn, so I added a resolution to fix it temporary.
Add to package.json a resolution block if it does not exists.
[code]
Then `yarn install`

[2020-11-16 13:35] pranshuchittora opened #2681 "Deps[react-native-status-bar-height]: Upgrade react-native-status-bar-height to 2.6.0"
Fix for https://github.com/react-native-elements/react-native-elements/issues/2657

[2020-11-16 13:38] pranshuchittora commented on #2680
Hi @petr7555 that would be great. I have added this issue to our next major release roadmap. It would be great if you can help us achieve this by contributing to the project :)

[2020-11-16 19:50] Fedour57 opened #2682 "Strange onPress effect Avatar"
**Explain what you did (Required)**

I'm trying to use an Avatar as button. The user can perform a click on the button.

**Expected behavior (Required)**

I expect a standard button press.

**Describe the bug (Required)**

When the user remains pressed on the avatar there is a strange shadow effect. The shape of a octogon appears. (Watch the screenshot)

This effect only appears if an elevation st

[2020-11-16 21:53] pranshuchittora commented on #2682
Hi @Fedour57 I just tried to repro the issue on the Playground -> https://react-native-elements.js.org/#/avatar

![Screenshot from 2020-11-17 03-20-11](https://user-images.githubusercontent.com/32242596/99312415-07684480-2884-11eb-9c8b-d82a40b90973.png)

Unfortunately, I am not able to repro the issue. Can you prove more details about the platform (Android | iOS)

[2020-11-17 11:38] Yandamuri opened #2683 "Icons are not rendering in searchBar in android only"
**Explain what you did (Required)**

Arrow icon and clear icon are not rendering in searchBar

**Expected behavior (Required)**

Arrow icon should always be there left side and clear icon should be there right side when some text is entered in the searchBar

**Describe the bug (Required)**

Arrow icons and clear icons are not rendering.

**To Reproduce (Required)**

Just implement the searchBar as

[2020-11-17 20:36] Fedour57 commented on #2682
Hello, thanks you for your answer !

I'm using android.

I have the same problem on all the android devices that I have tested. Also on emulator.
The problem does not appear on IOS

After some research, I realized that the problem also appears on FAB buttons which belongs to react-native-paper. I deduce that the problem does not come from react-native-elements but a problem with my app parameters.

[2020-11-19 15:12] McFly78 commented on #2657
I just solved the issue reinstalling react-native-elements 2.3.2 to update react-native-status-bar-height to 2.6.0 version.

In package-lock-json you can see that for new react-native-elements installation the react-native-status-bar-height version that will be installed is the latest until 2.X.X

"react-native-elements": {
        ...
        "react-native-status-bar-height": "^2.5.0"

[2020-11-20 19:56] bietkul opened #2684 "Icons are not rendering with expo SDK 39"
**Explain what you did (Required)**

Check this link Icons are not working with expo SDK 39.0 but when I change it to 38.0 then it works.
https://snack.expo.io/@bietkul/b97b9f?&preview=true&platform=ios&iframeId=qn4os3zz2g&theme=dark

**Expected behavior (Required)**

Icon should render regardless of expo SDK version

**Describe the bug (Required)**

**To Reproduce (Required)**

We highly recommen

[2020-11-21 13:53] rmovieira commented on #2683
Same Issue here :(

[2020-11-21 16:20] pranshuchittora commented on #2683
Kindly refer this and let me know it works or not :)
https://github.com/react-native-elements/react-native-elements/issues/2677#issuecomment-725420267

[2020-11-21 16:20] pranshuchittora commented on #2684
Kindy refer this and let me know it works or not https://github.com/react-native-elements/react-native-elements/issues/2677#issuecomment-725420267

[2020-11-21 19:45] rmovieira commented on #2683
It worked for me.
The strange thing is that I have icons on other screens that work normally. But after `react-native link` everything seems to be working as expected.
Thanks for your help!

[2020-11-23 08:53] stereodenis commented on #1964
Still no testID for Checkbox component

[2020-11-23 09:59] olafurnsig commented on #2675
@pranshuchittora - I think you're misunderstanding?

Animations now require that `useNativeDriver` is either set as true or false, if not then there's always a warning coming.

So what's missing here is `useNativeDriver: false` being set to remove the warnings.

[2020-11-23 20:19] UGhari opened #2686 "Allow the option to remove Cancel button on SearchBar for IOS look"
**Is your feature request related to a problem? Please Describe.**
No

**Describe the solution you'd like**
I am using the react native elements searchbar in my application, and has chosen to use the IOS look for both Android and IOS (platform={'ios'}). However, I am not a fan of the cancel button and would like to remove it.  Would it be possible to make the cancelIcon prop available for IOS look

[2020-11-24 08:29] sxs1995 commented on #2475
I have the same issue. the title is not shown on the android.
![image](https://user-images.githubusercontent.com/22333956/100068155-19dd1200-2e72-11eb-957a-2d4a3e9c3c19.png)

[2020-11-25 03:55] namakujuo commented on #2683
I have the same issue. I'm on react native 63.3 linking doesn't solve the issue for me

[2020-11-25 04:41] Yandamuri commented on #2683
@pranshuchittora Excellent. this solution worked for me

[2020-11-25 04:41] #2683 closed

[2020-11-25 16:29] flyingcircle commented on #2686
I think you may be better suited to using the `default` searchbar. You can set `lightTheme` to `true` and `round` to `true` and that should more less be the exact searchbar that you're describing.

[2020-11-25 16:29] flyingcircle commented on #2681
@pranshuchittora did you mean to open a PR?

[2020-11-25 16:40] flyingcircle commented on #2666
Good catch. I'm wondering if though that it might be better to moving these to being subComponents of `Button`. The code gets a bit messy when passing whole components as props, whereas it's much more straightforward when using sub-components. But just adding `renderNode` will be much less disruptive.

[2020-11-25 16:51] #2682 closed

[2020-11-25 19:09] reinaldosimoes opened #2687 "Card(Props): support for different levels of elevation (shadow)"
**Is your feature request related to a problem? Please Describe.**
The `Card` component works fine for most cases, but it would be cool to have a little bit more customization when it comes to the levels of elevation, either for UX reasons, or just to follow an already set design. The values for `shadow` would take into consideration Google's Material Design documentation and Apple's Human Interfa

[2020-11-25 19:56] wcarle commented on #2680
@petr7555
FYI you can workaround this by using the ThemeProvider.  Just wrap your components or whole app in <ThemeProvider> and add windows or macos colors:

[code]

[2020-11-28 21:00] UGhari commented on #2686
Ill give it a go and close the issue if I get the desired effect mentioned above thanks

[2020-11-28 22:22] UGhari commented on #2686
Worked flawlessly thanks!

[2020-11-28 22:22] #2686 closed

[2020-11-30 17:04] imont034 commented on #1844
This worked! Thank you!

[2020-11-30 19:38] pranshuchittora commented on #2687
I thought of that before but considering the overall design aspects of other components, it won't be a good fit.
If a user wants to add shadow he can easily do so by adding the `containerStyle` prop

**You can try this out in the RNE Playground -> https://react-native-elements.js.org/#/card**

Copy and Paste the following code :point_down: in the Playground

[code]

[2020-12-01 05:28] karimdakroury commented on #1303
@iRoachie i am trying to implement the same feature, i have a search bar and a flatlist. currently when i press on search bar and start scrolling my flatlist the cancel button is shown but my keyboard is open. i have tried adding

 keyboardShouldPersistTaps='handled'
keyboardDismissMode='on-drag'

to my flatlist, and now when i start scrolling the keyboard disappears but the search bar losses focu

[2020-12-01 19:17] UGhari commented on #2663
Same issue exists with Icon

[2020-12-01 20:43] #2687 closed

[2020-12-01 20:43] reinaldosimoes commented on #2687
I see the possibility of using this based on the platform, but for consistency, it might not be the best approach.

[2020-12-02 00:32] RyanTG opened #2690 "RNE Website: Searches are resulting in "Not Found" pages"
**Explain what you did (Required)**

I clicked on a search result on the [RNE website](https://reactnativeelements.com). For example, I searched "icon" and then clicked the "available icon sets" result.

**Expected behavior (Required)**

I expected to visit the appropriate website.

**Describe the bug (Required)**

Instead, I am sent to a "Not Found" page. Example URL: https://reactnativeelements.

[2020-12-02 05:19] RyanTG commented on #2557
The upgrade blog post mentions how to add a subtitle on the right https://reactnativeelements.com/blog/2020/08/10/2.3-upgrade-guide/#righttitle-righttitlestyle-righttitleprops-rightsubtitle-rightsubtitlestyle-rightsubtitleprops

`<ListItem.Subtitle right style={titleStyle} {...titleProps}>`

However, this is not working for me. It's placing the subtitle below the title. So I may go with absolute p

[2020-12-02 09:18] JaapWeijland commented on #2431
I just verified that this happens with:

`<ListItem onPress={() => Alert.alert("Click!')} />`

However, when debug mode turned off, it works perfectly fine. Note that my `ListItem` is placed inside a `react-navigation@4` drawer. Since it is debugger-related I cannot create a snack for it.

[2020-12-02 19:29] pranshuchittora commented on #2690
Thanks for reporting :+1:
I am able to reproduce

[2020-12-02 20:12] M-Jas commented on #2668
@pranshuchittora

Playing devil's advocate, but what if someone wants an `x-medium` version?

Adding another prop to this party isn't addressing the real issue with this component, flexibility. Maybe we should step backwards slightly by removing some of the specific styles/props, giving us a more minimal flexible component?

[2020-12-02 22:04] UGhari commented on #2663
@pranshuchittora

I disagree with the closing of this issue, previously in old versions you could use a local asset with require to show an image within an avatar suddenly in

react-native-elements | 3.0.0-alpha.1
react-native | 0.63.2

you can't. It breaks a lot of code in my current app and I am unable to upgrade to the latest versions of RN Elements because of this. The Icon component has also

[2020-12-04 01:36] EricVanDerDijs commented on #2659
I'm also having this Warning messages on the Input component (containerStyle, labelStyle, inputStyle).

this are my deps:
[code]

Also, I'm using typescript and the types seem to be the correct ones

[2020-12-06 22:10] rwanito opened #2692 "Masked input for TextInput ?"
Hi !
Thanks for your work !

It would be a great feature if you add masked input to the input component.
Because, in my case, I try to add a simple date input like : yyyy/mm/dd and it's not quite easy to achieve it.

Do you have any ideas to do it or is it ok to add on RNE ?

Thanks !

[2020-12-08 13:27] EricVanDerDijs commented on #1694
Hi! I have been using this library for a couple of weeks and I was surprised that even when the lib offers me 3 different types of buttons, all of them with their own set of styles, I cannot extend the styles globally for the button types that are offered, since when I try to define a theme the styling for the normal buttons I use in the whole app, I end up breaking the styling of the buttons with

[2020-12-08 14:56] flyingcircle commented on #1694
@EricVanDerDijs What you describe is explained here: https://reactnativeelements.com/docs/customization#using-themeprovider

[2020-12-08 15:22] EricVanDerDijs commented on #1694
@flyingcircle Yes, but it does not take into account that one could use 'clear' and 'solid' buttons and extend their styles separately, since this logic is coded into the RNE component itself without taking into account that there could be overrides specific for every button type, that is what I'm trying to point out.

[2020-12-08 16:50] flyingcircle commented on #1694
@EricVanDerDijs You should use something like this then: ```withTheme(MyClearButton, 'MyClearButton');``` which will then provide your theme with the ability to theme your specific button.

[2020-12-08 17:59] pioNavarro opened #2693 "Icons show [?] and other icons."
**Explain what you did (Required)**
Icons show [?] and other icons.

**Expected behavior (Required)**
![image](https://user-images.githubusercontent.com/51459273/101520298-3f643280-39bf-11eb-90f5-53653961acb8.png)

**Describe the bug (Required)**

On the simulator the APP works fine but on the live APP icons from antdesign are not working.

**Screenshots (Required)**
On live APP this is how it loo

[2020-12-09 08:20] JayantJoseph opened #2694 "prop "value" of Slider should be given integer value as per doc, but only works if string value is given."
**Explain what you did (Required)**

So, it's pretty simple. I imported the Slider from react-native-elements version ^2.3.2, and this is my slider

[code]

**Expected behavior (Required)**

The slider thumb stays at the middle, as the `maximumValue `is 100

**Describe the bug (Required)**

It does not. Instead, it stays at the middle if string value is given, ie `value="50"`

**To Reproduce (Requ

[2020-12-10 00:11] AJIXuMuK commented on #2693
Same issue

[2020-12-10 01:02] AJIXuMuK commented on #2693
I have `@expo/vector-icons` as a reference, and tried both `v10` and `v12` for the package.

[2020-12-10 01:03] avgupta456 commented on #2652
I also ran into this exact issue for buttonStyle, titleStyle, containerStyle and others. I was able to resolve my errors by wrapping my styles in an array, or moving the object from the stylesheet directly into the prop.

[code]

Hope this helps someone else!

[2020-12-10 06:44] glintpursuit opened #2696 "OnPress in ListItem wont work on Android React Native 0.63.4"
**Explain what you did (Required)**

 1. We have ListItem in Scrollview
 2. OnPress event on ListItem wont work with Android
 3. It use to work with previous version of React Native & it is still working for iOS.

**Expected behavior (Required)**

1. OnPress event should work

**Describe the bug (Required)**

1. OnPress will not get call on Android device, samsung s10 (It works on Android Simulato

[2020-12-10 13:34] glintpursuit commented on #2696
Observation:  this issue does not exist on Oneplus-8T Android 11

[2020-12-11 00:01] Elijen commented on #2603
Modal seems to be implemented in `react-native-web` now, but the `Tooltip` component is still not rendering properly. Any idea on workarounds?

[2020-12-11 16:21] ahummel25 commented on #2652
Thanks @avgupta456, the array wrap seems to fix the error.

[2020-12-12 02:28] #2478 closed

[2020-12-13 03:20] flyingcircle commented on #2696
This seems like a 99% likely error in React Native itself. I'd suggest opening a ticket there. But they'll also likely want more debugging information than you are presenting here. A list Item is simply a RN `View`, so there's not much to get messed up here.

[2020-12-13 03:20] #2696 closed

[2020-12-13 03:25] flyingcircle commented on #2694
Not able to reproduce. I used but int and string value and both worked. Though using a a string value throws a warning about using the wrong prop type. This is using the most recent version of RNE though. So I'd look to upgrading and trying that.

[2020-12-13 03:25] #2694 closed

[2020-12-13 03:26] flyingcircle commented on #2694
Not able to reproduce. I used but int and string value and both worked. Though using a a string value throws a warning about using the wrong prop type. This is using the most recent version of RNE though. So I'd look to upgrading and trying that.

[2020-12-13 03:28] flyingcircle commented on #2693
Did you follow all of the installation instructions for the vector-icons lib? https://github.com/oblador/react-native-vector-icons#ios

[2020-12-13 03:31] flyingcircle commented on #2692
This is already provided by: https://github.com/benhurott/react-native-masked-text If you want it to have the RNE styling then you have us the `InputComponent` prop to inject it into the RNE component.

[2020-12-13 03:31] #2692 closed

[2020-12-13 05:10] flyingcircle commented on #2684
Tried out what @pranshuchittora and that works. You try using the `next` branch directly in your code or wait for the next release version.

[2020-12-13 05:10] #2684 closed

[2020-12-13 05:16] #2657 closed

[2020-12-13 05:17] #2681 closed

[2020-12-13 05:24] flyingcircle commented on #2655
Not able to reproduce. I was able to click outside to hide on iOS 14.2 Iphone 12 Pro Max Sim.

[2020-12-13 05:24] #2655 closed

[2020-12-13 14:33] glintpursuit commented on #2696
Thanks
We have resolve this for now using touchable opacity over list item.

[2020-12-13 20:08] flyingcircle commented on #2662
Stale ticket: No response from author.

[2020-12-13 20:08] #2662 closed

[2020-12-13 20:28] flyingcircle commented on #2592
Fixed. Thanks @jehielmartinez

[2020-12-13 20:28] #2592 closed

[2020-12-14 01:31] #2647 closed

[2020-12-14 01:38] flyingcircle commented on #1971
Unless there's renewed interest in this, I will close this ticket.

[2020-12-14 01:38] #1971 closed

[2020-12-14 01:44] flyingcircle commented on #253
@pranshuchittora that library is a good find. It looks well maintained. I don't think we want to be duplicating efforts, so unless there's a compelling reason someone can give for RNE to have another drop down component. I'll close out this ticket.

[2020-12-14 01:44] #253 closed

[2020-12-14 01:48] flyingcircle commented on #2264
I think we've successfully shown that this is likely an issue with React Native's `ScrollView`. There are several tickets open there that mention this issue even without RNE. So I'm not sure we'll make any progress on this issue from this library.

[2020-12-14 01:48] #2264 closed

[2020-12-14 05:23] flyingcircle commented on #1791
It looks like it's not an easy problem to solve. Might have to wait on a `react-native-status-bar-height` v3 https://github.com/ovr/react-native-status-bar-height/issues/13

[2020-12-14 13:38] pranshuchittora commented on #2680
@wcarle that would work but internally there are lots of conditionalities based on platform (Android or iOS). That might break. Unfortunately as of now, I don't have Windows installed. Will install soon :+1:

[2020-12-14 18:43] #2673 closed

[2020-12-14 18:45] flyingcircle commented on #2673
Fixed. I agree that this needs a longer term solution. I looked for a way to auto gen this file, but it just doesn't exist. I think if we really want to get serious about this, we'll probably have to convert the code to typescript at some point soon. But this issue has been resolved.

[2020-12-14 18:50] flyingcircle commented on #2668
I was able to change the look of the `SearchBar` using the following:

[code]

[2020-12-14 18:50] #2668 closed

[2020-12-14 19:01] #2602 closed

[2020-12-14 19:02] flyingcircle commented on #2602
I think we have a good looking index page now. @pranshuchittora added a link to the playground and an image was added to the front page as well.

[2020-12-14 19:03] flyingcircle commented on #2489
Stale thread. Comment if still needed.

[2020-12-14 19:03] #2489 closed

[2020-12-14 19:50] flyingcircle commented on #2558
@patelvimal I think this would be a cool addition. If you have a PR available to review, that would be great.

[2020-12-14 23:21] natalyayyad opened #2704 "Header Text Alignment - IOS"
I'm using the Header component, on Android its centered. However, On IOS seems like there's a top padding which I didn't add.
![image](https://user-images.githubusercontent.com/47296228/102147643-be4fe400-3e73-11eb-9837-166e0a7c5fd0.png)
![image](https://user-images.githubusercontent.com/47296228/102147680-cdcf2d00-3e73-11eb-91c4-995fb817f0aa.png)

code:
` <Header
        centerComponent={{

[2020-12-15 01:32] pranshuchittora commented on #2602
Great, all looks great. Here are some insights of the Playground.

![Screenshot from 2020-12-15 06-57-49](https://user-images.githubusercontent.com/32242596/102156204-20740d80-3ea3-11eb-9bd0-1a42eda3090c.png)

P.S. I have added Google Analytics to get insights for the improvement (Latency etc). @flyingcircle we can remove that now if you agree

[2020-12-15 01:40] flyingcircle commented on #2602
I'm fine either way on the analytics. I don't think it's harming anything to keep them there, but if you'd rather remove it that's fine too.

[2020-12-15 01:45] flyingcircle commented on #2690
Thanks for pointing this out. It's fixed now.

[2020-12-15 01:45] #2690 closed

[2020-12-15 02:06] pranshuchittora commented on #2704
Can you provide a snack demo to reproduce the same

[2020-12-15 02:08] pranshuchittora commented on #2693
@pioNavarro can you try this -> https://github.com/react-native-elements/react-native-elements/issues/2677#issuecomment-725420267

[2020-12-15 02:28] pranshuchittora commented on #2602
Great. I am also with keeping GA to get basic insights

[2020-12-15 03:14] AJIXuMuK commented on #2693
My problem was in ejected expo project.

[2020-12-15 05:17] patelvimal commented on #2558
I don't have a PR as of now, However give me few days, will do that.

[2020-12-15 06:10] kickbk commented on #2693
Guys, I don't want to start a new issue and this is related. There were some breaking changes in Expo SDK 40 which was released recently. One of them is the updated Ionicos version. This means that they old icon names don't work anymore. For instance, in `ListItemChevron.js` we need to update `ios-arrow-forward` to `chevron-forward-outline`. I also have to update other icons I use. It's really ann

[2020-12-15 10:11] natalyayyad commented on #2704
Yes, here is the link:
[https://snack.expo.io/@natalyayyad/header-react-native-elements](url)

[2020-12-15 14:26] flyingcircle commented on #2693
@kickbk this ticket is unrelated to that since they're using expo 38. We already have changes prepped for expo 40 including that already done. v3 will be coming out soon. You can try using the `next` branch for testing it out as the fix is already there.

[2020-12-15 14:28] flyingcircle commented on #2693
@AJIXuMuK I noticed you're using an old, old version of RNE. Please update to the latest version and see if you're still seeing this issue.

[2020-12-15 14:33] flyingcircle commented on #2693
Confirmed that this is an Expo issue: https://github.com/expo/expo/issues/7792

Their solution to this was that you should delete your ios and android folders and rebuild.

[2020-12-15 17:06] pranshuchittora commented on #2704
Hi @natalyayyad thanks for the demo. I am able to repro this.
Raised the PR for the fix :)

[2020-12-15 18:21] flyingcircle commented on #2704
I'm not sure that the issue is iOS here. You put the `Header` inside of a `SafeAreaView` component which is only applicable on iOS. If you put the `Header` outside of the `SafeAreaView`. I'll stick the rest of my comments in the PR.

[2020-12-15 20:43] #2693 closed

[2020-12-16 08:31] juanjsebgarcia opened #2710 "Avatar.onAccessoryPress is deprecated and will be removed in the next version"
Hey all - a minor bug, but a frustration nonetheless.

I have previously been using `Avatar.onAccessoryPress` in my project.

I have upgraded from an existing version of react-native elements where this was a supported action.

The bug is that the documentation still references `Avatar.onAccessoryPress` as a first class supported action and offers no alternative.

The documentation needs to be upd

[2020-12-16 11:05] natalyayyad commented on #2704
@pranshuchittora Thank you. @flyingcircle  I tried removing SafeAreaView, or replace it with View but the issue remains.
What's the default height of the header seems like it's 60, right?

[2020-12-16 14:50] #2710 closed

[2020-12-16 15:15] hakkikonu commented on #1430
wrap your every icon with `<View>` and give absolute with to `<View>`

example:

[code]
..

[2020-12-16 15:45] hannojg commented on #2509
@pranshuchittora this is still happening, just tested it on 4.5.0:
https://snack.expo.io/V2eezKjmZ

As you can see in the video, the slider is always to the right of the actual touch position, while I expect it to be at the exact touch position:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/16821682/102371011-08dd7780-3fbe-11eb-9a5a-f086bdb76151.gif)

[2020-12-16 15:53] pranshuchittora commented on #2509
Hi @hannojg it seems that you are using an older version of React Native Elements.

![Screenshot from 2020-12-16 21-20-03](https://user-images.githubusercontent.com/32242596/102371952-bebbbc80-3fe4-11eb-8387-d6e894a38ef8.png)

I updated it to version `3.0.0-alpha.1` and not able to repro the issue.

Could you try this with the above-mentioned version and let me know whether the issue still persist

[2020-12-16 16:21] hannojg commented on #2509
Thanks for getting so fastback at me!
Looks like I upgraded the wrong lib 🤦
However: I just tried it with 3.0.0-beta1 and it still doesn't work (check out the expo snack link again):

![updated-3 0 0-alpha1](https://user-images.githubusercontent.com/16821682/102375625-06315100-3fc3-11eb-818e-3e3a9d04fba9.gif)

[2020-12-16 17:23] pranshuchittora commented on #2509
Hi @hannojg that's the intended behaviour. If you press and hold and drag the slider will change as this is the intended behaviour of the Pan Gesture Handler.

What could have been a bug?
If the slider responds outside its area.

The area of response is equal to the height.

Try this on the Playground
Here -> https://react-native-elements.js.org/#/slider

Paste the below code.

[code]

[2020-12-16 19:19] Juliocbr commented on #1771
I have the same issue only for android

[2020-12-16 22:32] #1791 closed

[2020-12-16 22:32] #2704 closed

[2020-12-16 23:34] namakujuo opened #2712 "SearchBar Null Is Not An Object (evaluating '_this.input.blur' )"
![image](https://user-images.githubusercontent.com/66373379/102418759-5e208580-3fcc-11eb-8fc1-e30682624e45.png)

This happens when I search, switch to a different screen, go back to the screen with the search bar, and then hit the cancel button.

I'm thinking this happens because it loses reference when switching screens and thus refers to a null?

Any ideas? Your help will be greatly appreciated.

[2020-12-17 23:19] Aparus opened #2713 "after upgrade to 3.0.0 Header's leftComponent and rightComponent appears in the left side of header"
Hi! Thank you for v3!

After upgrade from v2.3.2 to v3.0.0, in Header leftComponent and rightComponent appears on the left side of Header.

In v2.3.2 they looked good: leftComponent at the left, rightComponent at the right.

Here is my code:

[code]
Here is how it looks like:

![Screenshot from 2020-12-18 02-07-52](https://user-images.githubusercontent.com/1222611/102554986-e5f2b680-40d6-11eb-81ee

[2020-12-18 01:24] Aparus opened #2714 "After upgrade to v3.0.0 all Image components turned to grey rectangulars"
Hi! Thank you for v3!

After upgrade from v2.3.2 to v3.0.0, all Images (imported from RNE) turned to grey rectangulars.

Here is my code:

[code]

Importing Image from `react-native` instead of `react-native-elements` fixed the issue:

import { Image } from 'react-native ~~-elements~~'

Honestly I don't know why I need RNE Image, but I just inform you. May be it will be a good bug report?

**Your

[2020-12-18 01:28] betoharres opened #2715 "Please keep the docs from 2.2.x"
**Is your feature request related to a problem? Please Describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Keep the docs from 2.2.x version online

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It's hard to handle big projects alone, and the JS world move too fast for one person to keep it up wi

[2020-12-18 02:20] flyingcircle commented on #2714
RNE `Image` has an animated transition for when an Image loads so it can provide a better aesthetic. I noticed this happening when I transitioned to Expo 40, but it only happened in the emulator environment. Is this happening still when you run it on a real device?

[2020-12-18 02:21] flyingcircle commented on #2713
Thanks! I'll look into this shortly.

[2020-12-18 02:26] flyingcircle commented on #2715
There really isn't that much of a difference between the 2.2 docs and the 2.3 docs. 2.3 deprecated a few props, but beyond those warnings, you should be able to upgrade safely to 2.3.2 without any issue. For any doubt, you can always reference specific version documentation from the github tag: https://github.com/react-native-elements/react-native-elements/tree/v2.2.1/website/docs

[2020-12-18 02:26] #2715 closed

[2020-12-18 02:31] flyingcircle commented on #2713
I was not able to reproduce this at least in iOS. This seems limited to web.

[2020-12-18 04:19] Aparus commented on #2714
Thank you for explanation about Image!
Expo 40! I upgraded to it before RNE upgrade.
My laptop with browser is a real device )) But, no. I used to use Expo client, but because of some issues (String.matchAll(regex) doesn't work in React-Native) and I didn't fix it yet...

[2020-12-18 05:30] flyingcircle commented on #2714
The `Image` is still working in the Playground: https://react-native-elements.js.org/#/image . So I don't really have a way of reproducing what you're describing here.

[2020-12-18 09:14] DumiduPabasara commented on #2628
I am getting the same error. Hope it will solve soon

[2020-12-18 17:34] Aparus commented on #2714
sorry , i didn't mention that I use `<Image source={require(file/local/path/)} /> `. I don't know how to reproduce it in playground. But on my laptop (expo  web), {uri} works, but {require} doesn't work. Here is an example with your image from playground:

![localhost_19006_(iPhone 6_7_8)](https://user-images.githubusercontent.com/1222611/102643425-500b6a00-4170-11eb-9435-56f988e3db70.png)

[2020-12-18 17:59] flyingcircle commented on #2714
I believe you have the `Image` prop written incorrectly. the prop should be `source={{uri: require(...)}}`

[2020-12-18 18:02] flyingcircle commented on #2714
I see where the issue is now. I'll write up a PR soon.

[2020-12-18 18:06] flyingcircle commented on #2562
I have to undo this change as this has broken loading local image files. Your code should instead be in order to have this work as intended.

`source={ myUrl? {uri: myUrl} : undefined}`

[2020-12-18 19:30] #2562 closed

[2020-12-18 19:30] #2714 closed

[2020-12-18 19:30] #2713 closed

[2020-12-18 19:49] pranshuchittora opened #2719 "docs: Separate md for props so that it can be consumed remotely"
**Is your feature request related to a problem? Please Describe.**
The props sections of each component should be separated so that it can be consumed outside the docs website (Playground)

**Describe the solution you'd like**
Separate md files (use of mdx would be great)

**Additional context**
It's hard to keep website and docs in sync so having documentation for props separately would make it e

[2020-12-18 20:50] flyingcircle commented on #2712
If you could create a simple repo that recreates this issue that would help out in figuring out what is going on. Or even a branch in the example app repo could do it.

[2020-12-18 22:30] flyingcircle commented on #2664
Worked when I tried it:

![simulator_screenshot_CCE49F7F-FB07-41B2-AFA7-D2C8AECA38D5](https://user-images.githubusercontent.com/5239875/102667149-91365680-413d-11eb-8ace-cae571512862.png)

[2020-12-18 22:30] #2664 closed

[2020-12-18 22:55] flyingcircle commented on #2628
Working with expo 40 and RNE 3.0.1 I do not see this error. @pranshuchittora and @kickbk is this error resolved?

[2020-12-20 09:05] Aparus commented on #2714
in Expo client still appears grey rectangulars.

[2020-12-20 15:37] flyingcircle commented on #2714
Is this Expo client in web?

[2020-12-20 15:38] flyingcircle commented on #2714
I noticed grey rectangles for a bit in Expo 40 when using the emulator, but installing to a real device works. Which makes me think that that's an expo issue.

[2020-12-20 16:02] DumiduPabasara commented on #2628
Hi @flyingcircle, I previously worked with expo 39 and RNE 3.0.0-alpha.1. Then I upgrade to expo 40 and RNE 3.0.1 and the error seems to be resolved. But gives following warning, looks like manageble. Thank you.
![image](https://user-images.githubusercontent.com/63274475/102717814-c217b680-430a-11eb-806e-03dc55096911.png)

[2020-12-20 16:08] flyingcircle commented on #2628
Awesome! Thanks for the update. Yep trying to do some work to resolve that. It's going to require a lot of work in `Button` to make work.

[2020-12-20 16:08] #2628 closed

[2020-12-21 03:00] Aparus commented on #2714
It is expo client on Android. In web it works after patch rne 3.0.1. And yes it's expo 40.

[2020-12-21 20:04] pospieszynski opened #2721 "Misleading error after upgrading from 2.3.2 to 3.0.0 - "Tried to register two views with the same name RNCSafeAreaProvider""
**Explain what you did (Required)**

I work on upgrading _react-native-elements_ from 2.0.2 to the latest stable version (3.0.0).
Update to 3.0.0 yielded the following Exception - "**Tried to register two views with the same name RNCSafeAreaProvider**"
Stack trace got me to the line `import { Icon, Input } from 'react-native-elements'`
(Upgrading just to the previous version 2.3.3 was successful)

[2020-12-21 21:20] pranshuchittora commented on #2721
Hi @pospieszynski can you try
- Upgrading to RNE v3.0.1
- And run `expo install react-native-safe-area-context`
  run yarn or npm install

[2020-12-21 21:40] pospieszynski commented on #2721
Hi @pranshuchittora, thanks for responding. Unfortunately, the problem remains

[2020-12-21 22:21] pranshuchittora commented on #2721
I think that not related to RNE
https://github.com/th3rdwave/react-native-safe-area-context/issues/110#issuecomment-662580557

[2020-12-22 02:27] flyingcircle commented on #2714
I tried this on Expo Android RNE 3.0.1, Expo 40. Was not able to reproduce what you're saying.

[2020-12-22 02:38] flyingcircle commented on #2721
I'm guessing that the issue is that you have 2 different versions of `react-native-safe-area-view` installed? Try seeing if that is the issue in your lock file.

[2020-12-22 02:44] Aparus commented on #2714
Now I also can't reproduce. I don't know why it was. But now it's ok :)
sorry.

[2020-12-22 10:57] pospieszynski commented on #2721
Yeah that was probably it. Not sure why this problem surfaced only after upgrading single package RNE though..Anyway, thanks for your comments. I am closing the issue.

[2020-12-22 10:57] #2721 closed

[2020-12-22 14:34] #2680 closed

[2020-12-22 15:01] #2604 closed

[2020-12-22 15:15] flyingcircle commented on #2712
I did your steps as stated in Expo 40, RNE 3.0.1. Was not able to reproduce.

[2020-12-22 15:15] #2712 closed

[2020-12-22 15:18] #2560 closed

[2020-12-22 15:26] flyingcircle commented on #2659
I tried this out in our example app but wasn't able to make any warnings appear with `titleStyle` using the exact same code that you mention with `StyleSheet.create`. If you can supply a larger context for your code, maybe there is some other coding error that you are making. But the problem as presented is not reproducible.

[2020-12-22 15:26] #2659 closed

[2020-12-22 15:30] namakujuo commented on #2712
Sorry haven't had the time to setup an example.

I'm using bare react-native project on RNE 3.01 and React Native 63.3. I do have an old expo project where the search works fine.

On the bare react-native is where the issue occurs. I did find a work around where I call this.search.clear() at the end of the api call in the finally promise. This isn't ideal, but is suitable fix for my needs. I would

[2020-12-22 15:51] flyingcircle commented on #2652
Not able to reproduce, and acceptable workaround provided.

[2020-12-22 15:51] #2652 closed

[2020-12-22 16:25] flyingcircle commented on #2712
I would imagine that this is highly dependent then on how you setup your navigation with the app. I also have a `SearchBar` in a native app that I have developed for, but I have never seen this error you mention (Though that app is still on 2.x, the Searchbar hasn't changed considerably from 2.x).

[2020-12-22 18:48] namakujuo commented on #2712
Just want to note that the the navigation in the expo version and the native version is the same yet no issue on the expo version.

I'll try to create an example in the near future that reproduces the issue.

Also I'm not sure if this helps, but I'm using the search bar in a functional component as opposed to a class based one. I don't think that is the issue because this also how my expo version

[2020-12-22 21:56] guilhermedess opened #2726 "modify const MAX_HEIGH in Bottonsheet.js"
Sorry my bad english.

I would like to increase the maximum size of the bottomsheet.
It could be through a property or something like that.

...
`**const MAX_HEIGHT = 300;**

class BottomSheet extends Component {
  constructor(props) {
    super(props);
    this.state = {
      listHeight: undefined,
    };
  }

  onLayout = (event) =>
    this.setState({ listHeight: event.nativeEvent.layout.heigh

[2020-12-22 23:34] romonsalve commented on #2662
I had the same issue with API 19

Following this issue https://github.com/facebook/react-native/issues/9870#issuecomment-262855033 i understand that TouchableNativeFeedback is not supported on API < 21

React elements Button use TouchableNativeFeedback for Android, so i use Touchable Opacity when API is < 21 and works

Like this

`<ElementButton
    ...
    TouchableComponent={(
      Platform.OS

[2020-12-23 20:45] tylerolechnowicz commented on #2143
Passing an empty string did not fix the issue for me. The Avatar component appears as 'blank', just white.

[2020-12-24 16:44] cglacet commented on #1542
@xstable Did you found a way to change button texts using `ThemeProvider`?

[2020-12-25 01:09] Aparus opened #2728 "Slider is not working on expo web"
Hi!
I copied your code with Slider from playground. And it works with expo android client. I can change position and see events in the console.
But, I can't move Slider's seeker in expo web client. It behaves like a static image, don't respond on my actions.
Can you check it please?

![Screenshot from 2020-12-25 04-05-15](https://user-images.githubusercontent.com/1222611/103112473-b0b20f80-4666-11

[2020-12-25 16:06] woodcockjosh opened #2729 "Failed prop type: Invalid prop `inputStyle` supplied to `SearchBar`"
I'm trying to use SearchBar in expo project.

I expect there to be no errors printed to the console

<details>
<pre>
index.js:1 Warning: Failed prop type: Invalid prop `inputStyle` supplied to `SearchBar`.
    in SearchBar (at SearchBar.js:38)
    in SearchBar (at withTheme.js:42)
    in ThemedComponent (at withTheme.js:59)
    in ForwardRef(Themed.SearchBar) (at SearchBarComponent.tsx:22)
    in

[2020-12-25 16:46] woodcockjosh commented on #2729
Here is the code that implements
[code]

It is possible this is an expo issue but I'm only getting this error with the `SearchBar`

[2020-12-25 16:51] woodcockjosh commented on #2729
If I remove `StyleSheet.create(` and replace with just a static object then I don't get any errors. I'm not sure why.
[code]

[2020-12-25 18:23] JPSantistebanQ opened #2730 "Avatar not show title when source uri is null"
**Explain what you did (Required)**
Update to react native elements 3.0.1

**Expected behavior (Required)**

Avatar show the title when source uri is null.

**Describe the bug (Required)**

Avatar component not show title when source uri is null,
Only show la source.

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If not, list the ste

[2020-12-25 19:16] JPSantistebanQ commented on #2730
The text color default is white, and the container backgroud color same white.
just change the color style,

[2020-12-25 19:16] #2730 closed

[2020-12-25 20:02] flyingcircle commented on #2728
I'm going to put the likelihood of this getting fixed quickly as quite low. Have you tried using `react-native-community/slider` to see if it works?

[2020-12-25 20:13] flyingcircle commented on #2729
I created a Snack here: https://snack.expo.io/sEFEp4tEF and was not able to reproduce. I'm guessing that the problem you're seeing lies elsewhere.

[2020-12-25 20:13] #2729 closed

[2020-12-26 02:08] Monkeystation commented on #105
To change the selected icon color you can use the selectedIndex variable, like so:

`const [selectedIndex, setSelectedIndex] = useState(0);`
`const component1 = () => <Icon name="flag" color={selectedIndex === 0 ? '#fff' : '#000'} />;`
`const component2 = () => <Icon name="room" color={selectedIndex === 1 ? '#fff' : '#000'} />;`
`const buttons = [{ element: component1 }, { element: component2 }];`

[2020-12-26 02:18] Aparus commented on #2728
no, I didn't. thank you for informing!

[2020-12-26 03:34] #2726 closed

[2020-12-26 03:34] #2666 closed

[2020-12-26 04:58] flyingcircle commented on #2428
Figured this out. `flexWrap` doesn't work with `flex: 1` so you need remove the `flex:1`'s that you have there and add `flex: 0` to the `buttonContainerStyle`.

[2020-12-26 04:58] #2428 closed

[2020-12-26 05:33] FaizyQadri commented on #324
this code is not showing icon in android

[2020-12-26 14:50] pythys opened #2733 "Theming compatibility with React Navigation"
**React Navigation** provides theming using `<NavigationContainer theme={MyTheme}>...` whereas **react-native-elements** provides the same with `<ThemeProvider theme={MyTheme}>`

A few questions:
- Is there a conflict here?
- Which should I use?
- What wraps what? If I should use RNE themes, should I wrap the theme around the NavigationContainer?

Thank you for any insights folks.

[2020-12-26 15:00] flyingcircle commented on #2733
`react-navigation`'s theming is not as extensive and only includes colors.
`react-native-elements`' theming allows you to globally define particular fonts and styles for any component and all RNE components by default. You can extend it with your own components using `withTheme`.

Either way, you will have to code up the theming either way. You should analyze the features and use cases of both and

[2020-12-26 15:00] #2733 closed

[2020-12-28 00:21] wangyi7099 opened #2734 "Tap outside to close bottom sheet"
Is there a way to close buttom sheet by tapping the outside? Thanks!

[2020-12-28 03:08] drixie commented on #2149
Issue still persists

[2020-12-28 11:56] Brightness99 commented on #1717
We can try this.
`
     <ListItem
       ...
        Component={(props) =>
          <View>
            {props.children}
            <Divider style={{backgroundColor: '#aaa', marginLeft: 65 }}/>
          </View>
        }
      />
`

[2020-12-28 16:42] CKitisak commented on #2721
Hi @pospieszynski , Would you please share how to solve the issue?
Thanks

[2020-12-29 20:39] lekeCoder commented on #2662
For me, the `ListItem` component is crashing in Android 19 for the same reason

[2020-12-29 21:39] flyingcircle commented on #2734
Currently, no. I don't believe so.

[2020-12-29 21:39] #2734 closed

[2020-12-29 21:41] #2006 closed

[2020-12-31 05:20] migumelar opened #2739 "How to use InputComponent props?"
Hi `Input` component have an `InputComponent` props, I have difficulty how to use it.

I assume with `InputComponent` we can replace the default `TextInput` with any component we supply to it.

I try to render custom select component instead of `TextInput` component but it doesn't work.

Here is my attempt:

[code]

Am I misunderstanding the props or I have a wrong syntax ?

Thank you.

[2020-12-31 07:04] migumelar commented on #2739
Nevermind I have a wrong syntax.

Here is the correct syntax

[code]

[2020-12-31 07:04] #2739 closed

[2020-12-31 08:07] freshomer commented on #2734
Here is a pr to fix this:

https://github.com/react-native-elements/react-native-elements/pull/2740

[2020-12-31 09:08] juanjsebgarcia opened #2741 "ListItem switch usage unclear in new 3.x docs"
**Is your feature request related to a problem? Please Describe.**
The [documentation](https://reactnativeelements.com/docs/listitem/) mentions usage of a switch button in the opening paragraph, but then does not provide any clear usage of how its achieved.

**Describe the solution you'd like**
An example in the docs of how to achieve the classic switch toggle now on the v3.0 refactor of ListItem.

[2020-12-31 16:23] flyingcircle commented on #2741
As stated here: https://reactnativeelements.com/blog#input-buttongroup-switchprops-checkbox-badge-chevron-checkmark

You should be able to do something like:

[code]

[2020-12-31 16:23] #2741 closed

[2020-12-31 16:25] flyingcircle commented on #2741
There is also an example of it being implemented in the example app: https://github.com/react-native-elements/react-native-elements-app/blob/next/src/views/lists2.js

[2021-01-01 05:33] richardwu opened #2742 "Image tries to update unmounted component when using React Router"
I'm getting the following unmounting error:
[code]
When I have the following logic:

[code]

[2021-01-01 17:04] flyingcircle commented on #2742
This isn't an error, just a warning that somewhere in your code you are trying to perform an operation on your Image after its already been unmounted, so there's a chance that there is a problem in your code calling the image object despite no longer existing. Can you provide more information about the error or greater code context? What version of RNE are you using?

[2021-01-03 22:01] codeLearnerrr opened #2743 "Header causes previous page to "jump" after moving back to it"
**Explain what you did (Required)**

The Header is only used to return to any previous view by using react-navigation. And the css applied is very basic, just flex: 1, some margin and padding.

**Expected behavior (Required)**

When moving back to previous vew the screen is expected to render without any anomaly.

**Describe the bug (Required)**

The first view renders without any problem. But the

[2021-01-04 02:02] flyingcircle commented on #2743
Looks like it's re;ated to this: https://github.com/th3rdwave/react-native-safe-area-context/issues/114 perhaps you can experiment with some of the suggestions and report back on which ones might fix the issue?

[2021-01-04 02:04] #2719 closed

[2021-01-04 14:37] codeLearnerrr commented on #2743
Hi, flyincircle. Thanks for the reply! It is related, but different from his code. He applies the  Header in both views. So, this question arises: what to do with the view without SafeAreaView/Header ? Even after looking at the source code of Header, i'm still lost. Maybe i'll just start testing guesses.

[2021-01-04 15:05] flyingcircle commented on #2743
I can really only guess so much myself from your code. Your Components' internals are hidden from me. Perhaps you can add `SafeAreaView` to your component that is not using a `Header` in order to keep the same layout?

[2021-01-04 17:13] migumelar commented on #2734
Hi for temporary workaround I able to close the sheet by wrapping the children with some

here is the snippet:
[code]

[2021-01-04 18:24] codeLearnerrr commented on #2743
I'm happy to write that by following the react-navigation [guide](https://reactnavigation.org/docs/handling-safe-area/) on SafeAreaView solved the problem. Thanks for the help!
![20210104_143731](https://user-images.githubusercontent.com/44307139/103566320-95ce6f00-4ea0-11eb-918a-a28c31b38827.gif)

And this is the new code from 'testPage':

[code]

[2021-01-05 05:19] bpolonia commented on #2721
@CKitisak

In `yarn.lock` I searched for `react-native-elements` and looked at its dependencies list to see what version of `react-native-safe-area-context` it depends on.

In my case `react-native-elements` depends on `react-native-safe-area-context@3.1.9` but I also had `react-native-safe-area-context@3.1.4` installed. So I just deleted the 3.1.4 from my `yarn.lock`, `package.json` and `node_mod

[2021-01-05 19:10] TobbyReign opened #2744 "Documentation: Example should be complete / working code."
The doc is a real mess.
Alll the source provided miss some part of code, import is only the part of elements (why don't you just use the real code used for the demo app?)

[2021-01-06 04:57] pranshuchittora commented on #2744
@TobbyReign that's unfortunate to hear that. I truly understand the issue you are facing.
We will try to fix this ASAP, it would be great if you can help us by contributing to the same :)

[2021-01-06 08:35] ravirajar commented on #1005
Anyone still facing this issue? I'm not able to sort this issue still.

[2021-01-06 20:27] LeonardoRepetto opened #2745 "ButtonGroup does not work correctly with ElementObject"
**Explain what you did**

I am using ButtonGroup

I used the components:
[code]

**Expected behavior (Required)**

The onPress event should fire on all button content.

**Describe the bug (Required)**

OnPress event does not called when ElementOject is clicked.

code example:
[code]

**Screenshots  (Required)**

![asd](https://s8.gifyu.com/images/aea0b6a1bbbf4185ff4eab5eb38944e85bf94737caf67d7722f

[2021-01-07 02:00] heysoftwaredave commented on #2431
Any update on this? I am also having this issue
import {Button} from 'react-native-elements';
...
          <Button
            title="Choose Something"
            buttonStyle={{
              backgroundColor: '#60A1F1',
              borderRadius: 10,
            }}
            onPress={() => console.log('I am being pressed')}
          />

[2021-01-07 02:05] flyingcircle commented on #2431
@heysoftwaredave  or any future commenters. Please recreate this on a snack and post it here and then I will gladly reopen the ticket. I have tried the code suggested and am unable to reproduce the error.

[2021-01-07 02:12] flyingcircle commented on #2745
I'm not sure what you're expecting here. You placed a button on top of a button, so no this is not going to work. Follow the examples as given in the docs: https://reactnativeelements.com/docs/button_group

[2021-01-07 02:12] #2745 closed

[2021-01-07 02:13] flyingcircle commented on #2744
@TobbyReign Please make your report more specific. What exact document doesn't have a full example?

[2021-01-07 02:13] flyingcircle commented on #2742
Without more information, we cannot make any progress on this ticket.

[2021-01-07 02:13] #2742 closed

[2021-01-07 03:54] mogol23 commented on #2692
@flyingcircle tried, but losing focus after change value.
[code]

[2021-01-08 10:14] superdopey commented on #2729
I am seeing the same behaviour:

[code]

[2021-01-09 22:55] silenteyesoncode commented on #2728
@flyingcircle  what about react-native-elements?

[2021-01-09 23:03] flyingcircle commented on #2728
@silenteyesoncode what about it?

[2021-01-09 23:05] silenteyesoncode commented on #2728
sorry I was about to say whats the status of slider
can I put a PR?

[2021-01-09 23:06] flyingcircle commented on #2728
@silenteyesoncode feel free to submit a pr for this. thanks.

[2021-01-10 09:25] pranshuchittora opened #2746 "Feature: foreground and background colour combinations provide sufficient contrast"
**Is your feature request related to a problem? Please Describe.**
Feature: Ensure that foreground and background colour combinations provide sufficient contrast when viewed by someone having colour deficits or when viewed on a black and white screen

Currently, the developer has to keep the colour of the text and background in mind to ensure good contrast and differentiability of the content from

[2021-01-10 21:22] silenteyesoncode commented on #2728
hi @flyingcircle
on which branch should i work for this slider
?

[2021-01-10 21:24] Egizas opened #2747 "Button, Header and ListView are using depricated global.Expo object (SDK40)"
After upgrading to expo SDK40, I started getting this warning:
[code]

After a bit of investigation I found that it is caused by `Button `property `linearGradientProps`, which uses `global.Expo` object.
`Header `and `ListView `is also affected by the same issue.
![image](https://user-images.githubusercontent.com/15939884/104135772-4ef5e300-5392-11eb-8d79-1c7d27bc8bfb.png)

Could some one fix this

[2021-01-11 02:28] flyingcircle commented on #2728
@silenteyesoncode https://reactnativeelements.com/docs/contributing

[2021-01-11 15:02] enigmablue opened #2748 "KeyboardAvoidingView not working with Overlay?"
Does anyone have issues with KeyboardAvoidingView not working with Overlay?

I have a simple Overlay, with KeyboardAvoiding View like this

[code]

[2021-01-11 20:32] RyanTG commented on #2448
For me, that does not do the trick. If I use `raised` and `reverse` it's not raised. It's only when I add `containerStyle={{overflow: 'visible'}}` that it gets raised. However, with that, the icon turns into a square when pressed.

[code]

[2021-01-12 18:03] dave-vazquez commented on #1771
I was able to solve this issue with the following implementation:

[code]

I set animating in loadingProps to a boolean state variable, and to get the activity indicator to appear I just pass in a color that will show up with my custom styles.

Note that `animating` is set to true by default. You don't have to set it equal to any particular value, but if you want it to appear conditionally this wo

[2021-01-12 18:03] dave-vazquez commented on #2524
I was able to solve this issue with the following implementation:

[code]

I set animating in loadingProps to a boolean state variable, and to get the activity indicator to appear I just pass in a color that will show up with my custom styles.

Note that `animating` is set to true by default. You don't have to set it equal to any particular value, but if you want it to appear conditionally this wo

[2021-01-13 07:44] bukatea commented on #2748
bump. Having the same problem and was just about to write a question but saw this.

[2021-01-13 22:35] markgalang commented on #1310
Found this as an alternative: [react-native-stars](https://www.npmjs.com/package/react-native-stars ). I believe react-native-ratings still performs better because react-native-stars only let you show the full and half stars.

It can be styled as a regular Icon. Here is the [documentation](https://www.npmjs.com/package/react-native-stars#usage) for that.

Here is mine:

<img width="110" alt="image

[2021-01-14 12:04] JaapWeijland commented on #2431
For me it had to do with this:

https://github.com/facebook/react-native/issues/27008

[2021-01-14 16:27] mvehar opened #2751 "Make sure component is mounted before calling setState."
https://github.com/react-native-elements/react-native-elements/blob/0ae0852b48c62af30f6c53af48a4ed3fdb5b5751/src/tooltip/Tooltip.js#L202

Here the setState is called in callback (measure, requestAnimationFrame). In react code can happen that tooltip is removed before this code is executed (virtual lists) and throws an error.

[code]

[2021-01-15 02:55] flyingcircle commented on #2748
Hmm. Not sure that there'd be a way to get it to work easily. You could try copying the code to your app and adding in the `KeyboardAvoidingView` yourself that way.

[2021-01-15 02:56] flyingcircle commented on #2751
You said it though. Tooltip has to do some measuring after layout in order to function properly. What is your suggestion here?

[2021-01-15 02:57] flyingcircle commented on #2751
This also isn't an error. Just a warning.

[2021-01-15 03:47] bukatea commented on #2748
@flyingcircle Thanks. That's what I ended up doing, making a `KeyboardAvoidingOverlay` from react-native `Modal` for the time being. Is there a chance that this could be looked at in a PR?

[2021-01-15 03:49] flyingcircle commented on #2748
That would be a welcome PR.

[2021-01-15 08:46] mvehar commented on #2751
True, its a warning, but with new LogBox in react native I gets annoying to see this warning box all the time.

Solution could be using class property "isMounted" and setting the boolean value in componentDidMount, componentWillUnMOunt (or useEffect if using hooks).

Then any callback/promise resolve could check its value before applying changes/state.

[2021-01-15 14:34] Mwild2 opened #2752 "Avatar Accessory default position"
**Explain what you did (Required)**
Using the Avatar component (rounded) with accessory is meant to yield an avatar as pictured here:

![](https://reactnativeelements.com/img/avatar/avatar--edit.jpg)

Since the Avatar rework that moved the Accessory into its own component, the default location for the accessory is bottom: 0, right: 0. This produces the following:

<img width="174" alt="Screenshot

[2021-01-17 04:18] flyingcircle commented on #2752
You don't need to move the position, increase the size of the Accessory with the `size` prop.

[2021-01-17 04:18] #2752 closed

[2021-01-18 01:48] cloud12138 opened #2753 "Header组件为什么在部分安卓机(安卓5.1)上会不兼容，导致闪退"

[2021-01-18 13:49] mt81 commented on #15
@flyingcircle I am interested in developing this,

[2021-01-18 15:44] kdo1234 opened #2754 "Ability to change theme for a component tree via state change"
**Is your feature request related to a problem? Please Describe.**
It seems that there is no way to dynamically change the theme for a ThemeProvider's tree directly via a state change. The theme for the ThemeProvider tree can be dynamically set before the first render, but can't be changed later because the tree does not start using the new theme. By "change the theme" I don't mean changing the pr

[2021-01-18 17:03] flyingcircle commented on #15
@mt81 go for it.

[2021-01-18 17:03] #2753 closed

[2021-01-18 17:31] flyingcircle commented on #2754
You can probably write a hook to do this. See how to dynamically change the theme in the example app: https://github.com/react-native-elements/react-native-elements-app/blob/next/src/navigation/DrawerNavigator.js. You can also try it out for yourself to see how it works.

[2021-01-18 17:55] kdo1234 commented on #2754
Please don't close this issue just yet. It seems inconsistent that `ThemeProvider` handles the special case of the `useDark` prop changing, but not the `theme` prop changing. It doesn't seem like there would be any measurable performance impact of supporting changing the theme based on state. The enhancement/fix seems like it might require a few small changes to `ThemeProvider`'s `constructor` and

[2021-01-18 18:32] flyingcircle commented on #2754
I guess I'm still not seeing the issue here. Is there any reason why you are not using the `updateTheme` to update your theme? It's been a while since I've looked at this, but the reasons I remember are that updating the Theme is an expensive operation. But also the `updateTheme` function provided by the Theme Context already provides this in a pretty DRY way.

I'm open to reopening the ticket, bu

[2021-01-18 19:11] kdo1234 commented on #2754
Thank you!

Here is how I have been thinking about it:

- `ThemeProvider` is pure when the `useDark` prop changes and when the `useDark` and `theme` props change in the same update.
- `ThemeProvider` is not pure when the `theme` prop changes without the `useDark` prop changing.

The result is that whenever the theme should be updated but there is no programatic event for it because the logic for d

[2021-01-18 19:17] flyingcircle commented on #2754
I don't know what you mean by `updateTheme` logic must be fed to both `updateTheme` and `ThemeProvider`. `updateTheme` only needs to be called once as described in the docs: https://reactnativeelements.com/docs/customization#using-the-theme-in-your-own-components

[2021-01-18 19:35] kdo1234 commented on #2754
Yes, that is accurate, but for a use case where the theme is derived from pure logic the initial theme must be passed to the `ThemeProvider`. The initial theme and updates to it must also be passed to the component that produces side effect calls to `updateTheme` based on state changes so that it knows when to call `updateTheme`.

This point seems less important than whether `ThemeProvider` should

[2021-01-18 19:47] flyingcircle commented on #2754
Hmm, I'm not seeing how this simplifies things. In fact, it may make things more complicated.
I'm not sure what use case you have for a dynamic theme change, but I can imagine a few scenarios.

But! I am in favor of rewriting the component. I found this article: https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html#what-about-memoization

We don't explicitly use any of the

[2021-01-19 11:21] laithfawwaz opened #2755 "Support Variables and custom attributes"
**Problems**
1. It's not easy to customize the default font size for text h1 and other things like that,
if I needed to customize them, I need to write the theme object with textStyle -> fontSize for text component...
2. There is a small range of font sizes that the text supports, only the headings, what about small font size and paragraph font size
3. Customization can be easier of we can write o

[2021-01-20 20:07] flaviorbianchi opened #2756 "The official React Native Elements App on Expo website is outdated. Requires a newer SDK to be tried."
The link on the README file directs us to https://expo.io/@monte9/projects/react-native-elements-app where we get the message:

_This project uses Expo SDK v34.0.0. If you want to open this project, the author will need to update the project's SDK version._

Is there a way we can contribute to that app by updating its SDK or any other way? Or just wait for @Monte9 to see this and update the SDK? N

[2021-01-20 20:35] nikdo commented on #1430
@hakkikonu Setting fixed widths does not scale well when user increases font size manually. This works:

[code]

[2021-01-21 09:35] grkemtneri commented on #2721
same issue ı upgrade '3.0.0-alpha.' to '^3.1.0'. ı tried to remove node_modules then npm install but still not working

    "react-native": "0.63.3",
    "react-native-safe-area-context": "^3.1.9",
    "react-native-elements": "^3.1.0",

[2021-01-23 14:26] suretarget commented on #2756
Checkout Demo app by @flyingcircle
[https://expo.io/@flyingcircle/projects/react-native-elements-app](https://expo.io/@flyingcircle/projects/react-native-elements-app)

[2021-01-23 21:37] xReaven opened #2758 "updateTheme does not update theme props when using HOC withTheme"
**Explain what you did (Required)**

Hello, first of all I'm new to react-native / expo / react-native-elements, so I will not pretend 100% it's a bug, I assume more a misunderstanding.

At first, I wanted the user to be able to switch to dark mode.
I failed to do so.
Then I tried to simply put dark theme.
I failed as well.
Tried many "solutions" I found here and there (issues, stackoverflow, slac

[2021-01-24 00:43] aldoreyes commented on #1787
This is still happening in 3.1.0, was this rolled back for some reason? I don't see the merged change from PR #1799 on 3.1.0

[2021-01-24 05:40] VictorioMolina opened #2759 "Slider component inside Swipeable not responding as expected."
I am creating a chat bubble for audios.

Basically, I have a Slider component from this library inside a Swipeable component from "react-native-gesture-handler/Swipeable".

When I try to move the slider to the right, the slider is not working good and the parent component is moving with the finger (the Swipeable).

Here is my code:

CHILD COMPONENT

[code]

PARENT COMPONENT (+CHILD)

[code]

How c

[2021-01-24 10:05] #2759 closed

[2021-01-25 08:11] xReaven commented on #2758
Ok closing the issue. The "bug" seems to remain but I did succeed.

To whom it concerns, I finally found how to make it works (Remove HOC withTheme and play with useDark, ignore theme props, and try dark mode on component... that changes when dark is activated. I first used Buttons that do not change...) :
Here is the code :

[code]

[2021-01-25 08:11] #2758 closed

[2021-01-26 18:07] lorecast162 opened #2761 "App can't compile after adding a <Header> tag (crosspost from Slack)"
Hello. I am just learning how to do stuff with React Native and I'm developing my little app on Linux and testing on Android.
I wanted to have a little titlebar on the top and stumbled upon the ReactNative Elements `Header` component, so I installed it and the vector icons and there was no problem there.
But, after I put in a little Header tag with just a center component (`<Header centerComponent

[2021-01-26 18:09] lorecast162 commented on #2761
I didn't flag this as a bug as I don't _know_ it is.

[2021-01-26 22:26] #2761 closed

[2021-01-26 22:30] #2756 closed

[2021-01-26 22:35] flyingcircle commented on #2755
I don't see how customization would be any easier by writing props in a theme. I think what you're looking for is implemented here: https://styled-components.com/docs/basics

[2021-01-27 04:56] jdnichollsc commented on #2721
why `react-native-safe-area-context` is not a peer dependency?

[2021-01-27 14:17] alexakasanjeev commented on #1771
@dave-vazquez Thanks I just set the color to black and it worked

[2021-01-27 14:55] jeffreybloemen commented on #976
@varungarg168  Legend of the game

[2021-01-28 17:19] M-Jas commented on #2523
I know this is closed but I'm still seeing this issue for `ListItem.Title` & `ListItem.Subtitle` for passing raw text. My components work and the text is visible, but the lint warning is gross. Any suggestions?

[code]

[2021-01-28 17:33] flyingcircle commented on #2523
@M-Jas perhaps removing that rule from your lint?

[2021-01-28 17:34] #2755 closed

[2021-01-28 18:04] sweetbrypie commented on #2721
Could you explain how you deleted the 3.1.4 version and reinstalled the 3.1.9 version? I am running into the same issue and am relatively new to navigating these kinds of errors, so I would appreciate the help! Thank you.

[2021-01-28 22:19] M-Jas commented on #2523
@flyingcircle Alternate solution: turn the "raw text" into `const`'s. Cheap and Quick

[code]

[2021-01-28 22:36] flyingcircle commented on #2523
@M-Jas glad you found a work around that works for your project. I can't imagine though that RNE is unique in having `Text` Components that use raw text as the children. Seems like it would be a pretty common pattern.

[2021-02-01 05:04] freekingg opened #2765 "Warning: Failed prop type: Invalid prop `inputContainerStyle` supplied to `Input`."
[code]

[code]

[code]

[code]

[code]

[2021-02-01 11:59] flyingcircle commented on #2765
No code? Please provide code and further explanation if you want this ticket to be addressed.

[2021-02-01 12:27] #2747 closed

[2021-02-02 11:17] freekingg commented on #2765
[code]

[2021-02-02 14:15] cristian05 opened #2767 "How to solve TS error: Object is possibly 'undefined' when access to the theme with bracket notation?"
**Explain what you did (Required)**

I want to build a component that allows me to have different button sizes. To achieve this I build a custom component which have a property `size` and with this I access dynamically to a specific size of the button with its respective styles inside `theme` object. Everything works as expected, but I have the following error in typescript: `TS2532: Object is pos

[2021-02-03 07:30] FaizyQadri commented on #2260
const { width } = Dimensions.get('screen');

<FlatList
 onScroll={(e) => {
            var scrollX = e.nativeEvent.contentOffset.x
            console.log(scrollX, 'scrooll ')
            var index = Math.ceil(scrollX / width)
            setIndicator(index)
          }}/>

---------------------------------------------------------------
on my scroll if i calculate the width by floor the first inde

[2021-02-03 12:33] iocodbanid6 commented on #1871
Tried, but the bug still exist (in android only), Does anyone know any workaround?

[2021-02-05 07:30] LiangYizhi1024 opened #2768 "Invariant Violation: requireNativeComponent: "RNCSafeAreaProvider" was not found in the UIManager."
![image](https://user-images.githubusercontent.com/46120638/107002549-6031e400-67c6-11eb-9c6e-41bfa357eaa2.png)

This is my package.json ↓

![image](https://user-images.githubusercontent.com/46120638/107002722-9ff8cb80-67c6-11eb-9f29-8dc148447be9.png)

`$ cd ios && pod install`  has been executed.

[2021-02-05 08:02] LiangYizhi1024 commented on #2768
![image](https://user-images.githubusercontent.com/46120638/107006048-8b6b0200-67cb-11eb-99e9-ab1696af2ad6.png)

[2021-02-05 08:05] LiangYizhi1024 commented on #2768
more bug
![image](https://user-images.githubusercontent.com/46120638/107006342-f583a700-67cb-11eb-8cb6-aa0d26d769f1.png)

[2021-02-05 17:45] walfly commented on #2721
I think this should be reopened.   `react-native-safe-area-context` should be a peer dependency.
<img width="396" alt="Screen Shot 2021-02-05 at 9 44 00 AM" src="https://user-images.githubusercontent.com/4022481/107069456-db7ba180-6796-11eb-8a3c-20dc663b85a5.png">

[2021-02-07 09:35] andrei0807 commented on #1787
yes me too.
I can see same error.

[2021-02-07 20:17] #2768 closed

[2021-02-08 00:48] #2744 closed

[2021-02-08 00:55] flyingcircle commented on #2765
I wrote a snack using your example code: https://snack.expo.io/u4w8zM3a2 Something is probably incorrect in your setup, not RNE.

[2021-02-09 17:42] enigmablue opened #2773 "How to set textarea for Input"
Hi can't find a way to set a textarea for input

[code]

Dosen't seem to work. any idea?

[2021-02-09 17:43] #2773 closed

[2021-02-10 20:48] anutting opened #2774 "Overlay's child component's useEffect called infinitely"
Consider this suuuper simplified example. useEffect within Component is being called infinitely while the Overlay is visible. In my case Component is also connected to a redux store, but this behavior is only present when rendered within an Overlay. I would expect useEffect to be called only during the correct component lifecycle hooks of on mount and on unmount.

[code]

[2021-02-12 03:46] enigmablue opened #2775 "Accessory?"
Hi did something change for the Accessory. cant' find it as a component

And the <Avatar.Accessory> example in the components dosen't really say anything.
Maybe can update the example? Thanks!

[2021-02-12 10:21] anantaramdas commented on #1368
@LimAlbert Thanks worked for me too - I put it into textStyle property

[2021-02-13 13:55] ericbaobao opened #2776 "removed"
my bad, I just found out I rename the folder wrongly

[2021-02-13 17:29] flyingcircle commented on #2776
What version of Javascript do you have set in your typescript config? I suggest setting it to the latest, but I think it needs to at least be ES6.

[2021-02-13 17:32] flyingcircle commented on #2775
Is there something confusing about it? Accessory is a relatively simple component. https://reactnativeelements.com/docs/avatar#accessory It can use any props from either `Icon` or `Image` and there's an example of it in the very first block of code in `Avatar`. Can you be more specific about what you think is missing?

[2021-02-13 17:36] ericbaobao commented on #2776
it is esnext which is the lastest one of latest js available

[2021-02-13 17:57] dan640 commented on #1842
Hi @iRoachie. I tried to use margin on a ListItem and it seems that the underlay color is also visible in the margin area. Is this intended? If I set it to white, then the ListItem doesn't change color on an onPress event. Is there a way to solve this?
https://snack.expo.io/Q9AbtGp4Y

[2021-02-13 18:01] #2776 closed

[2021-02-13 18:13] #2774 closed

[2021-02-14 01:20] enigmablue commented on #2775
Sorry maybe its a stupid question. I couldn't figure out how to pass the Icon props into it.

I would have thought it was something like
<Avatar.Accessory component = {<Icon xx/>}

The example shows {... AccessoryProps} , i was hoping for an example of this accessoryprops.

[2021-02-14 16:45] flyingcircle commented on #2775
You just pass it Icon props as if it were an Icon. The documentation says ```Receives either all Icon or Image props.``` So you can use it as if it was one or the other.

[2021-02-14 16:47] flyingcircle opened #2777 "Typescript update"
Here is a ticket to track the TS conversion process. please merge all PR's and work into the branch `typescript-work`. Here is the current work completed and left to be done:

- [x] Accessory
- [x] Avatar
- [x] Badge
- [x] withBadge
- [x] BottomSheet
- [x] Button
- [x] ButtonGroup
- [x] Card
- [x] Card - Subcomponents
- [x] Checkbox
- [x] config
- [x] Divider
- [x] Header
- [x] helpers
- [x] Icon

[2021-02-14 16:50] flyingcircle commented on #2777
@MohammedFaragallah alright I have the branch setup. I've pushed all my current work so far. So feel free to claim whatever is still left. Basically right now, it's about trying to resolve as many TS errors as possible without changing the meaning of the code itself.

So feel free to use `any` if something is too difficult to figure out. We can do future work to add stricter requirements later. An

[2021-02-15 15:07] djamesp1 opened #2778 "Using conditional props in Styled ReactNativeElement Components"
Wondering if it's possible to use Styled Components' conditional props functionality on RNElements components?

e.g - the styled(Button).attrs code works, but won't accept ${...} since not in backticks at that point in code?
Example code (** failing backgroundColor):

export const StyledRNEButton = styled(Button).attrs({
  buttonStyle: {
   **  backgroundColor: ${(props) => (props.highlighted ? "a

[2021-02-15 17:29] MohammedFaragallah commented on #2777
@flyingcircle there is a pattern that needs a solution to fix many of the current errors

[code]

the returned values are not typed properly and may have other harmful behavior I have some ideas but most of them are not backward compatible

[2021-02-15 18:07] flyingcircle commented on #2777
@MohammedFaragallah yep, I agree. I've updated a few of them in a couple of the components such as `Button`: https://github.com/react-native-elements/react-native-elements/pull/2766/files#diff-a4a4eaf5f85ed40c14a570378492560d1ca2695473ec3cc49ae4e2e90cad68b0

Basically, I moved any of the styles that depended on arguments to the component itself and made the `styles` var into a proper `StyleSheet`.

[2021-02-15 18:59] MohammedFaragallah commented on #2777
I'll do the same

[2021-02-15 19:13] teobot opened #2780 "Documentation TintColor for Rating"
In the Rating documentation there is no reference to a prop called "tintColor" for the rating component, this controls the background colour of the rating component, It would be great if this was included in the docs so that future devs can find it easily

[2021-02-16 01:50] khevamann commented on #2765
@flyingcircle This is an issue in web-only (React Native Web). Not sure if you fully support RNW but would be very nice to get this warning out of the console.

[2021-02-16 03:07] MohammedFaragallah commented on #2777
most of the remaining errors are related to

- trying to access a style property from `StyleProp`
- adding components as static properties to a functional component

I don't have a good way to deal with both any suggestions?

[2021-02-16 04:43] flyingcircle commented on #2765
@khevamann , the snack that I presented means that it at least works on expo web. I can reopen this to test it out on web later, but if you want to supply a PR, that would help out the community.

[2021-02-16 04:51] flyingcircle commented on #2777
I haven't solved those yet myself. For the static properties in functional components one, there was a way we supplied that in the index.d.ts. Let me find it...

Here: https://github.com/react-native-elements/react-native-elements/blob/next/src/index.d.ts#L221

Maybe there is some way to supply something similar in to the tsx file that allows at least the `Themed` component to have those static me

[2021-02-16 04:54] flyingcircle commented on #2778
I've never used "Styled Props". But I've seen people open a ticket or 2 about them. So there are other people using that library with RNE successfully, but I can't speak to your exact situation or how conditional props work. RNE components are mostly just plain RN, so most anything should work as expected with any other library. If you're having problems, I'd go asking questions from the library y

[2021-02-16 04:54] #2778 closed

[2021-02-16 04:57] flyingcircle commented on #2780
We'll gladly take a PR for any updates of this sort.

[2021-02-16 12:49] c-goettert commented on #2045
I think this issue still occures if you pass an empty string as title property for card component.

[2021-02-16 14:50] MohammedFaragallah commented on #2777
StyleProp can be several structures(arrays/false) not just objects I think accessing style property from StyleProp may lead to some bugs and limitations and should be replaced with how the style is calculated before added to StyleProp

if a component with `containerStyle` and the implementation depends on its height/width the component should accept separate height/width props

excuse my English,

[2021-02-16 17:04] khevamann commented on #2765
The expo snack is not showing all errors correctly. See https://snack.expo.io/@khevamann/github.com-pavithra-expedux-expo_slider. I passed in notAProp and it is not throwing any warnings or errors. `<Card containerStyle={styles.cardCont} notAProp={22}>`

The actual error I am getting is below however all other props I pass in throw the same error. It seems to me that the withTheme is messing up th

[2021-02-16 20:12] flyingcircle commented on #2777
@MohammedFaragallah fixed the static member issue. Pull latest.

[2021-02-16 21:20] flyingcircle commented on #2777
Decided to just ignore all of `Slider`, that's just a big old bowl of mess. Fixed a few more issues and ignored some other lines that I can't figure out. `tsc` says there's only 6 remaining errors.

[2021-02-17 07:31] junqdu commented on #2775
@flyingcircle  Do you know if it is possible to move the accessory to the top right corner?

[2021-02-17 07:48] enigmablue commented on #2775
I'd kind of be honest i have no idea what 'Receives either all Icon or Image props' means.

I had no choice but to try to find other examples and now i'm doing (i think an outdated) way of
<Avatar>
<Accessory name="add"/>
</Avatar>

But i place the style in the Accessory to move it around the Avatar.

[2021-02-17 08:10] junqdu commented on #2775
@enigmablue, just use the `Avatar.Accessory` as an Icon or Image component, e.g.

[code]

[2021-02-17 13:45] iRoachie commented on #1842
@dan640 just use the `style` attribute instead of `containerStyle`. `style` gets passed to the outer container. https://github.com/react-native-elements/react-native-elements/blob/next/src/list/ListItem.js#L41

[2021-02-17 14:11] flyingcircle commented on #2775
@junqdu Accessory is styled using absolute positioning, so you should be able to overwrite the style with top, left, right, and bottom  to change the position.

[2021-02-17 14:20] flyingcircle commented on #2775
@enigma  : @junqdu 's example is a good one showing how to use Accessory. The documentation more or less follows the same pattern as the React Native documentation. For example `TextInput` inherits  `View Props` and is stated as such here: https://reactnative.dev/docs/textinput#props
I probably would also perfer the language of "inherits" over "receives all x props", but they mean the same thing.

[2021-02-17 14:24] flyingcircle commented on #2767
Did you try the nullish coalescing suggestion as well?
[code]

[2021-02-17 20:26] MaganAnkur opened #2782 "Tooltip starts from top left corner and then take actual position of the wrapper element"
**Explain what you did (Required)**

Wrapping a Text Component with Tooltip and trying to show when screen loads

**Expected behaviour (Required)**

Tooltip should take the wrapped element position as soon as screen loads

**Describe the bug (Required)**

When screen loads tooltip first displays at top left corner and the take the actual position of wrapper [element]([url](url))

**Screenshots (Re

[2021-02-18 10:52] enigmablue commented on #2775
Thank you! when it says 'receive either all props of image or icon' - i think it dosen't mean it acts like one.
Maybe its still a good idea to put a real example down

[2021-02-18 10:52] #2775 closed

[2021-02-18 14:18] mpochron commented on #2392
I am having the same issue too as above with warning inlcuding `NaN` for top & left position.

[2021-02-19 14:40] hungvu193 opened #2783 "Module not found: Can't resolve 'react-native-vector-icons/AntDesign'"
Hi there,
I'm trying to use react-native-elements on web with react-native-web and customize-cra, react-app-rewired, but I got these errors.
<img width="616" alt="Screen Shot 2021-02-19 at 20 32 25" src="https://user-images.githubusercontent.com/16502320/108510824-95275600-72f1-11eb-9c48-030dd962dbc5.png">

This is my `config-override.js`:
[code]

and this is my `index.web.js`:
[code]

**Environme

[2021-02-19 15:42] Ritzz03 opened #2784 "CheckBox icon cannot be seen"
I am developing an app right now and am trying to create a _CheckBox_ but I cannot see the icon...I also tried copy-pasting the exact same code from the documentation but it still didn't work...if you think there is a way to fix it please let me know...**and here is the code that I wrote to create a CheckBox**

### <CheckBox
      title='All visits completed'
      checked={this.state.allVisitsCom

[2021-02-19 18:14] FerminIriarte-0324 commented on #1787
I also same issue but update android version from 9 to 10 with API 29. this issue disappears.
Development environment is geomotion/win10.

[2021-02-19 18:16] hungvu193 commented on #2783
I resolved this issue by adding `@ovaeasy/react-native-vector-icons`.

[2021-02-19 18:16] #2783 closed

[2021-02-21 03:48] flyingcircle commented on #2784
Your code looks right here. Your issue is probably elsewhere.

[2021-02-21 14:17] MaximMatsuk commented on #2692
same problem with losing focus

[2021-02-21 15:12] pors opened #2785 "Header shadow/elevation doesn't show on Android"
**Explain what you did (Required)**

I try to apply a shadow/elevation to the `Header` element on Android.

**Expected behavior (Required)**

I expect to see a shadow/elevation under the Header

**Describe the bug (Required)**

I don't see a shadow/elevation on my Android phone in Expo Go.

**To Reproduce (Required)**

See Snack: https://snack.expo.io/@pors/header-elevation-problem-android

It wor

[2021-02-21 16:25] flyingcircle commented on #2692
My guess is that you'll need to implement the static functions that the `Input` component depends on. https://github.com/react-native-elements/react-native-elements/blob/next/src/input/Input.js

`focus`, `blur`, etc. And have the forwarded ref be the ones that call that function.

But I can't promise that'll these 2 components will work together. And you can see from the code base in the masked co

[2021-02-21 16:47] flyingcircle commented on #2785
This isn't related to RNE. Android just isn't able to show shadow all that well. So you can see the shadow in your snack if you set the elevation to something like 30-60. In Android RN, there's simply no way to set the shadow's color, size, etc. There is a library out there that creates its own shadow for android: https://github.com/879479119/react-native-shadow

Not the answer you probably wanted

[2021-02-21 16:47] #2785 closed

[2021-02-21 16:47] #2784 closed

[2021-02-21 20:37] vuciv commented on #2143
Bump, this issue is still not fixed on android.

[2021-02-22 04:44] Ritzz03 commented on #2784
Oh okay! Thank you!

On Sun, Feb 21, 2021 at 9:18 AM Jeremy Hamilton <notifications@github.com>
wrote:

[2021-02-22 17:02] Death14Stroke commented on #2143
I am facing the exact same issue on my Android device. Is there any other library offering the same component?

[2021-02-23 23:36] curiousdustin commented on #2765
I am getting a very similar error to @khevamann.

[code]

[2021-02-24 12:53] Brechard opened #2787 "Avatar with an Image as Accessory"
I implemented the avatar component with an accessory as explained in the docs. It mentions that we can have the props of the Image or Icon, therefore it should accept a custom image when setting it in source for the accessory but it does not load the image.
I have created a snack to show the issue:

https://snack.expo.io/@brechard/avatar-acessory

[2021-02-25 02:53] CKitisak opened #2788 "Cannot set style on Button linearGradientProps"
| software              | version |
| --------------------- | ------- |
| react-native-elements |3.0.1|
| react-native          |0.62.2|
|react-native-linear-gradient|2.5.6|

I would like to achieve the following `LinearGradient` configuration on the Button Component:
[code]

so I tried to put a `style` key to `linearGradientProps` but it doesn't seem to work.
[code]

How do I style a LinearGradie

[2021-02-25 06:51] lukewlms commented on #2696
I had a similar issue where ListItem (but not TouchableOpacity) was eating keystrokes when the keyboard is up.  Setting different keyboardShouldPersistTaps values was not helpful.

Solved the same way as @glintpursuit, but wrapping ListItem in a TouchableOpacity.

[2021-02-27 11:56] MarianAlexandruAlecu commented on #2382
I'm having the same issue, you can try it on the [official playground!](https://react-native-elements.js.org/#/button)

<img width="1260" alt="Screenshot 2021-02-27 at 13 54 40" src="https://user-images.githubusercontent.com/5826632/109386463-6b7aba00-7903-11eb-84f8-68fc5e0166ed.png">

`iconContainerStyle.marginRight` does not work, you can try with any value

[2021-02-28 14:28] Pozee commented on #2382
I seem to have the same problem & can't figure it out.

[2021-02-28 18:23] flyingcircle commented on #2382
You can use `marginRight` in the `style` prop of `Icon` to make the effect that you are looking for.
<img width="1006" alt="Screen Shot 2021-02-28 at 10 22 22 AM" src="https://user-images.githubusercontent.com/5239875/109429078-da611d00-79ae-11eb-8953-e705e687fd18.png">

[2021-02-28 22:12] flyingcircle commented on #2788
Set the style using `buttonStyle`

[2021-02-28 22:12] #2788 closed

[2021-03-01 09:21] MarianAlexandruAlecu commented on #2382
Indeed, but I was trying to achieve this on all buttons in the app. In the end, I used `titleStyle.marginHorizontal`:
[code]

Anyways, what's the purpose of `iconContainerStyle`? In which cases does it makes sense to be used?

[2021-03-01 10:21] Scbojer commented on #2787
I have had the same issue and it appears that source={source} is missing from the Accessory.js file for the Image tag.

File: node_modules/react-native-elements/src/avatar/Accessory.js

You can make a work around by adding a temporary fix to line 35. Add source={source} and the code will be:

`<Image
            source={source}
            style={{
              width: size,
              height:

[2021-03-01 15:16] jorgegvallejo commented on #1694
Is there any example of this we could look at?

[2021-03-01 15:39] flyingcircle commented on #1694
https://reactnativeelements.com/docs/customization/#using-the-theme-in-your-own-components

[2021-03-01 16:04] flyingcircle commented on #2382
It's just a forward to `Icon`'s `containerStyle`. Not the best prop imo as I've tried reducing the amount of prop forwarding that is in the API as I think it unnecessarily complicates things. What does `containerStyle` even do? I don't know really. My guess is that usually there's a bug or someone wants to do something very specific that requires injecting into a specific spot in the component. Yo

[2021-03-01 21:11] jorgegvallejo commented on #1694
Thanks. Maybe I'm wrong, but that seems more like a way to apply a theme to custom created components, than an answer to @EricVanDerDijs question about extending/customizing the button styles for the different button types provided by RNE

[2021-03-01 21:13] flyingcircle commented on #1694
Extension of button styles or additional customization is done through regular component composition which is exactly what the React docs suggest.

[2021-03-02 08:41] santanna106 opened #2789 "retract and expand ListItem.Content"
I created the code below to test the ListemItem component. I would like him to retract when the arrow (<ListItem.Chevron color="#000" />) is clicked.
However, this does not happen.

**Should it retract and expand normally?**

[code]

| software              | version |
| --------------------- | ------- |
| react-native-elements |    3.2.0     |
| react-native          |   0.63.4      |

[2021-03-02 21:18] codakkk commented on #1260
TypeScript definitions are not working properly with this.

![image](https://user-images.githubusercontent.com/8694404/109716463-368d9200-7ba5-11eb-9c44-4096b60f3617.png)

[2021-03-03 00:19] #2777 closed

[2021-03-03 10:25] KonstantinZhukovskij commented on #1310
**tintColor** doesn't work if set to transparent background. Still waiting for a decision...

[2021-03-04 03:07] flyingcircle commented on #2787
Fixed in #2793

[2021-03-04 03:07] #2787 closed

[2021-03-04 03:11] flyingcircle commented on #2789
I don't understand what you're asking. You haven't set up any `onPress` functionality to actually cause anything to happen when the Chevron is pressed so I'm not sure what you're expecting.

[2021-03-04 08:50] renjfk commented on #2237
This is still occurring for some cases especially on simulator and when hermes is enabled which ends up with app crashing. For now as workaround providing default values to measure callback seems to be resolving issue at least for my situation (manual toggle). Even if it gets wrong positioning at first since toggleTooltip hence getElementPosition is called every time it ends up with correct ones u

[2021-03-04 13:50] renjfk commented on #2392
Can you please check if mentioned on https://github.com/react-native-elements/react-native-elements/issues/2237#issuecomment-790443657 resolves your issue?

[2021-03-04 19:13] santanna106 commented on #2789
I'm sorry for not being clear to you. I imagined that there was a property to define this behavior for the ListItem

Like the existing one for the project [https://callstack.github.io/react-native-paper/list-accordion.html](https://callstack.github.io/react-native-paper/list-accordion.html)

[2021-03-04 19:21] flyingcircle commented on #2789
Nope. There is no Accordion feature in RNE atm.

[2021-03-04 19:21] #2789 closed

[2021-03-05 03:51] mr-africa opened #2794 "prop type validation in icon color property will be failed if use PlatformColor"
**Explain what you did (Required)**

I try to use [platform color](https://reactnative.dev/docs/platformcolor) as a color for icon

**Expected behavior (Required)**

no warning messages

**Describe the bug (Required)**
Everything is working, but I get warning message:

[code]

**To Reproduce (Required)**

for ios:
[code]

for android:
[code]

**Your Environment (Required):**

| software

[2021-03-05 18:50] rueiwoqp opened #2795 "Support for non-light/dark themes."
I'll preface this by saying "If there's a way to accomplish this at the top of the component hierarchy, I don't know what it is".
I'd like to offer more themes to my users. i.e. light/dark/solarized/blue/whatever

It seems that currently only light and dark are supported. e.g. When I use state at the App level to change the theme, it gets merged with the current theme. and so, instead of convertin

[2021-03-07 19:58] flyingcircle commented on #2777
@MohammedFaragallah Thanks much! I usually like to say thank you for submissions to the repo with a token $25. Feel free to contact me on the RNE slack for details if you're interested.

[2021-03-07 20:02] flyingcircle commented on #2795
Did you try using `replaceTheme`?  https://reactnativeelements.com/docs/customization#using-the-theme-in-your-own-components
It is not a bool prop like you are trying to use it as here.

[2021-03-07 20:05] flyingcircle commented on #2795
This also looks like a duplicate of #2754

[2021-03-07 20:05] #2795 closed

[2021-03-07 20:23] mattmcginnis commented on #2754
Wouldn't the most basic scenario for a dynamic theme change be the user going into settings and changing the theme?  You would expect the theme to change instantly, and also be merged with the default light/dark theme, but this doesn't unless useDark changes. It's possible to change from one "dark theme" to another "dark theme".

[2021-03-07 21:16] #2767 closed

[2021-03-07 21:17] flyingcircle commented on #2780
@teobot you can follow a guide such as this: https://www.dataschool.io/how-to-contribute-on-github/

[2021-03-07 21:53] flyingcircle opened #2797 "Rebuild Tooltip into a Tooltip2"
`Tooltip` is the component that seems to attract the highest number of bug tickets. Part of this is that it is trying to tackle a rather difficult problem of using absolute positioning and using Layout positioning which seems to have its own problems with implementing a consistent solution.

What is needed is a replacement component that for now we will call `Tooltip2` so that we can eventually de

[2021-03-07 22:00] flyingcircle opened #2798 "Fix all @ts-ignore tags"
In order to convert over to typescript there were some particularly difficult issues that weren't able to be resolved without using @ts-ignore. Resolve all remaining @ts-ignore tags.

- [x] index.ts
- [x] Accessory
- [x] Avatar
- [x] Button
- [x] ButtonGroup
- [x] Card - subcomponents
- [x] Checkbox
- [x] ThemeProvider
- [x] withTheme
- [x] Header
- [x] Icon
- [x] Image
- [x] Input
- [x] Pricing
-

[2021-03-07 22:11] flyingcircle opened #2799 "Slider2 Component"
We need a refactored cleaned up version of the `Slider` component.

Requirements:
1. Uses Functional Components
2. Uses hooks for all state
3. Uses up-to-date Animation API's (and native driver where possible)
4. Designed with tickets such as #2542 #15 and #2728 and resolves all open tickets against `Slider`.
5. Better design to follow more closely to Material UI

[2021-03-07 23:33] MohammedFaragallah commented on #2777
@flyingcircle thank you for the offer that won't be necessary I like RNE a lot and happy to help any time

[2021-03-08 14:29] HugoGresse commented on #1787
Just updated to 3.3.0, ripple is crazy big :/

[2021-03-08 15:04] sidhant1608 opened #2800 "Overlay still visible after setting isVisible to false on iOS"
**Explain what you did (Required)**

I have created a loading indicator with an Overlay component and an AcitivityIndicator component inside. I mantain a loading state on each screen that requires a Loading display and then display this Loading Component whenever needed.

**Expected behavior (Required)**

Expected behavior is that it should be visible as long as I am providing the isVisible prop a

[2021-03-08 15:36] flyingcircle commented on #1787
@HugoGresse just tested in snack and was not able to reproduce. Maybe create a snack showing the issue.

[2021-03-08 15:38] flyingcircle commented on #2800
Sorry this is happening to you, but this doesn't really sound like an RNE bug, probably either a deeper issue with RN itself or a race condition somewhere in your code?

[2021-03-08 18:19] hexadecy commented on #2765
Yes, it's an issue with React-Native-Web only.
StyleSheet.create returns **Number** for the style instead of an object or an array.

React-Native-Elements Code:
[code]

One possible workaround is to pass them in an array:
[code]

I also use this propType definition in my code:
[code]

[2021-03-08 18:25] flyingcircle commented on #2765
PropTypes is now removed from RNE in 3.3.0. Can some tell me if this issue is resolved?

[2021-03-08 18:41] hexadecy commented on #2765
Yes, it's fixed in RNE 3.3.0!

[2021-03-08 18:58] #2765 closed

[2021-03-08 20:41] pweisensee opened #2801 "ListItem Chevron showing typescript error"
**Explain what you did (Required)**

I'mr trying to render simply `<ListItem.Chevron />` and discover potential props for the element from Typescript hints.

**Expected behavior (Required)**

ListItem and ListItem.Chevron render normally and Typescript throws no errors or warnings. `onTextLayout` should not be a required prop.

**Describe the bug (Required)**

VS Code shows a Typescript error for

[2021-03-09 09:01] MohammedFaragallah opened #2802 "export components props types"
current behavior
[code]

expected behavior
[code]

I can work on a PR if you agree

[2021-03-09 17:45] abrahamjsb commented on #2431
Hello, thanks. Did you ran it on android device? still doesn't change the text. Anyway I fint the solution using the prop TouchableComponent and use TouchableOpacity from react-native-gesture-handler.

https://snack.expo.io/@abrahamjsb/bug-button-onpress

[2021-03-10 02:03] nlok5923 commented on #2798
@flyingcircle i want to work on this issue but please can you explain me a bit more about this issue as i am new to this project.

[2021-03-10 02:30] flyingcircle commented on #2799
Go for it! Are you part of the Google Summer of Code?

[2021-03-10 02:32] nlok5923 commented on #2799
@flyingcircle not yet sir but i want to work in this project under Google summer of code,

[2021-03-10 02:32] #2780 closed

[2021-03-10 02:38] flyingcircle commented on #2798
Yeah, so I recently converted the library to using TypeScript. However, in order to have everything compile, I had to add `// @ts-ignore` to different lines. This tag means that the typescript compiler ignores the line directly below it.

So the goal here is to delete every instance of `@ts-ignore` and fix the typescript error that it is hiding.

[2021-03-10 02:40] nlok5923 commented on #2798
@flyingcircle sir can you please assign this issue to me so that i can create a pr for resolving this issue,

[2021-03-10 02:51] jeeva2812 commented on #2797
Hello, @flyingcircle I am willing to work on this issue. Can you please assign me for this?

[2021-03-10 02:55] HariAcidReign commented on #2591
Hi @flyingcircle , this looks like something I can work on..Is it available and can I be assigned to it?

[2021-03-10 02:57] The-Keshav-Agarwal commented on #2751
@flyingcircle I would like to work on this issue but can you please tell me isMounted is already defined or I have to make a local variable?

[2021-03-10 03:02] flyingcircle commented on #2751
@The-Keshav-Agarwal if you are new to React Native, I would suggest taking some time to learn how to run the app and work with the library first. `isMounted` is a React concept, so you'd have to look at the documentation there.

[2021-03-10 03:06] The-Keshav-Agarwal commented on #2751
@flyingcircle can you assign this to me so that I can give it a try.

[2021-03-10 03:14] nlok5923 commented on #2798
@flyingcircle sir please can you let me know how can i compile package .

[2021-03-10 03:14] jeeva2812 opened #2808 "Improving Pull Request template."
**Is your feature request related to a problem? Please Describe.**

It's difficult for reviewing a PR, as there ain't any information about which issue it fixes.

**Describe the solution you'd like**

Asking for some more details and adding a checklist will be helpful.

[2021-03-10 03:19] hengkx commented on #2801
Icon same

[2021-03-10 04:17] nlok5923 opened #2810 "test: setup test to validate pull request on certain parameters"
**Is your feature request related to a problem? Please Describe.**

Whenever any new pull request open it should be tested so that the contributor should know about what changes he needs to bring in it's pull request all it will be easy for maintainer to review pull request

**Describe the solution you'd like**

Setting up test for certain paramters like lint testing, running `npm test` on new fea

[2021-03-10 04:35] nlok5923 opened #2811 "404 not found: redirected to 404 page"
**Explain what you did (Required)**
 when to https://reactnativeelements.com/help/ and Clicked on link [documentation on this site](https://reactnativeelements.com/$%7BdocUrl('getting_started.html')%7D)
![image](https://user-images.githubusercontent.com/56120084/110576924-a5f81880-8187-11eb-93c1-16d28e53e088.png)

it will redirect you to 404 page

**Expected behavior (Required)**
 it should redire

[2021-03-10 04:36] nlok5923 commented on #2811
i would like to work on this issue if it is approved.

[2021-03-10 05:01] nlok5923 commented on #1790
@flyingcircle sir can i work on this issue.

[2021-03-10 05:07] Gautam-Arora24 commented on #2754
@flyingcircle I would like to work on this issue. Kindly assign it to me 😄

[2021-03-10 05:26] The-Keshav-Agarwal commented on #2751
@flyingcircle i am getting this error while committing the changes and because of this I am not able to push my code.
![image](https://user-images.githubusercontent.com/56120769/110580456-c081c000-818e-11eb-9584-d3952f13ab88.png)
It is showing there is some error in  `withTheme.tsx`  but I didn't make any changes in that file. Can you please tell me what is going wrong so that I can push my change

[2021-03-10 05:41] HariAcidReign commented on #2591
Working on it!

[2021-03-10 06:23] jeeva2812 commented on #2794
PR #2812 might fix this.

[2021-03-10 06:49] jalajcodes commented on #2811
@nlok5923 as you are already assigned to #2798 , I can work on it. 🙂

[2021-03-10 06:52] nlok5923 commented on #2811
@jalajcodes the issue #2798 is acute quite a bigger one it will take much time to resolve it that's why I thought to resolve some smaller issues in the mean time. 😄

[2021-03-10 07:19] abhi0504 commented on #2808
Hi @jeeva2812 I want to work on this issue

[2021-03-10 07:23] jeeva2812 commented on #2808
I don't have the rights to assign. If the issue is accepted, the maintainers might assign you.

[2021-03-10 08:49] tushargarg875 commented on #2782
@flyingcircle Can I work on this issue?

[2021-03-10 10:22] ruddi10 commented on #2799
@flyingcircle  kindly assign it to me

[2021-03-10 12:09] pranshuchittora commented on #2746
Yep, so for the provided backgroundColor, we need to generate or choose from white or black for the colour of the Text

[2021-03-10 13:17] abhishekkumar08 opened #2817 "Adding github actions"
**Is your feature request related to a problem? Please Describe.**

Adding github actions

**Describe the solution you'd like**

After every PR, push or pull the github actions would check the code and run the tests as in the code

**Describe alternatives you've considered**

**Additional context**

[2021-03-10 13:20] HariAcidReign commented on #2811
@priyanshu-219 you normally discuss here, get assigned by the mentor, and then only work on the issue...

[2021-03-10 13:46] jeeva2812 commented on #2808
PR #2816 might fix this

[2021-03-10 13:46] #2808 closed

[2021-03-10 14:24] abhishekkumar08 opened #2818 "Build failed"
**Explain what you did (Required)**
I used the npm run build command.

**Expected behavior (Required)**
Successful build

**Describe the bug (Required)**
[code]

**To Reproduce (Required)**
Build the app

### Steps

1. npm run build

**Screenshots (Required)**
![image](https://user-images.githubusercontent.com/59651136/110642789-5e9a7800-81d9-11eb-89fa-9705847b9338.png)

**System**
Windows 10
node

[2021-03-10 14:25] abhishekkumar08 commented on #2818
@flyingcircle Have a look at this.

[2021-03-10 14:55] flyingcircle commented on #2818
@abhishekkumar08 the project uses `yarn`. I'd suggest seeing if that solves your issue.

[2021-03-10 14:58] flyingcircle commented on #2810
We already do that. You can see that in the "CodeCov" reports that are created automatically.

[2021-03-10 14:58] #2810 closed

[2021-03-10 15:00] abhishekkumar08 commented on #2817
Travis CI now provides a one-time credit of 10,000 which means 1000 builds on Linux.  Github Actions is free for any public project.

[2021-03-10 15:09] abhishekkumar08 commented on #2818
Yeah it did worked. I deleted the ```package.lock.json``` and the node modules folder and installed again by using ```yarn install```. Thanks

[2021-03-10 15:10] #2818 closed

[2021-03-10 15:14] jeeva2812 commented on #2797
I am extremely sorry @flyingcircle looks like it's much more extensive work than I thought it would be. I am unassigning myself.

[2021-03-10 15:18] abhishekkumar08 commented on #2797
@flyingcircle can you assign me this? And can you guide me how should I start on this, the changes would be the same like the given PR's?

[2021-03-10 15:25] abhishekkumar08 opened #2819 "Failed tests on running yarn test"
## Description
I ran the test by ```yarn test``` and found out there are many errors.

## Screenshots
![image](https://user-images.githubusercontent.com/59651136/110652768-ad004480-81e2-11eb-90cc-b8dbf21a8b87.png)

## Note
Can you guide me how to resolve those errors? @flyingcircle
I searched on the web and found out that some of the failed tests may be due to wrong imports/exports.
**Refrence** h

[2021-03-10 16:50] flyingcircle commented on #2819
These are not failed tests, it's just console.error logs. You can look into fixing these console errors, but I don't know how to go about fixing it. You'd have to research the issue and try out some possible fixes.

[2021-03-10 16:54] abhishekkumar08 commented on #2819
Thanks for replying, gonna look for sure.

[2021-03-10 17:48] deevo-sage commented on #2797
@flyingcircle can I be assigned the task. I converted the Button component to a Functional component in a recent PR and would love to do the same with The Tooltip if possible.

[2021-03-10 18:04] flyingcircle commented on #2797
This is quite a difficult task, I would say try and see how far you can get with it. It may take multiple people working on it so feel free to collaborate.

[2021-03-10 20:59] hetanthakkar1 commented on #2801
@flyingcircle I'm pretty sure that this error is due to the icon.d.ts file generated. I made changes in those files and realized latter that these files are mentioned in gitignore section.I fixed this issue editing that d.ts file of Icon component.

[2021-03-10 21:28] deevo-sage commented on #2797
I fail to understand why the test case is failing otherwise, both the components (Tooltip, Tooltip2) are rendering and working the same when run on an android emulator in a practice project.

[2021-03-11 03:36] jalajcodes commented on #2799
@flyingcircle I am working on it.

[2021-03-11 03:38] djMax opened #2822 "RN 0.64 (relevance unknown) and RN elements 3.3 do not work in Typescript"
**Explain what you did (Required)**

Updated from react-native-elements 3.2.0 to 3.3.0 (have been using RN 0.64.0-rc.3 for some weeks now, without issue)

**Expected behavior (Required)**

A working build

**Describe the bug (Required)**

Lots of typescript errors.

[code]

**To Reproduce (Required)**

I don't have a simple repro project yet, will work on it if it's not obvious from the errors abo

[2021-03-11 03:52] djMax commented on #2822
This is likely related to #2802

[2021-03-11 03:58] ruddi10 commented on #2799
@jalajcodes i have taken this issue please take some other one.

[2021-03-11 06:10] yim-jj commented on #2822
same problem.

"react-native": "~0.63.4",
"react-native-elements": "^3.3.0",

import {Icon} from "react-native-elements";

<Icon name="close" onPress={handlePressClose} />

Type '{ name: string; onPress: () => void; }' is missing the following properties from type 'Pick<IconProps, "type" | "name" | "style" | "backgroundColor" | "borderRadius" | "testID" | "color" | "onLayout" | "accessible" | "acc

[2021-03-11 10:31] meridPL commented on #2822
I join the problem. I have that same problem with TS. I waiting for solve this problem

[2021-03-11 13:46] jalajcodes commented on #2799
The scope is pretty big, I think it would be nice to break it into smaller issues. Just a suggestion, what do you think @flyingcircle ?

[2021-03-11 13:49] jalajcodes commented on #2797
Can you provide some more information about the error?

[2021-03-11 14:29] deevo-sage commented on #2797
@jalajcodes
**  Tooltip component › does not render pointer

    TypeError: Cannot read property 'state' of null

      69 |     ).root;
      70 |     component.findAllByType(TouchableOpacity)[0].props.onPress();

         |                               ^
      72 |     try {
      73 |       component.findByType(Triangle);
      74 |     } catch (e) {

      at Object.state (src/tooltip/__tests

[2021-03-11 15:17] abhishekkumar08 opened #2825 "bug:search bar in settings not working properly"
**Explain what you did (Required)**
I was testing the react-native-elements-app. In this settings section the input search bar doesn't let me type anything. As soon as I enter anything the `onChange()` clears it.

** To Reproduce **
1. Use the react-native-elements-app
2. Go to the setting section.
3. Try to write in the search bar.

**Screenshots (Required)**

https://user-images.githubuserconten

[2021-03-11 15:18] abhishekkumar08 commented on #2825
Is it due to the app only or the react-native-element?
I'm new to the codebase still.

[2021-03-11 15:21] flyingcircle commented on #2799
This is open source. So it's better to have 2 solutions than 1. That way we can use the best ideas from the 2 solutions and combine them. If you both want to work on it, I say that it would make for a better outcome overall.

[2021-03-11 16:01] #2802 closed

[2021-03-11 16:06] tewarig commented on #2825
Hi @abhishekkumar08 ,  I think you should raise this issue in https://github.com/react-native-elements/react-native-elements-app this repo. Also, react-native-elements is just a  UI Toolkit, This is just a dummy app to showcase the beauty of react-native elements. currently, this app doesn't have any functionality implemented such as login, signup, or even search.

[2021-03-11 16:08] abhishekkumar08 commented on #2825
@tewarig okay thanks for the suggestion I will raise an issue there.

[2021-03-11 16:08] #2825 closed

[2021-03-11 16:18] #2811 closed

[2021-03-11 16:32] #2728 closed

[2021-03-11 17:02] #2751 closed

[2021-03-11 17:55] nlok5923 opened #2827 "Bug: post an issue and existing issue links redirects to incorrect page"
**Explain what you did (Required)**
Explore: https://reactnativeelements.com/help

**Expected behavior (Required)**
 Links should redirect to correct pages

**Describe the bug (Required)**
There were two links redirect to incorrect pages
![image](https://user-images.githubusercontent.com/56120084/110832031-e0190580-82c0-11eb-929d-19d315339079.png)

post an issue link redirects to:
![image](https:/

[2021-03-11 18:08] arpitBhalla commented on #2798
@pranshuchittora May I work on this?

[2021-03-11 21:10] hetanthakkar1 commented on #2782
I am working on this issue

[2021-03-11 21:44] AnujSharma141 opened #2831 "Social Icon Loader Theme"
**Explain what you did (Required)**

In the SocialIcon component, if light prop is enabled the social icon loader remains white in color.

**Expected behavior (Required)**

The loader should respond to the light prop and change its theme according.

**Describe the bug (Required)**

As the loader is the ActivityIndicater component of React Native it has a color prop which consist the following valu

[2021-03-12 00:02] nlok5923 commented on #2798
@arpitBhalla thanks for asking but currently I am working on it so please you may find another one.

[2021-03-12 00:11] flyingcircle commented on #2798
@arpitBhalla  yes, just say which component you're working on. There's lots of work here, so plenty of room for multiple people to work on it.

[2021-03-12 00:12] flyingcircle commented on #2798
I cleared the assignees from this ticket because it is quite large and easily divided into smaller tasks. Please state which component's ignore tags you're going to work on as I have them listed above so that no one works on top of each other.

[2021-03-12 00:39] nlok5923 commented on #2798
@flyingcircle i had removed //@ts-ignore from accessory component as currently removing it returns not error.

[2021-03-12 01:49] hetanthakkar1 commented on #2782
I can't reproduce this issue because I can't make the tooltip visible by default initially without clicking

[2021-03-12 03:04] flyingcircle commented on #2798
@nlok5923 well, actually the error was being hidden because of an issue in `withTheme`. I pushed the fix so hopefully nothing is hidden anymore. But the fix in `withTheme` also ended up fixing `Accessory` as well.

[2021-03-12 05:07] hetanthakkar1 commented on #2754
I have submitted the PR for this issue. @flyingcircle  could you please review!

[2021-03-12 06:13] sarthakm21 commented on #2798
@flyingcircle I would like to work on the button component

[2021-03-12 06:22] arpitBhalla commented on #2798
@flyingcircle  I am working on Button

[2021-03-12 07:26] nlok5923 commented on #2798
@flyingcircle i am working on header component.

[2021-03-12 11:38] MichaelGorski opened #2836 "Opening Modal -> Invisible Layer"
**Explain what you did (Required)**
When opening a modal, sometimes it cause an invisible layer which makes half of the screen not clickable.

Just open an modal and edit some informations in the app
**Expected behavior (Required)**
Open Modal, Close it, use the app normal as it is.

I use rn-action-sheet and wanted to edit a information block in my app, so it should open the modal, edit some stuf

[2021-03-12 14:24] flyingcircle commented on #2836
Looks like a flipper issue: https://github.com/facebook/react-native/issues/29492 try reading through that and see if it resolves your issue.

[2021-03-12 14:27] #2827 closed

[2021-03-12 15:38] bhanujggandhi commented on #2798
I am working on SearchBar and CheckBox

[2021-03-12 15:42] arpitBhalla commented on #2798
@bhanujggandhi I have done Checkbox 😊

[2021-03-12 16:01] bhanujggandhi commented on #2798
@arpitBhalla  Sure!

[2021-03-12 16:09] #2831 closed

[2021-03-12 16:12] adarsh-technocrat commented on #2799
Hello, @flyingcircle 🤝I too interested in working on this issue but it seems like already @jalajcodes  and @ruddi10  are working on this issue as this would be my first step in contributing to this repo,@flyingcircle  would you please guide me through the steps for getting started with :)

[2021-03-13 04:05] ankushdutt opened #2843 "Input: renderErrorMessage prop not working as expected"
![image](https://user-images.githubusercontent.com/51174480/111018418-b35b1000-83de-11eb-9324-4536cc12f821.png)

**To Reproduce (Required)**
* Go to https://react-native-elements.js.org/#/input
* Click on renderErrorMessage checkbox
* Error message is always visible

**Current behavior (Required)**
* Error message visible even when renderErrorMessage is set to false

**Expected behavior (Required)

[2021-03-13 04:40] #2843 closed

[2021-03-13 04:41] ankushdutt commented on #2843
Nvm! I think the functionality is as intended in the docs!

[2021-03-13 13:04] ankushdutt opened #2845 "SocialIcons: Icon is partially visible in loading state when not expanded, loading icon not visible in light mode"
![image](https://user-images.githubusercontent.com/51174480/111030767-12924200-842a-11eb-8162-d2aab5b13c42.png)
![image](https://user-images.githubusercontent.com/51174480/111030890-b845b100-842a-11eb-9519-26d4da997498.png)

**Expected behavior (Required)**
* Icon should be hidden when in loading state if not a button
* Loading icon should be visible in light mode

**To Reproduce (Required)**
* Vi

[2021-03-13 13:15] ankushdutt commented on #2845
Also fixes https://github.com/react-native-elements/playground/issues/51

[2021-03-13 18:03] flyingcircle commented on #2798
All: I will not accept the use of `as any`. Using `any` in typescript generally means that you are ignoring the type and it is considered bad practice to use `any`. So these solutions are not actually solving anything. When you are fixing the @ts-ignore, I will not accept any use of `any`

[2021-03-13 19:33] ankushdutt opened #2848 "CheckBox: right prop is not working"
Current behavior:
* setting `right` to `true` does nothing

Expected behavior:
* setting `right` to `true` must move the icon to the right (as mentioned in the docs https://reactnativeelements.com/docs/checkbox#right)

[2021-03-14 04:45] #2845 closed

[2021-03-14 05:20] amifunny commented on #2748
@flyingcircle I will try to solve this issue

[2021-03-14 06:23] amifunny commented on #2748
@flyingcircle I tested the same code given by @enigmablue. It working perfectly as expected.

[2021-03-14 08:20] amifunny opened #2851 "Auto Generated prop documentation"
**Is your feature request related to a problem? Please Describe.**

There are going to be many design changes to improve the project in the near future (this summer). These changes would involve changing prop names and their types for a better user interface and functionality. These changes will not be reflected automatically in the documentation on the website and have to be changed manually whic

[2021-03-14 08:37] tewarig opened #2852 "Add Radio Button as a component in React-Native-Elements"
**Is your feature request related to a problem? Please Describe.**
Currently, React Native Elements don't have a Radio Button as a component. Also, react-native don't have a Radio button component. Now as a  UI Library  React Native Elements should have Radio Button Component so developers can directly import it when they need it instead of hardcoding it every time.

**Describe the solution you'd

[2021-03-14 08:59] tewarig commented on #2852
I was going through docs... just realized there is a checkbox component.. we can achieve same result with that... shall i go ahead with this? 😅

[2021-03-14 15:58] #2848 closed

[2021-03-14 15:59] flyingcircle commented on #2852
Yeah I'm not sure that it would add too much. It would just be making a "round" checkbox. Good idea. Keep the idea juices flowing ;P

[2021-03-14 15:59] #2852 closed

[2021-03-14 16:00] #2836 closed

[2021-03-14 16:41] tewarig commented on #2852
sure I would be re-designing and suggesting more components.

[2021-03-14 18:25] sarthakpranesh commented on #2798
Hey, I am working on ThemeProvider. I made the required changes but two of the snapshot tests are failing namely from the components `Header` and `BottomSheet`. My changes as well as the error are attached below:
ThemeProvider (only updated portion):
[code]
![image](https://user-images.githubusercontent.com/41206172/111079429-ff619e00-851f-11eb-8956-9671a1bb4142.png)

Also, `yarn test` before maki

[2021-03-14 20:04] maxikgreat opened #2854 "Create a Toast component"
# Title

Creating a new **Toast UI** component.

# Motivation

As I have been developing different apps for different purposes and have been used a wide specter of UI libraries for pretty interfaces and UX, in most cases, this type of component was really helpful to provide a convenient way to show information and make the interface more friendly for end-user.

# Propose

I think the better way to

[2021-03-14 20:06] abhishekkumar08 commented on #2854
The idea looks really nice, looking forward to it.

[2021-03-14 22:48] ankushdutt opened #2855 "Tooltip: onClose() is executed twice when tooltip is dismissed on ios/web"
**To Reproduce (Required)**
- Go to https://deploy-preview-44--rne-playground.netlify.app/#/tooltip
- Open and close tooltip
- Check console

[2021-03-15 10:48] wangtiger317 opened #2857 "On the RTL devices( at the rtl devices, it is not moving from left to right, only from left to right"
**Explain what you did (Required)**

**Expected behavior (Required)**

**Describe the bug (Required)**

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If not, list the steps that a reviewer can take to reproduce the behaviour:

**Screenshots (Required)**

**Your Environment (Required):**

| software              | version |
| --------

[2021-03-15 10:50] wangtiger317 commented on #2857
I hope that the team fix that issue

[2021-03-15 14:33] bitlab-code opened #2858 "FullTheme type missing"
**Explain what you did (Required)**
`FullTheme` type missing

**Expected behavior (Required)**
access to `FullTheme` type
[code]

**Your Environment (Required):**

| software              | version |
| --------------------- | ------- |
| react-native-elements |    3.3.1     |
| react-native          |    0.63.4     |

[2021-03-15 18:48] vanya-24 commented on #2591
Hi @flyingcircle,
Can I also work on this issue as I found this issue to get started with, Or can you guide me with to get started?
Thank you😊

[2021-03-15 19:06] flyingcircle commented on #2591
@vanya-24 go for it. I usually try to take the best from multiple solutions. someone can help you get started in the slack channel.

[2021-03-16 02:39] #2858 closed

[2021-03-16 03:25] #2855 closed

[2021-03-16 03:27] flyingcircle commented on #2857
This is a very poorly written Issue. There is not enough detail here to do anything with it.

[2021-03-16 03:27] #2857 closed

[2021-03-16 03:37] wangtiger317 commented on #2857
In  that case,  which library do you use?

[2021-03-16 05:42] vanya-24 commented on #2591
Thanks, working on it

[2021-03-16 08:17] wangtiger317 commented on #2857
![image](https://user-images.githubusercontent.com/54022798/111276990-f3e8a280-8605-11eb-80ed-2541761c64c4.png)
it is working only like on the ltr devies. when move it to left, it dont' move any more at minvalue

[2021-03-16 12:22] rishipurwar1 opened #2862 "Read docs and playground button background-color doesn't change on hover"
**Explain what you did (Required)**
I went to the homepage of the website, found the bug when I hover over the Read docs button.

**Expected behavior (Required)**
When we hover over the Read docs and playground button, the color of the button should change to blue.

https://user-images.githubusercontent.com/57035408/111307690-d0623e00-867f-11eb-8d3b-e606156bd462.mov

**Describe the bug (Required)*

[2021-03-16 12:23] rishipurwar1 opened #2863 "Read docs and playground button background-color doesn't change on hover"
**Explain what you did (Required)**
I went to the homepage of the website, found the bug when I hover over the Read docs button.

**Expected behavior (Required)**
When we hover over the Read docs and playground button, the color of the button should change to blue.

https://user-images.githubusercontent.com/57035408/111307690-d0623e00-867f-11eb-8d3b-e606156bd462.mov

**Describe the bug (Required)*

[2021-03-16 12:23] rishipurwar1 commented on #2863
I'm working on this issue.

[2021-03-16 12:26] #2862 closed

[2021-03-16 12:55] rishipurwar1 opened #2865 "React Native Skeleton Style Loading Component"
**Is your feature request related to a problem? Please Describe.**
I've always wanted a react native skeleton style loading animation while fetching data to my app, so for that, I have to use another library, if we add that component in this library, it'll be very useful for many react-native-elements users.

**Describe the solution you'd like**
I want to make a simple yet fully customizable funct

[2021-03-16 12:56] rishipurwar1 commented on #2865
Can I start working on this issue?

[2021-03-16 15:11] kevinveiga opened #2866 "Ref error"
**I tried to use a "ref" in the Input component**

**do not show error of not having the type**

**Starting with version 3.3.1, the input component using a ref property, shows this error:

"Property 'ref' does not exist on type 'IntrinsicAttributes & Omit<TextInputProps..."**

**When normally using the Input component with the ref property**

[Screenshot](https://drive.google.com/file/d/1o0VQEp9fI

[2021-03-16 15:43] arpitBhalla commented on #2865
@rishipurwar1 how will you proceed sir???

[2021-03-16 18:06] khushal87 opened #2869 "Convert BottomSheet to functional Component"
**Is your feature request related to a problem? Please Describe.**
Currently the BottomSheet component is Class based and which makes it uniform as many of the components in the project are now functional and others class based, therefore I would like to convert it to Functional component.

**Describe the solution you'd like**
Conversion to Functional component using hooks

**Describe alternatives

[2021-03-16 18:07] khushal87 commented on #2869
@flyingcircle @pranshuchittora @Monte9 @dabit3 Can I start working on this issue? Thank you.

[2021-03-16 18:51] hetanthakkar1 commented on #2748
I am working on this

[2021-03-16 20:26] flyingcircle commented on #2822
Can someone confirm if this issue still exists in 3.3.2

[2021-03-16 20:59] #2863 closed

[2021-03-17 03:30] infothien commented on #2866
I am also facing the same problem with SearchBar, so please give it a check
Also before I could use SearchBar as a type for useRef: `useRef<SearchBar|null>(null)` so that I could use sth like:
[code]

But now, I cannot do that anymore so how should I deal with type for ref ?
<img width="388" alt="SearchBarCA_tsx_—_circleapp_frontend" src="https://user-images.githubusercontent.com/30365498/11141051

[2021-03-17 05:12] khushal87 commented on #2869
Okay, I just noticed its already done in latest update. Thanks.

[2021-03-17 10:00] khushal87 commented on #2866
You need to import SearchbarProps and pass it as `{...(searchBarProps as SearchbarProps)}`  to this Component where `searchBarProps` is simply a object `const searchBarProps = {};` This will solve the issue, I think its most probably a tsc warning. Thanks, feel free to ask and let me know if it doesn't work. @kevinveiga @infothien

[2021-03-17 13:39] khushal87 opened #2870 "Tsc warnings from components Input and Searchbar"
**Explain what you did (Required)**
Using Components such as Searchbar and Input with typescript brings up certain tsc errors/warning which are critical for the application. I have used `ref` as well as `placeholder` props which throw this warnings.

**Expected behavior (Required)**
The `tsc --watch` checks must run without any errors in the application which uses these components.

**Describe the

[2021-03-17 13:40] khushal87 commented on #2870
@flyingcircle I would like to coordinate with you to solve and get a possible fix with you. Thanks.

[2021-03-17 17:22] Aymer-el opened #2872 "Development (contribution) npm install is not working"
Just to run the project as mention in the guideline of contribution

Running the app

**Describe the bug (Required)**
A command is not recogized by my system and cannot go until finishing the installation of node_modules. A screenshot will be, in my opinion, more useful:

**To Reproduce (Required)**

This is previous to snack.io, since it is during npm installation

**Screenshots (Required)**
![im

[2021-03-17 17:30] arpitBhalla commented on #2872
```npm install --global yarn```
```yarn install```

[2021-03-17 17:37] Aymer-el commented on #2872
Thanks you for help. yes, still npm install was not working. Just mentionning

[2021-03-17 17:47] khushal87 opened #2873 "Create a Custom Switch Component for the package"
**Is your feature request related to a problem? Please Describe.**
Currently we don't have a Switch Component in the package, So I would like to work on the same and add it.

**Describe the solution you'd like**
I would like to create a custom switch component for the package. This will increase user engagement and preference of the package

**Describe alternatives you've considered**
The native S

[2021-03-17 17:47] #2869 closed

[2021-03-17 17:48] arpitBhalla commented on #2872
I don't think its a bug, its npm's weakness

[2021-03-17 17:49] khushal87 commented on #2873
@flyingcircle @pranshuchittora @Monte9 Can I work on this issue?

[2021-03-17 18:00] #2872 closed

[2021-03-18 03:59] rajat2502 opened #2874 "Add a CONTRIBUTING.md file"
**Describe the solution you'd like**

A markdown file with contribution guidelines to the project repository's root. This will help beginners in setting up and contributing to the project easily.

[2021-03-18 05:09] arpitBhalla commented on #2874
https://reactnativeelements.com/docs/contributing/

[2021-03-18 06:49] rajat2502 commented on #2874
Hey @arpitBhalla, I also noticed that there was a page in the docs entirely for contributions guidelines, Maybe in the markdown file, we can just place the link so that people can find the guidelines easily?

[2021-03-18 08:32] snitin315 commented on #2874
https://github.com/react-native-elements/react-native-elements/blob/next/.github/CONTRIBUTING.MD

[2021-03-18 08:33] snitin315 commented on #2874
Already present.

[2021-03-18 08:35] rajat2502 commented on #2874
I didn't notice it, thanks for mentioning. Closing the issue.

[2021-03-18 08:35] #2874 closed

[2021-03-18 09:07] yim-jj commented on #2822
It has been resolved from v3.3.1
thanks!

[2021-03-18 10:19] AkshadK7 commented on #2819
What about this one ?  @flyingcircle
![image](https://user-images.githubusercontent.com/52818443/111610378-4f32b480-8801-11eb-8a8e-4dfda8a5a199.png)

[2021-03-18 12:59] akgupta0777 commented on #2870
The pull request is merged and i think the problem is solved so we should close the issue.

[2021-03-18 13:00] khushal87 commented on #2870
Can you share the PR id?

[2021-03-18 13:07] khushal87 commented on #2870
That's in `react-native-elements-app` @akgupta0777 . I have referenced this issue here as it was coming from this package in that app. And I have mentioned there that this is a issue we need to work upon such that problem is resolved.

[2021-03-18 13:09] akgupta0777 commented on #2870
ohh, sorry I didn't see that.

[2021-03-18 13:20] khushal87 commented on #2870
No worries

[2021-03-18 14:25] Abhishek765 commented on #2873
@khushal87 can you share the link of the package through which you found that the switch component was not present so that I can also cross-check whether the component I am planning to add is already present or not?

[2021-03-18 16:25] #2822 closed

[2021-03-18 23:54] kickbk opened #2878 "SearchBar typescript props missing"
I import SearchBar and need to create a ref for it:
[code]
I get a typescript error on:
1. `searchFieldRef.current?.blur();` - it doesn't know about blur.
2. `ref={searchFieldRef}` on the SearchField itself

The first issue I can, in an ugly way, fix by adding the methods to the typescript definition like so:

[code]

I prefer this to be handled correctly of course.
But one thing I am not sure how

[2021-03-19 10:14] Dhananjayan-PN opened #2879 "Proposal for Creation of new Chip component"
## **Is your feature request related to a problem? Please Describe.**

The React Native Elements UI Toolkit currently lacks a Chip component.

## **Describe the solution you'd like**

I will be creating a new Chip component that can be used as a button, for filtering results, displaying tags, and a lot of other fun ways of displaying information. The Chip component is extremely essential for a UI

[2021-03-19 10:17] Dhananjayan-PN commented on #2879
@flyingcircle @pranshuchittora It'll be great if you can acknowledge this proposal! Thanks!

[2021-03-19 10:49] arpitBhalla opened #2880 "FAB and Speed Dial Components"
**Describe the solution you'd like**

https://material.io/components/buttons-floating-action-button

[2021-03-19 11:24] darrylyoung commented on #2878
There are other issues with the `SearchBar` types, too. For example, the [docs](https://reactnativeelements.com/docs/searchbar#props) say I can use `placeholder`, for example, but I'm getting a warning that it's not a valid prop. Looking through the types shipped, it looks like this is missing.

The codebase only just transitioned to TypeScript so I'm guessing it's just a small bug that got throug

[2021-03-19 11:30] loolooii commented on #1035
@xavier-villelegier  That link is broken? Could you share the solution to this?

[2021-03-19 15:48] rajat2502 commented on #2880
Hey @arpitBhalla, I would like to work on this one!

[2021-03-19 15:49] arpitBhalla commented on #2880
@rajat2502 😃 I am near to completion

[2021-03-19 15:50] arpitBhalla commented on #2880
Thanks for asking brother😄

[2021-03-19 15:51] rajat2502 commented on #2880
Oh okay, I saw that it wasn't assigned to anyone :)

[2021-03-19 15:51] arpitBhalla commented on #2880
😅 Only maintainer can assign

[2021-03-19 17:55] Aymer-el commented on #2878
Hello,

First I would like to say I am new here. So, I might be totally out of the subject :).

Regarding your questions @darrylyoung I had a discussion about it with @flyingcircle.

Identification issue:
I think our issue is just typing as you said too.
It is true only our component has the action typed (blur etc) and not the type itself.

Action:
I can place the type (blur, focus, clear, render,

[2021-03-19 18:08] darrylyoung commented on #2878
Hi, @Aymer-el. 👋

Thanks for the message.Yeah, that sounds good. I'm not sure internally how the `Searchbar` component is written – that is, if it's just a wrapper around a `TextInput`, for example – but I also noticed that it doesn't accept any accessibility props such as `accessibilityRole="search"` either.

[2021-03-19 18:45] Aymer-el commented on #2878
Here is a small commit proposition: https://github.com/Aymer-el/react-native-elements/commit/3c4e0bd6c72d51a0c29d66ccb7672cf06eaafc82

**Concerning accessibility**
Issue detection:
It is a wrapper around a `Input` along with `Text` elements. I have seen an accessibility, hard written, mentioned in Ios but not for android.

Potential Fix:
- Typing the component with AccessibilityProps of Text so th

[2021-03-20 00:02] dancixx commented on #2878
Hi, typedef of placeholder doesnt exists too.

[2021-03-20 05:50] MaganAnkur opened #2884 "Safe Area Provider with Wix Navigation"
I am using wix react native navigation and there is no app function in it

Navigation.events().registerAppLaunchedListener(() => {
  startApp();
});
How should I wrap the app with SafeAreaProvider

[2021-03-20 23:19] flyingcircle commented on #2884
Looks like there are some people that have done something like this: https://github.com/wix/react-native-navigation/issues/6092 Looks like you need to wrap your screens in it.

[2021-03-20 23:19] #2884 closed

[2021-03-21 00:55] flyingcircle commented on #2801
Can someone confirm if this error still exists in 3.3.2? I added some `Icon` type fixes.

[2021-03-21 16:19] #2800 closed

[2021-03-22 01:59] infothien commented on #2866
Thank you for you comment @khushal87, I dont think it make sense too me since it is issues with TS of RNE. I think you got the fixes for that, so I might wait a bit and check later !

[2021-03-22 03:56] #2873 closed

[2021-03-22 05:44] khushal87 commented on #2878
I have raised the PR for the same https://github.com/react-native-elements/react-native-elements/pull/2892 this will be solved soon. Thank you.

[2021-03-22 05:53] khushal87 opened #2893 "Missing type definition files for several components"
**Explain what you did (Required)**
Looking at the codebase there are several components which miss the type definitions for the props passed in the components. I would like to add them and therefore the code will be clean with time.

**Expected behavior (Required)**
Type definitions files for the components should be present under `.d.ts` extensions and this will increase code flexibility.

**Des

[2021-03-22 05:53] khushal87 commented on #2893
@pranshuchittora @flyingcircle Can I start working on it?

[2021-03-22 06:14] arpitBhalla commented on #2893
@khushal87 it's automatically generated after ```tsc```

[2021-03-22 06:17] khushal87 commented on #2893
Yes but those definitions must also be present in the folder of components, This is an ideal architecture and the types would be described with description they have. @arpitBhalla . That's my suggestion, though I need review for the same from @flyingcircle and others.

[2021-03-22 09:08] k-guy-dev commented on #2798
Hi @flyingcircle ! I've made a PR for the Image component, @ts-ignore is resolved and the component has been migrated to functional component. Although for some reason the Avatar and Tile components are failing tests. Please can you help me in figuring out what might be the cause.

[2021-03-22 09:35] huy-lv commented on #2783
If someone got this error, try this and don't forget to add these lines to `config-override.js`
[code]

[2021-03-22 10:39] nomi9995 commented on #2382
if you want to make this prop work than you need to edit this file `node_modules/react-native-elements/dist/buttons/Button.js` line:104
[code]

[2021-03-22 13:46] flyingcircle commented on #2893
@arpitBhalla is correct. The `d.ts` files are auto built but not added to the repo. This is standard practice. You can see what the `d.ts` look like by building them with `tsc`.

[2021-03-22 13:46] #2893 closed

[2021-03-22 13:49] khushal87 commented on #2893
Okay, sir. Thank you for your views over it. Yes, I have seen those generated with the ` tsc ` command. @flyingcircle

[2021-03-22 15:01] #2880 closed

[2021-03-23 04:38] lukewlms opened #2898 "TS types broke Theme (import and Icon theming)"
**Explain what you did (Required)**

After upgrading to 3.2.0 => 3.3.2, some previously-working theme elements are now breaking the build.

**Expected behavior (Required)**

Broken (not found):
`import { Theme } from "react-native-elements"`

Broken (clearIcon and searchIcon now require "name" - if I use `Partial<FullTheme>` as the base type.

Theming colors:

[code]

**Describe the bug (Required)

[2021-03-23 07:30] hetanthakkar1 opened #2899 "New Rating compoment"
Currently, we are using another library for our rating component. Can we replace that if I come up with a rating component so that we don't need to use that library!?

[2021-03-23 13:51] arpitBhalla commented on #2797
@flyingcircle May I work on this Sir

[2021-03-23 16:37] khushal87 opened #2900 "Use custom moderateScale in the application"
Currently, we are using a package `react-native-size-matters` for scaling the sizes of the Text and other components which is using the normalize function. Therefore, I have a solution that won't use the dependant package and work on every device. This will be dependant only on Native Text provided by React Native. Can I work on it @flyingcircle ?
This will reduce the 3rd party dependencies in the

[2021-03-23 18:18] pweisensee commented on #2801
This specific issue does appear to be resolved in the recent fixes, but some lingering icon and component prop type issues are lingering. I'll have to submit a separate issue for those though, so you can have a clear reproducible example. Thanks for the fixes!

[2021-03-23 18:18] #2801 closed

[2021-03-23 20:58] flyingcircle commented on #2899
I'm not sure I really see a strong point. Is there a bug in the rating library that means needing to replace it?

[2021-03-23 23:14] hetanthakkar1 commented on #2899
we are importing that from other UI library so I thought reducing external dependency might be a priority

[2021-03-24 12:03] shaolinmkz commented on #2721
// Old package.json
[code]

I had these three installed, I think it recognized `react-navigation` as a duplicate.
So I just uninstalled `react-navigation` and the error went away.

`yarn remove react-navigation`

// New package.json
[code]

[2021-03-24 14:45] flyingcircle commented on #2899
It doesn't really change the amount of code. If in the future we need to fork that library for some reason to fix something, we can.

[2021-03-24 14:45] #2899 closed

[2021-03-24 15:41] #2898 closed

[2021-03-24 16:00] khushal87 opened #2904 "Create New Counter Component"
**Is your feature request related to a problem? Please Describe.**
Currently, there is no Counter component in our package. Having it will encourage user engagement with the package.

**Describe the solution you'd like**
Create a counter component with a plus and minus button and which would increase or decrease on click events of the button.

**Describe alternatives you've considered**
I have con

[2021-03-24 16:00] khushal87 commented on #2904
@flyingcircle Can i work on it?

[2021-03-25 00:17] Dhananjayan-PN opened #2910 "Proposal for new Dialog component"
## **Is your feature request related to a problem? Please Describe.**

The React Native Elements UI Toolkit currently lacks a Dialog component. We currently have a low-level Overlay component that relies heavily on the user to implement. The Dialog component will allow users to quickly create stunning dialogs.

## **Describe the solution you'd like**

I will be creating a new Dialog component that

[2021-03-25 13:13] hetanthakkar1 commented on #2591
We are just replacing iconRight with iconPosition so do u still think it will create prop bloat!? And I think the main advantage of using this iconPosition method as opposed to child method is that the users which are currently using iconRight will have to modify their code a lot as compared to just replacing the iconRight with iconPosition.

[2021-03-25 13:42] mr-ryan-james commented on #2878
This is super hacky, but I was able to fix the second issue by creating a "temp" component that just accepts any Props. If someone wants to add better type definitions, they are welcome to do so.

[code]

[2021-03-26 04:31] HariAcidReign opened #2918 "Proposal for new footer bar"
**Is your feature request related to a problem? Please Describe.**

The React Native Elements UI Toolkit currently lacks a Footer Menu component. However, an image of this component exists in the banner image in the README.md section of this project repository.

![image](https://user-images.githubusercontent.com/58134096/112576982-71d45700-8e19-11eb-93c0-cef1883027d3.png)

**Describe the solution

[2021-03-26 19:43] flyingcircle commented on #2746
This more or less seems like it is already provided by the `color` library: https://www.npmjs.com/package/color People can auto generate different colors based on their own preferences. Unless we can solve a specific problem with this, this seems to already be solved in a very common library.

[2021-03-26 19:43] #2746 closed

[2021-03-26 19:47] flyingcircle commented on #2918
That footer in the image I believe came from the React-Navigation lib.

[2021-03-26 19:59] HariAcidReign commented on #2918
@flyingcircle Alright, but would it be of any value to the project if I added an RNE component of the footer bar (using only RNE elements and no external dependencies)? Is that something that you might be interested in seeing?

[2021-03-26 20:08] flyingcircle commented on #2918
Hmm. Well at least with most app designs I've seen, the footer is usually used to move between screens which does seem like it would fit with `react-navigation` more. My personal opinion is that is clutters the screen a bit too much, but I guess sometimes it's unavoidable. I'm wondering what do you think it would look like beyond just a view at the bottom that a dev can stick things in? It's not q

[2021-03-27 04:53] arpitBhalla commented on #2918
@HariAcidReign isn't it a tab Bar sticked to bottom?

[2021-03-27 05:06] pranshuchittora commented on #2918
I agree with @flyingcircle
The goal behind RNE is to provide building blocks for any app. The footer seems to be more inclined towards navigation & anyone can make this using the base component like icon button or button group from the RNE backed by some navigation logic.

[2021-03-27 05:13] pranshuchittora opened #2922 "Migration of tests to React Native Testing Library"
**Description**
Currently, we are using enzyme & react-test-renderer. Following the standards of the ecosystem, people are shifting from this to **Jext x React Native Testing Library**

Why?
1. It's built specifically for React Native, unlike the test renderer which focuses only on React not Native.
2. It's mature and renowned in the community, therefore it would be easier to mock and test any dep