[2018-03-11 18:18] #893 closed

[2018-03-11 18:21] xavier-villelegier commented on #967
@JaManrique

We just released `v1.0.0-beta3`

The `text` props **was renamed back to `title`**, to be consistent with React Native props.
Rename it to `text` in the `v1.0.0-beta` was a bad move and we're sorry for that.

We're trying to make the `v1.0.0` the best. To achieve that, we must have the most people to test it and report the bugs/possible enhancements. That's why we are encouraging newco

[2018-03-11 18:43] k3ithl1m commented on #869
Hey @iRoachie Should I just implement it?

[2018-03-11 21:25] AnotherEye commented on #387
my 2cents's solution:
`
<SearchBar
      onChangeText={this._onChangeSearchText}
      value={this.state.searchText}
       **clearIcon={this.state.searchTxt ? {name:'cancel'}:false}**
    />
`

[2018-03-12 02:29] MaxInMoon commented on #517
@mr-bat can you provide an example??

[2018-03-12 11:11] maras333 opened #988 "Not existing prop title in Button component"
### Description

1. I tried to assign a title to a <Button/> component, according to documentation with 1.0.0-beta2
2. Title of a button didn't change
3. In a source code of the button there is no props as 'title'. Instead of that there is 'text' props. To resolve this you need to change name of a prop in a code from 'text' to 'title'.

[2018-03-12 12:10] mrcluc commented on #977
This font style works correctly. In this case, it is a custom font that does not work.

[2018-03-12 12:51] iRoachie commented on #977
Using a custom font and a built in font is the same. Just make sure you added the font to your project correctly. https://medium.com/@kswanie21/custom-fonts-in-react-native-tutorial-for-ios-android-76ceeaa0eb78

[2018-03-12 13:00] iRoachie commented on #988
Sorry about that @maras333 you are correct. The prop should've been `text` in the 1.0.0-beta2. I just sent in a PR to correct the documentation to show the correct props. https://github.com/react-native-training/react-native-elements/pull/989

[2018-03-12 13:03] xavier-villelegier commented on #988
@maras333 Feel free to use the beta3, the props has been renamed back  to ˋtitle`

[2018-03-12 13:05] iRoachie commented on #988
@maras333 Fixed merged in so the changes should be on the website in a few mins. Thanks for bringing it up

[2018-03-12 13:05] #988 closed

[2018-03-12 17:17] mrcluc commented on #977
It's ok, this custom font its working in tag <Text></Text> but in Button of framework not working :/

[2018-03-12 18:56] xavier-villelegier commented on #977
@mrcluc If you're using the `v1.0.0-beta3` the `textStyle` props has been renamed to `titleStyle`

[code]

[2018-03-13 05:23] rodrigoelp opened #992 "Missing properties in the button definition"
### Description

1. After importing `Button` I tried to create a rounded button
2. The type definition to work
3. The type definition does not have rounded property.

To reproduce this issue, just type the following code:

[code]

[2018-03-13 05:24] rodrigoelp commented on #992
I have created a pull request fixing this issue
https://github.com/react-native-training/react-native-elements/pull/991

[2018-03-13 08:07] xavier-villelegier commented on #992
Hey @rodrigoelp 👋
You're right, I think we forgot some props in the type definition for the `v0.19.0`, sorry about that. However, now we're developping the `v1.0.0` on the master branch, so we can't update the types of the old versions anymore.

Feel free to check out the `v1.0.0-beta3` and help us to improve it for the `v1.0.0` release 💪
[code]

[2018-03-13 08:14] Gittekken opened #993 "Multiple rows in ButtonGroup"
Rows of Buttons in One Button Group

Currently I am only able to achieve a single row of buttons in ButtonGroup.

I was wondering how to go about splitting the buttons into rows of buttons in ButtonGroup? For example, have react native make 3 buttons per row but all buttons are bounded to one group.

For example: https://g6ling.gitbooks.io/react-native-tutorial-korean/content/1-7ko.html or a simpl

[2018-03-13 08:33] xavier-villelegier commented on #993
Hey @Gittekken ! 👋
This is a bit handy but you can do this manually, check out [this snack example](https://snack.expo.io/SyCA9bStM).

<img src="https://user-images.githubusercontent.com/17592779/37330198-9d923224-26a0-11e8-803e-1a8f5f1a37df.png" width="300" />

I think the use case for the `ButtonGroup` is more like segmented controls on iOS, not really a bunch of buttons like a calculator app.

[2018-03-13 08:39] xavier-villelegier commented on #941
Closing this as it seems to be clearly related to `react-navigation`, and we have absolutely no information from your description. Feel free to ping us if you have more information and it comes from RNE.

[2018-03-13 08:39] #941 closed

[2018-03-13 09:04] Gittekken commented on #993
Thanks for the quick response and help @Xavier-villelegier. The problem is that it is bonded to two different button arrays. I would like to have the one ButtonGroup bonded to one buttons array so that I can selectIndex to one array. ['First', 'Buttons', 'Row'] and ['Second', 'Buttons', 'Row'] the index array would be [0,1,2] for both arrays. An array of ['First', 'Buttons', 'Row', 'Second', 'Butt

[2018-03-13 09:19] xavier-villelegier commented on #993
@Gittekken Okay I see, this is a bit more complicated then, but still feasible, [check this example](https://snack.expo.io/r1PmDMHtf).

<img src="https://user-images.githubusercontent.com/17592779/37332754-e3c9059a-26a7-11e8-9e30-2e54d4d8c5d2.png" width="300" />

[2018-03-13 09:32] Gittekken commented on #993
Thanks @xavier-villelegier

[2018-03-13 09:32] #993 closed

[2018-03-13 11:18] rodrigoelp commented on #992
In that case, how should I create a rounded button [like the first one on the screenshot](https://react-native-training.github.io/react-native-elements/docs/next/button.html)?

Feel free to discard the pull request if does not apply to the code anymore.

[2018-03-13 17:13] SujaYuga opened #996 "Invariant Violation: Element type is invalid error in react-native and CRNA projects"
### Description

I have installed the package as directed
npm i react-native-elements --save
npm i --save react-native-vector-icons
react-native link react-native-vector-icons

Version: "react-native-elements": "^0.19.0",

When importing components like Input or Overlay (to name a few) and using them throws below error.

import { Input } from 'react-native-elements';
import Icon from 'react-native

[2018-03-13 17:20] LouisJS commented on #996
You shouldn't do :
[code]

And if you are using expo, you can't do `react-native link`.

[2018-03-13 17:22] SujaYuga commented on #996
I used react-native link for the react-native project. For the CRNA project, i only used npm i react-native-elements --save. These 2 projects are on different machines react-native on Mac and CRNA on Windows. Hope this clarifies. Please suggest a solution.

[2018-03-13 17:24] iRoachie commented on #996
`Input` and `Overlay` are only available in version `1.0.0-beta2` and higher.

[2018-03-13 17:27] SujaYuga commented on #996
is there any documentation or links, where i can find the supported components for the latest production release"react-native-elements": "^0.19.0"? Also, is 1.0.0-beta2 a production release? Please let me know.

[2018-03-13 18:57] xavier-villelegier commented on #996
@SujaYuga Here are all the versioned doc https://react-native-training.github.io/react-native-elements/versions.html

The last "stable" release is `v0.19.0`, but we're encouraging people to use the beta version to help us improve it and make it better 💪

[2018-03-13 20:32] benclum11 opened #997 "RightIcon not working on android"
## Description:

rightIcon property on Input component isn't showing up on Android.

## Sample Code:
[code]

the text shows on iOS but not on Android

## versions:
"react-native": "0.50.3",
"react-native-elements": "^1.0.0-beta3",

[2018-03-13 20:34] xavier-villelegier commented on #997
@martinezguillaume Can this be related to #959 ?

[2018-03-14 01:13] fluvios opened #998 "checkbox with image"
**DESCRIPTION**

is there possible to use checkbox with image in the right ?

**VERSION**

i using "react-native-elements": "^0.19.0"

thanks for the answer

[2018-03-14 08:35] xavier-villelegier commented on #998
Hey @fluvios ! This is planned for `v1.0.0-beta4` 🔥 💯
Just closing this as a duplicate of #888

[2018-03-14 08:35] #998 closed

[2018-03-15 00:38] rodrigoelp commented on #992
Hi @xavier-villelegier, I would love to know an answer for this. I think the rounded property was pretty cool and I don't really fancy having to call `borderTopRightRadius: 40, ...` as it seems to me a bit fragile.

[2018-03-15 03:49] iRoachie commented on #992
@rodrigoelp You can still used the `rounded` prop in `0.19.0` as you can see the prop here https://react-native-training.github.io/react-native-elements/docs/0.19.0/button.html#button-props. It's just not defined in the typescript definitions.

You can extend the `ButtonProps` if you want to be able to use it and still have your typings correct.

[code]

Then use MyButton in your source code:
[cod

[2018-03-15 11:36] KunalPaul commented on #603
if you are using list view than have a look to this

 state={
        Check:[]
    }

 componentWillMount() {
        var my_check = []
        array.forEach((folder) => {
            my_check.push(false)
        })
        this.setState({
            Check:my_check
        })
    }

than in your render do something like this
 <ListView
                    dataSource={Folder.cloneWithRows(this.sta

[2018-03-15 11:37] KunalPaul commented on #454
if you are using list view than have a look to this

state={
Check:[]
}

componentWillMount() {
var my_check = []
array.forEach((folder) => {
my_check.push(false)
})
this.setState({
Check:my_check
})
}

than in your render do something like this
<ListView
dataSource={Folder.cloneWithRows(this.state.folder)}
renderRow={(rowData,rowID) =>
<CheckBox
label='All'
labelBefore={true}
checked={this.state.

[2018-03-15 11:53] AndyCrisan commented on #587
<Button
                        containerViewStyle={{marginLeft:-10,marginRight:null,width:"105%"}}
                        buttonStyle={{width:"100%"}}
                        textStyle={{}}
                        onPress={() => )}
                        title="title"

                    </Button>

[2018-03-15 14:28] boraikizoglu opened #1002 "Welcome to React Native Elements ( Button issue )"
### Description

1. Explain what you did: I removed node_modules folder and then executed npm install command ( It should install the same version of react-native-elements since I didn't change version on package.json )
2. What you expected to happen: I expected that button component of react-native-elements will continue to work properly
3. What actually happens: Buttons show "Welcome to react na

[2018-03-15 14:38] iRoachie commented on #1002
In the betas the default title for the Button is 'Welcome to React Native Elements'. This only shows if you haven't given the Button a `title`.

See https://github.com/react-native-training/react-native-elements/blob/master/src/buttons/Button.js#L148

[2018-03-15 15:05] boraikizoglu commented on #1002
@iRoachie You are right. I realized that after posting this issue.

but I still have a confusion. It should install the same version since I didn't change package.json and didn't modified react-native-elements module manually.

It works properly when I replace module with the folder in the google drive link above. ( It is a backup of react-native-elements module before I delete and install node_mo

[2018-03-15 15:12] iRoachie commented on #1002
@boraikizoglu You really shouldn't be editing or interfacing directly with node_modules. Let your package.json be the source of truth. If you still have any problems then do a fresh install of your packages.

`rm -rf node_modules && npm install`

[2018-03-15 15:23] boraikizoglu commented on #1002
@iRoachie I said "didn't modified react-native-elements module manually."

Anyway, I updated it to last version and changed the props. It is fixed now. Thanks

[2018-03-15 15:24] #1002 closed

[2018-03-15 23:55] alexborton opened #1005 "'Material Icons' is not a system font"
I can't seem to get Material Icons font to render at all. I have read a lot of threads on the matter and nothing seems to work.

I am running on Expo and have the following setup in my `App.js`

[code]

This is as per the Expo docs and suggested in some other issues on React native elements. Yet still i get the same RSD;

![image](https://user-images.githubusercontent.com/1439507/37496754-4d3d9b8e

[2018-03-16 02:03] laurence-myers commented on #743
I have also run into this issue.

If setting the "value" prop is the official solution, can the documentation be updated to say this is required for Android?

[2018-03-16 04:51] geminiyellow commented on #960
got the same error when use react-native-web in `production` mode.

[code]

and track the error, got this

`/node_modules/react-native-elements/src/tile/FeaturedTile.js"`

![image](https://user-images.githubusercontent.com/929878/37504356-1f039fdc-2921-11e8-8e7c-b89ba93dd82f.png)

[2018-03-16 08:47] xavier-villelegier commented on #1005
@alexborton Did you try with `@expo/vector-icons` ?
[code]

and then load your font from

[code]

[2018-03-16 09:07] alexborton commented on #1005
@xavier-villelegier Yes - sorry i did try that (I have re-formatted my original question code)

[code]

I read about @expo/vector-icons exporting Material icons as `material` so also tried;

`await Font.loadAsync({'MaterialIcons': require('@expo/vector-icons/fonts/MaterialIcons.ttf')})
`

[2018-03-16 11:22] mturki commented on #996
I have exactly same error with beta 3 version. `react-native-vector-icons` is installed, linked and fully functional with `v0.19.0`. But this error appeared today after upgrading to beta 3. Just to make i tried

[code]

my simplified render() function
[code]
ExceptionsManager.js:73 Unhandled JS Exception: Invariant Violation: Element type is invalid: expected a string (for built-in components) or

[2018-03-16 11:27] xavier-villelegier commented on #996
@mturki There is no `FormLabel` anymore in the `v1.0.0-beta3`. We will include this label feature in the `Input` component in the `v1.0.0-beta4` coming soon

[2018-03-16 11:32] mturki commented on #967
I'm testing v1.0.0-beta3 with typescript,  and i still  have an error when i use `title`. `text` is recognised but not applied : my button is titled "**welcome to React Native Elements**" instead of "**my title**". The types declaration is probably not up to date?

[2018-03-16 11:34] xavier-villelegier commented on #967
@mturki Types definition are not up to date, it has been merged and will be release in the next `v1.0.0-beta4` version. Have a look at #1001

[2018-03-16 11:42] alexborton commented on #1005
After hours wracking my brain on this, the answer was there in front of me the whole time.

Presumably, React Native Elements refers to Material icons as `Material Icons`, *not* `MaterialIcons`.

This means that the default import from `@expo/vector-icons` does not work as their reference to Material icons is different.

The solution is to manually select Material icons from expo, replacing this l

[2018-03-16 12:01] tiagoalves commented on #957
Thanks for the help. I'm closing this since I've been successfully using the approach I mentioned in this [comment](#issuecomment-369657974).

[2018-03-16 12:01] #957 closed

[2018-03-16 14:17] iRoachie opened #1006 "Update website to use new props layout"
Using the props layout from the react native docs website

[2018-03-16 15:18] iRoachie commented on #1006
Each page should list all the available props in alphabetical order, with an anchor link to the description of the prop.

See https://facebook.github.io/react-native/docs/image.html#props for example behaviour

[2018-03-16 19:13] xavier-villelegier commented on #949
Closing this as @iRoachie seems to have the good solution. Feel free to ping us if you still need help @Asinox 👍

[2018-03-16 19:13] #949 closed

[2018-03-17 00:57] iRoachie opened #1008 "Cleanup Typescript definitions"
* Remove links to component pages (the links will always be broken since the website create new urls for each release)
* Replace usage of `JSX.Element` with `React.ReactElement`

[2018-03-17 10:58] #992 closed

[2018-03-17 14:18] Gregjarvez commented on #1008
@iRoachie I will submit a pr for this :)

[2018-03-17 14:21] iRoachie commented on #1008
Thanks. @Gregjarvez!

[2018-03-17 14:36] Gregjarvez commented on #1008
checking out a new branch with base next shouldn't mess up anything right
`git checkout -b ts-definition upstream/next`
I want to be sure before I mess up some more branches this time lol
?

[2018-03-17 14:37] iRoachie commented on #1008
Haha that should be it. Make your upstream is actually in sync.
Run `git fetch --all` first.

[2018-03-17 14:39] Gregjarvez commented on #1008
aha I knew I was gonna mess up again without asking. thanks lol @iRoachie

[2018-03-17 15:50] Gregjarvez commented on #1006
@iRoachie this isn't replacing the table layout right ? just an addition. Id like to do this too

[2018-03-17 15:56] iRoachie commented on #1006
It's replacing the layout of all the docs pages, with the props layout similar to the react-native-docs. This is a very big PR

[2018-03-17 15:58] Gregjarvez commented on #1006
yeah seems really big :) few days maybe @iRoachie

[2018-03-17 16:19] Monte9 commented on #960
If this is the only blocker for using RNW in production mode, we can easily get rid of the `isRequired` and just add a null check on the component itself. Should be a quick fix. Let me know if that would fix your issue for now.

[2018-03-17 16:27] Monte9 commented on #1006
@Gregjarvez seems like you have been submitting a few PR's and helping out. Thanks for that! 😃

I am putting a $30 bounty on this PR and @iRoachie will oversee it. So if you wanna work on this PR, go for it! 😉

[2018-03-17 16:36] iRoachie opened #1010 "Add typescript test to CI"
Currently right now they're no test to check if the changes we make to the typescript definitions actually work and pass the typescript compiler.

We need to add a test in the ci to similar to DefinitelyTyped.

[2018-03-17 16:48] Gregjarvez commented on #1006
sure i will work on this

[2018-03-17 17:08] bohdanbirdie opened #1011 "ButtonGroup blue background"
### Description

1. Used `ButtonGroup`
2. Can disable blue color behind button element
3. Once you will set `borderRadius` to buttonStyle - blue color behind will appear.

`v1.0.0-beta3`

### Reproduction Steps and Sample Code

[code]

![image](https://user-images.githubusercontent.com/23266928/37558108-b23f3280-2a06-11e8-889e-73b72eb0e3db.png)

[2018-03-17 17:18] dorman99 commented on #710
i have same problem here, pls re open it

[2018-03-17 17:57] Gregjarvez commented on #1006
@iRoachie I created a [gist](https://gist.github.com/Gregjarvez/a77fd849b21b64d0499f42cccd365329#activeopacity) for avatar.md. could verify if this is correct before I process to work on the others

[2018-03-17 18:08] iRoachie commented on #1006
Can you use `###` for the props in reference instead

[2018-03-17 18:13] Gregjarvez commented on #1006
@iRoachie sure I will do that
Also what is the order of precedence of the md files
say button.md in directories version-0.19.0 and version-1.0.0-beta2
which one do I edit ?

[2018-03-17 18:14] iRoachie commented on #1006
This is what I meant when I said its a big PR, all of them have to edited in every version

[2018-03-17 19:58] teamhide opened #1012 "Create two icons on <Header>"
I want to create two icons on `<Header>`

Just like this ->
<img width="740" alt="2018-03-18 4 54 03" src="https://user-images.githubusercontent.com/8403122/37559393-8df3f282-2a68-11e8-8029-7dd8453c257b.png">

I read the official document(https://react-native-training.github.io/react-native-elements/docs/0.19.0/header.html) But there is no way about this.

Is there any props or possible method?

[2018-03-17 20:05] teamhide opened #1014 "Icon with text on <Header>"
Is there any way for icon with text?

I want to make it like this ->
<img width="741" alt="2018-03-18 5 02 43" src="https://user-images.githubusercontent.com/8403122/37559448-b6c59f0c-2a69-11e8-80d9-ae0967b4e3c1.png">

So, I tried to edit my code,

          <Header
            centerComponent={{ icon: 'home', text: 'Board', style: { color: '#fff' } }}

          </Header>

However, the icon does

[2018-03-17 22:27] iRoachie commented on #1008
Merged in. Will be available in 1.0.0-beta4

[2018-03-18 01:12] iRoachie commented on #1012
Similar to the answer given in https://github.com/react-native-training/react-native-elements/issues/1014#issuecomment-373960237, You have to use the element syntax to accomplish this.

Here's an example snack to show this behavior https://snack.expo.io/@roach_iam/two-icons-in-header

[2018-03-18 04:46] jackcbrown89 opened #1015 "platform Prop for SearchBar is broken"
### platform="ios" does nothing and looks like the default style

[code]
Installed `react-native-elements@0.19.0`

[2018-03-18 04:53] iRoachie commented on #1015
The iOS and Android styled search bars are only available in the betas. Use `npm install --save react-native-elements@beta` to get the latest one.

[2018-03-18 06:04] #1015 closed

[2018-03-18 06:28] teamhide commented on #1014
@iRoachie It works perfectly. Thanks.

[2018-03-18 06:28] #1014 closed

[2018-03-18 06:36] teamhide commented on #1012
@iRoachie Thanks!

[2018-03-18 06:36] #1012 closed

[2018-03-18 08:43] jacklinton commented on #960
As far as I can tell, that is the case. I would very much appreciate the fix!

[2018-03-18 13:02] xavier-villelegier commented on #1011
Hey @bohdanbirdie, you're right this is a bug, we also set the background to the default blue primary color. The problem is [this line](https://github.com/react-native-training/react-native-elements/blob/master/src/buttons/ButtonGroup.js#L97) if someone wants to tackle this 💪

[2018-03-18 15:06] iRoachie opened #1018 "Add showcase section to website"
Area to showcase people who’ve built apps using react native elements.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-18 15:22] Monte9 commented on #1018
Blog Post: https://medium.com/@austinhale/building-a-mobile-app-in-10-days-with-react-native-c2a7a524c6b4?source=userActivityShare-60b87ae09e91-1521325250

[2018-03-18 18:18] MaxInMoon commented on #710
same with SearchBar icons

[2018-03-18 18:30] MaxInMoon opened #1019 "[v1.0.0-beta3] [SearchBar-android] Icons not showing on android (MaterialCommunitIcons?)"
**Version**

v1.0.0-beta3

**Description**

In [SearchBar-android.js](https://github.com/react-native-training/react-native-elements/blob/master/src/searchbar/SearchBar-android.js#L10), the icon lib is `MaterialCommunitIcons`:

`import MaterialIcon from 'react-native-vector-icons/MaterialCommunitIcons';`

**Problem**

The `clearIcon` doesn' show on Android (cause 'close' doesn't exist in MaterialC

[2018-03-18 18:35] xavier-villelegier commented on #710
@dorman99 @MaxInMoon Be sure to have followed these instructions https://github.com/react-native-training/react-native-elements/issues/620#issuecomment-355530210

[2018-03-18 18:38] MaxInMoon commented on #710
@xavier-villelegier thanks, my problem comes from the SearchBar component (#1019)

[2018-03-18 18:40] iRoachie opened #1020 "Add Troubleshooting section to docs"
We need a section to store information and problems that arise frequently that we can point users to.

[2018-03-18 18:42] xavier-villelegier commented on #1019
@MaxInMoon Replacing `MaterialCommunityIcons` by `MaterialIcons` won't solve the issue as `react-native-vector-icons` supports both ([check this](https://github.com/oblador/react-native-vector-icons#bundled-icon-sets))

You likely forgot to link (if you're using React Native) or to install `@expo/vector-icons` (if you're using Expo) (cf https://github.com/react-native-training/react-native-element

[2018-03-18 18:48] MaxInMoon commented on #1019
@xavier-villelegier you are right thank you: I only used two fonts from vector-icons (and not MaterialCommunityIcons)

Could be cool to let us use a specific lib like:

        icon: {
          name: 'search',
          type: 'material',
          color: '#86939e',
        },

The goal is to link the fewer fonts as possible

[2018-03-18 21:21] jackcbrown89 commented on #1015
Thanks! Maybe we can throw that in the docs.

[2018-03-18 21:24] k3ithl1m commented on #1011
I would like to work on this. Will make a pr as soon as I can

[2018-03-19 01:51] geminiyellow commented on #960
yep

[2018-03-19 08:14] iRoachie opened #1022 "PR App Previews"
Generate a preview version of the changes in PR to verify if it breaks the RNE app

[2018-03-19 08:53] davigmacode commented on #654
Setting borderBottomWidth:0 to headerOuterContainer, not work for me.
using "react-native-elements": "^0.19.0",

[2018-03-19 09:02] iRoachie commented on #681
To minimize conflicts with https://github.com/react-native-training/react-native-elements/pull/1013, gonna push this to `beta5`

[2018-03-19 15:07] mo22 commented on #631
Hi, index.d.ts should be updated as well.

[2018-03-19 16:20] Haykys opened #1023 "Button text flickering"
### Description

**1. Explain what you did**

Move (swipe) a Card component with Text and Button component inside via RN Animation

**2. What you expected to happen**

Card will move without any side-effects

**3. What actually happens**

Button text flickers when animation starts and when card is released

**Also please include the version of `react-native-elements` that you are using.**

"react-

[2018-03-19 19:18] soninit commented on #977
I'm using **v1.0.0-beta3** but use textStyle doesn't work

Platform: **Android**
ReactNative: **0.54.2**

Code:
[code]

[2018-03-19 19:21] iRoachie commented on #977
@soninit The fontFamily names on android are the same as the names of the font files. Can you check `android/app/src/main/assets/fonts` to check what you named it?

[2018-03-19 19:27] soninit commented on #977
@iRoachie It work fine for me in Text Component.

![image](https://user-images.githubusercontent.com/17592012/37617634-45b77e74-2be6-11e8-9f92-bdef42c8edf7.png)

[2018-03-19 19:32] iRoachie commented on #977
Can you set the fontWeight to 400 on the button and try that

[2018-03-19 19:50] soninit commented on #977
It's work ! I set fontWeight 400. But I don't need to set fontWeight in iOS though.

[2018-03-19 19:57] Trnsmt opened #1024 "Hide border bottom on v1.0.0-beta3 Input"
Hi! the prop underlineColorAndroid="transparent" on the Input component is not working as expected. The bottom border is still visible. This is on 1.0.0-beta3.

[2018-03-19 20:00] iRoachie commented on #977
Glad I could help. It's something I noticed while developing, using `fontWeight` 600 on android seems to force `sans-serif-medium` font on android(default). So I just abandon using `fontWeight` all together and use `fontFamily` instead.

[2018-03-19 20:12] xavier-villelegier commented on #1022
(Cf [`react-navigation` PRs](https://github.com/react-navigation/react-navigation/pulls), WIP on [these PRs](https://github.com/xavier-villelegier/react-native-elements/pulls))

[2018-03-19 20:17] xavier-villelegier commented on #1023
Hey @Haykys, thanks for reporting that. `Button` is using `TouchableHighlight` on iOS and `TouchableNativeFeedback` on Android under the hood. On which platform are you experiencing this ?
And what if you add `Component={TouchableOpacity}`, does the problem still occur ?

[code]

[2018-03-19 20:22] xavier-villelegier commented on #1024
Hey @Trnsmt, there is a `borderBottom` by default on the `Input` component. You can override it by doing:

[code]

[2018-03-19 20:26] Trnsmt commented on #1024
Hey @xavier-villelegier , Thank you! This solved my issue. I was wondering since the documentation says that this component inherits all native TextInput props that come with a standard React Native TextInput element. But this fixed it! Thanks :-)

[2018-03-19 20:26] #1024 closed

[2018-03-20 07:59] Haykys commented on #1023
Hey @xavier-villelegier. The problem is occurring only on Android devices. Adding TouchableOpacity doesn't help

[2018-03-20 08:58] xavier-villelegier commented on #1015
@jackcbrown89 You can access versioned doc by clicking on the version in the header of the website. Check out [here](https://react-native-training.github.io/react-native-elements/versions.html) 👍

[2018-03-20 09:01] xavier-villelegier commented on #654
@davigmacode Feel free to open a new issue with updated screenshots if you still have this issue

[2018-03-20 09:43] jadelmir opened #1025 "Cannot import Input component with v0.19.0"
### Descripwtion

1. i imported Input = import { Input } from "react-native-elements";
2. i used the component i exepected to work
3. actually an error occured

i am using the lastest version of react-native elements

import { View, Text } from "react-native";
import React, { Component } from "react";
import Icon from "react-native-vector-icons/FontAwesome";
import { Input } from "react-native-ele

[2018-03-20 09:46] xavier-villelegier commented on #1025
Hey @jadelmir, I think you checked the `v1.0.0-beta3` docs but are using the `v0.19.0` version of RNE.
You can use the last `beta` version by doing

[code]

[2018-03-20 10:01] xavier-villelegier commented on #1023
Mmh could you reproduce it on Snack ? [Here is](https://snack.expo.io/Sk4cFLCtz) a basic example, you just need to animate the Card

[2018-03-20 10:27] mr-bat commented on #517
![staremptycurved](https://user-images.githubusercontent.com/16259723/37649313-9ab3556e-2c46-11e8-82a1-5238ab11c717.png)

This is what I came up with.

[2018-03-20 17:23] Grohden commented on #1025
had the same problem... i installed the 0.19.0, but the react native elements site default page is for the beta...

[2018-03-20 17:28] Grohden commented on #979
@xavier-villelegier solution is working for me... btw, i think that this should be the default behavior for the input component.
Another question: why don't use flex for sizes in icons + input?
https://github.com/react-native-training/react-native-elements/blob/master/src/input/Input.js#L131

[2018-03-20 17:37] xavier-villelegier commented on #979
@Grohden This is planned, and in [this PR](https://github.com/react-native-training/react-native-elements/pull/990/files#diff-89b1b79a7da1dd9a007d07c549ccbc3bL148) 😉

[2018-03-20 17:38] xavier-villelegier commented on #1025
Yea that is to encourage people to use the beta
cc @iRoachie, I guess it's too confusing to make the `v1.0.0-beta3` the landing page

[2018-03-20 17:46] Grohden commented on #1025
@xavier-villelegier that worked XD, but the problem is that everyone just install with `npm i react-native-elements` without looking at the beta label in the site.. i would put an `npm install beta` right below the `try out `and `view components` button in the beta landing page

[2018-03-20 17:49] iRoachie commented on #1025
There's an open issue for it right now, https://github.com/facebook/Docusaurus/issues/346

[2018-03-20 18:53] Grohden commented on #979
@xavier-villelegier I've made some changes based on your PR, they solve my problems and use flex sizes.
Here: https://snack.expo.io/@grohden/rn-elements-input-with-flex (on the components folder)
It's just a suggestion, i don't know if my changes broke something

[2018-03-20 21:01] xavier-villelegier commented on #979
@Grohden Ah yea I see. We used flex sizes for the icon containers before and we switched to fixed size, because it doesn't have sens for the icon container. Imagine you rotate your screen, you want your Input to take more space but you don't want your Icon container to take useless space, as your icon itself will still have the same size. Don't know if it's clear

[2018-03-21 05:40] AjithBharathi commented on #122
<Button buttonStyle={ styles. btnFb } this is not change my button width

[2018-03-21 05:42] AjithBharathi commented on #122
<Button
                 buttonStyle={styles.btn2}
                onPress={this.clickme}
                title="ADD"
                color="#841584"
/>
      btn2: {
        width:'100%',
        },

this is my button coding, anybody give me a suitable solution for me

[2018-03-21 08:44] xavier-villelegier commented on #122
@AjithBharathi If you are using `v1.0.0-beta3` you need to set both `containerStyle` and `buttonStyle` to set the width. There is an opened PR about that #1000

[2018-03-21 19:50] lsiden opened #1027 "Cannot verify whether button is disabled in unit test"
### Description

When unit testing my component, I want to verify that a certain button is enabled or disabled.

react-native-elements@0.19.0

### Reproduction Steps and Sample Code

1. create-react-native-app
2. yarn add --dev jest
3. yarn add react-native-elements
4. create and run the following test

[code]

### Expecting
button.props.disabled should be truthy

### Getting
button.props.disabled

[2018-03-21 21:11] iRoachie commented on #1027
Not sure if you’re using enzyme correctly, but the method should be `button.props().disabled`. Props is a method on the shallow wrapper.

See http://airbnb.io/enzyme/docs/api/ReactWrapper/props.html

[2018-03-22 00:18] laurence-myers opened #1028 "No raised prop on Button"
```<Button buttonStyle={{ raised: true }}```

This fails compilation in TypeScript.

Based on my understanding of PR #816, the "raised" property was moved as a prop of Button to a style property.

A possible fix is to change index.d.ts:L239, as below:
```buttonStyle?: StyleProp<ViewStyle & { raised?: boolean }>;```

[2018-03-22 00:31] laurence-myers opened #1029 "Button: TS definitions: "title" property does not exist (1.0.0-beta3)"
```<Button title="Hello World!"/>```

This will fail compilation in TypeScript.

There is another property called `text`, perhaps this is intended to be `title`.

[2018-03-22 02:00] iRoachie commented on #1029
Yes you're correct! This issue has already been fixed in https://github.com/react-native-training/react-native-elements/pull/1017/commits/57c5557093853980958d2c4e1edbca0a7fe6531c. It'll be available in the next release.

[2018-03-22 02:05] iRoachie commented on #1029
You can extend the `ButtonProps` if you want to be able to use it right now and still have your typings correct.

[code]

Then use MyButton in your source code:
[code]

[2018-03-22 02:07] iRoachie commented on #1028
You might be a bit confused by the PR. That PR was moving the styles for `raised` from the outer container, to the immediate container surrounding the button.

`raised` is still a prop, and it used as
[code]

[2018-03-22 02:10] laurence-myers commented on #1029
Ah, thanks very much for the workaround! Since this has been fixed, I'll close this issue.

[2018-03-22 02:10] #1029 closed

[2018-03-22 02:18] iRoachie commented on #631
Thanks @mo22 fixed in https://github.com/react-native-training/react-native-elements/commit/11452143d64b94f95b6f8394c2a887d492669843

[2018-03-22 02:21] laurence-myers commented on #1028
Thanks for the clarification!

In that case, "raised" is missing from the ButtonProps type definition.

[2018-03-22 06:08] ShaikhKabeer opened #1031 "Scrollbar is not displaying in <Card>"
Hello Guys,

I have displayed one horizontal bar chart on Card. As I have to use ScrollView on Card but it is not Scrollbar  displaying on Card. How can I do this ?

[2018-03-22 08:50] xavier-villelegier commented on #1031
Hey @ShaikhKabeer, [here is](https://snack.expo.io/SkdECyW5G) a quick example of how to put an horizontal scrollbar in the `Card`

[2018-03-22 09:34] ShaikhKabeer commented on #1031
Hey @xavier-villelegier , Thanks Man it is working !!

[2018-03-22 09:34] #1031 closed

[2018-03-23 00:12] lsiden commented on #1027
I'm not using enzyme.  I'm using react-native-test-utils.

I'm about to upgrade to react-native-elements#v1.0.0-beta3 to see if that
gives me better traction for simulating a button press.  I'm still on 0.19.0

On Wed, Mar 21, 2018 at 5:11 PM Kyle Roach <notifications@github.com> wrote:

[2018-03-23 11:04] MrHubble commented on #242
@rodrigore did you end up using https://github.com/jemise111/react-native-swipe-list-view? If yes, would you recommend using it in combination with react-native-elements?

[2018-03-24 15:34] hosembafer opened #1032 "Congratulations, 10.000 stars"
Guys, you have reached 10.000 stars.

<img width="191" alt="screen shot 2018-03-24 at 7 32 24 pm" src="https://user-images.githubusercontent.com/5071289/37865734-521146fc-2f9a-11e8-9c42-557ceddc297d.png">

[2018-03-24 16:59] Monte9 commented on #1032
![](https://media1.tenor.com/images/774acad780cbd690b5291e942866269c/tenor.gif?itemid=5122518)

[2018-03-24 21:34] Monte9 commented on #1032
The Twitter thread about reaching 10k 🌟
https://twitter.com/MThakkar_/status/977626100716064768

[2018-03-25 04:06] thangkho commented on #442
@mikhail709
Have you done it yet? I have same error.

[2018-03-25 11:17] jarrx commented on #605
Any progress on this?

[2018-03-25 11:19] xavier-villelegier commented on #605
@jarrx Have a look at #945 👍

[2018-03-25 15:48] chibi-gunso opened #1034 "ListItem margin/padding for image and text"
When using an image or an avatar in a list item

I would expect that an image/avatar can be placed in a list item without margin/padding.

What happens is that the list item always seems to have padding that I can't seem to control.

I've tried removing all the margin/padding styling from parent components but nothing seems to work. See the example attached.

https://snack.expo.io/r1bpxBrqz

It al

[2018-03-25 18:12] doniyor2109 commented on #328
When I set ```borderRadius``` in  ```containerViewStyle``` it works, however my previously set box shadow is not working as expected. ```borderRadius``` slices the box shadow

[2018-03-25 18:31] doniyor2109 opened #1035 "Shadow is not working properly with borderRadius"
### Description

As given solution in issue #328 I followed the instruction and set ```borderRadius``` for ```containerViewStyle``` too. However my previously set shadow is cut with the ```borderRadius```

![photo5312075677396215954](https://user-images.githubusercontent.com/14192979/37878562-7b096324-3084-11e8-9c52-ca1aa39d578b.jpg)

### Sample Code
[code]

[2018-03-25 18:32] doniyor2109 commented on #1035
The solution was to add shadow to ```containerViewStyle``` instead of ```buttonStyle```.

[code]

[2018-03-25 20:05] viggyfresh opened #1036 "Overlay missing from type definitions"
### Description

1. Explain what you did
[code]
2. What you expected to happen
Import to work without alarming the Typescript compiler
3. What actually happens
[code]
Also please include the version of `react-native-elements` that you are using.
[code]

### Reproduction Steps and Sample Code

Try to import `Overlay` in any Typescript environment.

### Solution

Not sure where the `Overlay` export

[2018-03-25 20:21] iRoachie commented on #1036
Thanks @viggyfresh for reporting. Clear mishap on our side when we released the `Overlay` component. We need to add the definitions for that component.

[2018-03-25 20:25] xavier-villelegier commented on #1034
@chibi-gunso Mmh looking at your example, I think the `ListItem` doesn't fit to your use case. Using a simple `View` makes your code shorter and cleaner, [check out this example](https://snack.expo.io/Hy9hBKBcG)

[2018-03-26 09:28] 0xori opened #1038 "Searchbar - Android - how to change cancel (left arrow) icon"
Hi, I'm building an RTL app, the search bar icon for Android is always a left arrow, I was wondering if I can change its style or change the whole icon the same way I can change the clear icon.

I'm using 1.0.0-beta3

[2018-03-26 13:39] xavier-villelegier commented on #1038
Hey @0xori 👋
For the platform searchbars (iOS and Android) we're trying to avoid adding a lot of customisation props, and fit to the platform design (for simplicity).
Your use case is a bit specific, so [here is](https://snack.expo.io/Sy95UO85G) a little example of how you can do it.

<img src="https://user-images.githubusercontent.com/17592779/37909658-cabc7f3c-310b-11e8-829b-2035519df50f.jpeg" h

[2018-03-26 21:05] dincozdemir commented on #1011
@k3ithl1m If you hadn't had a chance to work on this issue, like to fix it.

[2018-03-26 22:05] k3ithl1m commented on #1011
Hey @dincozdemir Sure thing. I forgot about this issue entirely as I was traveling. Go at it and have fun! :)

[2018-03-26 22:26] dincozdemir commented on #1011
While i was fixing the issue, I also noticed that this usage gives an error when the given style is defined using ``
StyleSheet.create``:

``borderRightColor:
                  (innerBorderStyle && innerBorderStyle.color) || colors.grey4,``

That's because in such case, innerBorderStyle is a style id, not the style itself.
It should be ``StyleSheet.flatten(innerBorderStyle)`` to avoid crashes.

I

[2018-03-26 23:04] xavier-villelegier commented on #1011
@dincozdemir As you can see [in the docs](https://react-native-training.github.io/react-native-elements/docs/button_group.html#buttongroup-props), the `innerBorderStyle` has the type `object { width, color }`, it cannot be a Stylesheet object, it's basically a simple object that allows you to override these two border props. Other styles has the type `object (style)`, which can be an object OR a S

[2018-03-27 18:45] chibi-gunso commented on #1034
Thanks for example, that was what I was trying to do!

[2018-03-27 18:53] #1034 closed

[2018-03-27 19:05] xavier-villelegier commented on #976
@maxkarelov @pablo-albaladejo The `containerStyle` is now applied to the outer component. This will be part of the `v1.0.0-beta4`

[2018-03-27 21:57] montao commented on #873
linearGradientProps crashes my app too...

[2018-03-28 01:01] Monte9 commented on #873
@montao are you using `expo`? or just `react-native init`? Either way, please follow the exact instructions that @xavier-villelegier posted above.

https://github.com/react-native-training/react-native-elements/issues/873#issuecomment-362222183

[2018-03-28 04:02] hoangvuanhdevelopervn commented on #503
You have to link to library: react-native link react-native-vector-icons

[2018-03-28 14:51] mopilo opened #1045 "Unable to resolve module `react-native-webgl`"

[2018-03-28 15:00] #1045 closed

[2018-03-29 05:28] pensivej opened #1046 "ListItem onPress not working"
### Description

1. Explain what you did

Hi, I used Expo and tested ListItem with examples provided. Also, I have <ScrollView> at the very top of the rendering layer.

2. What you expected to happen

I made a ListItem with onPress={console.log(l.name)} so that I can see the name of the clicked one when I press.

3. What actually happens

In the console I can see all the names while loading (unexp

[2018-03-29 05:34] pensivej commented on #1046
found the answer in a minute.
I should bind the function, not calling it.

Proper way would be
onPress={()=>console.log("I want this")}

[2018-03-29 05:34] #1046 closed

[2018-03-29 08:14] doniyor2109 commented on #1035
As I applied previously mentioned solution to `containerViewStyle` it works. However when user long presses and holds the button it cuts the **shadow** again

[2018-03-29 12:29] muresanandrei commented on #976
When will v1.0.0-beta4 be released?

[2018-03-29 12:36] iRoachie commented on #976
@muresanandrei Should be this weekend (Sunday)

[2018-03-29 15:01] xavier-villelegier commented on #1035
@doniyor2109 Have a look at https://github.com/react-native-training/react-native-elements/issues/535#issuecomment-320197586

[2018-03-29 16:05] doniyor2109 commented on #1035
Thanks. That is final solution I guess

[2018-03-29 16:05] #1035 closed

[2018-03-29 18:00] AkshitSahani opened #1047 "Cannot set size of Icon or clearIcon in SearchBar"
### Description

1. Explain what you did

I tried to set a larger size to the icon or clearIcon within my search bar. I see in the docs that you can provide a style key in both the icon and clearIcon objects. I tried setting different heights and widths
 as an object for the style key.

2. What you expected to happen

I expected the width and size properties to change size of the icon (or clearIco

[2018-03-30 07:44] xavier-villelegier commented on #1047
Hey @AkshitSahani, this is not possible for now ! If anyone wants to tackle this issue, the hard coded size is [here](https://github.com/react-native-training/react-native-elements/blob/master/src/searchbar/SearchBar-default.js#L105) !

[2018-03-30 07:58] xavier-villelegier commented on #873
@Donhv @montao, My bad, my example was not working.

I've changed
[code]

into
[code]

I just tested this, and it works fine. Let me know if you have other issues

[2018-03-30 08:20] xavier-villelegier commented on #966
@HarbinLc2014 I'm closing this to clean a bit the issues, feel free to ping us if you need some help with LayoutAnimation

[2018-03-30 08:20] #966 closed

[2018-03-30 08:30] xavier-villelegier commented on #977
Closing this as it seems to be resolved 🎉 . @mrcluc ping us if you still need some help

[2018-03-30 08:30] #977 closed

[2018-03-30 08:33] xavier-villelegier commented on #996
Closing this as it seems to be just an issue with the import name.

Be sure you look at the [good version of the docs](https://react-native-training.github.io/react-native-elements/versions.html) to now which components you can use

[2018-03-30 08:33] #996 closed

[2018-03-30 08:34] xavier-villelegier commented on #997
@benclum11 Did you manage to solve this ? If no, can you add some screenshots ?

[2018-03-30 08:40] xavier-villelegier commented on #1022
Merged and live on `next`. Still need to enhance this by editing the comment instead of commenting. (I'll work on that this week-end, should be ready for `v1.0.0-beta4` release)

TD;DR
@Monte9 @iRoachie
We also need to find a solution for external PRs. The fact that the example app is in another repo and people cannot update it by adding example of what they've done in the PR makes the system a bi

[2018-03-30 08:40] #1022 closed

[2018-03-30 16:30] mhsekhavat commented on #771
@xavier-villelegier Some features like `disabled` and `loading` props are not implemented in `Icon` but it is reasonable to have a button with only a centered icon.

[2018-03-30 17:37] mhsekhavat commented on #901
@xavier-villelegier it seems `padding` of `<Text/>` component for the title is also another cause of this issue as I checked in beta. I just submitted a pull request to fix it.

[2018-03-30 18:20] xavier-villelegier commented on #1025
Closing this as it seems to be just an issue with the import name.

Be sure you look at the [good version of the docs](https://react-native-training.github.io/react-native-elements/versions.html) to know which components you can use

[2018-03-30 18:20] #1025 closed

[2018-03-31 06:21] rashikaranpuria commented on #640
Can we make the underlay circular or add padding to the underlay?

[2018-03-31 09:43] justin-calleja opened #1051 "Is exporting config/fonts a good idea?"
### Description

#### Explain what you did
I am copying / modifying `ListItem` component because I want it to look differently. As I copy the code, I see I need access to `fonts`: https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L414

But this is not exported (unlike colors: https://github.com/react-native-training/react-native-elements/blob/master/sr

[2018-03-31 09:58] justin-calleja commented on #1051
Same "issue" / concern with `config/ViewPropTypes`.

[2018-03-31 13:44] xavier-villelegier commented on #1051
@justin-calleja We could export them yea, I think it's okay.
For me the concern is more "What do you need to achieve to be forced to copy the `ListItem` in order to modify it ?" The `ListItem` should be flexible enough to avoid as much as possible these kind of troubles to RNE users

Thoughts ? @iRoachie @martinezguillaume @Monte9

[2018-03-31 16:44] justin-calleja commented on #1051
@xavier-villelegier it's probably my inexperience with RNE. `ListItem` has a `title` and `subtitle` prop. I'm not a designer... but I wanted to have the 3rd line appear as shown below:

<img width="361" alt="listitem" src="https://user-images.githubusercontent.com/3186719/38165314-c40a5376-3511-11e8-8243-c4b8b2031d35.png">

The "estimated time" (EST) is not always present. When it is, it should be

[2018-03-31 17:25] xavier-villelegier commented on #1051
@justin-calleja

[Here is](https://snack.expo.io/@xavier-villelegier/complex-rne-listitem) an example the `ListItem` component ! It can be done pretty easily actually

<img src="https://user-images.githubusercontent.com/17592779/38165778-1e7a9166-3519-11e8-97b8-69ebc988b806.png" width="300" />

[2018-03-31 18:33] evanmcd commented on #737
Sorry for the delay - I'm just getting back to this functionality in my app now. Appreciate the info @jnpdx. The example you provided works for me.

[2018-03-31 22:05] SirPhemmiey commented on #123
Anyone solved this issue?

[2018-03-31 22:16] SirPhemmiey opened #1052 "Card image doesn't show up"

[2018-03-31 22:31] #1052 closed

[2018-04-01 03:01] kbrandwijk opened #1053 "1.0.0-beta.3 Incorrect typings for Icon on Button"
The `icon` property on `Button` is still defined in the typings as an `IconObject`, but the implementation was changed to use an actual `Icon` component.

[2018-04-01 03:05] giacomocerquone commented on #960
woo jeesus, happened to be here for a completely another reason and now I'm getting why react styleguidist is not working when the docs are compiled... I can confirm this bug affetcs also 0.19.0 sadly

[2018-04-01 03:40] kbrandwijk opened #1054 "Header centerComponent doesn't really center"
This was already an existing issue in the previous version, and still is in 1.0.0-beta3. If the leftComponent and rightComponent of a Header don't have equal width, the centerComponent text isn't centered.

My current workaround is to wrap both leftComponent and rightComponent in a View with equal width, but it would still be nice if the centerComponent was actually centered regardless of left and

[2018-04-01 10:39] xavier-villelegier commented on #639
Just FYI, in the `v1.0.0-beta4` Button, the icon should be centered if you provide `title={null}` or `title=""`

[2018-04-01 10:40] xavier-villelegier commented on #771
Just FYI, in the `v1.0.0-beta4` coming soon, the icon should be centered if you provide `title={null}` or `title=""`

[2018-04-01 10:51] justin-calleja commented on #1051
woah thanks a lot @xavier-villelegier ! Of course, subtitle doesn't only take a string... my bad. It is my inexperience with RNE after all ^^;

[2018-04-01 10:51] #1051 closed

[2018-04-01 11:25] iRoachie commented on #1053
Thanks @kbrandwijk seems like we need to change the PropTypes declaration as well on https://github.com/react-native-training/react-native-elements/blob/next/src/buttons/Button.js#L134

[2018-04-01 11:31] iRoachie commented on #1054
What's the proposed fix for this?
[code]
?

[2018-04-01 11:37] iRoachie commented on #123
@SirPhemmiey Can you open a new issue? A lot has changed since 2016

[2018-04-01 12:42] xavier-villelegier commented on #1023
@Haykys Did you finally fix that ?

[2018-04-01 12:43] iRoachie commented on #1053
Fixed in https://github.com/react-native-training/react-native-elements/commit/cbc577ca6ba8e72c395c94b3241659952b77c497, will be apart of `1.0.0-beta4`

[2018-04-01 12:44] #967 closed

[2018-04-01 13:39] iRoachie commented on #1036
Added in https://github.com/react-native-training/react-native-elements/commit/ae3d62ff26804e4535aaa2a4186f346e7c95853e, will be a part of `1.0.0-beta4` release.

[2018-04-01 13:44] iRoachie commented on #892
Added in https://github.com/react-native-training/react-native-elements/commit/4c99586c749623716ed4c8e9dbbb8910932a8949, will be a part of the `1.0.0-beta4` release

[2018-04-01 23:01] Gregjarvez commented on #1047
@xavier-villelegier requires that I just do this right

[code]

[2018-04-01 23:02] xavier-villelegier commented on #1047
Yes exactly

[2018-04-02 04:03] vbagustinus opened #1055 "Not Issue just Question ???"
Can I gets ` react-native-elements` copied to my project root. I just want to customize color and font default and my config not change when i delete my `node_modules` and `npm / yarn install` again??

[2018-04-02 08:41] themakerman commented on #1055
@vbagustinus Yup

[2018-04-02 09:02] xavier-villelegier commented on #1055
@vbagustinus You can still fork the repo and add your own fork in your `package.json`

[code]

You'll be glad to hear that we planned to add a theming feature for the `v1.0.0`, that will fit to your use case ! 🎉 We're currently at `v1.0.0-beta4` (most likely releasing today). You can follow this on #216

[2018-04-02 09:11] vbagustinus commented on #1055
This toolkit so easy to use. Thanks you very much. I'll be waiting for new Release.

[2018-04-02 12:48] #1055 closed

[2018-04-02 13:03] iRoachie commented on #1047
Merged in https://github.com/react-native-training/react-native-elements/commit/84ffc9cdeae21b261d786c1e413b084c2a12fa91 will be available next release

[2018-04-02 15:27] #1011 closed

[2018-04-02 15:32] AkshitSahani commented on #1047
Thanks guys! Appreciate the help :)

[2018-04-02 16:43] xavier-villelegier commented on #818
@ilkerceng We released `v1.0.0-beta4` with a rewritten `ListItem`, you should be able to achieve this. Check out [the docs](https://react-native-training.github.io/react-native-elements/docs/listitem.html) and [the release notes](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta4)

[2018-04-02 16:43] #818 closed

[2018-04-02 16:44] xavier-villelegier commented on #513
@acahir `v1.0.0-beta4` is out with a rewritten `ListItem` 🎉
Check out [the docs](https://react-native-training.github.io/react-native-elements/docs/listitem.html) and [the release notes](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta4)

[2018-04-02 16:44] #513 closed

[2018-04-02 16:45] aquacash5 opened #1058 "Using non Element Components for the Badge component"
I am trying to write a [PriorityBadge](https://snack.expo.io/H1Eb9RyiG)

I expected it to render a badge with an elevation shadow. However, on iOS it doesn't render the shadow.

Expected
![prioritybadge](https://user-images.githubusercontent.com/10753165/38203562-7b2626d2-3654-11e8-9b25-c820c7dbd23f.png)

iOS Render:
![prioritybadge noelevation](https://user-images.githubusercontent.com/10753165/3

[2018-04-02 16:46] xavier-villelegier commented on #605
@jarrx We released `v1.0.0-beta4` with a rewritten `ListItem` ! 🔥
It is now closer to the iOS style.
Check out [the docs](https://react-native-training.github.io/react-native-elements/docs/listitem.html) and [the release notes](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta4) (the `ListItem` is not updated yet though)

Also thanks to @johot who helped us to

[2018-04-02 16:46] #605 closed

[2018-04-02 16:47] xavier-villelegier commented on #1006
New layout is now live [here](https://react-native-training.github.io/react-native-elements/). Thanks again @Gregjarvez 💯

[2018-04-02 16:47] #1006 closed

[2018-04-02 16:48] xavier-villelegier commented on #1008
`v1.0.0-beta4` now live on npm

[2018-04-02 16:48] #1008 closed

[2018-04-02 16:49] xavier-villelegier commented on #888
@ginsev We released `v1.0.0-beta4` today, and you should be able to use a custom component now ! Have a look at [the docs](https://react-native-training.github.io/react-native-elements/docs/checkbox.html)

[2018-04-02 16:49] #888 closed

[2018-04-02 16:50] xavier-villelegier commented on #892
@mateen-hussain @kristofferkarlsson93 @api182 @prashant3g
We release `v1.0.0-beta4` today, you should be able to use the `label` props on the `Input` component now 🚀  Check out [the docs](https://react-native-training.github.io/react-native-elements/docs/input.html#label)

[2018-04-02 16:50] #892 closed

[2018-04-02 16:59] iRoachie commented on #1047
Just released [`1.0.0-beta4`](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta4). You can now set the size of the icons!

[2018-04-02 16:59] #1047 closed

[2018-04-02 17:02] iRoachie commented on #976
Hot off the press! [`v1.0.0-beta4`](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta4) just released!

[2018-04-02 17:02] #976 closed

[2018-04-02 17:02] iRoachie commented on #959
Released in [`1.0.0-beta4`](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta4)!

[2018-04-02 17:02] #959 closed

[2018-04-02 17:05] xavier-villelegier commented on #1058
@aquacash5 Yea that could be a nice enhancement, feel free to open a PR if you want to take the lead on this one 👍

[2018-04-02 17:08] xavier-villelegier commented on #979
@lifeiscontent @Grohden We refactored a bit the styles of the `Input` in `v1.0.0-beta4`, now live on npm. Feel free to test and make some feedbacks ✌️

[2018-04-02 17:08] #979 closed

[2018-04-02 19:28] martinezguillaume commented on #1054
@iRoachie I’ve already noticed that bug, I think your fix can be good, I can take care of that if you want

[2018-04-02 19:29] martinezguillaume commented on #1032
Awesoooooooooome 😯

[2018-04-02 19:32] iRoachie commented on #1054
Sure thing, all yours bud

[2018-04-02 19:39] martinezguillaume commented on #336
😯 I think it can be a good thing to have placeholder component for image where it’s loading, we could try to implemented https://github.com/expo/react-native-fade-in-image with a placeholder and placeholderStyle props (and a beautiful fade in when it’s loaded) @Monte9

[2018-04-02 19:45] johot commented on #605
Wow great job guys! Sorry I havent had more hands on time with this but really glad the specifications helped! Looking forward to trying out the beta when I have time again and big congratulations for making this release!

[2018-04-02 22:25] mhsekhavat opened #1063 "Button: Inconsistency on button's disabled style"
`Button` component renders a `<ViewComponent/>` and a `<Text/>` inside it. For a `Button` with `disabled` attribute, `styles.disabled` overrides `buttonStyle` in styles of `ViewComponent` but `styles.disabledTitle` does not override `titleStyle` in styles of `Text`.

Commit https://github.com/react-native-training/react-native-elements/commit/5af9b15a16935440aa25db6a03d53a80e5be197a has moved `but

[2018-04-02 22:46] giacomocerquone commented on #960
So let's see @jacklinton

As far as I can tell, Dan Abramov removed proptypes in production too in his CRA https://github.com/facebook/create-react-app/issues/209

And it seems to me the right thing to do. But as I understood from this issue, this cannot be done because of packages like react-native-vector-icons, but again... I'd say "their problems". What do I mean with this?

I mean that it's ok

[2018-04-02 23:27] halaharr opened #1064 "SearchBar: on tapping clear it does clear the value but the text is still displayed in the search input"
### Description
 I have clearIcon set on a search bar. On tapping clearIcon the value is cleared but the search input still have the value. I would expect the values to be cleared from the input text and show the placeholder text.
1. Explain what you did
     Added SearchBar with clearIcon
2. What you expected to happen
    On Tapping clearIcon to clear the text and value and show the placeholder

[2018-04-02 23:40] cyphire commented on #461
I'm having this issue right now... is there a fix for it?

[2018-04-02 23:51] iRoachie commented on #336
It’s something I always end up making in my apps so I think it’d be great to have it as a util

[2018-04-03 01:02] jacklinton commented on #960
If I catch your meaning, you're saying it should be considered 'best practice' for package creators/maintainers not to rely on proptypes in production code for type checking or for the _actual functionality of the package_... or at all for anything in production. (I think the Bootstrap package is guilty of the same thing, and who knows how many others).

In that case I completely agree. At the ver

[2018-04-03 01:35] aledalgrande commented on #868
link broken ^^^

[2018-04-03 01:48] iRoachie commented on #868
Thanks!

[2018-04-03 06:09] jarecsni opened #1065 "Some FontAwesome icons not working"
In an Expo React Native project I am trying to do the following:

[code]

However, I'm getting a warning saying

ExceptionsManager.js:73 Warning: Failed prop type: Invalid prop `name` of value `smile` supplied to `Icon`, expected one of ["glass","music"...

And there's a huge list of permitted font names. As smile is a font awesome icon, I am a bit confused as to why this icon (and many others, li

[2018-04-03 06:44] gokulkulkarni1987 commented on #333
getting same issue, any solution found?

[2018-04-03 07:55] xavier-villelegier commented on #1063
@mhsekhavat Aaah yea I fixed if for the `buttonStyle` but I missed the `titleStyle`, my bad ! Feel free to open a PR if you have time, in any case this should be fixed in the next release

[2018-04-03 07:57] xavier-villelegier commented on #1064
Hey @halaharr, yea I noticed that too. As far as I can tell, it's a React Native issue https://github.com/facebook/react-native/issues/18272

[2018-04-03 07:58] xavier-villelegier commented on #461
@cyphire don't know which version you're using, you should open a new issue with more details

[2018-04-03 08:03] xavier-villelegier commented on #960
@giacomocerquone Is #1062 ready to merge ? Did you test that it works with production builds for web ?
@jacklinton This will be released as `v0.19.1` because it seems a bit critical

[2018-04-03 08:13] xavier-villelegier commented on #1065
Hey @jarecsni, if you're using Expo you're probably using `@expo/vector-icons`. We're using the `FontAwesome` component under the hood, and if you [check this Snack](https://snack.expo.io/SkfVv2goG), it appears that the `smile` icon just doesn't work at all with it… maybe you should open an issue on vector-icons `@expo/vector-icons`, or ask on the Expo Slack channel

[2018-04-03 08:16] xavier-villelegier commented on #333
@gokulkulkarni1987 Check out https://github.com/react-native-training/react-native-elements/issues/620#issuecomment-355530210, maybe it can help

[2018-04-03 09:20] bozzmob commented on #1032
Awesome work guys! Well done! Congratulations to the team

[2018-04-03 09:58] giacomocerquone commented on #960
@xavier-villelegier it works for me, tried to compile my docs again on react-styleguidist (that compiles this stuff with rnw) with this changes.
I believe you can merge it

[2018-04-03 10:04] xavier-villelegier commented on #960
@jacklinton @geminiyellow @giacomocerquone #1062 has been merged into the `stable` branch. This will be released as `v0.19.1` asap, but in the meantime you can directly use the `stable` branch.

[code]

I'll let this issue open to make sure that we'll remove `isRequired` for the next `v1.0.0-beta5` release too (in `Tile`, `FeaturedTile`, `Overlay`)

[2018-04-03 10:11] giacomocerquone commented on #960
@jacklinton Yes, it's exactly what I meant!
Anyway for the 1.0.0-beta5 I'd say to fix this in other ways, this fix just seemed like a hack.

@xavier-villelegier Are there already some plans to use flow in the future instead of proptypes?

[2018-04-03 14:53] iRoachie commented on #960
@giacomocerquone Maybe we can open a new issue to talk about static typing. I've made suggestions for it before but that was a while ago

[2018-04-03 17:05] ganes1410 commented on #1063
@xavier-villelegier can i do this ?

[2018-04-03 18:00] xavier-villelegier commented on #1063
@ganes1410 Sure dude

[2018-04-03 20:31] giacomocerquone opened #1067 "Static typing with flow in favour of propTypes"
Trying to split this discussion born in #960 in order to resolve that issue and implement type checking in a static way instead of using propTypes.

As of now using flow, for example, would let us resolve that problem and remove type checking in production build where it shouldn't be.
We pointed out that Dan Abramov also stripped out proptypes in production from its CRA for various reasons and it

[2018-04-04 00:05] jstansbe opened #1068 "Button has a shadow"
### Description

1. imported rne button
2. expected a 'flat design' style button (no shadows)
3. button has a shadow

### Reproduction Steps and Sample Code

[code]

### package.json snippet
[code]

[2018-04-04 05:12] jarecsni commented on #1065
Raised [#48](https://github.com/expo/vector-icons/issues/48) in @expo/vector-icons, thanks!

[2018-04-04 05:41] neogeno opened #1069 "Avatar Image in ListItem beta4 not working"
### Description

Avatar Image not appearing in Listitem after upgrading to beta4. Code used to be  avatar={{uri:l.avatar_url}} but even after changing to new syntax  avatar={{ source: { uri: l.avatar_url } }} still nothing shows up

1. Explain what you did

Upgraded fro beta3 to beta4 and left code unchanged. Found my ListItems no longer show Avatars.

2. What you expected to happen

Round Avatar

[2018-04-04 05:49] iRoachie commented on #1069
In beta4 the prop is either `rightAvatar` or `leftAvatar`. Thanks for bringing this up, I just realized the example snippets have just `avatar`

[2018-04-04 06:51] ilkerceng commented on #818
@xavier-villelegier thank you so much, thanks for the community :)

[2018-04-04 09:01] xavier-villelegier commented on #1068
@jstansbe I suppose you're using Android, we use the standard of material design, which is an elevated `Button`. You can override it by doing `buttonStyle={{ elevation: 0 }}`

[2018-04-04 14:53] xavier-villelegier commented on #1063
@mhsekhavat @ganes1410
I've been thinking about this, and here is what I think:

First, @mhsekhavat `buttonStyle={{backgroundColor:'black', color:'white'}}` won't work to set the white color on the title, you have to use `titleStyle`

To my mind, the styles should be overridden in this order:
1) Default style
2) User style
3) Default disabled style
4) User disabled style

Imagine you just want to

[2018-04-04 16:13] jstansbe commented on #1068
Thanks!
I was able to remove the shadow (or whatever you want to call it) with the elevation style.

[2018-04-04 16:20] #1068 closed

[2018-04-04 18:13] iRoachie commented on #1006
Hey @Gregjarvez just reminding you to submit your expense on opencollective for $30.

Here's the link to the invoice https://docs.google.com/document/d/1bC_x-Lc1vxLGSfliKToTpaXQWS-luuUqPV_iBb9blb8/edit?usp=sharing. For the description - put "New Props Layout on Website".

You'll need a PayPal account to be able to receive funds.

Upload the invoice and submit the form [here](https://opencollective

[2018-04-04 18:34] jstansbe commented on #216
I know this is closed but I just wanted to add an aside...
The majority of the time I just want to change the color schemes... that's it!

[2018-04-04 18:36] iRoachie commented on #216
It isn’t closed! This is actually the next major feature we’re releasing in beta5! Thanks for the feedback

[2018-04-04 18:55] jstansbe commented on #216
@iRoachie no problem! One more price of feedback... one thing I hate is when other UI frameworks pollute the project space with folders/files in order to override or wrap/inject themes. I switched out another UI Framework for this reason (as well as bad perf on android).

Here is what I propose.
1. Edit the RNE colors in the src files! Yes, from inside node_modules RNE folder! I know this will req

[2018-04-04 18:56] iRoachie commented on #216
Will definitely keep that in mind. Will tag you for early testing when we roll out the concept

[2018-04-04 20:11] gpsgui opened #1071 "Color styling on Input component is not working (always black)"
### Description
I'm trying to style the color of the string written by the user.

**1. Explain what you did**

i styled the color on `<Input />` component, but nothing happened

it works on react-native's TextInput  but not on react-native-element's Input.

**2. What you expected to happen**

color on `<Input />` to turn white.

**3. What actually happens**

color on `<Input />` remains black.

##

[2018-04-04 20:37] gpsgui commented on #1071
It worked perfectly! Thanks

[2018-04-04 20:37] #1071 closed

[2018-04-04 23:37] jstansbe opened #1072 "Documentation Proposal: Recipe Section"
NOT AN ISSUE

### Proposed Feature of RNE Documentation
As the RNE components v1 gets closer to release I know docs will be updated.
I like how the current docs show base level and (occasionally) advanced features. There is an opportunity for an additional section in the docs to show common 'recipes' for single RNE components and combinations of RNE components.

### Solution
Create a section/page

[2018-04-04 23:39] iRoachie commented on #1072
Haha! You are brilliant, we had this exact idea. Checkout https://github.com/react-native-training/react-native-elements/issues/681. Gonna close this so we can move the discussion over there.

[2018-04-04 23:39] #1072 closed

[2018-04-05 00:02] iRoachie commented on #1067
I think our use case for prop-types maybe slightly different than a repo like create-react-app. UI libraries are presentational components, which means that if we allow incorrect props, the it could break the UI.

Last year we added typescript definitions, largely because I was using react-native with typescript. However this was a good move for us, since VSCode's intellisense is also powered by t

[2018-04-05 00:40] guitar9 opened #1073 "center Icon in Button"
Version:     "react-native-elements": "^0.19.0",

Hello how can i center the icon in the button?
The Icon is align left. This is what i tried
[code]

[2018-04-05 01:12] Gregjarvez commented on #1006
@iRoachie i should have asked before submitting. I didn't have to do anything to the invoice correct?

[2018-04-05 01:15] iRoachie commented on #1006
You would've needed to change the details like name, address, description etc.

[2018-04-05 01:19] Gregjarvez commented on #1006
Oh right. I didn't read anything on it lol .
I will do that early today. :)

Thanks

[2018-04-05 02:35] jacklinton commented on #960
Amazing, thanks for your help and responsiveness everyone!

[2018-04-05 04:35] mhsekhavat commented on #1063
@xavier-villelegier Thanks for your point! I have over-simplified my example to explain the concept.

I pretty much agree with this order.

[2018-04-05 04:44] mhsekhavat commented on #1073
@guitar9 See #771

[2018-04-05 07:33] xavier-villelegier commented on #1073
@guitar9 As @mhsekhavat referenced, you can use the `Icon` component directly. If you really want to use the `Button`, you will have to do this in `v0.19.0`
[code]

-----------------
In the new `v1.0.0-beta4`, thanks to @mhsekhavat, you don't have to do anything !
[code]

[2018-04-05 08:34] kevinscience opened #1074 "Dismiss Overlay by clicking outside of Overlay Modal (Blur area)"
Is there anyway to dismiss the overlay by clicking the blur area or make this as a feature of overlay?
It would be a very useful and delightful feature for users to use.
Thank you!
<img width="479" alt="overlay" src="https://user-images.githubusercontent.com/19722517/38355341-99777270-388a-11e8-8b0c-2e72193b7a49.png">

[2018-04-05 08:42] xavier-villelegier commented on #1074
Hey @kevinscience, thanks for your feedback, this is definitely a nice improvement. The `Overlay` component is very new and only available in the beta, so it's missing some features for now. I'll address this in the next beta release 👍

[2018-04-05 10:15] ronadi opened #1075 "LIstItem - Divider backgroundColor can't customize"
Hi All,
Can we customize backgroundColor of Divider in ListItem

[#topDivider](https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L79)

[code]
[#bottomDivider](https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L158)
[code]

[2018-04-05 10:42] xavier-villelegier commented on #1075
Hey @ronadi, which version are you using ?

On `v0.19.0` you can do:
[code]

On `v1.0.0-beta4` and the new `ListItem` component this is not possible for now
cc @martinezguillaume

[2018-04-05 11:08] ronadi commented on #1075
Hey @xavier-villelegier  I used v0.19.0.
I already add "containerStyle={{ borderBottomColor: 'red' }}" but only for borderBottom of ListItem, not for borderTop first Child of ListItem.

[2018-04-05 11:11] xavier-villelegier commented on #1075
@ronadi The `ListItem` doesn't have a `borderTop`. If you're using the `List` component, just replace it by a simple `View` and add your own styling, it will be removed in the v1 anyways

[2018-04-05 11:39] ronadi commented on #1075
ooo I see, @xavier-villelegier  ok thanks

[2018-04-05 11:39] #1075 closed

[2018-04-05 13:44] Gregjarvez commented on #1006
sure !! I need right access for the receipt to be able to fill in my credentials @iRoachie

[2018-04-05 14:00] iRoachie commented on #1006
Just add a copy of it to your drive

[2018-04-05 14:32] Gregjarvez commented on #1006
sure @iRoachie

[2018-04-05 22:49] martinezguillaume commented on #1075
@ronadi Hey ! If you’re using ListItem in a FlatList, I strongly advice you to use ItemSeparatorComponent prop from FlatList to render separator !

[2018-04-06 02:48] ronadi commented on #1075
Hey @martinezguillaume, thanks for your advice, but I'm just using simple view not FlatList

[2018-04-06 11:46] xavier-villelegier opened #1081 "Fix ListItem checkmark on both platforms"
# Description

The checkmark doesn't work on Android because of the `position: absolute` #1080. If you remove this, you'll have a big `ListItem`,  which is not the expected behavior. This is due to `Ionicon` icons, that has a big padding.
<img width="284" alt="capture d ecran 2018-04-06 a 13 34 28" src="https://user-images.githubusercontent.com/17592779/38419564-3fecb6d0-39a1-11e8-9e1e-21d644afc47

[2018-04-06 11:47] Updour commented on #1081
How to create map in react native??

On Apr 6, 2018 6:46 PM, "Xavier Villelégier" <notifications@github.com>
wrote:

Description

The checkmark doesn't work on Android because of the position: absolute
#1080
<https://github.com/react-native-training/react-native-elements/pull/1080>.
If you remove this, you'll have a big ListItem, which is not the expected
behavior
[image: capture d ecran 2018-04-0

[2018-04-06 11:59] xavier-villelegier commented on #1081
@Updour I don't think you're in the right place, this is not related to this issue or even to React Native Elements 😅

[Here is a link](http://lmgtfy.com/?q=react+native+map) that should help you though

[2018-04-07 04:35] gokulkulkarni1987 commented on #333
@xavier-villelegier I tried that multiple times, still no help

[2018-04-07 07:24] iRoachie opened #1083 "ButtonGroup should use Platform Touchable"
Currently, right now the `ButtonGroup` uses `TouchableOpacity` on both platforms.

Instead, it should use `TouchableOpacity` on iOS and `TouchableNativeFeedback` on Android.

[2018-04-07 07:34] iRoachie opened #1084 "Icon styles break when using TouchableNativeFeedback"
### Description

1. Use Icon with `TouchableNativeFeedback` using the `component` prop
2. Icon to render and styles show correctly
3. No styles are applied to the Icon

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code
[code]

### Solution
The reason this breaks is that we assume that `component` is always a component that is `Vi

[2018-04-07 07:58] unkownymouse opened #1085 "Button with style prop not working properly in Android"
# Description

### Explain what you did

I've used style prop on `<Button />` to place the button at certain point using `top`, but it doesn't seem to work in Android. There is no problem with iOS.

### What you expected to happen

`<Button />` component should have followed the style prop `top`.
### What actually happens

In Android, it is not working.

### react-native, react and react-native-el

[2018-04-07 08:05] iRoachie commented on #1085
Can you try using `marginTop` instead?

[2018-04-07 08:10] unkownymouse commented on #1085
@iRoachie
I tried `marginTop: 200` but still same result.

It works fine on iOS but doesn't work on Android.

<img width="356" alt="screen shot 2018-04-07 at 1 38 20 pm" src="https://user-images.githubusercontent.com/32857628/38452815-296749d4-3a69-11e8-9d33-88986edb163b.png">
<img width="493" alt="screen shot 2018-04-07 at 1 38 30 pm" src="https://user-images.githubusercontent.com/32857628/384528

[2018-04-07 09:26] xavier-villelegier commented on #1084
Related to #774, maybe we should fix both at the same time.
As we said that the `containerStyle` should always be the outter component, maybe we should do the same we did for the `Button` ?
https://github.com/react-native-training/react-native-elements/blob/1c1561c00cdfeb6e554388707bc1c44e6097b646/src/buttons/Button.js#L60-L62

[2018-04-07 09:52] xavier-villelegier commented on #960
@jacklinton @giacomocerquone @geminiyellow
Closing this as the version `v0.19.1` is out on npm, you can have a look at the [release notes](https://github.com/react-native-training/react-native-elements/releases/tag/v0.19.1). Feel free to open a new issue if there is an other critical bug as this one 👍

[2018-04-07 09:52] #960 closed

[2018-04-07 13:00] unkownymouse commented on #1085
@xavier-villelegier I used NativeBase and I encountered same problem. So, I shifted to this and  thought react-native-elements also takes `style` without reading the docs.

Now it works. Thank you.

[2018-04-07 13:00] #1085 closed

[2018-04-07 13:44] iRoachie commented on #1084
Yes! I’m in favor of that either way we need a View

[2018-04-09 08:42] Tonacatecuhtli opened #1088 "Component Input displayError was removed"
### Description

1. Explain what you did
  * Updated to beta4
2. What you expected to happen
  * Nothing because the components I use aren't referenced in the Release Notes
3. What actually happens
  * You deleted the **displayError** property from the **Input** Component now it always shows the Error message.

Also please include the version of `react-native-elements` that you are using.
1.0.0-be

[2018-04-09 08:48] LouisJS commented on #1088
Come on, you could just add :
[code]

😅

[2018-04-09 09:12] Tonacatecuhtli commented on #1088
I know that's why I added the solution xD but yours is more to the point.

[2018-04-09 09:12] #1088 closed

[2018-04-09 09:57] Monte9 commented on #1028
Right. I def missed this on button v1. Might be good to add this back in in one of the upcoming betas. If anyone is interested to work on this, just comment below and feel free to submit a PR for it.

[2018-04-09 10:02] Monte9 commented on #242
@MrHubble we haven't added this to RNE yet, and I personally haven't used it before.

But looks like it's being actively maintained and it also have about ~900 stars on it. So I'd think that it would be a good package to use if you wanted that functionality. And sure, you could use it alongside RNE too.

[2018-04-09 10:41] xavier-villelegier commented on #1088
@Tonacatecuhtli You’re right we missed that in the release notes ! We added the a `label` feature + removed `displayError`. Will add that

[2018-04-09 11:37] iRoachie commented on #1028
Here’s an example of how the raised styles were before https://github.com/react-native-training/react-native-elements/blob/v0.19.1/src/buttons/Button.js#L301

[2018-04-09 13:59] amansahil opened #1089 "Button title only partially showing"
So after upgrading to the new expo sdk 26.0.0 , all my button titles started appearing only partially. I'm not sure if this is an issue with expo or with react native elements.

Here is the snack :  https://snack.expo.io/HyNleeKof

Image of what is happening :

![93963](https://user-images.githubusercontent.com/33552991/38502095-2df4e8c0-3c2c-11e8-9166-ad1cc046823b.jpg)

[2018-04-09 14:45] xavier-villelegier commented on #1089
Hey @amansahil, if you upgrade to `v1.0.0-beta4` you won't have this issue.

If you want to stay on `0.19.x`, just remove the `height: 45`. You can then override the `padding` if it's too big for you

[code]

[2018-04-09 16:07] #1089 closed

[2018-04-09 16:12] amansahil opened #1091 "Unknown error : Error C ++ exception"

[2018-04-09 16:24] #1091 closed

[2018-04-09 20:10] Gregjarvez commented on #1074
@xavier-villelegier I was thinking. if i wrapped a `ToucableWithoutFeedback` around the outer `View` and added a prop called `overlayBackgroundPress` it would work fine however touching the children will also trigger that handler. Is there a way around this. I am unsure if a higher `zIndex` on the overlay would fix that

[2018-04-09 20:41] xavier-villelegier commented on #1074
@Gregjarvez Have a look at the [pointerEvents](https://facebook.github.io/react-native/docs/view.html#pointerevents) props of `View`, I think `box-none` can do the job if you apply it on the overlay white view. If not, maybe try to use `none` and add a subview to wrap the content with `auto`. Best way to test if it's not blocking all touch events is basically to add a `Button` in it

[2018-04-09 20:56] Gregjarvez commented on #1074
@xavier-villelegier oh there is that in react native. sure I will check that out !

[2018-04-10 03:00] MichelDiz commented on #348
I'd like to know that too. I am studying about PWA and would like to find an equilibrating Lib to react-native-elements. That get close to the general concept and immerse the idea that PWA is an app "native" in fact. Visually.

I've been researching several libs and not one I like like this one.

I think react-native-web just works for RN components, not third ones. If so, how?

Cheers

[2018-04-10 08:15] Syahrul opened #1093 "Input errorMessage"
React-native-elements **1.0.0-beta4**
React **16.3.0-alpha.1**

Input props `errorMessage` is showing even though `displayError` is false

[2018-04-10 08:49] xavier-villelegier commented on #1093
hey @Syahrul, `displayError` was removed, it nows display an error whenever you provide an `errorMessage`. Have a look at the [release notes](https://github.com/react-native-training/react-native-elements/releases/tag/v1.0.0-beta4)

[2018-04-10 08:54] Syahrul commented on #1093
Okay thanks

[2018-04-10 09:45] #1093 closed

[2018-04-10 09:49] xavier-villelegier commented on #348
Hey @MichelDiz, some people uses RNE for web builds. Here are some issues/PR you might check

#759
#960
#882
#874
#110

[2018-04-10 12:27] iRoachie commented on #1074
Lol that's the problem he was showing you @xavier-villelegier. Think we may need to rebuild this from the ground up using the built in `Modal` component.

Was looking at other libraries and they all use Modal underneath.
- [react-native-modal](https://github.com/react-native-community/react-native-modal/blob/master/src/index.js)
- [react-native-modal-popover](https://github.com/doomsower/react-nat

[2018-04-10 12:36] Gregjarvez commented on #1074
@xavier-villelegier yeah I have tried most of the [Responder lifeCycle Methods](https://facebook.github.io/react-native/docs/gesture-responder-system.html#responder-lifecycle)
still won't work

[2018-04-10 12:49] xavier-villelegier commented on #1074
@Gregjarvez Btw you can just wrap the content in a `TouchableWithoutFeedback` to prevent touch events https://snack.expo.io/HyusGE5oG

[2018-04-10 12:57] iRoachie commented on #1074
Ha that's actually a pretty neat hack. Empty touchable without a handler :D nice

[2018-04-10 14:32] MichelDiz commented on #348
@xavier-villelegier  Take a look https://pastebin.com/tEdXezxC

I am still analyzing your references. As far as I've seen, I've only seen examples working are with Expo. PWA can not be made with Expo as far as I know (I have not yet seen how to do it this way).

I'm using NextJS (ReactJS) and Apollo (graphql).

[2018-04-10 17:05] iRoachie opened #1095 "Rewrite Avatar sizes props to use one size prop"
Right now avatar has `small`, `medium`, `large`,  and `xlarge` props for setting the size.

This doesn't make sense because the user shouldn't be able to set both `small` and `medium` at the same time.

Instead we should have one `size` prop that can take in either "small" | "medium" | "large" | "xlarge"

[2018-04-10 19:05] xavier-villelegier commented on #1095
@Gregjarvez You've been on fire recently man 🔥

[2018-04-10 19:07] Gregjarvez commented on #1095
@xavier-villelegier I know right !! 😄xd

[2018-04-10 21:56] M1chaelChen opened #1096 "Use refs for Input"
### Description

I have two text input, email and password. I want to change focus to password input when user submit editing the email input. When trying to use the code below, the error display `Cannot read property 'focus' of undefined`, which means the ref is not working.
Guess the issue is caused by the wrapper component of Input. When I call `focus()` it actually points to the wrapper of pas

[2018-04-11 03:25] iRoachie commented on #1096
Here's an example of this working https://snack.expo.io/Sy91gbjoz ✌🏽

[2018-04-11 03:40] iRoachie commented on #1095
Ha looks great @Gregjarvez

[2018-04-11 09:27] kylewetton opened #1097 "Buttons seem to have a 15-20px margin on each side of it"
### Description

Just trying out some Components, I noticed that buttons have a pesky margin on the sides I can't get rid of. I've tried buttonStyle and containerStyle margin attributes, just can't figure out how to get these buttons flush against elements next to it.

### Reproduction Steps and Sample Code

[code]

[2018-04-11 09:36] xavier-villelegier commented on #1097
@kylewetton Which version are you using ?

[2018-04-11 11:17] JanithaR commented on #1064
I just started experiencing the same after updating,
"react": "16.2.0" => "16.3.1"
"react-native": "0.53.0" => "react-native": "0.55.2"
"react-native-elements": "^0.19.0" => "^0.19.1"

Should we just wait for react-native bug fix?

[2018-04-11 12:08] xavier-villelegier commented on #1064
@JanithaR I suppose yea, was it still working on react native `0.53.0` ?

[2018-04-11 13:07] no23reason commented on #1064
@JanithaR The way I got it working in `react-native` 0.55 was to make the `value` controlled. For example:
[code]

[2018-04-11 13:12] iRoachie commented on #1064
`onClear` should automatically trigger `onChangeText("")`. https://github.com/react-native-training/react-native-elements/blob/master/src/searchbar/SearchBar-default.js#L44

[2018-04-11 13:17] xavier-villelegier commented on #1064
@no23reason As long as you control the `value` in an internal state with `onChangeText`, this should work automatically. But as you've shown in your example, it's always good to control the `value` you use anyway. ([Quick snack example](https://snack.expo.io/HJR2cYjoM))

[2018-04-11 15:34] JanithaR commented on #1064
@xavier-villelegier yea, I thought I did something wrong on my end but I couldn't find any diff relating to search bar I have in my app. So I assumed it's something to do with the update and landed here.

[2018-04-11 16:11] carmenchapa opened #1099 "Input not working"
I added just added react-native-elements to my project and tried to use <Input> component, I got this error:

[code]

I imported the component as usual:
`import { Input, Badge } from 'react-native-elements';`

And then inside my component.
[code]

I looked into the modules and in the input folder there is Search.js instead, it seems that something is messed up.

Thanks!

[2018-04-11 16:14] iRoachie commented on #1099
Closing as dup of #1025

[2018-04-11 16:14] #1099 closed

[2018-04-11 17:34] M1chaelChen commented on #1096
@iRoachie Thanks that works. I found my problem is that I wrapped the Input component with my own component like this. So that I can customize the global style for the whole project, but somehow the ref is not working. Anyway, I am closing this issue. Thank you very much for the answer.
[code]

[2018-04-11 17:34] #1096 closed

[2018-04-11 17:39] M1chaelChen commented on #1096
@iRoachie I think the issue is that the ref points to my own component instead of the Input from `react-native-elements`. Do you have any solutions to make it work for my case?

[2018-04-11 17:43] iRoachie commented on #1096
You just need to assign the ref in your own component.

[code]

[2018-04-11 17:45] M1chaelChen commented on #1096
Finally figured this out. The ref in my case will point to my wrapper component instead of the Input component itself. The solution for me is this:
[code]
And whenever I want to use ref, I just need to pass it as inputRef like this:
[code]
And now it works fine.

[2018-04-11 17:47] iRoachie commented on #1096
Well thats another way to do it using props (`inputRef`)! Glad you got it sorted out

[2018-04-11 21:04] xavier-villelegier commented on #1097
Glad you got this working 👏

[2018-04-11 21:04] #1097 closed

[2018-04-12 04:50] Monte9 commented on #1072
This is a great idea @jstansbe. Thanks for pitching it. As @iRoachie said, we are starting to work on it.. so feel free to pitch in on the discussion and help out if you are interested.

[2018-04-12 04:52] Monte9 commented on #1006
Again great work here @Gregjarvez! Well deserved! 💯

[2018-04-12 09:45] vikrantnegi opened #1100 "Icon not rendering with the Button Component"
Versions:
[code]
### Description

1. Explain what you did
Trying to use the `Button` component with an Icon.

2. What you expected to happen
The `Button` component should have a vector icon along with the text.

3. What actually happens
Button with text but no Icon is appearing.

I thought this might be because react-native-vector-icons might not have installed properly but this is not the case as

[2018-04-12 09:58] xavier-villelegier commented on #1100
Hey @vikrantnegi 👋
If you use `v0.19.x`, the `Button` component takes an object:
[code]

If you use the last version `v1.0.0-beta4`, the `Button` has been rewritten from scratch, and you should do:
[code]

Remember that on the documentation website, you can see the versioned doc by clicking on the version on the header

[2018-04-12 10:14] vikrantnegi commented on #1100
Thanks. I was confused for the last 4 hours.

I think this can be improved as by default when I install the `react-native-elements` it installs the stable version but when I go to the doc from the GitHub repo description I'm sent to the beta documentation.
Either the documentation should be the default for the stable version or it should be mentioned somewhere.

Or I am missing something here?

[2018-04-12 10:29] vikrantnegi commented on #1100
@xavier-villelegier Great. Let's make sure others don't face the similar problems that I faced.

Do you think there can be any other way by which users can be properly informed about this?
Like mentioning somewhere in the readme or maybe in the documentation itself. Currently, the version number on the right of the logo is not something that user would look right away. Maybe some text to explicitl

[2018-04-12 11:44] xavier-villelegier commented on #1100
@vikrantnegi I've opened a PR with a quick workaround to fix that #1101

[2018-04-12 11:52] vikrantnegi commented on #1100
Great. Thank you. :)
Feel free to close the issue.

[2018-04-12 12:01] #1100 closed

[2018-04-12 12:02] Gregjarvez commented on #1084
I would submit a PR for this
should I put the view inside the Touchable or encase it

@iRoachie @xavier-villelegier

[2018-04-12 12:06] carmenchapa opened #1102 "Opacity layer not following borderRadius on button press"
Hi guys,

Sorry I'm opening this again, I know this issue has appeared a lot here, I have read #328, #535, #1035, #581, however I cannot make it work..

### Description

1. I have a button with borderRadius

[code]
2. I am expecting to see the border radius applied to the opacity layer when pressing the button.
3. But is just a rectangle instead.

![button_bug](https://user-images.githubuserconten

[2018-04-12 12:07] xavier-villelegier commented on #1084
@Gregjarvez Try to do the same as the `Button` to be consistent

[2018-04-12 12:27] xavier-villelegier commented on #1102
Hey @carmenchapa,

You're right, in the `v1.0.0-beta4` we forgot to handle this case in the new refactored `Button`.

In the meantime, you can use this as a workaround:

[code]
[Here is a snack example](https://snack.expo.io/HkZigC2of)

[2018-04-12 12:29] xavier-villelegier commented on #1102
For anyone who wants to tackle this issue, here are the lines that were in `v0.19.0`
https://github.com/react-native-training/react-native-elements/blob/e2bfb15a63e9383d647441e61678b9f83f12410c/src/buttons/Button.js#L128-L137

[2018-04-12 13:01] carmenchapa commented on #1102
Thanks a lot Xavier!!
That perfectly worked.

I am using the workaround from now, probably will tackle it later on.

[2018-04-12 15:08] garethiv opened #1106 "Unable to style header rightComponent"
I am using the header component and calling a method that returns JSX for the 'rightComponent'. This method returns a clickable + icon. On render, this item is pushed to the very bottom of the header (not aligned with vertically with the 'centreComponent'.

Therefore, I tried to add style (in a similar way to the centre component), but receive an unexpected token error.

Am I missing something her

[2018-04-12 15:28] garethiv commented on #1106
@iRoachie I have tried that

[code]

This has no effect unfortunately

[2018-04-12 15:42] iRoachie commented on #1106
You can wrap the component in a `View` first https://snack.expo.io/H1Xu0xaif

[2018-04-12 15:47] garethiv commented on #1106
@iRoachie It's that simple xD, thanks.

[2018-04-12 15:47] #1106 closed

[2018-04-12 16:56] aidooyaw1992 commented on #710
this works, follow the tutorial below
https://github.com/oblador/react-native-vector-icons

[2018-04-12 18:16] jacklinton commented on #348
I don't think the fact that expo is being used should make any difference. Expo is what is driving the actual native app and has nothing to do with the browser portion of the app. In my experience, everything I've used in the 0.19.1 version of the build has worked fine with react native web. Any Vector Icons you're using will have to be imported as per the instructions on the Vector Icons for web

[2018-04-12 18:49] MichelDiz commented on #348
@jacklinton yeah, sorry about that, I tested a PWA example and added Expo. Works.

Yes I tested react-native-elements directly and using react-native-web with this example https://github.com/Gregor1971/rne-cross-platform-example works nicely.

As you see here https://github.com/zeit/next.js/issues/858#issuecomment-380598376 my issue is actually with Next JS and their Webpack/Babel behave.

More de

[2018-04-12 18:59] xavier-villelegier commented on #348
@jacklinton @MichelDiz Glad to hear you're finally using RNE for the web ! Feel free to give your feedback about your experience. It could be cool to know which components work fine on the web, why others don't work, and what can be done to fix them. Also, are you using @Gregor1971's fork or the official repo ? Also feel free to [reach us on slack](https://reactnativetraining.herokuapp.com/)

[2018-04-12 22:36] jstansbe commented on #681
Proposed use case:
Badge + Icon =
![image](https://user-images.githubusercontent.com/1250522/38707687-5b23cb26-3e80-11e8-991c-62494aa05af2.png)

[2018-04-13 08:10] Monte9 commented on #874
@jacklinton @Gregor1971 this looks promising. So essentially just with RNE `v0.19.1` + @Gregor1971 file to link vector icons = RNE on web works fine?

Is anything else missing in order to use all the RNE components on the web? Let us know. Thanks.

[2018-04-13 08:24] #1065 closed

[2018-04-13 10:51] iRoachie opened #1109 "Add to Docusaurus user's page"
Add our project to the list of docusaurus users. https://docusaurus.io/en/users.html

[2018-04-13 11:07] iRoachie commented on #1010
Just some context behind this:

What’s happened before is that we’ve added, renamed or deleted props for components but never updated the typings. So when a user is building their app and they start to type the name of the prop and they don’t see the list of suggestions pop up in your editor, the first thought is that prop doesn’t exist or it’s wrong.  Subsequently if your using typescript with re

[2018-04-13 13:10] James2516 opened #1110 "Raised button in 1.0.0"
I noticed that [raised](https://react-native-training.github.io/react-native-elements/docs/0.19.0/button.html#raised) prop is removed in 1.0.0.

How do we go about creating a raised button now?

[2018-04-13 13:13] iRoachie commented on #1110
Duplicate of #1028

[2018-04-13 13:13] #1110 closed

[2018-04-13 13:24] yamiscott opened #1111 "Typescript Definitions (0.19.1) ButtonGroup selectedButtonStyle missing (TS2339)"
### Description

1. Create a `ButtonGroup` and try set the `selectedButtonStyle` prop
2. Everything to be fine and the style to be honoured
3. It works, but Typescript isn't happy as the prop is missing from the types file.

#### Error received
    Error:(40, 117) TS2339: Property 'selectedButtonStyle' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<ButtonGroup> & Readonly<{

[2018-04-13 13:37] iRoachie commented on #1111
We're aware of this, and we fixed it for the upcoming `1.0.0-beta5` https://github.com/react-native-training/react-native-elements/pull/1077/commits/56aada4e73325a5d8df206b840292bacf12af251. I'm not sure if it will be available for the main `0.19.x`.

[2018-04-13 14:58] Monte9 commented on #1064
@halaharr glad that helped you.

@no23reason that's for posting the code snippet on how you use the `SearchBar` component.

[2018-04-13 14:58] #1064 closed

[2018-04-13 14:59] Monte9 commented on #1064
@xavier-villelegier do you think this is a bug with RNE SearchBar?

[2018-04-13 15:03] xavier-villelegier commented on #1064
@Monte9 Nope this is an issue from react-native, quite easy to test by downgrading RN. Anyway the best practice is to control the `value` you use, so this shouldn't be an issue for most of cases.

[2018-04-13 15:15] Monte9 commented on #1111
@yamiscott thanks for bringing this issue to our attention. We are trying to minimize the work we put into `v0.19.1` as that's our "stable" version. Hence all non-critical bug fixes are going to go into the beta versions.

In your case, if you need this fixed, I would recommend upgrading to our beta version and getting ahead of the migration to v1.0. We are currently on `v1.0.0-beta4` and that's t

[2018-04-14 00:52] runia1 opened #1112 "Android - Button from background shows above Overlay"
### Button from background screen showing above the Overlay.

1. Explain what you did
I have a login screen which has a Login Button.  When the user clicks "forgot password" we display an Overlay.  The issue is that the Login Button from the background displays above the Overlay.

Here you can see the background screen is somewhat darkened by the Overlay's background EXCEPT for the login button.
!

[2018-04-14 01:07] iRoachie commented on #1112
Hey, instead of making a PR to add a higher elevation, you can use the ‘containerStyle’ prop and set the elevation there.

[2018-04-14 01:55] abury commented on #69
For anyone else that might come along looking for this, the search bar icon prop takes an object that accepts a `styles key, so you can do something like so:

[code]

[2018-04-14 02:17] abury opened #1114 "SearchBar should support returnKeyType prop (and default should be 'search')"
### Description

Search Bar should support the return key prop type, and default to Search given the desired functionality of the component.

I'll see if I can add this in and open a PR

[2018-04-14 02:27] abury commented on #1114
Bah, never mind. Obviously, it is supported, I just made a few mistakes. All good 👍

[2018-04-14 02:27] #1114 closed

[2018-04-14 02:28] iRoachie commented on #1112
I think maybe the docs approach would be better. Setting it to 5 may help in your use case, however for someone else that has other elements on the page that have a elevation of 5, would have the problem still. So its more of letting people know the principle of how the overlay works - zIndex on iOS and elevation on android

[2018-04-14 02:28] iRoachie commented on #1114
Glad you figured that out mate 👍

[2018-04-14 08:56] jsina opened #1115 "textAlign right problem in ios"
when I want to use **FormInput** with **right** textAlign on **IOS**, the input text in not show properly, but it's OK in android.

as you could see on the picture the **placeholder** and also when filling the textInput the **FormInput** is going to be filled from out of the box.

I wanna know that is there any solution for change the direction of FormInput without any bug on IOS devices?

[code]

[2018-04-14 12:10] xavier-villelegier commented on #1115
Hey @jsina, what if you add `width: '100%'` ?

[code]

By the way maybe you should test the beta version of the `v1.0.0`, the `Input` component handles this in a better way.
[code]

[2018-04-14 15:40] iRoachie commented on #1100
Just added this in https://github.com/react-native-training/react-native-elements/commit/276b346c4ccef1a9b330de8bf9c7cd727724b2cd. Will roll it out on the 1.0.0-beta5 release

[2018-04-14 16:43] iRoachie commented on #1109
Submitted PR https://github.com/facebook/Docusaurus/pull/562

[2018-04-14 16:57] iRoachie commented on #1109
Merged

[2018-04-14 16:57] #1109 closed

[2018-04-14 19:11] jsina commented on #1115
@xavier-villegier Our team is gonna work on a new project so how the beta version is gonna be fragile for us in future? Because the beta version is not stable and it’s not sustainable yet.

[2018-04-15 10:06] xiechao06 opened #1117 "what does property "chevron" mean in ListItem"
### Description

1. Explain what you did
in
https://react-native-training.github.io/react-native-elements/docs/listitem.html#chevron,
I find nothing useful. I guess it controls whether the right arrow appears, but it doesn't.

version: 1.0.0-beta4

[2018-04-15 11:43] xavier-villelegier commented on #1115
@jsina The padding is applied on iOS too, you can test it by putting a higher value (like 20 or so). But yea it seems to be handled in a different way on Android and iOS, not sure where it comes from, as we're just passing the `inputStyle` to the React Native `TextInput`…

Maybe you can just do something like
[code]

For the beta, I wouldn't say that it's not stable. It's just changing a lot compa

[2018-04-15 11:55] xavier-villelegier commented on #1117
@xiechao06 Yes it controls the right arrow.

|Code|Result|
|-----|-------|
|`<ListItem title="Hey" chevron />`|![image](https://user-images.githubusercontent.com/17592779/38778127-74a303ec-40b4-11e8-8d73-da35bf68a206.png)|
|`<ListItem title="Hey" chevron />`|![image](https://user-images.githubusercontent.com/17592779/38778129-7e3f3196-40b4-11e8-98bb-c3dfee8c8221.png)|

[2018-04-15 16:27] kanteankit opened #1119 "[FEATURE REQUEST] Make padding value between ListItem components customizable"
If you go into the code of `ListItem`, you'll see that there is a component named `PadView` which adds spacing between the leftComponent, the title component & right component. It has a static value of 16.

This should be customizable and user should be allowed to add this pad value

[2018-04-15 16:31] iRoachie commented on #1119
Seems like an easy change. Do you mind making a PR for it?

[2018-04-15 22:06] midoajax opened #1120 "What about react-native-maps"
### Description

1. How can i add react-native-maps to my project
2. I install react-native-maps to my projet but not worke
3. What actually happens

Im using "react-native-elements": "^1.0.0-beta2"
So please help me

[2018-04-16 01:44] 3ace commented on #1117
I'm also experiencing this, I'm using version 0.19. By default Chevron is displayed, even setting chevron={false} wont hide it.

[2018-04-16 01:51] 3ace commented on #1120
I believe this is not the right place to ask this, probably you should go to [react-native-maps page](https://github.com/react-community/react-native-maps) and read their installation instruction

[2018-04-16 07:55] amansahil opened #1121 "adjustsFontSizeToFit property for the card Title"
I have a card with a fixed height and width. Whenever there is a long text , part of the text disappears, I added `titleNumberOfLines={3}`  but that just gave three dots to represent the faded characters. Is there any way to add `adjustsFontSizeToFit` to the title property of the Card or any other alternative workaround for this.

[2018-04-16 08:30] xavier-villelegier commented on #537
@chetanparakh Please refer to the labels to know the state of the issues.

* WIP: Still work in progress
* Fixed - Next Release: The issue has been fixed and will be available in the next release

by the way this is not a critical bug as you can still use
`icon={{ name: 'search', style: { marginTop: 8 } }}` to apply a margin on the Icon.

[2018-04-16 08:36] xavier-villelegier commented on #1121
@amansahil mmh the title is not truncated by default, even if you add a fixed height. ([Check this Snack](https://snack.expo.io/SJ4VeyfhM)). Can you be more precise and add an example ?

[2018-04-16 09:12] amansahil commented on #1121
Hi, here is the snack

https://snack.expo.io/@amansahil/react-card

This is what's happening (Ignore the hotspot symbol)

![34395](https://user-images.githubusercontent.com/33552991/38800221-563ffe70-4184-11e8-83ae-5ca6e1953927.jpg)

Could the font size somehow adjust ?

[2018-04-16 15:05] aliraza4167 commented on #996
I get the same error with some components of "react-native-elements" library. I get this error when I use Input component, tried solutions provided above but didn't work for me.

[2018-04-16 15:19] iRoachie commented on #996
Hey @aliraza4167, can you create a new issue? It's important you list the version of react-native-elements you're using and the code you wrote that shows the error

[2018-04-16 15:54] peacechen commented on #537
It's been 8 months and still no progress.  I'm surprised that the existing non-responsive search bar  hasn't been replaced with [react-native-material-design-searchbar](https://github.com/ananddayalan/react-native-material-design-searchbar).  It would be quick to adapt the props to be backwards compatible.

[2018-04-16 15:57] iRoachie commented on #537
We already have a working implementation of the material design searchbar that we released in 1.0.0-beta2.

You can use it by doing `SearchBar platform="android" />`

https://react-native-training.github.io/react-native-elements/docs/searchbar.html#platform-specific-searchbar

[2018-04-16 15:58] xavier-villelegier commented on #537
@peacechen We've already released Android and iOS SearchBars ([doc here](https://react-native-training.github.io/react-native-elements/docs/searchbar.html#platform-specific-searchbar)). The bug mantionned here is about the default searchbar, that has not been refactored to be as flexible as these new SearchBars.

[2018-04-16 16:00] peacechen commented on #537
Nice work!  xavier's tip on the labels makes it look like this is still a WIP as opposed to Fixed.

[2018-04-16 16:03] xavier-villelegier commented on #537
Yea it's still WIP because the default searchbar (without `platform` props) is the same as it was when you opened the issue, so the bug is still there. It has to be refactored to be responsive like these new platform specific searchbars 👍

[2018-04-16 18:29] runia1 commented on #1112
That's fine with me, I didn't have the collision on ios.  It may be worth adding a bit to the Button docs letting people know the default elevation is set to 4 as well.

[2018-04-16 19:04] FakhruddinAbdi opened #1122 "searchBar rtl support"
### Description

1. Explain what you did
Im using searchBar for Right-to-left language.
2. What you expected to happen
Have an option to align placeholder  to the right and switch rightIcon and leftIcon in the Input
3. What actually happens
I can not switch rightIcon and leftIcon, they are hardcoded

Also please include the version of `react-native-elements` that you are using.
version 1.0.0-beta

[2018-04-16 21:24] xavier-villelegier commented on #1122
Hey @FakhruddinAbdi, we're trying to minimize the number of props to avoid too much complexity. You can still customise the Icons but you'll need to handle some logic by yourself (especially on Android with the cancel button). If you want to customise the icons you can have a look at https://github.com/react-native-training/react-native-elements/issues/1038#issuecomment-376169083

[2018-04-17 00:06] KeKs0r commented on #1112
I think the PR did actually make sense. By default the elevation of the overlay should be higher than the buttons (by default).

I understand that the elevation can manually be changed in other implementations and therefore it might not solve the problem in all cases, but I think sane defaults would make sense.

[2018-04-17 01:02] iRoachie commented on #1112
Good point @KeKs0r. I’ll reopen the PR

[2018-04-17 05:55] FakhruddinAbdi commented on #1122
Thanks @xavier-villelegier, But it doesn't works for my case.
In RTL language the input text ( and placeholder ) should be right aligned.
So the left icons( magnify, arrow , search) should be moved to right and the right icons ( clear, loading) should be moved to left instead.

So the question is that can i do it with the current apis?

[2018-04-17 05:59] iRoachie commented on #1122
Hey @FakhruddinAbdi can you try passing in a `containerStyle` that has `flexDirection: 'row-reverse'` ?

[2018-04-17 06:02] FakhruddinAbdi commented on #1122
Hi @iRoachie , I tried it already, but unfortunately it didn't works.

The right and left icons view container is not same as the search bar container ( with containerStyle)

[2018-04-17 06:07] iRoachie commented on #1122
Is it possible you can create a [snack][https://snack.expo.io] with the basic markup, and then do a screen shot with some annotation to how it should look RTL?

[2018-04-17 06:47] FakhruddinAbdi commented on #1122
Sorry how can i change the `react-native-elements` version in the snack?
I will delete this comments as it not related to the the actual question

[2018-04-17 06:48] iRoachie commented on #1122
You can edit the package.json in the files section

[2018-04-17 07:00] FakhruddinAbdi commented on #1122
Thanks .. i used `1.0.0-beta`version but it just accept `1.0.0-beta3` or `1.0.0-beta4`

[2018-04-17 07:07] FakhruddinAbdi commented on #1122
Here is the the snack https://snack.expo.io/r1XWozm2f

![image](https://user-images.githubusercontent.com/8319873/38853802-a635bde8-4233-11e8-9655-14b76833d091.png)

[2018-04-17 07:15] xavier-villelegier commented on #1122
@FakhruddinAbdi [Here is](https://snack.expo.io/Byt1kXmnf) the best you'll be able to achieve by just adding styles
![image](https://user-images.githubusercontent.com/17592779/38854079-a0094886-421f-11e8-991d-b48743fa4e94.png)

[2018-04-17 13:01] iRoachie opened #1123 "(SearchBar) Add inputContainerStyle prop to docs and typings"
`inputContainerStyle` is a prop on the SearchBar.

It needs to be added to the typescript definitions as well as the docs.

**Types**
Is need to be added on this interface https://github.com/react-native-training/react-native-elements/blob/master/src/index.d.ts#L1473

**Docs**
Will need to be added to both:
https://github.com/react-native-training/react-native-elements/blob/master/docs/searchbar.m

[2018-04-17 13:58] KD-Dhiren opened #1124 "Unable to resolve module react-native-vector-icons/Feather"
The development server returned response error code: 500

URL: http: //10.0.2.2:8081/index.android.delta?platform=android&dev=true&minify=false

Body: {
    "originModulePath": "G:\\ReactNative\\pApp\\node_modules\\react-native-elements\\src\\helpers\\getIconType.js",
    "targetModuleName": "react-native-vector-icons/Feather",
    "message": "Unable to resolve module `react-native-vector-icons/Fe

[2018-04-17 15:26] cdalton615 opened #1125 "Ability to set color and accessibility label for cancel button in SearchBar"
### Description

1. Explain what you did: I've added the SearchBar component to my navigation bar in my ios app. I've set the component's "cancelButtonTitle" and "platform" props so that the "Cancel" button is displayed.
2. What you expected to happen: I expect to be able to set the color of the "Cancel" button, as well as the accessibility label.
3. What actually happens: Cancel button's text col

[2018-04-17 16:16] avin3sh commented on #1069
Replacing it with `leftAvatar` makes the Avatar placeholder vanish completely.

[2018-04-18 00:31] iRoachie commented on #1069
@avin3sh Not sure what markup you're using that would have this affect, but you can see and example of the Avatar and the ListItem working [here](https://snack.expo.io/H1f3Zf43M)

[2018-04-18 08:00] 3ace commented on #1117
@iRoachie ah thanks, I've been looking at 1.0.0 beta 4 documentation all this time without realizing that it's different :(

[2018-04-18 09:54] amansahil commented on #1121
@xavier-villelegier I set the height cause I'm stacking the cards , without the height the texts that are longer than others stick out.

[2018-04-18 10:33] iRoachie commented on #1117
Sorry about that mate! In the next version the website will show 0.19 as the default version

[2018-04-18 10:33] #1117 closed

[2018-04-18 14:54] deadcoder0904 commented on #826
Guys I know this has been solved but if you needed to go the way you did it at first, you can do it with https://github.com/satya164/babel-plugin-optional-require

[2018-04-18 15:54] donni106 commented on #487
@gino8080 this also happens with React Native Debugger

[2018-04-19 11:22] Bonobomagno opened #1128 "More Customization on SearchBar"
### Description
`react-native-elements   version "1.0.0-beta4"`

i want to change inner background of the theme
### Reproduction Steps and Sample Code

[code]
i'm trying to change the input area, but if i use only `inputStyle `prop, i can't change the background of the left icon, or the small area on the right.

### Solution

with **react-devtools** i found that setting `backgroundColor `of the `A

[2018-04-19 12:09] thereis commented on #1069
@avin3sh Check your version inside `package.json`. I'm using `^0.19.0` and I've the same issue as you. Changing my version to `1.0.0-beta4`, solved the issue.

[2018-04-19 13:07] iRoachie commented on #1069
@thereis Here's the same example working in `0.19.0` https://snack.expo.io/SkgqNML2z

[2018-04-19 13:11] iRoachie commented on #1128
Hey @Bonobomagno, you'll want to make use of the `inputContainerStyle` and `containerStyle` prop. Here's an example of the two of them in action https://snack.expo.io/H1F8BMU2M

[2018-04-19 13:13] thereis commented on #1069
@iRoachie In the expo example, the prop used was `avatar`. I've tried to use `leftAvatar` and I was not able to render a simple file inside my project using this property. In `1.0.0-beta4` everything works fine.

[2018-04-19 13:29] thereis commented on #1069
@iRoachie which version is recommended to use and follow the docs without having this issue?

[2018-04-19 13:37] iRoachie commented on #1069
@thereis We have versioned docs, which means you can view the docs for the particular version you want.

The header tells you which version you are viewing:
![screen shot 2018-04-19 at 9 36 55 am](https://user-images.githubusercontent.com/5962998/38994751-3ee093ba-43b5-11e8-99c4-e01715958e3f.png)

If you click on the version, it brings you to the version picker.
https://react-native-training.githu

[2018-04-19 13:41] thereis commented on #1069
@iRoachie good to know that, thanks for the support. I'll stay with the `1.0.0-beta4` while developing the proof of concept. Thanks anyways!

[2018-04-19 13:45] iRoachie commented on #1069
@avin3sh If you check the snacks that I posted above, you'll see that the value is different:

**0.19.x**
[code]

**1.0.0-beta4**
leftAvatar={{
  source: {
    uri: 'https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg',
  },
}}

[2018-04-19 13:52] Bonobomagno commented on #1128
yes, but there is no documentation for that!
https://react-native-training.github.io/react-native-elements/docs/searchbar.html

[2018-04-19 13:56] kyler-hyuna commented on #1128
Thanks for bringing that up! Will add it to the next relaase

[2018-04-19 13:56] iRoachie commented on #1128
Thanks for bringing that up! Will add it to the next release

[2018-04-19 13:57] iRoachie commented on #1128
We have an issue for it already https://github.com/react-native-training/react-native-elements/issues/1123

[2018-04-19 15:08] motogod opened #1129 "Can i hide rightIcon in ListItem ?"
Here is my ListItem
[code]
I find that if i remove leftIcon it will disappear, but i remove rightIcon it still shows default icon in my ListItem,  i can't find the setting about hide rifhtIcon.

I just try `rightIcon={{name: null}} `or r`ightIcon={{name: 'none'}}` they are no working?

Is there a setting about it or not ?  Thanks in advance.

[2018-04-19 15:48] xavier-villelegier commented on #1129
@motogod
If you're using `v0.19.X`, use `hideChevron`
If your're using `v1.0.0-beta4`, just don't add the `chevron` props

[2018-04-19 20:14] xavier-villelegier commented on #1027
@lsiden Feel free to ping me if you think this should be reopened

[2018-04-19 20:14] #1027 closed

[2018-04-19 20:15] xavier-villelegier commented on #1038
@0xori Closing this for inactivity. Feel free to check #1122 about RTL searchbar.

[2018-04-19 20:15] #1038 closed

[2018-04-19 20:15] xavier-villelegier commented on #1073
Closing this as it is solved in the beta.

[2018-04-19 20:15] #1073 closed

[2018-04-19 20:16] #1115 closed

[2018-04-19 20:17] xavier-villelegier commented on #1121
@amansahil Okay I see. Using a custom component should do the job then.

[2018-04-19 20:19] xavier-villelegier commented on #1128
Closing this as duplicate of #1123

[2018-04-19 20:19] #1128 closed

[2018-04-19 21:35] Daveyjonez commented on #602
Is there a simple demo of toggling which `rightIcon` appears by using `onPress()` and updating it in the array that `ListItem` pulls from?

[2018-04-20 13:35] iRoachie commented on #602
@Daveyjonez which version of react-native-elements you'll like the demo for?

[2018-04-20 14:24] motogod commented on #1129
Yes i'm using v0.19.x and hideChevron is working. Thanks for your help.

[2018-04-20 14:25] #1129 closed

[2018-04-20 15:52] lsiden commented on #1027
Thank you for your responses, Xavier.

There has been some progress
<https://github.com/airbnb/enzyme/blob/master/docs/guides/react-native.md>
on getting enzyme to work with react-native but I couldn't get it to work
out of the box, so I decided to stick with react-native-test-utils and just
use Jest expect().toMatchSnapshot()  until I have time later to improve
this.

I've begun to realize that o

[2018-04-20 19:03] Daveyjonez commented on #602
Im running version `"^0.19.1"`

[2018-04-20 20:48] xavier-villelegier commented on #602
@Daveyjonez [Is this](https://snack.expo.io/HJ7gzAw3G) what you're looking for ? Can you be more precise ?

[2018-04-20 20:52] xavier-villelegier commented on #1027
@lsiden Actually, the lib you choose to use should be testing these kind of things for you, you shouldn't have to test the package you use, but only your own components.
What do you mean by unresolved dependencies ? We didn't add any dependency from `v0.19.x` to `v1.0.0-beta3`. We added a new one in `beta4` but we'll most likely remove it because we don't like to add unnecessary dependencies

[2018-04-20 23:14] grissproject commented on #976
It is still failing with I apply the ```platform="ios"``` prop. This is the result (v1.0.0-beta4):
[code]
<img width="377" alt="screen shot 2018-04-20 at 7 07 51 pm" src="https://user-images.githubusercontent.com/5286643/39077207-36018adc-44ce-11e8-8ba6-0a15505dd09c.png">

It works without the ```platform="ios"```.

[2018-04-20 23:26] iRoachie commented on #976
Check this out https://github.com/react-native-training/react-native-elements/issues/1128#issuecomment-382729111

[2018-04-21 03:36] grissproject commented on #976
That works! thanks a lot

[2018-04-22 15:11] SirPhemmiey commented on #881
Hello guys..i am using the beta version @iRoachie suggested but the overlay isn't visible..I can't see it on myt screen. It's showing as a normal button

[2018-04-22 19:22] razvanilin opened #1130 "Buttons from the parent component appearing on top of the Overlay [beta4]"
### Description

Hi there, I just updated to beta4 from beta3 and modified the code accordingly. I'm now experiencing an issue with the Overlay component. All the buttons from the parent component appear on top of the overlay. They are not clickable, but they can be seen as below:

**The four button on the top should be behind the Overlay**

![screenshot_20180422-194644](https://user-images.github

[2018-04-22 19:36] iRoachie commented on #1130
Closing as duplicate of https://github.com/react-native-training/react-native-elements/issues/1112

[2018-04-22 19:36] #1130 closed

[2018-04-23 19:11] lucasharada opened #1133 "Error when setting leftIcon on Input using Expo CRNA"

[2018-04-23 19:26] #1133 closed

[2018-04-23 19:33] pleopardi opened #1134 ""fontFamily 'Ionicons' is not a system font and has not been loaded through Expo.Font.loadAsync""
### Description

I'm trying to use the CheckBox component within an Expo project but I get the error in the title.

This is the code I'm using:

`<CheckBox
      checked={checked}
      checkedIcon="ios-checkbox"
      checkedColor={DEEP_BLUE}
      containerStyle={containerStyle}
      iconType="ionicon"
      onPress={onPress}
      textStyle={textStyle}
      title={title}
      uncheckedColor=

[2018-04-24 07:16] xavier-villelegier commented on #1134
@pleopardi Mmmh it works out of the box in [this snack](https://snack.expo.io/BJDDK8n2z) without preloading anything.

Make sure you read https://github.com/react-native-training/react-native-elements/issues/620#issuecomment-355530210

[2018-04-24 07:48] pleopardi commented on #1134
Thanks Xavier. I read your comment yesterday and tried your solution with no luck.

I'll try again after updating the dependencies, starting from expo and react-native-elements. Maybe it's some kind of legacy bug easily solved with an update.

[2018-04-24 08:11] xavier-villelegier commented on #1134
@pleopardi Could you try with `v1.0.0-beta4` ? `npm i -S react-native-elements@beta`, remember to clean install your modules (`rm -rf node_modules yarn.lock package-lock.json && yarn`)

[2018-04-24 11:27] hpelitebook745G2 opened #1136 ""RawText "" must be wrapped in an explicit <Text> component." for errorMessage props of Input"
### Description

1. Assigned variable to errorMessage props for `Input` component.
2. Initially this variable is empty.
3. Upon rendering it gives `RawText "" must be wrapped in an explicit <Text> component.` error.

Current version is `"react-native-elements": "beta"`, `1.0.0-beta4:` specifically.

### Reproduction Steps and Sample Code

This is my local state: `this.state = {
	  emailError: {

[2018-04-24 11:56] xavier-villelegier commented on #1136
@hpelitebook745G2 Not sure if this comes from the error message. Can you add more context to your use case ? [Here is](https://snack.expo.io/HJMEo5n3z) a simple example of how to use it, it works fine on Snack

[2018-04-24 12:10] loic-lopez opened #1137 "Change font and text color on typing with SearchBar"
### Description

Hello, is it possible to change the font and text color on typing with the SearchBar component?
` "react-native-elements": "^0.19.0"`

### Example:
The default color of the text that the user writed is grey,
but in my case i need to have this text in white.

Thanks for reply .

[2018-04-24 12:29] xavier-villelegier commented on #1137
@loic-lopez [Here is](https://snack.expo.io/HkJ0Mi3hM) a simple example.
The idea is to use `onBlur` and `onFocus` to change between the two styles.

[2018-04-24 12:39] loic-lopez commented on #1137
Thanks for reply @xavier-villelegier,

Your example do what i needed.
 😃

[2018-04-24 12:45] #1137 closed

[2018-04-24 15:49] pleopardi commented on #1134
I tried with v1.0.0-beta4 but still have the same problem!

[2018-04-24 19:14] lsiden opened #1138 "ListItem renders unwanted vertical white-space that I cannot control"
On v1.0.0-beta4, ListItem renders vertical padding above and below its contents that I cannot get rid of.  When I examine this on Android with the inspector, it does not show any value for padding, but there is nevertheless white-space above and below the text that I cannot adjust.  This was not the case with v0.19.x.

[2018-04-24 19:37] lsiden commented on #1027
FYI, I just tried updating again to 1.0.0-beta4 and didn't have the problems I had before. I'm not sure anymore what they were, but there are no unresolved dependencies this time, so all is good.

[2018-04-24 19:46] xavier-villelegier commented on #1138
@lsiden Did you try `containerStyle={{ padding: 0 }}` ?

[2018-04-25 06:41] hpelitebook745G2 commented on #972
@Craques Can you post your solution to make the input shake? Should I use a function to control the shaking or control the boolean and supply it to the `shake` props?

[2018-04-25 07:37] Murmand opened #1139 "SearchBar has bad propTypes for clearIcon"
**package.json**

[code]

**code**

[code]

Throws at runtime:

[code]

### Solution

PropTypes from `SearchBar-default.js` are inconsistent with `SearchBar-android.js` and `SearchBar-ios.js`.

PR is coming.

[2018-04-25 07:59] xavier-villelegier commented on #1139
See https://github.com/react-native-training/react-native-elements/pull/1140#issuecomment-384195442

[2018-04-25 07:59] #1139 closed

[2018-04-25 11:16] FakhruddinAbdi opened #1141 "ClearIcon doesn't clear the search input on IOS"
### Description

ClearIcon doesn't clear the search input on IOS

The version
1.0.0-beta4

[2018-04-25 12:03] xavier-villelegier commented on #1141
Duplicate of #1064

[2018-04-25 12:03] #1141 closed

[2018-04-25 14:11] pleopardi commented on #1134
OK, I tried with a new Expo project from scratch and everything works just fine, without precaching by the way.
So the problem it's almost certainly related to the other Expo project, altough I don't know yet what causes it.

Anyway, problem solved! Thanks again for your help Xavier.

[2018-04-25 14:11] #1134 closed

[2018-04-25 14:15] xavier-villelegier commented on #1134
Glad it doesn't come from RNE ! Feel free to post the solution if you find out.

[2018-04-25 17:57] jason-cf opened #1142 "Weird behavior with `alignItems: 'center'` v1 ListItem"
### Description

1. Explain what you did
_Followed example for ListItem, using 1.0.0-beta4, 'title' property doesn't appear to work._

2. What you expected to happen
_'title' field should show my text. I hard coded it to 'foobar'._

3. What actually happens
_list appears with just icons, but no title_

Also please include the version of `react-native-elements` that you are using.
_"react-native-el

[2018-04-26 09:03] xavier-villelegier commented on #1142
@jason-cf Adding `alignItems: 'center'` will cause children to take the minimum width and center themselves. The title is in a view with `flex: 1` style, and it seems like there are some conflicts between `flex: 1` child and `alignItems: 'center'` container.

Basically: you ask to your children to take the minimum width but the `flex: 1` tries to take maximum available width -> which is actually 0

[2018-04-26 10:38] pashute opened #1143 "Feature request: list items"
In onsenUI etc. you have each row being a "list item" with stuff nicely set in it, and an "arrow" or + sign that changes according to the sate.  Also there's a clear thin border between the items and they seem 3d.

Here's [one in JQuery](http://jsfiddle.net/Gajotres/eELYZ/). Easy, they put the icon on the right.

Here's [one in ionic](http://jsfiddle.net/shengoo/6b0y3tar/)

and [here's one with a

[2018-04-26 13:54] jason-cf commented on #1142
@xavier-villelegier your suggestion for a workaround works for me, but I still think `flex: 1` and `alignItems: 'center'` should not cause the issue I encountered. I re-read the mozilla spec, and it doesn't say it'd cause elements to take a min width of 0. Take for example the same code, but instead of using `ListItem`, just simply use `<Text>` instead. Things display correctly, and the min width

[2018-04-26 14:36] xavier-villelegier commented on #1142
The fact is that the `ListItem` cannot be as simple as a single `Text`, because of the number of features built-in, so the `Text` is wrapped many times before the `Text`. Here is more or less what is rendered by the `ListItem`:

[code]

And you can see that the behavior is the same as the `ListItem`, (the `Text` doesn't show up)
The weird thing is that if you just add `alignItems: center` to the o

[2018-04-26 14:53] jason-cf commented on #1142
@xavier-villelegier, I totally agree you expect react-native to be fully compliant to the mozilla spec. You reminded me that just recently when React 16.2 was introduced, I've actually been able to fix some strange layout issues by using `React fragments` instead of `<View>`. FYI, I use RN .55, and maybe I'm missing something, but I can't get the short-hand notation `<>` to work, but the long-hand

[2018-04-26 15:11] lsei opened #1145 "Search Bar width tied to screen width"
1. I'm using the Search bar as a FlatList header. The FlatList is inside a wrapper which has padding on the left and right.
2. Expecting the search bar to display properly inside the container.
3. The search bar and cancel text is too far to the right and half out of view.

Version: v1.0.0-beta4

Demo: https://snack.expo.io/ByQc5PypG

Having had a quick look at the source code I believe this is du

[2018-04-27 00:56] Craques commented on #972
This is the bare minimum for an input, its important to add a **ref** prop as below.

`<Input
	leftIcon={ <Icon name='email'/>}
        **ref = {input=>this.emailInput = input }**
	autoCorrect={false}

/>
`
Then whenever you want the input to shake e.g if there is a validation error, you run **this.emailInput.shake()** a method which is bundled with the Input component

`validateEmail(email){

[2018-04-27 04:58] iRoachie commented on #1145
Duplicate of #861

[2018-04-27 04:58] #1145 closed

[2018-04-27 07:34] xavier-villelegier commented on #1142
@jason-cf Oh okay nice ! Could you post your Fragment-solution ? I didn't have the occasion to use fragment yet, could be a good example !

[2018-04-27 10:41] jfrolich opened #1147 "SearchBar onCancel does not work when ListHeaderComponent in FlatList"
### Description

onCancel does not trigger when pressing cancel when a ListHeaderComponent in a FlatList

--
PS: A small bug, the cursor animates when focussing, and this should not happen on iOS
PPS: The touch target for the clear button is really small, so you often miss it

1.0.0-beta4

### Reproduction Steps and Sample Code

https://snack.expo.io/H1nxCdg6M

### Solution

[2018-04-27 12:09] xavier-villelegier commented on #1147
@jfrolich This is not because of the SearchBar, but because of the FlatList. You need to add `keyboardShouldPersistTaps="handled"` to your FlatList props.

For the cursor animation, we're using `LayoutAnimation` (which animates basically everything). We will probably change that to use the `Animated` API later.

[2018-04-27 14:33] Clafouti opened #1148 "Placeholder text color inside Input"
Using v1.0.0-beta4

I'm trying to change the color of the placeholder text inside an Input component (I'm using a dark background). Is there a prop to do that ? I tried using `inputContainerStyle` without success.

[2018-04-27 14:43] iRoachie commented on #1148
The color of the placeholder is control by a prop not style. You're looking for [`placeholderTextColor`](https://facebook.github.io/react-native/docs/textinput.html#placeholdertextcolor)

[2018-04-27 14:53] Clafouti commented on #1148
I can't believe I missed that one! I was on that page but used it inside a StyleSheet inside inputContainerStyle.

Thanks a lot!

[2018-04-27 14:53] #1148 closed

[2018-04-27 16:21] avin3sh opened #1149 "In this environment, the sources for assign MUST be an object"
On `"react-native": "0.55.3"` and `"react-native-elements": "^0.19.1"`  using `iconRight` prop with `Button` gives "In this environment, the sources for assign MUST be an object " error.

The code from Components docs itself can be used to reproduce the error,
`<Button
  icon={
    <Icon
      name='arrow-right'
      size={15}
      color='white'
    />
  }
  iconRight
  title='BUTTON WITH RIGHT

[2018-04-27 16:27] avin3sh commented on #1149
Hey, you are right. Silly mistake at my side. I don't know when the Component doc version reverted to 1.0.0-beta4.

[2018-04-27 16:27] #1149 closed, assigned to nobody

[2018-04-27 17:57] xavier-villelegier commented on #1149
@avin3sh Note that in the future you’ll be able to pass an object as before, it’s still a beta. We will standardize this behavior everywhere for the v1, so you’ll be able to use both objects and components

[2018-04-28 07:55] rk85097 opened #1150 "SearchBar unwanted top and bottom gray lines"
### Description

I added a search bar into my app, gave it a container background color, yet, I still get top and bottom gray line. If I am not using the lightTheme those lines becomes black. Any way to remove them / change their color?

`<SearchBar
          round
          lightTheme
          containerStyle = {{width: 230, backgroundColor:'transparent'}}
          inputStyle     = {{backgroundC

[2018-04-29 05:37] Monte9 commented on #1109
Thanks for following up on this @iRoachie! Gj! 👏

[2018-04-29 08:11] nonotest opened #1153 "ListItem - cannot use TouchableHighlight as a component"
### Description

1. Tried to use TouchableHighlight as a component
2. It should work
3. The test for the divider component generates a React element and we get the
"expected to receive a single react element child" redbox

latest beta

### Reproduction Steps and Sample Code

[code]
### Solution
Shouldn't the divider be purely handled via styles here?
Possible solutions:
* Remove the divider and ha

[2018-04-29 10:27] #1147 closed

[2018-04-29 10:32] xavier-villelegier commented on #1150
Hey @rk85097 👋  The SearchBar has borders by default, but you can override it.
This should work:

[code]

[2018-04-29 10:51] martinezguillaume commented on #1153
Yep, I think the divider should be just handled by borderBottom style you‘re right ! And for the Component to TouchableHighlight, I think you‘re right too ! Thoughts @xavier?

[2018-04-29 11:02] xavier-villelegier commented on #1153
@martinezguillaume Yea I think too. The `Divider` component might be a bit overkill here

[2018-04-29 13:39] ferpalma21 commented on #1099
I can't make it work, I'm using Search as component instead of input and still with the same error. Path react-native-elements/src/Input/Search.js .

`
`
import React from 'react';
import {  View, Text, StyleSheet } from 'react-native';
import Icon  from 'react-native-vector-icons/FontAwesome';
import {  Button, Search } from 'react-native-elements';

export default class RegisterScreen extends Re

[2018-04-29 13:42] iRoachie commented on #1099
@ferpalma21 Please create a new issue, also stating which version of react-native-elements you're using. There's no `Search` component, it's `SearchBar`

[2018-04-29 17:30] elyran opened #1154 "Simply get FormInput's text value"
Hi,

How do I get a FormInput's text value?
I'd expect that to be straightforward, but found myself trying to figure this out by looking at the source code, without success!

https://github.com/react-native-training/react-native-elements/blob/master/src/form/FormInput.js

I see on the above link, in the source code, that `textInputRef` is deprecated.

Setting a 'ref' has failed:
`<FormInput ref='e

[2018-04-29 17:55] elyran commented on #1154
I've noticed that the NPM version, the default I've got is v0.19.1.
This, while the docs discuss v1.0.0-beta4.

That's a source of confusion, by the way. 'FormInput' is gone, while 'Overlay' is introduced.

I think someone should make things clear. This kind of problems cost hours of dev. time. That said with lots of respect for making the project happen, so please don't get me wrong - thanks for

[2018-04-29 18:14] elyran commented on #1154
I'm sorry for the messages but I'm trying to figure out how to work with RNE v1+.

The docs at
https://react-native-training.github.io/react-native-elements/docs/text.html
don't discuss about 'FormInput' at all..

What's going on? Is someone working on this project?

[2018-04-29 21:12] pensivej opened #1155 "Input element broken"
### Description

1. Explain what you did

I just simply added basic input, following the tutorial but it crashes.

2. What you expected to happen

Just a simple input testing

3. What actually happens

Invariant violation: Element type is invalid

Also please include the version of `react-native-elements` that you are using.

0.18.5

### Reproduction Steps and Sample Code

We highly recommend that

[2018-04-30 00:04] Craques commented on #1155
I think the Input element is available in the beta. If you run npm i --save react-native-elements@beta

[2018-04-30 00:05] pensivej commented on #1155
yes, I noticed.

Others, for current version (0.18.5) use FormInput instead of Input

[2018-04-30 02:49] xavier-villelegier commented on #1155
Duplicate of #1154 #1099 #1025 and others

[2018-04-30 02:49] #1155 closed

[2018-04-30 08:32] xavier-villelegier commented on #1143
@pashute Mmh by looking at your examples I think you're looking for a collapsible list [like this](https://github.com/oblador/react-native-collapsible) no ?

[2018-04-30 19:01] txs commented on #600
what is your react-router version. I cannot import type { RouterHistory } from 'react-router'

[2018-05-01 13:28] JosielFaleiros commented on #890
I am facing the same issue :/

[2018-05-02 15:15] M-Jas commented on #1125
#1159

[2018-05-02 15:16] M-Jas commented on #1125
#1159

[2018-05-03 08:56] stefanilie commented on #890
This is happening to me too after ```npm run eject```

[2018-05-03 12:05] vsai commented on #1136
@xavier-villelegier I see the same error message as above when the value passed into `errorMessage` is an empty string. Not sure if that has something to do with it.

As soon as I modify the initial state of the component, containing the errorMessage, to non-empty, the component renders fine.

[2018-05-03 12:38] sabiya115 opened #1160 "custom cursor color for searchbar"
### Description

Not able to change cursor color from black to white.
Using container style as:
`containerStyle={{ backgroundColor: 'transparent', borderBottomColor: 'transparent', borderTopColor: 'transparent'}}`

and input style as:
`inputStyle={{ backgroundColor: 'transparent', color: 'white'}}`

Currently my search bar is all perfect except the cursor color.

Using version 0.19.0

![screen sho

[2018-05-03 12:47] iRoachie commented on #1160
Any props from the native `TextInput` you can pass to the `SearchBar`. The prop you're looking for is [`selectionColor`](https://facebook.github.io/react-native/docs/textinput.html#selectioncolor). Here's an example https://snack.expo.io/H1zlSK_az

[2018-05-03 12:58] sabiya115 commented on #1160
@iRoachie It worked, thanks, dude 👍

[2018-05-03 12:59] #1160 closed

[2018-05-03 15:19] LouisJS opened #1161 "[Android] Button RGBA transparency"
### Description

1. Explain what you did

Implement a backgroundColor using Transparency (RGBA)

2. What you expected to happen

Have the same result on iOS & Android

3. What actually happens

It does work on iOS (TouchableOpacity) but doesn't work well on Android (TouchableNativeFeedback).
You can see the opacity difference on the border of the Button

`react-native-elements": "^1.0.0-beta4"`

#

[2018-05-03 15:57] Bonobomagno opened #1162 "SearchBar, hide cancel button when onBlur is called"
If i press the arrow (back icon), the cancel button (the X/cancel) don't hide himself.
How to hide it?

[2018-05-03 16:46] danactive opened #1163 "CI error: opencollective: Permission denied"
### Description

1. Explain what you did
My project is using *react-native-elements* as a dependency. Every time I make a change to my project my Continuous Integration service executes unit test. Before the unit test I have an install build step that runs `npm install` inside a Docker container.
2. What you expected to happen
All my project dependencies should install successfully without error.

[2018-05-03 19:43] xavier-villelegier commented on #1162
Are you talking about the clear icon ?

[2018-05-03 19:49] xavier-villelegier commented on #1161
@LouisJS You have the [`TouchableComponent` props](https://react-native-training.github.io/react-native-elements/docs/button.html#touchablecomponent) 👍

[2018-05-03 19:50] #1121 closed

[2018-05-03 19:53] xavier-villelegier commented on #1124
Closing this as this issue has been opened many times and has always been resolved by a fresh install of the vector icons. Be sure you follow exactly the steps stipulated in https://github.com/react-native-training/react-native-elements/issues/620#issuecomment-340556299 or https://github.com/react-native-training/react-native-elements/issues/620#issuecomment-355530210, and that you've cleaned/rest

[2018-05-03 19:53] #1124 closed

[2018-05-03 20:03] xavier-villelegier commented on #1136
@vsai Do you have this error only on Android ?

[2018-05-03 20:51] isaacguerreir opened #1164 "Icon component doesn't appear on the screen"
Hello, folks. I think that I have some problem related to the button component. Now I'm using the 0.19.1 version of _react-native-elements_. When I use the Icon component isolated everything works fine:

[code]
But when I use the Button component and pass the Icon component as a parameter the icon disappear:

[code]
What is a possible solution for that?

[2018-05-03 21:02] ManuelTFviajez commented on #640
The solution mentioned above will work unless an **onPress** callback is defined for the wrapped Icon component:
`<Icon
            name="ccw"
            type="entypo"
            size={standardHeaderIconSize}
            iconStyle={{ color: '#FFFFFF' }}
            onPress={() => {}}
            underlayColor="rgba(255,255,255,0)"
          />`
In this case, a white underlay color is created and

[2018-05-03 22:01] iRoachie commented on #1164
That’s not how you use the Icon with Button on 0.19.1. Please refer to the documentation here https://react-native-training.github.io/react-native-elements/docs/0.19.0/button.html

[2018-05-04 03:30] hpelitebook745G2 commented on #1136
I fixed this by using `null` value instead of having empty string. So my condition would be:
`
	errorMessage={ this.state.emailError.isError ? this.state.emailError.message : null }
`

[2018-05-04 06:33] vsai commented on #1136
@xavier-villelegier I had this error on the iOS simulator.

I fixed it by using null instead of empty string too.
But just pointing out why I was seeing the same error too.

[2018-05-04 07:53] xavier-villelegier commented on #1162
@Bonobomagno Here is a simple example

[code]

Running on [on Snack](https://snack.expo.io/HJ8v-ctTM)

[2018-05-06 14:41] rrajasek92 opened #1168 "FormInput sizing issue"
I'm implementing elements into a react native app but am unsure how to go about resizing the FormInput component. I see there's a containerStyle property but I'm not really sure what to input to resize it. On iOS the input line is far too wide for the screen.

[code]

[2018-05-06 14:50] xavier-villelegier commented on #1168
Hey @rrajasek92 👋

For example, you can add `containerStyle={{width: '90%'}}` if you want your input to take 90% of the container width.

![image](https://user-images.githubusercontent.com/17592779/39674526-90f3d55e-514d-11e8-97b5-8f8a14c1fb71.png)

[2018-05-06 21:51] joshconnell4 commented on #881
they didn't specify importing options in the docs. import {Overlay} from 'react-native-elements.

[2018-05-06 21:54] #1069 closed

[2018-05-06 21:54] #1123 closed

[2018-05-06 22:31] rrajasek92 commented on #1168
I've realized the actual issue is the way the form is being rendered in iOS. It is draggable left and right and when entering information will shift entirely. Here's a gif:
https://im5.ezgif.com/tmp/ezgif-5-f75629a9d4.gif

My code is as follows:

[code]

[code]

Thank you so much!

[2018-05-07 04:48] iamthuypham commented on #630
In case someone runs into this issue.

I think that the [document](https://react-native-training.github.io/react-native-elements/docs/button.html) for Button is quite outdated.

Also, there is no `arrow-right` icon in `./glyphmaps/MaterialIcons.json` :rofl: , so there should be an appropriate error message such as `Can not find arrow-back in Material Icon list`

Here is a working code I used.
[cod

[2018-05-07 07:45] xavier-villelegier commented on #1125
Fixed in `v1.0.0-beta5`, you now have a `cancelButtonProps` props

[2018-05-07 07:45] #1125 closed

[2018-05-07 07:47] xavier-villelegier commented on #1112
@runia1 @KeKs0r Fixed in `v1.0.0-beta5`, live on npm 🎉

[2018-05-07 07:47] #1112 closed

[2018-05-07 07:47] xavier-villelegier commented on #1111
`v1.0.0-beta5` live on npm 👍

[2018-05-07 07:47] #1111 closed

[2018-05-07 07:48] xavier-villelegier commented on #1102
@carmenchapa Fixed in `v1.0.0-beta5` available on npm, thanks to @Gregjarvez 🔥 💯

[2018-05-07 07:48] #1102 closed

[2018-05-07 07:49] xavier-villelegier commented on #1095
`v1.0.0-beta5` released 🥇

[2018-05-07 07:49] #1095 closed

[2018-05-07 07:50] xavier-villelegier commented on #1084
`v1.0.0-beta5` live on npm, thanks again @Gregjarvez 💯

[2018-05-07 07:50] #1084 closed

[2018-05-07 07:50] xavier-villelegier commented on #1083
Fixed in `v1.0.0-beta5`

[2018-05-07 07:50] #1083 closed

[2018-05-07 07:50] xavier-villelegier commented on #1081
Fixed in `v1.0.0-beta5`

[2018-05-07 07:50] #1081 closed

[2018-05-07 07:52] xavier-villelegier commented on #1074
Fixed in `v1.0.0-beta5`, @Gregjarvez is a rockstar 🎸

[2018-05-07 07:52] #1074 closed

[2018-05-07 07:54] xavier-villelegier commented on #1063
Live in `v1.0.0-beta5` on npm, thanks again @mhsekhavat ! 💯

[2018-05-07 07:54] #1063 closed

[2018-05-07 07:55] xavier-villelegier commented on #1058
@aquacash5 `v1.0.0-beta5` is out 🔥

[2018-05-07 07:55] #1058 closed

[2018-05-07 07:56] xavier-villelegier commented on #1028
@laurence-myers `v1.0.0-beta5` is out, thanks again @whitedogg13 🔥

[2018-05-07 07:56] #1028 closed

[2018-05-07 08:05] xavier-villelegier commented on #1020
Now available here https://react-native-training.github.io/react-native-elements/docs/troubleshooting.html

[2018-05-07 08:05] #1020 closed

[2018-05-07 10:46] iRoachie commented on #869
Closing this until we have more information on the requirements

[2018-05-07 10:49] iRoachie commented on #630
Hey @iamthuypham thanks for bringing that up. Would you willing to make a PR that updates the docs.

[2018-05-07 11:01] iRoachie commented on #1168
Image not found @rrajasek92, can you post it here?

[2018-05-07 11:03] iRoachie opened #1173 "Rebase Docusaurus version"
We were using a custom fork to be able to use `defaultVersionShown`. Since it's been merged into master on Docusaurus, we should be able to merge back. https://github.com/facebook/Docusaurus/pull/554#issuecomment-386900810

[2018-05-07 11:19] iRoachie commented on #881
Sorry about that @joshconnell4, do you mind making that small fix to the docs?

[2018-05-07 13:04] xavier-villelegier commented on #1136
@vsai @hpelitebook745G2
Okay guys, after investigating a bit, you're right, this is a bug.

Here is the source code:
https://github.com/react-native-training/react-native-elements/blob/d4da856a7f105c814cc162e507b48c49399cabef/src/input/Input.js#L109-L113

By doing this, when `errorMessage=""`, `errorMessage && …` returns `""`, and it's trying to render an empty string outside a `Text` component.

[2018-05-07 13:05] #1150 closed

[2018-05-07 13:05] xavier-villelegier commented on #1138
I think it's a duplicate of #1119

[2018-05-07 13:05] #1138 closed

[2018-05-07 13:53] iamthuypham commented on #630
@iRoachie

[2018-05-07 14:00] iRoachie commented on #630
Sure @iamthuypham, if there's any changes you think we should make, I'd be glad to hear about them

[2018-05-07 16:28] DeaVenditama commented on #652
thanks @iRoachie , your suggestion to rebuild the app works for me, .. its really helpfull for someone who started using react native elements

[2018-05-07 16:31] iRoachie commented on #652
@DeaVenditama Glad I could help! :)

[2018-05-07 18:53] danactive commented on #1163
@xavier-villelegier I'm not currently able to put much thought into this issue. You have a valid question as you are trying to determine the severity of this issue. Do you have any ideas on how to restrict permission and then execute my unit tests or start my app?

[2018-05-07 20:33] xavier-villelegier commented on #1163
@danactive It's quite hard to reproduce on our side as it depends a lot on your environment 😕 I don't think it has any impact on your app as it is a "**post** install", but if it does, we'll add a env variable to disable this post install script. By the way, using `yarn` the opencollective post install script is not run

[2018-05-07 22:15] jstansbe opened #1176 "Searchbar text is cutoff RNE beta 5"
### Description

1. Added searchbar component
2. Expected input text to be displayed correctly and for cancel button to be offscreen (when keyboard is inactive)
3. The top of the input text is cut off (both placeholder text and text entered by user) and the cancel button should be hidden until the keyboard is brought up

[code]

### Reproduction Steps and Sample Code

We highly recommend that you

[2018-05-08 04:38] iRoachie commented on #1176
I'm not able to replicate this error. Could you provide anymore information that could help clear this up? See example here https://snack.expo.io/ry6qYo0pG

[2018-05-08 09:10] moshfeu commented on #1005
@alexborton Thanks!

[2018-05-08 10:45] aryasadeghy opened #1178 "Using Beta Version"
### Description

Hello , our Team is working on  an app that using react native element . we want to release our app next month but we need some features like passing a component to card component title prop that exist in beta version , as it's not a stable version we are afraid of using it , so what is your recommendation about  beta version in this situation we have   .

[2018-05-08 12:35] iRoachie commented on #1178
Hey @aryasadeghy glad to hear you're using react-native-elements with your team, that super exciting!

Our betas despite the name beta, are usually very stable, and to the quality that you might find in a stable release. The only catch is that we may revisit previously implemented components between betas as we see the opportunity to improve them. This happens with stable releases as well, but cha

[2018-05-08 12:47] cescoferraro opened #1179 "should ListItem component cache images?"
### Description

1. Used the ListItem component
2. it to cache avatar images
3. it make tons of unnecessary requests searching for already downloaded image

Using 1.0.0-beta4

This  is how my backend logs show as I scroll down the items.
I can see the same behaviour using the ListItem inside a SectionList and a FlatList
![githubbb](https://user-images.githubusercontent.com/6259987/39757859-79f0e49

[2018-05-08 13:08] lc3t35 opened #1180 "Update to react-native 0.54 at least"
dependencies :
In order to match at least Expo sdk 26, would it be possible to update to react-native 0.54 instead of 0.52.2 ?
Thank you

[2018-05-08 13:23] lc3t35 opened #1181 "Checkbox title is not always displayed as expected"
### Description
Using react-native-elements 1.0.0-beta5, expo sdk26 (react-native 0.54)

1. Explain what you did
I'm using the same Checkbox in 2 contexts : one in a View
[code]
displays as :
![capture d ecran 2018-05-08 a 15 14 47](https://user-images.githubusercontent.com/921372/39759532-31dc1d38-52d3-11e8-933a-39d40ef0c68c.png)

the other in a [Modal](https://github.com/react-native-community/r

[2018-05-08 13:28] iRoachie commented on #1179
The avatar component doesn't provide any additional caching features than the standard react-native Image component.

If you want to enable caching, you have to provide those props yourself - https://facebook.github.io/react-native/docs/images.html#cache-control-ios-only.

There's nothing in react native that saves image requests by default

[2018-05-08 13:29] lc3t35 commented on #1181
@iRoachie flex:1  it's a test I've made among hundreds including modifiying CheckBox component to find out why this happens -> copy/paste error -> I've removed the flex:1 from my text above, same behaviour of course.

[2018-05-08 13:32] iRoachie commented on #1181
There's no inherit reason that 2 components should display differently in two instances once passed the same parameters. Check the styling on parent View's, if they're the same. Would love if you could recreate this on https://snack.expo.io

[2018-05-08 15:35] jstansbe commented on #1176
One additional detail I noticed after I posted... the text inside the input is scrollable. So for example, if you look at the screenshot I posted... i can scroll the text all the way down so the top of the text is fine but the bottom gets cut off.  In order to rule out issues from other components/styles, I tested this at the app level:
[code]

[2018-05-08 17:58] iRoachie opened #1182 "Transition to Travis CI.com and Github Checks API"
https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com?utm_source=Intercom&utm_campaign=checks_release

https://docs.travis-ci.com/user/open-source-on-travis-ci-com

[2018-05-08 22:08] aryasadeghy commented on #1178
I really appreciate it . Good job. thanks for your answer . now i'm confidently  can move to beta version

[2018-05-09 04:16] ioneway opened #1183 "badge"
### Description

1. Explain what you did
2. What you expected to happen
3. What actually happens

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We highly recommend that you try to reproduce your bug on https://snack.expo.io/ and provide a link.

If you can't reproduce the bug on Snack, provide an example of your code and bri

[2018-05-09 07:49] xavier-villelegier commented on #1183
@ioneway There is no description, what do you mean by `badge` ?

[2018-05-09 07:53] xavier-villelegier commented on #1181
On which device did you test ? Do you have this issue on iOS/Android/both ?

[2018-05-09 08:06] xavier-villelegier commented on #1176
@jstansbe To be honest the `platform="ios"` SearchBar hasn't been tested that much on Android because it was not the intended purpose, so you might have a weird behavior (for example the blue Button that appears a bit on the right).

I don't see your issue on the Snack @iRoachie did even on Android, maybe the font size is bigger on the Note 8 ? Do you have this issue on the same emulator as Snack

[2018-05-09 10:32] LouisJS opened #1184 "[SearchBar] onClear with "default" platform"
### Description

I've implemented a Searchbar and tried the onClear feature.
It doesn't work when you let the "default" platform.

I tried it on simulator and real device.
Here is a snack that shows the issue

### Reproduction Steps and Sample Code

https://snack.expo.io/rkKtTBx0G

using `react-native-elements beta5`

[2018-05-09 10:39] xavier-villelegier commented on #1184
@LouisJS Good catch ! 👏  We refactored the SearchBars in beta5 because they were inconsistent, but the default one doesn't trigger the `clear` event.

The issue is here:
https://github.com/react-native-training/react-native-elements/blob/d4da856a7f105c814cc162e507b48c49399cabef/src/searchbar/SearchBar-default.js#L18-L23

We need to move the `defaultClearIcon` in the component and add `onPress: thi

[2018-05-09 12:10] LouisJS commented on #1184
@xavier-villelegier PR is open 👍

[2018-05-09 12:14] xavier-villelegier commented on #603
@ZaneAspeling I think you should check [this Snack](https://snack.expo.io/ryQrlh54G) posted above

[2018-05-09 12:32] xavier-villelegier commented on #1184
Merged ! Will be live in beta6

[2018-05-09 12:40] xavier-villelegier opened #1186 "Add some tests"
Some things we need to add in the tests:

* Test for `onClear` on SearchBars
* _Add others here_

[2018-05-09 12:56] xavier-villelegier commented on #1184
@LouisJS I'll just let this opened until beta6 is actually released 👍 People can see if the issue they want to submit is already fixed by checking the `Fixed - Next Release` opened issues

[2018-05-09 13:37] iChaosren opened #1187 "Update Readme"
You may want to update this part of the README:

🤣

[2018-05-09 13:47] iRoachie commented on #1187
Looool, we updated it already, it's on `next` https://github.com/react-native-training/react-native-elements/commit/4c1f3f9a2421b1cced37493baf6c146617d11cb0

[2018-05-09 13:48] xavier-villelegier commented on #1187
Oh, are we already in 2018 ? 🤔😂

We added more features than planned in the previous betas of the `v1.0.0`, the next big thing to work on is the theming, but as we are a small team working on our free time we've postponed it a bit.

`v1.0.0-beta5` is quite robust though, it could be a stable release. We just prefer keeping this as a beta to be able to make breaking changes from one beta to another

[2018-05-09 15:57] jstansbe commented on #1176
@xavier-villelegier using a nexus 5 emulator netted the same result -- the input text is cut off and scrollable. Also, i've tried taking away the platform and other properties to see if that helps but nothing seems to work.

package.json
[code]
![image](https://user-images.githubusercontent.com/1250522/39825534-ff2b716a-537f-11e8-83f3-252b2eeea38a.png)

[2018-05-09 17:53] jstansbe commented on #1176
After looking into the SearchBar comp, I saw it uses react-native-elements <Input />. So when I used just that component I had the same issue (text cutoff / scrollable). So the issue is with <Input /> and not necessarily <SearchBar />

[2018-05-09 18:05] iRoachie commented on #1176
Hey guys, the `Input` component doesn't have a defined size, it's uses `flex` to get it's size from it's parent. By default the `containerStyle` in the react native fresh setup has an `alignItems: 'center'` so it squashes the Input by making it only take it the space it needs to display it's components.

[2018-05-09 18:06] xavier-villelegier commented on #1176
@creambyemute You need to remove `alignItems: 'center'` from your container style
Could you confirm that you also have this issue on a regular `Input` as @jstansbe said ?

[2018-05-09 18:10] iRoachie commented on #1176
Hey guys, the `Input` component doesn't have a defined size, it's uses `flex` to get it's size from it's parent. By default the `containerStyle` in the react native fresh setup has an `alignItems: 'center'` so it squashes the Input by making it only take it the space it needs to display it's components.

The quick fix is to remove the `alignItems: 'center'` from the Parent `View` style. Here' a vi

[2018-05-09 19:11] TheSalarKhan commented on #333
Hi people! I had the exact issue. Did all and nothing worked, and then I tried this article. I made the AppFontLoader component and nested my main view inside it, now it all works fine:

https://javascriptrambling.blogspot.com/2018/03/expo-icon-fonts-with-react-native-and.html

All thanks to this article! 👍

[2018-05-09 23:04] Gregjarvez commented on #1180
will submit a PR for this 💪🏽

[2018-05-10 12:57] moar55 opened #1188 "Remove the arrow icon at the right side of a ListItem"
Hello,
I want to remove the right icon in a `ListItem` but I am not sure how this can be done. Any help would be  appreciated.

[2018-05-10 13:02] moar55 commented on #1188
using the solution here https://github.com/react-native-training/react-native-elements/issues/165, I modified the `fontSize` attribute to 0 but I am not sure if this is the best way to do it.

[2018-05-10 13:05] xavier-villelegier commented on #1188
@moar55 If you're using `v0.19.x` use `hideChevron`, check out [the docs here](https://react-native-training.github.io/react-native-elements/docs/0.19.0/lists.html#hidechevron)

[2018-05-10 13:08] moar55 commented on #1188
That's much cleaner.
It works, thx!

[2018-05-10 13:08] #1188 closed

[2018-05-12 21:47] Amurmurmur opened #1190 "Button activeOpacity prop ignored"
### Description

When setting activeOpacity prop to a button, it doesnt get passed into the TouchableOpacity component inside the Button component.

I dont use my custom TouchableOpacity component.

Here is my button code:
[code]

### Possible Fix

I believe this https://github.com/react-native-training/react-native-elements/blob/master/src/buttons/Button.js#L78 has to be spread after https://gith

[2018-05-13 12:25] iRoachie commented on #1190
Can I ask which version of react-native-elements you are using?

[2018-05-13 14:04] Amurmurmur commented on #1190
@iRoachie   "react-native-elements": "1.0.0-beta5"

[2018-05-13 14:10] Amurmurmur commented on #1190
@iRoachie Ive created this pull requiest https://github.com/react-native-training/react-native-elements/pull/1191

[2018-05-13 14:37] miadian commented on #1154
you should use `onChangeText={(text) => this.setState({my_input_state: text})}` in your FormInput,
then use this.state.my_input_state to access your input

[2018-05-13 17:17] djellalmohamedaniss opened #1192 "Avatar not changing size"
### Description

i am using the avatar component from react-native-elements , when i try to change the size of my avatar to large or medium , it does not change , it always stays small

"react-native-elements": "^0.19.1",

### code
[code]

### this is what i get
![screen](https://user-images.githubusercontent.com/24865594/39969823-d3d7a364-56d9-11e8-9768-e1b0cac503c2.jpg)

## SOLUTION
i found out

[2018-05-13 18:08] #1192 closed

[2018-05-14 01:57] iRoachie commented on #1190
Thanks again @Amurmurmur, just merged in. Will be available next release.

[2018-05-14 14:55] codler opened #1194 "Ability to customize cancelButton in Searchbar"
Using react-native-elements v1.0.0-beta5.

This doesn't work.
<SearchBar cancelButtonProps={{fontFamily: 'Somthing'}} />

Suggestion is to use a TouchableOpacity instead of Button

[2018-05-14 15:00] iRoachie commented on #1194
There's no way to do this currently. We use the `<Button />` component from react-native, and it doesn't support customizing the fontFamily or style. See props here https://facebook.github.io/react-native/docs/button.html#docsNav.

We should probably refractor this to use a styled Touchable instead cc @xavier-villelegier

[2018-05-14 15:49] Cederman commented on #1194
+1

[2018-05-14 16:44] xavier-villelegier commented on #1194
The goal of the platform specific SearchBars was to mimic exactly the platform look & feel and behaviour, that's why we used the Button from React Native, which is supposed to be the same as the iOS one. We'll change that by using the React Native Elements `Button` in beta6.

[2018-05-14 22:19] andersonaddo opened #1195 "SearchBar Seems irresponsive to style props"
### Description

I set up `SearchBar` like so:
[code]
The parent of this SearchBar has the following style:
[code]

I'm using version 1.0.0-beta2.

I expected the `alignSelf` prop to override the SearchBar's parent style and hence let the bar stretch, but it doesn't. The search bar instead stays very small and only expands when text is entered into it.
It only stretches when I remove the parent's

[2018-05-14 22:54] xavier-villelegier commented on #1195
Please have a look at [the documentation](https://react-native-training.github.io/react-native-elements/docs/searchbar.html), you have `containerStyle`, `inputContainerStyle` and `inputStyle`.

You should also update to `v1.0.0-beta5`, as we completely refactored the SearchBars to be consistent

[2018-05-14 23:37] andersonaddo commented on #1195
Oh my bad, I assumed that SearchBars were styles normally like most components. Changing `style` to `containerStyle` indeed solved the problem.
Thanks.

[2018-05-15 03:30] Arabrellaxy opened #1196 "SearchBar not showing cancel button"
### Description

I used SearchBar in my code,but there is no cancel button when focused.I use the latest version of 'react-native-elements'.

### Reproduction Steps and Sample Code
[code]

[2018-05-15 07:44] #1195 closed

[2018-05-15 07:45] xavier-villelegier commented on #1196
@Arabrellaxy Make sure you use the latest __beta__ version of React Native Elements.

[code]

[2018-05-15 07:51] xavier-villelegier commented on #1183
Closing this for obvious reasons 😅

[2018-05-15 07:51] #1183 closed

[2018-05-16 02:36] Arabrellaxy commented on #1196
Thanks.Beta version is ok now. @xavier-villelegier

[2018-05-16 02:36] #1196 closed

[2018-05-16 14:06] ujeenator commented on #656
I'm reducing amount of update with timer

`       onValueChange={value => {
            clearTimeout(this.sliderTimeoutId)
            this.sliderTimeoutId = setTimeout(() => {
              this.setState({value})
            }, 20)
          }}`

[2018-05-16 14:11] RoWaiR opened #1197 "Error while updating prop selectionColor"
## Error

E/unknown:ViewManager: Error while updating prop selectionColor
                                                        java.lang.reflect.InvocationTargetException
                                                            at java.lang.reflect.Method.invoke(Native Method)
                                                            at com.facebook.react.uimanager.ViewManagersPropertyCach

[2018-05-16 14:39] xavier-villelegier commented on #1197
@RoWaiR There are no references to `react-native-elements` in the stacktrace you provided. Why do you think this is related to RNE ? Which component are you using that can cause this error ?

Also, you should update to the latest version of RNE

[2018-05-16 15:04] sopdock opened #1198 "Searchbar cuts off if margin/padding is applied to the View container."
I have a View with a Searchbar inside:
[code]

This is the styles:

[code]

[Screenshot](https://imgur.com/a/xq9QFOH)

You can see that the 'X' cancel button on the right is cut off.

My package.json:
[code]

[2018-05-16 16:15] xavier-villelegier commented on #1198
@sopdock Yea cause the SearchBar is supposed to be full width. What if you add `inputContainerStyle={{ width: '100%' }}` ?

[2018-05-16 16:17] boyombo opened #1199 "Problem with sizing of Avatar component"
### Description

1. Explain what you did
       I used the Avatar component by copying and pasting from example code into a react-native app I created
2. What you expected to happen
       That when the size attribute is set to "medium" or "large", the size of the avatar would increase as             shown in the examples
3. What actually happens
      All the avatars were of the same size, "small

[2018-05-16 16:19] xavier-villelegier commented on #1199
@boyombo I think it's duplicate of #1192

[2018-05-16 16:19] boyombo commented on #1192
Wow just opened another issue before seeing this

[2018-05-16 16:23] mathb67 opened #1200 "Using underlineColorAndroid with input"
Hi !
I need to set underlineColorAndroid to another color than transparent but it doesn't work... Did i miss something or is that an issue ?

https://github.com/react-native-training/react-native-elements/blob/d4da856a7f105c814cc162e507b48c49399cabef/src/input/Input.js#L100

Thanks !

[2018-05-16 16:29] xavier-villelegier commented on #1199
Haha no problem  💪 Glad you fixed it 👍

[2018-05-16 16:29] #1199 closed

[2018-05-16 16:36] boyombo commented on #1199
I think the docs should probably point this out, maybe I submit a PR?

[2018-05-16 16:38] iRoachie commented on #1200
You're correct! Can you make a PR that moves the `underlineColorAndroid="transparent"` line above `{...attributes}`?

[2018-05-16 16:41] xavier-villelegier commented on #1199
@boyombo This is already the case. You can check the versioned docs [here](https://react-native-training.github.io/react-native-elements/versions.html), so you have the [`0.19.0` Avatar](https://react-native-training.github.io/react-native-elements/docs/0.19.0/avatar.html#props) and [`1.0.0-beta5` Avatar](https://react-native-training.github.io/react-native-elements/docs/avatar.html#size) 😄

[2018-05-16 16:43] iRoachie opened #1201 "Change issue template to indicate version check"
We should probably update the issue template so users know to check the version of the docs they're looking at and how to change the docs version

[2018-05-16 16:44] iRoachie commented on #1199
We could make it a bit clearer by https://github.com/react-native-training/react-native-elements/issues/1201. Also will implement the new issue templates

[2018-05-16 16:54] mathb67 commented on #1200
Done !
Thank you.

[2018-05-16 17:02] sopdock commented on #1198
@xavier-villelegier I tried adding `width: '100%' to `searchView` and then to `container`. It didn't solve the issue unfortunately.

[2018-05-16 17:07] xavier-villelegier commented on #1198
I meant something like:

[code]

[2018-05-16 17:14] sopdock commented on #1198
@xavier-villelegier Ah, thanks. I  misunderstood; still new to react-native stuff.

I added that in, and it does make the cancel button appear within the view now. But I have `margin: 10` in the View; why does the SearchBar still stretch all the way to the left and right? I wanted some space on the sides.

[Screenshot](https://imgur.com/a/9T0ZUBr)

[2018-05-16 17:17] sopdock commented on #1198
Actually, the margin is working as intended. Nevermind! Thanks again!

[2018-05-16 17:17] #1198 closed

[2018-05-17 02:11] sopdock opened #1202 "Icon and Text don't line up"
I defined a View that has an Icon next to a Text:
[code]
The Text doesn't seem to line up next to the Icon. [Screenshot](https://imgur.com/a/MKAA6qV)

How do I align the two together properly?

[2018-05-17 02:27] #1202 closed

[2018-05-17 07:48] RoWaiR commented on #1197
I am using "react-native-elements": "^ 0.18.0"

It only happens when I create the apk in release mode

[2018-05-17 07:52] xavier-villelegier commented on #1197
@RoWaiR Yea but there are no references to RNE in your error, why do you think this error occurs because of RNE ? 🤔

[2018-05-17 07:55] RoWaiR commented on #1197
For the error that the selectionColor gives me, looking for information I saw related errors.

[2018-05-17 09:04] RoWaiR commented on #1197
I just tried v0.19.1 and I still get the same thing, it's not uncommon that I only get the error in release and in debug work perfect ...

[2018-05-17 09:12] xavier-villelegier commented on #1197
Which components of RNE are you using ?

[2018-05-17 10:40] RoWaiR commented on #1197
import { FormLabel, FormInput, Button, FormValidationMessage } from 'react-native-elements';

[2018-05-17 15:25] bubumaci commented on #888
Hi! I think the closing } tags might be missing here at both of the image sources.
`source={require('../checked.png')**}** `

`<CheckBox
  checkedIcon={<Image source={require('../checked.png') />}
  uncheckedIcon={<Image source={require('../unchecked.png') />}
  checked={this.state.checked}
  onPress={() => this.setState({checked: !this.state.checked})}
/>`

[2018-05-17 20:25] jstansbe commented on #1176
Hey all,

My code example doesn't have a wrapper view so there isn't a `alignItems: 'center'` being applied.
Any other suggestions are appreciated.

[2018-05-17 20:35] iRoachie commented on #1176
@jstansbe  Can you replicate your example in https://snack.expo.io/ ?

[2018-05-17 21:00] neonelemental opened #1203 "[RNE 1.0.0-beta5] SearchBar inside of flex container"
### Description

1. I have a two column flex layout where left is a View with `flex: 1` and right is a View with `flex: 2`
2. SearchBar is placed inside of the left View
3. SearchBar automatically scales itself to the size of the device when it should be contained within the left column.

### Reproduction Steps and Sample Code

Here's my package.json dependencies:

[code]

And the context for how

[2018-05-17 23:41] jstansbe commented on #1176
@iRoachie If you look at my earlier comments you can see i'm having an issue when just adding the searchbar to app.js. I can't duplicate this in expo though.

[2018-05-18 00:00] Etregoning opened #1205 "Icon won't display in button. Posted solutions not working. (Is there an old version of the docs available?)"
### Description

So this app I'm working on has been in development since last year, and it's so heavily reliant on RNE, that changing the version would be more trouble than it's worth... However, the docs only provide support for the most recent version.

1. Explain what you did
**Trying to use an icon in a button**
2. What you expected to happen
**The icon would show up**
3. What actually happen

[2018-05-18 01:36] iRoachie commented on #1205
The beauty of Git my friend is that we have all the source code right here! Here's the button doc from 0.17. https://github.com/react-native-training/react-native-elements/blob/v0.17.0/docs/API/buttons.md

[2018-05-18 01:39] iRoachie commented on #888
Thanks @bubumaci for pointing that out. Would you willing to make a PR that fixes it?

[2018-05-18 04:35] mikeumus commented on #331
@lilymGoh's [solution](https://github.com/n4kz/react-native-material-textfield/issues/54#issuecomment-340553507) worked for me here:

[2018-05-18 06:57] Etregoning commented on #1205
Thanks! I still can't seem to figure out why it's not working though. The logo worked just fine as it's own component, but when I tried to use it inside of a button it's not showing up. I wanted the button because I wanted a border which apparently isn't possible on an icon itself. Is there possibly a better solution for making a simple clickable icon with a border?

Thanks!

[2018-05-18 07:31] xavier-villelegier commented on #1176
@jstansbe As we can't reproduce this on our devices, would you mind copying the SearchBars files, importing these in your project instead of the `from 'react-native-elements` import and trying to tweak with the styles to find out what's causing this issue on your device ?

[2018-05-18 07:34] xavier-villelegier commented on #1205
@Etregoning You can use the `Icon` component which can take an `onPress` props

Also feel free to update to `0.19.1`

[2018-05-18 07:50] xavier-villelegier commented on #334
Closing this for inactivity

[2018-05-18 07:50] #334 closed

[2018-05-18 07:53] xavier-villelegier commented on #1019
Closing this as you're now able to use custom icons (example for the [`clearIcon`](https://react-native-training.github.io/react-native-elements/docs/searchbar.html#clearicon) props)

[2018-05-18 07:53] #1019 closed

[2018-05-18 07:54] xavier-villelegier commented on #1143
Closing this for inactivity, feel free to reopen it later

[2018-05-18 07:54] #1143 closed

[2018-05-18 07:55] xavier-villelegier commented on #1162
Closing this as `1.0.0-beta5` is out and [the SearchBar docs](https://react-native-training.github.io/react-native-elements/docs/searchbar.html#props) were updated

[2018-05-18 07:55] #1162 closed

[2018-05-18 07:56] xavier-villelegier commented on #1161
Closing this as `TouchableComponent` allows you to use `TouchableOpacity`. Feel free to reopen it if not.

[2018-05-18 07:56] #1161 closed

[2018-05-18 10:49] Etregoning commented on #1205
@xavier-villelegier I tried to use an Icon by itself, but it would not let me set a border on the icon. I googled my issue and I saw suggestions for using a button instead and setting a border. I want to make a circular back button sorta like the < character, and a close button for modals, same sorta thing but with an x....I guess I could just use the < and X as text for the button, to save myself

[2018-05-18 10:57] xavier-villelegier commented on #1205
@Etregoning Using an `Icon` should do the job then ? You can have a border, an onPress, an icon… Everything you want 😛

**Code**
[code]

**Result**
![image](https://user-images.githubusercontent.com/17592779/40231288-e030a754-5a9a-11e8-8da5-488e39b2039c.png)

[Snack example](https://snack.expo.io/H1Ao-Vn0f)

[2018-05-18 13:58] Etregoning commented on #1205
I see what you mean now. I suppose I was going about it the wrong way. Can you really use borders? I remember it complaining when I tried to set a border, and that's why I ended up using a button.

I just realized it was because I was trying to use the `style` property and not `containerStyle`

Thanks!

[2018-05-18 13:58] #1205 closed

[2018-05-18 15:27] jstansbe commented on #1176
Solved!!

I was able to fix my issue by setting the `inputStyle={{height: '100%'}}` for an `<Input />` and using `inputStyle={{height: 75}}`  for `<SearchBar />` on the elements... no need to tweak the src files.

@xavier-villelegier  @iRoachie,  thanks you for the help and ideas!

[2018-05-18 15:27] #1176 closed

[2018-05-18 15:34] Gregjarvez commented on #1203
@mike-oodle [snack](https://snack.expo.io/B1DbWu30f) here is a demo to reproduce what you described. it seems to work fine. As you can see. The searchbar is constrained within the space of the left column.

[2018-05-18 15:45] mike-oodle commented on #1203
Thank you so much for the reply.  That Snack link actually reproduces the issue perfectly.

If you open this on a bigger device, say an iPad in landscape, the inputs initial scale is wrong and the cancel button is incorrectly visible (since the input doesn't have focus or any value set).

I can't put my iPad into landscape with that project but it's still visible in portrait.  Here's a screenshot:

[2018-05-18 15:47] iRoachie commented on #1203
Kind of a dup of https://github.com/react-native-training/react-native-elements/issues/861

[2018-05-18 17:11] Dmitrylolo commented on #106
have same issue

[2018-05-18 17:13] iRoachie commented on #106
Hey @Dmitrylolo can you a create a new issue? This issue is 2 years old.

[2018-05-18 17:15] Dmitrylolo commented on #106
@iRoachie resolved it by textStyle={{ fontSize: 24 }}

[2018-05-18 17:20] Dmitrylolo opened #1206 "0.19.1 version button fontSize invalid string, expected number"
Use button component and try to use fontSize property, have a warning message:

![img_3558 1](https://user-images.githubusercontent.com/20141579/40248521-da180036-5ad8-11e8-89ca-38b4edae56c1.PNG)

"dependencies": {
    "expo": "^27.0.1",
    "react": "16.3.1",
    "react-native": "https://github.com/expo/react-native/archive/sdk-27.0.0.tar.gz",
    "react-native-elements": "^0.19.1",
    "react-na

[2018-05-18 17:55] #1206 closed

[2018-05-18 21:48] gabrieldefazio opened #1207 "Making Button More Customizable on PricingCard"
### Description

1. Explain what you did

I added some simple customization options to the PricingCard Button

2. What you expected to happen

The Developer can change the style of the button title with the prop "titleStyle" and can change the icon size with the prop "iconSize"

3. What actually happens

The Developer cannot affect the icon size nor title style.

Also please include the version of

[2018-05-19 19:17] jstansbe commented on #253
Hey, was anything implemented?

[2018-05-19 21:05] iRoachie commented on #253
Not currently @jstansbe

[2018-05-19 21:15] patsissons opened #1209 "Button component using incorrect version member from platform object"
### Description

1. Explain what you did

Use the `Button` component with android version `>= 21`

2. What you expected to happen

I expect the background to use the ripple effect

3. What actually happens

The background uses the fallback selectable effect.

---

using `react-native-elements@1.0.0-beta5` the `Button` component is checking `Platform.VERSION` and should be checking `Platform.Versio

[2018-05-19 21:17] patsissons commented on #1209
a more complete augmentation solution for typescript:
[code]

[2018-05-19 21:27] iRoachie commented on #1209
Wow, not sure how we missed that the whole time 😆 thanks man

[2018-05-19 21:28] patsissons commented on #1209
no problemo 👍

[2018-05-20 03:05] iRoachie opened #1212 "Refractor PricingCard to accept style objects"
Currently right now the only overrides the PricingCard accepts are fonts:

- buttonFont
- infoFont
- pricingFont
- titleFont

Instead the user should be able to pass in a style object for each of these

[2018-05-20 04:08] #1178 closed

[2018-05-20 04:13] iRoachie commented on #1201
Added!!

[2018-05-20 04:13] #1201 closed

[2018-05-20 07:56] iRoachie commented on #1186
What's the test for this look like? Testing if `onClear` we pass in get's called?

[2018-05-20 13:41] iRoachie commented on #1186
Ahh I see. Alright

[2018-05-20 14:39] iRoachie commented on #1186
Is it for all the SearchBars that need this test?

[2018-05-20 14:41] #1067 closed

[2018-05-20 14:41] #1032 closed

[2018-05-21 05:39] geminiyellow opened #1215 "bug(Overlay): window resize will cause error"
i use `rne beta5` with `react-native-web`.

**Explain what you did**
**Describe the bug**
![overlay](https://user-images.githubusercontent.com/929878/40292146-7417ab64-5d04-11e8-932f-fc54d88e53a6.gif)

**Expected behaviour**

background mask should update when window resize

[2018-05-21 05:50] geminiyellow commented on #253
oh~ hope we can use it tomorrow.

[2018-05-21 15:36] martinezguillaume commented on #253
https://github.com/react-native-training/react-native-elements/pull/1216

[2018-05-21 15:54] ezekel opened #1217 "Updating version"
Hi I need some help please How can I update the version of react-native-elements, I have this in my package.json
"react-native-elements": "^0.19.1",

But in your site you release the 1.0.0 ?

How can I make my version to your latest release ?

Thank you in advance

[2018-05-21 16:00] iRoachie commented on #1217
Hey @ezekel the `1.0.0` isn't officially released as yet. What we have currently are betas that added features incrementally. We're at `beta5` right now. The `1.0.0` should be released officially next month but you can use the betas right now.

To update to the beta, run:
[code]
Be sure to check the release notes to see what changed in each beta https://github.com/react-native-training/react-nativ

[2018-05-21 16:07] ezekel commented on #1217
@iRoachie ,

Thank you for the quick reply...can I do yarn add --save react-native-elements@beta , because if I use npm my project will be messed up.

Thank you in advance.

[2018-05-21 16:07] iRoachie commented on #1217
Yep that works as well!

[2018-05-21 16:08] ezekel commented on #1217
@iRoachie

Ok thank you so much

[2018-05-21 16:08] #1217 closed

[2018-05-21 16:51] jstansbe commented on #253
@martinezguillaume that looks great!

[2018-05-21 22:38] iRoachie commented on #1173
Fixed in https://github.com/react-native-training/react-native-elements/commit/dbb51407d2af7bc01681291c3f82663bd8fdb3f5

[2018-05-21 22:38] #1173 closed

[2018-05-22 08:59] c-goettert commented on #461
I could fix this issue by actively unsetting the width of the FormInput:
`<FormInput inputStyle={{width: undefined}} />`
Hope this helps, although I don't think this is still an issues in the current version.

[2018-05-23 13:45] nzrin opened #1219 "Trigger "DrawerOpen" inside Header component."
I'm using DrawerNavigator as navigation and Header(react-native-elements) as my Header. Is there a way to trigger 'DrawerOpen' inside Header component?

This is my code :

[code]

Thank you.

[2018-05-23 14:59] kriskros09 commented on #1005
@alexborton Thanks !! you saved me a lot of time !

[2018-05-23 15:30] #1219 closed

[2018-05-23 15:33] nzrin opened #1220 "React-Native-Elements (Header) for iPhone X."
It seems Header does not support for iPhone X yet. Tried using SafeViewArea, but it shows empty space on top of header.

Is there a way to make this works?

Thank you.

[2018-05-23 16:42] iRoachie commented on #336
Added in https://github.com/react-native-training/react-native-elements/commit/f8af41c1959625c1d3679a88ad9437059abe39aa. Will be available in `beta6`

[2018-05-23 16:53] #1181 closed

[2018-05-23 16:58] iRoachie commented on #1154
Closing as inactive

[2018-05-23 16:58] #1154 closed

[2018-05-23 17:29] Monte9 commented on #214
**My suggestion:** If you need a Calendar component in React Native, use Wix's [React Native Calendar](https://github.com/wix/react-native-calendars).

I personally used it where I work and we had great success with it. It's really well built and is extremely flexible, so even if you need some custom UI.. chances are it can handle it.

Here's what our calendar looks like just as a reference.

<img

[2018-05-23 17:36] mike-oodle commented on #1203
@iRoachie Thanks for the quick response and the update on the fix!

You guys rock!

[2018-05-23 18:14] iRoachie commented on #214
Thanks a good idea! I'll lock this issue for just that.

[2018-05-23 18:15] #214 closed

[2018-05-23 20:27] Gregjarvez commented on #1212
I will submit a PR for this one !!.

[2018-05-23 20:36] iRoachie commented on #1212
Go for it!
On 23 May 2018, 4:27 PM -0400, Gregory Assasie <notifications@github.com>, wrote:

[2018-05-24 06:12] AbhishekDS-Userfacet opened #1224 "Button Group Error"
I am referring to official documentation for implementing ButtonGroup for React Native app. But the following error is being displayed when I open the app after compiling.

Even in snack, the same is not opening.

How do I use the ButtonGroup in reactnative apps?

**Error :**

**Invariant Violation: Element type is invalid: expected a string or a class/function but got undefined.**

[2018-05-24 07:44] xavier-villelegier commented on #1224
@AbhishekDS-Userfacet Can you post how you use the `ButtonGroup` ?

Here is a basic example

[code]

[2018-05-24 08:50] geminiyellow commented on #536
Same error, anybody can tell me what is happend here ?

[2018-05-24 08:56] AbhishekDS-Userfacet commented on #1224
@xavier-villelegier I used the following way which is in the documentation.

[code]

Documentation - https://react-native-training.github.io/react-native-elements/docs/button_group.html

[2018-05-24 09:26] xavier-villelegier commented on #1224
@AbhishekDS-Userfacet The docs example works fine, you can check this [on Snack](https://snack.expo.io/r1uPVZEkQ)

Result:
![image](https://user-images.githubusercontent.com/17592779/40476864-5e10f18e-5f45-11e8-9ab2-9e23fad6bfb3.png)

[2018-05-24 10:54] AbhishekDS-Userfacet commented on #1224
@xavier-villelegier Thanks for that man. Had imported from react-native instead of react-native-elements.

But in snack and in the screenshot, selected color is blue by default. For me in the phone it is showing white and also it is not accepting any color when given from [selectedBackgroundColor="rgba(27, 106, 158, 0.85)"]()

[2018-05-24 13:27] xavier-villelegier commented on #1224
@AbhishekDS-Userfacet Yea cause we're using `1.0.0-beta5`, you can install it by doing
[code]

[2018-05-24 16:45] Oraclesports opened #1225 "Flat View Rendering"
Hi all, this is regarding 'OnPress' function on my FlatView rendering of items.
I am not able to include 'OnPress function' on renderitem function for Scenario1 while i am able to do that for Scenario2.

1)Can anyone explain this?
2)And how I can improve the code for Scenario 1 in order for OnPress function to work.

**Scenario 1**

        renderItem({ item }) {
        return(

[2018-05-24 17:32] Oraclesports commented on #1225
Hi thanks for your feedback. But I was able to do that on Scenario 2.

[2018-05-24 17:52] iRoachie commented on #1225
Sorry about that! I actually now just checked it https://facebook.github.io/react-native/docs/text.html#onpress.

Try trying to change your renderItem function to:

[code]

[2018-05-24 19:32] Oraclesports commented on #1225
Thank you Roachie. It is working now.

-Benedict

[2018-05-24 19:32] #1225 closed

[2018-05-24 23:44] cowboybebopran opened #1226 "Events of onCancel and onClear are not fired"
**Explain what you did**
Assign functions:
onClear={() => this.handleSearchClear()}
onCancel={() => this.handleSearchCancel()}

**Expected behaviour**
When press cancel button, the input should become empty. It should print "cancel".
When press clear button, the input should become empty. It should still focus on search bar. It should print "clear".

**Describe the bug**
When press cancel button,

[2018-05-25 02:31] geminiyellow opened #1227 "jest cannot import react-native-elements"
**Explain what you did**

i use
- react-native-web
- react-native-elements
- jest

and, i try to test a component who use react-native-elements by jest

**Expected behaviour**

test will pass

**Describe the bug**

[code]

**To Reproduce**

- TestLink.js
[code]

- TestLink.spec.js
[code]

[2018-05-25 05:54] Oraclesports opened #1228 "How do we access JSON Objects that have spaces?"
Similar to https://stackoverflow.com/questions/10311361/accessing-json-object-keys-having-spaces. However, I am asking inregards to reactnative.

Code looks like

        renderItem = ({ item }) => {

                    return(
                             <Text onPress={this.GetFlatListItem.bind(this, item.email)} > {item.email}</Text>

                    )
                }

How to replace '**

[2018-05-25 07:11] AbhishekDS-Userfacet commented on #1224
@xavier-villelegier default color is blue which is as per the screenshot but can that be changed?
Used selectedBackgroudColor but it is not getting changed.

[2018-05-25 07:56] xavier-villelegier commented on #1224
@AbhishekDS-Userfacet Please have a look at [the docs](https://react-native-training.github.io/react-native-elements/docs/button_group.html#props). You need to use `selectedButtonStyle`

[2018-05-25 08:00] xavier-villelegier commented on #1226
@cowboybebopran You are not using `1.0.0-beta5` on the snack you provided. With the good version, it works fine. [Check out this snack](https://snack.expo.io/BJDqMBS1X)

[2018-05-25 08:03] xavier-villelegier commented on #1228
@Oraclesports This is not related to React Native Elements or React Native, this javascript.

You can do `item['My email']`

[2018-05-25 08:03] #1228 closed

[2018-05-25 11:07] Oraclesports opened #1229 "Parsing JSON Objects on REACT NATIVE"
Hello.
Are there any docs in regards to Parsing JSON OBJECTS?
I am trying to PARSE another Object within Object.
I am able to Parse item['email'] but am trying to **Parse ['street'] of Address.**

**JSON DATA**
<img width="413" alt="screen shot 2018-05-25 at 7 02 04 pm" src="https://user-images.githubusercontent.com/17598567/40541447-61f2eb68-604e-11e8-9bd4-81920a4d166f.png">

**REACT NATIVE**

[2018-05-25 12:22] AbhishekDS-Userfacet commented on #1224
Thanks @xavier-villelegier

[2018-05-25 12:22] #1224 closed

[2018-05-25 13:02] satya164 commented on #216
We're about to release the theming components we use in react-native-paper as a standalone package: https://github.com/callstack/react-theme-provider

It's fully typed with Flow and takes a simple approach. You can find the docs for that here: https://callstack.github.io/react-native-paper/theming.html

Hopefully, it'll be useful for you :)

[2018-05-25 13:04] iRoachie commented on #216
Thanks @satya164, will give it a look 💯

[2018-05-25 13:07] satya164 commented on #216
@iRoachie if you have any questions or suggestions, we can talk in callstack discord :)

[2018-05-25 14:01] #1229 closed

[2018-05-25 14:40] LouisJS opened #1230 "[Button] Width Fit to content"
**Is your feature request related to a problem? Please Describe.**

I'm implementing a button to filter a List. The name of the button will change according to the selected filter ("In Progress", "Closed", "Awaiting Confirmation").

**Describe the solution you'd like**

I'd like that the Button would grow according to the content text length

**Describe alternatives you've considered**
A clear and

[2018-05-25 15:13] Oraclesports commented on #1229
I apologise. I did not know that.

[2018-05-25 19:03] cowboybebopran commented on #1226
Checked.
It works outside but not in FlatList.
I put it in ListHeaderComponent and did not work. Don't know why.

Thanks!
Ran

[2018-05-25 19:03] #1226 closed

[2018-05-25 19:19] xavier-villelegier commented on #1226
@cowboybebopran Add `keyboardShouldPersistTaps="handled"` to your `FlatList` 😉

[2018-05-25 21:03] cowboybebopran commented on #1226
That works perfectly well. Thanks!

[2018-05-26 02:34] mcwissink opened #1232 "[Input] Direct Manipulation"
**Is your feature request related to a problem? Please Describe.**
There seems to be no way to call setNativeProps on the TextInput wrapped by the Input element.
It would be nice to be able to manipulate the actual text displayed by Input

**Describe the solution you'd like**
A setNativeProps prop on Input that forwards function onto the TextInput child.

**Describe alternatives you've considered*

[2018-05-26 03:07] mcwissink commented on #1230
This [StackOverflow answer](https://stackoverflow.com/a/49263706) seems to provide a temporary solution. If you just apply that style on the Button containerStyle or buttonStyle it works.

[2018-05-27 04:55] iRoachie commented on #1232
Hey @mcwissink while you can call actually call the `clear` method on the input it'll clear the text value. Here's an example https://snack.expo.io/rkFRK2Pk7.

I do however understand that some persons may want to access the TextInput directly, so we could add this as a method on the Input

[2018-05-28 12:04] PMExtra opened #1234 "Sperator Inset of ListItem (add dividerStyle prop)"
Please add `topDividerStyle` and `bottomDividerStyle` props to ListItem.

It's hard for us to implement `Sperator Inset` effect without them.

[2018-05-28 12:50] AlvaDamian opened #1235 "Button:loadingRight not showing spinner"
**Explain what you did**
Add a button with the prop **loadingRight** set on **true**.

**Expected behaviour**
A spinner has to appear on the right of the button text.

**Describe the bug**
The spinner will not appear. This is working on the left side of the button text using **loading** prop.

**To Reproduce**
[Expo example](https://snack.expo.io/ByYRYdYJ7)

[code]

**Possible Solution**
Not from

[2018-05-28 13:03] AlvaDamian commented on #1235
Looking at the [code of Button](https://github.com/react-native-training/react-native-elements/blob/e0406c72f341b354f2861b85eb9a432863a50768/src/buttons/Button.js#L42) I could see that this property is not available.

Maybe the generated documentation is not updated.

[Button documentation source](https://github.com/react-native-training/react-native-elements/blob/master/docs/button.md)
[Button#lo

[2018-05-28 15:33] iRoachie commented on #1235
`loadingRight` is indeed in the source as you can see: https://github.com/react-native-training/react-native-elements/blob/v0.19.1/src/buttons/Button.js#L27. The link you posted was the source for `1.0.0-beta5`.

You have to use both the `loading` and the `loadingRight` props.
`loading` - describes the state
`loadingRight` - describes the position

Here's an example https://snack.expo.io/S1oIZiKyX

[2018-05-28 15:37] iRoachie commented on #1234
@martinezguillaume You think you could add this in to your PR?

[2018-05-28 15:50] martinezguillaume commented on #1142
@jason-cf I tried your example but it seems that it doesn't work that way. If you remove the Fragment from your code, it continues to work normally. I think that there is a thing that we miss in the ListItem component, I'll investigate later

ps: I still tried add Fragment to ListItem but it doesn't work 😢

[2018-05-28 18:09] Sxubas commented on #1102
Nor this solution or  #328 could solve it for me. I'm using 0.19.1. It's really strange, as when I pass the 'borderRadius' or 'containerViewStyle' props, the button disappears (no warning / error). This is my button code:

[code]

Am I missing something?
Thanks in advance

[2018-05-28 19:39] AlvaDamian commented on #1235
You're right, I misunderstood the documentation. It is working.

[2018-05-28 19:39] #1235 closed

[2018-05-28 21:30] martinezguillaume commented on #1234
@Roachie , with the pr, the divider is just container styling (borderColor & borderWidth). If you want different color or width, just override them in the container style

[2018-05-28 23:52] iRoachie commented on #1102
Hey @Sxubas you can see your example working fine in this example https://snack.expo.io/r1geIGq1Q

[2018-05-29 00:07] Sxubas commented on #1102
8px its really tiny to notice, took it up to 24px and got this
![image](https://user-images.githubusercontent.com/19129356/40632233-328c7b42-62aa-11e8-988f-77623f4d79d3.png)

[2018-05-29 00:21] iRoachie commented on #1102
I'm not seeing that at all even at 30px. https://snack.expo.io/HJb-6zqym

[2018-05-29 02:41] xavier-villelegier commented on #1102
@Sxubas Could you try 1.0.0-beta5 just to be sure ? We made some tiny changes in the condition above. Be sure you clean install your node modules and any lock file

[2018-05-29 02:55] MeKyleH opened #1236 "Must click an input field twice on Android"
**Explain what you did**
I have several FormInput fields in my project. When I test the app on an Android device and click one field it brings up the keyboard. When I try to click a Button or a different FormInput it closes the keyboard instead of clicking the button or placing the keyboard input on the new FormInput.

**Expected behaviour**
When I have typed something into a FormInput field and t

[2018-05-29 09:14] grofis commented on #888
After i added the closing } tags，like this:
`<CheckBox
                    checkedIcon={<Image source={ require('../../images/box_checked.png') } />}
                    uncheckedIcon={<Image source={require('../../images/box_unchecked.png')} />}
                    checked={this.state.checked}
                    onPress={() => this.setState({checked: !this.state.checked})}
                />`
It

[2018-05-29 12:10] LouisJS opened #1237 "[Icon] loading props"
**Is your feature request related to a problem? Please Describe.**

If you want to implement a Button which only has an Icon, and add a loader behavior, you can't do it either by using Button nor Icon using `beta-v5`

**Describe the solution you'd like**

Implement the same `'loading` props for Icon as Button such as :

- loading
- loadingProps
- loadingStyle

**Question**

Is there anyone else fi

[2018-05-29 12:18] xavier-villelegier commented on #1237
@LouisJS Are you trying to do something [like this](https://snack.expo.io/Hk1-rTqy7) ?

[2018-05-29 19:00] rmushtaq21 commented on #1064
Adding `value={this.state.query}` to the SearchBar fixes this issue

[2018-05-29 19:05] MeKyleH commented on #1236
@xavier-villelegier that worked! Thanks so much! Hopefully this helps someone else in the future as well.

[2018-05-29 19:05] #1236 closed

[2018-05-30 12:09] pstanton commented on #1168
This is because the width of the input is actually based on the screen dimensions:

[code]

this makes the FormInput component unusable in terms of flex layout.

[2018-05-30 12:11] pstanton commented on #1168
also, i notice this has had a re-write in the beta - i haven't tested but the source doesn't use `Dimensions.get('window')`

[2018-05-30 15:04] joaozitopolo commented on #1230
I was with the same problem, but I put the Button in a <View> and now it's rendering ok, without any extra style:
        <View style={{ flex: 1, flexDirection: 'row', alignItems: 'center' }}>
            <View style={styles.checkout}>
                <Button title="Checkout " icon={{ name: "shopping-cart", type: "feather", color: '#fff' }} iconRight />
            </View>
        </View>
![screen

[2018-05-30 19:02] tinchoz49 opened #1239 "Input touch prevent to scroll"
**Explain what you did**
I update react-native-element from 0.19.0 to 1.0.0-beta5 and change FormInput to Input.

**Expected behaviour**
The scroll needs to work even if the user taps on an input text.

**Describe the bug**
The scroll functionality works using FormInput on 0.19.0 but stop working on the last v1 beta5.

**To Reproduce**
Example with `FormInput` 0.19.1:

[code]

Example with `Input`