[2017-04-16 16:37] RWOverdijk commented on #206
I'd love this feature :) It's perfect to display tags I think.

[2017-04-16 17:24] binoy14 commented on #311
@JohnAntonusMaximus we will release new version today which will fix the issue you are having.

Regarding your second issue it's likely because your are trying to do an object.assign or spreading an object but what your are trying to assign is not an object so it errors out. Try to see if you are still having an issue with our latest release `v0.11.1`

[2017-04-16 17:28] binoy14 commented on #206
@tarang9211 add ability to style the container using containerStyle and the text using textStyle and that should do it.

[2017-04-16 17:28] RWOverdijk opened #312 "Icon width and height required"
Using <Icon /> from RN elements within a RN Text component (or RN elements Text component, same result) results in the following:

[code]

[2017-04-16 17:36] binoy14 commented on #312
@RWOverdijk take a look here http://facebook.github.io/react-native/releases/0.43/docs/text.html#nested-views-ios-only since Icon uses a View as the outer component you need to define width and height, nothing we can do. However it is not a good idea to next an Icon inside text component because it won't work on Android. In your case you can change your code to the following

[code]

[2017-04-16 18:09] RWOverdijk commented on #312
@binoy14 It works with the [react-native-vector-icons component](https://github.com/oblador/react-native-vector-icons#icon-component).

[2017-04-16 18:15] mguida22 opened #314 "[DOCS]: Links on the home page are broken"
The new docs website looks great! On the [homepage](https://react-native-training.github.io/react-native-elements/) however, the links are all broken, pointing to the old README or markdown pages in the repo as opposed to the new site.

For example under component, `buttons` links to https://github.com/react-native-community/react-native-elements#buttons, as opposed to https://react-native-trainin

[2017-04-16 19:09] Monte9 commented on #314
@mguida22 good catch. I'd be happy to merge the PR with the appropriate fixes.

Here's the current deployment pipeline: All the pages on the website live in the `docs` folder. When a commit is made to master, Travis CI automatically pushes everything in the docs folder out to gh-pages and the changes go live on our website.

Also for the issue that you raised.. there is a simple fix. Just replace

[2017-04-16 19:11] mguida22 commented on #314
That makes sense to me! I'll submit a PR for the changes today

[2017-04-16 19:21] Monte9 commented on #311
@JohnAntonusMaximus @nativedone just published `v0.11.1`. That should fix it.

Let us know if you are still having trouble getting the `Card` to work.

[2017-04-16 19:25] Monte9 commented on #309
@RWOverdijk The new website has it's pros and cons. And I agree that searching for specific `props` or any keywords is not as convenient as before. I'd be open to ideas to improve this if possible.

Did you have any potential solutions in mind to improve search?

[2017-04-16 19:29] nativedone commented on #311
@Monte9 works like a charm! :1st_place_medal:

thanks for such a quick response!

[2017-04-16 19:31] Monte9 commented on #311
Perfect! Happy to help! 😄

[2017-04-16 19:40] Monte9 commented on #308
@nonameolsson this is a golden idea 🏅 imo. Thanks for bringing this up.
Here are my thoughts:
1. RNE is more a component library. Hence we do not provide native navigation support for this library. Although we wanted to allow users to use some sort of basic tab navigator and hence are using `react-native-tab-navigator` as the `tabbar` element that you linked to. Seems like this repo now suggests u

[2017-04-16 19:43] Monte9 commented on #304
@joncursi that's a good point. Will update this in the next release.

[2017-04-16 19:56] Monte9 commented on #206
@binoy14 it already does that. I think having an `onPress` might be valuable as well.

@tarang9211 let's aim to get this merged in for our the next release which is mid next week. Shouldn't take too long imo.

@RWOverdijk you are making me hungry. 🌮

[2017-04-16 19:57] JohnAntonusMaximus commented on #311
I fixed the issue by just hard-coding the android fonts into Card.js, but yes, latest version seems to work right out of the box. Great job guys, and awesome response time.

[2017-04-16 20:59] nonameolsson commented on #308
Thanks!

1. Of course, and I think it should continue being a library with focus on components! :) I'm just not sure about how you "decide" how the layout of the component should be. It's a very good library which implements both some principles/ideas from material design. But at the same time it uses design elements from iOS.
The `tabbar` component uses `react-native-tab-navigator`. Just like you

[2017-04-16 22:09] binoy14 commented on #312
@RWOverdijk good point, they use text component. Maybe we can change our implementation to use Text instead of view

[2017-04-16 22:14] #311 closed

[2017-04-17 06:23] RWOverdijk commented on #312
@binoy14 Or use their component (proxy)? I thought that already happened because it uses that component (I think).

[2017-04-17 06:25] RWOverdijk commented on #309
@Monte9 Sorry, yes, I do. I should've mentioned it right away, I was juggling too many things at once.

I'd say, remove the capture of cmd+f (or just, page search). If the user wants to search, they can click the search bar. You can add a different shortkey that's not a browser default, like `cmd+/` (that's what gitter uses for formatting toggle).

[2017-04-17 12:38] binoy14 commented on #312
@RWOverdijk actually after looking as the code the reason there is a wrapper around is because we can provide different events such as onPress. To fix your problem you can actually pass a text component.

[code]

[2017-04-17 13:02] binoy14 commented on #206
@tarang9211 let's change the API to be similar to over elements.

`if (!badge) throw Error('badge prop is required');`

Instead of passing an object with options we should pass props

[2017-04-17 13:47] renehauck commented on #300
same here with icons:

[code]

[2017-04-17 14:04] bozzmob commented on #314
Closed it as part of #315

[2017-04-17 14:04] #314 closed

[2017-04-17 14:10] bozzmob commented on #309
Hi @RWOverdijk ,

Current Behavior : CMD+F or CTRL+F goes to the Website search.

2 options to consider-
1. The searchbar is really good, you can search for what you need in the webpage, it would still list the exact heading under which you'll find it.
2. In case you don't like the searchbar, please redo the action of CMD+F again, this would fire the browser's search toolbar. So, basically, just d

[2017-04-17 14:11] bozzmob commented on #304
Thanks @Monte9 for the fix.

[2017-04-17 14:30] Monte9 commented on #309
@bozzmob I actually think is a good idea.

Is there a way we can override the cmd+f mapping for mk-docs?

[2017-04-17 16:38] bozzmob commented on #309
@Monte9 I did a quick check on the [js file](https://github.com/react-native-training/react-native-elements/blob/gh-pages/mkdocs/js/search.js). I couldn't find any event listener for CMD+F. Searched on google, wasn't helpful, neither was their issues tab. Will check more on this.

[2017-04-17 17:01] Monte9 commented on #309
@squidfunk is the author of mk-docs. Maybe he can pitch in on this?
He helped us out earlier with this PR #281

[2017-04-17 17:22] kdenz commented on #249
@Monte9  Hi, why is it so difficult to make avatar correctly center?
Without using margin-bottom and margin-right to avatar's style, it just overlaps with elements before and after it. Now this makes it hard to perfectly center at a number of different devices with different screen sizes.

Bug here:
https://snack.expo.io/HyLNKOGAe

[2017-04-17 19:24] RWOverdijk commented on #309
Second cmd+f _did_ do the trick. I'd still turn around the logic, but knowing this makes it less annoying* for me to browse.

\* Obviously my opinion.

[2017-04-17 20:35] RWOverdijk commented on #312
@binoy14 I didn't need this specific implementation. I just thought I'd report the behavior :) It doesn't have to change for me personally.

[2017-04-17 20:35] #312 closed

[2017-04-17 22:52] binoy14 commented on #312
@RWOverdijk I see what you are saying. Thanks for reporting, really appreciate it.

[2017-04-18 06:34] RWOverdijk opened #318 "Card: Title can no longer be Object"
### Description
<img width="487" alt="screenshot 2017-04-18 08 20 19" src="https://cloud.githubusercontent.com/assets/781745/25117319/dbeff5ac-2411-11e7-9255-904f4c1e2c7e.png">

Before updating to 0.11, I was on 0.10. My card used custom <Text /> components, so I could give my subtitle a max of two lines:

[code]

Now, title and subtitle are no longer accepting anything other than strings (I get w

[2017-04-18 07:55] squidfunk commented on #309
Hey there, sorry for replying so late. This is indeed a bug. Material is just capturing the "S" and "F" keys, but doesn't check if a meta key was pressed. I will fix it asap so the browser search is not hijacked.

Linked issue is https://github.com/squidfunk/mkdocs-material/issues/282

[2017-04-18 08:34] krailler opened #319 "Error while updating property 'selectionColor' on 0.43.3 in Android"
### Description

When updating to React 0.43.3, when I use the selectionColor property in any component that extends from TextInput on Android, it gives me the following error message. Did something change? In the documentation is still as before.

This has something to do? https://github.com/facebook/react-native/commit/ae57b25134c4db8be8539a0f0e6e52d46c850339

### Reproduction Steps and Sample C

[2017-04-18 15:03] filiphosko commented on #47
@binoy14 Yes, you are right. We could also allow passing nav elements through props like in react navigation (example from their site):

[code]

Right now Header only accepts configuration objects for default configuration through props like that. I proposed the default config for people who just need the 'regular' three main elements (left & right buttons and a title) so they can start quickly. B

[2017-04-18 23:42] martincarrera opened #320 "Warning sending color to searchBar"
### Description

When trying to send a style with the param `color` on the `SearchBar` `inputStyle`, it shows a warning with the following information:

[code]

Sample SearchBar:

[code]

Even though it works, the `SearchBar` component should not throw a warning.

### Reproduction Steps and Sample Code

It was not reproducible on snack.expo.io. [Sample code](https://snack.expo.io/ByK-J7ERe)

It is

[2017-04-19 12:27] binoy14 commented on #320
@martincarrera first of all thank you so much for such a comprehensive details for this issue! This is a bug and will be fixed in the next release

[2017-04-19 12:41] martincarrera commented on #320
Thank you! And thanks for this awesome project, I'll be waiting for the next release then.

[2017-04-19 14:45] bozzmob commented on #320
Hi @martincarrera , I checked both your sample [code](https://snack.expo.io/ByK-J7ERe). Also added the default style argument before the color props, and that works fine too. Here is my [sample](https://snack.expo.io/H1nXUeBAe).

Tested both on Expo and Samsung Galaxy S7 Edge.

Please let me know how you reproduce the issue. I don't see the warning.

[2017-04-19 15:09] martincarrera commented on #320
Hi @bozzmob, thanks for your reply. As I said previously, it is NOT reproducible on Expo Snack

Did you follow the `Steps to reproduce`? Or did you just scan the QR of the Expo Snack?

It happens on iOS simulator, Android simulator, and device (Samsung Galaxy S7 Edge, and iPhone 7)

Let me know if you still can't reproduce this issue.

[2017-04-19 16:44] tarang9211 commented on #319
Hey @krailler thanks for creating this issue. I just went through some of the issues in the react-native repo. Does this look like a possible solution?

https://github.com/facebook/react-native/issues/5595#issuecomment-176434888

If not, we can take a deeper look into this.

[2017-04-19 16:49] tarang9211 commented on #318
Hey @RWOverdijk thanks for creating this issue. I will have a look at this and get back to your shortly. From a quick glance, it does look the `featureSubtitle` is accepting only a string.

`  featuredSubtitle: PropTypes.string` <- source code proptypes

[2017-04-19 17:00] RWOverdijk commented on #318
@tarang9211 Yeah, the screenshot is wrong, sorry. It was meant to be for title, title gives the same error.

[2017-04-19 19:33] bozzmob commented on #319
Hi @krailler, I analyzed a bit and think it trickles down to react-native. I go with your analysis, it has to be checked [react-native#13465](https://github.com/facebook/react-native/issues/13465).

[2017-04-20 04:13] gcmartins93 opened #323 "Overuse of react-native's custom PropType View.propTypes.style"
### TL;DR
Using View.propTypes.style where it's not a View styling object causes warnings when suppling keys that are not applicable to a View.

### Description

At version 0.11, components start using react-native's custom PropType (View.propTypes.style) in almost every possible situations, instead of PropTypes.any - except for fixes made by this b86d6211d264e0495e352525ea4dfd69d73e4562 commit. T

[2017-04-20 16:52] squidfunk commented on #309
When you update to 1.5.5, <kbd>CMD</kbd>+<kbd>F</kbd> should bring up the browser search.

[2017-04-20 19:02] bozzmob commented on #323
Would like to tag #320 (both are related I believe). Yes, we observe this issue, I think we may have to fix this across components. @Monte9 @binoy14 @tarang9211 thoughts?

[2017-04-20 19:14] bozzmob commented on #318
Hi @RWOverdijk I checked up the history and in the recent release, it looks like @Monte9 had worked has done the changes as per history. Please can you comment?

BTW, @RWOverdijk the current props looks like this-
[code]

Sticking to these propTypes will resolve the issue. And speaking propType being a String, I feel its the right type. A title would in most cases be a String. Please can you share

[2017-04-20 19:41] ChristianMEC commented on #323
I had almost same problem ... on CheckBox at textStyle property need to make a change.

inside of CheckBox.js on
CheckBox.propTypes ={
...
textStyle: **View**.propTypes.style _=> change it to **Text**.propTypes.style_
...
}

[2017-04-20 19:54] Monte9 commented on #323
@bozzmob definitely related. Anyone wanna submit a PR with fixes? Should be pretty straightforward.

[2017-04-21 03:54] jmancherje opened #324 "Adding an onPress for rightIcon on ListItem"
Is it possible to have a separate `onPress` for the rightIcon on a `ListItem`?

![image](https://cloud.githubusercontent.com/assets/13545128/25262209/51bee7b6-260b-11e7-932e-b53d58d39089.png)

In the example image above, I would like an `onPress` on the `close` icon on the right, and possibly a different `onPress` function on the body of the `ListItem`. Is this currently supported / possible? I we

[2017-04-21 06:00] RWOverdijk commented on #318
@bozzmob Well, same as for subTitle, I want to limit it to two lines. So I'd like to pass in my own Text component. Unless I can solve it with the styles?

[2017-04-21 06:06] RWOverdijk opened #325 "Icon: invalid proptype color"
Using Icon, a simple iconStyle with a color gives me a warning, **but it still works**. The warning is just annoying :) I don't know what the correct type to use would be here, otherwise I'd submit a PR

[code]

<img width="583" alt="screenshot 2017-04-21 08 04 57" src="https://cloud.githubusercontent.com/assets/781745/25264746/3c28b81a-2669-11e7-9c5d-f5c2f74f2837.png">

[2017-04-21 08:40] tarang9211 commented on #318
@RWOverdijk I think you should be able to limit it using styles. Let us know if you need more help, happy to do so!

[2017-04-21 09:49] RWOverdijk commented on #318
@tarang9211 I would like help :) I don't know how to set the `numberOfLines={2}` through style.

[2017-04-21 10:11] filiphosko commented on #47
So I refactored it to support passing in components into props too. I will add tests and push the changes for review.

[2017-04-21 11:49] bozzmob commented on #323
@Monte9 will take care of it today.

[2017-04-21 11:51] bozzmob commented on #325
Hello,

Thanks for raising the issue, this will be fixed as a part of #323 . Will update once PR is ready.

[2017-04-21 12:06] binoy14 commented on #323
@gcmartins93 good point, and this is my bad. I didn't realize text has few different stylings then view. We definitely need have test coverage around this so it doesn't happen again

[2017-04-21 12:08] binoy14 commented on #309
@squidfunk thanks for looking into this!

[2017-04-21 12:13] binoy14 commented on #325
Closing this in favor of #323

[2017-04-21 12:13] #325 closed

[2017-04-21 12:14] binoy14 commented on #320
Closing this in favor of #323 thanks for reporting

[2017-04-21 12:14] #320 closed

[2017-04-21 12:16] #309 closed

[2017-04-21 12:16] RWOverdijk commented on #309
Closing this as I assume docs get updated regularly. If I'm wrong and this is needed as a reminder it can be reopened :)

[2017-04-21 12:19] krailler commented on #319
I fix it in https://github.com/facebook/react-native/issues/13465

[2017-04-21 12:28] squidfunk commented on #309
As long as you haven't pinned Material to 1.5.4, things should work on the next deployment, yes.

[2017-04-21 18:42] ilrein opened #327 "Avatar Center"
I really like the ```<Avatar />``` component, but I cannot get it to center within a View. I've tried the following style changes:

[code]

But still, cannot get the darn Avatar to take the center of it's parent. How can one properly center the Avatar component?

[2017-04-21 20:53] simonasdev opened #328 "Button with borderRadius feedback ripple issue"
### Description

1. Added a button with borderRadius
2. Expected feedback ripples to be contained within the button
3. Feedback ripples go past the button to its (internal) parent container, which doesn't have borderRadius.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/6169923/25294203/cdfd887e-26e6-11e7-8be1-785c5aaad98f.gif)
`react-native-elements` version 0.11.1.

### Re

[2017-04-21 20:56] binoy14 commented on #328
@simonasdev This sounds similar to the thread in #193
Does this comment help https://github.com/react-native-training/react-native-elements/issues/193#issuecomment-282225999 ?

[2017-04-21 20:58] Monte9 commented on #328
@simonasdev you are right! The borderRadius is not being applied on the parent component of the button view. I think we should change this to expose a `containerViewStyle` that let's you add the borderRadius on it.
In the meantime can you try this:
[code]

[2017-04-21 23:13] newosetroc opened #329 "Error after importing react-native-elements"
Hi,

Would like to know if anyone has experienced error after importing react-native-elements? Would want to integrate it with my project but I cannot import it.

Having this error on my debugger

installed react-native-elements using npm

here is my package.json

 {
  "name": "AgentApp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli

[2017-04-22 03:41] Monte9 commented on #329
@newosetroc

Several people are currently using RNE `v0.11.1` (including me) in their projects and this hasn't been an issue.

With that being said, I would like to help you resolve this issue and figure out what's causing it.

Alos you said it was an error on your debugger, although technically it's a Warning right (from what you posted above)? Is it causing the red screen of death? Or just a war

[2017-04-22 03:46] dabit3 commented on #329
I just tested with
[code]

And could not reproduce right now.

[2017-04-23 00:13] jmancherje commented on #324
Any work around would be greatly appreciated as well.

[2017-04-23 01:07] Monte9 commented on #324
@jmancherje I think that could be valuable to the others as well. Thanks for suggesting it.

I'll submit a PR for this soon. Stay tuned.

[2017-04-23 15:25] madhutv commented on #329
I have the same issue with: "dependencies": {
    "expo": "16.0.0",
    "react": "^16.0.0-alpha.6",
    "react-native": "https://github.com/exponent/react-native/archive/sdk-16.0.0.tar.gz",
    "react-native-elements": "^0.11.1",
    "react-native-router-flux": "^3.38.0",
    "react-redux": "^5.0.4",
    "redux": "^3.6.0"
  }

[2017-04-23 15:27] madhutv commented on #329
Kinda think it might be something on ButtonGroup.js with innerBorderStyle: PropTypes.oneOf?

[2017-04-23 15:59] sambanks commented on #329
I have been having the same issue on a fresh expo install. Rolling back to 0.10.0 fixed it for me.

{
  "name": "firebase-auth",
  "version": "0.0.0",
  "description": "Hello Expo!",
  "author": null,
  "private": true,
  "main": "main.js",
  "dependencies": {
    "axios": "^0.16.1",
    "expo": "16.0.0",
    "firebase": "^3.8.0",
    "react": "16.0.0-alpha.6",
    "react-native": "https://github.

[2017-04-23 17:23] RWOverdijk commented on #216
I'd love this. It makes it much more logical to use these elements as you can make them fit into your app's styles without the boilerplate styles everywhere.

[2017-04-23 17:26] eliasturbay opened #331 "Error while updating property 'selectionColor' of a view managed by: AndroidTextInput"
When using this component (only in Android)
[code]

Version: "react-native-elements": "^0.11.1"

Complete dependecies list:
[code]

This issue happened when upgrading to expo 16

![img_3527](https://cloud.githubusercontent.com/assets/314122/25315755/c1fbc41e-2830-11e7-816e-208ac1a590d8.JPG)

[2017-04-23 19:29] bozzmob commented on #323
This has been fixed and will be available from v0.11.2

[2017-04-23 19:29] #323 closed

[2017-04-23 19:30] bozzmob commented on #320
This has been fixed and will be available from v0.11.2

[2017-04-23 19:30] bozzmob commented on #325
This has been fixed and will be available from v0.11.2

[2017-04-23 20:30] martincarrera commented on #320
Thanks @bozzmob!

[2017-04-23 20:33] marstall opened #333 "error: fontFamily 'Material Icons' is not a system font - react 0.43/expo 16"
After I upgraded to react-native 0.43 and expo 16 (so i could use FlatList), I started consistently getting the following error whenever I include a React-Native Elements tag: "console.error: 'fontFamily 'Material Icons' is not a system font has not been loaded through Exponent.Font.loadAsync'"

Here's my package.json:

{
  "name": "reflyer-mobile",
  "version": "0.1.0",
  "private": true,
  "devD

[2017-04-23 20:39] marstall commented on #333
I just noticed that when I dismiss the error (which has a red background) I actually see the page rendered, but with ? icons substituted for the chevrons in my ListItems and the magnifying glass in my search bar. Thanks again! Loving React Native Elements.

[2017-04-23 21:01] simonasdev commented on #328
@binoy14 it would help, because this is exactly how rounded TouchableNativeFeedback should be implemented. But what I don't understand is why when I write them seperately, i.e.:
[code]
it works. But when I wrap the `Button` with the same `View`, it doesn't even get rounded :D
[code]
![image](https://cloud.githubusercontent.com/assets/6169923/25316590/8a598a40-2872-11e7-82b9-a29c0fc1940a.png)
Even

[2017-04-23 21:27] marstall commented on #333
hm this is also happening with FontAwesome in react-native-vector-icons so I opened a ticket with expo instead https://forums.expo.io/t/font-trouble-with-expo-16/436/1

[2017-04-23 22:28] Monte9 commented on #333
@marstall I appreciate the follow-up updates. Do they recommend posting on the forum now? I would recommend creating an issue on here too for greater visibility.

https://github.com/expo/expo-sdk/issues

Also I am closing this issue now as it's more relevant on the expo repo as you pointed out. Feel free to open if the issue occurs originates from RNE.

[2017-04-23 22:28] #333 closed

[2017-04-23 22:35] Monte9 commented on #328
@simonasdev you are right, it's not being used right now, but I assumed that the `...` operator would apply this. But apparently not.

I am going to slate this for `v0.11.3`release (in a week or so) as I would like to test it before it's released.

Feel free to submit a PR for this if you have time.

[2017-04-24 00:06] newosetroc commented on #329
Downgraded to a lower version and now it working :)

thanks all for the inputs :)

[2017-04-24 00:08] Monte9 commented on #329
@newosetroc @sambanks @madhutv we are looking into this and will come up with a fix soon. Sorry about this. 😢

[2017-04-24 00:13] newosetroc commented on #329
@Monte9 No worries bro :).

@sambanks yup thats what I did.
@madhutv just downgrade to a lower version like what we did. Something to do with fresh repo install issue like @sambanks said.

[2017-04-24 00:14] Monte9 commented on #327
@ilrein use `position: 'absolute'` for now.

[2017-04-24 00:33] sambanks commented on #329
Thanks @Monte9

[2017-04-24 03:26] Monte9 commented on #329
OK, I created a new app with `expo v16` and `RNE v0.11.1` and it seems to be working fine.
[code]

It definitely throws a few warnings that you guys mentioned:
[code]

But these are non-critical warnings and shouldn't crash the app. Hence you should be able to use the latest version of this repo despite the warnings.

For the full source code see this repo: https://github.com/react-native-training

[2017-04-24 03:42] pewh opened #334 "Custom image component on `Card` props"
My use case is fetch remote image source to `Card`. The image is big enough, so I want to show `loading` indicator that the image is fetching. I see `avatar` props only accept image uri. Is there any plan to accept `component` props?

[2017-04-24 03:45] Monte9 commented on #334
@pewh That's a pretty common use case. We would be happy to support it.

Would it be more useful to you personally to just have a `loadingIndicator` prop on the card component, or would you rather just pass a react `component` and handle the loading yourself? Just curious which one you prefer

[2017-04-24 04:32] #206 closed

[2017-04-24 04:49] Monte9 commented on #309
@RWOverdijk this issue has been resolved in latest release.

Thanks for your help @squidfunk 💯

[2017-04-24 04:59] Monte9 commented on #206
This is available with `v0.11.2`

[2017-04-24 05:00] Monte9 commented on #304
This is fixed with `v0.11.2`

[2017-04-24 05:20] madhutv commented on #329
@Monte9, Thank you for looking into this. I'm using the latest version and you are right, app dose not crash or anything.

[2017-04-24 07:28] filiphosko commented on #216
Styled components are nice but it is also another layer that you don't directly control and an issue there would influence the functionality of all of the components in this repo. It has theming support, which is great, but theming could also be done neatly using built-in RN styles, for example like NativeBase does it.

[2017-04-24 11:04] tarang9211 commented on #331
Hey @eliasturbay thanks for providing detailed information regarding the issue! When you get a chance, have a look at https://github.com/react-native-training/react-native-elements/issues/319 and let me know if that helps.

[2017-04-24 11:17] tarang9211 commented on #334
@Monte9 Let me know what the status is on this issue. Happy to help.

[2017-04-24 11:23] simonasdev commented on #328
Ah, @Monte9 you probably are correct about the ...attributes variable, but the problem is that TouchableNativeFeedback doesn't have a borderRadius prop or style for borderRadius. I'll probably have time this week. So you suggest always wrapping the returned `Component` in a `View`, and applying styles to it based on `containerViewStyle` prop?

[2017-04-24 11:25] binoy14 commented on #328
@simonasdev I am curious to see if you use the Button component from react native does that have same effect.

`import { Button } from 'react-native'`

[2017-04-24 11:28] binoy14 commented on #216
@filiphosko yes you are correct. I created a POC using styled components and wasn't too happy with using it with react native. Not that I don't like styled components but I don't like the fact I have to write css like syntax in react native app. We talked internally and we will probably be writing our own implementation. Will draft some ideas up and post here for feedback.

[2017-04-24 11:31] binoy14 commented on #334
@monte9 we had talked about doing this anyways in case if someone wants to use a library for caching images or some other image library. I think now is a good time to start changing it everywhere Image is used to allow passing custom images. @tarang9211 do you want to take the lead on this?

[2017-04-24 11:54] simonasdev commented on #328
@binoy14 I've just tried it, and it behaves the same as react-native-elements button - wrapping `View` with borderRadius around it has no effect and the component itself has no borderRadius or style prop at all, so no way to customize it.
Also, I just discovered another bug (most likely unrelated) that pressing on text or the icon of the button produces the ripple centered from top-left corner, wh

[2017-04-24 13:56] RWOverdijk commented on #216
I don't understand. They already have styling. It would be nice to dictate for instance the font in one go, so it can be used throughout the application. You style them now, too, with the defaults as provided. This would simply replace the defaults, from a consistent single location.

[2017-04-24 14:49] tarang9211 commented on #334
Sure, that would be great.

[2017-04-24 16:59] peternann opened #335 "npm install: "sh: opencollective-postinstall: command not found""
Ran "npm i react-native-elements --save" on a Mac for installation.

Got the output shown below. Should I be concerned?

`$ npm i react-native-elements --save

sh: opencollective-postinstall: command not found
ShoppingRocketRN@0.0.1 /Users/peter/DEV/ShoppingRocket/ReactNativeApp
└─┬ react-native-elements@0.11.2
  ├── react-native-side-menu@0.20.1
  └─┬ react-native-tab-navigator@0.3.3
    └── immu

[2017-04-24 17:22] Monte9 commented on #335
@xdamman possible fixes?

[2017-04-24 18:46] xdamman commented on #335
Thanks for the heads up. Yeah been working on a new version to avoid this error (that is not impacting but it doesn't look good, we can do better!). Been running around but I'll file a PR by end of the week.

[2017-04-24 18:48] xdamman commented on #335
If you need a quick way to solve this with the current version, just move the opencollective-postinstall from devDependencies to dependencies.

[2017-04-24 19:23] eliasturbay commented on #331
Hey @tarang9211 thanks for your quick response. I checked that issue and the others related. Correct me if I'm wrong... I'll have to wait for an update in React Native code base to have a fix for this issue?

[2017-04-24 20:04] ilrein commented on #327
@Monte9 position absolute worked, but I had to manually try different Left/Right combinations before I found a sweet spot for xlarge. I'm not sure how reliable this code would be on different simulators and whatnot, but it'll do for now.

[2017-04-24 20:04] #327 closed

[2017-04-24 21:10] Monte9 commented on #328
yes.

Awesome! I'll keep an eye out for the PR.

[2017-04-24 21:13] tarang9211 commented on #328
@Monte9 just to avoid duplicate PR's, who's getting this one?

[2017-04-24 21:16] tarang9211 commented on #331
@eliasturbay Yup, I think that's what will have to happen. @bozzmob Does that sound about right?

[2017-04-24 21:54] joncursi opened #336 "Avatar: Indicator while network image is fetched?"
Would be great if the Avatar component implemented [react-native-image-progress](https://github.com/oblador/react-native-image-progress) under the hood to show a loading indicator while networked images are fetched. react-native-image-progress is a drop-in replacement for the react-native core `<Image />` component (API is the same, plus a few additional props: https://github.com/oblador/react-nat

[2017-04-25 07:19] RWOverdijk commented on #325
Happiness.

[2017-04-25 07:21] tarang9211 commented on #336
@joncursi Thanks for this issue and giving us some feedback. We will be aiming to support this feature in the next release.

[2017-04-25 08:10] pewh commented on #334
@Monte9 I prefer `image` props to accept both `object` and `react component`. My use case is show blurred thumbnail (using react-native-blur) first, then show loading on top. After Image's `onLoadEnd` is triggered, then it shows high quality image and hide loading indicator. So, it's very nice if RNE also support `react component` props for Card avatar :)

[2017-04-25 17:40] RWOverdijk opened #338 "Side menu with react navigation"
~~Using the side menu with react navigation, puts a weird shadow around the content and over the navigation bar. Are there any working examples available?~~

**Update**

The shadow thing was a bug, being my own stupidity. Now the **real issue** is the lack of a shadow on the left side of the navigation:

<img width="459" alt="screenshot 2017-04-25 20 32 21" src="https://cloud.githubusercontent.com

[2017-04-25 19:58] ericwooley commented on #234
facebook/react-native#13251

Got a recommendation to change the supplied code. I agree with the person recommendation. Can we reopen/Fix this?

[2017-04-25 20:06] tarang9211 commented on #338
@RWOverdijk Seems like you figured it out? Can we close this issue?

[2017-04-26 00:10] madhutv commented on #329
Started using v0.11.2 and I don't get these warnings anymore.

[2017-04-26 00:44] testshallpass commented on #190
Hi @binoy14. I am author of react-native-dropdownalert and would be happy to help out to get this integrated or provide feedback on implementation. Let me know. Thanks.

[2017-04-26 02:08] Monte9 commented on #329
@madhutv that's good to know! Closing this issue now.

[2017-04-26 02:08] #329 closed

[2017-04-26 03:06] xubuhang opened #340 "My app crashed in Android emulator 7.0"
### Description

1. Explain what you did
My project is a standard React Native project created using `react-native init`.
, then follow these installation instructions:
`npm i react-native-vector-icons --save && react-native link react-native-vector-icons`
`npm i react-native-elements --save`.
Lastly,I used  `react-native run-android`.

2. What you expected to happen
Android emulator should displa

[2017-04-26 03:16] nonotest opened #341 "Question - searchbar refs"
Why are we using a string proptype instead of a function?

[2017-04-26 06:53] RWOverdijk commented on #338
@tarang9211 The lack of shadow on the nav bar is the only remaining issue here. The rest was just my own fault. Any ideas?

[2017-04-26 08:08] tarang9211 commented on #340
Hey @xubuhang I tried reproducing this issue and wasn't able to. I even tried the iOS version and that seemed to work fine, on my device as well as the simulator.

[2017-04-26 08:17] tarang9211 commented on #334
Hey, PR is open here #342

[2017-04-26 11:50] tarang9211 commented on #338
@RWOverdijk Could you provide some sample code? I can try mocking it up real quick with that.

[2017-04-26 12:26] RWOverdijk commented on #338
@tarang9211 I don't have the time for that now, but it's just a StackNavigator (simple) with an initial page, wrapping it in a SideMenu. Should give you the above ^

[2017-04-26 16:28] simonasdev commented on #328
So I've tried to hack something up and managed [to make it work](https://github.com/simonasdev/react-native-elements/commits/round-button-feedback) for my use case, but this change definitely breaks behaviour. For example, if borderRadius and raised are passed in as props, there is a weird rectangular outline (if borderRadius wasn't passed in `containerViewStyle` prop), since I had to move some st

[2017-04-27 08:09] tarang9211 commented on #341
Hey @nonotest. Here are the propTypes the search bar component is using. Which one are you explicity referring to?

[code]

[2017-04-27 17:05] binoy14 commented on #336
@joncursi As @tarang9211 mentioned we are working on new feature in which you can pass in custom image component to any component that uses Image. This would be useful in cases like this and also help us to keep our dependencies on third part libraries less.

[2017-04-27 17:08] binoy14 commented on #338
@RWOverdijk Sorry that your having this issue but we are actually using sidemenu provided by https://github.com/react-native-community/react-native-side-menu I think this issue best suits there.

[2017-04-27 17:10] binoy14 commented on #328
@simonasdev Can you at least make a PR to next branch and let's try to investigate what's going on

[2017-04-27 17:19] joncursi commented on #336
That sounds like a great solution. Where can I track progress?

[2017-04-27 18:49] fkrauthan commented on #341
@tarang9211 I believe he is referring to all ref prop types you are defining (same for FormInput ref prop types e.g. textInputRef or containerRef). Using strings for ref is deprecated and the recommended way is using functions (https://zhenyong.github.io/react/docs/more-about-refs.html).

Currently my app is throwing warnings because I follow the react guidelines. So it would be awesome if you cou

[2017-04-27 18:51] nonotest commented on #341
yes sorry.
Thank you Florian.

On Fri, 28 Apr 2017 at 2:49 am, Florian Krauthan <notifications@github.com>
wrote:

[2017-04-27 19:56] binoy14 commented on #341
Should add it for fixing in the next release. Thanks for repoting @nonotest and @fkrauthan for helping out.

[2017-04-27 19:58] binoy14 commented on #336
@tarang9211 on working on PR #342 there is not there much currently but feel free to chime in and provide feedback

[2017-04-28 04:04] joncursi opened #343 "[Avatar]: Image source is not properly sized"
The avatar image is not properly centered inside it's container. This is especially noticeable on `rounded` avatars. Code:

[code]

Throw a red background behind it and you'll see this:

![screen shot 2017-04-28 at 12 01 04 am](https://cloud.githubusercontent.com/assets/4974609/25513811/195f25b6-2ba6-11e7-9a59-203a2232f77e.png)

[2017-04-28 04:07] joncursi commented on #343
Err... silly me, it was an image problem, not an `Avatar` component problem. Sorry bout that!

[2017-04-28 04:07] #343 closed

[2017-04-28 06:37] tarang9211 commented on #341
@binoy14 I'll have it fixed, will take the lead on this.

[2017-04-28 07:03] tarang9211 commented on #341
Guys, the PR for this is https://github.com/react-native-training/react-native-elements/pull/306
Feel free to chime in, let me know what else has to be changed.

[2017-04-28 07:11] nonotest commented on #341
Hello,
You might also wanna update the ones from the form input component as
mentioned above.

I don't know if there are any others.

On Fri, 28 Apr 2017 at 3:03 pm, Tarang Hirani <notifications@github.com>
wrote:

[2017-04-28 07:37] tarang9211 commented on #341
@nonotest Yea, that's the one I just updated.

[2017-04-28 09:19] Monte9 opened #344 "🛎️ UPDATE: Open Collective 🤑 & Public Slack Team 🚀 for RNE ❤️️"
Hi All! I would like to share some exciting news with the RNE community.

## 1. Open Collective:

**React Native Elements is now on [Open Collective](https://opencollective.com/).**

It’s a platform to manage funds for open source projects. A lot of popular projects are on it such as Webpack, Babel and Preact among many [others](https://opencollective.com/opensource). Super excited to see what com

[2017-04-29 13:05] alien3d commented on #333
not related to expo or react native element.. just hit this bug..  is the react-native link react-native-vector-icon..   Seem effect ios only ..Android no issue.

[2017-05-01 06:56] RWOverdijk commented on #338
https://github.com/react-native-community/react-native-side-menu/issues/277

[2017-05-01 06:56] #338 closed

[2017-05-01 23:50] Monte9 commented on #338
@RWOverdijk why not just use `DrawerNavigation` from `react-navigation` instead.

Also, we will be removing the dependencies to `react-native-side-menu` & `react-native-tab-navigator` in the future releases and will just point users to react-navigation instead.

/cc @binoy14 ^^

[2017-05-02 04:56] foobar8675 opened #348 "react native elements for web"
Not an issue, more a question. I really like this library, and am now getting into react web. Is there a web equivalent of react-native-elements?

[2017-05-02 05:46] RWOverdijk commented on #338
@Monte9 That's... Alrighty then. Thanks for the info.

[2017-05-02 10:21] JWDobken opened #349 "bind list item onpress"
Relatively new to React Native; and in the following example code I want to create a list with a bound `onPress` function. Unfortunately, pressing an item will always print the last item, which is "Suze" in this case.

    import { List, ListItem } from 'react-native-elements';
    ...

    constructor(props) {
      super(props);
      this.renderPerson = this.renderPerson.bind(this);
      this.

[2017-05-02 11:29] #349 closed

[2017-05-02 20:19] GregoryPotdevin commented on #216
Shoutem's approach seems pretty nice.

Usage :
[code]

With themes defined like this :
[code]

and then components have a `styleName` prop which works pretty much like a className :
[code]

https://github.com/shoutem/theme

[2017-05-02 20:22] GregoryPotdevin commented on #243
Would be awesome. I'm using react-native-elements but had to fork ListItem to allow for custom avatar/icon components.

[2017-05-02 21:18] camillo777 opened #350 "Make rounded Button (like large Social Icon)"
Make a rounded button (like large social icon) same size so that I can stack social icons and custom buttons of the same aspect, style and size.

[2017-05-03 01:52] Monte9 commented on #243
@binoy14 wanna take the lead on this? No rush, but hopefully we can get this in for our next release `v0.11.3`.

[2017-05-04 03:46] ShenghuGong commented on #243
I am eager to this feature,Hope to see him as soon as possible,Thx

[2017-05-04 03:59] binoy14 commented on #348
@foobar8675 we don't officially support it but in theory you should be able to use with react-native-web but not with reactjs

[2017-05-04 03:59] #348 closed

[2017-05-04 04:08] binoy14 commented on #216
@RWOverdijk that's kinda what we want to do. Basically have all the colors in one place so they can easily be overriden. Not all components are following that convention so we need to refactor and provide the ability to override default colors.

@GregoryPotdevin shoutem's and even nativebase's approach is more to mimic the CSS way to do it. Personally I am not a big fan of that since it looks comp

[2017-05-04 04:11] binoy14 commented on #350
@camillo777 you should be able to use props in the button dedicated for styling to achieve this. I would be open to adding that as an available prop. Wondering what @Monte9 thinks

[2017-05-04 04:12] binoy14 commented on #243
@Monte9 I can try to get this working

[2017-05-04 04:55] bozzmob commented on #340
Hi @xubuhang , I can confirm that I am not able to reproduce the issue. Followed your commands. Maybe, there was some other issue with the environment. Were you able to make progress?

[2017-05-04 05:01] ShenghuGong opened #352 "The badge on the right side of chevron in the listitem"
### Description
According to the [lists badges doc](https://react-native-training.github.io/react-native-elements/API/lists/#badges),The badge on the left side of chevron in the listitem.
But,The badge on the right side of chevron.

The view order like this:
avatar title chevron badge

`react-native-elements` version: `0.11.2`

### Reproduction Steps and Sample Code
my code like this:
`<ListItem`

[2017-05-04 05:38] dyaacov commented on #253
Any estimation? the lack of this components blocks me from using your great library :(

[2017-05-04 07:20] filiphosko commented on #216
I agree with @binoy14. Shoutem and NativeBase use the same concept for theming, but they already deviated from the pattern that comes 'bundled' with React Native. It may seem nice, but it comes with tradeoffs. For example, as @binoy14 mentioned, it comes with a lot of added complexity. Also, when you check the code behind it, there is quite a lot of extra processing too. I think better approach wo

[2017-05-04 12:18] #340 closed

[2017-05-04 12:18] binoy14 commented on #340
Closing this since it's not reproducible. Feel free to open it if needed

[2017-05-04 12:24] binoy14 commented on #253
@dyaacov any suggestions on how it should look? Having some screenshots would be helpful for anyone building this feature

[2017-05-04 14:55] fmoraw opened #353 "Peer Dependency react-native-vector-icons@~4.0.0 breaks IOs builds"
1. Since react-native > 40 iOS native headers moved
See https://github.com/facebook/react-native/releases/tag/v0.40.0
2. The peer-dependency breaks IOs builds

The solution could be updating react-native-vector-icons to 0.4.1 if it doesn't break react-native-elements@0.11.2

[Pull Request](https://github.com/react-native-training/react-native-elements/pull/354)

[2017-05-04 16:10] TheJare commented on #353
Any ideas how to fix the build after it's been broken? I tried to fix it by installing 4.0.0 manually and tried to link but the react native build still breaks with linker error related to tvOS. I think whatever changes 4.1.0 did to the xcode project are kept even after rolling back to 4.0.0 :(

[2017-05-04 18:03] dyaacov commented on #253
https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3UE5aelZUMnZUZzA/components_menus_behavior4.png

On Thu, May 4, 2017 at 3:24 PM, Binoy <notifications@github.com> wrote:

[2017-05-05 07:15] RWOverdijk opened #355 "Disable ListItem"
Hey! For the ListItem, it would be nice if it could be disabled. I can do it myself, by checking (and I do). I just thought I'd put this out there.

[2017-05-05 07:50] filiphosko commented on #350
@binoy14 I agree with @camillo777, it would be nice to have these common button designs configurable through props, for example like [this](https://docs.nativebase.io/Components.html#button-outline-headref). We could add rounded, outline and transparent button options. This is something I have on my todo list for a while, so maybe I could look at it.

[2017-05-05 10:23] martinezguillaume commented on #331
Hey ! Any workaround here ? I'm using expo ! Thanks !

[2017-05-05 11:33] valerybodak opened #356 "Support react-native-vector-icons 4.1.0"
I have installed react-native-elements today but I have the same issue:
https://github.com/react-native-training/react-native-elements/issues/140
![untitled-1](https://cloud.githubusercontent.com/assets/26433088/25743933/c25f5df8-319f-11e7-8bfe-93c1ac1dbe65.png)

Could you please resolve this issue.

Thank you.

[2017-05-05 13:39] bondan23 opened #357 "CheckBox cannot trigger onIconPress event when use iconRight prop."
### Description
I currently use react-native-elements version 0.11.2, and facing issue on CheckBox usage

1. Checkbox iconRight cannot bind a funciton onIconPress.

### Reproduction Steps and Sample Code
This onIconPress is working fine when i don't use iconRight props

`<CheckBox
                center
                title='Click Here'
                iconType='material'
                unchecke

[2017-05-05 15:02] martinezguillaume commented on #278
Same here... I tried to wrap all of my view inside a ScrollView, same...

[2017-05-05 16:45] binoy14 commented on #350
@filiphosko go for it

[2017-05-05 17:09] binoy14 commented on #356
@valerybodak you need to install the react-native-vector-icons separately take a look here https://react-native-training.github.io/react-native-elements/Installation/default_installation/

[2017-05-06 09:41] bennygenel commented on #356
@binoy14 react-native-vector-icons current version is 4.1.0. it gives unmet peer dependency error even if you installed it separately

[code]

package.json

[code]

[2017-05-06 10:08] martinezguillaume commented on #253
Good idea ! Need this component ! 👏👏

[2017-05-07 01:35] Joe312341 commented on #356
Had the same thing, when I fixed `react-native-icons` to version 4.0.0 it stopped complaining

[2017-05-07 06:53] cyclops24 commented on #214
Please make this component independent from calendar system and with good i18n support. So users can change for example [Moment](http://momentjs.com/) with [Moment-Jalaali](http://momentjs.com/docs/#/plugins/jalaali/) and use it as a **Persian DatePicker**. Something happend in [MaterialUI datepicker](http://www.material-ui.com/#/components/date-picker) (it's independent from calendar and support

[2017-05-07 06:57] cyclops24 commented on #216
Please provide a way in theming that user can override it simply. For example I use element's for creating RTL app and need a simple way to change component style to RTL.

[2017-05-07 08:13] cyclops24 commented on #335
I have this issue too. Why this happens?

[2017-05-07 08:31] xdamman commented on #335
On it. I'll submit a fix when I'm at a computer later today.

[2017-05-07 14:52] kenkistudio commented on #302
@tristanpemble i would also like to use the Typescript definition for my project. do you have one that you can share yet? Thanks.

[2017-05-07 19:01] lsps9150414 opened #359 "[Avatar] Copy-paste example code gives me weird results."
**My code:**
[code]

**What I get on iOS:**
![simulator screen shot 2017 5 8 3 00 05](https://cloud.githubusercontent.com/assets/5022617/25784084/76ad0c5a-339a-11e7-8b79-ee9863361a6a.png)

**What I get on Android:**
![screenshot_20170508-025954](https://cloud.githubusercontent.com/assets/5022617/25784108/a56145e8-339a-11e7-9c71-785d81d27097.png)

**Suggestions:**
Guessing the problem is caused by

[2017-05-08 03:42] binoy14 commented on #356
I see what the issue is. We will try to fix it asap. In the mean time as a work around if you do `npm install react-native-vector-icons@4.0.0` that error should go away.

[2017-05-08 04:26] binoy14 commented on #359
@lsps9150414 yes we aware of this issue looking at solution to fix it so it works separately as well as in the list component. Thanks for reporting :)

[2017-05-08 04:30] binoy14 commented on #190
@testshallpass can you join our slack? Let's talk and see if we can integrate the two projects.
http://reactnativetraining.herokuapp.com

[2017-05-08 07:31] fmoraw commented on #356
The point is you can't build for IOs if react is > 40.

[2017-05-08 07:35] Joe312341 commented on #356
if u fix it to version 4.0.0 you can build for IOS (im using react vers 44)

[2017-05-08 08:28] nonameolsson commented on #47
What would be the difference by using React Navigation instead of building a custom component? As I can see, React Navigation has a fully working navigation bar.

[2017-05-08 16:39] lsps9150414 commented on #359
@binoy14 I've also created an `Avatar` component with configurable edit button and status indicator. No sure if it helps :)
https://github.com/lsps9150414/react-native-ui-toolbox/blob/master/src/Avatar.js

[2017-05-08 16:59] Monte9 commented on #359
@lsps9150414 yes, it helps for sure! And I love how you have extended `Avatar.js` building function on top of it, as opposed to starting from scratch (which most people do).

Would you be kind enough to submit a PR? If we are able to merge that in RNE, I am sure lots of people could find your code useful. 💯 Let me know.

`react-native-ui-toolbox` sounds really cool. I would love to talk to you mor

[2017-05-08 19:56] binoy14 commented on #47
@nonameolsson It's if you are not using react-navigation.

[2017-05-09 04:22] lsps9150414 commented on #359
@Monte9 Cool thanks for the invitation :D

I have submit the PR https://github.com/react-native-training/react-native-elements/pull/360

[2017-05-10 08:59] fmoraw commented on #353
Solution fix vector icons to 0.4.0! Can be closed.

[2017-05-10 15:45] binoy14 commented on #353
Closing this in favor of #356

[2017-05-10 15:45] #353 closed

[2017-05-10 15:46] binoy14 commented on #356
Should be fixed as part of #354

[2017-05-10 15:50] #335 closed

[2017-05-10 15:54] binoy14 commented on #239
@szakhlypa This should be fixed in latest release. Let me know if its still an issue

[2017-05-10 15:55] binoy14 commented on #249
Closing in favor of #359

[2017-05-10 15:55] #249 closed

[2017-05-10 15:59] binoy14 commented on #352
@ShenghuGong Can you provide a screenshot or [snack.expo.io](https://snack.expo.io) demo. Can't seem to be able to recreate it

[2017-05-10 17:02] Monte9 commented on #355
@RWOverdijk that's a good idea. Should be fairly straightforward especially since you are already doing it for your use case. Would you like a submit a PR for this?

[2017-05-10 17:19] Monte9 commented on #214
We plan to support this soon, but in the meantime please check out this calendar library instead:
https://github.com/wix/react-native-calendars

[2017-05-10 17:24] dabit3 commented on #302
@tristanpemble This would be awesome!

[2017-05-10 17:28] dabit3 commented on #302
@tristanpemble I think having them as part of the definitely typed third party definition would actually make a lot of sense...

[2017-05-10 17:29] Monte9 commented on #190
@testshallpass we would love to integrate `react-native-dropdownalert` into RNE core. I am sure a lot of users would find that really valuable.

Hit me up when you join our slack => @monte9. See you on the other side.

[2017-05-10 17:32] Monte9 commented on #47
Basically, a quick way to mock up the UI without having to necessarily integrate a navigation library into your project just to get a header bar.

[2017-05-10 17:38] Monte9 commented on #234
The fix for this issues was merged as part of this PR: #339.

Issue should be resolved in the next release `v0.11.3`

[2017-05-10 17:42] Monte9 commented on #335
PR #358 addresses this issue.

Should be fixed in the next release `v0.11.3`

[2017-05-10 17:43] Monte9 commented on #239
@binoy14 can you point me to the PR that fixes this issue? Thanks.

[2017-05-10 18:29] binoy14 commented on #239
@Monte9 looks like it was closed not merged. My bad, I will send a PR soon

[2017-05-11 06:21] RWOverdijk commented on #355
@Monte9 Would that include some sort of style change? `disabledStyle` or something?

[2017-05-11 07:47] ElonXun opened #363 "[FormInput] How to change the default color when it was focused?"
### Description

How to  change the default color when it was focused?

[2017-05-11 09:31] JaysonMandani opened #364 "Missing border on button group"
![image](https://cloud.githubusercontent.com/assets/1963153/25942528/a99f0db6-366f-11e7-88df-37192c2133e4.png)

[2017-05-11 20:49] vincejah opened #366 "Card: Problem with margin/padding when flexDirection set to 'row'"
I am trying to use Card in flexDirection set to 'row'. if the text is too long, it is cropped at the end of each line.

Below an example

[code]

[2017-05-11 22:23] binoy14 commented on #364
@JaysonMandani Can you provide code snipped or [snack](https://snack.expo.io) so we can also reproduce it?

[2017-05-11 22:30] binoy14 commented on #366
Thanks for reporting it @vincejah

Snack demo to reproduce https://snack.expo.io/H1GArwflZ

[2017-05-12 02:42] JaysonMandani commented on #364
[code]
"dependencies": {
    "react": "^16.0.0-alpha.6",
    "react-native": "^0.44.0",
    "react-native-elements": "^0.11.2"
  }

[2017-05-12 18:43] binoy14 commented on #364
@JaysonMandani Seems like a bug, https://snack.expo.io/BkOQMK7eZ Thanks for reporting

[2017-05-13 13:54] nimishrocks commented on #300
Same here with Text component of 'react-native-elements'
[code]
But
[code]
is working.
Any solution?

[2017-05-13 14:46] nimishrocks commented on #300
Problem solved , wrap the grid with the view component of the react-native and set the style of the view with flex:1
[code]

[2017-05-14 04:26] binoy14 commented on #300
@dgdosen @renehauck @nimishrocks Check this snack demo.I can't seem to reproduce it. https://snack.expo.io/B1RHnLHx-

[2017-05-14 05:13] binoy14 commented on #301
This has been fixed and will be released in `0.12.0`

[2017-05-14 05:13] #301 closed

[2017-05-14 20:01] binoy14 commented on #328
This has been fixed and will be released as part of `0.12.0`

[2017-05-14 20:01] #328 closed

[2017-05-14 23:13] binoy14 commented on #356
This has been fixed and will be released `0.12.0`

[2017-05-14 23:13] #356 closed

[2017-05-15 08:13] karanguptak9 commented on #324
@jmancherje #374 fixes this issue.

[2017-05-15 08:43] sufuf3 opened #375 "Could this library distribute a minified file?"
Hi,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs). We hosted this library.

But the file is now non-minified in new releases.
Would you provide it a minified file under `build`?
Then CDNJS can use auto-update to get this library new release version automatically.

If you have any suggestions, please let me know.

Thank you.

cdnjs/cdnjs#10418

[2017-05-15 10:49] tsaohucn opened #376 "Can I use ListItem components then change the color like the picture?"
Can I use ListItem components then change the color like the picture below by props?

<img width="318" alt="2017-05-15 6 47 27" src="https://cloud.githubusercontent.com/assets/6713879/26054450/2eb2fcf6-399f-11e7-8032-40298e0a4906.png">

[2017-05-16 08:37] mleduque opened #377 "Missing: sample for FormValidationMessage"
The "forms" page contains code samples for FormInput and FormLabel but nothing showing how to use FormValidationMessage.
All there is is a screenshot.

For example, how do I set things up if I want to check the content is a number? How do I link the FormValidationMesage to the FormInput? How do I provide the validation function?

[2017-05-16 11:18] hari-mohan-choudhary opened #378 "ListView in list Header"
Hello I am using listView but not have there header. How can add header in listView ?

[2017-05-16 11:46] giordy commented on #352
@binoy14 I confirm it happens to me too.
I'm using React Native 0.43 (can't upgrade to 0.44 unfortunately yet).
I tried to recreate an example here https://snack.expo.io/BkZTVwdxb but it does not seem to happen on Expo :\
You need to press the button to have the badges appear (I'm using the same pattern implemented in my app).

In my case it happens in Android Emulator (NExus 5 API 22) and device

[2017-05-16 11:52] giordy commented on #352
Not sure if related but the style settings on the badge seem to be ignored (you always get a black badge with white text)

[2017-05-16 15:00] binoy14 commented on #352
@giordy Thanks for confirming. I will try to debug this

[2017-05-16 21:36] camillo777 commented on #352
Hey, this snack is crashing the expo app on my phone... Anyone?
Samsung Galaxy Note 4
6.0.1

[2017-05-17 00:45] madhutv opened #381 "TouchableNativeFeedback.Ripple not a function error on Button component with buttonRadius"
"TouchableNativeFeedback.Ripple not a function" error on Button component with buttonRadius (on ios). Below is the sample code.

      `< Button
             title="Done"
             borderRadius={10}
       />`

Looks like this is occurring in 0.12.1

I am working mainly on ios so, working around this by passing a dummy background prop like so:
[code]

[2017-05-17 07:40] giordy commented on #352
@camillo777 it crashes mine too in Android, however it works on the Expo app in iPhone. It's probably a bug specific to Android

[2017-05-17 07:50] jjdp commented on #352
+1

[2017-05-17 09:48] filiphosko commented on #381
@ madhutv Yep, I stumbled upon this too while working on the Button component. There should be a platform check for Android, we'll have to patch it up. I submitted a fix here https://github.com/react-native-training/react-native-elements/pull/383.

@binoy14 @Monte9 Could you look at this?

[2017-05-17 13:42] wilomgfx commented on #381
If you put the background property, it crashes on Android :p

[2017-05-17 16:07] powercoder23 commented on #378
Hi Hari,
ListView is react-native's component and here in this repository we have  List and ListItem, i don't find this as an issue to this repository but still the answer to your question would be the below link has an step by step guide

[https://medium.com/differential/react-native-basics-how-to-use-the-listview-component-a0ec44cf1fe8](url)

Hope this Helps!
Thanks,
Dhiraj

[2017-05-18 02:51] binoy14 commented on #378
Hi @hari-mohan-choudhary If you have more questions join our slack channel and you can ask anyone there. @powercoder23 Thanks for pitching in

[2017-05-18 02:51] #378 closed

[2017-05-18 02:58] binoy14 commented on #375
@sufuf3 Will fix it in the next release. Thanks for pointing that out

[2017-05-18 03:42] hari-mohan-choudhary commented on #378
thanks @powercoder23

[2017-05-18 04:33] sufuf3 commented on #375
Thank you!
Would you provide the minified files in current version (v0.12.0) ?

[2017-05-18 08:46] filiphosko commented on #381
This is now fixed in master.

[2017-05-18 17:25] idibidiart opened #385 "Interested in PR for responsive layout support in RNE?"
Hi,

I've just finalized the base features and perf optimizations for https://github.com/idibidiart/react-native-responsive-grid

I've also taken my first PR (better formatted docs)

Are you interested in a PR that ports RNE to use this grid?

I haven't looked at the source for RNE but I'm sure I can tackle it.

Let me know and thanks for making this amazing library.
:)

[2017-05-18 17:30] Monte9 commented on #385
@idibidiart Thanks for reaching out! I looked at `react-native-responsive-grid` and it looks great. 💯

Yes, we are always open to more open source contributions, especially from our users that love our library was wanna contribute back to make it even better.

I haven't looked at the source code for `react-native-responsive-grid`, so can we start by you briefly explaing how it works (high-level) a

[2017-05-18 21:59] idibidiart commented on #385
Hey @monte9! :)

So glad you're open to this.

I feel that the latest Readme and design update makes the What, Why and How of this really obvious.

The goal is to make RNE responsive at the component level such that both the existing components and more complex/rich components can respond and adapt to screen size, aspect ratio and orientation change in such a way that the RNE user would be able to

[2017-05-18 22:02] madhutv commented on #381
Thank you. Tested with 0.12.2 and works fine :-). Will close this item

[2017-05-18 22:02] #381 closed

[2017-05-18 22:03] Monte9 commented on #381
@madhutv Glad to hear! 🎉

@filiphosko great job! 👏  Appreciate your help!

[2017-05-18 22:32] idibidiart commented on #385
Alternatively, Row and Column could be the two new composable components that we'd add to RNE.

I didn't go with a <Grid> component because 1) it's an extra component that is not needed and 2) it doesn't work to have a Grid per item in something like FlatList. Instead, I have separate nestable Row and Column components where Row is the responsive container and Column is the child in that container

[2017-05-18 22:36] idibidiart commented on #385
Typo: should say: I didn't go with a literal *Grid* component

[2017-05-19 02:56] gregblass opened #387 "Hide clear icon in search bar unless it has text?"
Just wondering if anyone can offer insight on a way to only show the clear button in the search bar if there is text there? Mine is showing up regardless of the content inside the search bar.

[2017-05-19 03:32] dcordz commented on #300
I was having this issue as well, turns out I hadn't changed the style props on each grid component (Grid, Row, Col) to containerStyle after upgrading from 0.9.7 to 0.12.2.

https://react-native-training.github.io/react-native-elements/API/grid/#gridcomponent-props

[2017-05-19 04:33] binoy14 commented on #300
@dcordz Thanks for pointing it out. Closing this since it's not reproducible. Feel free to reach out if your still having an issue

[2017-05-19 04:33] #300 closed

[2017-05-19 04:38] binoy14 commented on #385
@idibidiart this looks great. Great work on the library we will definitely be interested in adding this to rne but my only concern is compatibility with older versions of react native. We have lot of people who are using an older version of react native and we definitely need to maintain that compatibility. Maybe we create a separate component such as ResponseGrid which will live alongside the exi

[2017-05-19 04:51] binoy14 commented on #387
@gregblass you can pass false to the clearIcon prop. Take a look here. https://snack.expo.io/rk4KKl2eb

Closing this since it's not an issue but feel free to reach out if you need more help

[2017-05-19 04:51] #387 closed

[2017-05-19 08:43] boomfly opened #388 "Rating value"
How to set rating value?

[2017-05-19 08:54] gregblass commented on #387
Right so I understand that much. Sorry that I wasn't more clear: What I'm trying to do is have the clear icon dynamically change based on the content of the search bar. So when the user first visits the screen and there is no text in the search bar, the clear icon is hidden. Then the user taps the search bar and as soon as one character is entered, the clear icon appears. If they then hit backspac

[2017-05-19 09:04] gregblass commented on #387
This may be more of a beginner's React native question, so sorry about that. I think this stack overflow question addresses my question: http://stackoverflow.com/questions/24939623/can-i-update-a-components-props-in-react-js

I would set the clearIcon prop to this.state.showClearIcon and then set the components state when the text is changed based on the content of it. I think I can figure out how

[2017-05-19 09:07] gregblass commented on #387
I guess since this is the default native behavior on iOS, I thought this would fall under something that React native elements would handle out of the box. It'd be nice at least. Maybe I'll give a PR a go if I can get something working well.

[2017-05-19 09:09] gregblass commented on #387
I guess the issue with that is that you can't have React native elements be changing the state of the parent component? It'd be up to the user to implement that? Maybe that's why it's not included by default?

[2017-05-19 09:11] gregblass commented on #387
Would you mind reopening this until maybe we get some more insight from people? I wouldn't call it closed yet.

[2017-05-19 11:59] gregblass commented on #387
export class MyFlatList extends React.PureComponent {
      state = {
        searchClearIcon: false
      }

      _onChangeSearchText = (searchText) => {
        if (searchText) {
          this.setState({searchClearIcon: searchClearIcon})
        } else {
          this.setState({searchClearIcon: false})
        }
      }

      _renderHeader = () => (
        <SearchBar
          clearIcon={th

[2017-05-19 11:59] gregblass commented on #387
Feel free to keep this closed. The above code works and I can see how it should be the job of the person using the SearchBar component to implement it themselves.

[2017-05-19 12:03] gregblass opened #389 "SearchBar clear icon first closes the keyboard drawer on iOS, takes a minimum of two presses to clear text"
If you test out the search bar clear icon on an actual iOS device (using 0.12.0), the clear icon is painfully difficult to actually press. It will typically take me 3+ tries to get it to actually press it (the first time closing the keyboard input but not clearing the text, sometimes bringing up the paste menu, etc).

The first press is impossible to clear the text, as it will just close the keybo

[2017-05-19 12:26] gregblass commented on #389
It looks like the TextInput element has this all built in: https://facebook.github.io/react-native/docs/textinput.html#clearbuttonmode

[2017-05-19 12:26] gregblass commented on #387
The TextInput element in react native looks like it has all this built in for you: https://facebook.github.io/react-native/docs/textinput.html#clearbuttonmode

The search bar should be refactored to use that.

[2017-05-19 12:35] gregblass commented on #389
I could see why you would implement your own though if the goal is cross-platform elements.

[2017-05-19 12:39] gregblass commented on #389
In the end I think its cleaner and just makes more sense for me to implement my own search bar. But, you may still want to look at this one.

[2017-05-19 14:56] idibidiart commented on #385
@binoy14

The only reason it depends on RN 0.43+ is to support FlatList and alignContent. But I do agree with you that it could be a special branch. It is also fairly new and while I've been using it in all my React Native projects and experiments it still needs a bigger user base to bang on it so we know that it works well for all kinds of users.

Only one note:

I did not create a single "Grid"

[2017-05-19 15:46] binoy14 commented on #389
@gregblass You bring up good points.

1. Yes we implemented ourself because of achieving the goal of cross platform.
2. Closing the keyboard drawer is probably something we can look into fixing and feel free to submit a PR if you think you figured it out.
3. SearchBar inherits all props from native TextInput so you can pass the clearButtonMode prop and it would work for your case.

I am keeping th

[2017-05-19 15:49] binoy14 commented on #388
@boomfly Did using `ratingValue` not work?

cc @Monte9
Ref: https://github.com/react-native-training/react-native-elements/blob/master/docs/API/rating.md#rating-props

[2017-05-19 15:49] gregblass commented on #389
I would say that you shouldn't make the clear icon available at all on iOS, and make it documented that you need to use the built in clear button with the text input. Otherwise it barely works

[2017-05-19 16:21] RyszardRzepa commented on #331
I updated to react-native -v 0.44 , but still having this Error "Error while updating property 'selectionColor' of a view managed by: AndroidTextInput"

[2017-05-19 17:22] RyszardRzepa commented on #331
I found this error related to { searchBar }. After removing this component, error disappear.

[2017-05-19 17:38] idibidiart commented on #385
As they say, wording is everything. It's hard sometimes to articulate a new paradigm because we tend to have inertial bias toward the paradigm we're used to. So I've made a better attempt at defining the essence of the "grid" in a way that leaves no room for ambiguity as to how it should be used:

"The "grid" construct is extended beyond its archetypal form as a Rectilinear 2D Grid and generalized

[2017-05-19 17:53] camillo777 commented on #385
Hi
Just as a curiosity, how do you assure that using an array of rows the columns are then perfectly aligned together?

[2017-05-19 18:08] idibidiart commented on #385
@camillo777

In the Readme there is a section on "offset" prop. It works in both left to right (normal) as well as right to left directions.

Giving the same offset value to corresponding columns across rows assures their perfect alignment.

[2017-05-19 18:54] idibidiart commented on #385
You don't lose any aspect of the "grid" Just a normalized and consistent way of building responsive UI component trees. A grid is a tree where the rows are the children and the columns within each are the grand children. But UI is constructed as a tree of arbitrary shape that corresponds to the UI's visual composition, so a rectilinear 2D grid is the simplest tree structure but for a layout farmew

[2017-05-20 03:14] idibidiart commented on #385
"When I first made a grid I happened to be thinking of the innocence of trees and then this grid came into my mind and I thought it represented innocence, and I still do, and so I painted it and then I was satisfied. I thought, this is my vision." --Agnes Martin

I know I can build the most beautiful components and layouts with it and have them be alive, reacting to device orientation, and differe

[2017-05-20 05:25] ganeshub opened #390 "Adding rightTitle hides the leftIcon partially"
Adding rightTitle hides the leftIcon

[code]
![screenshot at 2017-05-20 10 51 35](https://cloud.githubusercontent.com/assets/8176512/26273296/b4fad640-3d4a-11e7-8288-69d13422cd69.png)

[2017-05-20 05:27] binoy14 commented on #375
@sufuf3 Fixed a bug where the file bundle was not getting minified

[2017-05-20 05:29] Monte9 commented on #390
Most likely bug with flex & iconHeight conflicting. Thanks for reporting it @ganeshub

We will push a fix for it in our next release `v0.13`. Stay tuned.

[2017-05-20 07:51] neo125874 commented on #388
+1, how to just display the value and disable the touchable

[2017-05-20 16:16] binoy14 commented on #388
Not sure, @monte9 would know that. You can join our slack to get answer quickly https://reactnativetraining.herokuapp.com/

[2017-05-20 16:38] naveenkonduru commented on #331
it didn't work even in Exp 17

[2017-05-21 04:24] idibidiart commented on #385
@Monte9 @binoy14

Here is a self-contained example of how a responsive view tree for List Item component can constructed using the grid's Row and Column pair. It's taken out of the updated Readme.

As you can see, anyone should be able to compose their own custom responsive components by simply using Row and Column to build the responsive view tree. It is a very simple process (much simpler than u

[2017-05-22 08:33] martinezguillaume commented on #377
The ```FormValidationMessage``` is just a styled text. You have to implement for now the logic of errors. Basically, if you have an error, display the ```FormValidationMesage```, if not, display nothing

[2017-05-22 17:22] idibidiart commented on #385
Updated description of the layout building model and upgraded layout event handling to fit well into React's layout update model.

The changes are:

## A Unified Theory of Layout

This grid eschews Flexbox-based sizing in favor of percentage-based sizing while at the same time relying on Flexbox for alignment. It delivers the predictability of the percentage-based model with the more sophisticated

[2017-05-22 19:28] itsashis4u commented on #319
I am building app with expo and I got this error when I tried using FormInput (normal TextInput works fine).

[2017-05-22 19:29] itsashis4u commented on #331
Same as @naveenkonduru

[2017-05-22 20:21] martinezguillaume commented on #331
Same here... With RN 0.44

[2017-05-22 20:24] Monte9 commented on #319
We are looking into this. Sorry about that.

We will fix this asap and push a fix for it soon.
/cc @binoy14

[2017-05-22 20:24] Monte9 commented on #331
We are looking into this. Sorry about that.

We will fix this asap and push a fix for it soon.
/cc @binoy14

[2017-05-23 09:09] vthu commented on #331
@Monte9
Thanks for taking a look at this issue...
Hoping to get a solution soon :)

[2017-05-23 12:44] binoy14 commented on #319
Duplicate of #331 follow progress there

[2017-05-23 12:44] #319 closed

[2017-05-23 19:47] mwarger commented on #239
I was able to work around this by explicitly setting `marginRight: 0` on the component style.  Any update on the PR?

[2017-05-24 07:55] saeropark opened #391 "make the button float/fixed when when scrolling"
hi,
how do i make the button float on the screen or have it fixed at the bottom when i am scrolling on the current page?

[2017-05-24 08:15] xavier-villelegier commented on #391
Hey,

Your `Button` must be **outside** of your scrolling view, and must be rendered **after** it to be above.
For example if you have a `List` as a scrolling view:

[code]

And `styles.floatButton` must look like this:

[code]

This will give you a floating button at the bottom right.

[2017-05-24 10:29] anishtr4 opened #392 "Multiple ref in input does't work"
Using following code I am able to get only the last input ref(password). Not getting the  'username'.

[code]

[2017-05-24 12:12] xavier-villelegier commented on #243
Hey guys, what about this issue ? Are you still working on it ?

[2017-05-24 17:51] MartinCamen commented on #392
How's your code to get the correct form element?

`this.refs.forminput.refs.username` & `this.refs.forminput.refs.password` ?

[2017-05-25 00:57] binoy14 commented on #391
Closing this since it's not really an issue. If you still need help let us know.

Thank you @xavier-villelegier for the answer

[2017-05-25 00:57] #391 closed

[2017-05-25 10:59] anishtr4 commented on #392
Can you correct my code if I am doing wrong ?

[2017-05-25 16:33] SKoscarrovira commented on #352
I'm having this problem too, but on an iPhone. Haven't tried this on Android yet.
@giordy the style settings work for me, but skipping the badge prefix... probably the documentation is wrong:
[code]

[2017-05-25 17:54] saeropark opened #395 "Tile onPress doesn't work?"
I tried
<Tile onPress={()=>this.handlePress(obj)}
..
/>

it doesnt work?
an overlay grey box will appear whenever i tap but no action when press. is this a bug?

[2017-05-25 19:43] dabit3 commented on #395
Hey @saeropark thanks for the issue. It looks like we are not passing onPress to the Tile. I'll file this as a bug and get a fix in asap, or you are welcome to do so yourself.

[2017-05-26 04:27] vthu commented on #331
@binoy14 @Monte9 Any update on this bug?

[2017-05-26 06:27] tristanpemble commented on #302
Hi guys, I've been sidetracked on other projects, but when I get back on our mobile project I will continue working on them.

I agree leaving them third-party would be best if the maintainers of the project aren't planning to use TypeScript at all; it adds a burden to the project maintenance if you are trying to support definition files you don't use.

[2017-05-26 14:08] krosk93 commented on #352
I made a PR for this. I think it should fix this bug. Can someone else confirm it? All you need to do to test it is to change the version of the package in the package.json file to:
[code]

[2017-05-26 14:44] giordy commented on #352
@krosk93 I tested your PR, solved the issue in my case.
Thanks for taking the time to solve this :)

[2017-05-26 17:03] Monte9 commented on #352
@krosk93 thanks for the PR. I'll merge the PR soon.

Also we will be doing a release this weekend. So the changes should be live with RNE `v0.12.3`

[2017-05-27 03:50] binoy14 commented on #395
This has been merged. Will be out in the next release. Thanks @dabit3 for quick fix

[2017-05-27 03:50] #395 closed

[2017-05-27 03:51] #344 closed

[2017-05-27 03:51] binoy14 commented on #47
This has been merged and will be released in the next release.

[2017-05-27 03:51] #47 closed

[2017-05-27 03:54] binoy14 commented on #216
This is what I have been thinking for usage.

[code]

All our components will stick to one color palette and you can easily override that color palette. Check out this repo as an example usage and let me know what do you guys think about this. https://github.com/binoy14/react-native-theming
Slides: http://theming-slides.surge.sh/

[2017-05-27 03:56] binoy14 commented on #239
I will fix this in the next release. I had fixed it but some reason i didn't create a PR and it got lost. I will fix it again

[2017-05-27 04:01] binoy14 commented on #359
Closing this, further discussions in the PR

[2017-05-27 04:01] #359 closed

[2017-05-27 04:09] binoy14 commented on #376
@tsaohucn yes you can take a look here https://snack.expo.io/r1eCjuUWW closing this since its not an issue. Feel free to reach out if you still need more help

[2017-05-27 04:09] #376 closed

[2017-05-27 04:12] binoy14 commented on #363
@ElonXun not 100% sure what you mean but you can change the style of the forminput using `inputStyle` prop. You can also pass all that the TextInput from react native has to the FormInput.

Closing this as it sounds more like a question. Feel free to reach out to us if you need more help

[2017-05-27 04:12] #363 closed

[2017-05-27 12:03] mazing opened #397 "Feature Request: Specify number of lines in ListItem"
React Native supports `numberOfLines` property to `Text` components, but it is not possible to set this property with `ListItem` in `react-native-elements`.

[2017-05-27 14:23] hashemirafsan opened #398 "I got one problem when i initial elements on index.android.js"
/Users/rafsan/Projects/android/chatters/node_modules/react-native-elements/src/rating/images/heart.png: Unexpected character '�' (1:0)

can any one help me out ?

[2017-05-27 14:31] nguyendhse opened #399 "Navigate to other screen when press ListItem"
I'm using react-navigation to navigate screens in app. In normal I can use props navigation.navigate to transit to other screen well.
But when I try ListItem, use onPress function not transit to other screen. I tried console.log in onPress and it show, but still not transit screen.

Here my code:

[code]

[2017-05-27 15:18] nguyendhse commented on #398
Do you try to stop server and run `npm start` or `yarn start` ?

[2017-05-27 16:25] hashemirafsan commented on #398
yeah

[2017-05-27 16:44] vthu commented on #331
Thanks @binoy14 :)

[2017-05-27 17:34] nguyendhse commented on #399
Oh I just found the problem that I set two screens with same name in StackNavigator.

[2017-05-27 17:34] #399 closed

[2017-05-28 02:14] hskb10 commented on #331
Hi @binoy14!, @Monte9, @vthu update on the bug? Thanks!

[2017-05-29 20:19] andrewlinfoot commented on #302
@tristanpemble I am currently starting my first TypeScript project. I've got the bandwidth to work on this right now but since I'm new to TypeScript, I'm not exactly sure how to get started. Can you post a gist with what you have so far? I'll see if I can finish it off and submit a PR to DefinitelyTyped within the next week or so

[2017-05-29 20:25] binoy14 commented on #331
I can confirm this only happens if you are using Expo in any way, either the expo client or create-react-native-app. To solve this issue immediately, I am removing the default selectionColor. It can always be added by passing it as a prop to FormInput and SearchBar. Can someone confirm this works? Change the react-native-elements in package.json to following

[code]

[2017-05-30 02:32] saeropark commented on #395
Thank you!

[2017-05-30 03:08] rafaelmhp commented on #331
@binoy14 I was having the same problem but I can confirm the fix worked after the update. Thanks!

[2017-05-30 06:34] xavier-villelegier commented on #331
@binoy14 Same here, fixed ! Thanks

[2017-05-30 14:02] filiphosko commented on #398
Hi, I tested it and I can't reproduce your issue. This is usually a packager problem, it can happen when the packager server is running and you add some image asset to your project. Do you still have this issue?

[2017-05-30 15:14] filiphosko commented on #392
You can't have more than one because it will just overwrite the content of the ref with the last textInputRef. It's a bug (or a flawed implementation). On the other hand, passing strings into refs is deprecated, you can check out [this eslint rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-string-refs.md) - the recommended way is to pass in a callback function. If

[2017-05-30 16:57] hazmah0 opened #400 "marginTop on Button creates a shadow in iOS"
### Description

1. Explain what you did
Added a button and gave it some styles via buttonStyle prop.

`
<Button title="Onwards!" raised buttonStyle={{ marginTop: 15 }} />
`

2. What you expected to happen
The margin should be added on top of the button.

3. What actually happens
Button gets "extended" with a transparent background, but retains border and shadow styles.
See screenshot below:

![sc

[2017-05-31 07:15] 839588378 commented on #82
could you tell me how to do ?please!@dabit3

[2017-05-31 10:09] filiphosko commented on #400
@hazmah0 Hi, this happens because ```buttonStyle``` applies styling to the inner View and since elevation (shadow) is applied to the outer View, this way you basically create a 'padding' in the outer View. Try using ```containerViewStyle``` prop instead of ```buttonStyle```. On the other hand I think having the API this way is confusing and I'll try to look into it.

[2017-05-31 11:34] martinezguillaume commented on #389
Hi ! I'm using the SearchBar component with the clear button, and it works good. It didn't close the keyboard !

[2017-05-31 17:42] sufuf3 commented on #375
@binoy14 Thanks.
Could you help minify the file bundle which from npm > v0.12.0 ?

[2017-06-01 06:27] saeropark opened #401 "icon size a bug?"
Hi..

I am aware the default size of the icon is '26'. I tried to change it to 50

<Icon
       reverse
       size='50'
  ... />

it doesn't work?

[2017-06-01 06:28] saeropark commented on #401
oh ok.
i just figured i needed to replace '' with {}

[2017-06-01 06:28] #401 closed

[2017-06-01 08:55] saeropark opened #402 "Tile imageSrc not working"
[code]
doesnt work unless i change it to
[code]

Also, i noticed  be it using require/uri, if it's a local path e.g '../../../img/someimage.jpg' , the image does not load but only display a grey overlay.
help.

[2017-06-01 09:20] saeropark commented on #402
solved the bug.
in order to use local path:

[code]

[2017-06-01 09:20] #402 closed

[2017-06-01 09:28] martinezguillaume commented on #364
It seems that this bug is only on Android. The border between the first and the second button is absent. I have no problem on iOS.

[2017-06-01 10:30] ElonXun commented on #363
thx i have solved

[2017-06-01 22:09] oky1 commented on #352
Same problem.  I glad you solved it.

[2017-06-02 15:42] binoy14 commented on #398
Closing this as it can't be reproduced. Feel free to ask for help if you still having this issue

[2017-06-02 15:42] #398 closed

[2017-06-02 20:11] felemedeiros commented on #253
I would add [https://material.io/guidelines/components/menus.html#menus-simple-menus](https://material.io/guidelines/components/menus.html#menus-simple-menus) as a reference as well.

[2017-06-03 08:11] nonotest commented on #318
Title should be a string for sure but what about cases where you want to have something else on the first line, like a button? At the moment seems like the only way is to use absolute styles.
Maybe add a new prop like antd ? https://ant.design/components/card/
they have an "extra" prop to allow elements on the right side of the title.
there would definitely be use cases for this?
I dont mind sendi

[2017-06-03 23:37] JLLLinn commented on #277
Please add this, I'm eager to use the listitem and this is the only thing that holding me back

[2017-06-04 16:19] Monte9 commented on #387
@gregblass Thanks for thinking out loud in the comments and also posting a working example for the intended behavior. I am sure it will be helpful to others who are wondering the same thing.

```clearIcon={this.state.searchClearIcon}```
The way you have used the `clearIcon` prop along with the `state` is exactly right. 👏

That's a good point. The SearchBar is already using the TextInput component,

[2017-06-04 16:23] Monte9 commented on #388
@boomfly @neo125874

Currently, this is not supported. I had planned to implement that feature in an upcoming release.

Although @leonfeng has submitted a PR with some enhancements to the Rating component that will provide this functionality. I will review the PR and it will be available to use in the next release `v0.12.4`

/cc @leonfeng

[2017-06-04 16:23] #388 closed

[2017-06-04 16:26] Monte9 commented on #377
@martinezguillaume thanks for pitching in. Could you by any chance provide a simple working example of what you have described above.. something that can help beginner users use as a reference to implement formValidation with the FormInput & FormLabel components?

[2017-06-04 16:37] Monte9 commented on #385
@idibidiart this issue is a gold mine for anyone wanting to understand using a grid layout in react-native. Thanks for all the detailed explanations. 💯 👏

Also, reading through the above thread, it seems like you clearly know what you are talking about and also I feel like you are capable of leading this project by yourself.

So looking ahead, I think this is how we should proceed:
1. I would like

[2017-06-04 16:42] Monte9 commented on #331
Thanks for the fix @binoy14!

Closing this issue as this fix will be released in `v0.12.3`

[2017-06-04 16:58] Monte9 commented on #216
This looks great to me @binoy14!

I wonder how you think we can proceed with implementing theming in RNE?

One approach would be to implement it for a couple components that it would make the most sense for (Button, SocialIcon) and get user feedback and figure out how we can enhance it. Then implement it across the repo if things look promising.

Also since we have so much interest from others in

[2017-06-04 16:59] Monte9 commented on #239
This has been fixed and will be released in `v0.12.3`

[2017-06-04 16:59] #239 closed

[2017-06-04 17:06] Monte9 commented on #397
@mazing that's a good point. I think it should be an easy addition.

Could you submit a PR for it? I will gladly review and merge it.

[2017-06-04 17:10] Monte9 commented on #302
That's a good point @tristanpemble. I personally don't use TypeScript, but I would love to see what the typings would look like and try them out.

As @andrewlinfoot suggested, can you share with us how you think we can proceed with this project and I am sure we can get others to contribute as well.

[2017-06-04 17:16] Monte9 commented on #392
@filiphosko I was aware of the bug but never got around to patching it up. 😢

Also your explanation about passing in a callback func makes sense. I know you have been contributing a ton to RNE, ;) any chance you could submit a PR for this as you prob know exactly what kind of refactoring it will take?

[2017-06-04 17:17] Monte9 commented on #400
@hazmah0 did @filiphosko's suggestion work for you?

[2017-06-04 17:21] Monte9 commented on #375
@binoy14 thoughts on the above request?

[2017-06-04 17:23] Monte9 commented on #363
@ElonXun can you post a working example of your solution? Might be useful to others who are trying to do a similar thing. Thanks.

[2017-06-04 17:28] Monte9 commented on #352
This fix will be released in `v0.12.3`

[2017-06-04 17:28] #352 closed

[2017-06-04 17:36] Monte9 commented on #243
Thanks for the PR @xavier-villelegier! 💯

This enhancement is added in PR #393 and has been merged.

This will be available to use in `v0.12.3`

[2017-06-04 17:36] #243 closed

[2017-06-04 17:58] Monte9 commented on #277
@JLLLinn Sorry to hear that. I'll fix this asap.

[2017-06-04 18:14] Monte9 commented on #277
[This commit](https://github.com/react-native-training/react-native-elements/pull/404/commits/600e1c98d215b73202c6a78461b4628ce6b37378) fixes this.

This should be released in `v0.12.3`

[2017-06-04 18:14] #277 closed

[2017-06-04 18:16] Monte9 commented on #263
This seems like a decent solution to me. Feel free to submit a PR if @abdurrahmanekr or anyone else wants to submit a fix for this.

[2017-06-04 18:18] Monte9 commented on #292
@carlobambo good idea. Would you like to submit a PR? Would gladly review & merge it.

[2017-06-04 18:28] Monte9 commented on #308
I don't think so. React Navigation has such a detailed API that it would almost be too trivial to write an abstract over it for RNE. Also since React Navigation is extensively used by so many people at this point, I think just pointing people towards it for a navigation solution as part of RNE is good enough.

Initially I wanted to deprecate & get rid of the `tabbar` & `SideMenu` components as Rea

[2017-06-04 18:36] Monte9 commented on #318
@nonotest I like this idea. And thanks for offering to send a PR for this. 😃 I will gladly review & merge it.

The above code sample looks good. Although could you attach a screenshot for what it looks like? (I imagine it's an edit & close button to the right of the title?)

Also I agree with @nonotest that a title should only be a string, although the subtitle should accept an object as well. So

[2017-06-04 18:39] Monte9 commented on #324
This fix will be released in `v0.12.3`

[2017-06-04 18:39] #324 closed

[2017-06-04 18:43] Monte9 commented on #341
I think this was never fixed. Correct me if I am wrong @binoy14.

[2017-06-04 18:44] Monte9 commented on #350
Thanks @filiphosko for the PR! 💯

The PR has been merged and will be released in `v0.12.3`

[2017-06-04 18:44] #350 closed

[2017-06-04 18:46] Monte9 commented on #355
yup. So one possible way would be to have a `disabled` prop that would apply some defauly disabled styling to the `ListItem`. In addition you would expose the `disabledStyle` prop to allow the user to add custom styles when it's disabled.

[2017-06-04 18:49] Monte9 commented on #357
PR #379 fixes this.

This should be released in `v0.12.3`

[2017-06-04 18:49] #357 closed

[2017-06-04 18:50] martinezguillaume commented on #377
Yes no problem ! I put that in this issue ?

[2017-06-04 18:51] Monte9 commented on #377
Sure. Let's put it here for now.. and then eventually we could move it to the docs as well.

[2017-06-04 18:52] Monte9 commented on #364
@binoy14 @martinezguillaume any ideas on what might be causing it? Possible fixes?

[2017-06-04 18:58] Monte9 commented on #366
@vincejah here's the right way to do it:
[code]

[2017-06-04 18:59] #366 closed

[2017-06-04 19:09] Monte9 commented on #389
@martinezguillaume @binoy14 any ideas on how to address the "close the keyboard when clearn icon pressed"? Is this something that iOS does out of the box?

[2017-06-04 19:12] Monte9 commented on #392
PR #362 has related discussions about handles multiple refs.

@filiphosko I am going to defer to you on this. Going forward, how can we refactor such that we are handling multiple refs the right way?

Also wanna get @Nickman87 thoughts on this.

[2017-06-04 19:31] Nickman87 commented on #392
Looking at the original question, the issue relies not in RNE but in the double `ref="forminput"` which is not supported by react.
To me, exposing internals trough "refs" (or any other way) is a smell. Adding methods to the component instance and mapping them to the correct components internally seems like the way to go for me.

 @anishtr4 What do you want to use the refs for?

[2017-06-05 00:47] binoy14 commented on #364
@martinezguillaume See the snack demo it's actually only happening on iOS and not on Android. I will try to look at this and fix it.

[2017-06-05 00:58] binoy14 commented on #341
It is related to the discussion in #362 We need to figure out a proper solution to this

[2017-06-05 01:01] binoy14 commented on #375
@sufuf3 Not sure how it would be possible since master branch holds the minified files and we can't commit for something back in time. Any ideas how to do it?

[2017-06-05 06:08] Monte9 commented on #263
PR #405 fixes this issue. Thanks @abdurrahmanekr! ;)

This will be release in `v0.13.0`

[2017-06-05 06:08] #263 closed

[2017-06-05 09:49] filiphosko commented on #392
I think @Nickman87 already refactored it and from the point of backwards compatibility it's cool. What I think we really need now is just changing the docs, since they encourage users to pass strings into refs and get the refs using this.refs https://react-native-training.github.io/react-native-elements/API/forms/ . Also I was thinking about marking textInputRef and containerRef as deprecated in t

[2017-06-05 17:07] hazmah0 commented on #400
@Monte9, @filiphosko solution worked perfectly!

[2017-06-05 17:07] #400 closed

[2017-06-06 09:07] martinezguillaume commented on #377
We can imagine this component :

[code]

When you have an error in your form, just fill the `errorMessage` with your error message.

#### Example
[code]
![image](https://cloud.githubusercontent.com/assets/17292331/26821863/4243dcbc-4aa8-11e7-9720-15faf9fc01df.png)

[code]
![image](https://cloud.githubusercontent.com/assets/17292331/26821874/4fceccfc-4aa8-11e7-9194-5a60e62b45ea.png)

#### Enhanceme

[2017-06-06 09:27] martinezguillaume commented on #364
For me, it's working on iOS and not working on Android ahaha, don't know

[2017-06-06 11:35] raarts opened #406 "After upgrade to next branch: Warning: Stateless function components cannot be given refs. Attempts to access this ref will fail."
### Description

(could not find this as a known issue)

I upgraded to the next branch (fc06313), because I was looking forward to using the onPressRightIcon. Before implementing anything I re-ran my code. The following error happened:

[code]

### Reproduction Steps and Sample Code

Note the error does not appear on 0.12.2
Can't reproduce it on snack as it's not clear if and how I would use the `

[2017-06-06 11:55] xavier-villelegier opened #407 ""Touchable child must either be native or forward setNativeProps to a native component" error on the #next branch"
Hey guys,

### Description

I was trying to use the #next branch to avoid having the `selectionColor` on Android, as suggested [here](https://github.com/react-native-training/react-native-elements/issues/331#issuecomment-304726022).

But i'm having another issue which is:

![image](https://cloud.githubusercontent.com/assets/17592779/26827901/7f85687c-4abf-11e7-8a3b-43a287cdbfcb.png)

To be sure, I

[2017-06-06 12:14] binoy14 commented on #407
@xavier-villelegier thanks for reporting this. Need to fix before we release

[2017-06-06 12:17] binoy14 commented on #364
In any case it's a bug that needs to be squashed. If anyone has the solution feel free to send a PR!

[2017-06-06 17:04] Monte9 commented on #406
@raarts thanks for reporting the issue. I tried running `next` a couple days ago and ran into the same issue.

The `next` branch is our release branch, so we should fix this sooner rather than later.

I briefly looked at it briefly, but I'll look at it again and dig deeper.

/cc @binoy14 any ideas on how to fix this?

[2017-06-06 17:08] Monte9 commented on #407
Duplicate of #406. Thanks for reporting this issue @xavier-villelegier.

As Binoy said, `next` is our release branch and so this is a High Priority bug. We should have a fix for this soon.

If you have any ideas, please feel free suggest them.

/cc @raarts please join the discussion here.

[2017-06-06 17:09] Monte9 commented on #406
@raarts closing this issue in favor of #407.

Please follow the discussion there.

[2017-06-06 17:09] #406 closed

[2017-06-06 17:36] idibidiart commented on #385
Excellent!

I have some projects in flight but will get to this as soon as I free up. I'll also add support for alignSelf and the baseline option where applicable. I hadn't needed those myself but they'll complete the Flexbox support in the grid.

Will ping you here with updates on my progress with this task.

So exciting @Monte9  !!! :)

[2017-06-06 21:10] Monte9 commented on #407
Ok, I ran into this problem at work as well today and figure it out. This commit fixes it: https://github.com/react-native-training/react-native-elements/commit/714804d3c42b699c6a40c4c9f4a696206a960870

I think it's related to [this issue](https://github.com/facebook/react-native/issues/1040#issuecomment-96745870) and apparently, it was only fixed for `TouchableOpacity`.

So by using `TouchableOpa

[2017-06-06 21:11] #407 closed

[2017-06-07 03:11] williamwlchan commented on #395
Thanks! Any recommendations if I would like to do onPress? Is TouchableWithoutFeedback workable by wrapping the tile tag?

[2017-06-07 04:12] williamwlchan opened #408 "Tile onPress not working"
Hi,

#395 states that the onPress prop is currently not working for the Tile component. However this does not work even though I use TouchableOpacity

	render() {
		const { name, cover } = this.props.country;
		return (
			<TouchableOpacity onPress={() => console.log('touched')}>
				<View>
					<Tile
						featured
						imageSrc={{ uri: cover }}
						title={name}
						height={SCREEN_WIDTH * 0.

[2017-06-07 04:26] williamwlchan commented on #408
Issue can be closed as I saw that #395  was fixed. Thanks.

[2017-06-07 04:26] #408 closed

[2017-06-07 21:06] Monte9 commented on #390
@ganeshub I have fixed this on the `next` branch.

![screenshot_20170607-140306](https://user-images.githubusercontent.com/7840686/26901341-5bb4f61c-4b8a-11e7-80ba-d5de67c4f15d.jpg)

This will be released in `v0.13`.

[2017-06-07 21:06] #390 closed

[2017-06-08 11:07] Selman555 opened #410 "Multiple buttons: same icons with different color not rendering"
### Description

Hopefully I'm doing something wrong. But there seems to be a problem with button icons.

I setup a simple `ScrollView` with a couple of buttons.
All the buttons have the same icon with a different color.
Only the first button renders correctly. The following buttons don't have an icon or display a question mark in the correct color.

### Reproduction Steps and Sample Code

You can

[2017-06-08 15:47] martinezguillaume commented on #364
It seems that it's a react-native bug, see this [issue](https://github.com/facebook/react-native/issues/8236). We can workaround this if we set the left border of the second button (the second button will have 2 borders, left & right). We can't specified a border radius and a border at the same time for now... I can do the PR with the workaround for now if you are okay with this idea.

[2017-06-08 15:52] idibidiart commented on #385
There is a bug in flexWrap that I'm trying to get some attention on

https://github.com/facebook/react-native/issues/8960#issuecomment-307138295

Just FYI... doesn't affect the grid unless wrap prop is set on Row and only in a certain edge case...

I'll proceed with adding alignSelf and baseline alignment option as those are unrelated but it's important to find out from the RN maintainers if there

[2017-06-08 17:24] Monte9 commented on #364
@martinezguillaume sounds good to me. If it works for your use case, chances are other people can benefit from it as well.

[2017-06-08 18:23] martinezguillaume commented on #364
No problem, I’ll do it tomorrow !

[2017-06-09 02:03] JaysonMandani commented on #364
My only solution for button group is to create my own lol :D Hope this issue will close soon.

[2017-06-09 03:26] JamesBondPc opened #412 "Unable to resolve module 'react-native-vector-icons/Materiallcons"
Loading dependency graph, done.
error: bundling: UnableToResolveError: Unable to resolve module `react-native-vector-icons/MaterialIcons` from `/Users/jamesbond/WebstormProjects/Menu/node_modules/react-native-elements/src/buttons/Button.js`: Module does not exist in the module map or in these directories:
  /Users/jamesbond/WebstormProjects/Menu/node_modules/react-native-elements/node_modules/reac

[2017-06-09 09:28] tsanak opened #413 "View.propTypes has been deprecated"
I'm using
- React Native 0.44
- React Native Elements 0.12.2

and I'm getting the warning "View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead." when using the Button component.

[2017-06-09 10:45] buncismamen commented on #412
have u installed it?
https://github.com/oblador/react-native-vector-icons

[2017-06-09 12:12] callyb opened #416 "List items showing leftIcon when it's not included in the code."

[2017-06-09 13:50] #416 closed

[2017-06-09 13:51] rubycop opened #417 "SearchBar doesn't show clear icon"
Code from example doesn't show clear icon
[code]
react-native: "0.41.2"

[2017-06-09 19:05] Silvercast commented on #417
of course it doesn't. you need to add `clearIcon` props.

[code]

[2017-06-10 16:50] sufuf3 commented on #375
Hi @binoy14 ,
If add the versions>0.12.0 from npm to GitHub, then there are v0.12.1 and v0.12.2 in GitHub repo.
And let me manually add these versions from GitHub to CDNJS.
When new versions releases from npm with minified `bundle.js`, CDNJS can auto-update the version.
I don't know is it a good idea?
But I think I can do this.

If you have any suggestions, please let me know.
Thank you.

[2017-06-11 00:25] ahjorth opened #418 "SwipeDeck doesn't work correctly on Android"
### Description

1. Explain what you did
**Added Swipedeck to my application, also tried it on the react-native-elements-app on expo**
2. What you expected to happen
**I expected the top card to be swiped away and the card behind to replace it**
3. What actually happens
**A card in the stack BEHIND the first card is swiped away. Or it might be that the top card DOES get swiped, but the top card is

[2017-06-11 05:43] binoy14 commented on #413
@tsanak We are aware of this issue and it's a tricky one to solve it right. The ViewPropTypes package is not available on older version of react native and hence it would crash. And going forward View.propTypes will not work so it will cause errors. We are trying to find a better way to fix this. Any suggestions welcomed.

[2017-06-12 06:18] magneticz opened #419 "Make customizable icon size in Checkbox"
### Description
I am using Checkbox component, and it is pretty handy that i can customize all parts, icons, colors, text style, but i can't customize size of the icon, and it seems hardcoded to 24. So, when i have smaller text, the icon looks huge.

### Solution
Maybe we can add size parameter, like color parameter. Or even add iconStyle for more flexibility. I can create PR request, if you agree

[2017-06-12 07:00] rubycop commented on #417
DOESN'T work with `clearIcon` of course!
[code]

[2017-06-12 07:43] RinkaDink opened #420 ""react-native-vector-icons" dependency"
Hi,

Not sure this is the right platform to ask this question but...

I would like to use this framework for my react-native project. The issue is that my react-native code will live inside an on going native app (Meaning I will have a react-native features inside a native app) and that is why I do not want to make any native code change or add any native dependencies.

The question is, do I need

[2017-06-12 07:59] Jorijn opened #421 "string refs considered legacy"
I'm using react-native 0.45.0 and react-native-elements 0.12.2. The official React documentation state string refs as legacy. My eslint is going bonkers over needing to use string refs in the form elements.

What is your point of view on this, can we expect callback refs soon?

[2017-06-12 11:28] binoy14 commented on #421
Thanks for reporting this. We are trying to change all string refs to function refs, we started doing it in few components but haven't gotten to all of them. If you have some bandwidth, feel free to send a PR

[2017-06-12 11:31] binoy14 commented on #420
In theory it would work without vector icons, not 100% sure tho. But any component that uses an icon you will get an exception. Not all components use icons, but many do. You can look thru the docs and see which components use an icon and see if you need those components or not.

[2017-06-12 11:32] binoy14 commented on #419
I agree, having the ability to customize would be very helpful. Please feel free to send a PR if you have fixed it already.

[2017-06-12 12:55] RinkaDink commented on #420
cool,
Thanks for the answer...

I wonder if in those places where you require to use an icon, you can use your own custom icon.

[2017-06-12 14:15] binoy14 commented on #417
@rubycop I apologize for closing this without providing further explanation. Take a look at the snack https://snack.expo.io/r1tvbm3GW where the Icon is showing up. What versions of react-native-elements are you using?

P.S: Let's remember to keep a positive environment since we are all trying to help each other.

[2017-06-12 14:17] binoy14 commented on #420
Not at the moment, since we require the Icon from react-native-vector-icons. Are you okay if I close this ?

[2017-06-13 06:02] #364 closed

[2017-06-13 07:37] gsklee commented on #304
@Monte9 You may wanna update the docs as well, it's still showing examples using Font Awesome icons: https://react-native-training.github.io/react-native-elements/API/avatar/

[2017-06-13 08:58] gsklee opened #422 ""Card with divider" example"
https://react-native-training.github.io/react-native-elements/API/card/

The "Card with divider" example is currently missing.

[2017-06-13 12:21] RinkaDink commented on #420
Yes, you can close this issue..

[2017-06-13 19:28] Monte9 commented on #412
@JamesBondPc Please see @buncismamen answer above. It should resolve the issue you are facing. If not, please feel free to open this issue again and we can help you resolve it.

[2017-06-13 19:28] #412 closed

[2017-06-13 19:30] Monte9 commented on #418
@ahjorth thanks for creating an issue about this. This is def a bug that we are aware of, but haven't looked into fixing it yet.

The thing is it happens only on Android, and I suspect it has something to do with the `elevation` style property on Android.

Do you have any ideas for how we could fix this?

[2017-06-13 19:35] Monte9 commented on #421
See PR #362 for ongoing work on this issue.

[2017-06-13 19:40] Monte9 commented on #304
@gsklee good catch. Will do so soon. Thanks.

[2017-06-13 19:41] Monte9 commented on #422
Yup, you are right. Thanks for pointing this out.

Will add this soon.

[2017-06-13 19:41] #420 closed

[2017-06-13 22:55] guofoo commented on #408
any idea which release this bugfix will be released in?

[2017-06-14 00:09] Monte9 commented on #408
@guofoo it will be release in `v0.13.0`. This release is coming up by tomr latest.

[2017-06-14 13:19] rubycop commented on #417
It doesn't work on:
- android v. 5.0.2
- react-native v. 0.14.2
Seems like it's an android issue
(FYI snack doesn't launch this code on android)

[2017-06-14 16:50] huiming1313 opened #423 "FormInput - Error while updating property 'selectionColor' of a view managed by: AndroidTextInput"
I'm using expo 17 and when using FormInput (only in Android), it got error as below.

`<FormInput containerStyle={{ marginBottom:10 }}	placeholder="Name" onChangeText={(val) => this.setState({name: val})} />`

Below is my complete dependecies list

[code]
![untitled](https://user-images.githubusercontent.com/15344977/27144453-7f58ca28-5164-11e7-9676-71ac25ed63d1.png)

[2017-06-14 18:52] peacechen opened #424 "ListItem prop titleNumberOfLines has no effect"
### Description

Setting the ListItem prop `titleNumberOfLines` doesn't restrict the title to one line.  It's also supposed to place ellipses at the tail after truncation (default behavior for RN Text component).

Also please include the version of `react-native-elements` that you are using: **0.12.2**

### Reproduction Steps and Sample Code
[code]
\* `s.` is from the convenient styling library re

[2017-06-15 04:46] lsps9150414 opened #426 "SearchBar's clearIcon is too small. Provide prop to customize it?"
### Description
The default `clearIcon` is too small to be accurately pressed on devices with smaller screen (e.g. iPhone 5).

### Solution
Either provide a prop to customize the touchable size or simply make the touchable area bigger.

Currently the touchable area is on the icon itself not the container so the height and width of the touchable area is the same as the icon size. It would be better

[2017-06-15 12:56] jasan-s commented on #56
How can I add a spinner to a button conditionally ?

[2017-06-15 22:41] nimerfarahty opened #427 "Header Component postion"
### Description

my code below : with react-native-elements version 0.13
`const Events = StackNavigator({
    events: { screen: screens.Home },
    eventDetails: { screen: screens.EventsDetails }
}, {
    navigationOptions: {
        header: (
            <Header
                statusBarProps={{ barStyle: 'light-content' }}
                leftComponent={{ icon: 'menu' }}
                centerCo

[2017-06-16 03:04] pyyzcwg2833 opened #428 "react-native-elements@0.13.0 didn't support react-native-vector-icons@4.2.0"
When I try to install this package with `npm i react-native-vector-icons --save && react-native link react-native-vector-icons`,  it reported an error with `npm WARN react-native-elements@0.13.0 requires a peer of react-native-vector-icons@~4.1.1 but none was installed`.
Of course, I have installed `react-native-vector-icons@4.2.0`, but I hope that this package will support `react-native-vector-ic

[2017-06-16 11:11] jasan-s opened #429 "FormInput Component does not have a focus() prop"
I am using v0.12.2 and was trying to implement  focus to the next TextInput field. IF I use the standard Textinput from react-native the focus() prop is available through the refs, but using formInput it is not. Am I missing something here?

[2017-06-16 12:51] jasan-s commented on #179
I'm using redux-form and it seems there is a focus method here:  `this.Field.getRenderedComponent().refs.Field.__proto__.focus()`

But when I call it I get the error Cannot read property 'textInputRef' of undefined
the focus function looks like this:

[code]

Shouldn't the focus method do something like this:

[code]

[2017-06-16 15:26] ganeshub commented on #390
Thanks a ton @Monte9 , It works correctly in v0.13 :)

[2017-06-16 19:46] junctioniv opened #430 "react-native-elements@0.13.0 Rating.js Requires Missing Files"
I updated my version of react-native-elements@0.13.0 to get the fix for the Selection color bug (  #331  ) but now I started getting an Error

When navigating to that directory the `images` directory does not exist. The `images` directory is in the source though as it apears [here](https://github.com/react-native-training/react-native-elements/tree/master/src/rating). Any idea why this would be mi

[2017-06-16 20:32] Solbrim opened #431 "Passing empty strings strings to ListItem via the title and subtitle props"
Passing empty strings through the title or subtitle props of ListItem results in a RawText needs to be wrapped in a Text view error. Looks like empty strings are falsy, so ListItem attempts to wrap said strings in a View, instead of Text, given:

            {subtitle &&
              (typeof subtitle === 'string' || typeof subtitle === 'number')

[2017-06-17 13:05] Nickman87 commented on #421
@Jorijn What components are you referring to? Are there other besides TextInput and SearchBox?

[2017-06-17 15:40] filiphosko commented on #427
@nimerfarahty Hi, thanks for pointing this out. I tested it only standalone, never tried it with react-navigation so this bug never jumped on me. There is a styling that shouldn't be there, I'll post a PR to fix this quickly. In the meantime if you want to use this, you can search for the react-native-elements package in your node_modules, find the Header element (src/header/Header.js) and remove

[2017-06-17 16:01] filiphosko commented on #427
I posted a PR to fix this. @binoy14 @Monte9 Could you guys merge it?

[2017-06-17 16:54] binoy14 commented on #179
@jasan-s PR #362 will fix this issue

[2017-06-17 16:57] jasan-s commented on #179
looking forward to it. until then using simple TextInput

[2017-06-17 20:23] nimerfarahty commented on #427
thanks for the solution , the reason is just testing reason since i have my own header component also i am a big fan of elements package

[2017-06-18 11:59] filiphosko commented on #427
@nimerfarahty This repo is still a work in progress and any contributions are very welcomed, so if you'll have some time and are willing to help, there are a lot of things to do/improve :wink:

[2017-06-18 12:06] filiphosko commented on #429
@jasan-s If you want to get the ref for the input, you have to use the textInputRef prop. You can check the inner workings of the component [here](https://github.com/react-native-training/react-native-elements/blob/master/src/form/FormInput.js). The API for this component is not ideal and is going to change, you can follow the discussion here https://github.com/react-native-training/react-native-e

[2017-06-18 12:13] filiphosko commented on #423
Hi, this should be already fixed in version 0.12.3 as stated here https://github.com/react-native-training/react-native-elements/issues/331. Please try to upgrade your react-native-elements package and let us know if the problem persists (if not, please close this issue :wink: ).

[2017-06-18 16:48] MilanThomas opened #433 "Error when passing both borderRadius AND backgroundColor to a <Button>"
When using **borderRadius and backgroundColor** props on a <Button> component, I get the following error on **Android** (sorry, I can't attach a screenshot) :

### "Error while updating property 'nativeBackgroundAndroid' of a view managed by: RCTView."
The last call of the stack is : `updateViewProp, ViewManagersPropertyCache.java:90`

1. Using Expo version 17.0.0 and react-native-elements version

[2017-06-18 17:22] filiphosko commented on #433
@MilanThomas The problem you encountered is related to this issue https://github.com/react-native-community/react-native-linear-gradient/issues/84.

When you are on Android and you provide a borderRadius prop, it will try to use native ripple on the button (TouchableNativeFeedback). When you use buttonStyle, it will just style the inner View (not the touchable itself). I'll try to look for some so

[2017-06-18 17:34] MilanThomas commented on #433
@filiphosko Thanks for the quick answer. This make sense since I can tell the feedback effect remains squared when I press the Button.

I'm using Android 4.4, API version 19.

And here is my package.json.

[code]

[2017-06-18 20:35] filiphosko commented on #433
@MilanThomas I see your API version is 19 and that's most likely the problem since this bug is present while using API version < 23. If you could upgrade your API version to at least v23 I guess you would get rid of this error.

[2017-06-18 23:14] binoy14 commented on #56
You can add loading prop. It's not documented currently but should be

[2017-06-19 01:31] idibidiart commented on #385
Update:

Sorry for the slow-motion progress.

It looks like the bug was in an older version of the Yoga layout engine that RN depends on.

https://github.com/facebook/yoga/issues/575#issuecomment-309307224

I'll test with latest Yoga and if all is good I'll proceed with the wrapping up (pun intended) the remaining gap to support the full Flexbox spec.

[2017-06-20 01:23] henrydeclety commented on #82
still getting this issue on mac

[2017-06-20 07:13] heron2014 opened #434 "UNMET PEER DEPENDENCY react-native-vector-icons@4.2.0"
Hi there,

<img width="496" alt="screen shot 2017-06-20 at 08 10 08" src="https://user-images.githubusercontent.com/8476884/27320894-05670fce-5590-11e7-9ac2-19e8a6a3c41d.png">

Would it be possible to update peer dependencies to met the current version of ```react-native-vector-icons```? unless there is another way to get rid off this warning?

Thanks.

[2017-06-20 14:05] mnlbox opened #435 "Header doc image issue"
Hi guys,
Header component doc page image not loading successfully:
https://react-native-training.github.io/react-native-elements/API/header/
I check and https://react-native-training.github.io/react-native-elements/docs/images/header.png return error 404 but it's image exist in https://github.com/react-native-training/react-native-elements/blob/master/docs/images/header.png What is the problem?
An

[2017-06-20 14:57] mobilemaster5 opened #436 "Cannot install"
`npm WARN react-native-elements@0.13.0 requires a peer of react-native-vector-icons@~4.1.1 but none was installed.`

UNMET PEER DEPENDENCY react-native-vector-icons@4.2.0

I am not sure how can I install the `react-native-elements` in my project.
"react": "16.0.0-alpha.12",
    "react-native": "0.45.1",

Regards !

[2017-06-20 15:43] filiphosko commented on #435
@mnlbox Hi, thanks for pointing this out. The correct url should be probably this one https://raw.githubusercontent.com/react-native-training/react-native-elements/master/docs/images/header.png. I'll fix it.

[2017-06-20 15:57] mnlbox commented on #435
@filiphosko Thanks for your attention man. 😉

[2017-06-20 19:48] Monte9 commented on #430
@junctioniv this is really strange. We are using the Rating component in our example app with expo and I haven't run into this issue.

I'll try to reproduce this on a new react-native project. In the meantime, let's me know if this is still an issue for you or if you found a workaround for it.

[2017-06-20 19:52] Monte9 commented on #434
@heron2014 we are working on this. Should be updated in the next release within the end of the week.

[2017-06-20 19:55] Monte9 commented on #435
Thanks for the fixes @filiphosko! 👏

The PR has been merged, and it should updated with the next release soon.

[2017-06-20 19:55] #435 closed

[2017-06-20 20:04] junctioniv commented on #430
@Monte9 I think this may be fixed. I was able to work around it by adding those files manually but I have since had to completely had to delete my `node_modules` directory and do a fresh npm install for a separate issue and I did not have to re-add this missing directory.

Not sure what caused it in the first place. Possibly a npm issue.

[2017-06-20 20:06] filiphosko commented on #433
I'm closing this issue since it's not directly related to this repository.

[2017-06-20 20:06] #433 closed

[2017-06-20 20:09] filiphosko commented on #429
I'm closing this for now, if you'll have further questions or this solution isn't sufficient for you, we can reopen later.

[2017-06-20 20:09] #429 closed

[2017-06-20 20:17] filiphosko commented on #427
Closing this since a fix has been submitted and will be applied to master in the next release.

[2017-06-20 20:17] #427 closed

[2017-06-20 21:40] Monte9 commented on #430
Yeah, I suspected it to be an npm upgrade issue. Glad you were able to resolve it by reinstalling your  npm modules.

[2017-06-20 21:40] #430 closed

[2017-06-20 21:46] heron2014 commented on #434
Great, thanks @Monte9

[2017-06-21 04:45] idibidiart commented on #385
Update:

Just pushed a new release in preparation to rebuilding an RNE component with this grid. I've added a CHANGELOG.md that I'll be maintaining since I figured it's important for others to stay on top of any changes and additions.

Even before this release, I've been sticking to making non-breaking changes only, or providing backward compatibility when a breaking change is necessary (none so f

[2017-06-21 06:16] RWOverdijk commented on #318
I'll look into allowing a component. Only accepting text just isn't enough for a component like this I'm afraid.

[2017-06-21 10:59] aswinmohanme opened #441 "How to Align Text in header to the Left ?"
The position of the text on the header is on the Center, how do I align that to the left, so that it's close to the left Icon.

Here is My Code:
[code]

I'm using the latest version of Elements on Android

[2017-06-21 11:45] mikhail709 opened #442 "TypeError: expected dynamic type `double', but had type `null' (constructing arguments for UiManager.dispatchViewManagerCommand at argument index 0)"
Hi. I try to implement simple LoginScreen with two FormInputs, LogIn button and Forgot password button. Navigation between the screens is implemented with the help of "react-navigation": "1.0.0-beta.11". So, when I click on Forgot password at my LoginScreen and then turn back to the LoginScreen and then click on any of the input fields - TypeError: expected dynamic type double', but had typenull'

[2017-06-21 12:06] dabit3 commented on #442
Just out of curiosity, have you tried testing this just using a regular TextInput to make sure that the library is causing the issue? In the meantime, I'll see if I can run down the issues.

[2017-06-21 12:07] dabit3 commented on #436
You need to first install `react-native-vector-icons`, then link the library:

`npm i react-native-vector-icons --save`

`react-native-link`

'npm i react-native-elements --save`

This should do the trick.

[2017-06-21 15:55] filiphosko commented on #441
@aswinmohanme Hi, currently there is no simple way how to do it (like just passing a prop). The inner View positions the header elements horizontally using ```justifyContent: 'space-between'```. If you don't want to mess with it, you can get some results by either:

- wrapping you center element in a View and giving it some width, for example like this
[code]
-  applying custom positioning for the

[2017-06-21 20:20] junctioniv opened #443 "List Rendering Bug on iOS"
### Description

I updated from react-native-elements@0.12.2 to react-native-elements@0.12.3 and ran into a rendering issues with `List` components in ios via expo, All the list components in my app are rendering fine on android but on ios the first and last component are rendering with a shadow at the top and bottom of the list respectively. I am running the newest release of expo which is using

[2017-06-22 04:28] aswinmohanme commented on #441
Tried the First one, and it worked ! Thanks.

Should I keep the issue open or close it ?

[2017-06-22 10:14] webraptor opened #444 "ListItem's avatar uri not working"
### Description
Upgraded from RNE 0.12.2 to RNE 0.13
## Expected
Expected the images used as avatar within the listItem elements to remain the same
## Actually
The images used as avatar within the listItem elements have sizing issues which destroys entire listItem's styling
Visual aids over here: https://github.com/react-native-training/react-native-elements/commit/ae9db39f745955ee09e8581fdf135bd8

[2017-06-22 18:45] filiphosko commented on #441
We can leave it open for now, I'll close it later.

[2017-06-23 03:56] MyTotoro opened #445 "Unknown Vertical Gap in Card with List Child"
### Description

I'm using a Card to wrap a List/Flatlist, I noticed a 'gap' so I add a blue background to see what was contributing to it, I'm not sure how to get rid of this gap

[code]
### Reproduction Steps and Sample Code

![screen shot 2017-06-22 at 11 49 20 pm](https://user-images.githubusercontent.com/3621921/27466043-a63706a4-57a5-11e7-8fc7-2ac0312d3e25.png)

[code]

The List/FlatList imp

[2017-06-23 08:45] roadev commented on #444
+1
Same issue here!

[2017-06-23 10:23] xavier-villelegier commented on #444
Hey @webraptor ,

I think it's more likely because of https://github.com/react-native-training/react-native-elements/commit/7bc2e6f5f0874254b4c56fa27b9f61c3f699fc57, because the `avatarStyle` is not passed to the `avatarStyle` of the Avatar component but to the `containerStyle`. (And this PR was not merged before 12.2 too.)

Does it work if you set your RNE version in your `package.json` to:
[code

[2017-06-23 10:30] webraptor commented on #444
I'm out of the office. I'll be able to check it out on Monday only.

[2017-06-23 14:38] sdotson commented on #426
I'll take a crack at this.

[2017-06-23 22:50] artyomtrityak commented on #428
i don't see any breaking changes made for https://github.com/oblador/react-native-vector-icons/releases/tag/v4.2.0 release that might affect this repo, any real issues have been found except error?

[2017-06-24 05:42] Brhernann commented on #434
Nice!

[2017-06-24 06:29] szymonsitko commented on #434
Also had the same problem, but I managed to fix it. If you follow the installation guide, before you get to step 2 (following tutorial from the official <a href="https://github.com/react-native-training/react-native-elements/blob/master/default_installation.md">repo</a>), install react-native-vector-icons@4.2.0, if still complains install @4.1.1 and finally react-native-elements. It worked for me

[2017-06-24 18:27] binoy14 commented on #436
@mobilemaster5 hopefully that fixes ur issue. I am closing this but if your still having issues feel free to open it again.

[2017-06-24 18:27] #436 closed

[2017-06-25 20:25] filiphosko commented on #203
@binoy14 @Monte9 Is anybody working on this? I have friend who would like to take a crack at it.

[2017-06-25 23:02] Monte9 commented on #203
Nope. Your friend is more than welcome to work on it. 👍

[2017-06-26 06:37] webraptor commented on #444
@xavier-villelegier Yeap, just tested with both #331e194 and #7bc2e6f and I can confirm that #7bc2e6f is the one that introduces the issue.

[2017-06-26 09:16] phodal commented on #443
same issue, and it seems in big screen will should this, like iPhone 7 plus.

[2017-06-26 09:24] xavier-villelegier commented on #444
Yep that's what I was planning. However, I still think that the `ListItem` tries to handle too many things on its own, and I don't know if exposing the entire `Avatar` API through the `ListItem` is a good thing...
I'll open a PR to fix that because it's clearly a regression, thank's for your help @webraptor !

[2017-06-26 11:34] binoy14 commented on #82
@839588378 and @henrydeclety what issue are you having?

[2017-06-26 16:55] nonameolsson commented on #349
How did you solve this? I'm experiencing the same problem.

[2017-06-26 17:20] junctioniv commented on #443
Forgot to mention that this was happening to me on an iPhone 7 plus as well.

[2017-06-26 20:24] PavelPZ commented on #195
I would like to vote for "Compatibility with react-native-web" feature.

Looks like there is not easy way to build UIs across all three platforms (ios/android/web). NativeBase web port is stopped (see https://github.com/Chion82/native-base-web - no NativeBase 2.0 support) and it seems to me that only small step is necessary to make **react-native-elements** ready for true cross platform developmen

[2017-06-26 20:35] jpca999 opened #450 "I wanna use Grid, Row and Col but I get this error : RawText "" must be wrapped in a n explicit <Text> component"
Pls guide, Im new to this...

return (
      <TouchableWithoutFeedback onPress={this.onRowPress.bind(this)} style={styles.mainView} >
        <View >
            <Grid>
                <Row size={3}>  {jobtitle} </Row>
                <Row size={1}> {company} </Row>
            </Grid>
      </View>
      </TouchableWithoutFeedback>

Even this doesnt work

      <TouchableWithoutFeedback onPress={

[2017-06-26 22:38] jpca999 opened #451 "where can I find the whole list of icons ?"
Like here

  {
    title: 'Appointments',
    icon: 'av-timer'
  },
  {
    title: 'Trips',
    icon: 'flight-takeoff'
  }
];

I've added the react-native-elements library inside my component.
I wanna use the more icons like  filght-takeoff  and more  where is the whole list of it ?

[2017-06-26 23:31] jpca999 opened #452 "issue when rounded corners of a button."
![image](https://user-images.githubusercontent.com/1026325/27564482-fa5f7024-5aa5-11e7-9742-0046d0f4b31e.png)

Here's the code,

import React, {
  Component
} from 'react';
import {
  View,
  Text
} from 'react-native';

import { FormLabel, FormInput, Button } from 'react-native-elements'

class UserProfileScreen extends Component {

    static navigationOptions = {
      title: 'My Profile',

[2017-06-27 01:39] idibidiart commented on #385
Hey guys,

This latest examples shows how you can build Universal Apps of consistent UX using nothing but the grid.

This one is about Universal, Responsive Tiles.

https://www.youtube.com/watch?v=x785Qib0ySg

The problem it solves is summarized below:

How to make a tiled screen layout that is highly usable and looks consistent across all screen sizes and aspect ratios, and how to do that using t

[2017-06-27 04:31] binoy14 commented on #349
@nonameolsson you can convert on press to use arrow function which binds it to this `onPress = (person) => { }` or bind onPress. Let me know if you need more help

[2017-06-27 04:37] binoy14 commented on #450
@jpca999 just curious why wrap the grid in a TouchableWithoutFeedback? The grid has an onPress event

[2017-06-27 11:46] binoy14 commented on #451
@jpca999 https://oblador.github.io/react-native-vector-icons/ I am closing this since it's not really an issue

[2017-06-27 11:46] #451 closed

[2017-06-27 12:20] jpca999 commented on #451
It's an issue for me. Why the heck would you close it without pointing me to right direction.

I couldn't understand or locate where the icons are located that's why I asked you... pls answer me, I'm new to react thing.

Sent from my iPhone

[2017-06-27 12:32] nonameolsson commented on #349
@binoy14 Great, thanks!

[2017-06-27 16:34] filiphosko commented on #452
@jpca999 Hi, from the image you posted I don't know what you mean by "corners have a weird crappy look". I see that corners are rounded and that the button is stacked right under the underline of the input box. The other thing is that you are passing a string instead of a number to the ```borderRadius``` prop which by the way is the reason behind some of those warnings you got there. So please try

[2017-06-27 16:35] jpca999 commented on #452
@filiphosko   I appreciate your reply. Dont you see the square edges still there outside the rounded corners ?

[2017-06-27 17:09] filiphosko commented on #450
@jpca999 Hi, this happens because you have some whitespace characters there that are messing with JSX. You have to remove the spaces between your ```Text``` tags and ```Row``` tags. The whitespace characters are text and they are passed like that (as children) to ```Row``` which is a ```View```. Generally it is a good idea to format your code well, preferably using Eslint or maybe Prettier. So you

[2017-06-27 19:55] filiphosko commented on #452
@jpca999 I'm sorry but I can't see any square edges there.

[2017-06-27 20:00] Monte9 commented on #452
@jpca999 I think @filiphosko is right >
```I see that corners are rounded and that the button is stacked right under the underline of the input box.```

Add some `paddingTop` to the button and you'll see what he is talking about.

[2017-06-28 02:26] Monte9 commented on #451
@jpca999 the link @binoy14 point you to is the right answer.

For instance, if you search for `flight-takeoff` on the website, you will get the exact type `MaterialIcons` of the icon as well.

[2017-06-28 03:06] Monte9 commented on #434
@heron2014 I have update the package version to support `react-native-vector-icon@4.2.0`.

Here's the [commit](https://github.com/react-native-training/react-native-elements/pull/438/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) and this exists on the `next` branch.

This should be out in `v0.14.0` coming out within the next few days.

[2017-06-28 03:06] #434 closed

[2017-06-28 03:08] Monte9 commented on #428
@pyyzcwg2833 @artyomtrityak I have updated the package version to support `react-native-vector-icon@4.2.0`.

Here's the [commit](https://github.com/react-native-training/react-native-elements/pull/438/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) and this exists on the `next` branch.

This should be out in `v0.14.0` coming out within the next few days.

[2017-06-28 03:08] #428 closed

[2017-06-28 03:12] #450 closed

[2017-06-28 03:22] Monte9 commented on #445
@MyTotoro yeah, this is a weird one. I briefly looked at the code for `Card.js` and don't see anything that could be causing it.

In order to help us get to the bottom of this, can you please replicate this using [Snack](https://snack.expo.io/)? Thanks.

[2017-06-28 07:48] gsklee opened #453 "Badge: allow an array of elements as children"
Since `<Button>` doesn't support children other than plain text, `<Badge>` seems to be a good choice to create buttons that need a little bit more complex structure. However, `<Badge>` currently warns against multiple child elements:

[code]

Right now this will yield a harmless warning:

[code]

It'd be great if we can change the proptype to allow multiple elements as children.

[2017-06-28 09:40] ChanduB4 opened #454 "Use Checkbox In list view"
Hi

I want to use Checkbox in this listitem please help me

Thanks

[2017-06-28 17:37] A commented on #267
Hello @bozzmob!
I see this in the docs:

But when I'm adding `multiline={true}` to `<FormInput />` I see that it become multiline but it doesn't resize. Is it bug?

<img width="405" alt="screen shot 2017-06-28 at 20 36 59" src="https://user-images.githubusercontent.com/1410106/27651597-8daf6d92-5c41-11e7-9c0b-112dec7214b0.png">

[2017-06-28 17:58] A commented on #267
Looks like it's a bug. I fixed it in #455

[2017-06-28 23:45] iRoachie commented on #302
@tristanpemble I can help on this. Submit to dt instead though

[2017-06-29 04:04] MyTotoro commented on #445
@Monte9

I fixed it by playing around with it:

[code]

This will remove the gap, I have confused why I can't set `margin: 0` and be done with it

[2017-06-29 14:21] desjarlaisdumaishugo opened #456 "Button ripple location when pressing on text"
Pressing on the text or the icon of the button produces the ripple centered from top-left corner, while pressing anywhere else on the button produces the correct ripple. Button from react-native though, produces the correct ripple regardless of where the press happens.

![react-native-elements-button-ripple-bug](https://user-images.githubusercontent.com/29261591/27692387-92386c6a-5cb4-11e7-882a-07

[2017-06-30 10:52] yash2code opened #457 "youtube_searched_for material icon showing '?' in SearchBar component"
[icon url](https://material.io/icons/#ic_youtube_searched_for)

[2017-07-02 01:47] idibidiart commented on #385
@Monte9

I finally arrived at what I'm confident is the right approach for me to take this forward.

I'm going to build an open source community bulletin board app using RNE components that are rewritten using the grid, and make that app as a whole work on all device sizes and aspect ratios. Only by such holistic demonstration will anyone actually get the benefit of using the grid :)

People need

[2017-07-02 11:44] phamhuyhoang95 opened #459 "Searchbar need add event onEndEditing"
Hi !
I am trying to make search method work my app but I only see an onChangeText event from Searchbar document. I want to handle the event when user complete enter text in Searchbar. Can you implement something like onEndEditing?

[2017-07-02 15:43] Babazon commented on #418
Monte, Stephen Grider fixed this in the course where he built this component by reversing the array.

`    return Platform.OS === 'android' ? deck : deck.reverse();` in the SwipeDeck component's render return statement.

But can you tell me how you got swiping to work on Android? Currently nothing happens when I try to swipe on Android, whereas it works smoothly on IOS.

[2017-07-02 17:30] batical opened #460 "SocialIcon - OnPress not working on Android"
### Description
Starting to learn React-native by converting on of my app for fun. Just to say I could have miss lots of thing
1. Explain what you did
SocialIcon Facbook with onPress action
`<SocialIcon
          title={I18n.t('login_facebook')}
          button
          raised
          type="facebook"
          style={{ width: 300, height: 40 }}
          onPress={this.loginWithFacebook}

[2017-07-03 13:16] mleduque opened #461 "FormInput sizing ignores parent"
react-native-elements 0.13

FormInput uses screen width minus 30px (on android) as its own width.
If this component is put inside another component that has its own width, or has a margin, it will overflow its parent.
see https://github.com/react-native-training/react-native-elements/blob/master/src/form/FormInput.js#L72 (android) and https://github.com/react-native-training/react-native-elements/

[2017-07-03 20:48] binoy14 commented on #457
@yash2code Take a look here https://oblador.github.io/react-native-vector-icons/ if you can find the same icon in there

[2017-07-03 20:52] binoy14 commented on #460
@batical Take a look at this snack demo. It seems like it's working for both android and iOS, https://snack.expo.io/ByQuAX_V-

Do you think something else is causing this issue?

[2017-07-03 21:01] binoy14 commented on #453
@gsklee Won't a simple Touchable component work? Trying to understand what use case you will achieve doing this?

[2017-07-03 21:04] binoy14 commented on #459
@phamhuyhoang95 All the TextInput native props are supported. This already works, take a look here at the snack demo https://snack.expo.io/BJLrZNu4Z

Let me know if I can close this issue

[2017-07-03 21:10] binoy14 commented on #454
@ChanduB4 Take a look at the snack demo https://snack.expo.io/ryqjME_VW hope that helps.

Let me know if I can close this issue

[2017-07-03 21:11] binoy14 commented on #456
@desjarlaisdumaishugo Thanks for reporting

[2017-07-03 22:14] jpca999 opened #462 "unable to add searchBar in my component"
The list Items works great but the moment i dad search inside the item i get the error.
Heres a part of my code.

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  Button,
  View
} from 'react-native';

import { SearchBar } from 'react-native-elements';

import { List, ListItem, Divider } from 'react-native-elements'

// import { SideMenu, List, ListItem } f

[2017-07-04 01:56] phamhuyhoang95 commented on #459
Thank you. I will close issue

[2017-07-04 01:56] #459 closed

[2017-07-04 02:06] binoy14 commented on #462
@jpca999 You need to wrap the Search bar in the title prop, not sure if it's just a typo here but check the snack demo. https://snack.expo.io/Skm3w_OV-

Let me know if I can help with anything else

[2017-07-04 07:17] gsklee commented on #453
@binoy14 If there is really no reason to forbid multiple elements as the children then it should be allowed, simple as that. Using a wrapper view is more like a workaround to circumvent a strange design restriction with the negative effect of adding unnecessary structure and performance overhead.

[2017-07-04 07:47] DenisDov commented on #239
`width: '100%'`

[2017-07-04 08:38] tourze commented on #443
I have same issue on my iphone 7s plus. I assign the containerStyle to ListItem:
   containerStyle={{
        backgroundColor: '#fff',
      }}
and then everything is ok.

[2017-07-04 18:07] zunder commented on #302
Is someone of you guys actively working on this one?

[2017-07-04 18:23] iRoachie commented on #302
@zunder will start this weekend

[2017-07-04 20:18] iRoachie commented on #302
Okay it's started, I added the Button component. Will add more as time goes on. Once the initial commit is merged, others can contribute

[2017-07-05 04:19] binoy14 commented on #443
Can someone post a screenshot so whoever is trying to fix it knows what exactly is happening

[2017-07-05 08:07] alphasp commented on #443
![img_0229](https://user-images.githubusercontent.com/2891447/27855176-070a592c-619c-11e7-9b20-f748a151d14d.jpg)

[2017-07-05 08:09] phodal commented on #443
And, this bug can show in iOS simulator

[2017-07-05 12:55] WwoeSsi commented on #110
GUYS THIS IS THE FUTURE. How cool would it be to have one code base for web, android, ios! man.. I really hope this is gonna take off!

[2017-07-05 14:11] iRoachie commented on #302
@Monte9 @binoy14 @dabit3 Can close this issue. I'll actively work on the typings

[2017-07-05 17:52] iRoachie commented on #302
The status of the typings can be seen here https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native-elements/README.md

[2017-07-05 17:59] iRoachie opened #467 "[Docs] Missing header image"
Missing image for the Header component on the docs website.
https://react-native-training.github.io/react-native-elements/API/header/

![screen shot 2017-07-05 at 1 58 46 pm](https://user-images.githubusercontent.com/5962998/27877808-159fc772-618a-11e7-8c4b-95aef504ce6d.png)

[2017-07-05 18:53] jpca999 opened #468 "i cannot find various react-native icons at one place ?"
I have to literary jump so many hoops to get these icons

name='ring-volume'
&      name='flight-takeoff'

    <Icon
        raised
        name='flight-takeoff'
        color='#3F51B5'
       />

    <Icon
        raised
        name=''
        color='#3F51B5'
       />

![icons_-_react_native_elements_ui_toolkit_and_itunes_and_followupscreen_js_ ___movies_dev_react-native-advanced_jobs-x-15_and_

[2017-07-05 22:26] SteveGreenley commented on #78
Still an issue with RNE v0.13.0

[2017-07-06 00:09] btav commented on #468
@jpca999 react-native-elements uses a vector icon package named [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons). You can view all the available icons using the following site. https://oblador.github.io/react-native-vector-icons/

[2017-07-06 09:43] rockus123 commented on #38
I think javascript and react and angular and all these thousands of framework are the wrong way to go.  To complicated in everything.

[2017-07-06 21:40] limoncello commented on #413
Can anybody shine a light on this issues and show how to use _proptypes_ right, since `View.propTypes` got deprecated?

[2017-07-06 22:06] anikets43 opened #470 "Tabs positioning to top when used as nested element"
### Description

I have a login screen which redirects to Home which sets Header and placeholder for Tabs Component(Wallet). Wallet component uses Tabs where tabs are aligning just below header.

Version: "react-native-elements": "^0.13.0"

Home.js
[code]
Wallet.js

[code]
<img width="388" alt="screen shot 2017-07-07 at 3 36 09 am" src="https://user-images.githubusercontent.com/7136799/27934870-7b

[2017-07-06 22:42] stief510 commented on #453
The problem is that Badge can be touchable. If it is then it cannot have more than one child

[2017-07-06 23:32] Monte9 commented on #278
@KeabetsweFx please see @martinezguillaume's answer above.

[2017-07-06 23:32] #278 closed

[2017-07-06 23:37] Monte9 commented on #302
Great work @iRoachie! Thanks for taking the lead on this.

For someone that's interested in using the typed definitions, how would they do so? Also it would be helpful if you added a couple code snippets in your answer as well.

Closing this issue as per @iRoachie's request. But feel free to use this issue to discussion anything related to typescript for RNE.

[2017-07-06 23:37] #302 closed

[2017-07-06 23:42] Monte9 commented on #304
Updated the docs here: https://github.com/react-native-training/react-native-elements/pull/438/commits/68261c1b03bace071e5abbd485cd76ae651008ba

[2017-07-06 23:42] #304 closed

[2017-07-06 23:49] Monte9 commented on #318
Closing this issue now. But if anyone (@RWOverdijk or @nonotest) wants to submit a PR to allow subtitle to be an object or a string, feel free to do so.

[2017-07-06 23:49] #318 closed

[2017-07-06 23:52] Monte9 commented on #334
@pewh feel free to submit a PR for this if you have the time. Or if anyone else wants to work on this, go for it.. this seems like a good idea, and I'll gladly review and merge it in.

[2017-07-06 23:52] Monte9 commented on #216
@binoy14 what's the status on this?

[2017-07-06 23:53] Monte9 commented on #336
Related Feature request #334

[2017-07-06 23:56] Monte9 commented on #375
@sufuf3 what's the status on this? Can this issue be closed?

[2017-07-06 23:59] Monte9 commented on #377
Closing this issue as @martinezguillaume has provided pretty useful examples for using FormValidation. Thanks @martinezguillaume!

If anyone wants to submit a PR to update the docs or if you want to work on the enhancements suggested by @martinezguillaume, please feel free to submit a PR.

[2017-07-06 23:59] #377 closed

[2017-07-07 00:00] Monte9 commented on #385
Sounds good @idibidiart! If you have an expo app demo for it, please feel free to post the link here, so people can check it out.

[2017-07-07 00:04] Monte9 commented on #389
related issue #426

[2017-07-07 00:07] Monte9 commented on #397
ListItem now supports `numberOfLines` in the title and subtitle prop. Please see https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L140

[2017-07-07 00:07] #397 closed

[2017-07-07 00:08] #389 closed

[2017-07-07 00:17] Monte9 commented on #410
@Selman555 sorry for getting back to you this late.

You made a very simple mistake.. if you look at the snack demo the reason the icons other than the first icon don't display correctly is because you are passing the wrong prop to it.

this is what you did > ```icon: 'book-open-variant'```
this is what needs to be done > ```name: 'book-open-variant',```

so the icon name needs to be passes as the

[2017-07-07 00:17] #410 closed

[2017-07-07 00:24] binoy14 commented on #467
@iRoachie Thanks for reporting, this has been fixed and will be released in the next release `0.14.0`

[2017-07-07 00:24] #467 closed

[2017-07-07 00:38] Monte9 commented on #421
Please follow the discussion on #362 or #392

[2017-07-07 00:38] #421 closed

[2017-07-07 00:39] Monte9 commented on #423
@huiming1313 as @filiphosko mentioned above, this is def fixed. Please update RNE to the latest version.

[2017-07-07 00:39] #423 closed

[2017-07-07 00:41] binoy14 commented on #216
Can probably have it added in the button maybe in sometime

[2017-07-07 00:43] binoy14 commented on #375
@sufuf3 Not sure what can I do to help?

[2017-07-07 00:46] #385 closed

[2017-07-07 00:49] Monte9 commented on #422
@gsklee I added this on the docs here: https://github.com/react-native-training/react-native-elements/pull/438/commits/68261c1b03bace071e5abbd485cd76ae651008ba

[2017-07-07 00:49] #422 closed

[2017-07-07 01:11] iRoachie commented on #467
Glad I could help 🎉

[2017-07-07 01:32] iRoachie commented on #302
Sure thing @Monte9.

After installing`react-native-elements` you have 1 extra step to use it with typescript.

`npm i -D @types/react-native-elements` or `yarn add --dev @types/react-native-elements`

After that you're good to go and can use it as normal.

[2017-07-07 02:17] sufuf3 commented on #375
I saw  v0.12.1 and v0.12.2 release from npm but these versions do not release from GitHub.
Could you help to add  v0.12.1 and v0.12.2 to GitHub repo?
Thank you.

[2017-07-07 06:49] martinezguillaume commented on #377
@Monte9 I'll update the docs and see what I can do for the animations !

[2017-07-07 06:52] Monte9 commented on #377
@martinezguillaume I appreciate that. 👍 Also fyi, we have an open collective and funds from that are going straight to the contributors. 😉

[2017-07-07 07:56] Monte9 commented on #457
@yash2code Here's how to use it with RNE

[code]

[2017-07-07 07:56] #457 closed

[2017-07-07 07:58] Monte9 commented on #454
@binoy14 Great use of Snack to demo this use case. 💯

[2017-07-07 07:58] #454 closed

[2017-07-07 08:04] Monte9 commented on #443
@alphasp's fix for this has been merged and will be released in `v0.14.0` soon.

Please feel free to reopen id this is still an issue on `v0.14.0`

[2017-07-07 08:04] #443 closed

[2017-07-07 08:06] Monte9 commented on #110
Def pretty exciting @WwoeSsi.

@binoy14 I am opening this issue again to see if it can get some steam moving forward.

A good place to start is if someone can test it on web and attach screenshots of what's broken, what looks decent. ( 🤑 Open collective dollars to anyone willing to submit a PR)

[2017-07-07 08:22] Monte9 commented on #78
@SteveGreenley pushed a fix to `v0.14.0` here: https://github.com/react-native-training/react-native-elements/pull/438/commits/8a6318fb9935a404cd9170b6733f49d3e5c47710

This works on v0.14.0

[code]

[2017-07-07 08:30] Monte9 commented on #470
@anikets43 that's def weird. I would think it has something to do with the way the TabBar perform within a ScrollView. Try putting it in a View and see if that fixes it.

As far as `Tabs` and `SideMenu` is concerned, I'd recommend using `react-navigation` instead. We are going to be deprecating `Tabs` and `SideMenu` in our next release `v0.14.0`.

[2017-07-07 08:32] Monte9 commented on #468
@jpca999 Please check older issues before opening new ones. https://github.com/react-native-training/react-native-elements/issues/451#issuecomment-311539053

Also thanks @btav for the right answer!

[2017-07-07 08:32] #468 closed

[2017-07-07 08:35] Monte9 commented on #462
Please see @binoy14's answer above. Also [here](https://react-native-training.github.io/react-native-elements/API/lists/) are the docs if you are curious to know more about the props for List & ListItems.

[2017-07-07 08:35] #462 closed

[2017-07-07 08:37] #452 closed

[2017-07-07 09:59] rjpounder opened #471 "<Image>with children is deprecated in <Tile>"
### Description

There is an issue with new react native throwing out warnings for <Image> having children being deprecated, using the latest react-native-elements AFAIK. I found it in Tils.js, didn't delve any deeper but I'm sure there will be others.

### Solution

Suggests to use ImageBackground

### Edit

Just to clarify, https://github.com/react-native-training/react-native-elements/blob/mast

[2017-07-07 10:01] EnriqueDev commented on #461
Can be easily solved swapping
`width: window-30`
for
`width: 100%`

this way the TextInput takes the container width instead of its own.

[2017-07-07 12:07] anikets43 commented on #470
@Monte9 I did try using <View> but no luck. I will definitely give a try to` react-navigation` and revert to you.

[2017-07-07 14:59] MaxwellGover opened #472 "Tabs causing weird layout issues?"
### Description

The tabs element seems to be causing some weird layout issues. I have a router file in which I'm also using react-native-router-flux. I wrap `<Router/>` in a `<View>` with a flex of 1. This view renders fine as you can see by the orange background extending all the way to the tabs. But all other scenes I give a flex of 1 as well expecting them to render full screen but they stop i

[2017-07-07 16:36] elichai commented on #436
I have this issue too, Tired linking and deleting node_modules and installing again.
still get: `npm WARN react-native-elements@0.13.0 requires a peer of react-native-vector-icons@~4.1.1 but none was installed.`
although I have `"react-native-vector-icons": "^4.2.0"` installed. (maybe it's because it's too new?)

[2017-07-07 20:41] pdoggi commented on #388
@boomfly @neo125874

One way to set the rating before the PR from @leonfeng is released is to use the built in [`setCurrentRating(value)` function](https://github.com/react-native-training/react-native-elements/blob/master/src/rating/Rating.js#L177). [Add a ref to the element](https://facebook.github.io/react/docs/refs-and-the-dom.html) and directly call `setCurrentRating` on the rating element.

[2017-07-07 21:14] Monte9 commented on #436
@elichai this should be fixed in the upcoming release `v0.14.0`. Keep an eye out for it.

[2017-07-07 23:58] MaxwellGover commented on #472
This seems to be a react-native-router-flux issue.

[2017-07-07 23:58] #472 closed

[2017-07-08 18:16] anqurvanillapy opened #473 "Header icon color style goes wrong in API docs"
- The docs for `<Header/>` API goes wrong about setting the icon's color
    + `leftComponent={{ icon: 'menu', style: { color: '#fff'} }}`
    + Should be `leftComponent={{ icon: 'menu', color: '#fff' }}`
- I take some kinda reference from `react-native-vector-icons` for I tried a lot changing the icon color but failed at following the docs
- My dependencies fragments:

[code]

- I'm new to this c

[2017-07-08 19:54] binoy14 commented on #473
@anqurvanillapy I believe your right, the docs don't seem to look correct. I will double check and update the docs. Thanks for reporting!

Happy to help with anything else you have questions on. You can join our slack channel and also ask questions there. https://reactnativetraining.herokuapp.com/

[2017-07-08 19:55] binoy14 commented on #471
@rjpounder what version of react native was this introduced. I tried searching for your suggestion in the docs but couldn't find anything. Can you maybe provide some links with the resources, that would be a great help.

[2017-07-09 04:42] maheshgupta opened #474 "Ripple on the Button"
Hi, Im trying to use the Button, but the Ripple is not restricted to the button and the ripple is crossing the button. Please find the attached image and let me know if there is any setting required.
![screenshot-1499575070372](https://user-images.githubusercontent.com/1017914/27991280-1e688542-6437-11e7-84ee-a429e6b0a792.jpg)

Thanks

[2017-07-09 15:20] yash2code commented on #444
same issue . Is it resolved or is there any alternative ?

[2017-07-09 16:02] xavier-villelegier commented on #444
@yash2code The fix has been merged and should be in the next release.
The alternative for now is to use a custom Avatar component
[code]

[2017-07-09 16:29] iRoachie opened #476 "Missing images in docs"
Header - https://react-native-training.github.io/react-native-elements/API/header/
Slider - https://react-native-training.github.io/react-native-elements/API/slider/
Swipedeck - https://react-native-training.github.io/react-native-elements/API/swipedeck/

[2017-07-09 17:55] Monte9 commented on #444
@yash2code just release `v0.14.0`. It should have a fix on it. Please report back if this is still an issue.

[2017-07-09 18:03] Monte9 commented on #476
@iRoachie check again! 😉

Yeah, this was fixed by @filiphosko in the previous release. See this https://github.com/react-native-training/react-native-elements/commit/edd7b4d2df34db0c43f308f5a8dc066d1033aa6b

Thanks for the issue tho. 👏

[2017-07-09 18:03] #476 closed

[2017-07-09 18:15] Monte9 commented on #473
@anqurvanillapy thanks for the issue. This has been fixed in the latest release `v0.14.0`

@caphun make the fixes in this commit https://github.com/react-native-training/react-native-elements/commit/2d1c28eed11be1dce199d90b0fd535e6cbb33190

Thanks for the issue tho. 👏

[2017-07-09 18:15] #473 closed

[2017-07-09 18:16] Monte9 commented on #472
@MaxwellGover that's good to know. Thanks for reporting back and closing the issue. 👍

[2017-07-09 18:17] Monte9 commented on #470
@anikets43 please see this issue. https://github.com/react-native-training/react-native-elements/issues/472#issuecomment-313818721

[2017-07-09 18:17] #470 closed

[2017-07-09 18:51] iRoachie commented on #476
My bad! 😆 will check releases next ime

[2017-07-10 03:11] wuyunqiang commented on #418
SwipeDeck/renderCards change code to
 <Animated.View key={item.id} style={[styles.cardStyle, {zIndex: 0}]}>
            {this.props.renderCard(item)}
  </Animated.View>
will be OK.

[2017-07-10 03:16] yash2code commented on #444
@Monte9  not working

[2017-07-10 04:35] webraptor commented on #444
The fix has introduced new props. avatarstyle remains but I think avatarContainerStyle was added

[2017-07-10 07:01] yash2code commented on #444
@Monte9  @webraptor  I rechecked the docs. I am still not able to increase the size of avatar . Tried avatarStyle avatarContainerStyle avatarOverlayContainerStyle . Styling for containers works but that doesn't affect the avatar .

avatarContainerStyle | none | object (style) | Avatar outer container styling (optional)
avatarOverlayContainerStyle

avatarContainerStyle | none | object (style) | Ava

[2017-07-10 07:12] yash2code opened #478 "badge styling not working"
In the docs badge example is not working in sense of styling

[2017-07-10 08:24] rjpounder commented on #471
https://github.com/facebook/react-native/commit/9637dd4a1b78d5f6da510b1b4ad10d45d67badbf

[2017-07-10 09:06] xavier-villelegier commented on #444
@yash2code Can you give me a sample of a `ListItem` using `avatarStyle` that was working before in order to be able to have an example of what it was supposed to do ?

[2017-07-10 09:18] yash2code commented on #444
@xavier-villelegier  This is my code and being clear that `avatarStyle` was not working before too :

[code]

[2017-07-10 09:22] xavier-villelegier commented on #444
Oh okay I though it was working ! So @webraptor what do you mean by "can no longer be set" in the issue title ? You said that it was working for you before the merge of https://github.com/react-native-training/react-native-elements/commit/7bc2e6f5f0874254b4c56fa27b9f61c3f699fc57, can you give us an example of how you made it work ?

[2017-07-10 10:28] webraptor commented on #444
We previously had below styling applied to _avatarStyle_. Now it is applied to _avatarContainerStyle_

`{
    width: 60,
    height: 60,
    backgroundColor: theme.colors.deltaMedium,
    borderRadius: 30,
    overflow: 'hidden'
  },`

[2017-07-10 10:31] yash2code commented on #444
@webraptor As i have mentioned , `avatarContainerStyle`  is not working for avatar though the background of avatar is  affected.

[2017-07-10 10:35] webraptor commented on #444
I don't know what to say then. Must be some sort of conflict or issue between your outer wrapping elements and how avatar component is constructed. Did you look into the source of the avatar component to understand how it is built?

[2017-07-10 10:37] yash2code commented on #444
@webraptor  fetching avatar uri from [randomuser.me](https://randomuser.me)

[2017-07-10 10:41] webraptor commented on #444
@yash2code I don't see how that's rrelevant to the problem at hand.

[2017-07-10 10:43] yash2code commented on #444
@webraptor  exactly, here 's the code:

[code]

[2017-07-10 10:48] webraptor commented on #444
`avatarStyle={{borderRadius:50, height:100, width:100 }} `
should be
`avatarContainerStyle={{borderRadius:50, height:100, width:100 }}`

This is how listItem constructs the avatar section:
`
<View style={styles.avatar}>
  {React.isValidElement(avatar)
    ? avatar
    : <Avatar
        avatarStyle={avatarStyle && avatarStyle}
        containerStyle={avatarContainerStyle && avatarContainerStyle}

[2017-07-10 10:50] yash2code commented on #444
@webraptor  already tried i have mentioned above :(

[2017-07-10 10:52] webraptor commented on #444
In that case, just like I said before, it's probably due to some construction / styling conflicts you have on your side of the code. You should use the inspector to track down the issue.

[2017-07-10 10:53] yash2code commented on #444
@webraptor the code above is all that have styling

[2017-07-10 10:59] webraptor commented on #444
Try replacing
`avatar={{ uri: item.picture.thumbnail }} avatarStyle={{borderRadius:50, height:100, width:100 }}`
with
`
avatar={<Image source={{ uri: item.picture.thumbnail }} style={{borderRadius:50, height:100, width:100 }} />}
`
and see what happens

[2017-07-10 11:10] yash2code commented on #444
@webraptor cool and tnx , it worked . Still I think package or docs  should be fixed. tnx again :)

[2017-07-10 11:29] xavier-villelegier commented on #444
@yash2code @webraptor I'm just curious to know if using `width` and `height` props of the `Avatar` would have worked ?
[code]

[2017-07-10 11:32] webraptor commented on #444
@xavier-villelegier I think so because you're also using the _Avatar_ component directly, just like I mentioned direct _Image_ usage earlier. The problem was only affecting those using image source for the avatar property of the listItem.

[2017-07-10 16:42] yash2code commented on #256
not working

[code]

[2017-07-10 18:42] binoy14 commented on #478
@yash2code could you please provide more information what exactly is not working. Screenshots will be very helpful

[2017-07-11 05:27] Monte9 commented on #375
Looks like the latest version `v0.14.0` is on cdnjs [here](https://cdnjs.com/libraries/react-native-elements).

Closing this issue now. Please open again if future versions are not distributed automatically.

[2017-07-11 05:27] #375 closed

[2017-07-11 06:13] Monte9 commented on #444
@webraptor thanks for helping debug this issue.

There still seems to be a issue with not being able to use the `uri` on the avatar prop for the ListItem. Reopening this issue in case anyone wants to submit a PR for this.

[2017-07-11 06:16] Monte9 commented on #256
Thanks for reporting @yash2code. It would be most useful if you can create a Snack demo with the issue you create.

Here's a good place to start: https://snack.expo.io/rJu6gJfBZ

[2017-07-11 06:24] keith527 opened #479 "<Tile> prop "activeOpacity " doesn't work"
### Description
I use the <Tile> in my Demo, But I want to set activeOpacity to "0.95",but doesn't work.

There is my code:

[code]

I use the latest version of react-native-elements

[2017-07-11 06:31] keith527 commented on #478
I meet the same problem.
[code]

but the result is:
<img width="321" alt="2017-07-11 2 33 12" src="https://user-images.githubusercontent.com/10461842/28053929-9eee2130-6645-11e7-80be-ad04ddb17e2d.png">

[2017-07-11 06:40] Monte9 commented on #479
Unable to reproduce it. Please see this [Snack demo](https://snack.expo.io/BJ0nMeGBZ)

[2017-07-11 06:40] yash2code commented on #478
![whatsapp image 2017-07-11 at 12 08 21](https://user-images.githubusercontent.com/20199248/28054289-f9486226-6631-11e7-8a36-865be9a63d10.jpeg)

here is my code:

[code]

[2017-07-11 07:05] sufuf3 commented on #375
Thank you.

[2017-07-11 13:42] anishclarion opened #480 "[FormInput] font size is changing"
When we are changing the font size in the android/ios devices it is changing the element font size in our app, is there any way to prevent that, I have used Text.defaultProps.allowFontScaling=false; but it is not working on FormInput components.

[2017-07-12 08:57] mnlbox opened #481 "<Tile> onPress fired with a loooooong delay (after 3 or 4 second)"
I try render list of Tile components with a simple `map` like this:
[code]
But onPress fired with a loooooong delay (after 3 or 4 second)
Please see delay between when I tap on Tile and when you see `console.warn("item.id = " + item.id);` output in below gif:
![tilepressdelay](https://user-images.githubusercontent.com/25859075/28109774-7e1330c0-6705-11e7-8db9-79cce5aa6fb5.gif)

And also this is my

[2017-07-12 08:58] mnlbox commented on #481
Maybe related to #395 , #408

[2017-07-12 09:10] martinezguillaume commented on #417
`clearIcon` needs to be an object like this
[code]
In your example above, it's just a boolean

[2017-07-12 11:47] rubycop commented on #417
@martinezguillaume I'm sorry it was a first raw my example.
Now I have `icon` and `clearIcon` too
[code]
`icon` attr works fine but not `clearIcon`

[2017-07-12 12:48] mnlbox commented on #481
I found a very interesting note: If I start "Remote JS Debugging" long delay gone. Why this happens? How to fix this completely?

[2017-07-13 00:23] DrPandemic opened #486 "Updates dependencies for deprecated prop-types"
### Description
1. Trying the new react.16.x.alpha.
2. Be able to run my tests.
3. Some packages used by `react-native-elements` throw errors. I'm using `^0.14.0`.

### Reproduction Steps and Sample Code
I'm using a `List` and `ListItem` in a component and I receive this error when importing it. I'm not sure the link between the `List` and the tab...
[code]
or
[code]

### Solution
I had 2 errors r

[2017-07-13 03:16] namphuongtran opened #487 "React Native: Usage ListItem has an error 10534 Attempted to transition from state `RESPONDER_INACTIVE_PRESS_IN` to `RESPONDER_ACTIVE_LONG_PRESS_IN`, which is not supported. This is most likely due to `Touchable.longPressDelayTimeout` not being cancelled."
Hi, I use React Native Element lib, when i create a list view usage List and ListItem component i got an error some time such as: 10534 Attempted to transition from state `RESPONDER_INACTIVE_PRESS_IN` to `RESPONDER_ACTIVE_LONG_PRESS_IN`, which is not supported. This is most likely due to `Touchable.longPressDelayTimeout` not being cancelled.
This error occur when i click to List Item. Thus i resea

[2017-07-13 07:24] namphuongtran commented on #413
I had same error when used react native "react": "16.0.0-alpha.12", "react-native": "0.46.2",
Hope it will be fix ASAP

[2017-07-13 13:04] iRoachie commented on #413
@binoy14 If this is still open. We could use a polyfill sort of approach where we use ViewPropTypes if it's available, and fallback to View.propTypes if not. I did a similar fix for BackHandler in another repo https://github.com/xotahal/react-native-material-ui/pull/143/files

[2017-07-14 04:48] binoy14 commented on #413
It has been fixed and merged in the next branch. You can try running next branch and let me know if it it's still an issue

[2017-07-14 07:58] namphuongtran commented on #413
hi @binoy14 ,
how can i get next branch to try running?
Thanks

[2017-07-14 11:53] iRoachie commented on #413
@namphuongtran You can install it directly with npm.
`npm install --save https://github.com/react-native-training/react-native-elements.git\#next`
`yarn add  https://github.com/react-native-training/react-native-elements.git\#next`

[2017-07-14 12:32] gamingumar opened #490 "Cache Button Fonts"
How to cache fonts before starting the expo app.
I am using button in my welcome screen like this
`<Button
            large
            raised
            icon={{ name: 'location-on' }}
            title="Use My Current Location"
            backgroundColor={APP_GREEN_COLOR}
            color="white"
            onPress={() => {
              this.props.navigation.navigate('SignIn');

[2017-07-14 14:08] MattyK14 opened #491 "Raised prop not applying to <Button /> on Android"
### Description

1. Explain what you did

Applied the `raised` prop to the `<Button />` component.

**Sample:**
[code]
2. What you expected to happen

I expected the `<Button raised />` to appear to be raised.

3. What actually happens

The button is raised on iOS but not on Android.

iOS:

![screen shot 2017-07-14 at 11 28 33 am](https://user-images.githubusercontent.com/16196171/28215481-c434d85

[2017-07-15 06:30] jeffreyrajanofficial opened #493 "Couple of issues in button"
Hi I am new to React-Native, I was trying to do

1.  Stretch the button to available space using flex.
  The button is not getting stretched no matter what I do, I tried using `alignSelf:'stretch'` `flexDirection:'row'` none works.
2. Adding a vector facebook icon to the button using vector name: 'facebook'.
3. Adding a radius to the button which is in the raised state.
  When I add a raised prop

[2017-07-15 12:35] cubehouse commented on #478
Looking through the commit history, I found this change: https://github.com/react-native-training/react-native-elements/commit/45b02f92691f8db78ce4f00c1ccc760cdd72bbb6

The documentation for the Badge component was updated, but not for the ListItem.

To fix this, replace "badgeContainerStyle" with "containerStyle" and "badgeTextStyle" with "textStyle".

I'll pull request with a documentation fix w

[2017-07-15 13:59] Bersam commented on #418
There's another bug, when i set marginTop to swipedeck's cards, anything in top of wipedeck is untouchable. actually, if try swipe there, card will be change, it might be something with swipedeck container. I've used sample code on docs.

[2017-07-15 16:09] nonotest commented on #318
Hello,
sorry been busy with other stuff.

this is what it could look like:

![card_example](https://user-images.githubusercontent.com/2551341/28240816-ca42fbda-69ba-11e7-9c7a-3add77663fd8.png)

maybe just have 2 new props that each accept a component eg

titleRightComponent
titleLeftComponent

?
I ll have more time next week to send something.

[2017-07-15 16:19] nonotest opened #496 "SwipeDeck suggestion"
Hello,

the other popular swipe deck component (https://github.com/meteor-factory/react-native-tinder-swipe-cards) has this really useful feature called "loop".

it works great if you want to keep looping through the cards when you are done looking at the cards in current deck.

should simply be a matter of something like (not tested)

[code]

i can submit a pr if interested, or just copy and test

[2017-07-16 06:52] yeknava opened #498 "Form Label font wont change"
### Description

1. Explain what you did
Add fontFamily prop to FormLabel component
[code]
2. What you expected to happen
Label fonts change
3. What actually happens
Nothing happened, i tried with both bold and light fonts. my font is ttf format and it is working on other RN components, its even work on FormValidationMessage.

RN 46.2, RE 0.14, Android 7

[2017-07-16 08:48] FredyC opened #499 "[SocialIcon] Invalid prop `onLongPress` of type `boolean`"
### Description

Fairly simple bug in code logic. When the `SocialIcon` is disabled, the `onLongPress` receives `false` value.
I am running version 0.14.0 of elements.

### Reproduction Steps and Sample Code

I am not sure if the Snack has some different version or somehow it's blocking warnings, but I could not reproduce it there. However looking at the code it's kinda obvious error.

https://sna

[2017-07-16 09:38] mnlbox commented on #481
@Monte9 have you any suggestion?

[2017-07-16 12:31] iRoachie commented on #498
@yeknava Hey could you tell me what font you were trying to apply? I can't reproduce this locally. Where you using create-react-app or normal react-native init?

[2017-07-16 12:34] LAITONEN commented on #82
@binoy14  I am getting this warning in Expo:
Warning: 'react-native-vector-icons' peer depencency missing. Run `npm ls` in /Users/JohnSmith/workspace/MyApps/cat_pic-scroller to see full warning.

If there is an issue running your project, please run `npm install` in /Users/JohnSmith/workspace/MyApps/cat_pic_scroller and restart.

[2017-07-16 12:38] #499 closed

[2017-07-16 13:07] iRoachie commented on #493
Hey @jeffreyrajanofficial Thanks for the report.

1. If you want the want to change the width of the button you have the use the `containerViewStyle` prop instead of buttonStyle.

2. The `icon` prop takes in an object of `name, type, color, size`. By default if you don't specify the `type` then it'll default to a MaterialIcon and there isn't a "Facebook"  Material icon. [Here's a list](https://obl

[2017-07-16 13:44] yeknava commented on #498
@iRoachie hey, its a unicode compatible font (persian font) and yes i used react-native init.
again as i said my font works well with FormValidationMessage.

[2017-07-16 14:48] arunreddyj opened #501 "SearchBar observations"
1. SearchBar "clearIcon" is shown by default. Even though there is no search text. in iOS, clearIcon should be shown only if there is search text to clear ( Thats the behavior in all apps )
2. Is there a way to center align search icon & place holder text? And on focus, move the alignment to left. That seems to be the pattern in all iOS apps.

Version: 0.13.0

[2017-07-16 15:07] jeffreyrajanofficial commented on #493
Thanks @iRoachie  :)

[2017-07-16 15:37] #493 closed

[2017-07-17 00:21] ShailajaV opened #502 "View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead."
I am using the following versions in my app
"react": "^16.0.0-alpha.12",
"react-native": "^0.46.2",
"react-native-elements": "^0.14.0"

After i install react-native-elements i.e. npm install --save react-native-elements getting following errors.
Error1:
 **View.propTypes has been deprecated and will be removed in a future version of ReactNative. Use ViewPropTypes instead.**

This error is coming f

[2017-07-17 01:13] iRoachie commented on #502
Hey @ShailajaV thanks for filing an issue. We have it fixed and it'll be shipping in the next release.

[2017-07-17 01:13] #502 closed

[2017-07-17 02:48] namphuongtran commented on #413
Thank @iRoachie ,
i had tried to install as you wrote, but i got this error like picture bellow
![screenhunter_01 jul 17 09 45](https://user-images.githubusercontent.com/12570413/28254224-022f6860-6ad5-11e7-912a-9b7cb20ad2df.gif)

[2017-07-17 06:23] anishclarion commented on #480
Please suggest some solution.

[2017-07-17 07:46] wuyunqiang opened #503 "ListItem：Unrecognized font family 'Material Icons'"
### Description

1. Explain what you did

code:
 <List containerStyle={{ marginBottom: 20 }}>
          {
                      list.map((l, i) => (
                        <ListItem
                          roundAvatar
                          onPress={() => console.log('Pressed')}
                          avatar={l.avatar_url}
                          key={i}
                          title=

[2017-07-17 13:49] iRoachie commented on #503
@wuyunqiang We use `react-native-vector-icons` under the hood for showing icons. Did you link the library at setup?

`react-native link react-native-vector-icons`

[2017-07-18 02:30] wuyunqiang commented on #503
@iRoachie  yes I link.
I used  react-native-vector-icons for tab.

[2017-07-18 02:37] binoy14 commented on #490
@gamingumar I was not able to recreate it, I don't think this is caused because of the button. As a test, can you try removing the button and see if it still an issue. If it is we can look at it.

[2017-07-18 02:44] binoy14 commented on #413
@namphuongtran try `yarn add git://github.com/react-native-training/react-native-elements.git#next` or `npm install git://github.com/react-native-training/react-native-elements.git#next` or you can simply replace the version in your package.json and replace it with `git://github.com/react-native-training/react-native-elements.git#next`

[2017-07-18 02:58] binoy14 commented on #478
Thanks @cubehouse for the fix, hopefully this helps. Closing this but if you still have an issue feel free to open it again.

[2017-07-18 02:58] #478 closed

[2017-07-18 03:03] binoy14 commented on #503
@wuyunqiang What version of react-native-vector-icons are you using?

[2017-07-18 03:37] wuyunqiang commented on #503
@binoy14
"react-native-vector-icons": "^4.2.0",

[2017-07-18 05:20] iRoachie commented on #444
Hey @Monte9 I couldn't reproduce this on Snack or locally. Is it `avatar={{ uri: l.avatar_url }}` on the `ListItem`.

If so here's a snack with it working as expected. https://snack.expo.io/BJsr5MsSb

[2017-07-18 05:31] iRoachie commented on #445
@Monte9 @MyTotoro While running tests, I don't think this is an actual bug. It looks like the container style for the `List` component which has a default `marginTop: 20`. That's why it appears like it has a huge gap at the top.

Closing this as solved, however feel free to reopen if you run into it again.

[2017-07-18 05:31] #445 closed

[2017-07-18 05:46] iRoachie commented on #498
@yeknava Can you upload your project to GitHub so I could take a look? I just did some tests on FormLabel and the font family changes.

[2017-07-18 06:02] yash2code commented on #444
@iRoachie remove the Stylesheet , its working
![asd](https://user-images.githubusercontent.com/20199248/28302717-b5d3cc12-6bac-11e7-9a30-22da68afadfd.PNG)

[2017-07-18 06:10] iRoachie commented on #444
Seems to be resolved then. Feel free to reopen if the problem pops up again.

[2017-07-18 06:10] #444 closed

[2017-07-18 06:34] namphuongtran commented on #413
Hi @binoy14 ,
i had installed next version like your instruction but i still have error like before
![screenhunter_04 jul 18 12 03](https://user-images.githubusercontent.com/12570413/28303500-bfb0b45a-6bbd-11e7-94e1-eaac3fbc2977.gif)
![screenhunter_03 jul 18 12 02](https://user-images.githubusercontent.com/12570413/28303501-bfb247b6-6bbd-11e7-935f-f2c88c178894.gif)

[2017-07-18 06:35] namphuongtran commented on #413
![screenhunter_05 jul 18 13 32](https://user-images.githubusercontent.com/12570413/28303525-d991e4ca-6bbd-11e7-82e7-4d813a3b4b43.gif)
This is my config in pakage.json file.

[2017-07-18 06:38] iRoachie commented on #413
@namphuongtran The warnings will still show. Even though we deprecated the Tabs component, we're still referencing it as an dependency for our package. We don't want to remove a component someone might be using in production so deprecating is a way of giving them a notice. In a future release we'll remove it completely, so we won't have that problem.

[2017-07-18 06:51] namphuongtran commented on #413
Thank @iRoachie ,

[2017-07-18 08:10] #431 closed

[2017-07-18 08:10] #453 closed

[2017-07-18 08:10] #471 closed

[2017-07-18 08:10] #491 closed

[2017-07-18 09:17] namphuongtran commented on #413
Hi @iRoachie ,
as i know react native elements just release new version "react-native-elements": "^0.15.0"? is it right?

[2017-07-18 10:37] hemedani opened #505 "RTL support"
any road map to support right to left language ?

[2017-07-18 11:20] binoy14 commented on #413
@namphuongtran Yes, there was a release last night

Closing this as it will be fixed in future release and it's not really an issue with RNE.

[2017-07-18 11:20] #413 closed

[2017-07-18 11:26] binoy14 commented on #503
@wuyunqiang did you try removing node_modules and reinstalling it? Could you also provide the code your using causing this issue and finally try using snack.expo.io to check if you can reproduce this bug there.

[2017-07-18 11:30] binoy14 commented on #480
Cc @monte9 any ideas?

[2017-07-18 11:31] binoy14 commented on #505
Not in the immediate future, feel free to submit a PR and we can help review it and merge it.

[2017-07-18 11:34] binoy14 commented on #481
@mnlbox how many times do you have in the map? I will try to recreate it with similar number

[2017-07-18 12:01] hemedani commented on #505
thanks

[2017-07-18 20:39] M-Jas commented on #240
Not opening the issue back up, but we could change the link in the docs to [react-native-vector-icons](http://ionicframework.com/docs/ionicons/) and not [ionic-icons](http://ionicons.com/).
I was also having issues with some ionic icons not working(ex: ios-telephone-outline), it seems like the naming is off.
Granted the ionic site has a link to the new batch, but this could prevent more questions.

[2017-07-19 07:21] yeknava commented on #498
@iRoachie i found the bug. after i removed [this line](https://github.com/react-native-training/react-native-elements/blob/master/src/form/FormLabel.js#L57) everything works.
btw, a hackish solution that also works is:
[code]

[2017-07-19 07:21] #498 closed

[2017-07-19 11:25] iRoachie commented on #501
This sounds like a cool idea to implement, should it only behave this way on iOS or on android as well?

[2017-07-19 11:31] iRoachie commented on #496
Hey @nonotest we deprecated the SwipeDeck component in the [last release](https://github.com/react-native-training/react-native-elements/releases/tag/v0.15.0) and now it's development is happening in another repo. I suggest you open the issue at that repo instead so it can be added in. https://github.com/Monte9/react-native-tinder-cards

[2017-07-19 11:31] #496 closed

[2017-07-19 11:46] iRoachie commented on #419
@Monte9 I think we can change how this works for v1 however it'll be a breaking change. Instead the `checkedIcon` and `uncheckedIcon` could take in an icon object which has `type, name, color, size, style` like the other icon props from rn-vector-icons.

[2017-07-19 11:51] iRoachie commented on #418
Hey guys we deprecated the SwipeDeck component in the [last release](https://github.com/react-native-training/react-native-elements/releases/tag/v0.15.0) and now it's development is happening in another repo. I suggest you open the issue at that repo instead so it can be tracked and added in. https://github.com/Monte9/react-native-tinder-cards

[2017-07-19 11:51] #418 closed

[2017-07-19 11:51] nonotest commented on #496
Ahh gotcha didn't see the deprecation.

On Wed, 19 Jul 2017 at 7:31 pm, Kyle Roach <notifications@github.com> wrote:

[2017-07-19 16:10] MichaelSzer opened #506 "Can't install react-native-vector-icons@4.2.0"
UNMET PEER DEPENDENCY react-native-vector-icons@4.2.0

[2017-07-20 01:41] binoy14 commented on #240
@M-Jas I'll update it, thanks for the suggestion

[2017-07-20 01:43] binoy14 commented on #506
@MichaelSzer did you run npm install react-native-vector-icons and react-native link react-native-vector-icons? Unmet peer dependency doesn't necessarily mean you were not able to install it.

[2017-07-20 02:34] binoy14 commented on #498
@yeknava The reason for that is probably because the font you are using does not support the fontWeight option and due to that reason it is not changing. You don't want to edit node_modules as it will get reverted on running npm install, rather I would suggest labelStyle prop everywhere you are using FormLabel. Hope that helps

[2017-07-20 08:04] yeknava commented on #498
@binoy14 yes i think so, btw i tried with roboto and droid sans fonts too but neither work. thank you yes i use fontWeight option in label style as primary solution.

[2017-07-20 10:58] gamingumar commented on #490
@binoy14 i have checked, the issue is being caused because of icon font, if i comment it out the issue is solved, also in ios it takes a lot of time to load fonts, i want to cache fonts

[2017-07-20 12:29] iRoachie commented on #490
That seems pretty odd, I’ve never encountered with react-native-vector-icons on iOS and I have a few apps in production. I’m interested to see if this a problem with how expo loads fonts asynchronously.

[2017-07-20 17:34] MichaelSzer commented on #506
Yes, I have noticed that. Despite the warnings, it works. Thanks!

[2017-07-21 01:02] MichaelSzer opened #508 "ListItem title and subtitle completely blank"
I have an Array:
[code]
When I try to render it, a blank screen appears:
[code]
![whatsapp image 2017-07-20 at 10 00 52 pm](https://user-images.githubusercontent.com/25836143/28444948-0b6d7b50-6d97-11e7-9f8a-b9aa374e4a16.jpeg)

[2017-07-21 01:03] #506 closed

[2017-07-21 01:11] MichaelSzer commented on #508
flex: 1 didn't adjust it width, solution: "width: '100%'"

[2017-07-21 01:11] #508 closed

[2017-07-21 11:44] binoy14 commented on #498
@yeknava I tried with robot and other fonts and it seemed to work on both Android and iOS

[2017-07-21 19:55] lax1n opened #509 "ListItem TextInput placeholder support"
### TextInput in ListItem should support placeholders

Using `"react-native-elements": "^0.14.0"`

1. Tried adding a placeholder to a `ListItem` with `textInput={true}`
2. Expected a placeholder to appear on the right side in the list item.
3. No placeholder appears.

### Reproduction Steps and Sample Code

Following the already established naming convention I attempted to add a placeholder to the

[2017-07-22 00:55] acahir opened #510 "Add Ability disable SelectedIndex in ButtonGroup"
### Description

Add a bool prop to disable the Touchable container for the currently selected button.

This allows for a more accurate reproduction of SegmentedControlIOS highlighting during onPress and avoids possibly unnecessary reloads.

Pull Request to follow.

v0.15.0

### Solution

PR to Follow

[2017-07-22 08:05] yeknava commented on #498
@binoy14 maybe it just happens on my setup (RN 46.2, RE 0.14, Android 7)

[2017-07-22 11:02] SteveGreenley commented on #78
Thank you @Monte9. It's working nicely.

[2017-07-22 15:46] acahir opened #513 "Add ButtonGroup option to ListItem"
### Description

Extend ListItem with option to include a ButtonGroup on right side, modeled after Switch. Useful for quick 2-3 option selections instead of opening action menu or a new screen.

Example image:
![listitem buttongroup](https://user-images.githubusercontent.com/1418251/28492432-beb3f744-6ed1-11e7-8d97-0c89709a1878.png)

Wondering if this functionality is desired for inclusion, if so

[2017-07-22 18:24] abartolo opened #515 "Header component rendering properly?"
### Description
Hello,

I am using ReactNavigation to handle the navigation of my app. For certain screen I need to make a custom header as Drawer Navigation does not render a header with a menu icon. In order to handle that I planned on using React-Native-Elements Header component to fit this missing feature I need.

However when I add the following component it does not push the content below it

[2017-07-22 18:37] Ranlevi commented on #515
Same issue here. I try to place a text below the header - but it ends up above it. This is the code:

`  <View>
        <Header
          backgroundColor={'green'}
          leftComponent={<Icon
                            name="menu"
                            color="blue"
                            onPress= {()=> this.props.navigation.navigate('PodcastsRoute')}
                          />

[2017-07-22 22:36] jfilter commented on #335
I had this bug while upgrading from v0.13.0 to v0.15.0 with `npm install react-native-elements@latest` but removing & reinstalling solved it.

[2017-07-23 07:02] peteroid commented on #431
Seems this also affects the <Card /> component. Passing empty string to the title props will throw the `RawText "" must be wrapped ...` error

[2017-07-23 07:14] peteroid opened #516 "Passing empty string as title of <Card /> will throw error"
To reproduce this error, just put the card element below in your project.

[code]

A quick fix would be add a `null` catch to the empty as `title={"" || null}`.

Versions:
- react-native-elements@0.15.0
- react-native@0.45.0

[2017-07-23 14:11] mr-bat opened #517 "Rating background color doesn't work properly. [bug]"
when using background color in rating component it only fills inside of the pictures with the provided color and so, the real background (surrounding of the pictures) would be unchanged.

This case happened to me in the code below
`<Ratin
  type='custom'
  ratingBackgroundColor='red'
  showRating
  imageSize={30}
  onFinishRating={this.ratingCompleted}
  style={{ paddingVertical: 10 }}
/>`
I want

[2017-07-23 14:25] jeffreyrajanofficial opened #518 "Button raised creates card like view below button - Android"
Hi I am using the latest version of react-native-elements (0.15.0), I tried to add raised props to the button it works perfectly in iOS but when it comes to android it creates a card like view behind the button. Here's the code I am using

[code]
The result I am getting in Android device

<img width="396" alt="screen shot 2017-07-23 at 7 43 47 pm" src="https://user-images.githubusercontent.com/163

[2017-07-23 14:55] xavier-villelegier commented on #518
Hey @jeffreyrajanofficial, if you test on Expo Snack, it is the opposite, it works on Android but not iOS 🤔 [see here](https://snack.expo.io/rkcKwNzIW)

But I managed to have a clean button on both platform by doing
[code]

[2017-07-23 17:28] jeffreyrajanofficial commented on #518
Thanks @xavier-villelegier the example you have given here is working :)

[2017-07-23 17:38] sunilkumarc opened #519 "Getting warning saying Grid, Row and Col are deprecated"
I'm trying to use Grid, Row and Col components in my expo application. But I'm getting warning saying these components are deprecated and will be removed in future version of react native elements. What should I do?

[2017-07-24 05:14] iRoachie commented on #519
Hey @sunilkumarc it means we are no longer supporting those components and they're going to be removed soon form the library. Grid, Row and Col were only `<View />` components that had a `flexDirection` styling. We initially added them for new beginners starting with the library. However now we think that persons using react native should learn and get familiar with flex box and styling.

Here's a

[2017-07-24 05:14] #519 closed

[2017-07-24 05:19] iRoachie commented on #517
Hey @mr-bat You can use the `style` prop and set the background color there.

[code]

[2017-07-24 05:26] sunilkumarc commented on #519
Makes sense. Thanks for the information.

[2017-07-24 05:26] peteroid commented on #334
In my use case, I want to put video or custom object on the card to replace the image component. Is this `imageComponent` the way to go ? Or should I put all those media objects as the children in the card instead ?

[2017-07-24 07:54] keyeh commented on #490
I'm also using Exponent and getting the same error with the same behavior; It only happens with the `icon` prop.
[code]

I'm on "expo": "19.0.0", "react": "16.0.0-alpha.12"

[2017-07-24 12:28] iRoachie commented on #515
@Ranlevi Hey! You don't need to use RNE Header to display a menu button with react navigation. You can actually pass in your icon in the headerRight property

[code]

[2017-07-24 12:29] iRoachie commented on #515
In my example above `NavButton` is just a custom component I made with a `<TouchableOpacity>` with an `<Icon>` inside

[2017-07-24 13:00] iRoachie opened #521 "ThemeProvider"
Simple wrapper component that passes down the theme colors to every component.

[2017-07-24 13:09] mr-bat commented on #517
actually, it doesn't solve the problem. because the module creates copies of an image which has a transparent center (in this case the stars). I solved my problem with merely creating another image from the resources and changed the surroundings of the star!

[2017-07-24 14:30] Ranlevi commented on #515
@iRoachie Thanks! I'll try it out :-)

[2017-07-24 14:44] peacechen commented on #502
Also getting this from TabNavigator.

Tabs.js line 3:
```import TabNavigator from 'react-native-tab-navigator';```

react-native-tab-navigator -- Tab.js:
[code]

[2017-07-24 14:47] iRoachie commented on #502
@peacechen The warnings will still show. Even though we deprecated the Tab, Tabs component, we're still referencing it as an dependency for our package. We don't want to remove a component someone might be using in production so deprecating is a way of giving them a notice. In a future release we'll remove it completely, so we won't have that problem.

[2017-07-24 16:31] bevalH opened #522 "ButtonGroup selectedTextStyle does not work"
Hi,  when i use ButtonGroup and custom selectedTextStyle, but it not work. please help me!

version:
------------------------------------------
[code]
code:
--------------------------------------------------------------------
[code]

[2017-07-25 00:03] abartolo commented on #515
@iRoachie Thanks for the reply. I tried adding an icon to render for the headerLeft but it did not work. I don't think headerLeft is a valid option within a drawer navigation stack. Please find the code below.

In regards to why the header component isn't pusing content down, is there something I am missing or is that how it is supposed to work?

[code]

[2017-07-25 02:02] iRoachie commented on #515
Sorry I guess I wasn't being clear. For this to work Dashboard has to be in a StackNavigator.

So setup your drawer like normal
[code]

Then in my `Dashboard` file

[code]

[2017-07-25 03:04] abartolo commented on #515
@iRoachie Thanks for the detailed explanation. I rearranged my navigation to go Stack>Drawer(Inside all stacks) and it worked perfectly. Now I just have to make the headerLeft Menu button look stylish.

Thanks again for the help I appreciate it.

[2017-07-25 03:08] iRoachie commented on #515
Sure thing mate! Enjoy!

[2017-07-25 03:08] #515 closed

[2017-07-25 04:55] paulohenriquesg commented on #349
@binoy14 I still didn't get this to work. Can you, please, expand a little on your answer?

Thank you!

[2017-07-25 14:16] yghanem opened #525 "SearchBar onChange not triggered once clicking on clearIcon"
I added a SearchBar to a listView following the direction stated in the documentation

<SearchBar
        lightTheme
        textInputRef='searchActivity'
        onChangeText={this._searchActivity}
        clearIcon={this.state.searchClearIcon}
        placeholder='Search Activity...' />

onChange works if I am typing and deleting text using the keyboard, and if I click on the clearIcon the text

[2017-07-25 20:21] nonameolsson commented on #349
I think this is how you should do. I can't promise it will work because I haven't tried your code.
[code]

[2017-07-26 05:51] pewh commented on #487
I have same issue, but on Button. I throw an error on my Sony Ultra Z (Lollipop), but it's work on other android device like Jelly Bean & Nougat. I didn't have any clue :/

[2017-07-26 08:21] nfplay commented on #519
Hi @iRoachie , thank you for your work on react-native-elements, it's a stellar module, full of functionalities.

I must say i was a bit surprised about Grid, Row and Col deprecation. Normally functionalities get deprecated because they no longer serve their purpose well, or a better alternative has come up. In this case, it is being abandoned because people should learn how it is made? I find thi

[2017-07-26 11:36] iRoachie commented on #519
@nfplay Thanks for your words. I'm actually one of the newest maintainers here, and the decision to deprecate those components was made before I came.

Flexbox is at the heart of react native interfaces, and you'll probably use it even to build the simplest of apps. Grid, Row, and Col are very simple components built around flexbox.

**Grid**
Grid is just a `<View>` with style of `flexDirection: '

[2017-07-26 12:02] richa-dua commented on #327
Has this been fixed? Can I position it to right end after hiding chevron?

[2017-07-26 13:09] anishtr4 commented on #480
Guys any solution ?

[2017-07-26 13:11] iRoachie commented on #480
@binoy14 @anishtr4 I don't think there's an easy way to get around this. The problem is that we use a normalize function https://github.com/react-native-training/react-native-elements/blob/master/src/helpers/normalizeText.js to smartly calculate the font size based on screen size and pixel density

[2017-07-26 13:14] anishtr4 commented on #480
@iRoachie  Is there any way to remove/prevent this for a specific input/Form fields ?

[2017-07-26 13:16] iRoachie commented on #480
@anishtr4 I'm thinking around making a `normalizeFontSize` prop, in which you can set to false.

[2017-07-26 13:18] anishtr4 commented on #480
@iRoachie I will be great if you can add this feature ASAP, As we are in a critical condition :(

[2017-07-26 13:56] iRoachie commented on #480
@anishtr4 You can try it out now on the next branch. Change your package.json to use
`"react-native-elements": "https://github.com/react-native-training/react-native-elements.git#next"`

Set the `normalizeFontSize={false}`

[2017-07-26 14:00] anishtr4 commented on #480
@iRoachie  Thank you , I will try it out, Hope you will not remove the branch in future.

[2017-07-26 14:02] iRoachie commented on #480
@anishtr4 If it works, then it'll be merge into the main branch for everyone to use

[2017-07-26 14:19] anishtr4 commented on #480
@iRoachie  Will let you know by EOD .

[2017-07-26 16:00] violy commented on #412
I've the same issue. works fine with @buncismamen answer. Thanks.

[2017-07-26 18:08] iRoachie opened #526 "Switch react-native-vector-icons to peerDependency"
References https://github.com/react-native-training/react-native-elements/commit/681e9a344fe5f4889fb4f4931b6561ed9faf28c4#commitcomment-23316865

Also update installation docs

[2017-07-26 19:56] xavier-villelegier commented on #490
Hey @gamingumar
In the Tab Navigation demo of expo, they cache fonts like that:

[code]

if you use icons from multiple fonts, you load them like that:
[code]

With that, the font is cached during the loading screen, and you don't have to wait for the icon to appear. Maybe it will do the job for your issue.

[2017-07-26 22:20] peacechen commented on #417
The [SearchBar documentation](https://react-native-training.github.io/react-native-elements/API/searchbar/) says that the default for clearIcon is `{ color: '#86939e', name: 'search' }`.  It doesn't default to that, it defaults to nothing if omitted.  The default should also be something like close instead of search.  Guessing someone copied that from the icon line.

Additionally, on iOS RN 0.45.1

[2017-07-27 00:16] binoy14 commented on #521
@iRoachie Take a look at #216 It's a duplicate of that I would suggest to close this

[2017-07-27 00:16] iRoachie commented on #521
Thanks!

[2017-07-27 00:16] #521 closed

[2017-07-27 00:24] binoy14 commented on #513
Adding the Full buttonGroup api as props is not a good idea, Instead having a prop such as rightComponent where you can pass in a custom component is more extendable.

With just button group
[code]

With button group and a badge

[code]

Doing this is more extendable and more maintainable. I believe @Monte9 is working on rewriting the ListItem component. Coordinate with him on this

[2017-07-27 00:27] iRoachie commented on #513
Planned for v1 @binoy14

[2017-07-27 05:28] acahir commented on #513
Yea seemed like there might be a better solution, that's why I asked vs just submitting a PR. The props list is already quite long. Thanks for the response, and all the work on the module.

@Monte9 Not sure what the current status is, but let me know if there's something I could help with.

[2017-07-27 06:44] Monte9 commented on #526
@iRoachie I have added it as a peerDependency back again. [This is the commit that adds it.](https://github.com/react-native-training/react-native-elements/commit/7cd1af211ae823e429b0a8de0c31faa2f52436b7#diff-b9cfc7f2cdf78a7f4b91a753d10865a2)

[peerDependency](https://yarnpkg.com/lang/en/docs/dependency-types/#toc-peerdependencies)

Also there is no need to update the docs as they are already up t

[2017-07-27 06:44] #526 closed

[2017-07-27 06:51] Monte9 commented on #424
@peacechen I looked at the src and it looks like it's handling the prop correctly. Can update RNE to  `v0.15.0` and try again as we only maintain the latest version.

If you are still having issues on `RNE@latest`, I'd be happy to add a fix for it. Lmk.

[2017-07-27 07:48] Monte9 commented on #516
@peteroid this has been fixed on [this commit](https://github.com/react-native-training/react-native-elements/commit/08befcde762c474da736693d8eaead1ed4e3eae8#diff-b593786846659d96a896ce98f3731315).

It should be out in `v0.16.0` coming out in the next week or so. Feel free to reopen if this is not fixed in the next version.