[2021-03-27 07:18] khushal87 commented on #2922
This would really be great as most of the React native projects uses Jest and React native testing library now, therefore we can work on it. @pranshuchittora. I would like to have a look and work on this issue

[2021-03-27 07:20] arpitBhalla commented on #2922
@khushal87 may I too work on this please?

[2021-03-27 07:21] khushal87 commented on #2922
Sure, let's collaborate, no worries.

[2021-03-27 07:25] #2900 closed

[2021-03-27 07:37] HariAcidReign commented on #2918
@flyingcircle @pranshuchittora Absolutely! The Footer bar is normally used to navigate screens and the library we used in RNE-app for the sidebar can be used to make a standard sticky footer bar. So me making that is redundant.
But what if, I want a footer bar (which by default is hidden) that I can swipe up from the bottom to see different functionalities or CTA buttons? This is as far as I can s

[2021-03-27 08:21] pranshuchittora commented on #2922
@khushal87 @arpitBhalla this is just an RFC, therefore we require some more comments to take the decision, collectively.

[2021-03-27 08:24] pranshuchittora commented on #2918
This can be achieved with Gesture Handler and Reanimated. Pls try to understand the scope of the project.

[2021-03-27 08:45] khushal87 commented on #2922
Okay sure sir

[2021-03-27 09:39] HariAcidReign commented on #2918
Very well. I'll close this issue and work on something else

[2021-03-27 09:39] #2918 closed

[2021-03-27 09:46] HariAcidReign commented on #2918
@flyingcircle @pranshuchittora As of now, I don't think a footer bar can be used for anything other than Navi and showing additional features. However, if there is any other variation of this feature that you feel can benefit this project, kindly let me know. I'll be happy to work on it 🙌🏻

[2021-03-27 11:38] panda919 opened #2923 "Tooltip closeOnlyOnBackdropPress effect is not working"
**Explain what you did (Required)**

 I have been used tooltip with  closeOnlyOnBackdropPress .

**Expected behavior (Required)**

Tooltip has to dismiss when only overlay text is clicked

**Describe the bug (Required)**

But. tootlip overlay (popover) UI is invisible when click tooltip.
**To Reproduce (Required)**

`
   <SafeAreaView style={styles.container}>
            <Text>Open up App.js to s

[2021-03-27 11:59] panda919 commented on #2923
Means I have to instal react-native-element@next version?

[2021-03-27 12:00] arpitBhalla commented on #2923
Please wait till maintainer review the code 😅

[2021-03-27 12:07] arpitBhalla commented on #2414
@anandhakumarpalanisamy Hey👋, `Modal` is used for this,

Please See this
https://material.io/components/tooltips

[2021-03-27 18:14] pranshuchittora commented on #2904
1. I think this is not required as this seems to be very easily accomplished by anyone.
2. This is not a building block / composable component.
3. Personally I never came across any requirement for this component.

[2021-03-27 18:29] khushal87 commented on #2904
People generally tend to use packages for the same so I thought if we have the same here, users can take it from here. Talking about the counter, we use it in the cart feature of e-commerce or it can have other users too. @pranshuchittora

[2021-03-28 16:22] #2798 closed

[2021-03-28 16:29] flyingcircle commented on #2904
I generally agree with @pranshuchittora on this one. This is like the "hello world" of learning react hooks. And the use case is quite limited. I appreciate the thought, but I think we'll pass on this one.

[2021-03-28 16:29] #2904 closed

[2021-03-28 16:35] khushal87 commented on #2904
Okay. Thank you @flyingcircle

[2021-03-28 17:11] flyingcircle commented on #2854
It seems to me that this API is a little too complicated for this library. This library is a simple set of base components that are easily extendable. Compare this to the Compare it to the API here: https://www.npmjs.com/package/react-native-toast-message where the API, setup, styling, and extendibility are all readily apparent and easy to understand. I don't think we want to overly complicate thi

[2021-03-28 17:11] #2854 closed

[2021-03-29 06:15] maxikgreat commented on #2922
Ye, that's a good solution @pranshuchittora. Moving to ```@testing-library/react-native``` is a cool idea. A couple of projects what I was working on already used it and this library had left mostly a good impression for me. Additionally, it has a similar API to familiar web frameworks and good docs as well 💪

However, as always, refactoring will take some time

[2021-03-29 09:06] singhakshita commented on #2878
if i create isBlurred , isClear, isfocused , props and that would be assigned value true or false , on the actions of event listeners ,will that solve the issue ?

[2021-03-29 13:22] flyingcircle commented on #2922
^I agree with the move. Maintaining snapshots can be difficult and of dubious value. (People would have to actually review them and understand what their changes mean which usually doesn't happen).

[2021-03-29 13:25] maxikgreat commented on #2922
Could it be a new idea for GSoC? @flyingcircle Why not?

[2021-03-29 16:01] flyingcircle commented on #2878
I'm wondering if this is being caused by the `withTheme` typing. Either way here is a workaround to the original example code:
[code]

There is a small error in the TS that I see that `placeholder` needs to be optional, but that's a small side issue. We could export a separate `SearchBarClass` that isn't wrapped with `withTheme` and I think that would work, but that seems to be a dirty fix.

[2021-03-30 00:30] flyingcircle opened #2929 "Strict TypeScript"
A good goal for all TS libraries is to get to a point where we can turn on 'strict' mode in the `ts.config`. If you do so as of the time I'm writing this ticket, it shows that there about 170 errors when 'strict' mode has been turned on.

So, there's a lot of possible work here so no need to submit a PR solving everything (but please don't solve just 1 thing either. Try to solve a good chunk befor

[2021-03-30 07:44] Viktor-TechForm opened #2932 "Typescript errors when merging declarations to extend theme"
**Explain what you did (Required)**

I tried to extend the default theme following the guide on your documentation, under "Customization -> TypeScript Definitions (extending the default theme)". I've tried it on `react-native-elements@3.3.2` where the typescript error occurs, and on `react-native-elements@3.2.0` where it doesn't.

I also want to mention that the guide doesn't properly explain that

[2021-03-30 17:39] Dynelc opened #2934 "npm install causes error unable to resolve dependency tree"
I forked and cloned react-native-elements. But when i tried to install package with npm install it causes error unable to resolve dependency tree.
npm version on my machine: 7.6.1

[2021-03-30 18:05] arpitBhalla commented on #2934
do `yarn install`

[2021-03-30 18:30] Dynelc commented on #2934
yes i did installed with yarn

[2021-03-31 04:59] Yunicorn228 commented on #2929
@flyingcircle Hi Jeremy, I'm trying to participate in this project in the Google Summer of code, however, I can not join the slack channel, I'm fairly new to open source projects and really need some help.

[2021-03-31 10:16] Enigmage commented on #2934
@Dynelc getting the same issue on npm version `7.6.5`. This has do with new [peer dependency management](https://blog.logrocket.com/whats-new-in-npm-v7/) in npm 7. A work around to this, if you don't want to downgrade your npm version, is to install deps with `--legacy-peer-deps` flag, like:

``` $ npm install --legacy-peer-deps```

This makes npm 7 behave like legacy npm versions(4 to 6). Tested

[2021-04-01 11:27] Dhananjayan-PN commented on #2922
@pranshuchittora, I definitely feel that moving to Jext x React Native Testing Library would be a great decision. I agree with @flyingcircle, when writing tests after developing a component I find myself looking at the snapshots more than once to understand how the component is laid out, which defeats the purpose of writing unit tests in making sure the tests you write check what you "know" about

[2021-04-02 06:04] HariAcidReign opened #2936 "Proposal for Snackbars"
**Is your feature request related to a problem? Please Describe.**

https://material.io/components/snackbars

**Describe the solution you'd like**

The purpose of this component is to show an error or a success message temporarily and disappears on its own without requiring user input to be dismissed.

**Additional context**

Once this component has been created here, I will be making a screen in

[2021-04-02 09:24] HariAcidReign opened #2937 "Proposal for Carousel component"
**Is your feature request related to a problem? Please Describe.**

A carousel component with swipeable cards/images takes up less screen size and is very intuitive as well. It doesn't obstruct user view and provides a good UI experience in both Portrait and Landscape modes.

**Describe the solution you'd like**

Right now the component exists in https://github.com/meliorence/react-native-snap-car

[2021-04-02 10:45] HariAcidReign opened #2938 "Proposal for Video Component"
**Is your feature request related to a problem? Please Describe.**

There is currently no `Video` component in RNE. An example of what this component is:
https://shoutem.github.io/docs/ui-toolkit/components/video

**Describe the solution you'd like**

When the link to the video and other dimensions are passed as props, it should be able to render the video properly in Webview.
This is what I want

[2021-04-02 14:01] HariAcidReign commented on #2936
Closing it courtesy of #2906

[2021-04-02 14:01] #2936 closed

[2021-04-02 14:42] pranshuchittora opened #2939 "[RFC]: Migration of all press interactions to Pressable Component"
**Description**
Pressable is a Core Component wrapper that can detect various stages of press interactions on any of its defined children.

**Why?**
As per the official React Native docs -> https://reactnative.dev/docs/touchablehighlight

This is a generic component and is the one-stop solution for all the press interactions.

Let's Discuss 📢

[2021-04-02 14:53] khushal87 commented on #2939
This really is a good idea as this will ensure uniformity of all the touchable events. We can really have it here in the package.

[2021-04-02 17:16] HariAcidReign commented on #2939
This looks interesting. Matter of fact, I saw this as a new feature in the RN docs just today. Definitely more intuitive than `Touchable` components, so we can consider replacing them with this. Reminds me of the 3-D touch alternative in older iOS devices where you hold down on the component to peek into it. Plus, this will be useful for using the components on small screens where you have a high

[2021-04-02 17:44] arpitBhalla commented on #2939
That's a great Idea

[2021-04-02 17:53] hetanthakkar1 commented on #2939
This is a great idea

[2021-04-03 05:37] arpitBhalla opened #2940 "New Component List Accordion"
*Is your feature request related to a problem? Please Describe.*
List Accordion
An expansion panel is a lightweight container that may either stand alone or be connected to a larger surface, such as a card.

They may be used for a variety of tasks, such as:
- To edit a setting
- To create a tool for ad campaigns

Reference
- https://callstack.github.io/react-native-paper/list-accordion-group.html

[2021-04-03 05:43] arpitBhalla commented on #2940
@pranshuchittora  May I work on this?

[2021-04-03 12:03] pranshuchittora commented on #2866
I am not able to repro this in the `next` branch code.
![Screenshot from 2021-04-03 17-31-42](https://user-images.githubusercontent.com/32242596/113477839-7c8a8e00-94a2-11eb-8167-211a29862a56.png)

And I am able to call `reff.current.focus()` without any error.
This will be released in the next release cycle
Feel free to reopen this.

[2021-04-03 12:03] #2866 closed

[2021-04-03 12:30] CIPHERTron opened #2941 "Feature Request: Discord and Slack Icons"
**Is your feature request related to a problem? Please Describe.**

Add Discord and Slack Icons to the set of icons list. I feel these icons are necessary because nowadays, most of the communities, organizations have their workspace either in discord or slack. I personally have felt the need for these two particular icons. Thus, I was planning to add these two icons to the icon list.

**Describe t

[2021-04-03 12:36] pranshuchittora opened #2942 "Support for referencing branch on github instead of npm as the package version"
**Description**
Until `v3` RNE supports direct reference to the git branch as the dependency.
[code]

With the current version (next) it is not possible to directly reference the branch as the new source is written in TS and hence require an additional build step in order to compatible with all the RN projects / apps.

**Possible Approach**
One of the possible ways is to build and deploy the code

[2021-04-03 12:38] pranshuchittora commented on #2942
Open to different approaches / implementations

[2021-04-03 23:22] flyingcircle commented on #2942
This was done in the RNE-app by adding a `postinstall` step: https://github.com/react-native-elements/react-native-elements-app/blob/next/package.json#L21

[2021-04-03 23:23] flyingcircle commented on #2941
I'm not sure what you're asking for here. It sounds like you found the icons that you want?

[2021-04-03 23:29] flyingcircle commented on #2940
I think that is being done here: https://github.com/react-native-elements/react-native-elements/pull/2944

[2021-04-03 23:39] flyingcircle commented on #2799
@hetanthakkar1 did a really good job refactoring. To such a point that I think that we maybe don't need to go this route of building a completely new version: #2875

[2021-04-03 23:39] #2799 closed

[2021-04-03 23:43] #2934 closed

[2021-04-03 23:50] arpitBhalla commented on #2940
@flyingcircle it's different,

[2021-04-04 00:10] arpitBhalla commented on #2940
@flyingcircle

[2021-04-04 03:54] arpitBhalla commented on #2940
@flyingcircle I am near to completion, can you check my approch I  making subcomponent as `ListItem.Accordion`

[2021-04-04 07:24] PrathamSinghSaluja commented on #2939
That is a great Idea and also implemented on Animations component buttons in react-native-elements-app repo.

[2021-04-04 10:07] CIPHERTron commented on #2941
@flyingcircle  Since the RNE app doesn't have the above-mentioned icons, I was proposing that we can add those icons to the RNE app.

[2021-04-04 11:35] pranshuchittora commented on #2942
1. This will work only in UNIX based devices.
2. The idea is that anyone can reference the dist branch from the GitHub without any postinstall build step

[2021-04-04 11:36] pranshuchittora commented on #2942
With the changes in #2943
On pushing to the next branch it runs the build step in CI and pushes the generated build to the dist branch

[2021-04-04 17:05] nonameolsson commented on #1005
Yeah, I have been struggling with this problem the last days. After much debugging I think I found the problem.

The solution was very simple. I have a `babel.config.js`, and had to add ` "babel-preset-expo"` to `presets`.

After that I removed `node_modules`, `.expo` and `yarn.lock`. After that I installed modules with `yarn` and then started the packager with `expo start -c`.

`babel.config.js`

[2021-04-04 18:06] flyingcircle commented on #2941
RNE supports all the icons listed here: https://oblador.github.io/react-native-vector-icons/ . So again, not sure what you mean by RNE not having them. You can already accomplish this with the RNE `Icon` component: https://reactnativeelements.com/docs/icon

[2021-04-04 18:06] #2941 closed

[2021-04-04 18:08] flyingcircle commented on #2922
@maxikgreat Yes I would find this an acceptable thing for gsoc.

[2021-04-04 18:11] flyingcircle commented on #2940
@arpitBhalla If you can accomplish the same thing as that other PR but with a simpler method like a `ListItem.Accordion` subcomponent, that would be very much preferable to entire new set of code in the Dropdown PR.

[2021-04-06 03:13] vinhnglx commented on #1035
@loolooii the react-native-training has been changed to react-native-elements, so the correct link is: https://github.com/react-native-elements/react-native-elements/issues/535#issuecomment-320197586

[2021-04-06 06:15] HariAcidReign opened #2947 "Proposal for Calendar and Time Components"
**Is your feature request related to a problem? Please Describe.**

A calendar component can be used to select a Date/Month/Year value with ease, and the time component can be used to select the Hour: Minute: Second value with ease.

**Describe the solution you'd like**

https://material.io/components/time-pickers/android
https://material.io/components/date-pickers

**Additional context**

Open to

[2021-04-06 07:05] RyanTG commented on #563
I know this is ancient, but just in case anyone else finds this here is what worked for me:

[code]

[2021-04-06 12:36] abdulsamad commented on #2929
Hi Jeremy, Is this issue resolved or can I give it a try? Is somebody working on it?
@flyingcircle

[2021-04-07 08:03] PrathamSinghSaluja opened #2948 "Proposal For QR Code Scanner"
**Is your feature request related to a problem? Please Describe.**

A QR Code Scanner can help in scanning the code and get information attached with the QR Code. It would be of great help.

**Describe the solution you'd like**

https://reactnativeexample.com/tag/qr-code/

**Describe alternatives you've considered**

Open to alternatives and feedback, and willing to implement on both RNE and RNE-a

[2021-04-07 08:48] HariAcidReign commented on #2948
A QR scanner is not a UI element, it is more of a standalone functionality. Apart from the camera module, there is not much front end to it. Also, there are already many libraries that integrate this functionality with a React Native app, so I don't know why there is a need to create that functionality here. Just my two cents 💰

[2021-04-07 10:59] PrathamSinghSaluja commented on #2948
Not Frontend but we can connect backend with it and make our own QR Codes and can add a functionality to the app. It can lead to opportunities.

[2021-04-07 11:54] pranshuchittora commented on #2948
@PrathamSinghSaluja thanks for the idea, but this is not related to the UI component library.

[2021-04-07 11:54] #2948 closed

[2021-04-08 05:11] HariAcidReign opened #2950 "New Slider Prop (for double ended slider)"
**Is your feature request related to a problem? Please Describe.**

Currently in a slider, the `minimumValue` denotes the value of the lowest possible number choosable and `maximumValue` is the converse.
What if, I want to create a double-ended slider.  Like this:
https://www.npmjs.com/package/react-native-range-slider

Usecases: Choosing a range of prices to shop (eg. in Amazon mobile app)

**Des

[2021-04-08 05:12] HariAcidReign commented on #2950
I'll be modifying the schema in RNE, and implement the demo in RNE-app if the idea is accepted. 🎉

[2021-04-08 06:31] hengkx commented on #2514
Is it possible to add showTitle to support loading with title?

[2021-04-08 21:27] tidusjar commented on #2878
What about the missing `value` prop?
I would have thought this prop type would have been pretty key as it's required for the searchbar to work correctly

[2021-04-08 23:21] joaomrcsmartins opened #2954 "Badge property 'textStyle' has type ViewStyle instead of TextStyle"
**Explain what you did (Required)**

I used several Badges to work as category tags.

**Expected behavior (Required)**

I wanted to change the text color using *textStyle* attribute:
[code]

**Describe the bug (Required)**

An error shows because the *textStyle* type is not TextStyle, but ViewStyle

**To Reproduce (Required)**

Just use a Badge and try to pass TextStyle attributes in the *textStyl

[2021-04-08 23:26] joaomrcsmartins commented on #2954
I just realized that what I want can be achieved by simply doing the styling on the Text component I have for the value. But still, there is a mismatch between the docs and the package code, so I won't close it atm

[2021-04-09 02:31] vinceniko commented on #2932
I believe the fix is to add `import "react-native-elements"` at the top of the file as such:

[code]

[2021-04-09 06:57] khushal87 commented on #2954
Can I pick up this issue and solve it? @joaomrcsmartins

[2021-04-09 13:39] joaomrcsmartins commented on #2954
Yes, of course :smile:

[2021-04-10 14:13] Aparus opened #2955 "Input style={{textAlign:center}} makes cursor go to the right"
![photo5445356866302489425](https://user-images.githubusercontent.com/1222611/114272741-05b04080-9a20-11eb-8fde-430686b11789.jpg)

**Your Environment (Required):**

Expo Go (android)

| software              | version |
| --------------------- | ------- |
| react-native-elements |   3.3.2      |
| react-native          |     0.63.2    |

[2021-04-10 14:55] arpitBhalla commented on #2955
![Screenshot_1618066503](https://user-images.githubusercontent.com/55053424/114274184-e96dcd00-9a3a-11eb-8c44-903b21071ee3.png)

[2021-04-10 15:17] Aparus commented on #2955
expo diagnostics:
[code]

[2021-04-10 15:19] arpitBhalla commented on #2955
Can you again check, I am not getting that
![Screenshot_1618066503](https://user-images.githubusercontent.com/55053424/114274909-24bdcb00-9a3e-11eb-8fb2-9ddff8a7f941.png)

[2021-04-10 15:28] Aparus commented on #2955
@arpitBhalla  Thank you. I am sorry for disturbing you.
When I closed completely Expo Go and reopened it (with reload), cursor now in the center.

[2021-04-10 15:28] #2955 closed

[2021-04-10 18:12] PrathamSinghSaluja opened #2956 "Floating Bubble"
**Is your feature request related to a problem? Please Describe.**

Let us add a new feature of Floating Bubble in RN App. It can help in increasing User Functionality by dragging it , clicking it or if not in use remove it.

**Describe the solution you'd like**

https://www.npmjs.com/package/react-native-floating-bubble

**Describe alternatives you've considered**

Open to alternatives and feedba

[2021-04-10 21:14] #2942 closed

[2021-04-11 00:01] flyingcircle commented on #2956
The package already exists, so it seems pretty unnecessary to add here.

[2021-04-11 00:01] #2956 closed

[2021-04-11 00:02] flyingcircle commented on #2950
Duplicate of #15

[2021-04-11 00:02] #2950 closed

[2021-04-11 00:03] flyingcircle commented on #2938
I don't think this is necessary. Its a pretty specific widget and doesn't really have many needed themable pieces.

[2021-04-11 00:03] #2938 closed

[2021-04-11 00:04] flyingcircle commented on #2947
This already exists in this package: https://github.com/react-native-datetimepicker/datetimepicker

[2021-04-11 00:04] #2947 closed

[2021-04-11 04:53] HariAcidReign commented on #15
@flyingcircle Apologies for the duplicate ticket, but the idea is still worth implementing right? I've read all the closed PRs and issues on this thread, and I think I can work on implementing the Slider ideas 2 and 3. Is it alright if I start working on adding them to the library and then to the app?

[2021-04-11 06:15] HariAcidReign commented on #94
@flyingcircle Is this feature still a requirement for the library? And if yes, can I work on this issue?

[2021-04-11 06:24] HariAcidReign commented on #190
This feature still doesn't exist in the library, so I am considering the idea of building a new custom notification component from the ground up instead of depending on an NPM package. @flyingcircle thoughts? Can I work on this idea too?

[2021-04-11 06:30] HariAcidReign commented on #2947
I think the Wix component is a better option i.e. https://github.com/react-native-elements/react-native-elements/issues/214
So, closing this makes sense. Thank you!

[2021-04-11 11:24] anthowm commented on #2754
This will be available in next release ?

[2021-04-11 16:23] mhimanshu712 commented on #2922
I like this idea as well!

[2021-04-11 16:51] mhimanshu712 commented on #15
I would like to work on it as well. @flyingcircle

[2021-04-12 04:10] #2940 closed

[2021-04-12 06:26] mpochron commented on #2954
I am having issue too with TextStyle.

[2021-04-12 07:09] khushal87 commented on #2954
@mpochron will be fixed soon

[2021-04-12 09:28] mpochron opened #2957 "Tooltip - attribute "ref" is missing typescript (manually programiccally)"
**Explain what you did (Required)**

**Expected behavior (Required)**

**Describe the bug (Required)**

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If not, list the steps that a reviewer can take to reproduce the behaviour:

**Screenshots (Required)**

**Your Environment (Required):**

| software              | version |
| --------

[2021-04-12 12:41] HugoGresse opened #2958 "Android Button ripple overflow (regression)"
**Explain what you did (Required)**
Given a <Button> with default styling, the ripple overflow everything and make a big circle

**Expected behavior (Required)**

Ripple contained within the button, not overflowing

**Describe the bug (Required)**

This [PR](https://github.com/react-native-elements/react-native-elements/pull/2566) introduce a regression on Button.

**To Reproduce (Required)**

htt

[2021-04-12 13:03] arpitBhalla commented on #2958
https://user-images.githubusercontent.com/55053424/114398520-7f316580-9bbd-11eb-8e7d-a0f4233f48d9.mp4

[2021-04-12 13:10] HugoGresse commented on #2958
Android 9, Huawei P30 lite
https://user-images.githubusercontent.com/662377/114399382-281d9780-9ba1-11eb-9991-2f620efe6fb9.mp4

[2021-04-12 13:12] HugoGresse commented on #2958
Tested on android 10 on Oneplus 6 and do not reproduce the issue.
I'm blocked because of the TouchableNativeFeedback issue on Android 4.4 from React Native from this lib :/

Side not about Pressable: the Ripple does not seems to start from the touch but the the button center no?

[2021-04-12 13:23] arpitBhalla commented on #2958
I am not getting from _center_

[2021-04-12 21:44] uwwangxiangyu opened #2960 "ref does not work in button"
**Explain what you did (Required)**

My use case: I'm using react-native-web and I want to know if the button is hovered or not. So I need to reference the button component.

But I think it will be helpful to reference the button in all platform.

**Expected behavior (Required)**

It should forward the ref

**Describe the bug (Required)**

It is working perfectly in `3.30` but failed in the latest

[2021-04-12 22:04] dhanushm360 opened #2961 "SearchBar importing with typescript"
Props are missing. Parameter 'search' implicitly has an 'any' type.

Could anyone advise on how to import with Typescript?

Thanks :)

[2021-04-13 04:45] khushal87 commented on #2961
hey @dhanushm360 can you explain your issue a bit?

[2021-04-13 07:15] arpitBhalla commented on #2960
@uwwangxiangyu I will open a PR for this

[2021-04-13 09:00] voulgarakis opened #2963 "Slider thumbTintColor animation effect based on slider's value"
Is it possible to have an animated color change when the value of slider changes?

[2021-04-13 12:53] HariAcidReign commented on #2939
As part of my idea proposal, I would love to pick up on this idea and work on it from now on. Will that be okay?

[2021-04-13 13:33] HariAcidReign commented on #2963
You mean constantly changing the color of the `thumbProp` when sliding? Is there any use case for it?

[2021-04-13 13:38] voulgarakis commented on #2963
Exactly. Based on a state value, change the color of the slider.

[2021-04-13 13:54] HariAcidReign commented on #2963
While that certainly seems possible, how do you plan on changing the colors. By that I mean, do you want the entire `thumbTintColor` to change from one solid color to another, or just to change its intensity/tint (growing brighter or darker as you slide)?

[2021-04-13 14:07] HariAcidReign commented on #2963
Once the mentor approves of this idea, we can work on this then.

[2021-04-13 14:12] voulgarakis commented on #2963
Basically I would like to change the entire thumbTintColor from green to red based on a value in [0, 10] range
0 --> red
1 --> close to red
..
9 --> close to green
10 --> green

[2021-04-13 15:29] arpitBhalla commented on #2963
Hey @voulgarakis

We can use `Animated` API for this
[code]

[2021-04-13 16:18] arpitBhalla commented on #2963
Hey @voulgarakis

We can do it using linear interpolation,

[2021-04-13 16:32] HariAcidReign commented on #2963
This does seem to be the right solution. Just replace the font-awesome icon in the slider with this and I think you should be good to go. Do close this issue if this works, as I don't think a separate slider component for just this use case is necessary.

[2021-04-13 17:15] arpitBhalla commented on #2958
Hey @HugoGresse You can also pass `Pressable`  to `TouchableComponent` prop, can you please test if still you getting

[2021-04-14 02:47] slasho commented on #1310
is this feature dump?

[2021-04-14 02:58] #2961 closed

[2021-04-14 06:58] #2963 closed

[2021-04-14 12:46] PurTahan opened #2965 "How to theme Avatar.Accessory?"
I need to theme Avatar.Accessory, but I cant use it like others. because there is **.**(dot) in its name.
help me please!

[2021-04-14 12:54] jugshaurya opened #2966 "Missing Prop indicatorStyle in Tab Component markdown file"
**ISSUE**
Minor bug Issue: one prop is missing its documentation inside the tab.md file

**(Missing Prop name: indicatorStyle).**
@ https://reactnativeelements.com/docs/next/tab#usage

**Explain what you did (Required)**
Added this:
![Screenshot from 2021-04-14 18-22-35](https://user-images.githubusercontent.com/39825643/114713088-699f7580-9d4e-11eb-8bd4-e1c7430895bd.png)

[2021-04-14 13:45] khushal87 commented on #2965
`<Avatar.Accessory />`
Feel free to add supported props as per the documentation. That's how we do it. Kindly refer https://reactnativeelements.com/docs/avatar
@PurTahan

[2021-04-14 14:02] HariAcidReign opened #2968 "Proposal for Data Table"
**Is your feature request related to a problem? Please Describe.**

So an RNE user requested for a DataTable component within the library, similar to the one in [RN Paper](https://callstack.github.io/react-native-paper/data-table.html), but with an "out of the box" support for sorting the elements.
I believe having a native table component within RNE would be a fantastic addition.

Link to the con

[2021-04-14 14:12] PurTahan commented on #2965
I use ThemeProvider and pass json format theme to theme prop of it.
[code]

and in that json, I set all my theming settings

[2021-04-14 17:36] khushal87 commented on #2965
@PurTahan which property do you want to set as in theme?

[2021-04-14 17:40] SteveTro commented on #2932
I have the same problem, do you solved it?

[2021-04-14 18:04] giorgioff commented on #2958
same error here. I used @HugoGresse  expo snippets in order to test it. how can i use Pressable?  it seems not working... :-( thanks

[2021-04-14 18:10] arpitBhalla commented on #2958
You can also pass Pressable to TouchableComponent prop

[2021-04-14 18:14] giorgioff commented on #2958
@arpitBhalla ripple effects seems lost. this is the [expo snippet](https://snack.expo.io/@giorgioff/button-problem)

[2021-04-14 18:15] arpitBhalla commented on #2958
Can you try this
[code]

[2021-04-14 18:24] arpitBhalla commented on #2958
Can you test this,
[code]

[2021-04-14 18:39] giorgioff commented on #2958
ok...your edited version seems working. great help! :-)

[2021-04-14 19:23] dhanushm360 opened #2969 "SearchBar component for expo and typescript"
Hello,

I'd like to build this searchbar component into my react native typescript mobile app managed by expo. How can I use the platform specific searchbar to display the ios styled searchbar?

[2021-04-14 20:07] PurTahan commented on #2965
Icon props like : `color`, `containerStyle`, `type` and etc.

[2021-04-14 20:07] pranshuchittora commented on #2963
@arpitBhalla would you mind adding this to the app

[2021-04-14 23:27] arpitBhalla commented on #2963
@pranshuchittora in the docs??

[2021-04-15 02:46] arpitBhalla commented on #2960
@uwwangxiangyu Can you please provide your code, so I can test it

[2021-04-15 07:38] HariAcidReign commented on #2969
You want to use the iOS styled search bar in your app using React Native Elements, right? Did you check out the component in the `react-native-elements-app` repo?

https://github.com/react-native-elements/react-native-elements-app/blob/daa5664127e2e2b2fba8a22e345c9d78a1401d1f/src/views/inputs.tsx#L61

I think this is what you want. Let me know if I am right.

[2021-04-15 07:49] PrathamSinghSaluja opened #2970 "Transfer List"
**Is your feature request related to a problem? Please Describe.**

A transfer list lets us move one or more items between lists. It can help in selecting the preferences and move the selected ones into a new list and remove the unselected ones.

**Describe the solution you'd like**

The best solution can be using https://material-ui.com/components/transfer-list/
Open for other methods of implemen

[2021-04-15 13:30] khushal87 commented on #2965
@PurTahan You can pass this as direct props in the component.
[code]

[2021-04-15 14:14] PurTahan commented on #2965
Dear @khushal87 ,
I can use `Avatar.Accessory` same as your above code. BUT my question is **how to theme it globally** to show it in all sections of my app like together.

hear is my theme.json
[code]
and send it as ThemeProvider prop.

[2021-04-15 14:22] khushal87 commented on #2965
This doesn't work on my end too after testing. I am looking for a potential solution. Will soon try to get a fix and reply here. @PurTahan

[2021-04-15 15:16] arpitBhalla commented on #2965
Hey @PurTahan you can use `Accessory` key for this

[2021-04-15 15:21] khushal87 commented on #2965
Yes we can do it this was too @PurTahan . Theme supports `Accessory` alone as key.

[2021-04-15 16:22] uwwangxiangyu commented on #2960
Just reference the button component.

For my case, I'm using `react-native-web`  so I have something like this. You don't need to test like this, you can just test if the `buttonRef` is referencing the button components, and there is no warning like `Attempts to access this ref will fail`.
[code]

[2021-04-15 16:44] RyanTG opened #2971 "Custom Button shadow is displayed on top of default shadow, instead of replacing it"
**Explain what you did (Required)**

I am trying to customize the Button shadow. Say, a bigger radius, or a different color shadow.

**Expected behavior (Required)**

I expect to have to use `raised` and then overwrite the shadow styles within the buttonStyle prop.

**Describe the bug (Required)**

When you include `raised`, it automatically adds a shadow to the button. If you add your own styles

[2021-04-16 07:48] arpitBhalla commented on #2965
Hey @PurTahan @khushal87

I guess there is conflict in name of themeKey

https://github.com/react-native-elements/react-native-elements/blob/5c2d6b68284c9abf15f89b5284b90e5c5f4beba3/src/avatar/Accessory.tsx#L93

https://github.com/react-native-elements/react-native-elements/blob/5c2d6b68284c9abf15f89b5284b90e5c5f4beba3/src/config/theme.tsx#L36

[2021-04-16 08:00] khushal87 commented on #2965
Yes @arpitBhalla There is an issue here that's why it didn't work on my end too. Fixing this will solve the issue according to me.

[2021-04-16 11:10] arpitBhalla commented on #2971
Hey @RyanTG  please use `containerStyle` prop

[2021-04-16 16:21] RyanTG commented on #2971
Ah... thank you. I was so close. I had tried that, but didn't include "overflow: visible".

So, to summarize: if you want a custom shadow on a button, you don't need to include `raised`. Just put the shadow styles in containerStyle and include `overflow: 'visible'`

[code]

[2021-04-16 16:21] #2971 closed

[2021-04-16 19:11] guigralho commented on #2428
I'm still having the same issu

[2021-04-18 01:13] achen0115 commented on #2932
It seems like `Colors` is not exported in index.d.ts after version 3.3.0.
Thus, `import {Colors} from 'react-native-elements'` does not work, and custom `Colors` cannot be merged.

[2021-04-18 13:26] hackape commented on #2932
I just post [an answer][1] on stack overflow. Currently the `Colors` interface got tucked away inside `'react-native-elements/dist/config/colors'`, so work around would be:

[code]

They forgot to export it at lib top level I guess? Hope it get fixed soon.

[1]: https://stackoverflow.com/questions/67110610/declaration-merging-for-react-native-elements-theme/67149027#67149027

[2021-04-18 13:30] arpitBhalla commented on #2932
Hey @hackape, `Colors` is being exported https://github.com/react-native-elements/react-native-elements/blob/5c2d6b68284c9abf15f89b5284b90e5c5f4beba3/src/index.ts#L89

[2021-04-18 23:49] flyingcircle commented on #2970
This doesn't really seem like a thing for mobile apps which is what React Native focuses on.

[2021-04-18 23:49] #2970 closed

[2021-04-18 23:50] flyingcircle commented on #2969
Yep, read the docs. If you're still confused, ask a question on the RNE slack

[2021-04-18 23:50] #2969 closed

[2021-04-18 23:58] #2966 closed

[2021-04-19 00:00] flyingcircle commented on #2965
You can theme it using "AvatarAccessory" as the themekey says. Is this not working?

[2021-04-19 00:26] flyingcircle commented on #2960
How about wrapping the button in your own component?

[2021-04-19 00:29] #2932 closed

[2021-04-19 00:29] #2965 closed

[2021-04-19 01:58] #2581 closed

[2021-04-19 02:45] #2754 closed

[2021-04-19 09:48] KaterinaLupacheva commented on #2878
Same here. Got TypeScript error - Property 'value' does not exist

[2021-04-19 17:15] #2591 closed

[2021-04-19 20:11] #2879 closed

[2021-04-20 15:57] HugoGresse commented on #2958
I can confirm the Ripple is fixed on Android 9 when using a Pressable!

[2021-04-20 15:57] #2958 closed

[2021-04-20 18:39] ucallQA commented on #2958
I am getting the same issue even with the pressable solution... is there anything else we can do here?

[2021-04-20 18:47] arpitBhalla commented on #2958
Hey @ucallQA please try with this

[code]

[2021-04-20 18:58] HugoGresse commented on #2958
check out the snack from the [original issue](https://snack.expo.io/@hugogresse/button-problem), and use borderless false.

[2021-04-20 19:34] ucallQA commented on #2958
@HugoGresse @arpitBhalla thanks for the quick response guys! It was borderless false. Just to clarify, without any changes the ripple problem exists with the entire circle, borderless true sort-of fixes it but it still overflows, and borderless false fixes it completely. Thanks again!

[2021-04-20 23:04] mariahmartinez commented on #2143
Still experiencing this bug.

The workaround that @Bilal-Abdeen and @bravemaster619  posted is working. I'd rather not just pass some random uri though.

[2021-04-21 06:05] khushal87 opened #2984 "Invalid type of style prop in Divider Component"
**Explain what you did (Required)**
While checking the code of the `Divider` component. I found that the type of `style` prop is `object | any[]` while it should be `StyleProp<ViewStyle>`

**Expected behavior (Required)**
The style prop should have `StyleProp<ViewStyle>`

**Describe the bug (Required)**
Mentioned above

**To Reproduce (Required)**
Check the code of the `Divider` component
We highl

[2021-04-21 06:41] khushal87 commented on #2984
Can I work on the fix?

[2021-04-21 08:49] arpitBhalla commented on #2984
@khushal87 if its good

[2021-04-21 11:24] arpitBhalla commented on #2960
@uwwangxiangyu
[code]

[2021-04-21 15:01] kovalevroman7 opened #2986 "List.Accordion do not works"
![Screenshot_11](https://user-images.githubusercontent.com/67242846/115575830-9a8e2600-a2cb-11eb-9e14-1a97c6d19ae3.png)
[code]

[2021-04-21 15:05] arpitBhalla commented on #2986
@kovalevroman7 Can you please Share your code

[2021-04-21 15:07] arpitBhalla commented on #2986
Hey @kovalevroman7

[2021-04-21 16:34] kovalevroman7 commented on #2986
Your option did help, but only for sdk40. It also does not work on sdk 41

[2021-04-21 16:46] arpitBhalla commented on #2986
Hey @kovalevroman7 if it works please close the issue

[2021-04-21 17:30] khushal87 opened #2987 "Adding new props to Divider"
**Is your feature request related to a problem? Please Describe.**
Yes, currently we don't have much flexibility with the `Divider` component. Therefore, we can make it more customizable and dynamic by adding new props. We don't have such flexibility in any of the popular packages in RN.

**Describe the solution you'd like**
I would like to add new props such as `inset(left, right and middle)`, `o

[2021-04-21 17:33] khushal87 commented on #2987
Looking forward to the community's feedback on it? What do you say @arpitBhalla @HariAcidReign @pranshuchittora @flyingcircle and others.

[2021-04-21 17:37] arpitBhalla commented on #2987
Chakk de fatte

[2021-04-22 05:20] #2986 closed

[2021-04-22 05:20] kovalevroman7 commented on #2986
thanks it helped

[2021-04-22 17:06] uwwangxiangyu commented on #2960
Hey @arpitBhalla
However it will unmount the old component and mount a new component even theres only style changes.
[code]

[2021-04-22 17:11] arpitBhalla commented on #2960
@uwwangxiangyu
[code]

[2021-04-23 15:54] KrisLau opened #2989 "Cant change the resizeMode of Card.Image"
**Explain what you did (Required)**
Tried a Card.Image to my Card and setting the `resizeMode` to either contain or stretch.
[code]

In stylesheet:
[code]

**Expected behavior (Required)**
This is the result I was hoping for and I used the react Image component to achieve it.
![image](https://user-images.githubusercontent.com/46275463/115895125-b0146480-a41f-11eb-8808-9c2a1188f300.png)

**Describe

[2021-04-23 17:49] GaylordP opened #2991 "Image not showed after update to 3.4.0"
I just updated my project using `npm update`. `react-native-elements` updated from `3.3.2` to `3.4.0`

But now my images don't show up anymore.

I am very surprised because my situation is really very simple :

    import {
      Image,
    } from 'react-native-elements'

    const ResponsiveImage = () => {
      return (
        <Image
          source={{ uri: 'http://....' }}
          style={[

[2021-04-23 19:46] kylemarimon commented on #2991
I'm having the same issue.

[2021-04-24 08:00] hiji opened #2992 "Card.Image display is broken after updating to 3.4.0"
**Explain what you did (Required)**

When I upgraded version of `react-native-elements` from `3.3.2` to `3.4.0` , Display of screen using `Card.Image` component was broken.

**Expected behavior (Required)**

Same content is displayed in `react-native-elements` versions `3.3.2` and `3.4.0` .

**Describe the bug (Required)**

`childrenContainerStyle` props have been added to the `Image` component in

[2021-04-25 00:32] karimatwa commented on #2991
same issue.

[2021-04-25 10:21] josegoval commented on #2143
My solution
[code]

[2021-04-25 10:56] josegoval commented on #1260
By now I found this solution disabling ts for that line: Comment over the code
[code]
or
[code]

[2021-04-25 15:28] #2992 closed

[2021-04-25 17:49] flyingcircle commented on #2991
Duplicate of #2992 and fixed in 3.4.1

[2021-04-25 17:49] #2991 closed

[2021-04-25 17:54] flyingcircle commented on #2989
This library doesn't do anything to the `resizeMode`. Your issue is likely something else.

[2021-04-25 17:54] #2989 closed

[2021-04-25 17:55] #2984 closed

[2021-04-25 17:56] #2878 closed

[2021-04-25 18:06] kylemarimon commented on #2991
Thanks all!

[2021-04-25 18:10] hetanthakkar1 commented on #15
Working on this

[2021-04-25 18:14] hetanthakkar1 commented on #2558
Work in progress

[2021-04-25 18:17] HariAcidReign commented on #15
Hey, I have already started working on this one. I'm actually planning to add it to RNEU after approval. Do check out other issues.

[2021-04-25 18:21] hetanthakkar1 commented on #15
@HariAcidReign What is your approach!? I also started as I thought its been 5 days so I thought you started doing some other issues!?

[2021-04-25 19:34] HariAcidReign commented on #15
I had described it in the above issue in RNEU. They haven't given the go-ahead yet, but I had started to implement it anyway. So hopefully by this weekend, I should be done with half of my proposed issues. And the rest will be done (implementation+tests) by next weekend. 👍🏻

[2021-04-25 19:39] hetanthakkar1 commented on #15
@HariAcidReign if you have started it np! If you can tell me the props and few other details I can start making tests for the same! Are you also writing tests along with the component! because its will probably need tests !

[2021-04-25 19:42] hetanthakkar1 commented on #15
@HariAcidReign Sure no problem go ahed. Goodluck!

[2021-04-25 19:45] hetanthakkar1 commented on #15
@HariAcidReign This component will probably need writing tests! If you are not writing tests I can do that if you can let me know few implementation details!? Or you have also started writing tests!?

[2021-04-25 21:54] HariAcidReign commented on #15
Haven't started testing yet. If I get any hiccups, I'll let you know for sure 🎉

[2021-04-26 11:20] ainvention commented on #2721
I faced the same issue, but I solved with it
`npm install --legacy-peer-deps`

[2021-04-26 16:44] anarthal opened #2995 "Slider: view not updated when the value prop changes"
**Explain what you did (Required)**

Using the Slider component to build something that responds to changes. Essentially, the value prop of the slider is stored in a state variable in the parent component, and updated periodically. This gist describes what I am trying to achieve: https://gist.github.com/anarthal/4f4e4025c9a5d854a7ff9b35ca1a1a5f

PR: https://github.com/react-native-elements/react-n

[2021-04-27 21:54] tidusjar commented on #2878
We have now lost the `onChangeText` prop, so this change has introduced a breaking change

[2021-04-28 02:58] arpitBhalla commented on #2878
Can You again confirm Please😃

[2021-04-28 03:03] arpitBhalla commented on #2878
Hey @tidusjar Its still working for me

[2021-04-28 07:45] lambdadev007 commented on #2233
I know the answer is late, but posting my answer here in case someone still want to find a solution and because I've found this drives some traffic. A simple workaround is to add a css transition property to the image like the below:

`transition: all 2s;`

it does not prevent the image re-rendering, but at least it does prevent image flickering.

[2021-04-28 08:44] khushal87 opened #2997 "Chore: Upgrade the package React native ratings"
**Is your feature request related to a problem? Please Describe.**
Recently, the code of the package `react-native-ratings` was migrated to Typescript(https://github.com/Monte9/react-native-ratings/pull/144) with other improvements.

**Describe the solution you'd like**
Upgrading the dependency of `react-native-ratings` to version `v8.0.4`

**Describe alternatives you've considered**
None

**Addit

[2021-04-28 08:44] khushal87 commented on #2997
I am working on this.

[2021-04-28 15:03] hsavit1 opened #2998 "Android autofill does not work on input component"
Android password autofill, with all of the required autofill props, does not work with the Input compoennt

**Expected behavior (Required)**

Comparing using Input vs using a standard react native TextInput, I was unable to get password autofill to work using the Input

**Describe the bug (Required)**

**To Reproduce (Required)**
This will not work with android autofill
[code]

This will work with

[2021-04-28 15:17] hsavit1 commented on #2922
would be great for the testing ecosystem to have demonstrations in an exemplary library

[2021-04-29 17:24] stfenjobs commented on #2852
how to make  a Radio Group if i use CheckBox

[2021-04-29 17:27] stfenjobs commented on #2852
@flyingcircle

can you make a Radio Group ?  thank you very much

ref:
https://wix.github.io/react-native-ui-lib/docs/RadioGroup/
https://callstack.github.io/react-native-paper/radio-button-group.html

[2021-04-29 17:28] stfenjobs opened #3002 "can you make a Radio Group ? thank you very much"
can you make a Radio Group ? thank you very much

ref:
https://wix.github.io/react-native-ui-lib/docs/RadioGroup/
https://callstack.github.io/react-native-paper/radio-button-group.html

[2021-04-29 17:56] arpitBhalla commented on #3002
Hey @stfenjobs Can we use Single Radio CheckBox to make a group?

[2021-04-30 05:58] stfenjobs commented on #3002
it's work ,

thank you very much @arpitBhalla

[2021-04-30 05:58] #3002 closed

[2021-04-30 06:00] arpitBhalla commented on #3002
@stfenjobs hehe

[2021-04-30 11:14] rohail111 opened #3003 "Ratings => AirbnbRating"
AirbnbRatings module is not present in elements and it's available in the documentation.
kindly remove AirbnbRating from the documentation or add it to the plugin.

[2021-04-30 11:33] arpitBhalla commented on #3003
Hey @rohail111 it's already present

[2021-04-30 11:33] khushal87 commented on #3003
@rohail111 will be fixed soon with my PR https://github.com/react-native-elements/react-native-elements/pull/3000

[2021-04-30 11:34] khushal87 commented on #3003
@arpitBhalla The name is changed now in the package, that is why he is facing a problem I think.

[2021-05-01 09:30] ROBH01 commented on #2392
I had the same positioning issue, but I kept reading the docs, and realised the Tooltip component I had was not used as supposed to. It was inside the component to be pressed e.g.
<Text> <Tooltip/> </Text>

What fixed it for me was simply using it like on the docs example:
<Tooltip> <Text> </Text> </Tooltip>

@lazarporter You seem to use it correctly. Not sure if you fixed it in the end but I thin

[2021-05-01 11:20] arpitBhalla opened #3004 "[RFC] Visual Preview of components in VS Code"
![Screenshot from 2021-05-01 16-46-53 (1)](https://user-images.githubusercontent.com/55053424/116780993-9ddc9b00-aa9d-11eb-97a0-5f6513d85c5d.jpg)

Can be achieved by adding this above the component code
[code]

@pranshuchittora @flyingcircle @dhruvdutt

[2021-05-01 11:23] MahamidRawi commented on #101
what about touchableopacity, how do we do that ?

[2021-05-01 11:29] hetanthakkar1 commented on #3004
it's great

[2021-05-01 12:12] arpitBhalla commented on #2995
Can you fix this??
![Screenshot_1619871075](https://user-images.githubusercontent.com/55053424/116782034-7dfca580-aaa4-11eb-90df-5c7885469efb.png)

[2021-05-01 20:24] haveamission opened #3005 "Multiple Input components cause them to be filled in with the last Input component when swapping them out conditionally"
**Explain what you did (Required)**

I created four Input components, but whenever I swap them out conditionally, the top component will get the bottom component before the swap's information.

**Expected behavior (Required)**

I would have four components, separated in groups of two swap out, being empty before any text input.

**Describe the bug (Required)**

So out of the four components, whate

[2021-05-02 10:34] arpitBhalla commented on #3005
Hey @haveamission, I changed `defaultValue` to `value`, its working now, https://snack.expo.io/@arpitbhalla/rne-demo

[2021-05-04 09:34] micaelillos opened #3008 "Slider vertical orientation not working"
**Explain what you did (Required)**

When setting the orientation prop in the Slider component to 'vertical' the Slider becomes unusable.
(In mobile and web)
[code]

**Expected behavior (Required)**

Expected for the slider to be displayed in a vertical fashion

**Describe the bug (Required)**

This is how the slider looks when I set the orientation to 'vertical':
![photo_2021-05-04_11-32-28](http

[2021-05-04 13:04] koaladlt opened #3009 "Request to add "onRequestClose" feature to BottomSheet"
Hey guys, is there a way to close the BottomSheet component if the back button is pressed on Android?

So, I tried to use the [BackHandler ](https://reactnative.dev/docs/backhandler) library to make this work, but there is no way to make it work when the component is visible. Maybe this issue is something similar that happens when a modal is open, you can't use BackHandler, and that's why they inc

[2021-05-04 13:59] arpitBhalla commented on #3004
Solved by https://marketplace.visualstudio.com/items?itemName=rne.snippets

[2021-05-04 15:28] khushal87 commented on #3009
Hey @koaladlt this is a great recommendation. Currently, the closing of the bottom sheet works on clicking the cancel button on the modal. We can have a prop which would enable this event you have suggested. I will see if we can do this in the future and update you. Thank you.

[2021-05-04 15:34] koaladlt commented on #3009
@khushal87 Great 🙌🏻

[2021-05-04 15:35] khushal87 commented on #3009
@koaladlt
`
<BottomSheet
        modalProps={{
          onRequestClose: () => {
            setIsVisible(false);
          },
        }}
        isVisible={isVisible}

        {list.map((l, i) => (
          <ListItem
            key={i}
            containerStyle={l.containerStyle}
            onPress={l.onPress}

            <ListItem.Content>
              <ListItem.Title style={l.titleStyle}>

[2021-05-04 15:52] vincentjames501 commented on #2995
Just ran into this one myself!

[2021-05-04 16:07] vynerth0429 commented on #3003
Hello @khushal87 , may we know when would it be possible to release the fix of this?

It seems like this breaks the web version. Only the native part is working.
You can use this [repo ](https://github.com/vynerth0429/rne-rating) for replication.

[2021-05-04 16:09] khushal87 commented on #3003
I have already raised a PR to add the new supported Names for the import. Waiting for the approval @vynerth0429

[2021-05-04 16:12] khushal87 commented on #3003
https://github.com/react-native-elements/react-native-elements/pull/3000/files you can understand the imports here. @vynerth0429

[2021-05-04 16:54] koaladlt commented on #3009
@khushal87 It is working like a charm! Thank you so much!

[2021-05-04 16:54] #3009 closed

[2021-05-05 01:35] vynerth0429 commented on #3003
Hello @khushal87 ,

Below is the problem when I serve the web application.
Btw, I am using Typescript and I just imported react-native-elements `import {} from 'react-native-elements';` in `App.tsx` to show the error.

[code]

[2021-05-05 03:37] khushal87 commented on #3003
Please upgrade your React native ratings version. @vynerth0429

[2021-05-05 04:08] vynerth0429 commented on #3003
@khushal87 , I don't have `react-native-ratings` on my package file since this is already included in `react-native-elements`.

And also, correct me if I am wrong to this, regardless if I update the `react-native-ratings`, `react-native-elements` still need to update the proper imports as stated here: [https://github.com/react-native-elements/react-native-elements/pull/3000/files](https://github.c

[2021-05-05 04:15] khushal87 commented on #3003
This is something strange, as it's working on my end irrespective of the version.  You may have to wait for a new update as this tsc issue is already solved in a subsequent version of react native ratings (https://github.com/Monte9/react-native-ratings/pull/138). I have already raised a PR for the same to upgrade the package here. And yes, react-native ratings are already present as a dependency i

[2021-05-05 07:23] rohail111 commented on #3003
Thanks for replying to all of you guys. @khushal87 I knew about the react-native rating plugin but all I wanted was to tell that either add that feature in the plugin or remove it from documentations. Any how I just reported this issue because further people don't get the same issue as I faced earlier.

[2021-05-05 07:25] khushal87 commented on #3003
@rohail111 Airbnbratings is in the plugin. You can use it without any issue.

[2021-05-05 07:28] rohail111 commented on #3003
It's not working with me in the latest version. Is its name changed?

On Wed, May 5, 2021 at 12:25 PM Khushal Agarwal ***@***.***>
wrote:

[2021-05-05 07:29] khushal87 commented on #3003
@rohail111 No, the name is the same. Check the names of imports here https://github.com/Monte9/react-native-ratings/blob/master/src/index.tsx

[2021-05-05 07:35] rohail111 commented on #3003
[image: image.png]

no suck module found in plugin. on the other hand, Rating is present.

[image: image.png]

On Wed, May 5, 2021 at 12:29 PM Khushal Agarwal ***@***.***>
wrote:

[2021-05-05 07:38] khushal87 commented on #3003
@rohail111 this is a strange issue. @vynerth0429 are you facing it too?

[2021-05-05 08:02] vynerth0429 commented on #3003
Hey @khushal87 , I can view the images attached by rohail.

How you tried to clone and run this repo: [https://github.com/vynerth0429/rne-rating](https://github.com/vynerth0429/rne-rating) ?

The setup is just basic and maybe you can provide some workaround on this. The web version is entirely unusable on my end. :(

[2021-05-06 04:29] MaksimSerg opened #3010 "Require cycles"
Require cycle: node_modules/react-native-elements/dist/list/ListItem.js -> node_modules/react-native-elements/dist/list/ListItemAccordion.js -> node_modules/react-native-elements/dist/list/ListItem.js

react-native-elements: v3.4.1

  npmPackages:
    @react-native-community/cli: Not Found
    react: 16.13.1 => 16.13.1
    react-native: 0.63.4 => 0.63.4

[2021-05-06 07:58] mongapuneet opened #3011 "Error in using SpeedDial component - "Exception in HostFunction: Malformed calls from JS: field sizes are different.""
**Explain what you did (Required)**
I am trying to use the SpeedDial component in my app. I have pasted a very basic version of my app.js. I have also attached screenshots of the errors I am receiving in my expo go app.

I am trying to use the SpeedDial component as described in the react-native-elements documentation.

**Expected behavior (Required)**
SpeedDial component should work without any e

[2021-05-06 08:08] khushal87 commented on #3010
Thanks for addressing the issue @MaksimSerg. I will look for a fix and update you soon.

[2021-05-06 09:18] arpitBhalla commented on #3011
Hey @mongapuneet Please check https://snack.expo.io/@arpitbhalla/speeddial, from where did you pick that code, it seems to be older

[2021-05-06 09:45] mongapuneet commented on #3011
@arpitBhalla  - Thanks for the quick turnaround. It works like a charm now.

[2021-05-06 10:03] #3011 closed

[2021-05-06 11:57] eee9 commented on #2995
I have the same problem
https://snack.expo.io/@eee9/rneslider1
https://snack.expo.io/@eee9/rneslider2
Diffrence is only in react-native-elements versions. Last 2 versions have a bug.

[2021-05-06 12:03] droplessjordan commented on #2201
Hey @aethiss, did you ever find a fix for this?

[2021-05-06 16:22] khushal87 opened #3014 "Improve List Usage in the Project"
**Is your feature request related to a problem? Please Describe.**
I was going through https://github.com/react-native-elements/react-native-elements/issues/3010 this issue today. I went through the code and found that the way ListItem is used in the code is not good or can be improved.

**Describe the solution you'd like**
The approach I would like to go by is that import all the subcomponents in

[2021-05-06 17:01] arpitBhalla commented on #3008
Hey @micaelillos, I updated your code, Please Check https://snack.expo.io/@arpitbhalla/rne-vertical-slider

[2021-05-07 09:41] arpitBhalla opened #3015 "[RFC] Redesign Homepage of website"
References:
https://alpha.nativebase.io/
https://akveo.github.io/react-native-ui-kitten/

https://docusaurus.io/showcase/

@hetanthakkar1 @khushal87 @HariAcidReign @jugshaurya we can together work on this

[2021-05-07 09:43] Don-oneself opened #3016 "Input component cannot input Chinese, Japanese, Korean"
1. npm install 3.4.1
2. import Input component
3. Input Chinese Pinyin, but Chinese is not displayed on the input box
4. Use the official textinput component to input normally

[code]

https://user-images.githubusercontent.com/21253337/117431129-73865400-af5b-11eb-8fe7-3c466c8b5398.MP4

react-native-elements: 3.4.1
react-native: 0.63.2

[2021-05-07 09:55] arpitBhalla commented on #3016
Hey @Don-oneself Working fine for me,

![Demo](https://user-images.githubusercontent.com/55053424/117432873-77f54180-af48-11eb-99b7-c624bca78fd8.jpeg)

[2021-05-07 10:02] jugshaurya commented on #3015
count me in

[2021-05-07 10:02] Don-oneself commented on #3016
@arpitBhalla Hello, thank you for your reply, I just tried Hindi and it is normal. Can you test Chinese?

[2021-05-07 10:03] HariAcidReign commented on #3015
Love it! Right up my alley so I'm in
Let the mentors approve it tho 😄

[2021-05-07 10:06] arpitBhalla commented on #3016
Hey @Don-oneself Chinese too working for me

![](https://user-images.githubusercontent.com/55053424/117434184-fd2d2600-af49-11eb-8153-f7f13ba5e1af.jpeg)

[2021-05-07 10:07] HariAcidReign commented on #3015
Where is it mentioned in the ideas list? Also, we should consider the fact that it **might** clash with idea#4 (merging doc + playground)

[2021-05-07 10:10] Don-oneself commented on #3016
Thank you, that should be my own reason. Sorry to rush to take your time.

[2021-05-07 10:10] arpitBhalla commented on #3015
We only be doing (if doing) homepage part so i dont think its conflicting....

[2021-05-07 10:11] Don-oneself commented on #3016
Did you test the ios system just now?

[2021-05-07 10:11] arpitBhalla commented on #3016
Andorid

[2021-05-07 10:15] snitin315 commented on #3015
I can help with this too.

[2021-05-07 10:19] jugshaurya commented on #3015
Idea #1 (Design 2.0) implicity covers this, if we are changing core components designs then it includes homepage to match designs

[2021-05-07 10:19] jugshaurya commented on #3015
I agree

[2021-05-07 10:20] arpitBhalla commented on #3015
Bhai Slack dekho

[2021-05-07 10:26] HariAcidReign commented on #3015
That kinda makes sense. You would want the core design of the components and app to be similar to the website, true. eg. UI kitten

[2021-05-07 10:31] Don-oneself commented on #3016
I just tested it, the Input component will have a problem when it is in the DialogContent of the react-native-popup-dialog component, and it is normal to write it separately. I think the two components are influential, thank you.

[2021-05-07 10:32] arpitBhalla commented on #3016
Will you fix it by yourself?? If yes, Please close the issue

[2021-05-07 10:34] jugshaurya commented on #3015
Exactly, that's why we should wait for GSoC period to start or mentor approvals

[2021-05-07 12:16] Don-oneself commented on #3016
Change the modal component to react-native-modal and everything is normal, thank you again

[2021-05-07 12:21] micaelillos commented on #3008
Please look at https://snack.expo.io/@micaelil/rne-vertical-slider
You can see that the slider is inconsistent.
- When you slide down the allotted track becomes longer.
- There is a gap between the end of the thumb and the start of the path

[2021-05-07 14:27] arpitBhalla commented on #3008
Hey @khushal87 see that yellow line
![image](https://user-images.githubusercontent.com/55053424/117464641-7c345580-af6e-11eb-8a44-0bb98a105135.png)

[2021-05-07 14:28] khushal87 commented on #3008
Are you checking it on my snack?

[2021-05-07 14:29] arpitBhalla commented on #3008
nhi re

[2021-05-07 14:30] arpitBhalla commented on #3008
increse the width of thumb

[2021-05-07 14:32] khushal87 commented on #3008
https://snack.expo.io/@khushal87/rne-vertical-slider

[2021-05-07 14:34] arpitBhalla commented on #3008
yep, that looks best

[2021-05-07 14:34] khushal87 commented on #3008
Thanks @arpitBhalla :)

[2021-05-07 16:45] KrisLau opened #3017 "Auto scroll Text"
**Is your feature request related to a problem? Please Describe.**
Nope not a problem I just think it would be a useful addition to the Text component. I was hoping to have the Text component auto scroll if it is longer than the container.

**Describe the solution you'd like**
It would be kind of like the way the music title scrolls on Spotify or something like the scrolling text on google search

[2021-05-07 17:15] jorgegvallejo opened #3018 "iconPosition not working in Tab.Item"
**Explain what you did (Required)**

Trying to position the Tab.Item icon below the title in RNE 3.4.1

**Expected behavior (Required)**

using "bottom" for iconPosition should place the icon below the title

**Describe the bug (Required)**

iconPosition has no effect on icon positioning

**To Reproduce (Required)**

use "bottom" for iconPosition

![Screen Shot 2021-05-07 at 12 12 51 PM](https://u

[2021-05-07 17:31] arpitBhalla commented on #3018
Hey @jorgegvallejo
[code]
Can you use this

[2021-05-07 18:09] jorgegvallejo commented on #3018
@arpitBhalla, thanks!

[2021-05-08 13:30] khushal87 opened #3020 "[RFC] Improving List to work better."
**Is your feature request related to a problem? Please Describe.**
This issue is in continuation of #3014. While I was working on the solution and improving how the List is been written in the package it came to my mind that we also have Title, SubTitle, Checkbox, Chevron in the List which does nothing much but only displays the Title text and Subtitle text of a ListItem and Chevron displays an Ic

[2021-05-08 13:33] khushal87 commented on #3020
What is your opinion about it? @pranshuchittora @flyingcircle @arpitBhalla @hariacidreign and others from the community.

[2021-05-08 13:45] arpitBhalla commented on #3020
Mast adea h

[2021-05-08 13:52] arpitBhalla commented on #3020
What about similar to Material UI
[code]
So we can make

[code]

Something like this I guess

[2021-05-08 13:54] khushal87 commented on #3020
Yes, the above is exactly what I mean, and Title and SubTitle could be for the entire list.

[2021-05-08 15:30] HariAcidReign commented on #3017
I got what you mean. I love the component idea and the package as you mentioned seems to be inactive so making a new component from scratch with all the crucial props like `scrollSpeed`, `animation`, a bool prop to check if the text is long enough, and `loop` makes sense to me.

@pranshuchittora @flyingcircle would love your thoughts on if this is a useful addition to the toolkit

[2021-05-08 16:04] #3005 closed

[2021-05-08 20:19] #2997 closed

[2021-05-08 20:19] #3003 closed

[2021-05-08 20:35] brianvarskonst opened #3021 "Error: Featured Tile"
**Explain what you did (Required)**
Want to use the featured Tile Component.

**Expected behavior (Required)**
To not get this error.

**Describe the bug (Required)**
Got this Error:
![image](https://user-images.githubusercontent.com/53712359/117552712-65b0fb80-b04d-11eb-851e-608103f214e6.png)

**To Reproduce (Required)**
I pasted my Code into Snack to see what happens there.

If I remove this Cod

[2021-05-09 05:04] khushal87 commented on #3021
Thanks for reporting the issue @brianvarskonst I will give you a fix soon.

[2021-05-09 05:42] arpitBhalla commented on #3021
I guess `typeof styles.title` is giving number, that's why this is happening

[2021-05-09 05:46] arpitBhalla commented on #3021
Hey @brianvarskonst  flatten the styles, https://snack.expo.io/@arpitbhalla/react-native-elements---issue-featured-tile

[2021-05-09 11:39] brianvarskonst commented on #3021
Awesome, thanks. I was thinking about this.... 😄

[2021-05-09 11:40] brianvarskonst commented on #3021
The Answer from @arpitBhalla fixes this.

[2021-05-09 11:41] arpitBhalla commented on #3021
Please Close the issue

[2021-05-09 14:14] #3021 closed

[2021-05-09 14:28] khushal87 commented on #3021
Great, yes this would work fine. 😄

[2021-05-09 18:46] #3018 closed

[2021-05-10 01:06] flyingcircle commented on #3017
Not supported? It says the last published date is 2 months ago. Looks like that's the package to use, or fork it and fix whatever isn't working? I don't think we want this in RNE.

[2021-05-10 01:06] #3017 closed

[2021-05-10 02:47] #2995 closed

[2021-05-10 03:05] #2987 closed

[2021-05-10 03:32] #3010 closed

[2021-05-10 03:56] #2954 closed

[2021-05-10 04:01] flyingcircle commented on #3008
Thanks @khushal87 and @arpitBhalla for working the solution here :)

[2021-05-10 04:01] #3008 closed

[2021-05-10 09:17] rdinicut opened #3026 "themeKey prop from withTheme should be optional or default to ''"
**Explain what you did (Required)**

Upgrade to react-native-elements 3.4.1

**Expected behavior (Required)**

The withTheme function should not have typescript errors and should not impose a themekey prop. Not all custom components need a key and they just need to inject the theme object and it seems that the Themed component handles an undefined themeKey

**Describe the bug (Required)**
![image]

[2021-05-10 09:43] rdinicut commented on #3026
Also there might be another issue with ```WrappedComponent: React.ComponentType<P & Partial<ThemeProps<T>>>```
With this approach it seems that the theme props is optional and in components that use with theme one would have to handle this. IMO if I use the withTheme function I am guaranteed to have a theme prop injected and one should not have to use theme!.

[2021-05-10 11:36] detroit007 commented on #3010
issue still exist: I've updated to version 3.4.1 and facing same problem.

[2021-05-10 11:40] detroit007 commented on #3010
@MaksimSerg did it resolved your issue? @flyingcircle can you please check the issue is closed but the problem still exists.

[2021-05-10 11:58] arpitBhalla commented on #3010
Hey @detroit007 wait for next patch

[2021-05-10 12:06] detroit007 commented on #3010
@arpitBhalla thanks for the response, when will be the next patch? I'm facing this issue for quite some time and need to solve this pls, Thanks again.

[2021-05-10 12:13] detroit007 commented on #3010
@arpitBhalla is there any way to hide this warning?

[2021-05-10 12:14] arpitBhalla commented on #3010
`console.disableYellowBox = true;`

[2021-05-10 12:29] arpitBhalla commented on #3010
🤔 You will not get it in Production, lets wait for 3.4.2

[2021-05-10 14:20] cglacet commented on #2652
We have this error on `3.2.0`, wrapping in an array does solve the problem, but it looks ugly.

[2021-05-10 14:30] mannix-lei opened #3029 "Element type is invalid when using FC Component in inputComponent of <Input/>"
Type '() => JSX.Element' is not assignable to type 'typeof Component'.
  Type '() => Element' provides no match for the signature 'new <P = {}, S = {}, SS = any>(props: P | Readonly<P>): Component<P, S, SS>'.ts(2322)
Input.d.ts(45, 5): The expected type comes from property 'InputComponent' which is declared here on type 'IntrinsicAttributes & Omit<TextInputProps & RefAttributes<TextInput> & { cont

[2021-05-10 15:15] khushal87 commented on #3029
Are you getting a tsc error? @mannix-lei

[2021-05-11 03:07] khushal87 commented on #3029
Is it working fine with my snack now? @mannix-lei

[2021-05-11 03:33] arpitBhalla commented on #3029
Why you want to use a Radio as Input component?

[2021-05-11 03:52] khushal87 commented on #3029
Yes, this could be a better approach. Can I raise a PR for it in the package? @arpitBhalla

[2021-05-11 04:24] khushal87 commented on #3029
https://snack.expo.io/@khushal87/radio-rne this will work. I will raise a PR and solve the label issue.

[2021-05-11 06:05] mannix-lei commented on #3029
That's because product design need it.
I got a form, it needs a Radio, So I use a Radio in an Input component.
I don't know how to make it better, so I did this and got this error.

[2021-05-11 06:06] mannix-lei commented on #3029
just because product design.

[2021-05-11 13:48] willerrodrigo commented on #2692
Hi ! @mogol23 @MaximMatsuk

You can do it in reverse order. TextInputMask has a customTextInput prop that you can use to the react-native-elements Input :)

[2021-05-12 15:38] chmac opened #3032 "TypeScript: Header leftComponent doesn't accept iconStyle"
**Explain what you did (Required)**

[code]

**Expected behavior (Required)**

According to the [docs for Header](https://github.com/react-native-elements/react-native-elements/blob/next/website/docs/props/header.md#leftcomponent) any valid props for Icon should be valid. According to the [docs for Icon](https://github.com/react-native-elements/react-native-elements/blob/next/website/docs/props/ic

[2021-05-12 15:50] khushal87 commented on #3032
@chmac Can you try using `style` instead of `iconStyle` and tell me if that works?

[2021-05-12 16:00] chmac commented on #3032
@khushal87 Wow, that was FAST! :-)

Using `style` passes type checking, but the styles are not actually applied. While using `iconStyle` the styles are actually applied to the icon. So in the case of using the padding & negative margin (to fake a hit slop), it works with `iconStyle` and does not work with `style`.

[2021-05-12 16:03] khushal87 commented on #3032
Yes, it is used in the code, but not been defined as a type to Header, that is why tsc checks are failing at your end. @chmac

[2021-05-12 16:05] chmac commented on #3032
@khushal87 There seem to be a bunch of types missing. I thought maybe they were defined in the code somewhere else and might just need imported? Or maybe they haven't been created at all?

[2021-05-12 16:09] khushal87 commented on #3032
Yes, it seems to be an issue, let me run it on my side and figure it out. Thanks, will keep you posted 😄

[2021-05-12 17:01] khushal87 commented on #3032
@chmac So the issue was that there was a property `style` for both `text` and `icon` in the props therefore the issue was coming up, I have fixed this with the PR #3033 by adding an `iconStyle` property to the IconObject which had overlapping `style`(that of text). This would solve the issue imo.
Note: This segregates the `style` with `iconStyle`.

[2021-05-12 17:13] chmac commented on #3032
@khushal87 That's epic, thanks a lot for the fast response.

I think the `brand` prop might also be missing. I tried adding it to my code to test, and it comes back with an error. According to this I think it is a boolean:

https://github.com/react-native-elements/react-native-elements/blob/26fc8e0e30fb3b549e0961c3b50a0ad040713d7e/src/icons/Icon.tsx#L48-L60

Maybe it makes sense to also add it in

[2021-05-12 17:15] khushal87 commented on #3032
So currently the icon doesn't import IconProps but IconObject, that is why you don't get the flexibility of using all the props of Icon. @chmac

[2021-05-12 17:19] khushal87 commented on #3032
I understand adding IconProps may add more flexibility and usability, but the admins must have done it for some reason. If I get any response I will surely modify the code to use IconProps too.

[2021-05-13 08:34] MaksimSerg opened #3034 "Override colors"
I want to change the default theme. And everything works fine, except for the color. The color does not change

[code]

[code]

[code]

There is a function in the component `ThemeProvider`
[code]
If you make the specified changes to it, then everything starts working.

What am I doing wrong?

react-native-elements: v3.4.1

npmPackages:
@react-native-community/cli: Not Found
react: 16.13.1 => 16.13

[2021-05-16 09:33] DenysMoro opened #3037 "[Theme] updateTheme doesn't switching colors on the fly/dynamically (Expo)"
**Explain what you did (Required)**
Hi. We are using RNE and we are trying to change theme on the fly. We are using hook `useTheme` and method `updateTheme` to switch colors. I've attached repo with example

**Expected behavior (Required)**
We want have ability to switch Theme dynamically. We can do it now with local state of the main parent component and then pass it through all child component

[2021-05-16 10:02] arpitBhalla commented on #3037
Hey @DenysMoro can you check https://snack.expo.io/@arpitbhalla/rne-theme

[2021-05-16 10:14] DenysMoro commented on #3037
Yes. It works in such way. I've implemented such functionality for now, but I believe we need to have ability to switch colors/theme on the fly out of the box (out of the RNE)

[2021-05-16 18:36] MasterBrian99 opened #3039 "How to remove this small border on ButtonGroup ?"
## Screenshot
<img src="https://i.imgur.com/RHzlRiS.png" alt="drawing" width="600"/>

i followed the documation.but i can't remove these borders.here is my code so far..

[code]

[2021-05-16 18:38] arpitBhalla commented on #3039
I guess it is for accessibility

[2021-05-16 18:58] arpitBhalla commented on #3039
Hey @MasterBrian99 https://snack.expo.io/@arpitbhalla/3039

[2021-05-17 10:38] ZeeshanAhmadKhalil commented on #2143
Solution that worked for me is giving `backgroundColor: "silver"` to `containerStyle` as follows:

`<Avatar
                        key={key}
                        rounded
                        source={{
                            uri: baseURL + "/Images/" + profilePicPath,
                        }}
                        title={fullName.charAt(0)}
                        size="medium"

[2021-05-17 12:10] MasterBrian99 commented on #3039
@arpitBhalla  it works.thank you !.

[2021-05-17 12:10] #3039 closed

[2021-05-17 18:50] arpitBhalla commented on #3015
Should we start now?

[2021-05-18 14:15] chrisgreen1993 opened #3040 "Button container border radius behaviour change"
First i'd like to say that I really appreciate this library, it's made my life much easier ❤️

**Explain what you did (Required)**

Create a `Button` with a `buttonStyle` with `borderRadius`.

`containerStyle` added so you can easily see the different behaviour.  E.g:
[code]

**Expected behavior (Required)**

In v3.2.0 and below the `Button` container takes the `borderRadius` set in `buttonStyle`.

[2021-05-19 05:15] deekshith4450 opened #3042 "Update docs for: Text styles with themeprovider not working on Android."
**Explain what you did (Required)**
With the help of theme provider i was trying to use same text styles where ever i needed them inside the app.

**Expected behavior (Required)**
Currently it working with ios. I have no idea why it is not working on Android. (Please correct if i am doing any thing wrong.)

**Describe the bug (Required)**
I have couple of custom fonts and those are font styles are

[2021-05-19 19:28] arpitBhalla commented on #3015
@snitin315 @khushal87 @jugshaurya I guess we can start it

[2021-05-19 20:20] seankonig opened #3043 "Image component does not render base64"
**Explain what you did (Required)**

Use expo-camera takePictureAsync(options) to take image. I pass the base64: true property to options and successfully get a base64 string back

**Expected behavior (Required)**

I expected that I can set this string(`data:image/jpg;base64,${base64}`) on the source uri property and see my image

**Describe the bug (Required)**

No image is displayed.

If I simpl

[2021-05-19 21:29] chrisgreen1993 opened #3044 "Slider: allowTouchTrack doesn't work when trackStyle prop is set from v3.4.0 onwards"
Hey again 👋

**Explain what you did (Required)**

Used a Slider component with `allowTouchTrack` and `trackStyle` set.

[code]

**Expected behavior (Required)**

I can move the slider position by touching the track anywhere, rather than just by dragging the thumb.

**Describe the bug (Required)**

I can only move the slider by dragging the thumb.  If I remove trackStyle or downgrade to 3.3.0 it wo

[2021-05-20 02:13] arpitBhalla commented on #3044
Hey @chrisgreen1993, if you can, go for it for sure

[2021-05-20 08:56] arpitBhalla commented on #3043
Hey @seankonig It works, https://snack.expo.io/@arpitbhalla/3043, I guess you are not giving style prop

[2021-05-20 08:57] arpitBhalla commented on #3043
Hey @seankonig It works, https://snack.expo.io/@arpitbhalla/3043, I guess you are not using style prop

[2021-05-20 09:22] seankonig commented on #3043
Yeah that's strange. I don't see the same behaviour on my side and width and height set. Not a major issue, simply changing the import to react-native library works. Just thought I would mention it

[2021-05-20 12:42] khushal87 commented on #3044
@chrisgreen1993 Go ahead.

[2021-05-20 14:35] Markyza commented on #2369
Can you explain your example? I need to use inverted scale, but in my case onValueChange should update min/max in parent component.

[2021-05-20 22:41] pweisensee opened #3045 "SearchBar: Property 'round' does not exist on type - Typescript error"
**Explain what you did (Required)**

Trying to render a rounded SearchBar component in Typescript

**Expected behavior (Required)**
SearchBar renders rounded with no errors or warnings

**Describe the bug (Required)**

Typescript shows error for rounded SearchBar, even though it is a documented Prop.

**To Reproduce (Required)**
[code]

**Screenshots (Required)**

![Screen Shot 2021-05-20 at 5 38

[2021-05-22 15:38] Enesklmc opened #3048 "Playground in the Document Website"
Hi, can i volunteer to do this project? if there is no one doing and there is no plan about to saving the idea for the next Gsoc.

[2021-05-22 15:40] arpitBhalla commented on #3048
I guess @hetanthakkar1 is doing this, you can joinly do I guess

[2021-05-22 15:45] hetanthakkar1 commented on #3048
@Enesklmc I have talked with mentors regarding same we can do this! Mentors have agreed with my approach

[2021-05-22 15:46] hetanthakkar1 commented on #3048
@Enesklmc I have talked with mentors regarding same. Mentors have agreed with my approach. You can join me

[2021-05-22 15:55] Enesklmc commented on #3048
I would like to join if you are okay. By the way which stage are you at and where are you guys communicating from?

[2021-05-22 15:56] arpitBhalla commented on #3048
I am from Mars

[2021-05-22 15:58] hetanthakkar1 commented on #3048
@Enesklmc I am currently trying to obtain webpack config for react native elements

[2021-05-22 16:04] Enesklmc commented on #3048
actually i did that docusaurus config. i can save your time [here the pull request](https://github.com/react-native-elements/react-native-elements/pull/2959)

[2021-05-22 16:04] hetanthakkar1 commented on #3048
@Enesklmc Can we converse on slack?

[2021-05-22 16:07] jugshaurya commented on #3048
@hetanthakkar1, who(mentor) agreed to your approach, i think your approach was to build a new website, can you share your proposal or some lines about your approach. We can discuss it.

[2021-05-22 16:17] Enesklmc commented on #3048
yeah there might be approaching differences [my proposal](https://docs.google.com/document/d/1G0xbzFGfoVOnbEKnKt7dSuVY5f6Onl9J1Zt_kMZ8qMU/edit?usp=sharing) about minimized playgorund

[2021-05-23 18:17] #2910 closed

[2021-05-23 18:18] #2929 closed

[2021-05-23 18:25] #3032 closed

[2021-05-24 05:31] warrendeleon opened #3049 "TS errors when extending theme (merging declarations)."
**Explain what you did (Required)**
I tried to extend the default theme following the guide on your documentation, under "[Customization -> TypeScript Definitions (extending the default theme)](https://reactnativeelements.com/docs/customization/#typescript-definitions-extending-the-default-theme)". I've tried it on `react-native-elements@3.4.1`.

[code]

**Expected behavior (Required)**
That types

[2021-05-26 14:27] warrendeleon commented on #3042
Hello @deekshith4450,

Have you tried using `makeStyles()`? Docs [here](https://reactnativeelements.com/docs/customization/#using-the-theme-in-your-own-components)

[code]

[2021-05-27 09:10] junqdu commented on #2630
@oporter1 were you able to resolve it?

[2021-05-27 09:22] junqdu opened #3053 "Rating rendered as square instead of star in release/archive mode"
Dev:
![Screen Shot 2021-05-27 at 2 20 45 AM](https://user-images.githubusercontent.com/4250728/119801218-5bd32900-be92-11eb-8323-6dd75e8860d4.png)

Release/Archive, build with `react-native run-ios --configuration Release`
![Screen Shot 2021-05-27 at 2 17 24 AM](https://user-images.githubusercontent.com/4250728/119801286-6988ae80-be92-11eb-8e15-1a7abe6da260.png)

[2021-05-27 14:48] KrisLau opened #3055 "Header borderBottomColor not working"
**Explain what you did (Required)**
I set the borderBottomWidth to 5 and borderBottomColor to orange but the only thing that appeared was a grey border line.  It seems to be similar to what happened in #2234 but the fix there (specifying borderBottom instead of just border for both the color and width) didn't work for me. I have worked around the bug by just putting a View with a top border around

[2021-05-27 17:27] khushal87 opened #3057 "Dialog component doesn't work on web"
**Explain what you did (Required)**
Run the rne-app on the web and tested the Dialog component.

Was analyzing the behavior of the component in the web.
**Expected behavior (Required)**
It should work as in android/ios.

**Describe the bug (Required)**
The dialogs don't open and the UI breaks on the web.

**To Reproduce (Required)**
Run the rne-app on web/ Use the dialog component on web.

We high

[2021-05-27 17:28] khushal87 commented on #3057
@Dhananjayan-PN Can you look into the issue? Also kindly refer #3056 for improvements in the code of the component. Thanks.

[2021-05-27 17:35] Dhananjayan-PN commented on #3057
@khushal87 On it!

[2021-05-28 08:52] notjulian opened #3058 "Icon raised border problem on iOS"
**Explain what you did (Required)**
Border of Icon raised on iOS is not visible

**Expected behavior (Required)**
Expecting to work as android

**Describe the bug (Required)**
Border of Icon is not visible anymore

**To Reproduce (Required)**
https://snack.expo.io/yYA7fKAV5

**Screenshots (Required)**
iOS:
![Screenshot 2021-05-28 at 10 44 25](https://user-images.githubusercontent.com/2241601/11995

[2021-05-28 18:25] stephen776 opened #3059 "Typescript Error: Cannot find name "T""
![image](https://user-images.githubusercontent.com/565167/120026289-dbaae180-bfbf-11eb-9fbe-f6070c00edc6.png)

I am receiving the TS error noted above after upgrading to 3.4.1. I have also noted the issue as far back as 3.3.2 (maybe earlier)

I am running TS version 4.3.2

It appears that every component that used the `withTheme` HOC ends up with the same `Cannot find name "T"` error.

Example Out

[2021-05-28 18:35] rambleraptor opened #3060 "Slack Down"
It appears that the React Native Elements Slack is down. It's just getting a Heroku error.

**Explain what you did (Required)**
Went to https://react-native-elements-slack.herokuapp.com/

Access the Slack.
**Expected behavior (Required)**

Receive an invite to join the Slack channel.

**Describe the bug (Required)**

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [S

[2021-05-28 18:36] rambleraptor opened #3061 "Next Release"
I would've asked this in the Slack, but it appears that the Heroku app for joining is [down](https://github.com/react-native-elements/react-native-elements/issues/3060).

Huge fan of the library and really excited for ListItem.Swipable. Any idea when the next release will be?

[2021-05-28 18:37] arpitBhalla commented on #3061
Will be comming soon,

[2021-05-28 18:41] arpitBhalla commented on #3061
You can try with next version

[2021-05-28 19:19] KrisLau opened #3062 "Lightbox"
**Is your feature request related to a problem? Please Describe.**
The original lightbox project seems to have been abandoned which is a shame since it's still a really cool component. It currently has a couple bugs with screen orientation. I wanted to use the lightbox to be able to display my carousel of images once a user clicks on a thumbnail.
https://github.com/oblador/react-native-lightbox

*

[2021-05-28 20:15] #3062 closed

[2021-05-29 10:43] pranshuchittora commented on #3048
Hello everyone feel free to work on this :)

[2021-05-29 10:51] pranshuchittora commented on #3061
Hi @rambleraptor
The slack invite app runs on free tier of Heroku, it seems like we have exhausted our monthly limit. It will be up automatically from next month.

[2021-05-29 10:53] #3061 closed

[2021-05-30 14:32] khushal87 commented on #3060
@rambleraptor If the issue is resolved in #3061 please mark it as close too. Thank you.

[2021-05-30 14:43] khushal87 commented on #3058
![Screenshot from 2021-05-30 20-08-18](https://user-images.githubusercontent.com/39884168/120108467-dea1ff80-c182-11eb-83a5-5db0c8ae512e.png)
Hey, @notjulian If you see here there's a small border coming in. This is from iOS. So, the point is that android and ios shadow props work differently. For iOS, we have `shadowColor, shadowOffset` etc. but for android, there's a single prop named `elevation

[2021-05-30 15:19] khushal87 commented on #3055
Hey, @KrisLau you had a type `borderBottomColorColor` which should be actually `borderBottomColor`. Kindly fix this and this will work.
Ref: https://snack.expo.io/JWb5Ck8N2

[2021-05-30 15:25] khushal87 commented on #3053
Are you having a flex style above?
Check this: https://snack.expo.io/AXs5tbIEQ it should work.

[2021-05-31 07:00] notjulian commented on #3058
Hi @khushal87,
thanks for your answer
but if I use 1.2.7
I can see the border why

https://snack.expo.io/GWTAqO-W2

[2021-06-01 19:35] KrisLau commented on #3055
@khushal87 Can't believe I missed that! Sorry for the trouble and thanks for the help!

[2021-06-01 19:35] #3055 closed

[2021-06-04 14:44] flyingcircle commented on #3060
I don't see any error. Slack is working as far as I see.

[2021-06-04 14:44] #3060 closed

[2021-06-06 15:53] rishabhsxn opened #3065 "SocialIcon: Renders as button with 'raised={false}' and 'light={true}' props"
**Explain what you did (Required)**
I was trying to render the light themed 'facebook' SocialIcon without the elevation.
I checked on both android and iOS, facing the same issue.

**Expected behavior (Required)**
[code]
should render
![image](https://user-images.githubusercontent.com/48175786/120930214-fdb40a80-c709-11eb-9ffe-7272a6fe50ae.png)

**Actual behavior**
But, it renders:
![image](https:/

[2021-06-06 16:06] arpitBhalla commented on #3065
[code]
This can be reconsidered
https://github.com/react-native-elements/react-native-elements/blob/08c0cb0edea6f4c2f12396a93c37cbf107c2d2fa/src/social/SocialIcon.tsx#L147

[2021-06-06 17:14] rishabhsxn opened #3066 "SocialIcon: Overall icon size doesn't change when prop raised={true}"
**Explain what you did (Required)**
I was trying to render the SocialIcon with an iconSize of less than default of 24.

**Expected behavior (Required)**
The overall size of icon should decrease.
[code]
should look like
![image](https://user-images.githubusercontent.com/48175786/120933128-496cb100-c716-11eb-9a4a-847ace52fbfd.png)

**Actual behavior**
But it only decreased the size of inner symbol:

[2021-06-06 17:20] rishabhsxn commented on #3066
When I removed !raised and !light from the conditional statement in :
https://github.com/react-native-elements/react-native-elements/blob/08c0cb0edea6f4c2f12396a93c37cbf107c2d2fa/src/social/SocialIcon.tsx#L147

both the issue #3065 and #3066 were solved in my project. I am new to open-source contribution, I would love if anyone can guide me.
Please let me know if my suggested solution is correct o

[2021-06-07 02:28] #3049 closed

[2021-06-07 06:28] AugustinasMK opened #3067 "autoCompleteTypes works only in Expo Go."
**Explain what you did (Required)**

Created 2 <Input> elements for "Email" and "Password" and set them to correct autoCompleteTypes.

**Expected behavior (Required)**

Both in Expo Go and in Standalone Apps, the context menu (Samsung Pass on my device) shows up.

**Describe the bug (Required)**

The context menu shows up only in Expo Go. After building a standalone app, the menu does not show up.

[2021-06-07 08:10] andkom opened #3068 "Overlay background color does not inherit theme's color."
**Explain what you did (Required)**

**Expected behavior (Required)**

In dark mode overlay background should be dark

**Describe the bug (Required)**

Overlay background color does not inherit theme's color.

**To Reproduce (Required)**

[code]
**Screenshots (Required)**

**Your Environment (Required):**

| software              | version |
| --------------------- | ------- |
| react-native-eleme

[2021-06-07 08:15] andkom opened #3069 "ListItemSubtitle is invisible in dark theme"
**Explain what you did (Required)**

**Expected behavior (Required)**

In dark mode list item subtitle should be light

**Describe the bug (Required)**

In dark mode list item subtitle is dark so it's invisible on dark background.

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If not, list the steps that a reviewer can take to reprod

[2021-06-07 08:20] andkom opened #3070 "CheckBox colors does not match dark theme"
**Explain what you did (Required)**

**Expected behavior (Required)**

In dark mode CheckBox container background and border are dark

**Describe the bug (Required)**

In dark mode CheckBox container background and border are light

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If not, list the steps that a reviewer can take to repro

[2021-06-07 11:20] arpitBhalla commented on #3069
https://github.com/react-native-elements/react-native-elements/blob/09d6f780245b03e0156b12edf5076b7396038d9c/src/list/ListItemSubtitle.tsx#L40
This might be reconsidered, would you like to create a PR

[2021-06-07 11:35] arpitBhalla commented on #2922
Closes #2922
---
- [ ] Accessory
- [ ] Avatar
- [ ] Badge
- [ ] BottomSheet
- [ ] Button
- [ ] ButtonGroup
- [ ] Card
- [ ] CheckBox
- [ ] Chip
- [ ] Divider
- [ ] FAB
- [ ] FeaturedTile
- [ ] Header
- [ ] Icon
- [ ] Image
- [ ] Input
- [ ] LinearProgress
- [ ] ListItem
- [ ] Overlay
- [ ] PricingCard
- [ ] SearchBar
- [ ] SearchBar-android
- [ ] SearchBar-default
- [ ] SearchBar-ios
- [ ] Slider

[2021-06-07 11:35] arpitBhalla commented on #2922
- [ ] Accessory
- [ ] Avatar
- [ ] Badge
- [ ] BottomSheet
- [ ] Button
- [ ] ButtonGroup
- [ ] Card
- [ ] CheckBox
- [ ] Chip
- [ ] Divider
- [ ] FAB
- [ ] FeaturedTile
- [ ] Header
- [ ] Icon
- [ ] Image
- [ ] Input
- [ ] LinearProgress
- [ ] ListItem
- [ ] Overlay
- [ ] PricingCard
- [ ] SearchBar
- [ ] SearchBar-android
- [ ] SearchBar-default
- [ ] SearchBar-ios
- [ ] Slider
- [ ] SocialIcon

[2021-06-07 11:36] arpitBhalla commented on #2939
- [ ] Avatar.Accessary
- [ ] Badge
- [ ] Button
- [ ] ButtonGroup
- [ ] Chip
- [ ] SpeedDial
- [ ] Checkbox
- [ ] Icon
- [ ] Image
- [ ] SearchBar
- [ ] Social Icon
- [ ] FeaturedTile
- [ ] Tile
- [ ] ToolTip
- [ ] ListItem

<details>
<summary>Files to Change</summary>
<br>

[code]

</details>

[2021-06-07 12:02] khushal87 commented on #2591
Can we halt it till GSoC ends? Displaying the props could be a difficult task for the inherited props as we don't have sections and currently, all of the children components are maintained manually by giving a link reference. Once the process is clear, we can look at this. @pranshuchittora @flyingcircle @arpitBhalla

[2021-06-07 17:01] pranshuchittora commented on #2591
You can start with other components first. Then we can take a look at this because delaying this might not be a good idea 🤔

[2021-06-08 02:49] flyingcircle commented on #3067
I'm honestly not seeing how this could be related to RNE. We don't do anything with this, the props like this get passed directly to `TextInput`. I see a couple of tickets in React Native open that look relevant though such as this one:

https://github.com/facebook/react-native/issues/31518

This looks like a RN issue.

[2021-06-08 02:49] #3067 closed

[2021-06-09 11:59] Estevete commented on #101
Is it possible to keep the button title in the middle of the button, and place the icon on one side?

Something like:
![image](https://user-images.githubusercontent.com/19273351/121350306-cbcdbe80-c92a-11eb-893b-5951722cd9d7.png)

[2021-06-09 12:53] khushal87 commented on #3066
@rishabhsxn How can I help you with raising a PR, where are you facing issues, can you be specific?

[2021-06-09 14:51] rishabhsxn commented on #3066
I was confused with the different branches and test suites. I figured it out and made a PR.
Thank you @khushal87 for being open to help. I'll ping you if I get stuck. :)

[2021-06-09 22:52] tedplumtree opened #3075 "<ListItem.Swipeable /> can support `onSwipeLeft` and `onSwipeRight` props"
**Is your feature request related to a problem? Please Describe.**

Currently, the docs for `<ListItem.Swipeable />` show a flow where the user swipes the item, and then clicks a button that appears.

More often, users might want a simpler flow, where simply swiping the item results in an action.

**Describe the solution you'd like**

It seems like the current implementation should be able to supp

[2021-06-10 03:24] chinieer opened #3076 "Dialog component container style"
I feel puzzled that style name childrenContainer in [https://github.com/react-native-elements/react-native-elements/blob/next/src/dialog/Dialog.tsx](url)
`
 childrenContainer: {    marginBottom: 5,  }`

**Explain what you did (Required)**

it leads to produce extra space when i just use loading and cannot rewrite it directly
remove this style

**Expected behavior (Required)**

**Describe the bug (

[2021-06-12 18:49] theomartiz opened #3079 "Property 'cancelButtonTitle' does not exist on SearchBar"
Just type error.

[2021-06-13 08:04] kimfucious opened #3080 "Warning: Failed prop type: Invalid prop `name` of value `chevron-forward-outline` supplied to `Icon`..."
**Explain what you did (Required)**

Created a ListItem with the following code...

[code]
☝🏼  Note the main thing is ListItem.Chevron

**Expected behavior (Required)**

I should be seeing chevrons.

**Describe the bug (Required)**

I'm seeing "?" instead of chevrons

The following warning is displayed in the console:
[code]

Frankly this used to work, and I don't know when it stopped working, as

[2021-06-13 08:32] kimfucious commented on #3080
Interestingly, I can do the below, but I never had to do this before.

If there's a way to avoid changing this everywhere in the app, I'd love to know.

Thanks.

[code]

[2021-06-14 15:25] jorgegvallejo opened #3082 "Customizing ListItemCheckbox in theme"
**Explain what you did (Required)**

Trying to custom theme list items that include checkboxes

**Expected behavior (Required)**

Being able to change the style, doing something like this:

[code]

**Describe the bug (Required)**

Changing the ListItemCheckbox `size`, `style` or `containerStyle` didn't have any effect.

**Your Environment (Required):**

react-native-elements  3.4.1
react-native

[2021-06-15 05:21] stephenjen opened #3083 "Nothing happens when click on tabs"
**Explain what you did (Required)**
Followed usage code for tabs

**Expected behavior (Required)**
On click on any non-open tabs, expected clicked tab and content to change.

**Describe the bug (Required)**
Tabs and tab content did not change.

**To Reproduce (Required)**

# Snack
https://snack.expo.io/aVc0QiC64

# Steps
1. Click on FAVORITE OR CART ta bs
2. Nothing happens

**Screenshots (Require

[2021-06-15 07:04] arpitBhalla commented on #3083
You need to add onChange handler and put value of index

[2021-06-15 12:58] arpitBhalla commented on #3083
This is wrong in your code `const { index, setIndex } = useState(0);`

[2021-06-15 12:59] arpitBhalla commented on #3083
Check this https://snack.expo.io/@arpitbhalla/3083

[2021-06-15 13:56] ShivamTyagi12345 commented on #3082
HI @jorgegvallejo . I am fairly new to OS and want to work on this issue.

For this issue,the following is where I am getting started with :
[https://reactnativeelements.com/docs/web_usage](url)

please, respond with any other helpful resources (if any)

[2021-06-15 23:21] stephenjen commented on #3083
😱  Thanks!

[2021-06-15 23:22] stephenjen commented on #3083
😱

Thanks!

[2021-06-15 23:22] #3083 closed

[2021-06-16 13:56] GaylordP opened #3085 "Tooltip render error : "top":"<<NaN>>""
Hello,

Sorry for my bad English, I'm French.
Thanks you very much for your fabulous library.

With `tooltip` in `Flatlist` (very basic use case) I have this error when clicking on the `tooltip`  :

Here is a copy of my code, although this one is really basic :

    <View>
        <Tooltip
            popover={<Text>{exerciseEquipment.name}</Text>}
            withOverlay={false}
            backg

[2021-06-17 03:34] flyingcircle commented on #3080
Looks like you need a more recent version of vector icons. What version are you using or did you install?

[2021-06-17 07:50] souviknsl07 commented on #3082
@jorgegvallejo In my case, I am able to change the size and containerStyle is working fine too.

My Environment:
react-native-elements: 3.4.1
react-native: 0.63.4

[2021-06-17 08:11] arpitBhalla commented on #3082
He wants to change in theme, for each checkbox

[2021-06-17 09:22] souviknsl07 commented on #3082
Could you explain it to me what does that mean? I am pretty new

[2021-06-17 09:31] arpitBhalla commented on #3082
https://reactnativeelements.com/docs/customization#theme

[2021-06-17 09:33] souviknsl07 commented on #3082
Ya I checked it just now..Thanks

[2021-06-17 14:09] CarlosMunozG opened #3087 "Slider props value changes not rendering correctly"
Hello,

I'm having problems with Slider every time props value changes. I have already update react-native-elements to last version (3.4.2) to resolve  this bug [#2995](https://github.com/react-native-elements/react-native-elements/issues/2995) but I'm still having problems. Now every time props value changes, the position of the thumb changes correctly but it seems props value is not changing. He

[2021-06-17 16:38] arpitBhalla commented on #3082
Hey @jorgegvallejo You need to use `ListItemCheckBox` Capital B

[2021-06-17 16:39] arpitBhalla commented on #3082
Check This https://snack.expo.io/@arpitbhalla/3082

[2021-06-17 16:39] arpitBhalla commented on #3082
https://github.com/react-native-elements/react-native-elements/blob/c94e84701e4cf9fdbfe882e09b2b61acb61b5873/src/config/theme.tsx#L63

[2021-06-17 16:46] arpitBhalla commented on #3080
Working Fine for me

[2021-06-17 16:48] arpitBhalla commented on #3059
Unable to reproduce this error

[2021-06-17 16:48] arpitBhalla commented on #3059
Unable to reproduce this error

[2021-06-17 16:48] arpitBhalla commented on #3045
Would you like to open a PR?

[2021-06-17 16:50] arpitBhalla commented on #3040
You can do this
[code]

[2021-06-17 16:53] arpitBhalla commented on #3040
You have to use this
[code]

[2021-06-17 16:54] arpitBhalla commented on #2998
@flyingcircle Duplicate #3067

[2021-06-17 16:54] arpitBhalla commented on #3079
Would you like to open a PR?

[2021-06-17 16:55] arpitBhalla commented on #3020
@khushal87 We can close this I guess

[2021-06-17 17:14] flyingcircle commented on #3082
Awesome catch @arpitBhalla Not a bug.

[2021-06-17 17:14] #3082 closed

[2021-06-17 17:14] flyingcircle commented on #3080
@kimfucious unable to reproduce. If you can create a snack that shows this error, I'll reopen the ticket.

[2021-06-17 17:14] #3080 closed

[2021-06-17 18:46] #3020 closed

[2021-06-17 18:46] #3014 closed

[2021-06-17 20:38] jorgegvallejo commented on #3082
Thank you my man

[2021-06-18 02:12] #3075 closed

[2021-06-18 07:34] dinhbt opened #3088 "Can't updateTheme"
Hi team,
I have an issue when call updateTheme.  You can check this problem on below.

[code]
I checked and found issue line 61 to 69 in (https://github.com/react-native-elements/react-native-elements/blob/4f90e00919f4897a9a1320f74c8203ba7ec9e9f2/src/config/ThemeProvider.tsx)

I resloved issue with code on below. Can you update it ?
`
 static getDerivedStateFromProps(props, state) {
    const { us

[2021-06-18 07:51] dinhbt commented on #3037
Hi DenysMor,

I think issue exist in file ThemeProvider.tsx.
You can create pull request and change code on below.
`
static getDerivedStateFromProps(
    props: {
      theme: Theme;
      useDark?: boolean;
    },
    state: ThemeProviderState
  ) {
    const { useDark } = props;
    const isTheme = (theme: Partial<FullTheme>) => {
      return !(Object.keys(theme).length === 0 && theme.construct

[2021-06-18 10:57] arpitBhalla commented on #3088
Can you review https://github.com/react-native-elements/react-native-elements/pull/3027

[2021-06-18 11:25] tmirun commented on #3087
same issue here

[2021-06-18 14:44] djMax opened #3089 "SearchBar Typescript types are broken"
**Explain what you did (Required)**

I'm using SearchBar in typescript. I have a state variable to store the search text:

[code]

**Expected behavior (Required)**

I expect this to be a valid usage according to Typescript.

**Describe the bug (Required)**

TS says onChangeText doesn't match, but the required property type is essentially disjoint (I think).

[code]

**Your Environment (Required):*

[2021-06-18 18:15] koaladlt commented on #1787
I had a similar issue. My mistake was to use margin on "buttonStyle" prop. Using it on "containerStyle" fixed the problem.

[2021-06-18 19:52] rush86999 commented on #3089
i am having the same problem

[2021-06-19 08:10] arpitBhalla commented on #3076
@Dhananjayan-PN kindly look into this, 🙂

[2021-06-20 15:14] marcuiulian13 commented on #3089
To add to this, the `SearchBar` types seem to have been broken in the last release.

One can do `onChangeText={setSearch as any}` to get rid of the error initially reported here, but then Typescript complains that you're missing even more **required** properties, like `onBlur`, `onFocus`, `onClear`, etc. which should not always be implemented by the developer:
![image](https://user-images.githubus

[2021-06-20 15:17] djMax commented on #3089
Changed. As my teenager would say, lol xd bad.

[2021-06-20 15:19] marcuiulian13 commented on #3089
For the meantime, my current solution for this regression is to use the `SearchBar` like this (overwriting the prop types to what was in v3.4.1) :
[code]

[2021-06-20 16:03] marcuiulian13 opened #3091 "FlatList is not scrollable inside TabView"
**Explain what you did (Required)**
Using `TabView` and `TabView.Item`, containing a list inside the `TabView.Item`.

**Expected behavior (Required)**
The list inside the `TabView` should continue to be scrollable.

**Describe the bug (Required)**
When having a `FlatList` inside a `TabView.Item`, the scrolling of the list is broken - you can only scroll if you very quickly swipe the screen.

**To

[2021-06-20 16:06] arpitBhalla commented on #3091
I am able to do it in Android

[2021-06-20 16:08] marcuiulian13 commented on #3091
I've tested this on a Pixel 4 XL (Android). Does this work straight away for you?

[2021-06-20 16:08] arpitBhalla commented on #3091
Yep wworkinv fine
https://user-images.githubusercontent.com/55053424/122680992-ccf6c980-d20f-11eb-9045-469aeb4aa743.mp4

[2021-06-20 16:16] marcuiulian13 commented on #3091
Very odd, I tried restarting my device and also enabling the navigation bar in Android and I can still reproduce on my device in both cases.

[2021-06-20 16:20] marcuiulian13 commented on #3091
A similar behaviour can be seen in the Snack I attached if you test on iOS in the browser - the list is scrolled just a few pixels when dragging.

[2021-06-20 16:30] arpitBhalla commented on #3091
Do you think it is due to PanResponder used in TabView?

[2021-06-20 16:34] marcuiulian13 commented on #3091
I don't have any experience with the `PanResponder` unfortunately, but I would imagine that the issue is it capturing all the events, even the ones in the children... I tried using `preventDefault` and `stopPropagation` in the list `onScroll` handler, but that does nothing.

[2021-06-20 16:53] arpitBhalla commented on #3089
[code]
This Works for me, Can you confirm @djMax

[2021-06-21 18:44] ku3ntin opened #3092 "TabView - TypeError: undefined is not an object"
you can close

[2021-06-22 04:32] Cortlandd opened #3093 "Input not registering in Overlay except input"
**Explain what you did (Required)**
I implemented a modal with an input and a button

**Expected behavior (Required)**
I should be able to open the overlay and click the button or tap the backdrop to close without needing to open the overlay.

**Describe the bug (Required)**
The backdrop input and the button aren't responding unless i click inside the input first.

**To Reproduce (Required)**
See

[2021-06-22 06:45] #3092 closed

[2021-06-22 08:52] arpitBhalla commented on #3093
Working fine for `react-native-elements@latest` on Android

[2021-06-22 11:05] ruiaraujo012 commented on #3091
I have almost the same problem if I put a ScrollView inside a TabView.Item the content of the ScrollView disappears

Without
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/16304685/122913961-0899ac80-d352-11eb-94ca-b1e17c3080d9.png)

With ScrollView
![MicrosoftTeams-image](https://user-images.githubusercontent.com/16304685/122914034-2109c700-d352-11eb-8a4e-3ead127f2ccb.png)

[2021-06-22 11:53] arpitBhalla commented on #3091
@ruiaraujo012 Can you share a snack of your code, btw UI looks great

[2021-06-22 12:12] ruiaraujo012 commented on #3091
Oh, nvm, I have a Tab content inside a View without styles, if I put flex: 1 in that View this works as expected.

https://snack.expo.io/wju-jRn2b

Thanks anyway

[2021-06-22 14:14] Cortlandd commented on #3093
same, but with ios simulator. not much luck as all.

[2021-06-22 18:21] ruiaraujo012 commented on #3091
Now, it work on android but in ios the scroll is buggy and not work as expected, if you try the same code but on ios device it won't work

[2021-06-22 20:55] KrisLau opened #3095 "Draggable Item"
**Is your feature request related to a problem? Please Describe.**
I just noticed that ListItem has a Swipeable component (https://reactnativeelements.com/docs/listitem/#listitem-swipable) and I thought it would also be cool to have the component be draggable to allow for reordering of the list.

**Describe the solution you'd like**
Maybe have a Provider that wraps around a group of components tha

[2021-06-22 21:12] KrisLau opened #3096 "Selection/check mode for Picker"
**Is your feature request related to a problem? Please Describe.**
Would be really cool if picker supported a selection/check mode where you could select multiple picker items and have it return an array of selected items.

**Describe the solution you'd like**
Something like this:
![image](https://user-images.githubusercontent.com/46275463/123000023-9dad9d00-d374-11eb-8c32-4a40900621b4.png)

**Des

[2021-06-23 02:17] arpitBhalla commented on #3095
Duplicate of https://github.com/react-native-elements/react-native-elements-universe/issues/7.

[2021-06-23 05:59] arthurzhou opened #3097 "Table"
hi， Can you implement a Table component

[2021-06-23 06:20] arpitBhalla commented on #3097
Duplicate of https://github.com/react-native-elements/react-native-elements-universe/issues/3

[2021-06-23 15:35] rush86999 commented on #3089
i can confirm it works and platform prop becomes a required prop

[2021-06-23 18:21] #3097 closed

[2021-06-23 18:37] #3095 closed

[2021-06-24 08:11] kkrishna-choudhary opened #3104 "Card"
**Explain what you did (Required)**
I have tried to render a card item and used <Card.FeaturedTitle>Hello<Card.FeaturedTitle>

[``](url)
**Expected behavior (Required)**
An empty space appeared but Hello Text is not displayed, same happened with <Card.FeaturedSubtitle>

**Describe the bug (Required)**
It is not able to render any text between the tag [](url)

**To Reproduce (Required)**

We highly

[2021-06-24 12:36] arpitBhalla commented on #3104
Actually its color is white so we aren't able to see it

[2021-06-24 12:38] arpitBhalla commented on #3104
https://github.com/react-native-elements/react-native-elements/blob/34c6936f70cb489b23342101641376785d12245a/src/Card/CardFeaturedTitle.tsx#L21

[2021-06-24 12:41] arpitBhalla commented on #3104
Actually its color is `white` so we aren't able to see it. You can use `Card.Title` or use style

https://github.com/react-native-elements/react-native-elements/blob/34c6936f70cb489b23342101641376785d12245a/src/Card/CardFeaturedTitle.tsx#L21
https://github.com/react-native-elements/react-native-elements/blob/34c6936f70cb489b23342101641376785d12245a/src/Card/CardFeaturedSubtitle.tsx#L21

[2021-06-24 12:56] arpitBhalla commented on #3093
https://snack.expo.io/@arpitbhalla/3093

https://user-images.githubusercontent.com/55053424/123266367-9247a680-d519-11eb-9f84-16385d5a51fc.mp4

[2021-06-24 13:17] Cortlandd commented on #3093
Thanks for this. I updated the package and adjusted the overlay position and it seems to be working now. Much obliged

[2021-06-24 13:17] #3093 closed

[2021-06-24 15:25] #3104 closed

[2021-06-25 15:29] KrisLau opened #3109 "Email validation for Input component"
**Is your feature request related to a problem? Please Describe.**
It would be cool if we could set the input component's type to email which would then automatically validate the email format. Then, it should set the error message if the email's format is invalid or blank.

**Describe the solution you'd like**
`<Input type='email' />`
![image](https://user-images.githubusercontent.com/46275463/12

[2021-06-25 15:32] arpitBhalla commented on #3109
https://github.com/react-native-elements/react-native-elements/issues/3067#issuecomment-856396299

[2021-06-25 15:32] arpitBhalla commented on #3109
Check this https://github.com/react-native-elements/react-native-elements/issues/3067#issuecomment-856396299

[2021-06-25 15:33] arpitBhalla commented on #3109
You can use formik or any other form validation library

[2021-06-26 08:04] AllInOneYT opened #3110 "[BottomSheet] Add ScrollView props"
**Is your feature request related to a problem? Please Describe.**

I am using a library where if it's placed inside a ScrollView, the ScrollView's keyboardShouldPersistTaps props should be set to 'handled'

**Describe the solution you'd like**

Allow to forward scrollViewProps to the ScrollView

**Describe alternatives you've considered**

Remove the ScrollView altogether, so the users need to pa

[2021-06-27 17:34] souviknsl07 commented on #3109
Can I work on this issue?

[2021-06-28 09:28] chungweileong94 commented on #2958
So I'm actually facing the same issue on Android 9 or below, and the problem is actually causing by the `borderless: true` in `TouchableNativeFeedback`, do anyone know why the `borderless` is `true` in the first place?

![Screen Shot 2021-06-28 at 5 25 23 PM](https://user-images.githubusercontent.com/15154097/123613295-e31b1000-d835-11eb-9c5b-ade62c45cdf3.png)

Yeah, using `Pressable` with borderl

[2021-06-28 10:04] arpitBhalla commented on #2958
@HugoGresse  work in progress on this, will be availble in next release

[2021-06-28 14:14] ithustle opened #3113 "Attempt to invoke virtual method double java.lang.Double.doubleValue() on a null object reference"
**Explain what you did (Required)**

I put Tooltip component on my code inside `return()`, using a variable to storing a reference to call this inside a `useEffect` to show tooltip on running the app for the first time.

The variable that store the reference was declared as showed on documentation:

[code]

**Expected behavior (Required)**

Show the Tooltip

**Describe the bug (Required)**

`attem

[2021-06-29 02:29] #3015 closed

[2021-06-29 02:31] #3110 closed

[2021-06-29 03:16] Seanmclem commented on #253
How's your PR?

I'll try this in the mean-time
https://www.npmjs.com/package/react-native-select-dropdown

[2021-06-29 03:58] #3089 closed

[2021-06-29 15:29] #3004 closed

[2021-06-29 15:30] #1613 closed

[2021-06-29 15:41] flyingcircle commented on #3109
I feel that https://reactnative.dev/docs/textinput already provides enough email specific features. Implementing a regex like this is simple enough for anyone to do with about 2 lines of code. And then this gets complicated when people want to write in their own error message, so then a separate prop has to be created for that... It's a little too specific for a general use library.

[2021-06-29 15:41] #3109 closed

[2021-06-29 17:43] schie opened #3117 "Unable to programmatically focus `ListItem.Input`"
**Explain what you did (Required)**

I'm unable to `focus` `ListItem.Input` programmatically via ref

**Expected behavior (Required)**

I expect to be able to focus `ListItem.Input` programmatically via ref like RNE's normal `Input` component

**Describe the bug (Required)**

I believe that the ListItemInput isn't forwarding the refs properly

- [ListItemInput src code](https://github.com/react-na

[2021-06-29 19:10] harshal2030 opened #3119 "Error on react native web"
**Explain what you did (Required)**
I'm trying react native elements on the web but I don't want to use react-native-vector-icons because including it, increases my bundle size

**Expected behavior (Required)**
webpack should bundle the files successfully.

**Describe the bug (Required)**
The webpack bundle fails with following error
[code]

**To Reproduce (Required)**
Here is my webpack config fi

[2021-06-30 16:54] Boubaker93 commented on #2957
I don't know why typescript is complaining even thought the type of ref has `React.RefObject<Input>` as type

![Screen Shot 2021-06-30 at 5 45 48 PM](https://user-images.githubusercontent.com/11636786/124000826-e47e4100-d9cb-11eb-9383-6100f4f70d49.png)

[code]
![Screen Shot 2021-06-30 at 5 46 01 PM](https://user-images.githubusercontent.com/11636786/124000780-d7615200-d9cb-11eb-886f-d54862ca5647.p

[2021-07-01 17:23] zrg-team opened #3120 "View config getter callback for component `RCTText` must be a function (received `undefined`)"
i try to install
[code]

but got below error when used Text Components

[code]

Noted: It worked fine with Image Component

[2021-07-02 04:42] saif-malik-01 commented on #3087
@flyingcircle sir , can u plz assign this issue to me . I want to work on it .

[2021-07-02 04:45] arpitBhalla commented on #3087
Go for it

[2021-07-02 13:36] TheSilentHorizon opened #3123 "SearchBar still not working using "Bleeding Edge" Version"
So, im trying to get the searchbar to run, but reading all those issues about the searchbar it looks pretty broken.

When trying to install react-native elements via:

`npm install https://github.com/react-native-elements/react-native-elements#dist
`

I can start my expo project but on loading the app, it results in this error crashing the app:

Unable to resolve module ./buttons/Button from <File

[2021-07-03 07:52] arpitBhalla commented on #3123
Try reinstalling

[2021-07-03 08:07] TheSilentHorizon commented on #3123
tried that several times, also tried 3.4.1 but no success either.

[2021-07-04 17:15] karladler opened #3127 "[Button]: disabledStyle prop should be distinguished for different button types"
**Is your feature request related to a problem? Please Describe.**

When setting the disabledStyle in the theme it applies for ALL button styles. So just setting the background to grey e.g. would also set it on a disabled button of type "clear". There should be an option to make the styling dependent from the button type.

**Describe the solution you'd like**

Two options I can imagine:
1st: just

[2021-07-04 18:07] aethiss commented on #2201
sorry for delay @droplessjordan , yes i found a working solution, i copy here my storybook webpack config (webpack 4)

[code]

[2021-07-05 05:22] AllInOneYT opened #3128 "[Chip] onPress not working"
**Explain what you did (Required)**

Chip component simply omit the onPress function when specified

**Expected behavior (Required)**

Chip fires the onPress event

**Describe the bug (Required)**

When we render the chip witch the onPress props, it doesn't fire

**To Reproduce (Required)**

<Chip onPress={() => console.log('hello')}/>

**Screenshots (Required)**

None

**Your Environment (Require

[2021-07-05 18:17] sashiksu commented on #1888
Just use `skipAndroidStatusBar` prop of ToolTip component. No need to edit tooltip.js file.
This works for me. 😋

[2021-07-05 23:42] hiji opened #3130 "Slider allowTouchTrack prop is not working"
**Explain what you did (Required)**

I set the Slider allowTouchTrack prop to false, but it doesn't get disabled.

**Expected behavior (Required)**

Slider allowTouchTrack prop setting is enabled.

**Describe the bug (Required)**

Documentation explains that Slider's `allowTouchTrack` prop default is `false`, but the behavior is the same as when `true` is set.
Also, setting allowTouchTrack prop to

[2021-07-06 02:04] daminhtung opened #3131 "Support StyleSheet.create for Theming Customization"
**What I did**

I am customizing the theme using `ThemeProvider` to migrate my app able to change all `fontFamily` of `Text`, `Button`, `Input` to ` fontFamily: 'Zapfino'`.

I realized in the documentation, there is two way to do that:

1. Using Composition - we create one component with the styles we want and use that instead of the built-in component(great for only one component).

2. Using `The

[2021-07-06 07:44] arpitBhalla commented on #3131
Yep, In ThemeProvider
[code]
 returns ```{"style":329}```

[2021-07-06 10:49] govindprasadgupta commented on #2995
Update slider value using props and try to drag the slider. it resets to the previous slider value.

Example:
Set slider value by dragging
Now update slider value by props
Tap on the slider. it reset again to the previous value.

[2021-07-06 12:45] dancixx commented on #3089
I have the same issue. :(

[2021-07-06 12:46] arpitBhalla commented on #3089
Did you checked with `next` version?

[2021-07-06 12:48] dancixx commented on #3089
I have 3.4.2 now.

[2021-07-06 12:49] arpitBhalla commented on #3089
Will be resolved soon #3121

[2021-07-06 12:50] dancixx commented on #3089
Thank you. :)

[2021-07-06 15:59] arpitBhalla commented on #3131
@daminhtung You can do something like this https://snack.expo.io/@arpitbhalla/change-fontfamily

[2021-07-07 00:55] daminhtung commented on #3131
@arpitBhalla It worked with [styles.text].
When migrating from an existing project, we can easily reach it with a small number of <Text />, <Button /> usage.
However, with a huge number of nodes, it is quite terrible.

[2021-07-07 14:45] arn-ob commented on #976
@pablo-albaladejo
inputContainerStyle={{backgroundColor: 'red'}}

[2021-07-07 14:54] arn-ob commented on #2192
inputContainerStyle={{ height: 20 }}

[2021-07-07 16:15] Zac-Evans commented on #1005
Looks like the font directory has been changed in @expo/vector-icons. Also, I'm using a functional component, so I used expo's useFonts hook. In my case, I was trying to use  [React Native Paper's Avatar](https://callstack.github.io/react-native-paper/avatar-icon.html) component and was getting a similar error. Here is the solution that worked for me:

[code]

[2021-07-09 05:21] M2Changezi opened #3134 "Add Carousel component as well"
**Is your feature request related to a problem? Please Describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-07-09 05:22] arpitBhalla commented on #3134
Duplicate of https://github.com/react-native-elements/react-native-elements-universe/issues/4

[2021-07-09 14:37] eatler-suresh opened #3135 "ListItem.Accordion overlaps ListItem"
ListItem.Accordion overlaps ListItem if there are more than 7 items.
![Simulator Screen Shot - iPhone 11 - 2021-07-09 at 20 04 48](https://user-images.githubusercontent.com/65071817/125094769-25bfd080-e0f1-11eb-8f23-05b672d281b4.png)
react: 16.13.1
react-native-elements: 3.4.2

[2021-07-09 15:12] arpitBhalla commented on #3135
Create a snack.

[2021-07-09 15:48] eatler-suresh commented on #3135
***@***.***/react-native-elements-accordion

On Fri, Jul 9, 2021 at 8:43 PM Arpit Bhalla ***@***.***>
wrote:

[2021-07-09 15:48] eatler-suresh commented on #3135
Here is the snack.
https://snack.expo.io/@sureshkv/react-native-elements-accordion

[2021-07-09 16:14] saif-malik-01 commented on #3087
@arpitBhalla bro , can you please elaborate the issue, it seems good  when i trying to rebuild the issue.

[2021-07-09 16:15] arpitBhalla commented on #3087
Try on android/iOS

[2021-07-10 12:06] TheSilentHorizon commented on #3123
need to bring this up again, since a searchbar is required for my app. Can anyone tell me how to handle the latest build?

[2021-07-10 13:27] ShivamTyagi12345 commented on #3134
I would like to work on this issue

[2021-07-10 13:29] arpitBhalla commented on #3134
Go for it

[2021-07-12 03:55] RyanTG commented on #3058
I've been using `overflow: visible` and adding my own shadow props, since they aren't working using `raised`. But the downside of that is the icon turns into a square when pressed. I can't tell from this thread if you're saying this isn't actually an issue. It seems like an issue to me. I get the same results as @notjulian with RNE 3.4.1.

[2021-07-13 05:50] frontend-qin opened #3138 "When will the document be supported in Chinese?"
**Is your feature request related to a problem? Please Describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-07-13 19:54] ShivamTyagi12345 commented on #3134
sir i am setting up this project locally . I went through the official contributing guidelines over [HERE](https://reactnativeelements.com/docs/contributing)

Firstly , i tried **yarn install
yarn test** ,All i got was a successful check.
![Screenshot (196)](https://user-images.githubusercontent.com/60812924/125516288-cc43e5f7-5a98-44ce-9eb6-6824acc09c7d.png)

Secondly, I according to my understan

[2021-07-13 20:36] khushal87 commented on #3134
Shouldn't it be
1) cd react-native-elements/website
2) yarn start
@ShivamTyagi12345

[2021-07-14 00:09] kickbk opened #3139 "ButtonGroup TS error"
Getting TS error when using the same as the example [here](https://reactnativeelements.com/docs/button_group#using-components)

**Expected behavior (Required)**

Should not throw an error

**Describe the bug (Required)**

[code]

**To Reproduce (Required)**

Use my code and see the error

**Screenshots (Required)**

![Screen Shot 2021-07-13 at 4 56 11 PM](https://user-images.githubusercontent.com/

[2021-07-14 09:38] dinatazy commented on #3008
When the slider is vertical the Minimum value is up and the Maximum value is down. Is there a way to make it the opposite?

[2021-07-14 10:15] arpitBhalla commented on #3134
Hey @ShivamTyagi12345 you need to follow these steps:
1. Clone demo app repo
2. Use `tsc` to transpile the code in this repo dir and then copy it to `node_modules` of demo app repo dir.

[2021-07-14 21:15] ritwik-boringnews commented on #3139
hai can i try to solve this bug

[2021-07-14 21:16] ritwik-boringnews commented on #3127
hi sir can i try to work on this bug

[2021-07-14 21:16] ritwik-boringnews commented on #3076
hi can i work on this

[2021-07-15 04:16] kickbk commented on #3139
I believe the instructions you have on your site may be incorrect? Not sure. Regardless, doing this works:
[code]

[2021-07-15 04:16] #3139 closed

[2021-07-15 09:04] Finn-P opened #3141 "Overlay, Ref to child lost at invisible"
**Explain what you did (Required)**

I have the carousel from react-native-snap-carousel inside the Overlay. When I try to interface with the carousel over its referenz, its only possible if the overlay is visible.

**Expected behavior (Required)**

**Describe the bug (Required)**

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [Snack](https://snack.expo.io). If not

[2021-07-15 10:49] ritwik-boringnews commented on #3141
hi can i work on this

[2021-07-15 21:31] flyingcircle commented on #3138
There are no plans to translate the documents. Feel free to write up the website if you want to translate it.

[2021-07-15 21:31] #3138 closed

[2021-07-15 21:31] flyingcircle commented on #3134
As @arpitBhalla duplicate of the other ticket. Please discuss there.

[2021-07-15 21:31] #3134 closed

[2021-07-15 21:34] flyingcircle commented on #3127
This I think sounds like too much, and a solution should be pretty simple to come up with from the developer using the library. (I'm not sure how common switching between different 'variants' of button is, but I don't think it's common enough to justify this)

[2021-07-15 21:34] #3127 closed

[2021-07-15 21:35] flyingcircle commented on #3120
I don't know what this package you're referring to is.

[2021-07-15 21:35] #3120 closed

[2021-07-15 21:50] flyingcircle commented on #3123
@TheSilentHorizon I just saw this error try first deleting your node_modules

[code]

That fixed it for me. I just tested the current `dist` and it works as expected.

[2021-07-15 21:50] #3123 closed

[2021-07-15 22:34] #3128 closed

[2021-07-16 09:44] huyhomie66 commented on #3091
you save my life thanks

[2021-07-16 11:40] ruiaraujolink commented on #3091
I'm glad to hear this :D

[2021-07-16 15:54] #3117 closed

[2021-07-16 20:53] KrisLau opened #3147 "ListItem.Swipeable rightWidth not adjusting swipe length"
**Explain what you did (Required)**
I changed the right width on my `ListItem.Swipeable` to `ScreenWidth/10`

**Expected behavior (Required)**
Something closer to this in terms of spacing
![image](https://user-images.githubusercontent.com/46275463/126006915-e87ba83a-0a66-473b-b94d-f1e2d19c6cc8.png)

**Describe the bug (Required)**
 It adjusted the button correctly but the swipe distance did not ch

[2021-07-18 17:29] flora8984461 commented on #3147
I created a snack: https://snack.expo.io/@floraliu3274/arrogant-churros

I think using `leftWidth` should be the fix?

[2021-07-19 13:59] KrisLau commented on #3147
@flora8984461 I tried the snack and it seems to work when I swipe left to reveal but then when I try to swipe right to hide the button, it gets stuck. I'm leaving the button at the default size/width for now since its really not a huge deal but I just thought I'd report it since it seems to be a bug haha. Thank you for the help though!

[2021-07-19 14:24] flora8984461 commented on #3147
NP, glad I can help. I guess they use "leftWidth" which means `swipe to the left`? 😄  according
to `Width to swipe left` in https://reactnativeelements.com/docs/next/main/props/listitem/#leftwidth

[2021-07-19 18:10] KrisLau commented on #3147
Ohhhh that's completely my bad I misunderstood the prop, thanks again for all the help and I'll close out the issue!

[2021-07-19 18:10] #3147 closed

[2021-07-20 02:10] vladiRozen opened #3153 "Position Tooltip's pointer in the center"
Hi, I am using the Tooltip but I can't position the pointer in the center.
Is there a nice way to do it?

Thanks.

[2021-07-20 16:56] menssen commented on #3087
FYI if this helps anybody else: since the Slider creates a PanResponder in a useRef and attaches all the callbacks to it, if a prop update causes those callbacks to change, the PanResponder in the ref still retains references to the *old* callbacks and in turn any of their closures/dependencies.

We have since forked the Slider into our own codebase for other reasons, and I don't have time to cont

[2021-07-20 18:36] menssen commented on #3087
Also, I don't know if this helps *at all*, but here's the diff from our forked version which fixes this (I might try to apply it directly and PR, but unfortunately we de-typescript-ified the whole thing so it's nearly impossible, but maybe it's a starting place).

Basically:

1. Change the useRef() around the PanResponder to a useMemo(), and declare all the handlers as dependencies.
2. Remove the

[2021-07-20 23:11] CaioMars commented on #3127
Maybe I misunderstood the OP but I think he makes a valid point. I'm trying to style the diabled button using ThemeProvider with object `{ Button : { disabledStyle: {...} } }` and this styles all buttons, including active buttons.

[2021-07-21 04:00] NaitikMishra commented on #3058
Hi @notjulian wants to know more about the problem raised while changing from 1.2.7 to 2.0.0

[2021-07-21 04:36] NaitikMishra commented on #3040
Actually @chrisgreen1993 you have separated them by defining container style and again button style so they are implemented separately . I think in 3.2.0 it take don,t take separately . This might be considered as error as defining two property separately should perform separately and this is corrected in 3.3.0  .If you want to define separate then use
[code]
other button can be implemented in thi

[2021-07-21 05:41] notjulian commented on #3058
hi @NaitikMishra ,
please take a look at this working (v. 1.2.7)
https://snack.expo.io/GWTAqO-W2

and this one not working (v. 2.x)
https://snack.expo.io/41_NPoKAc

[2021-07-21 09:14] TheSilentHorizon commented on #3123
@flyingcircle Tested it again, same error:

[code]

I use npm instead of yarn, does that maybe make the difference?

[2021-07-21 10:15] mingyuyuyu opened #3154 "Button Component ts type error"
version: 3.4.2
![image](https://user-images.githubusercontent.com/32156701/126472956-824f392d-997b-4ff0-b8f0-4f5eaa5aba37.png)
why, everyone

[2021-07-24 10:31] JB1905 opened #3156 "Props to disable LinearProgress animation"
It would be great to have the option to disable the LinearProgress component animation

[2021-07-26 23:31] lucas-figueiredo-m commented on #2957
Any update on this? I'm struggling on the same issue: Typescript doesn't recognize the ref prop on Tooltip. The customizations suggested on the react-native-elements are not working too.

[2021-07-27 11:59] dooleyb1 commented on #1964
Was this ever released?

[2021-07-28 15:50] khali70 opened #3159 "animation bug in Chip element"
![Peek 2021-07-28 17-34](https://user-images.githubusercontent.com/59835449/127352261-b1a6ce42-d0f7-40d1-90a9-6f8fe4dc5952.gif)
the animation is square but the Chip has `borderRadius`
**Environment :**
| software              | version |
| --------------------- | ------- |
| react-native-elements |    3.4.2     |
| react-native          |   64.0      |

[2021-07-28 18:16] khali70 commented on #3159
### I could get around it by disable the animation
[code]

[2021-07-29 02:41] zhengyunsen opened #3160 "The icon of Avatar cannot be displayed, what should be configured"

[2021-07-29 13:39] saksham-tiwari opened #3161 "⚠API KEY visible publicly."
**Explain what you did (Required)**

Just forked the repository and found a security threat. Checked it and found the apikey is visible publicly

**Expected behavior (Required)**

Expect the repository to be safe.

**Describe the bug (Required)**

At this point, https://github.com/react-native-elements/react-native-elements/blob/next/website/docusaurus.config.js on line 94, API Key is visible publ

[2021-07-30 03:12] harshal-moneylion commented on #3044
@arpitBhalla @khushal87 This PR attempts to fix it

https://github.com/react-native-elements/react-native-elements/pull/3137

Can you give a look?

[2021-07-30 05:08] elmcapp opened #3162 "ListItem Swipeable close swipeable view and disable swipe leftContent or rightContent"
Is there a way to close the swipe view after a button is press. (a function to close the swiped view)?
also is there a way to disable swiping from the left or the right?

[2021-07-31 12:32] harshal-moneylion commented on #3089
What is the release plan for the same?
been 25 days since the last activity here. And no new release has been done.

[2021-08-02 10:24] darkbasic commented on #3002
@arpitBhalla how is it supposed to work with Typescript?

[code]

If I remove `: any` it complains about `CheckBoxProps` not being the right type for `CheckBox`, which doesn't make sense.

[2021-08-03 21:02] alon7 commented on #2237
@renjfk Thanks for sharing the solution. I managed to patch the package and use it together with hermes successfully.

[2021-08-04 13:37] Aexonic-Abhishek commented on #3085
Any update on the issue? I'm also facing the same issue.

[2021-08-04 14:18] scousino commented on #2673
You're already using typescript, all your files are TSX files, aka TypeScript JSX

[2021-08-04 15:01] aliwaqar9811 commented on #3154
I'm facing same error in SearchBar component

[2021-08-04 15:15] aliwaqar9811 opened #3163 "Search bar ts error"
**Explain what you did (Required)**

I'm trying to use SearchBar Component from react-native-elements

**Expected behavior (Required)**

It shouldn't give typescript error when I provide all necessary props

**Describe the bug (Required)**

It's showing error that some necessary props are missing even I give all props;

**To Reproduce (Required)**

1- Initialize a project having typescript.
2- Ins

[2021-08-04 18:38] scousino opened #3164 "False type errors with Icon component"
**Explain what you did (Required)**

Use the Icon component in react-native-elements

**Expected behavior (Required)**

Use Icon with only necessary props

**Describe the bug (Required)**

I'm getting invalid type errors saying my Icon is missing required props, but they are not actually required.

**To Reproduce (Required)**

Install the latest version of this package, and in a typescript project

[2021-08-05 08:07] efstathiosntonas commented on #3087
@menssen can you please share the whole `Slider.js` file? Thanks!

[2021-08-05 12:04] harisbaig100 commented on #2923
@panda919 install version 2.3.0, that will fix your issue

[2021-08-05 14:43] souviknsl07 commented on #3079
Is this issue relevant? @arpitBhalla

[2021-08-05 15:23] souviknsl07 commented on #3066
Can anyone help me? I am very new to open-source. My question is how to check the changes in the components. Like in this case, suppose I made a change to the SocialIcon.tsx then how to check if it's working properly or not like seeing the UI of the social icon itself and how the changes affected it. It might seem silly but I haven't worked on something like this before so any kind of help would b

[2021-08-06 09:25] hpsurekha opened #3166 "When I copy 6-digit pin from email and paste into add pin field, the copied number keeps formatting from email."
**Explain what you did (Required)**

When I copy a 6-digit pin from the email and paste it into add pin field, the copied number keeps formatting from the email.

**Expected behavior (Required)**

It has to copy the only numbers, not format, able to remove leading and trailing space using trim() or toString() function, but after copy/paste it alignment also get change, from left to center.

**Desc

[2021-08-09 15:44] #3156 closed

[2021-08-09 15:53] #3065 closed

[2021-08-09 15:53] #3066 closed

[2021-08-10 04:30] flyingcircle commented on #3153
I suggest asking this on the RNE slack. You might find someone able to answer your question there.

[2021-08-10 04:30] #3153 closed

[2021-08-10 04:31] flyingcircle commented on #3161
https://www.algolia.com/doc/guides/security/api-keys/#search-only-api-key

[2021-08-10 04:31] #3161 closed

[2021-08-10 04:32] flyingcircle commented on #3160
No description provided. You did not follow the issue creation directions.

[2021-08-10 04:32] #3160 closed

[2021-08-10 04:42] flyingcircle commented on #3166
This is a problem with React Native's `TextInput`. Unfortunately, it doesn't look like they have a clean solution: https://github.com/facebook/react-native/issues/18926#issuecomment-490541013

[2021-08-10 04:42] #3166 closed

[2021-08-10 04:43] flyingcircle commented on #3159
@Dhananjayan-PN

[2021-08-10 07:32] khushal87 opened #3171 "[Docs] Auto-generation of documentation for class based components"
The Auto-generation of documentation for functional components of the package is almost complete. There are some components that are still Class-based and therefore they are not handled currently by the workflow and the code of Docs autogen scripts which was the task of #gsoc'21 but as some components remain class-based, a separate issue is created for the same to track it in future.

The componen

[2021-08-10 14:44] ilsong commented on #3163
![image](https://user-images.githubusercontent.com/20615642/128887820-e6c21f38-573c-4214-99ef-a1e1d1b2d9e8.png)
same issue

[2021-08-10 21:14] AnthonyTailer commented on #3085
Facing same Error with tooltip in a FlatList too.

| Software             | Version |
|----------------------|---------|
| react-native-elments | 3.3.2   |
| react-native         | 0.63.3  |

![image](https://user-images.githubusercontent.com/11333074/128935514-74d553f8-82ff-4632-8cad-fb8911e3432a.png)

[2021-08-11 07:34] arpitBhalla commented on #3163
fixed by #3099

[2021-08-11 12:27] saideepesh000 commented on #3159
Hey @flyingcircle , can I work on this

[2021-08-11 12:34] saideepesh000 commented on #3045
Hey @arpit-bhalla , can I work on this, u can assign me

[2021-08-11 16:23] ilsong commented on #3163
[code]

software | version
-- | --
react-native-elements | 3.4.2
react-native | 0.64.1

Still have issue @arpitBhalla. Could you help?

[2021-08-13 00:40] calvin-k-ho opened #3174 "Importing Button throws an 'Invariant Violation: Tried to register two views with the same name RNCSafeAreaProvider'"
**Explain what you did (Required)**
I added react-native-elements as a dependency for my project but when I tried to import { Button } from 'react-native-elements', I'm encountering an 'Invariant Violation: Tried to register two views with the same name RNCSafeAreaProvider' error.

**Expected behavior (Required)**

All of the imports I've been using in my project haven't given me this error; there

[2021-08-13 07:31] arpitBhalla commented on #3171
Hey @khushal87 Image and Tooltip have been merged.
Thank you!

[2021-08-13 07:31] arpitBhalla commented on #3171
Hey @khushal87 Image and Tooltip have been migrated to Functional Components.
Thank you!

[2021-08-13 08:07] khushal87 commented on #3171
@arpitBhalla Doc-gen for Image and Tooltip works like charm. Thank you :rocket:

[2021-08-13 18:36] #3174 closed

[2021-08-13 23:52] anthowm commented on #3163
@ilsong if you have a hook and can't wait for next release just patch the package.
go to node_modules/react-native-elements/searchbar/SearchBar.d.ts and change like this

[code]
then npx patch-package react-native-elements

[2021-08-16 14:17] andyasberry opened #3175 "ButtonGroup doesn't render correctly in vertical mode"
**Explain what you did (Required)**

Trying to render the ButtonGroup component in a vertical presentation.

**Expected behavior (Required)**

Expected the ButtonGroup to render the buttons "stacked" vertically, instead of side-by-side as in horizontal/default mode.

**Describe the bug (Required)**

Only a border/bar is rendered in vertical mode for iOS/Android. Seems to render as expected for web

[2021-08-16 15:07] mdovn commented on #1787
Save my day, thanks @koaladlt

[2021-08-18 01:11] samijnih commented on #3091
Same issue with tab item and scrollview inside. Anyway, thanks @ruiaraujolink for the hack

[2021-08-18 16:38] #2922 closed

[2021-08-18 18:38] arpitBhalla opened #3177 "Convert ThemeProvider to FC"
**Is your feature request related to a problem? Please Describe.**
updateTheme and replaceTheme not working properly

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
#3088
#3037

[2021-08-18 22:04] tr4g opened #3178 "Can't demo in Expo: EXNetwork error 403"
1. Open https://expo.io/@flyingcircle/react-native-elements-app
2. Scan with your phone
3. Error

4. **Your Environment (Required):**
iOS 14.7.1, latest Expo app

[2021-08-19 15:54] nica0012 opened #3179 "ListItem.Swipeable onSwipe method?"
Hi, the team is doing a great job with improving RNE, bravo!

I have implemented the swipable functionality with the list item component but I may be missing something in the docs - are there any methods like onSwipe, onSwipeBegin, onSwipeEnd?

I am trying to disable scrolling on my Flatlist when the swipable is being swiped (I am doing this with another package I am hoping to replace completely)

[2021-08-20 08:59] haythamhakim commented on #3089
Any updates on this?

[2021-08-20 11:21] t1gor commented on #3179
As far as I can tell from the [source code](https://github.com/react-native-elements/react-native-elements/blob/next/src/ListItem/ListItem.Swipeable.tsx#L14-L38), you only have `onLeftSwipe` and `onRightSwipe `

[2021-08-20 11:24] t1gor commented on #3178
tr4g which country are you trying this from, if that's not a secret?

[2021-08-20 16:18] billlima commented on #2324
In ReactNative: 0.65, Elements: 3.4.2 and API 29 this still happens with me, but I found a solution setting overflow:'hidden' on View like this:

[code]

[2021-08-20 18:25] nica0012 commented on #3179
@t1gor thanks for the reply! Good idea to look into the source code - I assumed this would work as expected (this is exactly what I was looking for) but those two methods do not seem to work. I am using the latest version too.

[2021-08-23 12:02] kevgrig commented on #3087
I think I'm experiencing this issue too but with the `disabled` prop sometimes not working.

[2021-08-23 15:01] arpitBhalla commented on #3179
That code isn't released yet

[2021-08-23 15:04] nica0012 commented on #3179
Ah that'll do it! thanks for the shout - any idea as to when the team is looking to release this? Cheers.

[2021-08-23 15:07] arpitBhalla commented on #3179
@nica0012  How `onSwipe` would be different from `onSwipeBegin`?

[2021-08-23 15:11] nica0012 commented on #3179
It would be the same, onSwipeBegin would actually be better. The reason I need to detect this is because I want to disable the flatlist from scrolling vertically when the listItem is being swiped to avoid buggy behaviour. This is what I am doing with my previous package, "react-native-swipeable-row" which I am looking to get rid of once this method comes into play.

[2021-08-24 09:15] cglacet commented on #2448
Did anyone managed to reproduce the documentation image using only the Icon component?

[2021-08-25 08:03] kanakgautam commented on #3135
hello @arpitBhalla I am new to Open Source. I want to fix this issue. Please guide me.

[2021-08-25 11:42] vhien1501 commented on #3135
hello @arpitBhalla  I have the same problem, so is there any solution to fix this issue?

[2021-08-25 19:46] sivagopaltech opened #3183 "/react-native-elements/dist/avatar/Accessory.js: Support for the experimental syntax 'jsx' isn't currently enabled"
Getting following error when I add any import statement from react-native-elements

![image](https://user-images.githubusercontent.com/1880074/130854263-a7690ab3-a08d-4c76-926b-7338287961ef.png)

Here is my babel.config.js
![image](https://user-images.githubusercontent.com/1880074/130854745-a8ad15e0-5bd7-4ac1-b0b4-bc3e9813288e.png)

Here is my react component
![image](https://user-images.githubuse

[2021-08-26 11:25] khushal87 opened #3184 "Minimize props filter for documentation auto-gen"
As the project uses Docusaurus as the documentation website, the format used in docusaurus to render docs is Markdown. Now, with the latest work, automatic generation of documentation is processed. There are some props that don't render well in markdown and break on compilation while running the documentation website.

To deal with this, I have added the props filter in the docgenParser in the fil

[2021-08-27 22:14] nihal-37-37 opened #3185 "Picker , react native elements version of Select, Options tag of react"
**There is no Good library Picker ( means replacement of Select, Option tag) **
react native elements provide a far better version of every component exist in RN. So I request you to consider Picker kind of Component

example of what I am trying to say :-
![resp_-_m](https://user-images.githubusercontent.com/64120673/131193700-b4bde31b-d5c0-4374-a1f1-a9b30bfe92c3.png)

[2021-08-28 16:02] #2939 closed

[2021-08-29 20:32] flyingcircle commented on #3185
Duplicate of https://github.com/react-native-elements/react-native-elements-universe/issues/11

[2021-08-29 20:32] #3185 closed

[2021-08-30 09:50] ruiaraujolink commented on #3091
You are welcome!

[2021-08-30 13:57] humzajamil commented on #253
so no picker yet?

[2021-08-30 15:34] olegderecha commented on #2233
Tried to resolve the issue, but found that `react-native-elements` version was too old `2.0.0`, updated to `3.4.2`, and now it works much better!

[2021-08-30 16:26] HugoGresse commented on #1787
Sorry @flyingcircle I just made the update to 3.x and the issue is linked to this one: https://github.com/react-native-elements/react-native-elements/issues/2958

[2021-08-31 14:24] luke-hanwook opened #3188 "Not working on the web"
**Explain what you did (Required)**
I tried to run follow [Usage on the Web](https://reactnativeelements.com/docs/web_usage)

**Expected behavior (Required)**
Compiled successfully

**Describe the bug (Required)**
Failed to compile.

./node_modules/react-native-elements/dist/bottomSheet/BottomSheet.js
Module not found: Can't resolve 'react-native-safe-area-context' in '/Users/USER_NAME/example/my_

[2021-08-31 17:54] blueberry6401 opened #3189 "Improve makeStyles"
According to the code in config/makeStyles.ts
[code]
And this is in my component
[code]

This function calls StyleSheet.create every time MyComponent re-render, doesn't it? Am I getting it wrong?
If so, a useMemo for makeStyles would make a better performance.

[2021-08-31 19:23] albertbuchard commented on #1858
I solved it by passing `<View>` components in the title and icon with appropriate flex parameters, and using `buttonStyle={{ justifyContent: "space-between" }}`.

[code]

<img width="285" alt="Screenshot 2021-08-31 at 21 22 55" src="https://user-images.githubusercontent.com/5343149/131563343-fe903e08-c6ca-424b-9275-5cc11d252972.png">

[2021-09-01 06:08] hyunminyoo commented on #2301
Use skipAndroidStatusBar={true}

[2021-09-01 19:53] KrisLau opened #3190 "Input placeholder styling"
**Is your feature request related to a problem? Please Describe.**
I was trying to change the font size of the placeholder string but there was no `placeholderStyle` available

**Describe the solution you'd like**
Adding a `placeholderStyle`  prop

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-09-02 19:07] xiongemi opened #3194 "Get an error when running jest test"
**Explain what you did (Required)**

setup jest unit test with react native elements

**Expected behavior (Required)**
should be able to run components with react-native-elements

**Describe the bug (Required)**
got an error related to react native ratings

[code]

please update the react-native-ratings

**To Reproduce (Required)**

We highly recommend that you re-create the bug on [Snack](https:/

[2021-09-03 07:11] yashsehgal commented on #3190
Hey @KrisLau 👋🏽 I would like to work on this issue. Can I get an assignment?

[2021-09-03 13:34] KrisLau commented on #3190
@yashsehgal I can't give the assignment. I think that has to be from one of the contributors who have access

[2021-09-03 21:24] ctwillie commented on #2134
I think I am experiencing the same bug with ```flexDirection: 'row'``` and ```justifyContent: 'space-between'```. Really strange.

[2021-09-04 16:33] mitchdowney opened #3196 "Add accessibilityHint and accessibilityLabel support to ButtonGroup buttons"
**Is your feature request related to a problem? Please Describe.**

Add accessibilityHint and accessibilityLabel support to ButtonGroup buttons. Currently when I try to pass in a custom button component like this to the ButtonGroup buttons prop:

[code]

Neither the hint or label are read. I think it may be because the ButtonGroup buttons are wrapped in their own <Touchable> that we cannot overrid

[2021-09-05 09:41] Rahul1d commented on #3163
Hi @anthowm , I tried this Partial change, but doest work. Also i am getting some argument errors.
![image](https://user-images.githubusercontent.com/19947716/132122339-c03d32ca-09a7-41b4-98cb-3be435cd2fc0.png)

[2021-09-05 16:38] uahnbu commented on #1858
I solved it simply by adding
[code]
![image](https://user-images.githubusercontent.com/27907396/132134479-7e39e399-8b7d-4f1c-b4b4-86bec7995a88.png)

[2021-09-06 02:44] appseugene commented on #3085
I am only seeing this on Android. Is that correct?
Also, when is the release planned for?
thanks for fixing the bug!

[2021-09-07 08:16] GautierBlandin opened #3197 "Update the Icon documentation to make it easy to find icon names"
**Is your feature request related to a problem? Please Describe.**

I've discovered React-Native-Elements a few days ago and I've started using it in my project. I read the Icon documentation, and I was not finding a clear indication of what icons where available, or what their names where (the doc links to a bunch of icon sets, but all icons of the linked set are not available [material arrowBack

[2021-09-10 01:29] wkoutre commented on #2310
Does anyone have a working example where they've successfully extended `TextProps` and `FullTheme["Text"]` in their own `react-native-elements.d.ts` file and it works properly when doing something like (to go off the [example in the docs](https://reactnativeelements.com/docs/customization/#typescript-definitions-extending-the-default-theme)):

[code]

I can't, for the life of me, get this working

[2021-09-10 10:30] RonRadtke commented on #2237
I have the same problem. using the <Icon> component form RNE doesn't help.

[2021-09-10 10:30] RonRadtke commented on #2392
I have the same problem. using the component form RNE doesn't help.

[2021-09-10 13:34] wkoutre commented on #2310
Ah, I think I figured it out...

In `react-native-elements/dist/text/Text.d.ts`, TextProps is a `type`, not an `interface`. An interface can have multiple merged declarations, but a type alias for an object type literal cannot.

If this

[code]

is changed to this:

[code]

Then all all works as expected using:

[code]

Will make a PR.

[2021-09-11 03:09] luongbahop opened #3199 "Loading image in Avatar in long time"
When I using the Avatar component and react-native with expo
It takes me a lot of time for loading the image
Is there any one have the same issue?

[2021-09-11 11:42] varora1406 commented on #3199
I am facing issue in loading avatar with `rounded` attribute in expo project

[2021-09-13 09:15] hamzawaleed0102 commented on #3190
@KrisLau
`Input` component is using [TextInput](https://reactnative.dev/docs/textinput) which only provides [placeholderTextColor](https://reactnative.dev/docs/textinput#placeholdertextcolor) prop, which already exists in RNE `Input` component. So I think this issue can be closed as it's outside the scope of RNE.

[2021-09-13 14:21] KrisLau commented on #3190
@hamzawaleed0102 Ohh ok thank you!

[2021-09-13 14:21] #3190 closed

[2021-09-13 15:24] ccusean opened #3200 "'ListItem.Accordion' is something wrong with ScrollView"
If 'isExpanded' options is false(collapsed list), empty space will be shown on bottom in scrollview.

It can also be checked in the example([react-native-elements/react-native-elements-app](https://github.com/react-native-elements/react-native-elements-app) Lists2).

[2021-09-15 14:55] leonineli opened #3201 "Input in Tabs TabView can't focus"
Input in Tabs TabView can't focus.
My system platform is android 7.0.
I use main dependencies:
    "react-native": "0.64.2",
    "react-native-tab-view": "^2.16.0",
    "react-native-elements": "^3.4.2",
    "@react-navigation/bottom-tabs": "^5.11.11",
    "@react-navigation/material-top-tabs": "^5.3.15",
    "@react-navigation/native": "^5.9.4",
    "@react-navigation/stack": "^5.14.5"
My code:
[

[2021-09-16 16:55] arpitBhalla commented on #3201
Unable to reproduce https://snack.expo.dev/@arpitbhalla/mad-pretzels

[2021-09-16 18:33] andkom opened #3202 "useRef<Input> typescript error"
[code]

[2021-09-18 00:13] aleantoniolli commented on #3091
Has this been resolved?

[2021-09-18 00:18] aimen08 opened #3204 "A way to select from what point can the Swipe start in Swipeable list"
**Is your feature request related to a problem? Please Describe.**

when putting components such number picker ,they don't register the change because the swipe animation cancel that,
this problem can be apparent in physical device not in emulator .

**Describe the solution you'd like**

the solution is a way to  fire the swipe only if the user started it from the edge of list item.

**Describe al

[2021-09-18 20:15] aimen08 commented on #3204
if anyone is having the same issue I found a workaround , replace onPress with onPressIn which will make the event on the button fire.

[2021-09-20 09:05] HaseebUrRehman98 opened #3205 "Icon are showing in chinese characters"
Hi everyone, i m having problem with icon, that are showing in chinese character.

**Your Environment (Required):**

| software              | version |
| --------------------- | ------- |
| react-native-elements |     3.4.1    |
| react-native          | 0.65.1        |

[2021-09-20 14:11] kvntzn opened #3206 "Keyboard.removeListener is not a function for SearchBar"
**Explain what you did (Required)**

Upgrade react native version from v0.63.4 to v0.65.1

**Expected behavior (Required)**

app should not crash

**Describe the bug (Required)**

App crashes after upgrading the version for SearchBar with platform=android

**To Reproduce (Required)**

**Screenshots (Required)**
Example:
![Screenshot_1632145766](https://user-images.githubusercontent.com/29770932/13

[2021-09-21 13:39] Estevete commented on #3089
Do we have any status for this issue?

[2021-09-21 14:37] ruiaraujolink commented on #3196
I'm facing the same problem.

[2021-09-21 15:55] ruiaraujolink commented on #3196
@mitchdowney
My workaround is this:

[code]

Make a View collapsable enable me to put the accessibilityLabel and this approach allow me to pass the accessibility Scanner test on Android.

[2021-09-22 02:39] mitchdowney commented on #3196
@ruiaraujolink oh interesting, thanks for sharing.

Any idea why `collapsable` is needed here for Android only? How the heck did you figure that out? lol

Also, is it OK to keep this property on iOS too? It won't cause any conflicts?

[2021-09-22 07:51] yeocak commented on #3089
Still got error with Typescript :/

[2021-09-22 09:12] ruiaraujolink commented on #3196
@mitchdowney Well on the last day I have tried many options to make this works because I'm working on an app for one public institute in Portugal and accessibility is needed.

After reading all properties of a View component, I decided to try the `collapsable` option, and then the problem was solved :D

I only have tried on Android with the Accessibility Scanner app.
I have run some simple tests i

[2021-09-22 19:35] ggpereira commented on #3206
Hey, sorry for my bad english, I got the same error after upgrade react-native to 0.65.1. I found the temporarly solution for this in this issue:  https://github.com/FaridSafi/react-native-gifted-chat/issues/2090.

I believe which this library is not compatible with latest version of react native.

my solution was modify file SearchBar-android.js as next

![Captura de tela 2021-09-22 162944](https

[2021-09-23 03:49] Yamingue opened #3208 "'react-native-elements-universe'"
import { CircularSlider } from 'react-native-elements-universe';
don't work and it content look like:
import Example from './Example';
export { Example };

[2021-09-23 16:46] entrymaster commented on #3171
I want to contribute to this issue ? How should I start?

[2021-09-23 17:09] kvntzn commented on #3206
Thanks, this works. I hope so too.

[2021-09-25 17:03] dobeerman commented on #3179
Hi there,

Any updates? ;)

[2021-09-28 13:57] cconnell12345 opened #3210 "BottomSheet not working with ListItem.Checkbox"
**Explain what you did (Required)**

I am using the BottomSheet control with ListItems.  In particular the ListItem.CheckBox.  When the box is checked it is not reflected on the screen although the list data is correct.  I believe because the change is not sent to the Bottom Sheet.  Does the Bottom Sheet need a property like FlatList with extraData?  What am I missing?  Thanks.

**Expected behavio

[2021-09-28 18:01] RajatGang07 commented on #2628
@pranshuchittora I am not using expo, still getting the same error.

[2021-09-29 12:11] brataaaan commented on #3037
@DenysMoro Did you find a workaround?

[2021-09-29 22:22] hsavit1 commented on #3188
have you tried react-native-elements 3.2.0 ?

[2021-09-29 22:22] hsavit1 commented on #3183
+1 for this error

I was able to get around it with react-native-elements 3.2.0

[2021-09-30 15:11] KrisLau commented on #3162
Commenting as I would like to know about the possibility of this as well. I have the swipeable item in a tab view so the left swipe is conflicting with the tab swipe a little

[2021-09-30 18:35] Rohithzr opened #3211 "Is there any UI library like for Sketch or Adobe XD?"
Is there any UI library like for Sketch or Adobe XD?

[2021-10-01 09:07] roffelund opened #3213 "SearchBar Keyboard.removeListener"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-elements@3.4.2` for the project I'm working on.

Keyboard.removeListener is Deprecated and caused a crash in Android for us. Keyboard.removeAllListeners resolves the issue.

Here is the diff that solved my problem:

[code]

<em>This issue body was [pa

[2021-10-01 11:28] 3KINGZ commented on #3085
still getting this error

[2021-10-01 11:55] pranshuchittora commented on #3213
Thanks @roffelund for reporting this.
IMO calling `remove` instead of `removeAllListeners` would be the correct approach.
https://reactnative.dev/docs/keyboard#removelistener

[2021-10-02 07:51] shangyilim commented on #3210
The component works as intended. based on your sample code. i think the issue is with how you are updating the state :
[code]

So what we can do  is instead change the reference of the userList by creating a new list when the checkbox is pressed instead, which will re-render the list
[code]

[2021-10-03 18:30] nobi1007 commented on #3175
[Here](https://github.com/react-native-elements/react-native-elements/blob/6c27049d7e569662529580da8520d14a2ee7f776/src/ButtonGroup/ButtonGroup.tsx#L292) we have made `height` as `null` but it should be `40(default height) x numOfButtons`. Raised a pr here https://github.com/react-native-elements/react-native-elements/pull/3214.

[2021-10-04 07:02] roffelund commented on #3213
@pranshuchittora Ah yes i can see that. Created a pull request with the Remove function instead.

[2021-10-04 08:10] alexisbronchart opened #3216 "Horizontally scrolling tabs"
**Is your feature request related to a problem? Please Describe.**

I sometimes have to use up to 5 or 6 tabs to show what I need on a screen in my app. The titles are then compacted and shown vertically on several lines in each Tab.Item which ugly and completely unreadable.

**Describe the solution you'd like**

Horizontally scrollable (as an option ofc) tabs would solve this issue making more ro

[2021-10-04 17:58] Klairm commented on #3197
Also if you try to go to https://reactnativeelements.com/docs/props/icon/#available-icon-sets it will show you nothing

[2021-10-05 01:12] hyunminyoo commented on #3085
I had the same error, but got solved after wrapping the flatlist with scrollview

[2021-10-05 05:38] ishqDehlvi commented on #3216
Can you attach some files or Screenshots so It can be clear.......

[2021-10-05 08:33] santoshkumar964887 opened #3217 "[TabView] onPress is not getting fire in child component in Android."
Hi, I am using  react-native-elements  Tab and TabView, everything working fine, just facing issues  onPress is not getting fire in child component in Android.....??

[2021-10-05 18:47] jorgegvallejo commented on #3162
Just want to add that setting the `leftWidth: 0` or `rightWidth:0`, while it doesn't disable the swipe, it seems to prevent the ListItem from staying open

[2021-10-06 13:33] phatmann commented on #3200
Found a fix!

[code]

I will submit a PR soon.

[2021-10-06 15:15] phatmann commented on #3200
Ok, I have a working fix:

[code]

When the animation is done, set height to auto or 0 depending on whether expanded or not.  I will submit a PR soon.

[2021-10-10 13:24] ikiK-CRO opened #3218 "None of the press events work on ListItem.Swipeable"
I tried to implement this in numerous ways. Nothing works. I have also tried to tye press events on items itself also 0 effects.

None of the onLongPress or onPress works anywhere, not on ListItem.CheckBox or on items in the list. As you can see I even tried with Pressable. 0 effect.

What am I doing wrong?   I see nothing about Swipeable not being able to receive these events in the documentation

[2021-10-10 13:43] tamis-laan opened #3219 "Input padding/margin ??"
The input object has a 10 pixel margin or padding while for example the button object does not.

Shouldn't all elements simply have no padding/margin at all?

Now I have to compensate in order to make my GUI look consistent.

[2021-10-10 19:15] ankitmaloo opened #3221 "Searchbar - Hiding the keyboard should not automatically trigger cancel()"
**Explain what you did (Required)**

I am building a search bar for my app. On ios, hiding the keyboard works as expected, but on android hiding the keyboard hides the search results.

**Expected behavior (Required)**
I should be able to dismiss keyboard on android without also triggering the cancel function.

**Describe the bug (Required)**
On android, this is the function: (SearchBar-android.tsx

[2021-10-13 15:05] brumik opened #3222 "FAB size does nothing"
**Explain what you did (Required)**
Using the FAB like this:
[code]
Trying to set the `size='small'` on the button should make it smaller than the default (or the `large` should be larger than the default).

**Expected behavior (Required)**
The button changes sizes depending on the `size` prop.

**Describe the bug (Required)**
The button does not changes size, no matte what is passed to the `size`

[2021-10-15 12:00] darkbasic opened #3223 "Customizing dark theme with ThemeProvider"
**Explain what you did (Required)**

I'm trying to customize the dark theme styles with ThemeProvider, but the documentation doesn't explain how to do so.

**Expected behavior (Required)**

Should be possible to override both the normal colors and the dark colors, as well with any color provided through custom stylings.

**Describe the bug (Required)**

[code]

[code]

This is how I currently them

[2021-10-17 14:11] richagain commented on #3091
I have same issue on iOS device. I am using this approach for now, but expecting to have the swip to switch tab function back.

[2021-10-18 11:22] MakKir commented on #3217
I faced the same issue

[2021-10-19 00:38] Tristan10 opened #3224 "Bottom Sheet Not Sizing to the Content"
I have two bottom sheet components, each with ListItems. The number of items varies depending on the context in which the bottom sheet is being shown.

The Issue:
If the bottom sheet is opened with 3 elements, and then subsequently opened with 5 - the bottom sheet maintains it's initial content height and the view has to be scrolled to see all of the list items. Having many list items to begin wit

[2021-10-19 11:03] somegal opened #3225 "thumbTouchSize is not working in react-native-elements/Slider"
Hey Guy,

I am new to React Native, and would like to use the Slider in react-native-elements. The design requires a small thumb for the slider, but with a full-screen touch-area. That means, whenever the user touch and move left or right, it should be able to move the thumb of the slider.

However, I cannot get the thumbTouchSize working. When I try to set it to be:
 thumbTouchSize={100,500}

It

[2021-10-19 14:55] KrisLau opened #3226 "Checkbox not updating checked state/re-rendering"
**Explain what you did (Required)**
`const [checklist, setChecklist] = useState(profiles.map(() => false));`

In renderItem for Flatlist
[code]

**Expected behavior (Required)**
Change the checked state when checkbox is clicked

**Describe the bug (Required)**
Checkbox not updating checked state/re-rendering

**To Reproduce (Required)**
Recreated on Snack

### Snack
https://snack.expo.dev/@kris_la

[2021-10-19 16:20] #3226 closed, assigned to nobody

[2021-10-19 21:51] renchap opened #3227 "ListItem: Typescript error with @types/react-native >= 0.65.7"
**Explain what you did (Required)**

Upgraded `@types/react-native` to version `0.65.8`

**Expected behavior (Required)**

No type errors happen

**Describe the bug (Required)**

I am now getting this typescript error:
[code]

This is probably caused by the change in this PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56374 (worked with 0.65.6, error appeared with 0.65.7).

**To Repro

[2021-10-21 06:58] SHIVAJIKUMAR007 opened #3228 "add picker component"
**Is your feature request related to a problem? Please Describe.**

You guys have implemented so many component for the devlopers, as you know that the Picker component is removed from react-native library and to achieve that we have to install a additional modual, so i want that you must add this picker componet in your modual

thank you
**Describe the solution you'd like**

**Describe alternativ

[2021-10-23 10:04] andkom opened #3231 "Typescript errors in Icon, Input, ListItem components"
**Explain what you did (Required)**

After upgrading react-native i can see typescript errors in existing code

Icon: Property 'tvParallaxProperties' is missing in type...
Input: Property 'autoCompleteType' is missing in type...
ListItem: Type ... is missing the following properties from type ...: hasTVPreferredFocus, tvParallaxProperties
ListItem.Chevron: Property 'tvParallaxProperties' is missin

[2021-10-23 21:39] Bradzer opened #3232 "Disable TabView swipe animation"
**Is your feature request related to a problem? Please Describe.**
There is no way to disable the swipe animation on a `TabView`.

**Describe the solution you'd like**
A way to disable the swipe  animation on a `TabView`.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-10-26 09:46] LauraKlipfel opened #3234 "update or replace theme not working with useTheme hook version 3.4.2"
Hello everybody,

I'm looking to update the theme dynamically with the version 3.4.2. In the old versions I did it without problem, and I haven't found any solution yet.
I read the documentation but, i have not found any complete example allowing me to understand where my error comes from.
I really hope that someone could help me.

My versions :
react-native: "0.64.2"
react-native-elements: "^3.4.

[2021-10-28 15:28] KrisLau opened #3236 "Conditional rendering on Swipeable rightContent or leftContent causing swipe to fail"
**Explain what you did (Required)**
I use a boolean to represent the status and conditionally render the `rightContent` in the `renderItem` function for a flatlist.

**Expected behavior (Required)**
Swipe opens the `rightContent` if the boolean is true

**Describe the bug (Required)**
Swipe just bounces back to close but only on some items in the list even though they all have the boolean equal to

[2021-10-29 22:38] wkoutre commented on #3219
Agreed. Wish there was a way to easily strip all default styling.

[2021-11-01 11:46] jkoutavas commented on #3231
Would love to see a resolution or work around for this.

[2021-11-01 12:02] SunyanLBJ23 commented on #3217
Set the outermost container style={{flex:1}}

[2021-11-01 18:45] cbotsikas commented on #3231
I also have the same issue with `hasTVPreferredFocus`, `tvParallaxProperties` and `autoCompleteType`

lib | version
-- | --
react-native-elements | 3.4.2
@types/react-native | 0.66.1
react-native | 0.66.1

On a `ListItem` from `react-native-elements`:
[code]

On an `Input` from `react-native-elements`
[code]

[2021-11-01 18:46] cbotsikas commented on #3227
I also have the same issue with `hasTVPreferredFocus`, `tvParallaxProperties` and `autoCompleteType`

lib | version
-- | --
react-native-elements | 3.4.2
@types/react-native | 0.66.1
react-native | 0.66.1

On a `ListItem` from `react-native-elements`:
[code]

On an `Input` from `react-native-elements`
[code]

[2021-11-02 08:00] tamis-laan opened #3238 "Image not showing (drop in replacement)"
It says the react native element Image component is a drop in replacement, however when switching the image is not loaded:

[code]
Potential bug or am I doing something wrong here?

[2021-11-02 12:50] w8ze-devel opened #3239 "Bug with Rating and AirBnbRating : web application in an NX project"
We are using version 3.4.2 (the latest) of the library.

We expect some strange behavior with Rating and AirBnbRating.

**Explain what you did (Required)**

Comment out the code relative to Rating and AirBnbRating in the dist/index.js file. (I know bad practise).

**Expected behavior (Required)**

Just add the dependencies and have everything working perfectly fine

**Describe the bug (Required)**

[2021-11-03 19:11] 1mike12 opened #3240 "Hide documentation about circular slider until it's actually released"
I just found out that the component listed over at https://reactnativeelements.com/docs/circularslider isn't actually finished yet. Looks like others were just as confused https://github.com/react-native-elements/react-native-elements-universe/issues/13

Would be nice to hide non working components until they're ready

[2021-11-04 07:56] AllInOneYT commented on #3238
Try to replace
[code]
With

[code]

[2021-11-04 21:36] J6ey commented on #3219
There's an annoying [bottom margin](https://snack.expo.dev/LAo-uNweNX) you can't get rid of for Input. Not sure why it's there.

[2021-11-05 20:50] wkoutre commented on #3219
FWIW, here's my the styling I've applied at the theme-level to the `BaseInput` in my component library (which implements `Input` from `react-native-elements`:

[code]

[2021-11-06 02:24] AllInOneYT commented on #3238
The `Image` component is wrapped inside `View` or `Pressable`. If you add `position:'absolute'`, it will be positioned absolute to its parent, which is the wrapper component. You could modify the wrapper's style with `containerStyle` prop

[2021-11-08 07:17] MarouaniALA commented on #3091
I have same issue, I found a tempo solution by creating VirtualizedView component because 2 scroll in the same orientation will throw a warning and put the tabView inside it also used @ruiaraujo012 solution for better performance

[code]
[code]
hope it helps

[2021-11-08 10:13] abdullahranginwala commented on #3240
Hello! Is this issue still open? It is my first time contributing and this seems a good place to start. I would really appreciate is someone could guide me.

[2021-11-09 13:37] mustafakameldev opened #3244 "Testing"
I tried to test a component that has Image, the test failed with an error

here is the message:   ```● Test suite failed to run

    Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignoring "node_modules".

[2021-11-09 22:21] nazio11 commented on #1188
<ListItem.Accordion  noIcon={true ou false} />

[2021-11-10 18:43] caricbrown commented on #2998
I have seen this issue as well. <TextInput /> from 'react-native' autofill works great on Android, but <Input /> from 'react-native-elements' does not. However it might be due to the fact that we all use 'react-navigation' and thus 'react-native-screens'.

See: https://github.com/software-mansion/react-native-screens/issues/349

I can confirm that if you use state to control the render of the <Inp

[2021-11-11 16:40] mednche commented on #3135
I have the same issue. Any fix yet?

[2021-11-16 16:29] amie-wilt opened #3247 "onSubmitEditing fires onCancel & cancel fires onCancel twice in Android"
**Explain what you did (Required)**

I'm using the `SearchBar` component and am using the `onSubmitEditing` to submit the search. I also have an `onCancel` event  that calls a `goBack` method to close the screen (it's a modal view of React Navigation).

**Expected behavior (Required)**

I would expect that when I hit the "go" button on the keyboard the `onSubmitEditing` would fire and I would expe

[2021-11-17 17:59] moriax commented on #3227
Hello,
is there any workarround/manual patch possible ?
When is it expected to get it officially fixed ?

[2021-11-18 20:33] NoahFace commented on #3218
Touches on ListItem.Swipeable fire onPress + onPressIn + onPressOut events.

You should generally use onPress, but this is broken on Android. I think the issue is that on Android the scrolling and swiping are too sensitive, so if you move your finger a minute amount between the in and out, it will think you are swiping or scrolling and onPress won't fire.

You can use onPressIn as suggested, but t

[2021-11-18 20:47] NoahFace commented on #3218
BTW, the issue only happens on a physical Android device. When you click with a mouse in the Simulator, the In/Out happen at the same location, therefore the press event will always fire.

[2021-11-19 06:31] oldmannewbie commented on #3162
add a key into the ListItem.Swipeable

`<ListItem.Swipeable
        leftContent={
           <Button
           title="Info"
           icon={{ name: "info", color: "white" }}
           buttonStyle={{ minHeight: "100%" }}
          />
        }
        key={item.id}

[2021-11-19 18:53] jasonfma commented on #3244
I have the same issue - I've gone through and followed the instructions at https://reactnativeelements.com/docs/web_usage/ and I still have the error.

[2021-11-19 21:36] 29er commented on #3227
I need a workaround for this if I can continue using this lib. please ! thanks

[2021-11-20 11:29] Usamaliaquat123 opened #3251 "Icon props @types error on typescript"
i imported **<Icon />** component from **react-native-elements** and its look like i'm missing some props but when i go to its defination all the props are optional

<img width="944" alt="Screenshot 2021-11-20 at 4 26 45 PM" src="https://user-images.githubusercontent.com/33973828/142724610-a0dae43e-edc4-4881-85d8-541745be3ea7.png">

react-native-elements  : ^3.4.2
@types/ react-native-elements : 0

[2021-11-20 14:46] Salman-Usmani commented on #3251
problem is in navigation, it should not say void...

[2021-11-20 16:45] nica0012 opened #3252 "Header Jumping"
Ever since 3.4.2, when navigating from a screen with **React Native Router Flux** header to a screen with **RNE** header, the RNE **header jumps every-time on load**. It did not do this before.

Anyone experiencing this?

[2021-11-21 07:00] mortocks commented on #3089
Same version 3.4.2 with typescript

[2021-11-21 16:46] flyingcircle commented on #3228
This has been suggested a dozen times. There's an open ticket in https://github.com/react-native-elements/react-native-elements-universe/issues/11

[2021-11-21 16:46] #3228 closed

[2021-11-23 09:03] mortocks commented on #3244
+1 with any element. Example below using a bare bones typescript app but just adding the themeProvider

[code]

Throws the same error. I'm assuming that this is something to do with the babel config

[2021-11-23 14:43] KrisLau commented on #3236
Refactored my component and used conditional styling (using `display: none`) instead of conditional rendering

[2021-11-23 14:43] #3236 closed

[2021-11-25 09:27] batical commented on #2712
On my Side, I fix this forcing platform to 'ios' for android

[2021-11-25 18:38] jkoutavas commented on #3231
I'm seeing this in RN 0.66.3 + react-native-elements 3.4.2 as well. Can we please get a solution together?

[code]

[2021-11-27 06:42] khushal87 commented on #3211
Hey, @Rohithzr Currently we don't have it. You can refer https://github.com/react-native-elements/react-native-elements-app to get the glimpse of the UI and how the components look like. Thanks :)

[2021-11-27 06:45] khushal87 commented on #3251
The type of `onPress` is `((event: GestureResponderEvent) => void) & ((event: GestureResponderEvent) => void)`. It takes in a `event` parameter.

[2021-11-29 07:21] djwlx opened #3255 "(TabView组件在鸿蒙系统中，输入框无法使用，并且无法成为受控组件)Tabview component in Hongmeng system, the input box cannot be used and cannot become a controlled component"
TabView组件在鸿蒙系统中，通过value和onchange控制选项，无法正常使用，并且输入框也无法使用

[2021-11-29 20:43] nicholascm commented on #3219
@wkoutre It looks like this margin is still there for me. https://snack.expo.dev/@nmorrell/jealous-cereal `containerStyle` lets us remove the horizontal margins, but the bottom margin stays regardless.

[2021-11-29 22:16] wkoutre commented on #3219
@nicholascm I, too, was initially fooled by this and thought just about the same as you!

I forgot to add in my previous comment that I've also passed `renderErrorMessage={false}`. Add that to your Snack and you should see see everything laid out as you'd expect.

[2021-11-29 22:23] nicholascm commented on #3219
@wkoutre That is very helpful! Thanks!

[2021-12-01 20:47] kickbk commented on #3231
There are several unused ts properties throughout this lib. `tvParallaxProperties` is one of them. Possibly leftover props from previous versions that hasn't been cleaned up? Probably need a slight TS update. In the meantime there are several workaround which nine are pretty - add the useless properties to the components you use, or extend the component and add it over there. Another option is to

[2021-12-01 20:50] kickbk commented on #3231
https://reactnative.dev/docs/touchableopacity#tvparallaxproperties-android
The maintainers will probably need to change these properties to optional in the ts definition files.

[2021-12-02 05:50] mdarke1 opened #3256 "Introduce TestID for containerStyles in ListItem.Accordion"
I am currently finding it impossible to test for style changes in a containerViews around the ListItem.Accordion, as RNE only provides access to the containerStyle and no testID in these views.

I currently have container styles updating based on state changes, applicable on both the Listitem.Accordion children container views and the ListItem.Accordion icon. However because the views do not provi

[2021-12-02 12:31] iman2420 opened #3257 "How to use two tone SVG icon by react native elements?"
**Is your feature request related to a problem? Please Describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-12-02 22:55] christopher-caldwell commented on #3163
@trajano Got this error with your hack. What a mess this is. Just going to ts-ignore this error.

![Screen Shot 2021-12-02 at 3 54 53 PM](https://user-images.githubusercontent.com/62559469/144516087-ec066537-2dfa-4b5c-8eed-51447ad133f2.png)

[2021-12-03 01:51] kurisubrooks commented on #3196
I'm having this problem on iOS and I've tried the above workarounds, but they're not working.
When using VoiceOver on iOS with the above fixes, nothing is read-out. I've checked with Accessibility Inspector as well and the label is blank.

The only time its read-out is if I pass in an array of strings (instead of basic `<View accessibilityLabel="string"><Text>String</Text></View>` components), but

[2021-12-03 05:26] trajano commented on #3163
@christopher-caldwell did you make sure you have the same imports as I have? I am also on    "react-native-elements": "^3.4.2",

[2021-12-03 17:48] christopher-caldwell commented on #3163
@trajano Yep. Copied your code exactly. Same version as well.

[2021-12-03 18:48] trajano commented on #3163
This is the one that I copied from my code base.

[code]

[2021-12-03 21:45] christopher-caldwell commented on #3163
@trajano I copied this exactly, restarted the TS server and got the same error. I've already fixed this for my own use, just letting you know this didn't work for me.

## Code screenshot
![Screen Shot 2021-12-03 at 2 43 17 PM](https://user-images.githubusercontent.com/62559469/144676685-7732ae43-cd35-4686-890b-0dcf0f227257.png)

## Error Screenshot
![Screen Shot 2021-12-03 at 2 43 28 PM](https://u

[2021-12-07 13:08] rkoleci commented on #3224
can you assign this to me ?

[2021-12-09 04:21] afrojuju1 commented on #3091
@ ruiaraujolink fix worked like a charm. thank you for saving me from days of debugging

[2021-12-10 01:06] Kumar2106 commented on #587
Hi i have tried that solution but whenever i am saving the file, the app just stop running.

[2021-12-13 03:38] Misaka-0x447f opened #3261 "Bad type definition in file https://unpkg.com/react-native-elements@3.4.2/dist/searchbar/SearchBar.d.ts"
Checkout this image. Sorry for not filling the form.
source: https://unpkg.com/react-native-elements@3.4.2/dist/searchbar/SearchBar.d.ts
![image](https://user-images.githubusercontent.com/15797507/145748302-e1f08d4f-2c82-4639-9ee7-134afc7f5774.png)

**Explain what you did (Required)**

**Expected behavior (Required)**

**Describe the bug (Required)**

**To Reproduce (Required)**

We highly recomme

[2021-12-13 05:45] JimTeva commented on #3089
Looks like @arpitBhalla has pushed some fixes to the branch #next but this is not yet "released".
- Remove current react-native-elements
[code]
- add the branch #next
[code]

[2021-12-13 15:45] renchap commented on #3227
Using the bleeding edge version of `react-native-elements` (see https://reactnativeelements.com/docs#bleeding-edge) fixes the error.

@flyingcircle can we have a release of the package so it fixes it without having to rely on the git version? 🙇

[2021-12-13 15:47] renchap commented on #3231
This is a duplicate of #3227.

As [explained in the other issue](https://github.com/react-native-elements/react-native-elements/issues/3227#issuecomment-992608440), this is fixed in the latest git version, you can install `react-native-elements` from git until this is fixed.

[2021-12-13 15:57] flyingcircle commented on #3227
@renchap  I'm still putting out fires at work due to this log4j thing. But I'll see if I can do a quick release sometime this week.

[2021-12-13 18:03] kickbk commented on #3227
+1

[2021-12-14 00:14] jamesanderbard commented on #3217
I'm facing the same issue. Any solutions?

[2021-12-14 06:53] JimTeva commented on #3261
This has been an ongoing problem: see https://github.com/react-native-elements/react-native-elements/issues/3089
@arpitBhalla pushed something but no release yet

[2021-12-14 07:29] arpitBhalla commented on #3261
@JimTeva try unreleased version with this method https://reactnativeelements.com/docs/#bleeding-edge

[2021-12-14 07:56] JimTeva commented on #3261
@arpitBhalla thanks, just tested, it works great!
[code]

[2021-12-14 07:59] JimTeva commented on #3089
@arpitBhalla provided a way to use the bleeding edge version of the library that fixes those types problem (see https://github.com/react-native-elements/react-native-elements/issues/3261)
[code]
Just tested, it works!

[2021-12-14 13:09] yasindemir94 commented on #3091
thank you sooooooo much but i'm still thinking why it doesn't work on ios. i mean what cause that ?

[2021-12-16 03:59] JimTeva commented on #3059
@flyingcircle have you find a fix? (running into the same error)

[2021-12-16 12:26] jereztech commented on #3200
I have the same problem, any fix for this?

[2021-12-17 18:22] ericpowell03 opened #3264 "Input and ListItem.Input do not accept ref prop when using useRef"
# What I Did

I have a `<ListItem.Input>` that I would like to `focus()` when another element is clicked. I used `useRef()` to create the ref.

[code]

# Expected Behavior

Clicking the button should focus the `ListItem.Input`

# Bug

The current value of the ref remains undefined.

# To Reproduce

Follow code snipped above. If the ListItem.Input is replaced with a plain react native TextInput, th

[2021-12-18 17:41] khushal87 commented on #3199
Hey @luongbahop. Are you still facing this issue? It could be due to internet issues too. Can you share your code snippet? Thanks :)

[2021-12-18 17:42] khushal87 commented on #3183
Still, facing the issue @hsavit1 @sivagopaltech?

[2021-12-18 18:59] hsavit1 commented on #3183
@khushal87 i was able to get around it by turning off typescript for my node module dependencies

[2021-12-19 12:00] cristeacosmin commented on #3218
I can confirm this happens on iOS physical device as well

[2021-12-21 09:08] JimTeva commented on #3059
@arpitBhalla any idea?

[2021-12-21 09:30] arpitBhalla commented on #3059
@JimTeva working on this, refer https://github.com/react-native-elements/react-native-elements/discussions/3268

[2021-12-21 16:15] markodvornik commented on #3085
This is not allowed because `flatlist` is `scrollView`and it is against the rules of `scrollView` to have one `scrollView` inside another. You will get an error or a warning:

Also note that wrapping `flatlist` with `SafeArea` is experimental and [not yet supported on all platforms](https://reactnative.dev/docs/safeareaview).

[2021-12-22 17:48] JimTeva commented on #3059
@arpitBhalla
In file https://github.com/react-native-elements/react-native-elements/blob/next/src/config/withTheme.tsx, line 70
[code]
T is compiled as is (T --> T) by Typescript. Don't understand why.
So it generates all those 'Cannot find name T' errors.

[2021-12-22 19:59] nikola166 commented on #3227
+1

[2021-12-22 20:04] renchap commented on #3227
Beta version for 4.0.0 has been released and it fixes this issue, you can use it like this in your `package.json`:

[code]

[2021-12-22 20:08] #3227 closed

[2021-12-22 20:08] flyingcircle commented on #3261
now in the latest version 4.0.0-beta.0

[2021-12-22 20:08] #3261 closed

[2021-12-22 20:08] #3255 closed

[2021-12-22 20:12] flyingcircle commented on #3257
This is a question for react-native-vector-icons

[2021-12-22 20:12] #3257 closed

[2021-12-22 20:13] #3205 closed

[2021-12-23 11:24] darkbasic commented on #3227
I've found a small bug in 4.0:
[code]

[code]

[2021-12-23 16:25] Kwamena-S commented on #3217
Didn't work for me.

[2021-12-24 09:39] Kwamena-S commented on #3201
Works fine on snack, but not on a physical device.

[2021-12-24 16:44] osamagamal7 opened #3275 "not able to center the input"
when i give the **containerStyle** width and **height** and apply flex on containerStyle to center the Input, it doesn't move.

<img width="410" alt="Screen Shot 2021-12-24 at 5 15 07 PM" src="https://user-images.githubusercontent.com/31896040/147365196-318ae3b7-ba25-4a10-a4ca-9944b044bd95.png">

<img width="626" alt="Screen Shot 2021-12-24 at 5 54 46 PM" src="https://user-images.githubusercontent

[2021-12-29 11:41] mariovillamizar opened #3277 "SearchBar Keyboard.removeListener"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-elements@4.0.0-beta.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-12-29 15:48] tjnk24 commented on #3200
this might be helpful

https://stackoverflow.com/a/67896989/12658187

[2021-12-30 01:55] joeyscarim commented on #3234
Just ran into this same issue.

It seems to be in `config/ThemeProvider.js`:

The old getDerivedStateFromProps function allows updates to occur:
[code]

[2021-12-30 05:52] priyansh71 commented on #3275
This issue can be solved by giving the `flex-direction: "row"` styling property to the inputContainer.
This will vertically align the input box to the centre of the inputContainer.

<img width="700" alt="Screenshot 2021-12-30 at 11 19 26" src="https://user-images.githubusercontent.com/77532581/147725188-3157423d-b7c2-401d-a885-9aedcefb53c3.png">

[2021-12-30 07:38] sgtpsibin commented on #3216
+1

[2021-12-31 06:07] basilbai opened #3280 "When the slider is vertical the Minimum value is up and the Maximum value is down. Is there a way to make it the opposite?"
When the slider is vertical the Minimum value is up and the Maximum value is down. Is there a way to make it the opposite?

[2021-12-31 14:35] osamagamal7 commented on #3275
thank you @priyansh71, that works.
but when i replaced the **containerStyle** with **inputContainerStyle**. it worked just fine with no need to set flex-direction to row.

[2022-01-02 20:34] GaylordP commented on #3217
Same issue :)

[2022-01-04 04:56] bexoss opened #3446 "Maxiumvalue does not work properly"
I know CircularSlider isn't supported yet,
But I tried to github code.

But when I set maximum value to 90, it's not work.

[code]

![aaa](https://user-images.githubusercontent.com/12633102/148011350-3e27a6e3-e4b7-44c8-9af3-d93bd7ef71e3.gif)

[2022-01-06 00:31] jkoutavas commented on #3227
I too am having problems with `4.0.0-beta.0`, getting a `Property 'underlayColor' does not exist on type 'IntrinsicAttributes & Omit<PressableProps & { containerStyle?: StyleProp<ViewStyle>; disabledStyle` error on using ListItem's `underlayColor` property:

[code]

I'm on React Native 0.66.4

[2022-01-06 00:56] jkoutavas commented on #3231
@renchap, thank you for your info!

FYI, `react-native-elements 4.0.0-beta.0` does indeed fix the initial type errors I was seeing, but, I'm now getting a `Property 'underlayColor' does not exist on type 'IntrinsicAttributes & Omit<PressableProps & { containerStyle?: StyleProp<ViewStyle>; disabledStyle` error on using ListItem's `underlayColor` property:

[code]

I'm on React Native 0.66.4

[2022-01-06 07:59] scrapecoder opened #3284 "Input flickering when having InputComponent"
I'm added `DatePicker and Picker` as the `InputComponent` to the `Input`, which is worked fine but when I'm entering the text into another `Input box` which does not have `InputComponent` that time `Input box with InputComponent` is flickering.

     <Input
        inputContainerStyle={[
          {
            borderWidth: 1,
            borderColor: theme.colors.grey5,
            borderRadius:

[2022-01-06 09:53] #3284 closed

[2022-01-11 11:11] jkoutavas opened #3287 "Typescript typing: Property 'underlayColor' does not exist"
**Explain what you did (Required)**

Attempted to lint check types on my app. Expected no errors.

**Expected behavior (Required)**

Got an error.  Initially I brought this error up on closed issue #3227

**Describe the bug (Required)**

I am having problems with `4.0.0-beta.0`'s types, getting a `Property 'underlayColor' does not exist on type 'IntrinsicAttributes & Omit<PressableProps & { contai

[2022-01-11 14:23] #3087 closed

[2022-01-11 14:59] arpitBhalla commented on #3287
Earlier this component uses `Touchable` but now it's using `Pressable` as base component. You need to remove underlayColor prop

[2022-01-11 16:29] arpitBhalla commented on #3275
I hope this solves your issue, feel free to re open this if it's still not solved.

[2022-01-11 16:29] #3275 closed

[2022-01-12 04:38] kickbk opened #3289 "AirbnbRating props are not sent to module in 4.0.0. beta 0"
**Explain what you did (Required)**

Updated to 4 beta. Saw the AirbnbRating module had issue. Found out props are not properly sent to the original module. Solved it by installing the original library and used it instead.

**Expected behavior (Required)**

AirBNB ratings should not have changed its behavior

**Describe the bug (Required)**

Props passed to RNE as `TapRatingProps` are no longer se

[2022-01-12 15:45] jkoutavas commented on #3287
...which also means removal of `activeOpacity`.

[2022-01-12 17:03] entrymaster commented on #3264
I would like to work on the bug. Please assign me this issue.

[2022-01-12 17:07] arpitBhalla commented on #3264
How are you going to do it?

[2022-01-12 17:12] entrymaster commented on #3264
I think there is a problem with props with Forward Refs in ListItem.Input.tsx . I will try to debug it.

[2022-01-12 17:15] #3183 closed

[2022-01-12 17:16] arpitBhalla commented on #3163
Can you test with v4.0.0-beta

[2022-01-12 17:17] arpitBhalla commented on #3085
@3KINGZ Can you test with latest v4-beta

[2022-01-12 17:28] entrymaster commented on #3264
Can you help me with setting up dev env ?

[2022-01-12 20:37] entrymaster commented on #3264
Can you guide me in setting up the project? I followed the Contributing Guidelines but didn't work.

[2022-01-14 09:03] #3213 closed

[2022-01-14 09:03] #3277 closed

[2022-01-14 14:37] tulio-mcsantos commented on #3244
Any news on this?

[2022-01-14 14:47] mustafakameldev commented on #3244
I solved this issue by adding this line ```"node_modules/(?!(jest-)?@react-native|react-native|react-native-elements/*)",```
on ***transformIgnorePatterns*** array on jest configuration
to make the whole jest like this:
[code]

[2022-01-14 14:52] tulio-mcsantos commented on #3244
Worked like a charm!! Thanks a lot @mustafakameldev

[2022-01-14 15:51] arpitBhalla commented on #3194
Could you test this now, and for more, refer #3290

[2022-01-14 15:59] arpitBhalla commented on #3206
This has been resolved by #3215

[2022-01-14 15:59] #3206 closed

[2022-01-14 17:00] ahamedm commented on #3217
Observed the same issue. TabView receives input  in browser but not on the device.

[2022-01-15 09:34] ardalan-nhd opened #3292 "Can't pass an array for containerStyle props on Card (and probably other components that i didn't test)"
**Explain what you did (Required)**

Trying to pass an array for `containerStyle` props on card because i needed to pass several styles conditionally

**Expected behavior (Required)**

Being able to pass an array for styles since it is supported by style props in react native

**Describe the bug (Required)**

When i try to pass an array for `containerStyle` props instead of an object, the styles f

[2022-01-15 09:40] arpitBhalla commented on #3154
@mingyuyuyu Can you test with latest beta version

[2022-01-15 10:51] entrymaster commented on #3264
While I was starting example app, I was getting this error:

"While resolving module `@react-native-elements/base/dist/Avatar/Avatar`, the Haste package `@react-native-elements/base` was found. However the module `dist/Avatar/Avatar` could not be found within the package. Indeed, none of these files exist:"

I noticed the actual directory is "src" in example not "dist", I have changed the name fro

[2022-01-15 11:14] arpitBhalla commented on #3264
No, do `npx lerna run build` in root directory

[2022-01-15 12:52] arpitBhalla commented on #3292
Hey, there was a related issue, can you check https://github.com/react-native-elements/react-native-elements/issues/3131#issuecomment-874537839

[2022-01-15 19:56] entrymaster commented on #3264
Hello Sir, I have got confused with the project structure. In example app every component is being imported from "themed". Should I make changes in packages/base OR packages/themed ? Also how do I test the changed component?

[2022-01-15 20:53] arpitBhalla commented on #3264
You need to make changes in Base, and test it in example app. So our workflow looks like this

Make change in base -> themed imports base -> themed will use withTheme Hoc -> example app reloads.

I am still working on restructuring the project, so there are few issues, which will be resolved soon.

[2022-01-15 21:34] kelvin-dev opened #3293 "The example sourcebase doesnt work properly"
**Explain what you did (Required)**

Do a new clone and follow README

**Expected behavior (Required)**

The example prototype should function properly for evaluation purpose, no blank screen !

**Describe the bug (Required)**

[code]

**To Reproduce (Required)**
# Steps
Do a new clone and follow README

**Screenshots (Required)**

![screenshot-2022-01-16_04 26 25 461](https://user-images.githubus

[2022-01-16 17:47] Dhruv454000 commented on #3234
hi can anyone suggest how can i start?

[2022-01-16 20:27] entrymaster commented on #3264
The component ListItemInput despite being enclosed in React.forwardRef is generating this warning.

"Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"

It is not detecting forwardRef. Any suggestions ? I'm thinking of changing whole component to class based and passing ref as props to test.

[2022-01-16 20:31] arpitBhalla commented on #3264
Try importing Component from `@react-native-elements/base`. WIP for Ref in themed pkg

[2022-01-16 20:40] entrymaster commented on #3264
Yes Its working fine now. Seems ref in themed package is issue. What should I do ?

[2022-01-16 20:41] arpitBhalla commented on #3264
Our team is working on it, just fix the Input issue ;)