[2022-01-16 20:51] entrymaster commented on #3264
The issue is fixed. ListItem.Input now is focusable using refs.

[2022-01-16 21:00] arpitBhalla commented on #3264
Great work!, Create a pull request.

[2022-01-17 15:31] jkoutavas commented on #3287
Thanks for the clarification you added to PR #3288.

[2022-01-17 15:31] #3287 closed

[2022-01-18 00:03] entrymaster commented on #3264
Update: I have converted the ListItem.Input to a class based component and passed the ref along. Now it is working with themed also.
Please help me create a PR. Should I remove the testing code?

[2022-01-18 02:15] arpitBhalla commented on #3264
Keep the component as Functional, we are WORKING on themed components, don't remove tests. Follow this guide to create a pull request
https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/creating-an-issue-or-pull-request

[2022-01-18 16:02] arpitBhalla opened #3297 "v4 Release 🚀"
Hey 👋🏼  React Native Elements users,
We are ready to release v4 very soon but there is some issue with pkg naming on NPM, For now you can use `Bleeding Edge` version (It's quite stable as of now). To Install Bleeding Edge version, use

[code]
You can also create an alias to help you smooth migration for v4, by aliasing `@react-native-elements/themed` with `react-native-elements`.
[code]
You may ne

[2022-01-18 16:10] #3211 closed

[2022-01-18 16:14] #3240 closed

[2022-01-19 08:37] #3178 closed

[2022-01-19 08:41] arpitBhalla commented on #3224
Hey @rkoleci how are you planning to do it?

[2022-01-19 08:52] arpitBhalla commented on #3210
Thanks @shangyilim

[2022-01-19 08:52] #3210 closed

[2022-01-19 08:56] arpitBhalla commented on #3184
Hopefully we can do it using TSdoc tags

[2022-01-19 08:56] #3184 closed

[2022-01-19 08:57] #3177 closed

[2022-01-19 09:02] arpitBhalla commented on #3293
Hey, we have renamed the package to '@react-native-elements/base' hopefully will release very soon. I hope '@expo/vector-icons' isn't crashing the app

[2022-01-19 09:02] #3293 closed

[2022-01-19 20:10] arpitBhalla commented on #3076
@ritwik-boringnews Go ahead

[2022-01-20 02:31] #2819 closed

[2022-01-20 02:31] #2851 closed

[2022-01-20 02:33] #2870 closed

[2022-01-20 02:34] #3026 closed

[2022-01-20 02:35] #3048 closed

[2022-01-20 02:36] #2794 closed

[2022-01-20 02:37] #3053 closed

[2022-01-20 02:38] #3029 closed

[2022-01-20 15:36] Foxxiblak commented on #2102
It still doesn't work if SearchBar is added to the Header of the FlatList
example:

`
    const [search, setSearch] = useState("");

    function updateSearch(value = ""):void {
        setSearch(value)
    }

    const onClearSearch = () => {
        setSearch('');
    }

    const renderHeader = () => {
        return (
            <SearchBar
                placeholder={"Text ..."}

[2022-01-20 17:22] sumj25 opened #3301 "The title of a button is not in the center properly In Lists."
The title of a button is not in the center properly.

**Screenshots (Required)**

![titlebutton](https://user-images.githubusercontent.com/59159432/150388669-a8bbd572-fa96-46be-8fd1-785e793fdbe2.jpeg)

[2022-01-20 17:24] sumj25 commented on #3301
Hii @arpitBhalla can I solve this issue.We can use Dimensions instead of passing some value for height to solve this issue.

[2022-01-20 21:12] andrewgilliland opened #3303 "Tooltip component crashes app on iPhone when closing"
On iPhone (iOS 14.8.1), when selecting the icon wrapped in the tooltip component, the expected text is rendered in a modal. But when closing the modal, the error message `Modal was presented with 0x2 orientations mask but the application only supports 0x8. Add more interface orientations to your app's Info.plist to fix this. NOTE: This will crash in non-dev mode.` is displayed. Note: this does not

[2022-01-20 21:27] Bilal-Abdeen opened #3304 "Using JEST with react-native-elements - mockModal is not a function"
The code below works fine if I use `<Text>` from `react-native`. If I use the `react-native-elements` version, I get the following error message.

Code:
[code]

1st Error:
[code]

To fix the error above, I added the following line to the `jest.config.js` file.
[code]

This got rid of the error above. However, now, I am getting the following error message.
[code]

**_How can I fix this error?_**

*

[2022-01-20 22:07] eliw00d commented on #3304
I can confirm the same thing after upgrading to 0.67.1. The same tests passed with 0.66.4.

[2022-01-21 02:20] arpitBhalla commented on #3304
Can you confirm this with v4 beta

[2022-01-21 02:46] Bilal-Abdeen commented on #3304
@arpitBhalla Thank you so much for looking into this so promptly. It works fine with `react-native-elements` version `4.0.0-beta.0`. Great!!!

[2022-01-21 03:35] arpitBhalla commented on #3303
Can you confirm this on V4 beta

[2022-01-21 04:28] eliw00d commented on #3304
@arpitBhalla Any chance this could be fixed with a patch for 3.4.x? We usually try to avoid alpha/beta versions due to changing APIs and such.

[2022-01-21 06:07] alaintalk commented on #3304
wow thanks for this but it should be just patched on 3.4 instead of manually changing the beta version

[2022-01-21 06:46] arpitBhalla commented on #3164
Can you confirm this with v4 beta?

[2022-01-21 06:48] arpitBhalla commented on #3079
Can you confirm this in v4 beta?

[2022-01-21 06:50] arpitBhalla commented on #1790
@nlok5923 How are you going to do this?

[2022-01-21 06:54] arpitBhalla commented on #1790
@Slapbox Now the searchbar don't use themed input, so I am hoping it's no longer any issue in v4

[2022-01-21 06:54] #1790 closed

[2022-01-21 07:15] arpitBhalla commented on #2210
Can you confirm in v4 beta?

[2022-01-21 10:09] shubhayu09 commented on #3301
Hey @arpitBhalla ,
Can you please tell me that which file we have to change to fix up this issue? I'm unable to find the file in the code.

[2022-01-21 15:33] andrewgilliland commented on #3303
I updated to V4 beta and then I got the error: `Unable to resolve module ./Avatar  from .../node_modules/react-native-elements/dist/index.js` and the app crashes. Any ideas?

[2022-01-21 15:40] Biki-das opened #3306 "Tile component: Text is not responsive"
currently in the Tile component the text at the end of the view is kind of have a broken responsiveness. applying `space-around` seems more reasonable and it also does the job quite well.

GIF/SCREENSHOT-

https://user-images.githubusercontent.com/72331432/150555476-919854bc-bab2-4c27-ba1d-17e86ad47f62.mp4

@arpitBhalla i tried to apply the changes in `example/src/components/views/tiles.tsx` but t

[2022-01-21 17:10] arpitBhalla commented on #3306
Hey, this might be because you are doing it on web,  try doing it on app first.
Expo app may take some time to build and load, I am working on that part.

[2022-01-21 17:15] Biki-das commented on #3306
thanks arpit for the response, sure let me try.

[2022-01-21 18:44] Biki-das commented on #3306
![Windows PowerShell 22-01-2022 12 11 34 AM](https://user-images.githubusercontent.com/72331432/150582802-2695fe9c-23cd-4dcd-9847-553807db8328.png)

idk whats happening, i have ran yarn but something is not correct any thoughts @arpitBhalla

[2022-01-21 19:17] eliw00d commented on #3304
Turns out this is actually a regression in 0.67.x and a workaround has been provided there that solves it without the need to upgrade to 4.0.0.beta-0 for me: https://git.target.com/batphone/studioconnect/pull/3449

[2022-01-22 00:54] sumj25 commented on #3301
hey @shubhayu09 I'm already working on it.

[2022-01-22 04:40] Biki-das commented on #3306
Sure, but why do i need to test this issue, this issue just exist, the expo example , in which the css property is broken, i also attached a gif, an tried to apply my changes

[2022-01-22 04:49] shubhayu09 commented on #3301
Ok , cool.

[2022-01-22 10:36] #3197 closed

[2022-01-22 11:28] avimishra18 opened #3309 "Documentation Bug: In Using the theme in your own components"
# Explain what you did
I was reading documentation and came across a possibly erroneous code snippet.

# Steps
1. Visit [Using the theme in your own components](https://reactnativeelements.com/docs/customization#using-the-theme-in-your-own-components)
1. Scroll to `makeStyles()` example

## Code Snippet
I have written possible errors as comments.
[code]

# Possible Solution

Check [Snack](https://

[2022-01-22 20:34] #3309 closed

[2022-01-22 20:35] #3037 closed

[2022-01-22 20:35] #3088 closed

[2022-01-22 20:35] #3234 closed

[2022-01-22 20:38] arpitBhalla commented on #3306
Hey, Can you please pick Good First Issue?

[2022-01-23 05:24] #3301 closed

[2022-01-23 10:55] sumj25 commented on #3222
Het armpit Bhalla can you describe to me how to produce this bug? I change the FAB size  to small and it works, here is a screenshot.

![fab2](https://user-images.githubusercontent.com/59159432/150675169-b8ef8650-676b-40c5-a4f3-9d95620b8a07.jpeg)
![fab1](https://user-images.githubusercontent.com/59159432/150675174-d4bf3aa5-ce3c-475d-9f28-c84dc8f9c3c4.jpeg)

[2022-01-23 11:05] arpitBhalla commented on #3222
Try for extended (one with title) FAB

[2022-01-24 02:04] Oize commented on #3089
Doesn't work for me. Yarn throws me "Invalid descriptor" error. Does anyone know a workaround?

[2022-01-24 12:17] Udit-takkar commented on #3256
@arpitBhalla  Can i take up this issue if still open?

[2022-01-24 14:34] sumj25 commented on #3222
@arpitBhalla Ohh yaa I find the bug can you please assign me. thanx.

[2022-01-24 15:13] arpitBhalla commented on #3222
You can create PR

[2022-01-24 21:20] JimTeva commented on #3089
@Oize or use patch-package library to patch yourself while the errors are getting fixed on the repo

[2022-01-26 16:14] entrymaster commented on #3216
Hey Arpit, I want to work on this. I'm thinking of putting a horizontal ScrollView in Tab.tsx and changing the WIDTH which is currently set by screenWidth/ No. of children( Tabs) .

[2022-01-27 19:44] #3068 closed

[2022-01-27 19:44] #3069 closed

[2022-01-27 19:44] #3070 closed

[2022-01-28 08:39] brerdem opened #3314 "Is there a way to extend default theme in JavaScript project as described for TypeScript"
The title is pretty self explanatory. I'd like to merge my custom theme (mostly colors) to the existing theme and want my IDE recognize new colors. How can I do that?

Thanks

[2022-01-28 11:09] l2aelba commented on #3200
I got same problem also.

Cannot do like

`{isExpanded && <ListItem item={item} />}`

it turns the animation of the accordion clunky as they said.

[2022-01-28 11:50] arpitBhalla commented on #3314
Try this
[code]

[2022-01-28 17:53] jereztech commented on #3200
@l2aelba I fixed it by migrating to [RN Paper](https://callstack.github.io/react-native-paper/list-accordion.html)

[2022-01-30 07:47] Biki-das opened #3318 "Tiles bottom text cutting out from screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

The tiles component has three images, the last image with bottom text has  a small UI bug, the text in the bottom is not displayed fully, it is cut out from the below

![Screenshot_2022-01-30-12-15-58-310_host exp exponent (1)](https://user-images.githubusercontent.com/72331432/151691193-

[2022-01-30 08:26] arpitBhalla opened #3319 "I agree to follow this project's Code of Conduct"

[2022-01-30 08:26] #3319 closed

[2022-01-30 17:43] #3318 closed

[2022-01-30 17:56] #3188 closed

[2022-01-30 17:57] #3154 closed

[2022-01-30 17:57] #3231 closed

[2022-01-31 18:31] rodrickcalvin commented on #3216
As a GSOC student aspirant, I would love to work on this with your guidance @alexisbronchart.

[2022-01-31 20:18] #3222 closed

[2022-02-02 08:38] sumj25 commented on #3280
I'm working on this issue. I would like to claim it.

[2022-02-03 07:16] NoahFace commented on #3218
@arpitBhalla really hoping you manage to fix this - I can see you have it tagged to 4.0.
I will certainly be testing the 4.0 beta once it is fixed.

[2022-02-03 07:17] knmn2000 commented on #3256
Took up this issue as there were no updates here in the last week.
I'm new to react native, please tell me if my pull request is what was required to fix this issue.
Thanks!

[2022-02-03 08:30] scrapecoder opened #3332 "clickable component are not clicking on Huawei devices"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

`<ListItem.Accordion
      containerStyle={{
        backgroundColor: isSelected
          ? theme.colors.focusColor
          : theme.colors.white,
      }}
      onPressIn={() => onGroupCardPress(item)}
      noIcon={!collapsed}
      content={
        <Fragment>
          <ListItem.Con

[2022-02-03 10:45] Hamid313-coder commented on #1667
👍👍👍

[2022-02-03 14:42] knmn2000 commented on #3247
I'm unable to reproduce this issue, could you please link your repo here?
I'm on version 3.4.2 of RNE.

[2022-02-03 15:53] arpitBhalla opened #3333 "Typing for Props passed to useStyles(props)"
### Discussed in https://github.com/react-native-elements/react-native-elements/discussions/3331

<div type='discussions-op-text'>

<sup>Originally posted by **myhendry** February  3, 2022</sup>
Hi. How do we type the props in useStyles? The typing for theme is working fine. Thanks

[code]

[2022-02-03 19:20] #3333 closed

[2022-02-04 06:24] knmn2000 commented on #3289
The props are not being passed into the react-native-ratings component that RNE uses, I'll make a pull request with a fix for this issue.

[2022-02-04 19:23] #3289 closed

[2022-02-04 19:31] #3256 closed

[2022-02-04 19:40] brerdem commented on #3314
Thanks! I figured out that I need to add TypeScript which is not something I want at the moment. Closing now

[2022-02-04 19:40] #3314 closed

[2022-02-04 20:33] gtwilliams03 commented on #3179
I am watching this issue as well.  I am finding that the `ListItem.Swipeable` component is great for what I am doing (ScrollView with ListItems which can be scrolled vertically, but also swiped right and left to expose control buttons.  I do find that the vertical scrolling is quite difficult when using the `Swipeable` elements, because you pretty much have to scroll exactly vertically or it wants

[2022-02-04 20:40] arpitBhalla commented on #3179
@dobeerman make sense to me, Would work on it once v4-beta.1 released

[2022-02-05 02:53] ahnafnafee commented on #2475
Could you share this fix again, if possible? I'm encountering the same issue

[2022-02-05 03:18] ahnafnafee commented on #2475
If anyone is looking for a fix for android, use this for the source:
[code]

[2022-02-07 09:13] sumj25 commented on #3201
working on this isuue.

[2022-02-07 14:14] entrymaster commented on #3247
@amie-wilt Did u get this bug on iOS too?

[2022-02-07 14:37] entrymaster commented on #3247
@amie-wilt @arpitBhalla  I'm gonna take up this bug. If any updates, then please let me know.

[2022-02-09 08:34] tamis-laan opened #3339 "loading property on all components"
The `button` component has a `loading` property yet an `image` or an `avatar` does not.

Would it not be more consistent if components would be in a loading state if the data is a promise or if the loading property is set to true?

[2022-02-10 07:25] Manan17 commented on #3076
Hi, can I work on this @arpitBhalla

[2022-02-10 08:09] ritwik-boringnews commented on #3076
I am currently working

[2022-02-10 11:38] brorminskij opened #3341 "Warning: Failed prop type: Invalid props.style key `elevation` supplied to `Image`."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Added some styling to an Image.
zIndex is supported but only works for iOS.
Used elevation for android emulator.
[code]
### Expected behavior

**Console error.**
[code]
### Describe the bug

Elevation should be an valid props.style.key and not give any kind of error.

### Steps To Reprodu

[2022-02-11 11:23] arpit-bhalla opened #3344 "New Universal Components"
We have few new Universal component proposals

- [ ] https://github.com/react-native-elements/react-native-elements-universe/issues/3 @knmn2000
- [ ] https://github.com/react-native-elements/react-native-elements-universe/issues/11
- [x] https://github.com/react-native-elements/react-native-elements-universe/issues/4 @arpitBhalla
- [x] ~https://github.com/react-native-elements/react-native-element

[2022-02-11 11:33] arpitBhalla commented on #3339
There is a `transition` prop which works til image loads, how about showing a spinner for loading state?

[2022-02-11 14:36] knmn2000 commented on #3344
[This issue](https://github.com/react-native-elements/react-native-elements-universe/issues/3) proposes using the [react-native-table-component](https://www.npmjs.com/package/react-native-table-component) library.
Would it be okay to add this package as a dependency for RNE, given that the last update to this package was 2 years ago?

[2022-02-12 06:36] pranav280300 opened #3346 "Can't Setup the Example app."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Hey,
So I was trying to setup the application.
 -  so Cloned the react-native-element repo.
 - then **cd Examples** directory
 - and **npm i**.

### Expected behavior

Should Ideally be able to install the dependencies for the example app.

### Describe the bug

Hey there,
This is my firs

[2022-02-12 07:25] arpitBhalla commented on #3346
Try `yarn` instead, we are using yarn workspaces

[2022-02-12 10:13] arpitBhalla opened #3348 "TabItem default purple background"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

.

### Expected behavior

.

### Describe the bug

.

### Steps To Reproduce

[code]

### Screenshots

_No response_

### Your Environment

_No response_

[2022-02-12 11:23] tamis-laan opened #3349 "Overlay fade-in fade-out and timing"
The `Overlay` component currently fades in extremely fast and does not fade out. It would be nice if the developer could control the fade in and fade out time of the Overlay component.

[2022-02-12 14:02] #3216 closed

[2022-02-12 14:02] #3348 closed

[2022-02-12 14:03] #3346 closed

[2022-02-12 17:17] arpitBhalla opened #3351 "'ListItem.Accordion' `animation` props do not work"

[2022-02-12 17:39] arpitBhalla commented on #3200
For now, I have removed height animation , it's working now, I'd work on this after v4 is released.

[2022-02-12 17:43] arpitBhalla commented on #3135
You can try this, using expo template with Bleeding Edge version

expo init app --template react-native-elements-template@bleeding-edge

[2022-02-12 17:47] #3135 closed

[2022-02-12 17:47] #3200 closed

[2022-02-12 17:47] #3351 closed

[2022-02-12 18:40] arpitBhalla commented on #3341
You might want to use `containerStyle`
[code]

[2022-02-12 19:46] arpitBhalla commented on #3162
You can try this, using expo template with Bleeding Edge version
[code]

[2022-02-12 19:49] #3162 closed

[2022-02-12 19:49] #3179 closed

[2022-02-12 19:50] #3341 closed

[2022-02-15 18:35] Ashutosh-Tiwari commented on #1871
Even after using the skipAndroidStatusBar attribute, I still face the same issue. My tooltip is not inside any Modal component.

[2022-02-16 03:46] crisfcodes opened #3358 "Extend default font styles doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I've tried to extend the default font styles with interface merging as [documentation](https://reactnativeelements.com/docs/customization#typescript-definitions-extending-the-default-theme) explain:

[code]

### Expected behavior

The expected behavior should be can access to the new styl

[2022-02-17 15:08] ramanansivagnanam commented on #3217
In device Tab child components onPress event is not working.
It works fine in development env.

 version -    "react-native-elements": "^3.4.2"

[2022-02-17 18:18] ShouShou92410 opened #3362 "On an Android device, clicking on Button shows a circle that overflows to other components on the screen."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I'm trying to create a button with some action event after the user press it, but this circle shows up when I press the button when trying the app on my Android phone. I've tried playing around with the styles that the button has to find a workaround, but nothing seems to work.

### Expec

[2022-02-17 18:39] arpitBhalla commented on #3362
@ShouShou92410 Not able to reproduce, can you check `Button` view in example app?

[2022-02-17 19:20] ShouShou92410 commented on #3362
@arpitBhalla Sorry forgot to mention that emulator works fine, but on an actual phone is where the bug is happening. I'm using Samsung's Galaxy S8 with Android 9.

[2022-02-17 19:57] josectobar opened #3363 "[Expo]: Unable to resolve module react-native-safe-area-context"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I'm trying to use `react-native-elements` with an RN on `Expo`.

### Expected behavior

 I was trying to render a simple checkbox component when I got this error at runtime on iOS:

[code]

### Describe the bug

It seems that `react-native-safe-area-context` is not a dependency available

[2022-02-17 20:03] arpitBhalla commented on #3363
This library is peer dependency for react-native-elements, so you might need to install it as well.

[2022-02-17 20:08] arpitBhalla commented on #3358
Fixed with https://github.com/react-native-elements/react-native-elements/pull/3198

[2022-02-17 20:08] #3358 closed

[2022-02-17 20:10] ReactNativ commented on #2800
[code]

[2022-02-18 06:07] Ashutosh-Tiwari commented on #2180
https://github.com/react-native-elements/react-native-elements/issues/1871
The issue still remains. When the Modal is not used, the skipAndroidStatusBar makes no difference.

[2022-02-18 06:09] Ashutosh-Tiwari commented on #2301
https://github.com/react-native-elements/react-native-elements/issues/1871
The issue still remains. When the Modal is not used, the skipAndroidStatusBar makes no difference.

[2022-02-18 06:23] arpitBhalla commented on #2462
@Ashutosh-Tiwari can you check with bleeding edge version?

[code]

[2022-02-18 07:19] Ashutosh-Tiwari commented on #2462
@arpitBhalla
I imported the tooltip from `@react-native-elements/themed` and implemented the snippet. But nothing's popping up. What am I doing wrong?

![image](https://user-images.githubusercontent.com/17219007/154635955-19cdd982-45f2-449c-8b37-ac6081362f49.png)

[2022-02-18 07:32] arpitBhalla commented on #2462
Refer [Migration Guide](https://reactnativeelements.com/docs/next/migration_guide#tooltip)

[2022-02-18 07:58] arpitBhalla commented on #2462
I am not sure about this, but bleeding edge is stable, you can surely add it to your project.

[2022-02-18 08:02] arpitBhalla commented on #2462
Try `closeOnlyOnBackdropPress={true}`

[2022-02-18 08:15] arpitBhalla commented on #2462
@Ashutosh-Tiwari Can you confirm other `Tooltip` open issues, if they are working now?

[2022-02-18 08:32] Ashutosh-Tiwari commented on #2462
Can we set the height to be dynamic by setting height={null}? If yes, I don't see any other issue with the tooltip as of now, but I'll keep you posted as the tooltip is heavily used in my project.

[2022-02-18 08:55] #2462 closed

[2022-02-18 11:18] #2210 closed

[2022-02-20 10:07] arpitBhalla commented on #3171
Working fine with interfaces as well

[2022-02-20 10:07] #3171 closed

[2022-02-20 11:11] mayank2021 commented on #3349
@arpitBhalla can I take this issue?

[2022-02-21 15:42] josectobar commented on #3363
Yup, installing `react-native-safe-area-context` did the trick thanks.

[2022-02-21 15:42] #3363 closed

[2022-02-22 15:03] abhinav-22-tech opened #3368 "[DropDown] Not Working Properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

The DropDown Menu of the header of the website does not work properly.

Initial Stage
![image](https://user-images.githubusercontent.com/66718489/155157928-43405e8d-8a83-457c-b232-9b1d1af85d19.png)

When we click on `All versions` it shows the correct page but does not show `All versions`

[2022-02-22 21:21] mendes-develop opened #3369 "On Android simulator, button disabled has no effect on style change when in comparison to iOS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

<img width="825" alt="Screen Shot 2022-02-22 at 3 53 16 PM" src="https://user-images.githubusercontent.com/46525527/155217422-38e18496-e4f8-4904-b5d8-aef0262c79f9.png">

`  return (
    <Button
      {...props}
      title={
        <P1 textAlign={"center"} color={titleColor}>
          {

[2022-02-23 08:02] arpitBhalla commented on #3368
I don't think it's an issue with `react-native-elements`, you can raise issue [here](https://github.com/facebook/docusaurus).

[2022-02-23 08:02] #3368 closed

[2022-02-23 10:19] monk-lee commented on #3297
I want to use the `/themed` too, but that command doesn't work.

`yarn add react-native-elements/react-native-elements#base` <-- work

`yarn add react-native-elements@react-native-elements/react-native-elements#themed` <-- not work

`yarn add react-native-elements@npm:@react-native-elements/themed` <-- not work too

What should I do?

Thanks.

[2022-02-23 10:23] arpitBhalla commented on #3297
It will be installed as `react-native-elements` alias for `@react-native-elements/themed`.

If you want to install without aliasing, you can do

[code]

[2022-02-23 11:17] monk-lee commented on #3297
`yarn add react-native-elements/react-native-elements#themed`

There's an error like this

`Couldn't find package "@react-native-elements/base@^4.0.0-beta.1" required by "react-native-elements/react-native-elements#themed" on the "npm" registry.`

[2022-02-23 13:01] arpitBhalla commented on #3297
I have fixed this, you may install now

[2022-02-23 13:05] monk-lee commented on #3297
Thanks for helping me.
I'm always using it well.

[2022-02-26 05:30] Sinharitik589 commented on #3292
@arpitBhalla can i work on it ?

[2022-02-26 05:59] arpitBhalla commented on #3292
I have already created a PR for this

[2022-02-26 17:23] Sinharitik589 commented on #3225
I think you are passing it wrongly ..it needs to be  `thumbTouchSize={{ width: THUMB_SIZE, height: THUMB_SIZE }}` instead. have a look at the  [documentation](https://reactnativeelements.com/docs/slider#thumbtouchsize)

[2022-02-27 03:03] arpitBhalla commented on #3358
Hey, that's because we can only merge `interfaces`. I made that change. Please let me know on Slack if you need any help.

[2022-02-27 04:02] arpitBhalla commented on #3358
If you are using Bleeding Edge, you can else not for now

[2022-02-27 04:05] crisfcodes commented on #3358
I am using Bleeding Edge and this behavior does not work, what I posted in the code this version, I'm doing something wrong

[2022-02-28 04:35] mbyrne00 commented on #3297
Hi @arpitBhalla - got same error again just now :( ... has something regressed again with the install?

[code]

[2022-02-28 05:56] arpitBhalla commented on #3297
Sorry for this, I have fixed it. Will also make changes, so it will not happen in again.

[2022-02-28 06:17] mbyrne00 commented on #3297
Oh great! Thanks @arpitBhalla. That did the trick.

[2022-02-28 17:22] dougkeen opened #3375 "`Icon` components cannot receive a custom `testID` prop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Discovered while trying to get a handle on an `Icon` component in a RNTL test. The `testID` I passed in is ignored and only the harcoded testID is queryable.

### Expected behavior

I should be able to query the rendered `Icon` with the `testID` I passed in.

### Describe the bug

The `Ic

[2022-02-28 19:21] #3375 closed

[2022-03-01 06:32] MacKentoch commented on #2721
**Why is this issue closed?**

Context: `NodeJS 16`

Still an issue with `"react-native-safe-area-context": "^4.0.1"` while trying to install `react-native-elements@v4.0.0-beta.0`.

[2022-03-01 19:40] MagicMirouff commented on #2392
skipAndroidStatusBar made the trick for me

[2022-03-02 04:50] arpitBhalla commented on #2392
Anyone still facing this issue please upgrade to > v4 beta

[2022-03-02 11:17] monk-lee commented on #3358
[code]

I want to make the text bold.

[code]

How can I apply style to such added props?

[2022-03-02 11:23] arpitBhalla commented on #3358
@monk-lee I am working on that part.

[2022-03-02 14:20] akankshat05 commented on #3332
@scrapecoder hey, I am unable to recreate the issue. here's the snack https://snack.expo.dev/@akanksha_t05/rne_click
It also works fine on android (samsung)

[2022-03-02 18:43] arpitBhalla commented on #3358
@monk-lee @crisfcodes Can you test it?

## Install

[code]
## Usage

[code]

[code]

[2022-03-02 18:52] crisfcodes commented on #3358
Let me check If all is working as expected @arpitBhalla

[2022-03-02 19:03] arpitBhalla commented on #3303
@andrewgilliland Can you confirm this with Bleeding Edge version

[2022-03-03 06:06] monk-lee commented on #3358
I don't think this is complete. `arpitBhalla/react-native-elements#themed`

[code]

[2022-03-03 06:23] arpitBhalla commented on #3358
I have fixed it, can you check once again

[2022-03-03 06:51] monk-lee commented on #3358
I made it simple and I think it's working well.

[code]

[2022-03-03 07:16] arpitBhalla commented on #3358
Yeah, I have already created a PR https://github.com/react-native-elements/react-native-elements/pull/3324

[2022-03-03 15:53] KrisLau commented on #3002
Snack I made for myself to test the  https://snack.expo.dev/t7fqw_Qe0

Snack I made of this code just to test: https://snack.expo.dev/t7fqw_Qe0

[2022-03-04 06:56] desonyuan commented on #3297
PS C:\Users\Administrator\Documents\code\dingApp> npm install @react-native-elements/themed @react-native-elements/base
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@react-native-elements%2fbase - Not found
npm ERR! 404
npm ERR! 404  '@react-native-elements/base@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name y

[2022-03-04 07:06] monk-lee commented on #3297
there is some issue with pkg naming on NPM, For now you can use Bleeding Edge version

Try it with this command.

[code]

[code]

[2022-03-04 20:53] Seanmclem commented on #3227
rather than use a bleeding edge beta, I just did like @foush said and put these on the components having the error, for now

[code]

[2022-03-05 08:47] arpitBhalla commented on #3297
Created a [discussion](https://github.com/react-native-elements/react-native-elements/discussions/3379) for this, please ask there

[2022-03-05 08:47] #3297 closed

[2022-03-05 13:00] amirbhz86 commented on #3217
It works properly in production mode but not in development

[2022-03-05 13:36] #3232 closed

[2022-03-05 13:38] arpitBhalla commented on #3232
You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-03-05 15:59] #3344 closed, assigned to nobody

[2022-03-05 19:01] hitesh-coder commented on #3175
when I was trying to reproduce this issue it was rendering correctly.

Code:
[code]

output:
<img width="399" alt="Screenshot 2022-03-06 at 12 26 16 AM" src="https://user-images.githubusercontent.com/58116679/156896564-48f3d972-729e-474f-a9fd-7f30d9cc685a.png">

**Is this issue already resolved?**

System info:
Mac Os Monterey M1 chip

[2022-03-05 19:51] #3225 closed

[2022-03-06 10:11] arpitBhalla commented on #3217
Is onPress is not called in Tab.Item or TabView.Item or child of TabView.Item? Need repro for this issue. Can someone share code which you have tried with.

 I didn't added `onPress` in `Tab.Item` because we have `onChange` prop in `Tab` which have `(newIndex)=> type`. Is the error

[2022-03-06 11:00] fabhed commented on #3044
I'm still having this issue. For me it is solved by simply removing the if statement.

Current code:
[code]
 After my change:

[code]

Am I missing something? Why is `setCurrentValue` not supposed to be executed when `trackStyle` is present?

[2022-03-06 11:04] arpitBhalla commented on #3044
Can you try this with  [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version?

or you can try with expo template
[code]

[2022-03-07 11:59] hitesh-coder commented on #3349
hey, @arpitBhalla as @kedar09 used animationType in his PR I have tried it and it is working properly.

code as follows:
[code]

code without animation type fade:

https://user-images.githubusercontent.com/58116679/157029766-0e3b74c7-601a-4e59-928b-8ebafd59ae96.mov

code with animation type fade:

https://user-images.githubusercontent.com/58116679/157029831-c0405bd7-ba0f-40b4-86c1-92bf37031d42.mov

[2022-03-07 12:55] arpitBhalla commented on #3349
@hitesh-coder https://github.com/react-native-elements/react-native-elements/pull/3353#discussion_r805343089

[2022-03-08 00:08] gtwilliams03 opened #3387 "Font Awesome Version 6 Support?"
Is there a plan to support Font Awesome version 6 that was recently released?

[2022-03-08 08:51] amirbhz86 commented on #3217
The pressable components doesn't press in TabView.Item
@arpitBhalla

[2022-03-08 15:51] Ahmedhamed77 commented on #2134
I have the same issue, any solutions ?

[2022-03-09 07:06] kaiyes commented on #3217
Here is a video showcasing that. It works in ios. But in android, any Touchable stuff becomes almost unusable. Any workaround @arpitBhalla ?

https://user-images.githubusercontent.com/5293742/157389884-ab3c83d1-30de-4df1-ba25-3d04857c1043.mp4

[2022-03-10 14:35] gluons commented on #1684
I'm finding solution for hours. Finally I found the solution. 🥰
Thank you very much. You save me.
I really want this solution on [Troubleshooting](https://reactnativeelements.com/docs/troubleshooting) page, is it possible?

[2022-03-10 14:38] arpitBhalla commented on #1684
Yupp, Could you create a PR for this?

[2022-03-10 14:56] arpitBhalla commented on #1684
Wait, I believe this would work without `[]` in version 4, Can you make changes in versioned docs, only please?

[2022-03-10 17:53] gluons commented on #1684
Add only v3, right?

[2022-03-11 13:48] Tim4497 opened #3389 "Checkbox disabled like ButtonGroup"
**Is your feature request related to a problem? Please Describe.**

It's not visually clear if a CheckBox is disabled.

**Describe the solution you'd like**

I would love to see it greyed out like in ButtonGroup (if checked also the icon)

**Describe alternatives you've considered**

None

**Additional context**

None

[2022-03-13 05:20] felixliu226 opened #3390 "Conditional rendering Tab.Item / TabView.Item"
**Is your feature request related to a problem? Please Describe.**

I'm using the tab inside a screen, I need to hide a certain tab item based on some condition. When inside the <Tab> and I render the <Tab.Item> conditionally, it will pop up an error saying that React.cloneElement(...): The argument must be a React element, but you passed null.

I hope the Tab.Item could support the conditional re

[2022-03-14 19:23] blabno commented on #3217
I'm experiencing the same issue. It seems that TabView intercepts the interaction as attempt to slide.
If I tap super shortly then the button's onPress gets triggered.

[2022-03-15 07:34] ChillyHoney commented on #3227
A simple solution which worked for me was to change import of react native elements.
From:
`import { Icon } from 'react-native-elements';`
To:
`import Icon from 'react-native-vector-icons/MaterialCommunityIcons';`

[2022-03-15 13:08] WVAviator commented on #3390
I did some quick research - this is happening because React.Children.map() traverses null values. From what I've read calling React.Children.toArray() will omit null values. So I think we can do that first instead and just map over the resulting array.

I'm happy to take a stab at it if you can assign me. Thanks!

[2022-03-15 15:47] arpitBhalla commented on #3390
Yep @WVAviator go for it.

[2022-03-15 18:26] WVAviator commented on #3390
So switching from using React.Children.map() to React.Children.toArray().map() in both Tab and TabView, as well as using .length on that array versus the other use of React.Children.count in TabView definitely works as far as resolving this issue - however depending on how this might be used it might not have the desired behavior. For example, if the developer wants the number of tabs to dynamical

[2022-03-15 22:53] mbyrne00 opened #3394 "makeStyles theme parameter typing is not accurate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

[code]

[code]

### Expected behavior

The `theme` param is `Partial<FullTheme>` however it appears that the `colors` property is _always_ present. Param type should reflect this.

### Describe the bug

Allow developers to assume full `theme.colors.xxx` set of values are present and defin

[2022-03-15 23:24] mbyrne00 commented on #3394
For now I've worked around this so that my code can happily use any overrides that we know have been set without any optional chaining, etc.

The workaround is to define my own `makeAppStyles` function.

[code]

Then in my component, the below snippet no longer complains. This will also allow me to reference any other overrides safely without optional chaining. If the theme is changed then the com

[2022-03-16 09:13] lunajing commented on #3303
Did you resolve it?

[2022-03-17 11:40] leikoilja opened #3399 "@react-native-elements(4.0.0-rc.0) is not available on yarn"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Run `yarn add @react-native-elements/base @react-native-elements/themed`

### Expected behavior

Installation works

### Describe the bug

Documentation at https://reactnativeelements.com/docs/migration_guide says to migrate using:
[code]

while the command returns:
[code]

Also can't fin

[2022-03-17 12:37] arpitBhalla commented on #3399
You need to add .npmrc, refer installation guide

[code]

[2022-03-17 12:56] arpitBhalla commented on #3399
Added this in migration guide too.

[2022-03-17 12:56] #3399 closed, assigned to nobody

[2022-03-17 13:20] arpitBhalla commented on #3394
It is because Colors are optional in Theme type, You may use optional chaining `theme?.colors?.primary`

[2022-03-17 21:06] omar-abdul opened #3402 "MISSING index.ts file cannot resolve module"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

After following the guide for installation in their official page, using github packages, treid to run react-native start  and it kept crashing  with this log

`the package `/mnt/Stuff/Sarifle App/Sarifle2/node_modules/@react-native-elements/themed/package.json` was successfully found. Ho

[2022-03-17 21:07] #3402 closed, assigned to nobody

[2022-03-18 04:10] arpitBhalla commented on #3402
You can ask on Slack ;)

[2022-03-18 04:10] arpitBhalla commented on #3402
Are you using Expo or React Native CLI?

[2022-03-18 06:52] omar-abdul commented on #3402
React Native Cli

On Fri, Mar 18, 2022, 07:10 Arpit Bhalla ***@***.***> wrote:

[2022-03-18 08:34] BlackSenPig commented on #3402
I faced the same issue .
I have modified it ->
`node_modules/@react-native-elements/themed/package.json`
[code]

[2022-03-18 08:38] omar-abdul commented on #3402
Great, i opened this just incase...
am glad 😊

On Fri, Mar 18, 2022, 11:35 0xab1de ***@***.***> wrote:

[2022-03-18 11:20] l2aelba commented on #3402
Any fix?

[2022-03-18 12:30] omar-abdul commented on #3402
Currently all i did was go into the node_modules folder and edit
package.json to point to dist/index.js (as suggested previously) everything
seems to be working,  so far so yeaay

On Fri, Mar 18, 2022, 14:20 John Johansen ***@***.***> wrote:

[2022-03-18 12:41] arpitBhalla commented on #3402
Didn't metro use `main` as entry point?

[2022-03-18 13:02] arpitBhalla commented on #3402
I have fixed it, can someone confirm it?

[2022-03-18 13:25] omar-abdul commented on #3402
Yess yess its working i just tried it, it seems you removed the
react-nativr property which was what was causing it to go crazy, thanks

On Fri, Mar 18, 2022, 16:02 Arpit Bhalla ***@***.***> wrote:

[2022-03-18 13:29] arpitBhalla commented on #3402
I added it because we have example app within the repo, and I need src/** files as source rather than building then using `dist`.

Hope it'd work for all. Thanks for your feedback :)

[2022-03-18 17:36] #3091 closed

[2022-03-18 17:36] #3201 closed

[2022-03-18 17:39] arpitBhalla commented on #3217
I tried fixing this in #3380 Can someone confirm this by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-03-19 07:37] #3390 closed

[2022-03-19 18:18] sam1rm opened #3406 "Documentation link doesn't work in readme"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

On the readme docs, the full documentation link

### Expected behavior

Should not 404.

### Describe the bug

Documentation link doesn't work to read me. Should be ![here](https://reactnativeelements.com/docs)

### Steps To Reproduce

[code]

### Screenshots

![Attachment one](https://us

[2022-03-19 18:31] #3406 closed, assigned to nobody

[2022-03-20 01:42] mbyrne00 commented on #3394
Thanks for the feedback @arpitBhalla but when I create an empty theme I see the theme.colors object still. When can it be undefined?

[2022-03-20 14:41] marcoturi opened #3407 "Tab indicator randomly not displayed on first render"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I'm using Tab and Tab view. Navigating in a view using the components.

### Expected behavior

Indicator should be present from start.

### Describe the bug

When the view (modal or component) opens, randomly, no indicator of the active tab is present.

### Steps To Reproduce

[code]

###

[2022-03-20 14:53] arpitBhalla commented on #3387
Is it supported by react native vector-icons?

[2022-03-20 14:54] arpitBhalla commented on #3304
Hopefully it would work with latest release

[2022-03-20 14:54] #3304 closed

[2022-03-20 14:55] arpitBhalla commented on #3251
Can you confirm with latest release?

[2022-03-20 14:57] arpitBhalla commented on #3164
Can someone confirm this with latest release

[2022-03-20 14:57] #3199 closed

[2022-03-20 14:59] arpitBhalla commented on #3394
Yeah, it (`Partial<Colors> in Theme type`) exists since long ago.

[2022-03-20 15:01] #3076 closed

[2022-03-20 15:40] marcoturi commented on #3407
Update: I found same interesting thing:
- The bug is random
- Disabling swipe doesn't affect the bug
- The bug is present in both modal and normal screens.
- It can be temporary fixed by giving a fixed width in the indicator style:

[code]

[2022-03-20 16:01] marcoturi commented on #3407
Just an hint for the maintainers, there is a race condition in the component:
https://github.com/react-native-elements/react-native-elements/blob/next/packages/base/src/Tab/Tab.tsx#L129

If you put a console log on L129 and L164 you will see (randomly):

 LOG  L129 WIDTH undefined
 LOG   L164 WIDTH  120
 LOG   L164 WIDTH  120
 LOG   L164 WIDTH  120

The width used for the indicator (ie const WIDTH

[2022-03-20 16:03] arpitBhalla commented on #3407
Would you like to create a PR to fix this?

[2022-03-20 16:05] arpitBhalla commented on #3407
AFA I can remember, it's because it don't rerender after calculating container width, because I didn't added state, instead I was using ref, so changing it might fix this.

[2022-03-20 17:55] gluons commented on #1684
#3408 created.

[2022-03-20 18:32] marcoturi commented on #3407
@arpitBhalla I have found another related bug. Sometime the indicator is shown only on the first 2 tab. When you click on the 3rd tab the indicator stay on the last one selected (but the tab content is correctly displayed).

[2022-03-20 19:01] borasumer opened #3409 "Can't install rc version using yarn"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Explain what you did
[code]
### Expected behavior

install the dependency

### Describe the bug

Can't install the dependencies using:
yarn add react-native-elements/react-native-elements#4.0.0-rc.0-base
yarn add react-native-elements/react-native-elements#4.0.0-rc.0-themed

### Steps To Reproduce

[code]

###

[2022-03-20 19:38] arpitBhalla commented on #3407
Can you share code so I can repro this issue?

[2022-03-20 19:41] arpitBhalla commented on #3409
try `yarn cache clean`

[2022-03-21 05:08] mbyrne00 commented on #3394
Oh ok - so does that mean this is something that can be _fixed_? (I'm guessing maybe it is from the milestone).  Obviously subject to prioritisation.

Just wanted to confirm I'm doing the right thing by assuming it will always be there with my workaround. Avoids a lot of unnecessary chaining and handling of undefined.

[2022-03-21 05:44] arpitBhalla commented on #3394
Yes there would be always colors property, even if you don't use ThemeProvider

[2022-03-21 07:01] arpitBhalla commented on #3409
Hey @borasumer, please let me know if it works, I am closing this, if you still need some help please ask here https://github.com/react-native-elements/react-native-elements/discussions/3379#discussioncomment-2400735

[2022-03-21 07:01] #3409 closed, assigned to nobody

[2022-03-21 09:32] monk-lee commented on #3163
4.0.0-rc.0

same issue

[2022-03-21 09:37] mariovelyov commented on #3240
@arpitBhalla
Hi, is CircularSlider component released as I still can't install it. Thanks in advance!

[2022-03-21 10:14] monk-lee commented on #3358
When can I start using this?

[2022-03-21 10:34] arpitBhalla commented on #3358
May be till end of [current Iteration](https://github.com/orgs/react-native-elements/projects/1/views/12)

[2022-03-21 10:44] #3034 closed

[2022-03-21 10:45] arpitBhalla commented on #3034
Resolved with https://github.com/react-native-elements/react-native-elements/pull/3302

[2022-03-21 12:56] borasumer commented on #3409
Thanks @arpitBhalla, that worked, appreciate it.

[2022-03-24 02:34] p697 opened #3413 "Tooltip not working by default in rc0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

When i'm useing Tooltip in version rc0, I found that I must use a new visible state and pass `visible` `onOpen` and `onClose` to Tooltip to make it work. This usage it's not the same with the doc.

### Expected behavior

The Tooltip is working perfectly.

### Describe the bug

I read the

[2022-03-24 02:52] arpitBhalla commented on #3413
Yes, it's uncontrolled component now, please see Migration Guide

[2022-03-24 12:29] arpitBhalla commented on #3413
Yes the behavior has been changed in v4, refer [Migration Guide](https://reactnativeelements.com/docs/migration_guide#tooltip)

[2022-03-24 12:29] #3413 closed, assigned to nobody

[2022-03-25 22:27] kickbk opened #3414 "text props for components"
I am not sure whether you already implemented this, but it would be great to be able to pass Text props to a Button component (and other components using Text) so we could do something like `maxFontSizeMultiplier={1.2}`

[2022-03-26 16:35] arpitBhalla commented on #3414
I believe most of components have `textProp` or `titleProp`, you can pass TextProp there,
For example, for Button it'd be
[code]

[2022-03-26 17:18] shadowfish07 opened #3415 "There is a spelling problem in the COLOR section of the document"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

it should be "colors"! I spent a lot of time checking why it didn't working,and I finaily find this problem.
![image](https://user-images.githubusercontent.com/38303418/160250280-94614c58-f341-48d7-aa77-d9953fa3da5c.png)

### Expected behavior

it should be "colors"!
![image](https://user

[2022-03-26 17:26] arpitBhalla commented on #3415
Would you like to create a PR?

[2022-03-26 17:26] arpitBhalla commented on #3415
Would you like to create a PR?

[2022-03-27 04:27] kickbk commented on #3414
Brilliant. Thank you.

[2022-03-27 04:27] #3414 closed, assigned to nobody

[2022-03-27 11:07] shadowfish07 commented on #3399
@arpitBhalla Hi,expo EAS can't build 4.0.0-rc.0 because we need to firstly run npm login,but I don't know how to do it with expo EAS.Is there a way to install @react-native-elements(4.0.0-rc.0) without login?

I have tried `yarn add @react-native-elements/base@react-native-elements/react-native-elements#base` but I met error when run gradlew:
`

warning: the transform cache was reset.

[2022-03-27 11:35] arpitBhalla commented on #3399
@shadowfish07  Try doing

[code]

[2022-03-27 11:50] arpitBhalla opened #3417 "Bleeding Edge Build Fail"
## Follow up https://github.com/react-native-elements/react-native-elements/issues/3399#issuecomment-1079906837

expo EAS can't build 4.0.0-rc.0 because we need to firstly run npm login,but I don't know how to do it with expo EAS.Is there a way to install @react-native-elements(4.0.0-rc.0) without login?

I have tried `yarn add @react-native-elements/base@react-native-elements/react-native-element

[2022-03-27 13:26] arpitBhalla commented on #3417
I believe it's because, color(v4) is using >=ES2021 and your config doesn;t support ES2021

https://github.com/Qix-/color/blob/286fb710033e7a915003c9cdc3a2522a38d9c8a3/index.js#L272

[2022-03-27 13:27] arpitBhalla commented on #3417
Reverted to Color v3

[2022-03-27 13:27] #3417 closed, assigned to nobody

[2022-03-27 14:00] shadowfish07 commented on #3399
Thank you ! It works! And I can successfully build!

[2022-03-27 14:46] shadowfish07 commented on #3399
I run `eas build --platform android`,it successfully build.
And then I run `expo publish`,the same error occurs.
And then  I run `eas build --platform android` ,the same error occurs.

I'm new to React Native.It is really confusing...

[2022-03-27 14:51] arpitBhalla commented on #3399
Try removing lock file/node_modules, as `eas`  builds on cloud and `expo publish` build then push to AWS

[2022-03-27 17:52] #3189 closed

[2022-03-27 17:52] arpitBhalla commented on #3358
This change will be available in next release. You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-03-27 19:24] #3394 closed

[2022-03-27 19:27] #3415 closed, assigned to nobody

[2022-03-27 19:28] arpitBhalla commented on #3292
This change will be available in next release. You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-03-27 19:28] #3292 closed

[2022-03-27 19:29] arpitBhalla commented on #3131
This change will be available in next release. You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-03-27 19:29] #3131 closed

[2022-03-27 19:30] #3339 closed

[2022-03-27 19:31] #2998 closed

[2022-03-28 07:12] #3040 closed

[2022-03-28 07:14] #3043 closed

[2022-03-28 07:28] mariovelyov opened #3421 "CircularSlider component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I have tried to install CircularSlider component.

### Expected behavior

When yarn add @react-native-elements/circular-slider is run I expect the package to be installed.

### Describe the bug

Issue:
error An unexpected error occurred: "https://registry.yarnpkg.com/@react-native-element

[2022-03-28 08:02] arpitBhalla commented on #3421
Try `npm i @rneui/circular-slider`

[2022-03-28 18:18] #3421 closed, assigned to nobody

[2022-03-29 05:10] shadowfish07 opened #3425 "SpeedDial's FAB color cannot be changed correctly by the theme"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I'm trying to change SpeedDial's color by theme.

My theme:
[code]

My SpeedDial:
[code]

### Expected behavior

All buttons should be the same color assigned by theme

### Describe the bug

The color of the big button does not seem to change, while the small button has the same color as

[2022-03-29 09:30] ionflow opened #3427 "updateTheme and replaceTheme are not functions of useTheme()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Trying to change the theme from dark mode to light mode using an event listener and useTheme hook. In the example from the docs the replaceTheme and updateTheme functions are always undefined.

### Expected behavior

These functions should update or replace the theme.

### Describe the bu

[2022-03-29 09:45] arpitBhalla commented on #3427
Are you using ThemeProvider?

[2022-03-29 16:32] felixliu226 opened #3428 "Tab View item was stretched when other item has different height"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I put the tab in a scroll view, there is some components above the tab, I'd like to put the tab's position as relative so it will move to top when the screen is scrolled down.

For the tab view, there are two view with different content length.

### Expected behavior

Each tab view's heig

[2022-03-29 16:50] arpitBhalla commented on #3428
Can you try with latest version?

[2022-03-29 16:51] arpitBhalla commented on #3427
I believe having ThemeProvider at the root of your app will fix this. Also don't use ThemeProvider and useTheme in the same level(component)

[2022-03-29 16:51] #3427 closed, assigned to nobody

[2022-03-29 20:55] hsavit1 opened #3429 "remove react-native-ratings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Running the project with react-native-web

### Expected behavior

Looked into the lighthouse score, realized that react-native-ratings contains lodash

### Describe the bug

React native ratings contains a lodash dependency, which has quite a large impact on web.

### Steps To Reproduce

[2022-03-29 20:58] hsavit1 commented on #3429
this project can live on its own. I don't think it needs to be included in react-native-elements

[2022-03-29 21:04] hsavit1 commented on #3429
another option is to fork the library and get rid of lodash. It literally only uses it in 1 file for 2 functions, maps and times

https://github.com/Monte9/react-native-ratings/blob/master/src/TapRating.tsx#L144

[2022-03-30 02:19] ionflow commented on #3427
Isn't the whole point to update the theme in the ThemeProvider with useTheme like this?

[code]

[2022-03-30 02:22] ionflow commented on #3427
Also, you might want to update the docs with a working example.

[2022-03-30 03:37] arpitBhalla commented on #3427
No, as I said before don't use useTheme and ThemeProvider in same level as it uses React context API. You can have useTheme in child of this component

[2022-03-31 01:13] gtwilliams03 commented on #3387
It looks like there is an open issue with no activity yet.

https://github.com/oblador/react-native-vector-icons/issues/1408

[2022-03-31 02:24] ionflow commented on #3427
Ah yes, ok, brilliant. That works. Thank you! Appreciate you sticking with me there. Thanks!

[2022-03-31 04:16] #3429 closed, assigned to nobody

[2022-03-31 04:19] #2797 closed

[2022-03-31 17:25] jckbb opened #3433 "Header jumps or jolts on render due to SafeAreaView"
Since the inclusion of SafeAreaView to **RNE** Header in the 3.0.0 release I've experienced a jump or jolt from the top of my device screen to the adjusted position provided by SafeAreaView on render. It was mentioned in [2707](https://github.com/react-native-elements/react-native-elements/pull/2707) that a prop called "safeArea" could be included to wrap the Header with SafeAreaView. Is this some

[2022-04-02 06:53] ttanimichi opened #3434 "Can't open the demo app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I've scanned [this QR code](https://expo.dev/@rne_org/react-native-elements) and opened the app, but got this error.

![image](https://user-images.githubusercontent.com/5486854/161370791-826df3ea-7d43-437e-a7cf-2510e043e03e.png)

### Expected behavior

Can open the demo app

### Describe

[2022-04-02 06:55] arpitBhalla commented on #3434
Try https://expo.dev/@rne_org/react-native-elements

[2022-04-02 07:25] ttanimichi commented on #3434
@arpitBhalla  It doesn’t seem to work

![IMG_942981E1AA40-1](https://user-images.githubusercontent.com/5486854/161372046-89d0f31c-e085-4953-aab9-0a2d771d9271.jpeg)

[2022-04-02 07:29] arpitBhalla commented on #3434
Try again?

[2022-04-02 07:32] ttanimichi commented on #3434
I've got the same result

[2022-04-02 12:56] #3425 closed, assigned to nobody

[2022-04-02 12:59] arpitBhalla commented on #3059
@JimTeva @stephen776 Can you confirm with latest version?

[2022-04-02 13:01] arpitBhalla commented on #3252
Duplicate of #3433

[2022-04-02 13:01] #3252 closed

[2022-04-02 18:06] amandeepmittal opened #3438 "Search functionality on docs not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I tried using the search functionality on [https://reactnativeelements.com/docs](https://reactnativeelements.com/docs) but it is not showing results for any keywords.

### Expected behavior

The search functionality should show results based on keywords that are related to React Native El

[2022-04-02 21:27] 1mike12 opened #3439 "Remove tvParallaxProperties from required in `IconButtonProps`"
**Is your feature request related to a problem? Please Describe.**

My IDE always shows an error because each icon requires a tvParallaxProperties prop even though I would wager 99% of people are not developing for TV, nor does leaving this prop out break anything.

`dist/icons/Icon.d.ts` line 41

**Describe alternatives you've considered**

**Additional context**

version ^3.4.2

[2022-04-05 12:47] arpitBhalla commented on #3434
Hey, @ttanimichi   Are you able to start the demo app?

[2022-04-05 12:48] arpitBhalla commented on #3439
Can you try with latest version?

[2022-04-05 12:50] arpitBhalla commented on #3251
Closing this issue after a prolonged period of inactivity. If this issue is still present in the latest release, please feel free to create a new issue with up-to-date information.

[2022-04-05 12:50] #3251 closed

[2022-04-05 12:51] arpitBhalla commented on #3194
Closing this issue after a prolonged period of inactivity. If this issue is still present in the latest release, please feel free to create a new issue with up-to-date information.

[2022-04-05 12:56] arpitBhalla commented on #2923
Closing this issue after a prolonged period of inactivity. If this issue is still present in the latest release, please feel free to create a new issue with up-to-date information.

[2022-04-05 12:56] #2923 closed

[2022-04-05 13:24] ttanimichi commented on #3434
No, I can't
![IMG_0765](https://user-images.githubusercontent.com/5486854/161763689-93a7becd-7c78-4146-8039-3eb2552a1501.jpg)

[2022-04-05 13:30] arpitBhalla commented on #3434
Well, maybe you need to login first

https://stackoverflow.com/a/64901771/6682039

[2022-04-05 14:24] kedar09 commented on #3164
@arpitBhalla I have checked with the latest version, not getting any errors. it working properly.

[2022-04-05 15:15] arpitBhalla commented on #3164
Thanks @kedar09,

if this issue still persists please feel free to create new one with latest info.

[2022-04-05 20:51] AndrewE1234 opened #3443 "Links to components in readme are incorrect, lead to Page Not Found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

View documentation for components provided in the readme

### Expected behavior

Should open correct component page

### Describe the bug

Selecting one of the links in the "Components included" section of the readme leads to a Page Not Found error, which seems to be due to incorrect link

[2022-04-06 04:32] arpitBhalla commented on #3443
I was thinking of removing that section from readme, we can check available components from website sidebar, Do you have any thoughts for this?

[2022-04-06 10:28] arpitBhalla commented on #15
Closing this in favor of [this discussion](https://github.com/react-native-elements/react-native-elements/discussions/3393)

[2022-04-06 10:28] #15 closed

[2022-04-06 10:31] arpitBhalla commented on #3439
I can confirm this is resolved in latest release

[2022-04-06 10:31] #3439 closed, assigned to nobody

[2022-04-06 18:05] arpitBhalla opened #3444 "Extending @rneui/themed (v4) with custom field does not work"
### Discussed in https://github.com/react-native-elements/react-native-elements/discussions/3441

<div type='discussions-op-text'>

<sup>Originally posted by **lucksp** April  5, 2022</sup>
I do not want to use the [default `Colors` theme shape type](https://reactnativeelements.com/docs/customization/color) because it does not fit our needs.   I added a `react-native-elements.d.ts` file to extend

[2022-04-07 09:09] DanJamesH opened #3445 "Using ref with input and Typescript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I tried to set up a ref with an Input component using Typescript.

### Expected behavior

What happens is that attempted to declare the ref using

` const input = React.createRef<Input>();`

and using that ref in the Input component like

`<Input
        ref={input}
/>`

### Describe the

[2022-04-08 01:16] Jasonnnz opened #3447 "Installation URL redirects to 404"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Explain what you did

Tried to click one of the Installation cards
![image](https://user-images.githubusercontent.com/22754567/162344118-c5a77caa-f8f3-4a1d-9e6f-5ff74b038461.png)

### Expected behavior

Should be redirected to `https://reactnativeelements.com/docs/installation`

### Describe the bug

Simply cl

[2022-04-08 01:17] Jasonnnz commented on #3447
Just wanted to flag this. Simple fix

[2022-04-08 01:32] NoahFace commented on #3218
@arpitBhalla I can see this is 1 of only 8 issues tagged to 4.0 that have not yet been addressed.
I really need a fix for this issue - is there anything I can do to assist?

[2022-04-08 01:44] 1mike12 commented on #3439
@arpitBhalla  thanks so much!

[2022-04-08 08:27] kedar09 commented on #3238
@arpitBhalla @tamis-laan i have used containerStyle instead of style in Image, its working properly.

[2022-04-08 08:29] kedar09 commented on #3238
@arpitBhalla @tamis-laan i have used containerStyle instead of style in Image, its working properly.

[2022-04-08 09:11] kedar09 commented on #3238
@arpitBhalla, I think @tamis-laan doing wrong. need to use containerStyle prop instead of style in the Image, it will work.

[2022-04-08 19:00] #3159 closed

[2022-04-08 19:49] #3045 closed

[2022-04-08 19:49] #3079 closed

[2022-04-08 19:49] #3163 closed

[2022-04-08 20:33] #3443 closed, assigned to nobody

[2022-04-08 20:33] #3447 closed, assigned to nobody

[2022-04-09 09:00] arpitBhalla commented on #3218
Hey @NoahFace Can you try if it's working now, Use
[code]

[2022-04-09 09:09] arpitBhalla commented on #3204
Can you try if it's working now, Use
[code]

[2022-04-09 14:22] ttanimichi commented on #3434
I've signed in to my Expo account, but it still doesn't work

![IMG_0779](https://user-images.githubusercontent.com/5486854/162578190-77ce8679-ba00-405c-97d9-e93a6f1672bc.PNG)
---
![IMG_0780](https://user-images.githubusercontent.com/5486854/162578186-ee92f610-5324-474d-abb2-a4fa51fb6a33.jpg)

[2022-04-09 14:23] arpitBhalla commented on #3434
I really things this is something related to authentication, (because it throws 403)

[2022-04-09 14:28] ttanimichi commented on #3434
Would you mind re-opening this issue?

[2022-04-09 14:43] arpitBhalla commented on #3434
I can reopen but it's not related to React Native Elements in any way

[2022-04-09 15:18] #3444 closed, assigned to nobody

[2022-04-09 15:59] AndrewE1234 commented on #3443
Hi, sorry for not responding! I think removing that section was the right move, as it makes it less you need to track in future. Thanks for fixing the issue.

[2022-04-09 21:13] NoahFace commented on #3218
@arpitBhalla
In my initial testing this change seems to be working!
I will run some more complete regression testing and report back again ASAP.

[2022-04-09 21:15] ikiK-CRO commented on #3218
Oh my good guys or gilrs if you fix this, ill kiss you all on the forehead...

Btw sorry for not mentioning this before, but I see some talk about the version, I'm having these problems on 3.4.2, if that means anything (it was the latest version when making this post).

[2022-04-09 22:19] NoahFace commented on #3218
@ikiK-CRO
You are going to have to upgrade to 4.0.0 to get this fix, unless you want to try to back-port it yourself.
Upgrading should just be installing the two new packages and changing your imports to something like the following:

import { Icon, ListItem, Button } from '@rneui/base'

[2022-04-09 22:50] ikiK-CRO commented on #3218
I'm willing to try if it's doable, this fix would greatly improve my current page in RN... Also, I could in the future use it in more ways, And I kind of have plenty going on on that page, as it wouldn't be limited... This is a pretty big issue with Swipeable now that I think on it again...

Looking forward to any possible fixes, and I'm sorry that my limited knowledge is not of help...

[2022-04-09 23:09] NoahFace commented on #3218
@arpitBhalla this change appears to be all good.
The onPress and onLongPress events are now responding as they should both on Android and iOS devices.
I've also verified that the existing behaviour (eg: scrolling, swiping with buttons, etc) continues to work as it should.
Please commit this through to the stable build and final 4.0 release.

Your work on this is GREATLY appreciated!

[2022-04-10 04:59] ttanimichi commented on #3434
Yes, I think so too. But, it would be an RNE's issue that the QR code on the REN official website doesn't work and the users can't try the demo app

[2022-04-10 06:39] arpitBhalla commented on #3434
Hey @ttanimichi I am not sure which QR code you are scanning from, the one on the website should point to `https://expo.dev/%40rne_org/react-native-elements`,

It's working on my device so I think it might be some issue with your device, maybe?

Also if you want to try the demo app, you can clone this repository, and start it from `example/`

[2022-04-10 12:11] marcoturi commented on #3407
4.0.0rc1 didn't fix any issue. It also adds problems with slides overlapping each other.
To repro just open the component view in a modal or new page.

![simulator_screenshot_7AFC22BE-8ACF-4312-B87E-5B01C0CD301A](https://user-images.githubusercontent.com/314901/162617423-942937c1-6bc2-4c2a-bf6f-91f630196026.png)

[2022-04-10 12:14] arpitBhalla commented on #3407
Hey, can you share snack for this, if possible?

I released it because there was some issue with installation via GitHub registry.

[2022-04-11 01:19] andrefedev opened #3452 "Type '{ children: Element; theme: CreateThemeOptions; }'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I installed react native and react native elements and followed the guide to use ThemeProvider and the children type is missing.

### Expected behavior

type children is not present.

### Describe the bug

(alias) const ThemeProvider: React.FC<{
    theme?: CreateThemeOptions | undefined;

[2022-04-11 01:36] andrefedev commented on #3452
They are relying on React.FC to have the children attribute when it is not. They should fix this and not trust React.FC.

[2022-04-11 02:49] pwin519 commented on #3362
I have the same question. The second button overflow the component when user press it.
I'm using the android emulator: Pixel 3a API 28 with google play

      <Button
        title="Button1"
        buttonStyle={{backgroundColor: 'rgb(202, 136, 57)'}}
        onPress={() => {}}
      />
      <Button
        title="Button2"
        containerStyle={{marginTop: 24}}
        buttonStyle={{backgroundC

[2022-04-11 09:57] l2aelba opened #3454 "Expo Web: no loaders are configured (4.0.0-rc.1)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

New version 4.0.0 cannot run on the web anymore. (3.X was working perfect before)

Problem 1: (solved)
- "react-native-vector-icons" before, so I just installed "react-native-vector-icons" and it work.

Problem 2.
- It's something about `no loaders are configured to process this file` on

[2022-04-11 16:29] tamis-laan opened #3455 "React Native Web, Icon: loads all icons"
When using:
`<Icon name='person' type='material-community'/>`

All icons are packaged with the app, i.e. `MaterialCommunityIcons.ttf` of 405.5 KB is included. This is kind of excessive for one single icon.

Based on the name and type a single icon should be included, preferably as inlined SVG.

[2022-04-11 20:36] lucksp commented on #3409
I am not sure if the same, but I am seeing this same `Couldn't find match for...` error.  I am following the install instructions found here: https://github.com/react-native-elements/react-native-elements/tree/next/example

I did try `yarn cache clean` without success on yarn version ` v1.22.5`.

[code]

If I try to run the app (just incase it still works), it also fails.  I have `expo cli`, `v5.0

[2022-04-11 22:12] lucksp commented on #3434
I have the same issue.

I think it's related to entry points of the App with Expo

https://github.com/react-native-elements/react-native-elements/issues/3409#issuecomment-1095541439

For what it's worth, if I `npm install` there is no issue and `yarn start` opens the Expo UI successfully.  However, upon running the app from Expo it will not compile the bundle

[code]

I have changed the package.js

[2022-04-12 01:13] hcharley commented on #3452
I believe this issue is likely from the @types/react 18 upgrade:

https://solverfox.dev/writing/no-implicit-children/

[2022-04-12 03:24] arpitBhalla commented on #3409
Hey @lucksp you need to clone this repo. And start from `example/`

[2022-04-12 03:26] arpitBhalla commented on #3434
Hey @lucksp please clone this repo, and start from `example` directory

[2022-04-12 11:55] jkoutavas opened #3456 "4.0.0.rc1: linter error in @rneui/base/Skeleton/index.d.ts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Ran `eslint . --ext .ts,.tsx --max-warnings 0` on my project. Got a TSC error. See screenshot below.

### Expected behavior

No linter errors

### Describe the bug

There's a typo or something in `Skeleton/index.d.ts`

### Steps To Reproduce

[code]

### Screenshots

<img width="741" alt=

[2022-04-12 15:17] lucksp commented on #3434
OK, let me try.  I was following the instructions from the "examples" for Expo https://github.com/react-native-elements/react-native-elements/tree/next/example#getting-started

[2022-04-12 15:29] arpitBhalla commented on #3434
Refer this https://reactnativeelements.com/docs/contributing#setup

[2022-04-12 16:23] louislatreille opened #3457 "Dialog actions are rendered outside the dialog box on WEB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I am trying to use the Dialog component. Same issue arises on the [documentation page](https://reactnativeelements.com/docs/components/dialog)

### Expected behavior

The action buttons should stay within the dialog box.

### Describe the bug

The action buttons are rendered outside the d

[2022-04-13 02:21] desonyuan opened #3458 "overlay custom background color falied"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

  <View testID="RNE__Overlay" style={StyleSheet.flatten([
        styles.overlay,
        fullScreen && styles.fullscreen,
        **overlayStyle,**
        {
            **backgroundColor: Color(theme?.colors?.white)
                .lighten(10)
                .rgb()
                .to

[2022-04-13 06:48] SpaghettiC0des opened #3459 "Support for 3rd party theming library like @shopify/restyle"
**Is your feature request related to a problem? Please Describe.**
Not really a problem, but when it comes to the theming, it's hard to use a 3rd party library.

The out-of-the box theming is good, but the problem is, it's hard to re-use it on other projects or publish the themes as a package, for example the design language for a company is consistent across different apps, and some of them are n

[2022-04-13 07:48] #3459 closed, assigned to nobody

[2022-04-13 11:25] felixliu226 commented on #3428
Hi, I just tired the version 4.0.0-rc.1, but the issue comes more complex.

My design is that there is an image on the top of screen, and then there is a tab to switch between 2 views, I hope the tab's position is relative to the page, and it could move to top when scroll the page.

However, if I wrapped the tab and tabview with ScrollView component, the TabView item cannot be seen in the screen..

[2022-04-13 11:32] arpitBhalla commented on #3428
Can you try this?

[code]

[2022-04-13 11:43] felixliu226 commented on #3428
Thanks for the quick response, after added the contentContainerStyle to ScrollView, the TabView is visible but the page cannot be scrolled.

I have updated the snack (https://snack.expo.dev/@felixliu_labviso/rne-tab) for your reference. Thx

[2022-04-13 11:44] arpitBhalla commented on #3428
No, I mean, add containerStyle to TabView, You need to specify the height for TabView

[2022-04-13 12:03] felixliu226 commented on #3428
But for my case, each tab's height is different and are based on the content length. If i add the containerStyle to TabView, then all TabView are stretched to the largest height.

[2022-04-13 20:48] Maruf-S commented on #3362
Any fix so far?

[2022-04-14 03:56] fukemy commented on #2934
i installed success
[code]

but get many warn, then still got error when import from 'react-native-elements'. please help

[code]

[2022-04-14 05:04] Amitkumarttn commented on #2233
<Image
        source={isAndroid ? require('../../avatar.png') : null}
        style={styles.imageStyle}
        resizeMode='cover'
        resizeMethod="scale"
        defaultSource={isAndroid ? null : require('../../avatar.png')}
      />

[2022-04-14 05:04] Amitkumarttn commented on #2233
`<Image
source={isAndroid ? require('../../avatar.png') : null}
style={styles.imageStyle}
resizeMode='cover'
resizeMethod="scale"
defaultSource={isAndroid ? null : require('../../avatar.png')}
/>`

[2022-04-14 05:06] amitkumarcoding commented on #2233
`<Image
        source={isAndroid ? require('avatar.png') : null}
        style={styles.imageStyle}
        resizeMode='cover'
        resizeMethod="scale"
        defaultSource={isAndroid ? null : require('avatar.png')}
      />`

[2022-04-15 08:16] fukemy commented on #2721
any solution here?

[2022-04-15 14:00] amonam commented on #3252
It happens for me.

[2022-04-19 21:12] DPflasterer commented on #3456
I ran into this too. I had to update typescript in my project (4.6.3) and I was able to build but I haven't tested further.

[2022-04-20 06:36] juho-ylikyla opened #3463 "SpeedDial.Action titles should be pressable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Pressing the speed dial actions sometimes does not trigger the `onPress` event. This may be due to the fact that the titles are not pressable.

### Expected behavior

Pressing the action title should trigger the actions `onPress` event

### Describe the bug

Attempting to press the speed

[2022-04-21 14:25] KrisLau opened #3465 "Speed Dial Placement left doesnt move the speed dial actions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Set `placement={'left'}` on `SpeedDial` and only the speed dial button moved left while the speed dial actions stayed right instead of the speed dial button and its actions.

### Expected behavior

Whole component should move right with the speed dial actions being placed above the speed

[2022-04-22 13:37] l2aelba commented on #3454
Fixed by adding: `dangerouslyAddModulePathsToTranspile` in `webpack.config.js` (Expo)

**Example:**
[code]

[2022-04-22 13:37] #3454 closed, assigned to nobody

[2022-04-24 09:16] attackonryan commented on #3091
fix the worst issue in my graduation project.  thanks

[2022-04-24 21:46] brianandreasen1983 opened #3466 "SearchBar component doesn't respect boolean of true or false for lightmode attribute"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

When implementing dark mode into my application the search bar when set to lightmode={false} doesn't respect it to be in dark mode.

I've tried this in a hook, using a theme and with a boolean hard coded as a string and without a string.

  <SearchBar  lightTheme={false}
              pla

[2022-04-24 21:55] brianandreasen1983 commented on #3466
I am currently working around this by checking the color scheme to see if it is in darkMode and then rendering a seperate SearchBar component without the light theme attribute as a quick and dirty solution for now but seems a little awkward that this logic could not be bound to colorScheme or another way to toggle lightmode and the docs seem to be a little thin on this.

![image](https://user-imag

[2022-04-26 00:35] bartkoedijk opened #3467 "ListItem.Accordion isExpanded on undefined gives error"
### Is there an existing issue for this?

- [X] #3469

### Explain what you did

passed undefined to the `isExpanded` property from ListItem.Accordion and threw and error.

### Expected behavior

Undefined should be equal to false

### Describe the bug

I used the example source code snippet from the documentation and received an error.
It didnt show where the expanded variable was initiliazed.
I

[2022-04-26 00:36] bartkoedijk commented on #3467
Wishing everybody a blessed day :)

[2022-04-26 10:26] l2aelba opened #3468 "Cannot change overlayStyle backgroundColor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

`<Overlay overlayStyle={{ backgroundColor: 'red' }} />`

### Expected behavior

Should able to change backgroundColor

### Describe the bug

Not able to overwrite backgroundColor

### Steps To Reproduce

[code]

### Screenshots

_No response_

### Your Environment

[code]

[2022-04-26 13:52] arpitBhalla opened #3469 "I have searched the existing issues"

[2022-04-26 18:22] JBradBarnes commented on #3457
I was just about to do this exact issue off of the example :)
Might as well post a quick web workaround since I'm here...
Just wrap the Dialog.Actions in another view container.

[code]

[2022-04-26 18:30] lucksp opened #3472 "makeStyles on Bleeding Edge does not pass in custom color/extended theme colors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I am using the RNE Bleeding Edge version to create a custom color theme.  However, when I `makeStyles()`, while the Typescript compiler thinks `theme.myCustomColors` exists, when the code runs on device, `myCustomColors` is not there.

### Expected behavior

`makeStyles` theme will pass t

[2022-04-26 19:01] arpitBhalla commented on #3091
This change will be available in next release. You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-04-27 08:36] arpitBhalla commented on #3472
Hey @lucksp, we can do it by extending the `Colors` interface, Also if you want to switch dark and light mode, use updateTheme, instead.

[2022-04-27 09:04] arpitBhalla commented on #3472
Extend the Colors
[code]
add light and dark colors
[code]
Also you can use updateTheme to update the color mode
[code]
Use above component as child of ThemeProvider
[code]

[2022-04-27 09:52] #3467 closed, assigned to nobody

[2022-04-27 09:58] #3458 closed, assigned to nobody

[2022-04-27 09:58] #3468 closed, assigned to nobody

[2022-04-27 14:06] jkoutavas commented on #3456
Yeah, updating to TypeScript 4.6.3 fixed this error for me, but introduced a whole world of new errors having to do with our subclass of RNE's Input component. Errors such as "shake property doesn't exist" and errors having to do with how we do Refs with RNE's Input component.

[2022-04-27 14:48] #3452 closed, assigned to nobody

[2022-04-27 14:48] #3456 closed, assigned to nobody

[2022-04-27 15:05] koploop commented on #3255
知道为啥给你直接关了吗？这是GitHub，用英文描述你的问题，这不是常识吗。别人难道还要费劲先翻译一下再给你解答？

[2022-04-27 16:32] lucksp commented on #3472
ah, this is a different approach than originally following, in terms of the FullTheme.  We'll give this a try and report back

[2022-04-27 18:16] arpitBhalla commented on #3465
This change will be available in next release. You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-04-27 18:17] KrisLau commented on #3465
@arpitBhalla Ahh ok thank you! I'll close off the issue

[2022-04-27 18:17] #3465 closed, assigned to nobody

[2022-04-27 18:25] lucksp commented on #3472
ok this approach seems to be successful in creating a theme for ThemeProvider, consuming the theme inside `makeStyles`, and `useTheme`. 💯 THANK YOU

[2022-04-27 18:25] #3472 closed, assigned to nobody

[2022-04-27 18:27] arpitBhalla commented on #3472
If you like React Native Elements, could you please [tweet](https://twitter.com/rn_elements) about it? Actually I was thinking of showing some tweets on website.

[2022-04-27 18:53] #3218 closed

[2022-04-27 19:24] arpitBhalla commented on #3463
This change will be available in next release. You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-04-27 19:24] #3463 closed, assigned to nobody

[2022-04-27 21:23] lucksp commented on #3472
DONE!
https://twitter.com/Phlucks/status/1519426758201978880?s=20&t=v66gN9nADV0OYy51ilaXZA

[2022-04-29 02:13] mbyrne00 commented on #3394
@arpitBhalla - I have updated to the latest (`rc2`) version of this lib and when I call `makeStyles` like below I am still getting an error saying `theme.colors is possibly undefined`. I see you fixed the type within `FullTheme` to say `colors` is mandatory, but the `makeStyles` call still has `theme: Partial<FullTheme>`. I'm not sure why that should be `Partial`

[code]

I can confirm that `useTh

[2022-04-29 20:18] #3446 closed

[2022-04-29 20:21] arpitBhalla commented on #3455
Duplicate of #3119

[2022-04-29 20:21] #3455 closed, assigned to nobody

[2022-04-29 20:23] arpitBhalla commented on #3445
Duplicate of #3202

[2022-04-29 20:23] #3445 closed, assigned to nobody

[2022-04-29 22:14] mary-ng5519 opened #3485 "TS2769: No overload matches this call."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Implement the UI with components ```<ListItem> <ListItem.Title>``` on React-native Typed
[code]

### Expected behavior

The component implementation should be compatible with latest TS Script version
[code]

### Describe the bug

[code]

### Steps To Reproduce

[code]

### Screenshots

_N

[2022-04-30 04:45] arpitBhalla commented on #3485
Can you try it with latest release?

[2022-04-30 12:50] arpitBhalla commented on #3349
Not sure if you can control the speed/duration of fade in/out, but try `animationType="fade"`
[code]

[2022-04-30 12:50] #3349 closed

[2022-04-30 13:12] mary-ng5519 commented on #3485
Sure Dear, latest release still happens that issue

[2022-04-30 13:13] mary-ng5519 commented on #3485
Sure Dear, latest release still happens that issue

[2022-05-01 21:18] logan-anderson opened #3488 "Can not add to an existing expo project."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

When trying to add to an existing expo project I am unable to use `react-native-elements` I am met with this error.

[code]

### Expected behavior

It should not give an error.

### Describe the bug

I was following the [docs here](https://reactnativeelements.com/docs/installation#existin

[2022-05-02 23:10] mary-ng5519 opened #3489 "Property 'onPress' does not exist on type 'IntrinsicAttributes & ButtonProps'."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Consume ```<Button>``` elements with props onPress

### Expected behavior

the component <Button> < should support onPress like previous Release

### Describe the bug

[code]

### Steps To Reproduce

[code]

### Screenshots

_No response_

### Your Environment

[code]
[code]

[2022-05-03 10:35] sagardalal21 commented on #3362
@ShouShou92410  Any solution for the overflow effect?

[2022-05-03 12:35] TheDistanceHQ commented on #1368
This worked a treat @LimAlbert and @anantaramdas! Thank you :)

[2022-05-03 12:56] #3488 closed, assigned to nobody

[2022-05-04 09:08] mbastian93 opened #3499 "Custom icon for ListItem.Accordion not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I am trying to use a custom 'expand' icon for the ListItem.Accordion.

### Expected behavior

The custom icon should be displayed

### Describe the bug

The provided custom icon is ignored and the default icon is not displayed either

### Steps To Reproduce

reproduction here : [snack](ht

[2022-05-04 11:01] arpitBhalla commented on #3499
Please mention the version, you are using.

[2022-05-04 11:15] mbastian93 commented on #3499
In my local project i used v^3.4.2 and for the repro on snack i used v4.0.0-rc.2 and neither worked as expected.

[2022-05-04 11:25] arpitBhalla commented on #3499
For now, You can use
[code]

[2022-05-04 11:30] mbastian93 commented on #3499
Okay, that does work 👍

[2022-05-05 15:19] mauris commented on #3362
same issue still occurring in `4.0.0-rc.2`  on device today. will try in Android emulator later.

[2022-05-05 15:34] mauris commented on #3362
I went to look into the code of `Button` component and found that the code responsible is [here](https://github.com/react-native-elements/react-native-elements/blob/next/packages/base/src/Button/Button.tsx#L199), where we have `TouchableNativeFeedback.Ripple()` with the `borderless` parameter set to `true`.

According to [React Native docs](https://reactnative.dev/docs/touchablenativefeedback#ripp

[2022-05-05 15:37] arpitBhalla commented on #3362
IMO, migrating to Pressable would be great.

[2022-05-05 15:39] mauris commented on #3362
@arpitBhalla I see what I can do to get us to React Native `Pressable`, any specific direction / instructions? would you mind assigning me this issue to work on (if possible) thanks!

[2022-05-06 13:24] KrisLau opened #3503 "Slightly transparent background color on Speed Dial causing white polygon to appear behind it (Android only)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

For some reason, adding a slight opacity to the background color (in this case `#E85A19C2`) seems to cause a problem on only Android where a white polygon appears behind it. I also tried making it completely transparent to see what was behind it and there seems to be a weird octagonal sha

[2022-05-06 18:30] #3499 closed, assigned to nobody

[2022-05-06 20:27] #3238 closed

[2022-05-06 20:28] #3042 closed

[2022-05-09 16:12] arpitBhalla commented on #3503
Can you share some [snack](https://snack.expo.dev/) example?

[2022-05-09 18:28] arpitBhalla commented on #3332
This change will be available in next release. You can try this, by installing [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

or you can try with expo template
[code]

[2022-05-09 19:06] #3175 closed, assigned to nobody

[2022-05-09 19:09] arpitBhalla commented on #3485
Try it with [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation) version

[2022-05-10 06:33] boreales opened #3513 "Blur on SearchBar doesn't occurs with Tab.Navigator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I have a `Tab.Navigator`  made with `createBottomTabNavigator` and I'm trying to implement a SearchBar inside it. But the blur event never happen when I click outside the SearchBar.

Here's my Tab.Navigator :

[code]

And my SearchBar :

[code]

### Expected behavior

When we click outsid

[2022-05-10 15:43] KrisLau commented on #3503
@arpitBhalla https://snack.expo.dev/@kris_lau/e70471 it doesn't have the same shape polygon shape in the snack for some reason but there is a different shadow

[2022-05-11 05:42] notjulian commented on #3058
thanks @kedar09 @arpitBhalla

[2022-05-11 13:08] arpitBhalla commented on #3503
Try ` containerStyle={{elevation:0}} ` in Fab/ SpeedDial

[2022-05-11 13:10] arpitBhalla commented on #3059
Please feel free to re-create / re-open issue if it still occurs in latest release (@rneui/themed)

[2022-05-11 13:11] arpitBhalla commented on #3434
Hey, hopefully you are able to run Demo Expo app locally, I am closing this issue now.

[2022-05-11 13:11] #3434 closed, assigned to nobody

[2022-05-11 13:12] arpitBhalla commented on #3489
Can you try this, with [Bleeding Edge ](https://reactnativeelements.com/docs/next/installation#bleeding-edge) version?

or you can try with expo template
[code]

[2022-05-11 13:42] KrisLau commented on #3503
@arpitBhalla That worked, thank you!

[2022-05-11 13:42] #3503 closed, assigned to nobody

[2022-05-12 06:38] mcanikhilprajapati commented on #1858
iconRight={true} with icon props

[2022-05-12 22:26] crisfcodes opened #3515 "I cant acces to custom props from makeStyles method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I want to access custom props declared in `theme.d.ts` file inside `makeStyles` method how I can do in `useStyles`. I can do something like:

[code]

but I cant do this:

[code]

### Expected behavior

I'm getting TS erros trying to acces custom props in makeStyle method.

### Describe th

[2022-05-13 08:27] GaylordP opened #3518 "White space when using ListItem.Accordion"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Hello :)

Thanks you for your library :)

But I have a strange white space when using `ListItem.Accordion`.

Can you help me ?

### Expected behavior

I have a strange white space when using ListItem.Accordion

### Describe the bug

I have a strange white space when using ListItem.Accordi

[2022-05-13 09:15] #3518 closed, assigned to nobody

[2022-05-13 09:16] #3217 closed

[2022-05-13 09:17] arpitBhalla commented on #3518
This change will be available in next release. You can try this, by installing [Bleeding Edge](https://reactnativeelements.com/docs/next/installation#bleeding-edge) version

or you can try with expo template
[code]

[2022-05-13 09:45] GaylordP commented on #3518
Thank you very much for your answer :)

[2022-05-13 19:52] louislatreille commented on #3457
@JBradBarnes I've tried your work-around and it doesn't seem to do anything for me.

@kedar09 This seems like a trivial change. Anything I can do to help merge your PR?

[2022-05-14 02:22] arpitBhalla commented on #3457
This change will be available in next release. You can try this, by installing [Bleeding Edge](https://reactnativeelements.com/docs/next/installation#bleeding-edge) version

or you can try with expo template
[code]

[2022-05-14 02:23] #3457 closed, assigned to nobody

[2022-05-14 10:14] arpitBhalla commented on #3515
FOr now, you can export the theme,
[code]
and use it
[code]

[2022-05-15 19:57] brycedeneen opened #3519 "@rneui/themed - New version of react results in error for Button -> "undefined is not an object (evaluating 'theme.spacing[radius]')""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Upgraded to the new react version on a working project. When I go back to the standard react button the error goes away

### Expected behavior

The button to load/work

### Describe the bug

When using the @rneui/themed regardless of what I use for radius (or don't use) it crashes the app

[2022-05-15 20:05] brycedeneen commented on #3519
Forgot to add:

- I'm using:
- "@rneui/base": "^4.0.0-rc.3",
- "@rneui/themed": "^4.0.0-rc.3",
- using base works fine (aka import {Button} from '@rneui/base');

[2022-05-15 20:07] arpitBhalla commented on #3519
Thanks for reporting, For now you can add ThemeProvider in root of your app.

[2022-05-15 23:38] addingama opened #3520 "Sample implementation with Parcel bundler for react-native-web"
Hi, thank you for the great library.
I've been using this for 4 years now.

Is there any information on how to integrate the react-native-elements with the Parcel bundler?

I just have a simple project with 4 files

<img width="147" alt="image" src="https://user-images.githubusercontent.com/2896774/168498907-87836b14-34e6-41b8-8089-81f070d203bc.png">

[code]

[code]

[code]

When I run the app and

[2022-05-16 07:28] arpitBhalla commented on #3520
Hey, Could you try adding the plugins, as suggested in the error?

[2022-05-16 11:54] #3438 closed, assigned to nobody

[2022-05-16 18:08] #3519 closed, assigned to nobody

[2022-05-16 18:11] #3515 closed, assigned to nobody

[2022-05-16 18:54] siujay commented on #710
Thankyou soo much, wasted whole day on this, just had to link as you said.

[2022-05-17 03:08] jdinard opened #3528 "Example App Doesn't work on web on windows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Installed the expo CLI

Fresh cloned the repo and followed the instructions here: https://github.com/react-native-elements/react-native-elements/tree/next/example

Ran yarn install

Ran yarn web

I'm not sure if this issue is because of an incompatible expo version etc.

### Expected beha

[2022-05-17 12:49] arpitBhalla commented on #3528
I am using `expo-cli@5.3.1`, working fine for me 🤔
<img width="410" alt="image" src="https://user-images.githubusercontent.com/55053424/168814388-af5dc05d-a898-4262-997f-efed13f5e39b.png">

[2022-05-17 13:46] ajenkins opened #3529 "Tab Component Error: "Invariant Violation: inputRange must have at least 2 elements""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Opened your docs page for the Tab component. Repro steps below.

### Expected behavior

No error in the Playground.

### Describe the bug

I don't know what the effect of this bug is, however I started seeing a similar error in my own app after upgrading to React Native 0.68.2. The error

[2022-05-17 16:14] korifey91 opened #3530 "Button component error - `TypeError: Cannot convert undefined value to object`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Just to use `Button` component

### Expected behavior

It should work

### Describe the bug

Using Button component crashes with error, even without any props

The error:
`TypeError: Cannot convert undefined value to object`
[code]

### Steps To Reproduce

[code]

### Screenshots

_No res

[2022-05-17 17:01] arpitBhalla commented on #3530
Duplicate of #3519

[2022-05-17 17:01] #3530 closed, assigned to nobody

[2022-05-17 17:01] arpitBhalla commented on #3530
This change will be available in next release. You can try this, by installing [Bleeding Edge](https://reactnativeelements.com/docs/next/installation#bleeding-edge) version

or you can try with expo template
[code]

[2022-05-17 20:57] colinbes commented on #3202
[code]
Seems to be working for me with RNE and Typescript

[2022-05-17 21:05] jdinard commented on #3528
@arpitBhalla Are you using a fresh clone of the repo? What OS are you using? Were you able to launch the app? I also get a notice that the web bundling is complete, but then it throws a bunch of exceptions.

I've confirmed it on two windows machines now. I'm pretty sure there is something missing that isn't in the setup instructions.

 It seems to be failing on every typescript file.

![image](htt

[2022-05-17 21:08] NathanNovak opened #3531 "Fix Button Documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Tried to import Button

### Expected behavior

Make documentation consistent

### Describe the bug

On the Overview page the example in the docs the import for Button is:
import { Button } from '@rneui/base';

The Button docs say:
import { Button } from "@rneui/themed";

I get an error wh

[2022-05-18 02:39] arpitBhalla commented on #3531
Duplicate of #3519

[2022-05-18 02:39] #3531 closed, assigned to nobody

[2022-05-18 12:30] Ming1996 opened #3533 "Example app Button screen missing error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Try to browse the button screen but get following render error

### Expected behavior

Show a list of button in the screen

### Describe the bug

Rendering error caused by missing props in `Stack` Component in Button Screen

### Steps To Reproduce

[code]

### Screenshots

<img width="377

[2022-05-18 12:36] #3533 closed, assigned to nobody

[2022-05-19 03:18] thenderson55 commented on #2630
Same issue with iOS now.

[2022-05-19 03:36] arpitBhalla commented on #2630
Try reporting this on react-native-ratings repo?

[2022-05-20 14:42] tamis-laan opened #3535 "<Icon> add loading prop"
The `<Icon>` component has an `onPress` property and can function as a button. It would be nice if this component would also have an `loading` property where the icon is replaced by a spinner.

[2022-05-20 15:27] arpitBhalla commented on #3535
You can use Button with icons
[code]

[2022-05-21 10:10] arpitBhalla commented on #3528
Tried on macOS & Ubuntu with fresh clone, working fine...

[2022-05-21 11:24] #2960 closed

[2022-05-21 11:33] arpitBhalla commented on #3520
Hey @addingama I have added docs for nextjs, webpack, parcel, and vite(if possible) in roadmap.

[2022-05-21 11:33] #3520 closed, assigned to nobody

[2022-05-21 11:35] arpitBhalla commented on #3387
Feel free to reopen this issue (or PR) once they added support for FA6.

[2022-05-21 11:35] #3387 closed

[2022-05-21 11:35] #3535 closed, assigned to nobody

[2022-05-21 11:37] #3057 closed

[2022-05-21 11:39] #3130 closed

[2022-05-21 11:39] #3204 closed

[2022-05-21 15:14] itaizelther opened #3543 "TabView & Tab Indicator are in reverse direction when device's language is RTL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I've run the example code of Tab components [from the docs](https://reactnativeelements.com/docs/components/tab) on a device which its language is RTL.

### Expected behavior

I should be able to navigate regularly as if the language was LTR.

### Describe the bug

The first screen is vis

[2022-05-25 16:23] KrisLau opened #3546 "`numberOfLines` prop not working for `ListItem.Title` & `ListItem.Subtitle`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I'm trying to limit the number of lines that the `ListItem`'s texts contain so I set the `numberOfLines` to 2

### Expected behavior

For the text after two lines to be cut off and replaced by ellipses

### Describe the bug

The `ListItem.Title` and `ListItem.Subtitle` are going past 2 li

[2022-05-25 16:26] KrisLau commented on #3546
Nevermind I'm just dumb and mixed up the `ListItem` components on the page. I added to a different one from what I screenshotted

[2022-05-25 16:26] #3546 closed, assigned to nobody

[2022-05-28 14:03] sovetski commented on #3530
What is the "Bleeding Edge" version? Do we have a lot of difference with the latest version with that?

[2022-05-28 14:20] sovetski commented on #3530
I have the same problem and actually it is very strange, each code we copy from the latest documentation does not work

[2022-05-28 17:18] arpitBhalla commented on #3530
Hey @sovetski which version are you using?

[2022-05-28 18:30] sovetski commented on #3530
Hi, the latest version [4.0.0-rc.4](https://reactnativeelements.com/docs)

[2022-05-31 05:27] arpitBhalla commented on #3530
@sovetski Could you provide snack/snippet of code and the docs which you are referring.

[2022-06-08 18:51] bradjones1 opened #3548 "Previews broken (`undefined is not an object` for `te.spacing[M]` or `te.spacing`)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Attempted to access the web or android previews on https://reactnativeelements.com/docs/next/components/dialog (or any page, really)

### Expected behavior

Preview renders

### Describe the bug

React crashes with either `undefined is not an object` for `te.spacing[M]` or `te.spacing`

#

[2022-06-08 19:09] bradjones1 commented on #3548
May be a duplicate of https://github.com/react-native-elements/react-native-elements/issues/3530?

[2022-06-09 05:50] gdutwyg opened #3549 "i set tab index， but indicator dont scroll to setting index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

i set tab index， but  indicator dont scroll  to setting  index

### Expected behavior

i set tab index， indicator can scroll  to setting  index

### Describe the bug

i set tab index， but  indicator dont scroll  to setting  index

### Steps To Reproduce

[code]

### Screenshots

![image](

[2022-06-09 07:51] yndue736 commented on #3196
This is very impressive and also a useful idea you ca check [little big city 2](https://apkmission.com/little-big-city-2-mod-apk/) where you can apply this kind of ideas and it will be a suitable choice for tis project.

[2022-06-10 09:57] ZRunner opened #3552 "activeOpacity does not work on mobile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I tried to use the Avatar component from the`@rneui/base` lib. Everything seems to work fine, but I would like to get an opacity effect when the user presses their Avatar, and it looks like this attribute does not work.

### Expected behavior

The Avatar component should be slightly less

[2022-06-10 11:04] pamojadev commented on #2442
any fix for android yet? Avatar doesn't fallback to icon either when source is undefined

[2022-06-10 11:27] arpitBhalla commented on #2442
Hey @pamojadev would it be possible for you to create new issue with updated info.

[2022-06-13 20:07] golaod commented on #3548
I found out that documentation examples do not mention that `<ThemeProvider>` probably should wrap the entire app in order to make some examples to work (if not all)

[2022-06-14 03:04] arpitBhalla commented on #3548
Yes, but it should work without provider too, will check it.

[2022-06-14 05:11] saurabhghadi0401 commented on #3549
I also get the same...

[2022-06-14 10:30] VladyslavMartynov opened #3553 "Bug with Button that imported like import { Button } from "@rneui/themed";"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Hi everyone, i probably install the last version of react-native-elements, but when i am importing Button from "@rneui/themed".
i have the following error , moreover i detected it on the official documentation. Maybe you can make some changes in file node_modules/@rneui/base/dist/Button/B

[2022-06-18 15:25] Lukaskaras opened #3556 "Typescript error when adding children to Card"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I am trying to add children to `<Card /> ` component, but getting type error.

### Expected behavior

I am able to add children to `<Card /> ` exactly as described in docs.

### Describe the bug

[code]

I am trying to add children to Card component, but getting a Typescript error.

`Type

[2022-06-18 15:28] yndue736 commented on #3196
This is very amazing you can check here some information about [chilli comms](https://www.chillicomms.com/) where you can get the right information about the issues of my problem.

[2022-06-19 07:34] goldylucks opened #3557 "Tooltip doesn't toggle out of the box"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

copied the tooltip example from the docs, pressed any of the tooltips, nothing happened.

### Expected behavior

tooltip should toggle on tap

### Describe the bug

tooltip should toggle on tap

I fixed it by wrapping the tooltip in my own component:

[code]

### Steps To Reproduce

[code

[2022-06-19 15:48] j3sch opened #3558 "Unable to use Fab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

1. Imported the Fab button
2. Added the Fab component to my code

### Expected behavior

To see the Fab button

### Describe the bug

I get the following error message if I add the Fab button to my code.

undefined is not an object (evaluating 'theme.spacing[radius]')

line 79 in Button.j

[2022-06-19 16:04] j3sch commented on #3558
same as issue #3553

[2022-06-22 06:35] GaylordP commented on #3549
Same :/

Example : https://snack.expo.dev/jYgi_1HDV

[2022-06-24 22:00] jaylin-slate opened #3562 "ListItem has issues on sample"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

check listItem Sample: https://reactnativeelements.com/docs/components/listitem

returned

![image](https://user-images.githubusercontent.com/103001622/175695656-e5db9d67-77d1-4ffd-bb08-6b99d720cccc.png)

### Expected behavior

should not display error

### Describe the bug

it looks rela

[2022-06-25 11:10] arpitBhalla commented on #3557
Default behaviour of this component has been changed, refer [Migration Guide](https://reactnativeelements.com/blog/2022/05/15/rneui-migration-guide#tooltip)

[2022-06-25 11:12] #3557 closed, assigned to nobody

[2022-06-25 11:41] #3489 closed, assigned to nobody

[2022-06-25 15:20] #3548 closed, assigned to nobody

[2022-06-25 15:20] #3553 closed, assigned to nobody

[2022-06-25 15:20] #3558 closed, assigned to nobody

[2022-06-25 15:20] #3562 closed, assigned to nobody

[2022-06-25 15:23] arpitBhalla commented on #3549
Can someone test this with
[code]

[2022-06-25 18:02] #3549 closed, assigned to nobody

[2022-06-27 21:19] j3sch commented on #3558
nice, thanks for the fix. It works now 😁

[2022-06-28 07:26] alxndr777 opened #3569 "SearchBar component. Pressing cancel button triggers onChangeText property first and after onCancel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

<SearchBar
    autoFocus = {true}
    placeholder="Search services"
    onChangeText={showSuggestionsHandler}
    value={searchValue}
    platform={"ios"}
    cancelButtonProps={{
      color: Colors.primary
    }}
    inputContainerStyle={{
      backgroundColor: Colors.grey70
    }}

[2022-06-28 22:07] mfellner opened #3571 "Custom theme properties missing when using withTheme"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Add a custom property to the theme like this:

[code]

Wrap a component with `withTheme` and access the property:

[code]

### Expected behavior

The custom property should present in the theme object when wrapping a component with `withTheme`.

### Describe the bug

- The custom theme pr

[2022-06-28 23:24] cooperwalter opened #3572 "Example snacks using colors crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Great library, everyone! Been using it for years.

I visited the [documentation](https://reactnativeelements.com/docs/components/pricingcard) for the PricingCard component, then scrolled down to the example usage snack. Instead of seeing the example, I saw a red error box (see first scree

[2022-06-29 01:12] arpitBhalla commented on #3571
Can you use with `useTheme` hook for now.

[2022-07-01 11:26] slayer1551 commented on #3528
Getting the same issue, works fine for iOS on the app but running the web version gives an error

[2022-07-01 11:31] arpitBhalla commented on #3528
@slayer1551 which OS?

[2022-07-02 08:29] slayer1551 commented on #3528
@arpitBhalla Im running it on Windows 11

[2022-07-05 00:34] RaederDev opened #3574 "Copying the example given in the documentation for Tab component leads to TS errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I tried to set-up Tabs with a TabView and I used the example provided in the documentation. https://reactnativeelements.com/docs/components/tab

### Expected behavior

Typescript does not complain.

### Describe the bug

`TS2769: No overload matches this call.   Overload 1 of 2, '(props:

[2022-07-05 03:47] arpitBhalla commented on #3574
What's the version of react, react-native, expo, typescript?

[2022-07-05 11:06] RaederDev commented on #3574
"react": "18.0.0"
"react-native": "0.69.1"
"typescript": "^4.4.4"
"@rneui/base": "^4.0.0-rc.5"
"@rneui/themed": "^4.0.0-rc.5"

Expo is not used in my project.

[2022-07-05 12:58] MultidimensionalLife commented on #3485
Same issue with `<Card />` component. Any updates on this?

[2022-07-05 13:02] arpitBhalla commented on #3485
@sequencer08 did you tried with `@rneui/themed` or `react-native-elements`?

[2022-07-05 13:10] MultidimensionalLife commented on #3485
Hi @arpitBhalla I used @rneui/themed. I'm using rne version 4.0.0-rc.5.

For the preview:

<img width="583" alt="image" src="https://user-images.githubusercontent.com/38305614/177335589-5d63c45a-e473-4543-a3c4-3e821ff3b559.png">

[2022-07-08 16:55] bradjones1 commented on #3085
This appears to be fixed in bleeding edge; I had to [explicitly require](https://reactnativeelements.com/docs/next/installation#bleeding-edge) it to bring these changes in, but the linked PR seems to have fixed this.

[2022-07-08 18:11] arpitBhalla commented on #3085
I believe the PR you mentioned is available in v4.0.0-rc.5, can you try upgrading it?

[2022-07-12 09:55] abdelhalim97 commented on #3485
Hi,
i m facing the same issue i have no types or interfaces still having the same almost same bug
"typescript": "3.7.2"
"react": "16.11.0",
updating react made it worst and updating the ts did nothing

<img width="583" alt="image" src="https://i.ibb.co/rmTpRBb/bbbs-titre.png" style="max-width: 100%;">
it gives error on size props when the props and its value exists in the material-ui docs(v4)
does

[2022-07-12 14:18] vimukthinuclei commented on #3428
Any solution?

[2022-07-12 14:35] vimukthinuclei commented on #3428
@felixliu226 Wrap the tabView with a View tag and change the height using a argument

        <View
          style={
            tabIndex === 0
              ? styles.tabViewStream(myStream)
              : styles.tabViewRequest(myRequest)
          }>
          <TabView
            value={tabIndex}
            onChange={setTabIndex}
            animationType={'spring'}>
            <TabView.Item

[2022-07-12 17:08] ste7en commented on #3571
I temporarily solved a similar issue when wrapping a custom component theme using the `<ThemeConsumer>` wrapper

[2022-07-16 17:30] hlspablo commented on #3439
@arpitBhalla its possible to make this fix available to v3?, v4 still in RC  and can break things... its very annoying see error everywhere in my project..., and for while i would like to stick with v3

[2022-07-16 18:54] arpitBhalla commented on #3439
@hlspablo sure

[2022-07-17 13:49] enisze commented on #3528
I get the same issue running on mac OS.

[2022-07-17 21:24] rafae2k opened #3579 "typo on index.d.ts types getting an error on typescript compiler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Compile the project with tsc --noEmit --skipLibCheck and get the following error:

[code]

### Expected behavior

No errors when running `tsc` cli command

### Describe the bug

Typescript compiling typo error on `themed/src/config/index.d.ts`

### Steps To Reproduce

[code]

### Screensh

[2022-07-18 02:34] #3579 closed, assigned to nobody

[2022-07-18 11:45] atothewest commented on #3574
The type definitions for React 18 [removed implicit children](https://solverfox.dev/writing/no-implicit-children/) from `React.FC`/`React.FunctionalComponent`, which is used by [RneFunctionComponent](https://github.com/react-native-elements/react-native-elements/blob/next/packages/base/src/helpers/index.tsx#L17) and in turn by the `Tab` component (and also the `Card` component #3556 – and probably

[2022-07-18 11:57] jorgerodrigues opened #3581 "Typescript error: expected. 2 import { type Colors, darkColors, lightColors } from './colors'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

- Installed new version
- Imported and used ´Input´ and ´InputProps´
- Ran ´yarn tsc´

### Expected behavior

No type errors

### Describe the bug

[code]

### Steps To Reproduce

[code]

### Screenshots

_No response_

### Your Environment

<details>
<summary>`npx @rneui/envinfo`</summar

[2022-07-19 06:02] arpitBhalla commented on #3581
Duplicate of #3579

[2022-07-19 06:02] #3581 closed, assigned to nobody

[2022-07-19 06:14] #3574 closed, assigned to nobody

[2022-07-19 06:16] #3556 closed, assigned to nobody

[2022-07-19 06:17] #3572 closed, assigned to nobody

[2022-07-19 14:47] jorgegvallejo commented on #3113
Hey @ithustle did you fix this? I'm getting a similar error on Android only but with the Switch component

[2022-07-19 14:49] ithustle commented on #3113
@jorgegvallejo, noup. I gave up to implement this feature, unfortunately

[2022-07-19 15:04] jorgegvallejo opened #3587 "Switch component error "attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

A simple usage of the Switch component in Android throws an error when setting it to `false`. Error doesn't occur in iOS or when setting it as `true`.

### Expected behavior

Should be able to switch between `true` and `false`

### Describe the bug

When switching to `false` on Android, i

[2022-07-19 18:02] arpitBhalla commented on #3113
Hey, can you share more details? and did you tried with latest version of `@rneui/themed` ?

[2022-07-19 18:26] jorgegvallejo commented on #3113
I opened an issue [here](https://github.com/react-native-elements/react-native-elements/issues/3587). I tried it with V4.0.0-RC.4, I haven't tried RC5

[2022-07-20 14:46] jorgegvallejo commented on #2427
I'm still experiencing this in v4.0.0.RC.4 even with `transition:false`. Anybody else?

[2022-07-23 13:54] mxudev opened #3589 "onClearText does not trigger in SearchBar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

1. When using <SearchBar>, the `onClearText` property does not trigger and callbacks are not called. I'm setting the platform to iOS.

### Expected behavior

onClearText callback should be executed, however, it is not.

### Describe the bug

onClearText callback does not execute.

### Ste

[2022-07-23 14:19] arpitBhalla commented on #3587
@jorgegvallejo Can you confirm if you are able to use `Switch` from `react-native`?

[2022-07-23 14:37] jorgegvallejo commented on #3587
Yes, the react-native switch works fine. I got this error on the emulator and on real device, btw.

[2022-07-27 01:06] Arnaud-Albrecht commented on #2748
Hey i have the same problem, where the rest of my app is moving up except for my Overlay content. I'm on 4.3.2 of elements.

[2022-07-28 06:14] carlgieringer opened #3592 "Expo demo app fails with "EXNetwork error 403""
### Is there an existing issue for this?

- [X] I have searched the existing issues

There is one, but it's closed: https://github.com/react-native-elements/react-native-elements/issues/3178

### Explain what you did

I was trying to run the demo app using Expo.

### Expected behavior

I expected an app to start on my phone showcasing the React Native Elements UI.

### Describe the bug

The bug is

[2022-07-28 06:29] carlgieringer commented on #3592
The interwebs says that this is a known issue.

https://www.reddit.com/r/reactnative/comments/mfeok3/exnetwork_error_403_when_publishing_app_to_ios/

[2022-07-28 06:29] #3592 closed, assigned to nobody

[2022-07-28 06:30] carlgieringer commented on #3592
(I was clued in by Native Base's statement that you can only open the Expo QR link using Android: https://docs.nativebase.io/kitchen-sink)

[2022-07-31 17:04] arpitBhalla opened #3599 "add docs for Integrating RNE theming with React Navigation"
### Discussed in https://github.com/react-native-elements/react-native-elements/discussions/3598

<div type='discussions-op-text'>

<sup>Originally posted by **Ravi-Bossema** July 31, 2022</sup>
I recently started using version: 4.0.0-rc.5 of RNE and I'm really loving the idea of the theming provided by it.
However, it doesn't seem to work very well with the theming in React Navigation (or at leas

[2022-07-31 17:05] arpitBhalla opened #3600 "docs for Bottom Sheet Component Guide disables mouse clicks"
### Discussed in https://github.com/react-native-elements/react-native-elements/discussions/3596

<div type='discussions-op-text'>

<sup>Originally posted by **karnendra93** July 31, 2022</sup>
Hi I am new to RNElements. I need to use the BottomSheet component in my RN App. But when I go to the Bottom Sheet webpage, a transparent modal like thing slides from the bottom-up and disables mouse clicks

[2022-07-31 19:26] #3587 closed, assigned to nobody

[2022-07-31 20:36] #3571 closed, assigned to nobody

[2022-07-31 20:37] #3600 closed, assigned to nobody

[2022-08-02 02:00] wiezmankimchi opened #3607 "4.0.0-rc.6 - Module parse failed: Unexpected token"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

- Created a new Expo  project using: `npx create-expo-app`
- Added the RNEUI base and themed packages: `npm install @rneui/base @rneui/themed`
- started the project in web mode: `npm run web`

for the following errors:

[code]

### Expected behavior

project running without any errors

##

[2022-08-02 10:43] sawwas opened #3609 "Can you provider a 2d picker wheel component?"
**Is your feature request related to a problem? Please Describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-08-02 11:35] arpitBhalla commented on #3609
Are you looking for something like this?
https://www.npmjs.com/package/rn-arc-slider

[2022-08-02 12:06] xelmido opened #3610 "Using theme with custom components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I am trying to pass the theme styling to my own component. I wrapped my component with the hoc `withTheme`. But i dont get te props. Maybe i am doing something wrong or it's a bug.

PageHeader.tsx
[code]

Theme

[code]

My themed.d

[code]

[code]

### Expected behavior

Expect to get pro

[2022-08-02 12:10] arpitBhalla commented on #3610
Hey in `withTheme` you need to add theme key as well which you defined in theme, in your case it would be `PageHeader `
Try this
[code]

[2022-08-02 12:14] xelmido commented on #3610
Hey!

Thanks! That worked. I thought it was an optional key.

Maybe a suggestion to add it to the docs / example?

[2022-08-02 12:56] arpitBhalla commented on #3610
If we do like this `export default withTheme(PageHeader);` (Named function) then we don't need key, else it's required to specify.

Feel free to add it to docs.

[2022-08-02 13:39] xelmido commented on #3610
Thanks for clarifying! I tried the named function before. But with no luck.

[2022-08-04 10:01] yokowasis commented on #3607
generate webpack using

`expo customize:web`

modify the webpack like in https://github.com/react-native-elements/react-native-elements/issues/3454#issuecomment-1106525159

[code]

[2022-08-06 00:11] wiezmankimchi commented on #3607
Thank you. That worked and solved the problem.
This should be resolved in the final release?

[2022-08-06 02:00] arpitBhalla commented on #3607
Yep

[2022-08-08 18:51] #3609 closed, assigned to nobody

[2022-08-10 13:18] RickoNoNo3 commented on #3227
Although a bit amazing:

I upgraded the version to `4.0.0-beta.0`, or even` 4.0.0-rc.2`, the problem was not fixed(for `Icon` components). But!! I retreated to `3.4.2`, and then the error automatically disappeared. You know, what I had before was just `3.4.2`...

I just edit the version in `package.json`, and run `yarn install`, and edit the version back, and run again. You may also try it.

[2022-08-11 10:12] shreyas-jadhav commented on #3529
I'm still getting this error sometimes.

[2022-08-12 07:02] reactnetau commented on #2351
selectedTextStyle={{ color: '#fff' }}
textStyle={{ color: '#000' }}

Confirmed, this doesn't work.

Does anyone know how to fix this?

[2022-08-12 19:50] JBradBarnes opened #3611 "Tooltip not work in any V4 online examples including Next"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Opened the docs page: https://reactnativeelements.com/docs/next/components/tooltip and tried to click text to view tooltips.
<img width="803" alt="image" src="https://user-images.githubusercontent.com/20904634/184431934-0675370a-a9b3-422a-ab3f-a8a8e55c9729.png">
the

### Expected behavior

[2022-08-13 21:05] kylemarimon commented on #3607
Worked for me as well. Thanks!

[2022-08-13 21:47] tallenbaugh commented on #3607
Hm, I'm having the same problem, but adding
`dangerouslyAddModulePathsToTranspile: ['@rneui/base', '@rneui/themed'],`
to my webpack unfortunately did not seem to help me :(
(EDIT: My successful fix was reverting to 4.0.0-rc.4)

[2022-08-14 18:46] khevamann commented on #2306
For anyone still looking for an answer it is now as simple as

[code]

[2022-08-14 20:38] emadbaqeri opened #3612 "`useThemeMode` is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I want to control the `backgroundColor` for the `SafeAreaView` and tried to utilize `useThemeMode` in my `App.tsx` file mentioned in the [documentation](https://reactnativeelements.com/docs/customization/themprovider#use-theme-mode-hook) but it is not working at all,

[code]

### Expected

[2022-08-15 03:36] arpitBhalla commented on #3612
Have you used ThemeProvider in the root of your app?

[2022-08-15 17:45] jorgegvallejo opened #3615 "Bug: Speeddial labelPressable boolean has no effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Using the `labelPressable` property in the Speeddial has no effect - only the icon/button is pressable in both iOS and Android.

### Expected behavior

When using `labelPressable` the label should trigger the onPress

### Describe the bug

Tried using the `labelPressable` property in the

[2022-08-16 06:25] dakshbhardwaj commented on #3589
there are no such props as `onClearText` instead we have `onClear` props.

[2022-08-17 19:18] jeton-th commented on #3528
I have the same issue, fresh expo and rne install.

[2022-08-17 20:39] mazurbeam commented on #3529
I've been getting this too.

I have 2 sets of tabs inside a modal and both seem to crash randomly.

Fixed it with this patch but I feel like it's kind of brute forcing it
https://gist.github.com/mazurbeam/616948a585d67a4a26d1d0a459824a7a

One of my tabs has indicatorDisabled but was still crashing on the `indicatorTransitionInterpolate` function so wrapped that whole block in a conditional.

Then

[2022-08-17 21:01] cecicifu commented on #3304
Similar issue using `4.0.0-rc.6`  😯

![image](https://user-images.githubusercontent.com/15237067/185242312-b3e36d97-d59b-4724-bacc-46246048bc7a.png)

![image](https://user-images.githubusercontent.com/15237067/185242234-84c3219d-d8ab-4dfc-9043-55581f4c53f2.png)

If I add `@rneui` to `transformIgnorePatterns` jest option

![image](https://user-images.githubusercontent.com/15237067/185253318-844eb55

[2022-08-19 08:59] dhruvtailor7 commented on #3552
You can add `activeOpacity` using `pressableProps`.
[code]

The `activeOpacity` prop is mentioned in the documentation but does not do anything so it should be removed.

[2022-08-22 06:42] dakshbhardwaj commented on #3221
@ankitmaloo  @arpitBhalla I have raised the PR for the issue

[2022-08-22 10:08] jeton-th commented on #2382
I had the same issue and this is my workaround:

[code]

[2022-08-24 17:06] kollinmurphy commented on #3611
I'm having the same problem on the web, and the Tooltip is also not working in my own Expo app (tried on both 4.0.0-rc.6 and 4.0.0-rc.4).

[2022-08-25 03:41] fbryo21 opened #3619 "display errors after running expo start --web"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I cannot running the app with expo start --web, after I install with running ```npm install @rneui/themed @rneui/base``` &
install peer dependencies

### Expected behavior

Successfully run the app

### Describe the bug

the bug displays ```You may need an appropriate loader to handle thi

[2022-08-25 18:29] OlivierJM opened #3621 "Components link in the footer goes redirects to a 404 Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I was visiting the site and I found it hard to find where the components are, if not going through the getting started link

### Expected behavior

The components link should show the first page of components link

### Describe the bug

Link goes to a wrong page 404 instead of components

[2022-08-25 18:35] OlivierJM commented on #3621
I have pushed a fix in the pr here [#3622](https://github.com/react-native-elements/react-native-elements/pull/3622)

[2022-08-29 01:51] bradjones1 opened #3623 "`t is undefined` error on `Divider` demo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Viewed docs at https://reactnativeelements.com/docs/next/components/divider on bleeding edge

### Expected behavior

Demo displays (web by default)

### Describe the bug

Error displayed

[code]

### Steps To Reproduce

[code]

### Screenshots

_No response_

### Your Environment

Web doc

[2022-08-29 07:35] vitoliu93 commented on #3611
same issue

[2022-08-29 16:09] #3615 closed, assigned to nobody

[2022-08-30 16:27] marcoamt opened #3625 "React-native-vector-icons with react-native 0.69.5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Hi everyone, today I started a new react native project using the 0.69.5 version but when I try to use react-native-vector-icons in android I can't see icons. In this new react-native versione the link command is not supported so I can't use it.

### Expected behavior

Hi everyone, today

[2022-08-31 23:04] JacobGalati opened #3628 "Property 'children' does not exist on type 'IntrinsicAttributes & AvatarProps in React 18"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Use an Avatar component with a Avatar.Accessory child component

### Expected behavior

Avatar should accept the children prop.

### Describe the bug

After upgrading to react-native 0.69.5 and react 18.0.0  a simple avatar component like
[code]
Causes a typescript error.
[code]

### Step

[2022-09-01 12:29] qureshi90 commented on #710
Open android/app/build.gradle and add the following:

`apply from: "../../node_modules/react-native-vector-icons/fonts.gradle"`

This worked for me.

[2022-09-05 16:43] radughitescu opened #3629 "[TabView] iOS TabView issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I've tried impementing the example tabview on react native non expo and i get the following error.
<img width="331" alt="image" src="https://user-images.githubusercontent.com/20221798/188488906-57d7a5cc-b786-453c-97c3-35be2aa50f1c.png">

Code:
[code]

### Expected behavior

Instead of ren

[2022-09-06 02:55] chenqiushi commented on #3611
same here

[2022-09-07 05:11] anietieasuquo commented on #253
Any update on this?

[2022-09-07 14:14] mariovillamizar commented on #456
@iRoachie @binoy14 @desjarlaisdumaishugo  Is it still present in 4.0.0-rc.6?

https://user-images.githubusercontent.com/10704258/188900597-2c561094-7d8b-4b1d-8960-effbcd19e5ca.mov

It seems like the center of the ripple is after the title.

[2022-09-07 14:21] mariovillamizar commented on #456
UPDATE:
I just confirmed it's something with the title. See this:

https://user-images.githubusercontent.com/10704258/188902322-0eb9e9f4-4cd1-48cd-be62-1a306953e0e5.mov

[2022-09-08 19:06] arpitBhalla opened #3632 "How to use the current theme color (light/dark) in the style definition inside a Theme"
### Discussed in https://github.com/react-native-elements/react-native-elements/discussions/3631

<div type='discussions-op-text'>

<sup>Originally posted by **marianolc** September  7, 2022</sup>
Hi, I've just created the following theme:

[code]

I want to change the color of the input when it's disabled so I tried to add the following in the components part:

[code]

But the problem is I want t

[2022-09-09 03:36] tlmader commented on #3629
Experiencing the same issue in `4.0.0-rc.3`. Intermittent on iOS and never has happened on Android.

[2022-09-09 13:49] hufftheweevil commented on #3632
So strange... I was just about to post this same exact question, and it's already at the top of the list. So +1 for me!

[2022-09-10 12:50] kcLin2708 opened #3633 "SearchBar doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Hi there,
I just want to try the SearchBar component with my app. However, I don't see any SearchBar on my iPad.

### Expected behavior

SearchBar should be shown.

### Describe the bug

I did use the code from [React Native Element Website](https://reactnativeelements.com/docs/components

[2022-09-11 13:58] mrslimslim commented on #3629
My ios app face the same issue in **^4.0.0-rc.6** ,hope it could be fixed soon.

[2022-09-12 08:00] sgtpsibin commented on #3629
Same issue, i'm using react-native-tab-view instead.

[2022-09-12 22:27] d0rkish commented on #3629
I am also experiencing this same behavior inconsistently on iOS 15.x. It appears to be a result of the animation interpolation occurring here:

https://github.com/react-native-elements/react-native-elements/blob/4dc1c0f03008521c3c9be0fc7a1d31b5a07ddaa6/packages/base/src/Tab/Tab.tsx#L157

[2022-09-13 07:53] abhinav-official commented on #3629
found a fix, guys.
@d0rkish @sgtpsibin @mrslimslim @tlmader @radughitescu

All you need to do is add
`if (inputRange.length-1!==outputRange.length)return 0;`
after line 53 and before line 54

in `node_modules/@rneui/base/dist/Tab/Tab.js`

[2022-09-13 15:05] bartvanandel commented on #3628
Got the same issue (may help with triage). Running `npx @rneui/envinfo` halts, so can't provide that, but maybe this helps:

<details>
<summary>npm ls --depth=0</summary>

    @org/our_app@0.0.1 D:\src\org\our_app
    ├── @babel/core@7.18.13
    ├── @expo/config@7.0.1
    ├── @react-native-async-storage/async-storage@1.17.10
    ├── @react-navigation/bottom-tabs@6.3.3
    ├── @react-navigation/nat

[2022-09-13 15:55] bartvanandel opened #3634 "Can't theme Avatar.Accessory globally using `AvatarAccessory` key in `createTheme`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

We're rendering something like this:

[code]

Theme:

[code]

NB: I realize there is #2965, but I'm still seeing the problem with the latest rc. Either this means that the fix hasn't been published yet, or (and I'm afraid this is the case) that fix doesn't solve the problem. Inspecting th

[2022-09-13 16:12] radughitescu commented on #3629
Great, Thanks for the reply! I guess we should do a pull request to fix this issue.

[2022-09-14 15:25] #3629 closed, assigned to nobody

[2022-09-14 15:25] arpitBhalla commented on #3629
This change will be available in next release. You can test, by installing [Bleeding Edge](https://reactnativeelements.com/docs/next/installation#bleeding-edge) version

[2022-09-16 11:16] #3552 closed, assigned to nobody

[2022-09-16 11:16] #3621 closed, assigned to nobody

[2022-09-16 12:15] oleandrosiq commented on #3091
Hey guys, I managed to solve my problem by following this question https://stackoverflow.com/questions/68502633/react-native-why-is-my-flatlist-not-displaying

Props that I added to my flatList to work.

`maxToRenderPerBatch={1000}`
`windowSize={60}`
`updateCellsBatchingPeriod={50}`
`initialNumToRender={50}`

Hope this helps you too <3

[2022-09-18 20:37] jckmrrssy opened #3638 "Customization link on "Getting Started" page is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

When trying to navigate to the "Customization" link on the "Getting Started" doc/page, you receive a 404/not found.

### Expected behavior

The links should route the user to the expected doc page, not a 404/not found page.

### Describe the bug

The reference URI for the doc pages is inc

[2022-09-19 01:18] #3638 closed, assigned to nobody

[2022-09-21 12:21] #3634 closed, assigned to nobody

[2022-09-21 12:43] arpitBhalla commented on #3612
Wrap `App` component with `ThemeProvider`

[code]

[2022-09-21 12:43] #3612 closed, assigned to nobody

[2022-09-21 12:45] #3610 closed, assigned to nobody

[2022-09-21 16:05] #3623 closed, assigned to nobody

[2022-09-21 16:07] #3611 closed, assigned to nobody

[2022-09-21 16:25] arpitBhalla commented on #3632
Well, I have a solution, In createTheme, we can have `theme` param for each component, but I am not sure how efficient it would be.

[code]

Please let me know, if you have a better solution.

[2022-09-21 16:26] arpitBhalla commented on #3619
Duplicate of #3607

[2022-09-21 16:26] #3619 closed, assigned to nobody

[2022-09-21 16:44] arpitBhalla commented on #3632
It'd be great if someone can try it by installing
[code]

^ @marianolc @hufftheweevil

[2022-09-21 16:49] arpitBhalla commented on #3599
https://github.com/react-native-elements/react-native-elements/discussions/3598#discussioncomment-3293081

[2022-09-21 16:49] #3599 closed, assigned to nobody

[2022-09-22 01:20] hufftheweevil commented on #3632
I installed it but got `TypeError: Cannot read property 'colors' of undefined`. Checking the node_modules folder, it doesn't look like the `dist` files got the change since you've modified the `src` files and there was no build done I'm guessing?

[2022-09-24 06:56] arpitBhalla commented on #3632
No, the CI build the dist, [check this branch](https://github.com/react-native-elements/react-native-elements/tree/base-3645)

[2022-09-28 08:55] McFly78 commented on #3433
Found a workaround updating v3.4.2 Header.js component (/node_modules/react-native-elements/dist/header/Header.js)
Header flickering issue is coming from react-native-safe-area-context.

Some links about this issue:
https://github.com/th3rdwave/react-native-safe-area-context/issues/219
https://github.com/th3rdwave/react-native-safe-area-context/issues/175
https://github.com/th3rdwave/react-native-

[2022-09-28 09:57] hyper750 commented on #3625
Hi I have same error, the icons doesn't work

![image](https://user-images.githubusercontent.com/29048245/192749585-eaee2139-c1f4-4535-9c9a-6a6f86d8b51f.png)

## Solution

In my case I solved it modifying the gradle `android/app/build.gradle`, adding at the end of the file the following.

[code]

![image](https://user-images.githubusercontent.com/29048245/192749929-6f9b5f41-8ea5-4651-8db6-8ed1b26c

[2022-09-29 01:23] ebo7 commented on #1714
The previous react-native-elements/react-native-elements seemed to support this? Did it stop working?

[2022-09-30 01:43] jerodb commented on #3629
This fixes the problem.

[2022-10-01 18:48] #3632 closed, assigned to arpitBhalla

[2022-10-02 03:01] Bilal-Abdeen commented on #2143
Using `uri: "abc.abc"` seems to cause a warning message, these days. I played around with the suggested solutions above. I reached the following conclusion.

If none of the data records has an image:
[code]

If some of the records have an image while others do not:
[code]

Obviously, you can add `containerStyle={{ backgroundColor: "silver", }}` to your theme file.

react-native: 0.70.1
react-nativ

[2022-10-04 05:58] Koshalgarg155 opened #3649 "React Native elements is not working for web"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I have created an app using react native elements and expo but when I am running it on the web it gives an error on the console
![image](https://user-images.githubusercontent.com/99241542/193743960-b2816d43-1de2-4cec-a352-4b23750a6981.png)

### Expected behavior

it should work on web and

[2022-10-04 08:29] sadeedahmedkhan commented on #2505
Hello, any feature or implementation for closing the BottomSheet upon pulling down?

[2022-10-04 11:06] #3649 closed, assigned to nobody

[2022-10-04 11:07] Koshalgarg155 commented on #3649
const createExpoWebpackConfigAsync = require('@expo/webpack-config');

module.exports = async function (env, argv) {
    const config = await createExpoWebpackConfigAsync(
        {
            ...env,
            babel: {
                dangerouslyAddModulePathsToTranspile: ['@rneui/base', '@rneui/themed'],
            },
        },
        argv
    )
    // Customize the config before returning

[2022-10-05 20:16] anietieasuquo commented on #3628
Any update on this? I'm having the same issue with BottomSheet since updating to;

`"@rneui/base": "4.0.0-rc.6",
    "@rneui/themed": "4.0.0-rc.6",`

I know it's different, but I'm hoping the fix for this should apply as well.

[2022-10-05 22:40] Matthew-Burfield commented on #3528
I had the same issue. It seems like it's caused by webpack not yet supporting optional chaining in typescript.

The temporary fix is to configure a webpack file to tell babel to also transpile the @rneui components

## Steps to fix

1. Install expo webpack config dependency
`npm i -D @expo/webpack-config`

2. Create webpack.config.js in the root folder of the project and add the code snippet below

[2022-10-11 18:32] willkrakow commented on #3633
It looks like you have several undefined functions you're trying to call in the component: `setValue`, `onClearText`, and `onCancel`.

[2022-10-13 01:07] jeferson-sb commented on #3628
This issue seems to be happening on a lot of components in `@rneui/themed`

[2022-10-13 02:45] Kamaluddin0302 commented on #1310
change to tintColor = "your background color"

[2022-10-15 13:14] SpringSan opened #3654 "the 'color' style in iconContainerStyle in tab item can't work when change tab"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Explain what you did

I want to switch tab and wish the icon color can change the other color, ( from black change to white) ,I use iconContainerStyle, and when active equal true change white (color: active ? 'white' : 'black'), it can't work

### Expected behavior

the icon color change to the color I set in

[2022-10-15 13:17] SpringSan commented on #3654
titleStyle  and containerStyle can work, but iconContainerStyle can't work。

[2022-10-17 15:39] mrrenaud commented on #3428
@felixliu226 Did you manage to make the height dynamic based on the tab item content, without having to compute the height based on hardcoded values ?

[2022-10-18 02:39] felixliu226 commented on #3428
No, I just made two normal View with fade in / out animation, didn't use the tabview.

[2022-10-18 02:40] felixliu226 commented on #3428
@mrrenaud  No, I just used two <View> component with fade in /fade out animation, not using TabView...

[2022-10-20 00:17] Nantris opened #3655 "ListItem backgroundColor persists after it's changed in the theme"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Define a backgroundColor for `ListItem.containerStyle` like below:

[code]

### Expected behavior

When the color in the theme changes, the `backgroundColor` for `ListItem` should change, but instead it persists in the old color.

### Describe the bug

The `backgroundColor` for `ListItem`

[2022-10-21 14:55] jorgegvallejo opened #3656 "Bottomsheet in landscape mode forces the view to portrait mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Trying to use the BottomSheet in landscape mode on a device

### Expected behavior

The BottomSheet should slide in from the bottom, but instead it forces the view to portrait mode, then it slides into view. When the BottomSheet is released/closed, the view goes back to landscape mode.

#

[2022-10-22 08:36] #3221 closed

[2022-10-22 08:36] #3247 closed

[2022-10-22 08:54] arpitBhalla commented on #3655
Try,

[code]

as `white` is theme token for backgroundColor for `ListItem`

alternatively, you can do (not yet released on npm)

[code]

[2022-10-22 10:09] arpitBhalla commented on #3654
Unfortunately, `iconContainerStyle` is for Outer container of `Icon`, you have to manually change icon's color for now,
[code]

[2022-10-22 10:10] #3654 closed, assigned to nobody

[2022-10-22 12:57] arpitBhalla commented on #3528
Will work now

[2022-10-22 12:57] #3528 closed, assigned to nobody

[2022-10-22 12:57] #3607 closed, assigned to nobody

[2022-10-22 19:14] Nantris commented on #3655
[code]

That ternary definitely should not be necessary. This should be handled at the theme level without additional work-arounds required, or else what is the point of the theme at all? I've used several other UI kits and none of them would require that ternary statement - that's what the theme provider is supposed to be doing for developers.

Please don't just close this issue, this really seem

[2022-10-23 21:53] Nantris commented on #3655
I strongly believe this should be re-opened and addressed.

[2022-10-24 03:46] arpitBhalla commented on #3655
Hey, can you try first snippet of the above comment.

I agree 2nd snippet would add complexity to theming, but it might be useful if we want to extend components with own props.

[2022-10-25 08:27] xiaomaodml commented on #3628
Modify the properties defined by the component by adding "children? :React.ReactNode".
That's what I did

[2022-10-25 10:21] bartvanandel commented on #3628
That's exactly what should be provided by the library.

[2022-10-25 11:32] #3628 closed, assigned to nobody

[2022-10-25 11:44] arpitBhalla commented on #3485
Fixed by #3663

[2022-10-25 11:44] #3485 closed, assigned to nobody

[2022-10-25 19:47] Nantris commented on #3655
@arpitBhalla thanks for re-opening this!

Unfortunately adding the code below makes no difference if the `components` key in the theme is also defined:

[code]

And if the `components` key is not defined, then the background is locked to red, in both dark and light modes. I also set the `darkColors.white` to some other color to ensure I'm not just colorblind, and indeed the issue persists.

[2022-10-25 21:18] Nantris opened #3665 "Button styles wrongly persist after toggling from light to dark, or dark to light"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Theming buttons with the theme provider and toggling the dark/light mode.

### Expected behavior

The colors should be changed to those defined under `theme.components`

### Describe the bug

Same bug as #3655, but for buttons

### Steps To Reproduce

[code]

### Screenshots

Toggling fro

[2022-10-25 21:21] Nantris commented on #3655
@arpitBhalla thanks again for your help and great work!

Unfortunately I discovered the same issue with the buttons. See #3665.

PS, is there any ETA for the next release candidate version? I noticed they were coming out monthly, or even more frequently, but it's been almost 3 months since the last release candidate. And is there any ETA for the final release of `4.0.0`?

[2022-10-27 01:25] Nantris opened #3666 "Docs pages each appear in search twice (once valid links, once invalid)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Search for "Icon" (or anything else) in the docs https://reactnativeelements.com/docs/components/icon

I have cleared cache and waited some days for server said caching maybe to resolve, but the search remains broken in this way.

### Expected behavior

Docs should only appear in search o

[2022-10-27 02:24] Nantris opened #3667 "Tooltips don't open in any example on any device"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Hover/press/long-press where directed in the docs https://reactnativeelements.com/docs/components/tooltip

### Expected behavior

I'm not really sure because the docs don't specify the expected behavior explicitly,

I think it should appear when an area is pressed.

### Describe the bug

[2022-10-27 02:24] Nantris commented on #3667
I also wonder if the tooltips, when working, can be triggered by long-press instead of normal press?

[2022-10-27 18:17] albert-truepill opened #3668 "Tooltip not allowing children elements"
### Screenshot

![Screen Shot 2022-10-27 at 11 13 43 AM](https://user-images.githubusercontent.com/81997575/198367000-faa18036-4d23-4ef9-b5ba-a09513296438.png)
(This is what happens when I copy+paste the example code: https://reactnativeelements.com/docs/components/tooltip#usage)

### Explain the problem

VSCode is throwing this typescript error when trying to use `Tooltip`:

[code]

My code:
[cod

[2022-10-27 20:06] Nantris commented on #3668
I wonder if this is the cause of #3667

[2022-10-27 20:07] Nantris commented on #3665
@arpitBhalla any thoughts on this? I find this to be a higher priority issue as an app might use the `ListItem`s only in one or two places, but buttons are rather ubiquitous.

[2022-10-28 02:30] arpitBhalla commented on #3668
Fixed by #3663

[2022-10-28 02:30] #3668 closed, assigned to nobody

[2022-10-28 02:41] arpitBhalla commented on #3655
Hey, I am working on it, will make a release as soon as it's fixed.

4.0.0 will be available once few more critical issues are resolved.

[2022-10-28 03:33] jorgegvallejo commented on #3656
Tried this [issue #1798](https://github.com/react-native-elements/react-native-elements/issues/1798) but it had no effect. Maybe its not being passed from the BottomSheet component to the Overlay?

[2022-10-28 04:02] jorgegvallejo commented on #3656
The way to use it correctly is:

[code]

[2022-10-28 04:02] #3656 closed, assigned to nobody

[2022-10-28 04:57] arpitBhalla commented on #3665
Would it be possible for you to share a [Snack](https://snack.expo.dev/@arpitbhalla/react-native-elements)?

[2022-10-28 07:12] arpitBhalla commented on #3667
Try [Bleeding edge docs](https://reactnativeelements.com/docs/next/components/tooltip),

Use `toggleAction`
[code]

[2022-10-28 18:32] arpitBhalla commented on #3666
I have reindexed the website

[2022-10-28 19:24] #3666 closed, assigned to nobody

[2022-10-31 15:11] jorgegvallejo opened #3676 "Swipeable ListItem slide action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

Using the ListItem Swipeable component with a left and a right button behind it.

### Expected behavior

Should be able to slide the ListItem smoothly and easily.

### Describe the bug

When sliding the ListItem either left or right, the sliding action works well as long as your finger on

[2022-11-10 16:30] Pkcarreno commented on #3304
@cecicifu same here, did you get why this happens? I'm on 4.0.0-rc.7

[2022-11-12 10:30] ttanimichi commented on #2748
This feature doesn't work on iOS

[2022-11-15 15:08] arpit-bhalla opened #3683 "Improve docs"
- [ ] Task

[2022-11-16 10:18] Estevete opened #3684 "TextInput right icons / icons get focussed on tab press"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

TextInput icons are focussed when we press tab on web. This has a weird behavior in some forms using icons, since you want to go to the next input using the tab.
When a user has a form with several inputs with icons and press tab in web, the icon is getting focussed instead of focussing t

[2022-11-17 12:18] davide-acanfora commented on #3407
Hello, the problem is still present in version 4.0.0-rc.7 on iOS only.

This temporary fix seems to work instead.

You can reproduce the error by simply running the snack [in the documentation](https://reactnativeelements.com/docs/components/tab#active-tab-items). Try to open and close the snack few times on iOS and you will notice the issue appear randomly, sooner or later

[2022-11-17 17:29] arpitBhalla opened #3686 "Add min. swipe length prop"
[From discord](https://discord.com/channels/1036635878728146984/1042750651416969216/1042750651416969216)

[2022-11-17 23:46] giotiskl commented on #3407
Yes, error is still reproducible. The temp fix works.

[2022-11-19 12:55] NIshithshettyR commented on #2721
Configuration:
- expo@46.0.0
- react-native@0.69.6
- react-native-safe-area-context@4.3.1
- react-native-elements@3.4.2

[code]
What should I do to resolve this issue? Any suggestions

[2022-11-19 13:57] fukemy commented on #2721
***Fix the upstream dependency conflict, or retry this command with --force, or --legacy-peer-deps***

[2022-11-19 22:38] Nantris commented on #3665
Whoops Github never told me about this message. Thanks for your reply @arpitBhalla.

[Here's a snack showing the issue](https://snack.expo.dev/@recollectr/react-native-elements?platform=android)

You can see the intended color in the console - but it never changes in the UI.

I tried setting a `key` on the `ThemeProvider` - but that leads to the entire component tree beneath being remounted - whic

[2022-11-22 15:53] Mylovelykeke opened #3687 "【TabView】Sliding left the page index becomes-1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

The same problem exists with the case on the official website

To fix this I ve modified some code
![image](https://user-images.githubusercontent.com/43402600/203359899-8d469027-2338-427f-9209-1bed8f07374a.png)

### Expected behavior

The index  changed from 0 to-1

### Describe the bug

[2022-11-24 13:37] oxidia commented on #3529
I'm randomly getting this error.

![Screenshot from 2022-11-16 11-32-03](https://user-images.githubusercontent.com/28894990/203797416-bb781ab8-f608-4756-b8f0-4b8a5ad907cc.png)

[2022-11-25 10:14] derochedesign commented on #3428
Running into this issue now; would love to see this fixed. It seems that no Tab providing package supports the tabs in a scrollview without hacky height setting.

[2022-11-26 04:54] dchhetri opened #3689 "After overriding the clearIcon, clicking on the clearIcon does not trigger any events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I have something like so
[code]

neither handleSearch or onClear handler gets called. I'm using
-   "react-native": "0.70.5"
-   "@rneui/base": "^4.0.0-rc.7"

### Expected behavior

The onChangeText to be called with null or empty string

### Describe the bug

Search field is not cleared

[2022-11-26 12:27] muffix opened #3690 "`ListItemSwipeable` missing from `ComponentTheme` interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

The `ListItem.Swipeable` docs [define a theme key](https://reactnativeelements.com/docs/components/listitem_swipeable), `ListItemSwipeable`.

I'm trying to set a background colour for the `containerStyle` prop to all `ListItem.Swipeable` components using a [theme provider](https://reactna

[2022-11-26 12:42] #3690 closed, assigned to nobody

[2022-11-26 18:59] onlyhope commented on #3529
Somewhat same here. Except mine is `inputRange (5) outputRange (4) must have the same length`

[2022-11-28 15:22] Yurssoft opened #3692 "Unrecognized font family"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Explain what you did

I have tried to display `CheckBox`. Not as custom component, just plain `CheckBox` out of the box.

Side note: works fine on android.

### Expected behavior

I see the `CheckBox` displayed.

### Describe the bug

Seems like for some reason on iOS there are no font families installed. So I

[2022-11-28 15:41] Yurssoft commented on #3692
Tried both simulator & device. Both iOS 16

[2022-11-29 05:43] Yurssoft commented on #3692
# Fix🧑‍🔧

## Pre Fix Info
Turned out fonts were copied to the target correctly. Cocoapods adds it in their script.
Seems like lack of documentation and/or warnings about it.

## The Fix🛠️
I was able to fix this by adding list of fonts to `Info.plist`.
If someone reads this with same error - head to this instructions and copy values to your plist file.
https://github.com/oblador/react-native-vector

[2022-11-29 05:43] #3692 closed, assigned to nobody