[2017-07-27 07:48] #516 closed

[2017-07-27 11:23] iRoachie commented on #513
@acahir No one has started on it as yet, so you're free to chime in.

[2017-07-27 13:24] myerzman commented on #503
I have the same issue. How do I reinstall node_modules?

[2017-07-27 13:40] xavier-villelegier commented on #503
@myerzman `rm -rf node_modules && npm i`

[2017-07-27 17:07] Monte9 commented on #501
@arunreddyj good observations. You will be happy to know that for our `1.0` release, we are going to be focusing on platform specific details as to make this library "more" production ready.

I am going to be rewriting the `Search` components soon and i'll keep these details on mind for sure.

Closing this issue as I don't think these enhancements are going to be merged into any `v0.xx.0`, but I'l

[2017-07-27 17:07] #501 closed

[2017-07-27 17:27] Monte9 commented on #419
@iRoachie agreed. There's def a much better way to handle the checkbox component.

For now, @magneticz I have added the fix for the issue. I have added a `size` prop for checkbox that defaults to `24`

This will be released with `v0.16.0` in the next week or so. Keep an eye out for it.

[2017-07-27 17:27] #419 closed

[2017-07-27 17:32] Monte9 commented on #510
@acahir thanks for the issue followed by a PR for it too. 👏

Closing this now as it's been merged into `next` and will be release with `v0.16.0` in the next week.

[2017-07-27 17:32] #510 closed

[2017-07-27 17:42] Monte9 commented on #519
@nfplay thanks for the detailed feedback.

@iRoachie explained it very well. `All were just very beginner abstractions, and don't actually provide much value to the developer.` In the case of Grid/Col/Row components, the abstractions are so trivial that it's almost easier to have the developer start using flexbox instead of relying on something like the Grid Component.

Here's an example: https://

[2017-07-27 18:19] Monte9 commented on #327
@richa-dua the `Avatar` component is still using `absolute` styles. Will def be fixed in `v1.0` coming out in the next couple months. Stay tuned.

[2017-07-27 18:26] #518 closed

[2017-07-27 18:27] Monte9 commented on #487
@namphuongtran @pewh this is strange. I don't think this is related to RNE per say but might be one-off's coming from the `Touchable***` components in React Native.

Is this still an issue? Or were you able to find a solution to this?

[2017-07-27 18:30] Monte9 commented on #517
@mr-bat that's the right way to do it. Good job figuring it out. 👏

When I wrote the `Rating` component initially, this was kind of a hack that I had to come up with. And I didn't think anyone would need to override it other than advanced users. So I am glad you figure it out.

[2017-07-27 18:30] #517 closed

[2017-07-27 18:32] j-francisco opened #527 "CheckBox title propType should be PropTypes.any instead of PropTypes.string"
### Description

When using nested Text components for the title prop of CheckBox, I get a PropTypes warning because it expects only a string. The underlying TextElement component allows its children to be PropTypes.any, so shouldn't the CheckBox allow title to be PropTypes.any also?

I'm using version 0.12.2, although looking at the code this seems to apply still on the master branch.

### Reprod

[2017-07-27 18:34] Monte9 commented on #490
@xavier-villelegier thanks for the detailed example. 👏

I think that's the right way to do it.. we are doing something similar in the `/example` app on `v1` branch. Check it out [here](https://github.com/react-native-training/react-native-elements/blob/v1/example/src/views/login/screen1.js#L29).

[2017-07-28 07:48] acahir commented on #513
Started looking at this...if going that way then Switch, Chevron could (should?) be implemented in the same way to be consistent.

Question then becomes what balance between ease of implementing functionalities and extendability. i.e. Currently adding a switch or chevron are very simple, but creating/styling components to work will never be as straightforward.

What I'd propose would be create the

[2017-07-28 07:52] dx51job commented on #519
Thanks! Got it ^_^

[2017-07-28 09:41] rubycop commented on #417
@peacechen `clearIcon = {{ color: '#86939e', name: 'clear' }}` doesn't work too

[2017-07-28 14:36] peacechen commented on #417
@rubycop This works for me
```clearIcon={{ color: '#999', name: 'close' }}```

[2017-07-28 15:05] flaviocarvalho commented on #486
I'm getting the same errors.

[2017-07-28 15:28] PolGuixe opened #528 "Text not compatible with certain fonts"
### Description

1. Explain what you did
Used `<Text h4 style={titleStyle}>{title}</Text> `

`titleStyle` contained a custom font `fontFamily: 'Chela One'`

2. What you expected to happen
I expected the custom font family to be applied.

3. What actually happens
The custom font family wasn't applied.

_react-native-elements version:0.15.0 _

### Solution

I managed to solve it removing the `h4` pr

[2017-07-29 07:15] iRoachie commented on #527
@j-francisco Fixed in next release

[2017-07-29 07:18] iRoachie commented on #525
@yghanem Fixed in https://github.com/react-native-training/react-native-elements/pull/529/commits/d052d82ad5f7bf0dbc933ddff87e7bfd0d5a7b58#diff-62ae4c6f9cd461a92555a3324e6b6ec3. Will be available in next release

[2017-07-29 07:19] iRoachie commented on #525
Feel free to repopen is issue, persists after version release

[2017-07-29 07:19] #525 closed

[2017-07-29 07:46] iRoachie commented on #461
Fixed in next version release. If it's still broken on release then feel free to reopen this issue.

[2017-07-29 08:31] iRoachie commented on #417
Closing this as it seems to fixed on the `next` branch.

Example used:
[code]
![screenshot_1501316977](https://user-images.githubusercontent.com/5962998/28743382-9441a0c0-7416-11e7-9810-e498dd2525c9.png)

If the issue persists after next release, then feel free to reopen

[2017-07-29 08:31] #417 closed

[2017-07-29 09:06] xavier-villelegier commented on #474
@maheshgupta It is probably a styling issue, can you reproduce this on https://snack.expo.io/ or post your code here ?

[2017-07-29 17:43] diegobfernandez commented on #256
@yash2code I had the same problem and found out that you have to set hideChevron with switchButton to actually display the switch. Checkout this Snack https://snack.expo.io/SJPQNScUZ

[2017-07-31 13:10] gamingumar commented on #490
Font.loadAsync throws error `
Possible Unhandled Promise Rejection (id: 0):
TypeError: asset.downloadAsync is not a function. (In 'asset.downloadAsync()', 'asset.downloadAsync' is undefined)`

[2017-07-31 13:14] mobile-optimdata commented on #490
@gamingumar Which version of `expo` so you use ?

[2017-07-31 13:15] xavier-villelegier commented on #490
@gamingumar Which version of expo do you use ?

[2017-07-31 19:34] barrymichaeldoyle opened #531 "ButtonGroup selectedBackgroundColor not working"
On the ButtonGroup, element I'm finding that the `selectedBackgroundColor` isn't working.

I've tried implementing it like this `selectedBackgroundColor={'#2169F3'}` and like this `selectedBackgroundColor="#2169F3"` and it won't work.

Is this a known issue? Or am I implementing it wrong? I am making use of `buttonStyle` as well but that shouldn't overwrite it.

[2017-08-01 06:14] gamingumar commented on #490
@xavier-villelegier i am using expo 19.0.0

[2017-08-01 11:53] k4ch0w commented on #503
I'm also experiencing this issue, I just recently fresh installed my machine. It happens when using any Icon component.

`node -v
v8.2.1`

package.json
[code]

I also ran
`npm i react-native-vector-icons --save && react-native link react-native-vector-icon`

I am receiving this error on IOS.

I tried to import expos icons as a workaround

[code]
It still gave me the same error.

Here is the error

[2017-08-01 12:06] xavier-villelegier commented on #503
@k4ch0w Using `expo` you shouldn't have to link any libraries (that is the strength of `expo`).
You shouldn't render anything since the font is not loaded, so you have to update a `isLoaded` state in order to know when you can render anything.

Have a look at this example https://github.com/react-native-training/react-native-elements/issues/490#issuecomment-318164502

You can also read this part o

[2017-08-01 12:10] xavier-villelegier commented on #490
@gamingumar The issue is more likely to come from `expo` than RNE, looking at https://github.com/expo/expo/issues/383.

Be sure to have the latest `expo` version and maybe try to ping them on the issue above ?

[2017-08-02 14:18] xiaogaozi commented on #84
Maybe we should document this in Searchbar too?

[2017-08-02 17:28] RamyarIran commented on #505
How can I set app to RTL ? I want to contribute but need help for the first step!

[2017-08-03 12:02] rubycop commented on #417
on `v.0.15.0` works

[2017-08-03 12:12] KyleScharnhorst opened #535 "Raised Button With Border Radius - Android API 23"
Wanted to have a raised button that also had a border radius.

Here is the result:
![radiusbuttonraised](https://user-images.githubusercontent.com/9146614/28920112-48c724c4-7805-11e7-9d41-de274a2eaac9.PNG)

[Snack Expo Link](https://snack.expo.io/SyIlMcePZ)

Version of `react-native-elements`: 0.15.0

Is there something that I'm missing or is this a bug, can anyone confirm?

[2017-08-03 12:39] xavier-villelegier commented on #535
Hey @KyleScharnhorst
You can add `containerViewStyle={{borderRadius: 20}}` to have a clean button.
This is not really a bug, but it's true that the borderRadius should also be applied to the view wrapping the button [here](https://github.com/react-native-training/react-native-elements/blob/master/src/buttons/Button.js#L130).

[2017-08-03 12:57] ahmedtehseen commented on #522
any solution..?
I have this same problem.

[2017-08-03 13:34] xavier-villelegier commented on #522
The `ButtonGroup`handles two ways of passing the Buttons. As texts:
[code]

Or, as you've done, as components:

[code]

The props `selectedTextStyle`, as his name says, is applied to the selected **text**. If you pass your own component, you must also handle the styling by yourself. As the `ButtonGroup` is not aware anymore of which components you use as buttons, it can't apply any styling on thos

[2017-08-03 16:17] pricetula opened #536 "Errors with shallow enzyme test"
Unit testing component to check if its Grid type using enzyme "shallow".
__tests__/component/component.spec.js
[code]
My setup works with testing react native components. However the test don't run at all when i import react-native-elements into my spec file, I get the error below.
[code]
react-native-elements = 0.15.0
react = 16.0.0-alpha.6
react-native = 0.44.1

[2017-08-03 19:06] peacechen opened #537 "SearchBar icons do not center (not responsive)"
### Description

The icons in the SearchBar component do not center vertically with different heights.  Automatic centering is required to support various device resolutions.  Upon inspection, the icons are positioned absolutely with static offsets which is a problem.

RNE 0.15

### Reproduction Steps and Sample Code

[code]

I'm using react-native-tachyons for responsive sizing.  The above looks

[2017-08-04 06:34] Devikaelangovan commented on #487
I am also facing the same issue

[2017-08-04 08:48] sujit13666 commented on #535
Hi @xavier-villelegier , I am facing same problem with **0.15.0**. `containerViewStyle` seems not to work.

`<Button containerViewStyle={{borderRadius:25}} buttonStyle={{width:145,height:45,borderRadius:25}} textStyle={style.buttonTextStyle} onPress={onPress} title={text}/>`

![signin](https://user-images.githubusercontent.com/5456641/28961336-c522377e-7923-11e7-9b31-8a6a4680c1b8.jpg)

[2017-08-04 09:04] xavier-villelegier commented on #535
@sujit13666 Mmh that's not really the same issue. The border radius of the `TouchableHighlight` on Android is a bit more complicated to handle. Try the following:

[code]

[2017-08-04 09:14] sujit13666 commented on #535
That's just working like a charm. @xavier-villelegier

Totally agree with you. Otherwise `borderRadius` would not be needed twice (as `borderRadius` itself and in `containerViewStyle`)

[2017-08-04 09:18] xavier-villelegier commented on #535
Yeah for sure. The `borderRadius` props should be applied to the `containerViewStyle` and `buttonStyle` automatically. This will probably be handled in a better way in the `v1` ! But feel free
 to open a PR if you want this to be more intuitive in the `v0.16`✌️

[2017-08-04 11:20] anicoa opened #538 "ListItem textInput doesn't show up"
### Description

I want to use ListItem with `textInput={true}` in my project but i can't get the input-field to show up. Not sure if it's my lack of knowledge or some other problem. Title is shown as expected. Chevron ist also there. Doesn't work with `hideChevron={true}` also.

### Reproduction Steps and Sample Code

Initialize new project
`react-native init AwesomeProject`

Install react-native

[2017-08-05 00:51] mike-aungsan commented on #340
I am having the same issue on Android 7 ZTE - Z971

[2017-08-06 10:08] rdamborsky commented on #536
Same here. I'm just importing a different component.

[code]

my .babelrc presets: `"presets": ["react-native", "react", "env"],`

[2017-08-06 11:09] lloistborn opened #540 "Using Card to display Image through uri not loaded properly"
I'm using Card element from this example
[code]
and instead load the image from local, i'm using from online repos
[code]

i have debug this code and everything seems pretty right but the image that doesn't load properly.
one example of image uri is [this](http://imgs.abduzeedo.com/files/paul0v2/unsplash/unsplash-01.jpg)
Please help me

[2017-08-07 10:36] MALHARIHALGEKAR opened #542 "Getting Warning when using SideMenu"
Warning: SideMenu has been deprecated and will be removed in a future version of React Native Elements. For a complete navigation solution that includes SideMenu(Drawer) as well as many other features, be sure to check out react-navigation (https://reactnavigation.org) and it's DrawerNavigator.

react-native-cli: 2.0.1
react-native: 0.43.3

Please, any help I am not understanding why I am getting

[2017-08-07 18:38] jpca999 opened #543 "cant find the list of icons that i can use..."
I know this is weird, but ive been using your library but can't figure out where can i find the list of icons ?

Ive used the icons in the following way but i don tknow from where is the list of icons coming ?

  static navigationOptions = {
    title: 'DeckSc',
    tabBarIcon:  ({ tintColor }) => {
        return <Icon name="description" size={30} color={tintColor} />;
    }
  }

===>>>>   But  f

[2017-08-07 19:10] xavier-villelegier commented on #543
Hey @jpca999, React Native Elements is using the `react-native-vector-icons` package, you can find the list of available icons [here](https://oblador.github.io/react-native-vector-icons/). These are the same as Expo. 😊

[2017-08-08 06:19] Monte9 commented on #540
@lloistborn Seems like the code you have is right. I wonder if the item.uri has the right url in it.

Here's a working example. Let me know if you need further help.
[code]

[2017-08-08 06:19] #540 closed

[2017-08-08 06:23] Monte9 commented on #543
@xavier-villelegier thanks for the answer! 👍

@jpca999 please see the previous issues before opening new ones. This q has been asked and answered multiple times before. Here for instance: https://github.com/react-native-training/react-native-elements/issues/451#issuecomment-311539053

[2017-08-08 06:23] #543 closed

[2017-08-08 06:30] Monte9 commented on #542
@MALHARIHALGEKAR `ReactNavigation` is a navigation library that is rapidly become the default navigation solution for React Native apps. Hence we decided to deprecate our dependency on the SideMenu component and recomment users to start using the sidemenu that comes with react-navigation.

This is from our [release notes for v0.15.0](https://github.com/react-native-training/react-native-elements/r

[2017-08-08 06:30] #542 closed

[2017-08-08 06:36] AlmogRnD opened #545 "Checkbox selected per checkbox"
I'm creating a number of checkbox via a for loop and wanted to know how I can set the selected stated per checkbox

Here is my code
[code]

[code]

[2017-08-08 06:54] jpca999 commented on #543
How can I update the docs ?

Sent from my iPhone

[2017-08-08 07:06] Monte9 commented on #545
@AlmogRnD that's a good question. The way I think about it is.. if a component needs its own state, then it makes sense to map over a custom implementation of the component which knows how to handle its own state. I implemented this in the example app here and have a working demo you can play with [here](https://github.com/react-native-training/react-native-elements/commit/45a3fcdb1f955ca4eb71dbdd

[2017-08-08 07:06] #545 closed

[2017-08-08 07:28] AlmogRnD commented on #545
@Monte9 the issue is that while it does need its own state, the check boxes need to be together under one component so it's easy to know which ones were selected, think of it as tags and a user can select a couple different ones. Ideally, there would be a checkbook group this is how I would have done it in web

[2017-08-08 07:35] Monte9 commented on #545
This sounds like a good use case for using callbacks. Basically the idea would be that when a `CustomCheckbox` is selected, you would invoke the callback on the parent and that way be able to keep track of which checkbox is selected using the tag/index.

Let me know if this is too confusing or if you need an example on how to do this. Also maybe @xavier-villelegier has another approach to doing th

[2017-08-08 07:39] AlmogRnD commented on #545
@Monte9 could use a little help with this and how I would it
Right now I have the following structure

- Component TagGroups
 - Component Tags

TagGroups
[code]

Tags
[code]

[2017-08-08 07:49] Monte9 commented on #545
Couple things:
1. The code makes sense, although it's hard to tell what you are trying to achieve without some sort of UI representation. Can you add a screenshot so I get a better sense of how it's supposed to "behave"
2. We are experimenting with "Paid Feature request" here at RNE. So basically a dev can implement the entire feature for you and share the completed code with you. If this sounds i

[2017-08-08 07:54] Monte9 commented on #543
@jpca999 that's a good question. All the docs live under the `/docs/API` folder.

So if you want to update the docs for Icons, see this file: https://github.com/react-native-training/react-native-elements/blob/master/docs/API/icons.md

Once you know what you want to change, follow the [contributing guide here](https://github.com/react-native-training/react-native-elements/blob/master/.github/CONTR

[2017-08-08 07:56] AlmogRnD commented on #545
@Monte9 I might be interested in that down the line, there is a lot of work that I need with components would need to understand how this would work.

Right now if you can help or point me in the right direction that would be great

Here is a screenshot of the design version
<img width="551" alt="screen shot 2017-08-08 at 12 51 56 am" src="https://user-images.githubusercontent.com/169507/29061802-

[2017-08-08 07:56] Monte9 commented on #340
@mike-aungsan since this is android emulator specific, I'd recommend just running it on a real device.

[2017-08-08 08:02] Monte9 commented on #545
Ok, that's helpful. And so from what I understand you want to implement it in such a way that the `TagGroups` component is aware of all the tags that are selected within it's own group correct?

[2017-08-08 08:06] AlmogRnD commented on #545
Yea, that is the main concern I had with callbacks I was worried it would be nested too deep and create an issue.

 A user uploads a photo and selects tags for that photo, the tag group component is inside the photo upload component

But worst case I can just updated the selected tags in my redux store

[2017-08-08 08:06] Monte9 commented on #527
@iRoachie changing the props validation without handling the prop the right way in the render method is a bad idea.

Please swing back to this before v0.16.0 to fix it or revert the changes and reopen the issue. Willing to help if needed.

[2017-08-08 08:14] Monte9 commented on #545
@AlmogRnD yeah that makes sense. Ok, so do you have a fair understanding of what you need to do and how you would do it using callbacks?

If not, I can implement something similar on the `/example` app by tomr if that helps you. let me know.

[2017-08-08 08:14] AlmogRnD commented on #545
@Monte9 I have it working based on the first example code you sent me, I just need to understand the best way for the callbacks/props as you suggested

yes "how you would do it using callbacks?" what I'm not sure on

[2017-08-08 08:18] Monte9 commented on #461
@iRoachie appreciate the fix, although it's not a good solution going forward. For one, it breaks the tests. See [here](https://github.com/react-native-training/react-native-elements/commit/45a3fcdb1f955ca4eb71dbdd1e8dd61861b3fe34#diff-39821839c8e2b4b26f5864472349ed83R157) for more info on that.

And two, the width of the input can be controlled using the `inputStyle` prop on the TextInput. Since

[2017-08-08 08:21] Monte9 commented on #503
@k4ch0w please see @xavier-villelegier's answer above. When using Expo, the fonts need to be loaded first before you can render anything.

[2017-08-08 08:21] #503 closed

[2017-08-08 08:22] Monte9 commented on #84
@xiaogaozi sure thing. Feel free to submit a PR if you can. ⚡️

[2017-08-08 08:54] Monte9 commented on #545
@AlmogRnD you will be happy to know that I already implemented a simple use case demonstrating the use of callback in reference to Tags & TagGroups. Here's is what it looks like:
<img width="365" alt="screen shot 2017-08-08 at 1 52 37 am" src="https://user-images.githubusercontent.com/7840686/29064019-8a234670-7bdc-11e7-988a-b6ff8fcb1873.png">

[2017-08-08 08:57] AlmogRnD commented on #545
Ok can you send the code, thats just an image

[2017-08-08 09:02] AlmogRnD commented on #545
Also how would I handle the onpress event with the state change

if  do this
` onPress={this._selectedTag()}`

but then I can't handle the state change
`onPress={() => this.setState({checked: !checked})}`

[2017-08-08 09:03] Monte9 commented on #545
Yes you can. Just put the ` this.setState({checked: !checked})` inside your `_selectedTag()` function.

[2017-08-08 09:07] AlmogRnD commented on #545
Unless I'm doing it wrong but that crashes the app and I get the following error
<img width="1327" alt="screen shot 2017-08-08 at 2 06 53 am" src="https://user-images.githubusercontent.com/169507/29064589-49c7b104-7bde-11e7-8a05-88e219218e54.png">

[2017-08-08 09:09] Monte9 commented on #545
@AlmogRnD please join our Slack channel and someone can help you resolve that.

https://reactnativetraining.herokuapp.com/

[2017-08-08 09:18] AlmogRnD commented on #545
@Monte9 ok I got got this is the use correct use case

onPress={() => {
                    this.setState({checked: !checked})
                    this._selectedTag()
                }}

[2017-08-08 16:42] nwkeeley commented on #490
+1

[2017-08-08 19:32] mleduque commented on #461
I don't understand, what's v1 ?

[2017-08-09 02:08] k4ch0w commented on #503
@xavier-villelegier Thanks Xavier! That fixed it for me.

[2017-08-09 15:33] henrynw opened #547 "List "badge" causes title text to not align with other elements"
If you create a list with multiple list items, some of which contain badges and others which do not, the titles of the items with badges will not align with the items that do not have badges.

Example below:

![screen shot 2017-08-09 at 8 33 09 am](https://user-images.githubusercontent.com/461928/29129999-699993da-7cdd-11e7-8fc9-020a02f51a3a.png)

[2017-08-09 15:57] xstable commented on #12
Same for me like for @raduflp... but I've reinstalled the app.
But anyway I do it again, Kill the App-Process at the emulator and restart the app. Now Icons appear.
:confused:

[2017-08-11 01:58] iRoachie commented on #461
@Monte9 The test were only broken because it was testing against an older version of react-native. After upgrading to 0.42 the tests work fine. However I'll go back through with the revert

[2017-08-11 02:04] iRoachie commented on #461
Reverted in favor of using `inputStyle` prop

[2017-08-11 02:04] #461 closed

[2017-08-11 02:14] iRoachie commented on #527
@Monte9 Does this work better? https://github.com/react-native-training/react-native-elements/commit/771a00dbd500771aec08edeb2309d6e20472fe19

[2017-08-11 11:06] exos opened #548 "Header is not working"
I trying to use Header element and this is not showing.

My code:

[code]
Versions:

* react-native-vector-icons@4.3.0
* react-native-elements@0.15.0

**Edit**: I realized to the Header is showing, (it's are transparent with white text), but It not is showing like a *block* element, getting over the content.

[2017-08-11 11:08] akajack commented on #363
I have the same problem. How did you solve it?

[2017-08-11 12:44] aprofromindia opened #549 "Icons support for custom SVG or TTF."
### Description

1. I tried to create a custom TTF from some custom SVG using the website https://glyphter.com/ or https://icomoon.io/app/#/select
2. to work successfully like other types
3. Error received - _Warning: Failed prop type: Invalid prop name of value 'free-riding' supplied to Icon, expected one of [...]_

### Reproduction Steps and Sample Code

package.json below : -

`"dependencies":

[2017-08-11 12:46] iRoachie commented on #549
Can you show how you used it with one of our components?

[2017-08-11 12:56] aprofromindia commented on #549
Icon code added as requested.

[2017-08-12 06:48] JLLLinn opened #550 "Raised button causing error: View #928 of type RCTView has a shadow set but cannot calculate shadow efficiently."
### Description

I added a button with 'raised' specified.

I got this error:
"ADVICE) View #928 of type RCTView has a shadow set but cannot calculate shadow efficiently. Consider setting a background color to fix this, or apply the shadow to a more specific component."

My version is 0.15.0 of react native elements. And as you can see from the code, I do set the background color of the underlay v

[2017-08-13 01:58] iRoachie commented on #549
Does the icon work though? Or is it only the warning that shows?

[2017-08-13 10:56] uffou commented on #538
Having the same problem ListItem textInput is not working :(
[code]

[2017-08-13 16:06] olasfar commented on #549
Hey guys,

If I'm not mistaken RNE doesn't support custom icons regarding https://github.com/react-native-training/react-native-elements/blob/910c77106abbec24550c64e073608ce717f4e1b1/src/icons/Icon.js#L38-L42 and https://github.com/react-native-training/react-native-elements/blob/master/src/helpers/getIconType.js#L35-L36

How could we integrate our custom icons with RNE ?

Thx in advance,

[2017-08-13 22:40] Monte9 commented on #256
@diegobfernandez Gj putting together the snack demo. Looks good. 👏

[2017-08-13 23:19] Monte9 commented on #522
As always, @xavier-villelegier thanks for a detailed explanation with example code. 💯 👏

Hope this helps @bevalH @ahmedtehseen.

[2017-08-13 23:19] #522 closed

[2017-08-13 23:23] Monte9 commented on #487
This seems to only happen in some specific Android devices with remote debugging on. This solution looks promising: https://github.com/facebook/react-native/issues/11989#issuecomment-314111441

This does not seem to be coming directly from RNE. Please follow [this thread](https://github.com/facebook/react-native/issues/11989#issuecomment-314111441) on the RN repo for the lastest on this issue.

[2017-08-13 23:23] #487 closed

[2017-08-13 23:29] Monte9 commented on #547
Hmm.. that's caused by flex. Will need to look into it a bit more to figure out what the best way to handle that is.

In the meantime, did you happen to find any good solution to fix it @henrynw? Also your app looks good, mind showing us a bit more of it? I'd love to see how you are using RNE in your app. 😉

[2017-08-13 23:30] Monte9 commented on #548
@exos can you please recreate this using [snack](https://snack.expo.io/)? It would be easier to help you debug this issue with a working example. Thanks.

/cc @filiphosko

[2017-08-13 23:33] Monte9 commented on #550
@JLLLinn thanks for the issue. Can you please recreate this issue with a [Snack](https://snack.expo.io/) demo? One of use can help you debug this issue. thanks.

[2017-08-13 23:37] Monte9 commented on #538
@anicoa @uffou hmm.. sorry about that. Someone from RNE can help you resolve this soon.

[2017-08-13 23:41] Monte9 commented on #549
@aprofromindia @olasfar Yes, using custom fonts is def a use case we want to support.

There is this PR https://github.com/react-native-training/react-native-elements/pull/546 which will allow for this. We plan to merge this into RNE soon and should be available to use in the next release.

Hope this helps. Also if this issue is a blocker or something you need asap, we can even do a release sooner

[2017-08-13 23:48] Monte9 commented on #509
This has been fixed and will be part of the `v0.16.0` release. Thanks @lax1n for the issue & the fix. 👍

[2017-08-13 23:48] #509 closed

[2017-08-13 23:50] Monte9 commented on #442
This doesn't seem directly related to RNE. Please try to reproduce this with a TextInput from React Native and reopen this if it's caused only by using FromInput from RNE.

[2017-08-13 23:50] #442 closed

[2017-08-13 23:51] Monte9 commented on #392
@Nickman87 PR #362 should fix this. This will be release in `v0.16.0`

[2017-08-13 23:51] #392 closed

[2017-08-13 23:54] #424 closed

[2017-08-13 23:55] Monte9 commented on #341
The fix has been merged into `v0.16.0`.

[2017-08-13 23:55] #341 closed

[2017-08-13 23:56] developdeez commented on #333
same issue

[2017-08-13 23:58] #460 closed

[2017-08-14 00:00] Monte9 commented on #481
@mnlbox yes, you are right. This occurs when you turn on remote debugging.

The effect is most prominent on Android. And I have run into this myself, especially when doing animations. This is more of a React Native framework issue than RNE.

[2017-08-14 00:00] #481 closed

[2017-08-14 00:02] Monte9 commented on #292
This has been fixed in the latest release. Please see [here](https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L166)

[2017-08-14 00:02] #292 closed

[2017-08-14 00:06] Monte9 commented on #242
For starters, please look at this [react-native-swipe-list-view](https://github.com/jemise111/react-native-swipe-list-view).

I'd be open to the idea of using another library under the hood to provide this functionality. Please let me know if anyone would like to submit a PR for this.

[2017-08-14 00:13] Monte9 commented on #308
As of [v0.15.0](https://github.com/react-native-training/react-native-elements/releases/tag/v0.15.0) we have deprecated support for SideMenu & TabBar component.

This is from our release notes:

Hence going forward, we recommend using [react-navigation](https://reactnavigation.org/) for all the navigation in your react-native apps. Also if you are looking for examples on how to implement react-nav

[2017-08-14 00:13] #308 closed

[2017-08-14 00:16] Monte9 commented on #480
@anishtr4 any updates?

[2017-08-14 00:20] Monte9 commented on #486
@DrPandemic @flaviocarvalho the version for Side Menu has been updated on the latest release `v0.16.0`.

But as for `tab-navigator` please use @luugiathuy's fork as he suggested above. Thanks for the fix @luugiathuy's

Also fyi, both of these components are deprecated as of `v0.15.0` in favor of using `react-navigation`.

[2017-08-14 00:20] #486 closed

[2017-08-14 00:27] Monte9 commented on #513
@acahir that's a good idea. Def agree that there should be a balance between ease of use & extendability. It's good to know that you are already thinking along those lines. 😉

So in case you are not aware, we are working on RNE 1.0 and you can checkout all the lastest work for it on the `v1` branch.

The `ListItem` component will def be going through a big refactor and it's ok to change the API fo

[2017-08-14 00:28] Monte9 commented on #527
@iRoachie yup. Thanks for the fix. 😉

[2017-08-14 00:28] #527 closed

[2017-08-14 00:32] Monte9 commented on #528
@PolGuixe thanks for the issue. And I appreciate the solution you posted after too for others to see.

The `h4` prop is for default styling and I'd recommend using just a `<Text>` component when you need a custom font or styling.

[2017-08-14 00:32] #528 closed

[2017-08-14 00:34] Monte9 commented on #536
Hmm.. not sure how to resolve this.

@binoy14 @iRoachie thoughts on this?

[2017-08-14 00:35] Monte9 commented on #531
@barrymichaeldoyle not aware of this issue. Seems like passing a string for the `selectedBackgroundColor` prop is right.

Can you recreate this using a [Snack](https://snack.expo.io/) demo and I'd be more than happy to help look into this further. Thanks.

[2017-08-14 00:38] Monte9 commented on #537
@peacechen thanks for the issue & posting a potential solution.

I agree that the SearchBar could be improved. In fact, I am working on a rewrite of the `SearchBar` component for the RNE 1.0 release. If you have any suggests on how the SearchBar components can be improved let me know.

[2017-08-14 00:40] binoy14 commented on #536
What version of enzyme are you using? It has to be the right version based on your react native version since the test utils was moved to a different package

[2017-08-14 07:05] pricetula commented on #536
Hi thanks for response.
enzyme 2.9.1

[2017-08-14 12:48] aprofromindia commented on #549
@Monte9 - any idea when this might happen please?

[2017-08-14 12:49] iRoachie commented on #549
@aprofromindia The author of the PR just needs to add an example of it being used. After that we can merge

[2017-08-14 13:10] ahmedtehseen commented on #522
Thanks @xavier-villelegier  @Monte9

[2017-08-14 23:22] phixtalk commented on #349
@binoy14  and @nonameolsson , you guys may not know it, but i have battled with this same issue for days now. Your code just made my night... thanks a million

[2017-08-14 23:25] nonameolsson commented on #349
@phixtalk I'm glad we could help! :)

[2017-08-14 23:26] phixtalk commented on #349
thanks once again

[2017-08-15 18:18] Smashbandit commented on #538
I'd love to see this get resolved as well :) I'm having the same issue.

[2017-08-15 19:08] Monte9 commented on #538
kk. I'll look into this tonight! Will update you guys soon!

[2017-08-16 05:40] CrazyWr opened #554 "ButtonGroup how to remove the borderRadius"
#![image](https://user-images.githubusercontent.com/19635808/29348492-c09ebbb6-8286-11e7-87f7-32c8a64c6ea2.png)
![image](https://user-images.githubusercontent.com/19635808/29348542-0ea73aa4-8287-11e7-8419-eed65298bbad.png)

how to remove the borderRadius, ` borderRadius: 0` is not work

![image](https://user-images.githubusercontent.com/19635808/29348788-9f696cbe-8288-11e7-995a-93bf23b56c4a.png)

[2017-08-16 05:49] CrazyWr commented on #554
![image](https://user-images.githubusercontent.com/19635808/29348939-980571e2-8289-11e7-9fb4-27a888781f29.png)
ok, `containerBorderRadius={0}` fix it. but documents doesn't contain it

[2017-08-16 05:50] #554 closed

[2017-08-16 08:33] filippofilip95 commented on #474
I had same behavior, then i checked Button docs https://react-native-training.github.io/react-native-elements/API/buttons/.
**borderRadius note**

Example and workaround: https://snack.expo.io/SJqXQK-u-

[2017-08-16 10:04] maheshgupta commented on #474
@filippofilip.. Thanks for the help.

[2017-08-16 10:04] #474 closed

[2017-08-16 13:10] duclt47 commented on #471
you can show ImageBackground component ?

[2017-08-16 16:15] peacechen commented on #537
I'm a proponent of DRY (don't repeat yourself), and since there's a good search bar library why not leverage it.  Perhaps if you just want the experience of writing one from scratch, that's your call but it'll be a time investment to get it right.  Creating a responsive component is top priority to me.

[2017-08-18 08:51] moeinrahimi opened #556 "using listview with card component leads to not a valid react element"
hi
I'm trying to use cards with listview in react-native, this is my code 👍
[code]
I get this error message :
[code]
I used this card code without listview and it's working just fine but in a listview i get this error message

[2017-08-18 09:01] iRoachie commented on #556
You aren't returning anything with a single `{`. That's a method body.

Remove the `{` **OR** in your body call return.

[code]

[code]

[2017-08-18 09:58] moeinrahimi commented on #556
thanks it's working now

[2017-08-18 09:58] #556 closed

[2017-08-18 13:31] anarchyrucks commented on #548
@exos You need to set the `backgroundColor` property of `Header` component.

[2017-08-18 17:01] xstable opened #558 "Dropdown Elements"
Would be nice, if you could add those kind of dropdown elements:
https://www.npmjs.com/package/react-native-modal-dropdown

[2017-08-19 14:27] xavier-villelegier commented on #550
@JLLLinn The sample you gave doesn't throw any error on [this snack demo](https://snack.expo.io/SJq0q6rO-), can you give us a little bit more context ?
Just in case, have you tried with RNE 0.16 ?

[2017-08-19 14:44] xstable commented on #558
Ok, maybe not such hard needed like I thouht (as react-native-newbe). I've found the <Picker>-Component, which works quite well.
Nevertheless, sometimes it could be usefull to have such dropdowns instead picker

[2017-08-19 14:52] xstable opened #559 "ListHeaderComponent re-render while scrolling?!"
I have a Flatlist, where I've implement an header with a searchbar.
For testing purposes, I add an "console.log" to the ListHeaderComponent-Function in Flatlist:

[code]
I was really suprised, that this header will triggerd 14 times on FlatList init, and also a lot more if I scroll the FlatList.

Is this needed? Or is it possible to only re-render the header if needed?

BTW: My Main-Component is a

[2017-08-19 23:07] xavier-villelegier commented on #559
@xstable Mmh I don't think this is a RNE issue. The [`FlatList`](https://facebook.github.io/react-native/docs/flatlist.html) is a React Native component, and the `List` component is just a stylized wrapper.
According to [this comment](https://github.com/facebook/react-native/issues/13602#issuecomment-300608431) you need to bind the function once to avoid creating a new function at each render. I t

[2017-08-20 00:45] iRoachie commented on #558
@xstable It's a great suggestion, and I'd happily accept a pull request that implements it. Dropdowns aren't usually good user experience for a long list of items.

Image having a dropdown, and screen around it is already in a scroll view.  It encourages nested scroll views in the same direction. Which is usually a bad practice.

Pickers are usually better for user experience because they don't in

[2017-08-20 04:47] JLLLinn commented on #550
Hello, thanks for the reply.
Please go ahead and close this since I do not have time to do repro now.

[2017-08-20 20:08] ajaysaini-sgvu opened #561 "Module AppRegistry is not a registered callable module (calling runApplication)"
I followed this guide https://github.com/react-native-training/react-native-elements/blob/master/default_installation.md for installation react native elements and link it with `rnpm` command.

When I am importing `ListItem` and `List` in the component then it gives me an error

[code]

[code]
Did latest build of react-native break it ?

[2017-08-21 09:11] dx51job opened #563 "[Buttongroup]How to use onPress to navigate different pages?"
Hi,
    I'd like to use Buttongroup onPress to navigate different pages, looking for help!!!
    **onPress={this.updateIndex}
    onPress={selectedIndex ? () => navigation.navigate('Page0') :  () => navigation.navigate('Page1')}**
    I've tried to combine them,but it doesn't work properly......

[2017-08-21 20:17] bencodezen opened #564 "undefined is not an object (evaluating '_react.PropTypes.bool')"
### Description

1. Installed `react-native-elements`
2. Imported it into my screen with `import { SideMenu, List, ListItem } from 'react-native-elements'`
3. Got this error:

https://cl.ly/1B0m1v0m0k3g

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

Here is my `package.json`

[code]

### Solution

My guess is the propType se

[2017-08-22 09:32] dx51job commented on #563
I've solved this issue on my own.
Add as below in updateIndex(selectedIndex) function
 selectedIndex?navigation.navigate('Page0'):navigation.navigate('Page1') ;

[2017-08-22 09:35] #563 closed

[2017-08-22 11:26] martinezguillaume commented on #538
Are you on Android or iOS or both ? For me, the textinput shows up in iOS in the future version of react-native-elements

[2017-08-22 12:44] martinezguillaume commented on #538
In v16, it works on iOS. This [pr](https://github.com/react-native-training/react-native-elements/pull/565) fix it on Android

[2017-08-22 12:46] iRoachie commented on #538
Thanks @martinezguillaume will review it later

[2017-08-22 12:47] oodavid opened #566 "1.16.0 > Bug > Card > Titles always render, even when empty"
### Description

I updated to **1.16.0** and now all `<Card>` elements render with a title component, even if the title is empty.

### Reproduction Steps and Sample Code

[code]

[code]

https://snack.expo.io/SkNRwitOb

### Solution

I fixed by downgrading back to **1.15.0**

[2017-08-22 12:55] aprofromindia opened #567 "Display custom images in Icon elements"
Description

I tried to include a custom image tag within an Icon tag and expect it to work.

Error received - Shows a blank white Icon with no image inbetween.

Reproduction Steps and Sample Code

package.json below : -

`"dependencies": { "elements": "^0.6.0", "react": "^16.0.0-alpha.12", "react-hot-loader": "^3.0.0-beta.7", "react-native": "^0.47.0", "react-native-elements": "^0.15.0", "react-n

[2017-08-22 15:07] viniciuscarneiro opened #568 "Header element does not working correctly on Android"
Hi there, I am trying to use the <Header> element but on android the onPress does not working in IOS the onPress is working correctly

My code:

[code]
My versions:

[code]
Could you help me?

[2017-08-22 16:46] iRoachie commented on #566
Thanks will work on this ASAP

[2017-08-22 16:53] iRoachie commented on #567
What are you trying to accomplish here? The Icon component doesn’t take any children, so they won’t be rendered. Any reason you need to nest an image inside the Icon component ??

[2017-08-22 17:09] iRoachie opened #569 "Checkbox should correctly display title as element"
Change made in 0.16.

References https://github.com/react-native-training/react-native-elements/commit/771a00dbd500771aec08edeb2309d6e20472fe19

[2017-08-22 18:30] ckeeney commented on #430
I am getting this error on version `0.16.0`.  I am using Ignite boiler plate.  I already tried deleting `./node_modules` and re-running `yarn`.

[2017-08-22 18:39] ckeeney commented on #430
In my code, I had
[code]

This would import the `FormInput` component from [index.js](https://github.com/react-native-training/react-native-elements/blob/master/src/index.js#L49) of this repository.

However, to get to that line it had to run
[code]

on [line 19](https://github.com/react-native-training/react-native-elements/blob/master/src/index.js#L19).

Changing my import to
[code]
imports the

[2017-08-23 00:14] iRoachie commented on #564
Hey @bencodezen This will be resolved in the next version 0.17. The library that it's coming from is react-native-side-menu. The fix has already been made in their library https://github.com/happypancake/react-native-tab-navigator/pull/152, just a new version hasn't been published. For the meantime, you can use our `next` branch, which has the fix.

As soon as a new version is published, we'll swi

[2017-08-23 00:21] #569 closed

[2017-08-23 00:58] iRoachie commented on #566
@oodavid It's fixed on `next`. The fix will be available in the next release 0.17. For the meantime, you can use the `next` branch.

[2017-08-23 01:19] iRoachie commented on #490
Closing this as non-actionable from our side guys.

[2017-08-23 01:19] #490 closed

[2017-08-23 01:21] iRoachie commented on #456
Fixed! Will be available in 0.17

[2017-08-23 09:40] HOUCe opened #570 "Could <Tile> component 'title' property be clipped?"
### Could <Tile> component 'title' property be clipped?

1. I want <Tile> component 'title' be showed in ONE line (no wrap)
2. When 'title' is to long, I want to it be clipped and displaying an ellipsis in tail.
3. How can I reach that? Just like text-overflow: ellipsis in CSS3

[2017-08-23 10:29] mgenov opened #571 "issue with prop types in react 16 and react-native v0.47"
### Description
When I import the library in project with react-native version v0.47 I'm encountering an issue with PropTypes as they are no longer part of React 16 internally and are moved into a separate package.

Tested Version: react-native-elements: v0.16.0

### Solution
I've checked that react-native-elements depends on react-native-tab-navigator and it used the old prop types from the React

[2017-08-23 11:33] iRoachie commented on #571
Closing as dup of #564

[2017-08-23 11:33] #571 closed

[2017-08-23 11:37] iRoachie commented on #538
Merged in https://github.com/react-native-training/react-native-elements/pull/565#pullrequestreview-58050170. Will be available in 0.17

[2017-08-23 11:44] HOUCe commented on #570
### Already resolved
Please close this issue.

[2017-08-23 11:44] iRoachie commented on #216
Hey guys I’ll be working on this for v1.0. You can keep track of the progress in theme_v1

[2017-08-23 11:45] iRoachie commented on #570
Thanks

[2017-08-23 11:45] #570 closed

[2017-08-23 12:00] filiphosko commented on #548
@exos As @anarchyrucks wrote, your Header items/elements are white and so is the background, nothings shows up that way.

About the positioning 'issue' - the Header has a position: absolute by default, that way it glues it to the top. Normally you would give your content View a margin about the height of the Header and put your content there. But of course it is possible to override the styles (by

[2017-08-23 12:09] filiphosko commented on #568
Hi @viniciuscarneiro, I don't know how this can be related to the Header element, more probably it's an issue with Avatar/Icon components (I don't know which onPress do you mean).

BTW, when you have custom Header items/elements like that, you can pass them as children too (the API allows it):
[code]

[2017-08-23 12:50] viniciuscarneiro commented on #568
Hi @filiphosko, thank you for the answer,  I think it is related to the Header element because any onPress on elements inside the Header does not work on Android, I tried your way it keep working only in IOS

[2017-08-23 12:58] filiphosko commented on #568
It's strange, I can look at it when I'll have time and try to reproduce it in Expo Snack.

[2017-08-23 15:31] peacechen commented on #502
Since react-native-tabs-navigator has [updated ViewPropTypes in the 0.3.4 release](https://github.com/happypancake/react-native-tab-navigator/pull/152), would you mind updating the dependency to that version?  I still find TabNavigator useful within a route and hope it remains in react-native-elements.  `react-navigation` doesn't obsolete it since they can be complementary.

[2017-08-23 15:32] iRoachie commented on #502
Yea, it only was released this morning. I'll do it later today

[2017-08-23 15:42] peacechen commented on #502
What are your thoughts on keeping Tabs in RNE?

TBH, `react-navigation` is a convoluted mess and difficult to migrate to.  In my use case all I need is a simple tab selector within an existing route.  Using react-navigation's TabNavigator would entail embedding a router within a router, adding even more complexity to `react-navigation`.

[2017-08-23 22:05] Smashbandit commented on #538
Thanks guys!

[2017-08-24 02:38] iRoachie commented on #502
Nothings wrong with wanting a simple tab selector, in your case you probably don’t even need a library to do that. You can still install react-native-tab-navigator and use it standalone if you want. However react-navigation is a much better all round solution for navigation, especially when padding data between screens.

[2017-08-25 14:06] qwert666 commented on #568
@viniciuscarneiro had similar case but with ios had to wrap the Header component around an extra View component
[code]

[2017-08-26 06:17] Monte9 commented on #558
That's a good suggestion @xstable! 👍

Having a basic dropdown menu could be pretty useful, although I agree with @iRoachie that in such cases it's a better UX to use a picker instead.

In any case, this a duplicate issue for a drop-down menu. #253 Please follow the discussion there.

[2017-08-26 06:17] #558 closed

[2017-08-26 06:19] Monte9 commented on #253
Also adding https://www.npmjs.com/package/react-native-modal-dropdown as a reference. Thanks @xstable

And in the meantime, please check out the Picker component supported by React Native here: https://facebook.github.io/react-native/docs/picker.html

[2017-08-26 06:28] Monte9 commented on #480
We released `v0.16` since author's last reply. If this is still an issue, feel free to report it or reopen this issue.

[2017-08-26 06:28] #480 closed

[2017-08-26 06:30] Monte9 commented on #505
Hi @RamyarIran! I'd be happy to help you submit your first PR. For starters, can you link to a react-native library that supports RTL languages? I haven't used any such library before.. and it would be a good start to see how other libraries handle this.

[2017-08-26 10:10] hemedani commented on #505
Tanks, I'm very busy on several project and use this awesome lib on my project whenever I get some time post my PR

[2017-08-26 13:33] SubhaPrince commented on #390
Badge getting hide after adding rightTitle

[2017-08-26 13:48] SubhaPrince opened #577 "Badge is hiding when i am adding rightTitle"
<ListItem
        avatar={{ uri: rowData.profile_image }}
        title={rowData.group_name}
        subtitle={rowData.message_status}
        switchButton={true}
        rightTitle="4:30pm"
        rightTitleStyle={{ marginTop: -40, marginRight: -20, color: "#bdc6cf" }}
        badge={{
          value: rowData.unread_msg_count,
          textStyle: { color: "white" },
          containerStyle: {

[2017-08-26 21:14] Oxyaction commented on #519
Suggest updating the docs with deprecated mark. Getting deprecation warn currently is pretty confusing.

[2017-08-26 23:43] iRoachie commented on #519
It’s on the checklist for 0.17 @Oxyaction

[2017-08-28 01:41] ji3000 commented on #503
Need to link fonts into your project. This worked for me.

Source:
If you want to use any of the bundled icons, you need to add the icon fonts to your Xcode project. Just follow these steps:

Browse to node_modules/react-native-vector-icons and drag the folder Fonts (or just the ones you want) to your project in Xcode. Make sure your app is checked under "Add to targets" and that "Create groups" i

[2017-08-28 12:50] mgenov commented on #564
The release is available: 0.3.4 is the latest of 24 releases

[2017-08-28 12:52] iRoachie commented on #564
Already bumped it @mgenov https://github.com/react-native-training/react-native-elements/pull/551/commits/6db4be5fab7fa23171d8b7f17dc3dd9e686d6d19

[2017-08-28 13:12] mgenov commented on #564
Got it working on my project with that revision. Thanks @iRoachie

[2017-08-28 13:13] aprofromindia opened #578 "Icon with custom PNG images"
I would like to use custom png images with Icon buttons.

Sample source code I tried: -

`<Icon
        raised
        component={TouchableOpacity}
        {...this.props}>
        <Image source={require('../img/my-loc.png')} />
      </Icon>`

Any proposed solution would be much appreciated.

[2017-08-29 13:05] iRoachie commented on #578
A solution would be to use the normal Button component and add the ‘rounded’ prop.

[2017-08-30 10:29] EnriqueDev opened #580 "Searchbar does not behave properly with Flatlist"
### Description

1. Explain what you did
 Using ListView with the search bar:

![simulator screen shot 30 ago 2017 11 29 59](https://user-images.githubusercontent.com/25365731/29868376-93ad27b4-8d76-11e7-9633-3cd62113c558.png)

2. What you expected to happen
Searchbar should be on top when the list scrolls up.

3. What actually happens

Part of the component does not stays on top.

![simulator scr

[2017-08-30 14:30] voidstarfire commented on #144
Don't recommend React Navigation, there are many issues with this library.

- Bad animation support
- No updates on core issues such as componentWillUnmount or performance issues where all previous screens are rending causing drops in frames
- Cannot modify the existing tree state
- Basic utilities such as popToRoute isn't implemented.
- goBack({id}) broken and not fixed.
- reset shows all preview

[2017-08-30 14:36] manideepcs024 commented on #157
can we dynamically change the tabcontents on basis of user type. I have to show different set of options for a admin and for seller.

[2017-08-31 09:29] fabm22 opened #582 "Generic question : good fit for an attempt at a multiplatform-1 codebase app ?"
### Description

Sorry if too generic, but I have two points of doubts that I d like someone to confirm or not for a project I'm looking for.

1) Android+iOS only :
Would like to know if this is the best bet to aim at ONE codebase for both Android et iOS apps, including as much as possible the code for the views and visual components..?
Is it actually a goal of this project ?

2) ..web also, so An

[2017-08-31 14:58] jose920405 commented on #442
I have the same problem

![screenshot_2017-08-31-09-57-02_1024](https://user-images.githubusercontent.com/12536184/29930031-de733894-8e32-11e7-96c7-ff67c2c3b3ab.png)

[2017-08-31 16:24] Vishal0203 opened #583 "Small button"
Documentation examples don't show how to get a small button. However, the image shows small buttons. Am I missing some thing here?

[2017-08-31 16:28] iRoachie commented on #583
Small is the default button size @Vishal0203

[2017-08-31 16:29] iRoachie commented on #583
https://snack.expo.io/BkeOt2SFb

[2017-08-31 16:33] Vishal0203 commented on #583
That's the default size I have. Looks too large than the one shown on this link [https://react-native-training.github.io/react-native-elements/API/buttons/](https://react-native-training.github.io/react-native-elements/API/buttons/)

<img width="372" alt="screen shot 2017-08-31 at 10 01 52 pm" src="https://user-images.githubusercontent.com/8856973/29934242-0aec6962-8e98-11e7-92fa-e2f96b079136.png"

[2017-08-31 16:37] iRoachie commented on #583
That image isn't necessarily to scale. You can check how they compare in the example app, https://expo.io/@monte9/react-native-elements-app

[2017-09-01 02:45] ArtixZ opened #584 "Header absolute position issue"
### Description

1. Explain what you did
  Use Header from this package.
  Use image as the first component in the page.
2. What you expected to happen
  The image should be under the header.
3. What actually happens
  The image goes under the header, means, the header covers the image.

Also please include the version of `react-native-elements` that you are using.
    0.15.0
### Reproduction Step

[2017-09-01 05:20] kmcgill88 commented on #503
I have this same issue and it still wasn't working. Finally I opened Xcode and realized after running the `react-native link react-native-vector-icons` command didn't quite link correctly under `Build Phases`. All I did was open the `Libraries` group on the left panel and clicked and drug the `libRNVectorIcons.a` back into build phases and removed the old one. Last I had to clean the Xcode build `

[2017-09-01 13:39] remcorakers commented on #430
I also have the same issue, with `0.16.0` using create react native app. The images folder in `/src/rating` is not created. Suggestion of @ckeeney works, although its a work around that might break with future upgrades.

[2017-09-01 13:49] remcorakers commented on #430
Removing the `.yarnclean` file and removing and adding `react-native-elements` solved the issue. The images folder is now present again.

[2017-09-01 14:20] j2l opened #585 "Twemoji support? [Feature Request]"
I found myself needing emoji I can only find in Twitter emoji.
Would it be possible to add them?

Main source is [here](https://github.com/twitter/twemoji), license is CC-BY 4.0 in source or about page.
There are [2 recent projects ](https://github.com/search?utf8=%E2%9C%93&q=twemoji+react+native&type=)for react native.

[2017-09-01 14:26] j2l commented on #505
+1
I might help too.
So far I found these libraries/projects:
[react-native-snap-carousel](https://github.com/archriss/react-native-snap-carousel)
[react-native-rtl](https://github.com/alizahid/react-native-rtl)

Also have a look at this [snack](https://snack.expo.io/Hkso38cg-)

[2017-09-04 14:45] ricardoalcantara commented on #564
@mgenov I still got this error using the latest react-native-elements package (0.16) published at NPM.

[2017-09-04 14:46] iRoachie commented on #564
@ricardoalcantara Use the `next` branch for now. It's not published as yet. `0.17` still in the works

[2017-09-04 14:59] ricardoalcantara commented on #564
I did have problem to point the git link+branch, maybe because I am behind a proxy I don't know. I will stick with the 0.16 and keep using react 16.0.0-alpha.12 until the 0.17 is published. Thanks.

[2017-09-05 01:31] alifa20 commented on #256
@diegobfernandez
You are a life saver. Would be good to add this into the readme file.

[2017-09-05 13:01] SubhaPrince opened #586 "How to decide list item is selected or not"
I want to show all selected list items

[2017-09-06 10:09] YYEleven commented on #503
read https://www.npmjs.com/package/react-native-vector-icons can resolve the problem

[2017-09-07 04:21] theurbanforrest commented on #519
I was originally a little grumpy about these being taken away.  then i spent 30 minutes jumping into flexbox tutorials and am happy you forced me to learn it :)  great stuff team

[2017-09-07 19:13] M-Jas commented on #424
Updating did the trick thanks @Monte9

[2017-09-08 02:48] pacozaa opened #587 "How to set <Button> 100% width?"
How to set <Button> 100% width?

it seems like Button can not set to 100% width. Even I set marginHorizontal to 0. Even other element that apply the same style already 100%.  Looks like something prevent Button to have 100% width.

[2017-09-08 03:49] iRoachie commented on #587
It's pretty simple once you know :P. The prop you're looking for is `containerViewStyle`.

Here's a snack demo showing it in action. https://snack.expo.io/S1PWQqkcZ

[2017-09-09 08:57] Alireza-Ta opened #588 "How to put badge in the left side in list item ?"
I'm trying to put badge in the left side of a list item and playing for a while with flex-box in containerStyle but it did not work btw i'm not good at styling in RN!

Any help is appreciated.

[2017-09-09 19:09] gunnarblom opened #589 "Enable reverse Icon with ListItem"
Could you enable to use reverse icons with the ListItem? (i.e. pass through that prop from ListItem to the Icon.

[2017-09-09 22:12] aaymont commented on #214
Is there any progress on this?

[2017-09-10 06:14] iRoachie commented on #214
@aaymont Not as yet, feel free to suggest ways in which we could implement. Current in the apps I make I use https://github.com/mmazzarolo/react-native-modal-datetime-picker.

[2017-09-10 06:59] iRoachie commented on #589
Could you be a bit clearer by what you mean reverse?

[2017-09-10 07:19] iRoachie commented on #588
Yes you can! You can use the `wrapperStyle` prop to change the direction in which the items are laid out. Finally set the `rightIcon` to an empty view to hide the `>`.

Here's a demo https://snack.expo.io/r1Fzwwfcb

[2017-09-10 07:24] iRoachie commented on #586
Hey @SubhaPrince could you explain your question a little better. Also, you make a small [snack](https://snack.expo.io) showing what you're trying to accomplish.

[2017-09-10 09:27] gunnarblom commented on #589
The `<Icon>` element has a `reverse` prop. From the docs:

[code]

It would be awesome if that prop would pass through when using `<ListItem>`. E.g:

[code]

Just need to change on this element:

https://github.com/react-native-training/react-native-elements/blob/32bf779930f928bf2a22658dcb9ca729535610d1/src/list/ListItem.js#L120

To:

[code]

[2017-09-10 17:45] milon87 opened #590 "custom rightIcon based on logic"
Here is my list:
         ` <ListItem
                rightIcon={}
                containerStyle={{borderBottomWidth:0}}
              />
`
I have two types of right Icon based on logic. how can I put that?
(error image or ok image in the right side icon)

any idea? TIA

[2017-09-10 19:50] btav commented on #590
@milon87 have you tried something like the following?

[code]

[2017-09-11 02:15] pacozaa commented on #587
It works! Looks like `containerViewStyle` is an important attribute but it is pushed to the last item in the document. You may consider change the order of it to higher order. I didn't notice it at the first look.

All the Best,
Sarin

[2017-09-11 03:30] AlmogRnD opened #591 "How to change background color on checked checkboxes"
I can change the checked icon color but how can I change the background color for the checked box when it's checked?

[2017-09-11 03:40] #587 closed

[2017-09-11 05:34] iRoachie commented on #587
@pacozaa glad I could help. If you think there’s a better way we can order the properties then I’ll be more than happy to accept a pull request.

[2017-09-11 06:33] Alireza-Ta commented on #588
@iRoachie Thanks, It did the trick.
I'm not aware about row-reverse option!

[2017-09-11 06:33] #588 closed

[2017-09-11 09:57] pacozaa commented on #587
@iRoachie #592 There you go 👍

[2017-09-11 10:01] milon87 commented on #590
@btav  yes but not working.
btw Thanks for your try.

[2017-09-11 10:06] milon87 commented on #590
yes working thanks.

[2017-09-11 12:05] AvijitDutta95 commented on #590
How can i hide rightIcon???
any suggestion please!

[2017-09-11 12:10] iRoachie commented on #590
@AvijitDutta95 set the rightIcon prop to an empty View

[2017-09-11 13:05] milon87 commented on #590
hideChevron={true} make your right icon disappear

[2017-09-11 13:05] #590 closed

[2017-09-11 13:08] milon87 commented on #591
have you tried checkedColor property?

[2017-09-11 13:12] milon87 opened #593 "does it support expandable list?"
Actually, it is a feature request for the expandable list facility

"react-native-elements": "^0.15.0"

[2017-09-11 13:19] AlmogRnD commented on #591
@milon87 the checkedColor property changes the color for the checked icon, I would like to change the background color for the entire checkbox

[2017-09-12 02:17] iRoachie commented on #591
You can use the `containerViewStyle` prop. Here you go @AlmogRnD https://snack.expo.io/B1-5mTNcZ

[2017-09-12 06:20] AvijitDutta95 opened #594 "How to show badges in ListItem on condition bases! Help Needed"
### Description

Is there any way to show badges on ListItem on condition bases!
Like: If value > 0 ? I need to show badges on ListItem : if it is not then badges are not displayed

Any idea please! Help wanted

[2017-09-12 06:54] #594 closed

[2017-09-13 02:56] pacozaa opened #595 "How to make lines appear between button in Button Group?"
As in a document
https://github.com/react-native-training/react-native-elements/blob/master/docs/API/button_group.md

The sample image looks nice and also has lines between each button in Button Group. But when I apply sample code from document itself. The border line between each button doesn't appear. How to make them appear?

Best,
Sarin

[2017-09-13 03:13] pacozaa commented on #595
My progress of trying using `buttonStyle` property
![21741272_10212809829834675_4438157794602461731_o](https://user-images.githubusercontent.com/3154089/30357988-d9eebc1a-986b-11e7-92c7-1488293948bb.jpg)

There is still a gap between them. How to get rid off it?

Best,
Sarin

[2017-09-13 04:15] pacozaa commented on #595
Well I find a work around solution. Just set `backgroundColor` in `containerStyle` same as `borderColor` in `buttonStyle`. I am not sure if that is a best solution :)

[2017-09-13 07:36] agent3bood opened #596 "FormInput RTL text while typing is not properly shown on screen"
### Description

1. Explain what you did
import FormInput and add it to a card,
when entering English text all is well, but when entering Arabic (rtl) text the text is rendered off the screen from the right.

2. What you expected to happen
the text should start appearing from the right edge of the FormInput
3. What actually happens
the text is not properly rendering while typing

Also please inclu

[2017-09-13 08:03] jjdp opened #597 "Button with borderRadius prop crash on API < 21"
Buttons with a border radius like so only works on Lollipop and above because of the ripple drawable is not available.

`<Button
              title="Login"
              borderRadius={5}
              onPress={() => this._login()}/>`

https://github.com/react-native-training/react-native-elements/blob/32bf779930f928bf2a22658dcb9ca729535610d1/src/buttons/Button.js#L106

We should add an if API > 2

[2017-09-13 08:41] martinezguillaume commented on #595
Hi, this a well-know bug from react-native, more infos here: https://github.com/react-native-training/react-native-elements/issues/364. It'll be fix when react-native will fix the problem

[2017-09-13 08:45] xavier-villelegier commented on #580
@EnriqueDev I think it is just a matter of styling. On [this demo](https://snack.expo.io/H1PsAvUqW) it works as expected. Can you give a little bit more context ? Maybe a simple `containerStyle={{ marginBottom: 8 }}` would do the job ?

[2017-09-13 09:01] xavier-villelegier commented on #589
@gunnarblom In the future of RNE, the props of the `Icon` component won't be exposed through the `ListItem`, for simplicity and modularity. To follow these principles, I advise you to do this:

[code]

As RNE already supports that, you will be prepared for future breaking changes about the exposed `Icon` props

[2017-09-13 09:13] xavier-villelegier commented on #583
@Vishal0203 Did you manage to do what you want ? If the small button is still too big for you, you can override the padding [like this](https://snack.expo.io/r1-PLdIc-) (Thanks @iRoachie for the snack template haha)

[2017-09-13 09:47] xavier-villelegier commented on #577
@SubhaPrince Yea... As you can see [here](https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L215), the badge appears only if there is no `rightTitle`, because they are supposed to be in the same place. The `ListItem` styling is quite complex to maintain... But seeing your use case, this is not a viable solution, as you managed to move the `rightTitle`

[2017-09-13 12:12] Morriz commented on #461
Why was this reverted? It is still a valid concern, and asking us to provide a workaround (setting `inputStyle`) is not nice. IMO, as a default, the width should be removed completely so that it will take parent width.

[2017-09-13 12:17] iRoachie commented on #461
It’s reverted cause it breaks compatibility with older versions of react native. Percentages were only introduced in RN 0.43. Components don’t magically take up available space, so removing the width doesn’t do what you described

[2017-09-13 17:18] filiphosko commented on #584
@ArtixZ This is not a bug, it's basically how this component works - you have a Header element that has position: absolute and is positioned to the top. So the way you use this API is that you put all your 'main' content into a 'main' view that you indent from the top with `marginTop` by the height of the Header element. Of course it would work with position: relative, but only when you put the He

[2017-09-14 04:25] gtaylor44 opened #599 "please attach method to this component"
While using the social icons, I encountered the following warning after attaching an onPress handler:

'please attach method to this component'

Is there a button version of this:
[code]

Or are we expected to wrap it like so:

[code]

[2017-09-14 09:45] martinezguillaume commented on #599
In your example, you didn't provide any `onPress` prop, you need to do:
[code]

[2017-09-14 15:15] xstable commented on #238
I have the same issue... if try to set the ListItem to 3 lines. Headline, and two sublines.
First line of subline should never reach into third line (but it does).

See Image here... third line is ok (distance have to be there - everytime!):
![listitem](https://user-images.githubusercontent.com/1778068/30437635-616556f0-996f-11e7-8a1a-dabb71e8960c.jpg)

But in first both entries you see, that the

[2017-09-14 15:41] premcarver opened #600 "Issue while using the elements with other react navigation/router"
It's good to see that you have created a lot of reusable components.

But when I tried to use these components with 3-4 other navigation/router projects, None of them was working.

For example, first I tried it with Native-Navigation. While combining your elements I faced a lot of issues as they don't use the direct mapping of libraries. Somehow, I managed to link all required libraries like vecto

[2017-09-14 17:59] gtaylor44 commented on #599
Yes, I missed that out of the example. That is what caused the aforementioned warning. Does or should SocialIcon have a role as a button?

[2017-09-14 18:00] iRoachie commented on #599
@gtaylor44 You can check out the full properties here https://react-native-training.github.io/react-native-elements/API/social_icons/

[2017-09-14 18:02] gtaylor44 commented on #599
Hmm.. ok, interesting.

[2017-09-15 03:35] AlmogRnD commented on #591
@iRoachie this is perfect thanks, I'm closing this

[2017-09-15 03:35] #591 closed

[2017-09-15 03:44] AlmogRnD opened #601 "Checkbox not show icon"
Is there a way not to show the icon for the checkbox

[2017-09-15 03:45] iRoachie commented on #601
Not sure if I'm understanding your use case. If the icon isn't there, what would be left? It'd just be a button.

[2017-09-15 03:48] AlmogRnD commented on #601
Yes, just like a button, main reason for using checkbox and not a button so I can do group selection

[2017-09-15 03:49] iRoachie commented on #601
You could use a normal button and manage the selection with your local state

[2017-09-15 05:05] iRoachie commented on #566
@mobiusnz Glad you got it figured out. Will try to publish this weekend

[2017-09-15 08:34] MrHubble opened #602 "ListItem rightIcon only displays default icon"
I'm trying to use a different icon for `rightIcon`:

[code]

I would expect to see the `done` icon the same as the `leftIcon` in my example, however, I think the default `chevron-right` is being displayed:

<img width="283" alt="screen shot 2017-09-15 at 5 57 57 pm" src="https://user-images.githubusercontent.com/2251631/30473008-189e7482-9a42-11e7-88cd-fb8dda9b2b93.png">

I was originally getting

[2017-09-15 09:12] MrHubble commented on #444
@webraptor @xavier-villelegier thanks for all of your helpful input on this.

I experienced this issue after upgrading from 0.12.2 to 0.16.0. Example:

<img width="283" alt="screen shot 2017-09-15 at 6 45 43 pm" src="https://user-images.githubusercontent.com/2251631/30474988-b0089298-9a48-11e7-8009-f58e078e5800.png">

Changing from `avatarStyle` to `avatarContainerStyle` didn't work for me either.

[2017-09-15 10:11] xavier-villelegier commented on #602
Hey @MrHubble, try the following:
[code]

Result:
![img_bd058cdd7e58-1](https://user-images.githubusercontent.com/17592779/30477796-cd19d75a-9a0e-11e7-928c-e5479c2f5b4a.jpeg)

You must pass a component, not an object. I also advise you to do that for the left icons for [these reasons](https://github.com/react-native-training/react-native-elements/issues/589#issuecomment-329104669) 👍

[2017-09-15 12:39] martinezguillaume commented on #600
The library [react-navigation](https://reactnavigation.org/) is recommended with your react-native project.
But if you want to use react-native-element with your navigation, the best thing is to provide an `onPress` function to the button that redirect you to the good route.
Try to see if a navigate action exists in your navigation lib.

You can do this:
[code]

But the best is to use `react-navig

[2017-09-16 03:35] francisngo opened #603 "How do you toggle with CheckBox? API documentations and example code doesn't show how to."
### Description
I would like to have a list of checkboxes that when selected, will toggle as checked and submit the form afterwards.

1. Explain what you did
Installed react-native-elements
2. What you expected to happen
When user clicks on button, it is checked or unchecks.
3. What actually happens
Nothing happens when checkbox is clicked. It either is all selected or none at all.

Also please in

[2017-09-16 04:16] iRoachie commented on #603
CheckBox is a controlled component. Which means it's external state is update through updating the props. You have to manage your own state for the checked property.

Example snack here https://snack.expo.io/BkCWHXqqZ

You can read about controlled components here https://facebook.github.io/react/docs/forms.html#controlled-components

[2017-09-16 08:05] karanmartian opened #604 "Card with default divider on top?"
Was there any change to the Card component. Now there is a default divider component that I cant get rid off on the top of the card even when I dont have a title for the card displayed. I think this wasn't the issue in 0.14 release of react native elements

[2017-09-16 11:53] iRoachie commented on #604
Hey @karanmartian this is already fixed for the next release https://github.com/react-native-training/react-native-elements/commit/eb26b67b71b3715f45c80154d2d7103094670321. Hopefully we should release this week if all goes well. Right now you can use the next branch on the repo to get the fixed in now.

[2017-09-16 14:11] premcarver commented on #600
Thank you for the recommendation. I will try to use react-navigation lib for my project. Thanks a lot :)

[2017-09-16 16:51] Monte9 commented on #554
@CrazyWr that's a good catch. And thanks for posting the solution as well.
I have updated `containerBorderRadius` props on the docs [here](https://github.com/react-native-training/react-native-elements/commit/cb81deda66ecabd87bde43b94922f29ec1c38bd9) and it will be updated in the next release.

[2017-09-16 17:12] Monte9 commented on #144
Thanks for your detailed response @voidstarfire. You do raise some valid points. I am curious to know what other alternatives would you recommend?

Also fyi, the team over at React Navigation recently released a blog post talking about a roadmap to v1. You can read the full blog post here: https://reactnavigation.org/blog/2017/9/Renewed-v1

[2017-09-16 17:26] Monte9 commented on #144
Also reopening this issue, as getting rid of our dependency on `react-native-tab-navigator` and `react-native-side-menu` in our 1.0 release coming soon. This issue might help users decide which navigation library they can use instead.

[2017-09-16 17:28] Monte9 commented on #570
@HOUCe mind sharing your solution with us? It might benefit someone else trying to do that same. Thanks.

[2017-09-16 17:32] Monte9 commented on #570
Ah thanks for the fix @HOUCe! Here's the PR that fixes it: https://github.com/react-native-training/react-native-elements/pull/573

It adds a `titleNumberOfLines` prop to the Tile component.

[2017-09-16 17:49] Monte9 commented on #390
@SubhaPrince can you add a screenshot for reference? Also recreating it on https://snack.expo.io/ would be ideal.

[2017-09-16 17:52] Monte9 commented on #157
I think you would be able to do that, by rending different content with the tab component itself.

[2017-09-16 17:55] Monte9 commented on #430
Thanks for reporting back on the fix @remcorakers! So from what I understand, this is not a problem with RNE, but rather yarn no installing the dependencies correctly.

Glad you figured it out! 😄

[2017-09-16 18:03] Monte9 commented on #256
@alifa20 agreed. I have added it to the docs [here](https://github.com/react-native-training/react-native-elements/commit/f211e0a3635734b84ae73a52c3353633a71c26d4) and it will be updated in the next release `v0.17`.

[2017-09-16 18:09] Monte9 commented on #594
Here is a related issue: https://github.com/react-native-training/react-native-elements/issues/590
Hope this helps.

[2017-09-16 18:17] francisngo commented on #603
Is there something I am missing? Because I have a very similar format but when I am clicking I am not getting any response. Do I need to add some sort of vector icons for the checks?

Here is the whole component:

[code]

[2017-09-16 18:19] francisngo commented on #603
It seems if I put the checkbox outside the FlatList, I am able to check it. But as I am mapping through each data, I am creating a new checkbox along with it. And it's causing the issue.

[2017-09-17 00:13] iRoachie commented on #603
@francisngo You have to use multiple state variables. If you use `this.state.checked` for all your items, then if you change it; it's going to update all of them. This is more an architecture question than a problem with RNE, however, I'll still help.

Basically you need a unique value in your state for each checkbox. Since our list is coming through the props; in our constructor we can create the

[2017-09-17 08:32] MrHubble commented on #602
aarrgghh, I lost so much time to a silly typo 😳 I really wish Github would allow us to delete embarrassing issues like this.

I'm now using the component as per your suggestion.

Thanks for taking the time to help. It's greatly appreciated.

[2017-09-17 08:32] #602 closed

[2017-09-17 09:18] MrHubble commented on #602
@xavier-villelegier it might be worth mentioning that I could only get `onPressRightIcon` working with passing an object (`rightIcon={{ name: 'done' }}`).

I could **not** get `onPressRightIcon` working with passing a component (`rightIcon={<Icon name={'done'} size={20}/>}`).

[2017-09-17 09:24] xavier-villelegier commented on #602
@MrHubble Yes obviously. By passing a component you **fully** control what is rendered as an Icon, the `ListItem` doesn't alter the component you pass. You have to specify the `onPress` on the `Icon` itself:

[code]

[2017-09-17 10:09] MrHubble commented on #602
That makes complete sense. I'm not sure my brain is doing it's job. Time to step away from the keyboard.

[2017-09-17 10:17] xavier-villelegier commented on #602
@MrHubble Haha np man. Take the time to understand the code of the `ListItem` and discover what happens [behind the scenes](https://github.com/react-native-training/react-native-elements/blob/master/src/list/ListItem.js#L218) when you pass a component.
This can be non-intuitive at first sight but by doing that you really split the logic and use the component philosophy of React. 🙌

[2017-09-17 21:57] johot opened #605 "ListItem does not look like an iOS ListItem"
The ListItem component looks very different from the "real" iOS version. In iOS the separator line for example has an indent. Also the chevron is not pixel perfect to the iOS version.

Is this anything you guys are looking into? I would expect everything to be pixel perfect to the real iOS versions.

Thanks!

[2017-09-17 22:43] iRoachie commented on #605
What’s your thoughts on this @Monte9 @xavier-villelegier @martinezguillaume.  I’m sure it’s an easy task. Just wondering if it’s intentionally styled this way

[2017-09-18 01:25] Monte9 commented on #535
The PR has been merged. This will be fixed in the `v0.17` release in the next day or two.

[2017-09-18 01:25] #535 closed

[2017-09-18 02:31] Monte9 commented on #596
@agent3bood RNE doesn't support RTL yet. Please follow the discussion here: https://github.com/react-native-training/react-native-elements/issues/505

[2017-09-18 02:31] #596 closed

[2017-09-18 02:33] Monte9 commented on #597
@jjdp good catch. Agreed, we should make it conditional so that it doesn't crash for API < 21

Would you be willing to submit a PR for it? I'd gladly review and merge it in.

[2017-09-18 02:33] #595 closed

[2017-09-18 02:37] Monte9 commented on #580
Agree with @xavier-villelegier! This can be solved by adding a margin on the bottom of the SearchBar or by also putting the search bar in the scrollView itself. This issue doesn't directly relate to RNE.

Thanks @xavier-villelegier for putting the snack demo together. 👏

[2017-09-18 02:37] #580 closed

[2017-09-18 02:38] Monte9 commented on #589
That's a great example @xavier-villelegier! 💯 Thanks for providing a good solution to the issue.

[2017-09-18 02:38] #589 closed

[2017-09-18 02:40] #583 closed

[2017-09-18 02:44] #599 closed

[2017-09-18 02:45] #566 closed

[2017-09-18 02:48] Monte9 commented on #604
This will be part of `v0.17` and will be released in the next day or two. Thanks for the fix @iRoachie! 👍

[2017-09-18 02:48] #604 closed

[2017-09-18 02:49] #603 closed

[2017-09-18 05:25] eightyfive commented on #568
I struggled quite a bit on this as well... In my case, this was an absolute positioning issue.

Adding `zIndex` to `Header` component did the trick:
[code]

Interesting to note that my "body/content" component just under the `Header` had `style={{ marginTop: 70 }}` set in order to give some room to `Header` component (and thus allowing the `press` events on Header buttons), but still, it did not w

[2017-09-18 05:37] eightyfive opened #606 "Header leftComponent, how to trigger onPress?"
I'm wondering how to trigger an `onPress` event with the shortcut to set icons on Header component:
[code]

I mean I don't see the use case where you would like to show an icon in the Header, without wanting to trigger some kind of action linked to it (`onPress`).

I understand passing a proper React component as `left/rightComponent` works, but I wonder what's the `icon` shortcut for?

[2017-09-18 06:55] LJCoetzee commented on #568
As @eightyfive mentioned, adding a zIndex to your header's style works! At least it solved our issue on Android.

[2017-09-18 07:52] jjdp commented on #597
#607

[2017-09-18 13:59] iRoachie commented on #606
Hey there @eightyfive. The properties of the components get passed directly down to the buttons underneath. Which means we can pass in `onPress` as a property like so:

[code]

See example here https://snack.expo.io/B1gcxU6cZ

[2017-09-18 17:03] Monte9 commented on #568
Thanks for posting the solution @eightyfive! 👏

@viniciuscarneiro hope this solves your issue.

[2017-09-18 17:03] #568 closed

[2017-09-18 17:53] filiphosko commented on #568
@viniciuscarneiro @eightyfive Guys, I'm sorry but I can't reproduce this in Snack (Android emulator). Here is my code:

[code]

Feel free to try it here https://snack.expo.io and let me know how it went. Thanks!

[2017-09-18 18:29] johot commented on #605
Nice to see this getting labeled @Monte9 !

I am kind of new to react-native (coming from Xamarin) and immediately got frustrated when I didn't find any good way of making a regular ListItem (UITableViewCell) that looks _exactly_ like the iOS one (for use with new `FlatList`). The library that comes closest in terms of "looking right" is currently NativeBase but their ListItem had a lot of bugs an

[2017-09-18 18:33] Monte9 commented on #605
@johot I completely agree. I also think that this is a High Priority issue as we have been talking about getting this done for RNE for a while now but have not gotten to it yet.

Let's try to use this issue to accelerate this into the next release. For starters.. can you link to a few of the apple guidelines and req for what a pixel perfect iOS ListItem is supposed to look like?

Also FYI, $50 fro

[2017-09-18 18:47] johot commented on #605
@Monte9 Great to hear you want this as much as I do ;)

I'm up for the task! I might be able to create a PR for you, but I can also post my research here in case I don't have time to fix it myself. I will focus on making it look exactly like the native UITableViewCell so my focus will only be iOS for now.

One quick question before I get started, the `chevron-right` icon that we use now where does

[2017-09-18 18:53] iRoachie commented on #605
For reference there's https://github.com/aksonov/react-native-tableview, that uses the *actual* UITableViewCell

[2017-09-18 18:56] xavier-villelegier commented on #605
Some useful documentations too:

Apple guideline about table views [here](https://developer.apple.com/ios/human-interface-guidelines/views/tables/) (quite abstract but gives some standards)
Google Material Design guideline about listing [here](https://developer.apple.com/ios/human-interface-guidelines/views/tables/)

[2017-09-18 19:09] Monte9 commented on #605
![iOS Settings](http://cdn.iphonehacks.com/wp-content/uploads/2017/06/iOS-10-vs-iOS-11-Settings.jpeg)

![Android Settings](https://img.gadgethacks.com/img/41/09/63625715036668/0/27-cool-new-features-changes-android-8-0-oreo.w1456.jpg)

Using the above images as references, let's make RNE as pixel perfect per platform as possible using the `ListItem` and `SearchBar` components.

[2017-09-18 19:18] johot commented on #605
I've taken full resolution screenshots from my iPhone for reference measuring stuff in Paint.net now :)

The right settings image look very different? Different iOS versions? Never seen one with that large heading before?

My initial findings are that the `ListItem` that comes with react-native-elements are too large, have the wrong text color (it's gray but should be black) and the offset of the

[2017-09-18 19:23] Monte9 commented on #605
Yes, the image on the right is of iOS 11. That's why you see an extra heading on top.

Awesome. Good findings. Way to go! Glad we are working on this issue with full steam ahead. Two of the other RNE core contributors @iRoachie and @xavier-villelegier are also going to be working on this so we have a lot of resources to get this completed soon.

[2017-09-18 19:26] johot commented on #605
Ok, cool! Apple changing details every release will be a challenge but I think we should optimize for the latest iOS version(s). I have no idea if react-native-elements supports the accessibility settings now, I know some people will have larger text and so on, maybe a later problem. It looks like the iOS version has a larger font? Is that an accessibility thing or just that they changed the defau

[2017-09-18 19:29] Monte9 commented on #605
@johot can you join our slack channel? We are having this same iOS 11 vs iOS 10 discussion among the core contributors.

Might be easier for you to join our slack and jump in on the conversation there. We can even discuss the details for the ListItem there.

Here's a link to join: https://reactnativetraining.herokuapp.com/

[2017-09-18 19:30] johot commented on #605
Will do!

[2017-09-18 20:47] martinezguillaume commented on #605
I know a little bit about google design, I can do it for Android if you want ! (Pixel perfect of course)

[2017-09-18 20:49] Monte9 commented on #605
@martinezguillaume OMG!! Yes, please!! ❤️

[2017-09-19 03:07] eightyfive commented on #606
That makes sense. Thanks!

[2017-09-19 03:07] #606 closed

[2017-09-19 03:08] eightyfive commented on #568
Hi @filiphosko, thanks for trying, in my case I wouldn't really bother since my use case is very specific.

Cheers.

[2017-09-19 12:47] iRoachie commented on #568
A better fix will be made for the Header in an upcoming release.

[2017-09-19 14:15] filiphosko commented on #568
I'm curious ;) BTW applying zIndex would work in case when the absolute positioned Header is covered by something, in that case I don't think it's a problem of the component.

[2017-09-19 14:17] iRoachie commented on #568
It's still a problem. Because a header component should flow with the elements on the page, instead of being absolute positioned. Right now if you just add a header to a page; the other elements overlap it. Out of the box that should be the case.

[2017-09-19 15:54] filiphosko commented on #568
The primary idea for the Header component was that this component has only one place to be - to the top (as a Navigation Bar). Another component like that (although not a "true" RN component) is the StatusBar - it's always the first element on the page and other components go underneath it (you can say it is absolutely positioned). People just know how to work around it and they offset their views

[2017-09-19 15:57] iRoachie commented on #568
This is not a convention. All the other UI libraries for react-native, their toolbars/headers flow with the page so it's a really weird when persons come to RNE and it functions differently.

Definitely adding this to the backlog

[2017-09-19 17:30] eightyfive commented on #568
I think misunderstanding comes from the fact that React Native marginTop does not seem to behave the way it does in CSS.

In CSS padding-top on next component after Header would overlap it, margin-top would not. In RN it seems that they're are no diff between the two (both overlap Header).

Note: I did not back up this theory with thorough testing/trials.

[2017-09-19 18:39] iRoachie commented on #568
@eightyfive React native has the same box model as the web. Adding padding and margin would not change the fact that we are interacting with **statically positioned component(content)** and an **absolutely positioned component(header)**.

[2017-09-20 02:19] pacozaa opened #608 "May I change Header.js?"
### Which part I want to change?

from `Header.js` this part
[code]

to

[code]

### Why?

Because

[code]
Make a header style less flexibility. Such as make a header like this
<img width="345" alt="screen shot 2017-09-20 at 9 16 48 am" src="https://user-images.githubusercontent.com/3154089/30623880-80bae71c-9de4-11e7-97f7-5b0cb4d2a5dc.png">

So let alone these two properties and maybe show an exa

[2017-09-20 04:31] pacozaa commented on #604
For anyone who is waiting for v0.17,

The solution is to set title to null.

Like this

[code]

For more information take a look at eb26b67

[2017-09-20 04:32] iRoachie commented on #604
@pacozaa 0.17 has been published since this morning

[2017-09-20 04:33] karanmartian commented on #604
thanks a ton guys! this helps
On Wed, 20 Sep 2017 at 10:02 AM, Kyle Roach <notifications@github.com>
wrote:

--
Karan Kamdar

Founder and President, IDRL
http://droneracingindia.com

CEO, 1 Martian Way Corp.
http://1martianway.com

Cell: +91-8850-227233
Skype: karan.kamdar

[2017-09-20 04:53] pacozaa commented on #608
Solution found. I will make an update!

[2017-09-20 04:53] #608 closed

[2017-09-21 04:25] #600 closed

[2017-09-21 04:27] iRoachie commented on #593
Could you explain what you mean by expandable list?

[2017-09-21 04:33] iRoachie commented on #584
Hey @ArtixZ we've had some discussion around this [here](https://github.com/react-native-training/react-native-elements/issues/568#issuecomment-330632279).

Ideally the header should behave like a normal component on the page and flow with the content instead of being absolutely positioned. This is a great chance for new contributers to get involved :)

[2017-09-21 04:35] iRoachie commented on #582
Hey @fabm22 sorry for the late response. RNE is perfect to use for android and ios. Currently, right now all our components display the same way on ios and android.

We don't currently support web right now, but it's something that we have on our roadmap.

[2017-09-21 04:37] iRoachie commented on #567
Dup of https://github.com/react-native-training/react-native-elements/issues/578

[2017-09-21 04:37] #567 closed

[2017-09-21 04:39] iRoachie commented on #564
This is fixed in 0.17, which is now live

[2017-09-21 04:39] #564 closed

[2017-09-21 04:39] iRoachie commented on #561
Closing this as not directly related to RNE.

[2017-09-21 04:40] #561 closed

[2017-09-21 04:45] iRoachie commented on #531
Hey @barrymichaeldoyle I created a simple snack demo showing how to use `selectedBackgroundColor` https://snack.expo.io/BywimTxi-. Let me know if the issue still persists for you.

[2017-09-21 04:46] iRoachie commented on #538
Fixed in 0.17, which is now live!

[2017-09-21 04:46] #538 closed

[2017-09-21 04:47] iRoachie commented on #456
Fixed in 0.17, which is now live!

[2017-09-21 04:47] #456 closed

[2017-09-21 04:49] iRoachie commented on #426
Any updates on this @sdotson. Just curious if you're already working on something.

[2017-09-21 05:13] iRoachie opened #611 "Update docs to highlight typescript support"
Typescript support now officially supported with completed typings. https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-native-elements

Need to add instructions to use.

[2017-09-21 07:12] AvijitDutta95 opened #612 "Avatar cropped on ListItem onPress"
### Description

When ListItem pressed Avatar icon get cropped, i can't understand what is problem over there. Basically i just set an Avatar for profile picture view and a text for name view. When its render first time its looks fine.

Code for ListItem render:

[code]

First time view:

![capture3](https://user-images.githubusercontent.com/26165120/30683218-24dc9116-9eca-11e7-8355-15de364e9c6f.P

[2017-09-21 07:36] xavier-villelegier commented on #612
Hey @AvijitDutta95, is it on iOS or Android (or both) ? Which version of `react-native-elements` are you using ?

[2017-09-21 07:48] AvijitDutta95 commented on #612
@xavier-villelegier , this is only on Android (I implement it later on iOS).
and "react-native-elements": "^0.16.0",

[2017-09-21 08:04] xavier-villelegier commented on #612
@AvijitDutta95 What if you put `wrapperStyle={{ height: 70 }}` in your `ListItem` props ? You'll then have to change a bit the text position, but I think it solves cropped Avatar.

Btw RNE `0.17.0` was released this week 👌

[2017-09-21 08:14] AvijitDutta95 commented on #612
Thanks @xavier-villelegier , for your help, now it's works perfectly  👍

[2017-09-21 08:14] #612 closed

[2017-09-21 09:12] milon87 commented on #593
something like this. If a user clicks on an item, then it's expanded item will be shown.

![expandable_image](https://user-images.githubusercontent.com/3435314/30688031-e2ca7f30-9ede-11e7-831c-8bd0c8698ded.png)

[2017-09-21 23:17] h-marvin opened #613 "underlayColor does not respect borderRadius"
### Description

1. Explain what you did
Added a button with properties `borderRadius` set. I've also set the `borderRadius` on `containerViewStyle` and `buttonStyle`.

2. What you expected to happen
I expected the border radius to be applied, since the underlayColor property is pretty much useless otherwise when using in combination with a rounded button.

3. What actually happens
A rectangular c

[2017-09-22 07:56] xavier-villelegier commented on #613
Hey @h-marvin ✌️,

### Solution
The props you passed which are not in the documentation are passed to the `TouchableOpacity` component. This means that you can add a `style` props that will be passed.

Try to add this:

[code]

### Result
![img_eefb7b794bdf-1](https://user-images.githubusercontent.com/17592779/30734564-ff2ae168-9f7b-11e7-9cef-48cf408583f0.jpeg)

### Snack demo
[Here it is](https:/

[2017-09-22 11:57] h-marvin commented on #613
Thanks man! Much appreciated. 👌

[2017-09-23 01:51] newfylox commented on #407
I have this bug when using `Text` component from your library inside a `TouchableHighlight` component from *React-Native* library. Is it normal?

I'm using version `react-native-elements@0.17.0`.

Thanks.

[2017-09-23 23:06] lukecwilliams opened #614 "How to create multiline (text wrapping) ListItem"
I've tried many ways to get `title` or `subTitle` to wrap but have been unsuccessful (e.g. `flexGrow`, `containerStyle`...)  Long lines of text in title or subtitle always show an ellipsis instead of wrapping.

![image](https://user-images.githubusercontent.com/19214773/30777829-309a5960-a092-11e7-991f-1847cb83e46b.png)

I have some long text that I want to wrap so that it's all visible in the Lis

[2017-09-24 00:20] iRoachie commented on #614
The Text component lines work according to the `numberOfLines` prop. In our case you can use the `titleNumberOfLines` and `subtitleNumberOfLines`.

Here's an example of it. https://snack.expo.io/rJs0FdEjb

[2017-09-24 03:00] abdennour opened #615 "gesture swipe icons does not exist even it exists in directory"
<img width="974" alt="screen shot 2017-09-24 at 05 57 21" src="https://user-images.githubusercontent.com/1788384/30779051-4934c1bc-a0ed-11e7-8024-5b65c7228e2e.png">

`gesture-swipe-*` icons does not work . Seems you need a sync with dependency `react-native-vector-icons` .

[code]

[2017-09-24 04:22] iRoachie commented on #615
Thanks for this @abdennour. We just need to update our version of react-native-vector-icons. The icons you mentioned were released in version 4.3 (https://github.com/oblador/react-native-vector-icons/commit/7396399d3294f93a449a29ccc8fbfc5e58288624), and we're on version 4.2

[2017-09-24 04:35] #613 closed

[2017-09-24 04:41] #611 closed

[2017-09-24 05:17] iRoachie commented on #593
We don't offer that functionality built-in. However, you can try [react-native-collapsible](https://github.com/oblador/react-native-collapsible) which does that exact behaviour.

[2017-09-24 09:23] #593 closed

[2017-09-24 12:33] hellomarcoliver opened #618 "Title is not positioned below image as in docs example image – Card Component"
The title prop does not position itself below the image in the card component. This is unexpected and does not compare to the result shown in the official documentation: https://react-native-training.github.io/react-native-elements/API/card/

**My code:**
[code]

**Results in:**
Title to be center on top of image

**Version**
0.17.0

[2017-09-24 14:55] xavier-villelegier commented on #618
@hellomarcoliver Nice catch, I think the documentation is not up to date. 🤔

The title is supposed to appear on top of the card according to [the Card implementation](https://github.com/react-native-training/react-native-elements/blob/1f06e20e7742b87be696cf3921979afdfdd87315/src/card/Card.js#L55). You also have `featuredTitle` and `featuredSubtitle` to display some text above the image, but the on

[2017-09-24 16:10] hellomarcoliver commented on #618
Thanks for the quick response, Xavier.

[2017-09-24 16:10] #618 closed

[2017-09-24 19:03] sdotson commented on #426
@iRoachie , Feel free to go for it! I'd recommend taking a look at my closed PR for some background information.

[2017-09-25 08:29] Misiur commented on #584
Just to be clear, to restore absolute nature of the component, we just have to override `outerContainer` back with absolute positioning?

[2017-09-25 08:50] sw-yx opened #620 "Unable to resolve module @expo/react-native-vector-icons/Materiallcons"
### Description

1. Explain what you did

I ejected a CRNA project that had react-native-elements installed ([this project](https://github.com/sw-yx/crossbones#npm-run-eject)), npm installed and linked react native vector icons and then ran it with `react-native run-ios`.

2. What you expected to happen

it should launch nicely in ios simulator

3. What actually happens

error as follows:

[code]

[2017-09-25 11:26] iRoachie commented on #584
Yup, or you can just place it as your first item in the component tree

[2017-09-25 13:48] Uysim opened #621 "Can not make card to full width with the text is short"
When I have short text I can not make card to full width

[2017-09-25 16:57] xavier-villelegier commented on #621
Hey @Uysim, I think it's just a matter of styling. Can you please reproduce how you use the `Card` component on [Expo snack](https://snack.expo.io) and then I can play with it to help you ?

[2017-09-25 23:14] RafaRuiz commented on #503
I had to remove `libRNVectorIcons` from Build Phases and re-add it

[2017-09-26 01:23] MatthewG0 opened #622 "Cannot add multiple children to header"
### Description

According to the [documentation](https://react-native-training.github.io/react-native-elements/API/header/#header-with-custom-components-passed-in-as-children) you can add components passed in as children.

[code]

However this results in an error:

This is because [in the code](https://github.com/react-native-training/react-native-elements/blob/master/src/header/Header.js) the `p

[2017-09-26 08:24] pacozaa commented on #621
Screen shot and snippet code would do the job

[2017-09-26 08:26] pacozaa opened #623 "How to set Forminput multiline?"
I am trying to create textarea ui from Forminput multiline like this
[code]

It's not working

[2017-09-26 13:23] bulby97 commented on #623
<FormInput multiline />

[2017-09-26 13:26] bulby97 opened #624 "FormInput multiline exceeds size"
I have the following:

[code]

But for an unknown reason, the content exceeds the container.

![image](https://user-images.githubusercontent.com/3509412/30862655-1708b7aa-a2cf-11e7-846b-06480fb2c93f.png)

[2017-09-26 13:34] osiloke opened #625 "Buttons can't render, Ripple drawable is not availabile on android API <21"
### Description

1. Explain what you did
I used the button component in an android os < API 21
2. What you expected to happen
my app should run :)
3. What actually happens
app crashed complaining about Ripple not available in API < 21

Also please include the version of `react-native-elements` that you are using.
I'm using the master version, Latest commit 1f06e20

### Solution

Can you suggest a

[2017-09-26 13:54] iRoachie commented on #624
@bulby97 The formInput by default takes the width of the screen.

https://github.com/react-native-training/react-native-elements/blob/master/src/form/FormInput.js#L16

https://github.com/react-native-training/react-native-elements/blob/master/src/form/FormInput.js#L156

To override this behaviour you can pass in your own `inputStyle` with a `width: '100%'`

[2017-09-26 13:58] iRoachie commented on #625
Dup of #597

[2017-09-26 13:58] #625 closed

[2017-09-26 13:59] bulby97 commented on #624
Awesome thank you !
But it's a weird behaviour imho

[2017-09-26 13:59] #624 closed

[2017-09-26 14:00] iRoachie commented on #623
@pacozaa `multiline` and `numberOfLines` aren't from the style object. They are props of the [`TextInput` component](http://facebook.github.io/react-native/releases/0.48/docs/textinput.html#props).

Therefore you'll need to pass them in like @bulby97 suggested.

[2017-09-26 14:03] iRoachie commented on #624
Yea it is. Hopefully, in the future, it can be changed but right now percentages are only allowed in react-native v0.43 and above. So if we change it right now it'll break the code for others still on those versions. It will happen eventually though.

@Monte9 @xavier-villelegier

[2017-09-26 14:18] iRoachie commented on #622
Thanks for reporting @MatthewG0, will be in next release. Feel free to try out the next branch in the meantime

[2017-09-26 14:37] manideepcs024 commented on #157
but I have to update content dynamically i.e. tab icon and title on the basis of react store state.
for that I need some help. how can I connect state to tabicon or at approuter.

[2017-09-26 14:41] iRoachie commented on #597
Just merged in https://github.com/react-native-training/react-native-elements/pull/616/commits/d59711d6c25078a3f3088bfd81e03eb55221cdf1. Will be available next release

[2017-09-26 15:05] iRoachie commented on #549
Release in 0.17

[2017-09-26 15:05] #549 closed

[2017-09-26 15:32] mukeshkamboj commented on #538
Still not working for Android :-(. Please suggest.

[2017-09-26 15:43] iRoachie commented on #538
@mukeshkamboj It works perfectly. See example here https://snack.expo.io/B1YOBx_o-. The only thing is that the backgroundColor is transparent so it looks like it's not there

[2017-09-26 19:45] xavier-villelegier commented on #620
@sw-yx Mmh yeah that's weird, as you can see [here](https://github.com/react-native-training/react-native-elements/blob/32bf779930f928bf2a22658dcb9ca729535610d1/src/buttons/Button.js#L14) we're not using `expo/vector-icons` in the `Button.js` file pointed out by the error.

Can you go to
[code]

and tell us if there is any reference to `expo` in this file ?

[2017-09-27 00:22] mukeshkamboj commented on #538
@iRoachie Could you please share the package.json?

[2017-09-27 00:36] mukeshkamboj commented on #538
@iRoachie

Thanks for your active response. I solved it with steps mentioned in this [link](https://github.com/oblador/react-native-vector-icons#android).

[2017-09-27 02:51] pacozaa commented on #623
Thank you @iRoachie @bulby97
It wokrs :)

One more question,
How to get rid off an input line?

I try this, it doesn't work

[code]

[2017-09-27 03:06] sw-yx commented on #620
Hi Xavier, thanks so much for responding!!

no, there is no reference to `expo` there at all. i have uploaded this project [here](https://github.com/sw-yx/debugReactNativeElementsEjectedExpoBug) and this is ejected from my CRNA project [here](https://github.com/sw-yx/crossbones). I can replicate this when I eject from CRNA.

Any other ideas I can look into for you? I am getting this error when I r

[2017-09-27 03:27] chileap commented on #621
I also have faced the same issues. The Card is not full width when I add short text into it.

Here is my code:

`<Card
        image={image}
        overlayStyle={{opacity: 0}}>
`
     ` <Text style={styles.imageTitle}>
          {title}
        </Text>
`
`<Text style={styles.imageDescription}>
          {description}
        </Text>
`
`</Card>`

Style:

`const styles = StyleSheet.create({
  image

[2017-09-27 08:29] xavier-villelegier commented on #620
Maybe try to clean install all your modules 🤔

In your root dir:
[code]

If this doesn't work, try adding the module it is complaining about, but I feel like it is a bit dirty to add a module which you can't find any references of in your code... `npm install @expo/vector-icons --save`

[2017-09-27 09:47] bulby97 commented on #623
containerStyle={{
  borderBottomWidth: 0
}}

[2017-09-27 09:56] pacozaa commented on #623
@bulby97 doesn't work

[2017-09-27 11:41] bulby97 commented on #623
Are you sure ?

[code]

This removes the bottom line

[2017-09-27 12:41] iRoachie commented on #623
You’ll need to use the underlineColorAndroid prop on Android to hide the line

[2017-09-27 15:39] sw-yx commented on #620
hmm ok. i thought this might be a more germane problem to RNElements but it seems you are confident that this is ejectable without any expo references. thank you.

[2017-09-27 17:08] xavier-villelegier commented on #620
@sw-yx I have an ejected app running with RNE, but I kept ExpoKit. I think you've chosen the "I'd like a regular React Native project" during the detaching.

But yes you can use RNE without using Expo, so I'm quite confused that you get an error about that 🤔 If you have more clues do not hesitate !

[2017-09-27 23:59] Alewis103 opened #626 "readonly not working on rating components?"
Hey, so I noticed that on the rating component in RN elements the readonly prop doesn't work is there something I'm doing wrong. In other words, I'm still allowed to alter the rating even though I  set the readonly prop to true.  I provided a snack link below

https://snack.expo.io/r1b3qhKob

[2017-09-28 00:46] DonkeyTronKilla commented on #550
I am having the same problem and i've tracked it down to some difference in building and running using react-native init and using expo. The warning is only shown when building and running from native apps (using react-native init/run-ios). The following simple example works for me in expo without errors but throws the error reported in the original issue above. Can we re-open this or should I be

[2017-09-28 01:54] pacozaa commented on #623
@bulby97  I am sure but now I know why
 https://github.com/react-native-training/react-native-elements/blob/1f06e20e7742b87be696cf3921979afdfdd87315/src/form/FormInput.js#L142

is indicated for iOS only and I am working on android.

@iRoachie This works for me. Thank you
[code]

[2017-09-28 01:54] #623 closed

[2017-09-28 04:52] sw-yx commented on #620
give me a day to doublecheck and ill close the issue.

[2017-09-28 10:00] martinezguillaume commented on #626
In the new version 0.17.0, `readonly` prop works. Verify your react-native-elements version !

[2017-09-28 10:01] wayne1203 opened #627 "FormInput multiline not expand in Android"
I'm using 0.17.0.
It's work normally in iOS but Android I got some problem with it.
It will not expand the height of Input area when I enter new line.

I entered 3 lines in the input area, but I got 2 lines only.
![screenshot_2017-09-28-17-57-09](https://user-images.githubusercontent.com/8578341/30960841-d6199b5c-a476-11e7-8393-bb3ace36121c.png)

And here is my code..
[code]

[2017-09-28 11:36] martinezguillaume commented on #627
Thanks for the report, I'll check that 😘

[2017-09-28 15:22] gregbenner opened #628 "Button icon={false}"
Would be super cool to pass false or null and not get a rendered '?'

To help with wrapping the element and avoiding this
`export const CTAButton = ({
  icon,
}) =>
  icon ? (
    <Button
      onPress={onPress}
      icon={{ name: icon, size: 24, type: type }}
    />
  ) : (
    <Button
      onPress={onPress}
    />
  )
`

[2017-09-28 19:21] Alewis103 commented on #626
You hit the nail on the head with this, thank you !

[2017-09-28 19:21] #626 closed

[2017-09-29 08:00] xavier-villelegier commented on #628
@gregbenner Mmh maybe I don't get what you're trying to do, but you can pass `null` or `false`, the icon won't be rendered ! Check [this demo](https://snack.expo.io/rkdXT_ijZ).

[2017-09-29 19:31] jose920405 opened #629 "How ignore Deprecation warning"
I'm using `Side menu` because `DrawerNavigator` inside `react-navigation` don't have the functionality that i needed. But the warnings are really annoying. I wish I could hide them, is it possible?

![simulator_screen_shot_sep_29__2017__14 31 07](https://user-images.githubusercontent.com/12536184/31032757-ede9a798-a522-11e7-9451-ff76e803135f.png)

[2017-09-29 19:33] Monte9 commented on #624
Yeah, I rewrote `FormInput` -> `Input` component in v1. So it should def much better once that's out.

[2017-09-29 19:37] Monte9 commented on #157
Your best bet is to post this question on the RNRF repo. I haven't used the library recently, and so I can't give you a very accurate answer.

Also fyi, RNE has deprecated the dependency on`react-native-tab-bar` and we recommend using `react-navigation` instead. React Navigation also provides Tab Bar out of the box, so you should look into it and compare RNRF with React Navigation and see which on

[2017-09-29 19:41] Monte9 commented on #550
@DonkeyTronKilla thanks for the detailed explanation and code sample. I'll reopen this as it def seems to be a bug since it's causing an error with `react native init`. Let's try to fix this for the `v0.18` release in the next week or so.

[2017-09-29 19:53] Monte9 commented on #531
@barrymichaeldoyle please check out the Snack demo that @iRoachie put together above ^^. It demonstrates how to use the `selectedBackgroundColor` for the `ButtonGroup` component.

In short, here's how you would use it:

[code]

[2017-09-29 19:53] #531 closed

[2017-09-29 19:56] Monte9 commented on #531
Also @iRoachie I have added to the snack demo on the docs as well here: https://github.com/react-native-training/react-native-elements/commit/6328d6a3ee0d089481a0a664a3f0ab1e3103155a

That's something we should start doing more off. I know @xavier-villelegier creates a lot of snack demos's for issues, if we can add those all to the relevant component doc that would be great. 💯

[2017-09-29 20:14] iRoachie commented on #531
That's a brilliant idea! I just wish expo wouldn't take 5 mins to start 😆

[2017-09-29 20:14] Monte9 commented on #426
@xavier-villelegier can you address this as part of your `SearcBar v1` refactor? Thanks.

[2017-09-29 20:14] #426 closed

[2017-09-29 20:27] Monte9 commented on #621
You can set the width of your card using the `containerStyle` prop. Something like this would do the job: `containerStyle={{width: Dimensions.get('window').width - 20}}`

Also here's a snack demo you can play with and try different things out with the Card component: https://snack.expo.io/SJ3Sh73sb

[2017-09-29 20:38] Monte9 commented on #629
@jose920405 you can just add `console.disableYellowBox = true;` to your index.ios.js /index.android.js file and it should ignore all the yellowBox warnings.

<img width="821" alt="screen shot 2017-09-29 at 1 35 30 pm" src="https://user-images.githubusercontent.com/7840686/31035009-408e2a26-a51b-11e7-8cb3-49d78df37e04.png">

Although be advised that RNE is going to be removing the `Side menu` compo

[2017-09-29 20:38] #629 closed

[2017-09-29 21:32] LoganArnett opened #630 "Button.js sources for assign must be an object"
### Description

1. Upgrading dependencies in app
2. Everything to continue to work
3. Now have error: "In this environment the sources for assign MUST be an object."

The stack trace points to `Button.js:98:6`

Current `package.json`
[code]

Not sure how to approach this

[2017-09-29 21:42] chocobuckle commented on #135
I seem to be having this same bug in v0.17.0 ...'onPress' only working when I also include 'onLongPress'. Anyone else experiencing this again?

[2017-09-29 21:48] chocobuckle commented on #135
In fact, even if I remove 'onPress' and just include 'onLongPress' then the latter is behaving the same as 'onPress' - the event is triggered whether I do a normal press or a long press.

[2017-09-30 01:40] raduflp commented on #538
for me the issue persisted on Android for v0.17.0, the InputValue was not displayed and with `hideChevron={true}` the ListItem height was smaller than the rest.  Adding `textInputStyle={{ paddingTop: 0, paddingBottom: 0, marginVertical: 3.5}}` solved the issue for me

[2017-09-30 02:29] raduflp opened #631 "ListItem textInputAutoCapitalize wrong propType"
ListItem textInputAutoCapitalize has a propType inconsistent with [TextInput autoCapitalize](https://facebook.github.io/react-native/docs/textinput.html#autocapitalize)

if you pass a bool value to textInputAutoCapitalize  => TextInput throws a warning
if you pass a string value to textInputAutoCapitalize  => ListItem throws a warning

in ListItem.propTypes we should have
`textInputAutoCapitalize:

[2017-10-02 09:12] ianlenehan commented on #630
I dropped back to v0.16.0 which stopped the error. I don't know if it's related to `iconRight` needing to be an object, which is mentioned as a breaking change. I'd try that but I'm not sure what that's supposed to look like.

[2017-10-02 14:39] chengsieuly commented on #630
source code snippet for button.jsx
[code]

Based on the logic for composing the right icon, `rightIcon` or `iconRight` needs to be an object. Under the hood, it's trying to assign the Icon object with extra key/values so you will receive that error if you try to destructure let's say a string. So, if you upgrade to latest and use object instead, and you see your icon render and receive no error, t

[2017-10-02 14:53] RockinRonE opened #633 "No such file or directory...opencollective.js"
### Description

In a new Expo project I installed react native elements like so `npm i --save react-native-elements` and the installation failed.

![screen shot 2017-10-02 at 9 49 10 am](https://user-images.githubusercontent.com/8163241/31083381-2a1c6332-a757-11e7-8772-f50846b62a6b.png)

It's a new project, so I'm not sure what would be causing this.

[2017-10-02 14:55] iRoachie commented on #633
@xavier-villelegier Can you check this out?

[2017-10-02 15:05] prabhu commented on #633
I am happy to donate $100 or £100 today if you can remove that useless open collective message and avoid breaking every users of your library.

[2017-10-02 15:05] iRoachie commented on #633
Will look into this immediately

[2017-10-02 15:43] iRoachie commented on #633
Update guys. A temporary fix was made. Just waiting on the core maintainer to publish a new version in about 15-20 minutes. In the meantime, you can use the version directly from master.

`npm i https://github.com/react-native-training/react-native-elements.git --save`

[2017-10-02 15:48] pirosoft commented on #633
with npm i https://github.com/react-native-training/react-native-elements.git --save
give me the same error
![cattura](https://user-images.githubusercontent.com/3637374/31086330-d77081b6-a799-11e7-9d4d-a7a0151d1d3c.JPG)

[2017-10-02 15:51] prabhu commented on #633
Can you use 1.0.3 and remove the caret symbol in package.json please.

[2017-10-02 15:55] iRoachie commented on #633
That's likely a local cache issue @pirosoft I just made a new project and run the above command. Try removing your node_modules, package.lock, yarn.lock and try again

[2017-10-02 15:59] prabhu commented on #633
They have [unpublished](https://github.com/opencollective/opencollective-cli/issues/3#issuecomment-333577821) 1.0.4. This drama is now over unless opencollective pushes another broken build. In any case, it goes to show how vulnerable all major packages including storybook and yours are. Why are these not optionalDependencies?

[2017-10-02 16:19] iRoachie commented on #633
Sorry guys had to experience this. Will look into the future at better ways of dealing with external dependencies.

Closing this as external and resolved with the unpublish of 1.0.4 of opencollective.

[2017-10-02 16:19] #633 closed

[2017-10-02 16:20] pirosoft commented on #633
my packahe.json file:
{
  "name": "swipe",
  "version": "0.0.0",
  "description": "Hello Expo!",
  "author": null,
  "private": true,
  "main": "node_modules/expo/AppEntry.js",
  "dependencies": {
    "expo": "^21.0.0",
    "react": "16.0.0-alpha.12",
    "react-native": "https://github.com/expo/react-native/archive/sdk-21.0.2.tar.gz"
  }
}

i remove  node_modules, "npm cache clear" after "npm ins

[2017-10-02 16:22] iRoachie commented on #633
@pirosoft The problem was with the opencollective dependency that we were using. The owner of the library has then since removed the bugged version of the library, so everything should be as normal now.

For more information, you can follow the issue [here](https://github.com/opencollective/opencollective-cli/issues/3#issuecomment-333577821)

[2017-10-02 16:32] Monte9 commented on #633
@iRoachie thanks for jumping on this and helping triage it quickly. 💯

@prabhu feel free to donate at our open collective here: https://opencollective.com/react-native-elements

[2017-10-03 14:18] rainbowhat opened #636 "Problem with Card style"
<Card
			  title={item.title}
			  imageStyle = {{}}
			  image={{uri: 'IMAGE URL HERE'}}>

			</Card>

The picture is darker. It seems like something dark is covering it , the original images source is bright. Once i add it into Card's image , it's darker now

[2017-10-03 14:58] aekold commented on #423
@filiphosko @Monte9 Hi, I still have the problem with the latest 0.17.0 release. The fix #331 is not in the release I don't know why.

[2017-10-03 17:48] xavier-villelegier commented on #636
Thank's for reporting this @rainbowhat  ! The fix should be in the next release. 👌

[2017-10-03 21:10] ckim16 opened #638 "Disabled FormInput"
Hi,

Is there a way to disable `FormInput`? I don't think I see it in the docs. If there is not, would it be a good idea to have that implementation?

Currently, I set `value` in `FormInput` props but I am still able to delete it and the value gets reset to original value.

Just a little thought that I believe it will help improve this library...

[2017-10-04 00:02] ckim16 opened #639 "Centered an icon for a button component"
Hi all,

First of all, I was going through the docs to figure out how to center an icon inside of a button without a title and, to me, this seems kind of confusing.
<img width="731" alt="screen shot 2017-10-03 at 4 52 27 pm" src="https://user-images.githubusercontent.com/15335445/31154367-7be7b716-a85b-11e7-8380-fe2061acfed7.png">
So when I was looking at the `title` props, default is `none` but i

[2017-10-04 08:37] OrDuan opened #640 "White square on Header icon press"
### Description

1. Explain what you did
**I'm using the `Header` component with an icon on the right on android, when pressing(without releasing the button's icon becomes a white square.**

![imageedit_3_7874997321](https://user-images.githubusercontent.com/5006049/31166709-4bea68c2-a8f8-11e7-9ba1-30d7f2e35054.jpg)

2. What you expected to happen - **The icon shouldn't change on pressing**

Also

[2017-10-04 09:51] fabm22 commented on #582
Thanks for your answer (and sorry for my late one too).

So I get that for point 1. RNE is indeed a perfect fit.

For point 2 of using also the same codebase on web, my best bet, if using RNE for native side is to NOT use RNE for the ui templates side of the code and replace it with something else.
-> So maybe you know of some react web ui library which would maybe follow similar principles as RNE

[2017-10-04 10:14] xavier-villelegier commented on #638
Hey @ckim16 👋
All the props you pass to `FormInput` are passed to the `TextInput` of React Native.
You can use the [`editable`](https://facebook.github.io/react-native/docs/textinput.html#editable) props to simulate a disabled `FormInput`.
Here is [a quick example](https://snack.expo.io/HJ6yEVM2Z) that can be improved playing with styles.

[2017-10-04 10:17] xavier-villelegier commented on #639
Hi @ckim16, why not using the [Icon component](https://react-native-training.github.io/react-native-elements/API/icons/) if you don't need any `title` ?

[2017-10-04 14:23] LoganArnett commented on #630
Interesting, I also was able to drop back to xcode 8 and it worked without making any other changes, not sure why

[2017-10-04 14:23] #630 closed

[2017-10-04 16:06] ckim16 commented on #639
@xavier-villelegier Yes, this is exactly what I need. I really appreciate it. But still, the docs say that an icon inside of a button component can be centered if there is no title and I was stuck with that part. Respectfully, that may need to be reviewed.
<img width="690" alt="screen shot 2017-10-04 at 9 04 52 am" src="https://user-images.githubusercontent.com/15335445/31186302-215b68f0-a8e3-11e7

[2017-10-04 19:03] xavier-villelegier commented on #639
Yep you're right, this is confusing. In the `v1` the `Button` will be much more simple and hopefully the documentation too !

[2017-10-05 14:18] xavier-villelegier commented on #640
Hey @OrDuan
You need to set the `underlayColor` of the touchable view used behind the scenes

You can do this:
- using an object as you did:

[code]
- or using the `Icon` component`, which is the way RNE is going to prioritize in the future:

[code]

Here is a [snack demo](https://snack.expo.io/r1rkkaQnW) ✌️

[2017-10-06 06:30] ifiokjr commented on #302
Can we add the types directly into this project?

I can submit a PR for it.

[2017-10-06 07:20] tundak opened #642 "[server error] Cannot load the stats for react-native-elements – please try again later"
[server error] Cannot load the stats for react-native-elements – please try again later

                   Thanks for installing react-native-elements
                 Please consider donating to our open collective
                        to help us maintain this package.

      Donate: https://opencollective.com/react-native-elements/donate

[2017-10-06 10:18] xavier-villelegier commented on #642
@tundak What did you do to have this error ?
I don't have it by installing RNE on a fresh new app.
[code]

[2017-10-06 10:24] tundak commented on #642
I am working with existing project:

package.json
[code]

[2017-10-06 11:16] xavier-villelegier commented on #642
@tundak The error occurs during the `npm i react-native-elements` ? If it is related to the open collective script and you still can use RNE in your app I think you can ignore it

[2017-10-06 11:54] iRoachie commented on #302
Lol I guess we could. Me being maintainer and all

[2017-10-06 13:30] NunoCardoso commented on #331
I am having this issue, and I am with the 0.17 version.

[2017-10-08 04:22] camux commented on #327
I fixed on this way:

`        <View style={styles.image_view}>
          <Avatar
            large
            rounded
            source={{uri: 'my_image'}}
          </Avatar>
        </View>`

`  image_view: {
    alignItems: 'center',
    marginTop: 10,
    marginBottom: 10,
  },`

[2017-10-08 15:53] timscott commented on #597
This works as a hack:

[code]

[2017-10-09 17:40] NimaSoroush opened #644 "Add support for Telegram social icon"
Would that be possible to add support for [Telegram](https://telegram.org/) as social network icon?

[2017-10-10 07:28] agent3bood opened #645 "SearchBar inside header title"
### Description
I want to add SearchBar component as a headerTitle for react-navigation

1. Explain what you did
see snack
2. What you expected to happen
Search bar will take full width of the header
3. What actually happens
SearchBar is shrinked even if I change the width in headerTitle or headerStyle

Also please include the version of `react-native-elements` that you are using.
"react-native-el

[2017-10-10 07:33] agent3bood commented on #645
Also same problem when using it with Header component
https://snack.expo.io/BJlnvx52b

[2017-10-10 11:07] raduflp opened #646 "[Icon] Add support for Feather Icons"
Add support for recently added Feather icons in react-native-vector-icons@4.4.2

as expected, at the moment trying to use `type='feather'` falls back to material icons

[2017-10-10 15:23] iRoachie commented on #646
Merged. Will be available next release

[2017-10-11 17:10] YulianD commented on #460
I have the same problem, in expo normal runs, but when I start it on my Smarthphone does not call the function and also sell this message in the console `please attach method to this component`

[2017-10-11 17:50] YulianD opened #649 "SocialIcon OnPress does not work when Debug JS Remotely is enabled"
### Description

Hi everyone, I have the following problem with **SocialIcon**: When I enable **Debug JS Remotely**, the OnPress option stops working and throws the following message:

![please attach](https://user-images.githubusercontent.com/11492518/31457210-b3d5ddc0-ae81-11e7-8094-42747db383f0.PNG)

I've run the app on several phones and it all happens the same.

these are my dependencies

[2017-10-11 22:56] davebro commented on #38
@rockus123 Huh?? Why are you even here lol? People probably said the same thing during the Industrial Revolution...and uh...now I have a MacBook Pro. So.....

[2017-10-12 00:10] btav commented on #649
Hi @YulianD,

I quickly reviewed the code and it seems like if you don't pass in a `onLongPress` value, you will see that console log message. Try passing the same function as `onPress` into `onLongPress`.

[2017-10-12 09:49] giacomocerquone opened #650 "Need to add "loading" prop to button in the API documentation"
Hi, based on https://github.com/react-native-training/react-native-elements/pull/62 these props should be added to the online docs:

[code]

(Pay attention to loadingRight, that's the correct one, the author made a mistake writing them)

I'd have changed it by myself in the gh-pages branch, but I think you're generating those pages from a markdown source that is not available here.

[2017-10-12 14:27] iRoachie commented on #650
Hey, the website is generated from the markdown files in the docs folder. Those are the files to edit if you want to send a PR to fix.

[2017-10-12 14:31] giacomocerquone commented on #650
I see, perfect! I'll send it in a hour :)

[2017-10-12 15:42] iRoachie commented on #644
Hey @NimaSoroush our icons come from the react-native-vector-icons package. If there's an icon you want that they don't have, feel free to reach out at their repo.

[2017-10-12 15:43] #639 closed

[2017-10-12 15:44] #642 closed

[2017-10-12 15:47] NimaSoroush commented on #644
Awesome, I should have figured it out by myself. Thanks @iRoachie, will raise it with them

[2017-10-12 15:47] #644 closed

[2017-10-12 18:36] phantoxe opened #652 "My button icons are not showing up. What appears is a small box with an X in the middle."
import { Button } from 'react-native-elements'

<Button
  raised
  icon={{name: 'cached'}}
  title='BUTTON WITH ICON' />

It is very simple right? Can u help me?

Thanks folks

[2017-10-12 18:39] iRoachie commented on #652
No problem here.
![simulator screen shot - iphone 6 - 2017-10-12 at 14 38 03](https://user-images.githubusercontent.com/5962998/31513042-f8b7dc8e-af5a-11e7-8fea-dc07723fbdf4.png)

Make sure you link react-native-vector-icons if you're on the default react-native-cli project.  https://github.com/react-native-training/react-native-elements/blob/master/default_installation.md

[2017-10-12 18:41] phantoxe commented on #535
@xavier-villelegier can u help me a litle bit? I am using your button code sample... and my FONT AWESOME ICON is not showing up. Appears a litle box with X in the place of icon. can u help me?

[2017-10-12 18:46] phantoxe commented on #652
I already install the icon-vectors...

@iRoachie i need import something in my file? Thanks for your attetion?

[2017-10-12 18:48] iRoachie commented on #652
Okay did you **link** it as well? `react-native link react-native-vector-icons`.

After doing that you have to rebuild the app. `react-native run-ios` or `react-native run-android`

[2017-10-12 18:55] xavier-villelegier commented on #535
@phantoxe FontAwesome should work if you do the same as [this snack demo](https://snack.expo.io/Sk-yqN62-). If it still doesn't work, make sure you have linked with `react-native-vector-icons` as it is specified [here](https://github.com/react-native-training/react-native-elements/blob/master/default_installation.md#step-1-install-react-native-vector-icons)

[2017-10-12 18:56] phantoxe commented on #652
@iRoachie thanks man... works perfect... and i have one more question if you can help me... check the image below... i want put a marginTop in my button... but now it is showing up the WHITE BACKGROUND... weird... :-(

containerViewStyle={{borderRadius:25, marginTop:10}}
buttonStyle={{borderRadius:25, marginTop:10}}

How can i do this? without this background wierd...

![whatsapp image 2017-10-12

[2017-10-12 19:02] phantoxe commented on #535
@xavier-villelegier this LINK was the problem man... my friend... i have one more question if u can help me check the image below... i want put a litle marginTop in my button... but now it is showing up a whitebackground weird... Do you know whay? Thanks buddy

containerViewStyle={{borderRadius:25, marginTop:10}}
buttonStyle={{borderRadius:25, marginTop:10}}

![whatsapp image 2017-10-12 at 15 53 5

[2017-10-12 19:08] iRoachie commented on #652
What version of react-native-elements are you on?

[2017-10-12 19:23] xavier-villelegier commented on #535
@phantoxe You're applying a `marginTop` on the container **plus** a `marginTop` on the button which is already inside the container. A margin on the outer component (the container) should be enough. Try doing this

[code]

[2017-10-12 19:45] phantoxe opened #653 "How Can i Change the FormLabel color?"
Hi Folks... i put this Style in my FormLabel... but is not working...

<FormLabel
              containerViewStyle={{color: '#fff'}}
              labelStyle={{color: '#fff'}}

              </FormLabel>

I received a WARNING message "Failed prop.type: Invalid props.style.key" color supplied to View...

What i did wrong please?

[2017-10-12 19:47] #653 closed

[2017-10-12 19:48] #652 closed

[2017-10-12 19:59] iRoachie commented on #649
Hey, I created a replica project with your code, and I'm unable to reproduce the error. You can see a video I did here with the exact setup.

https://www.useloom.com/share/7535b7955e514b398b13e503b6a0bf09

[2017-10-12 20:01] iRoachie commented on #548
Closing this as inactive. If the problem re-occurs on the latest version of react-native-elements then ping me to reopen.
Thanks.

[2017-10-12 20:01] #548 closed

[2017-10-12 20:03] iRoachie commented on #536
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-10-12 20:05] iRoachie commented on #586
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-10-12 20:05] #586 closed

[2017-10-12 20:29] iRoachie commented on #550
Should be fixed in the next release

[2017-10-12 20:30] iRoachie commented on #559
Closing this as external and inactive as there's been no activity for over 30 days.

[2017-10-12 20:30] #559 closed

[2017-10-12 20:31] iRoachie commented on #577
Closing this as inactive as there's been no activity for over 30 days. If the issue is not resolved on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-10-12 20:31] #577 closed

[2017-10-12 22:31] YulianD commented on #649
@iRoachie hello, I forgot to mention that the problem persists in Android. and @btav is obligatory pass a value in onPress, because when i use Button from 'react-native', the problem is not present

[2017-10-12 23:28] foobar8675 commented on #620
i am getting the same error using `react-native init`

[2017-10-13 13:10] camux commented on #253
I would add this
[(https://github.com/toystars/react-native-multiple-select)]
 is very flexible

[2017-10-13 13:15] sw-yx commented on #620
funny how cleaning node modules is often the first answer on stackoverflow and github and also doesnt fix the issue 90% of the time...

i never fixed this and just ended up using something else instead. sorry i forgot to close the issue.

[2017-10-13 13:15] #620 closed

[2017-10-13 13:20] iRoachie commented on #620
@sw-yx Sorry you didn't get it fixed. Mobile development is hard, in the fact that almost the entire developer experience is dependent upon if the local environment is set up just right. We couldn't replicate the issue with either expo or react-native-cli, so it's pretty hard to find the problem.

Happy coding ✌🏽

[2017-10-13 15:39] sw-yx commented on #620
no worries at all, thats why you guys exist!!

[2017-10-13 18:32] igorbrandao opened #654 "Pesky white line below <Header />"
### Description

#### _What I did?_

Used the `<Header>` component with the following:

**PROPS**:
[code]

**STYLES**:
[code]

#### _What I expected to happen?_

The component to have the styles I defined and be like the screenshot in the [docs](https://react-native-training.github.io/react-native-elements/API/header/)

#### _What actually happens_

This white line appears underneath the component

[2017-10-14 03:12] vanlong2712 opened #655 "how to make title or other elements below the header elements"
![image](https://user-images.githubusercontent.com/21197310/31572102-51ddd610-b0c8-11e7-8252-532cdb335653.png)

[code]

[2017-10-15 23:10] seltsamonkel commented on #654
That looks like the border of the outer container.
Could you try setting the borderBottomWidth:0 for headerOuterContainer?

[2017-10-16 09:17] edisonywh opened #656 "Slider is laggy"
### Description

**1. Explain what you did**

Implemented a slider to set a value.

**2. What you expected to happen**

Expect it to work perfectly (smoothly, value changes)

**3. What actually happens**

Value does change, but it's super laggy.

### Steps I took:

- Tested out on both iOS 11 and Android 8.0, and the slider is lagging.
- I tried out a couple other libraries for the slider
- Switch

[2017-10-16 12:35] igorbrandao commented on #654
Yes, it worked! The solution was so simple/obvious... I guess I didn't try `borderBottomWidth` because I couldn't see in it the element inspector, so I thought it was some `:after` or a divider of some kind...

Thank you.

[2017-10-16 12:35] #654 closed

[2017-10-16 18:51] golestanirad opened #657 "the top part of the image that i loaded for the Card is missing"
please have a look at
https://stackoverflow.com/questions/46775797/the-top-part-of-the-image-that-i-loaded-for-the-card-is-missing

p.s.
this is my package.json:

[code]

[2017-10-17 07:31] spyworldxp opened #658 "ListItem rightIcons render chinese character instead of icons"
### Description
`react-native-elements` v0.17

The right icons become like chinese character. Even I try apply ionic icons,  it will show other similar chinese character.

![missing](http://storage.imclement.com/react-native/galaxy-missing-icons.png)

This is my sample code.
[code]

[2017-10-17 23:23] Nickersoft opened #659 "Potential issue with font size normalization on Google Pixel"
### Description

**1. Explain what you did**
I ported over the font size normalization code for this library to my own app.

**2. What you expected to happen**
Correctly normalize my fonts on iOS and Android

**3. What actually happens**
iOS is fine, running on my device (2016 Google Pixel) results in impossibly small font sizes.

**Also please include the version of `react-native-elements` that y

[2017-10-18 09:39] antoinema commented on #655
You need to use `marginTop` to move your content down. You can have a look at this discussion https://github.com/react-native-training/react-native-elements/issues/568#issuecomment-330585188 to understand why

[2017-10-18 20:42] joannaKasinska commented on #536
I have same problem:
`
"react": "16.0.0-beta.5",
"react-native": "0.49.3",
"chai": "^4.1.2",
"enzyme": "^2.9.1",
"mocha": "^4.0.1",
`
Has anyone solved the problem?

[2017-10-18 20:47] chrise86 commented on #549
I'm having difficulty getting this to work. I have this in my `package.json`:
[code]
The font file for `icomoon` live in `app/assets/fonts/icomoon`. I have also manually added the `ttf` to the resources in Xcode.

Then I am using:
[code]
However, when using:
[code]
I get:
[code]

[2017-10-18 22:01] tcaraccia opened #660 "Help Wanted Styling Card"
I cannot get card component header to cover full card width.

Im trying to achieve something like this, meaning the light green covering the full cards with.
![img_91ae7054b012-1](https://user-images.githubusercontent.com/2538504/31744781-a300f90c-b436-11e7-8574-3982b1b336cf.jpeg)

[2017-10-19 03:20] AlmogRnD commented on #545
@Monte9 when you have a chance can you send me an email to almog@constructioncloud.com.au were looking at hiring a freelancer react native developer to develop a couple custom components for us. Thanks, Almog

[2017-10-19 04:33] idws commented on #480
is there any updates about this issue?

[2017-10-19 08:14] xavier-villelegier commented on #660
Hey @tcaraccia !
[Here is](https://snack.expo.io/HkL1CABpb) a simple example. Let me know if it fits to your use case. ✌️

[2017-10-19 08:16] xavier-villelegier commented on #658
@spyworldxp If you don't use Expo, please make sure you have linked `react-native-vector-icons` as it is specified [here](https://github.com/react-native-training/react-native-elements/blob/master/default_installation.md).

[2017-10-19 10:41] tcaraccia commented on #660
Works like a charm! Thanks so much

[2017-10-19 12:01] xavier-villelegier commented on #657
@golestanirad This is not a `react-native-elements` issue. The `Image` component of React Native doesn't handle automatic sizing, as it is specified [in the RN doc](https://facebook.github.io/react-native/docs/images.html#why-not-automatically-size-everything) 😕
You can still update the height dynamically once the Image is loaded with
[code]
You then have to do some mathematical stuff to find the

[2017-10-20 09:49] ogelacinyc opened #663 "ListItem rightTitle propType should be PropTypes.any(or object) instead of PropTypes.string"
### Description

I'm not a expert of React and RN, so It could be my mistake.

If it isn't a bug or a issue, close this issue please.

When using nested Text components for the rightTitle prop of ListItem, I get a PropTypes warning because it expects only a string. The underlying TextElement component allows its children to be PropTypes.any, so shouldn't the ListItem allow rightTitle to be PropTyp

[2017-10-20 10:01] #660 closed

[2017-10-20 11:31] ignatiusbill opened #664 "List View doesn't show List Item properly"
### Description

1. Explain what you did

I have an array of Strings like this
[code]

and render it like so
[code]
Note: the above code is wrapped around View tags.

2. What you expected to happen

I expected the code to show a list view with the titles on there.

3. What actually happens

[Screenshot of what actually happens.](https://lh4.googleusercontent.com/9lsblTezlq9VQ5ckxuOaKuw3C_uUFvCJDwS

[2017-10-20 14:34] iRoachie commented on #664
Remove the `alignItems: 'center'`, and `justifyContent: 'center'` on the container style

[2017-10-20 19:41] ignatiusbill commented on #664
That fixed it. Thanks @iRoachie !

[2017-10-20 19:41] #664 closed

[2017-10-21 12:29] spyworldxp commented on #658
@xavier-villelegier I should recompile the APK first. This will solve my problem.

[2017-10-21 12:29] #658 closed

[2017-10-21 20:34] jpca999 commented on #433
I get the same error message.

[2017-10-21 23:17] Joshuabaker2 opened #665 "SelectionColor for for Search somehow made it back into master"
There was a bug fix a while back https://github.com/react-native-training/react-native-elements/commit/3a8eea8ee3a20a51d7820ee57665d189a4e31642 that solved the issue of Expo having specific settings for the SearchInput which would cause issues when trying to use the SearchBar component on Android. There was a regression somewhere along the way that caused it to be re-introduced into the code, so t

[2017-10-21 23:37] iRoachie commented on #665
Sorry about that! Merging back that in now

[2017-10-23 08:42] shahabvshahabi1996 opened #667 "react-native-elemets sidemun only half screen navigates"
this is my side menu code and i always get the same result
`import React, { Component } from 'react';
import PropTypes from 'prop-types';
import {Text,View,Image,StyleSheet,ScrollView,Dimensions,TouchableOpacity,Animated } from 'react-native';
import { LinearGradient, Font } from 'expo';
import MainPageToolBar from './mainPageToolbar';
import LinearGradientButton from './LinearGradientButton';
imp

[2017-10-23 13:13] xavier-villelegier commented on #667
Hey @shahabvshahabi1996,

As you can see, the SideMenu has been deprecated and will be removed, so I advise you to not use it. I think you should use a [Drawer](https://reactnavigation.org/docs/navigators/drawer) from `react-navigation` instead.

Moreover, I see that everywhere you use `width` and `height` from `Dimensions.get('window')`. This gives you `width` and `height` of your screen, so your

[2017-10-23 13:16] xavier-villelegier commented on #657
@golestanirad Feel free to reopen this issue if you think that the RNE `Card` causes some issues with the `Image`.

[2017-10-23 13:16] #657 closed

[2017-10-23 13:26] shahabvshahabi1996 commented on #667
i tested it and it is not related with `Dimensions.get('window')`

[2017-10-23 13:27] shahabvshahabi1996 commented on #667
but for more info i used Drawer too but it has the same problem

[2017-10-23 14:17] xavier-villelegier commented on #667
You're not using `react-native-elements` then ? 🤔 It is more likely a styling issue

[2017-10-23 14:42] xavier-villelegier commented on #645
@agent3bood Sorry for the delay. You can use the `header` props from `react-navigation`.
You can have a look at [this example](https://snack.expo.io/H16d0uipb).

[2017-10-23 17:24] shahabvshahabi1996 commented on #667
no i use react-native-elements now i tested with no styles and get the same problem
witch styling issue do you suspected ..???

[2017-10-23 20:41] xavier-villelegier commented on #667
I don't see any RNE component in the code you provided. I think that you're using the dimensions of the screen somewhere, and it makes the view larger than the drawer. Though, it is not really readable with half of the code… I see that you're using `expo`, if you could import your code and reproduce the issue on [Expo snack](https://snack.expo.io/), it could be muuuuch more simple for us to help y

[2017-10-23 21:04] guofoo opened #668 "Tile: Warning: Failed prop type: Invalid props.style key 'resizeMode' supplied to 'View'"
### Description

Using Tile component results in the following warning message every time. I did some search and found this #471. This fix is causing the warning message since react-native removed support 'resizeMode' in style around v0.46: [react-native issue #14915](https://github.com/facebook/react-native/issues/14915)
The fix is to move it to the new imageStyle prop.

Here's the warning messag

[2017-10-24 00:48] iRoachie commented on #649
@YulianD I did the same example on android as you can see here https://www.useloom.com/share/8e53deb34c3443d58b05e727105889cd. Still no errors or warnings.

[2017-10-24 01:45] iRoachie commented on #582
I work with react web at work too, so I can recommend [material-ui](https://material-ui-next.com) as we use it heavily at work. There are some other libs out there too that have built in react components

[2017-10-24 01:45] #582 closed

[2017-10-24 01:46] iRoachie commented on #578
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-10-24 01:46] #578 closed

[2017-10-24 01:48] iRoachie commented on #601
Closing this as inactive as there's been no activity for over 30 days. If the problem re-occurs on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-10-24 01:48] #601 closed

[2017-10-24 01:49] iRoachie commented on #614
Closing this as inactive as there's been no activity for over 30 days. If the example provided didn't work for you on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-10-24 01:49] #614 closed

[2017-10-24 01:50] iRoachie commented on #627
Closing this as external, as there's no way for us to act on this.

[2017-10-24 01:50] #627 closed

[2017-10-24 01:52] iRoachie commented on #655
Hey @vanlong2712 a fix will be released in the next version that makes the header work as you would expect and items will go beneath instead of overlap. Feel free to use the `next` branch in the meantime.

[2017-10-24 13:21] cipriancaba commented on #649
I'm experiencing the same problem with any `onPress` handler.. If I stop the debugger the buttons start working..

[2017-10-24 13:53] magnusros opened #670 "Crash on Android production (no issue for debug)"
View.propTypes.style need to change to ViewPropTypes.style

[2017-10-24 14:03] iRoachie commented on #670
What file are you seeing this error from? We already changed all references to View.propTypes. What version of react-native-elements are you on?

[2017-10-24 15:29] 6axter82 commented on #522
Hi, I am getting problems with setting the Text style of the groupButtons.
I am using react-native 0.49.3
and react-native-elements 0.17.0

[code]
....

[code]
![screen shot 2017-10-24 at 17 23 58](https://user-images.githubusercontent.com/13738101/31952134-2971d710-b8e0-11e7-9e62-034a643eb37a.png)

If someone has a hint? I would really appreciate it a lot!

[2017-10-24 15:34] iRoachie commented on #522
Hey @6axter82 would be better for you to create a new issue detailing your problem

[2017-10-24 17:24] lukecwilliams commented on #614
Yes, it did work - sorry for not responding.  Thanks!

[2017-10-25 11:38] 6axter82 opened #672 "Can't set styles for the text in groupButtons"
Hi, I am getting problems with setting the Text style of the groupButtons.
I am using react-native 0.49.3
and react-native-elements 0.17.0

[code]
....

[code]
![screen shot 2017-10-24 at 17 23 58](https://user-images.githubusercontent.com/13738101/31952134-2971d710-b8e0-11e7-9e62-034a643eb37a.png)

If someone has a hint? I would really appreciate it a lot!

[2017-10-25 11:39] 6axter82 commented on #522
@iRoachie thx, did just now

[2017-10-25 12:04] iRoachie commented on #672
Hey @6axter82, the `textStyle` property only works if you pass in your buttons as an array of strings. e.g. `['Tab1' ,'Tab2]` https://react-native-training.github.io/react-native-elements/API/button_group/.

If you pass in your own components as in your example `<Text>`, then you have to provide your own styling to the components.

E.g `const component1 = () => <Text style={myTextStyle}>A</Text>;`

[2017-10-25 14:55] 6axter82 commented on #672
alright, I got it, thanks it works perfectly now.

[2017-10-25 14:55] #672 closed

[2017-10-25 18:14] ZeroSoulEater opened #673 "Button support children"
Button should display child components!

for example I made an component witch displays a rotating Icon and like to have it set as the value for a a time

[2017-10-26 01:24] jayeszee commented on #670
![image](https://user-images.githubusercontent.com/10326244/32030712-b6acc6f4-b9b1-11e7-9fb5-fd11672e2998.png)
i believe your card file still uses it?

[2017-10-26 01:26] jayeszee commented on #670
Also, it seems like your bundle still has references to it.
![image](https://user-images.githubusercontent.com/10326244/32030754-0680671c-b9b2-11e7-8b76-61ce94b6a5a3.png)

[2017-10-26 07:02] Ali-Dalal opened #674 "Any idea to add icon inside avatar ?"
Is there any idea how to add an icon to indicate that this avatar is editable ?
I tried to add <Icon> inside <Avatar> but nothing shown, The same flow works perfectly if I add an Icon inside image tage

Cheers!!

[2017-10-26 12:01] xavier-villelegier commented on #674
Hey @Ali-Dalal
You could do something [like this](https://snack.expo.io/BkxNCrJCW).

**Result**
![image](https://user-images.githubusercontent.com/17592779/32051739-1dc66292-ba56-11e7-9c12-7d5a0219f96d.png)

The idea is just to add an `Icon` with `position: 'absolute'` styling 👍

[2017-10-26 17:12] jayeszee commented on #670
@iRoachie https://github.com/react-native-training/react-native-elements/pull/676 I made a quick pr to account for this. I know your contributing guide expects it to be in the next branch but this is a pretty critical issue and we should push 0.17.1 at least before 18. Thanks

[2017-10-27 01:46] Ali-Dalal commented on #674
@xavier-villelegier
Thank for your replay

I tried this approach. The problem is on different screen size, The icon won't set in the same position on every screen

[2017-10-27 02:28] #674 closed

[2017-10-27 04:38] hoanganhbk94 commented on #503
@kmcgill88 Thanks :))

[2017-10-27 08:13] ZeroSoulEater opened #677 "Header doesn't behave right?"
this is the component
[code]
Header is rendert like its not on the screen (you can see it as long flatlist doesn't have a background color) my Flatlist is always a layer over the Header and if i put a button in the Header to switch a view back i can't click it because my list in the foreground.

[2017-10-27 08:18] ZeroSoulEater opened #678 "Backer/Sponsor links don't work"
If try to click on a Backer/Sponsor link I get webpage with  `Internal Server Error` just for your information 👍

[2017-10-27 13:36] xavier-villelegier commented on #678
Are you talking about this link ?
[code]
It's working for me, maybe the `opencollective` website had some troubles. 🤔
Feel free to tell us if it happens again.

[2017-10-27 17:30] machour opened #679 "Issues with styled-components"
This issue seems to affect a lot of the components provided by `react-native-elements`. Here's an example with `<ListItem />`:

If I use styled-components with a `<ListItem/>`, the default container style isn't used anymore.

Here's how the styled component is created:
[code]

Here's the result when using `<StyledListItem>` for my first element in the list:
<img width="357" alt="screen shot 2017-1

[2017-10-27 18:34] DaveCole opened #680 "iOS Lists getting grey bars added to background"

[2017-10-27 18:51] #680 closed

[2017-10-27 23:00] lejoss commented on #331
hi, i'm having the same issue, i'm using expo too. I detached my app, opened it on Android Studio and got the error.

`"expo": "^21.0.0"`
`"react-native-elements": "^0.17.0"`
`"react": "16.0.0-alpha.12"`

[code]

how can i debug the source of the issue?

[2017-10-27 23:34] lejoss commented on #423
im having the same issue, please any update @aekold @filiphosko ?

[2017-10-27 23:53] iRoachie commented on #677
Hey @ZeroSoulEater a fix to the header was made in https://github.com/react-native-training/react-native-elements/commit/588c162d4bca74830aa9fe17eea1b20852e3f0d1. However that new version isn't posted as yet. You can use the `next` branch in your package.json until we release that version

[2017-10-27 23:56] iRoachie commented on #331
Hey all, a fix was made in https://github.com/react-native-training/react-native-elements/pull/666 to fix this problem. However the version hasn't been released as yet. You can use the `next` branch of react-native-elements in the mean time until 0.18 is released.

[2017-10-28 10:21] filiphosko commented on #423
@lejoss @aekold You can check out the progress on this here https://github.com/react-native-training/react-native-elements/issues/331#issuecomment-340123332.

[2017-10-28 14:30] #656 closed

[2017-10-29 20:25] xavier-villelegier commented on #679
Hey @machour, I think you can open a PR to fix that, you solution looks good and simple to avoir overriding the `style` props by mistake (or by using `StyledComponent` like you do) 👍

[2017-10-29 20:36] yordis commented on #519
I would say that if you really want to teach the community then just add those simple lines of code explaining what it does.

I would encourage to  use for a simple fact that is more declarative of your layout and I don't have to be creating `{ wrapper: { flex: 2 }, anotherWrapper: { 1 } }` styles with some `View` and just go with the declarative style using the components (less code, same outcome

[2017-10-30 19:24] xavier-villelegier commented on #620
I just git the issue on the `example` app of RNE and `npm install @expo/vector-icons --save-dev` did the trick for me, a bit late but can be useful for others !

[2017-10-30 19:38] lejoss commented on #331
i was trying the next version on RNE, to avoid the `selectionColor` issue, but i got this instead

![error](https://user-images.githubusercontent.com/11046621/32191663-e0bca276-bd7f-11e7-9245-06aee9a798c8.jpg)

these are my dependencies

`git+https://github.com/react-native-training/react-native-elements.git#next`
[code]

[2017-10-30 20:07] xavier-villelegier commented on #331
@lejoss What if you run `npm install @expo/vector-icons --save-dev` ?

[2017-10-30 20:22] lejoss commented on #331
@xavier-villelegier yes you were right, i missed the module, thanks. FormInput is working now.

<img width="385" alt="screen shot 2017-10-30 at 3 21 08 pm" src="https://user-images.githubusercontent.com/11046621/32193687-10ed1740-bd86-11e7-98f0-0707e7869c69.png">
[code]

[2017-10-31 00:50] Monte9 commented on #638
That's a good example.

Thanks for putting together the snack demo @xavier-villelegier! 👍

[2017-10-31 00:50] #638 closed

[2017-10-31 00:55] Monte9 opened #681 "Snack Demos - RNE components & use cases"
### Examples:
- **Card component:**  https://snack.expo.io/SJ3Sh73sb? https://snack.expo.io/ry1Ie490-
- **Card component with custom styling:** https://snack.expo.io/HkL1CABpb
- **Card, Avatar & Icon component:** https://snack.expo.io/BkxNCrJCW
- **Card with rounded image:** https://snack.expo.io/rJX-kHdIz
- **Cards inside a ScrollView:** https://snack.expo.io/Bkg0-DNwSz
- **Checkbox component:**

[2017-10-31 01:02] Monte9 commented on #640
Thanks for the detailed explanation @xavier-villelegier! 💯

@OrDuan hope this helps.

[2017-10-31 01:02] #640 closed

[2017-10-31 04:29] sw-yx commented on #620
i know i will return to this in the future so this is very handy for my future self, thanks xavier

[2017-10-31 05:01] Monte9 commented on #460
That's really weird @YulianD! Thanks for reporting it.

I suspect it has little to do with RNE, but might be a more broaded (`Debug JS Remotely option` -> function not getting called issue)

[2017-10-31 05:14] Monte9 commented on #550
Thanks for the fix @iRoachie! 💯

[2017-10-31 05:35] Monte9 commented on #545
Thanks for reaching out @AlmogRnD! I have sent you an email.

[2017-10-31 05:39] Monte9 commented on #480
@idws yes, this has been merged into master and is available to use. As @iRoachie described, just pass in `normalizeFontSize={false}` and it should work.

Keep in mind that as of now, this is experimental and has only been supports the `FormInput` component

[2017-10-31 08:07] titkov5 commented on #331
Got the same issue with TextField, but the problem was inside tintColor TextInput of RN (0.49.3) ^ i found my problem in AndroidManifest.xml this is my lines http://prntscr.com/h48lwb

[2017-10-31 09:42] machour commented on #679
Hi @xavier-villelegier, #683 took care of spreading `attributes` before laying out computed props in all components.

[2017-10-31 09:42] DanielDziubecki opened #684 "Can't change color of activity indicator in button element"
Iv'e tried to change Activity Indicator color in button element but it looks like it doesnt work. I am using  react-native-elements@0.17.0 version. Without styling it works well.

https://snack.expo.io/BJqwUTBA-

[2017-10-31 09:56] iRoachie commented on #681
So we’re making snack demos for all the components?

[2017-10-31 10:00] xavier-villelegier commented on #681
I think it's just about centralizing all snacks we do for `Help Wanted` issues

[2017-10-31 10:13] iRoachie commented on #681
May actually be cool if we add in the docs too. Similarly to how react native’s website is with the embed snacks

[2017-10-31 15:50] aloifolia commented on #548
I just stumbled across the same issue. It would be nice of the docs mentioned this "peculiarity" since beginners might not be aware of the fact that you have to

1. keep in mind that the header is positioned absolute and will float above the following content if you forget to add additional margin to the latter,
2. have to add a background color because unlike other libraries like nativebase the h

[2017-10-31 15:52] iRoachie commented on #548
@aloifolia In the next release 0.18. Header will no longer be absolute and require margins or paddings. A default background color seems like something we could add in.

[2017-10-31 15:52] iRoachie opened #685 "Default background color for Header"
References https://github.com/react-native-training/react-native-elements/issues/548#issuecomment-340806802

[2017-10-31 15:53] iRoachie commented on #685
Lol any favorite color @xavier-villelegier ? :D

[2017-10-31 15:58] xavier-villelegier commented on #685
Haha, let's put that in a sober pink 👌😂
`react-navigation` is using `#F7F7F7` for iOS, maybe we could use that too

[2017-10-31 16:07] xavier-villelegier commented on #684
@DanielDziubecki Try to put `color='#16c5cc'` directly in the `Button` props

[2017-10-31 18:20] DanielDziubecki commented on #684
It works. Thanks.

[2017-10-31 18:56] #684 closed

[2017-11-01 02:14] Monte9 commented on #659
@Nickersoft your bring up a good point. And thanks for reporting this issue. We don't extensively test on each device size and so it's entirely possible that it's a bug for sure.

Your solution looks good to me. Would you mind submitting a PR for it?

[2017-11-01 02:20] Monte9 commented on #433
@jpca999 if you are seeing the same error you can either:
- upgrade your API to 23 (as suggested by @filiphosko)
- `remove the borderRadius prop and setting it in the buttonStyle styles.` (as suggested by @MilanThomas

[2017-11-01 11:52] Monte9 commented on #423
@aekold @lejoss please see this comment: https://github.com/react-native-training/react-native-elements/issues/331#issuecomment-340123332

This issue has been fixed and will be released in v0.18 in the next couple days. Stay tuned.

[2017-11-01 12:26] iRoachie opened #686 "Fix warnings on CI"
Fix errors surrounding PropTypes and React.createClass. Probably can be fixed by upgrading the test packages.

[2017-11-01 12:56] iRoachie opened #688 "Getting starting with typescript intro"
Some docs explaining how someone would get started using react native with typescript

[2017-11-01 19:10] Nickersoft commented on #659
@Monte9 [How's this?](https://github.com/react-native-training/react-native-elements/pull/690)

[2017-11-01 19:48] Monte9 commented on #659
That's great! Thanks for the PR! It's been merged into `next` branch

It's part of `v0.18` which will be released today. Stay tuned

[2017-11-01 20:20] xavier-villelegier commented on #678
Closing this as it seems to be working now. Feel free to reopen this if this is still an issue.

[2017-11-01 20:20] #678 closed

[2017-11-02 14:10] PavelPZ commented on #505
What about https://github.com/kentcdodds/rtl-css-js library? It just converts stylesObject to its RTL variant

[2017-11-02 19:12] christianmarth commented on #620
Confim `npm install @expo/vector-icons --save-dev` fixes this issue for me as well...

[2017-11-02 22:26] martinezguillaume commented on #673
The question is where to display it ? Before the left icon ? at the middle ? After the right icon ? Maybe if we specify children, we don't wan't to render anything (icons or text) in the button and just wan't to render the children alone. That can be a behavior... We need to discuss of that

[2017-11-02 22:33] #584 closed

[2017-11-02 22:33] #615 closed

[2017-11-02 22:33] #631 closed

[2017-11-02 22:33] #550 closed

[2017-11-02 22:33] #668 closed

[2017-11-02 22:33] #685 closed

[2017-11-02 22:36] martinezguillaume commented on #663
rightTitle is already wrap in a `Text` styled component. In react-native you can't wrap a `View` in a `Text` but it's true if you wan't to wrap a `Text` in a `Text` component, you can do it in react-native ([docs](https://facebook.github.io/react-native/docs/text.html)). So maybe we can set rightTitle to `PropTypes.node`, need advice on this one.

If you just want to specify width or height (like

[2017-11-02 23:12] ZeroSoulEater commented on #673
I would say in the middle by default and if there is a Icon, Display it right to the left icon and left to the right icon?

[2017-11-03 07:24] malikgenius commented on #606
Great Thanks, should have been added to original example, wasted an hour by trying to add button property into it, sorry i am new to RN. anyways great job elements guys .. you rock.

[2017-11-03 09:50] iRoachie commented on #668
Fixed in v18.0.0

[2017-11-03 09:50] iRoachie commented on #631
Fixed in v18.0.0

[2017-11-03 09:50] iRoachie commented on #622
Fixed in v18.0.0

[2017-11-03 09:51] iRoachie commented on #584
Fixed in v18.0.0

[2017-11-03 09:51] iRoachie commented on #550
Fixed in v18.0.0

[2017-11-03 09:52] iRoachie commented on #685
Implemented in v18.0.0

[2017-11-03 09:53] iRoachie commented on #615
Fixed in v18.0.0

[2017-11-03 09:58] iRoachie commented on #677
Fixed in v18.0.0

[2017-11-03 09:58] #677 closed

[2017-11-03 09:58] iRoachie commented on #670
Fixed in v18.0.0

[2017-11-03 09:58] #670 closed

[2017-11-03 09:59] iRoachie commented on #670
https://github.com/react-native-training/react-native-elements/commit/9676c7cd4346547d7eaba1f1948a171d03fae2f7 we removed it all together

[2017-11-03 10:00] iRoachie commented on #665
Fixed in v18.0.0

[2017-11-03 10:00] #665 closed

[2017-11-03 10:00] iRoachie commented on #659
Fixed in v18.0.0

[2017-11-03 10:00] #659 closed

[2017-11-03 10:00] iRoachie commented on #655
Fixed in v18.0.0

[2017-11-03 10:00] #655 closed

[2017-11-03 10:01] iRoachie commented on #646
Implemented in v18.0.0

[2017-11-03 10:01] #646 closed

[2017-11-03 10:01] iRoachie commented on #636
Fixed in v18.0.0

[2017-11-03 10:01] #636 closed

[2017-11-03 10:02] iRoachie commented on #597
Fixed in v18.0.0

[2017-11-03 10:02] #597 closed

[2017-11-03 10:02] iRoachie commented on #547
Fixed in v18.0.0

[2017-11-03 10:02] #547 closed

[2017-11-03 10:03] iRoachie commented on #355
Implemented in v18.0.0

[2017-11-03 10:03] #355 closed

[2017-11-03 10:03] iRoachie commented on #331
Fixed in v18.0.0

[2017-11-03 10:03] #331 closed

[2017-11-03 10:05] iRoachie commented on #621
Closing this as inactive as there's been no activity for over 30 days. If the example provided didn't work for you on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-11-03 10:05] #621 closed

[2017-11-03 10:05] iRoachie commented on #628
Closing this as inactive as there's been no activity for over 30 days. If the example provided didn't work for you on the latest version of react-native-elements then ping me to reopen or create a new issue.
Thanks.

[2017-11-03 10:05] #628 closed

[2017-11-03 12:14] MackayBravo opened #692 "Why deleted the tabs?"
We have a project on these tabs. We wanted to see the documentation and it's not there

[2017-11-03 12:32] iRoachie commented on #673
Hey! @ZeroSoulEater Have you tried using `loading` prop on the button?

[2017-11-03 12:39] iRoachie commented on #692
We explained our reasons for removing Tabs in the [release notes of v15.0.0](https://github.com/react-native-training/react-native-elements/releases/tag/v0.15.0).

If you still want to use it, the library is [react-native-tab-navigator](https://github.com/happypancake/react-native-tab-navigator). It was simply their package what we were using. You can check their readme for documentation.

[2017-11-03 13:20] abdennour opened #693 "Why did you remove Swipedeck 😡"
# Issue :

Where is this page ?  😠
https://github.com/react-native-training/react-native-elements/blob/master/docs/API/swipedeck.md
And where is this page ? 😡
https://react-native-training.github.io/react-native-elements/API/swipedeck/

# Solution :

https://github.com/Monte9/react-native-tinder-cards

[2017-11-03 17:35] Monte9 commented on #673
@martinezguillaume RNE Button already supports the loading prop on the `v1` branch.
Here's the code for reference: https://github.com/react-native-training/react-native-elements/blob/v1/example/v1/buttons/Button.js#L72

We are working on getting `v1` on `next` branch, so users can start using it. Stay tuned @ZeroSoulEater

[2017-11-03 17:50] Monte9 commented on #692
@MackayBravo really sorry about that. I know it's really frustrating when something as core as tabs is removed from a UI library. Although to be fair, as @iRoachie explained, we announced that we were going to deprecate it back in **RNE v0.15.0**. And we finally decided to remove it for **v0.18** as we are preparing for a bigger and better **v1.0 release**.

For what it's worth, RNE tabs was basic

[2017-11-03 17:59] Monte9 commented on #693
@abdennour sorry about that. Yes, we decided that it would be better for a component like Swipedeck (which is very modular) to live in its own repo. This makes maintaining and developing the component easier.

You are right, the `react-native-tinder-cards` repo is the right library to follow if you are looking to use Swipedeck component in the future. Please feel free to report an issue or submit

[2017-11-03 17:59] #693 closed

[2017-11-03 18:15] Monte9 commented on #645
Thanks for putting together the snack @xavier-villelegier! It's great that you can just embed it into the header in `react-navigation`.
Hope this helps you @agent3bood.

I have already added your snack demo [here](https://github.com/react-native-training/react-native-elements/issues/681#issue-269800636). In the future, let's try to update that list as you create more snack demos for issues. thanks

[2017-11-03 18:15] #645 closed

[2017-11-03 18:16] #667 closed

[2017-11-03 18:21] Monte9 commented on #681
Yes, as @xavier-villelegier mentioned, the idea is to compile all the snack demos in one place for reference. So that
1. Users can use it as a reference on how to use a specific component
2. We don't have to keep recreating the same snack demos and can share the link if it's similar.

@iRoachie that's a great idea. Yes, I am all for it. Any good docs on how we can get started with embedding snack

[2017-11-04 05:57] agent3bood commented on #645
Thanks all for the effort to help.
What I wanted is to put the search bar in the header title, so the header will have its right and left components(back button and menu button).

[2017-11-04 08:38] Monte9 commented on #679
@machour just published `v0.18.1`. Please give it a shot and report back if you run into any other issues. ✌️ hope this helps.

[2017-11-04 08:54] xavier-villelegier commented on #645
@agent3bood it is just a matter of styling then. Check [this demo](https://snack.expo.io/S1QfebsCZ).

[2017-11-04 12:06] phillip055 opened #696 "Improve Form Input Components"
### Description

1. Explain what you did
Try to make text input only for numeric
2. What you expected to happen
Some easy way to set that
3. What actually happens
have to have numeric keyboard and also set on change

### Solution

Maybe accept another prop to see type?

[2017-11-04 18:30] machour opened #698 "Wrong prop used in Button?"
While trying to understand where did this white background came from on Android after upgrading to RNE 0.18.1 (from 0.17.0):

  <img width="183" alt="screen shot 2017-11-04 at 7 27 30 pm" src="https://user-images.githubusercontent.com/304450/32408307-3b6f317e-c196-11e7-9a3f-e212fbab58c6.png">

I'm noticing something weird in `<Button />` code:

https://github.com/react-native-training/react-native

[2017-11-04 18:38] iRoachie commented on #698
Could you paste the you used to produce the example button above?

[2017-11-04 18:42] machour commented on #698
It's this component: https://github.com/gitpoint/git-point/blob/master/src/components/button.component.js

It is probably outdated and need some catching up with last RNE version. I was really just wondering about the `background` prop in `Button.js`

[2017-11-04 20:39] xavier-villelegier commented on #698
@machour The [`background` props](https://facebook.github.io/react-native/docs/touchablenativefeedback.html#background) is used only on the `TouchableNativeFeedback`. We made it conditional because the ripple effect had some issues on android < 21. (See https://github.com/react-native-training/react-native-elements/issues/597).
Do you have this issue on iOS/Android/both ?

[2017-11-05 12:28] xavier-villelegier commented on #696
@phillip055 All the props passed to the RNE `FormInput` are passed to the `TextInput` input of RN. This means you case use the [`keyboardType` props](https://facebook.github.io/react-native/docs/textinput.html#keyboardtype), and set it to `numeric`, which works on both iOS and Android.

[2017-11-05 12:29] xavier-villelegier commented on #679
Fixed in `v0.18.1`.

[2017-11-05 12:29] #679 closed

[2017-11-05 12:31] machour commented on #679
@Monte9 so far so good on GitPoint. Thank you all for this quick handling, such quick, much love ❤️

[2017-11-05 18:47] Monte9 commented on #679
RNE x GitPoint = 💯
That's great! Happy to help! 😄

[2017-11-06 02:13] AudyOdi commented on #441
Hey @Monte9, I would like to try fixing this issue. After digging through `header` source code, I realize that `innerContainer` uses `justifyContent: 'space-between'` to make the title at the center of the header. One way I can think of to make the title align to the left is we can add a container (`View`) that wrap the `Text` component (at `header/Title.js`) and use `flex: 1, alignItems: 'flex-st

[2017-11-06 03:08] Monte9 commented on #441
Great @AudyOdi! Yeah, that makes sense to me.

Yeah, that would def be an improvement to Header component. 👍

[2017-11-06 03:20] AudyOdi commented on #441
@Monte9 Awesome! I will make the PR soon! 👍

[2017-11-06 07:10] ogelacinyc commented on #663
@martinezguillaume thank you for your explanation. but I need two title like title and subtitle.
my example wasn't appropriated.

[2017-11-06 08:56] denisdimitrov opened #701 "Header doesn't render properly on screen rotation"
Since update 0.18.0 the header doesn't render properly on rotation from portrait to landscape and vice versa. This was working fine on 0.17.0.

### 0.17.0
- - -
**Portrait**

![screenshot_1509957908](https://user-images.githubusercontent.com/18435853/32432540-aa328d0e-c2e0-11e7-8744-5f6b82a43e67.png)

**Landscape**

![screenshot_1509957912](https://user-images.githubusercontent.com/18435853/324325

[2017-11-06 08:57] phillip055 commented on #696
it doesnt really strict user can still change keyboard? any suggestions to strictly have a type?

[2017-11-06 09:55] iRoachie commented on #701
Definitely isn’t suppose to be doing that. Do you mind sending a PR?

[2017-11-06 09:59] denisdimitrov commented on #701
Sure, asap.

[2017-11-06 10:01] webraptor opened #702 "underlayColor cannot be configured"
### Description
Upgraded to latest version "react-native-elements": "0.18.2"

### Expected to happen
underlayColor of socialIcons would be set to value passed by underlayColor attribute

### Actually happens
_underlayColor_ of socialIoncs is either _white_ if _light_: _true_ or set by colors[type] hardcoded value.

### Solution

Instead of `underlayColor={light ? 'white' : colors[type]}` and remov

[2017-11-06 12:52] NiteshGarg2107 opened #704 "'react-native-elements' not working"
I just install the  'react-native-elements "^0.18.2"' in my project.when I import any components in my class it show me error: -----/react-native-elements/src/helpers/getIconType.js: module doesn't exist.

[2017-11-06 15:30] gino8080 commented on #487
Solved using [React Native debugger](https://github.com/jhen0409/react-native-debugger) instead of plain Chrome window

[2017-11-07 14:16] NunoCardoso commented on #704
I have this problem constantly. For some reason, it fails on importing FeatherIcon.
I go to node_modules/react-native-elements/src/helpers and I remove any mention of FeatherIcon, and then it works.

[2017-11-07 14:28] AudyOdi commented on #441
@Monte9 I manage to update the `Header` and `Title` component, also update the tests, but I got stuck in error `Invariant Violation: __fbBatchedBridgeConfig is not set, cannot invoke native modules` when trying to run the tests (This is applied to all tests). I think this is caused by importing `NativeModule` which is unavailable in jest. But, after I looked at it, it referred to `URL.js` from `ex

[2017-11-07 19:57] iRoachie commented on #704
Can you try running `npm i --save @expo/vector-icons`?

[2017-11-08 00:19] michelmarcondes commented on #704
To solve this, I must run `npm i --save react-native-vector-icons@4.4.2`.
My App was using react-native-vector-icons@4.3.0 and elements using @4.4.2

[2017-11-08 08:00] amitbravo opened #705 "How to add string and value of a variable together into title"
### Description
I am expecting to get value of this.state.total_absent printed but its printing as its and taking whole as a string.

react-native-elements : 0.18.1

### Reproduction Steps and Sample Code
`<ListItem key="total_absent" title="Total Absent `${this.state.total_absent}`" containerStyle={{ marginLeft: 5, marginRight: 5, marginBottom: 4, borderBottomWidth: 1, borderColor: '#F8F8F8' }} /

[2017-11-08 08:11] amitbravo commented on #705
`<ListItem key="total_absent" title={"Total Absent "+ this.state.data.total_absent } containerStyle={{ marginLeft: 5, marginRight: 5, marginBottom: 4, borderBottomWidth: 1, borderColor: '#F8F8F8' }} />`

[2017-11-08 08:11] #705 closed

[2017-11-08 08:48] kay-es commented on #704
got the same problem with expo 22.0.0

[2017-11-08 09:05] pulpdood commented on #704
Same problem with expo 21.0.0

[2017-11-08 11:24] xavier-villelegier commented on #702
@webraptor That was fixed on the `next` branch and the doc was updated.

[2017-11-08 19:32] bexsoft commented on #704
Looks like running  `npm i --save @expo/vector-icons` solves the issue. Tried with expo 22.0.0 & react-native-elements 0.18.2

[2017-11-09 09:55] NiteshGarg2107 opened #706 "I used react-native elements"
### Description

1. Explain what you did
2. What you expected to happen
3. What actually happens

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We highly recommend that you try to reproduce your bug on https://snack.expo.io/ and provide a link.

If you can't reproduce the bug on Snack, provide an example of your code and bri

[2017-11-09 09:59] NiteshGarg2107 opened #707 "Make Header icon clickable."
I used react-native element Header:
I want left and right component clickable.Is there any prop which give me the event when I touch or tap left and right component.
<Header
 leftComponent={{icon: 'menu', color: '#fff',style: {color: ''}}}
 centerComponent={{ text: this.props.title, style: { color: '#fff' } }}
 rightComponent={{ icon: 'home', color: '#fff' }}
/>

[2017-11-09 10:01] #706 closed

[2017-11-09 14:01] xavier-villelegier commented on #696
@phillip055 Mmmh on iOS you can't use another keyboard
![image](https://user-images.githubusercontent.com/17592779/32609007-6fec10ea-c55e-11e7-9f20-905388e0188f.png)

If you really want to control what the user is typing you should add some logic in the `onChangeText` callback to check what the user typed. I think there is no other way to restrict the keyboard with react-native than through the `k

[2017-11-09 17:30] Monte9 commented on #706
Thanks for using RNE @NiteshGarg2107 🙏

[2017-11-09 17:32] Gregor1971 commented on #110
I'm going to take a shot at this.  If anyone else is also, let's team up.

After very brief testing, it looks promising.

The warnings that @remon-georgy reports above can be easily avoided with minimal changes RNE.  It's just a matter of being careful to only pass props that are needed by children.  Vanilla react-native is tolerant to this, but RNW passes them along to the dom (by design).

I esp

[2017-11-09 17:40] Monte9 commented on #110
That's great @Gregor1971! Appreciate you taking the lead on this. Please share your learnings as well as propose the changes you need on the RNE side to make it web compatible.

Also, from your initial findings how much effort would it be to get RNE to something like a 1.0 for web? Maybe a time frame for the PR depending on your availability might help too.

@iRoachie @xavier-villelegier are RNE c

[2017-11-10 05:00] callagga opened #708 "tabBar?"
does react-native-elements have a tabBar?    If yes wondering where the doco for this is?

If no, any tips before closing this appreciated  (looking for a cross platform/universal react-native tabbar)

[2017-11-10 08:11] xavier-villelegier commented on #708
Hey  @callagga! RNE had TabBars but they were removed in the `0.18.0`, you can see the reasons why [here](https://github.com/react-native-training/react-native-elements/issues/692#issuecomment-341778975).
As @Monte9 said in this issue, if you just want TabBars without any navigation around you can use `react-native-tab-navigator`, the one RNE was using too. If you want a full navigation solution,

[2017-11-10 17:49] Gregor1971 commented on #110
After a little more investigation, I'm optimistic that I can have a PR by the end of next week.

I'm tracking progress in my fork, under the "react-native-web" branch:  [rnw-progress.md](https://github.com/Gregor1971/react-native-elements/blob/react-native-web/docs/rnw-progress.md)

I've added [React Styleguidist](https://react-styleguidist.js.org/) to help development and provide examples.  RNE's

[2017-11-10 19:19] xavier-villelegier commented on #707
@NiteshGarg2107 There are two ways of doing that.

### Using an object

[code]
### Using a component

[2017-11-11 06:03] cheema38 opened #709 "Tile component issues with latest react 0.50.0"
### Description

1. Explain what you did
2. What you expected to happen
3. What actually happens

Also please include the version of `react-native-elements` that you are using.

### Reproduction Steps and Sample Code

We highly recommend that you try to reproduce your bug on https://snack.expo.io/ and provide a link.

If you can't reproduce the bug on Snack, provide an example of your code and bri

[2017-11-11 06:05] cheema38 commented on #709
[
<img width="242" alt="screen shot 2017-11-10 at 10 04 37 pm" [](src="https://user-images.githubusercontent.com/739773/32686856-3e118216-c663-11e7-970b-14605f10f738.png">)
](url)

[2017-11-11 06:07] cheema38 commented on #709
Error: The <Image> component cannot contain children. If you want to render content on top of the image, consider using aboslute positioning.

This error is located at:
    in Image (at FeaturedTile.js:86)
    in RCTView (at View.js:113)
    in View (at createAnimatedComponent.js:134)
    in AnimatedComponent (at TouchableOpacity.js:239)
    in TouchableOpacity (at FeaturedTile.js:82)
    in Featu

[2017-11-11 12:01] iRoachie commented on #709
Good catch. I simple PR replacing Image with ImageBackground will fix this.

[2017-11-11 12:02] #696 closed

[2017-11-12 01:48] arctushar opened #710 "icon not showing"
Icon not showing, no error showing, icon installation done.

`import { List, ListItem, SearchBar, Button,Avatar,Icon,SocialIcon} from "react-native-elements";`

	<SocialIcon
  title='Some Twitter Message'
  button
  type='twitter'
/>

Also in node_modules\react-native-vector-icons\Fonts I have FontAwesome and other fonts
Also Android module react-native-vector-icons is already linked

![emulator](

[2017-11-12 01:50] arctushar commented on #652
Android module react-native-vector-icons is already linked

but still not showing

[2017-11-12 18:38] iRoachie commented on #710
Hey @arctushar this is usually a linking issue. Are you in a `react-native init` or `create-react-native-app` project?

[2017-11-13 00:41] arctushar commented on #710
react-native init

[2017-11-13 04:30] LinhLK commented on #709
hi guy, please tell me about fix this issues, thank you!

[2017-11-13 09:28] mobiusnz opened #712 "Can't animate Slider thumbStyle"
### Description

1. _Explain what you did:_ **Pass an animated style to `thumbStyle`**
2. _What you expected to happen:_ **The thumb button should animate**
3. _What actually happens:_ **The thumb button does not animate**

Also please include the version of `react-native-elements` that you are using.
`    "react-native-elements": "^0.18.2",
`
### Reproduction Steps and Sample Code

https://snack.

[2017-11-13 23:15] OmarMahili commented on #710
As @iRoachie said it's probably a linking issue. Try this command in your project root directory:

[2017-11-14 01:06] chefarchitekt commented on #709
I got the same issue. Here is my code:

Wallpaper.js
-------------

`import React, { Component } from 'react';
import { View, Image } from 'react-native';

import wallImg from '../../images/psWallpaper.jpg';
import { mobileMetrics } from '../../../views/config';

const IMAGE_WIDTH = mobileMetrics.DEVICE_WIDTH;
const IMAGE_HEIGHT = mobileMetrics.DEVICE_HEIGHT;

class Wallpaper extends Component {

[2017-11-14 01:10] chefarchitekt commented on #709
This happened after I updated to the latest react-native. Here are my dependencies:

[code]

[2017-11-14 01:22] Ayc0 commented on #38
Is there any progress ?

[2017-11-14 17:39] xavier-villelegier commented on #712
@mobiusnz Yep good catch 👍
The problem is that the transform you pass is overridden [here](https://github.com/react-native-training/react-native-elements/blob/master/src/slider/Slider.js#L404)
This should be fixed in the next release, but feel free to submit a PR!

[2017-11-15 19:11] omidfi commented on #622
I'm having a similar issue, at least by its looks :)
Great project by the way, thanks a a lot :)
[code]

With this:

[code]
Using version 0.18.2

[2017-11-16 03:17] boza commented on #707
@xavier-villelegier tried this and is not really working for some reason.

[2017-11-16 08:39] xavier-villelegier commented on #707
@boza Can you please be more specific?
You can see that [this example](https://snack.expo.io/Bk3s0ackz) is working

[2017-11-16 13:38] jaschaio opened #713 "Select multiple when using ButtonGroup"
It seems that when I use the `ButtonGroup` component I can always only select one of the buttons.

Wouldn't a boolean property like `selectMultiple` make sense for cases where I don't want only a simple switch?

[2017-11-16 13:41] ashtiani commented on #713
check this out #59

[2017-11-16 14:16] jaschaio commented on #713
Thanks for that, I am using it now. Should I do another PR? Not really sure why the other one got closed.

[2017-11-17 10:40] iRoachie commented on #713
Feel free to submit a PR! The last one was closed because the contributor went MIA.

[2017-11-17 13:42] fossecode commented on #709
https://github.com/facebook/react-native/releases/tag/v0.50.0

[2017-11-17 15:55] gregbenner opened #714 "type prop not adhered to in <Icon />"
### type prop not adhered to in <Icon />

1. Added ` name="question" type="simple-line-icons"`
2. A nice little question mark icon in a simple line icon style
3.  It only looks for MaterialIcons (the default) this can be deducted by seeing what value it does accept within the name prop
[code]

Also please include the version of `react-native-elements` that you are using.
0.45

### Reproduction Ste

[2017-11-18 12:59] iRoachie commented on #714
It works fine in the example snack you provided. What are you seeing differently?

[2017-11-18 22:23] lucneesby commented on #709
Replacing the Image component with BackgroundImage fixed my issues with this error

[2017-11-19 00:55] callagga opened #715 "support for toolbar with icons/buttons?"
Info Request

Would react-native-elements provide support for having a footer section at the bottom a particular screen, where you can then place buttons (similar to the appearance of buttons/icons in tabs)?  Any tips on which components within react-native-elements would be appreciated.

Background - So basically similar to an IOS/XCode project where you can drag a "Toolbar" at the bottom of a sc

[2017-11-19 01:09] iRoachie commented on #715
Sounds like you're looking for a tab navigator. We don't have that component as itself cause it'd be pretty hard to maintain a navigation library. However you can check out the recommend navigation library for react-native which includes **tabs**, stack, and drawers. https://reactnavigation.org/docs/navigators/tab

Also check out their expo app so you can preview what it looks like on your screen.

[2017-11-19 01:17] callagga commented on #715
ok - perhaps using a tab-navigator for that particular screen, but preventing it from operating as tabs, and intercepting... I'll check it out

[2017-11-19 05:41] jenessawhite commented on #709
@iRoachie I'd like to help with this PR, if the master is on RN `^0.41.2` but the breaking change for this happens on RN `0.50` how should I go about submitting a PR?

[2017-11-19 05:57] iRoachie commented on #709
That's great @jenessawhite You can use the fallback pattern we used for `ViewPropTypes`, https://github.com/react-native-training/react-native-elements/blob/master/src/config/ViewPropTypes.js

[2017-11-20 08:38] Gregor1971 commented on #110
quick update:

Still a few days away from a PR... testing for web needs a slightly different setup than what's already there.
All original tests are passing except for one.

[2017-11-20 11:21] reznik789 commented on #709
Now everything okay with Tile, but FeaturedTile have this issue

[2017-11-20 14:02] mikebski opened #717 "TouchableOpacity not showing up on button"
### Description

1. Explain what you did

I created a Button that I want to put an icon on:

[code]

2. What you expected to happen

I expected the icon to show up on the image.  The image is valid, as shown by the `Avatar` and `Image` and `TouchableOpacity` that all show up properly

3. What actually happens

I see this:

![image](https://user-images.githubusercontent.com/4280588/33021847-3994b3a

[2017-11-20 15:13] xavier-villelegier commented on #717
@mikebski There is an `onPress` props on the Avatar, you can do the following:
[code]

Here is a [snack example](https://snack.expo.io/H1UbbOegG).

[2017-11-20 15:34] mikebski commented on #717
That does work, however, I'd like an icon button like this:

![image](https://user-images.githubusercontent.com/4280588/33026413-5d7f0024-cdde-11e7-81c3-0fb0b34e308b.png)

Seems like I should be able to do that with a simple svg or png...

[2017-11-20 15:56] xavier-villelegier commented on #717
@mikebski Oh okay, I think you should be able to do that then:

[code]

Have a look at [this example](https://snack.expo.io/rk10cOexM)

[2017-11-20 16:04] mikebski commented on #717
That's it, I was trying to provide an instance to the IconComponent rather than a class.  Duh.

[2017-11-20 16:04] #717 closed

[2017-11-20 17:21] benoist opened #718 "ListItem horizontal alignment"
I noticed horizontal alignment was incorrect

![http://prntscr.com/hcyaq9](https://image.prntscr.com/image/AD9FXTjnSkaVDY1jLYIE_w.png)

After applying `wrapperStyle={{ alignItems: 'center' }}` on the listitem it was fixed.
Is this something that needs to be added to the default styles?

[code]

Version used: "react-native-elements": "^0.18.2"

[2017-11-20 21:26] pavloko opened #719 "How to setup livesync for local development?"
I was wondering how do main contributors to this library develop locally?

I searched documentation and couldn't find a clear way how to setup a development workflow.

What I'd like to have:
1. I run an example app in examples folder.
2. I make changes to the code in src, for example Button component.
3. I get the changes synced in the emulator.

What I've tried/have in mind:
1. `npm link, npm lin

[2017-11-21 05:14] iRoachie commented on #719
We haven't got a definitive method on this one yet. Currently right now just editing in node_modules, checking if worked then copy to cloned repo. Looking at using [Haul](https://github.com/callstack/haul) in the future since it supports symlinks. Definitely open to any feedback/ideas

[2017-11-21 05:15] #715 closed

[2017-11-21 08:58] ishaqashraf commented on #709
use <ImageBackground> property with content .
eg.
[code]

[2017-11-21 14:03] thinkbed commented on #503
I fix this problem by running "reac-native link" command follow the instruction of https://www.npmjs.com/package/react-native-vector-icons.

[2017-11-21 15:17] AlexisJamin opened #720 "JSON value of type NSMutableDictionary cannot be converted to a valid URL (ListItem Avatar)"
Hello everyone,

I'm using ListItem and FlatList to render a list of users in my app.

Here is my code :
![capture d ecran 2017-11-21 a 16 04 58](https://user-images.githubusercontent.com/28752161/33079464-efc30032-ced5-11e7-9030-d3cd1d1fe05a.png)

Here is item.picture I'm using in the avatar prop :
![capture d ecran 2017-11-21 a 16 07 41](https://user-images.githubusercontent.com/28752161/3307961

[2017-11-21 15:46] gregbenner commented on #714
It's just the default '?' the same if no icon is found?

[2017-11-21 15:47] iRoachie commented on #714
No, the 'question' icon from 'simple-line-icons' is actually a question mark. See here http://simplelineicons.com

[2017-11-21 15:57] gregbenner commented on #714
Ok, I understand that it's a different one. Here's a better example to illustrate the bug
'user-female'
https://snack.expo.io/H1Ii3aZlG

[2017-11-21 15:57] gregbenner commented on #714
It remains the '?'

[2017-11-21 16:03] iRoachie commented on #714
Ah okay found out what's wrong. The type needs to be `simple-line-icon` instead of `simple-line-icons`

[2017-11-21 16:07] gregbenner commented on #714
Yes thank you!

[2017-11-21 16:07] #714 closed

[2017-11-21 17:26] pavloko commented on #719
Hi, @iRoachie! Thanks for the reply.

Yea, I've been looking into this and [Haul](https://github.com/callstack/haul) seems to be an option. I have a working example setup locally. There is another option which is using [Storybook](https://github.com/storybooks/storybook) as it's a bit more flexible and allows you to zoom in on specific component. For example, if the component you're developing is

[2017-11-21 20:46] piu130 opened #721 "Header width on landscape"
### Description

1. Explain what you did

I tried `<Header />`-component in landscape.

2. What you expected to happen

Header width should go over whole screen.

3. What actually happens

Header width does not change.

### Solution

[This](https://github.com/react-native-training/react-native-elements/blob/master/src/header/Header.js#L99) line should be `width: '100%`. Works also with `rightCompo

[2017-11-22 08:32] xavier-villelegier commented on #720
@AlexisJamin As you can see [here](https://facebook.github.io/react-native/docs/image.html) the `uri` has to be an URL. Here you're passing `{ uri: item.picture }` and picture is an object, so you have this error telling you that it can not convert your object into a valid URL.

Using `picture.url` as the `uri` should do the job
[code]

[2017-11-22 08:35] xavier-villelegier commented on #721
Hey @piu130, there is a PR on the road (https://github.com/react-native-training/react-native-elements/pull/703) about that. It should be merged before the next release 👍

[2017-11-22 10:39] kubido opened #722 "<FlatList/> support for <List/>"
is there any reason why it's not support FlatList yet ?

[2017-11-22 10:44] xavier-villelegier commented on #722
@kubido The `List` component is just a wrapper with some styling around the children. Actually, you can use it with everything you want, not just a list. So yes, you can use it with a `FlatList` doing the following:
[code]

[2017-11-22 14:10] xavier-villelegier commented on #721
@piu130 I'll let that open until the fix has been merged and released, to avoid others opening new issues about the same thing

[2017-11-22 15:26] AlexisJamin commented on #720
thanks @xavier-villelegier for your reply !

I've tried it already, but I got :

<img width="375" alt="image-1-1" src="https://user-images.githubusercontent.com/28752161/33135028-978fc450-cfa1-11e7-8ca9-b7d7b40a69dd.png">

I also tried image.picture.url() as it is suggested in Parse Server docs, I get :

<img width="375" alt="image-1" src="https://user-images.githubusercontent.com/28752161/3313507

[2017-11-22 15:49] xavier-villelegier commented on #720
@AlexisJamin What if you do:

[code]

If you still have `undefined is not an object`, does your picture come from an API call? If so try to do `avatar={{ uri: image.picture && image.picture.url }}`

[2017-11-22 15:57] AlexisJamin commented on #720
Thanks so much @xavier-villelegier !

avatar={{ uri: image.picture && image.picture.url }} worked !

PS : I added you on LinkedIn since you're also from Paris ! :)

[2017-11-22 15:57] #720 closed

[2017-11-22 16:26] josephclawrence opened #723 "Featured Tile error - <Image> cannot have children"
When I try to use a featured tile, I receive the following error (in my iOS simulator):

The <Image> component cannot contain children. If you want to render content on top of the image, consider using absolute positioning.

The issue is of course in FeaturedTile.js.

Is this a versioning issue, or something to be fixed? Are there any workarounds for now?

Thank you

[2017-11-23 10:56] #701 closed

[2017-11-23 12:39] fabriciovergal commented on #649
The onLongPress is being triggered instead of onPress.
For a quick fix just add the same method in the onLongPress prop.

https://github.com/facebook/react-native/issues/4944

[2017-11-23 16:35] mgscreativa opened #725 "Expo demo app needs update"
Hi! Trying the expo demo app, I'm getting

I'm using Expo client v2.1.3

[2017-11-23 16:37] mgscreativa commented on #725
Sorry, I haven't seen the app repo...

[2017-11-23 16:37] #725 closed

[2017-11-23 16:45] xavier-villelegier commented on #725
@Monte9 Could you run `exp publish` on the `master` branch? If this doesn't solve the issue then we'll need to update the demo app to Expo SDK 23 since they introduce release channels in the v23.

[2017-11-23 16:47] mgscreativa commented on #725
Hi! @xavier-villelegier maybe you should post your suggestion here https://github.com/react-native-training/react-native-elements-app/issues/3

[2017-11-24 00:28] deden opened #727 "The official Expo demo app doesn't work in the latest iOS Expo (v2.1.3)"
### The official Expo demo app doesn't work in the latest iOS Expo (v2.1.3)
Expo link : `exp://exp.host/@monte9/react-native-elements-app`
or https://expo.io/@monte9/react-native-elements-app

1. Explain what you did
Open official demo inside Expo client on iOS 10.

2. What you expected to happen
a working demo app.

3. What actually happens

Error page with message :
There was a problem loading t

[2017-11-24 03:15] pacozaa commented on #709
Guys, I can't use `resizeMode` with ImageBackground.

Any solution?

Best,

[2017-11-24 03:36] pacozaa commented on #709
Okay, I set it as props but`ImageBackground ` doesn't work like `Image`

[2017-11-24 04:40] stephan-nordnes-eriksen commented on #727
I seem to have a similar issue on Android: `Uncaught error: Could not load exp://...`

[2017-11-24 16:18] xavier-villelegier commented on #723
@josephclawrence Fixed in the `v0.18.3`, feel free to reopen this issue if you still have the issue 👌

[2017-11-24 16:18] #723 closed

[2017-11-24 16:19] xavier-villelegier commented on #721
@piu130 Fixed in `v0.18.3`

[2017-11-24 16:19] #721 closed

[2017-11-24 16:20] xavier-villelegier commented on #709
Fixed in `v0.18.3`

[2017-11-24 16:20] #709 closed

[2017-11-24 16:20] xavier-villelegier commented on #702
@webraptor `v0.18.3` was released with this fix 👍

[2017-11-24 16:20] #702 closed

[2017-11-24 16:44] xavier-villelegier commented on #727
Hey guys this has been fixed, the example app is back on expo 🔥

[2017-11-24 16:44] #727 closed

[2017-11-24 16:45] xavier-villelegier commented on #725
@mgscreativa Fixed 👍

[2017-11-24 16:52] kwes01 commented on #503
i have this error

![imagen](https://user-images.githubusercontent.com/17342168/33218981-1c7450bc-d0fd-11e7-968e-cf6d7c4dec22.png)

[2017-11-24 16:52] xavier-villelegier commented on #503
@kwes01 This was quickly fixed in the `v0.18.4`, please update your RNE

[2017-11-25 01:57] fengyun2 opened #731 "How to set the `borderBottomColor` of `ListItem`"
I want to set the borderBottomColor of the ListItem, but check out the API and did not tell me.

"react-native-elements": "^0.18.2",

![image](https://user-images.githubusercontent.com/8147202/33226350-c70bdbde-d1c6-11e7-9d16-ee1ae8fac5e7.png)

**code:**

[code]

[2017-11-25 06:25] fengyun2 opened #732 "`Tile` error?"
"react-native-elements": "^0.18.2",

**error:**

![image](https://user-images.githubusercontent.com/8147202/33228013-0b71205c-d1ec-11e7-8eb5-0c1ba34d0839.png)

**code:**

[code]

[2017-11-25 18:46] QuantumInformation commented on #688
Any news on this? In a more general sense can ts be used in vanilla react native?

[2017-11-25 19:48] iRoachie commented on #688
I actually forgot to write this section. Here's a start from Microsoft to get you started https://github.com/Microsoft/TypeScript-React-Native-Starter

[2017-11-26 05:12] binora commented on #503
Hi, I use expo and have preloaded the fonts as per documentation but i still get this error :
![screen shot 2017-11-26 at 1 09 35 pm](https://user-images.githubusercontent.com/6769982/33237323-36c4aa5c-d2ab-11e7-9d73-315b863aac5f.png)

versions :
"react-native-elements": "^0.18.4"
"expo": "^23.0.0"

It works on Android but not on IOS. Please help

[2017-11-26 18:28] mikebski opened #735 "LIstItem component TouchableHighlight onPress not working"
Also posted here, but there is no SO tag for react-native-elements:

https://stackoverflow.com/questions/47491988/react-native-listitem-component-touchablehighlight-onpress-not-working

I have the following React Native ListItem and the onPress is not logging to the console:

[code]

Everything else works fine, list looks good, etc...  I have tried without the component definition, making the righ